Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

checkpoint: refresh current-task.md post-merge + dev-deploy (R3 fully landed)
  projects/spaarke-platform-foundations-r3/current-task.md
Owners: @spaarke-dev

checkpoint: R4-110 complete + worktree current with master
  projects/smart-todo-r4/current-task.md
Owners: @spaarke-dev

fix(daily-briefing): bug #10 — template context navigates JsonElement (was empty render)
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/ConditionNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/CreateNotificationNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/CreateTaskNodeExecutor.cs
Owners: @spaarke-dev

fix(daily-briefing): bug #10 — template context navigates JsonElement (was empty render) (#450)
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/ConditionNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/CreateNotificationNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/CreateTaskNodeExecutor.cs
Owners: @spaarke-dev

checkpoint(chat-routing-redesign-r1): context-handoff before /compact — Phase 5+7 revised scope locked in
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(5R): Phase 5+7 revised scope — FR-46..FR-59
  projects/spaarke-ai-platform-chat-routing-redesign-r1/spec.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(5R): author 12 Phase 5R POML task files
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/110a-library-modal-tolowercase-bug-fix.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/111R-hybrid-intent-extraction.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/113R-confidence-topn-selector.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/114R-deliver-composite-nodetype.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/114a-per-section-sse-streaming.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/114b-structuredoutputstreamwidget-rework.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/114c-adr-multinode-composition.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/117a-playbook-options-sse-event.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/117b-fe-link-buttons-and-library-link.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/118R-migrate-summarize-doc-workspace-to-multinode.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/118a-session-continuity-test.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/118b-workspace-output-to-memory-roundtrip.poml
Owners: @spaarke-dev

checkpoint(chat-routing-redesign-r1): W0 complete — Phase 5R spec + 12 POMLs
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(1R): sprk_playbookconsumer routing table — FR-1R-01..08
  projects/spaarke-ai-platform-chat-routing-redesign-r1/spec.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(1R): author 6 Phase 1R POML task files + checkpoint
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/028-verify-sprk-playbookconsumer-table-created.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/028a-iconsumerroutingservice-impl.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/028b-seed-playbookconsumers-script.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/028c-migrate-pattern-a-consumers.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/028d-migrate-pattern-b-consumers.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/028e-envvar-deprecation-telemetry-and-exit-gate.poml
Owners: @spaarke-dev

chore(chat-routing-redesign-r1)(W1): BFF publish-size baseline 46.28 MB
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/W1-baseline-2026-06-24-bff-publish-size.md
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(1R)(028): table verification gate GO
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/028-table-verification-evidence.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/spec.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/028-verify-sprk-playbookconsumer-table-created.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(1R)(028a): IConsumerRoutingService impl + tests
  projects/spaarke-ai-platform-chat-routing-redesign-r1/architecture/playbookconsumer-matchconditions.schema.json
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/028a-bff-publish-delta.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/RoutingModule.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/ConsumerRoutingService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/IConsumerRoutingService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PublicContracts/ConsumerRoutingServiceTests.cs
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(1R)(028b): seed 6 playbook consumer routing records
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/028b-seed-verification-evidence.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  scripts/README.md
  scripts/dataverse/Seed-PlaybookConsumers.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

chore(chat-routing-redesign-r1)(1R): code-review S-5 + S-4 hardening
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/028a-iconsumerroutingservice-impl.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/028c-migrate-pattern-a-consumers.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/028d-migrate-pattern-b-consumers.poml
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/ConsumerTypes.cs
Owners: @spaarke-dev

docs(daily-update-service-r3): initialize new project — design.md + spec.md
  projects/spaarke-daily-update-service-r3/design.md
  projects/spaarke-daily-update-service-r3/spec.md
Owners: @spaarke-dev

docs(daily-briefing-r3): initial design + spec — read-state decoupling + TTL hardening
  projects/spaarke-daily-update-service-r3/design.md
  projects/spaarke-daily-update-service-r3/spec.md
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(1-M): wave 1-M task 028c — 4 Pattern A consumers migrated to IConsumerRoutingService
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/028c-bff-publish-delta.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/028c-migrate-pattern-a-consumers.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Workspace/WorkspaceFileEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/MatterPreFillService.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/ProjectPreFillService.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/WorkspaceAiService.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Workspace/WorkspaceFileEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/EmailAnalysisIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Workspace/MatterPreFillServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Workspace/ProjectPreFillServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Workspace/WorkspaceAiServiceTests.cs
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(1-M): wave 1-M task 028d — 2 Pattern B consumers migrated to IConsumerRoutingService
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/028d-bff-publish-delta.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/AppOnlyAnalysisService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionSummarizeOrchestrator.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/SummarizeSessionEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AppOnlyAnalysisServiceResolveTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SessionSummarizeOrchestratorTests.cs
Owners: @spaarke-dev

fix(smart-todo-r4): R4-113 — delete sprk_todo_dirty_check.js (no shims rule)
  projects/smart-todo-r4/notes/c-dirty-check-bind-instructions.md
  src/client/shared/Spaarke.UI.Components/src/components/RecordNavigationModalShell/README.md
  src/client/shared/Spaarke.UI.Components/src/components/RecordNavigationModalShell/__tests__/iframeDirtyCheckScript.test.ts
  src/client/webresources/js/sprk_todo_dirty_check.js
  src/solutions/SmartTodo/src/components/Modal/SmartTodoModal.tsx
Owners: @spaarke-dev, @docs-team

chore(daily-briefing-r3): scaffold project artifacts + 7 POML tasks
  projects/spaarke-daily-update-service-r3/CLAUDE.md
  projects/spaarke-daily-update-service-r3/README.md
  projects/spaarke-daily-update-service-r3/current-task.md
  projects/spaarke-daily-update-service-r3/notes/.gitkeep
  projects/spaarke-daily-update-service-r3/notes/debug/.gitkeep
  projects/spaarke-daily-update-service-r3/notes/drafts/.gitkeep
  projects/spaarke-daily-update-service-r3/notes/handoffs/.gitkeep
  projects/spaarke-daily-update-service-r3/notes/spikes/.gitkeep
  projects/spaarke-daily-update-service-r3/plan.md
  projects/spaarke-daily-update-service-r3/tasks/.gitkeep
  projects/spaarke-daily-update-service-r3/tasks/001-add-sprk-briefingstate-choice-column.poml
  projects/spaarke-daily-update-service-r3/tasks/010-bff-fix-ttlinseconds-field-name.poml
  projects/spaarke-daily-update-service-r3/tasks/020-widget-service-layer-read-state-swap.poml
  projects/spaarke-daily-update-service-r3/tasks/030-use-briefing-actions-hook-extension.poml
  projects/spaarke-daily-update-service-r3/tasks/031-widget-ui-three-action-buttons.poml
  projects/spaarke-daily-update-service-r3/tasks/040-manual-uat-spaarkedev1.poml
  projects/spaarke-daily-update-service-r3/tasks/090-project-wrap-up.poml
  projects/spaarke-daily-update-service-r3/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore(smart-todo-r4): closeout-wave re-scope (2026-06-24) + R4-112 HOST-only docs
  projects/smart-todo-r4/tasks/111-remove-widget-expand-codepage-modal.poml
  projects/smart-todo-r4/tasks/112-fu1-pcf-create-mode-bridge.poml
  projects/smart-todo-r4/tasks/113-new1-form-script-audit.poml
  projects/smart-todo-r4/tasks/118-deploy-wizard-commands-js.poml
  projects/smart-todo-r4/tasks/TASK-INDEX.md
  src/client/pcf/RegardingResolver/RegardingResolver/RegardingResolverApp.tsx
Owners: @spaarke-dev

feat(spaarke-devops-project-tracking-r1): add propagator script - merge master into existing worktrees
  scripts/propagate-devops-to-worktrees.ps1
Owners: @spaarke-dev, @devops-team

chore(chat-routing-redesign-r1)(1R): reconcile + verify wave 1-M (028c + 028d)
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

chore(devops): add propagate-devops-to-worktrees.ps1 follow-up
  scripts/propagate-devops-to-worktrees.ps1
Owners: @spaarke-dev, @devops-team

feat(daily-briefing-r3): Wave 1 — schema + BFF fix + widget service refactor
  projects/spaarke-daily-update-service-r3/current-task.md
  projects/spaarke-daily-update-service-r3/notes/bff-cve-check.md
  projects/spaarke-daily-update-service-r3/notes/bff-size-check.md
  projects/spaarke-daily-update-service-r3/notes/schema-deployment.md
  projects/spaarke-daily-update-service-r3/notes/widget-service-naming-decision.md
  projects/spaarke-daily-update-service-r3/tasks/001-add-sprk-briefingstate-choice-column.poml
  projects/spaarke-daily-update-service-r3/tasks/010-bff-fix-ttlinseconds-field-name.poml
  projects/spaarke-daily-update-service-r3/tasks/020-widget-service-layer-read-state-swap.poml
  projects/spaarke-daily-update-service-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/notificationService.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/types/notifications.ts
  src/client/shared/Spaarke.DailyBriefing.Components/test/notificationService.test.ts
  src/server/api/Sprk.Bff.Api/Services/NotificationService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/NotificationServiceTests.cs
Owners: @spaarke-dev

fix(smart-todo-r4): R4-112 Bug-1 — PCF onRecordTypeChanged was passing wrong entityType (v1.1.0 → v1.2.0)
  src/client/pcf/RegardingResolver/RegardingResolver/ControlManifest.Input.xml
  src/client/pcf/RegardingResolver/RegardingResolver/RegardingResolverApp.tsx
  src/client/pcf/RegardingResolver/RegardingResolver/index.ts
  src/client/pcf/RegardingResolver/package.json
Owners: @spaarke-dev

chore(smart-todo-r4): R4-118 — expand scope to option B (all 6 parent entities) + MS To Do checkmark icons
  projects/smart-todo-r4/tasks/118-deploy-wizard-commands-js.poml
  src/client/assets/icons/sprk_ToDoCheckmark16.svg
  src/client/assets/icons/sprk_ToDoCheckmark32.svg
Owners: @spaarke-dev

fix(chat-routing-redesign-r1)(110a): Library modal toLowerCase null guard (FR-59)
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/110a-tolowercase-bug-evidence.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/110a-library-modal-tolowercase-bug-fix.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/PlaybookLibraryShell/PlaybookLibraryShell.tsx
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(110): extend PlaybookDispatcher.DispatchAsync with optional attachments parameter (FR-15)
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/110-bff-publish-delta.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/110-callsite-evidence.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/110-playbookdispatcher-accept-attachments.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PlaybookDispatcher.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookDispatcherAttachmentsTests.cs
Owners: @spaarke-dev

feat(daily-briefing-r3): Wave 2 — useBriefingActions hook extension
  projects/spaarke-daily-update-service-r3/tasks/030-use-briefing-actions-hook-extension.poml
  projects/spaarke-daily-update-service-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/useBriefingActions.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/notificationService.ts
  src/client/shared/Spaarke.DailyBriefing.Components/test/useBriefingActions.test.ts
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(1R)(028e): env-var deprecation telemetry + Phase 1R exit gate
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/028e-deprecation-telemetry-kql.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/028e-phase-1r-exit-gate.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Configuration/WorkspaceOptionsValidator.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ConfigurationModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/RoutingModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/RoutingConsumerTypeHealthCheck.cs
  tests/unit/Sprk.Bff.Api.Tests/Configuration/WorkspaceOptionsValidatorTests.cs
Owners: @spaarke-dev

feat(daily-briefing-r3): Wave 3 — widget UI: 3 action buttons + handler composition
  projects/spaarke-daily-update-service-r3/current-task.md
  projects/spaarke-daily-update-service-r3/tasks/031-widget-ui-three-action-buttons.poml
  projects/spaarke-daily-update-service-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/ActivityNotesSection.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/DailyBriefingApp.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/NarrativeBullet.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/test/DailyBriefingApp.smoke.test.tsx
Owners: @spaarke-dev

fix(daily-briefing-r3): FR-6 follow-up — propagate ttlinseconds to UI for additive +7d
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/NarrativeBullet.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/notificationService.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/types/notifications.ts
  src/client/shared/Spaarke.DailyBriefing.Components/test/DailyBriefingApp.smoke.test.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/test/notificationService.test.ts
Owners: @spaarke-dev

test(smart-todo-r4): R4-114 + R4-115 closeout
  projects/smart-todo-r4/tasks/115-fu6-spedocumentviewer-cleanup.poml
  src/solutions/SmartTodo/jest.config.cjs
  src/solutions/SmartTodo/jest.setup.cjs
  src/solutions/SmartTodo/package-lock.json
  src/solutions/SmartTodo/package.json
  src/solutions/SmartTodo/src/components/Toolbar/__tests__/ToolbarActions.test.ts
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(112): WP2 Hybrid C Phase B per-file vector match (FR-17 v2)
  infrastructure/ai-search/playbook-embeddings.json
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/112-bff-publish-delta.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/112-phase-b-vector-match-with-manifest-prefilter.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Models/Ai/PlaybookEmbeddingDocument.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PlaybookDispatcher.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookEmbedding/PlaybookEmbeddingService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookDispatcherPhaseBTests.cs
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(5-B): task 113R complete — confidence-based top-N selector + FR-48 no-auto-execute invariant
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/113R-bff-publish-delta.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/113R-confidence-topn-selector.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Configuration/PlaybookSelectorOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiChatModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ConfigurationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/IPlaybookCandidateSelector.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PlaybookCandidateSelector.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookCandidateSelectorTests.cs
Owners: @spaarke-dev

fix(daily-briefing-r3): align DailyBriefing solution config with SpaarkeAi/LegalWorkspace patterns
  src/solutions/DailyBriefing/package-lock.json
  src/solutions/DailyBriefing/package.json
  src/solutions/DailyBriefing/tsconfig.json
  src/solutions/DailyBriefing/vite.config.ts
Owners: @spaarke-dev

fix(scripts/portfolio-status): decode gh stdout as UTF-8 (Windows CP1252 crashed on emojis + curly quotes in Issue bodies)
  scripts/portfolio-status.py
Owners: @spaarke-dev, @devops-team

feat(chat-routing-redesign-r1)(115): integrate intentHint as Phase B vector-query bias (FR-20)
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/115-bff-publish-delta.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PlaybookDispatcher.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookDispatcherIntentBiasTests.cs
Owners: @spaarke-dev
