Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

docs(r7): Wave 12 T143 — Matter wizard smoke + diagnostic (audit 123 §10)
  projects/spaarke-ai-platform-unification-r7/notes/audits/wave12-123-three-prefill-wizards.md
Owners: @spaarke-dev

chore(r7): T143 mark complete; TASK-INDEX entry updated
  projects/spaarke-ai-platform-unification-r7/tasks/143-smoke-matter-wizard.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(bff/r7): seed canonical MembershipOptions defaults via post-configure (T130 root-cause fix)
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/MembershipModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Membership/MembershipOptions.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Membership/MembershipFieldDiscoveryServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Membership/MembershipOptionsTests.cs
Owners: @spaarke-dev

docs(r7): T130 closure — audit 120 §8 Resolution + POML status + TASK-INDEX
  projects/spaarke-ai-platform-unification-r7/notes/audits/wave12-120-assistant-workspace.md
  projects/spaarke-ai-platform-unification-r7/tasks/130-diagnose-and-fix-membership-resolver.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(bff-api)(redis-r1): allow-list Testing env in CacheModule fallback path (FR-03 followup)
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CacheModule.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/DI/CacheModuleTests.cs
Owners: @spaarke-dev

fix(dataverse/r7): Wave 12.3 T143 — apply Matter Wizard fixes (DELETE EntityNameValidator + strip systemPrompt override) + queue T124 backfill-health sweep
  projects/spaarke-ai-platform-unification-r7/notes/audits/wave12-123-three-prefill-wizards.md
  projects/spaarke-ai-platform-unification-r7/tasks/124-audit-wave5-backfill-health-sweep.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(constraints)(bff-extensions): add §F.2.1 env-name allow-list parity rule
  .claude/constraints/bff-extensions.md
Owners: @spaarke-dev

fix(bff/r7): T150 Wave 12 — normalize EntityType at ChatHostContext boundary (audit 120 Gap A)
  src/server/api/Sprk.Bff.Api/Models/Ai/Chat/ChatHostContext.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/Chat/EntityTypeNormalizer.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/AnalysisChatContextResolver.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  tests/unit/Sprk.Bff.Api.Tests/Models/Ai/Chat/EntityTypeNormalizerTests.cs
Owners: @spaarke-dev

docs(r7): T150 closure — audit 120 §9 Resolution + POML status + TASK-INDEX
  projects/spaarke-ai-platform-unification-r7/notes/audits/wave12-120-assistant-workspace.md
  projects/spaarke-ai-platform-unification-r7/tasks/150-gap-a-naming-normalization.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(r7): T144 closure — audit 123 §11 WA inheritance verification + POML status + TASK-INDEX
  projects/spaarke-ai-platform-unification-r7/notes/audits/wave12-123-three-prefill-wizards.md
  projects/spaarke-ai-platform-unification-r7/tasks/144-verify-work-assignment-inherits-matter.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(widget/r7): T133 Wave 12.2 — expand CHANNEL_REGISTRY to register T131 6-entity codes + fix my-updates raw-slug bug
  src/client/shared/Spaarke.DailyBriefing.Components/src/types/notifications.ts
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/DailyBriefingCollector.cs
Owners: @spaarke-dev

docs(r7): T133 closure — POML status completed + TASK-INDEX
  projects/spaarke-ai-platform-unification-r7/tasks/133-channel-registry-expansion.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(widget/r7): T134 Wave 12.2 — Add To Do checkmark as primary visible tool; preserve three-dot menu
  projects/spaarke-ai-platform-unification-r7/notes/audits/wave12-124-wave5-backfill-health-sweep.md
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/NarrativeBullet.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/test/NarrativeBullet.test.tsx
Owners: @spaarke-dev

feat(bff/r7): Wave 12 T132 — chain TLDR result as input to per-channel narrative
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisActionService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/DailyBriefingNarrator.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Narrators/DailyBriefingNarratorTldrChainingTests.cs
Owners: @spaarke-dev

docs(r7): T134 closure — TASK-INDEX status + POML completion notes
  projects/spaarke-ai-platform-unification-r7/tasks/134-widget-tools-add-todo-checkmark.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

test(bff/r7): T131 Wave 12 — DailyBriefingCollector 6-entity unit tests
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Narrators/DailyBriefingCollectorTests.cs
Owners: @spaarke-dev

feat(bff/r7): T151 Wave 12 — server-side EntityName lazy-fetch in PlaybookChatContextProvider (audit 120 Gap B)
  projects/spaarke-ai-platform-unification-r7/tasks/131-extend-collector-six-entities.poml
  projects/spaarke-ai-platform-unification-r7/tasks/151-gap-b-entity-name-lazy-fetch.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PlaybookChatContextProvider.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookChatContextProviderEntityNameLazyFetchTests.cs
Owners: @spaarke-dev

feat(bff/r7): T152 Wave 12 — default PageType in PlaybookChatContextProvider (audit 120 Gap C)
  projects/spaarke-ai-platform-unification-r7/tasks/152-gap-c-default-pagetype.poml
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PlaybookChatContextProvider.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookChatContextProviderEnrichmentTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookChatContextProviderEntityNameLazyFetchTests.cs
Owners: @spaarke-dev

docs(bff/r7): T153 Wave 12 — audit 120 Gaps D-H dispositional closure (DEF-002 + 4 no-action)
  projects/spaarke-ai-platform-unification-r7/notes/audits/wave12-120-assistant-workspace.md
  projects/spaarke-ai-platform-unification-r7/notes/defer-issues.md
  projects/spaarke-ai-platform-unification-r7/tasks/153-audit-120-gaps-d-h.poml
Owners: @spaarke-dev

fix(dataverse/r7): Wave 12 T124-FIX-A applied — Document Summary node executortype 0→40 (audit 124 §12)
  projects/spaarke-ai-platform-unification-r7/notes/audits/wave12-124-wave5-backfill-health-sweep.md
Owners: @spaarke-dev

docs(r7): Wave 12.3 T145 — wizard UAT signoff doc + audit closure (operator-pending)
  projects/spaarke-ai-platform-unification-r7/notes/audits/wave12-121-wizard-file-summary.md
  projects/spaarke-ai-platform-unification-r7/notes/audits/wave12-122-document-create-profile.md
  projects/spaarke-ai-platform-unification-r7/notes/audits/wave12-123-three-prefill-wizards.md
  projects/spaarke-ai-platform-unification-r7/notes/handoffs/wave12-3-uat-signoff.md
  projects/spaarke-ai-platform-unification-r7/tasks/145-wizard-end-to-end-uat.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(bff/r7): T135 Wave 12 — orphan-fallback for per-bullet entity links (6 entity types)
  projects/spaarke-ai-platform-unification-r7/tasks/135-verify-entity-links-six-entities.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/DailyBriefingEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/DailyBriefingCollector.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/DailyBriefingNarrator.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Narrators/DailyBriefingNarratorEntityLinkTests.cs
Owners: @spaarke-dev

ci(tier1): add Redis__AllowInMemoryFallback for integration tests (second redis-r2 validation)
  .github/workflows/ci-tier1-blocking.yml
Owners: @spaarke-dev, @devops-team

chore(bff-api)(redis-r2): add appsettings.Testing.json with AllowInMemoryFallback default
  .gitignore
  src/server/api/Sprk.Bff.Api/appsettings.Testing.json
Owners: @spaarke-dev

docs(r7): Wave 12 Batch 4 — combined T136+T154 deploy + agent-smoke complete (pending operator UAT)
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/notes/handoffs/wave12-batch4-deploy-smoke.md
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(r7): pre-/compact restart doc for Daily Briefing widget cutover
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/notes/handoffs/daily-briefing-widget-cutover-restart.md
Owners: @spaarke-dev

feat(widget/r7): Wave 12 Daily Briefing widget cutover — /render is sole data source
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/ActivityNotesSection.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/DailyBriefingApp.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/useBriefingRender.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/briefingService.ts
Owners: @spaarke-dev

test(widget/r7): Wave 12 widget cutover — test cleanup
  src/client/shared/Spaarke.DailyBriefing.Components/test/ActivityNotesSection.callbacks.test.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/test/ActivityNotesSection.fallback.test.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/test/ActivityNotesSection.subList.test.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/test/CountReconciliation.smoke.test.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/test/DailyBriefingApp.smoke.test.tsx
Owners: @spaarke-dev

docs(r7): Wave 12 widget cutover — deploy complete, awaiting operator smoke
  projects/spaarke-ai-platform-unification-r7/current-task.md
Owners: @spaarke-dev

fix(bff/r7): register Null-Object peers for DailyBriefingNarrator + DailyBriefingCollector to unblock PR #520 CI
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/DailyBriefingCollector.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/DailyBriefingNarrator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/NullDailyBriefingCollector.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/NullDailyBriefingNarrator.cs
Owners: @spaarke-dev

fix(bff/r7): Wave 12 Daily Briefing collector — bypass membership resolver for direct-owner scope
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/DailyBriefingCollector.cs
Owners: @spaarke-dev

fix(bff/r7): Wave 12 Daily Briefing collector — fix QueryTodosAsync (owninguser + widened date)
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/DailyBriefingCollector.cs
Owners: @spaarke-dev

feat(widget/r7): Wave 12 operator feedback items 6, 7, 8, 10
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/ActivityNotesSection.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/DailyBriefingApp.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/NarrativeBullet.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/useInlineTodoCreate.ts
Owners: @spaarke-dev

feat(r7): Wave 12 feedback items 2/3/4/5 — inline hyperlinks + trailing [N] citations for narrative bullets
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/ActivityNotesSection.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/NarrativeBullet.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/NarrativeCitedText.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/briefingService.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/DailyBriefingEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/DailyBriefingNarrator.cs
Owners: @spaarke-dev

fix(bff/r7): membership resolver polymorphic Owner bug — synthesize targets for Owner/Customer attributes
  src/server/api/Sprk.Bff.Api/Services/Ai/Membership/MembershipFieldDiscoveryService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Membership/MembershipFieldDiscoveryServiceTests.cs
Owners: @spaarke-dev

feat(r7): Wave 12 feedback item 9 — High Priority section above TL;DR
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/DailyBriefingApp.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/HighPrioritySection.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/useBriefingRender.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/briefingService.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/DailyBriefingEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/DailyBriefingCollector.cs
Owners: @spaarke-dev

docs(assessments): add communication architecture assessment 2026-06-05
  docs/assessments/communication-architecture-assessment-2026-06-05.md
Owners: @spaarke-dev, @docs-team

chore(gitignore): sweep session/tooling detritus out of git status
  .gitignore
Owners: @spaarke-dev

feat(pcf)(visualhost): UAT round — donut/HSBar empty states, arc thickness, calendar day-detail popover (v1.4.17→v1.4.25)
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/CalendarVisual.tsx
  src/client/pcf/VisualHost/control/components/CardChrome.tsx
  src/client/pcf/VisualHost/control/components/ChartRenderer.tsx
  src/client/pcf/VisualHost/control/components/DonutChart.tsx
  src/client/pcf/VisualHost/control/components/HorizontalStackedBar.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/control/components/__tests__/DonutChart.test.tsx
Owners: @spaarke-dev

feat(pcf)(tracking-field-trio): add compact 3-field control (Monitor / High Priority / Access Permission)
  src/client/pcf/TrackingFieldTrio/ControlManifest.Input.xml
  src/client/pcf/TrackingFieldTrio/Solution/Controls/sprk_Spaarke.Controls.TrackingFieldTrio/ControlManifest.xml
  src/client/pcf/TrackingFieldTrio/Solution/Controls/sprk_Spaarke.Controls.TrackingFieldTrio/bundle.js
  src/client/pcf/TrackingFieldTrio/Solution/Controls/sprk_Spaarke.Controls.TrackingFieldTrio/styles.css
  src/client/pcf/TrackingFieldTrio/Solution/customizations.xml
  src/client/pcf/TrackingFieldTrio/Solution/pack.ps1
  src/client/pcf/TrackingFieldTrio/Solution/solution.xml
  src/client/pcf/TrackingFieldTrio/TrackingFieldTrio.pcfproj
  src/client/pcf/TrackingFieldTrio/TrackingFieldTrioApp.tsx
  src/client/pcf/TrackingFieldTrio/featureconfig.json
  src/client/pcf/TrackingFieldTrio/index.ts
  src/client/pcf/TrackingFieldTrio/package-lock.json
  src/client/pcf/TrackingFieldTrio/package.json
  src/client/pcf/TrackingFieldTrio/pcfconfig.json
  src/client/pcf/TrackingFieldTrio/styles.css
  src/client/pcf/TrackingFieldTrio/tsconfig.json
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
