Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

test(api): E3 preference-loop eval guardrail — close the E3 loop (033, FR-09/10)
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
  projects/spaarkeai-assistant-enhancements-r4/tasks/033-e3-eval-and-bounds-tests.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/TASK-INDEX.md
  tests/integration/contract/Eval/AssistantEnhancementsR4EvalTests.cs
  tests/integration/contract/Eval/assistant-r4-eval-cases.json
Owners: @spaarke-dev

feat(bff): grounded two-kind follow-on suggestion proposer (021a / FR-04)
  infra/dataverse/actions/suggest-followups.action.json
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
  projects/spaarkeai-assistant-enhancements-r4/notes/021-grounded-suggestions-design-delta.md
  projects/spaarkeai-assistant-enhancements-r4/tasks/021a-grounded-suggestion-proposer-bff.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/AssistantSuggestionService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/ConsumerRoutingService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/AssistantSuggestionServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PublicContracts/ConsumerRoutingServiceContextFilterTests.cs
Owners: @spaarke-dev

docs(assistant-r4): 021a complete + 021b implementation plan (checkpoint)
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
Owners: @spaarke-dev

docs(assistant-r4): context-handoff timestamp refresh (pre-compact, 021b next)
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
Owners: @spaarke-dev

feat(spaarkeai): render typed two-kind grounded suggestion chips (021b / FR-04)
  docs/standards/ASSISTANT-UI-ELEMENT-CRITERIA.md
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
  projects/spaarkeai-assistant-enhancements-r4/tasks/021b-grounded-suggestion-chips-client.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChatSuggestions.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/SprkChatSuggestions.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/citationsIntegration.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/suggestionsIntegration.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/useSseStream.citations.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/useSseStream.suggestions.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useSseStream.ts
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
Owners: @spaarke-dev, @docs-team

feat(spaarkeai): open-tab-gated follow-on launcher cards (023 / FR-06)
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
  projects/spaarkeai-assistant-enhancements-r4/tasks/023-followon-cards-open-tab-gated.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/src/events/PaneEventTypes.ts
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/WorkspaceLauncherCard.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/agendaFollowOnCards.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/agendaFollowOnCards.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
Owners: @spaarke-dev

test(spaarkeai): E2 FR-04 no-dead-end contract guard + FR-10 coverage map (024)
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
  projects/spaarkeai-assistant-enhancements-r4/notes/behavior-gap-register.md
  projects/spaarkeai-assistant-enhancements-r4/notes/defer-issues.md
  projects/spaarkeai-assistant-enhancements-r4/tasks/024-e2-eval-cases.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/TASK-INDEX.md
  tests/integration/contract/Eval/AssistantEnhancementsR4EvalTests.cs
  tests/integration/contract/Eval/README.md
Owners: @spaarke-dev, @docs-team

test(api): close D-024-01 — typed-followups endpoint guard (not deferred)
  projects/spaarkeai-assistant-enhancements-r4/notes/behavior-gap-register.md
  projects/spaarkeai-assistant-enhancements-r4/notes/defer-issues.md
  projects/spaarkeai-assistant-enhancements-r4/tasks/024-e2-eval-cases.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  tests/integration/contract/Eval/README.md
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/ChatEndpointsTypedFollowupsTests.cs
Owners: @spaarke-dev, @docs-team

feat(smart-todo-r5): hoist Header+SearchFilter to shared lib — widget renders Code Page toolbar (§11 Option B)
  src/client/shared/Spaarke.SmartTodo.Components/__tests__/Header.test.tsx
  src/client/shared/Spaarke.SmartTodo.Components/__tests__/SearchFilter.test.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/Header/Header.styles.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/components/Header/Header.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/Header/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SearchFilter/SearchFilter.styles.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SearchFilter/SearchFilter.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SearchFilter/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/components/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/components/SmartToDo.tsx
Owners: @spaarke-dev

feat(smart-todo-r5): widget selection-toolbar Open action (Header parity)
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
Owners: @spaarke-dev

chore(provisioning): Wave 3 wrap-up FULLY complete — merged, pushed, PR #779
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

test(api): teach the AgentToolFilterContext invariant about task-011 AdvisoryToolAllowList
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PreferenceNotPermissionInvariantTests.cs
Owners: @spaarke-dev

feat(dataverse): #3b — migrate both Dataverse impls to Managed Identity (ADR-028), proven live on dev
  projects/code-quality-and-assurance-r3/current-task.md
  projects/code-quality-and-assurance-r3/notes/3b-mi-migration.patch
  projects/code-quality-and-assurance-r3/notes/task-011-ng1-3b-mi-migration.md
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
Owners: @spaarke-dev

refactor(provisioning): Wave 4 Batch 4A — resolve CosmosProvisioningSecretGuardTests debt
  projects/customer-provisioning-orchestration-r1/notes/wave-4-batch-4a-archtest-debt.md
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H4KvSecretsPopulationHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/EntraAppReg/H3EntraAppRegHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/EntraAppReg/IEntraAppRegProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/EntraAppReg/RegisterEntraAppRegScriptProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/IntegrationWiring/H14bGraphWebhookSubHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/IntegrationWiring/H14cDataverseWebhookSubHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/KvSecretsPopulation/AzCliSlotIdentityRoleGranter.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/KvSecretsPopulation/H4KvSecretsPopulationHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/KvSecretsPopulation/ISlotIdentityRoleGranter.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/KvSecretsPopulation/KvSecretsPopulationOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SpeContainerType/CreateNewContainerTypeScriptProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SpeContainerType/H8SpeContainerTypeHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SpeContainerType/ISpeContainerTypeProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SpeContainerType/ISpeContainerVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SpeContainerType/SpeContainerAppOnlyVerifier.cs
  tests/Spaarke.ArchTests/CosmosProvisioningSecretGuardTests.cs
Owners: @spaarke-dev

refactor(bff): 081 — migrate RegistrationEndpoints.cs SubmitDemoRequest admin-notification path off [Obsolete] DemoProvisioningOptions.Environments/DefaultEnvironment to DataverseEnvironmentService
  projects/customer-provisioning-orchestration-r1/notes/task-081-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/RegistrationEndpoints.cs
  tests/unit/domain/Registration/BuildRegistrationRecordUrlTests.cs
Owners: @spaarke-dev

feat(provisioning): 084 — canonical secret-catalog manifest + generator (Phase H)
  projects/customer-provisioning-orchestration-r1/notes/task-084-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  scripts/canonical-secret-catalog/Invoke-CatalogGenerator.ps1
  scripts/canonical-secret-catalog/README.md
  scripts/canonical-secret-catalog/generated/Configure-AppServiceSettings.generated.ps1
  scripts/canonical-secret-catalog/generated/Seed-CustomerKeyVault.generated.ps1
  scripts/canonical-secret-catalog/generated/appsettings.tokens.generated.md
  scripts/canonical-secret-catalog/generated/kv-secrets.generated.bicep
  scripts/canonical-secret-catalog/manifest.yaml
Owners: @spaarke-dev, @devops-team, @docs-team

chore(provisioning): Wave 4 Batch 4A COMPLETE — dispatcher state update
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

checkpoint(smart-todo-r5): widget⇄Code Page unification state — awaiting UAT
  projects/smart-todo-r5/current-task.md
Owners: @spaarke-dev

docs(auth): seed spaarke-auth-v4-dataverse-MI project — eliminate BFF client secret via OBO→MI (research-first)
  projects/code-quality-and-assurance-r3/notes/follow-on-quality-backlog.md
  projects/spaarke-auth-v4-dataverse-MI/README.md
  projects/spaarke-auth-v4-dataverse-MI/notes/ASSESSMENT.md
Owners: @spaarke-dev, @docs-team

fix(dataverse): apply the actual #3b scope fix + resolution docs (left unstaged in a76e7e714)
  projects/code-quality-and-assurance-r3/current-task.md
  projects/code-quality-and-assurance-r3/notes/3b-mi-migration.patch
  projects/code-quality-and-assurance-r3/notes/task-011-ng1-3b-mi-migration.md
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
Owners: @spaarke-dev

feat(provisioning): 057 — L2 REST endpoints (9 endpoints per §4.2 + audit-log)
  projects/customer-provisioning-orchestration-r1/notes/task-057-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Api/RunsEndpointsTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Sprk.Provisioning.ControlPlane.Tests.csproj
  src/server/services/Sprk.Provisioning.ControlPlane/Api/RunLogsEndpoints.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Api/RunsEndpoints.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Endpoints/HealthEndpoints.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
Owners: @spaarke-dev

feat(ai): 077 — per-tenant token metering (app-level custom App Insights metric)
  projects/customer-provisioning-orchestration-r1/notes/per-tenant-metering-impl-2026-08-17.md
  projects/customer-provisioning-orchestration-r1/notes/task-077-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Metering/ITenantBudgetPolicy.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Metering/ITenantTokenLedger.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Metering/InMemoryTenantTokenLedger.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Metering/TenantBudgetExceededException.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Metering/TenantBudgetOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Metering/TenantBudgetPolicy.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Metering/TenantBudgetResults.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/OpenAiClient.cs
  tests/unit/domain/Ai/Metering/InMemoryTenantTokenLedgerTests.cs
  tests/unit/domain/Ai/Metering/TenantBudgetPolicyTests.cs
Owners: @spaarke-dev

feat(provisioning): 052 — H9 BFF deploy handler (blue-green + r3-gate verification + rollback)
  projects/customer-provisioning-orchestration-r1/notes/task-052-deviations.md
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H9BffDeployHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BffDeploy/AzCliAppServiceSlotSwapper.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BffDeploy/BffDeployOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BffDeploy/BffDeployRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BffDeploy/DeployBffApiScriptRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BffDeploy/DotnetR3GateVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BffDeploy/FileBffPublishSizeReporter.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BffDeploy/H9BffDeployHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BffDeploy/HttpHealthProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BffDeploy/IAppServiceSlotSwapper.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BffDeploy/IBffDeployRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BffDeploy/IBffPublishSizeReporter.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BffDeploy/IHealthProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BffDeploy/IR3GateVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
Owners: @spaarke-dev

docs(auth): expand auth-v4 scope — broader secret inventory + provisioning coupling
  projects/customer-provisioning-orchestration-r1/notes/INBOUND-auth-v4-secret-elimination-coupling.md
  projects/spaarke-auth-v4-dataverse-MI/notes/ASSESSMENT.md
Owners: @spaarke-dev

test(provisioning): 064 — 5 tenant-isolation ArchTests (I1-I5 per §4D FR-28..32)
  projects/customer-provisioning-orchestration-r1/notes/task-064-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/shared/Spaarke.Core/Attributes/AllowCrossPartitionScanAttribute.cs
  tests/Spaarke.ArchTests/TenantIsolation/I1_NoHardcodedTenantTests.cs
  tests/Spaarke.ArchTests/TenantIsolation/I2_AiSearchTenantIdFilterTests.cs
  tests/Spaarke.ArchTests/TenantIsolation/I3_CosmosPartitionKeyTests.cs
  tests/Spaarke.ArchTests/TenantIsolation/I4_SpeContainerIdLiteralTests.cs
  tests/Spaarke.ArchTests/TenantIsolation/I5_GraphPerTenantTokenTests.cs
Owners: @spaarke-dev

chore(provisioning): Wave 4 Batch 4B COMPLETE — dispatcher state update
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(auth): keep provisioning coupling in auth-v4 only; revert inbound note (provisioning is a running project)
  projects/customer-provisioning-orchestration-r1/notes/INBOUND-auth-v4-secret-elimination-coupling.md
  projects/spaarke-auth-v4-dataverse-MI/notes/ASSESSMENT.md
Owners: @spaarke-dev

docs(researcher-memory): Word-template storage + MDA custom help pane findings
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/dataverse-word-templates-storage-merge-2026-08-13.md
  .claude/agent-memory/researcher/mda-custom-help-pane-2026-08-14.md
Owners: @spaarke-dev

checkpoint(quality): refresh r3 open-threads — RED-4 B/DEF-1/DEF-2/#3b all resolved; only operator-gated follow-ons remain
  projects/code-quality-and-assurance-r3/current-task.md
Owners: @spaarke-dev

fix(smart-todo-r5): single-row header (#4) + real due-date countdown badge (#6)
  src/client/shared/Spaarke.SmartTodo.Components/src/components/Header/Header.styles.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/components/Header/Header.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/utils/todoScoring.ts
Owners: @spaarke-dev

feat(smart-todo-r5): default new-todo Assigned To to current user's contact (#1)
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/__tests__/SmartTodoApp.test.tsx
  src/solutions/SmartTodo/src/services/newTaskLauncher.ts
  src/solutions/SmartTodo/src/utils/dueLabelUtils.ts
Owners: @spaarke-dev

checkpoint(smart-todo-r5): UAT round 2 — #4/#6/#1 shipped+deployed, #2/#3 pending input
  projects/smart-todo-r5/current-task.md
Owners: @spaarke-dev

test(provisioning): 066 — verify Register-EntraAppRegistrations.ps1 fix + generalize I1 scan to all .ps1 scripts
  projects/customer-provisioning-orchestration-r1/notes/register-entra-fix-verification-2026-08-17.md
  projects/customer-provisioning-orchestration-r1/notes/task-066-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  tests/Spaarke.ArchTests/TenantIsolation/I1_NoHardcodedTenantTests.cs
Owners: @spaarke-dev

feat(provisioning): 058 — state-reconciler BackgroundService (5s Cosmos poll + DAG advancement + 3-level idempotency)
  projects/customer-provisioning-orchestration-r1/notes/task-058-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Reconciler/DagAdvancerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Reconciler/StateReconcilerServiceTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Reconciler/CosmosActiveRunScanner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Reconciler/DagAdvancer.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Reconciler/IActiveRunScanner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Reconciler/IDagAdvancer.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Reconciler/ReconcilerModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Reconciler/ReconcilerOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Reconciler/StateReconcilerService.cs
Owners: @spaarke-dev

feat(provisioning): 085 — collapse AI Search key aliases to AiSearch--AdminKey canonical (per manifest + BINDING pre-check)
  infrastructure/bicep/modules/key-vault.bicep
  infrastructure/bicep/stacks/model1-shared.bicep
  infrastructure/bicep/stacks/model2-full.bicep
  infrastructure/byok/main.bicep
  projects/customer-provisioning-orchestration-r1/notes/phase-h-alias-collapse-aisearch-2026-08-17.md
  projects/customer-provisioning-orchestration-r1/notes/task-085-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/085-alias-collapse-ai-search-key.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(provisioning): 085 — fill in commit SHA in report §7.6
  projects/customer-provisioning-orchestration-r1/notes/phase-h-alias-collapse-aisearch-2026-08-17.md
Owners: @spaarke-dev

fix(spaarkeai): collapse pin-to-top spacer once content fills viewport (040 / FR-11)
  projects/spaarkeai-assistant-enhancements-r4/tasks/040-d9-viewport-flex-fix.poml
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
Owners: @spaarke-dev

fix(provisioning): 065 — remediate 12 tenant-isolation baseline violations (I1/I2/I3/I5); audit report published
  projects/customer-provisioning-orchestration-r1/notes/task-065-deviations.md
  projects/customer-provisioning-orchestration-r1/notes/tenant-isolation-audit-2026-08-17.md
  projects/customer-provisioning-orchestration-r1/tasks/065-tenant-isolation-audit-sweep.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  scripts/Register-BffMiWithContainerType.ps1
  scripts/Setup-EntraInfrastructure.ps1
  scripts/Test-EntraAppRegistrations.ps1
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/GraphClientFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Feedback/FeedbackService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PromptLibrary/PromptLibraryService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/SemanticSearch/SemanticSearchService.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/InvoiceSearchService.cs
  src/server/api/Sprk.Bff.Api/Services/RecordMatching/DataverseIndexSyncService.cs
  src/server/api/Sprk.Bff.Api/Services/RecordMatching/RecordMatchService.cs
Owners: @spaarke-dev, @devops-team

feat(compose): prod-safety for save-identity key faults (#1 graceful error + #4a deploy check)
  projects/spaarkeai-compose-r7/notes/defer-issues.md
  scripts/Verify-ComposeIdentityKey.ps1
  src/server/api/Sprk.Bff.Api/Api/ComposeEndpoints.cs
Owners: @spaarke-dev, @devops-team

chore(provisioning): Wave 4 Batch 4C COMPLETE — dispatcher state update
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
