Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

docs(spaarke-ai-platform-unification-r7): document sprk_analysisactiontype decorative role (Wave 4 task 045, FR-05)
  docs/architecture/ai-architecture-actions-nodes-scopes.md
  projects/spaarke-ai-platform-unification-r7/tasks/045-document-actiontype-lookup-decorative.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(spaarke-ai-platform-unification-r7): design GetConfigSchema signature + DTO (Wave 3 task 030, FR-16)
  projects/spaarke-ai-platform-unification-r7/notes/spikes/getconfigschema-design.md
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(spaarke-ai-platform-unification-r7): audit playbook-runtime doc for Wave 6 disposition (Wave 6 task 060, FR-28)
  projects/spaarke-ai-platform-unification-r7/notes/drafts/wave6-doc-disposition.md
  projects/spaarke-ai-platform-unification-r7/tasks/060-audit-playbook-runtime-doc-outdated.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(product-led): rename P1 project to descriptive convention + add methodology
  docs/procedures/PRODUCT-LED-DEVELOPMENT.md
  projects/spaarkeai-widget-summarize-document-r1/design.md
Owners: @spaarke-dev, @docs-team

refactor(bff/r7): single-hop dispatch in PlaybookOrchestrationService (Wave 2 task 024, FR-07)
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/tasks/024-single-hop-dispatch-orchestrator.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Models/Ai/PlaybookNodeDto.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NodeService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookOrchestrationService.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/PlaybookExecutionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PlaybookOrchestrationServiceSectionStreamingTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PlaybookOrchestrationServiceTests.cs
Owners: @spaarke-dev

refactor(bff/r7): NodeExecutorRegistry dispatch by ExecutorType (Wave 2 task 027, FR-10)
  projects/spaarke-ai-platform-unification-r7/tasks/027-update-nodeexecutorregistry-dispatch.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/NodeExecutorRegistry.cs
Owners: @spaarke-dev

refactor(bff/r7): delete structural fallback ladder (Wave 2 task 025, FR-08)
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/tasks/025-delete-structural-fallback-ladder.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookOrchestrationService.cs
Owners: @spaarke-dev

refactor(bff/r7): simplify AnalysisActionService read path (Wave 2 task 028, FR-07)
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/tasks/028-update-analysisactionservice-readpath.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisActionService.cs
Owners: @spaarke-dev

refactor(bff/r7): delete Action ActionType override branch (Wave 2 task 026, FR-09)
  projects/spaarke-ai-platform-unification-r7/tasks/026-delete-action-actiontype-override-branch.poml
Owners: @spaarke-dev

feat(bff/r7): add GetConfigSchema to INodeExecutor + ExecutorConfigSchema DTO (Wave 3 task 031, FR-16)
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/ExecutorConfigSchema.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/INodeExecutor.cs
Owners: @spaarke-dev

docs(spaarke-ai-platform-unification-r7): SessionSummarizeOrchestrator Path A.5 migration design (Wave 9 task 090, FR-17)
  projects/spaarke-ai-platform-unification-r7/notes/spikes/chat-summarize-migration-design.md
  projects/spaarke-ai-platform-unification-r7/tasks/090-audit-sessionsummarize-design-pathA5.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

chore(bff/r7): Wave 2 closeout — publish + size + CVE verified (task 029, NFR-01 + NFR-02)
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/notes/checkpoints/wave2-publish-size.md
  projects/spaarke-ai-platform-unification-r7/notes/handoffs/wave2-signoff.md
  projects/spaarke-ai-platform-unification-r7/tasks/029-wave2-bff-publish-size-cve-check.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

refactor(bff/r7): migrate non-chat ExecuteAnalysisAsync caller to PlaybookOrchestrationService (Wave 4 task 041, FR-11)
  projects/spaarke-ai-platform-unification-r7/tasks/041-migrate-non-chat-callers-to-playbook.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/AnalysisEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisOrchestrationService.cs
  tests/integration/Spe.Integration.Tests/AnalysisEndpointsIntegrationTests.cs
Owners: @spaarke-dev

docs(spaarke-ai-platform-unification-r7): DELETE outdated action-lookup ladder + structural-fallback sections (Wave 6 task 061, FR-28 + NFR-08)
  docs/architecture/ai-architecture-playbook-runtime.md
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(bff/r7): implement GetConfigSchema on 25 concrete executors (Wave 3 task 032, FR-16)
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/notes/spikes/executor-config-fields-inventory.md
  projects/spaarke-ai-platform-unification-r7/tasks/032-implement-getconfigschema-on-33-executors.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Nodes/ObservationEmitterNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Nodes/SanitizerNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/AgentServiceNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/AiAnalysisNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/AiCompletionNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/ConditionNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/CreateNotificationNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/CreateTaskNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/DeclineToFindNode.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/DeliverCompositeNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/DeliverOutputNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/DeliverToIndexNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/EntityNameValidatorNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/EvidenceSufficiencyNode.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/GroundingVerifyNode.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/IndexRetrieveNode.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/LiveFactNode.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/LoadKnowledgeNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/LookupUserMembershipNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/QueryDataverseNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/ReturnInsightArtifactNode.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/ReturnResponseNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/SendEmailNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/StartNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/UpdateRecordNodeExecutor.cs
Owners: @spaarke-dev

refactor(bff/r7)!: delete ExecuteAnalysisAsync + cascading dead code (Wave 4 task 042, FR-11)
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/tasks/042-delete-executeanalysisasync-cascading.poml
  src/server/api/Sprk.Bff.Api/Api/Ai/AnalysisEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IAnalysisOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IStreamingAnalysisToolHandler.cs
  tests/integration/Spe.Integration.Tests/AnalysisEndpointsIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AnalysisOrchestrationServiceTests.cs
Owners: @spaarke-dev

refactor(bff/r7): migrate SessionSummarizeOrchestrator to canonical triangle (Wave 9 task 091, FR-17)
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionSummarizeOrchestrator.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SessionSummarizeOrchestrator.PathA5.IntegrationTest.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SessionSummarizeOrchestratorTests.cs
Owners: @spaarke-dev

checkpoint(r6): context-handoff before /compact — 4 DEFs pulled back into R6 scope
  projects/spaarke-ai-platform-unification-r6/current-task.md
Owners: @spaarke-dev

docs(spaarke-ai-platform-unification-r7): UPDATE 4-Home decision tree for single-hop dispatch model (Wave 6 task 062, FR-28)
  docs/architecture/ai-architecture-actions-nodes-scopes.md
  projects/spaarke-ai-platform-unification-r7/tasks/062-update-actions-nodes-scopes-decision-tree.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(bff/r7): GET /api/ai/playbook-builder/executor-config-schemas endpoint (Wave 3 task 033, FR-16)
  projects/spaarke-ai-platform-unification-r7/tasks/033-bff-endpoint-executor-config-schemas.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/AiPlaybookBuilderEndpoints.cs
Owners: @spaarke-dev

docs(spaarke-ai-platform-unification-r7): CREATE ai-guide-consumer-wiring.md (Wave 6 task 067, FR-31)
  docs/guides/ai-guide-consumer-wiring.md
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(scripts/r7): seed chat-summarize sprk_playbookconsumer row (Wave 9 task 092, FR-17)
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/notes/handoffs/dataverse-changes.md
  projects/spaarke-ai-platform-unification-r7/tasks/092-add-chat-summarize-row-consumer-table.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  scripts/dataverse/Seed-PlaybookConsumers.ps1
Owners: @spaarke-dev, @devops-team

feat(scripts/r7): Review-PlaybookNodes-Dispatch.ps1 (Wave 5 task 050, FR-19)
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/tasks/050-author-review-playbooknodes-dispatch-script.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  scripts/dataverse/Review-PlaybookNodes-Dispatch.ps1
Owners: @spaarke-dev, @devops-team

test(bff/r7): xunit tests for executor-config-schemas endpoint (Wave 3 task 034, FR-16 + NFR-05)
  projects/spaarke-ai-platform-unification-r7/tasks/034-xunit-tests-endpoint-schema-serialization.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/ExecutorConfigSchemasEndpointTests.cs
Owners: @spaarke-dev

docs(spaarke-ai-platform-unification-r7): MAJOR UPDATE PLAYBOOK-AUTHOR-GUIDE for node-first dispatch (Wave 6 task 066, FR-30)
  docs/guides/PLAYBOOK-AUTHOR-GUIDE.md
  projects/spaarke-ai-platform-unification-r7/tasks/066-major-update-playbook-author-guide.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(spaarke-ai-platform-unification-r7): MAJOR UPDATE JPS-AUTHORING-GUIDE for node-first dispatch (Wave 6 task 065, FR-30)
  docs/guides/JPS-AUTHORING-GUIDE.md
  projects/spaarke-ai-platform-unification-r7/tasks/065-major-update-jps-authoring-guide.poml
Owners: @spaarke-dev, @docs-team

feat(api): DEF-001 BFF context_event SSE emission + DEF-004 vestigial-field verification
  projects/spaarke-ai-platform-unification-r6/notes/defer-issues.md
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Telemetry/ContextEventEmitter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Telemetry/ContextSseEventDto.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Telemetry/ContextSseRelay.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Telemetry/IContextSseRelay.cs
Owners: @spaarke-dev

feat(code-pages/r7): wire Playbook Library modal into spaarke-ai chat (Wave 9 task 094, FR-18)
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/tasks/094-wire-library-modal-spaarke-ai-chat.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/Playbook/PlaybookCardGrid.tsx
  src/client/shared/Spaarke.UI.Components/src/components/Playbook/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/Playbook/playbookService.ts
  src/client/shared/Spaarke.UI.Components/src/components/Playbook/types.ts
  src/client/shared/Spaarke.UI.Components/src/components/PlaybookLibraryShell/PlaybookLibraryShell.tsx
  src/solutions/SpaarkeAi/src/components/conversation/CommandHelpPanel.tsx
  src/solutions/SpaarkeAi/src/components/conversation/CommandRouter.ts
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/HardSlashExecutor.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/CommandHelpPanel.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/CommandRouter.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/HardSlashExecutor.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/PlaybookLibraryHardSlash.test.ts
Owners: @spaarke-dev

docs(spaarke-ai-platform-unification-r7): document ExecutorConfigSchema in AI-ARCHITECTURE (Wave 3 task 035, FR-16)
  docs/architecture/AI-ARCHITECTURE.md
  projects/spaarke-ai-platform-unification-r7/tasks/035-document-schema-in-ai-architecture.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore(spaarke-ai-platform-unification-r7): produce playbook-node review input CSV (Wave 5 task 051, FR-19)
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/notes/drafts/playbook-node-review-input.csv
  projects/spaarke-ai-platform-unification-r7/tasks/051-run-review-tool-csv-for-owner.poml
Owners: @spaarke-dev

feat(code-pages/r7): 33-executor categorized Node Types left panel (Wave 8 task 082, FR-22)
  projects/spaarke-ai-platform-unification-r7/tasks/082-update-node-types-left-panel-categorized.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/client/code-pages/PlaybookBuilder/src/components/BuilderLayout.tsx
  src/client/code-pages/PlaybookBuilder/src/components/NodePalette.tsx
  src/client/code-pages/PlaybookBuilder/src/components/canvas/PlaybookCanvas.tsx
  src/client/code-pages/PlaybookBuilder/src/config/executorMetadata.ts
  src/client/code-pages/PlaybookBuilder/src/stores/canvasStore.ts
Owners: @spaarke-dev

docs(r7-task-index): mark task 082 done in Wave 8 status snapshot
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(code-pages/r7): typed config form renderer driven by ExecutorConfigSchema endpoint (Wave 8 task 083, FR-23)
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/tasks/083-wire-typed-config-form-renderer.poml
  src/client/code-pages/PlaybookBuilder/src/components/properties/NodePropertiesDialog.tsx
  src/client/code-pages/PlaybookBuilder/src/components/properties/TypedConfigForm.tsx
  src/client/code-pages/PlaybookBuilder/src/services/executorSchemaService.ts
Owners: @spaarke-dev

feat(code-pages/r7): wire Playbook Library modal into Daily Briefing widget (Wave 9 task 095, FR-18)
  projects/spaarke-ai-platform-unification-r7/tasks/095-wire-library-modal-briefing-widget.poml
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/DailyBriefingApp.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/DigestHeader.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/widgets/dailyBriefing.registration.ts
  src/client/shared/Spaarke.DailyBriefing.Components/test/PlaybookLibraryAffordance.test.tsx
  src/solutions/DailyBriefing/src/main.tsx
Owners: @spaarke-dev

feat(code-pages/r7): promote Action selection to dedicated Action tab (Wave 8 task 086, FR-24)
  projects/spaarke-ai-platform-unification-r7/tasks/086-promote-action-selection-to-action-tab.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/client/code-pages/PlaybookBuilder/src/components/properties/ExecutorTypeSelector.tsx
  src/client/code-pages/PlaybookBuilder/src/components/properties/NodePropertiesDialog.tsx
Owners: @spaarke-dev

chore(bff/r7): Wave 3 closeout — publish + size + CVE (task 036)
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/notes/handoffs/wave3-signoff.md
  projects/spaarke-ai-platform-unification-r7/tasks/036-wave3-bff-publish-size-check.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(bff+playbookbuilder/r7): typed config forms for 5 priority executors (Wave 8 task 084, FR-23)
  projects/spaarke-ai-platform-unification-r7/tasks/084-implement-typed-forms-5-priority-executors.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/client/code-pages/PlaybookBuilder/src/components/properties/__tests__/TypedConfigForm.test.tsx
Owners: @spaarke-dev

refactor(code-pages/r7): replace sprk_nodetype with sprk_executortype in canvas state (Wave 8 task 088, FR-26)
  projects/spaarke-ai-platform-unification-r7/tasks/088-replace-sprk-nodetype-canvas-state.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/client/code-pages/PlaybookBuilder/src/services/playbookNodeSync.ts
  src/client/code-pages/PlaybookBuilder/src/types/canvas.ts
  src/client/code-pages/PlaybookBuilder/src/types/playbook.ts
Owners: @spaarke-dev

feat(code-pages/r7): wire Playbook Library modal into LegalWorkspace ad-hoc launcher (Wave 9 task 096, FR-18)
  projects/spaarke-ai-platform-unification-r7/notes/handoffs/fr18-closure.md
  projects/spaarke-ai-platform-unification-r7/tasks/096-wire-library-modal-adhoc-launcher.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/solutions/LegalWorkspace/src/components/GetStarted/GetStartedExpandDialog.tsx
  src/solutions/LegalWorkspace/src/components/GetStarted/__tests__/BrowsePlaybooksCard.test.tsx
  src/solutions/LegalWorkspace/src/components/GetStarted/getStartedConfig.ts
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
  src/solutions/LegalWorkspace/src/sections/getStarted.registration.ts
Owners: @spaarke-dev

feat(pcf): DEF-003 PlaybookBuilder destination + widgetType fields on DeliverOutput nodes
  src/client/code-pages/PlaybookBuilder/src/components/properties/DeliverOutputForm.tsx
  src/client/code-pages/PlaybookBuilder/src/services/playbookNodeSync.ts
  src/client/code-pages/PlaybookBuilder/src/types/playbook.ts
Owners: @spaarke-dev
