Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(spaarkeai-compose-r1): SpaarkeAi ribbon build+deploy pipeline (SC4 unblocker)
  .gitignore
  projects/spaarkeai-compose-r1/notes/defer-issues.md
  scripts/Deploy-SpaarkeAiRibbon.ps1
  src/solutions/SpaarkeAi/package.json
  src/solutions/SpaarkeAi/scripts/build-ribbon.mjs
Owners: @spaarke-dev, @devops-team

fix(spaarkeai-compose-r1): wrap Path A ComposeWorkspace in PaneEventBusProvider
  src/solutions/SpaarkeAi/src/App.tsx
Owners: @spaarke-dev

fix(spaarkeai-compose-r1): correct sprk_document field names in ribbon handler
  src/solutions/SpaarkeAi/src/ribbon/DocumentComposeLaunch.ts
Owners: @spaarke-dev

fix(spaarkeai-compose-r1): decode/encode Compose Load+Save content as base64
  src/solutions/SpaarkeAi/src/components/compose/ComposeWorkspace.tsx
Owners: @spaarke-dev

feat(spaarkeai-compose-r1): Path A Summarize wiring + editor formatting UI
  src/client/shared/Spaarke.Compose.Components/src/index.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.tsx
  src/solutions/SpaarkeAi/src/components/compose/ComposeBannerStack.tsx
  src/solutions/SpaarkeAi/src/components/compose/ComposeWorkspace.tsx
Owners: @spaarke-dev

feat(spaarkeai-compose-r1): add Save button + richer Summarize error diagnostics
  src/solutions/SpaarkeAi/src/components/compose/ComposeToolbar.tsx
  src/solutions/SpaarkeAi/src/components/compose/ComposeWorkspace.tsx
Owners: @spaarke-dev

diag(spaarkeai-compose-r1): propagate ex.Message + TraceId in Compose 500 details
  src/server/api/Sprk.Bff.Api/Api/ComposeEndpoints.cs
  src/solutions/SpaarkeAi/src/components/compose/ComposeWorkspace.tsx
Owners: @spaarke-dev

fix(spaarkeai-compose-r1): correct sprk_document primary name field on promotion
  projects/spaarkeai-compose-r1/notes/summarize-fix-options.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
Owners: @spaarke-dev

docs(spaarkeai-compose-r1): supplement scope + phases 7-11 (three-pane pivot + streaming SSE)
  projects/spaarkeai-compose-r1/current-task.md
  projects/spaarkeai-compose-r1/plan.md
  projects/spaarkeai-compose-r1/spec-supplement-2026-07-01-three-pane-pivot.md
  projects/spaarkeai-compose-r1/tasks/091-refactor-composeworkspace-to-shared-lib.poml
  projects/spaarkeai-compose-r1/tasks/092-remove-path-a-special-case-in-app.poml
  projects/spaarkeai-compose-r1/tasks/093-swap-fu3-placeholder-for-real-composeworkspace.poml
  projects/spaarkeai-compose-r1/tasks/094-bff-docx-text-extractor.poml
  projects/spaarkeai-compose-r1/tasks/095-extend-iinvokeplaybookai-with-document-context.poml
  projects/spaarkeai-compose-r1/tasks/096-update-invokeplaybookai-and-null-impls.poml
  projects/spaarkeai-compose-r1/tasks/097-convert-compose-action-endpoint-to-sse.poml
  projects/spaarkeai-compose-r1/tasks/098-conversationpane-consumes-compose-summarize-sse.poml
  projects/spaarkeai-compose-r1/tasks/099-remove-summary-banner-from-composebannerstack.poml
  projects/spaarkeai-compose-r1/tasks/100-workspace-tab-suppression-compose-mode.poml
  projects/spaarkeai-compose-r1/tasks/101-modal-80x80.poml
  projects/spaarkeai-compose-r1/tasks/102-adr-013-amendment-widened-facade.poml
  projects/spaarkeai-compose-r1/tasks/110-project-wrap-up-expanded.poml
  projects/spaarkeai-compose-r1/tasks/TASK-INDEX.md
  projects/spaarkeai-compose-r3/README.md
  src/solutions/SpaarkeAi/src/utils/launch-resolver.ts
Owners: @spaarke-dev, @docs-team

checkpoint(spaarkeai-compose-r1): pre-compaction restart context
  projects/spaarkeai-compose-r1/current-task.md
Owners: @spaarke-dev

docs(ai-spaarke-ai-workspace-UI-r2): scaffold project + modal decision criteria standard
  .claude/CHANGELOG.md
  .claude/patterns/ui/INDEX.md
  .claude/patterns/ui/record-modal-selection.md
  CLAUDE.md
  docs/standards/MODAL-DECISION-CRITERIA.md
  projects/ai-spaarke-ai-workspace-UI-r2/design.md
  projects/ai-spaarke-ai-workspace-UI-r2/notes/researcher-iframe-main-aspx-2026-07-01.md
  projects/ai-spaarke-ai-workspace-UI-r2/spec.md
Owners: @spaarke-dev, @docs-team

feat(r7): Wave 12 Daily Briefing continuation — HighPriority table, LLM prompt tightening, 3 fixes
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/DailyBriefingApp.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/HighPrioritySection.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/TldrSection.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/briefingService.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/DailyBriefingEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/DailyBriefingCollector.cs
Owners: @spaarke-dev

docs(ai-spaarke-ai-workspace-UI-r2): project-pipeline artifacts + task decomposition
  projects/INDEX.md
  projects/ai-spaarke-ai-workspace-UI-r2/CLAUDE.md
  projects/ai-spaarke-ai-workspace-UI-r2/README.md
  projects/ai-spaarke-ai-workspace-UI-r2/current-task.md
  projects/ai-spaarke-ai-workspace-UI-r2/design.md
  projects/ai-spaarke-ai-workspace-UI-r2/plan.md
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/001-audit-existing-config-records.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/002-extend-datagrid-defaultRecordOpen.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/003-verify-widget-migrations.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/004-phase1-pr-and-merge.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/010-communications-config-record.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/011-communications-section-registration.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/012-communications-direct-widget.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/013-phase2-pr-and-merge.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/020-enumerate-smarttodomodal-callsites.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/021-migrate-smarttodomodal-callsites.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/022-delete-smarttodomodal-component.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/023-documentation-updates.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/024-phase3-pr-and-merge.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/090-project-wrap-up.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

checkpoint(r7): context-handoff — Wave 12 Daily Briefing continuation session
  projects/spaarke-ai-platform-unification-r7/current-task.md
Owners: @spaarke-dev

fix(r7/w12): Daily Briefing Add-to-ToDo — use PascalCase sprk_AssignedTo@odata.bind
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/useInlineTodoCreate.ts
Owners: @spaarke-dev

docs(r5): capture R7 W12 Daily Briefing UAT feedback for R5 design
  projects/spaarke-daily-update-service-r5/README.md
  projects/spaarke-daily-update-service-r5/notes/inbound-from-r7/01-llm-hallucinations-and-determinism.md
  projects/spaarke-daily-update-service-r5/notes/inbound-from-r7/02-monitored-for-schema.md
  projects/spaarke-daily-update-service-r5/notes/inbound-from-r7/03-code-review-followups.md
  projects/spaarke-daily-update-service-r5/notes/inbound-from-r7/04-latent-bugs.md
  projects/spaarke-daily-update-service-r5/notes/inbound-from-r7/05-deploy-safety-governance.md
  projects/spaarke-daily-update-service-r5/notes/inbound-from-r7/README.md
Owners: @spaarke-dev, @docs-team

feat(ai-spaarke-ai-workspace-UI-r2): Phase 1 — Layout 1 unification (tasks 001–003)
  projects/ai-spaarke-ai-workspace-UI-r2/current-task.md
  projects/ai-spaarke-ai-workspace-UI-r2/notes/config-record-audit.md
  projects/ai-spaarke-ai-workspace-UI-r2/notes/phase1-verification.md
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/001-audit-existing-config-records.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/002-extend-datagrid-defaultRecordOpen.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/003-verify-widget-migrations.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/__tests__/DataGrid.recordOpen.test.ts
  src/client/shared/Spaarke.UI.Components/src/types/DataGridConfiguration.ts
Owners: @spaarke-dev

feat(ai-spaarke-ai-workspace-UI-r2): Phase 2 — Communications workspace widget (tasks 010–012)
  projects/ai-spaarke-ai-workspace-UI-r2/notes/communications-config-record.md
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/010-communications-config-record.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/011-communications-section-registration.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/012-communications-direct-widget.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/register-workspace-widgets.ts
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/sectionMetadataCatalog.ts
  src/solutions/LegalWorkspace/src/sectionRegistry.ts
  src/solutions/LegalWorkspace/src/sections/communications.registration.ts
Owners: @spaarke-dev

feat(ai-spaarke-ai-workspace-UI-r2): Phase 3 — SmartTodoModal retirement + doc sharpening (020–023)
  .claude/CHANGELOG.md
  .claude/patterns/ui/record-modal-selection.md
  docs/architecture/SPAARKE-DATAGRID-FRAMEWORK-ARCHITECTURE.md
  docs/architecture/SPAARKEAI-DASHBOARD-AND-WIDGET-MODEL.md
  docs/guides/BUILD-A-NEW-WORKSPACE-WIDGET.md
  docs/standards/MODAL-DECISION-CRITERIA.md
  projects/ai-spaarke-ai-workspace-UI-r2/notes/smart-todo-modal-callsites.md
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/013-phase2-pr-and-merge.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/020-enumerate-smarttodomodal-callsites.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/021-migrate-smarttodomodal-callsites.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/022-delete-smarttodomodal-component.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/023-documentation-updates.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/TASK-INDEX.md
  src/solutions/LegalWorkspace/src/sections/todo.registration.ts
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/components/Modal/SmartTodoModal.tsx
  src/solutions/SmartTodo/src/components/Modal/__tests__/buildTodoIframeUrl.test.ts
  src/solutions/SmartTodo/src/components/Modal/buildTodoIframeUrl.ts
  src/solutions/SmartTodo/src/components/Modal/index.ts
  src/solutions/SmartTodo/src/components/index.ts
Owners: @spaarke-dev, @docs-team

chore(ai-spaarke-ai-workspace-UI-r2): wrap-up (task 090) — test-diet PASS + lessons-learned + README status
  projects/INDEX.md
  projects/ai-spaarke-ai-workspace-UI-r2/README.md
  projects/ai-spaarke-ai-workspace-UI-r2/notes/lessons-learned.md
  projects/ai-spaarke-ai-workspace-UI-r2/notes/success-criteria-verification.md
  projects/ai-spaarke-ai-workspace-UI-r2/notes/test-diet-report.md
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/024-phase3-pr-and-merge.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/090-project-wrap-up.poml
  projects/ai-spaarke-ai-workspace-UI-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(r7/w12): PlaybookLookupService — retrieve by primary key when input is a GUID
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookLookupService.cs
Owners: @spaarke-dev

fix(r7/w12): AnalysisEndpoints.ExecuteAnalysis — pre-load DocumentContext
  src/server/api/Sprk.Bff.Api/Api/Ai/AnalysisEndpoints.cs
Owners: @spaarke-dev

fix(r7/w12): AnalysisEndpoints — populate GraphDriveId/GraphItemId in Metadata
  src/server/api/Sprk.Bff.Api/Api/Ai/AnalysisEndpoints.cs
Owners: @spaarke-dev

fix(r7/w12): expose {{document.*}} in playbook template context
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookTemplateContextBuilder.cs
Owners: @spaarke-dev

feat(ai-spaarke-ai-workspace-UI-r2 follow-up): 4 System Workspace Layouts for entity-view parity
  scripts/system-layouts.json
Owners: @spaarke-dev, @devops-team

fix(r7/w12): implement GetEntitySetNameAsync in DataverseWebApiService
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
Owners: @spaarke-dev

docs(r5): capture Choice-field-in-UpdateRecord bug from R7 W12 UAT
  projects/spaarke-daily-update-service-r5/notes/inbound-from-r7/06-choice-field-coercion-in-updaterecord.md
  projects/spaarke-daily-update-service-r5/notes/inbound-from-r7/README.md
Owners: @spaarke-dev, @docs-team

diag(r7/w12): log PATCH payload in UpdateRecordFieldsAsync failure
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
Owners: @spaarke-dev

fix(r7/w12): GetEntitySetNameAsync — use $filter form, not (LogicalName='X') accessor
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
Owners: @spaarke-dev

feat(ai-spaarke-ai-workspace-UI-r2 follow-up): DataGrid framework findings + tactical fix + R2 project brief
  docs/guides/DATAGRID-FRAMEWORK-CONFIGURATION-GUIDE.md
  projects/spaarke-dataset-grid-framework-r2/README.md
  projects/spaarke-dataset-grid-framework-r2/design.md
  src/solutions/LegalWorkspace/src/sections/communications.registration.ts
  src/solutions/LegalWorkspace/src/sections/documents.registration.ts
  src/solutions/LegalWorkspace/src/sections/invoices.registration.ts
  src/solutions/LegalWorkspace/src/sections/matters.registration.ts
  src/solutions/LegalWorkspace/src/sections/projects.registration.ts
  src/solutions/LegalWorkspace/src/sections/workAssignments.registration.ts
Owners: @spaarke-dev, @docs-team

fix(r7/w12): GetEntitySetNameAsync — deterministic pluralization, skip metadata query
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
Owners: @spaarke-dev

feat(ai-spaarke-ai-workspace-UI-r2 follow-up): bump maxHeight → 80vh + Issue 12 (SpaarkeAi build-time alias gotcha)
  projects/spaarke-dataset-grid-framework-r2/README.md
  projects/spaarke-dataset-grid-framework-r2/design.md
  src/solutions/LegalWorkspace/src/sections/communications.registration.ts
  src/solutions/LegalWorkspace/src/sections/documents.registration.ts
  src/solutions/LegalWorkspace/src/sections/invoices.registration.ts
  src/solutions/LegalWorkspace/src/sections/matters.registration.ts
  src/solutions/LegalWorkspace/src/sections/projects.registration.ts
  src/solutions/LegalWorkspace/src/sections/workAssignments.registration.ts
Owners: @spaarke-dev, @docs-team

feat(ai-spaarke-ai-workspace-UI-r2 follow-up): 4 System Workspace Layouts for entity-view parity (#531)
  docs/guides/DATAGRID-FRAMEWORK-CONFIGURATION-GUIDE.md
  projects/spaarke-dataset-grid-framework-r2/README.md
  projects/spaarke-dataset-grid-framework-r2/design.md
  scripts/system-layouts.json
  src/solutions/LegalWorkspace/src/sections/communications.registration.ts
  src/solutions/LegalWorkspace/src/sections/documents.registration.ts
  src/solutions/LegalWorkspace/src/sections/invoices.registration.ts
  src/solutions/LegalWorkspace/src/sections/matters.registration.ts
  src/solutions/LegalWorkspace/src/sections/projects.registration.ts
  src/solutions/LegalWorkspace/src/sections/workAssignments.registration.ts
Owners: @spaarke-dev, @docs-team, @devops-team

fix(r7/w12): dual-shape node output exposure in Layer 1 template context
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookTemplateContextBuilder.cs
Owners: @spaarke-dev

chore(ai-spaarke-ai-workspace-UI-r2): add portfolio pointer + mark Complete
  projects/ai-spaarke-ai-workspace-UI-r2/README.md
Owners: @spaarke-dev, @docs-team

fix(spaarkeai-compose-r1): adopt WorkspaceTab schema in hideTabBar test (post-master-merge)
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspaceTabManagerComponent.hideTabBar.test.tsx
Owners: @spaarke-dev

fix(r7/w12): Layer 1 skips nested-JSON string values (preserve executor-local render)
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookTemplateContextBuilder.cs
Owners: @spaarke-dev

chore(ai-spaarke-ai-workspace-UI-r2): add portfolio pointer + mark Complete (#533)
  projects/ai-spaarke-ai-workspace-UI-r2/README.md
Owners: @spaarke-dev, @docs-team

docs(r7/w12): Linear AI Consumer architecture + migration plan
  docs/architecture/SPAARKE-LINEAR-AI-CONSUMER-ARCHITECTURE.md
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/notes/wave12-linear-consumer-migration.md
  projects/spaarke-ai-platform-unification-r7/notes/wave12-linear-consumer-tasks.md
Owners: @spaarke-dev, @docs-team

Revert "fix(r7/w12): GetEntitySetNameAsync — deterministic pluralization, skip metadata query"
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
Owners: @spaarke-dev
