Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

docs(ai-redesign-r1): audit §13 — revert TL-004/006/008/010 deactivation (boot reconciliation caught registered-handler drift); O-6 filed
  projects/spaarke-ai-architecture-redesign-r1/notes/track-b-completion-audit.md
Owners: @spaarke-dev

test(ai-redesign-r1): adjudicate the 4 'KNOWN' failures (all assertion drift from other projects' merges) + Scriban.Signed CVE override — suite fully green 7451P/0F
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/KnowledgeDeploymentServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Narrators/DailyBriefingCollectorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PlaybookTemplateContextBuilderTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/SessionFilesCleanupJobTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Sprk.Bff.Api.Tests.csproj
Owners: @spaarke-dev

chore(ai-redesign-r1): .archived marker — project Completed 2026-07-08, Issue #550 closed
  projects/spaarke-ai-architecture-redesign-r1/.archived
Owners: @spaarke-dev

fix(chat): SessionFilesCleanupJob probes Redis with InstanceName prefix — live sessions no longer evictable (#559)
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionFilesCleanupJob.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/SessionFilesCleanupJobTests.cs
Owners: @spaarke-dev

chore(bff): delete legacy /playbook-builder wwwroot SPA + serving plumbing — BA editor ships as Dataverse web resource
  src/server/api/Sprk.Bff.Api/Api/SecurityHeadersMiddleware.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/MiddlewarePipelineExtensions.cs
  src/server/api/Sprk.Bff.Api/wwwroot/playbook-builder/assets/flow-vendor-BHHmI87s.js
  src/server/api/Sprk.Bff.Api/wwwroot/playbook-builder/assets/flow-vendor-BHHmI87s.js.map
  src/server/api/Sprk.Bff.Api/wwwroot/playbook-builder/assets/fluent-vendor-CmJVTK5h.js
  src/server/api/Sprk.Bff.Api/wwwroot/playbook-builder/assets/fluent-vendor-CmJVTK5h.js.map
  src/server/api/Sprk.Bff.Api/wwwroot/playbook-builder/assets/index-BWeOj5bW.js
  src/server/api/Sprk.Bff.Api/wwwroot/playbook-builder/assets/index-BWeOj5bW.js.map
  src/server/api/Sprk.Bff.Api/wwwroot/playbook-builder/assets/index-BZV40eAE.css
  src/server/api/Sprk.Bff.Api/wwwroot/playbook-builder/assets/react-vendor-BWFb42Va.js
  src/server/api/Sprk.Bff.Api/wwwroot/playbook-builder/assets/react-vendor-BWFb42Va.js.map
  src/server/api/Sprk.Bff.Api/wwwroot/playbook-builder/index.html
  src/server/api/Sprk.Bff.Api/wwwroot/playbook-builder/vite.svg
Owners: @spaarke-dev

fix(spaarkeai): add @tiptap/* + docx deps — Deploy SpaarkeAi workflow failing since 2026-07-05
  src/solutions/SpaarkeAi/package-lock.json
  src/solutions/SpaarkeAi/package.json
Owners: @spaarke-dev

fix(SRFR-056): BFF field-mapping schema realignment — lookup-based queries via sprk_recordtype_ref
  projects/set-regarding-and-field-mapping-resolver-r1/notes/task-056-bff-push-schema-fix.md
  src/client/pcf/RegardingResolver/RegardingResolver/RegardingResolverApp.tsx
  src/client/pcf/RegardingResolver/__tests__/RegardingResolverApp.test.tsx
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
Owners: @spaarke-dev

fix(SRFR-057): RegardingResolver v1.4.6 — two-phase auto-detect writes (version anchors + bundle + notes)
  projects/set-regarding-and-field-mapping-resolver-r1/notes/task-057-autodetect-sync-write-fix.md
  src/client/pcf/RegardingResolver/RegardingResolver/ControlManifest.Input.xml
  src/client/pcf/RegardingResolver/RegardingResolver/index.ts
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/ControlManifest.xml
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/bundle.js
  src/client/pcf/RegardingResolver/Solution/pack.ps1
  src/client/pcf/RegardingResolver/Solution/solution.xml
  src/client/pcf/RegardingResolver/package.json
Owners: @spaarke-dev

chore(pcf): bump VisualHost 1.4.27 / TrackingFieldTrio 1.0.5 for spaarkedev1 deploy
  src/client/pcf/TrackingFieldTrio/ControlManifest.Input.xml
  src/client/pcf/TrackingFieldTrio/Solution/Controls/sprk_Spaarke.Controls.TrackingFieldTrio/ControlManifest.xml
  src/client/pcf/TrackingFieldTrio/Solution/Controls/sprk_Spaarke.Controls.TrackingFieldTrio/bundle.js
  src/client/pcf/TrackingFieldTrio/Solution/pack.ps1
  src/client/pcf/TrackingFieldTrio/Solution/solution.xml
  src/client/pcf/TrackingFieldTrio/TrackingFieldTrioApp.tsx
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
Owners: @spaarke-dev

test(adr-013): FR-C6 facade-boundary guard — direct AI-internal injection outside Services/Ai fails CI (documented exceptions grandfathered)
  .github/workflows/ci-tier1-blocking.yml
  tests/Spaarke.ArchTests/ADR013_AiBoundaryTests.cs
Owners: @spaarke-dev, @devops-team

docs(spaarkeai-compose-r2): revise design for R7 LinearConsumers + R1 AI dispatch retirement
  projects/spaarkeai-compose-r2/design.md
Owners: @spaarke-dev

feat(bff): shield-coverage telemetry + Content Safety managed-identity auth (AI-ARCHITECTURE assessment recs 2a/3)
  scripts/kql/ai-metering/README.md
  scripts/kql/ai-metering/shield-coverage.kql
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiSafetyModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/ContentSafetyAuthHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/ContentSafetyTokenProvider.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/PromptShieldResult.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/PromptShieldService.cs
  src/server/api/Sprk.Bff.Api/Telemetry/AiTelemetry.cs
  src/server/api/Sprk.Bff.Api/appsettings.Development.json.template
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/ContentSafetyAuthHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/SafetyPerimeterE2ETests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Telemetry/ShieldCoverageTelemetryTests.cs
Owners: @spaarke-dev, @docs-team, @devops-team

docs(visual-host-create-button-r1): unblock — #549/#525 merged, realign to post-#549 resolver API
  projects/visual-host-create-button-r1/design.md
  projects/visual-host-create-button-r1/notes/pipeline-paused.md
  projects/visual-host-create-button-r1/spec.md
Owners: @spaarke-dev

docs(SRFR-090): wrap-up — lessons-learned + test-diet report
  projects/set-regarding-and-field-mapping-resolver-r1/notes/lessons-learned.md
  projects/set-regarding-and-field-mapping-resolver-r1/notes/test-diet-report.md
Owners: @spaarke-dev

docs(visual-host-create-button-r1): generate project artifacts (README, plan, CLAUDE.md)
  projects/visual-host-create-button-r1/CLAUDE.md
  projects/visual-host-create-button-r1/README.md
  projects/visual-host-create-button-r1/current-task.md
  projects/visual-host-create-button-r1/notes/debug/.gitkeep
  projects/visual-host-create-button-r1/notes/drafts/.gitkeep
  projects/visual-host-create-button-r1/notes/field-manifests/.gitkeep
  projects/visual-host-create-button-r1/notes/handoffs/.gitkeep
  projects/visual-host-create-button-r1/notes/spikes/.gitkeep
  projects/visual-host-create-button-r1/plan.md
  projects/visual-host-create-button-r1/tasks/.gitkeep
Owners: @spaarke-dev, @docs-team

docs(compose-r2): alignment revision — re-based on redesign-r1 as-built + r2 core charter v0.3 (operator-ratified A1-E5)
  projects/spaarkeai-compose-r2/design.md
Owners: @spaarke-dev

chore(visual-host-create-button-r1): remove premature project scaffolding
  projects/visual-host-create-button-r1/CLAUDE.md
  projects/visual-host-create-button-r1/README.md
  projects/visual-host-create-button-r1/current-task.md
  projects/visual-host-create-button-r1/notes/debug/.gitkeep
  projects/visual-host-create-button-r1/notes/drafts/.gitkeep
  projects/visual-host-create-button-r1/notes/field-manifests/.gitkeep
  projects/visual-host-create-button-r1/notes/handoffs/.gitkeep
  projects/visual-host-create-button-r1/notes/pipeline-paused.md
  projects/visual-host-create-button-r1/notes/spikes/.gitkeep
  projects/visual-host-create-button-r1/plan.md
  projects/visual-host-create-button-r1/spec.md
  projects/visual-host-create-button-r1/tasks/.gitkeep
Owners: @spaarke-dev, @docs-team

feat(skills): Sonnet-5 execution model tiering across task pipeline
  .claude/CHANGELOG.md
  .claude/skills/project-pipeline/SKILL.md
  .claude/skills/project-setup/references/claudemd-template.md
  .claude/skills/task-create/SKILL.md
  .claude/skills/task-execute/SKILL.md
Owners: @spaarke-dev

feat(skills): Sonnet-5 execution model tiering across task pipeline
  .claude/CHANGELOG.md
  .claude/skills/project-pipeline/SKILL.md
  .claude/skills/project-setup/references/claudemd-template.md
  .claude/skills/task-create/SKILL.md
  .claude/skills/task-execute/SKILL.md
Owners: @spaarke-dev

docs(ai-architecture-redesign-r2): design v0.4 corrections + spec + pre-spec notes
  projects/spaarke-ai-architecture-redesign-r2/design.md
  projects/spaarke-ai-architecture-redesign-r2/notes/d-f0-eval-family-spec.md
  projects/spaarke-ai-architecture-redesign-r2/notes/policy-v2-origin-classification-decision-tree.md
  projects/spaarke-ai-architecture-redesign-r2/spec.md
Owners: @spaarke-dev

docs(visual-host-create-button-r1): project-pipeline — artifacts + task decomposition
  projects/visual-host-create-button-r1/CLAUDE.md
  projects/visual-host-create-button-r1/README.md
  projects/visual-host-create-button-r1/current-task.md
  projects/visual-host-create-button-r1/notes/debug/.gitkeep
  projects/visual-host-create-button-r1/notes/drafts/.gitkeep
  projects/visual-host-create-button-r1/notes/field-manifests/.gitkeep
  projects/visual-host-create-button-r1/notes/handoffs/.gitkeep
  projects/visual-host-create-button-r1/notes/spikes/.gitkeep
  projects/visual-host-create-button-r1/plan.md
  projects/visual-host-create-button-r1/tasks/.gitkeep
  projects/visual-host-create-button-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(visual-host-create-button-r1): generate 17 POML task files
  projects/visual-host-create-button-r1/tasks/001-discovery-schema-manifest-validation.poml
  projects/visual-host-create-button-r1/tasks/002-schema-regardingrecordnumber-event-kpi.poml
  projects/visual-host-create-button-r1/tasks/010-configloader-chartdefinition-columns.poml
  projects/visual-host-create-button-r1/tasks/011-wizardregistry-module.poml
  projects/visual-host-create-button-r1/tasks/012-plus-button-cardchrome-visualhostroot.poml
  projects/visual-host-create-button-r1/tasks/013-entitycreationservice-multibind.poml
  projects/visual-host-create-button-r1/tasks/014-eventservice-resolver-migration.poml
  projects/visual-host-create-button-r1/tasks/015-wire-event-key-deploy-smoke.poml
  projects/visual-host-create-button-r1/tasks/020-build-wizardfollowons-module.poml
  projects/visual-host-create-button-r1/tasks/021-migrate-createrecordwizard-followons.poml
  projects/visual-host-create-button-r1/tasks/022-migrate-creatematterwizard-followons.poml
  projects/visual-host-create-button-r1/tasks/023-migrate-workassignmentwizard-followons.poml
  projects/visual-host-create-button-r1/tasks/024-migrate-summarizefileswizard-followons.poml
  projects/visual-host-create-button-r1/tasks/030-create-invoice-wizard.poml
  projects/visual-host-create-button-r1/tasks/040-create-kpiassessment-wizard.poml
  projects/visual-host-create-button-r1/tasks/050-final-deploy-three-wizard-smoke.poml
  projects/visual-host-create-button-r1/tasks/090-project-wrap-up.poml
Owners: @spaarke-dev

docs(ai-redesign-r1): G-P4 item 6 (publish size) ACCEPTED by operator 2026-07-08 — gate fully closed
  projects/spaarke-ai-architecture-redesign-r1/notes/g-p4-evidence.md
Owners: @spaarke-dev

chore(ai-redesign-r1): land the .archived marker on master (was committed to the project branch post-merge; devops-project-archive idempotency heal)
  projects/spaarke-ai-architecture-redesign-r1/.archived
Owners: @spaarke-dev

refactor(procedures): retire AIP layer + Sonnet-5 optimization + /goal wave loop
  .claude/CHANGELOG.md
  .claude/protocols/AIP-001-task-execution.md
  .claude/protocols/AIP-002-poml-format.md
  .claude/protocols/AIP-003-human-escalation.md
  .claude/protocols/INDEX.md
  .claude/skills/adr-check/SKILL.md
  .claude/skills/ai-procedure-maintenance/SKILL.md
  .claude/skills/code-review/SKILL.md
  .claude/skills/project-pipeline/SKILL.md
  .claude/skills/project-setup/references/claudemd-template.md
  .claude/skills/task-create/SKILL.md
  .claude/skills/task-execute/SKILL.md
  CLAUDE.md
  CROSS-REFERENCE-MAP.md
  docs/procedures/context-recovery.md
Owners: @spaarke-dev, @docs-team

docs(ai-architecture-redesign-r2): validate spec against merged procedures
  projects/spaarke-ai-architecture-redesign-r2/spec.md
Owners: @spaarke-dev

feat(ai-architecture-redesign-r2): initialize project artifacts (pipeline Step 2)
  projects/spaarke-ai-architecture-redesign-r2/CLAUDE.md
  projects/spaarke-ai-architecture-redesign-r2/README.md
  projects/spaarke-ai-architecture-redesign-r2/current-task.md
  projects/spaarke-ai-architecture-redesign-r2/plan.md
Owners: @spaarke-dev, @docs-team

docs(ai-architecture-redesign-r2): refine memory model per operator review
  projects/spaarke-ai-architecture-redesign-r2/CLAUDE.md
  projects/spaarke-ai-architecture-redesign-r2/README.md
  projects/spaarke-ai-architecture-redesign-r2/plan.md
  projects/spaarke-ai-architecture-redesign-r2/spec.md
Owners: @spaarke-dev, @docs-team

docs(spaarkeai-compose-r2): scope-lock design + generate spec
  projects/spaarkeai-compose-r2/design.md
  projects/spaarkeai-compose-r2/spec.md
Owners: @spaarke-dev

chore(ai-architecture-redesign-r2): portfolio pointer → Project Issue #581
  projects/spaarke-ai-architecture-redesign-r2/README.md
Owners: @spaarke-dev, @docs-team

docs(spaarkeai-compose-r2): project-pipeline planning artifacts
  projects/spaarkeai-compose-r2/CLAUDE.md
  projects/spaarkeai-compose-r2/README.md
  projects/spaarkeai-compose-r2/current-task.md
  projects/spaarkeai-compose-r2/notes/.gitkeep
  projects/spaarkeai-compose-r2/notes/HANDOFF-core-r2-A0-contract-requirements.md
  projects/spaarkeai-compose-r2/notes/debug/.gitkeep
  projects/spaarkeai-compose-r2/notes/dependency-map.md
  projects/spaarkeai-compose-r2/notes/drafts/.gitkeep
  projects/spaarkeai-compose-r2/notes/handoffs/.gitkeep
  projects/spaarkeai-compose-r2/notes/spikes/.gitkeep
  projects/spaarkeai-compose-r2/plan.md
  projects/spaarkeai-compose-r2/tasks/.gitkeep
  projects/spaarkeai-compose-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(ai-architecture-redesign-r2): memory posture ruling + Compose r2 A0 coordination
  projects/spaarke-ai-architecture-redesign-r2/CLAUDE.md
  projects/spaarke-ai-architecture-redesign-r2/README.md
  projects/spaarke-ai-architecture-redesign-r2/notes/HANDOFF-core-r2-A0-contract-requirements.md
  projects/spaarke-ai-architecture-redesign-r2/notes/HANDOFF-response-to-compose-r2.md
  projects/spaarke-ai-architecture-redesign-r2/notes/SEAM-STATUS.md
  projects/spaarke-ai-architecture-redesign-r2/plan.md
  projects/spaarke-ai-architecture-redesign-r2/spec.md
  projects/spaarke-ai-architecture-redesign-r2/tasks/010-contract-compose-disposition-v1.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/011-contract-outcomecard-v1.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/012-contract-gatedecision-v2.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/013-contract-traceevent-v1.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/014-contract-jobawarecompletionstate-v1.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/016-contract-memoryitem-v1.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/017-seam-publication-ordering-cross-project-obligation.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/020-triple-twin-validator-hoist.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/032-confirmation-policy-v2-gate-engine.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/037-ui-action-truthfulness-client-ack-gating.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/038-decision-traceability-live-narration-server-toolchain-read.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/051-governance-envelope-on-memoryfact.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/057-memory-write-governed-side-effect-explicit-only.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/065-adr-042-memory-architecture-governance-authoring.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/069-g-r2-b-browser-uat-script.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/090-project-wrap-up.poml
Owners: @spaarke-dev, @docs-team

chore(ai-architecture-redesign-r2): rename task 057 to match AI-initiated posture
  projects/spaarke-ai-architecture-redesign-r2/tasks/057-memory-write-ai-initiated-provenance-tagged.poml
Owners: @spaarke-dev

fix(spaarkeai-compose-r2): drop @v1 version suffix from catalog action codes
  projects/spaarkeai-compose-r2/CLAUDE.md
  projects/spaarkeai-compose-r2/tasks/040-action-explain-clause.poml
  projects/spaarkeai-compose-r2/tasks/041-action-compare-playbook.poml
  projects/spaarkeai-compose-r2/tasks/042-action-draft-alternative.poml
  projects/spaarkeai-compose-r2/tasks/043-action-summarize-word-changes.poml
  projects/spaarkeai-compose-r2/tasks/044-action-defined-terms.poml
Owners: @spaarke-dev

feat(ai-architecture-redesign-r2): execute Phase 0 wave (tasks 001-004)
  projects/spaarke-ai-architecture-redesign-r2/current-task.md
  projects/spaarke-ai-architecture-redesign-r2/notes/business-slice-determinism.md
  projects/spaarke-ai-architecture-redesign-r2/notes/discovery-obligations.md
  projects/spaarke-ai-architecture-redesign-r2/notes/prompt-assembly-baseline.md
  projects/spaarke-ai-architecture-redesign-r2/notes/r1-p4-reconciliation.md
  projects/spaarke-ai-architecture-redesign-r2/spec.md
  projects/spaarke-ai-architecture-redesign-r2/tasks/001-r1-p4-close-reconciliation.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/002-measure-first-prompt-assembly-baseline.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/003-business-slice-determinism-check.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/004-discovery-obligations-confirm.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/TASK-INDEX.md
  tests/integration/contract/Api/Ai/BusinessSliceDeterminismContractTests.cs
Owners: @spaarke-dev

docs(daily-update-r5): design v0.2 + spec.md (operator review complete)
  projects/spaarke-daily-update-service-r5/design.md
  projects/spaarke-daily-update-service-r5/spec.md
Owners: @spaarke-dev

feat(ai-architecture-redesign-r2): A0 contracts 010-015 (6 walking-skeleton seams)
  projects/spaarke-ai-architecture-redesign-r2/current-task.md
  projects/spaarke-ai-architecture-redesign-r2/notes/SEAM-STATUS.md
  projects/spaarke-ai-architecture-redesign-r2/notes/contextenvelope-v1-contract.md
  projects/spaarke-ai-architecture-redesign-r2/notes/contract-compose-disposition-v1.md
  projects/spaarke-ai-architecture-redesign-r2/notes/contract-traceevent-v1.md
  projects/spaarke-ai-architecture-redesign-r2/notes/gatedecision-v2-contract.md
  projects/spaarke-ai-architecture-redesign-r2/notes/jobawarecompletionstate-v1-contract.md
  projects/spaarke-ai-architecture-redesign-r2/notes/outcome-card-v1-contract.md
  projects/spaarke-ai-architecture-redesign-r2/tasks/010-contract-compose-disposition-v1.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/011-contract-outcomecard-v1.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/012-contract-gatedecision-v2.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/013-contract-traceevent-v1.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/014-contract-jobawarecompletionstate-v1.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/015-contract-contextenvelope-v1.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Models/Ai/Chat/SessionLedgerEntries.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/ComposeDisposition.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/ContextEnvelope.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/GateDecisionV2.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/JobAwareCompletionState.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/OutcomeCard.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/TraceEvent.cs
  tests/integration/contract/Api/Ai/ComposeDispositionContractTests.cs
  tests/integration/contract/Api/Ai/ContextEnvelopeContractTests.cs
  tests/integration/contract/Api/Ai/GateDecisionV2ContractTests.cs
  tests/integration/contract/Api/Ai/JobAwareCompletionStateContractTests.cs
  tests/integration/contract/Api/Ai/OutcomeCardContractTests.cs
  tests/integration/contract/Api/Ai/TraceEventContractTests.cs
Owners: @spaarke-dev

feat(daily-update-r5): initialize project — plan, artifacts, 26 tasks
  projects/INDEX.md
  projects/spaarke-daily-update-service-r5/CLAUDE.md
  projects/spaarke-daily-update-service-r5/README.md
  projects/spaarke-daily-update-service-r5/current-task.md
  projects/spaarke-daily-update-service-r5/plan.md
  projects/spaarke-daily-update-service-r5/tasks/001-odata-naming-convention-doc.poml
  projects/spaarke-daily-update-service-r5/tasks/002-odata-bind-grep-audit.poml
  projects/spaarke-daily-update-service-r5/tasks/010-remove-per-channel-narrate-leg.poml
  projects/spaarke-daily-update-service-r5/tasks/011-deterministic-item-row-rendering.poml
  projects/spaarke-daily-update-service-r5/tasks/012-retire-brief-narrate-channel-action.poml
  projects/spaarke-daily-update-service-r5/tasks/013-deterministic-tldr-scaffolding.poml
  projects/spaarke-daily-update-service-r5/tasks/014-binary-anchor-resolution.poml
  projects/spaarke-daily-update-service-r5/tasks/015-groundedness-guardrail.poml
  projects/spaarke-daily-update-service-r5/tasks/016-eval-family-mixed-item-corpus.poml
  projects/spaarke-daily-update-service-r5/tasks/017-phase-a-deploy-uat.poml
  projects/spaarke-daily-update-service-r5/tasks/020-scaffold-prototype-harness.poml
  projects/spaarke-daily-update-service-r5/tasks/021-design-iterations.poml
  projects/spaarke-daily-update-service-r5/tasks/022-operator-harness-signoff.poml
  projects/spaarke-daily-update-service-r5/tasks/023-production-port.poml
  projects/spaarke-daily-update-service-r5/tasks/024-phase-d-deploy-uat.poml
  projects/spaarke-daily-update-service-r5/tasks/030-coerce-field-value-choice.poml
  projects/spaarke-daily-update-service-r5/tasks/031-jps-validate-choice-check.poml
  projects/spaarke-daily-update-service-r5/tasks/032-fieldmapping-sweep.poml
  projects/spaarke-daily-update-service-r5/tasks/033-collaborator-scope-fix.poml
  projects/spaarke-daily-update-service-r5/tasks/034-collector-dedup.poml
  projects/spaarke-daily-update-service-r5/tasks/035-client-helper-jest-tests.poml
  projects/spaarke-daily-update-service-r5/tasks/036-collapse-queryhighpriority-helpers.poml
  projects/spaarke-daily-update-service-r5/tasks/037-promise-cache-primary-contact.poml
  projects/spaarke-daily-update-service-r5/tasks/038-phase-b-deploy-uat.poml
  projects/spaarke-daily-update-service-r5/tasks/040-deploy-convention.poml
  projects/spaarke-daily-update-service-r5/tasks/090-project-wrap-up.poml
  projects/spaarke-daily-update-service-r5/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(spaarkeai-compose-r2): W0 spike wave complete (6 spikes) + dispatch/edit/DOCX corrections
  projects/spaarkeai-compose-r2/current-task.md
  projects/spaarkeai-compose-r2/design.md
  projects/spaarkeai-compose-r2/notes/spikes/edit-batch-prototype.cs
  projects/spaarkeai-compose-r2/notes/spikes/edit-validator-prototype.cs
  projects/spaarkeai-compose-r2/notes/spikes/spike-0-dispatch-path.md
  projects/spaarkeai-compose-r2/notes/spikes/spike-2-edit-validator.md
  projects/spaarkeai-compose-r2/notes/spikes/spike-3-edit-batch.md
  projects/spaarkeai-compose-r2/notes/spikes/spike-4-semantic-appendix.md
  projects/spaarkeai-compose-r2/notes/spikes/spike-5-openxml-write.md
  projects/spaarkeai-compose-r2/notes/spikes/spike-7-checkout-collision.md
  projects/spaarkeai-compose-r2/spec.md
  projects/spaarkeai-compose-r2/tasks/000-spike-dispatch-path.poml
  projects/spaarkeai-compose-r2/tasks/002-spike-edit-validator.poml
  projects/spaarkeai-compose-r2/tasks/003-spike-edit-batch.poml
  projects/spaarkeai-compose-r2/tasks/004-spike-semantic-appendix.poml
  projects/spaarkeai-compose-r2/tasks/005-spike-openxml-write.poml
  projects/spaarkeai-compose-r2/tasks/007-spike-checkout-collision.poml
  projects/spaarkeai-compose-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(daily-update-r5): validation wave — tasks 001, 030, 035, 040
  docs/standards/INDEX.md
  docs/standards/ODATA-NAMING-CONVENTION.md
  projects/spaarke-daily-update-service-r5/current-task.md
  projects/spaarke-daily-update-service-r5/notes/030-choice-coercion-and-publish-size.md
  projects/spaarke-daily-update-service-r5/notes/deploy-convention.md
  projects/spaarke-daily-update-service-r5/notes/task-035-client-helper-jest-tests.md
  projects/spaarke-daily-update-service-r5/tasks/001-odata-naming-convention-doc.poml
  projects/spaarke-daily-update-service-r5/tasks/030-coerce-field-value-choice.poml
  projects/spaarke-daily-update-service-r5/tasks/035-client-helper-jest-tests.poml
  projects/spaarke-daily-update-service-r5/tasks/040-deploy-convention.poml
  projects/spaarke-daily-update-service-r5/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/HighPrioritySection.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/NarrativeCitedText.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/useBriefingRender.ts
  src/client/shared/Spaarke.DailyBriefing.Components/test/HighPrioritySection.badges.test.ts
  src/client/shared/Spaarke.DailyBriefing.Components/test/NarrativeCitedText.buildSegments.test.ts
  src/client/shared/Spaarke.DailyBriefing.Components/test/useBriefingRender.isEmptyResponse.test.ts
  src/client/shared/Spaarke.DailyBriefing.Components/test/useInlineTodoCreate.test.ts
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/UpdateRecordNodeExecutor.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/PlaybookExecutionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/UpdateRecordNodeExecutorTests.cs
Owners: @spaarke-dev, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
