Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

feat(release-procedure): add Deploy-Release.ps1 master orchestrator
  projects/spaarke-production-release-procedure/tasks/023-deploy-release.poml
  projects/spaarke-production-release-procedure/tasks/TASK-INDEX.md
  scripts/Deploy-Release.ps1
Owners: @spaarke-dev, @devops-team

feat(release-procedure): add environment registry and build/deploy orchestrators
  config/environments.json
  projects/spaarke-production-release-procedure/tasks/020-environment-registry.poml
  projects/spaarke-production-release-procedure/tasks/021-build-all-client-components.poml
  projects/spaarke-production-release-procedure/tasks/022-deploy-all-web-resources.poml
  projects/spaarke-production-release-procedure/tasks/TASK-INDEX.md
  scripts/Build-AllClientComponents.ps1
  scripts/Deploy-AllWebResources.ps1
Owners: @spaarke-dev, @devops-team

feat(release-procedure): add /deploy-new-release skill and register in repo
  .claude/skills/INDEX.md
  .claude/skills/deploy-new-release/SKILL.md
  CLAUDE.md
  projects/spaarke-production-release-procedure/tasks/030-deploy-new-release-skill.poml
  projects/spaarke-production-release-procedure/tasks/031-register-skill.poml
  projects/spaarke-production-release-procedure/tasks/032-update-scripts-readme.poml
  projects/spaarke-production-release-procedure/tasks/TASK-INDEX.md
  scripts/README.md
Owners: @spaarke-dev, @docs-team

chore(release-procedure): update task 040 status after dry-run validation
  projects/spaarke-production-release-procedure/tasks/040-dry-run-dev.poml
  projects/spaarke-production-release-procedure/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(release-procedure): document SpaarkeMaster solution and updated deployment model
  docs/procedures/production-release.md
Owners: @spaarke-dev, @docs-team

fix(auth): stop clearCache from wiping shared sessionStorage token
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
  src/client/shared/Spaarke.Auth/src/SpaarkeAuthProvider.ts
Owners: @spaarke-dev

chore(pcf): bump RelatedDocumentCount v1.3.1 + SemanticSearch v1.1.31
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/ControlManifest.Input.xml
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/RelatedDocumentCount.tsx
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/ControlManifest.xml
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
  src/client/pcf/RelatedDocumentCount/Solution/pack.ps1
  src/client/pcf/RelatedDocumentCount/Solution/solution.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

chore(pcf): bump RelatedDocumentCount to v1.21.0 (above Dataverse 1.20.9)
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/ControlManifest.Input.xml
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/RelatedDocumentCount.tsx
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/ControlManifest.xml
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
  src/client/pcf/RelatedDocumentCount/Solution/pack.ps1
  src/client/pcf/RelatedDocumentCount/Solution/solution.xml
Owners: @spaarke-dev

feat(release-procedure): add deployment tracks model and update to 386 components
  docs/procedures/production-release.md
Owners: @spaarke-dev, @docs-team

feat(release-procedure): add Build-SpaarkeMaster.ps1 script
  scripts/Build-SpaarkeMaster.ps1
Owners: @spaarke-dev, @devops-team

fix(viewer): correct grid cell overflow + improve graph hub positioning
  src/client/code-pages/DocumentRelationshipViewer/src/components/DocumentGraph.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/components/RelationshipGrid.tsx
Owners: @spaarke-dev

docs(ribbon): add CrmParameter reference, lessons learned, and patterns
  .claude/skills/ribbon-edit/SKILL.md
  docs/guides/RIBBON-WORKBENCH-HOW-TO-ADD-BUTTON.md
Owners: @spaarke-dev, @docs-team

docs(mcp): update design to GO + add Dataverse Skills + MCP reference guides
  projects/mcp-dataverse-implementation/design.md
  projects/mcp-dataverse-implementation/notes/reference-dataverse-mcp.md
  projects/mcp-dataverse-implementation/notes/reference-dataverse-skills.md
  projects/mcp-dataverse-implementation/spec.md
Owners: @spaarke-dev

feat(registration): add environment tracking and app ID to admin links
  src/server/api/Sprk.Bff.Api/Configuration/DemoProvisioningOptions.cs
  src/server/api/Sprk.Bff.Api/Endpoints/RegistrationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/DemoProvisioningService.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
Owners: @spaarke-dev

feat(mcp): complete Phase 1 — Dataverse MCP server configured and validated
  .mcp.json
  projects/mcp-dataverse-implementation/current-task.md
  projects/mcp-dataverse-implementation/notes/reference-dataverse-mcp.md
Owners: @spaarke-dev

docs: add environment provisioning app design and spec
  projects/spaarke-environment-provisioning-app/design.md
  projects/spaarke-environment-provisioning-app/spec.md
Owners: @spaarke-dev

feat(mcp): complete Phase 2 — Dataverse Skills plugin installed
  projects/mcp-dataverse-implementation/current-task.md
  projects/mcp-dataverse-implementation/notes/reference-dataverse-skills.md
Owners: @spaarke-dev

fix(release-procedure): remove dead OpenWorkspace ribbon command, update PCF count to 10
  .gitignore
  docs/procedures/production-release.md
  scripts/Build-SpaarkeMaster.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

feat(environment-provisioning): initialize project — artifacts + 17 tasks
  projects/spaarke-environment-provisioning-app/CLAUDE.md
  projects/spaarke-environment-provisioning-app/README.md
  projects/spaarke-environment-provisioning-app/current-task.md
  projects/spaarke-environment-provisioning-app/plan.md
  projects/spaarke-environment-provisioning-app/tasks/001-create-environment-schema-script.poml
  projects/spaarke-environment-provisioning-app/tasks/002-run-schema-script-dev.poml
  projects/spaarke-environment-provisioning-app/tasks/003-create-entity-form.poml
  projects/spaarke-environment-provisioning-app/tasks/004-create-entity-views.poml
  projects/spaarke-environment-provisioning-app/tasks/005-add-sitemap-entry.poml
  projects/spaarke-environment-provisioning-app/tasks/006-add-lookup-to-registration.poml
  projects/spaarke-environment-provisioning-app/tasks/007-seed-environment-records.poml
  projects/spaarke-environment-provisioning-app/tasks/010-create-environment-dto.poml
  projects/spaarke-environment-provisioning-app/tasks/011-create-environment-service.poml
  projects/spaarke-environment-provisioning-app/tasks/012-register-service-di.poml
  projects/spaarke-environment-provisioning-app/tasks/013-refactor-approve-endpoint.poml
  projects/spaarke-environment-provisioning-app/tasks/014-handle-malformed-license-json.poml
  projects/spaarke-environment-provisioning-app/tasks/015-refactor-provisioning-service.poml
  projects/spaarke-environment-provisioning-app/tasks/016-update-admin-email-source.poml
  projects/spaarke-environment-provisioning-app/tasks/020-ribbon-remove-environment-picker.poml
  projects/spaarke-environment-provisioning-app/tasks/021-ribbon-form-lookup-validation.poml
  projects/spaarke-environment-provisioning-app/tasks/022-ribbon-grid-validation.poml
  projects/spaarke-environment-provisioning-app/tasks/030-remove-environments-from-options.poml
  projects/spaarke-environment-provisioning-app/tasks/031-refactor-registration-dataverse-service-url.poml
  projects/spaarke-environment-provisioning-app/tasks/032-update-documentation.poml
  projects/spaarke-environment-provisioning-app/tasks/040-e2e-testing-checklist.poml
  projects/spaarke-environment-provisioning-app/tasks/090-project-wrap-up.poml
  projects/spaarke-environment-provisioning-app/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(mcp): add Dataverse MCP integration guide + update CLAUDE.md and procedures
  .claude/skills/INDEX.md
  CLAUDE.md
  docs/guides/DATAVERSE-MCP-INTEGRATION-GUIDE.md
  docs/guides/INDEX.md
  docs/procedures/AI-CODING-PROCEDURES-GUIDE.md
Owners: @spaarke-dev, @docs-team

feat(skills): integrate MCP tools into 4 Dataverse-related skills
  .claude/skills/dataverse-create-schema/SKILL.md
  .claude/skills/dataverse-deploy/SKILL.md
  .claude/skills/jps-scope-refresh/SKILL.md
  .claude/skills/project-pipeline/SKILL.md
Owners: @spaarke-dev

feat(environment-provisioning): implement BFF API + ribbon JS refactoring
  projects/spaarke-environment-provisioning-app/current-task.md
  projects/spaarke-environment-provisioning-app/tasks/001-create-environment-schema-script.poml
  projects/spaarke-environment-provisioning-app/tasks/TASK-INDEX.md
  src/client/webresources/js/sprk_registrationribbon.js
  src/server/api/Sprk.Bff.Api/Endpoints/RegistrationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/RegistrationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/DataverseEnvironmentRecord.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/DataverseEnvironmentService.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/RegistrationDataverseService.cs
Owners: @spaarke-dev

feat(environment-provisioning): deprecate Environments config, cleanup DTOs
  projects/spaarke-environment-provisioning-app/current-task.md
  src/server/api/Sprk.Bff.Api/Configuration/DemoProvisioningOptions.cs
  src/server/api/Sprk.Bff.Api/Endpoints/RegistrationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Registration/ApproveRequestDto.cs
Owners: @spaarke-dev

chore: update task index statuses
  projects/spaarke-environment-provisioning-app/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(environment-provisioning): multi-URL support for cross-environment operations
  src/server/api/Sprk.Bff.Api/Services/Registration/DemoProvisioningService.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/RegistrationDataverseService.cs
Owners: @spaarke-dev

docs(environment-provisioning): update registration + Azure setup guides
  docs/guides/AZURE-SETUP-SELF-SERVICE-REGISTRATION.md
  docs/guides/SPAARKE-SELF-SERVICE-USER-REGISTRATION.md
  projects/spaarke-environment-provisioning-app/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore(deps): update Microsoft.Agents.Hosting.AspNetCore from rc1 to 1.0.1
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
Owners: @spaarke-dev

feat(environment-provisioning): deploy Dataverse schema + fix column names
  projects/spaarke-environment-provisioning-app/tasks/TASK-INDEX.md
  scripts/Create-DataverseEnvironmentSchema.ps1
  src/server/api/Sprk.Bff.Api/Services/Registration/DataverseEnvironmentRecord.cs
Owners: @spaarke-dev, @devops-team

chore: mark Dataverse deployment tasks complete, BFF deployed
  projects/spaarke-environment-provisioning-app/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(registration): change CC to BCC on acknowledgement and welcome emails
  src/server/api/Sprk.Bff.Api/Services/Registration/RegistrationEmailService.cs
Owners: @spaarke-dev

fix(release-procedure): update Build-SpaarkeMaster to match validated config
  scripts/Build-SpaarkeMaster.ps1
Owners: @spaarke-dev, @devops-team

chore(deploy): update api-publish binaries with Copilot integration fixes
  deploy/api-publish/AdaptiveCards.dll
  deploy/api-publish/Microsoft.Agents.Authentication.dll
  deploy/api-publish/Microsoft.Agents.Builder.dll
  deploy/api-publish/Microsoft.Agents.Connector.dll
  deploy/api-publish/Microsoft.Agents.Core.dll
  deploy/api-publish/Microsoft.Agents.Hosting.AspNetCore.dll
  deploy/api-publish/Microsoft.Agents.Storage.Transcript.dll
  deploy/api-publish/Microsoft.Agents.Storage.dll
  deploy/api-publish/Microsoft.AspNetCore.Authentication.JwtBearer.dll
  deploy/api-publish/Microsoft.AspNetCore.Authorization.dll
  deploy/api-publish/Microsoft.AspNetCore.Metadata.dll
  deploy/api-publish/Microsoft.Extensions.Configuration.Abstractions.dll
  deploy/api-publish/Microsoft.Extensions.Configuration.Binder.dll
  deploy/api-publish/Microsoft.Extensions.Configuration.dll
  deploy/api-publish/Microsoft.Extensions.DependencyInjection.dll
  deploy/api-publish/Microsoft.Extensions.Diagnostics.Abstractions.dll
  deploy/api-publish/Microsoft.Extensions.Diagnostics.dll
  deploy/api-publish/Microsoft.Extensions.Http.dll
  deploy/api-publish/Microsoft.Extensions.Logging.dll
  deploy/api-publish/Microsoft.Extensions.Options.ConfigurationExtensions.dll
  deploy/api-publish/Newtonsoft.Json.dll
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.deps.json
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
  deploy/api-publish/System.Configuration.ConfigurationManager.dll
  deploy/api-publish/System.Security.Cryptography.ProtectedData.dll
  deploy/api-publish/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
Owners: @spaarke-dev

docs(guides): consolidate ENV + PROD deployment guides into SPAARKE-DEPLOYMENT-GUIDE.md
  .claude/skills/azure-deploy/SKILL.md
  docs/adr/ADR-027-subscription-isolation-and-dataverse-solution-management.md
  docs/guides/ENVIRONMENT-DEPLOYMENT-GUIDE.md
  docs/guides/HOW-TO-SETUP-CONTAINERTYPES-AND-CONTAINERS.md
  docs/guides/M365-COPILOT-ADMIN-GUIDE.md
  docs/guides/M365-COPILOT-DEPLOYMENT-GUIDE.md
  docs/guides/PRODUCTION-DEPLOYMENT-GUIDE.md
  docs/guides/SPAARKE-DEPLOYMENT-GUIDE.md
  projects/spaarke-production-release-procedure/working/deployment-guide-consolidation-plan.md
Owners: @spaarke-dev, @docs-team

chore(WorkspaceLayoutWizard): add missing package-lock.json
  src/solutions/WorkspaceLayoutWizard/package-lock.json
Owners: @spaarke-dev

fix(bff/DI): make AI-dependent service registrations conditional on DocumentIntelligence:Enabled
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/FinanceModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/JobProcessingModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/WorkersModule.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Workers/Office/OfficeWorkersModule.cs
Owners: @spaarke-dev

fix(SpeDocumentViewer): restore PCF source, switch to @spaarke/auth, ship v1.0.16 to dev1 + demo
  scripts/Reconcile-DemoEnvironment.ps1
  src/client/pcf/SpeDocumentViewer/SpeDocumentViewer.pcfproj
  src/client/pcf/SpeDocumentViewer/control/AuthService.ts
  src/client/pcf/SpeDocumentViewer/control/BffClient.ts
  src/client/pcf/SpeDocumentViewer/control/ControlManifest.Input.xml
  src/client/pcf/SpeDocumentViewer/control/SpeDocumentViewer.tsx
  src/client/pcf/SpeDocumentViewer/control/authInit.ts
  src/client/pcf/SpeDocumentViewer/control/components/CheckInDialog.tsx
  src/client/pcf/SpeDocumentViewer/control/components/CheckoutStatusBadge.tsx
  src/client/pcf/SpeDocumentViewer/control/components/DiscardConfirmDialog.tsx
  src/client/pcf/SpeDocumentViewer/control/components/Toolbar.tsx
  src/client/pcf/SpeDocumentViewer/control/css/SpeDocumentViewer.css
  src/client/pcf/SpeDocumentViewer/control/hooks/useCheckoutFlow.ts
  src/client/pcf/SpeDocumentViewer/control/hooks/useDocumentPreview.ts
  src/client/pcf/SpeDocumentViewer/control/index.ts
  src/client/pcf/SpeDocumentViewer/control/strings/SpeDocumentViewer.1033.resx
  src/client/pcf/SpeDocumentViewer/control/types.ts
  src/client/pcf/SpeDocumentViewer/package-lock.json
  src/client/pcf/SpeDocumentViewer/package.json
  src/client/pcf/SpeDocumentViewer/solution/.gitignore
  src/client/pcf/SpeDocumentViewer/solution/Controls/sprk_Spaarke.SpeDocumentViewer/ControlManifest.xml
  src/client/pcf/SpeDocumentViewer/solution/Controls/sprk_Spaarke.SpeDocumentViewer/bundle.js
  src/client/pcf/SpeDocumentViewer/solution/Controls/sprk_Spaarke.SpeDocumentViewer/css/SpeDocumentViewer.css
  src/client/pcf/SpeDocumentViewer/solution/Controls/sprk_Spaarke.SpeDocumentViewer/strings/SpeDocumentViewer.1033.resx
  src/client/pcf/SpeDocumentViewer/solution/SpeDocumentViewerSolution.cdsproj
  src/client/pcf/SpeDocumentViewer/solution/[Content_Types].xml
  src/client/pcf/SpeDocumentViewer/solution/customizations.xml
  src/client/pcf/SpeDocumentViewer/solution/pack.ps1
  src/client/pcf/SpeDocumentViewer/solution/solution.xml
  src/client/pcf/SpeDocumentViewer/solution/src/Controls/Spaarke.SpeDocumentViewer/ControlManifest.xml
  src/client/pcf/SpeDocumentViewer/solution/src/Controls/Spaarke.SpeDocumentViewer/bundle.js.LICENSE.txt
  src/client/pcf/SpeDocumentViewer/solution/src/Controls/Spaarke.SpeDocumentViewer/css/SpeDocumentViewer.css
  src/client/pcf/SpeDocumentViewer/solution/src/Controls/Spaarke.SpeDocumentViewer/strings/SpeDocumentViewer.1033.resx
  src/client/pcf/SpeDocumentViewer/solution/src/Other/Customizations.xml
  src/client/pcf/SpeDocumentViewer/solution/src/Other/Relationships.xml
  src/client/pcf/SpeDocumentViewer/solution/src/Other/Solution.xml
  src/client/pcf/SpeDocumentViewer/tsconfig.json
Owners: @spaarke-dev, @devops-team

feat(semantic-search): Phase A — Associated Only default, server-side threshold, top-8, chunk dedup count
  .claude/skills/bff-deploy/SKILL.md
  scripts/Deploy-BffApi.ps1
  scripts/Deploy-WizardCommandsJs.ps1
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/FilterPanel.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ResultsList.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/hooks/useFilters.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/hooks/useSemanticSearch.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/services/SemanticSearchApiService.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
  src/client/webresources/js/sprk_wizard_commands.js
  src/server/api/Sprk.Bff.Api/Models/Ai/SemanticSearch/SearchOptions.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/SemanticSearch/SemanticSearchRequest.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/SemanticSearch/SemanticSearchService.cs
Owners: @spaarke-dev, @devops-team

feat(ui-components): Phase B foundation — multi-select hook, DocumentEmailWizard, DocumentToolbar, userLookup, communicationApi
  src/client/shared/Spaarke.UI.Components/src/components/DocumentEmailWizard/DocumentEmailWizard.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DocumentEmailWizard/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/DocumentToolbar/DocumentToolbar.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DocumentToolbar/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/index.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useDocumentMultiSelect.ts
  src/client/shared/Spaarke.UI.Components/src/services/communicationApi.ts
  src/client/shared/Spaarke.UI.Components/src/services/index.ts
  src/client/shared/Spaarke.UI.Components/src/services/userLookup.ts
Owners: @spaarke-dev

fix(bff/semantic-search): skip MinScore filter when query is empty + handle Linux deploy fallback
  scripts/Deploy-BffApi.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/SemanticSearch/SemanticSearchService.cs
Owners: @spaarke-dev, @devops-team

feat(email-wizard): wire DocumentEmailWizard into PCF + run AI Summary via Document Profile playbook
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ResultsList.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/types/props.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/types/search.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
  src/client/shared/Spaarke.Auth/src/SpaarkeAuthProvider.ts
  src/client/shared/Spaarke.UI.Components/src/components/DocumentEmailWizard/DocumentEmailWizard.tsx
  src/server/api/Sprk.Bff.Api/Models/Ai/SemanticSearch/SearchResult.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/SemanticSearch/SemanticSearchService.cs
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
