Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

docs(record-header): pipeline planning complete — plan + 30 tasks + parity baseline
  projects/INDEX.md
  projects/record-header-and-notepad-r2/current-task.md
  projects/record-header-and-notepad-r2/notes/matter-parity-baseline.md
  projects/record-header-and-notepad-r2/notes/matter-record-header.jpg
  projects/record-header-and-notepad-r2/plan.md
  projects/record-header-and-notepad-r2/tasks/001-layoutjson-ergonomics-spike.poml
  projects/record-header-and-notepad-r2/tasks/002-capture-matter-parity-baseline.poml
  projects/record-header-and-notepad-r2/tasks/010-renderer-datefield.poml
  projects/record-header-and-notepad-r2/tasks/011-renderer-numberfield.poml
  projects/record-header-and-notepad-r2/tasks/012-renderer-booleanfield.poml
  projects/record-header-and-notepad-r2/tasks/013-optionsetfield-edit-mode.poml
  projects/record-header-and-notepad-r2/tasks/014-textfield-emdash-alignment.poml
  projects/record-header-and-notepad-r2/tasks/015-renderer-barrel-and-contract-tests.poml
  projects/record-header-and-notepad-r2/tasks/020-metadata-targets-and-cache.poml
  projects/record-header-and-notepad-r2/tasks/021-shared-getxrmpage.poml
  projects/record-header-and-notepad-r2/tasks/022-hoist-record-header-fields.poml
  projects/record-header-and-notepad-r2/tasks/023-oob-lookup-cell.poml
  projects/record-header-and-notepad-r2/tasks/024-toolbar-slot-autohide-and-agreement.poml
  projects/record-header-and-notepad-r2/tasks/030-config-schema-and-guard.poml
  projects/record-header-and-notepad-r2/tasks/031-resolve-header-config.poml
  projects/record-header-and-notepad-r2/tasks/032-shell-columns-prop.poml
  projects/record-header-and-notepad-r2/tasks/033-recordheader-pcf-control.poml
  projects/record-header-and-notepad-r2/tasks/034-sparkle-recordsummary-wiring.poml
  projects/record-header-and-notepad-r2/tasks/040-fix-rs1-matter-summary-select.poml
  projects/record-header-and-notepad-r2/tasks/041-fix-rs2-topic-registry-target.poml
  projects/record-header-and-notepad-r2/tasks/050-bind-project-header.poml
  projects/record-header-and-notepad-r2/tasks/051-bind-workassignment-header.poml
  projects/record-header-and-notepad-r2/tasks/060-bind-invoice-header.poml
  projects/record-header-and-notepad-r2/tasks/061-bind-event-header.poml
  projects/record-header-and-notepad-r2/tasks/070-bind-agreement-header.poml
  projects/record-header-and-notepad-r2/tasks/080-migrate-matter-header.poml
  projects/record-header-and-notepad-r2/tasks/081-retire-matterheaderpcf.poml
  projects/record-header-and-notepad-r2/tasks/085-rewrite-authoring-guide.poml
  projects/record-header-and-notepad-r2/tasks/086-refresh-record-header-pattern.poml
  projects/record-header-and-notepad-r2/tasks/090-project-wrap-up.poml
  projects/record-header-and-notepad-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

checkpoint: SESSION 9 END — 203a foundation + deep review + master merge complete
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

task(uac-r2 046): Secure Project Owner role — 1 privilege at User depth, not 7 at BU depth
  docs/guides/SECURE-PROJECT-ENVIRONMENT-SETUP.md
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/design.md
  projects/unified-access-control-r2/notes/task-046-secure-project-owner-role.md
  projects/unified-access-control-r2/spec.md
  projects/unified-access-control-r2/tasks/046-secure-project-owner-role.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(spe-admin): pin the Key Vault credential to the UAMI; repair the audit-log contract
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/AuditLogEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/SpeAdminModule.cs
  src/solutions/SpeAdminApp/src/App.tsx
  src/solutions/SpeAdminApp/src/components/layout/PageErrorBoundary.tsx
  src/solutions/SpeAdminApp/src/services/speApiClient.ts
  src/solutions/SpeAdminApp/src/types/spe.ts
Owners: @spaarke-dev

fix(pcf): RS-1 — repair live Matter header HTTP 400 (v1.0.21)
  projects/record-header-and-notepad-r2/current-task.md
  projects/record-header-and-notepad-r2/notes/rs1-hotfix-decision.md
  projects/record-header-and-notepad-r2/tasks/040-fix-rs1-matter-summary-select.poml
  projects/record-header-and-notepad-r2/tasks/TASK-INDEX.md
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/ControlManifest.xml
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/bundle.js
  src/client/pcf/MatterHeader/Solution/pack.ps1
  src/client/pcf/MatterHeader/Solution/solution.xml
  src/client/pcf/MatterHeader/__tests__/MatterHeaderView.test.tsx
  src/client/pcf/MatterHeader/control/ControlManifest.Input.xml
  src/client/pcf/MatterHeader/control/MatterHeaderView.tsx
  src/client/pcf/MatterHeader/control/version.ts
  src/client/pcf/MatterHeader/package-lock.json
  src/client/pcf/MatterHeader/tsconfig.json
Owners: @spaarke-dev

task(uac-r2 046b): scope the role to all 3 securable entities; trace the MDA/PCF document bypass
  docs/guides/SECURE-PROJECT-ENVIRONMENT-SETUP.md
  projects/unified-access-control-r2/CLAUDE.md
  projects/unified-access-control-r2/design.md
  projects/unified-access-control-r2/notes/task-046-secure-project-owner-role.md
  projects/unified-access-control-r2/spec.md
Owners: @spaarke-dev, @docs-team

fix(ai): RS-2 — retarget topic-registry to sprk_recordsummary; file output-mapping defect
  projects/record-header-and-notepad-r2/notes/issues/ISSUE-output-mapping-unreachable.md
  projects/record-header-and-notepad-r2/notes/issues/README.md
  projects/record-header-and-notepad-r2/notes/matter-parity-baseline.md
  projects/record-header-and-notepad-r2/notes/rs2-registry-fix.md
  projects/record-header-and-notepad-r2/tasks/014-textfield-emdash-alignment.poml
  projects/record-header-and-notepad-r2/tasks/041-fix-rs2-topic-registry-target.poml
  projects/record-header-and-notepad-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/__tests__/BooleanField.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/__tests__/NumberField.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/__tests__/TextField.emdash.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/fields/BooleanField.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/fields/NumberField.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/fields/OptionSetField.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/fields/TextField.tsx
  src/client/shared/Spaarke.UI.Components/src/services/IDataverseClient.ts
  src/client/shared/Spaarke.UI.Components/src/services/XrmDataverseClient.ts
  src/client/shared/Spaarke.UI.Components/src/services/__tests__/XrmDataverseClient.test.ts
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/InvoiceExtractionJobHandler.cs
Owners: @spaarke-dev, @docs-team

fix(spe-admin): repair four more envelope/shape mismatches found by UAT round 2
  src/solutions/SpeAdminApp/src/components/search/ContainerResultsGrid.tsx
  src/solutions/SpeAdminApp/src/components/search/ItemResultsGrid.tsx
  src/solutions/SpeAdminApp/src/components/security/SecureScoreCard.tsx
  src/solutions/SpeAdminApp/src/services/speApiClient.ts
  src/solutions/SpeAdminApp/src/types/spe.ts
Owners: @spaarke-dev

docs(provisioning): author task 205 sub-phase (auth-v4 runtime-contract integration, 6 POMLs)
  projects/customer-provisioning-orchestration-r1/tasks/205a-a38-h4-kv-manifest-secret-free-omit.poml
  projects/customer-provisioning-orchestration-r1/tasks/205b-a42-ficonly-consume-reconcile.poml
  projects/customer-provisioning-orchestration-r1/tasks/205c-a39-h4b-per-env-settings.poml
  projects/customer-provisioning-orchestration-r1/tasks/205d-a41-h10-uami-dual-app-user.poml
  projects/customer-provisioning-orchestration-r1/tasks/205e-a43-deploy-allindexes-gate.poml
  projects/customer-provisioning-orchestration-r1/tasks/205f-a44-template-guard-and-doc-align.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(provisioning): task 205 A38 re-scope + A42 landed (S1∥ mini-wave bundle)
  projects/customer-provisioning-orchestration-r1/notes/auth-v4-integration-draft-punch-rows.md
  projects/customer-provisioning-orchestration-r1/notes/decisions/205b-a42-fic-parity-contract.md
  projects/customer-provisioning-orchestration-r1/tasks/205a-a38-h4-kv-manifest-secret-free-omit.poml
  projects/customer-provisioning-orchestration-r1/tasks/205a-a38a-h4-kv-manifest-secret-free-omit.poml
  projects/customer-provisioning-orchestration-r1/tasks/205g-a38b-customer-bicep-secret-free-gate.poml
  projects/customer-provisioning-orchestration-r1/tasks/205h-a38c-operator-script-marker-gates.poml
  projects/customer-provisioning-orchestration-r1/tasks/205i-a44-5-h7-l2-worker-credential-seam.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/CrossTenantFicRefusedException.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/EntraAppRegRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/FicExchangeOutcomeClassifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/GraphAppRegistrationProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/H3EntraAppRegHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/IEntraAppRegProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Models/InterStepState.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/A42FicReconciliationTests.cs
Owners: @spaarke-dev

checkpoint: task 052 complete; corrected publish-size baseline + method
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

feat(ui): Wave 1 renderers (DateField/NumberField/BooleanField) + OptionSetField edit + metadata targets
  projects/record-header-and-notepad-r2/notes/decisions/010-datefield-deviations.md
  projects/record-header-and-notepad-r2/notes/decisions/wave1-sideeffects-tree-shaking.md
  projects/record-header-and-notepad-r2/tasks/010-renderer-datefield.poml
  projects/record-header-and-notepad-r2/tasks/013-optionsetfield-edit-mode.poml
  projects/record-header-and-notepad-r2/tasks/014-textfield-emdash-alignment.poml
  src/client/shared/Spaarke.UI.Components/package-lock.json
  src/client/shared/Spaarke.UI.Components/package.json
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/__tests__/DateField.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/__tests__/OptionSetField.edit.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/fields/DateField.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/fields/NumberField.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/fields/OptionSetField.tsx
Owners: @spaarke-dev

feat(compose,ai): tasks 053 + 061 — bounded confirmable fallback; lazy re-index
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/052-text-search-demotion-decisions.md
  projects/spaarkeai-compose-r8/notes/track-b-placement-justification.md
  projects/spaarkeai-compose-r8/notes/wording-differs-elimination-trace.md
  projects/spaarkeai-compose-r8/tasks/053-bounded-confirmable-fallback.poml
  projects/spaarkeai-compose-r8/tasks/061-lazy-reindex-cleanup.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeBannerStack.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeBannerStack.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeReanchorBanner.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeReanchorBanner.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/anchorlessReplayFallback.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/index.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.anchor.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.anchorlessFallback.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.wholeDocument.test.tsx
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiPersistenceModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionFilesCleanupJob.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionFilesHotIndexAccess.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/RecallSessionFileHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/LinearConsumers/SessionFileTextSource.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionFileRehydrationService.cs
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useEditSupersession.test.tsx
  tests/Spaarke.ArchTests/SessionFilesCleanupScopeTests.cs
  tests/integration/contract/Catalog/CatalogToolDescriptionParityContractTests.cs
  tests/integration/seam/Ai/SessionFileLazyReindexSeamTests.cs
  tests/integration/seam/Ai/SessionFilesCleanupHotIndexOnlySeamTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/SessionFilesCleanupJobTests.cs
Owners: @spaarke-dev

feat(ui): Wave 2 — renderer barrel + contract suite, shared getXrmPage, toolbar slot auto-hide
  projects/record-header-and-notepad-r2/notes/decisions/024-toolbar-autohide-agreement-deviations.md
  projects/record-header-and-notepad-r2/notes/issues/ISSUE-recordheader-integration-test-stale.md
  projects/record-header-and-notepad-r2/notes/issues/README.md
  projects/record-header-and-notepad-r2/notes/renderer-contract-reconciliation.md
  projects/record-header-and-notepad-r2/tasks/015-renderer-barrel-and-contract-tests.poml
  projects/record-header-and-notepad-r2/tasks/021-shared-getxrmpage.poml
  projects/record-header-and-notepad-r2/tasks/024-toolbar-slot-autohide-and-agreement.poml
  projects/record-header-and-notepad-r2/tasks/TASK-INDEX.md
  src/client/pcf/MatterHeader/__tests__/MatterHeaderView.test.tsx
  src/client/pcf/MatterHeader/control/MatterHeaderView.tsx
  src/client/pcf/RegardingResolver/package-lock.json
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/__tests__/rendererContract.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/fields/OptionSetField.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/fields/TextareaField.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/fields/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/index.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/__tests__/toolbarLaunchDefaults.test.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/__tests__/useRecordHeaderToolbarActions.test.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/toolbarLaunchDefaults.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useRecordHeaderToolbarActions.ts
  src/client/shared/Spaarke.UI.Components/src/services/FieldMappingHandler.ts
  src/client/shared/Spaarke.UI.Components/src/utils/__tests__/xrmContext.test.ts
  src/client/shared/Spaarke.UI.Components/src/utils/xrmContext.ts
Owners: @spaarke-dev, @docs-team

checkpoint: SESSION 10 END — task 205 5 of 9 sub-phases landed (A38 split + A42 + A44.5)
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

feat(ui): Wave 3 — hoist useRecordHeaderFields, config schema + guard, shell columns prop
  projects/record-header-and-notepad-r2/tasks/022-hoist-record-header-fields.poml
  projects/record-header-and-notepad-r2/tasks/030-config-schema-and-guard.poml
  projects/record-header-and-notepad-r2/tasks/032-shell-columns-prop.poml
  projects/record-header-and-notepad-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/RecordHeaderShell.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/__tests__/RecordHeaderShell.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/types.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/__tests__/useRecordHeaderFields.test.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/index.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useRecordHeaderFields.ts
  src/client/shared/Spaarke.UI.Components/src/types/RecordHeaderConfiguration.ts
  src/client/shared/Spaarke.UI.Components/src/types/__tests__/RecordHeaderConfiguration.test.ts
  src/client/shared/Spaarke.UI.Components/src/types/index.ts
Owners: @spaarke-dev

plan(uac-r2): Phase 0c Secure Documents — build plan + tasks 070-076 (broker-only decision)
  projects/unified-access-control-r2/SECURE-DOCUMENTS-BUILD-PLAN.md
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/tasks/070-gate-semantic-search.poml
  projects/unified-access-control-r2/tasks/071-retire-obo-drive-routes.poml
  projects/unified-access-control-r2/tasks/072-gate-share-link.poml
  projects/unified-access-control-r2/tasks/073-authorize-container-upload.poml
  projects/unified-access-control-r2/tasks/074-archtest-route-authorization-gate.poml
  projects/unified-access-control-r2/tasks/075-record-aware-container-resolver.poml
  projects/unified-access-control-r2/tasks/076-route-callsites-through-resolver.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(ui): Wave 4 — OOB lookup picker + resolveHeaderConfig tiered resolver
  projects/record-header-and-notepad-r2/tasks/023-oob-lookup-cell.poml
  projects/record-header-and-notepad-r2/tasks/031-resolve-header-config.poml
  projects/record-header-and-notepad-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/__tests__/LookupField.edit.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/__tests__/configResolution.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/__tests__/rendererContract.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/configResolution.ts
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/fields/LookupField.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/index.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useRecordHeaderFields.ts
  src/client/shared/Spaarke.UI.Components/src/utils/xrmContext.ts
Owners: @spaarke-dev

docs(record-header): mark 023 + 031 complete on the task board
  projects/record-header-and-notepad-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(pcf): add Spaarke.Records.RecordHeader control (v1.1.0) — BLOCKED on NFR-02
  projects/record-header-and-notepad-r2/notes/decisions/033-recordheader-pcf-bundle-nfr02.md
  projects/record-header-and-notepad-r2/tasks/033-recordheader-pcf-control.poml
  src/client/pcf/MatterHeader/control/MatterHeaderView.tsx
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/ControlManifest.xml
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/bundle.js
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/styles.css
  src/client/pcf/RecordHeader/Solution/[Content_Types].xml
  src/client/pcf/RecordHeader/Solution/customizations.xml
  src/client/pcf/RecordHeader/Solution/pack.ps1
  src/client/pcf/RecordHeader/Solution/solution.xml
  src/client/pcf/RecordHeader/__mocks__/fileMock.js
  src/client/pcf/RecordHeader/__tests__/RecordHeaderView.test.tsx
  src/client/pcf/RecordHeader/control/ControlManifest.Input.xml
  src/client/pcf/RecordHeader/control/RecordHeaderHost.tsx
  src/client/pcf/RecordHeader/control/RecordHeaderView.tsx
  src/client/pcf/RecordHeader/control/entityContext.ts
  src/client/pcf/RecordHeader/control/index.ts
  src/client/pcf/RecordHeader/control/useHeaderFormMetadata.ts
  src/client/pcf/RecordHeader/control/version.ts
  src/client/pcf/RecordHeader/featureconfig.json
  src/client/pcf/RecordHeader/jest.config.js
  src/client/pcf/RecordHeader/jest.setup.ts
  src/client/pcf/RecordHeader/package-lock.json
  src/client/pcf/RecordHeader/package.json
  src/client/pcf/RecordHeader/tsconfig.json
  src/client/pcf/RecordHeader/tsconfig.test.json
  src/client/pcf/RecordHeader/webpack.config.js
  src/client/shared/Spaarke.UI.Components/src/hooks/useRecordHeaderFields.ts
Owners: @spaarke-dev

feat(compose): tasks 053b + 064 — owner decisions A and B
  projects/spaarkeai-compose-r8/notes/053b-null-identifier-decisions.md
  projects/spaarkeai-compose-r8/notes/064-orphan-retirement-decisions.md
  projects/spaarkeai-compose-r8/notes/wording-differs-elimination-trace.md
  projects/spaarkeai-compose-r8/tasks/053b-null-identifier-refusal.poml
  projects/spaarkeai-compose-r8/tasks/064-retire-orphaned-edit-batch-surface.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeAnchorResolution.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/anchorlessReplayFallback.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.nullIdentifier.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.ts
  src/server/api/Sprk.Bff.Api/Api/ComposeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ComposeModule.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeEditAnchorPass.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeEditBatch.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeEditModels.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeEditTransaction.cs
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/composeResultFormat.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/composeResultFormat.ts
  tests/Spaarke.ArchTests/ADR013_ComposeFacadeTests.cs
  tests/integration/seam/Compose/ComposeEditActionAnchorContractSeamTests.cs
  tests/integration/seam/Compose/ComposeEditAnchorPassSeamTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeEditBatchTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeEditTransactionTests.cs
Owners: @spaarke-dev

checkpoint: 053b + 064 complete; session gotchas recorded
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

fix(pcf): NFR-02 root cause was duplicated Fluent internals, not the date picker
  projects/record-header-and-notepad-r2/notes/decisions/033-nfr02-root-cause-corrected.md
  src/client/pcf/RecordHeader/webpack.config.js
Owners: @spaarke-dev

checkpoint(uac-r2): Wave 1 handoff — two owner decisions block the PR
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

fix(deps): pin @fluentui/react-components to the platform version 9.68.0
  src/client/pcf/MatterHeader/package-lock.json
  src/client/pcf/MatterHeader/package.json
  src/client/pcf/RecordHeader/package-lock.json
  src/client/pcf/RecordHeader/package.json
  src/client/shared/Spaarke.UI.Components/package-lock.json
  src/client/shared/Spaarke.UI.Components/package.json
Owners: @spaarke-dev

chore(pcf): repack MatterHeader v1.0.21 with the optimized bundle
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/bundle.js
Owners: @spaarke-dev

feat(ai): task 062 — durable session-file retention + server-authoritative availability
  projects/spaarkeai-compose-r8/notes/track-b-retention-availability.md
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiPersistenceModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/ISessionPersistenceService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/RestoredSession.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionFileBlobStore.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionFileRehydrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionFileRetentionJob.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionFileRetentionPolicy.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionPersistenceService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionRestoreService.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPaneChrome.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPaneChrome.files-availability.test.tsx
  tests/integration/seam/Ai/SessionFileAvailabilitySeamTests.cs
  tests/integration/seam/Ai/SessionFileRetentionSeamTests.cs
  tests/integration/tenant/Ai/SessionFileBlobStoreTenantIsolationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Mocks/InMemorySessionFileBlobGateway.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Sessions/SessionFileBlobStoreConfigurationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Sessions/SessionRestoreServiceUploadedFilesTests.cs
Owners: @spaarke-dev

fix(compose): close the never-silent hole on duplicate-key blocks (task 047b)
  docs/architecture/COMPOSE-WRITE-RESIDUAL-LOSS.md
  projects/spaarkeai-compose-r8/notes/047b-unpaired-block-decisions.md
  projects/spaarkeai-compose-r8/notes/056-object-carry-decisions.md
  projects/spaarkeai-compose-r8/notes/merge-integrity-results.md
  projects/spaarkeai-compose-r8/notes/merge-mechanism-results.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeBlockMerge.cs
  tests/integration/seam/Compose/ComposeMergeSeamTests.cs
  tests/integration/seam/Compose/ComposeResidualLossParityTests.cs
Owners: @spaarke-dev, @docs-team

checkpoint: 062 + 047b complete; 047b was an invariant-2 breach, not just under-reporting
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

fix(deps): pin Fluent to the platform version across all PCFs and PCF-consumed libs
  projects/record-header-and-notepad-r2/notes/decisions/fluent-version-pinning.md
  src/client/pcf/CommunicationActions/package.json
  src/client/pcf/CommunicationAttachments/package.json
  src/client/pcf/CommunicationConnections/package.json
  src/client/pcf/CommunicationConversationPanel/package.json
  src/client/pcf/CommunicationMessageActions/package.json
  src/client/pcf/CommunicationTimeline/package.json
  src/client/pcf/CommunicationTimelineRegarding/package.json
  src/client/pcf/DocumentRelationshipViewer/package.json
  src/client/pcf/EmailProcessingMonitor/package.json
  src/client/pcf/RegardingResolver/package.json
  src/client/pcf/RelatedDocumentCount/package.json
  src/client/pcf/ScopeConfigEditor/package.json
  src/client/pcf/SemanticSearchControl/package.json
  src/client/pcf/SpaarkeGridCustomizer/package.json
  src/client/pcf/TrackingFieldTrio/package.json
  src/client/pcf/UpdateRelatedButton/package.json
  src/client/pcf/VisualHost/package.json
  src/client/shared/Spaarke.Communication.Components/package.json
  src/client/shared/Spaarke.Visuals/package.json
Owners: @spaarke-dev

chore(deps): verify the Fluent pin on RegardingResolver; widen shared-lib peer ranges
  projects/record-header-and-notepad-r2/tasks/TASK-INDEX.md
  src/client/pcf/RegardingResolver/package-lock.json
Owners: @spaarke-dev

chore(pcf): pack RecordHeader v1.1.0 per pcf-deploy requirements
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/bundle.js
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/styles.css
Owners: @spaarke-dev

ci(uac-r2): make the route-authorization gate BLOCKING + file task 080 (cross-record search)
  .github/workflows/ci-tier1-blocking.yml
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/tasks/080-authorize-cross-record-search.poml
Owners: @spaarke-dev, @devops-team

feat(provisioning): task 205 sub-phases c/d/e/f complete (auth-v4 integration finalized)
  .claude/constraints/provisioning.md
  .claude/patterns/provisioning/manifest-driven-secret-catalog.md
  .claude/skills/provision-environment/SKILL.md
  CLAUDE.md
  docs/guides/SPAARKE-CUSTOMER-DEPLOYMENT-GUIDE.md
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/design.md
  projects/customer-provisioning-orchestration-r1/notes/PROVISIONING-CHANGE-REQUEST copy.md
  projects/customer-provisioning-orchestration-r1/notes/PROVISIONING-CHANGE-REQUEST.md
  projects/customer-provisioning-orchestration-r1/notes/auth-v4-integration-draft-punch-rows.md
  projects/customer-provisioning-orchestration-r1/notes/task-202-punch-list.md
  projects/customer-provisioning-orchestration-r1/spec.md
  projects/customer-provisioning-orchestration-r1/tasks/205c-a39-h4b-per-env-settings.poml
  projects/customer-provisioning-orchestration-r1/tasks/205d-a41-h10-uami-dual-app-user.poml
  projects/customer-provisioning-orchestration-r1/tasks/205f-a44-template-guard-and-doc-align.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  scripts/Grant-GraphAppRoles.ps1
  scripts/ai-search/Deploy-AllIndexes.ps1
  scripts/canonical-secret-catalog/generated/Configure-AppServiceSettings.generated.ps1
  scripts/canonical-secret-catalog/generated/appsettings.tokens.generated.md
  scripts/canonical-secret-catalog/manifest.yaml
  scripts/provisioning/Grant-ControlPlaneIdentity.ps1
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BulkAppSettings/FilePerEnvSettingsManifest.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BulkAppSettings/H4bBulkAppSettingsHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/DataverseAppUserGraphParity/DataverseWebApiAppUserCreator.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/DataverseAppUserGraphParity/DataverseWebApiAppUserVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/DataverseAppUserGraphParity/H10DataverseAppUserGraphParityHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/DataverseAppUserGraphParity/IDataverseAppUserCreator.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/DataverseAppUserGraphParity/IDataverseAppUserVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/DataverseAppUserPairT2Probe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/H13E2EAcceptanceGateHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/IE2ETrapVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/DataverseAppUserPairT2ProbeTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/FilePerEnvSettingsManifestTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H10DataverseAppUserGraphParityHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H4bBulkAppSettingsHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/HttpHealthzProbeTests.cs
  tests/scripts/Deploy-AllIndexes.Tests.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

fix(docs): binding recipe said delete the raw fields - it must be MOVE, not delete
  projects/record-header-and-notepad-r2/design.md
  projects/record-header-and-notepad-r2/tasks/050-bind-project-header.poml
  projects/record-header-and-notepad-r2/tasks/051-bind-workassignment-header.poml
  projects/record-header-and-notepad-r2/tasks/060-bind-invoice-header.poml
  projects/record-header-and-notepad-r2/tasks/061-bind-event-header.poml
  projects/record-header-and-notepad-r2/tasks/070-bind-agreement-header.poml
Owners: @spaarke-dev

fix(spe-admin): header/nav pass from UAT round 4 — title, spelled-out labels, tab order
  src/solutions/SpeAdminApp/src/components/layout/AppShell.tsx
  src/solutions/SpeAdminApp/src/components/layout/BuContextPicker.tsx
Owners: @spaarke-dev

fix(spe-admin): map container-type `id` -> `containerTypeId` (fixes the Register dropdown)
  src/solutions/SpeAdminApp/src/services/speApiClient.ts
Owners: @spaarke-dev

feat(ai,compose): tasks 063 + 052b — durable erasure; stale detection made durable
  projects/spaarkeai-compose-r8/notes/052b-stale-detection-decisions.md
  projects/spaarkeai-compose-r8/notes/track-b-erasure-surface.md
  projects/spaarkeai-compose-r8/tasks/052b-stale-detection-durability.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/index.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/index.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/redlineProposalBaseline.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.deterministicOutcomes.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.staleDurability.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatDocumentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ChatSessionManager.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionFileEraser.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionUploadCacheKeys.cs
  tests/integration/contract/Api/Ai/ChatDocumentEndpointsContractTests.cs
  tests/integration/seam/Ai/SessionFileErasureSeamTests.cs
  tests/integration/tenant/Ai/SessionFileBlobStoreTenantIsolationTests.cs
Owners: @spaarke-dev

checkpoint: Track B + Track C complete; arming gated on 059 (security)
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/tasks/063-erasure-tenant-isolation.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
Owners: @spaarke-dev

checkpoint: session handoff — Track B + Track C complete, 059 gates arming
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev
