Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

fix(r6, B-G11): unblock CI Debug Build & Test — DI startup hardening + R6-aware test
  src/client/shared/Spaarke.AI.Widgets/package-lock.json
  src/client/shared/Spaarke.UI.Components/package-lock.json
  src/server/api/Sprk.Bff.Api/Services/Ai/Foundry/AgentServiceClient.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Foundry/AgentServiceOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/Citations/InternalIndexProvider.cs
  tests/integration/Spe.Integration.Tests/ToolFrameworkIntegrationTests.cs
Owners: @spaarke-dev

docs(insights-engine-widgets-r1): initial design + spec — Matter Health single-mode
  projects/ai-spaarke-insights-engine-widgets-r1/CLAUDE.md
  projects/ai-spaarke-insights-engine-widgets-r1/README.md
  projects/ai-spaarke-insights-engine-widgets-r1/current-task.md
  projects/ai-spaarke-insights-engine-widgets-r1/design.md
  projects/ai-spaarke-insights-engine-widgets-r1/spec.md
Owners: @spaarke-dev, @docs-team

fix(multi-container-multi-index-r1): align BFF tests with multi-container changes — 0 failures
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/SemanticSearch/SearchFilterBuilderTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Visualization/VisualizationServiceTests.cs
Owners: @spaarke-dev

docs(insights-engine-r3): capture 2026-06-10 pause context + r3↔R6 coordination analysis
  projects/ai-spaarke-insights-engine-r3/README.md
  projects/ai-spaarke-insights-engine-r3/current-task.md
  projects/ai-spaarke-insights-engine-r3/notes/pre-design-context-2026-06-10.md
Owners: @spaarke-dev, @docs-team

fix(r6, B-G12): unblock CI — SprkChatAgentFactoryTests assertions + prettier sweep
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/types/SerializedWidgetState.ts
  src/client/shared/Spaarke.AI.Widgets/src/types/WorkspaceTab.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/StructuredOutputStreamWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/StructuredOutputStreamWidget.integration.dispatchSummarizeOnly.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/StructuredOutputStreamWidget.test.tsx
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SprkChatAgentFactoryTests.cs
Owners: @spaarke-dev

chore(multi-container-multi-index-r1): Prettier reformat of SemanticSearchApiService.test.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/__tests__/services/SemanticSearchApiService.test.ts
Owners: @spaarke-dev

fix(multi-container-multi-index-r1): tsc gate — point @spaarke/sdap-client to src not dist
  src/client/shared/Spaarke.UI.Components/tsconfig.json
Owners: @spaarke-dev

docs(insights-engine-widgets-r1): initial design + spec — Matter Health single-mode
  projects/ai-spaarke-insights-engine-widgets-r1/CLAUDE.md
  projects/ai-spaarke-insights-engine-widgets-r1/README.md
  projects/ai-spaarke-insights-engine-widgets-r1/current-task.md
  projects/ai-spaarke-insights-engine-widgets-r1/design.md
  projects/ai-spaarke-insights-engine-widgets-r1/spec.md
Owners: @spaarke-dev, @docs-team

fix(multi-container-multi-index-r1): build Spaarke.SdapClient in CI before UI.Components tsc
  .github/workflows/sdap-ci.yml
  src/client/shared/Spaarke.UI.Components/tsconfig.json
Owners: @spaarke-dev, @devops-team

chore(smart-todo-r4): save resume point before /compact
  projects/smart-todo-r4/current-task.md
Owners: @spaarke-dev

feat(smart-todo-r4): Wave A — 6 tasks complete (031, 032, 033, 040, 070, 081)
  projects/smart-todo-r4/notes/g-matter-form-visualhost-instructions.md
  projects/smart-todo-r4/tasks/031-B-assigned-to-me-filter.poml
  projects/smart-todo-r4/tasks/032-B-selection-aware-toolbar-actions.poml
  projects/smart-todo-r4/tasks/033-B-list-card-view-toggle.poml
  projects/smart-todo-r4/tasks/040-C-wire-smarttodo-modal.poml
  projects/smart-todo-r4/tasks/070-F-vertical-kanban-orientation.poml
  projects/smart-todo-r4/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/Kanban/KanbanBoard.tsx
  src/client/shared/Spaarke.UI.Components/src/components/Kanban/__tests__/KanbanBoard.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/Kanban/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/Kanban/types.ts
  src/solutions/LegalWorkspace/vite.config.ts
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/components/Header/Header.tsx
  src/solutions/SmartTodo/src/components/KanbanHeader.tsx
  src/solutions/SmartTodo/src/components/ListView/ListView.styles.ts
  src/solutions/SmartTodo/src/components/ListView/ListView.tsx
  src/solutions/SmartTodo/src/components/ListView/index.ts
  src/solutions/SmartTodo/src/components/Modal/SmartTodoModal.tsx
  src/solutions/SmartTodo/src/components/Modal/__tests__/buildTodoIframeUrl.test.ts
  src/solutions/SmartTodo/src/components/Modal/buildTodoIframeUrl.ts
  src/solutions/SmartTodo/src/components/Modal/index.ts
  src/solutions/SmartTodo/src/components/MyTasksFilter.tsx
  src/solutions/SmartTodo/src/components/SmartToDo.tsx
  src/solutions/SmartTodo/src/components/ThresholdSettings.tsx
  src/solutions/SmartTodo/src/components/Toolbar/ToolbarActions.ts
  src/solutions/SmartTodo/src/components/Toolbar/__tests__/ToolbarActions.test.ts
  src/solutions/SmartTodo/src/components/Toolbar/index.ts
  src/solutions/SmartTodo/src/components/index.ts
  src/solutions/SmartTodo/src/hooks/useTodoItems.ts
  src/solutions/SmartTodo/src/hooks/useUserPreferences.ts
  src/solutions/SmartTodo/src/services/DataverseService.ts
  src/solutions/SmartTodo/src/services/queryHelpers.ts
  src/solutions/SmartTodo/vite.config.ts
Owners: @spaarke-dev

docs(smart-todo-r4): update current-task.md post-Wave-A (19/31 ✅; Wave B plan)
  projects/smart-todo-r4/current-task.md
Owners: @spaarke-dev

feat(r6): task 053 (Pillar 6a / FR-34) — wire WorkspaceStateService into chat factory
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SprkChatAgentFactoryWorkspaceStateTests.cs
Owners: @spaarke-dev

fix(build-config): cross-branch unresolved imports + tsc rootDir guards
  src/client/shared/Spaarke.SdapClient/tsconfig.json
  src/client/shared/Spaarke.UI.Components/package.json
  src/client/shared/Spaarke.UI.Components/tsconfig.json
  src/solutions/SpaarkeAi/package.json
  src/solutions/SpaarkeAi/vite.config.ts
Owners: @spaarke-dev

fix(build-config): cross-branch unresolved imports + tsc rootDir guards (#379)
  src/client/shared/Spaarke.SdapClient/tsconfig.json
  src/client/shared/Spaarke.UI.Components/package.json
  src/client/shared/Spaarke.UI.Components/tsconfig.json
  src/solutions/SpaarkeAi/package.json
  src/solutions/SpaarkeAi/vite.config.ts
Owners: @spaarke-dev

feat(smart-todo-r4): Wave B — 6 tasks complete (042, 060, 052, 082, 083, 084)
  projects/smart-todo-r4/notes/g-invoice-form-visualhost-instructions.md
  projects/smart-todo-r4/notes/g-project-form-visualhost-instructions.md
  projects/smart-todo-r4/notes/g-workassignment-form-visualhost-instructions.md
  projects/smart-todo-r4/tasks/042-C-retire-TodoDetailPanel.poml
  projects/smart-todo-r4/tasks/052-D-read-only-mode.poml
  projects/smart-todo-r4/tasks/060-E-card-affordances.poml
  projects/smart-todo-r4/tasks/082-G-visualhost-on-project-form.poml
  projects/smart-todo-r4/tasks/083-G-visualhost-on-invoice-form.poml
  projects/smart-todo-r4/tasks/084-G-visualhost-on-workassignment-form.poml
  projects/smart-todo-r4/tasks/TASK-INDEX.md
  src/client/pcf/RegardingResolver/RegardingResolver/ControlManifest.Input.xml
  src/client/pcf/RegardingResolver/RegardingResolver/RegardingResolverApp.tsx
  src/client/pcf/RegardingResolver/RegardingResolver/index.ts
  src/client/pcf/RegardingResolver/__tests__/RegardingResolverApp.test.tsx
  src/client/pcf/RegardingResolver/package.json
  src/client/pcf/RegardingResolver/webpack.config.js
  src/client/shared/Spaarke.UI.Components/src/services/__tests__/TodoRegardingUpdateBuilder.test.ts
  src/client/webresources/js/sprk_todo_regarding_presave.js
  src/solutions/SmartTodo/README.md
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/components/KanbanCard.tsx
  src/solutions/SmartTodo/src/components/SmartToDo.tsx
  src/solutions/SmartTodo/src/components/TodoDetailPanel.tsx
  src/solutions/SmartTodo/src/components/index.ts
  src/solutions/SmartTodo/src/context/TodoContext.tsx
  src/solutions/SmartTodo/src/services/todoDetailService.ts
Owners: @spaarke-dev, @docs-team

docs(smart-todo-r4): update current-task.md post-Wave-B (25/31 ✅; follow-up wave C plan)
  projects/smart-todo-r4/current-task.md
Owners: @spaarke-dev

fix(build-config): batch-add transitive deps to 14 Vite solutions (#381)
  src/solutions/AllDocuments/package.json
  src/solutions/CalendarSidePane/package.json
  src/solutions/DocumentUploadWizard/package.json
  src/solutions/EventDetailSidePane/package.json
  src/solutions/EventsPage/package.json
  src/solutions/FindSimilarCodePage/package.json
  src/solutions/LegalWorkspace/package.json
  src/solutions/PlaybookLibrary/package.json
  src/solutions/Reporting/package.json
  src/solutions/SmartTodo/package.json
  src/solutions/SpeAdminApp/package.json
  src/solutions/WorkspaceLayoutWizard/package.json
  src/solutions/sprk_invoicespage/package.json
  src/solutions/sprk_kpiassessmentspage/package.json
Owners: @spaarke-dev

feat(multi-container-multi-index-r1): wizard lookup cascade for sprk_ai_search_index
  projects/spaarke-multi-container-multi-index-r1/notes/handoffs/RESUME-2026-06-10-phase-g-post-merge.md
  src/client/shared/Spaarke.UI.Components/src/components/CreateEventWizard/eventService.ts
  src/client/shared/Spaarke.UI.Components/src/components/CreateMatterWizard/matterService.ts
  src/client/shared/Spaarke.UI.Components/src/components/CreateProjectWizard/projectService.ts
  src/client/shared/Spaarke.UI.Components/src/components/CreateWorkAssignmentWizard/workAssignmentService.ts
  src/client/shared/Spaarke.UI.Components/src/services/EntityCreationService.ts
  src/client/shared/Spaarke.UI.Components/src/services/document-upload/DocumentRecordService.ts
Owners: @spaarke-dev

chore(smart-todo-r4): fix-up stale POML/TASK-INDEX state (081 + header counts)
  projects/smart-todo-r4/tasks/081-G-visualhost-on-matter-form.poml
  projects/smart-todo-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(r6): Wave C-G2 — Pillar 6b/6c/7 cascade (tasks 054, 055, 056, 061, 064, 065)
  infra/dataverse/sprk_analysistool-close-workspace-tab-row.json
  infra/dataverse/sprk_analysistool-send-workspace-artifact-row.json
  infra/dataverse/sprk_analysistool-update-workspace-tab-row.json
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-054-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-055-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-056-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-061-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-064-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-065-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  scripts/Seed-TypedHandlers.ps1
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/ExecutionTraceWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/__tests__/ExecutionTraceWidget.test.tsx
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Models/Memory/PinnedContextItem.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/CloseWorkspaceTabHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/SendWorkspaceArtifactHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/UpdateWorkspaceTabHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Memory/IPinnedContextRepository.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Memory/ISummarizationCompressionService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Memory/PinnedContextRepository.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Memory/SummarizationCompressionOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Memory/SummarizationCompressionService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/CloseWorkspaceTabHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/SendWorkspaceArtifactHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/UpdateWorkspaceTabHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Memory/PinnedContextRepositoryTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Memory/SummarizationCompressionServiceTests.cs
Owners: @spaarke-dev, @devops-team

feat(skills): add master-deploy skill + 3 node helpers (#382)
  .claude/skills/INDEX.md
  .claude/skills/master-deploy/SKILL.md
  scripts/master-deploy/build-all-vite-solutions.mjs
  scripts/master-deploy/deploy-webresource-inline.mjs
  scripts/master-deploy/fix-vite-transitive-deps.mjs
Owners: @spaarke-dev, @devops-team

feat(multi-container-multi-index-r1): wizard lookup cascade for sprk_ai_search_index (#380)
  projects/spaarke-multi-container-multi-index-r1/notes/handoffs/RESUME-2026-06-10-phase-g-post-merge.md
  src/client/shared/Spaarke.UI.Components/src/components/CreateEventWizard/eventService.ts
  src/client/shared/Spaarke.UI.Components/src/components/CreateMatterWizard/matterService.ts
  src/client/shared/Spaarke.UI.Components/src/components/CreateProjectWizard/projectService.ts
  src/client/shared/Spaarke.UI.Components/src/components/CreateWorkAssignmentWizard/workAssignmentService.ts
  src/client/shared/Spaarke.UI.Components/src/services/EntityCreationService.ts
  src/client/shared/Spaarke.UI.Components/src/services/document-upload/DocumentRecordService.ts
Owners: @spaarke-dev

feat(smart-todo-r4): Wave C — 2 tasks complete (041, 071)
  projects/smart-todo-r4/notes/c-dirty-check-bind-instructions.md
  projects/smart-todo-r4/tasks/041-C-dirty-check-cross-frame-messaging.poml
  projects/smart-todo-r4/tasks/071-F-orientation-persistence.poml
  projects/smart-todo-r4/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/RecordNavigationModalShell/README.md
  src/client/shared/Spaarke.UI.Components/src/components/RecordNavigationModalShell/__tests__/iframeDirtyCheckScript.test.ts
  src/client/webresources/js/sprk_todo_dirty_check.js
  src/solutions/SmartTodo/src/components/SmartToDo.tsx
  src/solutions/SmartTodo/src/hooks/__tests__/useUserPreferences.test.ts
  src/solutions/SmartTodo/src/hooks/useUserPreferences.ts
Owners: @spaarke-dev, @docs-team

docs(smart-todo-r4): update current-task.md post-Wave-C (27/31 ✅; Phase 3/4 plan with 092 deferred)
  projects/smart-todo-r4/current-task.md
Owners: @spaarke-dev

chore(deps): refresh package-locks after master-deploy (#383)
  src/client/shared/Spaarke.UI.Components/package-lock.json
  src/solutions/Reporting/package-lock.json
  src/solutions/SpaarkeAi/package-lock.json
Owners: @spaarke-dev

chore(smart-todo-r4): refresh 3 package-lock.json after merging PR #381
  src/client/pcf/RegardingResolver/package-lock.json
  src/solutions/LegalWorkspace/package-lock.json
  src/solutions/SmartTodo/package-lock.json
Owners: @spaarke-dev

checkpoint(r6): Wave C-G3 WIP — partial work from stalled sub-agents
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-066-evidence.md
  src/client/shared/Spaarke.AI.Widgets/src/__tests__/widget-serialize-restore.test.ts
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/registry/__tests__/register-execution-trace-widget.test.ts
  src/client/shared/Spaarke.AI.Widgets/src/registry/register-context-widgets.ts
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/UpdateWorkspaceTabHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Memory/IPinnedContextRecallService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Memory/PinnedContextRecallOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Memory/PinnedContextRecallService.cs
  src/solutions/SpaarkeAi/src/components/workspace/AddToAssistantToggle.tsx
  src/solutions/SpaarkeAi/src/components/workspace/PinToMatterButton.tsx
  src/solutions/SpaarkeAi/src/components/workspace/SendToWorkspaceButton.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/AddToAssistantToggle.test.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/SendToWorkspaceButton.test.tsx
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Memory/PinnedContextRecallServiceTests.cs
Owners: @spaarke-dev

chore(smart-todo-r4): prettier --write on 2 R4 files (PR #384 CI gate)
  src/client/shared/Spaarke.UI.Components/src/components/Kanban/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/RecordNavigationModalShell/__tests__/iframeDirtyCheckScript.test.ts
Owners: @spaarke-dev

fix(ci): resolve 3 whitespace formatting errors blocking master CI
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/ClauseComparisonHandler.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/DocumentSearchHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/WorkingDocumentHandlerTests.cs
Owners: @spaarke-dev

fix(ci): resolve 7 Prettier formatting errors in client shared libs
  src/client/shared/Spaarke.AI.Widgets/src/components/InsightSummaryCard/InsightSummaryCard.tsx
  src/client/shared/Spaarke.AI.Widgets/src/components/InsightSummaryCard/InsightSummaryCard.types.ts
  src/client/shared/Spaarke.AI.Widgets/src/components/InsightSummaryCard/InsightSummaryCardSandbox.tsx
  src/client/shared/Spaarke.AI.Widgets/src/components/InsightSummaryCard/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/components/InsightSummaryCard/state.ts
  src/client/shared/Spaarke.UI.Components/src/components/Kanban/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/RecordNavigationModalShell/__tests__/iframeDirtyCheckScript.test.ts
Owners: @spaarke-dev

feat(ci): add auto-format with push-back for Prettier and dotnet format
  .github/workflows/sdap-ci.yml
Owners: @spaarke-dev, @devops-team

fix(ci): formatting fixes + auto-format push-back (#387)
  .github/workflows/sdap-ci.yml
  src/client/shared/Spaarke.AI.Widgets/src/components/InsightSummaryCard/InsightSummaryCard.tsx
  src/client/shared/Spaarke.AI.Widgets/src/components/InsightSummaryCard/InsightSummaryCard.types.ts
  src/client/shared/Spaarke.AI.Widgets/src/components/InsightSummaryCard/InsightSummaryCardSandbox.tsx
  src/client/shared/Spaarke.AI.Widgets/src/components/InsightSummaryCard/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/components/InsightSummaryCard/state.ts
  src/client/shared/Spaarke.UI.Components/src/components/Kanban/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/RecordNavigationModalShell/__tests__/iframeDirtyCheckScript.test.ts
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/ClauseComparisonHandler.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/DocumentSearchHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/WorkingDocumentHandlerTests.cs
Owners: @spaarke-dev, @devops-team

fix(ci): add SdapClient build step before UI.Components typecheck
  .github/workflows/sdap-ci.yml
Owners: @spaarke-dev, @devops-team

fix(ci): add wildcard path mappings for subpath imports in AI.Widgets tsconfig
  src/client/shared/Spaarke.AI.Widgets/tsconfig.json
Owners: @spaarke-dev

fix(ci): resolve tsc build chain — SdapClient + AI.Widgets subpath paths (#388)
  .github/workflows/sdap-ci.yml
  src/client/shared/Spaarke.AI.Widgets/tsconfig.json
Owners: @spaarke-dev, @devops-team

feat(smart-todo-r4): task 094 — sprk_todoflag grep gate PASSED (28/31)
  projects/smart-todo-r4/current-task.md
  projects/smart-todo-r4/notes/grep-sweep-result.md
  projects/smart-todo-r4/tasks/094-grep-sweep-sprk-todoflag.poml
  projects/smart-todo-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(build): add 5 missing shared libs to Build-AllClientComponents.ps1
  scripts/Build-AllClientComponents.ps1
  src/client/code-pages/DocumentRelationshipViewer/package-lock.json
  src/client/code-pages/PlaybookBuilder/package-lock.json
  src/client/pcf/package-lock.json
  src/solutions/AllDocuments/package-lock.json
  src/solutions/CalendarSidePane/package-lock.json
  src/solutions/DocumentUploadWizard/package-lock.json
  src/solutions/EventDetailSidePane/package-lock.json
  src/solutions/EventsPage/package-lock.json
  src/solutions/FindSimilarCodePage/package-lock.json
  src/solutions/PlaybookLibrary/package-lock.json
  src/solutions/Reporting/package-lock.json
  src/solutions/SpeAdminApp/package-lock.json
  src/solutions/WorkspaceLayoutWizard/package-lock.json
Owners: @spaarke-dev, @devops-team

fix(build): add 5 missing shared libs to Build-AllClientComponents.ps1 (#389)
  scripts/Build-AllClientComponents.ps1
  src/client/code-pages/DocumentRelationshipViewer/package-lock.json
  src/client/code-pages/PlaybookBuilder/package-lock.json
  src/client/pcf/package-lock.json
  src/solutions/AllDocuments/package-lock.json
  src/solutions/CalendarSidePane/package-lock.json
  src/solutions/DocumentUploadWizard/package-lock.json
  src/solutions/EventDetailSidePane/package-lock.json
  src/solutions/EventsPage/package-lock.json
  src/solutions/FindSimilarCodePage/package-lock.json
  src/solutions/PlaybookLibrary/package-lock.json
  src/solutions/Reporting/package-lock.json
  src/solutions/SpeAdminApp/package-lock.json
  src/solutions/WorkspaceLayoutWizard/package-lock.json
Owners: @spaarke-dev, @devops-team

feat(environment-provisioning): close out r1 — E2E verification, FR-11 license fix, factory-r1 design
  projects/spaarke-environment-factory-r1/design.md
  projects/spaarke-environment-provisioning-app/README.md
  projects/spaarke-environment-provisioning-app/current-task.md
  projects/spaarke-environment-provisioning-app/notes/e2e-test-results.md
  projects/spaarke-environment-provisioning-app/notes/lessons-learned.md
  projects/spaarke-environment-provisioning-app/tasks/040-e2e-testing-checklist.poml
  projects/spaarke-environment-provisioning-app/tasks/090-project-wrap-up.poml
  projects/spaarke-environment-provisioning-app/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Configuration/DemoProvisioningOptions.cs
  src/server/api/Sprk.Bff.Api/Endpoints/RegistrationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/DemoProvisioningService.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/GraphUserService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Registration/LicenseResolutionTests.cs
Owners: @spaarke-dev, @docs-team
