Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

fix(ci): smudge LFS in compose-client-gate — it has never been green (#921)
  .github/workflows/sdap-ci.yml
Owners: @spaarke-dev, @devops-team

fix(office): attachment child Documents inherit the email's File-to association
  src/server/api/Sprk.Bff.Api/Workers/Office/UploadFinalizationWorker.cs
Owners: @spaarke-dev

test(ai): regression guard — UpdateRecord node wrapper-config ParseConfig
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/UpdateRecordNodeExecutor.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/UpdateRecordParseConfigReproTests.cs
Owners: @spaarke-dev

diag(ai): temp — capture actual ConfigJson + parse exception in UpdateRecord node (#919)
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/UpdateRecordNodeExecutor.cs
Owners: @spaarke-dev

diag-cleanup(ai): remove temp ParseConfig diagnostic; record profile root cause (#919)
  projects/email-communication-intelligence-r2/notes/pillar-b-uat-findings-2026-08-31.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/UpdateRecordNodeExecutor.cs
Owners: @spaarke-dev

docs(email-intelligence-r2): record NAA broker redirect fix in 044 runbook
  projects/email-communication-intelligence-r2/notes/044-addin-deploy-runbook.md
Owners: @spaarke-dev

context-handoff(email-intelligence-r2): Pillar B fixes shipped (PR #922); next = profile playbook #919
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

feat(compose): server-derive the create-on-save container (#858) — WIP, SUITE RED
  projects/unified-access-control-r2/current-task.md
  src/server/api/Sprk.Bff.Api/Api/ComposeSaveEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/IComposeService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/AnchoredAnnotationPersistenceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeContentDedupTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceApplyTemplateTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceBornInEditorSaveTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceCollaborators.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceCreateOnSaveTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceImportedRenderSaveTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceLoadImportedCommentsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceLoadImportedRevisionsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceLoadParaIdTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServicePromoteRecordCompletenessTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceSaveAnnotationsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceUploadFidelityTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/CrossVersionSessionPersistenceTests.cs
Owners: @spaarke-dev

fix(compose 777): inherit unmodeled paragraph styles instead of flattening to Normal
  projects/spaarkeai-compose-r8/current-task.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeBlockMerge.cs
Owners: @spaarke-dev

test(compose 777): pin unmodeled-paragraph-style inheritance at the merge seam
  tests/integration/seam/Compose/ComposeParagraphStyleInheritanceSeamTests.cs
Owners: @spaarke-dev

fix(compose 777): retire two projection warnings that no longer describe real loss
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeContentModelProjector.cs
Owners: @spaarke-dev

checkpoint(compose-r8): freeze lifted, #777 two-thirds done, full remaining plan
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

fix(email-intelligence-r2): #919 document-profile — wrapper-config render bug + converge app-only profiling onto the direct-Action spine
  .claude/CHANGELOG.md
  .claude/FAILURE-MODES.md
  CLAUDE.md
  docs/architecture/DOCUMENT-PROFILE-AND-AI-EXECUTION-MODELS.md
  projects/email-communication-intelligence-r2/current-task.md
  projects/email-communication-intelligence-r2/notes/pillar-b-uat-findings-2026-08-31.md
  src/server/api/Sprk.Bff.Api/Services/Ai/AppOnlyAnalysisService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Workers/Office/UploadFinalizationWorker.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/UpdateRecordParseConfigReproTests.cs
Owners: @spaarke-dev, @docs-team

docs(email-intelligence-r2): update recovery anchor — #919 fixed in PR #923
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

fix(compose #858): turn the suite green - 2 production defects + 1 shared fixture arrangement
  projects/unified-access-control-r2/notes/858-red-suite-ground-truth.md
  projects/unified-access-control-r2/notes/plan-858-closeout.md
  src/server/api/Sprk.Bff.Api/Api/ComposeSaveEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  tests/Spaarke.ArchTests/SpeWriteSinkContainerProvenanceGuardTests.cs
  tests/integration/Shared/TestActingUserBusinessUnit.cs
  tests/integration/contract/Api/Ai/ComposeCreateOnSaveEndpointContractTests.cs
  tests/integration/regression/Compose/Def14_ComposeSaveLockedDocumentTests.cs
  tests/integration/seam/Ai/ComposeFidelitySeamTests.cs
  tests/integration/seam/Compose/ComposePdfIntakeRoundTripSeamTests.cs
  tests/integration/seam/Compose/ComposePdfRefreshBaselineSeamTests.cs
Owners: @spaarke-dev

fix(email-intelligence-r2): wire "Send Email" in the Document Upload wizard (dead form) + unblock the solution build
  src/solutions/DocumentUploadWizard/src/components/DocumentEmailStep.tsx
  src/solutions/DocumentUploadWizard/src/components/NextStepsStep.tsx
Owners: @spaarke-dev

chore(uac-r2 #858): flip status to green; correct two claims the investigation refuted
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/task-083-sink-inventory.md
Owners: @spaarke-dev

refactor(070): extract cluster 2b (record resolution) + close the hole it exposed
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeRecordResolution.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  tests/integration/contract/Api/Ai/ComposeCreateOnSaveEndpointContractTests.cs
Owners: @spaarke-dev

fix(tests): keep Dataverse-dependent shared helpers out of the provisioning load-test build
  tests/integration/Shared/Dataverse/TestActingUserBusinessUnit.cs
  tests/integration/Sprk.Provisioning.ControlPlane.LoadTests/Sprk.Provisioning.ControlPlane.LoadTests.csproj
Owners: @spaarke-dev

refactor(070): extract cluster 2a (create-on-save promotion) + fix an orphaned doc comment
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeCreateOnSavePromoter.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/IComposeService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceCreateOnSaveTests.cs
Owners: @spaarke-dev

feat(email-intelligence-r2): Document Upload wizard Send Email → standard EmailComposer (inline, native Send, no Save Draft)
  src/solutions/DocumentUploadWizard/src/components/DocumentEmailStep.tsx
  src/solutions/DocumentUploadWizard/src/components/NextStepsStep.tsx
Owners: @spaarke-dev

fix(compose #858): stop telling users to supply a container they cannot supply
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/IComposeService.cs
Owners: @spaarke-dev

refactor(070): extract cluster 5a (profile storm guard) + close the hole it exposed
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeProfileRetriggerGuard.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  tests/integration/seam/Compose/ComposeProfileRetriggerGuardSeamTests.cs
Owners: @spaarke-dev

docs(070): mark task 070 COMPLETE; record both coverage holes and three false-result traps
  projects/spaarkeai-compose-r8/notes/070-composeservice-seam-map.md
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(email-intelligence-r2): guard wizard Finish against an unsent composed email
  src/solutions/DocumentUploadWizard/src/DocumentUploadWizardDialog.tsx
  src/solutions/DocumentUploadWizard/src/components/DocumentEmailStep.tsx
  src/solutions/DocumentUploadWizard/src/components/NextStepsStep.tsx
Owners: @spaarke-dev

chore(uac-r2 #858): record closeout + the two post-green defects and how they escaped
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

fix(compose 776): assert the merged version on apply-template so a concurrent save is not clobbered
  src/server/api/Sprk.Bff.Api/Api/ComposeTemplateEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeSaveStorageCoordinator.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  tests/integration/data-mutation/Compose/ComposeApplyTemplatePreconditionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceApplyTemplateTests.cs
Owners: @spaarke-dev

fix(skills): worktree-sync Full Sync could never complete - direct push to master
  .claude/CHANGELOG.md
  .claude/skills/merge-to-master/SKILL.md
  .claude/skills/worktree-sync/SKILL.md
Owners: @spaarke-dev

style(email-intelligence-r2): center the wizard "Email sent" + final success messages
  src/client/shared/Spaarke.UI.Components/src/components/Wizard/WizardSuccessScreen.tsx
  src/solutions/DocumentUploadWizard/src/components/DocumentEmailStep.tsx
Owners: @spaarke-dev

fix(uac-r2): correct the plan - the Secure Project wizard UI DOES exist, and 068 already owns it
  projects/unified-access-control-r2/notes/plan-upload-path-decomposition-2026-08-31.md
Owners: @spaarke-dev

docs(email-intelligence-r2): context-handoff — Send Email wizard rebuild + #919 profiling fix (session restore point)
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

checkpoint: 070 complete + #776 closed + #858 merged; ordered plan for the remaining work
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

refactor(legalworkspace): delete 27 dead wizard files left by an unfinished 2026-03 move
  projects/unified-access-control-r2/notes/create-wizard-duplication-analysis.md
  src/solutions/LegalWorkspace/src/components/CreateEvent/CreateEventStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateEvent/EventWizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateEvent/eventService.ts
  src/solutions/LegalWorkspace/src/components/CreateEvent/formTypes.ts
  src/solutions/LegalWorkspace/src/components/CreateMatter/AiFieldTag.tsx
  src/solutions/LegalWorkspace/src/components/CreateMatter/AssignCounselStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateMatter/AssignResourcesStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateMatter/CreateRecordStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateMatter/DraftSummaryStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateMatter/LookupField.tsx
  src/solutions/LegalWorkspace/src/components/CreateMatter/NextStepsStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateMatter/RecipientField.tsx
  src/solutions/LegalWorkspace/src/components/CreateMatter/WizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateMatter/WizardStepper.tsx
  src/solutions/LegalWorkspace/src/components/CreateMatter/index.ts
  src/solutions/LegalWorkspace/src/components/CreateProject/CreateProjectStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateProject/ProjectWizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateProject/ProvisioningProgressStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateProject/SecureProjectSection.tsx
  src/solutions/LegalWorkspace/src/components/CreateProject/projectFormTypes.ts
  src/solutions/LegalWorkspace/src/components/CreateProject/projectService.ts
  src/solutions/LegalWorkspace/src/components/CreateProject/provisioningService.ts
  src/solutions/LegalWorkspace/src/components/FindSimilar/FindSimilarDialog.tsx
  src/solutions/LegalWorkspace/src/components/FindSimilar/FindSimilarResultsStep.tsx
  src/solutions/LegalWorkspace/src/components/FindSimilar/findSimilarService.ts
  src/solutions/LegalWorkspace/src/components/FindSimilar/findSimilarTypes.ts
  src/solutions/LegalWorkspace/src/components/FindSimilar/index.ts
Owners: @spaarke-dev

docs(email-intelligence-r2): correct 044 deploy record — 3 deploys, live=b64eb1876, add-in current with master (no drift)
  projects/email-communication-intelligence-r2/notes/044-addin-deploy-runbook.md
Owners: @spaarke-dev

test(compose): pin style-inherited numbering against a real Word document (#698)
  tests/fixtures/compose-corpus/style-inherited-numbering.docx
  tests/integration/seam/Compose/ComposeStyleInheritedNumberingSeamTests.cs
Owners: @spaarke-dev

fix(compose 781): self-heal a duplicated save-identity key, and restore the signal it hides
  scripts/Repair-ComposeIdentityKey.ps1
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ComposeModule.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeIdentityKeyHealthCheck.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeRecordResolution.cs
  tests/integration/contract/Api/Compose/ComposeIdentityKeyHealthCheckContractTests.cs
  tests/integration/data-mutation/Compose/ComposeSaveIdentitySelfHealTests.cs
Owners: @spaarke-dev, @devops-team

fix(compose 777): report section-break-flattened per EDITED block, not per opened document
  projects/spaarkeai-compose-r8/current-task.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeBannerStack.tsx
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeContentModelProjector.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocumentRenderer.cs
  tests/integration/seam/Compose/ComposeHeaderFooterPageBreakSeamTests.cs
Owners: @spaarke-dev

fix(client): three live defects where code ran but reached the wrong destination
  projects/unified-access-control-r2/notes/client-tech-debt-sweep-2026-09-01.md
  projects/unified-access-control-r2/notes/tech-debt-sweep-VERIFICATION-2026-09-01.md
  src/client/shared/Spaarke.UI.Components/src/components/SummarizeFilesWizard/SummarizeFilesDialog.tsx
  src/client/shared/Spaarke.UI.Components/src/utils/adapters/bffUploadServiceAdapter.ts
  src/solutions/SpeAdminApp/src/components/containers/ContainersPage.tsx
Owners: @spaarke-dev

fix(compose 696): bound the request body on /api/compose/project
  src/server/api/Sprk.Bff.Api/Api/ComposeMountEndpoints.cs
  tests/integration/contract/Api/Compose/ComposeRouteSurfaceContractTests.cs
  tests/integration/seam/Compose/ComposeProjectSeamTests.cs
Owners: @spaarke-dev

checkpoint: #781 + #777 + #696 + #698-contract closed; drive-provenance brief written
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
