Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

docs(insights-engine-r2): Wave F planning — R5 contract v1.1 request + mini-plan + 4 tasks
  projects/ai-spaarke-insights-engine-r2/notes/insights-engine-assistant-integration-brief.md
  projects/ai-spaarke-insights-engine-r2/notes/insights-engine-contract-v1.1-request.md
  projects/ai-spaarke-insights-engine-r2/notes/wave-f-v1.1-mini-plan.md
  projects/ai-spaarke-insights-engine-r2/tasks/050-streaming-and-citation-spike.poml
  projects/ai-spaarke-insights-engine-r2/tasks/051-sse-streaming-endpoint.poml
  projects/ai-spaarke-insights-engine-r2/tasks/052-citations-href-projection.poml
  projects/ai-spaarke-insights-engine-r2/tasks/053-contract-v1.1-docs.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

design(r5): draft design.md + Insights r2 coordination + ADR-018 Flag Scope Discipline
  .claude/adr/ADR-018-feature-flags.md
  projects/spaarke-ai-platform-unification-r5/design.md
  projects/spaarke-ai-platform-unification-r5/notes/insights-r2-coordination.md
Owners: @spaarke-dev

chore(r5): seed project folder with README + kickoff notes
  projects/spaarke-ai-platform-unification-r5/README.md
  projects/spaarke-ai-platform-unification-r5/notes/ground-truth-spaarkeai-state.md
  projects/spaarke-ai-platform-unification-r5/notes/user-testing-kickoff.md
Owners: @spaarke-dev, @docs-team

design(r5): integrate Insights team v1.1 feedback (7 points; ~4.5d Wave F)
  projects/spaarke-ai-platform-unification-r5/design.md
  projects/spaarke-ai-platform-unification-r5/notes/insights-engine-contract-v1.1-request.md
  projects/spaarke-ai-platform-unification-r5/notes/insights-team-v1.1-response.md
Owners: @spaarke-dev

design(r5): integrate Insights r2 v1.0 contract + request v1.1 (SSE + clickable citations)
  projects/spaarke-ai-platform-unification-r5/design.md
  projects/spaarke-ai-platform-unification-r5/notes/insights-engine-assistant-integration-brief.md
  projects/spaarke-ai-platform-unification-r5/notes/insights-engine-contract-v1.1-request.md
  projects/spaarke-ai-platform-unification-r5/notes/insights-r2-coordination.md
Owners: @spaarke-dev

spec(r5): generate spec.md from design.md via /design-to-spec
  projects/spaarke-ai-platform-unification-r5/spec.md
Owners: @spaarke-dev

plan(r5): generate plan.md + CLAUDE.md + current-task.md + tasks/ scaffold
  projects/spaarke-ai-platform-unification-r5/CLAUDE.md
  projects/spaarke-ai-platform-unification-r5/current-task.md
  projects/spaarke-ai-platform-unification-r5/plan.md
  projects/spaarke-ai-platform-unification-r5/tasks/TASK-INDEX.md
Owners: @spaarke-dev

checkpoint(r5): pre-compaction state save before context limit
  projects/spaarke-ai-platform-unification-r5/current-task.md
Owners: @spaarke-dev

fix(spaarke-datagrid-framework-r1): task 035 UAT iteration 1 → iteration 2 — 5 regressions remediated
  projects/spaarke-datagrid-framework-r1/notes/drafts/035-event-configjson.json
  projects/spaarke-datagrid-framework-r1/notes/phase-d-uat-report.md
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
  src/solutions/EventsPage/src/App.tsx
Owners: @spaarke-dev

plan(r5): generate Phase 1 task POMLs 001-006 (Wave 1 + 1b)
  projects/spaarke-ai-platform-unification-r5/tasks/001-provision-session-files-index.poml
  projects/spaarke-ai-platform-unification-r5/tasks/002-extend-ragsearchoptions-sessionid.poml
  projects/spaarke-ai-platform-unification-r5/tasks/003-parameterize-ragindexingpipeline.poml
  projects/spaarke-ai-platform-unification-r5/tasks/004-extend-chatsession-uploaded-files.poml
  projects/spaarke-ai-platform-unification-r5/tasks/005-add-fielddelta-to-analysischunk.poml
  projects/spaarke-ai-platform-unification-r5/tasks/006-azure-openai-structured-outputs-streaming.poml
Owners: @spaarke-dev

plan(r5): generate Phase 1 task POMLs 007-009 (Wave 2)
  projects/spaarke-ai-platform-unification-r5/tasks/007-session-files-cleanup-hostedservice.poml
  projects/spaarke-ai-platform-unification-r5/tasks/008-telemetry-events-cost-observability.poml
  projects/spaarke-ai-platform-unification-r5/tasks/009-phase-1-tests-and-publish-size.poml
Owners: @spaarke-dev

feat(insights-engine-r2): Wave F — contract v1.1 (SSE streaming + citations[].href)
  projects/ai-spaarke-insights-engine-r2/current-task.md
  projects/ai-spaarke-insights-engine-r2/design-e3-tool-call-contract.md
  projects/ai-spaarke-insights-engine-r2/notes/insights-engine-assistant-integration-brief.md
  projects/ai-spaarke-insights-engine-r2/notes/spikes/wave-f-streaming-citation-spike.md
  projects/ai-spaarke-insights-engine-r2/notes/wave-f-v1.1-mini-plan.md
  projects/ai-spaarke-insights-engine-r2/tasks/050-streaming-and-citation-spike.poml
  projects/ai-spaarke-insights-engine-r2/tasks/051-sse-streaming-endpoint.poml
  projects/ai-spaarke-insights-engine-r2/tasks/052-citations-href-projection.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Insights/InsightsAssistantEndpoint.cs
  src/server/api/Sprk.Bff.Api/Configuration/AssistantCitationHrefOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/PublicContracts/AssistantQueryChunk.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/PublicContracts/AssistantQueryFacadeResult.cs
  src/server/api/Sprk.Bff.Api/Models/Insights/InsightsAssistantQueryRequest.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/AssistantToolCallHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/InsightsOrchestrator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/IInsightsAi.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Insights/InsightsAssistantEndpointStreamingTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/AssistantToolCallHandlerCitationHrefTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/InsightsOrchestratorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/Playbooks/PredictMatterCostPlaybookTests.cs
Owners: @spaarke-dev

fix(spaarke-datagrid-framework-r1): task 035 iteration 3 — root cause was missing box-sizing reset, not padding values
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
  src/solutions/EventsPage/index.html
  src/solutions/EventsPage/src/App.tsx
  src/solutions/LegalWorkspace/index.html
Owners: @spaarke-dev

docs(r5): update insights-r2-coordination.md §8 changelog — Wave F v1.1 shipped
  projects/spaarke-ai-platform-unification-r5/notes/insights-r2-coordination.md
Owners: @spaarke-dev

plan(r5): generate Phase 2 task POMLs 010-015 (Wave 3)
  projects/spaarke-ai-platform-unification-r5/tasks/010-sprk-analysisaction-summarize-seed.poml
  projects/spaarke-ai-platform-unification-r5/tasks/011-sprk-analysisplaybook-summarize-config.poml
  projects/spaarke-ai-platform-unification-r5/tasks/012-session-summarize-orchestrator.poml
  projects/spaarke-ai-platform-unification-r5/tasks/013-extract-richfilepreview-renderer.poml
  projects/spaarke-ai-platform-unification-r5/tasks/014-summarize-session-endpoint.poml
  projects/spaarke-ai-platform-unification-r5/tasks/015-invoke-summarize-playbook-tool.poml
Owners: @spaarke-dev

plan(r5): generate Phase 2 task POMLs 016-021 (Wave 4)
  projects/spaarke-ai-platform-unification-r5/tasks/016-paneeventbus-additive-event-types.poml
  projects/spaarke-ai-platform-unification-r5/tasks/017-structured-output-stream-widget.poml
  projects/spaarke-ai-platform-unification-r5/tasks/018-file-preview-context-widget.poml
  projects/spaarke-ai-platform-unification-r5/tasks/019-slash-command-summarize-semantic-extension.poml
  projects/spaarke-ai-platform-unification-r5/tasks/020-chat-pane-orchestration-ux.poml
  projects/spaarke-ai-platform-unification-r5/tasks/021-per-file-summarize-this-only-affordance.poml
Owners: @spaarke-dev

docs(insights-engine): update architecture + operator guide for v1.1 ship
  docs/architecture/INDEX.md
  docs/architecture/INSIGHTS-ENGINE-ARCHITECTURE.md
  docs/guides/INSIGHTS-ENGINE-GUIDE.md
Owners: @spaarke-dev, @docs-team

plan(r5): generate Phase 2 task POMLs 022-024 (Wave 5)
  projects/spaarke-ai-platform-unification-r5/tasks/022-upgrade-documentviewerwidget.poml
  projects/spaarke-ai-platform-unification-r5/tasks/023-insights-contract-review-signoff.poml
  projects/spaarke-ai-platform-unification-r5/tasks/024-insights-query-tool-handler.poml
Owners: @spaarke-dev

plan(r5): generate Phase 2 task POMLs 025-029 (Wave 6)
  projects/spaarke-ai-platform-unification-r5/tasks/025-subject-resolution-http-client.poml
  projects/spaarke-ai-platform-unification-r5/tasks/026-insights-response-renderer.poml
  projects/spaarke-ai-platform-unification-r5/tasks/027-clickable-citations-v1-1.poml
  projects/spaarke-ai-platform-unification-r5/tasks/028-confidence-floor-badge.poml
  projects/spaarke-ai-platform-unification-r5/tasks/029-insights-12-error-codes-retry.poml
Owners: @spaarke-dev

plan(r5): generate Phase 2 closure POMLs 030-031 (Wave 7)
  projects/spaarke-ai-platform-unification-r5/tasks/030-insights-tool-smoke-tests.poml
  projects/spaarke-ai-platform-unification-r5/tasks/031-phase-2-tests-integration-verification.poml
Owners: @spaarke-dev

plan(r5): generate Phase 3 + wrap-up task POMLs 040-044, 090 (Waves 8+9)
  projects/spaarke-ai-platform-unification-r5/tasks/040-analyze-configuration-only-proof-point.poml
  projects/spaarke-ai-platform-unification-r5/tasks/041-get-started-summarize-card.poml
  projects/spaarke-ai-platform-unification-r5/tasks/042-telemetry-dashboards.poml
  projects/spaarke-ai-platform-unification-r5/tasks/043-operator-led-end-to-end-testing.poml
  projects/spaarke-ai-platform-unification-r5/tasks/044-lessons-learned-r6-backlog.poml
  projects/spaarke-ai-platform-unification-r5/tasks/090-project-wrap-up.poml
Owners: @spaarke-dev

plan(r5): close /project-pipeline — fix path drift + flip status
  projects/spaarke-ai-platform-unification-r5/CLAUDE.md
  projects/spaarke-ai-platform-unification-r5/current-task.md
  projects/spaarke-ai-platform-unification-r5/plan.md
  projects/spaarke-ai-platform-unification-r5/spec.md
  projects/spaarke-ai-platform-unification-r5/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(spaarke-datagrid-framework-r1): task 035 UAT iteration 4 — 5 issues from operator screenshots
  src/client/shared/Spaarke.Events.Components/src/components/CalendarSection/CalendarSection.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/HeaderCellContent.tsx
  src/solutions/CalendarSidePane/src/components/CalendarSection.tsx
  src/solutions/EventsPage/src/App.tsx
Owners: @spaarke-dev

fix(tests): suppress FileSystemWatcher NRE on IntegrationTestFixture dispose
  tests/integration/Spe.Integration.Tests/IntegrationTestFixture.cs
Owners: @spaarke-dev

feat(r5/d1-01): provision spaarke-session-files Azure AI Search index
  infrastructure/ai-search/deploy-session-files-index.ps1
  infrastructure/ai-search/spaarke-session-files.json
  projects/spaarke-ai-platform-unification-r5/current-task.md
  projects/spaarke-ai-platform-unification-r5/notes/task-001-deployment-evidence.md
  projects/spaarke-ai-platform-unification-r5/tasks/001-provision-session-files-index.poml
  projects/spaarke-ai-platform-unification-r5/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(r5): wave P1-G2/G3 — RAG sessionId routing + indexing + manifests + SSE FieldDelta (tasks 002-005)
  projects/spaarke-ai-platform-unification-r5/current-task.md
  projects/spaarke-ai-platform-unification-r5/tasks/002-extend-ragsearchoptions-sessionid.poml
  projects/spaarke-ai-platform-unification-r5/tasks/003-parameterize-ragindexingpipeline.poml
  projects/spaarke-ai-platform-unification-r5/tasks/004-extend-chatsession-uploaded-files.poml
  projects/spaarke-ai-platform-unification-r5/tasks/005-add-fielddelta-to-analysischunk.poml
  projects/spaarke-ai-platform-unification-r5/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Models/Ai/AnalysisChunk.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/Chat/ChatSession.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/KnowledgeDocument.cs
  src/server/api/Sprk.Bff.Api/Options/AiSearchOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IRagService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/RagIndexingPipeline.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/RagService.cs
  tests/unit/Sprk.Bff.Api.Tests/Models/Ai/AnalysisChunkFieldDeltaTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Models/Ai/Chat/ChatSessionSerializationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/RagIndexingPipelineTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/RagServiceTests.cs
Owners: @spaarke-dev

feat(r5): wave P1-G4/G5 — Structured Outputs streaming + cleanup job + telemetry (tasks 006-008)
  projects/spaarke-ai-platform-unification-r5/current-task.md
  projects/spaarke-ai-platform-unification-r5/notes/spikes/task-006-structured-outputs/spike-raw-stream.sse
  projects/spaarke-ai-platform-unification-r5/notes/spikes/task-006-structured-outputs/spike-request.json
  projects/spaarke-ai-platform-unification-r5/notes/task-006-implementation-evidence.md
  projects/spaarke-ai-platform-unification-r5/notes/task-006-spike-results.md
  projects/spaarke-ai-platform-unification-r5/notes/task-007-verification-evidence.md
  projects/spaarke-ai-platform-unification-r5/notes/task-008-telemetry-evidence.md
  projects/spaarke-ai-platform-unification-r5/tasks/006-azure-openai-structured-outputs-streaming.poml
  projects/spaarke-ai-platform-unification-r5/tasks/007-session-files-cleanup-hostedservice.poml
  projects/spaarke-ai-platform-unification-r5/tasks/008-telemetry-events-cost-observability.poml
  projects/spaarke-ai-platform-unification-r5/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/TelemetryModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ChatSessionManager.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ISessionFilesCleanupSignal.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionFilesCleanupJob.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionFilesCleanupOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionFilesCleanupSignal.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/OpenAiClient.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Streaming/IncrementalJsonParser.cs
  src/server/api/Sprk.Bff.Api/Telemetry/R5SummarizeTelemetry.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/ChatSessionManagerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/SessionFilesCleanupJobTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Streaming/IncrementalJsonParserTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Telemetry/R5SummarizeTelemetryTests.cs
Owners: @spaarke-dev

feat(r5/d1-09): Phase 1 GATE GREEN — closeout verification (task 009)
  projects/spaarke-ai-platform-unification-r5/current-task.md
  projects/spaarke-ai-platform-unification-r5/notes/task-009-phase-1-closeout.md
  projects/spaarke-ai-platform-unification-r5/tasks/009-phase-1-tests-and-publish-size.poml
  projects/spaarke-ai-platform-unification-r5/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(spaarke-datagrid-framework-r1): task 035 UAT iteration 5 — sort/filter blocking, diagnostic logging, form-embed iframe height
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/HeaderCellContent.tsx
  src/solutions/EventsPage/index.html
  src/solutions/EventsPage/src/App.tsx
Owners: @spaarke-dev

feat(spaarke-datagrid-framework-r1): Deploy-AllDataGridConsumers.ps1 — atomic framework redeploy
  projects/spaarke-datagrid-framework-r1/CLAUDE.md
  scripts/Deploy-AllDataGridConsumers.ps1
Owners: @spaarke-dev, @devops-team

feat(r5): Phase 2 Wave A — Summarize action+playbook deploy + frontend renderer/events/slash (tasks 010, 011, 013, 016, 019)
  projects/spaarke-ai-platform-unification-r5/current-task.md
  projects/spaarke-ai-platform-unification-r5/notes/phase-2-wave-a-deployment-evidence.md
  projects/spaarke-ai-platform-unification-r5/notes/task-010-011-playbook-definition-evidence.md
  projects/spaarke-ai-platform-unification-r5/notes/task-013-extraction-evidence.md
  projects/spaarke-ai-platform-unification-r5/notes/task-016-paneeventbus-evidence.md
  projects/spaarke-ai-platform-unification-r5/notes/task-019-slash-command-evidence.md
  projects/spaarke-ai-platform-unification-r5/tasks/010-sprk-analysisaction-summarize-seed.poml
  projects/spaarke-ai-platform-unification-r5/tasks/011-sprk-analysisplaybook-summarize-config.poml
  projects/spaarke-ai-platform-unification-r5/tasks/013-extract-richfilepreview-renderer.poml
  projects/spaarke-ai-platform-unification-r5/tasks/016-paneeventbus-additive-event-types.poml
  projects/spaarke-ai-platform-unification-r5/tasks/019-slash-command-summarize-semantic-extension.poml
  projects/spaarke-ai-platform-unification-r5/tasks/TASK-INDEX.md
  scripts/Deploy-AnalysisAction.ps1
  src/client/shared/Spaarke.AI.Widgets/src/events/PaneEventTypes.ts
  src/client/shared/Spaarke.UI.Components/src/components/FilePreview/RichFilePreview.tsx
  src/client/shared/Spaarke.UI.Components/src/components/FilePreview/RichFilePreviewDialog.tsx
  src/client/shared/Spaarke.UI.Components/src/components/FilePreview/__tests__/RichFilePreview.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/FilePreview/__tests__/RichFilePreviewDialog.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/FilePreview/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/SlashCommandMenu/slashCommandMenu.types.ts
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/Playbooks/summarize-document-for-chat.playbook.json
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
Owners: @spaarke-dev, @devops-team

feat(r5): Phase 2 Wave B — orchestrator + Workspace widget + Context widget + DocumentViewer upgrade (tasks 012, 017, 018, 022)
  projects/spaarke-ai-platform-unification-r5/notes/insights-r2-coordination.md
  projects/spaarke-ai-platform-unification-r5/notes/task-012-orchestrator-evidence.md
  projects/spaarke-ai-platform-unification-r5/notes/task-017-widget-evidence.md
  projects/spaarke-ai-platform-unification-r5/notes/task-018-widget-evidence.md
  projects/spaarke-ai-platform-unification-r5/notes/task-022-upgrade-evidence.md
  projects/spaarke-ai-platform-unification-r5/tasks/012-session-summarize-orchestrator.poml
  projects/spaarke-ai-platform-unification-r5/tasks/017-structured-output-stream-widget.poml
  projects/spaarke-ai-platform-unification-r5/tasks/018-file-preview-context-widget.poml
  projects/spaarke-ai-platform-unification-r5/tasks/022-upgrade-documentviewerwidget.poml
  projects/spaarke-ai-platform-unification-r5/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/registry/register-context-widgets.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/FilePreviewContextWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/DocumentViewerWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/StructuredOutputStreamWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/DocumentViewerWidget.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/register-structured-output-stream-widget.ts
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionSummarizeOrchestrator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IOpenAiClient.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SessionSummarizeOrchestratorTests.cs
Owners: @spaarke-dev

docs(r5): chat-agent parallel-build audit (Insights r3 heads-up response) + index rename note
  projects/spaarke-ai-platform-unification-r5/notes/insights-r2-coordination.md
  projects/spaarke-ai-platform-unification-r5/notes/r5-chat-agent-parallel-build-audit.md
Owners: @spaarke-dev

feat(spaarke-datagrid-framework-r1): full DataGrid framework hardening — host contract + PageShell + side pane infra + consumer migrations
  docs/guides/DATAGRID-CODE-PAGE-HOST-CONTRACT.md
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGridPageShell.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/sidePane/DataGridSidePaneOrchestrator.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/sidePane/SidePaneFilterChannel.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/sidePane/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/sidePane/useSidePaneFilter.ts
  src/client/shared/Spaarke.UI.Components/src/services/xrmGlobal.ts
  src/solutions/CalendarSidePane/package-lock.json
  src/solutions/CalendarSidePane/src/App.tsx
  src/solutions/EventsPage/src/App.tsx
  src/solutions/EventsPage/src/calendarPaneOrchestrator.ts
  src/solutions/sprk_invoicespage/src/main.tsx
  src/solutions/sprk_kpiassessmentspage/src/main.tsx
  templates/spaarke-codepage-with-datagrid/README.md
  templates/spaarke-codepage-with-datagrid/index.html
  templates/spaarke-codepage-with-datagrid/package.json
  templates/spaarke-codepage-with-datagrid/src/main.tsx
  templates/spaarke-codepage-with-datagrid/tsconfig.json
  templates/spaarke-codepage-with-datagrid/tsconfig.node.json
  templates/spaarke-codepage-with-datagrid/vite.config.ts
Owners: @spaarke-dev, @docs-team

docs(insights-engine-r2): task 090 — Phase 1.5 wrap-up + lessons-learned + Phase 2 outline + archive
  projects/ai-spaarke-insights-engine-r2/PHASE-2-OUTLINE.md
  projects/ai-spaarke-insights-engine-r2/README.md
  projects/ai-spaarke-insights-engine-r2/current-task.md
  projects/ai-spaarke-insights-engine-r2/notes/archive/wave-b-action-codes-draft-2026-06-02.md
  projects/ai-spaarke-insights-engine-r2/notes/lessons-learned.md
  projects/ai-spaarke-insights-engine-r2/tasks/090-project-wrap-up.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(r5): Phase 2 Wave C — direct endpoint + agent-tool registration (tasks 014, 015)
  projects/spaarke-ai-platform-unification-r5/notes/task-014-endpoint-evidence.md
  projects/spaarke-ai-platform-unification-r5/notes/task-015-tool-evidence.md
  projects/spaarke-ai-platform-unification-r5/tasks/014-summarize-session-endpoint.poml
  projects/spaarke-ai-platform-unification-r5/tasks/015-invoke-summarize-playbook-tool.poml
  projects/spaarke-ai-platform-unification-r5/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/SummarizeSessionEndpoint.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/Tools/InvokeSummarizePlaybookTool.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/SummarizeSessionEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SprkChatAgentFactoryTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/Tools/InvokeSummarizePlaybookToolTests.cs
Owners: @spaarke-dev

docs(bff-ai-architecture-audit): initiate r1 audit project — comprehensive AI infrastructure review
  projects/bff-ai-architecture-audit-r1/CLAUDE.md
  projects/bff-ai-architecture-audit-r1/README.md
  projects/bff-ai-architecture-audit-r1/current-task.md
  projects/bff-ai-architecture-audit-r1/design.md
  projects/bff-ai-architecture-audit-r1/notes/initial-findings.md
  projects/bff-ai-architecture-audit-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(insights-engine-r3): initiate Phase 2 project scaffold — PAUSED pending audit findings
  projects/ai-spaarke-insights-engine-r3/CLAUDE.md
  projects/ai-spaarke-insights-engine-r3/README.md
  projects/ai-spaarke-insights-engine-r3/current-task.md
  projects/ai-spaarke-insights-engine-r3/design.md
  projects/ai-spaarke-insights-engine-r3/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore(spaarke-datagrid-framework-r1): close Phase D — task 035 ✅ + Event drill-through parent-context filter wired
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/035-event-configjson.json
  projects/spaarke-datagrid-framework-r1/notes/phase-d-uat-report.md
  projects/spaarke-datagrid-framework-r1/tasks/035-phase-d-uat-and-bug-closure.poml
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
  src/solutions/EventsPage/src/App.tsx
Owners: @spaarke-dev

feat(r5): Phase 2 Wave D — chat-pane orchestration UX + per-file affordance (tasks 020, 021)
  projects/spaarke-ai-platform-unification-r5/notes/task-020-chat-pane-ux-evidence.md
  projects/spaarke-ai-platform-unification-r5/notes/task-021-per-file-affordance-evidence.md
  projects/spaarke-ai-platform-unification-r5/tasks/020-chat-pane-orchestration-ux.poml
  projects/spaarke-ai-platform-unification-r5/tasks/021-per-file-summarize-this-only-affordance.poml
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/FilePreviewContextWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/__tests__/FilePreviewContextWidget.summarize-only.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.r5.test.tsx
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
