Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

checkpoint(ai-redesign-r1): pre-compaction handoff — P1 UAT round 1 findings, fix wave in flight, P2 next
  projects/spaarke-ai-architecture-redesign-r1/current-task.md
Owners: @spaarke-dev

feat(events): point Calendar widget grid at dedicated config record
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
Owners: @spaarke-dev

fix(ai-redesign-r1): 027-fix — G-P1 UAT round-1 defects + operator UX ruling (classify-auto, summarize-by-chip)
  projects/spaarke-ai-architecture-redesign-r1/notes/g-p1-uat-round1-findings.md
  projects/spaarke-ai-architecture-redesign-r1/notes/task-022-event-sse-contract.md
  src/client/shared/Spaarke.UI.Components/src/services/__tests__/dispatchConsumer.test.ts
  src/client/shared/Spaarke.UI.Components/src/services/dispatchConsumer.ts
  src/server/api/Sprk.Bff.Api/Models/Ai/AnalysisChunk.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionDispatchOrchestrator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/EventRules/EventRuleSseContract.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/EventRules/EventRulesOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/EventRules/EventRulesService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/Binding.cs
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/DocumentUploadedEventStream.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.event-path.test.tsx
  tests/integration/contract/Api/Ai/DispatchSessionEndpointContractTests.cs
  tests/integration/contract/Eval/GoldenUtteranceEvalSuiteTests.cs
  tests/integration/contract/Eval/golden-utterances.json
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/EventRules/EventRulesServiceTests.cs
Owners: @spaarke-dev

checkpoint(ai-redesign-r1): fix wave deployed — awaiting round-2 UAT
  projects/spaarke-ai-architecture-redesign-r1/current-task.md
Owners: @spaarke-dev

checkpoint(ai-redesign-r1): final pre-compaction handoff refresh — fix wave landed+deployed, awaiting round-2 UAT
  projects/spaarke-ai-architecture-redesign-r1/current-task.md
Owners: @spaarke-dev

fix(ai-redesign-r1): G-P1 UAT round-2 — chip strip above input zone; unfreeze transition-chip file scope; session-level attachment gating
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionDispatchOrchestrator.cs
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.consumer-chips.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.event-path.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.playbook-options.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.r5.test.tsx
  tests/integration/contract/Api/Ai/DispatchSessionEndpointContractTests.cs
Owners: @spaarke-dev

docs(ai-redesign-r1): close P1 — 027 operator-directed pass (2 UAT rounds), round-2 findings note, current-task reset for P2
  projects/spaarke-ai-architecture-redesign-r1/current-task.md
  projects/spaarke-ai-architecture-redesign-r1/notes/g-p1-uat-round2-findings.md
  projects/spaarke-ai-architecture-redesign-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(SRFR-048): RegardingResolver v1.4.1 — nav-prop-limited clear loop
  src/client/pcf/RegardingResolver/RegardingResolver/ControlManifest.Input.xml
  src/client/pcf/RegardingResolver/RegardingResolver/handlers/ResolverWriteHandler.ts
  src/client/pcf/RegardingResolver/RegardingResolver/index.ts
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/ControlManifest.xml
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/bundle.js
  src/client/pcf/RegardingResolver/Solution/pack.ps1
  src/client/pcf/RegardingResolver/Solution/solution.xml
  src/client/pcf/RegardingResolver/__tests__/ResolverWriteHandler.test.ts
  src/client/pcf/RegardingResolver/package.json
Owners: @spaarke-dev

feat(ai-redesign-r1): W-P2-B — loop-native elicitation (032) + honest refusal Binding (033)
  infra/dataverse/outputschemas/ref-chat-v1.schema.json
  projects/spaarke-ai-architecture-redesign-r1/current-task.md
  projects/spaarke-ai-architecture-redesign-r1/notes/jps/REF-CHAT-v1.jps.json
  projects/spaarke-ai-architecture-redesign-r1/notes/task-032-loop-elicitation-notes.md
  projects/spaarke-ai-architecture-redesign-r1/notes/task-033-honest-refusal-notes.md
  projects/spaarke-ai-architecture-redesign-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/hooks/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/hooks/useActionHandlers.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useSseStream.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/Chat/PendingInvocation.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/Chat/SessionLedgerEntries.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/AgentToolProjection.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/AgentTurnContract.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/BindingCapabilityTool.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/BindingInputSchemaValidator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ElicitationTurnRouter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/NullPendingPlanManager.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PendingPlanManager.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/RefusalCapabilityTool.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionDispatchOrchestrator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/ConsumerTypes.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionPersistenceService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/StoredLedgerEntries.cs
  src/server/api/Sprk.Bff.Api/Telemetry/AiTelemetry.cs
  tests/integration/contract/Api/Ai/DispatchSessionEndpointContractTests.cs
  tests/integration/contract/Eval/GoldenUtteranceEvalSuiteTests.cs
  tests/integration/contract/Eval/golden-utterances.json
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/LoopElicitationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/RefusalCapabilityToolTests.cs
Owners: @spaarke-dev

feat(ai-redesign-r1)!: 034 HARD CUTOVER — chat NL is the agent loop, nothing else (FR-P2-05)
  projects/spaarke-ai-architecture-redesign-r1/current-task.md
  projects/spaarke-ai-architecture-redesign-r1/notes/task-034-chat-nl-hard-cutover-notes.md
  projects/spaarke-ai-architecture-redesign-r1/tasks/TASK-INDEX.md
  projects/spaarke-ai-architecture-redesign-r2/spaarke-ai-architecture-redesign-assessment.md
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/NullSprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PlaybookDispatcher.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/SoftSlashRouter.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/SoftSlashRouter.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/composition.integration.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/natural-language-regression.test.ts
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/ChatIntentHintRoundTripTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookDispatcherIntentBiasTests.cs
Owners: @spaarke-dev

feat(ai-redesign-r1): 037 — eval full-catalog + injection cases; FIX ungated loop write tools (FR-P2-08)
  projects/spaarke-ai-architecture-redesign-r1/notes/task-037-eval-full-catalog-injection-notes.md
  projects/spaarke-ai-architecture-redesign-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SideEffectGateAIFunction.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ToolHandlerToAIFunctionAdapter.cs
  tests/integration/contract/Eval/GoldenUtteranceEvalSuiteTests.cs
  tests/integration/contract/Eval/P2LoopInjectionEvalSuiteTests.cs
  tests/integration/contract/Eval/README.md
  tests/integration/contract/Eval/golden-utterances.json
Owners: @spaarke-dev, @docs-team

docs(ai-redesign-r1): P2 code complete (030-037) — STOPPED at gate 038 for operator UAT; script + 2 rulings in current-task.md
  projects/spaarke-ai-architecture-redesign-r1/current-task.md
Owners: @spaarke-dev

docs(SRFR-049): sprk_reportcard schema fix + scope adjustments
  projects/set-regarding-and-field-mapping-resolver-r1/notes/task-049-scope-adjustment-and-reportcard-schema.md
Owners: @spaarke-dev

fix(SRFR-050): RegardingResolver v1.4.2 — defensive lowercase on host entity + zero-nav-prop diagnostic
  src/client/pcf/RegardingResolver/RegardingResolver/ControlManifest.Input.xml
  src/client/pcf/RegardingResolver/RegardingResolver/handlers/ResolverWriteHandler.ts
  src/client/pcf/RegardingResolver/RegardingResolver/index.ts
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/ControlManifest.xml
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/bundle.js
  src/client/pcf/RegardingResolver/Solution/pack.ps1
  src/client/pcf/RegardingResolver/Solution/solution.xml
  src/client/pcf/RegardingResolver/package.json
Owners: @spaarke-dev

style(SRFR-051): RegardingResolver v1.4.3 — reduce title top padding 4px → 2px for OOB parity
  src/client/pcf/RegardingResolver/RegardingResolver/ControlManifest.Input.xml
  src/client/pcf/RegardingResolver/RegardingResolver/RegardingResolverApp.tsx
  src/client/pcf/RegardingResolver/RegardingResolver/index.ts
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/ControlManifest.xml
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/bundle.js
  src/client/pcf/RegardingResolver/Solution/pack.ps1
  src/client/pcf/RegardingResolver/Solution/solution.xml
  src/client/pcf/RegardingResolver/package.json
Owners: @spaarke-dev

fix(SRFR-053): sprk_fieldmapping_push v1.1.0 — MSAL Bearer auth for BFF calls
  projects/set-regarding-and-field-mapping-resolver-r1/notes/task-053-bff-push-auth.md
Owners: @spaarke-dev

fix(SRFR-053): sprk_fieldmapping_push.js v1.1.0 code — MSAL Bearer + auth path
  src/client/webresources/js/sprk_fieldmapping_push.js
Owners: @spaarke-dev

feat(SRFR-052): RegardingResolver v1.4.4 — display-name resolution via sprk_recorddisplaynamefield metadata
  projects/set-regarding-and-field-mapping-resolver-r1/notes/task-052-display-name-resolution.md
  src/client/pcf/RegardingResolver/RegardingResolver/ControlManifest.Input.xml
  src/client/pcf/RegardingResolver/RegardingResolver/RegardingResolverApp.tsx
  src/client/pcf/RegardingResolver/RegardingResolver/index.ts
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/ControlManifest.xml
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/bundle.js
  src/client/pcf/RegardingResolver/Solution/pack.ps1
  src/client/pcf/RegardingResolver/Solution/solution.xml
  src/client/pcf/RegardingResolver/package.json
  src/client/shared/Spaarke.UI.Components/src/services/PolymorphicResolverService.ts
  src/client/shared/Spaarke.UI.Components/src/services/__tests__/PolymorphicResolverService.test.ts
  src/client/shared/Spaarke.UI.Components/src/services/index.ts
Owners: @spaarke-dev

fix(SRFR-054): RegardingResolver v1.4.5 — extend CREATE-mode paths to use SRFR-052 display-name resolution
  src/client/pcf/RegardingResolver/RegardingResolver/ControlManifest.Input.xml
  src/client/pcf/RegardingResolver/RegardingResolver/RegardingResolverApp.tsx
  src/client/pcf/RegardingResolver/RegardingResolver/handlers/ResolverWriteHandler.ts
  src/client/pcf/RegardingResolver/RegardingResolver/index.ts
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/ControlManifest.xml
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/bundle.js
  src/client/pcf/RegardingResolver/Solution/pack.ps1
  src/client/pcf/RegardingResolver/Solution/solution.xml
  src/client/pcf/RegardingResolver/package.json
Owners: @spaarke-dev

feat(ai-redesign-r1): 046 — widget layer consolidation; P3 CODE COMPLETE (FR-P3-07)
  projects/spaarke-ai-architecture-redesign-r1/current-task.md
  projects/spaarke-ai-architecture-redesign-r1/notes/task-046-widget-layer-notes.md
  projects/spaarke-ai-architecture-redesign-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/src/__tests__/widget-serialize-restore.test.ts
  src/client/shared/Spaarke.AI.Widgets/src/events/PaneEventTypes.ts
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/registry/__tests__/register-context-widgets.test.ts
  src/client/shared/Spaarke.AI.Widgets/src/registry/register-context-widgets.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/ExecutionTraceWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/FilePreviewContextWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/__tests__/ExecutionTraceWidget.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/__tests__/register-context-widgets.test.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/register-context-widgets.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/StructuredOutputStreamWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/StructuredOutputStreamWidget.integration.dispatchSummarizeOnly.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/StructuredOutputStreamWidget.sections.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/StructuredOutputStreamWidget.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/client/shared/Spaarke.UI.Components/src/services/__tests__/dispatchConsumer.test.ts
  src/client/shared/Spaarke.UI.Components/src/services/dispatchConsumer.ts
  src/client/shared/Spaarke.UI.Components/src/services/index.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Telemetry/ContextSseEventDto.cs
  src/solutions/SpaarkeAi/src/components/conversation/useContextEventBridge.ts
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
Owners: @spaarke-dev

fix(ai-redesign-r1): G-P3 UAT round-1 fix wave — 8 findings (schema outage, fabricated writes, host context, search scope)
  .claude/CHANGELOG.md
  .claude/skills/jps-action-create/SKILL.md
  infra/dataverse/inputschemas/cls-chat-v1.input.schema.json
  infra/dataverse/inputschemas/create-task-v1.input.schema.json
  infra/dataverse/inputschemas/daily-briefing-v1.input.schema.json
  infra/dataverse/inputschemas/draft-corr-v1.input.schema.json
  infra/dataverse/inputschemas/ref-chat-v1.input.schema.json
  infra/dataverse/inputschemas/sum-chat-v1.input.schema.json
  projects/spaarke-ai-architecture-redesign-r1/notes/g-p3-uat-round1-findings.md
  projects/spaarke-ai-architecture-redesign-r1/notes/task-042-create-task-capability-notes.md
  projects/spaarke-ai-architecture-redesign-r1/notes/task-043-dataverse-changes.md
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/OpenAiFunctionSchemaValidator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PlaybookChatContextProvider.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ToolHandlerToAIFunctionAdapter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/DataverseSearchDataHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/RoutingConsumerTypeHealthCheck.cs
  src/server/api/Sprk.Bff.Api/Telemetry/AiTelemetry.cs
  tests/integration/contract/Api/Ai/ChatTurnFailedErrorContractTests.cs
  tests/integration/contract/Catalog/CatalogInputSchemaContractTests.cs
  tests/integration/contract/Eval/GoldenUtteranceEvalSuiteTests.cs
  tests/integration/contract/Eval/P2LoopInjectionEvalSuiteTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/OpenAiFunctionSchemaValidatorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookChatContextProviderEnrichmentIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookChatContextProviderEnrichmentTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookChatContextProviderEntityNameLazyFetchTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SprkChatAgentFactoryInvalidSchemaProjectionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/DataverseSearchDataHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PublicContracts/RoutingConsumerTypeHealthCheckTests.cs
Owners: @spaarke-dev

fix(ai-redesign-r1): G-P3 round-2 fix wave — confirm-resume payloads, drafting/creating separation, gate-outcome memory, assistant-driven Compose layout
  infra/dataverse/sprk_analysistool-send-workspace-artifact-row.json
  projects/spaarke-ai-architecture-redesign-r1/notes/g-p3-uat-round2-findings.md
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/useActionHandlers.gateResolve.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/hooks/useActionHandlers.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/BindingCapabilityTool.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PendingPlanManager.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/DataverseCreateRecordHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/SendWorkspaceArtifactHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Telemetry/ContextSseEventDto.cs
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useContextEventBridge.workspace-open-tab.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/useContextEventBridge.ts
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/ConfirmationGateUnificationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/LoopElicitationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SprkChatAgentFactoryInvalidSchemaProjectionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/DataverseCreateRecordHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/SendWorkspaceArtifactHandlerTests.cs
Owners: @spaarke-dev

docs(ai-redesign-r1): gate-048 hold updated for round 3 (both surfaces @ 88c123f82)
  projects/spaarke-ai-architecture-redesign-r1/current-task.md
Owners: @spaarke-dev

fix(ai-redesign-r1): G-P3 round-3 fix wave — confirm-once steering, 422 gate failures, tab-restore race, document-create honesty
  infra/dataverse/sprk_analysistool-dataverse-create-record-row.json
  projects/spaarke-ai-architecture-redesign-r1/notes/g-p3-uat-round3-findings.md
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/BindingCapabilityTool.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/DataverseCreateRecordHandler.cs
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspaceTabManager.ts
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspacePane.summary-tab.test.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspacePane.tab-restore-race.test.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspaceTabManager.test.ts
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspaceTabManagerComponent.hideTabBar.test.tsx
  tests/integration/contract/Eval/golden-utterances.json
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/ConfirmationGateUnificationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/LoopElicitationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SprkChatAgentFactoryInvalidSchemaProjectionTests.cs
Owners: @spaarke-dev

feat(visualhost): operator-configurable drill-through view allowlist + EventsPage filterValue fix
  docs/guides/DATAGRID-FRAMEWORK-CONFIGURATION-GUIDE.md
  docs/guides/VISUALHOST-SETUP-GUIDE.md
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/control/services/ConfigurationLoader.ts
  src/client/pcf/VisualHost/control/types/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGridPageShell.tsx
  src/solutions/EventsPage/src/App.tsx
Owners: @spaarke-dev, @docs-team

docs(ai-redesign-r2): design.md DRAFT v0.1 — friction/memory/Compose charter for operator review
  projects/spaarke-ai-architecture-redesign-r2/design.md
Owners: @spaarke-dev

chore(visualhost): pack v1.4.26 solution artifacts (bundle + pack.ps1)
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
Owners: @spaarke-dev

feat(ai-redesign-r1): 051 catalog governance — one index, round-tripping seeds, script drift fixed
  .claude/catalogs/scope-model-index.json
  .claude/skills/jps-action-create/SKILL.md
  .claude/skills/jps-playbook-design/SKILL.md
  .claude/skills/jps-validate/SKILL.md
  infra/dataverse/playbooks/summarize-document-for-workspace-v1-multinode.json
  infra/dataverse/sprk_playbookconsumer-insights-rows.json
  infra/dataverse/sprk_playbookconsumer-rows.json
  projects/spaarke-ai-architecture-redesign-r1/notes/catalog-governance.md
  projects/spaarke-ai-architecture-redesign-r1/tasks/TASK-INDEX.md
  scripts/README.md
  scripts/Refresh-ScopeModelIndex.ps1
  scripts/Seed-JpsActions.ps1
  scripts/Seed-TypedHandlers.ps1
  scripts/dataverse/Seed-PlaybookConsumers.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

docs(ai-redesign-r1): 052 documentation refresh — architecture docs to shipped reality, ERD replacement, drift audit clean
  .claude/CHANGELOG.md
  CLAUDE.md
  docs/architecture/AI-ARCHITECTURE.md
  docs/architecture/INSIGHTS-ENGINE-ARCHITECTURE.md
  docs/architecture/SPAARKE-AI-ARCHITECTURE-AND-COMPONENT-DESIGN.md
  docs/architecture/SPAARKE-PLAYBOOK-LLM-OUTPUT-PATTERN.md
  docs/architecture/SPAARKEAI-WORKSPACE-ARCHITECTURE.md
  docs/architecture/ai-architecture-actions-nodes-scopes.md
  docs/architecture/ai-architecture-playbook-consumer-routing.md
  docs/architecture/ai-architecture-playbook-runtime.md
  docs/architecture/chat-architecture.md
  docs/architecture/playbook-architecture.md
  docs/architecture/rag-architecture.md
  docs/data-model/INDEX.md
  docs/data-model/sprk-playbookconsumer.md
  docs/data-model/sprk_analysisaction.md
  docs/data-model/sprk_analysistool.md
  docs/data-model/sprk_playbooknode.md
  docs/guides/BUILD-A-NEW-NARRATIVE-OUTPUT-CONSUMER.md
  docs/guides/HOW-TO-ADD-A-CONSUMER-ROUTING-TYPE.md
  docs/guides/INSIGHTS-ENGINE-GUIDE.md
  docs/guides/INSIGHTS-PLAYBOOK-VS-RAG-DECISION-TREE.md
  docs/guides/PLAYBOOK-AUTHOR-GUIDE.md
  docs/guides/ai-guide-consumer-wiring.md
  docs/guides/ai-search-azure-setup.md
  docs/guides/auth-deployment-setup.md
  docs/guides/spaarkeai-launch-points.md
  docs/procedures/testing-and-code-quality.md
  projects/spaarke-ai-architecture-redesign-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(adr): ADR-022 — shared-lib React-version drift (PCF ↔ Code Page) guidance
  .claude/adr/ADR-012-shared-components.md
  .claude/adr/ADR-022-pcf-platform-libraries.md
  docs/adr/ADR-022-pcf-platform-libraries.md
Owners: @spaarke-dev, @docs-team

checkpoint(ai-redesign-r1): overlap wave landed (051/052/053), round-4 hold state refreshed
  projects/spaarke-ai-architecture-redesign-r1/current-task.md
Owners: @spaarke-dev

fix(ai-redesign-r1): R5-E — hard-block bare sprk_document creates + entity-type ambiguity clarify
  infra/dataverse/sprk_analysistool-dataverse-create-record-row.json
  projects/spaarke-ai-architecture-redesign-r1/notes/g-p3-uat-round4-findings.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/DataverseCreateRecordHandler.cs
  tests/integration/contract/Eval/golden-utterances.json
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SprkChatAgentFactoryInvalidSchemaProjectionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/DataverseCreateRecordHandlerTests.cs
Owners: @spaarke-dev

checkpoint(ai-redesign-r1): 048 CLOSED by operator (6 rounds) — pre-compaction handoff; 050/054/r2-design agents in flight
  projects/spaarke-ai-architecture-redesign-r1/current-task.md
  projects/spaarke-ai-architecture-redesign-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(matterheader): wire AI Summary sparkle to sprk_mattersummary; guard shared-lib dist staleness
  .claude/constraints/pcf.md
  .claude/skills/pcf-deploy/SKILL.md
  src/client/pcf/AssociationResolver/package.json
  src/client/pcf/DocumentRelationshipViewer/package.json
  src/client/pcf/EmailProcessingMonitor/package.json
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/ControlManifest.xml
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/bundle.js
  src/client/pcf/MatterHeader/Solution/pack.ps1
  src/client/pcf/MatterHeader/Solution/solution.xml
  src/client/pcf/MatterHeader/__tests__/MatterHeaderView.test.tsx
  src/client/pcf/MatterHeader/control/ControlManifest.Input.xml
  src/client/pcf/MatterHeader/control/MatterHeaderView.tsx
  src/client/pcf/MatterHeader/control/version.ts
  src/client/pcf/MatterHeader/package.json
  src/client/pcf/RegardingResolver/package.json
  src/client/pcf/RelatedDocumentCount/package.json
  src/client/pcf/ScopeConfigEditor/package.json
  src/client/pcf/SemanticSearchControl/package.json
  src/client/pcf/VisualHost/package.json
  src/client/shared/Spaarke.UI.Components/scripts/ensure-dist-fresh.js
Owners: @spaarke-dev, @devops-team

docs(ai-redesign-r2): design.md v0.2 — D-F0 Resourcefulness Doctrine, platform-core + satellites re-cut, industry parity grounding, 19-row inherited backlog
  projects/spaarke-ai-architecture-redesign-r2/design.md
Owners: @spaarke-dev

feat(ai-redesign-r1): task 054 — per-tenant AI metering counters + KQL pack (FR-P4-05)
  projects/spaarke-ai-architecture-redesign-r1/notes/task-054-metering-evidence.md
  scripts/kql/ai-metering/README.md
  scripts/kql/ai-metering/capability-usage.kql
  scripts/kql/ai-metering/event-daily-budget.kql
  scripts/kql/ai-metering/tenant-usage-rollup.kql
  scripts/kql/ai-metering/tokens-by-model.kql
  scripts/kql/ai-metering/tool-budget-consumption.kql
  scripts/kql/ai-metering/user-drilldown.kql
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/DispatchSessionEndpoint.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/SummarizeSessionEndpoint.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/TelemetryModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionDispatchOrchestrator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/EventRules/EventRulesService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/DailyBriefingCompositeService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/OpenAiClient.cs
  src/server/api/Sprk.Bff.Api/Telemetry/AiMeteringContext.cs
  src/server/api/Sprk.Bff.Api/Telemetry/AiTelemetry.cs
  tests/integration/contract/Api/Ai/DispatchSessionEndpointContractTests.cs
  tests/integration/contract/Api/Ai/SummarizeSessionEndpointContractTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SessionDispatchManifestProbeTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/EventRules/EventRulesServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Narrators/DailyBriefingCompositeServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Telemetry/AiMeteringTelemetryTests.cs
Owners: @spaarke-dev, @docs-team, @devops-team

docs(ai-redesign-r1): index flip 054 + recovery state 50/51 (055 in flight)
  projects/spaarke-ai-architecture-redesign-r1/current-task.md
  projects/spaarke-ai-architecture-redesign-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(ai-redesign-r1): task 055 — publish/CVE baseline + ADR-040 inline size-cap enforcement (FR-P4-06)
  .claude/CHANGELOG.md
  .claude/adr/ADR-029-bff-publish-hygiene.md
  .claude/adr/ADR-040-session-ledger.md
  .claude/constraints/azure-deployment.md
  CLAUDE.md
  docs/adr/ADR-029-bff-publish-hygiene.md
  docs/adr/ADR-040-session-ledger.md
  projects/spaarke-ai-architecture-redesign-r1/notes/publish-size-cve-report.md
  projects/spaarke-ai-architecture-redesign-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Models/Ai/Chat/SessionLedgerEntries.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/TypedHandlerResumeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/OutputRouter.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/OutputRouterTests.cs
Owners: @spaarke-dev, @docs-team

docs(ai-redesign-r1): task 090 wrap-up — G-P4 evidence, G-M deferral amendment, /test-diet PASSED, 6 deferrals (#552-557), FR/NFR reconciliation, doc-drift fixes, project close-out
  .claude/adr/ADR-037-multinode-output-composition.md
  docs/architecture/AI-ARCHITECTURE.md
  docs/architecture/INSIGHTS-ENGINE-ARCHITECTURE.md
  docs/architecture/SPAARKE-LINEAR-AI-CONSUMER-ARCHITECTURE.md
  docs/architecture/ai-architecture-actions-nodes-scopes.md
  docs/architecture/ai-architecture-playbook-consumer-routing.md
  docs/architecture/background-workers-architecture.md
  docs/architecture/chat-architecture.md
  docs/architecture/scope-architecture.md
  docs/architecture/sdap-overview.md
  docs/architecture/sdap-pcf-patterns.md
  docs/guides/JPS-AUTHORING-GUIDE.md
  docs/guides/REPOSITORY-NAVIGATION-GUIDE.md
  docs/guides/ai-assistant-theming.md
  docs/guides/ai-guide-playbook-deploy-recipe.md
  docs/guides/spaarkeai-launch-points.md
  docs/procedures/testing-and-code-quality.md
  projects/INDEX.md
  projects/spaarke-ai-architecture-redesign-r1/CLAUDE.md
  projects/spaarke-ai-architecture-redesign-r1/README.md
  projects/spaarke-ai-architecture-redesign-r1/current-task.md
  projects/spaarke-ai-architecture-redesign-r1/notes/defer-issues.md
  projects/spaarke-ai-architecture-redesign-r1/notes/fr-acceptance-reconciliation.md
  projects/spaarke-ai-architecture-redesign-r1/notes/g-m-evidence.md
  projects/spaarke-ai-architecture-redesign-r1/notes/g-p4-evidence.md
  projects/spaarke-ai-architecture-redesign-r1/notes/lessons-learned.md
  projects/spaarke-ai-architecture-redesign-r1/notes/test-diet-report.md
  projects/spaarke-ai-architecture-redesign-r1/tasks/090-project-wrap-up.poml
  projects/spaarke-ai-architecture-redesign-r1/tasks/TASK-INDEX.md
  src/solutions/SpaarkeAi/src/components/conversation/CommandRouter.ts
Owners: @spaarke-dev, @docs-team

test(ai-redesign-r1): fix CrossPillarIntegrationTests ctor drift — SendWorkspaceArtifactHandler gained WorkspaceLayoutService + IDataverseUserClient in P3
  tests/integration/Spe.Integration.Tests/PhaseC/CrossPillarIntegrationTests.cs
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
