Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

checkpoint(smart-todo-r5): INBOUND code fix complete (8e0aa4e6e)
  projects/smart-todo-r5/current-task.md
Owners: @spaarke-dev

feat(l2-controlplane): H2a Bicep infra-deploy handler + 4 seam collaborators (task 044)
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H2aBicepInfraDeployHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BicepInfraDeploy/AzCliArmKeyVaultRefProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BicepInfraDeploy/AzCliUpgradeDriftDetector.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BicepInfraDeploy/BicepDeployOutputs.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BicepInfraDeploy/BicepDeployRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BicepInfraDeploy/BicepInfraDeployOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BicepInfraDeploy/FileBicepTemplateInspector.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BicepInfraDeploy/H2aBicepInfraDeployHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BicepInfraDeploy/IArmKeyVaultRefProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BicepInfraDeploy/IBicepDeployRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BicepInfraDeploy/IBicepTemplateInspector.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BicepInfraDeploy/IUpgradeDriftDetector.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/BicepInfraDeploy/ProvisionCustomerScriptBicepDeployRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
Owners: @spaarke-dev

chore(smart-todo-r5): reconcile TASK-INDEX — UAT deploys completed 014/025/035/050; 032 deferred
  projects/smart-todo-r5/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(dataverse): RED-4 B — SDK event/field-mapping silent-empty stubs now throw (fail loud on mis-route)
  docs/architecture/DATAVERSE-ACCESS-LAYER-ROUTING.md
  projects/code-quality-and-assurance-r3/current-task.md
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
Owners: @spaarke-dev, @docs-team

test(smart-todo-r5): task 041 — Playwright NFR suite (perf/a11y/orientation, FR-17)
  projects/smart-todo-r5/current-task.md
  projects/smart-todo-r5/notes/task-041-playwright-nfr.md
  projects/smart-todo-r5/tasks/041-playwright-nfr-suite.poml
  projects/smart-todo-r5/tasks/TASK-INDEX.md
  tests/e2e/config/.env.example
  tests/e2e/pages/smart-todo/SmartTodoPage.ts
  tests/e2e/specs/smart-todo/accessibility.spec.ts
  tests/e2e/specs/smart-todo/orientation.spec.ts
  tests/e2e/specs/smart-todo/performance.spec.ts
Owners: @spaarke-dev

feat(l2): H12a AI seed chain handler + manifest reader/runner seams (task 070)
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H12aAiSeedChainHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AiSeedChain/AiSeedChainOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AiSeedChain/AiSeedChainRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AiSeedChain/FileSeedManifestReader.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AiSeedChain/H12aAiSeedChainHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AiSeedChain/ISeedManifestReader.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AiSeedChain/ISeedManifestRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AiSeedChain/InvokeSeedManifestScriptRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
Owners: @spaarke-dev

wrap-up(compose-r7): task 090 COMPLETE — deployed BFF + sprk_spaarkeai to dev; project closed
  projects/spaarkeai-compose-r7/README.md
  projects/spaarkeai-compose-r7/current-task.md
  projects/spaarkeai-compose-r7/plan.md
  projects/spaarkeai-compose-r7/tasks/090-project-wrap-up.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(l2-controlplane): H12b app-config seed handler + IAppConfigSeeder seam (task 071, wave Cp)
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H12bAppConfigSeedHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AppConfigSeed/AppConfigSeedModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AppConfigSeed/AppConfigSeedOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AppConfigSeed/AppConfigSeedRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AppConfigSeed/DeferredAppConfigSeeder.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AppConfigSeed/H12bAppConfigSeedHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AppConfigSeed/IAppConfigSeeder.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AppConfigSeed/PowerShellAppConfigSeeder.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
Owners: @spaarke-dev

feat(l2-controlplane): implement H3 Entra app-reg handler (task 046)
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H2bAiSearchIndexHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H3EntraAppRegHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AiSearchIndex/AiSearchIndexOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AiSearchIndex/AiSearchIndexRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AiSearchIndex/CanonicalIndexCatalog.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AiSearchIndex/DeployAllIndexesScriptProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AiSearchIndex/H2bAiSearchIndexHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AiSearchIndex/IAiSearchIndexProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AiSearchIndex/IAiSearchIndexVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AiSearchIndex/IAiSearchTenantFilterTemplateProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AiSearchIndex/ICanonicalIndexCatalog.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AiSearchIndex/RestApiAiSearchIndexVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/AiSearchIndex/StubAiSearchTenantFilterTemplateProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/EntraAppReg/EntraAppRegOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/EntraAppReg/EntraAppRegRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/EntraAppReg/H3EntraAppRegHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/EntraAppReg/IAdminConsentVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/EntraAppReg/IEntraAppRegProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/EntraAppReg/NullAdminConsentVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/EntraAppReg/RegisterEntraAppRegScriptProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
Owners: @spaarke-dev

feat(l2-controlplane): register H2b AI Search index handler DI (task 045)
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
Owners: @spaarke-dev

feat(l2-controlplane): H5 Dataverse env creation handler + DI registration (task 048, dispatcher clean-up)
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H5DataverseEnvCreationHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseEnvCreation/DataverseEnvCreationOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseEnvCreation/DataverseEnvCreationRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseEnvCreation/DataverseWebApiHealthProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseEnvCreation/H5DataverseEnvCreationHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseEnvCreation/IDataverseEnvCreator.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseEnvCreation/IDataverseHealthProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseEnvCreation/PacAdminDataverseEnvCreator.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
Owners: @spaarke-dev

docs(smart-todo-r5): task 060 — push-to-github Step 1.7 real-DV smoke gate (FR-20/PROC-1)
  .claude/CHANGELOG.md
  .claude/skills/push-to-github/SKILL.md
  projects/smart-todo-r5/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(quality): RED-4 B DEF-2 closed — deployed to dev + live-verified metadata resolution
  projects/code-quality-and-assurance-r3/current-task.md
  projects/code-quality-and-assurance-r3/notes/defer-issues.md
Owners: @spaarke-dev

wrap-up(smart-todo-r5): task 090 PARTIAL — close #508, lessons, honest state (NOT Complete)
  projects/INDEX.md
  projects/smart-todo-r5/README.md
  projects/smart-todo-r5/current-task.md
  projects/smart-todo-r5/notes/defer-issues.md
  projects/smart-todo-r5/notes/lessons-learned.md
  projects/smart-todo-r5/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

wrap-up(smart-todo-r5): task 090 COMPLETE — /code-review clean, /test-diet reconciled, project closed
  projects/INDEX.md
  projects/smart-todo-r5/README.md
  projects/smart-todo-r5/current-task.md
  projects/smart-todo-r5/notes/test-diet-report.md
  projects/smart-todo-r5/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(l2-controlplane): H6 Package Deployer solution-import handler + 3 collaborator seams (task 049, wave C4 Batch 3D)
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H6SolutionImportHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SolutionImport/CanonicalSolutionCatalog.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SolutionImport/DeployDataverseSolutionsScriptImporter.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SolutionImport/H6SolutionImportHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SolutionImport/ISolutionCatalog.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SolutionImport/ISolutionImporter.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SolutionImport/ISolutionVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SolutionImport/ImportedSolutionRecord.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SolutionImport/PacCliSolutionVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SolutionImport/SolutionImportOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SolutionImport/SolutionImportRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Models/InterStepState.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
  tests/Spaarke.ArchTests/CosmosProvisioningSecretGuardTests.cs
Owners: @spaarke-dev

feat(smart-todo-r5): converge SmartTodo search into one shared predicate (§11)
  src/client/shared/Spaarke.SmartTodo.Components/__tests__/todoSearchUtils.test.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/utils/todoSearchUtils.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
  src/solutions/SmartTodo/src/components/SmartToDo.tsx
  src/solutions/SmartTodo/src/utils/todoSearchUtils.ts
Owners: @spaarke-dev

feat(l2-controlplane): H4 KV secrets-population handler + T1/T5 trap owners (task 047, wave C4 Batch 3D)
  projects/customer-provisioning-orchestration-r1/tasks/047-implement-h4-kv-secrets-population-handler.poml
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H4KvSecretsPopulationHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/KvSecretsPopulation/AzCliAppServiceIdentityPatcher.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/KvSecretsPopulation/AzCliKvSecretsWriter.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/KvSecretsPopulation/AzCliSlotIdentityRoleGranter.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/KvSecretsPopulation/H4KvSecretsPopulationHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/KvSecretsPopulation/IAppServiceIdentityPatcher.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/KvSecretsPopulation/IKvSecretManifest.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/KvSecretsPopulation/IKvSecretsWriter.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/KvSecretsPopulation/ISlotIdentityRoleGranter.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/KvSecretsPopulation/KvSecretsPopulationOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/KvSecretsPopulation/KvSecretsPopulationRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/KvSecretsPopulation/StaticKvSecretManifest.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
Owners: @spaarke-dev

feat(l2-controlplane): H8 SPE container-type + root-container handler (task 051, wave C4 Batch 3E)
  projects/customer-provisioning-orchestration-r1/notes/task-051-h8-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/051-implement-h8-spe-container-type-handler.poml
  scripts/Get-SpeContainerMetadata-AppOnly.ps1
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H8SpeContainerTypeHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SpeContainerType/AzCliSpeContainerIdKvWriter.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SpeContainerType/CreateNewContainerTypeScriptProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SpeContainerType/H8SpeContainerTypeHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SpeContainerType/ISpeContainerIdKvWriter.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SpeContainerType/ISpeContainerTypeProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SpeContainerType/ISpeContainerVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SpeContainerType/SpeContainerAppOnlyVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SpeContainerType/SpeContainerTypeOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SpeContainerType/SpeContainerTypeRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
Owners: @spaarke-dev, @devops-team

feat(provisioning): implement H7 Dataverse env-var values handler (task 050)
  projects/customer-provisioning-orchestration-r1/notes/task-050-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/050-implement-h7-dataverse-env-var-values-handler.poml
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H7DataverseEnvVarValuesHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/EnvVarValues/DataverseWebApiEnvVarValuesWriter.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/EnvVarValues/EnvVarValuesOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/EnvVarValues/EnvVarValuesRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/EnvVarValues/H7DataverseEnvVarValuesHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/EnvVarValues/IEnvVarValuesWriter.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Models/InterStepState.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
Owners: @spaarke-dev

feat(l2-controlplane): H10 Dataverse App User + Graph app-role parity handler (task 053, wave C4 Batch 3E)
  projects/customer-provisioning-orchestration-r1/notes/task-053-h10-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/053-implement-h10-dataverse-app-user-graph-parity-handler.poml
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H10DataverseAppUserGraphParityHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseAppUserGraphParity/DataverseWebApiAppUserCreator.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseAppUserGraphParity/DataverseWebApiAppUserVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseAppUserGraphParity/GraphRestAppRoleGranter.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseAppUserGraphParity/GraphRestAppRoleParityVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseAppUserGraphParity/H10DataverseAppUserGraphParityHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseAppUserGraphParity/H10DataverseAppUserGraphParityOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseAppUserGraphParity/H10Rejections.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseAppUserGraphParity/IDataverseAppUserCreator.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseAppUserGraphParity/IDataverseAppUserVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseAppUserGraphParity/IGraphAppRoleGranter.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseAppUserGraphParity/IGraphAppRoleParityVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseAppUserGraphParity/IGraphAppRolesRegistry.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/DataverseAppUserGraphParity/L2GraphAppRolesRegistry.cs
Owners: @spaarke-dev

feat(l2-controlplane): H12c runtime references handler (task 072, wave Cp)
  projects/customer-provisioning-orchestration-r1/notes/task-072-h12c-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/072-implement-h12c-runtime-references-handler.poml
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H12cRuntimeReferencesHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/RuntimeReferences/DataverseWebApiModelDeploymentReferenceWriter.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/RuntimeReferences/H12cRuntimeReferencesHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/RuntimeReferences/IModelDeploymentReferenceWriter.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/RuntimeReferences/PinnedModelCatalog.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/RuntimeReferences/RuntimeReferencesModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/RuntimeReferences/RuntimeReferencesOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/RuntimeReferences/RuntimeReferencesRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
Owners: @spaarke-dev

feat(l2-controlplane): H11 user-provisioning handler (D6 identity preset) (task 054, wave C4 Batch 3F)
  projects/customer-provisioning-orchestration-r1/notes/task-054-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/054-implement-h11-user-provisioning-handler.poml
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H11UserProvisioningHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/UserProvisioning/GraphRestB2BConsentVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/UserProvisioning/GraphRestB2BInvitationClient.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/UserProvisioning/GraphRestUserProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/UserProvisioning/H11Rejections.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/UserProvisioning/H11UserProvisioningHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/UserProvisioning/H11UserProvisioningOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/UserProvisioning/IB2BConsentVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/UserProvisioning/IB2BInvitationClient.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/UserProvisioning/IGraphUserProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/UserProvisioning/ProvisionedUserRecord.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/UserProvisioning/UserProvisioningEntry.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Models/InterStepState.cs
Owners: @spaarke-dev

feat(provisioning): implement H14 post-deploy integration wiring handler (task 073)
  projects/customer-provisioning-orchestration-r1/notes/task-073-h14-deviations.md
  projects/customer-provisioning-orchestration-r1/spec.md
  projects/customer-provisioning-orchestration-r1/tasks/073-implement-h14-post-deploy-integration-wiring.poml
  scripts/Set-ExchangeApplicationAccessPolicy.ps1
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H14IntegrationWiringHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H14SecretRedactionTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H14aExchangePolicySubHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H14bGraphWebhookSubHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H14cDataverseWebhookSubHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/IntegrationWiring/AzCliKvSecretReader.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/IntegrationWiring/DataverseWebApiServiceEndpointWebhookRegistrar.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/IntegrationWiring/ExchangePolicyScriptApplier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/IntegrationWiring/GraphRestSubscriptionCreator.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/IntegrationWiring/H14IntegrationWiringHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/IntegrationWiring/H14aExchangePolicySubHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/IntegrationWiring/H14bGraphWebhookSubHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/IntegrationWiring/H14cDataverseWebhookSubHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/IntegrationWiring/IExchangePolicyApplier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/IntegrationWiring/IGraphSubscriptionCreator.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/IntegrationWiring/IKvSecretReader.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/IntegrationWiring/IServiceEndpointWebhookRegistrar.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/IntegrationWiring/IntegrationWiringModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/IntegrationWiring/IntegrationWiringOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/IntegrationWiring/IntegrationWiringRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
Owners: @spaarke-dev, @devops-team

chore(provisioning): Wave 3 wrap-up — dispatcher state (TASK-INDEX + current-task.md)
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(smart-todo-r5): widget card-data parity — Assigned line + priority flag
  src/client/shared/Spaarke.SmartTodo.Components/src/types/todo.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
Owners: @spaarke-dev

feat(assistant-r4): initialize project — 17 tasks + planning artifacts
  projects/INDEX.md
  projects/spaarkeai-assistant-enhancements-r4/CLAUDE.md
  projects/spaarkeai-assistant-enhancements-r4/README.md
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
  projects/spaarkeai-assistant-enhancements-r4/notes/behavior-gap-register.md
  projects/spaarkeai-assistant-enhancements-r4/plan.md
  projects/spaarkeai-assistant-enhancements-r4/tasks/001-behavior-gap-register-eval-harness.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/010-per-action-bounded-tool-optin.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/011-advisory-prefilter-tool-scoping.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/012-advisory-task-agenda-action.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/013-e1-eval-cases.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/020-obo-identity-wording.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/021-capability-backed-suggestion-gating.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/022-briefing-smarttodo-launch-entries.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/023-followon-cards-open-tab-gated.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/024-e2-eval-cases.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/030-preference-memory-fact-type.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/031-feedback-to-memory-pipeline.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/032-governed-preference-producer.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/033-e3-eval-and-bounds-tests.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/040-d9-viewport-flex-fix.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/080-deploy-verify.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/090-project-wrap-up.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(assistant-r4): net10-readiness notes in planning artifacts
  projects/spaarkeai-assistant-enhancements-r4/CLAUDE.md
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
  projects/spaarkeai-assistant-enhancements-r4/plan.md
  projects/spaarkeai-assistant-enhancements-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(assistant-r4): align plan with master (BFF + code-quality review)
  projects/spaarkeai-assistant-enhancements-r4/spec.md
  projects/spaarkeai-assistant-enhancements-r4/tasks/012-advisory-task-agenda-action.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/080-deploy-verify.poml
Owners: @spaarke-dev

checkpoint(assistant-r4): context-handoff — ready to start task 001 (net10, aligned)
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
Owners: @spaarke-dev

feat(assistant-r4): wave 1 — tasks 001, 022, 010
  projects/spaarkeai-assistant-enhancements-r4/CLAUDE.md
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
  projects/spaarkeai-assistant-enhancements-r4/notes/behavior-gap-register.md
  projects/spaarkeai-assistant-enhancements-r4/tasks/010-per-action-bounded-tool-optin.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/services/surfaceHandoff/__tests__/surfaceLaunchRegistry.test.ts
  src/client/shared/Spaarke.UI.Components/src/services/surfaceHandoff/surfaceLaunchRegistry.ts
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisActionService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IScopeResolverService.cs
  tests/integration/contract/Eval/README.md
  tests/integration/contract/Eval/assistant-r4-eval-cases.json
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AnalysisActionAllowListTests.cs
Owners: @spaarke-dev, @docs-team

feat(assistant-r4): task 020 — FR-05 OBO-identity guard + 011 escalation/design
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
  projects/spaarkeai-assistant-enhancements-r4/notes/011-012-advisory-nested-turn-design.md
  projects/spaarkeai-assistant-enhancements-r4/tasks/020-obo-identity-wording.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/TASK-INDEX.md
  tests/integration/contract/Catalog/UserScopedToolOboIdentityContractTests.cs
Owners: @spaarke-dev

feat(assistant-r4): task 030 — Preference MemoryFactType + wire map (FR-07)
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
  projects/spaarkeai-assistant-enhancements-r4/tasks/030-preference-memory-fact-type.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/MemoryWriteHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Memory/MemoryFactType.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Memory/MemoryItemStore.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/MemoryWriteHandlerFactTypeTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Memory/MemoryItemStoreTests.cs
Owners: @spaarke-dev

feat(assistant-r4): task 011 — advisory PreFilter allow-list projection primitive (FR-02)
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
  projects/spaarkeai-assistant-enhancements-r4/notes/011-012-advisory-nested-turn-design.md
  projects/spaarkeai-assistant-enhancements-r4/tasks/011-advisory-prefilter-tool-scoping.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/012-advisory-task-agenda-action.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/AgentToolProjection.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/AgentTurnLoopContractTests.cs
Owners: @spaarke-dev

feat(assistant-r4): task 012 part 1/2 — advisory list-tasks Action (catalog half, FR-01)
  infra/dataverse/actions/list-tasks.action.json
  infra/dataverse/outputschemas/list-tasks.schema.json
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
Owners: @spaarke-dev

feat(api): advisory grounded-recommend tier — AdvisoryCapabilityRunner + dispatch routing (012 pt 2/2, FR-01/FR-02)
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
  projects/spaarkeai-assistant-enhancements-r4/tasks/012-advisory-task-agenda-action.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/AdvisoryCapabilityRunner.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/NullSprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionDispatchOrchestrator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  tests/integration/seam/Ai/AdvisoryCapabilityRunnerBehaviorTests.cs
  tests/integration/seam/Ai/AdvisoryDispatchSeamTests.cs
Owners: @spaarke-dev

test(api): E1 golden-utterance eval guardrail for the task-agenda capability (013, FR-10)
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
  projects/spaarkeai-assistant-enhancements-r4/tasks/013-e1-eval-cases.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/TASK-INDEX.md
  tests/integration/contract/Eval/AssistantEnhancementsR4EvalTests.cs
  tests/integration/contract/Eval/assistant-r4-eval-cases.json
Owners: @spaarke-dev

docs(assistant-r4): FR-04 grounded-suggestions design delta; split 021 → 021a (BFF) + 021b (client)
  projects/spaarkeai-assistant-enhancements-r4/notes/021-grounded-suggestions-design-delta.md
  projects/spaarkeai-assistant-enhancements-r4/spec.md
  projects/spaarkeai-assistant-enhancements-r4/tasks/021-capability-backed-suggestion-gating.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/021a-grounded-suggestion-proposer-bff.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/021b-grounded-suggestion-chips-client.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(api): feedback→memory pipeline — governed per-user Preference capture (031, FR-08)
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
  projects/spaarkeai-assistant-enhancements-r4/tasks/031-feedback-to-memory-pipeline.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiPersistenceModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Feedback/FeedbackService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/IPreferenceMemoryCapture.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/PreferenceMemoryCapture.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Feedback/FeedbackServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PublicContracts/PreferenceMemoryCaptureTests.cs
Owners: @spaarke-dev

feat(api): governed narrow-allow-list preference-producer (032, FR-09)
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
  projects/spaarkeai-assistant-enhancements-r4/tasks/032-governed-preference-producer.poml
  projects/spaarkeai-assistant-enhancements-r4/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Context/ContextBinder.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Context/PreferenceDirectiveProducer.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Context/ContextBinderOrgContextTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Context/PreferenceDirectiveProducerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Context/StatedProfileSecurityTests.cs
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
