Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(copilot): update Dataverse entity descriptions for Copilot vocabulary mapping
  scripts/Update-CopilotEntityDescriptions.ps1
  src/solutions/CopilotAgent/declarativeAgent.json
Owners: @spaarke-dev, @devops-team

feat(copilot): Copilot knowledge configuration + deployment automation
  docs/guides/COPILOT-KNOWLEDGE-CONFIGURATION-GUIDE.md
  scripts/Deploy-CopilotAgent.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

feat(copilot): Copilot glossary terms and synonyms configuration script
  scripts/Configure-CopilotKnowledge.ps1
Owners: @spaarke-dev, @devops-team

fix(copilot): restore auth on agent endpoints + add debug/token endpoint
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
Owners: @spaarke-dev

checkpoint: save state — API Plugin auth blocked, 23/31 tasks complete
  projects/ai-m365-copilot-integration/current-task.md
  projects/ai-m365-copilot-integration/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(design): add configurable workspace design with section registry contract
  projects/spaarke-workspace-user-configuration-r1/design.md
Owners: @spaarke-dev

feat(design): refine workspace config with 11 design decisions; add SmartToDo R2 design
  projects/events-smart-todo-kanban-r2/design.md
  projects/spaarke-workspace-user-configuration-r1/design.md
Owners: @spaarke-dev

feat(spec): generate AI-optimized spec.md from design document
  projects/spaarke-workspace-user-configuration-r1/spec.md
Owners: @spaarke-dev

feat(workspace): initialize project with 32 task files and implementation plan
  projects/spaarke-workspace-user-configuration-r1/CLAUDE.md
  projects/spaarke-workspace-user-configuration-r1/README.md
  projects/spaarke-workspace-user-configuration-r1/current-task.md
  projects/spaarke-workspace-user-configuration-r1/plan.md
  projects/spaarke-workspace-user-configuration-r1/tasks/001-define-section-registry-types.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/002-define-layout-templates.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/003-define-api-dtos.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/004-define-dataverse-entity.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/010-fix-usefeedtodosync-noop.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/011-migrate-get-started-section.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/012-migrate-quick-summary-section.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/013-migrate-latest-updates-section.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/014-migrate-todo-section.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/015-migrate-documents-section.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/016-create-section-registry.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/020-create-workspace-layout-service.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/021-create-workspace-layout-endpoints.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/022-create-workspace-auth-filter.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/023-register-workspace-di.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/030-build-dynamic-config-builder.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/031-build-workspace-header.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/032-integrate-dynamic-config-in-workspace.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/040-scaffold-wizard-code-page.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/041-wizard-step1-template-selection.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/042-wizard-step2-section-selection.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/043-wizard-step3-arrange-sections.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/044-wizard-api-integration.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/050-url-deep-linking.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/051-sessionstorage-caching.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/052-loading-states.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/053-system-workspace-save-as.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/060-bff-integration-tests.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/061-deploy-wizard-code-page.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/062-deploy-bff-api.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/063-deploy-corporate-workspace.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/090-project-wrap-up.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(shared): add SectionRegistration and SectionFactoryContext types
  projects/spaarke-workspace-user-configuration-r1/current-task.md
  projects/spaarke-workspace-user-configuration-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/types.ts
Owners: @spaarke-dev

feat(workspace): add layout templates, API DTOs, and entity schema
  projects/spaarke-workspace-user-configuration-r1/notes/dataverse-entity-schema.md
  projects/spaarke-workspace-user-configuration-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/layoutTemplates.ts
  src/server/api/Sprk.Bff.Api/Api/Workspace/WorkspaceLayoutDtos.cs
Owners: @spaarke-dev

feat(workspace): useFeedTodoSync fix, layout service, wizard scaffold
  projects/spaarke-workspace-user-configuration-r1/tasks/020-create-workspace-layout-service.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Workspace/SystemWorkspaceLayouts.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/WorkspaceLayoutService.cs
  src/solutions/LegalWorkspace/src/hooks/useFeedTodoSync.ts
  src/solutions/WorkspaceLayoutWizard/.gitignore
  src/solutions/WorkspaceLayoutWizard/index.html
  src/solutions/WorkspaceLayoutWizard/package.json
  src/solutions/WorkspaceLayoutWizard/src/App.tsx
  src/solutions/WorkspaceLayoutWizard/src/main.tsx
  src/solutions/WorkspaceLayoutWizard/src/providers/ThemeProvider.ts
  src/solutions/WorkspaceLayoutWizard/tsconfig.json
  src/solutions/WorkspaceLayoutWizard/tsconfig.node.json
  src/solutions/WorkspaceLayoutWizard/vite.config.ts
Owners: @spaarke-dev

feat(workspace): migrate 5 sections to registry + API endpoints and auth filter
  projects/spaarke-workspace-user-configuration-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Filters/WorkspaceLayoutAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Api/Workspace/WorkspaceLayoutEndpoints.cs
  src/solutions/LegalWorkspace/src/sections/documents.registration.ts
  src/solutions/LegalWorkspace/src/sections/getStarted.registration.ts
  src/solutions/LegalWorkspace/src/sections/latestUpdates.registration.ts
  src/solutions/LegalWorkspace/src/sections/quickSummary.registration.ts
  src/solutions/LegalWorkspace/src/sections/todo.registration.ts
Owners: @spaarke-dev

feat(workspace): section registry, config builder, header, DI wiring, wizard step 1
  projects/spaarke-workspace-user-configuration-r1/tasks/023-register-workspace-di.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/WorkspaceModule.cs
  src/solutions/LegalWorkspace/src/components/WorkspaceHeader/WorkspaceHeader.tsx
  src/solutions/LegalWorkspace/src/components/WorkspaceHeader/index.ts
  src/solutions/LegalWorkspace/src/sectionRegistry.ts
  src/solutions/LegalWorkspace/src/sections/index.ts
  src/solutions/LegalWorkspace/src/workspace/buildDynamicWorkspaceConfig.ts
  src/solutions/WorkspaceLayoutWizard/src/App.tsx
  src/solutions/WorkspaceLayoutWizard/src/steps/TemplateStep.tsx
  src/solutions/WorkspaceLayoutWizard/src/steps/index.ts
Owners: @spaarke-dev

feat(workspace): integrate dynamic config + wizard section selection
  projects/spaarke-workspace-user-configuration-r1/tasks/TASK-INDEX.md
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
  src/solutions/LegalWorkspace/src/hooks/useWorkspaceLayouts.ts
  src/solutions/WorkspaceLayoutWizard/src/App.tsx
  src/solutions/WorkspaceLayoutWizard/src/steps/SectionStep.tsx
  src/solutions/WorkspaceLayoutWizard/src/steps/index.ts
Owners: @spaarke-dev

feat(workspace): wizard DnD step 3, URL deep-linking, sessionStorage cache
  projects/spaarke-workspace-user-configuration-r1/tasks/TASK-INDEX.md
  src/solutions/LegalWorkspace/src/App.tsx
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
  src/solutions/LegalWorkspace/src/hooks/useWorkspaceLayouts.ts
  src/solutions/LegalWorkspace/src/workspace/layoutCache.ts
  src/solutions/WorkspaceLayoutWizard/src/App.tsx
  src/solutions/WorkspaceLayoutWizard/src/steps/ArrangeStep.tsx
  src/solutions/WorkspaceLayoutWizard/src/steps/index.ts
Owners: @spaarke-dev

feat(workspace): wizard save flow, loading states, Save As mode
  projects/spaarke-workspace-user-configuration-r1/tasks/TASK-INDEX.md
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
  src/solutions/LegalWorkspace/src/components/WorkspaceLoadingStates.tsx
  src/solutions/LegalWorkspace/src/hooks/useWorkspaceLayouts.ts
  src/solutions/WorkspaceLayoutWizard/package.json
  src/solutions/WorkspaceLayoutWizard/src/App.tsx
  src/solutions/WorkspaceLayoutWizard/src/main.tsx
Owners: @spaarke-dev

test(workspace): integration tests + deployment checklist
  projects/spaarke-workspace-user-configuration-r1/notes/deployment-checklist.md
  projects/spaarke-workspace-user-configuration-r1/tasks/061-deploy-wizard-code-page.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/062-deploy-bff-api.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/063-deploy-corporate-workspace.poml
  projects/spaarke-workspace-user-configuration-r1/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/Integration/Workspace/WorkspaceLayoutEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/Workspace/WorkspaceLayoutTestFixture.cs
Owners: @spaarke-dev

chore(workspace): project wrap-up — all 32 tasks complete
  projects/spaarke-workspace-user-configuration-r1/README.md
  projects/spaarke-workspace-user-configuration-r1/current-task.md
  projects/spaarke-workspace-user-configuration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(shared): remove duplicate DialogOptions, reuse existing from serviceInterfaces
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/types.ts
Owners: @spaarke-dev

feat(design): add AI implementation spec for SmartToDo Kanban R2
  projects/events-smart-todo-kanban-r2/spec.md
Owners: @spaarke-dev

feat(project): initialize events-smart-todo-kanban-r2 project pipeline
  projects/events-smart-todo-kanban-r2/CLAUDE.md
  projects/events-smart-todo-kanban-r2/README.md
  projects/events-smart-todo-kanban-r2/current-task.md
  projects/events-smart-todo-kanban-r2/plan.md
  projects/events-smart-todo-kanban-r2/tasks/001-extract-panel-splitter-to-shared-library.poml
  projects/events-smart-todo-kanban-r2/tasks/002-create-use-two-panel-layout-hook.poml
  projects/events-smart-todo-kanban-r2/tasks/003-extract-todo-detail-to-shared-library.poml
  projects/events-smart-todo-kanban-r2/tasks/010-refactor-tododetailsidepane-shared-import.poml
  projects/events-smart-todo-kanban-r2/tasks/011-refactor-analysis-workspace-shared-panelsplitter.poml
  projects/events-smart-todo-kanban-r2/tasks/020-scaffold-smarttodo-code-page.poml
  projects/events-smart-todo-kanban-r2/tasks/021-create-todo-context.poml
  projects/events-smart-todo-kanban-r2/tasks/022-copy-smarttodo-domain-files.poml
  projects/events-smart-todo-kanban-r2/tasks/030-build-smarttodo-app-layout.poml
  projects/events-smart-todo-kanban-r2/tasks/031-create-todo-detail-panel-wrapper.poml
  projects/events-smart-todo-kanban-r2/tasks/032-wire-card-click-todo-context.poml
  projects/events-smart-todo-kanban-r2/tasks/033-implement-optimistic-single-item-update.poml
  projects/events-smart-todo-kanban-r2/tasks/040-panel-state-persistence-verification.poml
  projects/events-smart-todo-kanban-r2/tasks/041-accessibility-audit-panel-splitter.poml
  projects/events-smart-todo-kanban-r2/tasks/042-dark-mode-high-contrast-verification.poml
  projects/events-smart-todo-kanban-r2/tasks/050-create-deploy-smarttodo-script.poml
  projects/events-smart-todo-kanban-r2/tasks/051-remove-broadcastchannel-legalworkspace.poml
  projects/events-smart-todo-kanban-r2/tasks/052-update-legalworkspace-open-smarttodo-codepage.poml
  projects/events-smart-todo-kanban-r2/tasks/055-project-wrap-up.poml
  projects/events-smart-todo-kanban-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(smarttodo): resolve build issues for Vite deployment
  src/solutions/SmartTodo/package.json
  src/solutions/SmartTodo/src/App.tsx
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/components/TodoDetailPanel.tsx
  src/solutions/SmartTodo/src/services/todoDetailService.ts
  src/solutions/SmartTodo/tsconfig.json
  src/solutions/SmartTodo/vite.config.ts
Owners: @spaarke-dev

feat(smarttodo): complete phases 3-5 — integration, verification, cleanup
  projects/events-smart-todo-kanban-r2/README.md
  projects/events-smart-todo-kanban-r2/current-task.md
  projects/events-smart-todo-kanban-r2/tasks/030-build-smarttodo-app-layout.poml
  projects/events-smart-todo-kanban-r2/tasks/031-create-todo-detail-panel-wrapper.poml
  projects/events-smart-todo-kanban-r2/tasks/032-wire-card-click-todo-context.poml
  projects/events-smart-todo-kanban-r2/tasks/033-implement-optimistic-single-item-update.poml
  projects/events-smart-todo-kanban-r2/tasks/040-panel-state-persistence-verification.poml
  projects/events-smart-todo-kanban-r2/tasks/041-accessibility-audit-panel-splitter.poml
  projects/events-smart-todo-kanban-r2/tasks/042-dark-mode-high-contrast-verification.poml
  projects/events-smart-todo-kanban-r2/tasks/050-create-deploy-smarttodo-script.poml
  projects/events-smart-todo-kanban-r2/tasks/051-remove-broadcastchannel-legalworkspace.poml
  projects/events-smart-todo-kanban-r2/tasks/052-update-legalworkspace-open-smarttodo-codepage.poml
  projects/events-smart-todo-kanban-r2/tasks/055-project-wrap-up.poml
  projects/events-smart-todo-kanban-r2/tasks/TASK-INDEX.md
  scripts/Deploy-SmartTodo.ps1
  src/solutions/LegalWorkspace/src/components/SmartToDo/SmartToDo.tsx
  src/solutions/SmartTodo/README.md
  src/solutions/SmartTodo/src/App.tsx
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/components/KanbanCard.tsx
  src/solutions/SmartTodo/src/components/SmartToDo.tsx
  src/solutions/SmartTodo/src/components/TodoDetailPanel.tsx
  src/solutions/SmartTodo/src/context/TodoContext.tsx
  src/solutions/SmartTodo/src/services/todoDetailService.ts
  src/solutions/SmartTodo/src/utils/xrmAccess.ts
Owners: @spaarke-dev, @docs-team, @devops-team

fix(shared): add missing React import to PanelSplitter
  src/client/shared/Spaarke.UI.Components/src/components/PanelSplitter/PanelSplitter.tsx
Owners: @spaarke-dev

fix(workspace): guard getBffBaseUrl in playbookHandlers useMemo
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
Owners: @spaarke-dev

fix(workspace): make msalConfig lazy to prevent module-level throw
  src/solutions/LegalWorkspace/src/config/msalConfig.ts
Owners: @spaarke-dev

fix(smarttodo): resolve infinite re-render loop (React Error #185)
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
Owners: @spaarke-dev

fix(smarttodo): correct eventtodo lookup field name
  src/solutions/SmartTodo/src/services/todoDetailService.ts
  src/solutions/TodoDetailSidePane/src/services/todoService.ts
Owners: @spaarke-dev

fix(smarttodo): rename build output to smarttodo.html
  scripts/Deploy-SmartTodo.ps1
  src/solutions/SmartTodo/package.json
Owners: @spaarke-dev, @devops-team

chore: update package-lock files for SmartTodo and TodoDetailSidePane
  src/solutions/SmartTodo/package-lock.json
Owners: @spaarke-dev

fix(smarttodo): fix second infinite loop in TodoContext initialItems sync
  src/solutions/SmartTodo/src/context/TodoContext.tsx
Owners: @spaarke-dev

fix(workspace): use authInit pattern instead of legacy bffAuthProvider
  src/solutions/LegalWorkspace/src/config/msalConfig.ts
  src/solutions/LegalWorkspace/src/hooks/useWorkspaceLayouts.ts
Owners: @spaarke-dev

fix(smarttodo): detail panel uses full height with scrollable content
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/components/TodoDetailPanel.tsx
Owners: @spaarke-dev

docs(architecture): update event-to-do-architecture for R2
  docs/architecture/event-to-do-architecture.md
Owners: @spaarke-dev, @docs-team

fix(smarttodo): FluentProvider full-height chain for both code pages
  src/solutions/SmartTodo/index.html
  src/solutions/SmartTodo/src/App.tsx
  src/solutions/TodoDetailSidePane/src/App.tsx
Owners: @spaarke-dev

docs(auth): document @spaarke/auth pattern, deprecate legacy MSAL approach
  .claude/constraints/auth.md
  .claude/patterns/auth/msal-client.md
  .claude/patterns/auth/spaarke-auth-initialization.md
  .claude/patterns/auth/xrm-webapi-vs-bff-auth.md
  .claude/patterns/webresource/full-page-custom-page.md
  CLAUDE.md
Owners: @spaarke-dev

docs: update architecture docs for workspace personalization + auth migration
  docs/architecture/sdap-auth-patterns.md
  docs/architecture/sdap-overview.md
  docs/architecture/ui-dialog-shell-architecture.md
  docs/guides/SHARED-UI-COMPONENTS-GUIDE.md
Owners: @spaarke-dev, @docs-team

fix(smarttodo): Kanban board fills full dialog height with scrollable columns
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/components/SmartToDo.tsx
  src/solutions/SmartTodo/src/components/shared/KanbanBoard.tsx
Owners: @spaarke-dev

fix(smarttodo): Complete button persists status and removes from Kanban
  src/solutions/SmartTodo/src/components/TodoDetailPanel.tsx
  src/solutions/SmartTodo/src/services/queryHelpers.ts
Owners: @spaarke-dev
