Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

fix(ai-spaarke-ai-workspace-UI-r1): iter 2 round 2 testing fixes — DataGrid bidirectional scale + Calendar polish
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
Owners: @spaarke-dev

fix(ai-spaarke-ai-workspace-UI-r1): point Documents workspace widget at new sprk_gridconfiguration row
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/register-workspace-widgets.ts
Owners: @spaarke-dev

docs(ai-spaarke-ai-workspace-UI-r1): resume doc — record iter 2 slices + round 2/3 testing fixes + #5 defer to R4
  projects/ai-spaarke-ai-workspace-UI-r1/notes/RESUME-AFTER-COMPACTION.md
Owners: @spaarke-dev

fix(ai-spaarke-ai-workspace-UI-r1): round 3 testing fixes — Documents shim + DataGrid CSS-enforced width
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
  src/solutions/LegalWorkspace/src/sections/documents.registration.ts
Owners: @spaarke-dev

fix(multi-container-multi-index-r1): strip sprk_ prefix on parentEntityType (writer) + BFF backward-compat filter
  src/client/shared/Spaarke.UI.Components/src/services/EntityCreationService.ts
  src/server/api/Sprk.Bff.Api/Services/Ai/SemanticSearch/SearchFilterBuilder.cs
Owners: @spaarke-dev

fix(ai-spaarke-ai-workspace-UI-r1): DataGrid columns now actually fit container — gate FluentDataGrid mount on first valid width measurement
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
Owners: @spaarke-dev

fix(multi-container-multi-index-r1): drop URL-derived scope on user-initiated code page searches
  src/client/code-pages/SemanticSearch/src/App.tsx
Owners: @spaarke-dev

fix(ai-spaarke-ai-workspace-UI-r1): revert mount-gating in DataGrid that left grids empty; keep width-bucket key alone
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
Owners: @spaarke-dev

fix(ai-spaarke-ai-workspace-UI-r1): DataGrid finally fits container — add min-width:0 across the flex chain
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/DataverseEntityViewWidget.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
Owners: @spaarke-dev

fix(ai-spaarke-ai-workspace-UI-r1): SectionPanel.card needs min-width:0 too — grid items have the same intrinsic-width trap as flex items
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/SectionPanel.tsx
Owners: @spaarke-dev

fix(ai-spaarke-ai-workspace-UI-r1): override FluentDataGrid's hardcoded min-width:fit-content via CSS class with !important
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
Owners: @spaarke-dev

fix(ai-spaarke-ai-workspace-UI-r1): apply explicit pixel cap to DataverseEntityViewWidget — emulate EventsPage's index.html overflow:hidden boundary
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/DataverseEntityViewWidget.tsx
Owners: @spaarke-dev

fix(ai-spaarke-ai-workspace-UI-r1): DataGrid second-pass redistribution when column sum overshoots container
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
Owners: @spaarke-dev

fix(ai-spaarke-ai-workspace-UI-r1): DataGrid columns finally fit — box-sizing reset + per-cell padding reserve
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
  src/solutions/SpaarkeAi/index.html
Owners: @spaarke-dev

docs(ai-spaarke-ai-workspace-UI-r1): capture iter-2 rounds 6-11 DataGrid sizing knowledge — host contract, widget tutorial, pattern pointer, audit
  .claude/patterns/INDEX.md
  .claude/patterns/ui/INDEX.md
  .claude/patterns/ui/embedded-widget-sizing.md
  docs/guides/BUILD-A-NEW-WORKSPACE-WIDGET.md
  docs/guides/DATAGRID-CODE-PAGE-HOST-CONTRACT.md
  projects/ai-spaarke-ai-workspace-UI-r1/notes/box-sizing-reset-audit.md
Owners: @spaarke-dev, @docs-team

chore(smart-todo-r3): wrap-up — tasks 082, 083, 085, 090 + Outlook fixes + R4 design
  CLAUDE.md
  docs/architecture/event-to-do-architecture.md
  docs/architecture/spaarke-todo-architecture.md
  projects/smart-todo-decoupling-r3/README.md
  projects/smart-todo-decoupling-r3/lessons-learned.md
  projects/smart-todo-decoupling-r3/notes/task-085-final-grep-sweep.md
  projects/smart-todo-decoupling-r3/tasks/TASK-INDEX.md
  projects/smart-todo-r4/design.md
  scripts/Deploy-OfficeAddins.ps1
  src/client/office-addins/outlook/outlook-manifest.xml
  src/client/office-addins/outlook/taskpane/index.tsx
Owners: @spaarke-dev, @docs-team, @devops-team

feat(multi-container-multi-index-r1): Phase G — lookup-driven multi-index design + tasks + schema
  projects/spaarke-multi-container-multi-index-r1/notes/phase-g/spec.md
  projects/spaarke-multi-container-multi-index-r1/tasks/100-schema-add-lookup-column-7-entities.poml
  projects/spaarke-multi-container-multi-index-r1/tasks/101-catalog-seed-aisearchindex-rows.poml
  projects/spaarke-multi-container-multi-index-r1/tasks/102-bff-lookup-resolver-and-allowlist-provider.poml
  projects/spaarke-multi-container-multi-index-r1/tasks/103-bff-tests-publish-deploy.poml
  projects/spaarke-multi-container-multi-index-r1/tasks/104-data-migration-text-to-lookup.poml
  projects/spaarke-multi-container-multi-index-r1/tasks/105-field-mappings-lookup-to-lookup.poml
  projects/spaarke-multi-container-multi-index-r1/tasks/106-pcf-v1.1.75-resolve-via-webapi.poml
  projects/spaarke-multi-container-multi-index-r1/tasks/107-pcf-deploy-and-form-binding-cleanup.poml
  projects/spaarke-multi-container-multi-index-r1/tasks/108-code-page-dropdown-and-side-pane-redesign.poml
  projects/spaarke-multi-container-multi-index-r1/tasks/109-code-page-build-deploy-e2e.poml
  projects/spaarke-multi-container-multi-index-r1/tasks/110-post-soak-cleanup.poml
  projects/spaarke-multi-container-multi-index-r1/tasks/111-phase-g-wrap-up.poml
  projects/spaarke-multi-container-multi-index-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(ai-spaarke-ai-workspace-UI-r1): box-sizing audit cleanup (Wave 1 + Wave 2 pilot) + CI gate + shared-lib hygiene
  scripts/check-html-css-reset.mjs
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/CreateMatterWizardWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/DocumentUploadWizardWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/register-workspace-widgets.ts
  src/solutions/AllDocuments/index.html
  src/solutions/CreateTodoWizard/index.html
  src/solutions/DailyBriefing/index.html
  src/solutions/DailyBriefing/package.json
  src/solutions/DailyBriefing/src/App.tsx
  src/solutions/Reporting/index.html
  src/solutions/Reporting/package-lock.json
  src/solutions/SpaarkeAi/package-lock.json
  src/solutions/SpaarkeAi/package.json
  src/solutions/SpaarkeAi/src/components/context/__tests__/ContextPaneController.test.tsx
  src/solutions/WorkspaceLayoutWizard/index.html
  src/solutions/WorkspaceLayoutWizard/package.json
  tsconfig.base.json
Owners: @spaarke-dev, @devops-team

docs(smart-todo-r4): design.md v2 — UAT feedback resolved + 3 new open questions
  projects/smart-todo-r4/design.md
Owners: @spaarke-dev

docs(smart-todo-r4): design.md v3 — OQ-1/2/3 resolved; HYBRID modal adopted
  projects/smart-todo-r4/design.md
Owners: @spaarke-dev

feat(ai-spaarke-ai-workspace-UI-r1): Wave 3 box-sizing reset backfill — 12 surfaces; follow-up backlog drafted
  projects/ai-spaarke-ai-workspace-UI-r1/notes/followup-backlog.md
  src/solutions/CalendarSidePane/index.html
  src/solutions/CreateEventWizard/index.html
  src/solutions/CreateMatterWizard/index.html
  src/solutions/CreateProjectWizard/index.html
  src/solutions/CreateWorkAssignmentWizard/index.html
  src/solutions/EventDetailSidePane/index.html
  src/solutions/FindSimilarCodePage/index.html
  src/solutions/PlaybookLibrary/index.html
  src/solutions/SmartTodo/index.html
  src/solutions/SpeAdminApp/index.html
  src/solutions/SummarizeFilesWizard/index.html
  src/solutions/TodoDetailSidePane/index.html
Owners: @spaarke-dev

feat(multi-container-multi-index-r1): Phase G — tasks 102 + 106 (BFF resolver + PCF v1.1.75)
  projects/spaarke-multi-container-multi-index-r1/current-task.md
  projects/spaarke-multi-container-multi-index-r1/notes/phase-g/placement-justification-task102.md
  projects/spaarke-multi-container-multi-index-r1/tasks/102-bff-lookup-resolver-and-allowlist-provider.poml
  projects/spaarke-multi-container-multi-index-r1/tasks/106-pcf-v1.1.75-resolve-via-webapi.poml
  projects/spaarke-multi-container-multi-index-r1/tasks/TASK-INDEX.md
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/__tests__/resolveSearchIndexNameAsync.test.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/services/SearchIndexResolver.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/DataverseAllowedIndexesProvider.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IAllowedIndexesProvider.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/KnowledgeDeploymentService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/SearchIndexNameResolver.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/IGenericEntityService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/DataverseAllowedIndexesProviderTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/SearchIndexNameResolverTests.cs
Owners: @spaarke-dev

docs(smart-todo-r4): spec.md generated from design.md v3 via /design-to-spec
  projects/smart-todo-r4/spec.md
Owners: @spaarke-dev

docs(ai-spaarke-ai-workspace-UI-r1): note CalendarSidePane orphan in followup backlog
  projects/ai-spaarke-ai-workspace-UI-r1/notes/followup-backlog.md
Owners: @spaarke-dev

feat(multi-container-multi-index-r1): Phase G — tasks 104 + 108 (migration + code page UI)
  projects/spaarke-multi-container-multi-index-r1/current-task.md
  projects/spaarke-multi-container-multi-index-r1/tasks/104-data-migration-text-to-lookup.poml
  projects/spaarke-multi-container-multi-index-r1/tasks/108-code-page-dropdown-and-side-pane-redesign.poml
  projects/spaarke-multi-container-multi-index-r1/tasks/TASK-INDEX.md
  scripts/phase-g-lookup-migration/Migrate-SearchIndexLookup.ps1
  src/client/code-pages/SemanticSearch/src/App.tsx
  src/client/code-pages/SemanticSearch/src/__tests__/services/aiSearchIndexService.test.ts
  src/client/code-pages/SemanticSearch/src/__tests__/services/targetEntityNormalize.test.ts
  src/client/code-pages/SemanticSearch/src/components/InfoPopover.tsx
  src/client/code-pages/SemanticSearch/src/components/SearchFilterPane.tsx
  src/client/code-pages/SemanticSearch/src/components/SearchIndexSelector.tsx
  src/client/code-pages/SemanticSearch/src/components/VisualizationSettings.tsx
  src/client/code-pages/SemanticSearch/src/hooks/useRecordSearch.ts
  src/client/code-pages/SemanticSearch/src/hooks/useSemanticSearch.ts
  src/client/code-pages/SemanticSearch/src/services/aiSearchIndexService.ts
  src/client/code-pages/SemanticSearch/src/services/targetEntityNormalize.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
Owners: @spaarke-dev, @devops-team

chore(smart-todo-r3): wrap-up — tasks 082, 083, 085, 090 + Outlook fixes + R4 design scaffolding (#374)
  CLAUDE.md
  docs/architecture/event-to-do-architecture.md
  docs/architecture/spaarke-todo-architecture.md
  projects/smart-todo-decoupling-r3/README.md
  projects/smart-todo-decoupling-r3/lessons-learned.md
  projects/smart-todo-decoupling-r3/notes/task-085-final-grep-sweep.md
  projects/smart-todo-decoupling-r3/tasks/TASK-INDEX.md
  projects/smart-todo-r4/design.md
  projects/smart-todo-r4/spec.md
  scripts/Deploy-OfficeAddins.ps1
  src/client/office-addins/outlook/outlook-manifest.xml
  src/client/office-addins/outlook/taskpane/index.tsx
Owners: @spaarke-dev, @docs-team, @devops-team

chore(multi-container-multi-index-r1): TASK-INDEX — mark 103/107/109 as in-progress (deploys done, UAT/manual cleanup pending)
  projects/spaarke-multi-container-multi-index-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(ai-spaarke-ai-workspace-UI-r1): full resume doc rewrite for compaction
  projects/ai-spaarke-ai-workspace-UI-r1/notes/RESUME-AFTER-COMPACTION.md
Owners: @spaarke-dev

feat(r6): Phase A Wave 1 — task 001 (sprk_aipersona) + task 006 (IToolHandler rename) complete
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/tasks/001-create-sprk-aipersona-entity.poml
  projects/spaarke-ai-platform-unification-r6/tasks/006-rename-iAnalysisToolHandler-to-iToolHandler.poml
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  scripts/Create-AiPersonaEntity.ps1
  scripts/README.md
  src/server/api/Sprk.Bff.Api/GlobalUsings.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IToolHandler.cs
  tests/unit/Sprk.Bff.Api.Tests/GlobalUsings.cs
Owners: @spaarke-dev, @devops-team, @docs-team

feat(r6): Phase A Wave 2 — tasks 002, 003, 004, 007, 009 complete (Pillar 1 ~done + Pillar 2 in flight)
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-002-completion.md
  projects/spaarke-ai-platform-unification-r6/notes/task-003-completion.md
  projects/spaarke-ai-platform-unification-r6/notes/task-004-completion.md
  projects/spaarke-ai-platform-unification-r6/notes/task-004-system-prompt-source.txt
  projects/spaarke-ai-platform-unification-r6/notes/task-007-completion.md
  projects/spaarke-ai-platform-unification-r6/notes/task-009-completion.md
  projects/spaarke-ai-platform-unification-r6/tasks/002-add-personas-bff-endpoint.poml
  projects/spaarke-ai-platform-unification-r6/tasks/003-add-persona-resolver-methods.poml
  projects/spaarke-ai-platform-unification-r6/tasks/004-seed-default-sys-persona-row.poml
  projects/spaarke-ai-platform-unification-r6/tasks/007-add-availableincontexts-enum.poml
  projects/spaarke-ai-platform-unification-r6/tasks/009-split-execution-context.poml
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  scripts/Add-AnalysisToolAvailableInContexts.ps1
  scripts/Seed-AiPersonaDefault.ps1
  src/server/api/Sprk.Bff.Api/Api/Ai/ScopeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisPersonaService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisToolService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ChatInvocationContext.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IScopeResolverService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IToolHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ScopeResolverService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ToolExecutionContext.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ToolInvocationContextBase.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/ScopePersonasEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AnalysisToolDtoTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/InvocationContextTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PersonaResolutionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ScopeResolverServiceTests.cs
Owners: @spaarke-dev, @devops-team

feat(r6): Phase A Wave 3 — tasks 005, 008, 100 complete (Pillar 1 CLOSED + handler workstream unblocked)
  projects/spaarke-ai-platform-unification-r6/notes/task-005-completion.md
  projects/spaarke-ai-platform-unification-r6/notes/task-008-completion.md
  projects/spaarke-ai-platform-unification-r6/notes/task-100-completion.md
  projects/spaarke-ai-platform-unification-r6/tasks/005-wire-agent-factory-to-scope-persona.poml
  projects/spaarke-ai-platform-unification-r6/tasks/008-add-jsonschema-field-to-analysistool.poml
  projects/spaarke-ai-platform-unification-r6/tasks/100-handler-infrastructure-and-registration-pattern.poml
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  scripts/Add-AnalysisToolJsonSchema.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisToolService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PlaybookChatContextProvider.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/HandlerRegistrationConventions.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/TemplateHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IScopeResolverService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AnalysisToolDtoTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SprkChatAgentFactoryPersonaTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/AutoDiscoveryVerificationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/HandlerContractTestTemplate.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/TypedToolHandlerTestFixture.cs
Owners: @spaarke-dev, @devops-team

feat(r6): Phase A Wave 5 — tasks 105-108 (4 LLM-assisted handlers; H-G2 complete)
  infra/dataverse/sprk_analysistool-clause-analyzer-row.json
  infra/dataverse/sprk_analysistool-entity-extractor-row.json
  infra/dataverse/sprk_analysistool-invoice-extractor-row.json
  infra/dataverse/sprk_analysistool-risk-detector-row.json
  projects/spaarke-ai-platform-unification-r6/notes/task-105-completion.md
  projects/spaarke-ai-platform-unification-r6/notes/task-107-completion.md
  projects/spaarke-ai-platform-unification-r6/notes/task-108-completion.md
  projects/spaarke-ai-platform-unification-r6/tasks/105-entityextractor-handler.poml
  projects/spaarke-ai-platform-unification-r6/tasks/107-riskdetector-handler.poml
  projects/spaarke-ai-platform-unification-r6/tasks/108-invoiceextraction-tool-handler.poml
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  scripts/Seed-TypedHandlers.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/ClauseAnalyzerHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/EntityExtractorHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/InvoiceExtractionToolHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/RiskDetectorHandler.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/ClauseAnalyzerHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/EntityExtractorHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/InvoiceExtractionToolHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/RiskDetectorHandlerTests.cs
Owners: @spaarke-dev, @devops-team

feat(r6): Phase A Wave 4 — task 010 (adapter) + tasks 101-104 (4 deterministic handlers)
  infra/dataverse/sprk_analysistool-clause-comparison-row.json
  infra/dataverse/sprk_analysistool-date-extractor-row.json
  infra/dataverse/sprk_analysistool-financial-calculation-row.json
  infra/dataverse/sprk_analysistool-financial-calculator-row.json
  projects/spaarke-ai-platform-unification-r6/notes/task-010-completion.md
  projects/spaarke-ai-platform-unification-r6/notes/task-101-completion.md
  projects/spaarke-ai-platform-unification-r6/notes/task-102-completion.md
  projects/spaarke-ai-platform-unification-r6/notes/task-103-completion.md
  projects/spaarke-ai-platform-unification-r6/notes/task-104-completion.md
  projects/spaarke-ai-platform-unification-r6/tasks/010-build-toolhandler-aifunction-adapter.poml
  projects/spaarke-ai-platform-unification-r6/tasks/101-dateextractor-handler.poml
  projects/spaarke-ai-platform-unification-r6/tasks/102-financialcalculator-handler.poml
  projects/spaarke-ai-platform-unification-r6/tasks/103-clausecomparison-handler.poml
  projects/spaarke-ai-platform-unification-r6/tasks/104-financialcalculation-tool-handler.poml
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  scripts/Seed-TypedHandlers.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ToolHandlerToAIFunctionAdapter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/ClauseComparisonHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/DateExtractorHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/FinancialCalculationToolHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/FinancialCalculatorHandler.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/ToolHandlerToAIFunctionAdapterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/ClauseComparisonHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/DateExtractorHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/FinancialCalculationToolHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/FinancialCalculatorHandlerTests.cs
Owners: @spaarke-dev, @devops-team

feat(r6): Phase A Wave 6 — task 011 (ResolveTools wiring) + task 109 (handler dispatch tests; workstream closed)
  projects/spaarke-ai-platform-unification-r6/notes/task-011-completion.md
  projects/spaarke-ai-platform-unification-r6/notes/task-109-completion.md
  projects/spaarke-ai-platform-unification-r6/tasks/011-wire-resolvetools-to-sprk-analysistool-rows.poml
  projects/spaarke-ai-platform-unification-r6/tasks/109-handler-dispatch-tests-playbook-and-chat.poml
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SprkChatAgentFactoryToolResolutionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/HandlerDispatchTests.cs
Owners: @spaarke-dev

fix(r6): audit corrections — items 1+3+4 + ADRs-as-defaults operating principle
  infra/dataverse/sprk_analysistool-clause-analyzer-row.json
  infra/dataverse/sprk_analysistool-clause-comparison-row.json
  infra/dataverse/sprk_analysistool-date-extractor-row.json
  infra/dataverse/sprk_analysistool-entity-extractor-row.json
  infra/dataverse/sprk_analysistool-financial-calculation-row.json
  infra/dataverse/sprk_analysistool-financial-calculator-row.json
  infra/dataverse/sprk_analysistool-invoice-extractor-row.json
  infra/dataverse/sprk_analysistool-risk-detector-row.json
  projects/spaarke-ai-platform-unification-r6/CLAUDE.md
  projects/spaarke-ai-platform-unification-r6/notes/audit-item-01-json-schema-validation.md
  projects/spaarke-ai-platform-unification-r6/notes/audit-item-03-rate-limit-atomic-fix.md
  projects/spaarke-ai-platform-unification-r6/notes/audit-item-04-toolcode-retro-rename.md
  scripts/Seed-TypedHandlers.ps1
  scripts/Test-AnalysisToolSchemaValid.ps1
  src/server/api/Sprk.Bff.Api/Api/Ai/ScopeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisToolService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ToolHandlerToAIFunctionAdapter.cs
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/ScopePersonasEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AnalysisToolDtoTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/ToolHandlerToAIFunctionAdapterTests.cs
Owners: @spaarke-dev, @devops-team

fix(r6): audit item 4 consolidation complete + item 2 R7 deferral documented
  infra/dataverse/sprk_analysistool-clause-analyzer-row.json
  infra/dataverse/sprk_analysistool-clause-comparison-row.json
  infra/dataverse/sprk_analysistool-financial-calculation-row.json
  infra/dataverse/sprk_analysistool-financial-calculator-row.json
  projects/spaarke-ai-platform-unification-r6/notes/audit-item-02-deferred.md
  projects/spaarke-ai-platform-unification-r6/notes/audit-item-04-toolcode-retro-rename.md
  scripts/Seed-TypedHandlers.ps1
  scripts/_archive/2026-06-pre-r6-tool-seeding/Deploy-Tools.ps1
  scripts/_archive/2026-06-pre-r6-tool-seeding/README.md
  scripts/_archive/2026-06-pre-r6-tool-seeding/tools.json
Owners: @spaarke-dev, @devops-team, @docs-team

feat(r6): Wave 7b infra — adapter citations/widget post-processing + sprk_requiredcapability filter
  projects/spaarke-ai-platform-unification-r6/notes/wave-07b-adapter-infra.md
  projects/spaarke-ai-platform-unification-r6/notes/wave-07b-capability-filter.md
  scripts/Add-AnalysisToolRequiredCapability.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisToolService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ToolHandlerToAIFunctionAdapter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/HandlerRegistrationConventions.md
  src/server/api/Sprk.Bff.Api/Services/Ai/IScopeResolverService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ToolResult.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AnalysisToolDtoTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SprkChatAgentFactoryToolResolutionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/ToolHandlerToAIFunctionAdapterTests.cs
Owners: @spaarke-dev, @devops-team

feat(r6): Wave 7 partial — AnalysisQuery + TextRefinement migrated; KnowledgeRetrieval + VerifyCitations surfaced infra gaps
  infra/dataverse/sprk_analysistool-analysis-query-row.json
  infra/dataverse/sprk_analysistool-text-keypoints-row.json
  infra/dataverse/sprk_analysistool-text-refine-row.json
  infra/dataverse/sprk_analysistool-text-summary-row.json
  projects/spaarke-ai-platform-unification-r6/notes/wave-07-analysis-query-migration.md
  projects/spaarke-ai-platform-unification-r6/notes/wave-07-knowledge-retrieval-migration.md
  projects/spaarke-ai-platform-unification-r6/notes/wave-07-text-refinement-migration.md
  projects/spaarke-ai-platform-unification-r6/notes/wave-07-verify-citations-migration.md
  scripts/Seed-TypedHandlers.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/Tools/AnalysisQueryTools.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/AnalysisQueryHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/TextRefinementHandler.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/AnalysisQueryHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/TextRefinementHandlerTests.cs
Owners: @spaarke-dev, @devops-team

feat(r6): Wave 7c verified — KnowledgeRetrieval + VerifyCitations migrations green
  projects/spaarke-ai-platform-unification-r6/current-task.md
Owners: @spaarke-dev

checkpoint(r6): pre-compaction state — Wave 7c partial on disk + current-task.md handoff
  infra/dataverse/sprk_analysistool-citation-verify-row.json
  infra/dataverse/sprk_analysistool-knowledge-base-search-row.json
  infra/dataverse/sprk_analysistool-knowledge-source-get-row.json
  projects/spaarke-ai-platform-unification-r6/current-task.md
  scripts/Seed-TypedHandlers.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ChatInvocationContext.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/KnowledgeRetrievalHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/VerifyCitationsHandler.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/KnowledgeRetrievalHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/VerifyCitationsHandlerTests.cs
Owners: @spaarke-dev, @devops-team
