Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(compose): FR-17 undo/replace via ledger supersession (task 034)
  projects/spaarkeai-compose-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/Chat/SessionLedgerEntries.cs
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useEditSupersession.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/useEditSupersession.tsx
  tests/integration/contract/Api/Ai/ComposeSupersedeEndpointContractTests.cs
Owners: @spaarke-dev

docs(redesign-r2): record compose-r2 parity-deploy handoff (core-first merge sequence)
  projects/spaarke-ai-architecture-redesign-r2/notes/HANDOFF-to-core-parity-deploy-2026-07-10.md
Owners: @spaarke-dev

docs(adr): add ADR-044 Dataverse GUID canonicalization + extend pattern
  .claude/CHANGELOG.md
  .claude/adr/ADR-044-dataverse-guid-canonicalization.md
  .claude/adr/INDEX.md
  .claude/patterns/dataverse/relationship-navigation.md
  docs/adr/ADR-044-dataverse-guid-canonicalization.md
Owners: @spaarke-dev, @docs-team

@ docs(visual-host): design + spec for VisualHost decoupling & @spaarke/visuals extraction
  projects/visual-host-version-update/ASSESSMENT.md
  projects/visual-host-version-update/design.md
  projects/visual-host-version-update/spec.md
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/package-lock.json
  src/client/pcf/VisualHost/package.json
Owners: @spaarke-dev

@ feat(visual-host): initialize VisualHost decoupling & @spaarke/visuals project
  projects/visual-host-version-update/CLAUDE.md
  projects/visual-host-version-update/README.md
  projects/visual-host-version-update/current-task.md
  projects/visual-host-version-update/plan.md
  projects/visual-host-version-update/tasks/001-harden-shared-package-build.poml
  projects/visual-host-version-update/tasks/002-shared-lib-packaging-hygiene.poml
  projects/visual-host-version-update/tasks/003-bump-visualhost-v1.4.35.poml
  projects/visual-host-version-update/tasks/004-deploy-dev-uat-cleanguid.poml
  projects/visual-host-version-update/tasks/010-bootstrap-wizard-page-factory.poml
  projects/visual-host-version-update/tasks/011-build-invoice-wizard-code-page.poml
  projects/visual-host-version-update/tasks/012-build-reportcard-wizard-code-page.poml
  projects/visual-host-version-update/tasks/020-wire-launch-context-and-theme.poml
  projects/visual-host-version-update/tasks/021-verify-regarding-fieldmapping-parity.poml
  projects/visual-host-version-update/tasks/030-cutover-plus-to-navigateto.poml
  projects/visual-host-version-update/tasks/031-deploy-uat-navigateto.poml
  projects/visual-host-version-update/tasks/040-scaffold-spaarke-visuals-package.poml
  projects/visual-host-version-update/tasks/041-move-visuals-utils-types.poml
  projects/visual-host-version-update/tasks/042-reconcile-drifted-duplication.poml
  projects/visual-host-version-update/tasks/050-refactor-selffetch-visuals.poml
  projects/visual-host-version-update/tasks/060-repoint-visualhost-verify.poml
  projects/visual-host-version-update/tasks/061-deploy-uat-visuals-parity.poml
  projects/visual-host-version-update/tasks/070-adr-012-amendment.poml
  projects/visual-host-version-update/tasks/090-project-wrap-up.poml
  projects/visual-host-version-update/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(ci): complete F-5 — remove build-test job-level swallow + register 2 timing-sensitive Scheduling tests
  .github/workflows/sdap-ci.yml
  tests/.reliability-registry.json
Owners: @spaarke-dev, @devops-team

fix(dispatch): un-coerce compose action output on the wire (task 115 / UAT-R3-followup)
  projects/spaarkeai-compose-r2/notes/PING-from-core-parity-merge-landed-2026-07-10.md
  projects/spaarkeai-compose-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Models/Ai/AnalysisChunk.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionDispatchOrchestrator.cs
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/composeResultFormat.test.ts
  tests/integration/contract/Api/Ai/ComposeDispatchEndpointContractTests.cs
Owners: @spaarke-dev

style(compose): dotnet format + prettier on 034/115 files (CI hygiene)
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.ts
  tests/integration/contract/Api/Ai/ComposeDispatchEndpointContractTests.cs
Owners: @spaarke-dev

fix(compose-r2): parity reconcile + dispatch wire-loss fix + undo/replace (034,115) (#632)
  projects/spaarkeai-compose-r2/current-task.md
  projects/spaarkeai-compose-r2/design.md
  projects/spaarkeai-compose-r2/notes/HANDOFF-from-core-remediation-wave-2026-07-10.md
  projects/spaarkeai-compose-r2/notes/HANDOFF-to-core-fr30-memory-governance-2026-07-10.md
  projects/spaarkeai-compose-r2/notes/HANDOFF-to-core-parity-deploy-2026-07-10.md
  projects/spaarkeai-compose-r2/notes/HANDOFF-to-core-phase9b-uat-fixes-deployed-2026-07-10.md
  projects/spaarkeai-compose-r2/notes/PING-from-core-parity-merge-landed-2026-07-10.md
  projects/spaarkeai-compose-r2/notes/defer-issues.md
  projects/spaarkeai-compose-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/AnalysisChunk.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/Chat/SessionLedgerEntries.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionDispatchOrchestrator.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/composeResultFormat.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useEditSupersession.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/useEditSupersession.tsx
  tests/integration/contract/Api/Ai/ComposeDispatchEndpointContractTests.cs
  tests/integration/contract/Api/Ai/ComposeSupersedeEndpointContractTests.cs
Owners: @spaarke-dev

@ fix(shared): declare @spaarke/auth on ui-components + freshen sibling dists (VHVU-001)
  projects/visual-host-version-update/CLAUDE.md
  projects/visual-host-version-update/current-task.md
  projects/visual-host-version-update/tasks/001-harden-shared-package-build.poml
  projects/visual-host-version-update/tasks/003-bump-visualhost-v1.4.35.poml
  projects/visual-host-version-update/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/package-lock.json
  src/client/shared/Spaarke.UI.Components/package.json
  src/client/shared/Spaarke.UI.Components/scripts/ensure-dist-fresh.js
Owners: @spaarke-dev, @devops-team

checkpoint(compose-r2): joint deploy done (#632) + dispatch fix (115) live; restart point for the finish-to-100% wrap-up
  projects/spaarkeai-compose-r2/current-task.md
  projects/spaarkeai-compose-r2/notes/PING-to-core-joint-deploy-landed-2026-07-10.md
Owners: @spaarke-dev

@ docs(visual-host): align project with ADR-044 (GUID canonicalization) after master merge
  projects/visual-host-version-update/CLAUDE.md
  projects/visual-host-version-update/spec.md
  projects/visual-host-version-update/tasks/030-cutover-plus-to-navigateto.poml
Owners: @spaarke-dev

@ feat(wizard-pages): add shared useWizardPageBootstrap factory (VHVU-010)
  projects/visual-host-version-update/tasks/010-bootstrap-wizard-page-factory.poml
  src/client/shared/Spaarke.UI.Components/src/utils/useWizardPageBootstrap.ts
  src/solutions/CreateEventWizard/src/main.tsx
Owners: @spaarke-dev

@ feat(wizard-pages): add Invoice + Report Card code pages (VHVU-011, VHVU-012)
  projects/visual-host-version-update/tasks/011-build-invoice-wizard-code-page.poml
  projects/visual-host-version-update/tasks/012-build-reportcard-wizard-code-page.poml
  scripts/Deploy-WizardCodePages.ps1
  src/solutions/CreateInvoiceWizard/index.html
  src/solutions/CreateInvoiceWizard/package-lock.json
  src/solutions/CreateInvoiceWizard/package.json
  src/solutions/CreateInvoiceWizard/src/main.tsx
  src/solutions/CreateInvoiceWizard/tsconfig.json
  src/solutions/CreateInvoiceWizard/tsconfig.node.json
  src/solutions/CreateInvoiceWizard/vite.config.ts
  src/solutions/CreateReportCardWizard/index.html
  src/solutions/CreateReportCardWizard/package-lock.json
  src/solutions/CreateReportCardWizard/package.json
  src/solutions/CreateReportCardWizard/src/main.tsx
  src/solutions/CreateReportCardWizard/tsconfig.json
  src/solutions/CreateReportCardWizard/tsconfig.node.json
  src/solutions/CreateReportCardWizard/vite.config.ts
Owners: @spaarke-dev, @devops-team

@ feat(wizard-pages): wire launch-context + theme token across all 3 pages (VHVU-020)
  projects/visual-host-version-update/tasks/020-wire-launch-context-and-theme.poml
  src/client/shared/Spaarke.UI.Components/src/utils/themeStorage.ts
  src/client/shared/Spaarke.UI.Components/src/utils/useWizardPageBootstrap.ts
  src/solutions/CreateEventWizard/src/main.tsx
  src/solutions/CreateInvoiceWizard/src/main.tsx
  src/solutions/CreateReportCardWizard/src/main.tsx
Owners: @spaarke-dev

@ chore(visual-host): checkpoint — A0+A1+A2 code complete; VHVU-030 next
  projects/visual-host-version-update/current-task.md
  projects/visual-host-version-update/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(compose-r2): Wave A finish items — 064 trace host, 014-split assoc picker, DEF-01 regression test
  projects/spaarkeai-compose-r2/notes/defer-issues.md
  projects/spaarkeai-compose-r2/tasks/064-context-provenance-trace.poml
  projects/spaarkeai-compose-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.dirtyOnMount.test.tsx
  src/solutions/SpaarkeAi/src/components/__tests__/CreateOnSaveAssociation.test.tsx
  src/solutions/SpaarkeAi/src/components/compose/CreateOnSaveAssociationGateDialog.tsx
  src/solutions/SpaarkeAi/src/components/compose/useCreateOnSaveAssociationGate.ts
  src/solutions/SpaarkeAi/src/components/context/ComposeTraceHost.tsx
  src/solutions/SpaarkeAi/src/components/context/ContextPaneController.tsx
  src/solutions/SpaarkeAi/src/components/context/__tests__/ComposeTraceHost.reachable.test.tsx
  src/solutions/SpaarkeAi/src/components/shell/ThreePaneShell.tsx
Owners: @spaarke-dev

docs(redesign-r2): spec-vs-built reconciliation — all 65 FR/NFR dispositioned; operator decisions applied (J1 pull-in, #616 agree-out)
  projects/spaarke-ai-architecture-redesign-r2/notes/spec-vs-built-reconciliation-2026-07-10.md
Owners: @spaarke-dev

feat(api): PromptShield chat perimeter — config-gated pre-LLM injection scan + live degraded-perimeter probe (F-8 follow-up)
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/Middleware/PromptShieldChatMiddleware.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/Middleware/SafetyPerimeterSignal.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SideEffectGateAIFunction.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/appsettings.Development.json.template
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/Middleware/PromptShieldChatMiddlewareTests.cs
Owners: @spaarke-dev

checkpoint(redesign-r2): wave merged (#628+#631), master CI confirmed honest-green with blocking; shield parked for post-joint-deploy
  projects/spaarke-ai-architecture-redesign-r2/current-task.md
Owners: @spaarke-dev

docs(redesign-r2): FR-B-03 = agree-out (API-only, operator-signed); J1 job-aware producer dispatched
  projects/spaarke-ai-architecture-redesign-r2/notes/spec-vs-built-reconciliation-2026-07-10.md
Owners: @spaarke-dev

docs(redesign-r2): resolve job-aware disposition — NFR-12 invariant delivered on real path (Compose create-on-save); chat-card surface agreed-out (no user exposure); operator-signed
  projects/spaarke-ai-architecture-redesign-r2/notes/spec-vs-built-reconciliation-2026-07-10.md
Owners: @spaarke-dev

docs(redesign-r2): triage #629 FR-30 → memory hard-governance project (coupled asks, not r2 core); compose response + issue comment filed
  projects/spaarke-ai-architecture-redesign-r2/notes/629-fr30-triage-2026-07-10.md
Owners: @spaarke-dev

feat(api): create-matter ConsumerType + eval activation (FR-A1-13 / DEF-003 code half)
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/ConsumerTypes.cs
  tests/integration/contract/Eval/golden-utterances.json
Owners: @spaarke-dev

docs(redesign-r2): consolidated browser UAT checklist (merges 049+069+shield/create-matter; scenario<->FR; signed 'not in this UAT' list)
  projects/spaarke-ai-architecture-redesign-r2/notes/CONSOLIDATED-UAT-CHECKLIST.md
Owners: @spaarke-dev

docs(redesign-r2): respond to compose session-identity/seed/ack heads-up (no conflict; ack correction) + tighten UAT A7 scope
  projects/spaarke-ai-architecture-redesign-r2/notes/CONSOLIDATED-UAT-CHECKLIST.md
  projects/spaarke-ai-architecture-redesign-r2/notes/HANDOFF-to-core-session-identity-and-compose-seed-2026-07-10.md
Owners: @spaarke-dev

checkpoint(redesign-r2): Option 1 combined deploy chosen; all substantive work done; awaiting compose wrap-up + operator UAT
  projects/spaarke-ai-architecture-redesign-r2/current-task.md
Owners: @spaarke-dev

feat(vhvu-030): cut VisualHost "+" over to navigateTo; drop auth/wizard leak
  projects/visual-host-version-update/current-task.md
  projects/visual-host-version-update/tasks/030-cutover-plus-to-navigateto.poml
  projects/visual-host-version-update/tasks/TASK-INDEX.md
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/package.json
Owners: @spaarke-dev

feat(vhvu-040): scaffold @spaarke/visuals shared sibling package
  projects/visual-host-version-update/tasks/040-scaffold-spaarke-visuals-package.poml
  projects/visual-host-version-update/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Visuals/README.md
  src/client/shared/Spaarke.Visuals/package-lock.json
  src/client/shared/Spaarke.Visuals/package.json
  src/client/shared/Spaarke.Visuals/src/components/index.ts
  src/client/shared/Spaarke.Visuals/src/index.ts
  src/client/shared/Spaarke.Visuals/src/types/index.ts
  src/client/shared/Spaarke.Visuals/src/utils/index.ts
  src/client/shared/Spaarke.Visuals/tsconfig.json
Owners: @spaarke-dev, @docs-team

fix(compose): DEF-09 — route compose EDIT actions to the document session so inline redline renders
  projects/spaarkeai-compose-r2/notes/defer-issues.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeAiToolbar.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.redline-from-ledger.test.tsx
  src/client/shared/Spaarke.UI.Components/src/services/dispatchConsumer.ts
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.compose-draft-alternative-session-routing.e2e.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/useEditSupersession.tsx
  src/solutions/SpaarkeAi/src/components/conversation/useSerialActionQueue.ts
Owners: @spaarke-dev

docs(compose-r2): UAT round-2 coordination checkpoint — Option 1 combined deploy; DEF-08/09 cluster
  projects/spaarkeai-compose-r2/current-task.md
  projects/spaarkeai-compose-r2/notes/HANDOFF-to-compose-r2-fr30-triage-2026-07-10.md
  projects/spaarkeai-compose-r2/notes/HANDOFF-to-core-session-identity-and-compose-seed-2026-07-10.md
  projects/spaarkeai-compose-r2/notes/PING-to-compose-core-completion-deploy-2026-07-10.md
  projects/spaarkeai-compose-r2/notes/REPLY-to-core-633-merge-and-deploy-2026-07-10.md
Owners: @spaarke-dev

fix(vhvu-040): pin @spaarke/visuals to @types/react@18 (pre-empt JSX skew)
  src/client/shared/Spaarke.Visuals/README.md
  src/client/shared/Spaarke.Visuals/package-lock.json
  src/client/shared/Spaarke.Visuals/package.json
Owners: @spaarke-dev, @docs-team

feat(compose): DEF-08 — chat drafting intent lands a seeded, editable Compose tab (both-layered)
  infra/dataverse/actions/compose-draft-document.action.json
  infra/dataverse/inputschemas/compose-draft-document.input.schema.json
  infra/dataverse/outputschemas/compose-draft-document.schema.json
  infra/dataverse/sprk_playbookconsumer-rows.json
  projects/spaarkeai-compose-r2/notes/HANDOFF-from-core-session-identity-and-seed-ack-2026-07-10.md
  projects/spaarkeai-compose-r2/notes/REPLY-from-core-option1-combined-deploy-2026-07-10.md
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/WorkspaceLayoutWidget.tsx
  src/client/shared/Spaarke.Compose.Components/src/context/composeLaunchContext.ts
  src/client/shared/Spaarke.Compose.Components/src/types/compose-contracts.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.draftSeed.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.types.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChatMessage.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/SendWorkspaceArtifactHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/ConsumerTypes.cs
  src/solutions/LegalWorkspace/src/sections/composeEditor.registration.ts
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/assistantDraftHtml.ts
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspacePane.compose-draft-reuse.test.tsx
  src/solutions/SpaarkeAi/src/main.tsx
  tests/integration/contract/Api/Ai/ComposeDispatchEndpointContractTests.cs
  tests/integration/contract/Eval/golden-utterances.json
Owners: @spaarke-dev

feat(compose): task 071 — FR-34 honest CONTENT-render ack (closes the false "opened it" claim)
  src/client/shared/Spaarke.AI.Widgets/src/events/PaneEventTypes.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.draftSeed.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspacePane.content-render-ack.test.tsx
Owners: @spaarke-dev

chore(visual-host): checkpoint — Phase A + B1/B2 (040/041) complete; VHVU-042 next
  projects/visual-host-version-update/current-task.md
Owners: @spaarke-dev

fix(compose): DEF-02 — reset stale searchResolvedDriveId on each new Search pick
  projects/spaarkeai-compose-r2/notes/defer-issues.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
Owners: @spaarke-dev

chore(vhvu-031): stage deployed VisualHost 1.4.36 bundle (decoupled, 780 KB)
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
Owners: @spaarke-dev

chore(vhvu-031): mark deployed to DEV1, awaiting owner UAT
  projects/visual-host-version-update/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(compose-r2): PING core — master final (#634), ready for combined deploy (Option 1)
  projects/spaarkeai-compose-r2/notes/PING-to-core-master-final-ready-to-deploy-2026-07-11.md
Owners: @spaarke-dev

checkpoint(compose-r2): UAT round-2 wrap-up DEPLOYED — BFF+code page+compose-draft-document catalog live; over to core activation + consolidated UAT
  projects/spaarkeai-compose-r2/current-task.md
Owners: @spaarke-dev
