Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(sdap-bff-test-r2): task 011 Phase 1b Tier 2 — 7 P3 Null-Objects + endpoint catches
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatDocumentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/DailyBriefingEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/KnowledgeBaseEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/RagEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Finance/FinanceEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Workspace/WorkspaceFileEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Workspace/WorkspaceMatterEndpoints.cs
  src/server/api/Sprk.Bff.Api/Configuration/FeatureDisabledException.cs
  src/server/api/Sprk.Bff.Api/Configuration/FeatureDisabledResults.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/FinanceModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NullPlaybookOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NullPlaybookService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NullRagService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NullTextExtractor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/NullBriefingAi.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/NullInvoiceSearchService.cs
Owners: @spaarke-dev

fix(matter-ui-r1): VisualHost v1.4.12 — 20px body top-padding for 3 visual types + Due Date Card List polish
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/DueDateCard.tsx
  src/client/pcf/VisualHost/control/components/DueDateCardList.tsx
  src/client/pcf/VisualHost/control/components/EventDueDateCard.tsx
  src/client/pcf/VisualHost/control/components/MetricCardMatrix.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
Owners: @spaarke-dev

feat(sdap-bff-test-r2): task 011 Phase 1b Tier 3 — unseal + B8 IRagService refactor
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/KnowledgeBaseEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/NullPendingPlanManager.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/NullSprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PendingPlanManager.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IRagService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NullRagService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/RagService.cs
Owners: @spaarke-dev

feat(sdap-bff-test-r2): task 011 Phase 1b Tier 1.5 — promote ChatContextMappingService
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
Owners: @spaarke-dev

feat(sdap-bff-test-r2): task 011 Phase 1b Tier 1.5 round 2 — promote DocxExportService
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
Owners: @spaarke-dev

feat(sdap-bff-test-r2): task 011 Phase 1b Tier 1.5 round 3 — promote IWorkingDocumentService
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
Owners: @spaarke-dev

docs(github-actions-rationalization-r1): closeout — 3 final items (FR-12, D-11, multi-env guide)
  .github/WORKFLOWS.md
  docs/procedures/MULTI-ENVIRONMENT-PROVISIONING-GUIDE.md
  projects/github-actions-rationalization-r1/decisions/D-11-deploy-promote-oidc-federated-credential-gap.md
Owners: @spaarke-dev, @devops-team, @docs-team

fix(ci): remove actionlint path filter to prevent required-check deadlock
  .github/workflows/workflows-validate.yml
Owners: @spaarke-dev, @devops-team

test(sdap-bff-test-r2): task 011 Phase 1c — Skip→Pass + ledger + triple-run
  projects/sdap-bff.api-test-suite-repair/ledgers/real-bug-ledger.md
  projects/sdap.bff.api-test-suite-repair-r2/baseline/per-fix-triple-run-rb-t028-cluster-2026-06-01.md
  tests/integration/Spe.Integration.Tests/Api/Ai/ChatEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/KnowledgeBaseEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/ReAnalysisFlowTests.cs
  tests/integration/Spe.Integration.Tests/AuthorizationIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/RagServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Security/PrivilegeAwareRagServiceTests.cs
Owners: @spaarke-dev

fix(matter-ui-r1): VisualHost v1.4.13 — drill-through accepts entity-name targets + restore AI summary on Upcoming Tasks
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
Owners: @spaarke-dev

feat(sdap-bff-test-r2): task 011 Phase 1b Tier 1.5 round 4 — 2 more Null-Objects
  src/server/api/Sprk.Bff.Api/Api/Ai/RagEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/VisualizationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NullFileIndexingService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NullVisualizationService.cs
Owners: @spaarke-dev

fix(ci): align deploy-promote.yml prod→production + D-12 explicit deferral
  .github/WORKFLOWS.md
  .github/workflows/deploy-promote.yml
  projects/github-actions-rationalization-r1/decisions/D-11-deploy-promote-oidc-federated-credential-gap.md
  projects/github-actions-rationalization-r1/decisions/D-12-deploy-promote-prod-app-name-secret-and-app-service-gap.md
Owners: @spaarke-dev, @devops-team

docs(adr): ADR-030 — BFF Null-Object Kill-Switch Pattern (promoted from r2 draft)
  .claude/adr/ADR-030-bff-nullobject-kill-switch.md
  .claude/adr/INDEX.md
  docs/adr/ADR-030-bff-nullobject-kill-switch.md
  docs/adr/INDEX.md
Owners: @spaarke-dev, @docs-team

chore(sdap-bff-test-r2): task 011 Phase 1d state — security review pending
  projects/sdap.bff.api-test-suite-repair-r2/current-task.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/011-fix-rb-t028-cluster.poml
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(sdap-bff-test-r2): D-10 security review approval — task 011 closed
  projects/sdap.bff.api-test-suite-repair-r2/decisions/D-10-security-review-rb-t028-cluster.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/011-fix-rb-t028-cluster.poml
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(matter-ui-r1): SemanticSearchControl v1.1.72 — sprk_inworkspace → sprk_workspaceflag (3 refs)
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

fix(matter-ui-r1): VisualHost v1.4.14 — injectContextFilter no longer lands inside link-entity filter
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/control/services/ViewDataService.ts
Owners: @spaarke-dev

test(sdap-bff-test-r2): task 013 Phase 1 exit triple-run PASS + RB-T013-01 inline flake fix
  projects/sdap-bff.api-test-suite-repair/ledgers/real-bug-ledger.md
  projects/sdap.bff.api-test-suite-repair-r2/baseline/phase1-exit-triple-run-2026-06-01.md
  projects/sdap.bff.api-test-suite-repair-r2/current-task.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/013-phase1-exit-triple-run.poml
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/Services/Registration/TrackingIdGeneratorTests.cs
Owners: @spaarke-dev

feat(sdap-bff-test-r2): Phase 2 P2-W1 wave 1 — 4 closures + 1 partial + RB-T053-01a residual
  projects/sdap-bff.api-test-suite-repair/ledgers/real-bug-ledger.md
  projects/sdap.bff.api-test-suite-repair-r2/decisions/D-11-rb-t053-01-fix-option.md
  projects/sdap.bff.api-test-suite-repair-r2/decisions/D-12-rb-t070-03-fix-path.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/025-fix-rb-t028-07.poml
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisContextBuilder.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityRouter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/AnalysisChatContextResolver.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/Citations/CitationExtractor.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/UploadIntegrationTests.cs
  tests/integration/Spe.Integration.Tests/IntegrationTestFixture.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/AnalysisChatContextEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/CustomWebAppFactory.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AnalysisContextBuilderTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Capabilities/CapabilityRouterBenchmarkTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/CitationExtractorTests.cs
Owners: @spaarke-dev

chore(sdap-bff-test-r2): TASK-INDEX status flips for P2-W1 wave 1 — 020/023/024 ✅, 022 🟡 partial, 021 next
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(d-11): close D-11 with owner-action sign-off + strengthen D-12 timeline
  projects/github-actions-rationalization-r1/decisions/D-11-deploy-promote-oidc-federated-credential-gap.md
  projects/github-actions-rationalization-r1/decisions/D-12-deploy-promote-prod-app-name-secret-and-app-service-gap.md
Owners: @spaarke-dev

feat(sdap-bff-test-r2): task 021 P2-W2 — RB-T044-04 NormalizePatent EP/WO double-prefix fixed
  projects/sdap-bff.api-test-suite-repair/ledgers/real-bug-ledger.md
  projects/sdap.bff.api-test-suite-repair-r2/current-task.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/Citations/CitationExtractor.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/CitationExtractorTests.cs
Owners: @spaarke-dev

fix(matter-ui-r1): VisualHost v1.4.15 — Upcoming Tasks 5-day window + active-date selection
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/DueDateCard.tsx
  src/client/pcf/VisualHost/control/components/DueDateCardList.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
Owners: @spaarke-dev

chore(sdap-bff-test-r2): Phase 2 P2-W3 exit gate PASS + task 029 ✅
  projects/sdap.bff.api-test-suite-repair-r2/baseline/phase2-exit-triple-run-2026-06-01.md
  projects/sdap.bff.api-test-suite-repair-r2/current-task.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/029-phase2-exit-triple-run.poml
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(ci): direct-target deploy + D-12 nearly closed (PROD_APP_NAME set)
  .github/workflows/deploy-promote.yml
  projects/github-actions-rationalization-r1/decisions/D-12-deploy-promote-prod-app-name-secret-and-app-service-gap.md
Owners: @spaarke-dev, @devops-team

feat(sdap-bff-test-r2): Phase 3 P3-W1 — 6 LOW closures (parallel wave)
  projects/sdap-bff.api-test-suite-repair/ledgers/real-bug-ledger.md
  projects/sdap.bff.api-test-suite-repair-r2/current-task.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/035-fix-rb-t070-01.poml
  projects/sdap.bff.api-test-suite-repair-r2/tasks/036-fix-rb-t070-02.poml
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentConfigurationService.cs
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentConversationService.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/R2SseEventEmitter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SseEventTypes/SourcePaneSseEvent.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/Citations/CitationExtractor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionRestoreService.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Agent/AgentConfigurationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Agent/AgentConversationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/R2SseEventEmitterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SseEventTypes/ChatSseEventFactoryTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/CitationExtractorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Sessions/SessionRestoreServiceTests.cs
Owners: @spaarke-dev

feat(matter-ui-r1): VisualHost v1.4.16 — wire AI sparkle to CardChrome + add 'in' filter docs
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
Owners: @spaarke-dev

feat(sdap-bff-test-r2): Phase 3 P3-W2 — RB-T044-05 + RB-T028-08 closed
  projects/sdap-bff.api-test-suite-repair/ledgers/real-bug-ledger.md
  projects/sdap.bff.api-test-suite-repair-r2/current-task.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/033-fix-rb-t044-05.poml
  projects/sdap.bff.api-test-suite-repair-r2/tasks/037-fix-rb-t028-08.poml
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/Citations/CitationExtractor.cs
  tests/integration/Spe.Integration.Tests/Api/Insights/PrecedentAdminEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/IntegrationTestFixture.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/CitationExtractorTests.cs
Owners: @spaarke-dev

chore(sdap-bff-test-r2): Phase 3 P3-W3 task 038 — Spe.Integration.Tests triple-run PASS (FR-10)
  projects/sdap.bff.api-test-suite-repair-r2/baseline/phase3-integration-triple-run-2026-06-01.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/038-spe-integration-triple-run.poml
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

chore(sdap-bff-test-r2): Phase 3 exit gate PASS + task 039 ✅
  projects/sdap.bff.api-test-suite-repair-r2/baseline/phase3-exit-ledger-audit-2026-06-01.md
  projects/sdap.bff.api-test-suite-repair-r2/current-task.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/039-phase3-exit-validation.poml
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(d-12): CLOSE D-12 (deploy mechanics verified) + handoff to production-environment-setup-r3
  projects/github-actions-rationalization-r1/decisions/D-12-deploy-promote-prod-app-name-secret-and-app-service-gap.md
Owners: @spaarke-dev

docs: github-actions-rationalization-r1 truly closed — update project artifacts with closeout findings
  projects/github-actions-rationalization-r1/README.md
  projects/github-actions-rationalization-r1/current-task.md
  projects/github-actions-rationalization-r1/notes/lessons-learned.md
Owners: @spaarke-dev, @docs-team

feat(sdap-bff-test-r2): Phase 4 P4-W1 — 5 tracks complete (pilot deliverables)
  projects/sdap.bff.api-test-suite-repair-r2/baseline/phase4-track-a-pcf-audit-2026-06-01.md
  projects/sdap.bff.api-test-suite-repair-r2/baseline/phase4-track-b-stryker-pilot-2026-06-01.md
  projects/sdap.bff.api-test-suite-repair-r2/baseline/phase4-track-c-testclock-poc-2026-06-01.md
  projects/sdap.bff.api-test-suite-repair-r2/baseline/phase4-track-d-coverlet-baseline-2026-06-01.md
  projects/sdap.bff.api-test-suite-repair-r2/baseline/phase4-track-e-anti-drift-report-2026-06-01.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/WorkspaceModule.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/IGuidProvider.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/PortfolioService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Workspace/PortfolioServiceTests.cs
Owners: @spaarke-dev

docs(procedures,constraints): Phase 5 P5-W1 — tasks 080 + 081 + D-13 (CLEAN)
  .claude/constraints/bff-extensions.md
  docs/procedures/testing-and-code-quality.md
  projects/sdap.bff.api-test-suite-repair-r2/.gitignore
  projects/sdap.bff.api-test-suite-repair-r2/decisions/D-13-task-081-extension-warrant.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore(sdap-bff-test-r2): Phase 5 P5-W2 — tasks 082 + 084 PASS (merge-ready)
  projects/sdap.bff.api-test-suite-repair-r2/baseline/phase5-doc-drift-audit-2026-06-01.md
  projects/sdap.bff.api-test-suite-repair-r2/baseline/phase5-final-triple-run-2026-06-01.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/082-final-triple-run-validation.poml
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

style: dotnet format fixes on merge-resolution areas
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/Citations/CitationExtractor.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/CitationExtractorTests.cs
Owners: @spaarke-dev

docs: r2 wrap-up documentation hardening — #1 §10 cross-refs + #2 fixture contracts + #3 r3 backlog
  CLAUDE.md
  docs/procedures/test-fixture-contracts.md
  projects/sdap.bff.api-test-suite-repair-r2/notes/r3-followup-backlog.md
Owners: @spaarke-dev, @docs-team

docs(sdap-bff-test-r2): Task 090 project wrap-up — r2 CLOSED
  projects/sdap.bff.api-test-suite-repair-r2/README.md
  projects/sdap.bff.api-test-suite-repair-r2/notes/lessons-learned.md
  projects/sdap.bff.api-test-suite-repair-r2/plan.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(spaarke-datagrid-framework-r1): add project spec and design
  projects/spaarke-datagrid-framework-r1/design.md
  projects/spaarke-datagrid-framework-r1/spec.md
Owners: @spaarke-dev

feat(spaarke-datagrid-framework-r1): task 001 — foundation contracts
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/001-deviations.md
  projects/spaarke-datagrid-framework-r1/tasks/001-foundation-contracts.poml
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/package-lock.json
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/tokens.ts
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
  src/client/shared/Spaarke.UI.Components/src/services/IDataverseClient.ts
  src/client/shared/Spaarke.UI.Components/src/services/index.ts
  src/client/shared/Spaarke.UI.Components/src/types/ConfigurationTypes.ts
  src/client/shared/Spaarke.UI.Components/src/types/DataGridConfiguration.ts
  src/client/shared/Spaarke.UI.Components/src/types/index.ts
Owners: @spaarke-dev
