Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(dotnet-10-upgrade-r1): worktree-net10-migrate skill + Update-WorktreeToNet10.ps1
  .claude/CHANGELOG.md
  .claude/skills/INDEX.md
  .claude/skills/worktree-net10-migrate/SKILL.md
  scripts/Update-WorktreeToNet10.ps1
Owners: @spaarke-dev, @devops-team

wrap-up(dotnet-10-upgrade-r1): 090 close-out — project COMPLETE
  projects/INDEX.md
  projects/dotnet-10-upgrade-r1/README.md
  projects/dotnet-10-upgrade-r1/current-task.md
  projects/dotnet-10-upgrade-r1/notes/r3-handoff.md
  projects/dotnet-10-upgrade-r1/notes/test-diet-report.md
  projects/dotnet-10-upgrade-r1/tasks/090-project-wrap-up.poml
  projects/dotnet-10-upgrade-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore(quality): integrate net10 handoff (r3-handoff.md) into plan + tasks
  projects/code-quality-and-assurance-r3/CLAUDE.md
  projects/code-quality-and-assurance-r3/notes/r3-handoff.md
  projects/code-quality-and-assurance-r3/tasks/026-bff-di-decompose-and-finance-rename.poml
  projects/code-quality-and-assurance-r3/tasks/031-test-quality-sweep.poml
  projects/code-quality-and-assurance-r3/tasks/032-dependency-cve-hygiene.poml
  projects/code-quality-and-assurance-r3/tasks/040-expand-archtests.poml
  projects/code-quality-and-assurance-r3/tasks/060-drop-vestigial-dataverse-s2s-appreg.poml
  projects/code-quality-and-assurance-r3/tasks/062-graph-approle-constants.poml
Owners: @spaarke-dev

chore(quality): integrate net10-HEAD reconciliation (Fable, 532-commit drift)
  projects/code-quality-and-assurance-r3/notes/SCORECARD.md
  projects/code-quality-and-assurance-r3/tasks/020-bff-delete-dead-code.poml
  projects/code-quality-and-assurance-r3/tasks/022-bff-eml-builder-cleanup.poml
  projects/code-quality-and-assurance-r3/tasks/026-bff-di-decompose-and-finance-rename.poml
  projects/code-quality-and-assurance-r3/workstreams/bff-api/design.md
Owners: @spaarke-dev

checkpoint(quality): net10 reconciliation done — findings hold, #3b confirmed
  projects/code-quality-and-assurance-r3/current-task.md
Owners: @spaarke-dev

checkpoint(quality): refresh handoff — net10 current, 3 commits unpushed
  projects/code-quality-and-assurance-r3/current-task.md
Owners: @spaarke-dev

chore(dotnet-10-upgrade-r1): archive marker — project Completed 2026-08-14
  projects/dotnet-10-upgrade-r1/.archived
Owners: @spaarke-dev

feat(quality): complete r3 Phase 0 — rubric + scorecard + assessment workflow
  docs/standards/CODE-QUALITY-RUBRIC.md
  projects/code-quality-and-assurance-r3/current-task.md
  projects/code-quality-and-assurance-r3/notes/SCORECARD.md
  projects/code-quality-and-assurance-r3/notes/quality-assessment.workflow.README.md
  projects/code-quality-and-assurance-r3/notes/quality-assessment.workflow.js
  projects/code-quality-and-assurance-r3/tasks/001-author-code-quality-rubric.poml
  projects/code-quality-and-assurance-r3/tasks/002-scaffold-scorecard.poml
  projects/code-quality-and-assurance-r3/tasks/003-build-quality-assessment-workflow.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(quality): parseArgs accepts JSON-string args; close task 019
  projects/code-quality-and-assurance-r3/current-task.md
  projects/code-quality-and-assurance-r3/notes/quality-assessment.workflow.js
  projects/code-quality-and-assurance-r3/tasks/019-bff-auth-surface-map.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(quality): task 010 assessment (shared client libs = B-); fix 2 workflow runtime bugs
  projects/code-quality-and-assurance-r3/current-task.md
  projects/code-quality-and-assurance-r3/notes/SCORECARD.md
  projects/code-quality-and-assurance-r3/notes/quality-assessment.workflow.js
  projects/code-quality-and-assurance-r3/tasks/010-assess-shared-client-libs.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  projects/code-quality-and-assurance-r3/workstreams/shared-client-libs/design.md
Owners: @spaarke-dev

fix(quality): harden workflow verify/synth null-guards; BLOCKED on API spend limit
  projects/code-quality-and-assurance-r3/current-task.md
  projects/code-quality-and-assurance-r3/notes/quality-assessment.workflow.js
Owners: @spaarke-dev

feat(quality): task 017 assessment (config-deployment = F, gated by D3)
  projects/code-quality-and-assurance-r3/notes/SCORECARD.md
  projects/code-quality-and-assurance-r3/tasks/017-assess-config-deployment.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  projects/code-quality-and-assurance-r3/workstreams/config-deployment/design.md
Owners: @spaarke-dev

feat(quality): task 011 assessment (shared server libs = C+); NG1/#3b verified input
  projects/code-quality-and-assurance-r3/notes/SCORECARD.md
  projects/code-quality-and-assurance-r3/tasks/011-assess-shared-server-libs.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  projects/code-quality-and-assurance-r3/workstreams/shared-server-libs/design.md
Owners: @spaarke-dev

feat(quality): task 013 assessment (Dataverse model + ALM = B-)
  projects/code-quality-and-assurance-r3/notes/SCORECARD.md
  projects/code-quality-and-assurance-r3/tasks/013-assess-dataverse-model-alm.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  projects/code-quality-and-assurance-r3/workstreams/dataverse-model-alm/design.md
Owners: @spaarke-dev

feat(quality): task 014 assessment (code pages + build sprawl = C)
  projects/code-quality-and-assurance-r3/notes/SCORECARD.md
  projects/code-quality-and-assurance-r3/tasks/014-assess-code-pages-build-sprawl.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  projects/code-quality-and-assurance-r3/workstreams/code-pages-build/design.md
Owners: @spaarke-dev

feat(quality): task 015 assessment (plugins = D, decommission recommended)
  projects/code-quality-and-assurance-r3/notes/SCORECARD.md
  projects/code-quality-and-assurance-r3/tasks/015-assess-plugins.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  projects/code-quality-and-assurance-r3/workstreams/plugins/design.md
Owners: @spaarke-dev

feat(quality): task 012 assessment (PCF controls = C+) — assessment wave COMPLETE
  projects/code-quality-and-assurance-r3/notes/SCORECARD.md
  projects/code-quality-and-assurance-r3/tasks/012-assess-pcf-controls.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  projects/code-quality-and-assurance-r3/workstreams/pcf-controls/design.md
Owners: @spaarke-dev

feat(quality): task 016 aggregate re-baseline — Phase 1 COMPLETE
  projects/code-quality-and-assurance-r3/current-task.md
  projects/code-quality-and-assurance-r3/notes/SCORECARD.md
  projects/code-quality-and-assurance-r3/tasks/016-rebaseline-scorecard.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(email-intelligence-r2): reconciliation parity Batch 1 — Related-to compact cards + Confirm revert + per-line Undo
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailConnectionsReview.styles.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailConnectionsReview.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailConnectionsReviewRows.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/__tests__/EmailAssociationsAndTracking.test.tsx
Owners: @spaarke-dev

feat(email-intelligence-r2): reconciliation parity Batch 1 — reader triage/date/open-eml + standard footer
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationBrowseShell/ReconciliationBrowseShell.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationBrowseShell/ReconciliationBrowseShell.types.ts
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationBrowseShell/__tests__/ReconciliationBrowseShell.test.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationWorkspace/ReconciliationWorkspace.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationWorkspace/__tests__/ReconciliationWorkspace.test.tsx
Owners: @spaarke-dev

feat(email-intelligence-r2): reconciliation parity Batch 1 — task status option set + friendly field labels
  src/client/shared/Spaarke.Communication.Components/src/components/ReconcileTabs/FieldUpdateReconcileTab.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/ReconcileTabs/TaskReconcileTab.tsx
Owners: @spaarke-dev

feat(quality): BFF remediation Wave 1 — tasks 020 + 027 + 060 (parallel, disjoint)
  .gitignore
  docs/architecture/AZURE-RESOURCE-NAMING-CONVENTION.md
  docs/architecture/auth-azure-resources.md
  docs/guides/DATAVERSE-AUTHENTICATION-GUIDE.md
  docs/guides/INCIDENT-RESPONSE.md
  docs/guides/PRODUCTION-DEPLOYMENT-GUIDE.md
  docs/guides/SECRET-ROTATION-PROCEDURES.md
  docs/guides/SPAARKE-DEPLOYMENT-GUIDE.md
  projects/code-quality-and-assurance-r3/tasks/020-bff-delete-dead-code.poml
  projects/code-quality-and-assurance-r3/tasks/027-bff-repo-hygiene.poml
  projects/code-quality-and-assurance-r3/tasks/060-drop-vestigial-dataverse-s2s-appreg.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  scripts/README.md
  scripts/Register-EntraAppRegistrations.ps1
  scripts/Test-EntraAppRegistrations.ps1
  src/server/api/Sprk.Bff.Api/Infrastructure/Resilience/RetryPolicies.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Resilience/_archive/RetryPolicies.cs.archived-2025-10-01
  src/server/api/Sprk.Bff.Api/Services/BackgroundServices/_archive/JobProcessor.cs.archived-2025-10-03
  src/server/api/Sprk.Bff.Api/Services/Insights/LiveFacts/StubLiveFactResolver.cs
  src/server/api/Sprk.Bff.Api/Services/Scopes/OwnershipValidator.cs
  src/server/api/Sprk.Bff.Api/Services/Scopes/ScopeCopyService.cs
  src/server/api/Sprk.Bff.Api/Services/Scopes/ScopeInheritanceService.cs
  src/server/api/Sprk.Bff.Api/deployment.tar.gz
  src/server/api/Sprk.Bff.Api/spe-bff-api-deployment.tar.gz
  tests/unit/Sprk.Bff.Api.Tests/JobProcessorTests.cs.archived-2025-10-14
Owners: @spaarke-dev, @docs-team, @devops-team

fix(quality): BFF Bug-1 (invoice-totals cast) + Bug-2 (.eml cleanup) — tasks 021, 022
  projects/code-quality-and-assurance-r3/tasks/021-bff-fix-invoice-totals-cast.poml
  projects/code-quality-and-assurance-r3/tasks/022-bff-eml-builder-cleanup.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Email/EmailToEmlConverter.cs
  src/server/api/Sprk.Bff.Api/Services/Email/IEmailToEmlConverter.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/FinanceRollupService.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/Tools/FinancialCalculationToolHandler.cs
  src/server/api/Sprk.Bff.Api/Workers/Office/OfficeWorkersModule.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Finance/Tools/FinancialCalculationToolHandlerTests.cs
Owners: @spaarke-dev

checkpoint(email-intelligence-r2): reconciliation parity Batch 1 done+deployed; Batch 2 plan + open caching decision
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

feat(quality): task 023 — close Finance anonymous-write (program D3=F) via @spaarke/auth
  .claude/patterns/webresource/subgrid-parent-rollup.md
  projects/code-quality-and-assurance-r3/notes/task-023-notes.md
  projects/code-quality-and-assurance-r3/tasks/023-bff-auth-closure-spaarke-auth.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Finance/FinanceRollupEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/OBOEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/UserEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/solutions/webresources/sprk_subgrid_parent_rollup.js
  tests/integration/contract/Api/Finance/FinanceRollupEndpointsContractTests.cs
  tests/unit/Sprk.Bff.Api.Tests/EndpointGroupingTests.cs
Owners: @spaarke-dev

fix(email-intelligence-r2): reconcile Related-to cards stack vertically (prototype parity)
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailConnectionsReview.styles.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailConnectionsReview.tsx
Owners: @spaarke-dev

refactor(quality): BFF Tranche B pt.1 — 029 (delete Safety cluster) + 026 decompose
  projects/code-quality-and-assurance-r3/current-task.md
  projects/code-quality-and-assurance-r3/notes/SCORECARD.md
  projects/code-quality-and-assurance-r3/tasks/026-bff-di-decompose-and-finance-rename.poml
  projects/code-quality-and-assurance-r3/tasks/029-bff-delete-safety-cluster.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/Middleware/PromptShieldChatMiddleware.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/Middleware/SafetyPipelineMiddleware.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SideEffectGateAIFunction.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/ConfidenceLevel.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/ConfidenceScoringRequest.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/ConfidenceScoringResult.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/ConfidenceScoringService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/IConfidenceScoringService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/Middleware/SafetyPipelineMiddlewareTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/ConfidenceScoringServiceTests.cs
Owners: @spaarke-dev

refactor(quality): task 028 — consolidate 13 ServiceClient downcasts to one extension
  projects/code-quality-and-assurance-r3/tasks/028-bff-downcast-consolidation.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Membership/MembershipFieldDiscoveryService.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/FetchService.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/GridConfigurationService.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/MetadataService.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/Privileges/UserPrivilegeChecker.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/RecordService.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/SavedQueryService.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/FinanceRollupService.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/FinanceSummaryService.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/SpendSnapshotService.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/Tools/FinancialCalculationToolHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/TodoGenerationService.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientExtensions.cs
Owners: @spaarke-dev

refactor(quality): task 024 — ADR-013 AI-facade compliance (4+1 violations)
  projects/code-quality-and-assurance-r3/tasks/024-bff-facade-compliance.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/PlaybookEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Workspace/WorkspaceFileEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IPlaybookLookupService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NullPlaybookLookupService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookLookupService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/FileSummarizeAi.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/IFileSummarizeAi.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/IWorkspacePrefillAi.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/NullWorkspacePrefillAi.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/WorkspacePrefillAi.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/InvoiceExtractionJobHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/MatterPreFillService.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/ProjectPreFillService.cs
  tests/integration/Sprk.Bff.Api.IntegrationTests/Phase1StableIdMigrationSuite.cs
  tests/integration/Sprk.Bff.Api.IntegrationTests/PlaybookByIdIntegrationTestFixture.cs
  tests/integration/Sprk.Bff.Api.IntegrationTests/StubPlaybookLookupService.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Workspace/WorkspaceFileEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/DI/AnalysisServicesModuleGatingTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/EmailAnalysisIntegrationTests.cs
Owners: @spaarke-dev

refactor(quality): task 025 — complete Endpoints/ -> Api/ namespace migration
  projects/code-quality-and-assurance-r3/tasks/025-bff-endpoints-to-api-migration.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Filters/RegistrationAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Api/RegistrationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerPermissionEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerTypeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerTypeSettingsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/DashboardEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdminEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/SpeAdmin/ContainerTypeEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/SpeAdmin/RegisterContainerTypeTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/SpeAdmin/UpdateContainerTypeSettingsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/SpeAdmin/Phase2IntegrationTests.cs
Owners: @spaarke-dev

feat(quality): horizontals 030 (security) + 032 (CVE/deps)
  projects/code-quality-and-assurance-r3/tasks/030-security-sweep.poml
  projects/code-quality-and-assurance-r3/tasks/032-dependency-cve-hygiene.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/package-lock.json
  src/client/shared/Spaarke.UI.Components/package.json
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/hooks/useChatFileAttachment.ts
  src/dataverse/plugins/Spaarke.CustomApiProxy/Plugins/Spaarke.Dataverse.CustomApiProxy/Spaarke.Dataverse.CustomApiProxy.csproj
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CorsModule.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  src/solutions/DailyBriefing/package-lock.json
  src/solutions/DailyBriefing/package.json
  src/solutions/SpaarkeAi/package-lock.json
  src/solutions/SpaarkeAi/package.json
  src/solutions/webresources/sprk_bff_auth.js
  src/solutions/webresources/sprk_kpi_subgrid_refresh.js
  src/solutions/webresources/sprk_kpiassessment_quickcreate.js
  src/solutions/webresources/sprk_matter_kpi_refresh.js
Owners: @spaarke-dev

feat(quality): horizontals 033 (observability) + 034 (doc-drift)
  .claude/patterns/dataverse/plugin-structure.md
  projects/code-quality-and-assurance-r3/tasks/033-observability-sweep.poml
  projects/code-quality-and-assurance-r3/tasks/034-doc-drift-audit.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EmailServicesModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/JobProcessingModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/TelemetryModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/TodoSyncModule.cs
  src/server/shared/Spaarke.Dataverse/DataverseAccessDataSource.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/docs/TECHNICAL-OVERVIEW.md
Owners: @spaarke-dev, @docs-team

test(quality): task 031 test-quality sweep — conservative scaffolding removal
  projects/code-quality-and-assurance-r3/current-task.md
  projects/code-quality-and-assurance-r3/tasks/031-test-quality-sweep.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  tests/integration/contract/Integration/DataverseWebApiWireMockContractTests.cs
  tests/unit/Spaarke.Scheduling.Tests/ScheduledJobRegistryTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/DataverseWebApiThreadSafetyTests.cs
Owners: @spaarke-dev

checkpoint(quality): context-handoff — remediation 28/35, forcing-functions wave
  projects/code-quality-and-assurance-r3/current-task.md
Owners: @spaarke-dev

feat(email-intelligence-r2): B2.1 attachment-text endpoint for reconciliation reader
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationWorkspace/ReconciliationWorkspace.tsx
  src/server/api/Sprk.Bff.Api/Api/CommunicationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationAttachmentTextService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Models/CommunicationAttachmentTextResponse.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationAttachmentTextServiceTests.cs
Owners: @spaarke-dev

feat(quality): task 062 — Graph app-role single-source constants (#4)
  docs/guides/auth-deployment-setup.md
  projects/code-quality-and-assurance-r3/tasks/062-graph-approle-constants.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  scripts/Register-EntraAppRegistrations.ps1
  scripts/Setup-EntraInfrastructure.ps1
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/GraphAppRoles.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
Owners: @spaarke-dev, @docs-team, @devops-team

checkpoint(email-intelligence-r2): card-fix + B2.1 attachment-text done+deployed
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

test(quality): task 040 — expand ArchTests fitness functions (make it stick)
  projects/code-quality-and-assurance-r3/tasks/040-expand-archtests.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  src/server/shared/CLAUDE.md
  tests/Spaarke.ArchTests/ADR013_LinearConsumerBoundaryTests.cs
  tests/Spaarke.ArchTests/DataverseServiceClientDowncastTests.cs
  tests/Spaarke.ArchTests/GodClassGuardTests.cs
  tests/Spaarke.ArchTests/LayerDependencyTests.cs
Owners: @spaarke-dev

checkpoint(quality): context-handoff refresh — 30/35, 061 in-flight
  projects/code-quality-and-assurance-r3/current-task.md
Owners: @spaarke-dev

feat(quality): task 061 — uniform fail-fast config validation (#2)
  projects/code-quality-and-assurance-r3/notes/task-061-config-validation-classification.md
  projects/code-quality-and-assurance-r3/tasks/061-config-validation-hardening.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AuthorizationModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ConfigurationModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EmailServicesModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/FinanceModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/SpeAdminModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Foundry/AgentServiceOptionsValidator.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/DI/AgentServiceOptionsValidationTests.cs
Owners: @spaarke-dev
