Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

chore(pcf): bump AnalysisWorkspace to v1.0.14
  src/client/pcf/AnalysisWorkspace/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisWorkspace/control/components/AnalysisWorkspaceApp.tsx
Owners: @spaarke-dev

feat(pcf): AnalysisWorkspace v1.0.18 + PCF deployment docs
  .claude/skills/dataverse-deploy/SKILL.md
  Directory.Packages.props
  docs/ai-knowledge/guides/PCF-CUSTOM-PAGE-DEPLOY.md
  docs/ai-knowledge/guides/PCF-PRODUCTION-RELEASE.md
  docs/ai-knowledge/guides/PCF-QUICK-DEPLOY.md
  docs/ai-knowledge/guides/PCF-TROUBLESHOOTING.md
  docs/reference/procedures/00-project-quick-start.md
  projects/email-to-document-automation/SPEC.md
  src/client/pcf/AnalysisWorkspace/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisWorkspace/control/components/AnalysisWorkspaceApp.tsx
  src/client/pcf/AnalysisWorkspace/control/components/RichTextEditor/RichTextEditor.tsx
  src/client/pcf/AnalysisWorkspace/control/components/RichTextEditor/ToolbarPlugin.tsx
  src/client/pcf/AnalysisWorkspace/control/components/RichTextEditor/index.ts
  src/client/pcf/AnalysisWorkspace/package-lock.json
  src/client/pcf/AnalysisWorkspace/package.json
  src/client/shared/Spaarke.UI.Components/package.json
  src/client/shared/Spaarke.UI.Components/src/components/RichTextEditor/RichTextEditor.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RichTextEditor/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/RichTextEditor/plugins/ToolbarPlugin.tsx
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
Owners: @spaarke-dev, @devops-team, @docs-team

feat(docs): initialize email-to-document-automation project
  projects/email-to-document-automation/CLAUDE.md
  projects/email-to-document-automation/PLAN.md
  projects/email-to-document-automation/README.md
  projects/email-to-document-automation/SPEC.md
  projects/email-to-document-automation/tasks/001-extend-document-entity.poml
  projects/email-to-document-automation/tasks/002-create-emailprocessingrule-entity.poml
  projects/email-to-document-automation/tasks/004-implement-email-to-eml-converter.poml
  projects/email-to-document-automation/tasks/005-create-convert-to-document-endpoint.poml
  projects/email-to-document-automation/tasks/006-unit-tests-eml-converter.poml
  projects/email-to-document-automation/tasks/010-implement-webhook-endpoint.poml
  projects/email-to-document-automation/tasks/011-create-polling-backup-service.poml
  projects/email-to-document-automation/tasks/012-implement-job-handler.poml
  projects/email-to-document-automation/tasks/020-implement-association-service.poml
  projects/email-to-document-automation/tasks/030-extend-text-extractor-eml.poml
  projects/email-to-document-automation/tasks/090-project-wrap-up.poml
  projects/email-to-document-automation/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(ai): Hybrid RAG infrastructure + Tool Handler Framework
  infrastructure/ai-search/spaarke-knowledge-shared-index.json
  projects/ai-document-intelligence-r1/tasks/TASK-INDEX.md
  scripts/Git-QuickCommit.ps1
  src/server/api/Sprk.Bff.Api/Configuration/DocumentIntelligenceOptions.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IOpenAiClient.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/OpenAiClient.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Rag/IKnowledgeDeploymentService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Rag/IRagService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Rag/KnowledgeDeploymentService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Rag/RagCacheService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Rag/RagService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/AnalysisToolService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/Handlers/ClauseAnalyzerHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/Handlers/DocumentClassifierHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/Handlers/EntityExtractorHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/IAnalysisToolHandler.cs
Owners: @spaarke-dev, @devops-team

chore(dataverse): remove unused DocumentOperations.js webresource
  projects/sdap-fileviewer-enhancements-2/README.md
  projects/sdap-fileviewer-enhancements-2/spec.md
  src/dataverse/solutions/spaarke_core/Other/Solution.xml
  src/dataverse/solutions/spaarke_core/WebResources/sprk_DocumentOperations
  src/dataverse/solutions/spaarke_core/WebResources/sprk_DocumentOperations.data.xml
  src/dataverse/webresources/spaarke_documents/DocumentOperations.js
  src/dataverse/webresources/spaarke_documents/README.md
Owners: @spaarke-dev, @docs-team

docs(design): SpeDocumentViewer design spec with Check-Out/Check-In model
  projects/document-checkout-viewer/SPE-FILE-VIEWER-ARCHITECTURE.md
  projects/document-checkout-viewer/spec.md
Owners: @spaarke-dev

feat(project): initialize document-checkout-viewer project
  projects/document-checkout-viewer/CLAUDE.md
  projects/document-checkout-viewer/README.md
  projects/document-checkout-viewer/notes/.gitkeep
  projects/document-checkout-viewer/notes/debug/.gitkeep
  projects/document-checkout-viewer/notes/drafts/.gitkeep
  projects/document-checkout-viewer/notes/handoffs/.gitkeep
  projects/document-checkout-viewer/notes/spikes/.gitkeep
  projects/document-checkout-viewer/plan.md
  projects/document-checkout-viewer/tasks/.gitkeep
Owners: @spaarke-dev, @docs-team

feat(project): decompose document-checkout-viewer into 23 POML tasks
  projects/document-checkout-viewer/CLAUDE.md
  projects/document-checkout-viewer/tasks/001-create-fileversion-entity.poml
  projects/document-checkout-viewer/tasks/002-add-document-checkout-fields.poml
  projects/document-checkout-viewer/tasks/003-deploy-schema-solution.poml
  projects/document-checkout-viewer/tasks/010-checkout-endpoint.poml
  projects/document-checkout-viewer/tasks/011-checkin-endpoint.poml
  projects/document-checkout-viewer/tasks/012-discard-endpoint.poml
  projects/document-checkout-viewer/tasks/013-delete-endpoint.poml
  projects/document-checkout-viewer/tasks/014-extend-preview-url.poml
  projects/document-checkout-viewer/tasks/015-deploy-bff-api.poml
  projects/document-checkout-viewer/tasks/020-pcf-scaffolding.poml
  projects/document-checkout-viewer/tasks/021-preview-mode.poml
  projects/document-checkout-viewer/tasks/022-toolbar-component.poml
  projects/document-checkout-viewer/tasks/023-checkout-checkin-flow.poml
  projects/document-checkout-viewer/tasks/024-edit-mode.poml
  projects/document-checkout-viewer/tasks/025-deploy-pcf.poml
  projects/document-checkout-viewer/tasks/030-delete-webresource.poml
  projects/document-checkout-viewer/tasks/031-ribbon-customization.poml
  projects/document-checkout-viewer/tasks/032-deploy-ribbon-solution.poml
  projects/document-checkout-viewer/tasks/050-migrate-spefileviewer.poml
  projects/document-checkout-viewer/tasks/051-migrate-sourcedocumentviewer.poml
  projects/document-checkout-viewer/tasks/052-ai-integration.poml
  projects/document-checkout-viewer/tasks/053-documentation.poml
  projects/document-checkout-viewer/tasks/090-project-wrap-up.poml
  projects/document-checkout-viewer/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(tasks): mark Phase 1 tasks completed with implementation notes
  projects/document-checkout-viewer/tasks/001-create-fileversion-entity.poml
  projects/document-checkout-viewer/tasks/002-add-document-checkout-fields.poml
  projects/document-checkout-viewer/tasks/003-deploy-schema-solution.poml
  projects/document-checkout-viewer/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(api): implement document checkout/checkin/discard endpoints (Tasks 010-012)
  projects/document-checkout-viewer/tasks/010-checkout-endpoint.poml
  projects/document-checkout-viewer/tasks/011-checkin-endpoint.poml
  projects/document-checkout-viewer/tasks/012-discard-endpoint.poml
  projects/document-checkout-viewer/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/DocumentOperationsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/DocumentsModule.cs
  src/server/api/Sprk.Bff.Api/Models/CheckoutModels.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/DocumentCheckoutService.cs
Owners: @spaarke-dev

feat(api): add delete endpoint + checkout status in preview-url (Tasks 013-014)
  projects/document-checkout-viewer/tasks/013-delete-endpoint.poml
  projects/document-checkout-viewer/tasks/014-extend-preview-url.poml
  projects/document-checkout-viewer/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/DocumentOperationsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/FileAccessEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/DocumentCheckoutService.cs
Owners: @spaarke-dev

chore(deploy): BFF API deployed to Azure dev (Task 015)
  projects/document-checkout-viewer/tasks/015-deploy-bff-api.poml
  projects/document-checkout-viewer/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(dataverse): add document checkout/checkin ribbon buttons with form refresh
  docs/ai-knowledge/guides/DEPLOY-BFF-API-TO-AZURE.md
  docs/reference/adr/ADR-018-pcf-react-fluent-standardization.md
  docs/reference/architecture/SDAP-DOCUMENTS-APP-SOLUTION-DESIGN.md
  docs/reference/research/CLAUDE.md
  infrastructure/dataverse/ribbon/DocumentRibbons/Entities/sprk_Document/RibbonDiff.xml
  projects/document-checkout-viewer/ENHANCEMENT-PLAN.md
  projects/document-checkout-viewer/PROPOSED-SpeDocumentViewer-DesignSpec.md
  projects/document-checkout-viewer/SPE-FILE-VIEWER-ARCHITECTURE.md
  projects/document-checkout-viewer/spec.md
  projects/document-checkout-viewer/tasks/001-create-fileversion-entity.poml
  projects/document-checkout-viewer/tasks/002-add-document-checkout-fields.poml
  projects/document-checkout-viewer/tasks/020-pcf-scaffolding.poml
  projects/document-checkout-viewer/tasks/021-preview-mode.poml
  projects/document-checkout-viewer/tasks/022-toolbar-component.poml
  projects/document-checkout-viewer/tasks/023-checkout-checkin-flow.poml
  projects/document-checkout-viewer/tasks/024-edit-mode.poml
  projects/document-checkout-viewer/tasks/025-deploy-pcf.poml
  projects/document-checkout-viewer/tasks/030-delete-webresource.poml
  projects/document-checkout-viewer/tasks/031-ribbon-customization.poml
  projects/document-checkout-viewer/tasks/032-deploy-ribbon-solution.poml
  projects/document-checkout-viewer/tasks/TASK-INDEX.md
  src/client/pcf/SpeFileViewer/control/AuthService.ts
  src/client/pcf/SpeFileViewer/control/BffClient.ts
  src/client/pcf/SpeFileViewer/control/ControlManifest.Input.xml
  src/client/pcf/SpeFileViewer/control/FilePreview.tsx
  src/client/pcf/SpeFileViewer/control/types.ts
  src/client/pcf/SpeFileViewer/package-lock.json
  src/client/pcf/SpeFileViewer/package.json
  src/client/pcf/tsconfig.json
  src/client/webresources/js/sprk_DocumentOperations.js
  src/server/api/Sprk.Bff.Api/Api/DocumentOperationsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/FileAccessEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/SpaarkeCore.cs
  src/server/api/Sprk.Bff.Api/Services/DocumentCheckoutService.cs
  src/server/shared/Spaarke.Dataverse/DataverseAccessDataSource.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
Owners: @spaarke-dev, @docs-team

docs(skills): add extended context config and clarify workflow
  .claude/skills/SKILL-INTERACTION-GUIDE.md
  .claude/skills/design-to-spec/SKILL.md
  .claude/skills/project-pipeline/SKILL.md
  .claude/skills/project-setup/SKILL.md
  CLAUDE.md
Owners: @spaarke-dev

docs(adr): add ADR-021 Fluent UI v9 design system + consolidate playbooks
  .claude/adr/ADR-021-fluent-design-system.md
  .claude/commands/adr-check.md
  .claude/commands/dataverse-deploy.md
  .claude/commands/design-to-project.md
  .claude/commands/design-to-spec.md
  .claude/commands/new-project.md
  .claude/commands/project-init.md
  .claude/commands/project-pipeline.md
  .claude/commands/project-status.md
  .claude/commands/repo-cleanup.md
  .claude/skills/INDEX.md
  .claude/skills/_archived/design-to-project/design-to-project/SKILL.md
  .claude/skills/_archived/design-to-project/project-init/SKILL.md
  .claude/skills/adr-aware/SKILL.md
  .claude/skills/adr-check/SKILL.md
  .claude/skills/code-review/SKILL.md
  .claude/skills/design-to-spec/SKILL.md
  .claude/skills/project-pipeline/SKILL.md
  .claude/skills/project-setup/SKILL.md
  .claude/templates/_archived/AI-AGENT-PLAYBOOK.md
  CLAUDE.md
  CROSS-REFERENCE-MAP.md
  docs/adr/ADR-021-fluent-ui-design-system.md
  docs/adr/INDEX.md
  docs/guides/HOW-TO-INITIATE-NEW-PROJECT.md
  docs/guides/_archived/SPAARKE-SKILLS-PROCEDURE-GUIDE.md
Owners: @spaarke-dev, @docs-team

feat(context): add context persistence for task execution across compaction
  .claude/skills/project-pipeline/SKILL.md
  .claude/skills/project-setup/SKILL.md
  .claude/skills/task-execute/SKILL.md
  .claude/templates/current-task.template.md
  CLAUDE.md
  docs/procedures/context-recovery.md
Owners: @spaarke-dev, @docs-team

docs(context): add developer guide and common scenarios for context recovery
  CLAUDE.md
  docs/procedures/context-recovery.md
Owners: @spaarke-dev, @docs-team

docs(context): clarify current-task.md resets between tasks
  .claude/skills/task-execute/SKILL.md
  docs/procedures/context-recovery.md
Owners: @spaarke-dev, @docs-team

docs(context): add task transition behavior to CLAUDE.md and project-pipeline
  .claude/skills/project-pipeline/SKILL.md
  CLAUDE.md
Owners: @spaarke-dev

feat(skills): add ai-procedure-maintenance skill and explicit context loading
  .claude/commands/ai-procedure-maintenance.md
  .claude/constraints/INDEX.md
  .claude/constraints/testing.md
  .claude/patterns/INDEX.md
  .claude/patterns/api/resilience.md
  .claude/patterns/auth/service-principal.md
  .claude/skills/INDEX.md
  .claude/skills/adr-aware/SKILL.md
  .claude/skills/ai-procedure-maintenance/SKILL.md
  .claude/skills/project-pipeline/SKILL.md
  .claude/skills/script-aware/SKILL.md
  .claude/skills/task-create/SKILL.md
  .claude/skills/task-execute/SKILL.md
  CLAUDE.md
  CROSS-REFERENCE-MAP.md
  docs/CLAUDE.md
  docs/adr/INDEX.md
Owners: @spaarke-dev, @docs-team

feat(skills): add worktree-setup skill for parallel project development
  .claude/commands/worktree-setup.md
  .claude/skills/INDEX.md
  .claude/skills/worktree-setup/SKILL.md
  CLAUDE.md
Owners: @spaarke-dev

fix(skills): enhance worktree-setup with sync master from any location
  .claude/skills/worktree-setup/SKILL.md
Owners: @spaarke-dev

feat(ai-document-intelligence): initialize R2 project (Analysis Workspace UI)
  projects/ai-document-intelligence-r2/CLAUDE.md
  projects/ai-document-intelligence-r2/README.md
  projects/ai-document-intelligence-r2/current-task.md
  projects/ai-document-intelligence-r2/plan.md
  projects/ai-document-intelligence-r2/tasks/001-deploy-analysis-builder-pcf.poml
  projects/ai-document-intelligence-r2/tasks/002-deploy-analysis-workspace-pcf.poml
  projects/ai-document-intelligence-r2/tasks/003-test-pcf-in-harness.poml
  projects/ai-document-intelligence-r2/tasks/004-document-pcf-deployment.poml
  projects/ai-document-intelligence-r2/tasks/010-create-analysis-builder-custom-page.poml
  projects/ai-document-intelligence-r2/tasks/011-create-analysis-workspace-custom-page.poml
  projects/ai-document-intelligence-r2/tasks/012-configure-custom-page-navigation.poml
  projects/ai-document-intelligence-r2/tasks/013-test-sse-streaming.poml
  projects/ai-document-intelligence-r2/tasks/014-test-environment-variables.poml
  projects/ai-document-intelligence-r2/tasks/020-add-analysis-tab-to-document-form.poml
  projects/ai-document-intelligence-r2/tasks/021-add-analysis-subgrid.poml
  projects/ai-document-intelligence-r2/tasks/022-create-navigation-javascript.poml
  projects/ai-document-intelligence-r2/tasks/023-add-new-analysis-ribbon-button.poml
  projects/ai-document-intelligence-r2/tasks/024-test-form-integration-e2e.poml
  projects/ai-document-intelligence-r2/tasks/030-export-ui-solution-unmanaged.poml
  projects/ai-document-intelligence-r2/tasks/031-test-solution-import.poml
  projects/ai-document-intelligence-r2/tasks/032-export-managed-solution.poml
  projects/ai-document-intelligence-r2/tasks/040-create-ui-user-guide.poml
  projects/ai-document-intelligence-r2/tasks/041-update-deployment-guide.poml
  projects/ai-document-intelligence-r2/tasks/090-project-wrap-up.poml
  projects/ai-document-intelligence-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(ai): complete R2 Phase 5 documentation and consolidate AI guides
  docs/guides/AI-DEPLOYMENT-GUIDE.md
  docs/guides/AI-IMPLEMENTATION-STATUS.md
  docs/guides/AI-SUMMARY-QUICK-REF.md
  docs/guides/TROUBLESHOOTING-AI-SUMMARY.md
  docs/guides/ai-troubleshooting.md
  projects/ai-document-intelligence-r2/CODE-INVENTORY.md
  projects/ai-document-intelligence-r2/current-task.md
  projects/ai-document-intelligence-r2/notes/deployment/pcf-deployment.md
  projects/ai-document-intelligence-r2/notes/deployment/phase1-summary.md
  projects/ai-document-intelligence-r2/notes/testing/pcf-harness-test.md
  projects/ai-document-intelligence-r2/tasks/001-deploy-analysis-builder-pcf.poml
  projects/ai-document-intelligence-r2/tasks/002-deploy-analysis-workspace-pcf.poml
  projects/ai-document-intelligence-r2/tasks/003-test-pcf-in-harness.poml
  projects/ai-document-intelligence-r2/tasks/004-document-pcf-deployment.poml
  projects/ai-document-intelligence-r2/tasks/010-create-analysis-builder-custom-page.poml
  projects/ai-document-intelligence-r2/tasks/011-create-analysis-workspace-custom-page.poml
  projects/ai-document-intelligence-r2/tasks/012-configure-custom-page-navigation.poml
  projects/ai-document-intelligence-r2/tasks/013-test-sse-streaming.poml
  projects/ai-document-intelligence-r2/tasks/014-test-environment-variables.poml
  projects/ai-document-intelligence-r2/tasks/020-add-analysis-tab-to-document-form.poml
  projects/ai-document-intelligence-r2/tasks/021-add-analysis-subgrid.poml
  projects/ai-document-intelligence-r2/tasks/022-create-navigation-javascript.poml
  projects/ai-document-intelligence-r2/tasks/023-add-new-analysis-ribbon-button.poml
  projects/ai-document-intelligence-r2/tasks/024-test-form-integration-e2e.poml
  projects/ai-document-intelligence-r2/tasks/040-create-ui-user-guide.poml
  projects/ai-document-intelligence-r2/tasks/041-update-deployment-guide.poml
  projects/ai-document-intelligence-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore: prepare R3 project for implementation
  projects/ai-document-intelligence-r3/CODE-INVENTORY.md
  projects/ai-document-intelligence-r3/current-task.md
Owners: @spaarke-dev

feat(visualization-module): initialize project with task pipeline
  projects/visualization-module/CLAUDE.md
  projects/visualization-module/README.md
  projects/visualization-module/Spaarke_Visuals_Design_Spec_Fluent_v9_v3.md
  projects/visualization-module/current-task.md
  projects/visualization-module/notes/.gitkeep
  projects/visualization-module/notes/debug/.gitkeep
  projects/visualization-module/notes/drafts/.gitkeep
  projects/visualization-module/notes/handoffs/.gitkeep
  projects/visualization-module/notes/spikes/.gitkeep
  projects/visualization-module/plan.md
  projects/visualization-module/spec.md
  projects/visualization-module/tasks/.gitkeep
  projects/visualization-module/tasks/001-define-chartdefinition-entity.poml
  projects/visualization-module/tasks/002-create-shared-types.poml
  projects/visualization-module/tasks/003-scaffold-visualhost-pcf.poml
  projects/visualization-module/tasks/004-configure-storybook.poml
  projects/visualization-module/tasks/005-deploy-entity-dataverse.poml
  projects/visualization-module/tasks/010-implement-metriccard.poml
  projects/visualization-module/tasks/011-implement-barchart.poml
  projects/visualization-module/tasks/012-implement-linechart.poml
  projects/visualization-module/tasks/013-implement-donutchart.poml
  projects/visualization-module/tasks/014-implement-statusbar.poml
  projects/visualization-module/tasks/015-implement-calendar.poml
  projects/visualization-module/tasks/016-implement-minitable.poml
  projects/visualization-module/tasks/017-chart-component-tests.poml
  projects/visualization-module/tasks/020-visualhost-pcf-core.poml
  projects/visualization-module/tasks/021-configuration-loader.poml
  projects/visualization-module/tasks/022-data-aggregation-service.poml
  projects/visualization-module/tasks/023-theme-integration.poml
  projects/visualization-module/tasks/030-drillthrough-custompage.poml
  projects/visualization-module/tasks/031-twopanel-layout.poml
  projects/visualization-module/tasks/032-filter-state-context.poml
  projects/visualization-module/tasks/033-dataset-grid-filtering.poml
  projects/visualization-module/tasks/034-deploy-pcf-custompage.poml
  projects/visualization-module/tasks/040-integration-testing.poml
  projects/visualization-module/tasks/041-storybook-documentation.poml
  projects/visualization-module/tasks/090-project-wrap-up.poml
  projects/visualization-module/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(visualization-module): complete task 001 - entity schema definition
  projects/visualization-module/current-task.md
  projects/visualization-module/notes/entity-schema.md
  projects/visualization-module/tasks/001-define-chartdefinition-entity.poml
  projects/visualization-module/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(visualization-module): complete task 002 - shared TypeScript types
  projects/visualization-module/tasks/002-create-shared-types.poml
  projects/visualization-module/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/types/ChartDefinitionTypes.ts
  src/client/shared/Spaarke.UI.Components/src/types/DrillInteractionTypes.ts
  src/client/shared/Spaarke.UI.Components/src/types/index.ts
Owners: @spaarke-dev

feat(pcf): scaffold Visual Host PCF control structure
  projects/visualization-module/tasks/TASK-INDEX.md
  src/client/pcf/VisualHost/.gitignore
  src/client/pcf/VisualHost/VisualHost.pcfproj
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/ErrorBoundary.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/control/index.ts
  src/client/pcf/VisualHost/control/providers/ThemeProvider.ts
  src/client/pcf/VisualHost/control/styles.css
  src/client/pcf/VisualHost/control/types/index.ts
  src/client/pcf/VisualHost/control/utils/logger.ts
  src/client/pcf/VisualHost/package-lock.json
  src/client/pcf/VisualHost/package.json
  src/client/pcf/VisualHost/pcfconfig.json
  src/client/pcf/VisualHost/tsconfig.json
Owners: @spaarke-dev

feat(storybook): configure Storybook for Visual Host PCF
  projects/visualization-module/tasks/TASK-INDEX.md
  src/client/pcf/VisualHost/.storybook/main.ts
  src/client/pcf/VisualHost/.storybook/preview.tsx
  src/client/pcf/VisualHost/control/types/index.ts
  src/client/pcf/VisualHost/package-lock.json
  src/client/pcf/VisualHost/package.json
  src/client/pcf/VisualHost/stories/ChartTemplate.stories.tsx
Owners: @spaarke-dev

feat(email-to-doc): regenerate spec.md with design-to-spec skill
  projects/email-to-document-automation/SPEC.md
  projects/email-to-document-automation/spec.md
Owners: @spaarke-dev

feat(charts): implement MetricCard component
  projects/visualization-module/tasks/TASK-INDEX.md
  src/client/pcf/VisualHost/control/components/MetricCard.tsx
  src/client/pcf/VisualHost/stories/MetricCard.stories.tsx
Owners: @spaarke-dev

feat(charts): implement BarChart component with Fluent charting
  projects/visualization-module/tasks/TASK-INDEX.md
  src/client/pcf/VisualHost/control/components/BarChart.tsx
  src/client/pcf/VisualHost/stories/BarChart.stories.tsx
Owners: @spaarke-dev

feat(charts): implement all remaining chart components
  projects/visualization-module/tasks/TASK-INDEX.md
  src/client/pcf/VisualHost/control/components/CalendarVisual.tsx
  src/client/pcf/VisualHost/control/components/DonutChart.tsx
  src/client/pcf/VisualHost/control/components/LineChart.tsx
  src/client/pcf/VisualHost/control/components/MiniTable.tsx
  src/client/pcf/VisualHost/control/components/StatusDistributionBar.tsx
  src/client/pcf/VisualHost/stories/CalendarVisual.stories.tsx
  src/client/pcf/VisualHost/stories/DonutChart.stories.tsx
  src/client/pcf/VisualHost/stories/LineChart.stories.tsx
  src/client/pcf/VisualHost/stories/MiniTable.stories.tsx
  src/client/pcf/VisualHost/stories/StatusDistributionBar.stories.tsx
Owners: @spaarke-dev

docs(email-to-doc): complete task 001 - document sprk_document email fields
  projects/email-to-document-automation/spec.md
  projects/email-to-document-automation/tasks/001-extend-document-entity.poml
  projects/email-to-document-automation/tasks/TASK-INDEX.md
Owners: @spaarke-dev

test(charts): add unit tests for all chart components
  projects/visualization-module/tasks/TASK-INDEX.md
  src/client/pcf/VisualHost/babel.config.js
  src/client/pcf/VisualHost/control/components/__tests__/BarChart.test.tsx
  src/client/pcf/VisualHost/control/components/__tests__/CalendarVisual.test.tsx
  src/client/pcf/VisualHost/control/components/__tests__/DonutChart.test.tsx
  src/client/pcf/VisualHost/control/components/__tests__/LineChart.test.tsx
  src/client/pcf/VisualHost/control/components/__tests__/MetricCard.test.tsx
  src/client/pcf/VisualHost/control/components/__tests__/MiniTable.test.tsx
  src/client/pcf/VisualHost/control/components/__tests__/StatusDistributionBar.test.tsx
  src/client/pcf/VisualHost/jest.config.js
  src/client/pcf/VisualHost/jest.setup.ts
  src/client/pcf/VisualHost/package-lock.json
  src/client/pcf/VisualHost/package.json
  src/client/pcf/VisualHost/tsconfig.json
Owners: @spaarke-dev

feat(email-to-doc): implement IEmailToEmlConverter service (Task 004)
  projects/email-to-document-automation/spec.md
  projects/email-to-document-automation/tasks/004-implement-email-to-eml-converter.poml
  projects/email-to-document-automation/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Configuration/EmailProcessingOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailToEmlConverter.cs
  src/server/api/Sprk.Bff.Api/Services/Email/IEmailToEmlConverter.cs
Owners: @spaarke-dev

feat(pcf): implement Visual Host PCF core with ChartRenderer
  projects/visualization-module/tasks/TASK-INDEX.md
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/ChartRenderer.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/jest.config.js
  src/client/pcf/VisualHost/stories/ChartRenderer.stories.tsx
  src/client/pcf/VisualHost/tsconfig.json
  src/client/pcf/VisualHost/tsconfig.test.json
Owners: @spaarke-dev

feat(pcf): integrate theme management with high-contrast support
  projects/visualization-module/tasks/TASK-INDEX.md
  src/client/pcf/VisualHost/control/providers/ThemeProvider.ts
  src/client/pcf/VisualHost/control/utils/chartColors.ts
Owners: @spaarke-dev

feat(pcf): add DrillThroughWorkspace PCF control
  projects/visualization-module/current-task.md
  projects/visualization-module/tasks/TASK-INDEX.md
  src/client/pcf/DrillThroughWorkspace/DrillThroughWorkspace.pcfproj
  src/client/pcf/DrillThroughWorkspace/control/ControlManifest.Input.xml
  src/client/pcf/DrillThroughWorkspace/control/components/DrillThroughWorkspaceApp.tsx
  src/client/pcf/DrillThroughWorkspace/control/index.ts
  src/client/pcf/DrillThroughWorkspace/control/utils/logger.ts
  src/client/pcf/DrillThroughWorkspace/package-lock.json
  src/client/pcf/DrillThroughWorkspace/package.json
  src/client/pcf/DrillThroughWorkspace/tsconfig.json
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
Owners: @spaarke-dev
