Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

docs(email-intelligence): competitive analysis — email filing vs iManage/NetDocuments (PDF + HTML source)
  projects/email-communication-intelligence-r1/notes/competitive-analysis-email-filing.html
  projects/email-communication-intelligence-r1/notes/competitive-analysis-email-filing.pdf
Owners: @spaarke-dev

docs(email-intelligence-r2): finalize spec — consistency pass before /project-pipeline
  projects/email-communication-intelligence-r2/spec.md
Owners: @spaarke-dev

fix(agreements-r1): UAT round-3 — depth choice on the review chip (#7) + non-blocking progress with background-continue (#8)
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
  projects/ai-advanced-capabilities-agreements-r1/notes/uat3-execution-notes.md
  src/client/shared/Spaarke.AI.Widgets/src/events/PaneEventTypes.ts
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/NdaReviewProgressModal.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.review-chip-depth-ask.e2e.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/NdaReviewProgressModal.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useAgreementReviewGate.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useNdaReviewRunProgress.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/agreementReviewRouting.ts
  src/solutions/SpaarkeAi/src/components/conversation/useAgreementReviewGate.ts
  src/solutions/SpaarkeAi/src/components/conversation/useNdaReviewRunProgress.ts
  src/solutions/SpaarkeAi/src/components/shell/ReviewCompleteToast.tsx
  src/solutions/SpaarkeAi/src/components/shell/__tests__/ReviewCompleteToast.test.tsx
Owners: @spaarke-dev

docs(agreements-r1): round-3 deploy addendum — code page live at 6ed1fc31, all markers verified
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
Owners: @spaarke-dev

feat(teams-app-r1): Wave 5 — sharing-gate, Teams manifest/package, CI workflow, distribution docs (4 tasks)
  .github/workflows/deploy-teams-app.yml
  projects/teams-app-r1/current-task.md
  projects/teams-app-r1/notes/org-catalog-distribution-and-attestation.md
  projects/teams-app-r1/tasks/043-access-permission-gating.poml
  projects/teams-app-r1/tasks/070-teams-manifest-package.poml
  projects/teams-app-r1/tasks/071-teams-ci-deploy-workflow.poml
  projects/teams-app-r1/tasks/072-org-catalog-attestation.poml
  projects/teams-app-r1/tasks/TASK-INDEX.md
  src/client/external-spa/appPackage/color.png
  src/client/external-spa/appPackage/env.dev.json
  src/client/external-spa/appPackage/manifest.json
  src/client/external-spa/appPackage/outline.png
  src/client/pcf/TrackingFieldTrio/ControlManifest.Input.xml
  src/client/pcf/TrackingFieldTrio/Solution/Controls/sprk_Spaarke.Controls.TrackingFieldTrio/ControlManifest.xml
  src/client/pcf/TrackingFieldTrio/Solution/solution.xml
  src/client/pcf/TrackingFieldTrio/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/AccessGrantModal/AccessGrantModal.tsx
  src/client/shared/Spaarke.UI.Components/src/components/AccessGrantModal/__tests__/AccessGrantModal.gating.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/AccessGrantModal/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/AccessGrantModal/types.ts
Owners: @spaarke-dev, @devops-team

chore(compose-anchor-robustness-r1): project init + scope + NDA fixture
  projects/compose-anchor-robustness-r1/notes/AppligentNDA_Signed.docx
  projects/compose-anchor-robustness-r1/spec.md
Owners: @spaarke-dev

docs(agreements-r1): UAT round-4 items filed (#9-#12)
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
Owners: @spaarke-dev

fix(agreements-r1): UAT round-4 — dispatch survives disconnect, tab-spinner background UX, rerun-full card, toolbar allocation/regroup
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
  projects/ai-advanced-capabilities-agreements-r1/notes/uat4-execution-notes.md
  src/client/shared/Spaarke.AI.Widgets/src/events/PaneEventTypes.ts
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.tsx
  src/server/api/Sprk.Bff.Api/Api/Ai/DispatchSessionEndpoint.cs
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useAgreementReviewGate.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useConsumerChips.surface-launch.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useNdaReviewRunProgress.backgroundRun.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useRerunFullAnalysisCard.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/useAgreementReviewGate.ts
  src/solutions/SpaarkeAi/src/components/conversation/useConsumerChips.tsx
  src/solutions/SpaarkeAi/src/components/conversation/useNdaReviewRunProgress.ts
  src/solutions/SpaarkeAi/src/components/conversation/useRerunFullAnalysisCard.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspaceTabManagerComponent.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspaceTabManagerComponent.reviewSpinner.test.tsx
  tests/integration/contract/Api/Ai/DispatchSessionEndpointContractTests.cs
  tests/integration/contract/Api/Ai/SummarizeSessionEndpointContractTests.cs
Owners: @spaarke-dev

fix(email-r5): UAT round 6 — Messages widget thin scrollbar + Communications→Messages label reconciliation
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/register-workspace-widgets.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/ConversationView.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ConversationWorkspace/subcomponents/ThreadList.tsx
Owners: @spaarke-dev

chore(analysis-hub): register portfolio Issue #728 + pointer block
  projects/ai-advanced-capabilities-analysis-hub-r1/.archived
  projects/ai-advanced-capabilities-analysis-hub-r1/README.md
Owners: @spaarke-dev, @docs-team

docs(agreements-r1): round-4 deploy addendum — BFF + code page live from 5840bd801, verified
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
Owners: @spaarke-dev

docs(email-intelligence-r2): finalize Pillar E as grid-first reconciliation model
  projects/email-communication-intelligence-r2/spec.md
Owners: @spaarke-dev

docs(agreements-r1): UAT round-5 filed — #13 workspace tab persistence + resume (owner clarification of 10b-ii)
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
Owners: @spaarke-dev

feat(agreements-r1): UAT round-5 — workspace Compose-tab persistence + resume across app navigation (#13)
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
  projects/ai-advanced-capabilities-agreements-r1/notes/uat4-execution-notes.md
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspacePane.compose-multi-tab.test.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspacePane.compose-run-restore.test.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/composeRunPersistence.test.ts
  src/solutions/SpaarkeAi/src/components/workspace/composeRunPersistence.ts
Owners: @spaarke-dev

docs(agreements-r1): round-5 deploy addendum — #13 persistence live at f14c2645, verified
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
Owners: @spaarke-dev

fix(agreements-r1): UAT round-1 — save-anchor fix, memo-binding UX, toolbar polish; perf attributed to gpt-5 latency
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeCommentThread.anchoredComments.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeCommentThread.types.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/reviewMemoFormatting.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/reviewMemoFormatting.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/ReviewMemoEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  tests/integration/contract/Api/Ai/ReviewMemoEndpointContractTests.cs
  tests/integration/seam/Compose/ComposePartialApplyRecoverySeamTests.cs
Owners: @spaarke-dev

feat(agreements-r1): UAT round-2 — review-depth selector (070) + review-complete toast (071) + zero-findings completion signal
  projects/ai-advanced-capabilities-agreements-r1/current-task.md
  projects/ai-advanced-capabilities-agreements-r1/notes/070-execution-notes.md
  projects/ai-advanced-capabilities-agreements-r1/notes/071-execution-notes.md
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
  projects/ai-advanced-capabilities-agreements-r1/tasks/070-review-depth-selector.poml
  projects/ai-advanced-capabilities-agreements-r1/tasks/071-review-complete-toast.poml
  projects/ai-advanced-capabilities-agreements-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/CreateAnalysisWizardWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/CreateAnalysisWizardWidget.test.tsx
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionDispatchOrchestrator.cs
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.agreement-review-explicit-door.e2e.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.agreement-review-gate.e2e.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.agreement-review-session-routing.e2e.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.wizard-auto-run.e2e.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/agreementReviewRouting.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/localActionChips.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useAgreementReviewGate.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useConsumerChips.surface-launch.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useNdaReviewAdvisoryCommentsBridge.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/agreementReviewRouting.ts
  src/solutions/SpaarkeAi/src/components/conversation/localActionChips.ts
  src/solutions/SpaarkeAi/src/components/conversation/useAgreementReviewGate.ts
  src/solutions/SpaarkeAi/src/components/conversation/useConsumerChips.tsx
  src/solutions/SpaarkeAi/src/components/conversation/useNdaReviewAdvisoryCommentsBridge.ts
  src/solutions/SpaarkeAi/src/components/shell/ReviewCompleteToast.tsx
  src/solutions/SpaarkeAi/src/components/shell/ThreePaneShell.tsx
  src/solutions/SpaarkeAi/src/components/shell/__tests__/ReviewCompleteToast.test.tsx
  src/solutions/SpaarkeAi/src/components/workspace/composeWidgetData.ts
  tests/integration/seam/Ai/AgreementReviewDepthModelTierSeamTests.cs
  tests/integration/seam/Ai/AgreementReviewKnowledgeScopeSeamTests.cs
Owners: @spaarke-dev

fix(messaging-r3): thread-list 400 — exclude reportcard lookup not on the thread entity
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationThreadReadService.cs
  tests/integration/seam/Communication/CommunicationListThreadsSeamTests.cs
Owners: @spaarke-dev

refactor(messaging-r3): drop redundant open-record toolbar icon (title link covers it)
  src/client/pcf/CommunicationConversationPanel/CommunicationConversationPanel/ControlManifest.Input.xml
  src/client/pcf/CommunicationConversationPanel/CommunicationConversationPanel/index.ts
  src/client/pcf/CommunicationConversationPanel/Solution/Controls/sprk_Spaarke.Controls.CommunicationConversationPanel/ControlManifest.xml
  src/client/pcf/CommunicationConversationPanel/Solution/Controls/sprk_Spaarke.Controls.CommunicationConversationPanel/bundle.js
  src/client/pcf/CommunicationConversationPanel/Solution/solution.xml
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/ConversationView.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/__tests__/ConversationView.titleLink.test.tsx
Owners: @spaarke-dev

checkpoint(messaging-r3): context-handoff — round-8.4 + fixes all merged & live; PCF v1.18.0 awaiting import
  projects/messaging-communication-app-r3/current-task.md
Owners: @spaarke-dev

fix(spaarkeai): enable follow-on cards for a Compose-registered file
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.compose-browse-ingest-ceremony.test.tsx
Owners: @spaarke-dev

docs(agreements-r1): tracker sync — 070/071 ✅ (24/25); round-2 deploy halt state recorded
  projects/ai-advanced-capabilities-agreements-r1/current-task.md
  projects/ai-advanced-capabilities-agreements-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

checkpoint: context-handoff 2026-08-03 — all hub work shipped/merged/deployed; owner UAT + 071 env gate remain
  projects/ai-advanced-capabilities-analysis-hub-r1/current-task.md
Owners: @spaarke-dev

chore(analysis-hub): project close — task 090 wrap-up + /test-diet gate
  projects/ai-advanced-capabilities-analysis-hub-r1/README.md
  projects/ai-advanced-capabilities-analysis-hub-r1/current-task.md
  projects/ai-advanced-capabilities-analysis-hub-r1/notes/lessons-learned.md
  projects/ai-advanced-capabilities-analysis-hub-r1/notes/test-diet-report.md
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/071-deploy-client-code-page-ribbon-forms.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/072-end-to-end-ui-tests.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/090-wrap-up-test-diet-lessons.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore(analysis-hub): write .archived marker — project Completed 2026-08-03
  projects/ai-advanced-capabilities-analysis-hub-r1/.archived
Owners: @spaarke-dev

checkpoint(email-r5): context-handoff — UAT R1–R4 + launchers all shipped, merged (PRs #702–#721), deployed
  projects/email-communication-solution-r5/current-task.md
Owners: @spaarke-dev

feat(email-r5): UAT round 5 — independent scroll, reply/forward thread, inbound thread fix, compose polish
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/EmailWorkspaceWidget.tsx
  src/client/shared/Spaarke.Auth/src/createCodePageAuthInitializer.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailCardList/EmailCardList.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailCardList/EmailCardList.types.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailCardList/__tests__/EmailCardList.test.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailReadingPaneShell/EmailReadingPaneShell.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailReadingPaneShell/EmailReadingPaneShell.types.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailReadingPaneShell/__tests__/EmailReadingPaneShell.test.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailViewSelector/__tests__/useEmailViews.test.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailViewSelector/useEmailViews.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailWorkspace/EmailWorkspace.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailWorkspace/__tests__/EmailWorkspace.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/EmailComposer.reducer.ts
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/EmailComposer.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/EmailComposer.types.ts
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/__tests__/EmailComposer.reducer.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/__tests__/aiSparkle.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/__tests__/modes.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/RichTextEditor/RichTextEditor.tsx
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/SectionPanel.tsx
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingCommunicationProcessor.cs
  src/solutions/EmailPage/src/services/authInit.ts
  src/solutions/LegalWorkspace/src/sections/email.registration.ts
  src/solutions/SpaarkeAi/src/services/authInit.ts
  tests/unit/Sprk.Bff.Api.Tests/Integration/CommunicationIntegrationTests.cs
Owners: @spaarke-dev

docs(agreements-r1): UAT round-3 items filed (#7 chip-path depth gap, #8 blocking progress modal)
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
Owners: @spaarke-dev

fix(agreements-r1): UAT round-3 — depth choice on the review chip (#7) + non-blocking progress with background-continue (#8)
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
  projects/ai-advanced-capabilities-agreements-r1/notes/uat3-execution-notes.md
  src/client/shared/Spaarke.AI.Widgets/src/events/PaneEventTypes.ts
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/NdaReviewProgressModal.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.review-chip-depth-ask.e2e.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/NdaReviewProgressModal.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useAgreementReviewGate.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useNdaReviewRunProgress.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/agreementReviewRouting.ts
  src/solutions/SpaarkeAi/src/components/conversation/useAgreementReviewGate.ts
  src/solutions/SpaarkeAi/src/components/conversation/useNdaReviewRunProgress.ts
  src/solutions/SpaarkeAi/src/components/shell/ReviewCompleteToast.tsx
  src/solutions/SpaarkeAi/src/components/shell/__tests__/ReviewCompleteToast.test.tsx
Owners: @spaarke-dev

docs(email-intelligence): competitive analysis — email filing vs iManage/NetDocuments (PDF + HTML source)
  projects/email-communication-intelligence-r1/notes/competitive-analysis-email-filing.html
  projects/email-communication-intelligence-r1/notes/competitive-analysis-email-filing.pdf
Owners: @spaarke-dev

docs(agreements-r1): round-3 deploy addendum — code page live at 6ed1fc31, all markers verified
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
Owners: @spaarke-dev

docs(agreements-r1): UAT round-4 items filed (#9-#12)
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
Owners: @spaarke-dev

fix(agreements-r1): UAT round-4 — dispatch survives disconnect, tab-spinner background UX, rerun-full card, toolbar allocation/regroup
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
  projects/ai-advanced-capabilities-agreements-r1/notes/uat4-execution-notes.md
  src/client/shared/Spaarke.AI.Widgets/src/events/PaneEventTypes.ts
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.tsx
  src/server/api/Sprk.Bff.Api/Api/Ai/DispatchSessionEndpoint.cs
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useAgreementReviewGate.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useConsumerChips.surface-launch.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useNdaReviewRunProgress.backgroundRun.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useRerunFullAnalysisCard.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/useAgreementReviewGate.ts
  src/solutions/SpaarkeAi/src/components/conversation/useConsumerChips.tsx
  src/solutions/SpaarkeAi/src/components/conversation/useNdaReviewRunProgress.ts
  src/solutions/SpaarkeAi/src/components/conversation/useRerunFullAnalysisCard.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspaceTabManagerComponent.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspaceTabManagerComponent.reviewSpinner.test.tsx
  tests/integration/contract/Api/Ai/DispatchSessionEndpointContractTests.cs
  tests/integration/contract/Api/Ai/SummarizeSessionEndpointContractTests.cs
Owners: @spaarke-dev

docs(agreements-r1): round-4 deploy addendum — BFF + code page live from 5840bd801, verified
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
Owners: @spaarke-dev

fix(email-r5): UAT round 6 — Messages widget thin scrollbar + Communications→Messages label reconciliation
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/register-workspace-widgets.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/ConversationView.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ConversationWorkspace/subcomponents/ThreadList.tsx
Owners: @spaarke-dev

chore(analysis-hub): register portfolio Issue #728 + pointer block
  projects/ai-advanced-capabilities-analysis-hub-r1/.archived
  projects/ai-advanced-capabilities-analysis-hub-r1/README.md
Owners: @spaarke-dev, @docs-team

docs(agreements-r1): UAT round-5 filed — #13 workspace tab persistence + resume (owner clarification of 10b-ii)
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
Owners: @spaarke-dev

feat(agreements-r1): UAT round-5 — workspace Compose-tab persistence + resume across app navigation (#13)
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
  projects/ai-advanced-capabilities-agreements-r1/notes/uat4-execution-notes.md
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspacePane.compose-multi-tab.test.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspacePane.compose-run-restore.test.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/composeRunPersistence.test.ts
  src/solutions/SpaarkeAi/src/components/workspace/composeRunPersistence.ts
Owners: @spaarke-dev

docs(agreements-r1): round-5 deploy addendum — #13 persistence live at f14c2645, verified
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
Owners: @spaarke-dev

feat(modal-system): briefing share = prefilled canonical composer with per-item record links (owner UAT 2026-08-04)
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/DailyBriefingApp.tsx
Owners: @spaarke-dev
