Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

fix(pcf): RecordHeader v1.1.1 — metadata never reached the resolver; layoutJson -> Multiple
  .claude/FAILURE-MODES.md
  projects/record-header-and-notepad-r2/notes/decisions/001-layoutjson-of-type.md
  projects/record-header-and-notepad-r2/notes/decisions/033-def1-metadata-never-reached-resolver.md
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/ControlManifest.xml
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/bundle.js
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/styles.css
  src/client/pcf/RecordHeader/Solution/pack.ps1
  src/client/pcf/RecordHeader/Solution/solution.xml
  src/client/pcf/RecordHeader/__tests__/RecordHeaderView.test.tsx
  src/client/pcf/RecordHeader/control/ControlManifest.Input.xml
  src/client/pcf/RecordHeader/control/RecordHeaderView.tsx
  src/client/pcf/RecordHeader/control/useHeaderFormMetadata.ts
  src/client/pcf/RecordHeader/control/version.ts
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/__tests__/configResolution.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/configResolution.ts
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/index.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/__tests__/useRecordFieldValues.test.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useRecordFieldValues.ts
  src/client/shared/Spaarke.UI.Components/src/services/IDataverseClient.ts
  src/client/shared/Spaarke.UI.Components/src/services/XrmDataverseClient.ts
  src/client/shared/Spaarke.UI.Components/src/services/__tests__/XrmDataverseClient.metadataShape.test.ts
  src/client/shared/Spaarke.UI.Components/src/services/__tests__/XrmDataverseClient.test.ts
Owners: @spaarke-dev

fix(spe-admin): the four layout gaps and the stringified permission scopes
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/solutions/SpeAdminApp/src/components/audit/AuditLogPage.tsx
  src/solutions/SpeAdminApp/src/components/dashboard/DashboardPage.tsx
  src/solutions/SpeAdminApp/src/components/search/SearchPage.tsx
  src/solutions/SpeAdminApp/src/components/security/SecurityPage.tsx
Owners: @spaarke-dev

feat(uac-r2 080): restore cross-record search by authorizing the PAGE, not the corpus
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/task-080-cross-record-search.md
  src/client/code-pages/SemanticSearch/src/__tests__/hooks/useSemanticSearch.test.ts
  src/client/code-pages/SemanticSearch/src/hooks/useSemanticSearch.ts
  src/client/code-pages/SemanticSearch/src/services/targetEntityNormalize.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/SemanticSearchEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/SemanticSearchAuthorizationFilter.cs
  tests/integration/Spe.Integration.Tests/SemanticSearch/SemanticSearchAuthorizationTests.cs
  tests/integration/Spe.Integration.Tests/SemanticSearch/SemanticSearchIntegrationTests.cs
Owners: @spaarke-dev

fix(pcf): revert granular Fluent externals — they crash at runtime (React #31)
  projects/record-header-and-notepad-r2/notes/decisions/033-nfr02-externals-runtime-failure.md
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/ControlManifest.xml
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/bundle.js
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/styles.css
  src/client/pcf/RecordHeader/Solution/pack.ps1
  src/client/pcf/RecordHeader/Solution/solution.xml
  src/client/pcf/RecordHeader/control/ControlManifest.Input.xml
  src/client/pcf/RecordHeader/control/version.ts
  src/client/pcf/RecordHeader/webpack.config.js
Owners: @spaarke-dev

feat(spe-admin): fold File Browser into Containers; Settings becomes Environments
  src/solutions/SpeAdminApp/src/components/containers/ContainersPage.tsx
  src/solutions/SpeAdminApp/src/components/layout/AppShell.tsx
Owners: @spaarke-dev

checkpoint(spe-admin): UAT rounds 1-5 remediation — app functional, 7 fixes deployed
  projects/sdap-SPE-admin-app-r2/current-task.md
Owners: @spaarke-dev

checkpoint: handoff for record-header-and-notepad-r2 — 033 in UAT, DateField option-B in flight
  projects/record-header-and-notepad-r2/current-task.md
Owners: @spaarke-dev

fix(uac-r2): resolve PR #825 CI — census reconciled, auth-smoke glob fixed, task 081 filed
  .github/workflows/ci-tier1-blocking.yml
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/tasks/081-scope-tenant-container-resolver-diagnostic.poml
  tests/Spaarke.ArchTests/RouteAuthorizationGuardTests.cs
Owners: @spaarke-dev, @devops-team

checkpoint: SESSION 11 END — task 205 fully complete + owner Q&A locked + prerequisite wave prep
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

fix(ui): DateField edits via Fluent Input date mode — NFR-02 resolved (99 KB)
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/ControlManifest.xml
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/bundle.js
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/styles.css
  src/client/pcf/RecordHeader/Solution/pack.ps1
  src/client/pcf/RecordHeader/Solution/solution.xml
  src/client/pcf/RecordHeader/control/ControlManifest.Input.xml
  src/client/pcf/RecordHeader/control/RecordHeaderHost.tsx
  src/client/pcf/RecordHeader/control/version.ts
  src/client/shared/Spaarke.UI.Components/package-lock.json
  src/client/shared/Spaarke.UI.Components/package.json
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/__tests__/DateField.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/__tests__/rendererContract.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/fields/DateField.tsx
Owners: @spaarke-dev

checkpoint: NFR-02 resolved at 99 KB; RecordHeader v1.1.3 ready for re-UAT
  projects/record-header-and-notepad-r2/current-task.md
Owners: @spaarke-dev

feat(security): task 059 — a request can no longer name its own tenant
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/059-tenant-header-decisions.md
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  scripts/Test-SessionRestoreLatency.ps1
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/AnalysisChatContextEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/AnalysisEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatDocumentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatWordExportEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/KnowledgeBaseEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/ReviewMemoEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/StandaloneChatContextEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/VisualizationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/ComposeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Insights/PrecedentAdminEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Authentication/TenantResolution.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CorsModule.cs
  tests/integration/contract/Api/Compose/ComposeActiveDocumentContractTests.cs
  tests/integration/contract/Api/Compose/ComposeEndpointsContractTests.cs
  tests/integration/tenant/Ai/TenantSelectionByRequestTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/AnalysisChatContextEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/ChatRefineEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/StandaloneChatContextEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/Workspace/WorkspaceTestFixture.cs
Owners: @spaarke-dev, @devops-team

docs(059): precise site count — 21 resolution sites across 20 distinct handlers
  projects/spaarkeai-compose-r8/notes/059-tenant-header-decisions.md
Owners: @spaarke-dev

chore(uac-r2): resolve a task-number collision I created, and reconcile TASK-INDEX drift
  projects/unified-access-control-r2/tasks/086-access-event-log-schema.poml
  projects/unified-access-control-r2/tasks/087-access-event-append-hooks.poml
  projects/unified-access-control-r2/tasks/088-evaluator-versioning-and-replay.poml
  projects/unified-access-control-r2/tasks/089-attestation-seam-tests-and-docs.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(spe-admin): configs move, single-select, master-detail, folder links
  src/solutions/SpeAdminApp/src/App.tsx
  src/solutions/SpeAdminApp/src/components/container-types/ContainerTypeDetail.tsx
  src/solutions/SpeAdminApp/src/components/container-types/ContainerTypesPage.tsx
  src/solutions/SpeAdminApp/src/components/containers/ContainerDetail.tsx
  src/solutions/SpeAdminApp/src/components/containers/ContainersPage.tsx
  src/solutions/SpeAdminApp/src/components/dashboard/DashboardPage.tsx
  src/solutions/SpeAdminApp/src/components/files/FileBrowserPage.tsx
  src/solutions/SpeAdminApp/src/components/settings/SettingsPage.tsx
Owners: @spaarke-dev

docs(spe-admin): correct ContainerTypeConfig host comment after configs move
  src/solutions/SpeAdminApp/src/components/settings/ContainerTypeConfig.tsx
Owners: @spaarke-dev

feat(compose): task 058 — nested/conditional fields carried verbatim, not reconstructed
  docs/architecture/COMPOSE-WRITE-RESIDUAL-LOSS.md
  projects/spaarkeai-compose-r8/notes/058-nested-field-carry.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeBlockMerge.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeContentModel.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocumentRenderer.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjectionBuilder.cs
  tests/fixtures/compose-corpus/corpus-manifest.md
  tests/fixtures/compose-corpus/generators/make-nested-merge-fields.py
  tests/fixtures/compose-corpus/nested-merge-fields.docx
  tests/integration/seam/Compose/ComposeFieldCarrySeamTests.cs
  tests/integration/seam/Compose/ComposeResidualLossParityTests.cs
Owners: @spaarke-dev, @docs-team

docs(058): correct the fixture-reproducibility claim + record the mid-run hazard
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  tests/fixtures/compose-corpus/corpus-manifest.md
Owners: @spaarke-dev

feat(uac-r2 077): authorize POST /api/ai/search/records per row; 081 filed + BLOCKED
  projects/unified-access-control-r2/notes/task-077-authorize-record-search.md
  projects/unified-access-control-r2/notes/task-081-tenant-diagnostic-BLOCKED.md
  projects/unified-access-control-r2/tasks/077-authorize-record-search.poml
  projects/unified-access-control-r2/tasks/081-scope-tenant-container-resolver-diagnostic.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/RecordSearchEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/SemanticSearchEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/RecordSearchAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/SemanticSearchAuthorizationFilter.cs
  tests/Spaarke.ArchTests/RouteAuthorizationGuardTests.cs
  tests/integration/Spe.Integration.Tests/SemanticSearch/RecordSearchIntegrationTests.cs
Owners: @spaarke-dev

feat(provisioning): SESSION 12 prerequisite wave — I4 REPLACE + 204b/c/d results
  projects/customer-provisioning-orchestration-r1/design.md
  projects/customer-provisioning-orchestration-r1/notes/task-202-punch-list.md
  projects/customer-provisioning-orchestration-r1/notes/task-204d-path-decision.md
  projects/customer-provisioning-orchestration-r1/spec.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/E2EAcceptanceModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/SpeContainerResolverInvariantProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/SpeContainerTenantDerivationInvariantProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Dispatch/ApiHostShadowWorkerGuardTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/E2EAcceptance/E2EAcceptanceCompositionRootTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/SpeContainerTenantDerivationInvariantProbeTests.cs
Owners: @spaarke-dev

feat(provisioning): task 203c SKILL.md wiring — A02/A03/A04 applied + A15/A16 confirmed already-done
  .claude/skills/provision-environment/SKILL.md
  projects/customer-provisioning-orchestration-r1/notes/task-202-punch-list.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  scripts/provisioning-prereqs/intake.schema.json
Owners: @spaarke-dev, @devops-team

checkpoint: SESSION 12 END — prerequisite wave complete + task 186 essentially unblocked pending A26
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

docs(058): owner sign-off — deleted-construct restore follows the established pattern
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

checkpoint(uac-r2): context-handoff — 077+080 done, 081 decision recorded (option B + placement condition)
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

feat(record-header): sparkle wired to sprk_recordsummary, existence-gated (v1.1.4)
  projects/record-header-and-notepad-r2/notes/decisions/034-sparkle-existence-gate.md
  projects/record-header-and-notepad-r2/notes/issues/ISSUE-recordheader-integration-test-stale.md
  projects/record-header-and-notepad-r2/tasks/034-sparkle-recordsummary-wiring.poml
  projects/record-header-and-notepad-r2/tasks/TASK-INDEX.md
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/ControlManifest.xml
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/bundle.js
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/styles.css
  src/client/pcf/RecordHeader/Solution/pack.ps1
  src/client/pcf/RecordHeader/Solution/solution.xml
  src/client/pcf/RecordHeader/__tests__/RecordHeaderView.test.tsx
  src/client/pcf/RecordHeader/control/ControlManifest.Input.xml
  src/client/pcf/RecordHeader/control/RecordHeaderView.tsx
  src/client/pcf/RecordHeader/control/useHeaderFormMetadata.ts
  src/client/pcf/RecordHeader/control/version.ts
  src/client/shared/Spaarke.UI.Components/src/__tests__/recordHeader.integration.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/AiSummaryPopover/AiSummaryPopover.tsx
  src/client/shared/Spaarke.UI.Components/src/components/AiSummaryPopover/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/HeaderToolbar/HeaderToolbar.tsx
  src/client/shared/Spaarke.UI.Components/src/components/HeaderToolbar/types.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/index.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/toolbarLaunchDefaults.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useRecordHeaderToolbarActions.ts
Owners: @spaarke-dev

docs(track-d): reframe 070-074 criteria — the LOC ratchet they cite was retired
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
Owners: @spaarke-dev

checkpoint: task 034 complete — Phase 3 done, v1.1.4 ready for UAT
  projects/record-header-and-notepad-r2/current-task.md
Owners: @spaarke-dev

docs(provisioning): A26 queue-recreate ceremony executed 2026-08-26 SESSION 12
  projects/customer-provisioning-orchestration-r1/notes/task-202-punch-list.md
Owners: @spaarke-dev

fix(spe-admin): folders typed as files, second permissions ToString, upload, resizable UI
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/solutions/SpeAdminApp/src/App.tsx
  src/solutions/SpeAdminApp/src/components/container-types/ContainerTypeDetail.tsx
  src/solutions/SpeAdminApp/src/components/container-types/ContainerTypesPage.tsx
  src/solutions/SpeAdminApp/src/components/containers/ContainerDetail.tsx
  src/solutions/SpeAdminApp/src/components/containers/ContainersPage.tsx
  src/solutions/SpeAdminApp/src/components/files/FileBrowserPage.tsx
  src/solutions/SpeAdminApp/src/components/layout/BuContextPicker.tsx
  src/solutions/SpeAdminApp/src/components/layout/ResizablePane.tsx
  src/solutions/SpeAdminApp/src/services/speApiClient.ts
Owners: @spaarke-dev

docs(074): CLOSED as do-not-delete — confirmation disproved subsumption
  projects/spaarkeai-compose-r8/notes/patch-engine-retirement.md
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(uac-r2): rewrite task 081 to option B (classify the caller) + correct two false handoff facts
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/task-081-tenant-diagnostic-BLOCKED.md
  projects/unified-access-control-r2/tasks/081-scope-tenant-container-resolver-diagnostic.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(spe-admin): download/delete argument swap, column overlap, thin scrollbars
  docs/standards/UI-SCROLLBARS.md
  src/solutions/SpeAdminApp/src/App.tsx
  src/solutions/SpeAdminApp/src/components/container-types/ContainerTypesPage.tsx
  src/solutions/SpeAdminApp/src/components/containers/ContainersPage.tsx
  src/solutions/SpeAdminApp/src/components/files/FileBrowserPage.tsx
  src/solutions/SpeAdminApp/src/components/layout/BuContextPicker.tsx
  src/solutions/SpeAdminApp/src/components/layout/gridStyles.ts
  src/solutions/SpeAdminApp/src/components/layout/scrollbarStyles.ts
Owners: @spaarke-dev, @docs-team

fix(record-header): UAT round 2 — DateOnly, lookup targets, boolean toggle (v1.1.5)
  projects/record-header-and-notepad-r2/notes/layoutjson-reference.md
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/ControlManifest.xml
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/bundle.js
  src/client/pcf/RecordHeader/Solution/pack.ps1
  src/client/pcf/RecordHeader/Solution/solution.xml
  src/client/pcf/RecordHeader/__tests__/RecordHeaderView.test.tsx
  src/client/pcf/RecordHeader/control/ControlManifest.Input.xml
  src/client/pcf/RecordHeader/control/useHeaderFormMetadata.ts
  src/client/pcf/RecordHeader/control/version.ts
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/__tests__/BooleanField.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/__tests__/rendererContract.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordHeader/fields/BooleanField.tsx
Owners: @spaarke-dev

refactor(compose): task 073 — decompose ComposeEndpoints by responsibility
  projects/spaarkeai-compose-r8/notes/073-endpoint-decomposition.md
  src/server/api/Sprk.Bff.Api/Api/ComposeActiveDocumentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/ComposeAnnotationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/ComposeCheckoutEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/ComposeDocumentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/ComposeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/ComposeMountEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/ComposeSaveEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/ComposeSyncEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/ComposeTemplateEndpoints.cs
  tests/integration/contract/Api/Compose/ComposeRouteSurfaceContractTests.cs
Owners: @spaarke-dev

feat(provisioning): OpenAI region gap fix — bundle (customer.bicep split + PRQ-E-14 preflight + openai.bicep pin bump + intake schema + classifier tighten)
  .claude/skills/provision-environment/SKILL.md
  infrastructure/bicep/customer.bicep
  infrastructure/bicep/modules/openai.bicep
  projects/customer-provisioning-orchestration-r1/notes/bicep-whatif-trial1-2026-08-26.md
  scripts/provisioning-prereqs/intake.schema.json
  scripts/provisioning-prereqs/prereqs.yaml
Owners: @spaarke-dev, @devops-team

checkpoint: SESSION 12.5 addendum — OpenAI region gap fix bundle landed + gpt-5 follow-on filed
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

docs(073): mark complete — decomposition by responsibility, dual-oracle proof
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
Owners: @spaarke-dev

checkpoint: SESSION 12 FINAL — context-handoff before user starts fresh session
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

feat(uac-r2): 072 — gate share-link on Share, bound the expiry, stop defaulting to anonymous
  projects/unified-access-control-r2/notes/task-072-gate-share-link.md
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/createXrmEmailComposeHandlers.ts
  src/server/api/Sprk.Bff.Api/Api/FileAccessEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/DocumentAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Configuration/ShareLinkOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ConfigurationModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/DocumentsModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeFileStore.cs
  src/server/api/Sprk.Bff.Api/Models/FileOperationModels.cs
  src/server/shared/Spaarke.Core/Auth/OperationAccessPolicy.cs
  tests/Spaarke.ArchTests/RouteAuthorizationGuardTests.cs
  tests/integration/auth/UnifiedAccessControl/ShareLinkAuthorizationTests.cs
Owners: @spaarke-dev

chore(uac-r2): mark task 072 complete + index/handoff update
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/tasks/072-gate-share-link.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
