Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(design): add dark mode theme R2 design — unify theme utilities
  projects/spaarke-mda-darkmode-theme-r2/design.md
Owners: @spaarke-dev

docs(design): expand dark mode R2 with full component inventory and theme protocol
  projects/spaarke-mda-darkmode-theme-r2/design.md
Owners: @spaarke-dev

docs(design): add Dataverse theme persistence and ribbon deployment to dark mode R2
  projects/spaarke-mda-darkmode-theme-r2/design.md
Owners: @spaarke-dev

feat(design): add AI spec for dark mode theme R2
  projects/spaarke-mda-darkmode-theme-r2/spec.md
Owners: @spaarke-dev

feat(theme): initialize dark mode R2 project — 21 tasks across 5 phases
  projects/spaarke-mda-darkmode-theme-r2/CLAUDE.md
  projects/spaarke-mda-darkmode-theme-r2/README.md
  projects/spaarke-mda-darkmode-theme-r2/current-task.md
  projects/spaarke-mda-darkmode-theme-r2/plan.md
  projects/spaarke-mda-darkmode-theme-r2/tasks/001-consolidate-theme-utilities.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/002-update-barrel-exports.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/003-update-unit-tests.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/010-update-codepage-themeproviders.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/011-update-codepage-entry-points.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/012-delete-duplicate-hooks.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/014-replace-pcf-inline-theme.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/016-remove-pcf-os-listeners.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/017-fix-legalworkspace-theme-hook.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/018-remove-thememenu-os-listener.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/019-verify-remaining-pcf.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/020-add-ribbon-missing-entities.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/021-add-form-ribbon-existing.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/022-update-auto-label.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/030-add-dataverse-preference-type.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/031-add-dataverse-sync-functions.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/032-wire-dataverse-sync.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/040-create-theme-protocol.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/041-integration-testing.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/042-deploy-to-dev.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/090-project-wrap-up.poml
  projects/spaarke-mda-darkmode-theme-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(design): add Daily Update service design — personalized activity digest
  projects/spaarke-daily-update-service/design.md
Owners: @spaarke-dev

fix(theme): correct PREFERENCE_TYPE_THEME to 100000003
  src/client/shared/Spaarke.UI.Components/src/utils/themeStorage.ts
  src/client/webresources/js/sprk_ThemeMenu.js
Owners: @spaarke-dev

fix(theme): persist theme changes from LegalWorkspace ThemeToggle to Dataverse
  src/solutions/LegalWorkspace/src/LegalWorkspaceApp.tsx
Owners: @spaarke-dev

fix(wizard): add post-build rename to sprk_workspacelayoutwizard.html
  src/solutions/WorkspaceLayoutWizard/package.json
Owners: @spaarke-dev

refactor(workspace): move workspace selector to PageHeader, gear to toolbar
  src/solutions/LegalWorkspace/src/App.tsx
  src/solutions/LegalWorkspace/src/components/Shell/PageHeader.tsx
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
Owners: @spaarke-dev

fix(workspace): match Power Apps view selector font (20px Segoe UI)
  src/solutions/LegalWorkspace/src/components/Shell/PageHeader.tsx
Owners: @spaarke-dev

fix(workspace): eliminate header flash, always render dropdown
  src/solutions/LegalWorkspace/src/components/Shell/PageHeader.tsx
Owners: @spaarke-dev

refactor(wizard): use shared WizardShell with left sidebar stepper
  src/solutions/WorkspaceLayoutWizard/src/App.tsx
Owners: @spaarke-dev

fix(wizard): remove duplicate title, fix Cancel close in Dataverse dialog
  src/solutions/WorkspaceLayoutWizard/src/App.tsx
Owners: @spaarke-dev

fix(workspace): target Dropdown internal button for 20px font override
  src/solutions/LegalWorkspace/src/components/Shell/PageHeader.tsx
Owners: @spaarke-dev

fix(workspace): remove underline from workspace selector dropdown
  src/solutions/LegalWorkspace/src/components/Shell/PageHeader.tsx
Owners: @spaarke-dev

refactor(theme): move ThemeToggle + useTheme to shared library
  src/client/shared/Spaarke.UI.Components/src/components/ThemeToggle/ThemeToggle.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ThemeToggle/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/index.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useTheme.ts
  src/solutions/LegalWorkspace/src/LegalWorkspaceApp.tsx
  src/solutions/LegalWorkspace/src/components/Shell/PageHeader.tsx
  src/solutions/LegalWorkspace/src/hooks/useTheme.ts
Owners: @spaarke-dev

feat(design): rewrite Daily Update as playbook-driven notification system
  projects/spaarke-daily-update-service/design.md
Owners: @spaarke-dev

feat(design): resolve 7 open design questions for Daily Update service
  projects/spaarke-daily-update-service/design.md
Owners: @spaarke-dev

fix(wizard): hide WizardShell title bar in Dataverse dialog
  src/solutions/WorkspaceLayoutWizard/src/App.tsx
Owners: @spaarke-dev

feat(design): add AI spec for Daily Update notification service
  projects/spaarke-daily-update-service/spec.md
Owners: @spaarke-dev

feat(theme): ThemeToggle triggers full MDA reload for consistent dark mode
  src/client/shared/Spaarke.UI.Components/src/hooks/useTheme.ts
  src/client/shared/Spaarke.UI.Components/src/utils/themeStorage.ts
Owners: @spaarke-dev

feat(design): add AI procedure refactoring R1 — drift-proof context architecture
  projects/ai-procedure-refactoring-r1/design.md
  projects/ai-procedure-refactoring-r1/spec.md
Owners: @spaarke-dev

fix(workspace): include columns in saved layout JSON, guard countSlots
  src/solutions/LegalWorkspace/src/workspace/buildDynamicWorkspaceConfig.ts
  src/solutions/WorkspaceLayoutWizard/src/App.tsx
Owners: @spaarke-dev

feat(docs): initialize AI procedure refactoring R1 — 20 tasks across 5 phases
  projects/ai-procedure-refactoring-r1/CLAUDE.md
  projects/ai-procedure-refactoring-r1/README.md
  projects/ai-procedure-refactoring-r1/current-task.md
  projects/ai-procedure-refactoring-r1/plan.md
  projects/ai-procedure-refactoring-r1/tasks/001-convert-api-patterns.poml
  projects/ai-procedure-refactoring-r1/tasks/002-convert-auth-patterns.poml
  projects/ai-procedure-refactoring-r1/tasks/003-convert-caching-patterns.poml
  projects/ai-procedure-refactoring-r1/tasks/004-convert-dataverse-patterns.poml
  projects/ai-procedure-refactoring-r1/tasks/005-convert-pcf-patterns.poml
  projects/ai-procedure-refactoring-r1/tasks/006-convert-ai-patterns.poml
  projects/ai-procedure-refactoring-r1/tasks/007-convert-testing-patterns.poml
  projects/ai-procedure-refactoring-r1/tasks/008-convert-webresource-ui-patterns.poml
  projects/ai-procedure-refactoring-r1/tasks/009-update-patterns-index.poml
  projects/ai-procedure-refactoring-r1/tasks/010-audit-architecture-docs.poml
  projects/ai-procedure-refactoring-r1/tasks/011-trim-ai-architecture-docs.poml
  projects/ai-procedure-refactoring-r1/tasks/012-trim-bff-api-architecture-docs.poml
  projects/ai-procedure-refactoring-r1/tasks/013-trim-ui-frontend-architecture-docs.poml
  projects/ai-procedure-refactoring-r1/tasks/014-trim-infrastructure-architecture-docs.poml
  projects/ai-procedure-refactoring-r1/tasks/015-trim-reference-architecture-docs.poml
  projects/ai-procedure-refactoring-r1/tasks/020-consolidate-playbook-guides.poml
  projects/ai-procedure-refactoring-r1/tasks/021-cleanup-redirect-stubs.poml
  projects/ai-procedure-refactoring-r1/tasks/022-audit-remaining-guides.poml
  projects/ai-procedure-refactoring-r1/tasks/030-update-claude-md-discovery.poml
  projects/ai-procedure-refactoring-r1/tasks/090-project-wrap-up.poml
  projects/ai-procedure-refactoring-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(workspace): set minHeight on Documents section to prevent collapse
  src/solutions/LegalWorkspace/src/sections/documents.registration.ts
Owners: @spaarke-dev

feat(design): add Power BI Embedded analytics R1 design
  projects/spaarke-powerbi-embedded-r1/design.md
Owners: @spaarke-dev

fix(workspace): add defaultHeight to all section registrations
  src/solutions/LegalWorkspace/src/sections/documents.registration.ts
  src/solutions/LegalWorkspace/src/sections/getStarted.registration.ts
  src/solutions/LegalWorkspace/src/sections/quickSummary.registration.ts
Owners: @spaarke-dev

refactor(workspace): wire defaultHeight through config builder
  src/solutions/LegalWorkspace/src/sections/documents.registration.ts
  src/solutions/LegalWorkspace/src/sections/getStarted.registration.ts
  src/solutions/LegalWorkspace/src/sections/latestUpdates.registration.ts
  src/solutions/LegalWorkspace/src/sections/quickSummary.registration.ts
  src/solutions/LegalWorkspace/src/sections/todo.registration.ts
  src/solutions/LegalWorkspace/src/workspace/buildDynamicWorkspaceConfig.ts
Owners: @spaarke-dev

feat(design): rewrite PBI Embedded as Reporting module with Import mode
  projects/spaarke-powerbi-embedded-r1/design.md
Owners: @spaarke-dev

feat(design): add AI spec for Power BI Embedded Reporting R1
  projects/spaarke-powerbi-embedded-r1/spec.md
Owners: @spaarke-dev

feat(reporting): initialize PBI Embedded Reporting R1 project artifacts
  projects/spaarke-powerbi-embedded-r1/CLAUDE.md
  projects/spaarke-powerbi-embedded-r1/README.md
  projects/spaarke-powerbi-embedded-r1/current-task.md
Owners: @spaarke-dev, @docs-team

feat(workspace): add delete workspace from dropdown and wizard footer
  src/client/shared/Spaarke.UI.Components/src/components/Wizard/WizardShell.tsx
  src/client/shared/Spaarke.UI.Components/src/components/Wizard/wizardShellTypes.ts
  src/solutions/LegalWorkspace/src/App.tsx
  src/solutions/LegalWorkspace/src/components/Shell/PageHeader.tsx
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
  src/solutions/LegalWorkspace/src/components/WorkspaceHeader/WorkspaceHeader.tsx
  src/solutions/WorkspaceLayoutWizard/src/App.tsx
Owners: @spaarke-dev

test(daily-update): add 25 scheduler unit tests and fix broken test files
  projects/spaarke-daily-update-service/tasks/015-unit-tests-scheduler-inline.poml
  projects/spaarke-daily-update-service/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/Api/ExternalAccess/ExternalAccessEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/PlaybookSchedulerServiceTests.cs
Owners: @spaarke-dev

fix(playbooks): convert NP-004 and NP-005 to standard Deploy-Playbook format
  projects/spaarke-daily-update-service/notes/playbooks/notification-new-emails.json
  projects/spaarke-daily-update-service/notes/playbooks/notification-new-events.json
Owners: @spaarke-dev

feat(deploy): add notification playbook deployment support
  scripts/Deploy-NotificationPlaybooks.ps1
  scripts/Deploy-Playbook.ps1
Owners: @spaarke-dev, @devops-team

fix(playbooks): convert NP-004 and NP-005 to standard Deploy-Playbook format
  src/client/code-pages/PlaybookBuilder/package-lock.json
  src/client/code-pages/PlaybookBuilder/package.json
Owners: @spaarke-dev

fix(skills): align skill instructions with pointer-based pattern architecture
  .claude/skills/SKILL-INTERACTION-GUIDE.md
  .claude/skills/adr-aware/SKILL.md
  .claude/skills/ai-procedure-maintenance/SKILL.md
  .claude/skills/code-review/SKILL.md
  .claude/skills/design-to-spec/SKILL.md
  .claude/skills/project-pipeline/SKILL.md
  .claude/skills/project-setup/SKILL.md
  .claude/skills/repo-cleanup/SKILL.md
  .claude/skills/spaarke-conventions/SKILL.md
  .claude/skills/task-create/SKILL.md
  .claude/skills/task-execute/SKILL.md
Owners: @spaarke-dev

fix(skills): fix remaining stale paths — docs/reference/, PCF-V9-PACKAGING, AZURE-DEPLOYMENT-GUIDE
  .claude/skills/adr-check/SKILL.md
  .claude/skills/adr-check/references/adr-validation-rules.md
  .claude/skills/azure-deploy/SKILL.md
  .claude/skills/code-review/references/review-checklist.md
  .claude/skills/jps-playbook-design/SKILL.md
  .claude/skills/project-pipeline/SKILL.md
  .claude/skills/repo-cleanup/SKILL.md
  .claude/skills/ribbon-edit/SKILL.md
  .claude/skills/task-create/SKILL.md
  .claude/skills/task-execute/SKILL.md
Owners: @spaarke-dev

fix(workspace): add missing authenticatedFetch import for delete handler
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
Owners: @spaarke-dev
