Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

checkpoint(compose-r7): task 013 analysis + plan (FR-07d server atomic upsert)
  projects/spaarkeai-compose-r7/current-task.md
  projects/spaarkeai-compose-r7/notes/task-013-analysis.md
Owners: @spaarke-dev

checkpoint(smart-todo-r5): Wave A done (020/024/042); 7/28 complete; Wave B plan
  projects/smart-todo-r5/current-task.md
  projects/smart-todo-r5/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(smart-todo-r5): priority/effort→score mapping, one source, 3 surfaces (task 011, FR-02/03)
  projects/smart-todo-r5/notes/task-011-scoring.md
  projects/smart-todo-r5/spec.md
  projects/smart-todo-r5/tasks/011-auto-score-handler-optionb.poml
  src/client/shared/Spaarke.UI.Components/src/components/CreateTodoWizard/CreateTodoStep.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateTodoWizard/formTypes.ts
  src/client/shared/Spaarke.UI.Components/src/components/CreateTodoWizard/todoService.ts
  src/client/shared/Spaarke.UI.Components/src/utils/__tests__/todoScoreMappings.test.ts
  src/client/shared/Spaarke.UI.Components/src/utils/index.ts
  src/client/shared/Spaarke.UI.Components/src/utils/todoScoreMappings.ts
  src/client/webresources/js/sprk_todo_score_onchange.js
  src/solutions/SmartTodo/src/components/SmartToDo.tsx
Owners: @spaarke-dev

feat(smart-todo-r5): priority/effort glyphs on Kanban cards (task 012, FR-02/03)
  projects/smart-todo-r5/notes/task-012-card-ui.md
  projects/smart-todo-r5/tasks/012-priority-effort-card-ui.poml
  src/client/shared/Spaarke.SmartTodo.Components/__tests__/priorityEffortCardUi.test.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/components/KanbanCard/KanbanCard.styles.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/components/KanbanCard/KanbanCard.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartToDo/EffortScoreCard.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartToDo/KanbanCard.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartToDo/PriorityScoreCard.tsx
Owners: @spaarke-dev

feat(smart-todo-r5): Completed status query support + Show-Completed toggle (task 022, FR-07)
  projects/smart-todo-r5/notes/task-022-completed-toggle.md
  projects/smart-todo-r5/tasks/022-completed-status-toggle.poml
  src/client/shared/Spaarke.SmartTodo.Components/__tests__/useKanbanColumns.test.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/hooks/useKanbanColumns.ts
  src/solutions/SmartTodo/src/services/queryHelpers.ts
Owners: @spaarke-dev

checkpoint(smart-todo-r5): Wave B done (011/012/022); 10/28; defer-issues D-1..D-5
  projects/smart-todo-r5/current-task.md
  projects/smart-todo-r5/notes/defer-issues.md
  projects/smart-todo-r5/tasks/TASK-INDEX.md
Owners: @spaarke-dev

checkpoint(quality): context-handoff — post-program follow-on state
  projects/code-quality-and-assurance-r3/current-task.md
Owners: @spaarke-dev

docs(customer-provisioning): design.md v3.3 — owner-review round Q1–Q7 + Q5 Graph/SPE spike
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/graph-spe-standards-2026-08-16.md
  projects/customer-provisioning-orchestration-r1/design.md
  projects/customer-provisioning-orchestration-r1/notes/graph-spe-2026-08-standards-spike.md
  scripts/Register-EntraAppRegistrations.ps1
Owners: @spaarke-dev, @devops-team

feat(smart-todo-r5): SmartTodo filter pane — Priority/Status/Due/Assigned-To + clear-all (task 021, FR-06)
  projects/smart-todo-r5/notes/task-021-filter-pane.md
  projects/smart-todo-r5/tasks/021-filter-pane.poml
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/components/FilterPane/FilterPane.styles.ts
  src/solutions/SmartTodo/src/components/FilterPane/FilterPane.tsx
  src/solutions/SmartTodo/src/components/FilterPane/__tests__/FilterPane.test.tsx
  src/solutions/SmartTodo/src/components/FilterPane/index.ts
  src/solutions/SmartTodo/src/components/SmartToDo.tsx
  src/solutions/SmartTodo/src/hooks/useTodoItems.ts
  src/solutions/SmartTodo/src/services/DataverseService.ts
  src/solutions/SmartTodo/src/services/__tests__/queryHelpers.test.ts
  src/solutions/SmartTodo/src/services/queryHelpers.ts
Owners: @spaarke-dev

feat(smart-todo-r5): subtle channel coloring + contrast (task 023, FR-08)
  projects/smart-todo-r5/notes/task-023-coloring.md
  projects/smart-todo-r5/tasks/023-subtle-channel-coloring-contrast.poml
  src/client/shared/Spaarke.SmartTodo.Components/__tests__/useKanbanColumns.test.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/hooks/useKanbanColumns.ts
  src/client/shared/Spaarke.UI.Components/src/components/Kanban/KanbanBoard.tsx
Owners: @spaarke-dev

docs(smart-todo-r5): FR-15 verified already-resolved — no BrowseModal migration needed (task 034)
  projects/smart-todo-r5/notes/fr-15-verification.md
  projects/smart-todo-r5/tasks/034-migrate-browse-to-browsemodal.poml
Owners: @spaarke-dev

checkpoint(smart-todo-r5): Wave C done (021/023/034); 13/28; paused before live-DV/deploy work
  projects/smart-todo-r5/current-task.md
  projects/smart-todo-r5/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(compose-r7): task 013 — atomic server upsert on sprk_graphitemid_uk (FR-07d)
  projects/spaarkeai-compose-r7/notes/task-013-notes.md
  projects/spaarkeai-compose-r7/tasks/013-server-atomic-upsert-guard.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/IGenericEntityService.cs
  tests/integration/contract/Api/Ai/ComposeCreateOnSaveEndpointContractTests.cs
  tests/integration/regression/Analysis/PromoteDurableFkVisibilityTests.cs
  tests/integration/seam/Ai/ComposeFidelitySeamTests.cs
  tests/integration/seam/Compose/ComposeOriginRoutingSeamTests.cs
  tests/integration/seam/Compose/ComposePdfIntakeRoundTripSeamTests.cs
  tests/integration/seam/Compose/ComposeTransientKeyDedupSeamTests.cs
  tests/integration/seam/Notifications/OutboxServiceSeamTests.cs
  tests/integration/seam/Notifications/PendingPollFallbackSeamTests.cs
  tests/integration/seam/Notifications/SignalRDeliverySeamTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeContentDedupTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceCreateOnSaveTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServicePromoteRecordCompletenessTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceUploadFidelityTests.cs
Owners: @spaarke-dev

checkpoint(compose-r7): Phase 1 complete (013 done); 8/20; 020 next
  projects/spaarkeai-compose-r7/current-task.md
Owners: @spaarke-dev

feat(compose-r7): task 020 — Save / Save As dropdown + Auto Save toggle (FR-01)
  projects/spaarkeai-compose-r7/notes/task-020-notes.md
  projects/spaarkeai-compose-r7/tasks/020-save-save-as-dropdown.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
Owners: @spaarke-dev

checkpoint(compose-r7): Phase 1+2 complete (9/20); 030 next
  projects/spaarkeai-compose-r7/current-task.md
Owners: @spaarke-dev

checkpoint(compose-r7): context-handoff — 9/20 done, 030 next (Phase 1+2 complete)
  projects/spaarkeai-compose-r7/current-task.md
Owners: @spaarke-dev

refactor(dataverse): RED-4 B — delete 1,414 LOC runtime-dead code from DataverseWebApiService
  .claude/CHANGELOG.md
  .claude/patterns/testing/god-class-ratchet.md
  CLAUDE.md
  docs/architecture/DATAVERSE-ACCESS-LAYER-ROUTING.md
  projects/code-quality-and-assurance-r3/notes/defer-issues.md
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  tests/Spaarke.ArchTests/GodClassGuardTests.cs
  tests/integration/regression/Compose/ComposeOutputsColdSessionTests.cs
Owners: @spaarke-dev, @docs-team

fix(dataverse): RED-4 B / DEF-2 — implement GetEntitySetNameAsync on WebApi field-mapping path
  docs/architecture/DATAVERSE-ACCESS-LAYER-ROUTING.md
  projects/code-quality-and-assurance-r3/current-task.md
  projects/code-quality-and-assurance-r3/notes/defer-issues.md
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  tests/integration/Spe.Integration.Tests/DataverseWebApiFieldMappingRegressionTests.cs
Owners: @spaarke-dev, @docs-team

test(smart-todo-r5): wire Jest to Spaarke.SmartTodo.Components + un-skip useLaunchContext (task 040, FR-16)
  projects/smart-todo-r5/notes/task-040-test-infra.md
  projects/smart-todo-r5/tasks/040-vitest-expansion-coverage.poml
  src/client/shared/Spaarke.SmartTodo.Components/__tests__/SmartTodoWidget.test.tsx
  src/client/shared/Spaarke.SmartTodo.Components/__tests__/priorityEffortCardUi.test.ts
  src/client/shared/Spaarke.SmartTodo.Components/__tests__/useKanbanColumns.test.ts
  src/client/shared/Spaarke.SmartTodo.Components/jest.config.cjs
  src/client/shared/Spaarke.SmartTodo.Components/jest.setup.cjs
  src/client/shared/Spaarke.SmartTodo.Components/package-lock.json
  src/client/shared/Spaarke.SmartTodo.Components/package.json
  src/solutions/SmartTodo/package-lock.json
  src/solutions/SmartTodo/package.json
  src/solutions/SmartTodo/src/hooks/__tests__/useLaunchContext.test.ts
  src/solutions/SmartTodo/src/services/__tests__/queryHelpers.test.ts
Owners: @spaarke-dev

checkpoint(smart-todo-r5): task 040 done; 14/28; D-5 resolved, D-6 logged
  projects/smart-todo-r5/current-task.md
  projects/smart-todo-r5/notes/defer-issues.md
  projects/smart-todo-r5/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(compose-r7): name-on-first-save + Save As modal (task 030, FR-02)
  projects/spaarkeai-compose-r7/current-task.md
  projects/spaarkeai-compose-r7/notes/task-030-notes.md
  projects/spaarkeai-compose-r7/tasks/030-name-on-save-modal.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeSaveNameDialog.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeSaveNameDialog.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.renderOnSave.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
Owners: @spaarke-dev

checkpoint(compose-r7): task 040 design recorded (client draft store + recovery)
  projects/spaarkeai-compose-r7/current-task.md
Owners: @spaarke-dev

feat(compose-r7): client-only draft store + dirty autosave + crash recovery (FR-03, task 040)
  projects/spaarkeai-compose-r7/current-task.md
  projects/spaarkeai-compose-r7/notes/task-040-notes.md
  projects/spaarkeai-compose-r7/tasks/040-client-draft-store-recovery.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.draftAutosave.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeDraftStore.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeDraftStore.ts
Owners: @spaarke-dev

docs(smart-todo-r5): task 013 complete + 014 deploy (form handlers live)
  projects/smart-todo-r5/current-task.md
  projects/smart-todo-r5/notes/task-013-regardingresolver-form-wiring.md
  projects/smart-todo-r5/notes/task-014-deploy-and-smoke.md
  projects/smart-todo-r5/tasks/013-regardingresolver-wiring-todo-form.poml
  projects/smart-todo-r5/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(compose-r7): save-state indicator + beforeunload guard + invariant flip (FR-03, task 041)
  projects/spaarkeai-compose-r7/current-task.md
  projects/spaarkeai-compose-r7/notes/task-041-notes.md
  projects/spaarkeai-compose-r7/tasks/041-save-state-indicator-beforeunload.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.draftAutosave.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.unmountFlush.test.tsx
Owners: @spaarke-dev

feat(smart-todo-r5): task 030 (New Task->OOB create modal) + 050 ribbon icon edit
  projects/smart-todo-r5/notes/task-030-new-task-modal.md
  projects/smart-todo-r5/notes/task-050-matter-ribbon-icon.md
  projects/smart-todo-r5/tasks/030-new-task-oob-mainform-modal.poml
  projects/smart-todo-r5/tasks/TASK-INDEX.md
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/__tests__/SmartTodoApp.test.tsx
  src/solutions/SmartTodo/src/services/newTaskLauncher.ts
  src/solutions/spaarke_insights/Entities/sprk_Matter/RibbonDiff.xml
Owners: @spaarke-dev

feat(smart-todo-r5): task 031 unify create+open OOB launcher (FR-11)
  projects/smart-todo-r5/notes/task-031-launcher-consolidation.md
  projects/smart-todo-r5/tasks/031-open-shares-launch-mechanism.poml
  projects/smart-todo-r5/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/__tests__/wizardLaunchers.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/wizardLaunchers.ts
  src/solutions/LegalWorkspace/src/sections/todo.registration.ts
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
Owners: @spaarke-dev

feat(compose-r7): async ProjectForMount PDF fork — mount-door parity with LoadAsync (task 050, FR-06)
  projects/spaarkeai-compose-r7/current-task.md
  projects/spaarkeai-compose-r7/notes/task-050-notes.md
  projects/spaarkeai-compose-r7/tasks/050-projectformount-async-pdf-fork.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/ComposeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/IComposeService.cs
  tests/integration/seam/Compose/ComposeMountPdfProjectionSeamTests.cs
Owners: @spaarke-dev

feat(smart-todo-r5): task 032 full-cover sizing (FR-13); header-hide deploy documented (FR-12)
  projects/smart-todo-r5/notes/task-032-fullcover-header.md
  projects/smart-todo-r5/tasks/032-fullcover-hide-mainform-header.poml
  projects/smart-todo-r5/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/__tests__/wizardLaunchers.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/wizardLaunchers.ts
  src/client/shared/Spaarke.UI.Components/src/utils/adapters/__tests__/oobModalSizes.test.ts
  src/client/shared/Spaarke.UI.Components/src/utils/adapters/oobModalSizes.ts
Owners: @spaarke-dev

feat(compose-r7): wire FR-11 PDF-intake cause discrimination end-to-end (Path A, r2 closed)
  projects/spaarkeai-compose-r7/current-task.md
  projects/spaarkeai-compose-r7/notes/task-050-notes.md
  src/server/api/Sprk.Bff.Api/Services/Ai/ComposePdfIntakeSource.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/ComposePdfIntakeSource.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/NullComposePdfIntakeSource.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/PdfIntakeParseResult.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  tests/integration/seam/Compose/ComposeMountPdfProjectionSeamTests.cs
  tests/integration/seam/Compose/ComposePdfIntakeRoundTripSeamTests.cs
Owners: @spaarke-dev

chore(smart-todo-r5): checkpoint — modal spine 030/031 done, 032 code done, 033 running; deploy batch consolidated
  projects/smart-todo-r5/current-task.md
Owners: @spaarke-dev

feat(smart-todo-r5): task 033 Save&Close -> kanban refresh (FR-14) — modal spine code complete
  projects/smart-todo-r5/notes/task-033-saveclose-refresh.md
  projects/smart-todo-r5/tasks/033-saveclose-dismiss-refresh.poml
  projects/smart-todo-r5/tasks/TASK-INDEX.md
  src/solutions/LegalWorkspace/src/sections/todo.registration.ts
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/services/__tests__/openTodoLauncher.test.ts
  src/solutions/SmartTodo/src/services/openTodoLauncher.ts
Owners: @spaarke-dev

docs(customer-provisioning): task 006 - publish v1 version-compatibility matrix
  docs/deployment/version-compatibility-matrix.md
Owners: @spaarke-dev, @docs-team

docs(customer-provisioning-r1): task 002 — audit ai-search index catalog vs Deploy-AllIndexes.ps1 (7 canonical); flag drift
  projects/customer-provisioning-orchestration-r1/notes/ai-search-catalog-audit-2026-08.md
  projects/customer-provisioning-orchestration-r1/tasks/002-audit-ai-search-index-catalog.poml
Owners: @spaarke-dev

docs(customer-comms): author 6 U-CB templates (task 007)
  docs/deployment/customer-comms/U-CB-1-column-removal.md
  docs/deployment/customer-comms/U-CB-2-vector-dim-change.md
  docs/deployment/customer-comms/U-CB-3-permission-additions.md
  docs/deployment/customer-comms/U-CB-4-spe-schema.md
  docs/deployment/customer-comms/U-CB-5-kv-secret-cascading.md
  docs/deployment/customer-comms/U-CB-6-client-secret-expiry.md
  projects/customer-provisioning-orchestration-r1/notes/task-007-deviations.md
Owners: @spaarke-dev, @docs-team

docs(cpo-r1): task 004 resolve two-source AI seed drift (H12a manifest baseline)
  projects/customer-provisioning-orchestration-r1/notes/ai-seed-drift-resolution-2026-08.md
  projects/customer-provisioning-orchestration-r1/tasks/004-resolve-ai-seed-drift.poml
Owners: @spaarke-dev

docs(customer-provisioning): task 003 - reconcile 33-vs-7 PCF folder mapping
  projects/customer-provisioning-orchestration-r1/notes/pcf-33-vs-7-mapping-2026-08.md
Owners: @spaarke-dev

docs(cpo-r1): task 001 - consolidate 6 customer-provisioning guides into single authoritative guide
  CLAUDE.md
  docs/guides/CUSTOMER-DEPLOYMENT-GUIDE.md
  docs/guides/CUSTOMER-ONBOARDING-RUNBOOK.md
  docs/guides/ENVIRONMENT-DEPLOYMENT-GUIDE.md
  docs/guides/PRODUCTION-DEPLOYMENT-GUIDE.md
  docs/guides/SPAARKE-CUSTOMER-DEPLOYMENT-GUIDE.md
  docs/guides/SPAARKE-DEPLOYMENT-GUIDE.md
  docs/guides/auth-deployment-setup.md
  projects/customer-provisioning-orchestration-r1/notes/task-001-consolidation-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/001-consolidate-deploy-guides.poml
Owners: @spaarke-dev, @docs-team

docs(customer-provisioning-r1): task 008 solutions-reconciliation audit
  projects/customer-provisioning-orchestration-r1/notes/solutions-reconciliation-2026-08.md
  projects/customer-provisioning-orchestration-r1/tasks/008-audit-non-deployer-solutions.poml
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
