Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

feat(insights-engine): D-P11 Observation review surface — view + disposition fields + 100% sampling (task 052)
  projects/ai-spaarke-insights-engine-r1/current-task.md
  projects/ai-spaarke-insights-engine-r1/tasks/052-observation-review-surface.poml
  projects/ai-spaarke-insights-engine-r1/tasks/TASK-INDEX.md
  scripts/Deploy-ObservationReviewSurface.ps1
  src/server/api/Sprk.Bff.Api/Services/Insights/Observations/DataverseObservationMirror.cs
  src/server/api/Sprk.Bff.Api/Services/Insights/Observations/InsightsMirrorOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Insights/Observations/ObservationMirrorMapper.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Insights/Observations/DataverseObservationMirrorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Insights/Observations/ObservationMirrorMapperTests.cs
Owners: @spaarke-dev, @devops-team

feat(insights-engine): D-P14 predict-matter-cost synthesis playbook (task 060)
  projects/ai-spaarke-insights-engine-r1/current-task.md
  projects/ai-spaarke-insights-engine-r1/tasks/060-predict-matter-cost-playbook.poml
  projects/ai-spaarke-insights-engine-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Playbooks/predict-matter-cost.playbook.json
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Prompts/predict-matter-cost-synthesis.v1.txt
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/Playbooks/PredictMatterCostPlaybookTests.cs
Owners: @spaarke-dev

feat(matter-ui-r1): SemanticSearchControl v1.1.63 — wizard sizing, preview-stay-open, bulk-selected-only, menu right-anchor (5 items)
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ListView.tsx
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
  src/client/shared/Spaarke.UI.Components/src/components/DocumentEmailWizard/DocumentEmailWizard.tsx
  src/client/shared/Spaarke.UI.Components/src/components/Wizard/WizardShell.tsx
  src/client/shared/Spaarke.UI.Components/src/components/Wizard/wizardShellTypes.ts
Owners: @spaarke-dev

feat(insights-engine): D-P15 POST /api/insights/ask endpoint (task 061)
  projects/ai-spaarke-insights-engine-r1/current-task.md
  projects/ai-spaarke-insights-engine-r1/tasks/061-insights-ask-endpoint.poml
  projects/ai-spaarke-insights-engine-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Insights/InsightEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Models/Insights/InsightAskRequest.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Insights/InsightEndpointsTests.cs
Owners: @spaarke-dev

docs(matter-ui-r1): update current-task.md for v1.1.63 polish round
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
Owners: @spaarke-dev

fix(matter-ui-r1): SemanticSearchControl v1.1.64 — eliminate horizontal scroll by reverting Document col 480 → 240
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ListView.tsx
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

docs(matter-ui-r1): update current-task.md for v1.1.64 horizontal- scroll fix
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
Owners: @spaarke-dev

feat(insights-engine): D-P16 end-to-end smoke + golden dataset + eval harness baseline (task 070)
  .github/workflows/insights-eval.yml
  projects/ai-spaarke-insights-engine-r1/current-task.md
  projects/ai-spaarke-insights-engine-r1/notes/acceptance-criteria-verification.md
  projects/ai-spaarke-insights-engine-r1/notes/phase-1-live-smoke-runbook.md
  projects/ai-spaarke-insights-engine-r1/tasks/070-smoke-test-golden-dataset-eval.poml
  projects/ai-spaarke-insights-engine-r1/tasks/TASK-INDEX.md
  tests/Insights/golden/predict-matter-cost.json
  tests/unit/Sprk.Bff.Api.Tests/EndToEnd/Phase1SmokeTest.cs
  tests/unit/Sprk.Bff.Api.Tests/Eval/PredictMatterCostEvalHarnessTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Sprk.Bff.Api.Tests.csproj
Owners: @spaarke-dev, @devops-team

fix(matter-ui-r1): SemanticSearchControl v1.1.65 — kill phantom horizontal scrollbar via overflowX: hidden
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ListView.tsx
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

docs(matter-ui-r1): update current-task.md for v1.1.65 phantom- scrollbar clip
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
Owners: @spaarke-dev

fix(matter-ui-r1): SemanticSearchControl v1.1.66 — wider Document col, resize-cap to keep cols in viewport, header/body alignment
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ListView.tsx
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

docs(matter-ui-r1): update current-task.md for v1.1.66
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
Owners: @spaarke-dev

fix(insights-engine): close pre-deploy functional gaps — DataverseLiveFactResolver + decline extraction from engine stream (task 071)
  projects/ai-spaarke-insights-engine-r1/current-task.md
  projects/ai-spaarke-insights-engine-r1/notes/sprk-matter-livefact-predicates.md
  projects/ai-spaarke-insights-engine-r1/tasks/071-pre-deploy-functional-gap-fix.poml
  projects/ai-spaarke-insights-engine-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/InsightsModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/IInsightsPlaybookExecutionCache.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/InsightsEngineRunResult.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/InsightsOrchestrator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/InsightsPlaybookExecutionCache.cs
  src/server/api/Sprk.Bff.Api/Services/Insights/LiveFacts/DataverseLiveFactResolver.cs
  src/server/api/Sprk.Bff.Api/Services/Insights/LiveFacts/StubLiveFactResolver.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/InsightsOrchestratorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/InsightsPlaybookExecutionCacheTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/Playbooks/PredictMatterCostPlaybookTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Insights/LiveFacts/DataverseLiveFactResolverTests.cs
Owners: @spaarke-dev

docs(insights-engine): refresh current-task.md with task 071 completion summary
  projects/ai-spaarke-insights-engine-r1/current-task.md
Owners: @spaarke-dev

fix(matter-ui-r1): SemanticSearchControl v1.1.67 — bump localStorage prefix .v2 → .v3 to invalidate over-large persisted widths
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/hooks/useDocumentListPrefs.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

docs(matter-ui-r1): update current-task.md for v1.1.67 prefix bump
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
Owners: @spaarke-dev

fix(matter-ui-r1): SemanticSearchControl v1.1.68 — proper fix for column width clamp (heal-on-read + remount counter)
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ListView.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/hooks/useDocumentListPrefs.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

docs(matter-ui-r1): update current-task.md for v1.1.68 root-cause fix
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
Owners: @spaarke-dev

docs(action-engine): promote overview to design.md + multi-surface Assistant model
  projects/ai-spaarke-action-engine-r1/design.md
Owners: @spaarke-dev

docs(action-engine): add multi-surface Assistant model to design.md
  projects/ai-spaarke-action-engine-r1/design.md
Owners: @spaarke-dev

feat(insights-engine): populate sprk_confidence on Observation mirror (Path 2 deploy)
  src/server/api/Sprk.Bff.Api/Services/Insights/Observations/ObservationMirrorMapper.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Insights/Observations/ObservationMirrorMapperTests.cs
Owners: @spaarke-dev

fix(matter-ui-r1): SemanticSearchControl v1.1.69 — header/body alignment + responsive MAX_WIDTHS via ResizeObserver
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ListView.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/hooks/useDocumentListPrefs.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

docs(matter-ui-r1): update current-task.md for v1.1.69
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
Owners: @spaarke-dev

fix(insights-engine): predict-matter-cost.playbook.json — sprk_playbooktype 100000000 → 0 (AiAnalysis)
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Playbooks/predict-matter-cost.playbook.json
Owners: @spaarke-dev

docs(matter-ui-r1): pre-compaction handoff for session 2 (v1.1.50 → v1.1.69)
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
  projects/spaarke-matter-ui-enhancement-r1/notes/handoffs/handoff-2026-05-29-pre-compact.md
Owners: @spaarke-dev

feat(insights-engine): canonical playbook name → Guid resolution layer on /api/insights/ask
  src/server/api/Sprk.Bff.Api/Api/Insights/InsightEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Insights/InsightsPlaybookNameMapOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/InsightsModule.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Insights/InsightEndpointsTests.cs
Owners: @spaarke-dev

docs(insights-engine): document App Service @ constraint on playbook name map keys
  src/server/api/Sprk.Bff.Api/Api/Insights/InsightsPlaybookNameMapOptions.cs
Owners: @spaarke-dev

docs(insights-engine): correct App Service env-var constraint — snake_case_only (not kebab)
  src/server/api/Sprk.Bff.Api/Api/Insights/InsightsPlaybookNameMapOptions.cs
Owners: @spaarke-dev

docs(action-engine): add spec.md + clarify LAVERN as external reference
  projects/ai-spaarke-action-engine-r1/design.md
  projects/ai-spaarke-action-engine-r1/spec.md
Owners: @spaarke-dev

fix(insights-engine): register IPlaybookExecutionEngine + demote InsightsOrchestrator to Scoped
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/InsightsFacadeModule.cs
Owners: @spaarke-dev

fix(scripts): Deploy-Playbook.ps1 — explicitly set sprk_isactive=true on node create
  scripts/Deploy-Playbook.ps1
Owners: @spaarke-dev, @devops-team

refactor(ui-components): promote rich FilePreviewDialog to @spaarke/ui-components 2.1.0
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
  src/client/code-pages/DocumentRelationshipViewer/package-lock.json
  src/client/code-pages/DocumentRelationshipViewer/src/App.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/components/FilePreviewDialog.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/FilePreviewDialog.tsx
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
  src/client/shared/Spaarke.UI.Components/package.json
  src/client/shared/Spaarke.UI.Components/src/components/FilePreview/FilePreviewDialog.tsx
  src/client/shared/Spaarke.UI.Components/src/components/FilePreview/RichFilePreviewDialog.tsx
  src/client/shared/Spaarke.UI.Components/src/components/FilePreview/index.ts
  src/solutions/LegalWorkspace/package-lock.json
  src/solutions/LegalWorkspace/src/components/FilePreview/FilePreviewDialog.tsx
Owners: @spaarke-dev

feat(bff/semantic-search): add fileSize projection on SearchResult
  src/server/api/Sprk.Bff.Api/Models/Ai/SemanticSearch/SearchResult.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/SemanticSearch/SemanticSearchService.cs
Owners: @spaarke-dev

docs(matter-ui-r1): update current-task.md — 3 PRs (#308, #309, #310) open
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
Owners: @spaarke-dev

feat(matter-ui-r1): SemanticSearchControl v1.1.71 — fileSize passthrough for email wizard 25 MB warning
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/services/SemanticSearchApiService.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/types/search.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

docs(insights-engine): Phase 1 completion + Phase 1.5 (r2) project framing
  docs/architecture/INSIGHTS-ENGINE-ARCHITECTURE.md
  docs/guides/INSIGHTS-ENGINE-GUIDE.md
  projects/ai-spaarke-insights-engine-r2/design.md
Owners: @spaarke-dev, @docs-team

docs(patterns/auth): add msal-client + spaarke-auth-initialization patterns
  .claude/patterns/auth/msal-client.md
  .claude/patterns/auth/spaarke-auth-initialization.md
Owners: @spaarke-dev

docs(architecture): add pending architecture drafts (AI chat / repo / email-to-document)
  docs/architecture/AI-CHAT-STRATEGY-M365-COPILOT-VS-SPRKCHAT.md
  docs/architecture/SPAARKE-REPOSITORY-ARCHITECTURE.md
  docs/architecture/ai-document-summary-architecture.md
  docs/architecture/email-to-document-architecture.md
  docs/architecture/email-to-document-automation.md
Owners: @spaarke-dev, @docs-team

docs(data-model): add entity schemas for budget/event/invoice/spend tables
  docs/data-model/sprk_budgetbucket.md
  docs/data-model/sprk_event-json-fields.md
  docs/data-model/sprk_invoice.md
  docs/data-model/sprk_spendsignal.md
  docs/data-model/sprk_spendsnapshot.md
Owners: @spaarke-dev, @docs-team

docs(guides): add Spaarke AI strategy + deployment guide drafts
  docs/guides/SPAARKE-AI-STRATEGY-AND-ROADMAP.md
  docs/guides/SPAARKE-DEPLOYMENT-GUIDE.md
Owners: @spaarke-dev, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
