Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

docs: batch of pending architecture/data-model/guides/auth-patterns drafts (#311)
  .claude/patterns/auth/msal-client.md
  .claude/patterns/auth/spaarke-auth-initialization.md
  docs/architecture/AI-CHAT-STRATEGY-M365-COPILOT-VS-SPRKCHAT.md
  docs/architecture/SPAARKE-REPOSITORY-ARCHITECTURE.md
  docs/architecture/ai-document-summary-architecture.md
  docs/architecture/email-to-document-architecture.md
  docs/architecture/email-to-document-automation.md
  docs/data-model/sprk_budgetbucket.md
  docs/data-model/sprk_event-json-fields.md
  docs/data-model/sprk_invoice.md
  docs/data-model/sprk_spendsignal.md
  docs/data-model/sprk_spendsnapshot.md
  docs/guides/SPAARKE-AI-STRATEGY-AND-ROADMAP.md
  docs/guides/SPAARKE-DEPLOYMENT-GUIDE.md
Owners: @spaarke-dev, @docs-team

docs(insights-engine): add r2 spec.md + refine r2 design.md (JPS terminology + prompt primitive correction)
  projects/ai-spaarke-insights-engine-r2/design.md
  projects/ai-spaarke-insights-engine-r2/spec.md
Owners: @spaarke-dev

docs(insights-engine): r2 pipeline initialization — README + plan + CLAUDE + 29 task files
  projects/ai-spaarke-insights-engine-r2/CLAUDE.md
  projects/ai-spaarke-insights-engine-r2/README.md
  projects/ai-spaarke-insights-engine-r2/current-task.md
  projects/ai-spaarke-insights-engine-r2/plan.md
  projects/ai-spaarke-insights-engine-r2/tasks/001-create-insights-action-rows.poml
  projects/ai-spaarke-insights-engine-r2/tasks/002-update-playbook-json-action-refs.poml
  projects/ai-spaarke-insights-engine-r2/tasks/003-deploy-playbook-action-lint.poml
  projects/ai-spaarke-insights-engine-r2/tasks/004-redeploy-playbook-with-action-refs.poml
  projects/ai-spaarke-insights-engine-r2/tasks/005-live-smoke-predict-matter-cost.poml
  projects/ai-spaarke-insights-engine-r2/tasks/006-update-phase1-verification-doc.poml
  projects/ai-spaarke-insights-engine-r2/tasks/010-architecture-overview-refresh.poml
  projects/ai-spaarke-insights-engine-r2/tasks/011-operator-guide-refresh.poml
  projects/ai-spaarke-insights-engine-r2/tasks/012-2d-taxonomy-design.poml
  projects/ai-spaarke-insights-engine-r2/tasks/013-prompt-variant-versioning-design.poml
  projects/ai-spaarke-insights-engine-r2/tasks/014-universal-ingest-jps-refactor-design.poml
  projects/ai-spaarke-insights-engine-r2/tasks/015-multi-entity-subject-design.poml
  projects/ai-spaarke-insights-engine-r2/tasks/020-universal-ingest-jps-playbook.poml
  projects/ai-spaarke-insights-engine-r2/tasks/021-prompts-to-jps-storage.poml
  projects/ai-spaarke-insights-engine-r2/tasks/022-retire-ingest-orchestrator.poml
  projects/ai-spaarke-insights-engine-r2/tasks/023-iinsightsai-facade-rewire.poml
  projects/ai-spaarke-insights-engine-r2/tasks/024-universal-ingest-parameterization.poml
  projects/ai-spaarke-insights-engine-r2/tasks/030-document-type-and-matrix-schema.poml
  projects/ai-spaarke-insights-engine-r2/tasks/031-per-practice-area-layer1-prompts.poml
  projects/ai-spaarke-insights-engine-r2/tasks/032-per-area-doctype-layer2-schemas.poml
  projects/ai-spaarke-insights-engine-r2/tasks/033-universal-ingest-per-area-routing.poml
  projects/ai-spaarke-insights-engine-r2/tasks/034-multi-entity-resolvers.poml
  projects/ai-spaarke-insights-engine-r2/tasks/035-index-scope-shape-migration.poml
  projects/ai-spaarke-insights-engine-r2/tasks/036-synthetic-test-fixtures.poml
  projects/ai-spaarke-insights-engine-r2/tasks/040-insights-search-rag-endpoint.poml
  projects/ai-spaarke-insights-engine-r2/tasks/041-intent-classifier.poml
  projects/ai-spaarke-insights-engine-r2/tasks/042-spaarke-assistant-integration.poml
  projects/ai-spaarke-insights-engine-r2/tasks/043-playbook-vs-rag-decision-tree.poml
  projects/ai-spaarke-insights-engine-r2/tasks/090-project-wrap-up.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(tests): sdap-bff.api-test-suite-repair — Phase 0 Wave 1 complete
  projects/sdap-bff.api-test-suite-repair/baseline/README.md
  projects/sdap-bff.api-test-suite-repair/baseline/ci-gate-snapshot-2026-05-31.json
  projects/sdap-bff.api-test-suite-repair/baseline/compile-errors-2026-05-31.txt
  projects/sdap-bff.api-test-suite-repair/baseline/integration-build-errors-2026-05-31.txt
  projects/sdap-bff.api-test-suite-repair/current-task.md
  projects/sdap-bff.api-test-suite-repair/decisions/D-01-async-enumerable-helper.md
  projects/sdap-bff.api-test-suite-repair/decisions/D-02-ci-gate-strict.md
  projects/sdap-bff.api-test-suite-repair/decisions/D-03-integration-in-scope.md
  projects/sdap-bff.api-test-suite-repair/decisions/D-04-triage-authority.md
  projects/sdap-bff.api-test-suite-repair/decisions/D-05-anti-drift-no-ci-script.md
  projects/sdap-bff.api-test-suite-repair/decisions/D-06-keep-namespace-fixes.md
  projects/sdap-bff.api-test-suite-repair/tasks/001-baseline-capture.poml
  projects/sdap-bff.api-test-suite-repair/tasks/002-integration-test-baseline.poml
  projects/sdap-bff.api-test-suite-repair/tasks/003-researcher-verdict-msft-ai-testing.poml
  projects/sdap-bff.api-test-suite-repair/tasks/006-capture-d02-d06-decisions.poml
  projects/sdap-bff.api-test-suite-repair/tasks/007-commit-namespace-fixes.poml
  projects/sdap-bff.api-test-suite-repair/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(tests): absorb Wave 1 deviations into project scope
  projects/sdap-bff.api-test-suite-repair/tasks/008-trx-reconciliation.poml
  projects/sdap-bff.api-test-suite-repair/tasks/010-compile-fix-batch-1.poml
  projects/sdap-bff.api-test-suite-repair/tasks/011-compile-fix-batch-2-communications.poml
  projects/sdap-bff.api-test-suite-repair/tasks/012-compile-fix-batch-3-ai-tools-sessions.poml
  projects/sdap-bff.api-test-suite-repair/tasks/013-compile-fix-batch-4-ai-other.poml
  projects/sdap-bff.api-test-suite-repair/tasks/014-verify-compile-and-runtime-delta.poml
  projects/sdap-bff.api-test-suite-repair/tasks/024-integration-test-triage.poml
  projects/sdap-bff.api-test-suite-repair/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(tests): Phase 0 Wave 2 complete — Phase 0 closes
  projects/sdap-bff.api-test-suite-repair/CLAUDE.md
  projects/sdap-bff.api-test-suite-repair/baseline/failure-inventory-2026-05-31.md
  projects/sdap-bff.api-test-suite-repair/current-task.md
  projects/sdap-bff.api-test-suite-repair/notes/handoffs/phase23-scope-delta-2026-05-31.md
  projects/sdap-bff.api-test-suite-repair/priority-order.md
  projects/sdap-bff.api-test-suite-repair/tasks/004-project-claude-refinement.poml
  projects/sdap-bff.api-test-suite-repair/tasks/005-priority-order.poml
  projects/sdap-bff.api-test-suite-repair/tasks/008-trx-reconciliation.poml
  projects/sdap-bff.api-test-suite-repair/tasks/044-ai-safety.poml
  projects/sdap-bff.api-test-suite-repair/tasks/046-resilience.poml
  projects/sdap-bff.api-test-suite-repair/tasks/050-ai-chat-batch-1.poml
  projects/sdap-bff.api-test-suite-repair/tasks/053-ai-capabilities.poml
  projects/sdap-bff.api-test-suite-repair/tasks/054-ai-nodes.poml
  projects/sdap-bff.api-test-suite-repair/tasks/055-communications-batch-1.poml
  projects/sdap-bff.api-test-suite-repair/tasks/060-bff-integration-batch-1.poml
  projects/sdap-bff.api-test-suite-repair/tasks/061-bff-integration-batch-2.poml
  projects/sdap-bff.api-test-suite-repair/tasks/070-low-tier-api-batch-1.poml
  projects/sdap-bff.api-test-suite-repair/tasks/071-low-tier-api-batch-2.poml
  projects/sdap-bff.api-test-suite-repair/tasks/072-low-tier-api-batch-3.poml
  projects/sdap-bff.api-test-suite-repair/tasks/073-low-tier-endpoint-tests.poml
  projects/sdap-bff.api-test-suite-repair/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(matter-ui-r1): VisualHost v1.4.2 — Matter Health Composite UAT polish (8 items)
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/ChartRenderer.tsx
  src/client/pcf/VisualHost/control/components/DonutChart.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/control/types/index.ts
  src/client/pcf/VisualHost/control/utils/cardConfigResolver.ts
  src/client/pcf/VisualHost/control/utils/tokenSetColors.ts
Owners: @spaarke-dev

feat(tests): Phase 1 Wave 1.1a complete
  projects/sdap-bff.api-test-suite-repair/current-task.md
  projects/sdap-bff.api-test-suite-repair/ledgers/real-bug-ledger.md
  projects/sdap-bff.api-test-suite-repair/tasks/010-compile-fix-batch-1.poml
  projects/sdap-bff.api-test-suite-repair/tasks/011-compile-fix-batch-2-communications.poml
  projects/sdap-bff.api-test-suite-repair/tasks/012-compile-fix-batch-3-ai-tools-sessions.poml
  projects/sdap-bff.api-test-suite-repair/tasks/013-compile-fix-batch-4-ai-other.poml
  projects/sdap-bff.api-test-suite-repair/tasks/015-asyncenumerable-helper.poml
  projects/sdap-bff.api-test-suite-repair/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/Api/EmailWebhookEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/ExternalAccess/ExternalAccessEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/CommunicationIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Mocks/AsyncEnumerableHelpers.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ScopeResolverServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Sessions/SessionRestoreServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Tools/SendCommunicationToolHandlerRegistrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Tools/SendCommunicationToolHandlerScenarioTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Visualization/VisualizationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/WorkingDocumentServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/ArchivalFlowTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/AssociationMappingTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/AttachmentValidationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/DataverseRecordCreationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Email/EmailAttachmentExtractionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Jobs/RecordSyncJobTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Workspace/TodoGenerationServiceTests.cs
Owners: @spaarke-dev

fix(matter-ui-r1): VisualHost v1.4.3 — chart title moves to toolbar row + tight breakdown columns
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/ChartRenderer.tsx
  src/client/pcf/VisualHost/control/components/DonutChart.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
Owners: @spaarke-dev

feat(tests): Phase 1 Wave 1.1b complete + CI gate restored
  .github/workflows/deploy-bff-api.yml
  docs/procedures/bff-deploy-emergency.md
  projects/sdap-bff.api-test-suite-repair/baseline/branch-protection-pre-FR09-2026-05-31.json
  projects/sdap-bff.api-test-suite-repair/baseline/ci-gate-post-flip-2026-05-31.json
  projects/sdap-bff.api-test-suite-repair/baseline/ci-gate-pre-flip-2026-05-31.json
  projects/sdap-bff.api-test-suite-repair/current-task.md
  projects/sdap-bff.api-test-suite-repair/integration-test-triage.md
  projects/sdap-bff.api-test-suite-repair/notes/spikes/factory-config-gaps.md
  projects/sdap-bff.api-test-suite-repair/tasks/017-factory-config-inventory.poml
  projects/sdap-bff.api-test-suite-repair/tasks/020-enforce-admins-true.poml
  projects/sdap-bff.api-test-suite-repair/tasks/021-remove-skip-tests-input.poml
  projects/sdap-bff.api-test-suite-repair/tasks/022-bff-deploy-emergency-doc.poml
  projects/sdap-bff.api-test-suite-repair/tasks/024-integration-test-triage.poml
  projects/sdap-bff.api-test-suite-repair/tasks/TASK-INDEX.md
  tests/integration/Spe.Integration.Tests/ExternalAccess/ExternalAccessIntegrationTests.cs
Owners: @spaarke-dev, @devops-team, @docs-team

test(ci): deliberate failure for CI gate verification (FR-12) -- DO NOT MERGE
  tests/unit/Sprk.Bff.Api.Tests/_CiGateVerificationTests.cs
Owners: @spaarke-dev

feat(tests): Phase 1 Wave 1.2 complete + CI workflow brokenness discovered
  projects/sdap-bff.api-test-suite-repair/CLAUDE.md
  projects/sdap-bff.api-test-suite-repair/baseline/ci-gate-verification-2026-05-31.md
  projects/sdap-bff.api-test-suite-repair/baseline/post-wave1.1a-delta-2026-05-31.md
  projects/sdap-bff.api-test-suite-repair/current-task.md
  projects/sdap-bff.api-test-suite-repair/tasks/014-verify-compile-and-runtime-delta.poml
  projects/sdap-bff.api-test-suite-repair/tasks/016-asyncenumerable-helper-tests.poml
  projects/sdap-bff.api-test-suite-repair/tasks/023-ci-gate-negative-path-test.poml
  projects/sdap-bff.api-test-suite-repair/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/Mocks/AsyncEnumerableHelpersTests.cs
Owners: @spaarke-dev

feat(tests): add task 025 — fix broken sdap-ci.yml workflow
  projects/sdap-bff.api-test-suite-repair/tasks/025-fix-sdap-ci-workflow.poml
Owners: @spaarke-dev

feat(matter-ui-r1): VisualHost v1.4.4 — configurable chart legend + chart-def AI Summary field
  docs/architecture/VISUALHOST-ARCHITECTURE.md
  docs/guides/VISUALHOST-SETUP-GUIDE.md
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/DonutChart.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/control/types/index.ts
  src/client/pcf/VisualHost/control/utils/cardConfigResolver.ts
Owners: @spaarke-dev, @docs-team

feat(tests): Phase 1 Wave 1.3 complete — factory extension delivers -112 failures
  projects/sdap-bff.api-test-suite-repair/baseline/post-018-passing-delta-2026-05-31.md
  projects/sdap-bff.api-test-suite-repair/baseline/post-wave1.3-authoritative-baseline-2026-05-31.md
  projects/sdap-bff.api-test-suite-repair/current-task.md
  projects/sdap-bff.api-test-suite-repair/tasks/018-factory-extension.poml
  projects/sdap-bff.api-test-suite-repair/tasks/019-factory-verify-baseline-preserved.poml
  projects/sdap-bff.api-test-suite-repair/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/CustomWebAppFactory.cs
Owners: @spaarke-dev

fix(ci): remove duplicate if-no-files-found key in sdap-ci.yml (T-025 verify)
  .github/workflows/sdap-ci.yml
Owners: @spaarke-dev, @devops-team

fix(ci): repair sdap-ci.yml — Phase 1 closes, Outcome C operationally complete
  .github/workflows/sdap-ci.yml
  projects/sdap-bff.api-test-suite-repair/baseline/sdap-ci-repair-evidence-2026-05-31.md
  projects/sdap-bff.api-test-suite-repair/current-task.md
  projects/sdap-bff.api-test-suite-repair/tasks/025-fix-sdap-ci-workflow.poml
  projects/sdap-bff.api-test-suite-repair/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @devops-team

feat(tests): add task 026 — Phase 2+3 entry re-reconciliation
  projects/sdap-bff.api-test-suite-repair/tasks/026-phase23-rereconciliation.poml
Owners: @spaarke-dev

fix(matter-ui-r1): VisualHost v1.4.5 — DueDateCard honors chart def FetchXML + Matter Next Date revised
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/DueDateCard.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
Owners: @spaarke-dev

feat(tests): task 026 complete — Phase 2+3 scope refreshed against 172 baseline
  projects/sdap-bff.api-test-suite-repair/baseline/failure-inventory-post-018-2026-05-31.md
  projects/sdap-bff.api-test-suite-repair/current-task.md
  projects/sdap-bff.api-test-suite-repair/notes/handoffs/phase23-scope-delta-post-018-2026-05-31.md
  projects/sdap-bff.api-test-suite-repair/tasks/026-phase23-rereconciliation.poml
  projects/sdap-bff.api-test-suite-repair/tasks/050-ai-chat-batch-1.poml
  projects/sdap-bff.api-test-suite-repair/tasks/055-communications-batch-1.poml
  projects/sdap-bff.api-test-suite-repair/tasks/070-low-tier-api-batch-1.poml
  projects/sdap-bff.api-test-suite-repair/tasks/073-low-tier-endpoint-tests.poml
  projects/sdap-bff.api-test-suite-repair/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(tests): Phase 2+3 Wave 2.1 complete — 12 files repaired
  projects/sdap-bff.api-test-suite-repair/current-task.md
  projects/sdap-bff.api-test-suite-repair/escalations/rewrite-request-T-031-SCOPE-MISMATCH.md
  projects/sdap-bff.api-test-suite-repair/ledgers/real-bug-ledger.md
  projects/sdap-bff.api-test-suite-repair/tasks/030-ichatclient-streaming-batch-1.poml
  projects/sdap-bff.api-test-suite-repair/tasks/031-ichatclient-streaming-batch-2.poml
  projects/sdap-bff.api-test-suite-repair/tasks/033-factory-dependent-batch-1.poml
  projects/sdap-bff.api-test-suite-repair/tasks/034-factory-dependent-batch-2.poml
  projects/sdap-bff.api-test-suite-repair/tasks/040-workspace-scoring.poml
  projects/sdap-bff.api-test-suite-repair/tasks/041-scorecard.poml
  projects/sdap-bff.api-test-suite-repair/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/Api/Agent/AgentConfigurationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/AuthorizationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/CorsAndAuthTests.cs
  tests/unit/Sprk.Bff.Api.Tests/EndpointGroupingTests.cs
  tests/unit/Sprk.Bff.Api.Tests/HealthAndHeadersTests.cs
  tests/unit/Sprk.Bff.Api.Tests/PipelineHealthTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AiOptionsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/StreamingWriteIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/ScorecardCalculatorErrorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/ScorecardCalculatorIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/ScorecardCalculatorPerformanceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/ScorecardCalculatorServiceTests.cs
Owners: @spaarke-dev

feat(tests): Phase 2+3 Wave 2.2 complete — 32 failures repaired + 6 real-bugs filed
  projects/sdap-bff.api-test-suite-repair/current-task.md
  projects/sdap-bff.api-test-suite-repair/ledgers/real-bug-ledger.md
  projects/sdap-bff.api-test-suite-repair/tasks/042-finance-signal-evaluation.poml
  projects/sdap-bff.api-test-suite-repair/tasks/043-email-association.poml
  projects/sdap-bff.api-test-suite-repair/tasks/044-ai-safety.poml
  projects/sdap-bff.api-test-suite-repair/tasks/045-filters-json.poml
  projects/sdap-bff.api-test-suite-repair/tasks/046-resilience.poml
  projects/sdap-bff.api-test-suite-repair/tasks/050-ai-chat-batch-1.poml
  projects/sdap-bff.api-test-suite-repair/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/Filters/AiAuthorizationFilterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Filters/AnalysisAuthorizationFilterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Filters/DocumentAuthorizationFilterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Filters/IdempotencyFilterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Filters/PlaybookAuthorizationFilterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/Json/DataverseJsonConvertersTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/Resilience/CircuitBreakerRegistryTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/Resilience/StorageRetryPolicyTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/DirectOpenAiAgentTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/OrchestratorPromptBuilderTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookChatContextProviderEnrichmentIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SseEventTypes/ChatSseEventFactoryTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Feedback/FeedbackServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/RagServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/CitationExtractorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/CitationVerificationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/ConfidenceScoringServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/PrivilegeLeakageTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/VerifyCitationsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/WorkingDocumentServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Finance/SignalEvaluationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Jobs/RecordSyncJobTests.cs
Owners: @spaarke-dev

feat(tests): Phase 2+3 Wave 2.3 complete — 7 failures handled + 1 real-bug
  projects/sdap-bff.api-test-suite-repair/current-task.md
  projects/sdap-bff.api-test-suite-repair/ledgers/real-bug-ledger.md
  projects/sdap-bff.api-test-suite-repair/tasks/051-ai-chat-batch-2.poml
  projects/sdap-bff.api-test-suite-repair/tasks/052-ai-chat-batch-3.poml
  projects/sdap-bff.api-test-suite-repair/tasks/053-ai-capabilities.poml
  projects/sdap-bff.api-test-suite-repair/tasks/054-ai-nodes.poml
  projects/sdap-bff.api-test-suite-repair/tasks/055-communications-batch-1.poml
  projects/sdap-bff.api-test-suite-repair/tasks/056-communications-batch-2.poml
  projects/sdap-bff.api-test-suite-repair/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Capabilities/CapabilityRouterBenchmarkTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/CreateTaskNodeExecutorTests.cs
Owners: @spaarke-dev

feat(tests): Phase 2+3 Wave 2.4 complete — -162 failures across unit + integration
  projects/sdap-bff.api-test-suite-repair/baseline/ichatclient-cluster-verification-2026-05-31.md
  projects/sdap-bff.api-test-suite-repair/current-task.md
  projects/sdap-bff.api-test-suite-repair/notes/handoffs/integration-fixture-sibling-discovery-2026-05-31.md
  projects/sdap-bff.api-test-suite-repair/tasks/032-ichatclient-streaming-verification.poml
  projects/sdap-bff.api-test-suite-repair/tasks/060-bff-integration-batch-1.poml
  projects/sdap-bff.api-test-suite-repair/tasks/061-bff-integration-batch-2.poml
  projects/sdap-bff.api-test-suite-repair/tasks/062-spe-integration-repairs.poml
  projects/sdap-bff.api-test-suite-repair/tasks/063-spe-integration-wiremock-fixtures.poml
  projects/sdap-bff.api-test-suite-repair/tasks/TASK-INDEX.md
  tests/integration/Spe.Integration.Tests/IntegrationTestFixture.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/CommunicationIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/PlaybookExecutionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/SseStreamingIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/Workspace/WorkspaceEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/Workspace/WorkspaceLayoutEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/Workspace/WorkspaceTestFixture.cs
Owners: @spaarke-dev

feat(tests): add task 027 — 8 sibling integration fixtures (absorb 98 failures)
  projects/sdap-bff.api-test-suite-repair/tasks/027-sibling-integration-fixtures.poml
Owners: @spaarke-dev

feat(tests): task 027 complete — 6 sibling fixtures, -61 integration failures
  projects/sdap-bff.api-test-suite-repair/baseline/post-027-delta-2026-05-31.md
  projects/sdap-bff.api-test-suite-repair/current-task.md
  projects/sdap-bff.api-test-suite-repair/tasks/027-sibling-integration-fixtures.poml
  tests/integration/Spe.Integration.Tests/AnalysisEndpointsIntegrationTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/ChatEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/KnowledgeBaseEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/ReAnalysisFlowTests.cs
  tests/integration/Spe.Integration.Tests/AuthorizationIntegrationTests.cs
  tests/integration/Spe.Integration.Tests/SemanticSearch/TestHostConfiguration.cs
Owners: @spaarke-dev

feat(tests): Phase 2+3 Wave 2.5 complete — 55 failures handled + 3 real-bugs
  projects/sdap-bff.api-test-suite-repair/current-task.md
  projects/sdap-bff.api-test-suite-repair/ledgers/real-bug-ledger.md
  projects/sdap-bff.api-test-suite-repair/tasks/070-low-tier-api-batch-1.poml
  projects/sdap-bff.api-test-suite-repair/tasks/071-low-tier-api-batch-2.poml
  projects/sdap-bff.api-test-suite-repair/tasks/072-low-tier-api-batch-3.poml
  projects/sdap-bff.api-test-suite-repair/tasks/073-low-tier-endpoint-tests.poml
  projects/sdap-bff.api-test-suite-repair/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/Api/Agent/AgentConversationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Agent/HandoffUrlBuilderTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/AnalysisChatContextEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/DailyBriefingEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/R2SseEventEmitterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/StandaloneChatContextEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Office/OfficeEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Reporting/ReportingAuthorizationFilterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Reporting/ReportingEndpointsTests.cs
Owners: @spaarke-dev

feat(tests): Phase 2+3 close — authoritative measurement -90.6% failure reduction
  projects/sdap-bff.api-test-suite-repair/baseline/post-phase23-authoritative-2026-05-31.md
  projects/sdap-bff.api-test-suite-repair/current-task.md
  projects/sdap-bff.api-test-suite-repair/ledgers/archive-ledger.md
  projects/sdap-bff.api-test-suite-repair/tasks/074-low-tier-closeout.poml
Owners: @spaarke-dev

feat(tests): add task 028 — re-classify 51 residual Failed tests for Phase 2+3 close
  projects/sdap-bff.api-test-suite-repair/tasks/028-residual-classification.poml
Owners: @spaarke-dev

feat(tests): task 028 complete — Phase 2+3 FULL CLOSURE, Failed: 0 both suites
  projects/sdap-bff.api-test-suite-repair/baseline/post-028-classification-2026-05-31.md
  projects/sdap-bff.api-test-suite-repair/current-task.md
  projects/sdap-bff.api-test-suite-repair/ledgers/flaky-ledger.md
  projects/sdap-bff.api-test-suite-repair/ledgers/real-bug-ledger.md
  projects/sdap-bff.api-test-suite-repair/tasks/028-residual-classification.poml
  tests/integration/Spe.Integration.Tests/Api/Ai/ChatEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/KnowledgeBaseEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/ReAnalysisFlowTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/UploadIntegrationTests.cs
  tests/integration/Spe.Integration.Tests/Api/Insights/PrecedentAdminEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/AuthorizationIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AnalysisContextBuilderTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/Layer2/Layer2OutcomeExtractionTests.cs
Owners: @spaarke-dev

feat(governance): Phase 4 Wave 4.1 complete — anti-drift mechanisms codified
  .claude/constraints/bff-extensions.md
  .github/pull_request_template.md
  CLAUDE.md
  docs/procedures/testing-and-code-quality.md
  projects/sdap-bff.api-test-suite-repair/baseline/final-runs-summary.md
  projects/sdap-bff.api-test-suite-repair/baseline/post-084-triple-run-2026-05-31.md
  projects/sdap-bff.api-test-suite-repair/current-task.md
  projects/sdap-bff.api-test-suite-repair/ledgers/archive-ledger.md
  projects/sdap-bff.api-test-suite-repair/ledgers/exit-ledger.md
  projects/sdap-bff.api-test-suite-repair/ledgers/flaky-ledger.md
  projects/sdap-bff.api-test-suite-repair/ledgers/real-bug-ledger.md
  projects/sdap-bff.api-test-suite-repair/ledgers/repair-ledger.md
  projects/sdap-bff.api-test-suite-repair/ledgers/rewrite-ledger.md
  projects/sdap-bff.api-test-suite-repair/tasks/080-update-bff-extensions-constraint.poml
  projects/sdap-bff.api-test-suite-repair/tasks/081-update-pr-template.poml
  projects/sdap-bff.api-test-suite-repair/tasks/082-update-testing-procedure.poml
  projects/sdap-bff.api-test-suite-repair/tasks/083-update-root-claudemd-section10.poml
  projects/sdap-bff.api-test-suite-repair/tasks/084-full-suite-triple-run.poml
  projects/sdap-bff.api-test-suite-repair/tasks/085-publish-ledgers.poml
  projects/sdap-bff.api-test-suite-repair/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @devops-team, @docs-team

feat(tests): Phase 4 Wave 4.2 complete — task 086 final gate PASS
  projects/sdap-bff.api-test-suite-repair/baseline/post-086-final-gate-2026-05-31.md
  projects/sdap-bff.api-test-suite-repair/current-task.md
  projects/sdap-bff.api-test-suite-repair/ledgers/exit-ledger.md
  projects/sdap-bff.api-test-suite-repair/tasks/086-final-verification.poml
  projects/sdap-bff.api-test-suite-repair/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(tests): PROJECT COMPLETE — task 090 wrap-up
  projects/sdap-bff.api-test-suite-repair/README.md
  projects/sdap-bff.api-test-suite-repair/current-task.md
  projects/sdap-bff.api-test-suite-repair/notes/lessons-learned.md
  projects/sdap-bff.api-test-suite-repair/tasks/090-project-wrap-up.poml
  projects/sdap-bff.api-test-suite-repair/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(projects): add design.md for github-actions-rationalization-r1
  projects/github-actions-rationalization-r1/design.md
Owners: @spaarke-dev

docs(projects): add spec.md for github-actions-rationalization-r1
  projects/github-actions-rationalization-r1/spec.md
Owners: @spaarke-dev

docs(projects): add design.md for sdap.bff.api-test-suite-repair-r2
  projects/sdap.bff.api-test-suite-repair-r2/design.md
Owners: @spaarke-dev

docs(projects): add spec.md for sdap.bff.api-test-suite-repair-r2
  projects/sdap.bff.api-test-suite-repair-r2/spec.md
Owners: @spaarke-dev

docs(projects): add design.md for sdap.bff.api-test-suite-repair-r2 (#316)
  projects/sdap.bff.api-test-suite-repair-r2/design.md
  projects/sdap.bff.api-test-suite-repair-r2/spec.md
Owners: @spaarke-dev

docs(projects): initialize github-actions-rationalization-r1 via /project-pipeline
  projects/github-actions-rationalization-r1/CLAUDE.md
  projects/github-actions-rationalization-r1/README.md
  projects/github-actions-rationalization-r1/baseline/.gitkeep
  projects/github-actions-rationalization-r1/current-task.md
  projects/github-actions-rationalization-r1/decisions/.gitkeep
  projects/github-actions-rationalization-r1/ledgers/.gitkeep
  projects/github-actions-rationalization-r1/notes/.gitkeep
  projects/github-actions-rationalization-r1/notes/debug/.gitkeep
  projects/github-actions-rationalization-r1/notes/drafts/.gitkeep
  projects/github-actions-rationalization-r1/notes/handoffs/.gitkeep
  projects/github-actions-rationalization-r1/notes/spikes/.gitkeep
  projects/github-actions-rationalization-r1/plan.md
  projects/github-actions-rationalization-r1/tasks/.gitkeep
  projects/github-actions-rationalization-r1/tasks/001-workflow-inventory-and-baseline.poml
  projects/github-actions-rationalization-r1/tasks/002-master-ci-root-cause.poml
  projects/github-actions-rationalization-r1/tasks/010-fix-deploy-promote-cascade.poml
  projects/github-actions-rationalization-r1/tasks/011-fix-deploy-infrastructure-triggers.poml
  projects/github-actions-rationalization-r1/tasks/012-fix-nightly-quality-schedule.poml
  projects/github-actions-rationalization-r1/tasks/020-audit-untested-workflows.poml
  projects/github-actions-rationalization-r1/tasks/021-execute-deploy-workflow-dispositions.poml
  projects/github-actions-rationalization-r1/tasks/022-execute-non-deploy-workflow-dispositions.poml
  projects/github-actions-rationalization-r1/tasks/030-add-actionlint-workflow.poml
  projects/github-actions-rationalization-r1/tasks/031-configure-required-status-check.poml
  projects/github-actions-rationalization-r1/tasks/032-deliberate-fail-pr-smoke-test.poml
  projects/github-actions-rationalization-r1/tasks/040-add-weekly-health-report-workflow.poml
  projects/github-actions-rationalization-r1/tasks/041-author-workflows-md.poml
  projects/github-actions-rationalization-r1/tasks/042-author-workflow-incident-response.poml
  projects/github-actions-rationalization-r1/tasks/043-document-notification-routing.poml
  projects/github-actions-rationalization-r1/tasks/050-verify-branch-protection-gate-end-to-end.poml
  projects/github-actions-rationalization-r1/tasks/090-project-wrap-up.poml
  projects/github-actions-rationalization-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(github-actions-r1): Wave A complete — Phase 0 inventory + master CI disposition (tasks 001, 002)
  projects/github-actions-rationalization-r1/baseline/branch-protection-2026-06-01.json
  projects/github-actions-rationalization-r1/baseline/workflow-inventory-2026-06-01.md
  projects/github-actions-rationalization-r1/current-task.md
  projects/github-actions-rationalization-r1/decisions/D-01-master-ci-failure-disposition.md
  projects/github-actions-rationalization-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev
