Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

docs(r3): task 113 — workspace architecture + component model + how-to-add-widget + componentization audit
  CLAUDE.md
  docs/architecture/SPAARKEAI-COMPONENT-MODEL.md
  docs/architecture/SPAARKEAI-COMPONENTIZATION-AUDIT.md
  docs/architecture/SPAARKEAI-WORKSPACE-ARCHITECTURE.md
  docs/guides/BUILD-A-NEW-WORKSPACE-WIDGET.md
  projects/spaarke-ai-platform-unification-r3/CLAUDE.md
  projects/spaarke-ai-platform-unification-r3/notes/deploys/2026-05-20-deploy.md
  projects/spaarke-ai-platform-unification-r3/plan.md
  projects/spaarke-ai-platform-unification-r3/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(r3): task 115 — Calendar workspace widget (5th Round-8 system layout)
  projects/spaarke-ai-platform-unification-r3/notes/deploys/2026-05-20-deploy.md
  projects/spaarke-ai-platform-unification-r3/plan.md
  projects/spaarke-ai-platform-unification-r3/tasks/TASK-INDEX.md
  scripts/system-layouts.json
  src/client/shared/Spaarke.Events.Components/package.json
  src/client/shared/Spaarke.Events.Components/src/index.ts
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/index.ts
  src/client/shared/Spaarke.Events.Components/src/widgets/index.ts
  src/solutions/LegalWorkspace/src/sectionRegistry.ts
  src/solutions/LegalWorkspace/src/sections/calendar.registration.ts
  src/solutions/LegalWorkspace/src/sections/index.ts
Owners: @spaarke-dev, @devops-team

docs(r3): commit r8-plan.md (Round 8 dispatch plan, retroactively staged)
  projects/spaarke-ai-platform-unification-r3/notes/r8-plan.md
Owners: @spaarke-dev

ux(r3): task 117 — SpaarkeAi default pane widths 25/50/25 at first cold load
  projects/spaarke-ai-platform-unification-r3/notes/deploys/2026-05-20-deploy.md
  projects/spaarke-ai-platform-unification-r3/plan.md
  projects/spaarke-ai-platform-unification-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/ThreePaneLayout/ThreePaneLayout.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ThreePaneLayout/ThreePaneLayout.types.ts
  src/client/shared/Spaarke.UI.Components/src/components/ThreePaneLayout/useThreePaneLayout.ts
  src/solutions/SpaarkeAi/src/components/shell/ThreePaneShell.tsx
Owners: @spaarke-dev

ux(r3): task 116 — Calendar widget polish (horizontal responsive strip, arrow nav, collapse, grid height)
  projects/spaarke-ai-platform-unification-r3/notes/deploys/2026-05-20-deploy.md
  projects/spaarke-ai-platform-unification-r3/plan.md
  projects/spaarke-ai-platform-unification-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Events.Components/package.json
  src/client/shared/Spaarke.Events.Components/src/components/CalendarSection/CalendarSection.tsx
  src/client/shared/Spaarke.Events.Components/src/index.ts
  src/client/shared/Spaarke.Events.Components/src/utils/dateMath.ts
  src/client/shared/Spaarke.Events.Components/src/utils/index.ts
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
Owners: @spaarke-dev

ux(r3): task 118 — Calendar widget Round 11 polish (collapse-to-filter-row, icon swap, header removal, month spacing, event-day highlight + click-to-filter, grid open-in-full)
  projects/spaarke-ai-platform-unification-r3/notes/deploys/2026-05-20-deploy.md
  projects/spaarke-ai-platform-unification-r3/plan.md
  projects/spaarke-ai-platform-unification-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Events.Components/src/components/CalendarSection/CalendarSection.tsx
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
Owners: @spaarke-dev

ux(r3): task 119 — all-panes-collapsed empty state with smiley + Open (forces 25/50/25 reset)
  projects/spaarke-ai-platform-unification-r3/notes/deploys/2026-05-20-deploy.md
  projects/spaarke-ai-platform-unification-r3/plan.md
  projects/spaarke-ai-platform-unification-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/ThreePaneLayout/ThreePaneLayout.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ThreePaneLayout/ThreePaneLayout.types.ts
  src/client/shared/Spaarke.UI.Components/src/components/ThreePaneLayout/useThreePaneLayout.ts
Owners: @spaarke-dev

lavern(insights-engine): 4-tier taxonomy + 5 enforcement primitives + Precedent scaffold
  docs/architecture/INSIGHTS-ENGINE-ARCHITECTURE.md
  projects/ai-spaarke-insights-engine-r1/README.md
  projects/ai-spaarke-insights-engine-r1/SPEC.md
  projects/ai-spaarke-insights-engine-r1/decisions.md
  projects/ai-spaarke-insights-engine-r1/lavern-pattern-assessment.md
Owners: @spaarke-dev, @docs-team

lavern(action-engine): GateResolver + phase-deny-tools + Tool Registry metadata
  projects/ai-spaarke-action-engine-r1/action-engine-overview.md
  projects/ai-spaarke-action-engine-r1/coordination-assessment-with-insights-engine.md
  projects/ai-spaarke-action-engine-r1/lavern-pattern-assessment.md
Owners: @spaarke-dev

docs(insights-engine): back-propagate arch-doc r2 additions to close drift
  projects/ai-spaarke-insights-engine-r1/SPEC.md
  projects/ai-spaarke-insights-engine-r1/decisions.md
Owners: @spaarke-dev

fix(r3): task 120 — Calendar widget event-day highlight bug + grid spacing + Open icon row move (Round 13)
  projects/spaarke-ai-platform-unification-r3/notes/deploys/2026-05-20-deploy.md
  projects/spaarke-ai-platform-unification-r3/plan.md
  projects/spaarke-ai-platform-unification-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Events.Components/src/components/CalendarSection/CalendarSection.tsx
  src/client/shared/Spaarke.Events.Components/src/components/GridSection/GridSection.tsx
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
Owners: @spaarke-dev

fix(r3): task 121 — Calendar event-date fallback policy correction (Round 13 follow-up)
  projects/spaarke-ai-platform-unification-r3/notes/deploys/2026-05-20-deploy.md
  projects/spaarke-ai-platform-unification-r3/plan.md
  projects/spaarke-ai-platform-unification-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
Owners: @spaarke-dev

observability(rag-indexing): surface destination index + per-chunk failures + guard silent success
  src/server/api/Sprk.Bff.Api/Services/Ai/FileIndexingService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/RagService.cs
Owners: @spaarke-dev

fix(r3): task 122 — Calendar Round 13 follow-up #2 (event-day highlight in active range + Clear filter button + inter-month divider)
  projects/spaarke-ai-platform-unification-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Events.Components/src/components/CalendarSection/CalendarSection.tsx
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
Owners: @spaarke-dev

fix(r3): task 124 — Calendar Round 13 follow-up #3 (text Clear button + calendar→grid spacing + auto-anchor to earliest-event month)
  projects/spaarke-ai-platform-unification-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
Owners: @spaarke-dev

fix(upload-wizard): pass documentId + parentEntity to RAG indexing so chunks aren't orphans
  src/solutions/DocumentUploadWizard/src/services/uploadOrchestrator.ts
Owners: @spaarke-dev

docs(r3): task 123 — refresh architecture documentation through Round 13
  CLAUDE.md
  docs/architecture/SPAARKEAI-COMPONENT-MODEL.md
  docs/architecture/SPAARKEAI-COMPONENTIZATION-AUDIT.md
  docs/architecture/SPAARKEAI-WORKSPACE-ARCHITECTURE.md
  docs/guides/BUILD-A-NEW-WORKSPACE-WIDGET.md
  projects/spaarke-ai-platform-unification-r3/CLAUDE.md
  projects/spaarke-ai-platform-unification-r3/notes/deploys/2026-05-20-deploy.md
  projects/spaarke-ai-platform-unification-r3/plan.md
Owners: @spaarke-dev, @docs-team

fix(r3): task 125 — lock event-day hover appearance (no visual change on hover)
  src/client/shared/Spaarke.Events.Components/src/components/CalendarSection/CalendarSection.tsx
Owners: @spaarke-dev

fix(r3): task 126 — lock event-day hover with !important + remove redundant eventIndicator dot
  src/client/shared/Spaarke.Events.Components/src/components/CalendarSection/CalendarSection.tsx
Owners: @spaarke-dev

fix(r3): task 126 — lock event-day hover with !important + remove redundant eventIndicator dot
  src/client/shared/Spaarke.Events.Components/src/components/CalendarSection/CalendarSection.tsx
Owners: @spaarke-dev

fix(rag-indexing): normalize documentId GUID to lowercase to fix Find Similar after Send to Index
  src/client/webresources/js/sprk_DocumentOperations.js
  src/server/api/Sprk.Bff.Api/Services/Ai/FileIndexingService.cs
Owners: @spaarke-dev

fix(r3): task 127 — three Calendar bugs (other-month days hidden, calendar follows filteredEvents, hover restructured to avoid cascade fight)
  src/client/shared/Spaarke.Events.Components/src/components/CalendarSection/CalendarSection.tsx
  src/client/shared/Spaarke.Events.Components/src/components/GridSection/GridSection.tsx
Owners: @spaarke-dev

fix(r3): task 127 — three Calendar bugs (other-month days hidden, calendar follows filteredEvents, hover restructured to avoid cascade fight)
  src/client/shared/Spaarke.Events.Components/src/components/CalendarSection/CalendarSection.tsx
  src/client/shared/Spaarke.Events.Components/src/components/GridSection/GridSection.tsx
Owners: @spaarke-dev

fix(r3): task 128 — Clear button shows for selectedDate + visually distinguish selected day from event-day
  src/client/shared/Spaarke.Events.Components/src/components/CalendarSection/CalendarSection.tsx
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
Owners: @spaarke-dev

fix(r3): task 128 — Clear button shows for selectedDate + visually distinguish selected day from event-day
  src/client/shared/Spaarke.Events.Components/src/components/CalendarSection/CalendarSection.tsx
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
Owners: @spaarke-dev

docs(rag-indexing): post-mortem documentation for orphan-chunks + GUID-case regression
  .claude/FAILURE-MODES.md
  .claude/patterns/ai/INDEX.md
  .claude/patterns/ai/indexing-pipeline.md
  docs/guides/DOCUMENT-UPLOAD-WIZARD-INTEGRATION-GUIDE.md
  docs/guides/RAG-TROUBLESHOOTING.md
Owners: @spaarke-dev, @docs-team

fix(record-sync): acquire Dataverse MI token before querying — resolves 401 on every cycle
  src/server/api/Sprk.Bff.Api/Services/Jobs/RecordSyncJob.cs
Owners: @spaarke-dev

fix(record-sync): clamp initial watermark to 1900-01-01 — Dataverse CrmDateTime min is 1753
  src/server/api/Sprk.Bff.Api/Services/Jobs/RecordSyncJob.cs
Owners: @spaarke-dev

fix(r3): task 129 — selected-day grey + grid filter fallback to createdon matches calendar highlight semantics
  src/client/shared/Spaarke.Events.Components/src/components/CalendarSection/CalendarSection.tsx
  src/client/shared/Spaarke.Events.Components/src/components/GridSection/GridSection.tsx
Owners: @spaarke-dev

fix(r3): task 129 — selected-day grey + grid filter fallback to createdon matches calendar highlight semantics
  src/client/shared/Spaarke.Events.Components/src/components/CalendarSection/CalendarSection.tsx
  src/client/shared/Spaarke.Events.Components/src/components/GridSection/GridSection.tsx
Owners: @spaarke-dev

feat(r3): task 130 — Calendar widget filter refactor (remove view dropdown; add Type/Status; Apply+Clear pattern)
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
Owners: @spaarke-dev

feat(r3): task 130 — Calendar widget filter refactor (remove view dropdown; add Type/Status; Apply+Clear pattern)
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
Owners: @spaarke-dev

fix(r3): task 131 — Calendar filter row: schema fix for Event Type + reorder fields + ~30% narrower
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
Owners: @spaarke-dev

fix(r3): task 131 — Calendar filter row: schema fix for Event Type + reorder fields + ~30% narrower
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
Owners: @spaarke-dev

fix(r3): task 132 — buildStatusFilter Int32 not String (fixes OData error 2147879048)
  src/client/shared/Spaarke.Events.Components/src/components/GridSection/GridSection.tsx
Owners: @spaarke-dev

fix(r3): task 132 — buildStatusFilter Int32 not String (fixes OData error 2147879048)
  src/client/shared/Spaarke.Events.Components/src/components/GridSection/GridSection.tsx
Owners: @spaarke-dev

fix(r3): task 133 — timezone-correct OData bounds + narrower picklist widths
  src/client/shared/Spaarke.Events.Components/src/components/GridSection/GridSection.tsx
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
Owners: @spaarke-dev

fix(r3): task 133 — timezone-correct OData bounds + narrower picklist widths
  src/client/shared/Spaarke.Events.Components/src/components/GridSection/GridSection.tsx
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
Owners: @spaarke-dev

ux(r3): task 134 — modern responsive filter layout (CSS Grid auto-fit + dedicated action group)
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
Owners: @spaarke-dev

ux(r3): task 134 — modern responsive filter layout (CSS Grid auto-fit + dedicated action group)
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
