Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

docs(agreements-r1): UAT round-6 filed (#14 card placement, #15a dispatch-time run flag, #15b session re-adoption)
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
Owners: @spaarke-dev

fix(agreements-r1): UAT round-6 — dispatch-time run flag (all paths), transcript-inline rerun card, Assistant session re-adoption on restore
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
  projects/ai-advanced-capabilities-agreements-r1/notes/uat4-execution-notes.md
  src/client/shared/Spaarke.AI.Widgets/src/events/PaneEventTypes.ts
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.restore-session-readopt.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.review-chip-depth-ask.e2e.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.wizard-auto-run.e2e.test.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspacePane.compose-run-restore.test.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/composeRunPersistence.test.ts
  src/solutions/SpaarkeAi/src/components/workspace/composeRunPersistence.ts
Owners: @spaarke-dev

docs(agreements-r1): round-6 deploy addendum — live at aff37020, verified (intervening master-current deploy noted)
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
Owners: @spaarke-dev

docs(email-intelligence-r2): prototype-validated Pillar E UI + reconciliation routing
  projects/email-communication-intelligence-r2/spec.md
Owners: @spaarke-dev

fix(spaarkeai): remove committed merge-conflict markers from 5 files (master hotfix)
  src/client/shared/Spaarke.AI.Widgets/src/events/PaneEventTypes.ts
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.review-chip-depth-ask.e2e.test.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspacePane.compose-run-restore.test.tsx
Owners: @spaarke-dev

fix(workspace): rename system layout 'Communications' → 'Messages' to stop duplicate seeding
  scripts/system-layouts.json
Owners: @spaarke-dev, @devops-team

checkpoint(compose-anchor-robustness-r1): context-handoff — architecture DECIDED
  projects/compose-anchor-robustness-r1/current-task.md
Owners: @spaarke-dev

chore(spaarkeai-compose-r6): rename project + repurpose spec/task into design.md
  projects/compose-anchor-robustness-r1/current-task.md
  projects/compose-anchor-robustness-r1/spec.md
  projects/spaarkeai-compose-r6/design.md
  projects/spaarkeai-compose-r6/notes/AppligentNDA_Signed.docx
Owners: @spaarke-dev

chore(spaarkeai-compose-r6): project init off master — design.md + NDA fixture
  projects/spaarkeai-compose-r6/design.md
  projects/spaarkeai-compose-r6/notes/AppligentNDA_Signed.docx
Owners: @spaarke-dev

chore(email-r5): remove the "Email — coming soon" stub now that the full email widget shipped
  src/solutions/SpaarkeAi/src/components/workspace/EmailStubWidget.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspacePane.email-stub.test.tsx
Owners: @spaarke-dev

chore(email-r5): remove EmailStubWidget import + intercept block from WorkspacePane
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeAiToolbar.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
Owners: @spaarke-dev

chore(email-r5): drop now-unused WorkspaceWidgetComponent import from WorkspacePane
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
Owners: @spaarke-dev

fix: #712 LegalWorkspace missing @spaarke/ai-outputs dep + #716 sprk_DocumentOperations.js copy reconciliation
  infrastructure/dataverse/ribbon/DocumentRibbons/WebResources/sprk_DocumentOperations.js
  src/solutions/LegalWorkspace/package-lock.json
  src/solutions/LegalWorkspace/package.json
Owners: @spaarke-dev

docs(assistant-r2): add design + spec for spaarkeai-assistant-enhancements-r2
  projects/spaarkeai-assistant-enhancements-r2/design.md
  projects/spaarkeai-assistant-enhancements-r2/notes/as-built-evidence-2026-08-04.md
  projects/spaarkeai-assistant-enhancements-r2/spec.md
Owners: @spaarke-dev

docs(email-intelligence-r2): resolve open questions — run spike-free
  projects/email-communication-intelligence-r2/CLAUDE.md
  projects/email-communication-intelligence-r2/plan.md
  projects/email-communication-intelligence-r2/tasks/001-spe-spike-quickxorhash-timing.poml
  projects/email-communication-intelligence-r2/tasks/002-spe-spike-tier2-neardup-threshold.poml
  projects/email-communication-intelligence-r2/tasks/023-canonicalhash-column-schema.poml
  projects/email-communication-intelligence-r2/tasks/024-spe-content-dedup-tier1.poml
  projects/email-communication-intelligence-r2/tasks/030-fix-rag-grounding-parententity.poml
  projects/email-communication-intelligence-r2/tasks/034-job-c-apply-endpoint.poml
  projects/email-communication-intelligence-r2/tasks/053-browse-shell-and-reader.poml
  projects/email-communication-intelligence-r2/tasks/090-project-wrap-up.poml
  projects/email-communication-intelligence-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(email-intelligence-r2): mark open questions resolved in INDEX registry
  projects/INDEX.md
Owners: @spaarke-dev

fix(agreements-r1): resolve committed merge-conflict markers in UAT notes + add 5 synthesized e2e test docs (LFS)
  projects/ai-advanced-capabilities-agreements-r1/assets/e2e-061/test-docs/test-composite-employment-nda.docx
  projects/ai-advanced-capabilities-agreements-r1/assets/e2e-061/test-docs/test-employment.docx
  projects/ai-advanced-capabilities-agreements-r1/assets/e2e-061/test-docs/test-invoice.docx
  projects/ai-advanced-capabilities-agreements-r1/assets/e2e-061/test-docs/test-large-msa.docx
  projects/ai-advanced-capabilities-agreements-r1/assets/e2e-061/test-docs/test-nda.docx
  projects/ai-advanced-capabilities-agreements-r1/notes/uat-round1-2026-08-03.md
  tests/eval/metrics/__pycache__/citation_accuracy.cpython-313.pyc
Owners: @spaarke-dev

test(agreements-r1): live-eval report + correct NdaReviewDispatchEval disposition to Compose (FR-16a contract)
  projects/ai-advanced-capabilities-agreements-r1/notes/live-eval-report.md
  tests/integration/contract/Eval/NdaReviewDispatchEvalTests.cs
Owners: @spaarke-dev

feat(email-r5): floating highlight-text AI toolbar in the composer (reuse shared InlineAiToolbar)
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/EmailComposer.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/__tests__/aiSparkle.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/subcomponents/BodyEditor.tsx
  src/client/shared/Spaarke.UI.Components/src/components/InlineAiToolbar/inlineAiToolbar.types.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useInlineAiActions.ts
Owners: @spaarke-dev

fix(lw): #717 item 1 — file-preview 'Open record' opens the Layout-1 record MODAL (workspace never clobbered)
  src/solutions/LegalWorkspace/src/components/FilePreview/FilePreviewDialog.tsx
Owners: @spaarke-dev

docs(email-intelligence-r2): refresh current-task.md for clean session recovery (spike-free start)
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

feat(modal-followons): #714 FindSimilar viewer rename + #715/#717 dead-code deletions + LW build fixes
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/ControlManifest.Input.xml
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/RelatedDocumentCount.tsx
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/__tests__/RelatedDocumentCount.test.tsx
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/ControlManifest.xml
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
  src/client/pcf/RelatedDocumentCount/Solution/pack.ps1
  src/client/pcf/RelatedDocumentCount/Solution/solution.xml
  src/client/pcf/RelatedDocumentCount/package-lock.json
  src/client/pcf/RelatedDocumentCount/tsconfig.json
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
  src/client/shared/Spaarke.UI.Components/src/components/FindSimilarDialog/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/FindSimilarViewer/FindSimilarViewerDialog.tsx
  src/client/shared/Spaarke.UI.Components/src/components/FindSimilarViewer/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
  src/client/shared/Spaarke.UI.Components/src/pcf-safe.ts
  src/solutions/LegalWorkspace/package-lock.json
  src/solutions/LegalWorkspace/package.json
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/AddFilesStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/AssignWorkStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/CreateFollowOnEventStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/EnterInfoStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/NextStepsSelectionStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/SelectWorkStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/WorkAssignmentWizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/formTypes.ts
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/workAssignmentService.ts
  src/solutions/LegalWorkspace/src/components/MyPortfolio/DocumentItem.tsx
  src/solutions/LegalWorkspace/src/components/MyPortfolio/GradePill.tsx
  src/solutions/LegalWorkspace/src/components/MyPortfolio/MatterItem.tsx
  src/solutions/LegalWorkspace/src/components/MyPortfolio/MyPortfolioWidget.tsx
  src/solutions/LegalWorkspace/src/components/MyPortfolio/ProjectItem.tsx
  src/solutions/LegalWorkspace/src/components/MyPortfolio/index.ts
  src/solutions/LegalWorkspace/src/components/RecordCards/DocumentCard.tsx
  src/solutions/LegalWorkspace/vite.config.ts
Owners: @spaarke-dev

chore(spaarkeai-compose-r6): scaffold project — spec, plan, 30 POML tasks
  projects/INDEX.md
  projects/spaarkeai-compose-r6/CLAUDE.md
  projects/spaarkeai-compose-r6/README.md
  projects/spaarkeai-compose-r6/current-task.md
  projects/spaarkeai-compose-r6/plan.md
  projects/spaarkeai-compose-r6/spec.md
  projects/spaarkeai-compose-r6/tasks/001-adr049-amendment.poml
  projects/spaarkeai-compose-r6/tasks/002-verify-spe-versioning.poml
  projects/spaarkeai-compose-r6/tasks/003-measure-publish-baseline.poml
  projects/spaarkeai-compose-r6/tasks/004-nda-corpus-fixture.poml
  projects/spaarkeai-compose-r6/tasks/010-render-on-save-routing.poml
  projects/spaarkeai-compose-r6/tasks/011-generalize-renderer.poml
  projects/spaarkeai-compose-r6/tasks/012-retire-surgical-save-path.poml
  projects/spaarkeai-compose-r6/tasks/013-render-on-save-tests.poml
  projects/spaarkeai-compose-r6/tasks/014-phase1-deploy-uat.poml
  projects/spaarkeai-compose-r6/tasks/020-canonical-model.poml
  projects/spaarkeai-compose-r6/tasks/021-numbering-lists.poml
  projects/spaarkeai-compose-r6/tasks/022-tables.poml
  projects/spaarkeai-compose-r6/tasks/023-headers-footers-pagebreaks.poml
  projects/spaarkeai-compose-r6/tasks/024-hyperlinks-comments.poml
  projects/spaarkeai-compose-r6/tasks/025-tracked-changes.poml
  projects/spaarkeai-compose-r6/tasks/026-hardtier-graceful-degradation.poml
  projects/spaarkeai-compose-r6/tasks/027-fidelity-seam-tests.poml
  projects/spaarkeai-compose-r6/tasks/030-partmerge-engine.poml
  projects/spaarkeai-compose-r6/tasks/031-template-storage-reuse.poml
  projects/spaarkeai-compose-r6/tasks/032-partmerge-endpoint-client.poml
  projects/spaarkeai-compose-r6/tasks/033-partmerge-tests.poml
  projects/spaarkeai-compose-r6/tasks/040-pdf-to-canonical-model.poml
  projects/spaarkeai-compose-r6/tasks/041-pdf-open-edit-save-client.poml
  projects/spaarkeai-compose-r6/tasks/042-pdf-intake-tests.poml
  projects/spaarkeai-compose-r6/tasks/050-obo-version-list-endpoint.poml
  projects/spaarkeai-compose-r6/tasks/051-documents-versionhistory-client.poml
  projects/spaarkeai-compose-r6/tasks/052-version-history-tests.poml
  projects/spaarkeai-compose-r6/tasks/060-fidelity-harness.poml
  projects/spaarkeai-compose-r6/tasks/061-harness-ci-gate.poml
  projects/spaarkeai-compose-r6/tasks/090-project-wrap-up.poml
  projects/spaarkeai-compose-r6/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore(assistant-r2): initialize project pipeline — artifacts + 27 task POMLs
  projects/INDEX.md
  projects/spaarkeai-assistant-enhancements-r2/CLAUDE.md
  projects/spaarkeai-assistant-enhancements-r2/README.md
  projects/spaarkeai-assistant-enhancements-r2/current-task.md
  projects/spaarkeai-assistant-enhancements-r2/notes/.gitkeep
  projects/spaarkeai-assistant-enhancements-r2/notes/debug/.gitkeep
  projects/spaarkeai-assistant-enhancements-r2/notes/drafts/.gitkeep
  projects/spaarkeai-assistant-enhancements-r2/notes/handoffs/.gitkeep
  projects/spaarkeai-assistant-enhancements-r2/notes/spikes/.gitkeep
  projects/spaarkeai-assistant-enhancements-r2/plan.md
  projects/spaarkeai-assistant-enhancements-r2/tasks/.gitkeep
  projects/spaarkeai-assistant-enhancements-r2/tasks/001-remove-notifications-banner.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/002-deploy-verify-e.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/010-active-tab-subscriber.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/011-focus-stamp-decorate.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/012-server-focus-stamp.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/013-deploy-verify-a.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/020-context-type-set.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/021-catalog-context-tags.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/022-proactive-suggestion-turn.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/023-refresh-suggestions.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/024-proactive-trace.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/025-deploy-verify-b.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/030-awaited-transcript-write.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/031-history-404.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/032-stored-title-rename.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/033-retention-ttl.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/034-set-related-record.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/035-history-rich-restore.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/036-attachment-chip-rehydrate.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/037-history-overlay-rebuild.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/038-reanalyze-chip.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/039-deploy-verify-d.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/040-email-serialized-state.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/041-email-visible-state-server.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/042-email-get-visible-state.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/043-deploy-verify-c.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/090-project-wrap-up.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(assistant-r2): correct stale cross-worktree overlap warning
  projects/INDEX.md
  projects/spaarkeai-assistant-enhancements-r2/CLAUDE.md
  projects/spaarkeai-assistant-enhancements-r2/README.md
  projects/spaarkeai-assistant-enhancements-r2/current-task.md
  projects/spaarkeai-assistant-enhancements-r2/plan.md
  projects/spaarkeai-assistant-enhancements-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(spaarkeai-compose-r6): ADR-049 R6 Path-B amendment — render-on-save save path (task 001)
  .claude/CHANGELOG.md
  .claude/adr/ADR-049-compose-shadow-document.md
  projects/spaarkeai-compose-r6/current-task.md
  projects/spaarkeai-compose-r6/notes/adr049-amendment-summary.md
  projects/spaarkeai-compose-r6/tasks/001-adr049-amendment.poml
  projects/spaarkeai-compose-r6/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(communication): FR-D1 RAG grounding + R1 golden-fixture pinning (tasks 003, 030)
  projects/email-communication-intelligence-r2/current-task.md
  projects/email-communication-intelligence-r2/notes/030-rag-backfill-decision.md
  projects/email-communication-intelligence-r2/notes/defer-issues.md
  projects/email-communication-intelligence-r2/notes/fixtures/r1-golden-emails.md
  projects/email-communication-intelligence-r2/tasks/003-r1-closeout-golden-fixtures.poml
  projects/email-communication-intelligence-r2/tasks/030-fix-rag-grounding-parententity.poml
  projects/email-communication-intelligence-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationEnrichmentService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/RegardingParentEntityMapper.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingCommunicationProcessor.cs
  tests/integration/seam/Communication/RagGroundingParentEntitySeamTests.cs
Owners: @spaarke-dev

feat(teams-app-r1): deploy tail — BFF (065) + PCF (045) deployed to dev (2 tasks)
  projects/teams-app-r1/current-task.md
  projects/teams-app-r1/tasks/045-deploy-trackingfieldtrio-pcf.poml
  projects/teams-app-r1/tasks/065-deploy-bff.poml
  projects/teams-app-r1/tasks/TASK-INDEX.md
  src/client/pcf/TrackingFieldTrio/Solution/Controls/sprk_Spaarke.Controls.TrackingFieldTrio/bundle.js
  src/client/pcf/TrackingFieldTrio/Solution/pack.ps1
Owners: @spaarke-dev

perf(communication): FR-D2 batch identifier reverse-lookup (~175 -> <=7 queries) (task 031)
  projects/email-communication-intelligence-r2/current-task.md
  projects/email-communication-intelligence-r2/tasks/031-batched-identifier-query.poml
  projects/email-communication-intelligence-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/Rungs/IdentifierReverseLookupRung.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/ICommunicationDataverseService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/IdentifierReverseLookupRungTests.cs
Owners: @spaarke-dev

ci(teams-app-r1): inject Teams workforce MSAL config into external-spa SWA build
  .github/workflows/deploy-external-spa.yml
Owners: @spaarke-dev, @devops-team

chore(spaarkeai-compose-r6): Phase 0 foundations — tasks 002/003/004
  projects/spaarkeai-compose-r6/current-task.md
  projects/spaarkeai-compose-r6/notes/nda-fixture-coverage.md
  projects/spaarkeai-compose-r6/notes/publish-baseline.md
  projects/spaarkeai-compose-r6/notes/spe-versioning-verify.md
  projects/spaarkeai-compose-r6/tasks/002-verify-spe-versioning.poml
  projects/spaarkeai-compose-r6/tasks/003-measure-publish-baseline.poml
  projects/spaarkeai-compose-r6/tasks/004-nda-corpus-fixture.poml
  projects/spaarkeai-compose-r6/tasks/TASK-INDEX.md
  tests/fixtures/compose-corpus/AppligentNDA_Signed.docx
  tests/fixtures/compose-corpus/corpus-manifest.md
Owners: @spaarke-dev

docs(external-access-r2): scope R2 as multi-app platform foundation + Legal Front Door
  projects/spaarke-SPA-external-access-platform-r2/design.md
  projects/spaarke-SPA-external-access-platform-r2/notes/external-access-capability-synopsis.md
Owners: @spaarke-dev

fix(security): patch System.Security.Cryptography.Xml 8.0.3 -> 8.0.4 (3 HIGH CVEs)
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
Owners: @spaarke-dev

chore(spaarkeai-compose-r6): checkpoint — task 010 loaded, stopped at pre-implementation gate
  projects/spaarkeai-compose-r6/current-task.md
Owners: @spaarke-dev

test(communication): formalize FR-A3 external-reply self-association guarantee (task 015)
  projects/email-communication-intelligence-r2/current-task.md
  projects/email-communication-intelligence-r2/notes/015-fr-a3-self-association-guarantee.md
  projects/email-communication-intelligence-r2/tasks/015-thread-self-association-formalize.poml
  projects/email-communication-intelligence-r2/tasks/TASK-INDEX.md
  tests/integration/seam/Communication/ThreadSelfAssociationRegressionTests.cs
Owners: @spaarke-dev

feat(assistant-r2): task 001 (FR-E1) remove spine-driven suggestion surface
  projects/spaarkeai-assistant-enhancements-r2/current-task.md
  projects/spaarkeai-assistant-enhancements-r2/notes/deviations.md
  projects/spaarkeai-assistant-enhancements-r2/tasks/001-remove-notifications-banner.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/TASK-INDEX.md
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/SuggestionCard.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/useSuggestionCards.tsx
Owners: @spaarke-dev

feat(assistant-r2): wave A1 — tasks 010 (FR-A1) + 012 (FR-A3/A4) active-tab focus-stamp
  projects/spaarkeai-assistant-enhancements-r2/current-task.md
  projects/spaarkeai-assistant-enhancements-r2/tasks/010-active-tab-subscriber.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/012-server-focus-stamp.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/NullSprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/activeTabFocusStamp.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/activeTabFocusStamp.ts
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SprkChatAgentFactoryWorkspaceStateTests.cs
Owners: @spaarke-dev

feat(assistant-r2): task 011 (FR-A2) focus-stamp decorate — completes workstream A impl
  projects/spaarkeai-assistant-enhancements-r2/current-task.md
  projects/spaarkeai-assistant-enhancements-r2/tasks/011-focus-stamp-decorate.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/TASK-INDEX.md
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.active-context-decorate.e2e.test.tsx
Owners: @spaarke-dev

@ docs(spaarkeai-compose-r6): re-sequence render-on-save model-first (task 010 dependency-inversion fix)
  projects/spaarkeai-compose-r6/current-task.md
  projects/spaarkeai-compose-r6/notes/task-010-resequence-decision.md
  projects/spaarkeai-compose-r6/plan.md
  projects/spaarkeai-compose-r6/tasks/010-render-on-save-routing.poml
  projects/spaarkeai-compose-r6/tasks/011-generalize-renderer.poml
  projects/spaarkeai-compose-r6/tasks/012-retire-surgical-save-path.poml
  projects/spaarkeai-compose-r6/tasks/014-phase1-deploy-uat.poml
  projects/spaarkeai-compose-r6/tasks/020-canonical-model.poml
  projects/spaarkeai-compose-r6/tasks/027-fidelity-seam-tests.poml
  projects/spaarkeai-compose-r6/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(communication): ground RAG on service-request regarding (close DEFER-030-01)
  projects/email-communication-intelligence-r2/notes/030-rag-backfill-decision.md
  projects/email-communication-intelligence-r2/notes/defer-issues.md
  src/server/api/Sprk.Bff.Api/Models/Ai/ParentEntityContext.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/RegardingParentEntityMapper.cs
  tests/integration/seam/Communication/RagGroundingParentEntitySeamTests.cs
Owners: @spaarke-dev
