Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

docs(ai-platform): generate AI implementation spec from design documents
  projects/spaarke-ai-platform-unification-r2/spec.md
Owners: @spaarke-dev

feat(ai-platform): complete Wave 1 — infrastructure, DI modules, contracts, agent boundary
  .claude/adr/ADR-015-ai-data-governance.md
  .claude/constraints/ai.md
  docs/adr/ADR-015-ai-data-governance.md
  docs/architecture/auth-AI-azure-resources.md
  docs/architecture/auth-azure-resources.md
  docs/guides/AI-MODEL-SELECTION-GUIDE.md
  infrastructure/ai-search/discovery-index.json
  infrastructure/ai-search/spaarke-knowledge-index-v2.json
  infrastructure/ai-search/spaarke-records-index.json
  infrastructure/bicep/modules/content-safety.bicep
  infrastructure/bicep/modules/cosmos-db.bicep
  infrastructure/bicep/modules/openai.bicep
  infrastructure/bicep/platform.bicep
  infrastructure/contracts/sse-events/_shared-defs.json
  infrastructure/contracts/sse-events/capability-change.schema.json
  infrastructure/contracts/sse-events/context-highlight.schema.json
  infrastructure/contracts/sse-events/context-update.schema.json
  infrastructure/contracts/sse-events/manifest.json
  infrastructure/contracts/sse-events/safety-annotation.schema.json
  infrastructure/contracts/sse-events/suggestions.schema.json
  infrastructure/contracts/sse-events/workspace-action.schema.json
  infrastructure/contracts/sse-events/workspace-widget.schema.json
  scripts/Provision-CosmosDb.ps1
  scripts/Verify-ContentSafetyResource.ps1
  scripts/ai-search/Deploy-IndexSchemas.ps1
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiCapabilitiesModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiChatModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiPersistenceModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiSafetyModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Sse/SseEventSchemaValidator.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/AgentRequest.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ConversationTurn.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/DirectOpenAiAgent.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ISprkAgent.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SseEvent.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
Owners: @spaarke-dev, @docs-team, @devops-team

feat(ai-platform): complete Wave 2.1 — capabilities, safety, persistence, search
  infrastructure/cosmos/audit-container-policy.json
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiCapabilitiesModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiPersistenceModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiSafetyModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/TelemetryModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Audit/AuditEntry.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Audit/AuditHashHelper.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Audit/AuditLogService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Audit/IAuditLogService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityManifest.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityManifestEntry.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityManifestInitializer.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/DataverseCapabilityManifestLoader.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/ICapabilityManifest.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/ICapabilityManifestLoader.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/Tools/DataverseQueryTools.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/GroundednessCheckService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/GroundednessRequest.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/GroundednessResult.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/IGroundednessCheckService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/IPromptShieldService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/PromptShieldRequest.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/PromptShieldResult.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/PromptShieldService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/ISessionPersistenceService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionMessage.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionPersistenceService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/StoredSession.cs
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
  src/server/api/Sprk.Bff.Api/Telemetry/GroundednessCheckTelemetry.cs
  src/server/api/Sprk.Bff.Api/Telemetry/PromptShieldTelemetry.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Audit/AuditLogServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/CapabilityManifestTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/Tools/DataverseQueryToolsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/GroundednessCheckServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/PromptShieldServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Sessions/SessionPersistenceServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Sprk.Bff.Api.Tests.csproj
Owners: @spaarke-dev

feat(ai-platform): complete Wave 2.3 — router, prompt builder, citations, feedback, playbook
  scripts/Create-DefaultPlaybook.ps1
  src/server/api/Sprk.Bff.Api/Api/Ai/FeedbackEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiCapabilitiesModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiPersistenceModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiSafetyModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityRouter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityRouterOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityRoutingResult.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/ICapabilityRouter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/DefaultPlaybookConstants.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/IOrchestratorPromptBuilder.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/OrchestratorPrompt.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/OrchestratorPromptBuilder.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/OrchestratorPromptContext.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Feedback/FeedbackAggregate.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Feedback/FeedbackEntry.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Feedback/FeedbackService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Feedback/IFeedbackService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/Citations/InternalIndexProvider.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Capabilities/CapabilityRouterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/OrchestratorPromptBuilderTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Feedback/FeedbackServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/InternalIndexProviderTests.cs
Owners: @spaarke-dev, @devops-team

feat(ai-platform): complete Wave 2.4 — routing layers 2+3, validation, citations, confidence, SSE guard
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiCapabilitiesModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiSafetyModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Sse/ISseEventValidator.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Sse/SseEventValidationResult.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Sse/SseEventValidator.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/Chat/PlaybookCapabilities.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityClassificationPromptBuilder.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityRouter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityRouterOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityRoutingResult.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityValidationContext.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityValidator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/ICapabilityRouter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/ICapabilityValidator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SseOutputGuard.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/Tools/VerifyCitationsTool.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/Citations/CitationSafetyCheck.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/ConfidenceLevel.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/ConfidenceScoringRequest.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/ConfidenceScoringResult.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/ConfidenceScoringService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/IConfidenceScoringService.cs
  src/server/api/Sprk.Bff.Api/Telemetry/SseValidationTelemetry.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/Streaming/SseEventValidatorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/Streaming/SseOutputGuardTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Capabilities/CapabilityRouterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Capabilities/CapabilityValidatorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/OrchestratorPromptBuilderTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/ConfidenceScoringServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/VerifyCitationsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Sprk.Bff.Api.Tests.csproj
Owners: @spaarke-dev

feat(ai-platform): AIPU2-027 — privilege-aware retrieval via privilege_group_ids filter
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiSafetyModule.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/KnowledgeDocument.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IRagService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/RagService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Security/IPrivilegeGroupResolver.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Security/PrivilegeFilterBuilder.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Security/PrivilegeGroupResolver.cs
  src/server/api/Sprk.Bff.Api/Telemetry/AiTelemetry.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/RagServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Security/PrivilegeAwareRagServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Security/PrivilegeFilterBuilderTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Security/PrivilegeGroupResolverTests.cs
Owners: @spaarke-dev

feat(ai-platform): complete Wave 2.5 + Phase 2 — privilege, cross-matter, restore, summarization
  projects/spaarke-ai-platform-unification-r2/current-task.md
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiPersistenceModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/CrossMatter/ConversationHistorySanitizer.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/CrossMatter/IConversationHistorySanitizer.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/CrossMatter/IMatterContextDetector.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/CrossMatter/MatterContextChange.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/CrossMatter/MatterContextDetector.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/CrossMatter/SanitizedHistory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/ISessionPersistenceService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/ISessionRestoreService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/ISessionSummarizationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/KeyConclusion.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/RestoredSession.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionEntityRef.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionPersistenceService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionRestoreService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionSummarizationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionSummary.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/StoredSession.cs
  src/server/api/Sprk.Bff.Api/Telemetry/CrossMatterSafetyTelemetry.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/ConversationHistorySanitizerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/MatterContextDetectorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Sessions/SessionRestoreServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Sessions/SessionSummarizationServiceTests.cs
Owners: @spaarke-dev

feat(ai-platform): complete W3.1 + W4.1 — agent impl, SSE events, Cosmos session, widget package, event bus
  src/client/shared/Spaarke.AI.Widgets/jest.config.ts
  src/client/shared/Spaarke.AI.Widgets/package-lock.json
  src/client/shared/Spaarke.AI.Widgets/package.json
  src/client/shared/Spaarke.AI.Widgets/src/events/.gitkeep
  src/client/shared/Spaarke.AI.Widgets/src/events/PaneEventBus.ts
  src/client/shared/Spaarke.AI.Widgets/src/events/PaneEventBusContext.tsx
  src/client/shared/Spaarke.AI.Widgets/src/events/PaneEventTypes.ts
  src/client/shared/Spaarke.AI.Widgets/src/events/__tests__/PaneEventBus.test.ts
  src/client/shared/Spaarke.AI.Widgets/src/events/__tests__/usePaneEvent.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/events/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/events/useDispatchPaneEvent.ts
  src/client/shared/Spaarke.AI.Widgets/src/events/usePaneEvent.ts
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/registry/.gitkeep
  src/client/shared/Spaarke.AI.Widgets/src/types/event-types.ts
  src/client/shared/Spaarke.AI.Widgets/src/types/widget-types.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/.gitkeep
  src/client/shared/Spaarke.AI.Widgets/tsconfig.json
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/R2SseEventEmitter.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiChatModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ChatSessionManager.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/DirectOpenAiAgent.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/ISessionPersistenceService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionPersistenceService.cs
  src/solutions/SpaarkeAi/package.json
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/R2SseEventEmitterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/ChatSessionManagerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/DirectOpenAiAgentTests.cs
Owners: @spaarke-dev

feat(ai-platform): complete W3.2 + W4.2 — factory integration, safety pipeline, monitoring, widget types/registries
  projects/spaarke-ai-platform-unification-r2/tasks/071-workspace-widget-interface.poml
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/registry/ContextWidgetRegistry.ts
  src/client/shared/Spaarke.AI.Widgets/src/registry/WorkspaceWidgetRegistry.ts
  src/client/shared/Spaarke.AI.Widgets/src/registry/__tests__/ContextWidgetRegistry.test.ts
  src/client/shared/Spaarke.AI.Widgets/src/registry/__tests__/WorkspaceWidgetRegistry.test.ts
  src/client/shared/Spaarke.AI.Widgets/src/registry/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/types/ContextWidget.ts
  src/client/shared/Spaarke.AI.Widgets/src/types/WorkspaceWidget.ts
  src/client/shared/Spaarke.AI.Widgets/src/types/shared.ts
  src/client/shared/Spaarke.AI.Widgets/src/types/widget-types.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/GenericTextWidget.tsx
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiCapabilitiesModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiChatModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiSafetyModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/TelemetryModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/Middleware/SafetyPipelineMiddleware.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Telemetry/AiLatencyTelemetry.cs
  src/server/api/Sprk.Bff.Api/Telemetry/AiLatencyTracker.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/Middleware/SafetyPipelineMiddlewareTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SprkChatAgentFactoryTests.cs
Owners: @spaarke-dev

feat(ai-platform): complete W4.3 — ThreePaneShell, AiSessionProvider, SSE consolidation
  src/client/shared/Spaarke.AI.Context/src/hooks/index.ts
  src/client/shared/Spaarke.AI.Context/src/hooks/useSseStream.ts
  src/client/shared/Spaarke.AI.Widgets/jest.config.ts
  src/client/shared/Spaarke.AI.Widgets/package-lock.json
  src/client/shared/Spaarke.AI.Widgets/package.json
  src/client/shared/Spaarke.AI.Widgets/src/__mocks__/@spaarke/auth.ts
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/providers/AiSessionProvider.tsx
  src/client/shared/Spaarke.AI.Widgets/src/providers/__tests__/AiSessionProvider.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/providers/useAiSession.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/hooks/useSseStream.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/index.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/index.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useSseStream.ts
  src/solutions/SpaarkeAi/package-lock.json
  src/solutions/SpaarkeAi/src/App.tsx
  src/solutions/SpaarkeAi/src/components/shell/ThreePaneShell.tsx
  src/solutions/SpaarkeAi/tsconfig.json
Owners: @spaarke-dev

feat(ai-platform): complete W4.4 — all three pane components wired into ThreePaneShell
  projects/spaarke-ai-platform-unification-r2/tasks/078-context-pane.poml
  src/solutions/SpaarkeAi/jest.config.ts
  src/solutions/SpaarkeAi/src/components/ChatHistoryPanel.tsx
  src/solutions/SpaarkeAi/src/components/context/ContextPaneController.tsx
  src/solutions/SpaarkeAi/src/components/context/__tests__/ContextPaneController.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/shell/ThreePaneShell.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspaceTabManager.ts
  src/solutions/SpaarkeAi/src/components/workspace/WorkspaceTabManagerComponent.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspaceTabManager.test.ts
Owners: @spaarke-dev

feat(ai-platform): complete W4.5 — widget migration (13 widgets) + 4 new widgets
  src/client/shared/Spaarke.AI.Widgets/jest.config.ts
  src/client/shared/Spaarke.AI.Widgets/package.json
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/registry/register-context-widgets.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/CitationContextWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/CodeViewerContextWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/ContextWidgetAdapter.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/DocumentViewerContextWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/EntityInfoWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/ImageViewerContextWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/LegalLibraryContextWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/PlaybookGalleryWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/ProgressTrackerWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/WebSourceContextWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/__tests__/ContextWidgetAdapter.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/__tests__/EntityInfoWidget.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/__tests__/PlaybookGalleryWidget.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/__tests__/ProgressTrackerWidget.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/__tests__/register-context-widgets.test.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/register-context-widgets.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/RedlineViewerWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/WorkspaceWidgetWrapper.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/WorkspaceWidgetWrapper.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/register-workspace-widgets.test.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/register-workspace-widgets.ts
  src/client/shared/Spaarke.AI.Widgets/tsconfig.json
Owners: @spaarke-dev

feat(ai-platform): complete W4.6 + PHASE 4 — findings widget, safety/confidence/feedback UI
  projects/spaarke-ai-platform-unification-r2/current-task.md
  src/client/shared/Spaarke.AI.Widgets/src/components/CitationBadge.tsx
  src/client/shared/Spaarke.AI.Widgets/src/components/ConfidenceIndicator.tsx
  src/client/shared/Spaarke.AI.Widgets/src/components/FeedbackButtons.tsx
  src/client/shared/Spaarke.AI.Widgets/src/components/GroundednessHighlight.tsx
  src/client/shared/Spaarke.AI.Widgets/src/components/SafetyAnnotationOverlay.tsx
  src/client/shared/Spaarke.AI.Widgets/src/components/__tests__/SafetyAnnotationOverlay.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/registry/register-context-widgets.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/FindingsWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/__tests__/FindingsWidget.test.tsx
Owners: @spaarke-dev

feat(ai-platform): complete W5.1 — all 6 cross-pane interactions + embedded wizards + stage lifecycle
  src/client/shared/Spaarke.AI.Widgets/src/events/PaneEventTypes.ts
  src/client/shared/Spaarke.AI.Widgets/src/events/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/interactions/CitationLinkHandler.ts
  src/client/shared/Spaarke.AI.Widgets/src/interactions/StageTransitionRules.ts
  src/client/shared/Spaarke.AI.Widgets/src/interactions/TabContextMapping.ts
  src/client/shared/Spaarke.AI.Widgets/src/interactions/TextSelectionListener.tsx
  src/client/shared/Spaarke.AI.Widgets/src/interactions/__tests__/CitationLinkFlow.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/interactions/useCitationLink.ts
  src/client/shared/Spaarke.AI.Widgets/src/interactions/useTextSelection.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/PlaybookGalleryWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/CreateMatterWizardWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/DocumentUploadWizardWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/SearchSelectWizardWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/WorkspaceWidgetWrapper.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/register-workspace-widgets.ts
  src/solutions/SpaarkeAi/src/components/context/ContextPaneController.tsx
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/shell/ThreePaneShell.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspaceTabManager.ts
Owners: @spaarke-dev

chore: checkpoint current-task.md — 69/86 tasks (80%)
  projects/spaarke-ai-platform-unification-r2/current-task.md
Owners: @spaarke-dev

feat(ai-platform): complete W5.2 — session restore E2E + welcome panel redesign
  projects/spaarke-ai-platform-unification-r2/current-task.md
  projects/spaarke-ai-platform-unification-r2/tasks/106-session-restore-e2e.poml
  projects/spaarke-ai-platform-unification-r2/tasks/107-welcome-panel-redesign.poml
  projects/spaarke-ai-platform-unification-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/solutions/SpaarkeAi/src/App.tsx
  src/solutions/SpaarkeAi/src/components/WelcomePanel.tsx
  src/solutions/SpaarkeAi/src/components/context/ContextPaneController.tsx
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/shell/ThreePaneShell.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspaceLandingWidget.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/SpaarkeAi/src/hooks/useSessionRestore.ts
  src/solutions/SpaarkeAi/src/main.tsx
Owners: @spaarke-dev

test(ai-platform): complete W6.1 — testing & hardening (6 tasks)
  notes/audit-immutability-test-report.md
  notes/prompt-budget-validation-report.md
  notes/routing-benchmark-corpus.json
  notes/routing-benchmark-report.md
  notes/safety-e2e-test-report.md
  notes/session-restore-load-test-report.md
  notes/widget-serialize-test-report.md
  projects/spaarke-ai-platform-unification-r2/current-task.md
  projects/spaarke-ai-platform-unification-r2/tasks/110-safety-e2e-test.poml
  projects/spaarke-ai-platform-unification-r2/tasks/111-widget-serialize-test.poml
  projects/spaarke-ai-platform-unification-r2/tasks/112-routing-benchmark.poml
  projects/spaarke-ai-platform-unification-r2/tasks/113-session-restore-load-test.poml
  projects/spaarke-ai-platform-unification-r2/tasks/114-prompt-budget-validation.poml
  projects/spaarke-ai-platform-unification-r2/tasks/115-audit-immutability-test.poml
  projects/spaarke-ai-platform-unification-r2/tasks/TASK-INDEX.md
  scripts/Create-TestSession.ps1
  scripts/Test-SessionRestoreLatency.ps1
  src/client/shared/Spaarke.AI.Widgets/src/__tests__/widget-serialize-restore.test.ts
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/OrchestratorPromptBuilder.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Capabilities/CapabilityRouterBenchmarkTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/OrchestratorPromptBuilderBudgetTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/SafetyPerimeterE2ETests.cs
Owners: @spaarke-dev, @devops-team

test(ai-platform): complete W6.2 + PHASE 6 — privilege leakage, SSE regression, accessibility
  notes/dark-mode-accessibility-report.md
  notes/privilege-leakage-test-report.md
  notes/sprkchat-regression-test-report.md
  projects/spaarke-ai-platform-unification-r2/current-task.md
  projects/spaarke-ai-platform-unification-r2/tasks/116-privilege-leakage-test.poml
  projects/spaarke-ai-platform-unification-r2/tasks/117-sprkchat-regression-test.poml
  projects/spaarke-ai-platform-unification-r2/tasks/118-dark-mode-accessibility.poml
  projects/spaarke-ai-platform-unification-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/src/__tests__/sse-event-routing.test.ts
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/PrivilegeLeakageTests.cs
Owners: @spaarke-dev

feat(ai-platform): complete W7 + PHASE 7 — deploy prep, docs, review fixes, wrap-up
  docs/architecture/AI-ARCHITECTURE.md
  docs/architecture/auth-azure-resources.md
  docs/architecture/chat-architecture.md
  docs/guides/AI-DEPLOYMENT-GUIDE.md
  notes/deploy-bff-api-log.md
  notes/deploy-cosmos-infrastructure-log.md
  notes/deploy-spaarkeai-webresource-log.md
  notes/documentation-updates-log.md
  notes/production-verification-report.md
  projects/spaarke-ai-platform-unification-r2/README.md
  projects/spaarke-ai-platform-unification-r2/current-task.md
  projects/spaarke-ai-platform-unification-r2/notes/lessons-learned.md
  projects/spaarke-ai-platform-unification-r2/tasks/120-deploy-cosmos-infrastructure.poml
  projects/spaarke-ai-platform-unification-r2/tasks/121-deploy-bff-api.poml
  projects/spaarke-ai-platform-unification-r2/tasks/122-deploy-spaarkeai-webresource.poml
  projects/spaarke-ai-platform-unification-r2/tasks/123-production-verification.poml
  projects/spaarke-ai-platform-unification-r2/tasks/124-documentation-updates.poml
  projects/spaarke-ai-platform-unification-r2/tasks/199-project-wrap-up.poml
  projects/spaarke-ai-platform-unification-r2/tasks/TASK-INDEX.md
  scripts/Deploy-SpaarkeAi.ps1
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/RestoredSession.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionRestoreService.cs
  src/solutions/SpaarkeAi/src/components/context/ContextPaneController.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspaceLandingWidget.tsx
Owners: @spaarke-dev, @docs-team, @devops-team

fix(ai-services): replace all stubs with real implementations
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ChatContextMappingService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/OrchestratorPromptBuilder.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/CreateTaskNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/OutputOrchestratorService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ScopeManagementService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/WorkingDocumentService.cs
Owners: @spaarke-dev

fix(deploy): resolve build + infra issues for dev deployment
  infrastructure/bicep/modules/cosmos-db.bicep
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/RedlineViewerWidget.tsx
  src/solutions/SpaarkeAi/vite.config.ts
Owners: @spaarke-dev

fix(bff-api): resolve 3 deployment blockers found during testing
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityManifestInitializer.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/WorkingDocumentService.cs
Owners: @spaarke-dev

chore: checkpoint for session transfer — deployed to dev, testing in progress
  projects/spaarke-ai-platform-unification-r2/current-task.md
Owners: @spaarke-dev

docs(auth): system-wide auth audit + v2 design + spaarke-ai-platform-unification-r2 401 diagnosis
  .claude/AUDIT-FINDINGS-AUTH-SYSTEM.md
  projects/spaarke-ai-platform-unification-r2/current-task.md
Owners: @spaarke-dev

docs(auth): rename DEPRECATED-* auth pattern files (PF-1, PF-2)
  .claude/constraints/auth.md
  .claude/patterns/INDEX.md
  .claude/patterns/auth/DEPRECATED-msal-client.md
  .claude/patterns/auth/DEPRECATED-spaarke-auth-initialization.md
  .claude/patterns/auth/INDEX.md
  .claude/patterns/auth/spaarke-sso-binding.md
  .claude/patterns/webresource/code-page-wizard-wrapper.md
  .claude/patterns/webresource/full-page-custom-page.md
  .claude/skills/code-page-deploy/SKILL.md
  CROSS-REFERENCE-MAP.md
  docs/architecture/sdap-auth-patterns.md
  projects/spaarke-auth-v2-and-hardening/current-task.md
  projects/spaarke-auth-v2-and-hardening/tasks/001-rename-deprecated-files.poml
  projects/spaarke-auth-v2-and-hardening/tasks/TASK-INDEX.md
  src/solutions/Reporting/src/config/reportingConfig.ts
  src/solutions/Reporting/src/config/runtimeConfig.ts
  src/solutions/Reporting/src/main.tsx
  src/solutions/Reporting/src/services/authInit.ts
  src/solutions/SpaarkeAi/src/App.tsx
Owners: @spaarke-dev, @docs-team

docs(auth): apply STOP banners to pre-v2 auth pattern docs (PF-4..PF-10)
  .claude/constraints/auth.md
  .claude/patterns/auth/DEPRECATED-msal-client.md
  .claude/patterns/auth/DEPRECATED-spaarke-auth-initialization.md
  .claude/patterns/auth/spaarke-sso-binding.md
  .claude/patterns/auth/token-caching.md
  docs/architecture/AUTH-AND-BFF-URL-PATTERN.md
  docs/architecture/sdap-auth-patterns.md
  projects/spaarke-auth-v2-and-hardening/current-task.md
  projects/spaarke-auth-v2-and-hardening/tasks/002-apply-stop-banners.poml
  projects/spaarke-auth-v2-and-hardening/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(auth): verify project CLAUDE.md prohibition (PF-11) — no edits needed
  projects/spaarke-auth-v2-and-hardening/current-task.md
  projects/spaarke-auth-v2-and-hardening/tasks/003-verify-project-claude-md-prohibition.poml
  projects/spaarke-auth-v2-and-hardening/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs: add auth v2 design pointer to root CLAUDE.md §15 (PF-12)
  CLAUDE.md
  projects/spaarke-auth-v2-and-hardening/current-task.md
  projects/spaarke-auth-v2-and-hardening/tasks/004-update-root-claude-md.poml
  projects/spaarke-auth-v2-and-hardening/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(.claude): CHANGELOG entry for auth v2 pre-flight markers (PF-13)
  .claude/CHANGELOG.md
  projects/spaarke-auth-v2-and-hardening/current-task.md
  projects/spaarke-auth-v2-and-hardening/tasks/005-changelog-entry.poml
  projects/spaarke-auth-v2-and-hardening/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(auth): risk-tier the MSAL regression test cadence in project CLAUDE.md
  projects/spaarke-auth-v2-and-hardening/CLAUDE.md
Owners: @spaarke-dev

feat(auth-v2): introduce AuthStrategy interface + BrowserMsalStrategy stub (task 010)
  projects/spaarke-auth-v2-and-hardening/current-task.md
  projects/spaarke-auth-v2-and-hardening/tasks/010-define-auth-strategy-interface.poml
  projects/spaarke-auth-v2-and-hardening/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Auth/src/SpaarkeAuthProvider.ts
  src/client/shared/Spaarke.Auth/src/index.ts
  src/client/shared/Spaarke.Auth/src/strategies/AuthStrategy.ts
  src/client/shared/Spaarke.Auth/src/strategies/BridgeStrategy.d.ts
  src/client/shared/Spaarke.Auth/src/strategies/BridgeStrategy.d.ts.map
  src/client/shared/Spaarke.Auth/src/strategies/BridgeStrategy.js
  src/client/shared/Spaarke.Auth/src/strategies/BridgeStrategy.js.map
  src/client/shared/Spaarke.Auth/src/strategies/BridgeStrategy.ts
  src/client/shared/Spaarke.Auth/src/strategies/BrowserMsalStrategy.ts
  src/client/shared/Spaarke.Auth/src/strategies/XrmStrategy.d.ts
  src/client/shared/Spaarke.Auth/src/strategies/XrmStrategy.d.ts.map
  src/client/shared/Spaarke.Auth/src/strategies/XrmStrategy.js
  src/client/shared/Spaarke.Auth/src/strategies/XrmStrategy.js.map
  src/client/shared/Spaarke.Auth/src/strategies/XrmStrategy.ts
  src/client/shared/Spaarke.Auth/src/tokenBridge.d.ts
  src/client/shared/Spaarke.Auth/src/tokenBridge.d.ts.map
  src/client/shared/Spaarke.Auth/src/tokenBridge.js
  src/client/shared/Spaarke.Auth/src/tokenBridge.js.map
  src/client/shared/Spaarke.Auth/src/tokenBridge.ts
  src/client/shared/Spaarke.Auth/src/types.ts
  src/client/shared/Spaarke.Auth/tests/tokenBridge.test.ts
Owners: @spaarke-dev

feat(auth-v2): BrowserMsalStrategy full implementation + UPN bug fix (task 011)
  projects/spaarke-auth-v2-and-hardening/tasks/011-implement-browser-msal-strategy.poml
  projects/spaarke-auth-v2-and-hardening/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Auth/src/strategies/BrowserMsalStrategy.ts
  src/client/shared/Spaarke.Auth/src/strategies/MsalPopupStrategy.d.ts
  src/client/shared/Spaarke.Auth/src/strategies/MsalPopupStrategy.d.ts.map
  src/client/shared/Spaarke.Auth/src/strategies/MsalPopupStrategy.js
  src/client/shared/Spaarke.Auth/src/strategies/MsalPopupStrategy.js.map
  src/client/shared/Spaarke.Auth/src/strategies/MsalPopupStrategy.ts
  src/client/shared/Spaarke.Auth/src/strategies/MsalSilentStrategy.d.ts
  src/client/shared/Spaarke.Auth/src/strategies/MsalSilentStrategy.d.ts.map
  src/client/shared/Spaarke.Auth/src/strategies/MsalSilentStrategy.js
  src/client/shared/Spaarke.Auth/src/strategies/MsalSilentStrategy.js.map
  src/client/shared/Spaarke.Auth/src/strategies/MsalSilentStrategy.ts
Owners: @spaarke-dev

checkpoint: session handoff at 7/49 tasks (Phase 0 complete + Phase A 010-011)
  projects/spaarke-auth-v2-and-hardening/current-task.md
Owners: @spaarke-dev

feat(auth-v2): InMemoryCache wrapper replaces 2-layer cache cascade (task 012)
  projects/spaarke-auth-v2-and-hardening/current-task.md
  projects/spaarke-auth-v2-and-hardening/tasks/012-in-memory-cache-wrapper.poml
  projects/spaarke-auth-v2-and-hardening/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Auth/src/SpaarkeAuthProvider.ts
  src/client/shared/Spaarke.Auth/src/strategies/CacheStrategy.d.ts
  src/client/shared/Spaarke.Auth/src/strategies/CacheStrategy.d.ts.map
  src/client/shared/Spaarke.Auth/src/strategies/CacheStrategy.js
  src/client/shared/Spaarke.Auth/src/strategies/CacheStrategy.js.map
  src/client/shared/Spaarke.Auth/src/strategies/CacheStrategy.ts
  src/client/shared/Spaarke.Auth/src/strategies/InMemoryCache.ts
  src/client/shared/Spaarke.Auth/src/strategies/SessionStorageStrategy.d.ts
  src/client/shared/Spaarke.Auth/src/strategies/SessionStorageStrategy.d.ts.map
  src/client/shared/Spaarke.Auth/src/strategies/SessionStorageStrategy.js
  src/client/shared/Spaarke.Auth/src/strategies/SessionStorageStrategy.js.map
  src/client/shared/Spaarke.Auth/src/strategies/SessionStorageStrategy.ts
  src/client/shared/Spaarke.Auth/tests/CacheStrategy.test.ts
  src/client/shared/Spaarke.Auth/tests/InMemoryCache.test.ts
Owners: @spaarke-dev

feat(auth-v2): useAuth() React hook + Bearer-literal lint rule (task 013)
  projects/spaarke-auth-v2-and-hardening/current-task.md
  projects/spaarke-auth-v2-and-hardening/tasks/013-implement-use-auth-hook.poml
  projects/spaarke-auth-v2-and-hardening/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Auth/.eslintrc.json
  src/client/shared/Spaarke.Auth/package-lock.json
  src/client/shared/Spaarke.Auth/package.json
  src/client/shared/Spaarke.Auth/src/index.ts
  src/client/shared/Spaarke.Auth/src/types.ts
  src/client/shared/Spaarke.Auth/src/useAuth.ts
  src/client/shared/Spaarke.Auth/tests/useAuth.test.ts
Owners: @spaarke-dev

checkpoint: session handoff at 9/49 tasks (Phase A 010-013 done; 014 blocked on design decision)
  projects/spaarke-auth-v2-and-hardening/current-task.md
Owners: @spaarke-dev

feat(auth-v2): client-side logout (task 014, slim scope)
  projects/spaarke-auth-v2-and-hardening/current-task.md
  projects/spaarke-auth-v2-and-hardening/tasks/014-implement-logout-api.poml
  projects/spaarke-auth-v2-and-hardening/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Auth/src/SpaarkeAuthProvider.ts
  src/client/shared/Spaarke.Auth/src/broadcastChannel.ts
  src/client/shared/Spaarke.Auth/src/initAuth.ts
  src/client/shared/Spaarke.Auth/src/strategies/AuthStrategy.ts
  src/client/shared/Spaarke.Auth/src/strategies/BrowserMsalStrategy.ts
  src/client/shared/Spaarke.Auth/src/strategies/InMemoryCache.ts
  src/client/shared/Spaarke.Auth/src/useAuth.ts
  src/client/shared/Spaarke.Auth/tests/broadcastChannel.test.ts
  src/client/shared/Spaarke.Auth/tests/useAuth.test.ts
Owners: @spaarke-dev

feat(auth-v2): VERSION constant + relocate broadcast listener to provider (task 015)
  projects/spaarke-auth-v2-and-hardening/current-task.md
  projects/spaarke-auth-v2-and-hardening/tasks/015-version-stamp-broadcast-listener.poml
  projects/spaarke-auth-v2-and-hardening/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Auth/package.json
  src/client/shared/Spaarke.Auth/src/SpaarkeAuthProvider.ts
  src/client/shared/Spaarke.Auth/src/index.ts
  src/client/shared/Spaarke.Auth/src/initAuth.ts
  src/client/shared/Spaarke.Auth/src/version.ts
Owners: @spaarke-dev

fix(auth-v2): popup-on-startup hotfix — 4-part fix for task 011 incomplete
  src/client/shared/Spaarke.Auth/src/config.ts
  src/client/shared/Spaarke.Auth/src/resolveRuntimeConfig.ts
  src/client/shared/Spaarke.Auth/src/strategies/BrowserMsalStrategy.ts
  src/client/shared/Spaarke.Auth/src/types.ts
  src/client/shared/Spaarke.Auth/tests/config.test.ts
  src/solutions/SpaarkeAi/package-lock.json
  src/solutions/SpaarkeAi/src/services/authInit.ts
Owners: @spaarke-dev

fix(auth-v2): hotfix v2 — name collision in SpaarkeAi authInit + defensive guard
  src/client/shared/Spaarke.Auth/src/config.ts
  src/client/shared/Spaarke.Auth/tests/config.test.ts
  src/solutions/SpaarkeAi/src/services/authInit.ts
Owners: @spaarke-dev
