Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(bff): W1 Compose services — edit validator, semantic appendix, SPE webhook renewal (FR-19/22/23/26)
  projects/spaarkeai-compose-r1/notes/jps-scopes/README.md
  projects/spaarkeai-compose-r1/notes/jps-scopes/compose-document.scope.json
  projects/spaarkeai-compose-r1/notes/jps-scopes/compose-selection.scope.json
  projects/spaarkeai-compose-r2/current-task.md
  projects/spaarkeai-compose-r2/tasks/020-edit-validator.poml
  projects/spaarkeai-compose-r2/tasks/023-semantic-appendix.poml
  projects/spaarkeai-compose-r2/tasks/024-scope-descriptions.poml
  projects/spaarkeai-compose-r2/tasks/052-spe-webhook-renewal.poml
  projects/spaarkeai-compose-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/ComposeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ComposeModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/ISpeFileOperations.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeFileStore.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeEditModels.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeEditValidator.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/CriticMarkupRenderer.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/IComposeEditValidator.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/SemanticAppendixGenerator.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/SpeSyncOrchestrator.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/SpeWebhookRenewalHostedService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeEditValidatorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/CriticMarkupRendererTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/SemanticAppendixGeneratorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/SpeSyncOrchestratorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/SpeWebhookRenewalHostedServiceTests.cs
Owners: @spaarke-dev, @docs-team

feat(bff): W1 ComposeEditBatch — 4-phase atomic edit pipeline (FR-20, task 021)
  projects/spaarkeai-compose-r2/current-task.md
  projects/spaarkeai-compose-r2/tasks/021-edit-batch.poml
  projects/spaarkeai-compose-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeEditBatch.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeEditModels.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeEditBatchTests.cs
Owners: @spaarke-dev

feat(ai-architecture-redesign-r2): A0 MemoryItem contract (016) + test-repair (021)
  projects/spaarke-ai-architecture-redesign-r2/current-task.md
  projects/spaarke-ai-architecture-redesign-r2/notes/SEAM-STATUS.md
  projects/spaarke-ai-architecture-redesign-r2/notes/contract-memoryitem-v1.md
  projects/spaarke-ai-architecture-redesign-r2/notes/task-021-test-repair-findings.md
  projects/spaarke-ai-architecture-redesign-r2/tasks/016-contract-memoryitem-v1.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/021-test-repair-spaarkeai-aiwidgets-suites.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/jest.config.ts
  src/client/shared/Spaarke.AI.Widgets/src/__mocks__/d3-force.ts
  src/client/shared/Spaarke.AI.Widgets/src/__mocks__/marked.ts
  src/client/shared/Spaarke.AI.Widgets/src/__mocks__/sdap-client.ts
  src/client/shared/Spaarke.AI.Widgets/src/__tests__/widget-serialize-restore.test.ts
  src/client/shared/Spaarke.AI.Widgets/src/components/__tests__/SafetyAnnotationOverlay.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/interactions/__tests__/CitationLinkFlow.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/EntityInfoWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/__tests__/PlaybookGalleryWidget.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/WorkspaceWidgetWrapper.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/register-workspace-widgets.test.ts
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/MemoryItem.cs
  src/solutions/SpaarkeAi/src/components/context/__tests__/ContextPaneController.test.tsx
  src/solutions/SpaarkeAi/src/utils/__tests__/launch-resolver.test.ts
  tests/integration/contract/Api/Ai/MemoryItemContractTests.cs
Owners: @spaarke-dev

feat(daily-update-r5): wave 2 — tasks 010, 033
  projects/spaarke-daily-update-service-r5/current-task.md
  projects/spaarke-daily-update-service-r5/notes/010-publish-size.md
  projects/spaarke-daily-update-service-r5/tasks/010-remove-per-channel-narrate-leg.poml
  projects/spaarke-daily-update-service-r5/tasks/033-collaborator-scope-fix.poml
  projects/spaarke-daily-update-service-r5/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/DailyBriefingCollector.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/DailyBriefingNarrator.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Narrators/DailyBriefingCollectorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Narrators/DailyBriefingNarratorEntityLinkTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Narrators/DailyBriefingNarratorTldrChainingTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Workflows/CodedWorkflowConventionTests.cs
Owners: @spaarke-dev

docs(project): initialize set-regarding-and-field-mapping-resolver-r2 design
  projects/set-regarding-and-field-mapping-resolver-r2/design.md
Owners: @spaarke-dev

docs(spaarkeai-compose-r2): reconcile task gating after A0 contract seams merged from master
  projects/spaarkeai-compose-r2/CLAUDE.md
  projects/spaarkeai-compose-r2/current-task.md
  projects/spaarkeai-compose-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(bff): W1 ComposeEditTransaction — snapshot/rollback wrapper (FR-21, task 022)
  projects/spaarkeai-compose-r2/current-task.md
  projects/spaarkeai-compose-r2/tasks/022-edit-transaction.poml
  projects/spaarkeai-compose-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ComposeModule.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeEditModels.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeEditTransaction.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeEditTransactionTests.cs
Owners: @spaarke-dev

feat(daily-update-r5): wave 3 — tasks 013, 011 (accuracy contract)
  projects/spaarke-daily-update-service-r5/current-task.md
  projects/spaarke-daily-update-service-r5/notes/011-deterministic-item-row-rendering.md
  projects/spaarke-daily-update-service-r5/notes/013-tldr-scaffolding-and-publish-size.md
  projects/spaarke-daily-update-service-r5/tasks/011-deterministic-item-row-rendering.poml
  projects/spaarke-daily-update-service-r5/tasks/013-deterministic-tldr-scaffolding.poml
  projects/spaarke-daily-update-service-r5/tasks/TASK-INDEX.md
  projects/spaarke-daily-update-service/notes/playbooks/actions/brief-narrate-tldr.action.json
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/ActivityNotesSection.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/NarrativeBullet.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/NarrativeCitedText.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/briefingService.ts
  src/client/shared/Spaarke.DailyBriefing.Components/test/NarrativeBullet.test.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/test/NarrativeCitedText.test.tsx
  src/server/api/Sprk.Bff.Api/Api/Ai/DailyBriefingEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/DailyBriefingCollector.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/DailyBriefingNarrator.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Narrators/DailyBriefingCollectorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Narrators/DailyBriefingNarratorEntityLinkTests.cs
Owners: @spaarke-dev

test(arch): ADR-013 Compose facade guard NetArchTest (task 025) — closes Phase 2
  projects/spaarkeai-compose-r2/current-task.md
  projects/spaarkeai-compose-r2/tasks/025-llm-services-tests.poml
  projects/spaarkeai-compose-r2/tasks/TASK-INDEX.md
  tests/Spaarke.ArchTests/ADR013_ComposeFacadeTests.cs
Owners: @spaarke-dev

fix(shared): Spaarke.DailyBriefing.Components — restore standalone build + re-arm CI gate
  scripts/Build-AllClientComponents.ps1
  src/client/shared/Spaarke.DailyBriefing.Components/package-lock.json
  src/client/shared/Spaarke.DailyBriefing.Components/package.json
  src/client/shared/Spaarke.DailyBriefing.Components/tsconfig.json
Owners: @spaarke-dev, @devops-team

feat(bff): FR-04 compose-disposition consumer (task 016, BFF half)
  projects/spaarkeai-compose-r2/current-task.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDraftDisposition.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeDraftDispositionTests.cs
Owners: @spaarke-dev

fix(shared): Spaarke.DailyBriefing.Components — restore standalone build + re-arm CI gate (#584)
  scripts/Build-AllClientComponents.ps1
  src/client/shared/Spaarke.DailyBriefing.Components/package-lock.json
  src/client/shared/Spaarke.DailyBriefing.Components/package.json
  src/client/shared/Spaarke.DailyBriefing.Components/tsconfig.json
Owners: @spaarke-dev, @devops-team

feat(daily-update-r5): task 020 — /prototype harness scaffolded (cross-repo)
  projects/spaarke-daily-update-service-r5/notes/design/harness-README.md
  projects/spaarke-daily-update-service-r5/tasks/020-scaffold-prototype-harness.poml
  projects/spaarke-daily-update-service-r5/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(ai-architecture-redesign-r2): triple-twin hoist (020) — Model 1 + Option C
  projects/spaarke-ai-architecture-redesign-r2/CLAUDE.md
  projects/spaarke-ai-architecture-redesign-r2/current-task.md
  projects/spaarke-ai-architecture-redesign-r2/notes/SEAM-STATUS.md
  projects/spaarke-ai-architecture-redesign-r2/notes/task-020-triple-twin-hoist-design-and-escalation.md
  projects/spaarke-ai-architecture-redesign-r2/tasks/020-triple-twin-validator-hoist.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/TASK-INDEX.md
  scripts/Seed-TypedHandlers.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/OpenAiFunctionSchemaValidator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ToolHandlerToAIFunctionAdapter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/ClauseAnalyzerHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/ClauseComparisonHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/CloseWorkspaceTabHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/DataverseCreateRecordHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/DataverseDeleteRecordHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/DataverseDescribeHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/DataverseReadQueryHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/DataverseSearchDataHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/DataverseUpdateRecordHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/DateExtractorHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/EmailDraftToolHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/EntityExtractorHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/FinancialCalculationToolHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/FinancialCalculatorHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/GetWorkspaceTabContentHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/InvoiceExtractionToolHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/ManagePinnedContextHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/RecallSessionFileHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/RiskDetectorHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/SendWorkspaceArtifactHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/UpdateWorkspaceTabHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/VerifyCitationsHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/WebSearchHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/RoutingConsumerTypeHealthCheck.cs
  tests/integration/contract/Catalog/CatalogToolDescriptionParityContractTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PublicContracts/RoutingConsumerTypeHealthCheckTests.cs
Owners: @spaarke-dev, @devops-team

docs(set-regarding-fieldmapping-r2): refine design (decisions 1-9) + author spec
  projects/set-regarding-and-field-mapping-resolver-r2/design.md
  projects/set-regarding-and-field-mapping-resolver-r2/spec.md
Owners: @spaarke-dev

feat(ai-architecture-redesign-r2): D-F0 Resourcefulness Doctrine (030)
  projects/spaarke-ai-architecture-redesign-r2/current-task.md
  projects/spaarke-ai-architecture-redesign-r2/notes/d-f0-pin-accretion-audit.md
  projects/spaarke-ai-architecture-redesign-r2/tasks/030-df0-resourcefulness-doctrine.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
Owners: @spaarke-dev

feat(compose-r2): integrate 016/030/032 frontend — draft-into-editor + inline AI toolbar + serial queue
  projects/spaarkeai-compose-r2/current-task.md
  src/client/shared/Spaarke.Compose.Components/jest.config.js
  src/client/shared/Spaarke.Compose.Components/jest.setup.js
  src/client/shared/Spaarke.Compose.Components/package-lock.json
  src/client/shared/Spaarke.Compose.Components/package.json
  src/client/shared/Spaarke.Compose.Components/src/index.ts
  src/client/shared/Spaarke.Compose.Components/src/types/compose-contracts.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeAiToolbar.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeAiToolbar.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/Chat/SessionLedgerEntries.cs
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/useSerialActionQueue.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/useSerialActionQueue.ts
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/ChatComposeOutputsProjectionTests.cs
Owners: @spaarke-dev

docs(compose-r2): record integration wave merged to master (978333245)
  projects/spaarkeai-compose-r2/current-task.md
Owners: @spaarke-dev

feat(daily-update-r5): wave 4 accuracy — tasks 014, 034
  projects/spaarke-daily-update-service-r5/tasks/014-binary-anchor-resolution.poml
  projects/spaarke-daily-update-service-r5/tasks/034-collector-dedup.poml
  projects/spaarke-daily-update-service-r5/tasks/TASK-INDEX.md
  projects/spaarke-daily-update-service/notes/playbooks/actions/brief-narrate-tldr.action.json
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/DailyBriefingApp.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/TldrSection.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/briefingService.ts
  src/client/shared/Spaarke.DailyBriefing.Components/test/TldrSection.test.tsx
  src/server/api/Sprk.Bff.Api/Api/Ai/DailyBriefingEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/DailyBriefingCollector.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Narrators/DailyBriefingNarrator.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Narrators/DailyBriefingCollectorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Narrators/DailyBriefingNarratorItemRefsTests.cs
Owners: @spaarke-dev

feat(ai-architecture-redesign-r2): D-F0 resourcefulness eval family (031)
  .github/workflows/sdap-ci.yml
  projects/spaarke-ai-architecture-redesign-r2/notes/d-f0-resourcefulness-e2e-band-and-thresholds.md
  projects/spaarke-ai-architecture-redesign-r2/tasks/031-df0-resourcefulness-eval-family.poml
  projects/spaarke-ai-architecture-redesign-r2/tasks/TASK-INDEX.md
  tests/integration/contract/Eval/README.md
  tests/integration/contract/Eval/ResourcefulnessEvalSuiteTests.cs
  tests/integration/contract/Eval/ResourcefulnessFabricationOracle.cs
  tests/integration/contract/Eval/resourcefulness-eval-family.json
Owners: @spaarke-dev, @devops-team, @docs-team

checkpoint: context-handoff — foundation complete (15/53), next=032
  projects/spaarke-ai-architecture-redesign-r2/current-task.md
Owners: @spaarke-dev

docs(set-regarding-fieldmapping-r2): dependency satisfied — all 7 wizards on master
  projects/set-regarding-and-field-mapping-resolver-r2/design.md
  projects/set-regarding-and-field-mapping-resolver-r2/spec.md
Owners: @spaarke-dev

checkpoint(visual-host-create-button-r1): record PR #585 merge to master
  projects/visual-host-create-button-r1/current-task.md
Owners: @spaarke-dev

checkpoint: post-merge (#586) — synced with master, next=032
  projects/spaarke-ai-architecture-redesign-r2/current-task.md
Owners: @spaarke-dev

feat(daily-update-r5): Daily Briefing visual redesign (partial — task 021/023)
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/ChannelHeading.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/DigestHeader.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/HighPrioritySection.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/TldrSection.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/test/HighPrioritySection.badges.test.ts
Owners: @spaarke-dev

feat(compose-r2): FR-15 custom ProseMirror marks (insertion/deletion/commentAnchor) — task 031
  projects/spaarkeai-compose-r2/current-task.md
  projects/spaarkeai-compose-r2/tasks/031-custom-marks.poml
  projects/spaarkeai-compose-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/marks/CommentAnchorMark.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/marks/DeletionMark.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/marks/InsertionMark.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/marks/marks.test.ts
Owners: @spaarke-dev

fix(visual-host-create-button-r1): v1.4.32 — fix Event Matter Type/Practice Area lookups
  projects/visual-host-create-button-r1/current-task.md
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateEventWizard/CreateEventWizard.tsx
Owners: @spaarke-dev

feat(set-regarding-fieldmapping-r2): initialize project — artifacts + 16 tasks
  projects/INDEX.md
  projects/set-regarding-and-field-mapping-resolver-r2/CLAUDE.md
  projects/set-regarding-and-field-mapping-resolver-r2/README.md
  projects/set-regarding-and-field-mapping-resolver-r2/current-task.md
  projects/set-regarding-and-field-mapping-resolver-r2/notes/.gitkeep
  projects/set-regarding-and-field-mapping-resolver-r2/notes/debug/.gitkeep
  projects/set-regarding-and-field-mapping-resolver-r2/notes/drafts/.gitkeep
  projects/set-regarding-and-field-mapping-resolver-r2/notes/handoffs/.gitkeep
  projects/set-regarding-and-field-mapping-resolver-r2/notes/spikes/.gitkeep
  projects/set-regarding-and-field-mapping-resolver-r2/plan.md
  projects/set-regarding-and-field-mapping-resolver-r2/tasks/.gitkeep
  projects/set-regarding-and-field-mapping-resolver-r2/tasks/001-add-sprk-expression-column.poml
  projects/set-regarding-and-field-mapping-resolver-r2/tasks/002-bff-read-layer-and-dto-extension.poml
  projects/set-regarding-and-field-mapping-resolver-r2/tasks/003-bff-tests-publishsize-push-regression.poml
  projects/set-regarding-and-field-mapping-resolver-r2/tasks/010-engine-shell-and-types.poml
  projects/set-regarding-and-field-mapping-resolver-r2/tasks/011-consolidate-navprop-discovery.poml
  projects/set-regarding-and-field-mapping-resolver-r2/tasks/012-copy-engine-scalar-and-lookup.poml
  projects/set-regarding-and-field-mapping-resolver-r2/tasks/013-default-concat-template-engines.poml
  projects/set-regarding-and-field-mapping-resolver-r2/tasks/014-same-entity-support.poml
  projects/set-regarding-and-field-mapping-resolver-r2/tasks/015-engine-unit-tests.poml
  projects/set-regarding-and-field-mapping-resolver-r2/tasks/020-wire-event-matter-project.poml
  projects/set-regarding-and-field-mapping-resolver-r2/tasks/021-wire-todo-workassignment.poml
  projects/set-regarding-and-field-mapping-resolver-r2/tasks/022-wire-invoice-reportcard.poml
  projects/set-regarding-and-field-mapping-resolver-r2/tasks/030-seed-attorney-matrix.poml
  projects/set-regarding-and-field-mapping-resolver-r2/tasks/040-architecture-doc.poml
  projects/set-regarding-and-field-mapping-resolver-r2/tasks/041-admin-authoring-guide.poml
  projects/set-regarding-and-field-mapping-resolver-r2/tasks/090-project-wrap-up.poml
  projects/set-regarding-and-field-mapping-resolver-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(compose-r2): unblock catalog tasks 040-047 — core 020 triple-twin hoist published to master
  projects/spaarkeai-compose-r2/CLAUDE.md
  projects/spaarkeai-compose-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(visual-host-create-button-r1): add missing useMemo deps from code-review
  src/client/shared/Spaarke.UI.Components/src/components/CreateEventWizard/CreateEventWizard.tsx
Owners: @spaarke-dev

docs(visual-host-create-button-r1): /test-diet report — 0 scaffolding, 163 MAINTAIN
  projects/visual-host-create-button-r1/notes/test-diet-report.md
Owners: @spaarke-dev

docs(visual-host-create-button-r1): task 090 wrap-up — project Complete
  docs/guides/VISUALHOST-SETUP-GUIDE.md
  projects/visual-host-create-button-r1/README.md
  projects/visual-host-create-button-r1/current-task.md
  projects/visual-host-create-button-r1/notes/defer-issues.md
  projects/visual-host-create-button-r1/notes/lessons-learned.md
  projects/visual-host-create-button-r1/tasks/090-project-wrap-up.poml
  projects/visual-host-create-button-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

checkpoint(visual-host-create-button-r1): record PR #588 merge to master
  projects/visual-host-create-button-r1/current-task.md
Owners: @spaarke-dev

feat(daily-update-r5): redesign round 2 — stat tiles, Tasks merge, layout
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/ActivityNotesSection.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/DailyBriefingApp.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/DigestHeader.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/NarrativeBullet.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/StatTiles.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/TldrSection.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/test/NarrativeBullet.test.tsx
Owners: @spaarke-dev

checkpoint(daily-update-r5): context-handoff pre-compaction
  projects/spaarke-daily-update-service-r5/current-task.md
Owners: @spaarke-dev

docs(air2): file Wave J deferrals DEF-001..004 as issues #591-594
  projects/spaarke-ai-architecture-redesign-r2/notes/defer-issues.md
Owners: @spaarke-dev

feat(compose-r2): FR-07/08/10/11 catalog Actions + Bindings (tasks 040/041/043/044)
  infra/dataverse/actions/compose-compare-to-playbook.action.json
  infra/dataverse/actions/compose-defined-terms.action.json
  infra/dataverse/actions/compose-explain-clause.action.json
  infra/dataverse/actions/compose-summarize-word-changes.action.json
  infra/dataverse/inputschemas/compose-compare-to-playbook.input.schema.json
  infra/dataverse/inputschemas/compose-defined-terms.input.schema.json
  infra/dataverse/inputschemas/compose-explain-clause.input.schema.json
  infra/dataverse/inputschemas/compose-summarize-word-changes.input.schema.json
  infra/dataverse/outputschemas/compose-compare-to-playbook.schema.json
  infra/dataverse/outputschemas/compose-defined-terms.schema.json
  infra/dataverse/outputschemas/compose-explain-clause.schema.json
  infra/dataverse/outputschemas/compose-summarize-word-changes.schema.json
  infra/dataverse/sprk_playbookconsumer-rows.json
  projects/spaarkeai-compose-r2/current-task.md
  projects/spaarkeai-compose-r2/tasks/040-action-explain-clause.poml
  projects/spaarkeai-compose-r2/tasks/041-action-compare-playbook.poml
  projects/spaarkeai-compose-r2/tasks/043-action-summarize-word-changes.poml
  projects/spaarkeai-compose-r2/tasks/044-action-defined-terms.poml
  projects/spaarkeai-compose-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(bff): Wave K Batch1 — origin eval + gate pre-suspend + job-aware completion (tasks 033/034/036)
  projects/spaarke-ai-architecture-redesign-r2/current-task.md
  projects/spaarke-ai-architecture-redesign-r2/notes/SEAM-STATUS.md
  projects/spaarke-ai-architecture-redesign-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PendingPlanManager.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SideEffectGateAIFunction.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ToolHandlerToAIFunctionAdapter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/TypedHandlerResumeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/DataverseCreateRecordHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/JobAwareOutcomeProjection.cs
  tests/integration/contract/Eval/OriginClassificationEvalSuiteTests.cs
  tests/integration/contract/Eval/README.md
  tests/integration/contract/Eval/origin-classification-eval-family.json
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SideEffectGatePreSuspendValidationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PublicContracts/JobAwareOutcomeProjectionTests.cs
Owners: @spaarke-dev, @docs-team

feat(bff): Wave K — Completion Engine + OutcomeCard across all side-effect paths (task 035)
  projects/spaarke-ai-architecture-redesign-r2/current-task.md
  projects/spaarke-ai-architecture-redesign-r2/notes/defer-issues.md
  projects/spaarke-ai-architecture-redesign-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/OutcomeCard.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChatMessageRenderer.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/OutcomeCard.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/hooks/useActionHandlers.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/TypedHandlerResumeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/CompletionEngine.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/OutputRouter.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/CompletionEngineTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/OutputRouterTests.cs
Owners: @spaarke-dev

feat(bff): Wave K — decision-traceability view + server read surface (task 038)
  projects/spaarke-ai-architecture-redesign-r2/current-task.md
  projects/spaarke-ai-architecture-redesign-r2/notes/SEAM-STATUS.md
  projects/spaarke-ai-architecture-redesign-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/ExecutionTraceWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/__tests__/ExecutionTraceWidget.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/__tests__/executionTraceNarration.test.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/executionTraceBuffer.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/executionTraceNarration.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/Chat/ChatSession.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/Chat/SessionLedgerEntries.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ChatSessionManager.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/ISessionTraceReader.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/SessionTraceReader.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionPersistenceService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/StoredLedgerEntries.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/StoredSession.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PublicContracts/SessionTraceReaderTests.cs
Owners: @spaarke-dev
