Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(bff): G-8 Batch 6 -- add /api/diagnostics/tenant-container-resolver endpoint (I4 probe dependency, closes fix #18)
  src/server/api/Sprk.Bff.Api/Endpoints/Diagnostics/DiagnosticsModule.cs
  src/server/api/Sprk.Bff.Api/Endpoints/Diagnostics/ITenantContainerResolver.cs
  src/server/api/Sprk.Bff.Api/Endpoints/Diagnostics/OptionsTenantContainerResolver.cs
  src/server/api/Sprk.Bff.Api/Endpoints/Diagnostics/TenantContainerResolverEndpoint.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  tests/unit/Sprk.Bff.Api.Tests/Diagnostics/OptionsTenantContainerResolverTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Diagnostics/TenantContainerResolverEndpointTests.cs
Owners: @spaarke-dev

fix(scripts): G-8 Batch 4 amendment -- seed Redis-ConnectionString for Worker boot dependency
  scripts/provisioning/Seed-PlatformKeyVault.ps1
Owners: @spaarke-dev, @devops-team

docs(spec+dataverse): G-8 Batch 12 -- MDA in-flight-runs view (SC #9) + spec SC text fixes (FR-24/34/39/40 + v3.6 Redis reconciliation + SC count)
  docs/data-model/queries/in-flight-provisioning-runs.fetchxml
  projects/customer-provisioning-orchestration-r1/spec.md
Owners: @spaarke-dev, @docs-team

test(archtests): G-8 Batch 9 -- add I6_ObAppRegDerivationTests (closes FR-40)
  .github/workflows/publish-dataverse-solutions-manifest.yml
  tests/Spaarke.ArchTests/TenantIsolation/I1_NoHardcodedTenantTests.cs
  tests/Spaarke.ArchTests/TenantIsolation/I6_ObAppRegDerivationTests.cs
Owners: @spaarke-dev, @devops-team

feat(handlers/H0): G-8 Batch 10 -- upgrade-mode version-compat matrix query (closes FR-34)
  infrastructure/bicep/parameters/customer-template.bicepparam
  projects/customer-provisioning-orchestration-r1/notes/sidecar-live-verification-runbook.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AppConfigSeed/PowerShellAppConfigSeeder.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BffDeploy/AzCliAppServiceSlotSwapper.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BffDeploy/DeployBffApiScriptRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/ArmDeploymentRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/AzCliArmKeyVaultRefProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/AzCliUpgradeDriftDetector.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/ProvisionCustomerScriptBicepDeployRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/AzCliCostEnvelopeChecker.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/NamingConformanceScriptRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/ValidateDeployedEnvironmentScriptRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/RegisterEntraAppRegScriptProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/IntegrationWiring/AzCliKvSecretReader.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/AzCliAppServiceIdentityPatcher.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/AzCliKvSecretsWriter.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/AzCliSlotIdentityRoleGranter.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/Preflight/H0PreflightHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/Preflight/IVersionCompatMatrix.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/Preflight/JsonFileVersionCompatMatrix.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/Preflight/version-compat-matrix.json
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SpeContainerType/AzCliSpeContainerIdKvWriter.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SpeContainerType/CreateNewContainerTypeScriptProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Modules/HandlersModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Sprk.Provisioning.ControlPlane.Core.csproj
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H0PreflightHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/JsonFileVersionCompatMatrixTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev

feat(handlers/E2E): G-8 Batch 11 -- 4 sample-workload checks in E2EValidationRunner (closes SC #5)
  projects/customer-provisioning-orchestration-r1/notes/post-authoring-audit-2026-08-20.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/E2EAcceptanceModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/E2EValidationRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/H13AcceptanceOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/E2EValidationRunnerTests.cs
Owners: @spaarke-dev

chore(r1): Wave G-8 CLOSE checkpoint -- 30 of 30 audit defects closed
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

feat(solution-authoring): Spaarke Master release process + 3 scripts + OOB manifest
  docs/data-model/oob-customizations.yaml
  docs/data-model/spaarke-components-inventory.json
  docs/procedures/SPAARKE-SOLUTION-RELEASE-PROCESS.md
  scripts/solution-authoring/Assemble-SpaarkeMasterSolution.ps1
  scripts/solution-authoring/Get-SpaarkeComponents.ps1
  scripts/solution-authoring/Test-SolutionCompleteness.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

feat(compose): closed save-outcome contract + outcome telemetry (r8 task 013, FR-S06/S10)
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/tasks/013-save-outcome-contract-telemetry.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.saveErrorRouting.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/server/api/Sprk.Bff.Api/Api/ComposeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/TelemetryModule.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/IComposeService.cs
  src/server/api/Sprk.Bff.Api/Telemetry/ComposeSaveTelemetry.cs
  tests/integration/contract/Api/Ai/ComposeCreateOnSaveEndpointContractTests.cs
  tests/integration/contract/Api/Compose/ComposeEndpointsContractTests.cs
Owners: @spaarke-dev

checkpoint(compose-r8): context handoff — 6 tasks complete, next is 012
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

wip(auth-v4): task 010 partial — DataverseWebApiClient gated; ESCALATED on DataverseAccessDataSource
  projects/spaarke-auth-v4-dataverse-MI/BLOCKED.md
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/010-fix-mi-flag-gating-defect.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/011-fix-di-lifetimes.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
  src/server/shared/Spaarke.Dataverse/DataverseWebApiClient.cs
Owners: @spaarke-dev

fix(solution-authoring): algorithm bug in Assemble delta -- 4 new filters (1224 -> 218 true delta)
  scripts/solution-authoring/Assemble-SpaarkeMasterSolution.ps1
Owners: @spaarke-dev, @devops-team

chore(r1): context-handoff -- H-3 pivoted to Spaarke Master solution scoping
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

fix(auth-v4): task 010 — MI-flag gating, decoupling app-only auth from OBO (FR-A1)
  projects/spaarke-auth-v4-dataverse-MI/BLOCKED.md
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/010-credential-gating.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/010-fix-mi-flag-gating-defect.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/060-archtest-credential-ban.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
  src/server/shared/Spaarke.Dataverse/DataverseAccessDataSource.cs
  tests/integration/seam/Auth/CredentialSelectionSeamTests.cs
Owners: @spaarke-dev

checkpoint: context-handoff after task 010 (4 of 26 active complete)
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
Owners: @spaarke-dev

fix(compose-r8): save lifecycle hardening — dirty flag survives a failed save, saves cannot hang or double-run (task 012, FR-S03/S04/S05)
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/save-lifecycle-hardening.md
  projects/spaarkeai-compose-r8/tasks/012-save-lifecycle-hardening.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.saveLifecycleDirty.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.saveLifecycle.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
Owners: @spaarke-dev

docs(auth-v4): adopt PR #801 sequencing correction + record unification-r1 as inactive
  projects/spaarke-auth-v4-dataverse-MI/CLAUDE.md
  projects/spaarke-auth-v4-dataverse-MI/design.md
  projects/spaarke-auth-v4-dataverse-MI/notes/RESEARCH-FINDINGS.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(compose-r8): a re-anchor that cannot read the current bytes must write nothing (task 014, FR-S07)
  projects/spaarkeai-compose-r8/notes/reanchor-baseline-integrity.md
  projects/spaarkeai-compose-r8/tasks/014-reanchor-baseline-integrity.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/ComposeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/IComposeService.cs
  src/server/api/Sprk.Bff.Api/Telemetry/ComposeSaveTelemetry.cs
  tests/Spaarke.ArchTests/GodClassGuardTests.cs
  tests/integration/seam/Compose/ConcurrencySaveSeamTests.cs
Owners: @spaarke-dev

feat(compose-r8): one stated document-size limit, and the stale 4 MB Graph ceiling deleted (task 015 FR-S08, server half)
  src/server/api/Sprk.Bff.Api/Api/ComposeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/UploadSessionManager.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/IComposeService.cs
  src/server/api/Sprk.Bff.Api/Telemetry/ComposeSaveTelemetry.cs
  tests/integration/seam/Compose/ConcurrencySaveSeamTests.cs
Owners: @spaarke-dev

checkpoint(compose-r8): 012+014 complete, 015 server half landed, 018 in flight
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/document-size-ceilings.md
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
Owners: @spaarke-dev

ci(compose-r8): run the Compose client suite in CI, and light the 39 suites that never ran (task 018)
  .github/workflows/sdap-ci.yml
  projects/INDEX.md
  projects/spaarkeai-compose-r8/notes/compose-client-ci-gate.md
  projects/spaarkeai-compose-r8/tasks/018-compose-client-ci-gate.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  scripts/ci/summarize-jest-results.js
  src/client/shared/Spaarke.Compose.Components/jest.config.js
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeApplyTemplateDialog.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.saveLifecycleDirty.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeSaveNameDialog.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.bornInEditorSave.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.renderOnSave.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.saveErrorRouting.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.saveLifecycle.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.saveOpLogPreservation.test.tsx
Owners: @spaarke-dev, @devops-team

checkpoint(compose-r8): task 018 verified and landed; 015-client + 016 remain in Track S
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

feat(auth-v4): task 011 — share MSAL confidential clients; decide ADR-009 token cache (FR-A2)
  .claude/FAILURE-MODES.md
  .claude/adr/ADR-010-di-minimalism.md
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/011-adr009-token-cache-decision.md
  projects/spaarke-auth-v4-dataverse-MI/spec.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/011-fix-di-lifetimes.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/020-client-assertion-provider-seam.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/022-migrate-confidential-clients.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentTokenService.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AgentModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/SpaarkeCore.cs
  src/server/shared/Spaarke.Dataverse/DataverseAccessDataSource.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiClient.cs
  tests/integration/auth/README.md
  tests/integration/contract/Api/ExternalAccess/ExternalAccessContractTests.cs
  tests/integration/seam/Auth/ConfidentialClientSharingSeamTests.cs
  tests/integration/seam/Auth/CredentialSelectionSeamTests.cs
Owners: @spaarke-dev, @docs-team

docs(changelog): record task 011's ADR-010 example fix + FAILURE-MODES AP-7
  .claude/CHANGELOG.md
Owners: @spaarke-dev

feat(compose-r8): the client pre-flights against the server's number, not its own (task 015 client half — FR-S08 complete)
  projects/spaarkeai-compose-r8/notes/document-size-ceilings.md
  projects/spaarkeai-compose-r8/tasks/015-document-size-ceilings.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.saveLifecycle.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.types.ts
  src/server/api/Sprk.Bff.Api/Api/ComposeEndpoints.cs
Owners: @spaarke-dev

checkpoint(compose-r8): 015 complete; 016 is the last Track S task before deploy
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

checkpoint(compose-r8): context handoff — 015 ratified, 016 is the last Track S task
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/document-size-ceilings.md
Owners: @spaarke-dev

docs(spe-admin): re-scope R2 from decomposition to make-it-work
  projects/INDEX.md
  projects/sdap-SPE-admin-app-r2/README.md
  projects/sdap-SPE-admin-app-r2/design.md
  projects/sdap-SPE-admin-app-r2/notes/spe-platform-research-2026-08-20.md
Owners: @spaarke-dev, @docs-team

feat(auth-v4): task 020 — IClientAssertionProvider seam (FR-B1)
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/020-assertion-seam.md
  projects/spaarke-auth-v4-dataverse-MI/notes/defer-issues.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/020-client-assertion-provider-seam.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/021-ordered-credential-selection.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/022-migrate-confidential-clients.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/060-archtest-credential-ban.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/061-credential-census-test.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/090-project-wrap-up.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentTokenService.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/ManagedIdentityAssertionProvider.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/ManagedIdentityCredentialFactory.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AuthorizationModule.cs
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
  src/server/shared/Spaarke.Dataverse/DataverseAccessDataSource.cs
  src/server/shared/Spaarke.Dataverse/IClientAssertionProvider.cs
  tests/Spaarke.ArchTests/ADR010_DITests.cs
  tests/integration/seam/Auth/ClientAssertionProviderSeamTests.cs
Owners: @spaarke-dev

checkpoint: context-handoff after task 020 (6 of 26 active complete)
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
Owners: @spaarke-dev

docs(unified-access-control-r2): design + spec from 10-pass UAC investigation
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/dataverse-record-restriction-secure-project-2026-08-20.md
  .claude/constraints/auth.md
  docs/architecture/DATAVERSE-ACCESS-LAYER-ROUTING.md
  docs/architecture/external-access-spa-architecture.md
  docs/architecture/uac-access-control.md
  projects/unified-access-control-r2/design.md
  projects/unified-access-control-r2/notes/design-register.md
  projects/unified-access-control-r2/notes/investigation/01-spa-plane.md
  projects/unified-access-control-r2/notes/investigation/02-membership-spine.md
  projects/unified-access-control-r2/notes/investigation/03-native-uac-core.md
  projects/unified-access-control-r2/notes/investigation/04-grant-lifecycle.md
  projects/unified-access-control-r2/notes/investigation/05-three-plane-completeness.md
  projects/unified-access-control-r2/notes/investigation/06-adversarial-critique.md
  projects/unified-access-control-r2/notes/investigation/07-workforce-plane-teams-impact.md
  projects/unified-access-control-r2/notes/investigation/08-option-b-feasibility.md
  projects/unified-access-control-r2/notes/investigation/09-dataverse-record-security.md
  projects/unified-access-control-r2/notes/investigation/10-finding-confirmations.md
  projects/unified-access-control-r2/spa-external-access-model-briefing.md
  projects/unified-access-control-r2/spec.md
  src/solutions/SpaarkeCore/entities/sprk_externalrecordaccess/entity-schema.md
Owners: @spaarke-dev, @docs-team

feat(h-3): SpaarkeMaster v1.1.0.0 shipping baseline + follow-on project
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/pcf-legacy-retirement-r1/README.md
  projects/pcf-legacy-retirement-r1/notes/audit-findings-from-r1.md
  scripts/solution-authoring/Assemble-SpaarkeMasterSolution.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

docs(spe-admin): add R2 implementation spec + resolve four scope decisions
  projects/sdap-SPE-admin-app-r2/README.md
  projects/sdap-SPE-admin-app-r2/design.md
  projects/sdap-SPE-admin-app-r2/spec.md
Owners: @spaarke-dev, @docs-team

chore(r1): context-handoff checkpoint -- H-3 SOLUTION SCOPING complete, ready for fresh session
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

fix(compose): FR-S09 — close the honest-failure set (server + client, tests pending)
  projects/spaarkeai-compose-r8/notes/honest-failure-set.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.types.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeDraftStore.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeDraftStore.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/useComposeCheckoutLifecycle.ts
  src/server/api/Sprk.Bff.Api/.claude/agent-memory/researcher/MEMORY.md
  src/server/api/Sprk.Bff.Api/.claude/agent-memory/researcher/graph-driveitem-upload-facts.md
  src/server/api/Sprk.Bff.Api/.claude/agent-memory/researcher/spe-knowledge-dir-gaps.md
  src/server/api/Sprk.Bff.Api/Api/ComposeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/DocumentOperationsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeConcurrencyExceptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/UploadSessionManager.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/IComposeService.cs
  src/server/api/Sprk.Bff.Api/Telemetry/ComposeSaveTelemetry.cs
  tests/integration/seam/Compose/ConcurrencySaveSeamTests.cs
Owners: @spaarke-dev

feat(scripts): idempotent MI-FIC creation + exchange verification (task 030 / FR-C4)
  projects/spaarke-auth-v4-dataverse-MI/CLAUDE.md
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/PROVISIONING-CHANGE-REQUEST.md
  projects/spaarke-auth-v4-dataverse-MI/notes/TENANCY-AND-CREDENTIALS.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/030-fic-automation.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/031-slot-deploy-obo-verification.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/033-remove-secret-and-reconcile-estate.poml
  scripts/README.md
  scripts/Register-EntraAppRegistrations.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

test(compose): FR-S09 — the eight failure modes get their tests; task 016 complete
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/honest-failure-set.md
  projects/spaarkeai-compose-r8/tasks/016-honest-failure-set.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeBannerStack.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.saveLifecycle.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/useComposeCheckoutLifecycle.honestFailure.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/useComposeCheckoutLifecycle.ts
  tests/Spaarke.ArchTests/GodClassGuardTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceImportedRenderSaveTests.cs
Owners: @spaarke-dev

fix(scripts): resolve both code-review criticals in the MI-FIC automation (task 030)
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/PROVISIONING-CHANGE-REQUEST.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/030-fic-automation.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/030-fic-provisioning-automation.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
  scripts/README.md
  scripts/Register-EntraAppRegistrations.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

feat(spe-admin): project pipeline — 30 task POMLs, plan, and wave sequencing
  projects/INDEX.md
  projects/sdap-SPE-admin-app-r2/CLAUDE.md
  projects/sdap-SPE-admin-app-r2/current-task.md
  projects/sdap-SPE-admin-app-r2/plan.md
  projects/sdap-SPE-admin-app-r2/tasks/001-real-error-surface.poml
  projects/sdap-SPE-admin-app-r2/tasks/002-odata-error-audit.poml
  projects/sdap-SPE-admin-app-r2/tasks/003-sync-status-truth.poml
  projects/sdap-SPE-admin-app-r2/tasks/004-fix-search.poml
  projects/sdap-SPE-admin-app-r2/tasks/005-fix-audit-log.poml
  projects/sdap-SPE-admin-app-r2/tasks/010-obo-spike.poml
  projects/sdap-SPE-admin-app-r2/tasks/011-hybrid-delegated-path.poml
  projects/sdap-SPE-admin-app-r2/tasks/012-operator-role-message.poml
  projects/sdap-SPE-admin-app-r2/tasks/013-security-events-grant.poml
  projects/sdap-SPE-admin-app-r2/tasks/020-beta-to-v1-migration.poml
  projects/sdap-SPE-admin-app-r2/tasks/021-graph-endpoint-setting.poml
  projects/sdap-SPE-admin-app-r2/tasks/022-recycle-bin-select-fix.poml
  projects/sdap-SPE-admin-app-r2/tasks/023-property-names-and-quota-split.poml
  projects/sdap-SPE-admin-app-r2/tasks/024-storage-consumption-spike.poml
  projects/sdap-SPE-admin-app-r2/tasks/025-full-settings-surface.poml
  projects/sdap-SPE-admin-app-r2/tasks/026-replication-and-override-state.poml
  projects/sdap-SPE-admin-app-r2/tasks/027-container-type-owner-management.poml
  projects/sdap-SPE-admin-app-r2/tasks/028-container-url-and-purview.poml
  projects/sdap-SPE-admin-app-r2/tasks/029-billing-status-surface.poml
  projects/sdap-SPE-admin-app-r2/tasks/030-lifecycle-constraints-ui.poml
  projects/sdap-SPE-admin-app-r2/tasks/040-wiremock-harness.poml
  projects/sdap-SPE-admin-app-r2/tasks/041-live-integration-suite.poml
  projects/sdap-SPE-admin-app-r2/tasks/042-retire-scaffolding-tests.poml
  projects/sdap-SPE-admin-app-r2/tasks/050-container-archival.poml
  projects/sdap-SPE-admin-app-r2/tasks/051-quota-ceiling.poml
  projects/sdap-SPE-admin-app-r2/tasks/052-item-recycle-bin.poml
  projects/sdap-SPE-admin-app-r2/tasks/060-hygiene-stub-and-misfiled.poml
  projects/sdap-SPE-admin-app-r2/tasks/061-knowledge-corpus-refresh.poml
  projects/sdap-SPE-admin-app-r2/tasks/062-billing-attach-handoff.poml
  projects/sdap-SPE-admin-app-r2/tasks/090-project-wrap-up.poml
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(scripts): AADSTS70025 is the real propagation code — measured, not assumed (task 030)
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/PHASE-0-LIVE-VERIFICATION.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/030-fic-automation.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/030-fic-provisioning-automation.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/031-slot-deploy-obo-verification.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/032-slot-swap-and-soak.poml
  scripts/Register-EntraAppRegistrations.ps1
Owners: @spaarke-dev, @devops-team
