Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

feat(sdap-file-upload): add standalone document upload with Associate To step
  docs/guides/DOCUMENT-UPLOAD-WIZARD-INTEGRATION-GUIDE.md
  src/client/shared/Spaarke.UI.Components/src/services/document-upload/DocumentRecordService.ts
  src/solutions/DocumentUploadWizard/sprk_subgrid_commands.js
  src/solutions/DocumentUploadWizard/src/DocumentUploadWizardDialog.tsx
  src/solutions/DocumentUploadWizard/src/components/AddFilesStep.tsx
  src/solutions/DocumentUploadWizard/src/components/AssociateToStep.tsx
  src/solutions/DocumentUploadWizard/src/types.ts
Owners: @spaarke-dev, @docs-team

feat(workspace): redesign FilePreviewDialog toolbar and add email/workspace actions
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/.eslintrc.json
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/FilePreviewDialog.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ResultCard.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ResultsList.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/types/props.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
  src/client/pcf/SemanticSearchControl/package-lock.json
  src/client/pcf/SemanticSearchControl/package.json
  src/client/shared/Spaarke.UI.Components/package-lock.json
  src/client/shared/Spaarke.UI.Components/package.json
  src/client/shared/Spaarke.UI.Components/src/components/LookupField/LookupField.tsx
  src/client/shared/Spaarke.UI.Components/src/components/LookupField/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/SendEmailDialog/SendEmailDialog.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SendEmailDialog/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
  src/client/shared/Spaarke.UI.Components/src/types/LookupTypes.ts
  src/client/shared/Spaarke.UI.Components/src/types/index.ts
  src/solutions/LegalWorkspace/package-lock.json
  src/solutions/LegalWorkspace/package.json
  src/solutions/LegalWorkspace/src/components/CreateMatter/LookupField.tsx
  src/solutions/LegalWorkspace/src/components/FilePreview/FilePreviewDialog.tsx
  src/solutions/LegalWorkspace/src/components/RecordCards/DocumentCard.tsx
  src/solutions/LegalWorkspace/vite.config.ts
Owners: @spaarke-dev

chore(pcf): bump SemanticSearchControl to v1.1.3
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

feat(pcf,workspace): UAT enhancements - theme fix, reload, upload, shared AiSummaryPopover
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ResultCard.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ResultsList.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/services/NavigationService.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/services/ThemeService.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/types/props.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
  src/client/shared/Spaarke.UI.Components/src/components/AiSummaryPopover/AiSummaryPopover.tsx
  src/client/shared/Spaarke.UI.Components/src/components/AiSummaryPopover/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
  src/solutions/LegalWorkspace/src/components/FilePreview/FilePreviewDialog.tsx
  src/solutions/LegalWorkspace/src/components/RecordCards/DocumentCard.tsx
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
Owners: @spaarke-dev

feat(pcf,workspace): extract FindSimilarDialog to shared lib, fix upload wizard theme
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/services/NavigationService.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
  src/client/shared/Spaarke.UI.Components/src/components/FindSimilarDialog/FindSimilarDialog.tsx
  src/client/shared/Spaarke.UI.Components/src/components/FindSimilarDialog/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
  src/solutions/LegalWorkspace/src/components/RecordCards/DocumentCard.tsx
Owners: @spaarke-dev

chore(pcf): bump SemanticSearchControl to v1.1.11
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

feat(pcf): add GaugeVisual, HorizontalStackedBar, and AI Summary to VisualHost v1.3.5
  docs/architecture/VISUALHOST-ARCHITECTURE.md
  docs/guides/VISUALHOST-SETUP-GUIDE.md
  docs/screenshots/gauges.jpg
  docs/screenshots/guages-no data yet.jpg
  docs/screenshots/single-stack-bar-financial.jpg
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/ChartRenderer.tsx
  src/client/pcf/VisualHost/control/components/GaugeVisual.tsx
  src/client/pcf/VisualHost/control/components/HorizontalStackedBar.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/control/types/index.ts
  src/client/pcf/VisualHost/stories/GaugeVisual.stories.tsx
  src/client/pcf/VisualHost/stories/HorizontalStackedBar.stories.tsx
Owners: @spaarke-dev, @docs-team

feat(upload-wizard): UAT R3 - split upload flow, shared playbook library, inline analysis
  src/client/shared/Spaarke.UI.Components/src/components/Playbook/PlaybookCardGrid.tsx
  src/client/shared/Spaarke.UI.Components/src/components/Playbook/ScopeConfigurator.tsx
  src/client/shared/Spaarke.UI.Components/src/components/Playbook/ScopeList.tsx
  src/client/shared/Spaarke.UI.Components/src/components/Playbook/analysisService.ts
  src/client/shared/Spaarke.UI.Components/src/components/Playbook/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/Playbook/playbookService.ts
  src/client/shared/Spaarke.UI.Components/src/components/Playbook/types.ts
  src/client/shared/Spaarke.UI.Components/src/components/Wizard/WizardShell.tsx
  src/client/shared/Spaarke.UI.Components/src/components/Wizard/wizardShellTypes.ts
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
  src/solutions/AnalysisBuilder/src/App.tsx
  src/solutions/AnalysisBuilder/tsconfig.json
  src/solutions/AnalysisBuilder/vite.config.ts
  src/solutions/DocumentUploadWizard/src/DocumentUploadWizardDialog.tsx
  src/solutions/DocumentUploadWizard/src/components/AssociateToStep.tsx
  src/solutions/DocumentUploadWizard/src/components/NextStepsStep.tsx
  src/solutions/DocumentUploadWizard/src/components/SuccessScreen.tsx
  src/solutions/DocumentUploadWizard/src/components/SummaryStep.tsx
  src/solutions/DocumentUploadWizard/src/services/nextStepLauncher.ts
  src/solutions/DocumentUploadWizard/src/services/uploadOrchestrator.ts
  src/solutions/DocumentUploadWizard/tsconfig.json
  src/solutions/LegalWorkspace/src/components/SummarizeFiles/SummarizeAnalysisStep.tsx
  src/solutions/LegalWorkspace/vite.config.ts
Owners: @spaarke-dev

fix(workspace): resolve shared library deps in LegalWorkspace vite build
  src/solutions/LegalWorkspace/package-lock.json
  src/solutions/LegalWorkspace/package.json
  src/solutions/LegalWorkspace/vite.config.ts
Owners: @spaarke-dev

docs(shared-lib): add UI components guide and update ADR-012 inventory
  .claude/adr/ADR-012-shared-components.md
  docs/adr/ADR-012-shared-component-library.md
  docs/guides/INDEX.md
  docs/guides/SHARED-UI-COMPONENTS-GUIDE.md
Owners: @spaarke-dev, @docs-team

fix(upload-wizard): UAT R3 feedback - remove Review step, compact cards, inline Find Similar
  src/client/shared/Spaarke.UI.Components/src/components/Playbook/PlaybookCardGrid.tsx
  src/solutions/DocumentUploadWizard/src/DocumentUploadWizardDialog.tsx
  src/solutions/DocumentUploadWizard/src/components/NextStepsStep.tsx
  src/solutions/DocumentUploadWizard/src/components/SuccessScreen.tsx
  src/solutions/DocumentUploadWizard/src/services/nextStepLauncher.ts
Owners: @spaarke-dev

fix(build): use ESM import for post-build rename in Vite solutions
  src/solutions/AnalysisBuilder/package.json
  src/solutions/LegalWorkspace/package.json
Owners: @spaarke-dev

feat(viz): initialize ai-document-relationship-visuals project
  projects/ai-document-relationship-visuals/CLAUDE.md
  projects/ai-document-relationship-visuals/README.md
  projects/ai-document-relationship-visuals/current-task.md
  projects/ai-document-relationship-visuals/design.md
  projects/ai-document-relationship-visuals/notes/.gitkeep
  projects/ai-document-relationship-visuals/plan.md
  projects/ai-document-relationship-visuals/spec.md
  projects/ai-document-relationship-visuals/tasks/.gitkeep
  projects/ai-document-relationship-visuals/tasks/001-create-relationship-count-card.poml
  projects/ai-document-relationship-visuals/tasks/002-create-use-force-simulation-hook.poml
  projects/ai-document-relationship-visuals/tasks/003-shared-lib-tests-and-exports.poml
  projects/ai-document-relationship-visuals/tasks/010-bff-api-count-only-parameter.poml
  projects/ai-document-relationship-visuals/tasks/011-bff-api-count-only-tests.poml
  projects/ai-document-relationship-visuals/tasks/020-migrate-graph-to-shared-hook.poml
  projects/ai-document-relationship-visuals/tasks/021-csv-export-service.poml
  projects/ai-document-relationship-visuals/tasks/022-grid-quick-search.poml
  projects/ai-document-relationship-visuals/tasks/024-build-deploy-code-page.poml
  projects/ai-document-relationship-visuals/tasks/030-scaffold-related-document-count-pcf.poml
  projects/ai-document-relationship-visuals/tasks/031-implement-pcf-component.poml
  projects/ai-document-relationship-visuals/tasks/033-pcf-tests.poml
  projects/ai-document-relationship-visuals/tasks/034-deploy-pcf-and-configure-form.poml
  projects/ai-document-relationship-visuals/tasks/040-integration-testing.poml
  projects/ai-document-relationship-visuals/tasks/090-project-wrap-up.poml
  projects/ai-document-relationship-visuals/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(pcf): correct schema name to include constructor in solution XML
  src/client/pcf/RelatedDocumentCount/Solution/customizations.xml
  src/client/pcf/RelatedDocumentCount/Solution/pack.ps1
  src/client/pcf/RelatedDocumentCount/Solution/solution.xml
Owners: @spaarke-dev

fix(pcf): read documentId from context.page.entityId instead of bound field
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/ControlManifest.Input.xml
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/index.ts
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/ControlManifest.xml
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
Owners: @spaarke-dev

chore(pcf): version bump RelatedDocumentCount to v1.0.1
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/ControlManifest.Input.xml
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/RelatedDocumentCount.tsx
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/ControlManifest.xml
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
  src/client/pcf/RelatedDocumentCount/Solution/pack.ps1
  src/client/pcf/RelatedDocumentCount/Solution/solution.xml
Owners: @spaarke-dev

fix(communication): add JsonStringEnumConverter to enums and v1.0 token claim support
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Models/BodyFormat.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Models/CommunicationType.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Models/SendMode.cs
Owners: @spaarke-dev

fix(communication): resolve Dataverse field errors and DI resolution blocking job processor
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/FinanceModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/GraphSubscriptionManager.cs
Owners: @spaarke-dev

fix(pcf): add @spaarke/auth for proper MSAL token management
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/authInit.ts
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/hooks/useRelatedDocumentCount.ts
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/index.ts
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
  src/client/pcf/RelatedDocumentCount/package-lock.json
  src/client/pcf/RelatedDocumentCount/package.json
Owners: @spaarke-dev

feat(pcf): add refresh button, remove title/icon, inline zero message v1.0.2
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/ControlManifest.Input.xml
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/RelatedDocumentCount.tsx
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/ControlManifest.xml
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
  src/client/pcf/RelatedDocumentCount/Solution/pack.ps1
  src/client/pcf/RelatedDocumentCount/Solution/solution.xml
  src/client/shared/Spaarke.UI.Components/src/components/RelationshipCountCard/RelationshipCountCard.tsx
Owners: @spaarke-dev

fix(pcf): gate API fetch on auth initialization v1.0.3
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/ControlManifest.Input.xml
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/RelatedDocumentCount.tsx
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/index.ts
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/ControlManifest.xml
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
  src/client/pcf/RelatedDocumentCount/Solution/pack.ps1
  src/client/pcf/RelatedDocumentCount/Solution/solution.xml
Owners: @spaarke-dev

fix(pcf): build with real @spaarke/auth (not stub) v1.0.4
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/ControlManifest.Input.xml
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/RelatedDocumentCount.tsx
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/ControlManifest.xml
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
  src/client/pcf/RelatedDocumentCount/Solution/pack.ps1
  src/client/pcf/RelatedDocumentCount/Solution/solution.xml
Owners: @spaarke-dev

fix(upload-wizard): UAT R4 - align Create Analysis, block Next, inline confirm, expand dialog, fix Done
  src/client/shared/Spaarke.UI.Components/src/components/FindSimilarDialog/FindSimilarDialog.tsx
  src/solutions/DocumentUploadWizard/src/App.tsx
  src/solutions/DocumentUploadWizard/src/components/NextStepsStep.tsx
Owners: @spaarke-dev

fix(upload-wizard): activate Next button after analysis creation
  src/solutions/DocumentUploadWizard/src/components/NextStepsStep.tsx
Owners: @spaarke-dev

fix(wizard): add requestUpdate() to WizardShellHandle for canAdvance re-evaluation
  src/client/shared/Spaarke.UI.Components/src/components/Wizard/WizardShell.tsx
  src/client/shared/Spaarke.UI.Components/src/components/Wizard/wizardShellTypes.ts
  src/solutions/DocumentUploadWizard/src/components/NextStepsStep.tsx
Owners: @spaarke-dev

fix(api): resolve incoming email GUID resolution and field name standardization
  .claude/settings.json
  infrastructure/bicep/customer-deployment.bicepparam
  infrastructure/bicep/parameters/customer-template.bicepparam
  infrastructure/bicep/stacks/model1-shared.bicep
  infrastructure/bicep/stacks/model2-full.bicep
  src/server/api/Sprk.Bff.Api/Api/CommunicationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Configuration/CommunicationOptions.cs
  src/server/api/Sprk.Bff.Api/Configuration/ServiceBusOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/FinanceModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationAccountService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationJobProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/GraphSubscriptionManager.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/InboundPollingBackupService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingCommunicationProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Models/SubscriptionStatus.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/IncomingCommunicationJobHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/JobSubmissionService.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
Owners: @spaarke-dev

feat(pcf): add mini graph preview to RelatedDocumentCount card v1.0.15
  .claude/skills/pcf-deploy/SKILL.md
  docs/guides/PCF-DEPLOYMENT-GUIDE.md
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/ControlManifest.Input.xml
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/RelatedDocumentCount.tsx
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/hooks/useRelatedDocumentGraphData.ts
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/ControlManifest.xml
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
  src/client/pcf/RelatedDocumentCount/Solution/pack.ps1
  src/client/pcf/RelatedDocumentCount/Solution/solution.xml
  src/client/shared/Spaarke.UI.Components/src/components/MiniGraph/MiniGraph.tsx
  src/client/shared/Spaarke.UI.Components/src/components/MiniGraph/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/RelationshipCountCard/RelationshipCountCard.tsx
  src/client/shared/Spaarke.UI.Components/src/types/MiniGraphTypes.ts
  src/client/shared/Spaarke.UI.Components/src/types/index.ts
  src/client/shared/Spaarke.UI.Components/src/utils/index.ts
  src/client/shared/Spaarke.UI.Components/src/utils/relationshipColors.ts
Owners: @spaarke-dev, @docs-team

feat(pcf,code-page): UI/UX overhaul for RelatedDocumentCount and DocumentRelationshipViewer
  src/client/code-pages/DocumentRelationshipViewer/src/App.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/components/ControlPanel.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/components/DocumentEdge.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/components/DocumentGraph.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/components/DocumentNode.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/components/RelationshipGrid.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/components/RelationshipNetwork.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/components/RelationshipTimeline.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/services/FilePreviewServiceAdapter.ts
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/ControlManifest.Input.xml
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/RelatedDocumentCount.tsx
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/ControlManifest.xml
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
  src/client/pcf/RelatedDocumentCount/Solution/pack.ps1
  src/client/pcf/RelatedDocumentCount/Solution/solution.xml
  src/client/shared/Spaarke.UI.Components/src/components/MiniGraph/MiniGraph.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RelationshipCountCard/RelationshipCountCard.tsx
Owners: @spaarke-dev

feat(workspace): add Create Record wizards, Work Assignment wizard, and UX fixes
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/CreateRecordWizard.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/FollowOnSteps.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/steps/AssignResourcesStep.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/steps/DraftSummaryStep.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/steps/RecipientField.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/steps/SendEmailStep.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/types.ts
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
  src/solutions/LegalWorkspace/src/components/ActivityFeed/ActivityFeed.tsx
  src/solutions/LegalWorkspace/src/components/ActivityFeed/ActivityFeedList.tsx
  src/solutions/LegalWorkspace/src/components/ActivityFeed/FeedItemCard.tsx
  src/solutions/LegalWorkspace/src/components/ActivityFeed/FilterBar.tsx
  src/solutions/LegalWorkspace/src/components/CreateEvent/CreateEventStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateEvent/EventWizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateEvent/eventService.ts
  src/solutions/LegalWorkspace/src/components/CreateEvent/formTypes.ts
  src/solutions/LegalWorkspace/src/components/CreateMatter/WizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateProject/ProjectWizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateTodo/CreateTodoStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateTodo/TodoWizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateTodo/formTypes.ts
  src/solutions/LegalWorkspace/src/components/CreateTodo/todoService.ts
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/AssignWorkStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/CreateFollowOnEventStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/EnterInfoStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/NextStepsSelectionStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/SelectWorkStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/ShareDocumentsStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/WorkAssignmentWizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/formTypes.ts
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/workAssignmentService.ts
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
Owners: @spaarke-dev

fix(wizard): pass uploaded files from Step 1 to entity form steps
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/CreateRecordWizard.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/types.ts
  src/solutions/LegalWorkspace/src/components/CreateEvent/EventWizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateMatter/WizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateProject/ProjectWizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateTodo/TodoWizardDialog.tsx
Owners: @spaarke-dev

refactor(shared-lib): promote reusable wizard components to @spaarke/ui-components
  docs/guides/WORKSPACE-ENTITY-CREATION-GUIDE.md
  docs/guides/playbook-pre-fill-integration-guide.md
  src/client/shared/Spaarke.UI.Components/src/components/AiFieldTag/AiFieldTag.tsx
  src/client/shared/Spaarke.UI.Components/src/components/AiFieldTag/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/index.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useAiPrefill.ts
  src/client/shared/Spaarke.UI.Components/src/services/EntityCreationService.ts
  src/client/shared/Spaarke.UI.Components/src/services/index.ts
  src/client/shared/Spaarke.UI.Components/src/types/WebApiLike.ts
  src/client/shared/Spaarke.UI.Components/src/utils/index.ts
  src/client/shared/Spaarke.UI.Components/src/utils/lookupMatching.ts
  src/solutions/LegalWorkspace/src/components/CreateMatter/AiFieldTag.tsx
  src/solutions/LegalWorkspace/src/components/CreateMatter/CreateRecordStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateMatter/matterService.ts
  src/solutions/LegalWorkspace/src/components/CreateProject/CreateProjectStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateProject/ProjectWizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/workAssignmentService.ts
  src/solutions/LegalWorkspace/src/services/EntityCreationService.ts
  src/solutions/LegalWorkspace/src/services/index.ts
Owners: @spaarke-dev, @docs-team

feat(pcf,code-page): UX feedback round 2 - toolbar, grid, graph, search v1.0.19
  src/client/code-pages/DocumentRelationshipViewer/src/App.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/components/DocumentEdge.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/components/DocumentGraph.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/components/DocumentNode.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/components/FilePreviewDialog.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/components/RelationshipGrid.tsx
  src/client/code-pages/DocumentRelationshipViewer/webpack.config.js
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/ControlManifest.Input.xml
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/RelatedDocumentCount.tsx
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/ControlManifest.xml
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
  src/client/pcf/RelatedDocumentCount/Solution/pack.ps1
  src/client/pcf/RelatedDocumentCount/Solution/solution.xml
  src/client/shared/Spaarke.UI.Components/src/components/RelationshipCountCard/RelationshipCountCard.tsx
Owners: @spaarke-dev

fix(communication): resolve duplicate emails, fix BackgroundService startup, and add orphan subscription cleanup
  src/server/api/Sprk.Bff.Api/Api/CommunicationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationAccountService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/GraphSubscriptionManager.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/InboundPollingBackupService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingAssociationResolver.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingCommunicationProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/MailboxVerificationService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Models/CommunicationAccount.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Models/VerificationResult.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/IncomingCommunicationJobHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/JobSubmissionService.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/IDataverseService.cs
Owners: @spaarke-dev

feat(resolver): add shared PolymorphicResolverService, fix field renames
  .claude/adr/ADR-024-polymorphic-resolver-pattern.md
  .claude/patterns/dataverse/polymorphic-resolver.md
  .claude/settings.json
  docs/data-model/sprk_communication.md
  docs/data-model/sprk_workassignment.md
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/steps/SendEmailStep.tsx
  src/client/shared/Spaarke.UI.Components/src/services/EntityCreationService.ts
  src/client/shared/Spaarke.UI.Components/src/services/PolymorphicResolverService.ts
  src/client/shared/Spaarke.UI.Components/src/services/index.ts
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingAssociationResolver.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/IDataverseService.cs
  src/solutions/LegalWorkspace/src/components/CreateMatter/matterService.ts
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/AddFilesStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/AssignWorkStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/CreateFollowOnEventStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/EnterInfoStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/NextStepsSelectionStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/SelectWorkStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/ShareDocumentsStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/WorkAssignmentWizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/formTypes.ts
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/workAssignmentService.ts
  src/solutions/LegalWorkspace/src/components/GetStarted/getStartedConfig.ts
  src/solutions/LegalWorkspace/src/hooks/useUserContactId.ts
  src/solutions/LegalWorkspace/src/services/DataverseService.ts
  src/solutions/LegalWorkspace/src/services/queryHelpers.ts
  src/solutions/LegalWorkspace/src/types/entities.ts
Owners: @spaarke-dev, @docs-team

docs(communication): update architecture, patterns, and admin guide for R2
  .claude/constraints/jobs.md
  .claude/patterns/api/INDEX.md
  .claude/patterns/api/send-email-integration.md
  .claude/patterns/auth/graph-webhooks.md
  docs/architecture/communication-service-architecture.md
  docs/guides/COMMUNICATION-ADMIN-GUIDE.md
Owners: @spaarke-dev, @docs-team

feat(pcf,code-page): UX fixes, performance optimizations, filter support v1.20.2
  .claude/settings.json
  src/client/code-pages/DocumentRelationshipViewer/package-lock.json
  src/client/code-pages/DocumentRelationshipViewer/package.json
  src/client/code-pages/DocumentRelationshipViewer/src/App.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/components/ControlPanel.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/components/DocumentGraph.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/components/DocumentNode.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/components/RelationshipGrid.tsx
  src/client/code-pages/DocumentRelationshipViewer/webpack.config.js
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/ControlManifest.Input.xml
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/RelatedDocumentCount.tsx
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/hooks/useRelatedDocumentGraphData.ts
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/ControlManifest.xml
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
  src/client/pcf/RelatedDocumentCount/Solution/pack.ps1
  src/client/pcf/RelatedDocumentCount/Solution/solution.xml
  src/client/shared/Spaarke.UI.Components/src/components/MiniGraph/MiniGraph.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RelationshipCountCard/RelationshipCountCard.tsx
Owners: @spaarke-dev

fix(wizards): standardize email, fix WA bugs, add AI prefill + doc association
  scripts/Deploy-CorporateWorkspace.ps1
  src/client/shared/Spaarke.UI.Components/src/services/EntityCreationService.ts
  src/client/shared/Spaarke.UI.Components/src/services/index.ts
  src/client/shared/Spaarke.UI.Components/tsconfig.json
  src/solutions/LegalWorkspace/src/components/CreateEvent/EventWizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateMatter/matterService.ts
  src/solutions/LegalWorkspace/src/components/CreateProject/ProjectWizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateTodo/TodoWizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/EnterInfoStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/WorkAssignmentWizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/workAssignmentService.ts
Owners: @spaarke-dev, @devops-team

chore: update skill docs and CLAUDE.md
  .claude/skills/script-aware/SKILL.md
  .claude/skills/task-execute/SKILL.md
  CLAUDE.md
Owners: @spaarke-dev

fix(wa-wizard): use sprk_mattertype for project prefill, isolate lookup queries
  src/solutions/LegalWorkspace/src/components/CreateWorkAssignment/workAssignmentService.ts
Owners: @spaarke-dev

fix: add SidePaneManager injection snippet to Corporate Workspace
  src/solutions/LegalWorkspace/index.html
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
