Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

fix(office-addins): align @testing-library/react to v16; useAnnounce defect is the real cause
  projects/spaarkeai-word-add-in-r1/CLAUDE.md
  projects/spaarkeai-word-add-in-r1/current-task.md
  projects/spaarkeai-word-add-in-r1/notes/017-testing-library-alignment.md
  projects/spaarkeai-word-add-in-r1/tasks/017-align-testing-library-react-19.poml
  projects/spaarkeai-word-add-in-r1/tasks/TASK-INDEX.md
  src/client/office-addins/package-lock.json
  src/client/office-addins/package.json
Owners: @spaarke-dev

feat(uac-r2): tasks 062 + 068 + 086 -- parallel wave, two live escalations
  docs/data-model/INDEX.md
  docs/data-model/sprk_accessevent.md
  projects/unified-access-control-r2/notes/task-062-nfr05-role-depth.md
  projects/unified-access-control-r2/notes/task-068-secure-step-copy.md
  projects/unified-access-control-r2/notes/task-086-access-event-schema.md
  projects/unified-access-control-r2/tasks/062-nfr05-role-depth-standing-assertion.poml
  projects/unified-access-control-r2/tasks/068-create-project-wizard-secure-step.poml
  projects/unified-access-control-r2/tasks/086-access-event-log-schema.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  scripts/Deploy-AccessEventEntity.ps1
  src/client/shared/Spaarke.UI.Components/src/components/CreateProjectWizard/CreateProjectWizard.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateProjectWizard/SecureProjectSection.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateProjectWizard/__tests__/SecureProjectSection.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateProjectWizard/__tests__/provisioningService.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/CreateProjectWizard/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/CreateProjectWizard/provisioningService.ts
  tests/integration/auth/UnifiedAccessControl/SecureBuRoleDepthAssertion.cs
  tests/integration/auth/UnifiedAccessControl/SecureBuRoleDepthAssertionTests.cs
Owners: @spaarke-dev, @docs-team, @devops-team

docs(word-add-in-r1): spike-1 AMBER — link 4 is GREEN; two unanticipated blockers found
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/word-document-identity-desk-research-2026-09-09.md
  projects/spaarkeai-word-add-in-r1/current-task.md
  projects/spaarkeai-word-add-in-r1/notes/spikes/spike-1-document-url.md
  projects/spaarkeai-word-add-in-r1/tasks/002-spike-1-document-url-word-desktop.poml
  projects/spaarkeai-word-add-in-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(uac-r2): task 035 -- ImpersonatedRootSetSource, registered but inert
  projects/unified-access-control-r2/notes/task-035-impersonated-root-set-source.md
  projects/unified-access-control-r2/tasks/035-fr20-impersonated-root-set-source.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ExternalAccessModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ImpersonatedRootSetSource.cs
  tests/integration/auth/UnifiedAccessControl/ImpersonatedRootSetSourceTests.cs
Owners: @spaarke-dev

feat(office-addins): consolidate onto one Word adapter via HostAdapterFactory (FR-04)
  docs/architecture/office-outlook-teams-integration-architecture.md
  knowledge/sharepoint-embedded/NOTES.md
  projects/spaarkeai-word-add-in-r1/CLAUDE.md
  projects/spaarkeai-word-add-in-r1/current-task.md
  projects/spaarkeai-word-add-in-r1/notes/010-adapter-consolidation.md
  projects/spaarkeai-word-add-in-r1/tasks/010-adapter-consolidation-word.poml
  projects/spaarkeai-word-add-in-r1/tasks/TASK-INDEX.md
  src/client/office-addins/CLAUDE.md
  src/client/office-addins/jest.setup.js
  src/client/office-addins/outlook/taskpane/index.tsx
  src/client/office-addins/shared/__mocks__/office-js.ts
  src/client/office-addins/shared/adapters/WordAdapter.ts
  src/client/office-addins/shared/adapters/__tests__/HostAdapterFactory.test.ts
  src/client/office-addins/shared/adapters/__tests__/WordAdapter.test.ts
  src/client/office-addins/word/WordHostAdapter.ts
  src/client/office-addins/word/taskpane/index.tsx
  tests/e2e/pages/addins/WordTaskPanePage.ts
  tests/e2e/specs/word-addins/save-flow.spec.ts
Owners: @spaarke-dev, @docs-team

docs(uac-r2): task 062's live exposure is REMEDIATED -- verified
  projects/unified-access-control-r2/notes/task-062-nfr05-role-depth.md
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

checkpoint(uac-r2): session-5 handoff -- six tasks closed, live exposure fixed and verified
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

fix(office-addins): pass the Stage-1 host to HostAdapterFactory (task 010, option B)
  src/client/office-addins/outlook/taskpane/index.tsx
  src/client/office-addins/word/taskpane/index.tsx
Owners: @spaarke-dev

docs(word-add-in-r1): own the unowned work — tasks 018 + 019; gate 014 on 019
  projects/spaarkeai-word-add-in-r1/tasks/018-useannounce-react19-lifecycle.poml
  projects/spaarkeai-word-add-in-r1/tasks/019-customxml-premise-and-wordapi-14.poml
  projects/spaarkeai-word-add-in-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(uac-r2): task 024 -- SPE permission reads follow @odata.nextLink (M1)
  projects/unified-access-control-r2/current-task.md
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/RevokeExternalAccessEndpoint.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/SpeContainerMembershipService.cs
  tests/Spaarke.ArchTests/ExternalAccessQueryIntegrityGuardTests.cs
  tests/integration/auth/UnifiedAccessControl/SpeContainerPagingTests.cs
Owners: @spaarke-dev

fix(office-addins): FR-02 pre-flight — premise CONFIRMED, CustomXmlParts declared, WordApi NOT bumped
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/customxml-parts-vs-markup-manifest-2026-09-09.md
  projects/spaarkeai-word-add-in-r1/current-task.md
  projects/spaarkeai-word-add-in-r1/notes/019-customxml-premise-and-manifest.md
  projects/spaarkeai-word-add-in-r1/notes/spikes/spike-1-document-url.md
  projects/spaarkeai-word-add-in-r1/tasks/014-custom-xml-part-stamp-server.poml
  projects/spaarkeai-word-add-in-r1/tasks/019-customxml-premise-and-wordapi-14.poml
  projects/spaarkeai-word-add-in-r1/tasks/TASK-INDEX.md
  src/client/office-addins/word/manifest.json
  src/client/office-addins/word/taskpane/index.tsx
  src/client/office-addins/word/word-manifest.xml
Owners: @spaarke-dev

docs(uac-r2): task 024 closed for M1; M2 transferred to task 065
  projects/unified-access-control-r2/notes/defer-issues.md
  projects/unified-access-control-r2/notes/task-024-spe-paging-parity.md
  projects/unified-access-control-r2/tasks/024-spe-paging-and-revoke-parity.poml
  projects/unified-access-control-r2/tasks/065-access-modal-user-picker.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(office-addins): useAnnounce live regions are React-owned (NFR-11, task 018)
  projects/spaarkeai-word-add-in-r1/tasks/018-useannounce-react19-lifecycle.poml
  projects/spaarkeai-word-add-in-r1/tasks/TASK-INDEX.md
  src/client/office-addins/shared/taskpane/components/SaveFlow.tsx
  src/client/office-addins/shared/taskpane/hooks/__tests__/useAnnounce.test.ts
  src/client/office-addins/shared/taskpane/hooks/useAnnounce.ts
Owners: @spaarke-dev

docs(word-add-in-r1): own the CI gate as task 043; correct the finding; file ISS-002
  projects/spaarkeai-word-add-in-r1/notes/defer-issues.md
  projects/spaarkeai-word-add-in-r1/tasks/043-office-addins-ci-gate.poml
  projects/spaarkeai-word-add-in-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(uac-r2): widen seam-4 guard to the split listing path; pay 035's ADR-010 debt
  projects/unified-access-control-r2/current-task.md
  tests/Spaarke.ArchTests/ADR010_DITests.cs
  tests/Spaarke.ArchTests/ExternalAccessQueryIntegrityGuardTests.cs
Owners: @spaarke-dev

ci(tier1): arm the ADR-010 ceiling + the ExternalAccess integrity guards
  .github/workflows/ci-tier1-blocking.yml
Owners: @spaarke-dev, @devops-team

docs(word-add-in-r1): own ISS-002 as task 044 — diagnose the shadow-window false green
  projects/spaarkeai-word-add-in-r1/notes/defer-issues.md
  projects/spaarkeai-word-add-in-r1/tasks/044-shadow-window-false-green.poml
  projects/spaarkeai-word-add-in-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

perf(uac-r2): ISS-004 -- org revoke reads the container once, not once per member
  projects/unified-access-control-r2/notes/defer-issues.md
  projects/unified-access-control-r2/notes/task-024-spe-paging-parity.md
  projects/unified-access-control-r2/tasks/047-validate-secure-project-provisioning-live.poml
  scripts/README.md
  scripts/Test-SpeContainerPermissionPaging.ps1
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/RevokeExternalAccessEndpoint.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/SpeContainerMembershipService.cs
  tests/integration/auth/UnifiedAccessControl/SpeContainerPagingTests.cs
  tests/integration/auth/UnifiedAccessControl/SpeRevokeMatcherTests.cs
Owners: @spaarke-dev, @docs-team, @devops-team

docs(uac-r2): owner directive -- a failed revoke needs a user message, not just a 500
  projects/unified-access-control-r2/tasks/065-access-modal-user-picker.poml
Owners: @spaarke-dev

docs(uac-r2): task 042 step 1 -- schema verified; escalation trigger 2 fired
  projects/unified-access-control-r2/notes/task-042-standing-grant-levels.md
  projects/unified-access-control-r2/tasks/042-fr25-standing-grant-baseline-levels.poml
Owners: @spaarke-dev

docs(word-add-in-r1): ISS-002 diagnosed — ROUTER DEFECT, already fixed; the MEASUREMENT is latched
  projects/spaarkeai-word-add-in-r1/notes/044-false-green-diagnosis.md
  projects/spaarkeai-word-add-in-r1/notes/defer-issues.md
  projects/spaarkeai-word-add-in-r1/tasks/044-shadow-window-false-green.poml
  projects/spaarkeai-word-add-in-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(ci): advance the shadow window past PR #944 — clears the #934 false-green latch
  projects/spaarkeai-word-add-in-r1/notes/defer-issues.md
  scripts/ci/shadow-window-status.ps1
Owners: @spaarke-dev, @devops-team

feat(uac-r2): task 042 -- the standing grant is level-bearing (FR-25)
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ExternalAccessModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/AccessibleRecordSetService.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ContactStandingGrantReader.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ExternalParticipationService.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/NoAccessListReader.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/SubjectStandingGrantReader.cs
  tests/integration/auth/UnifiedAccessControl/MembershipPagingCharacterizationTests.cs
  tests/integration/seam/ExternalAccess/StandingGrantRuntimeUnionSeamTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/ExternalAccess/AccessibleRecordSetServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/ExternalAccess/ContactStandingGrantReaderTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/ExternalAccess/SubjectStandingGrantReaderTests.cs
Owners: @spaarke-dev

ci(office-addins): add a PR-blocking jest gate (the suite ran nightly and could never fail)
  .github/workflows/office-addins-tests.yml
  projects/INDEX.md
  projects/spaarkeai-word-add-in-r1/current-task.md
  projects/spaarkeai-word-add-in-r1/notes/043-office-addins-ci-gate.md
  projects/spaarkeai-word-add-in-r1/notes/defer-issues.md
  projects/spaarkeai-word-add-in-r1/tasks/043-office-addins-ci-gate.poml
  projects/spaarkeai-word-add-in-r1/tasks/TASK-INDEX.md
  src/client/office-addins/ci-gated-suites.txt
Owners: @spaarke-dev, @devops-team

docs(uac-r2): task 042 closed -- option B recorded, backfill documented
  projects/unified-access-control-r2/notes/task-042-standing-grant-levels.md
  projects/unified-access-control-r2/tasks/042-fr25-standing-grant-baseline-levels.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(ci): the office-addins gate REPORTS, it does not BLOCK — correct a false claim
  .github/workflows/office-addins-tests.yml
  src/client/office-addins/ci-gated-suites.txt
Owners: @spaarke-dev, @devops-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
