Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(auth-v4 031): PROVEN LIVE — OBO succeeds under MI-FIC, no secret
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/031-obo-verification-dev.md
Owners: @spaarke-dev

feat(compose-r8): task 046 — soft line breaks survive an edit; they are no longer lost
  docs/architecture/COMPOSE-WRITE-RESIDUAL-LOSS.md
  src/client/shared/Spaarke.Compose.Components/src/types/compose-contracts.ts
  src/client/shared/Spaarke.Compose.Components/src/utils/docxBridge.importedModel.test.ts
  src/client/shared/Spaarke.Compose.Components/src/utils/docxBridge.ts
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeBlockMerge.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeContentModel.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocumentRenderer.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjectionBuilder.cs
  tests/integration/seam/Compose/ComposeAuthoredWarningSuppressionTests.cs
  tests/integration/seam/Compose/ComposeResidualLossParityTests.cs
  tests/integration/seam/Compose/ComposeSaveWarningTaxonomyTests.cs
Owners: @spaarke-dev, @docs-team

docs(compose-r8): scope the remaining content losses for R8 — sizing, sequencing, one product decision
  projects/spaarkeai-compose-r8/notes/zero-loss-scope.md
Owners: @spaarke-dev

fix(spe-admin): recycle bin dropped every deletion timestamp on a type check
  projects/sdap-SPE-admin-app-r2/current-task.md
  projects/sdap-SPE-admin-app-r2/notes/task-022-findings.md
  projects/sdap-SPE-admin-app-r2/tasks/022-recycle-bin-select-fix.poml
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  tests/integration/contract/SpeAdmin/SpeAdminGraphMappingContractTests.cs
Owners: @spaarke-dev

feat(auth-v4 031): resolve the 403, verify row-level authorization
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/031-obo-verification-dev.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/090-project-wrap-up.poml
Owners: @spaarke-dev

design(customer-provisioning): H4-shared + H4b handler POMLs (F19/F20 automation)
  .claude/skills/provision-environment/SKILL.md
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/200-implement-h4-shared-kv-source-extraction-handler.poml
  projects/customer-provisioning-orchestration-r1/tasks/201-implement-h4b-bulk-appsettings-handler.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(compose-r8): task 047 — survey the editor's node inventory; find a SECOND loss direction
  projects/spaarkeai-compose-r8/notes/zero-loss-scope.md
  src/client/shared/Spaarke.Compose.Components/src/utils/docxBridge.editorNodeCoverage.test.ts
Owners: @spaarke-dev

docs(compose-r8): the opaque-atom pipeline already exists — the plan collapses from six pieces to two
  projects/spaarkeai-compose-r8/notes/zero-loss-scope.md
Owners: @spaarke-dev

fix(docs): /api/containers is superseded and always 403 — correct three docs
  docs/architecture/sdap-overview.md
  docs/guides/INCIDENT-RESPONSE.md
  docs/standards/INTEGRATION-CONTRACTS.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/031-obo-verification-dev.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/090-project-wrap-up.poml
Owners: @spaarke-dev, @docs-team

fix(api): SPE revoke matches the email key membership is written with (task 017, FR-16/A-13/H-8b)
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/task-017-spe-revoke-matcher.md
  projects/unified-access-control-r2/tasks/017-spe-revoke-matcher-and-relic.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/AccessGrantModal/__tests__/AccessGrantModal.test.tsx
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/Dtos/RevokeAccessResponse.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ProjectClosureEndpoint.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/RevokeExternalAccessEndpoint.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/SpeContainerMembershipService.cs
  tests/e2e/specs/secure-project/revocation.spec.ts
  tests/integration/auth/UnifiedAccessControl/GrantLifecycleCharacterizationTests.cs
  tests/integration/auth/UnifiedAccessControl/ProjectClosureCascadeTests.cs
  tests/integration/auth/UnifiedAccessControl/SpeRevokeMatcherTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/ExternalAccess/ExternalAccessEndpointTests.cs
Owners: @spaarke-dev

feat(auth-v4 031): rollback re-verified at credential level — unblocks 032
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/031-obo-verification-dev.md
Owners: @spaarke-dev

test(e2e): reconcile the revocation spec with task 017's contract
  tests/e2e/specs/secure-project/revocation.spec.ts
Owners: @spaarke-dev

checkpoint(auth-v4): 031 live state — MI-FIC OBO proven, 032 unblocked
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/031-slot-deploy-obo-verification.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(spe-admin): container-type settings writes were no-ops at three layers
  projects/sdap-SPE-admin-app-r2/current-task.md
  projects/sdap-SPE-admin-app-r2/notes/task-023-findings.md
  projects/sdap-SPE-admin-app-r2/tasks/023-property-names-and-quota-split.poml
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerTypeSettingsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/server/api/Sprk.Bff.Api/Models/SpeAdmin/ContainerTypeDtos.cs
  src/server/api/Sprk.Bff.Api/Models/SpeAdmin/UpdateContainerTypeSettingsRequest.cs
  src/solutions/SpeAdminApp/src/components/container-types/ContainerTypeDetail.tsx
  tests/integration/contract/SpeAdmin/SpeAdminContainerTypeSettingsPatchTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/SpeAdmin/UpdateContainerTypeSettingsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/SpeAdmin/Phase2IntegrationTests.cs
Owners: @spaarke-dev

design(customer-provisioning): SESSION 4 POML corrections (084 status + 200/201 rewrite per recon)
  projects/customer-provisioning-orchestration-r1/tasks/084-canonical-secret-catalog-manifest.poml
  projects/customer-provisioning-orchestration-r1/tasks/200-implement-h4-shared-kv-source-extraction-handler.poml
  projects/customer-provisioning-orchestration-r1/tasks/201-implement-h4b-bulk-appsettings-handler.poml
Owners: @spaarke-dev

chore(uac-r2): scope org-grant SPE cleanup as task 020; resolve the GrantMembershipAsync question
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/tasks/020-org-grant-spe-member-cleanup.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(customer-provisioning): task 200 Phase A — manifest + generator extension for from-shared-service value_source
  scripts/canonical-secret-catalog/Invoke-CatalogGenerator.ps1
  scripts/canonical-secret-catalog/generated/Seed-CustomerKeyVault.generated.ps1
  scripts/canonical-secret-catalog/generated/appsettings.tokens.generated.md
  scripts/canonical-secret-catalog/generated/kv-secrets.generated.bicep
  scripts/canonical-secret-catalog/manifest.yaml
Owners: @spaarke-dev, @devops-team

feat(auth-v4 031): remaining OBO surfaces verified — and §5.5 RETRACTED as wrong
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/031-obo-verification-dev.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/090-project-wrap-up.poml
Owners: @spaarke-dev

docs(auth-v4 031): TASK-INDEX row — only Office add-ins + the §6.1 owner decision remain
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(customer-provisioning): task 200 Phase B+C — H4SharedKvSecretsPopulationHandler + SDK source-extractor + shared-KV accessor seams + 19 tests
  projects/customer-provisioning-orchestration-r1/notes/task-200-completion-notes.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/HandlerDispatchRegistrationModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/HandlerIds.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/FileKvSecretManifest.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/H4KvSecretsPopulationHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/H4SharedKvSecretsPopulationHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/IKvSecretManifest.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/ISharedKvSecretAccessor.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/ISourceServiceKeyExtractor.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/KvSecretValueResolver.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/SdkSourceServiceKeyExtractor.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/SecretClientKvSharedSecretAccessor.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/SharedKvSecretSource.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/SharedKvSecretsPopulationRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Sprk.Provisioning.ControlPlane.Core.csproj
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Dispatch/HandlerRegistrationCompletenessTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/FileKvSecretManifestTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H4SharedKvSecretsPopulationHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev

docs(auth-v4 031): out-of-band email delivery confirmed; retract an inaccurate 031-C claim
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/031-obo-verification-dev.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/090-project-wrap-up.poml
Owners: @spaarke-dev

docs(auth-v4 031): 030 carry-forward BLOCKED — the assertion is not mintable from here
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/031-obo-verification-dev.md
Owners: @spaarke-dev

feat(compose-r8): task 048 — tabs and symbols survive an edit to their paragraph
  docs/architecture/COMPOSE-WRITE-RESIDUAL-LOSS.md
  projects/spaarkeai-compose-r8/notes/zero-loss-scope.md
  src/client/shared/Spaarke.Compose.Components/src/types/compose-contracts.ts
  src/client/shared/Spaarke.Compose.Components/src/utils/docxBridge.tabSymbol.test.ts
  src/client/shared/Spaarke.Compose.Components/src/utils/docxBridge.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/opaqueAtomNode.ts
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeBlockMerge.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeContentModel.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocumentRenderer.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjection.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjectionBuilder.cs
  tests/integration/seam/Compose/ComposeResidualLossParityTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeDocumentRendererTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeDocxProjectionBuilderTests.cs
Owners: @spaarke-dev, @docs-team

feat(spe-admin): report real container storage instead of a confident "0 B"
  projects/sdap-SPE-admin-app-r2/current-task.md
  projects/sdap-SPE-admin-app-r2/notes/storage-consumption-spike.md
  projects/sdap-SPE-admin-app-r2/tasks/024-storage-consumption-spike.poml
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/server/api/Sprk.Bff.Api/Services/SpeAdmin/SpeDashboardSyncService.cs
  src/solutions/SpeAdminApp/src/components/containers/ContainersPage.tsx
  src/solutions/SpeAdminApp/src/components/dashboard/DashboardPage.tsx
  src/solutions/SpeAdminApp/src/types/spe.ts
  tests/integration/contract/SpeAdmin/SpeAdminGraphMappingContractTests.cs
Owners: @spaarke-dev

docs(compose-r8): record 046–048 in TASK-INDEX as owner-directed follow-ons to 045
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(auth-v4 031): close the 030 carry-forward as Option B; hand the live test to its real consumer
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/PROVISIONING-CHANGE-REQUEST.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/031-slot-deploy-obo-verification.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/032-promote-and-retire-slot.poml
Owners: @spaarke-dev

feat(customer-provisioning): task 201 — H4bBulkAppSettingsHandler + per_env_settings manifest extension + thin C# handler shells to generated PS + Kudu docker-log fail-fast parser (23 tests)
  projects/customer-provisioning-orchestration-r1/notes/task-201-completion-notes.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  scripts/canonical-secret-catalog/Invoke-CatalogGenerator.ps1
  scripts/canonical-secret-catalog/generated/Configure-AppServiceSettings.generated.ps1
  scripts/canonical-secret-catalog/manifest.yaml
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BulkAppSettings/BulkAppSettingsOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BulkAppSettings/BulkAppSettingsRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BulkAppSettings/FilePerEnvSettingsManifest.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BulkAppSettings/H4bBulkAppSettingsHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BulkAppSettings/HttpHealthzProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BulkAppSettings/IContainerLogFetcher.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BulkAppSettings/IHealthzProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BulkAppSettings/IPerEnvSettingsManifest.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BulkAppSettings/IProcessRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BulkAppSettings/KuduContainerLogFetcher.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BulkAppSettings/PwshProcessRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/HandlerDispatchRegistrationModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/HandlerIds.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Dispatch/HandlerRegistrationCompletenessTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H4bBulkAppSettingsHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev, @devops-team

docs(customer-provisioning): SESSION 4 handoff — Phase H-Prime CLOSED (tasks 200 + 201 shipped)
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

feat(auth-v4 032): SWAP DONE — the default slot now runs MI-FIC, proven at credential level
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/032-promotion.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/032-promote-and-retire-slot.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(api): repair the provisioning read — sprk_project has no securitybuid/specontainerid
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/Dtos/ProvisionProjectResponse.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ProvisionProjectEndpoint.cs
  tests/integration/data-mutation/ExternalAccess/ProvisionProjectIdempotencyTests.cs
  tests/integration/data-mutation/ExternalAccess/ProvisionProjectTestFixture.cs
Owners: @spaarke-dev

fix(spe-admin): restore the missing SPE owning-app credential; live-verify 022/024
  projects/sdap-SPE-admin-app-r2/current-task.md
  projects/sdap-SPE-admin-app-r2/notes/live-verification-credential.md
  projects/sdap-SPE-admin-app-r2/notes/storage-consumption-spike.md
  projects/sdap-SPE-admin-app-r2/notes/task-022-findings.md
Owners: @spaarke-dev

docs(uac-r2): record the 2026-08-24 review findings; defuse task 009's POML
  projects/unified-access-control-r2/notes/review-2026-08-24-findings.md
  projects/unified-access-control-r2/tasks/009-scope-check-external-todo-patch.poml
Owners: @spaarke-dev

docs(record-header): verify R2 design against code and live Dataverse schema
  projects/record-header-and-notepad-r2/CLAUDE.md
  projects/record-header-and-notepad-r2/README.md
  projects/record-header-and-notepad-r2/design.md
  projects/record-header-and-notepad-r2/notes/discovery-checklist.md
  projects/record-header-and-notepad-r2/notes/issues/ISSUE-daily-briefing-schema-drift.md
  projects/record-header-and-notepad-r2/notes/issues/ISSUE-event-schema-drift.md
  projects/record-header-and-notepad-r2/notes/issues/ISSUE-work-assignment-schema-drift.md
  projects/record-header-and-notepad-r2/notes/issues/README.md
Owners: @spaarke-dev, @docs-team

feat(compose-r8): task 051 part 1 — wire the FR-C01 anchor; it existed and was dark
  projects/spaarkeai-compose-r8/current-task.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/useAiGenerateBookmark.ts
Owners: @spaarke-dev

checkpoint(uac-r2): context-handoff after the Phase 0 review — priorities reordered
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

checkpoint: save state for task 051 (FR-C01 complete; FR-C02/C03 next)
  projects/spaarkeai-compose-r8/current-task.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
Owners: @spaarke-dev

chore(auth-v4 032): discharge the 033 obligation — app-setting name baseline + estate survey
  projects/spaarke-auth-v4-dataverse-MI/notes/appsettings-baseline-pre-033.md
Owners: @spaarke-dev

docs(spe-admin): live verification 2026-08-24 — 030/024/022 confirmed, 023 write blocked
  projects/sdap-SPE-admin-app-r2/notes/live-verification-2026-08-24.md
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(auth-v4 032): COMPLETE — staging slot deleted; rollback is now credential-reorder only
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/032-promotion.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/032-promote-and-retire-slot.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(auth-v4 033): step 1 — the add-in-deploy premise is FALSE; nothing deleted yet
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/033-secret-removal.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/033-remove-secret-and-reconcile-estate.poml
Owners: @spaarke-dev
