Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

feat(quality): task 041 — mechanical baseline, activate BFF C# surface
  projects/code-quality-and-assurance-r3/notes/task-041-mechanical-baseline-activation.md
  projects/code-quality-and-assurance-r3/tasks/041-mechanical-baseline.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/Cache/NullObjects/NullConnectionMultiplexer.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/DataverseHttpServiceBase.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Workflows/SendUploadNotificationWorkflow.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeBaselineParaIdStamper.cs
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
Owners: @spaarke-dev

feat(quality): tasks 063 + 042 — naming standard + gate; CI-gate status
  docs/architecture/AZURE-RESOURCE-NAMING-CONVENTION.md
  projects/code-quality-and-assurance-r3/notes/task-042-063-ci-gate-wiring-deferral.md
  projects/code-quality-and-assurance-r3/notes/task-063-naming-standard-r1-handoff.md
  projects/code-quality-and-assurance-r3/tasks/042-ci-gates.poml
  projects/code-quality-and-assurance-r3/tasks/063-resource-naming-standard-and-gate.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
  scripts/naming-conformance-check.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

wrap-up(quality): task 090 — /test-diet gate + final re-score + program close
  projects/code-quality-and-assurance-r3/README.md
  projects/code-quality-and-assurance-r3/notes/SCORECARD.md
  projects/code-quality-and-assurance-r3/notes/lessons-learned.md
  projects/code-quality-and-assurance-r3/notes/r3-draft-reconciliation.md
  projects/code-quality-and-assurance-r3/notes/test-diet-report.md
  projects/code-quality-and-assurance-r3/tasks/090-project-wrap-up.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

checkpoint(quality): current-task -> PROJECT COMPLETE (35/35)
  projects/code-quality-and-assurance-r3/current-task.md
Owners: @spaarke-dev

fix(quality): harden naming-conformance gate (review findings)
  scripts/naming-conformance-check.ps1
Owners: @spaarke-dev, @devops-team

docs(quality): post-program full-review verdict + follow-on backlog
  projects/code-quality-and-assurance-r3/notes/follow-on-quality-backlog.md
Owners: @spaarke-dev

refactor(quality): follow-on quick wins — tighten gates
  Directory.Build.props
  tests/Spaarke.ArchTests/GodClassGuardTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/UploadIntegrationTests.cs
Owners: @spaarke-dev

fix(quality): eliminate the masked nullable-warning class (CS8601/CS8604)
  Directory.Build.props
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  src/server/api/Sprk.Bff.Api/Services/Notifications/SignalRDeliveryService.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/TodoGenerationService.cs
  tests/integration/contract/Eval/P2LoopInjectionEvalSuiteTests.cs
  tests/integration/seam/Compose/ComposeHeadingListApplierSeamTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Memory/MemoryCompositionServiceTests.cs
Owners: @spaarke-dev

fix(quality): broaden naming-gate scan scope to bicep + config (item 8)
  scripts/naming-conformance-check.ps1
Owners: @spaarke-dev, @devops-team

docs(quality): red-item project seeds (RED-1..4) + follow-on execution status
  projects/code-quality-and-assurance-r3/notes/follow-on-quality-backlog.md
  projects/code-quality-and-assurance-r3/notes/red-item-analyses/RED-1-speadmin-graphservice-decomposition.md
  projects/code-quality-and-assurance-r3/notes/red-item-analyses/RED-2-chatendpoints-split.md
  projects/code-quality-and-assurance-r3/notes/red-item-analyses/RED-3-test-suite-reduction.md
  projects/code-quality-and-assurance-r3/notes/red-item-analyses/RED-4-ng1-dataverse-stack-unification.md
Owners: @spaarke-dev

docs(smart-todo-r5): refine design + generate spec.md (ready for pipeline)
  projects/smart-todo-r5/design.md
  projects/smart-todo-r5/spec.md
  projects/smart-todo-r5/to-do-header-revision.jpg
  projects/smart-todo-r5/to-do-main-form-modal.jpg
Owners: @spaarke-dev

refactor(quality): redesign God-class ratchet (per-file freeze) + document it
  .claude/CHANGELOG.md
  .claude/patterns/INDEX.md
  .claude/patterns/testing/INDEX.md
  .claude/patterns/testing/god-class-ratchet.md
  CLAUDE.md
  tests/Spaarke.ArchTests/GodClassGuardTests.cs
Owners: @spaarke-dev

docs(smart-todo-r5): fold stale PR #508 boundary fix into FR-01
  projects/smart-todo-r5/design.md
  projects/smart-todo-r5/spec.md
Owners: @spaarke-dev

docs(quality): r3 -> customer-provisioning-orchestration-r1 handoff
  projects/customer-provisioning-orchestration-r1/notes/r3-handoff.md
Owners: @spaarke-dev

feat(smart-todo-r5): initialize project — artifacts + 28 tasks
  projects/INDEX.md
  projects/smart-todo-r5/CLAUDE.md
  projects/smart-todo-r5/README.md
  projects/smart-todo-r5/current-task.md
  projects/smart-todo-r5/plan.md
  projects/smart-todo-r5/tasks/001-absorb-pr508-boundary-fix.poml
  projects/smart-todo-r5/tasks/002-hoist-kanban-subtree-to-shared-lib.poml
  projects/smart-todo-r5/tasks/003-legalworkspace-smarttodo-thin-shim.poml
  projects/smart-todo-r5/tasks/010-create-priority-effort-choice-columns.poml
  projects/smart-todo-r5/tasks/011-auto-score-handler-optionb.poml
  projects/smart-todo-r5/tasks/012-priority-effort-card-ui.poml
  projects/smart-todo-r5/tasks/013-regardingresolver-wiring-todo-form.poml
  projects/smart-todo-r5/tasks/014-deploy-schema-form-realdv-smoke.poml
  projects/smart-todo-r5/tasks/020-codepage-top-bar-redesign.poml
  projects/smart-todo-r5/tasks/021-filter-pane.poml
  projects/smart-todo-r5/tasks/022-completed-status-toggle.poml
  projects/smart-todo-r5/tasks/023-subtle-channel-coloring-contrast.poml
  projects/smart-todo-r5/tasks/024-widget-side-by-side-columns.poml
  projects/smart-todo-r5/tasks/025-deploy-codepage-widget-qa.poml
  projects/smart-todo-r5/tasks/030-new-task-oob-mainform-modal.poml
  projects/smart-todo-r5/tasks/031-open-shares-launch-mechanism.poml
  projects/smart-todo-r5/tasks/032-fullcover-hide-mainform-header.poml
  projects/smart-todo-r5/tasks/033-saveclose-dismiss-refresh.poml
  projects/smart-todo-r5/tasks/034-migrate-browse-to-browsemodal.poml
  projects/smart-todo-r5/tasks/035-deploy-modal-qa.poml
  projects/smart-todo-r5/tasks/040-vitest-expansion-coverage.poml
  projects/smart-todo-r5/tasks/041-playwright-nfr-suite.poml
  projects/smart-todo-r5/tasks/042-r10-testhonesty-defensive-fixes.poml
  projects/smart-todo-r5/tasks/050-refresh-matter-ribbon-icon.poml
  projects/smart-todo-r5/tasks/051-five-entity-ribbon-solutions.poml
  projects/smart-todo-r5/tasks/052-deploy-ribbon-smoke.poml
  projects/smart-todo-r5/tasks/060-proc1-realdv-smoke-gate.poml
  projects/smart-todo-r5/tasks/090-project-wrap-up.poml
  projects/smart-todo-r5/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(compose-templates-r8): re-align design to master (code-quality-r3 + net10)
  projects/spaarkeai-compose-templates-r8/design.md
Owners: @spaarke-dev

docs(compose-r7): re-align plan/tasks after code-quality-r3 + dotnet-10 merge
  projects/spaarkeai-compose-r7/CLAUDE.md
  projects/spaarkeai-compose-r7/README.md
  projects/spaarkeai-compose-r7/plan.md
  projects/spaarkeai-compose-r7/spec.md
  projects/spaarkeai-compose-r7/tasks/001-coordination-gate-baseline.poml
  projects/spaarkeai-compose-r7/tasks/012-save-as-uniquify-filename.poml
  projects/spaarkeai-compose-r7/tasks/013-server-atomic-upsert-guard.poml
  projects/spaarkeai-compose-r7/tasks/050-projectformount-async-pdf-fork.poml
  projects/spaarkeai-compose-r7/tasks/051-pdf-client-gates-parity.poml
  projects/spaarkeai-compose-r7/tasks/073-pdf-intake-cause-discrimination.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

checkpoint(smart-todo-r5): handoff — ready to execute task 001
  projects/smart-todo-r5/current-task.md
Owners: @spaarke-dev

checkpoint(compose-r7): context-handoff — ready to start execution at task 001
  projects/spaarkeai-compose-r7/current-task.md
Owners: @spaarke-dev

feat(compose-r7): task 001 coordination gate — net10 baseline + DI-gate verify
  projects/spaarkeai-compose-r7/notes/coordination-baseline.md
  projects/spaarkeai-compose-r7/tasks/001-coordination-gate-baseline.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(smart-todo-r5): FR-01 SmartTodo.Components boundary fix (task 001) + verify FR-02/03 schema (task 010)
  projects/smart-todo-r5/current-task.md
  projects/smart-todo-r5/notes/task-001-completion.md
  projects/smart-todo-r5/notes/task-010-schema-already-exists.md
  projects/smart-todo-r5/tasks/001-absorb-pr508-boundary-fix.poml
  projects/smart-todo-r5/tasks/010-create-priority-effort-choice-columns.poml
  projects/smart-todo-r5/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.SmartTodo.Components/package-lock.json
  src/client/shared/Spaarke.SmartTodo.Components/package.json
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartTodoKanban/SmartTodoKanban.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/types/kanban.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
  src/client/shared/Spaarke.SmartTodo.Components/tsconfig.json
Owners: @spaarke-dev

docs(quality): set up RED-1/RED-2 decomposition projects + route RED-3
  projects/INDEX.md
  projects/chatendpoints-decomposition-r1/README.md
  projects/chatendpoints-decomposition-r1/design.md
  projects/chatendpoints-decomposition-r1/notes/.gitkeep
  projects/ci-cd-unit-test-remediation-r1/notes/r3-handoff-red3-test-suite-reduction.md
  projects/speadmin-decomposition-r1/README.md
  projects/speadmin-decomposition-r1/design.md
  projects/speadmin-decomposition-r1/notes/.gitkeep
Owners: @spaarke-dev, @docs-team

docs(customer-provisioning): design.md v3.2 — post-r3-completion + Fable-verified + net10 baseline
  projects/customer-provisioning-orchestration-r1/design.md
Owners: @spaarke-dev

docs(quality): RED-4 rigorous assessment (Fable-verified) — two Dataverse impls
  projects/code-quality-and-assurance-r3/notes/red-item-analyses/RED-4-dataverse-two-stack-ASSESSMENT.md
Owners: @spaarke-dev

feat(compose-r7): task 010 — stable non-rotating logical document id (FR-07b)
  projects/spaarkeai-compose-r7/notes/task-010-notes.md
  projects/spaarkeai-compose-r7/tasks/010-stable-logical-document-id.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/index.ts
  src/client/shared/Spaarke.Compose.Components/src/types/compose-contracts.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.types.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeIdentity.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeIdentity.ts
Owners: @spaarke-dev

feat(compose-r7): task 073 — discriminate PDF-intake failure causes (FR-11/LOW-10)
  projects/spaarkeai-compose-r7/notes/task-073-notes.md
  projects/spaarkeai-compose-r7/tasks/073-pdf-intake-cause-discrimination.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/ComposePdfIntakeSource.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ComposePdfIntakeSourceTests.cs
Owners: @spaarke-dev

feat(compose-r7): task 011 — close id-less mount dedup vector (FR-07c)
  projects/spaarkeai-compose-r7/notes/task-011-notes.md
  projects/spaarkeai-compose-r7/tasks/011-idless-mount-dedup-identity.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeIdentity.test.ts
Owners: @spaarke-dev

checkpoint(compose-r7): task 012 root-cause analysis + plan (FR-07a); progress checkpoint
  projects/spaarkeai-compose-r7/current-task.md
  projects/spaarkeai-compose-r7/notes/task-012-analysis.md
Owners: @spaarke-dev

feat(smart-todo-r5): hoist 13-file rich Kanban subtree → @spaarke/smart-todo-components (task 002, FR-01)
  projects/smart-todo-r5/current-task.md
  projects/smart-todo-r5/notes/task-002-hoist.md
  projects/smart-todo-r5/tasks/002-hoist-kanban-subtree-to-shared-lib.poml
  projects/smart-todo-r5/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartToDo/AddTodoBar.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartToDo/DismissedSection.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartToDo/EffortScoreCard.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartToDo/KanbanCard.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartToDo/KanbanHeader.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartToDo/PriorityScoreCard.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartToDo/SmartToDo.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartToDo/SmartToDoDialog.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartToDo/ThresholdSettings.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartToDo/TodoAISummaryDialog.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartToDo/TodoDetailPane.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartToDo/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/components/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/types/entities.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/types/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/types/todoScoringTypes.ts
Owners: @spaarke-dev

feat(smart-todo-r5): LegalWorkspace SmartToDo → thin shim consuming @spaarke/smart-todo-components (task 003, FR-01)
  projects/smart-todo-r5/current-task.md
  projects/smart-todo-r5/notes/task-003-shim.md
  projects/smart-todo-r5/tasks/003-legalworkspace-smarttodo-thin-shim.poml
  projects/smart-todo-r5/tasks/TASK-INDEX.md
  src/solutions/LegalWorkspace/package-lock.json
  src/solutions/LegalWorkspace/src/App.tsx
  src/solutions/LegalWorkspace/src/components/SmartToDo/AddTodoBar.tsx
  src/solutions/LegalWorkspace/src/components/SmartToDo/DismissedSection.tsx
  src/solutions/LegalWorkspace/src/components/SmartToDo/EffortScoreCard.tsx
  src/solutions/LegalWorkspace/src/components/SmartToDo/KanbanCard.tsx
  src/solutions/LegalWorkspace/src/components/SmartToDo/KanbanHeader.tsx
  src/solutions/LegalWorkspace/src/components/SmartToDo/PriorityScoreCard.tsx
  src/solutions/LegalWorkspace/src/components/SmartToDo/SmartToDo.tsx
  src/solutions/LegalWorkspace/src/components/SmartToDo/SmartToDoDialog.tsx
  src/solutions/LegalWorkspace/src/components/SmartToDo/ThresholdSettings.tsx
  src/solutions/LegalWorkspace/src/components/SmartToDo/TodoAISummaryDialog.tsx
  src/solutions/LegalWorkspace/src/components/SmartToDo/TodoDetailPane.tsx
  src/solutions/LegalWorkspace/src/components/SmartToDo/index.ts
  src/solutions/LegalWorkspace/src/components/SmartToDo/todoScoringTypes.ts
  src/solutions/LegalWorkspace/src/hooks/useSmartToDoBridge.ts
Owners: @spaarke-dev

checkpoint(smart-todo-r5): Phase 1 spine complete (001/002/003/010); next-wave partition plan
  projects/smart-todo-r5/current-task.md
Owners: @spaarke-dev

docs(quality): set up dataverse-access-unification-r1 (RED-4 C) + route #3b MI
  projects/INDEX.md
  projects/code-quality-and-assurance-r3/notes/task-011-ng1-3b-mi-migration.md
  projects/dataverse-access-unification-r1/README.md
  projects/dataverse-access-unification-r1/design.md
  projects/dataverse-access-unification-r1/notes/.gitkeep
Owners: @spaarke-dev, @docs-team

docs(quality): B hardening pt.1 — Dataverse routing map + latent-bug finding
  docs/architecture/DATAVERSE-ACCESS-LAYER-ROUTING.md
  projects/code-quality-and-assurance-r3/notes/defer-issues.md
Owners: @spaarke-dev, @docs-team

feat(compose-r7): task 075 — test-hygiene batch (FR-13)
  projects/spaarkeai-compose-r7/notes/task-075-notes.md
  projects/spaarkeai-compose-r7/tasks/075-test-hygiene-batch.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.bornInEditorSave.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.imports.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.saveOpLogPreservation.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.search.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/stepOperationInterceptor.test.ts
  tests/fixtures/compose-corpus/nda-interrupted-clauses.docx
  tests/integration/seam/Compose/ComposeTemplateChromeProvenanceSeamTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceCreateOnSaveTests.cs
Owners: @spaarke-dev

checkpoint(compose-r7): Group B complete (073+075); 6/20 done, 012 next
  projects/spaarkeai-compose-r7/current-task.md
Owners: @spaarke-dev

docs(quality): route DEF-1 (event-sourced To Do generation) to smart-todo-r5
  projects/code-quality-and-assurance-r3/notes/defer-issues.md
  projects/smart-todo-r5/notes/INBOUND-event-sourced-todo-generation-broken.md
Owners: @spaarke-dev

feat(compose-r7): task 012 — Save As is a real fork (FR-07a)
  projects/spaarkeai-compose-r7/notes/task-012-notes.md
  projects/spaarkeai-compose-r7/tasks/012-save-as-uniquify-filename.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/index.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.types.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeIdentity.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeIdentity.ts
Owners: @spaarke-dev

feat(smart-todo-r5): SmartTodoWidget default = side-by-side columns (task 024, FR-09)
  projects/smart-todo-r5/notes/task-024-widget-columns.md
  projects/smart-todo-r5/tasks/024-widget-side-by-side-columns.poml
  src/client/shared/Spaarke.SmartTodo.Components/__tests__/SmartTodoWidget.test.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
Owners: @spaarke-dev

feat(smart-todo-r5): Code Page top-bar redesign — Filter/New Task/overflow (task 020, FR-05)
  projects/smart-todo-r5/notes/task-020-topbar.md
  projects/smart-todo-r5/tasks/020-codepage-top-bar-redesign.poml
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/components/Header/Header.styles.ts
  src/solutions/SmartTodo/src/components/Header/Header.tsx
  src/solutions/SmartTodo/src/components/Header/__tests__/Header.test.tsx
Owners: @spaarke-dev

test(smart-todo-r5): handleEmail seam un-skip + RegardingResolver S1/N1 fixes (task 042, FR-18)
  projects/smart-todo-r5/notes/task-042-testhonesty.md
  projects/smart-todo-r5/tasks/042-r10-testhonesty-defensive-fixes.poml
  src/client/pcf/RegardingResolver/RegardingResolver/RegardingResolverApp.tsx
  src/client/pcf/RegardingResolver/__tests__/RegardingResolverApp.test.tsx
  src/solutions/SmartTodo/src/components/Toolbar/ToolbarActions.ts
  src/solutions/SmartTodo/src/components/Toolbar/__tests__/ToolbarActions.test.ts
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
