Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

fix(tests): the test caller had a random identity, so ownership could never match
  tests/integration/Shared/TestSessionOwner.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/ChatEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/KnowledgeBaseEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/ReAnalysisFlowTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/UploadIntegrationTests.cs
  tests/integration/Spe.Integration.Tests/IntegrationTestFixture.cs
  tests/integration/Spe.Integration.Tests/SemanticSearch/RecordSearchIntegrationTests.cs
  tests/integration/Spe.Integration.Tests/SemanticSearch/SemanticSearchAuthorizationTests.cs
  tests/integration/Spe.Integration.Tests/SemanticSearch/SemanticSearchIntegrationTests.cs
Owners: @spaarke-dev

docs(tests): record the last 4 Spe failures — a 5/min upload limiter the broken identity had been masking
  projects/spaarkeai-compose-r8/notes/test-host-credential-hang.md
Owners: @spaarke-dev

feat(ci-r1 094): arm ADR-038 B3/B12/B16; account for all 17 bans (#864)
  .github/workflows/ci-tier1-blocking.yml
  docs/adr/ADR-038-testing-strategy.md
  projects/ci-cd-unit-test-remediation-r1/notes/094-adr038-ban-census.md
  projects/ci-cd-unit-test-remediation-r1/tasks/094-extend-adr038-ban-enforcement.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/TASK-INDEX.md
  tests/Spaarke.ArchTests/Adr038TestBanGuardTests.cs
  tests/unit/Sprk.Bff.Api.Tests/PipelineHealthTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/OpenAiClientTests.cs
Owners: @spaarke-dev, @devops-team, @docs-team

docs(ci-r1): current-task — 094 done; B8 named as the next arming pass
  projects/ci-cd-unit-test-remediation-r1/current-task.md
Owners: @spaarke-dev

fix(tests): per-test session identity closes the last 4 — Spe.Integration.Tests 23 -> 0
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/070-composeservice-seam-map.md
  projects/spaarkeai-compose-r8/notes/test-host-credential-hang.md
  tests/integration/Spe.Integration.Tests/Api/Ai/UploadIntegrationTests.cs
Owners: @spaarke-dev

refactor(compose): 070 cluster 7 — extract memory capture from ComposeService
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeMemoryCapturer.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
Owners: @spaarke-dev

feat(ci-r1 094): arm ADR-038 B3/B12/B16 — all 17 bans accounted for (#864) (#890)
  .github/workflows/ci-tier1-blocking.yml
  docs/adr/ADR-038-testing-strategy.md
  projects/ci-cd-unit-test-remediation-r1/current-task.md
  projects/ci-cd-unit-test-remediation-r1/notes/094-adr038-ban-census.md
  projects/ci-cd-unit-test-remediation-r1/tasks/094-extend-adr038-ban-enforcement.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/TASK-INDEX.md
  tests/Spaarke.ArchTests/Adr038TestBanGuardTests.cs
  tests/unit/Sprk.Bff.Api.Tests/PipelineHealthTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/OpenAiClientTests.cs
Owners: @spaarke-dev, @devops-team, @docs-team

refactor(compose): 070 cluster 6 — extract the session-annotations contract
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeAnnotationStore.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
Owners: @spaarke-dev

docs(070): record extraction progress — clusters 7+6 done, 5b analysed
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/070-composeservice-seam-map.md
Owners: @spaarke-dev

docs(ci-r1): record the --delete-branch queued-job checkout trap from #890
  projects/ci-cd-unit-test-remediation-r1/current-task.md
Owners: @spaarke-dev

docs(ci-r1): record the --delete-branch queued-job checkout trap from #890 (#891)
  projects/ci-cd-unit-test-remediation-r1/current-task.md
Owners: @spaarke-dev

refactor(compose): 070 cluster 5b — extract background profile dispatch + the step signals
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeProfileDispatcher.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
Owners: @spaarke-dev

refactor(compose): 070 cluster 8 — extract the projection coordinate helpers
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeReferenceMapping.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
Owners: @spaarke-dev

docs(070): four clusters extracted — progress, decisions, and the caution for cluster 1
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/070-composeservice-seam-map.md
Owners: @spaarke-dev

checkpoint(uac-r2): handoff — folder root cause solved; PR #887 open; sanitize-086 in flight
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

docs(skills): correct merge path + add pre-merge branch update; CI tier accuracy
  .claude/skills/merge-to-master/SKILL.md
  .claude/skills/push-to-github/SKILL.md
Owners: @spaarke-dev

checkpoint: session handoff — 070 clusters 7/6/5b/8 done, cluster 1 next
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

checkpoint: make the handoff's HEAD reference self-consistent
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

docs(skills): correct merge path + add pre-merge branch update; CI tier accuracy (#892)
  .claude/skills/merge-to-master/SKILL.md
  .claude/skills/push-to-github/SKILL.md
Owners: @spaarke-dev

chore(ci): enable master protection via ruleset; correct 071 cutover command
  .claude/skills/merge-to-master/SKILL.md
  .claude/skills/push-to-github/SKILL.md
  projects/ci-cd-unit-test-remediation-r1/notes/branch-protection-enabled-2026-08-29.md
Owners: @spaarke-dev

chore(ci): enable master protection via ruleset; correct 071 cutover command (#893)
  .claude/skills/merge-to-master/SKILL.md
  .claude/skills/push-to-github/SKILL.md
  projects/ci-cd-unit-test-remediation-r1/notes/branch-protection-enabled-2026-08-29.md
Owners: @spaarke-dev

ci(tier2): scope Full Unit Tests to unit projects; wire orphaned Spaarke.Core.Tests
  Spaarke.sln
  unit-tests.slnf
Owners: @spaarke-dev

refactor(070): extract cluster 1 (re-anchor) + close the three coverage holes it exposed
  projects/spaarkeai-compose-r8/notes/070-composeservice-seam-map.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeReanchorCoordinator.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  tests/integration/seam/Compose/ComposePartialApplyRecoverySeamTests.cs
  tests/integration/seam/Compose/ComposeWritePathTextSearchAuditTests.cs
  tests/integration/seam/Compose/ConcurrencySaveSeamTests.cs
Owners: @spaarke-dev

fix(uac-r2 084): sanitize the filename at every SPE upload site; restore MessageAttachmentMaterializer
  projects/unified-access-control-r2/tasks/084-sanitize-upload-filenames.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatDocumentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatWordExportEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/DocumentsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/OBOEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeUploadPath.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/UploadSessionManager.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/WorkingDocumentService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Channels/MessagingArchiver.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/EmlGenerationService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/GraphMessageToEmlConverter.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingCommunicationProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/MessageAttachmentMaterializer.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailAttachmentProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Office/OfficeEmailEnricher.cs
  src/server/api/Sprk.Bff.Api/Services/Office/OfficeService.cs
  src/server/api/Sprk.Bff.Api/Services/Office/OfficeStorageUploader.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/MatterPreFillService.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/ProjectPreFillService.cs
  src/server/api/Sprk.Bff.Api/Workers/Office/UploadFinalizationWorker.cs
  tests/Spaarke.ArchTests/SpeUploadPathIsFlatGuardTests.cs
  tests/Spaarke.ArchTests/SpeWriteSinkContainerProvenanceGuardTests.cs
  tests/integration/data-mutation/SpeUploadPaths/SpeFlatUploadPathTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationAttachmentTextServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/MessageAttachmentMaterializerTests.cs
Owners: @spaarke-dev

checkpoint(uac-r2): reconcile task numbering to 084; record the linux-x64 sanitizer bug
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

fix(ci-r1): correct task 071 cutover command; supersede stale protection snapshots
  projects/ci-cd-unit-test-remediation-r1/notes/branch-protection-current.SUPERSEDED.md
  projects/ci-cd-unit-test-remediation-r1/notes/branch-protection-pre-cutover.SUPERSEDED.md
  projects/ci-cd-unit-test-remediation-r1/tasks/071-cutover-window.poml
  tests/unit/RecordSyncJob.IsolatedTests/RecordSyncJob.IsolatedTests.csproj
Owners: @spaarke-dev

ci(tier2): exclude Load/Nightly from the per-PR suite; wire orphaned Spaarke.Core.Tests
  per-pr-tests.slnf
  unit-tests.slnf
Owners: @spaarke-dev

docs(spe): app registration topology + resolve the permission-scoping question
  docs/architecture/SPAARKE-SPE-CONTAINER-TYPE-TOPOLOGY.md
Owners: @spaarke-dev, @docs-team

fix(tests): repair the SSE contract test — the sole CI failure in Tier 2
  tests/integration/Spe.Integration.Tests/Api/Ai/ChatEndpointsTests.cs
Owners: @spaarke-dev

fix(ci-r1): correct task 071 cutover command; supersede stale protection snapshots (#895)
  projects/ci-cd-unit-test-remediation-r1/notes/branch-protection-current.SUPERSEDED.md
  projects/ci-cd-unit-test-remediation-r1/notes/branch-protection-pre-cutover.SUPERSEDED.md
  projects/ci-cd-unit-test-remediation-r1/tasks/071-cutover-window.poml
  tests/unit/RecordSyncJob.IsolatedTests/RecordSyncJob.IsolatedTests.csproj
Owners: @spaarke-dev

task 212 (partial) + task 213 filed: SPE topology terminology reconciliation + rework scoped
  .claude/adr/ADR-028-spaarke-auth-architecture.md
  .claude/skills/provision-environment/SKILL.md
  projects/customer-provisioning-orchestration-r1/CLAUDE.md
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/212-dispatch-readiness-constants-plus-environmental-audit.poml
  projects/customer-provisioning-orchestration-r1/tasks/213-spe-topology-reconciliation-plus-h8-rework.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  runs/pre-dispatch-constants-gap.json
  runs/pre-dispatch-readiness-gap-report.md
  scripts/provisioning-prereqs/context-defaults.dev.json
  scripts/provisioning-prereqs/context-defaults.prod.json
  scripts/provisioning-prereqs/spaarke-constants.yaml
Owners: @spaarke-dev, @devops-team

refactor(070): extract cluster 3 (save baseline + concurrency) + close three more holes
  projects/spaarkeai-compose-r8/notes/070-composeservice-seam-map.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeSaveStorageCoordinator.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  tests/integration/seam/Compose/ConcurrencySaveSeamTests.cs
Owners: @spaarke-dev

checkpoint: 070 clusters 1 and 3 done; seven coverage holes closed; cluster 4 next
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

fix(tests): repair the SSE contract test — the sole CI failure in Tier 2 (#896)
  tests/integration/Spe.Integration.Tests/Api/Ai/ChatEndpointsTests.cs
Owners: @spaarke-dev

chore(uac-r2): file tasks 085 + 091; correct two stale claims
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/SESSION-STATUS-2026-08-28.md
  projects/unified-access-control-r2/notes/task-083-sink-inventory.md
  projects/unified-access-control-r2/tasks/085-office-save-server-derived-container.poml
  projects/unified-access-control-r2/tasks/091-spe-admin-container-items-outside-admin-group.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

ci(tier2): make real test failures LOUD without making them blocking
  .github/workflows/ci-tier2-advisory.yml
Owners: @spaarke-dev, @devops-team

task 213 partial (4 of 7 items) + task 206 completion — SPE topology setup + prereq recipe hardening
  .claude/skills/provision-environment/SKILL.md
  docs/architecture/SPAARKE-SPE-CONTAINER-TYPE-TOPOLOGY.md
  docs/architecture/SPAARKE-SPE-CONTAINER-TYPE-TOPOLOGY.md.provenance
  docs/guides/SPAARKE-SPE-TOPOLOGY-SETUP-RUNBOOK.md
  scripts/Create-NewContainerType.ps1
  scripts/provisioning-prereqs/prereqs.yaml
Owners: @spaarke-dev, @docs-team, @devops-team

test(scheduling): un-skip the last 6 tests — suite is now 56/56, zero skipped
  tests/unit/Spaarke.Scheduling.Tests/RetryAndIdempotencyTests.cs
  tests/unit/Spaarke.Scheduling.Tests/ScheduledJobHostTests.cs
Owners: @spaarke-dev

fix(uac-r2 091): gate nine SPE Admin container-item routes
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/task-091-spe-admin-container-items.md
  projects/unified-access-control-r2/tasks/091-spe-admin-container-items-outside-admin-group.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerItemEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdminEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  tests/Spaarke.ArchTests/RouteAuthorizationGuardTests.cs
  tests/Spaarke.ArchTests/SpeWriteSinkContainerProvenanceGuardTests.cs
  tests/integration/auth/SpeAdmin/SpeAdminContainerItemRouteGateTests.cs
Owners: @spaarke-dev

test(scheduling): un-skip the last 6 tests — suite is now 56/56, zero skipped (#898)
  tests/unit/Spaarke.Scheduling.Tests/RetryAndIdempotencyTests.cs
  tests/unit/Spaarke.Scheduling.Tests/ScheduledJobHostTests.cs
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
