Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

docs(spaarkeai): 080 deploy prep complete + runbook (schema col + gates green)
  projects/spaarkeai-assistant-enhancements-r4/notes/deploy-verify.md
Owners: @spaarke-dev

checkpoint: 080 deploy prep done + runbook; deploys remain
  projects/spaarkeai-assistant-enhancements-r4/current-task.md
Owners: @spaarke-dev

feat(smart-todo-r5): default Assigned To in CreateTodoWizard too (#1 wizard path)
  src/client/shared/Spaarke.UI.Components/src/components/CreateTodoWizard/TodoWizardDialog.tsx
  src/solutions/CreateTodoWizard/src/main.tsx
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
Owners: @spaarke-dev

checkpoint(smart-todo-r5): UAT round 2 — 5/6 done+deployed (#1 all paths, #3 form tab, #4, #6); #2 = new BFF project
  projects/smart-todo-r5/current-task.md
Owners: @spaarke-dev

fix(scripts): drift-2 — prod AI Search alias reference → canonical AiSearch--AdminKey in Seed-ProductionKeyVault.ps1 + Configure-ProductionAppSettings.ps1
  projects/customer-provisioning-orchestration-r1/notes/wave-4-drift-2-prod-ai-search-alias.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  scripts/Configure-ProductionAppSettings.ps1
  scripts/Seed-ProductionKeyVault.ps1
Owners: @spaarke-dev, @devops-team

docs(spaarkeai): mark task 040 complete in TASK-INDEX
  projects/spaarkeai-assistant-enhancements-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(provisioning): 086 — IaC alignment to canonical KV secret names (dev orphan flat keys deleted)
  infrastructure/bicep/modules/key-vault.bicep
  infrastructure/bicep/platform.json
  infrastructure/bicep/stacks/model1-shared.bicep
  infrastructure/bicep/stacks/model2-full.bicep
  infrastructure/byok/main.bicep
  projects/customer-provisioning-orchestration-r1/notes/task-086-deviations.md
  projects/customer-provisioning-orchestration-r1/notes/task-086-iac-alignment-2026-08-17.md
  projects/customer-provisioning-orchestration-r1/tasks/086-iac-alignment-canonical-keys.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(spaarkeai): task 080 deploys executed to dev (BFF + Action seed + code page + compose guard)
  projects/spaarkeai-assistant-enhancements-r4/notes/deploy-verify.md
  projects/spaarkeai-assistant-enhancements-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(auth): drift-1 — set explicit TenantId on ManagedIdentityCredentialFactory + broaden I5 ArchTest to Infrastructure/Auth/**
  projects/customer-provisioning-orchestration-r1/notes/wave-4-drift-1-mi-factory-fix.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/ManagedIdentityCredentialFactory.cs
  tests/Spaarke.ArchTests/TenantIsolation/I5_GraphPerTenantTokenTests.cs
Owners: @spaarke-dev

docs(drift-1): fill in commit SHA ed4cdee42 in TASK-INDEX + notes file
  projects/customer-provisioning-orchestration-r1/notes/wave-4-drift-1-mi-factory-fix.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(provisioning): 060 — I6 crash-recovery startup scan (orphaned runs re-enqueued from currentPhase)
  projects/customer-provisioning-orchestration-r1/notes/task-060-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Reconciler/CrashRecoveryStartupServiceTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Reconciler/CrashRecoveryOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Reconciler/CrashRecoveryStartupService.cs
Owners: @spaarke-dev

fix(tests): drift-3 — repair RecordMatchServiceTests compile break from task 065 (add IConfiguration ctor param)
  tests/unit/Sprk.Bff.Api.Tests/Services/RecordMatching/RecordMatchServiceTests.cs
Owners: @spaarke-dev

feat(provisioning): 059 — I5 concurrency guard (Dataverse sprk_currentrunid optimistic upsert)
  projects/customer-provisioning-orchestration-r1/notes/task-059-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/059-implement-i5-concurrency-guard.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Concurrency/CustomerRunGuardTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Concurrency/InMemoryRegistryConcurrencyStore.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Api/RunsEndpoints.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Concurrency/CustomerRunGuard.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Concurrency/CustomerRunGuardModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Concurrency/CustomerRunGuardOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Concurrency/DataverseRegistryConcurrencyStore.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Concurrency/ICustomerRunGuard.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Concurrency/IRegistryConcurrencyStore.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Rollback/IQuarantineClearService.cs
Owners: @spaarke-dev

feat(provisioning): 061 — §4C rollback semantics (4-class taxonomy + Quarantined state + clear-quarantine audit)
  projects/customer-provisioning-orchestration-r1/notes/task-061-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Api/RunsEndpointsTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Rollback/FailureClassifierTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Rollback/QuarantineClearServiceTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Rollback/RollbackTransitionsTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Reconciler/StateReconcilerService.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Rollback/FailureClassifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Rollback/IFailureClassifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Rollback/IQuarantineClearService.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Rollback/QuarantineClearService.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Rollback/RollbackModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Rollback/RollbackTransitions.cs
Owners: @spaarke-dev

fix(archtest): drift-4 — extend ExcludedTypeFullNames for CustomerRunGuardOptions (task 059 Path A)
  tests/Spaarke.ArchTests/CosmosProvisioningSecretGuardTests.cs
Owners: @spaarke-dev

chore(provisioning): Wave 4 Batch 4D COMPLETE — dispatcher state update
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(bicep): drift-5 — cleanup BCP035/037/053 in stacks/model{1,2}-*.bicep (task 032 refactor debt)
  infrastructure/bicep/stacks/model1-shared.bicep
  infrastructure/bicep/stacks/model1-shared.json
  infrastructure/bicep/stacks/model2-full.bicep
  infrastructure/bicep/stacks/model2-full.json
  projects/customer-provisioning-orchestration-r1/notes/wave-4-drift-5-bicep-bcp-cleanup.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(bff): 087 — /api/config runtime endpoint (Anonymous + short-cache; code-pages migrate off bake-at-build-time)
  projects/customer-provisioning-orchestration-r1/notes/task-087-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/ConfigEndpoints.cs
  src/server/api/Sprk.Bff.Api/Configuration/PublicConfigOptions.cs
  src/server/api/Sprk.Bff.Api/Configuration/PublicConfigOptionsValidator.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ConfigurationModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  src/solutions/LegalWorkspace/src/config/publicConfig.ts
  src/solutions/LegalWorkspace/src/main.tsx
  src/solutions/SpaarkeAi/src/config/publicConfig.ts
  src/solutions/SpaarkeAi/src/main.tsx
  tests/integration/contract/Api/ConfigContractTests.cs
  tests/unit/Sprk.Bff.Api.Tests/CustomWebAppFactory.cs
Owners: @spaarke-dev

test(provisioning): 067 — nightly Graph app-role parity ArchTest + coord-PR spec for ci-cd-r1
  Spaarke.sln
  projects/customer-provisioning-orchestration-r1/notes/graph-app-role-parity-coord-pr.md
  projects/customer-provisioning-orchestration-r1/notes/task-067-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/067-nightly-graph-app-role-parity-archtest.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  tests/integration/Sprk.Provisioning.ControlPlane.NightlyTests/GraphAppRoleParityTest.cs
  tests/integration/Sprk.Provisioning.ControlPlane.NightlyTests/Sprk.Provisioning.ControlPlane.NightlyTests.csproj
Owners: @spaarke-dev

docs(provisioning): 088 — comprehensive CI-wiring coord-PR spec (naming-conformance + I1-I5 ArchTests + nightly Graph parity) for ci-cd-r1
  projects/customer-provisioning-orchestration-r1/notes/graph-app-role-parity-coord-pr.md
  projects/customer-provisioning-orchestration-r1/notes/phase-h-ci-wiring-coord-pr.md
  projects/customer-provisioning-orchestration-r1/notes/task-088-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(smart-todo-r5): hide single-tab 'General' navigator on To Do form (#3)
  projects/smart-todo-r5/current-task.md
  src/client/webresources/js/sprk_todo_hide_tabnav.js
Owners: @spaarke-dev

fix(compose): resolve BU container via parent/top Xrm in code-page iframe
  src/solutions/LegalWorkspace/src/sections/composeEditor.registration.ts
  src/solutions/SpaarkeAi/src/components/workspace/ComposeDirectWidget.tsx
Owners: @spaarke-dev

test(provisioning): 062 — L2 REST load-test harness (enqueue latency + 30-min handler + reconciler concurrency)
  Spaarke.sln
  projects/customer-provisioning-orchestration-r1/notes/l2-load-test-2026-08-18.md
  projects/customer-provisioning-orchestration-r1/notes/task-062-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  tests/integration/Sprk.Provisioning.ControlPlane.LoadTests/EnqueueLatencyScenario.cs
  tests/integration/Sprk.Provisioning.ControlPlane.LoadTests/LoadTestFixtures.cs
  tests/integration/Sprk.Provisioning.ControlPlane.LoadTests/LongHandlerScenario.cs
  tests/integration/Sprk.Provisioning.ControlPlane.LoadTests/ReconcilerConcurrencyScenario.cs
  tests/integration/Sprk.Provisioning.ControlPlane.LoadTests/Sprk.Provisioning.ControlPlane.LoadTests.csproj
Owners: @spaarke-dev

docs(compose-r7): reopen to In-UAT + create UAT issue tracking list (10 issues)
  projects/spaarkeai-compose-r7/README.md
  projects/spaarkeai-compose-r7/current-task.md
  projects/spaarkeai-compose-r7/notes/uat-issues.md
Owners: @spaarke-dev, @docs-team

feat(provisioning): 055 - H13 E2E acceptance-gate handler (asserts ALL T1-T6 + I1-I5 + naming + cost; transitions Setup Status to Ready)
  projects/customer-provisioning-orchestration-r1/notes/task-055-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H13E2EAcceptanceGateHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/E2EAcceptance/AzCliCostEnvelopeChecker.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/E2EAcceptance/DataverseRegistrySetupStatusUpdater.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/E2EAcceptance/E2EAcceptanceModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/E2EAcceptance/H13AcceptanceOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/E2EAcceptance/H13E2EAcceptanceGateHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/E2EAcceptance/H13RejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/E2EAcceptance/ICostEnvelopeChecker.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/E2EAcceptance/IE2EInvariantVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/E2EAcceptance/IE2ETrapVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/E2EAcceptance/IE2EValidationRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/E2EAcceptance/INamingConformanceChecker.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/E2EAcceptance/IRegistrySetupStatusUpdater.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/E2EAcceptance/NamingConformanceScriptRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/E2EAcceptance/PlaceholderInvariantVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/E2EAcceptance/PlaceholderTrapVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/E2EAcceptance/ValidateDeployedEnvironmentScriptRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
Owners: @spaarke-dev

docs(compose-r7): realign UAT dispositions to R7-default + record investigation findings
  projects/spaarkeai-compose-r7/notes/uat-issues.md
Owners: @spaarke-dev

feat(smart-todo-r5): uniform To Do modal chrome — title, hidden entity name, smaller size
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/wizardLaunchers.ts
  src/client/webresources/js/sprk_todo_hide_tabnav.js
  src/solutions/LegalWorkspace/src/sections/todo.registration.ts
  src/solutions/SmartTodo/src/__tests__/SmartTodoApp.test.tsx
  src/solutions/SmartTodo/src/services/__tests__/openTodoLauncher.test.ts
  src/solutions/SmartTodo/src/services/newTaskLauncher.ts
  src/solutions/SmartTodo/src/services/openTodoLauncher.ts
Owners: @spaarke-dev

fix(smart-todo-r5): import getOobModalSize from barrel (SmartTodo vite can't resolve the deep subpath)
  src/solutions/LegalWorkspace/src/sections/todo.registration.ts
  src/solutions/SmartTodo/src/services/newTaskLauncher.ts
  src/solutions/SmartTodo/src/services/openTodoLauncher.ts
Owners: @spaarke-dev

checkpoint(smart-todo-r5): UAT round 3 — modal chrome (title/entity-name/size) done+deployed+on master
  projects/smart-todo-r5/current-task.md
Owners: @spaarke-dev

test(bff): 078 — E2E verification of POST /api/onboarding/consent-callback (4 paths + HMAC + idempotency)
  projects/customer-provisioning-orchestration-r1/notes/consent-callback-e2e-2026-08-18.md
  projects/customer-provisioning-orchestration-r1/notes/task-078-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  tests/integration/Sprk.Bff.Api.IntegrationTests/Onboarding/ConsentCallbackE2ETestFixture.cs
  tests/integration/Sprk.Bff.Api.IntegrationTests/Onboarding/ConsentCallbackE2ETests.cs
Owners: @spaarke-dev

fix(compose): UAT-03 name prompt on first save + UAT-05 dismissible error + UAT-07b plain-language save warnings
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeBannerStack.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
Owners: @spaarke-dev

docs(compose-r7): mark UAT-03/05/07b fixed in tracking list
  projects/spaarkeai-compose-r7/notes/uat-issues.md
Owners: @spaarke-dev

fix(smart-todo-r5): revert setFormEntityName — it prefixed the record title with a stray colon (#2)
  src/client/webresources/js/sprk_todo_hide_tabnav.js
Owners: @spaarke-dev

chore(provisioning): context-handoff — Wave 4 4E 5-of-8 landed; 082 in-flight; 5 tasks remain
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

docs(compose-r7): elevate UAT-07a to BLOCKER (must-fix) + add proactive hidden-issue audit section
  projects/spaarkeai-compose-r7/notes/uat-issues.md
Owners: @spaarke-dev

docs(compose-r7): proactive hidden-issue audit findings (UAT-11..26) — multiple SILENT blockers
  projects/spaarkeai-compose-r7/notes/uat-issues.md
Owners: @spaarke-dev

docs: create compose-r8 project (fidelity architecture investigation) + R7 honest/faithful split
  projects/spaarkeai-compose-r7/notes/uat-issues.md
  projects/spaarkeai-compose-r8/README.md
  projects/spaarkeai-compose-r8/notes/fidelity-architecture-investigation.md
Owners: @spaarke-dev, @docs-team

checkpoint(compose-r7): context-handoff — R7 honest/safe batch in flight, compose-r8 seeded
  projects/spaarkeai-compose-r7/current-task.md
Owners: @spaarke-dev

feat(smart-todo-r5): hide To Do entity-name subtitle (#3) + modal one more size down (#4)
  src/client/webresources/js/sprk_todo_hide_tabnav.js
  src/solutions/LegalWorkspace/src/sections/todo.registration.ts
  src/solutions/SmartTodo/src/__tests__/SmartTodoApp.test.tsx
  src/solutions/SmartTodo/src/services/__tests__/openTodoLauncher.test.ts
  src/solutions/SmartTodo/src/services/newTaskLauncher.ts
  src/solutions/SmartTodo/src/services/openTodoLauncher.ts
Owners: @spaarke-dev

docs(smart-todo-r5): unified access-control cascade investigation + project proposal (#1)
  projects/smart-todo-r5/notes/unified-access-control-cascade.md
Owners: @spaarke-dev
