Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

checkpoint: Phase A fully validated (post-hotfix v2) + Phase B handoff prep
  projects/spaarke-auth-v2-and-hardening/current-task.md
Owners: @spaarke-dev

feat(auth-v2): AiSessionProvider → function-based contract (task 020)
  projects/spaarke-auth-v2-and-hardening/current-task.md
  projects/spaarke-auth-v2-and-hardening/tasks/020-migrate-ai-session-provider.poml
  projects/spaarke-auth-v2-and-hardening/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/package-lock.json
  src/client/shared/Spaarke.AI.Widgets/package.json
  src/client/shared/Spaarke.AI.Widgets/src/__mocks__/@spaarke/auth.ts
  src/client/shared/Spaarke.AI.Widgets/src/__tests__/sse-event-routing.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/providers/AiSessionProvider.tsx
  src/client/shared/Spaarke.AI.Widgets/src/providers/__tests__/AiSessionProvider.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/providers/useAiSession.ts
Owners: @spaarke-dev

adr(ADR-001/013): narrow no-Functions rule to BFF endpoints; permit AF for out-of-band integration
  .claude/adr/ADR-001-minimal-api.md
  .claude/adr/ADR-013-ai-architecture.md
  .claude/constraints/ai.md
  .claude/constraints/api.md
  .claude/constraints/jobs.md
  .claude/skills/adr-aware/SKILL.md
  .claude/skills/adr-check/SKILL.md
  .claude/skills/adr-check/references/adr-validation-rules.md
  .claude/skills/code-review/SKILL.md
  .claude/skills/code-review/references/review-checklist.md
  .github/pull_request_template.md
  .github/workflows/claude-code-review.yml
  docs/adr/ADR-001-minimal-api-and-workers.md
  docs/adr/ADR-013-ai-architecture.md
  docs/standards/ANTI-PATTERNS.md
  docs/standards/CODING-STANDARDS.md
Owners: @spaarke-dev, @devops-team, @docs-team

feat(auth-v2): Phase B Wave 2 — 5 consumers migrated (024,025,026,027,029) — PHASE B COMPLETE
  projects/spaarke-auth-v2-and-hardening/current-task.md
  projects/spaarke-auth-v2-and-hardening/tasks/024-migrate-playbookbuilder.poml
  projects/spaarke-auth-v2-and-hardening/tasks/025-migrate-doc-relationship-viewer.poml
  projects/spaarke-auth-v2-and-hardening/tasks/026-migrate-analysis-workspace.poml
  projects/spaarke-auth-v2-and-hardening/tasks/027-migrate-semantic-search-external-spa.poml
  projects/spaarke-auth-v2-and-hardening/tasks/029-update-bff-data-service-adapter-docs.poml
  projects/spaarke-auth-v2-and-hardening/tasks/TASK-INDEX.md
  src/client/code-pages/AnalysisWorkspace/package-lock.json
  src/client/code-pages/AnalysisWorkspace/src/App.tsx
  src/client/code-pages/AnalysisWorkspace/src/components/ChatPanel.tsx
  src/client/code-pages/AnalysisWorkspace/src/config/msalConfig.ts
  src/client/code-pages/AnalysisWorkspace/src/context/AnalysisAiContext.tsx
  src/client/code-pages/AnalysisWorkspace/src/context/AuthContext.tsx
  src/client/code-pages/AnalysisWorkspace/src/hooks/useAnalysisExecution.ts
  src/client/code-pages/AnalysisWorkspace/src/hooks/useAnalysisLoader.ts
  src/client/code-pages/AnalysisWorkspace/src/hooks/useAuth.ts
  src/client/code-pages/AnalysisWorkspace/src/hooks/useExportAnalysis.ts
  src/client/code-pages/AnalysisWorkspace/src/services/analysisApi.ts
  src/client/code-pages/AnalysisWorkspace/src/services/authInit.ts
  src/client/code-pages/AnalysisWorkspace/src/services/authService.ts
  src/client/code-pages/DocumentRelationshipViewer/package-lock.json
  src/client/code-pages/DocumentRelationshipViewer/src/App.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/hooks/useVisualizationApi.ts
  src/client/code-pages/DocumentRelationshipViewer/src/services/VisualizationApiService.ts
  src/client/code-pages/PlaybookBuilder/package-lock.json
  src/client/code-pages/PlaybookBuilder/src/services/aiPlaybookService.ts
  src/client/code-pages/PlaybookBuilder/src/services/dataverseClient.ts
  src/client/code-pages/PlaybookBuilder/src/stores/templateStore.ts
  src/client/code-pages/SemanticSearch/package-lock.json
  src/client/code-pages/SemanticSearch/src/services/auth/MsalAuthProvider.ts
  src/client/code-pages/SemanticSearch/src/services/auth/msalConfig.ts
  src/client/code-pages/SemanticSearch/src/services/authInit.ts
  src/client/external-spa/src/auth/bff-client.ts
  src/client/shared/Spaarke.UI.Components/src/utils/adapters/bffDataServiceAdapter.ts
  src/client/shared/Spaarke.UI.Components/src/utils/adapters/bffUploadServiceAdapter.ts
  src/client/shared/Spaarke.UI.Components/src/utils/adapters/index.ts
Owners: @spaarke-dev

project(ai-spaarke-insights-engine-r1): design phase complete — design + inventories + decisions + research
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/cosmos-gremlin-direction.md
  .claude/agent-memory/researcher/foundry-memory-now-public.md
  .claude/agent-memory/researcher/insights-engine-pre-design-2026-05.md
  .claude/agent-memory/researcher/knowledge-base-layout.md
  knowledge/README.md
  knowledge/REFRESH-LOG.md
  knowledge/azure-ai-search/NOTES.md
  knowledge/azure-ai-search/insights-engine-supplement.md
  knowledge/azure-functions-isv/README.md
  knowledge/azure-functions-isv/SOURCE.md
  knowledge/cosmos-gremlin/README.md
  knowledge/cosmos-gremlin/SOURCE.md
  knowledge/dataverse-sync/README.md
  knowledge/dataverse-sync/SOURCE.md
  knowledge/foundry-memory-patterns/README.md
  knowledge/foundry-memory-patterns/SOURCE.md
  projects/ai-spaarke-insights-engine-r1/README.md
  projects/ai-spaarke-insights-engine-r1/ai-inventory.md
  projects/ai-spaarke-insights-engine-r1/azure-inventory.md
  projects/ai-spaarke-insights-engine-r1/decisions.md
  projects/ai-spaarke-insights-engine-r1/design.md
Owners: @spaarke-dev, @docs-team

spec(insights-engine): Phase 1 SPEC.md — Track A (auth-independent) ready for pipeline
  projects/ai-spaarke-insights-engine-r1/SPEC.md
Owners: @spaarke-dev

project(spaarke-UI-UX-strategy-plan): add strategy + pattern catalog (10 docs)
  projects/spaarke-UI-UX-strategy-plan/cross-cutting-ai-augmentation.md
  projects/spaarke-UI-UX-strategy-plan/cross-cutting-operational-containers.md
  projects/spaarke-UI-UX-strategy-plan/pattern-canvas-document.md
  projects/spaarke-UI-UX-strategy-plan/pattern-entity-centered.md
  projects/spaarke-UI-UX-strategy-plan/pattern-form-wizard.md
  projects/spaarke-UI-UX-strategy-plan/pattern-generative-conversational.md
  projects/spaarke-UI-UX-strategy-plan/pattern-queue-inbox.md
  projects/spaarke-UI-UX-strategy-plan/pattern-summary-intelligence.md
  projects/spaarke-UI-UX-strategy-plan/pattern-workflow-process.md
  projects/spaarke-UI-UX-strategy-plan/patterns-to-build-final.md
Owners: @spaarke-dev

docs(architecture): add definitive client resources inventory
  docs/architecture/client-resources-inventory.md
Owners: @spaarke-dev, @docs-team

docs(architecture): verify PCF usage via Dataverse query — 3 lost-source PCFs found
  docs/architecture/client-resources-inventory.md
Owners: @spaarke-dev, @docs-team

feat(auth-v2): Phase C Wave 1 — server hardening tasks 043-048 (6 parallel)
  projects/spaarke-auth-v2-and-hardening/current-task.md
  projects/spaarke-auth-v2-and-hardening/tasks/043-remove-debug-endpoints.poml
  projects/spaarke-auth-v2-and-hardening/tasks/044-hmac-webhook-validation.poml
  projects/spaarke-auth-v2-and-hardening/tasks/045-named-api-key-auth-scheme.poml
  projects/spaarke-auth-v2-and-hardening/tasks/046-jwt-postconfigure-idempotency.poml
  projects/spaarke-auth-v2-and-hardening/tasks/047-fix-appsettings-template.poml
  projects/spaarke-auth-v2-and-hardening/tasks/048-audit-logging-middleware.poml
  projects/spaarke-auth-v2-and-hardening/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Admin/BuilderScopeAdminEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/RagEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/VisualizationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/CommunicationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/EmailEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/WebhookSignatureFilter.cs
  src/server/api/Sprk.Bff.Api/Configuration/CommunicationOptions.cs
  src/server/api/Sprk.Bff.Api/Configuration/EmailProcessingOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Authentication/ApiKeyAuthenticationHandler.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Authentication/ApiKeyAuthenticationOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Authentication/AuthPolicies.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Authentication/AuthSchemes.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AuthorizationModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/DebugEndpointExtensions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/MiddlewarePipelineExtensions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Logging/AuditEnrichmentMiddleware.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  src/server/api/Sprk.Bff.Api/appsettings.tokens.md
Owners: @spaarke-dev

feat(auth-v2): Phase C Wave 2 — tasks 041, 042, 049 (3 parallel) — Phase C CODE COMPLETE
  projects/spaarke-auth-v2-and-hardening/current-task.md
  projects/spaarke-auth-v2-and-hardening/tasks/041-graph-app-only-to-managed-identity.poml
  projects/spaarke-auth-v2-and-hardening/tasks/042-dataverse-to-managed-identity.poml
  projects/spaarke-auth-v2-and-hardening/tasks/049-rate-limit-anonymous-endpoints.poml
  projects/spaarke-auth-v2-and-hardening/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Admin/BuilderScopeAdminEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/CapabilityEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/RagEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/CommunicationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/ConfigEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/EmailEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Office/OfficeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/RateLimitingModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/GraphClientFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/DataverseCapabilityManifestLoader.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/DataverseHttpServiceBase.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NodeService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookSharingService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ScopeResolverService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionRestoreService.cs
  src/server/api/Sprk.Bff.Api/Services/DocumentCheckoutService.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailToEmlConverter.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/BulkRagIndexingJobHandler.cs
  src/server/api/Sprk.Bff.Api/Services/RecordMatching/DataverseIndexSyncService.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/DataverseEnvironmentService.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/RegistrationDataverseService.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
Owners: @spaarke-dev

docs(auth-v2): Phase C SIGN-OFF — deployed + smoke-tested
  projects/spaarke-auth-v2-and-hardening/current-task.md
  projects/spaarke-auth-v2-and-hardening/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(auth-v2): project close-out — Phase F docs + B4 + bug fixes
  .claude/adr/ADR-028-spaarke-auth-architecture.md
  .claude/adr/INDEX.md
  .claude/archive/2026-05-19/DEPRECATED-msal-client.md
  .claude/archive/2026-05-19/DEPRECATED-spaarke-auth-initialization.md
  .claude/constraints/auth.md
  .claude/patterns/auth/spaarke-sso-binding.md
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.deps.json
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
  docs/guides/auth-deployment-setup.md
  projects/ai-search-indexing-fix/ISSUE.md
  projects/sdap-bff-api-remediation-fix/approach.md
  projects/sdap-secure-project-module-r2/secure-project-index-issue.md
  projects/spaarke-auth-v2-and-hardening/current-task.md
  projects/spaarke-auth-v2-and-hardening/tasks/080-office-naa-strategy.poml
  projects/spaarke-auth-v2-and-hardening/tasks/082-fix-save-flow-staleness.poml
  projects/spaarke-auth-v2-and-hardening/tasks/090-draft-adr-027.poml
  projects/spaarke-auth-v2-and-hardening/tasks/091-update-sso-binding-doc.poml
  projects/spaarke-auth-v2-and-hardening/tasks/092-update-constraints-auth.poml
  projects/spaarke-auth-v2-and-hardening/tasks/093-deployment-setup-guide.poml
  projects/spaarke-auth-v2-and-hardening/tasks/094-retire-deprecated-files.poml
  projects/spaarke-auth-v2-and-hardening/tasks/TASK-INDEX.md
  projects/spaarke-auth-v3-and-hardening/design.md
  src/client/office-addins/package-lock.json
  src/client/office-addins/shared/auth/DialogAuthService.ts
  src/client/office-addins/shared/auth/NaaAuthService.ts
  src/client/office-addins/shared/auth/authConfig.ts
  src/client/office-addins/shared/auth/index.ts
  src/client/office-addins/shared/taskpane/hooks/useSaveFlow.ts
  src/client/office-addins/shared/taskpane/services/SseClient.ts
  src/client/shared/Spaarke.Auth/src/index.ts
  src/client/shared/Spaarke.Auth/src/strategies/AuthStrategy.ts
  src/client/shared/Spaarke.Auth/src/strategies/OfficeNaaStrategy.ts
  src/client/webresources/js/sprk_DocumentOperations.js
  src/server/api/Sprk.Bff.Api/Api/Office/OfficeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/KnowledgeDocument.cs
Owners: @spaarke-dev, @docs-team

fix(pcf): add missing eslint to 4 PCFs + clarify orphaned-binding cleanup in inventory
  docs/architecture/client-resources-inventory.md
  src/client/pcf/EmailProcessingMonitor/package.json
  src/client/pcf/RelatedDocumentCount/package.json
  src/client/pcf/UniversalQuickCreate/package.json
  src/client/pcf/VisualHost/package.json
Owners: @spaarke-dev, @docs-team

docs(architecture): add Insights Engine canonical architecture doc (r2)
  docs/architecture/INDEX.md
  docs/architecture/INSIGHTS-ENGINE-ARCHITECTURE.md
  projects/find-similar-wizard/current-task.md
Owners: @spaarke-dev, @docs-team

docs(insights-engine): add example insights card reference image
  projects/ai-spaarke-insights-engine-r1/example-insights-card-1.png
Owners: @spaarke-dev

docs(r2): mark project complete — 401 root cause resolved by auth v2 merge
  projects/spaarke-ai-platform-unification-r2/current-task.md
Owners: @spaarke-dev

docs(auth): drift audit 2026-05-19 — retire 6-strategy cascade from canonical docs
  .claude/patterns/auth/DEPRECATED-msal-client.md
  .claude/patterns/auth/DEPRECATED-spaarke-auth-initialization.md
  .claude/patterns/auth/INDEX.md
  .claude/patterns/auth/token-caching.md
  docs/architecture/AUTH-AND-BFF-URL-PATTERN.md
  docs/architecture/auth-performance-monitoring.md
  docs/architecture/auth-security-boundaries.md
  docs/architecture/sdap-auth-patterns.md
Owners: @spaarke-dev, @docs-team

docs(adr): refine ADR-013 + introduce BFF additions governance constraint
  .claude/adr/ADR-013-ai-architecture.md
  .claude/constraints/INDEX.md
  .claude/constraints/bff-extensions.md
  CLAUDE.md
  docs/adr/ADR-013-ai-architecture.md
  docs/architecture/INSIGHTS-ENGINE-ARCHITECTURE.md
  docs/assessments/bff-ai-extraction-assessment-2026-05-20.md
Owners: @spaarke-dev, @docs-team

docs(project): add design + spec for sdap-bff-api-remediation-fix
  projects/sdap-bff-api-remediation-fix/CC-PROMPT-bff-extraction-assessment.md
  projects/sdap-bff-api-remediation-fix/design.md
  projects/sdap-bff-api-remediation-fix/spec.md
Owners: @spaarke-dev

docs(project): track design + spec + extraction-prompt on master
  projects/sdap-bff-api-remediation-fix/CC-PROMPT-bff-extraction-assessment.md
  projects/sdap-bff-api-remediation-fix/design.md
  projects/sdap-bff-api-remediation-fix/spec.md
Owners: @spaarke-dev

docs(sdap-bff-api-remediation): record sequencing after spaarke-ai-platform-unification-r2
  projects/sdap-bff-api-remediation-fix/CLAUDE.md
  projects/sdap-bff-api-remediation-fix/current-task.md
Owners: @spaarke-dev

docs(projects): add Action Engine project + rename insights→insight + coordination assessment
  projects/ai-spaarke-action-engine-r1/action-engine-overview.md
  projects/ai-spaarke-action-engine-r1/coordination-assessment-with-insights-engine.md
  projects/ai-spaarke-insight-engine-r1/README.md
  projects/ai-spaarke-insight-engine-r1/SPEC.md
  projects/ai-spaarke-insight-engine-r1/ai-inventory.md
  projects/ai-spaarke-insight-engine-r1/azure-inventory.md
  projects/ai-spaarke-insight-engine-r1/decisions.md
  projects/ai-spaarke-insight-engine-r1/design.md
  projects/unified-access-control/Secure-Access-Control-Overview-Design.md
Owners: @spaarke-dev, @docs-team

docs(analysis): add lavern analysis and adoption plan + researcher memory
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/lavern-followup-2026-05-20.md
  .claude/agent-memory/researcher/lavern-multi-agent-legal-system.md
  .claude/agent-memory/researcher/lavern-precedent-board.md
  .claude/agent-memory/researcher/lavern-seeded-datasets.md
  docs/LAVERN-ANALYSIS-AND-PLAN.md
Owners: @spaarke-dev, @docs-team

docs(advanced-ai): restructure into project dir + add use-case patterns and test-data requirements
  projects/ai-advanced-capabilities-development/ADVANCED-AI-USE-CASE-PATTERNS.md
  projects/ai-advanced-capabilities-development/LAVERN-ANALYSIS-AND-PLAN.md
  projects/ai-advanced-capabilities-development/TEST-DATA-REQUIREMENTS.md
Owners: @spaarke-dev

fix(semantic-search): deep-import themeStorage to unblock @lexical/react webpack ESM
  src/client/code-pages/SemanticSearch/src/providers/ThemeProvider.ts
Owners: @spaarke-dev

chore(auth-v2): mark resolved carryovers in current-task.md
  projects/spaarke-auth-v2-and-hardening/current-task.md
Owners: @spaarke-dev

docs(projects): add Spaarke Connect integration module design + follow-ups
  projects/spaarke-connect-integration-module-r1/design-followups.md
  projects/spaarke-connect-integration-module-r1/design.md
Owners: @spaarke-dev

design(r3): initial design.md and spec.md for welcome state redesign
  projects/spaarke-ai-platform-unification-r3/design.md
  projects/spaarke-ai-platform-unification-r3/spec.md
Owners: @spaarke-dev

feat(r3): Wave 1 Phase A foundations — PaneHeader, MAX_TABS, telemetry
  projects/spaarke-ai-platform-unification-r3/current-task.md
  projects/spaarke-ai-platform-unification-r3/notes/drafts/012-actioncard-decision.md
  projects/spaarke-ai-platform-unification-r3/notes/spikes/001-fr07-attachments-payload.md
  projects/spaarke-ai-platform-unification-r3/tasks/001-spike-fr07-attachments-payload.poml
  projects/spaarke-ai-platform-unification-r3/tasks/010-create-paneheader-component.poml
  projects/spaarke-ai-platform-unification-r3/tasks/011-configure-max-workspace-tabs.poml
  projects/spaarke-ai-platform-unification-r3/tasks/012-lift-actioncard-to-shared-lib.poml
  projects/spaarke-ai-platform-unification-r3/tasks/013-error-telemetry-helpers.poml
  projects/spaarke-ai-platform-unification-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/PaneHeader/PaneHeader.tsx
  src/client/shared/Spaarke.UI.Components/src/components/PaneHeader/__tests__/PaneHeader.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/PaneHeader/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspaceTabManager.ts
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspaceTabManager.test.ts
  src/solutions/SpaarkeAi/src/telemetry/__tests__/errorTelemetry.test.ts
  src/solutions/SpaarkeAi/src/telemetry/errorTelemetry.ts
Owners: @spaarke-dev

feat(r3): Wave 2a+2c — Assistant pane + Context Builder/AssignWork dispatchers
  projects/spaarke-ai-platform-unification-r3/current-task.md
  projects/spaarke-ai-platform-unification-r3/notes/perf/024-bundle-lazy.md
  projects/spaarke-ai-platform-unification-r3/tasks/020-welcome-panel-chrome-trim.poml
  projects/spaarke-ai-platform-unification-r3/tasks/021-conversation-pane-pane-header.poml
  projects/spaarke-ai-platform-unification-r3/tasks/023-sprkchat-input-editable-on-load.poml
  projects/spaarke-ai-platform-unification-r3/tasks/024-use-chat-file-attachment-hook.poml
  projects/spaarke-ai-platform-unification-r3/tasks/044-analysis-builder-intents.poml
  projects/spaarke-ai-platform-unification-r3/tasks/045-assign-work-launcher.poml
  projects/spaarke-ai-platform-unification-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/package-lock.json
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/AssignWorkWizardLauncher.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/EmailComposeWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/MeetingScheduleWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/AssignWorkWizardLauncher.test.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/register-workspace-widgets.ts
  src/client/shared/Spaarke.UI.Components/package-lock.json
  src/client/shared/Spaarke.UI.Components/package.json
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/SprkChat.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/useChatFileAttachment.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/hooks/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/hooks/useChatFileAttachment.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/index.ts
  src/solutions/SpaarkeAi/src/components/WelcomePanel.tsx
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
Owners: @spaarke-dev

feat(r3): Wave 2b — Workspace + Context pane foundations
  projects/spaarke-ai-platform-unification-r3/tasks/030-workspace-pane-paneheader-embed-legalworkspace.poml
  projects/spaarke-ai-platform-unification-r3/tasks/033-layout-wizard-template-filter-prop.poml
  projects/spaarke-ai-platform-unification-r3/tasks/034-daily-briefing-section.poml
  projects/spaarke-ai-platform-unification-r3/tasks/040-context-pane-header-stage-label.poml
  projects/spaarke-ai-platform-unification-r3/tasks/041-getstartedcards-widget.poml
  projects/spaarke-ai-platform-unification-r3/tasks/043-wizard-widget-wrappers.poml
  projects/spaarke-ai-platform-unification-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/GetStartedCardsWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/CreateProjectWizardWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/FindSimilarWizardWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/register-workspace-widgets.ts
  src/client/shared/Spaarke.Auth/package-lock.json
  src/solutions/LegalWorkspace/src/sectionRegistry.ts
  src/solutions/LegalWorkspace/src/sections/dailyBriefing/DailyBriefingSection.tsx
  src/solutions/LegalWorkspace/src/sections/dailyBriefing/dailyBriefing.registration.ts
  src/solutions/LegalWorkspace/src/sections/dailyBriefing/useDailyBriefing.ts
  src/solutions/LegalWorkspace/src/sections/index.ts
  src/solutions/SpaarkeAi/src/components/context/ContextPaneController.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspaceHomeTab.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/WorkspaceLayoutWizard/package-lock.json
  src/solutions/WorkspaceLayoutWizard/src/App.tsx
  src/solutions/WorkspaceLayoutWizard/src/steps/TemplateStep.tsx
  src/solutions/WorkspaceLayoutWizard/src/steps/__tests__/TemplateStep.test.tsx
Owners: @spaarke-dev

feat(r3): Wave 3 parallel — HistoryOverlay, SprkChat toolbar, DB 429/empty, Context welcome swap
  projects/spaarke-ai-platform-unification-r3/tasks/022-history-overlay-component.poml
  projects/spaarke-ai-platform-unification-r3/tasks/025-sprkchat-toolbar-restructure.poml
  projects/spaarke-ai-platform-unification-r3/tasks/035-daily-briefing-429-and-empty-state.poml
  projects/spaarke-ai-platform-unification-r3/tasks/042-register-getstarted-widget-and-welcome-stage-swap.poml
  projects/spaarke-ai-platform-unification-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChatInput.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/solutions/LegalWorkspace/src/sections/dailyBriefing/DailyBriefingSection.tsx
  src/solutions/SpaarkeAi/src/components/context/ContextPaneController.tsx
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/HistoryOverlay.tsx
Owners: @spaarke-dev

chore(r3): task 031 — delete WorkspaceLandingWidget (FR-11 cleanup)
  projects/spaarke-ai-platform-unification-r3/tasks/031-delete-workspace-landing-widget.poml
  projects/spaarke-ai-platform-unification-r3/tasks/TASK-INDEX.md
  src/solutions/SpaarkeAi/src/components/WelcomePanel.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspaceLandingWidget.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
Owners: @spaarke-dev

feat(r3): task 032 — WorkspacePaneMenu (FR-12, FR-14)
  projects/spaarke-ai-platform-unification-r3/tasks/032-workspace-pane-menu.poml
  projects/spaarke-ai-platform-unification-r3/tasks/TASK-INDEX.md
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePaneMenu.tsx
  src/solutions/WorkspaceLayoutWizard/src/main.tsx
Owners: @spaarke-dev

docs(r3): bundle-size investigation memo (Phase F task 061 brought forward)
  projects/spaarke-ai-platform-unification-r3/notes/perf/bundle-size-investigation.md
Owners: @spaarke-dev

feat(r3): Wave 4 parallel — frontend payload wiring + backend attachments[] schema
  projects/spaarke-ai-platform-unification-r3/tasks/026-wire-attachments-into-chat-send.poml
  projects/spaarke-ai-platform-unification-r3/tasks/050-extend-chat-endpoints-attachments-payload.poml
  projects/spaarke-ai-platform-unification-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/SprkChat.attachments.test.tsx
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
Owners: @spaarke-dev

docs(assessments): code-page bundle-size vs singlefile cross-project assessment
  docs/assessments/code-page-bundle-size-vs-singlefile-2026-05-20.md
Owners: @spaarke-dev, @docs-team

test(r3): task 051 — BFF unit tests for attachments[] payload (FR-07)
  projects/spaarke-ai-platform-unification-r3/tasks/051-attachments-payload-bff-tests.poml
  projects/spaarke-ai-platform-unification-r3/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/ChatEndpointsAttachmentsTests.cs
Owners: @spaarke-dev

audit(r3): Wave 5 verification audits — 060, 061, 062, 063
  projects/spaarke-ai-platform-unification-r3/notes/audit-auth-2026-05-20.md
  projects/spaarke-ai-platform-unification-r3/notes/backwards-compat-verification.md
  projects/spaarke-ai-platform-unification-r3/notes/bundle-size-verification.md
  projects/spaarke-ai-platform-unification-r3/notes/dark-mode-audit.md
  projects/spaarke-ai-platform-unification-r3/plan.md
  projects/spaarke-ai-platform-unification-r3/tasks/060-auth-audit.poml
  projects/spaarke-ai-platform-unification-r3/tasks/061-bundle-size-verification.poml
  projects/spaarke-ai-platform-unification-r3/tasks/062-dark-mode-token-audit.poml
  projects/spaarke-ai-platform-unification-r3/tasks/063-backwards-compat-verification.poml
  projects/spaarke-ai-platform-unification-r3/tasks/TASK-INDEX.md
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
