Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(customer-provisioning-r1): author L2 control-plane Bicep composition + UAMI-only App Service module (task 033)
  infrastructure/bicep/modules/controlplane-app-service.bicep
  infrastructure/bicep/modules/controlplane-app-service.json
  infrastructure/bicep/platform-controlplane.bicep
  infrastructure/bicep/platform-controlplane.json
  projects/customer-provisioning-orchestration-r1/notes/task-033-deviations.md
Owners: @spaarke-dev

feat(customer-provisioning-r1): refactor model1-shared.bicep to first-class §3A A1 composition (task 032)
  infrastructure/bicep/stacks/model1-shared.bicep
  projects/customer-provisioning-orchestration-r1/notes/task-032-deviations.md
Owners: @spaarke-dev

fix(smart-todo-r5): UAT D-8 — + New Task auto-associates the host record (FR-10)
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/navigateto-prepopulate-lookup-createfromentity-2026-08-17.md
  projects/smart-todo-r5/notes/uat-newtask-autoassociate.md
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/__tests__/wizardLaunchers.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/wizardLaunchers.ts
  src/solutions/SmartTodo/src/__tests__/SmartTodoApp.test.tsx
  src/solutions/SmartTodo/src/services/newTaskLauncher.ts
Owners: @spaarke-dev

feat(customer-provisioning-r1): scaffold L2 control-plane .NET 10 project (task 036)
  Spaarke.sln
  projects/customer-provisioning-orchestration-r1/notes/task-036-deviations.md
  src/server/services/Sprk.Provisioning.ControlPlane/Endpoints/HealthEndpoints.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Modules/AuthModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Modules/SwaggerModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Sprk.Provisioning.ControlPlane.csproj
  src/server/services/Sprk.Provisioning.ControlPlane/appsettings.template.json
Owners: @spaarke-dev

chore(customer-provisioning-r1): Wave 1 dispatcher wrap-up — 9/9 tasks complete
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(side-pane-nav-history): 087 ✅ owner-UAT (light+dark); current-task → 090 next
  projects/spaarke-side-pane-navigation-history-r1/current-task.md
  projects/spaarke-side-pane-navigation-history-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(compose-r7): Reload-from-source no longer blanks the page (task 071, FR-09 / R6 D4)
  projects/spaarkeai-compose-r7/current-task.md
  projects/spaarkeai-compose-r7/notes/task-071-notes.md
  projects/spaarkeai-compose-r7/tasks/071-restore-from-source-no-blank.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.reloadFromSource.reducer.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.types.ts
Owners: @spaarke-dev

feat(customer-provisioning-r1): refactor app-service.bicep + slot modules to UAMI-only (T5 structural fix — task 029)
  infrastructure/bicep/modules/app-service-slot.bicep
  infrastructure/bicep/modules/app-service.bicep
  infrastructure/bicep/modules/deployment-slot.bicep
  projects/customer-provisioning-orchestration-r1/notes/task-029-deviations.md
Owners: @spaarke-dev

feat(bicep): shrink platform.bicep to env-scope shared only (task 031 / D12)
  infrastructure/bicep/parameters/platform-prod.bicepparam
  infrastructure/bicep/platform.bicep
  projects/customer-provisioning-orchestration-r1/notes/task-031-topology-decision.md
Owners: @spaarke-dev

test(customer-provisioning-r1): author CosmosProvisioningSecretGuard ArchTest (task 025)
  projects/customer-provisioning-orchestration-r1/notes/task-025-cosmos-secret-guard-deviations.md
  tests/Spaarke.ArchTests/CosmosProvisioningSecretGuardTests.cs
  tests/Spaarke.ArchTests/Spaarke.ArchTests.csproj
Owners: @spaarke-dev

feat(l2): wire Cosmos client + IProvisioningRunRepository for L2 control-plane (task 037)
  Spaarke.sln
  projects/customer-provisioning-orchestration-r1/notes/task-037-deviations.md
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/CosmosSmokeTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Sprk.Provisioning.ControlPlane.Tests.csproj
  src/server/services/Sprk.Provisioning.ControlPlane/Modules/CosmosModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Repositories/CosmosProvisioningRunRepository.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Repositories/IProvisioningRunRepository.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Sprk.Provisioning.ControlPlane.csproj
  src/server/services/Sprk.Provisioning.ControlPlane/appsettings.template.json
Owners: @spaarke-dev

feat(compose-r7): Add Comment toolbar affordance wired to shipped machinery (task 072, FR-10 / R6 D7)
  projects/spaarkeai-compose-r7/current-task.md
  projects/spaarkeai-compose-r7/notes/task-072-notes.md
  projects/spaarkeai-compose-r7/tasks/072-add-comment-affordance.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.tsx
Owners: @spaarke-dev

fix(smart-todo-r5): UAT D-9 — Matter ribbon wizard buttons 404 (strip .js from webresource refs)
  src/solutions/spaarke_insights/Entities/sprk_Matter/RibbonDiff.xml
Owners: @spaarke-dev

feat(l2): wire Service Bus client + IHandlerEnqueuer for L2 control-plane (task 038)
  projects/customer-provisioning-orchestration-r1/notes/task-038-deviations.md
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/ServiceBusSmokeTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Sprk.Provisioning.ControlPlane.Tests.csproj
  src/server/services/Sprk.Provisioning.ControlPlane/Enqueue/HandlerEnvelope.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Enqueue/IHandlerEnqueuer.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Enqueue/ServiceBusHandlerEnqueuer.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Modules/ServiceBusModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Sprk.Provisioning.ControlPlane.csproj
  src/server/services/Sprk.Provisioning.ControlPlane/appsettings.template.json
Owners: @spaarke-dev

feat(bicep): migrate KV/Storage/Cognitive/Cosmos RBAC to UAMI principal (task 030)
  infrastructure/bicep/modules/ai-search.bicep
  infrastructure/bicep/modules/cosmos-db.bicep
  infrastructure/bicep/modules/doc-intelligence.bicep
  infrastructure/bicep/modules/key-vault.bicep
  infrastructure/bicep/modules/openai.bicep
  infrastructure/bicep/modules/storage-account.bicep
  projects/customer-provisioning-orchestration-r1/notes/task-030-deviations.md
Owners: @spaarke-dev

feat(smart-todo-r5): UAT filter UX — inline search left of Filter pill
  projects/smart-todo-r5/notes/uat-filter-text-search.md
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/components/Header/Header.tsx
  src/solutions/SmartTodo/src/components/Header/__tests__/Header.test.tsx
  src/solutions/SmartTodo/src/components/SearchFilter/SearchFilter.styles.ts
  src/solutions/SmartTodo/src/components/SearchFilter/SearchFilter.tsx
  src/solutions/SmartTodo/src/components/SearchFilter/__tests__/SearchFilter.test.tsx
Owners: @spaarke-dev

fix(compose-r7): apply-template ApiError-typed 404 — remove the dead response.ok idiom (task 074, FR-12 Item 1)
  projects/spaarkeai-compose-r7/notes/task-074-notes.md
  projects/spaarkeai-compose-r7/tasks/074-apply-template-etag-404.poml
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
Owners: @spaarke-dev

fix(smart-todo-r5): UAT — RegardingResolver Regarding Name blank on auto-detect (v1.4.9)
  projects/smart-todo-r5/notes/uat-regardingresolver-name-display.md
  src/client/pcf/RegardingResolver/RegardingResolver/ControlManifest.Input.xml
  src/client/pcf/RegardingResolver/RegardingResolver/RegardingResolverApp.tsx
  src/client/pcf/RegardingResolver/RegardingResolver/index.ts
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/ControlManifest.xml
  src/client/pcf/RegardingResolver/Solution/solution.xml
  src/client/pcf/RegardingResolver/__tests__/RegardingResolverApp.test.tsx
Owners: @spaarke-dev

feat(l2): wire OpenTelemetry -> Azure Monitor + AuditLogMiddleware (task 039, NFR-11)
  projects/customer-provisioning-orchestration-r1/notes/task-039-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/039-wire-app-insights-log-analytics-l2.poml
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/AuditLogMiddlewareTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Infrastructure/Startup/AzureMonitorGuard.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Middleware/AuditLogMiddleware.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Modules/TelemetryModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
  src/server/services/Sprk.Provisioning.ControlPlane/appsettings.template.json
Owners: @spaarke-dev

chore(customer-provisioning-r1): Wave 2 dispatcher wrap-up — 7/7 tasks complete
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(smart-todo-r5): UAT — blended due-date search (natural month names)
  src/solutions/SmartTodo/src/services/DataverseService.ts
  src/solutions/SmartTodo/src/types/entities.ts
  src/solutions/SmartTodo/src/utils/__tests__/todoSearchUtils.test.ts
  src/solutions/SmartTodo/src/utils/todoSearchUtils.ts
Owners: @spaarke-dev

docs(compose-r7): close task 074 via §6.5 Path A (owner-approved) + file DEF-001 (#776)
  projects/spaarkeai-compose-r7/notes/defer-issues.md
  projects/spaarkeai-compose-r7/notes/task-074-notes.md
  projects/spaarkeai-compose-r7/tasks/074-apply-template-etag-404.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

checkpoint(compose-r7): context-handoff — 19/20 done, only 090 wrap-up remains
  projects/spaarkeai-compose-r7/current-task.md
Owners: @spaarke-dev

chore(smart-todo-r5): context-handoff before compaction
  projects/smart-todo-r5/current-task.md
Owners: @spaarke-dev

fix(smart-todo-r5): RegardingResolver deep-imports (pdfjs build fix) + v1.4.9 deploy
  src/client/pcf/RegardingResolver/RegardingResolver/RegardingResolverApp.tsx
  src/client/pcf/RegardingResolver/RegardingResolver/handlers/ResolverWriteHandler.ts
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/bundle.js
  src/client/pcf/RegardingResolver/Solution/pack.ps1
Owners: @spaarke-dev

fix(compose-r7): implement UpsertAsync on FakeGenericEntityService (task 090 step-1 gate)
  tests/integration/Sprk.Bff.Api.IntegrationTests/Scheduling/PlaybookSchedulerJobTests.cs
Owners: @spaarke-dev

fix(compose-r7): prevent chat focus-steal on mount (task 061 / FR-05 regression)
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
Owners: @spaarke-dev

fix(side-pane-nav-history): 052 Monitored — access-based scope (drop owner filter)
  src/solutions/NavigatorPane/src/services/__tests__/monitoredService.test.ts
  src/solutions/NavigatorPane/src/services/monitoredService.ts
  src/solutions/NavigatorPane/src/tabs/__tests__/MonitoredTab.test.tsx
Owners: @spaarke-dev

feat(seed): author declarative AI seed manifest + generator (task 069)
  projects/customer-provisioning-orchestration-r1/notes/task-069-seed-manifest-authoring.md
  projects/customer-provisioning-orchestration-r1/tasks/069-author-seed-manifest-and-generator.poml
  scripts/seed-data/Invoke-SeedManifest.ps1
  scripts/seed-data/manifest.yaml
Owners: @spaarke-dev, @devops-team

docs(compose-r7): wrap-up artifacts — test-diet report, editor-UX doc, DEF-002 fidelity-wideners home
  docs/architecture/COMPOSE-EDITOR-UX.md
  docs/architecture/COMPOSE-READ-REFERENCE-FIDELITY.md
  projects/spaarkeai-compose-r7/notes/defer-issues.md
  projects/spaarkeai-compose-r7/notes/test-diet-report.md
Owners: @spaarke-dev, @docs-team

checkpoint(compose-r7): task 090 steps 0-5 done; stopped at deploy/merge boundary
  projects/spaarkeai-compose-r7/current-task.md
Owners: @spaarke-dev

wrap-up(side-pane-nav-history): task 090 — project close-out (COMPLETE)
  projects/spaarke-side-pane-navigation-history-r1/README.md
  projects/spaarke-side-pane-navigation-history-r1/current-task.md
  projects/spaarke-side-pane-navigation-history-r1/notes/lessons-learned.md
  projects/spaarke-side-pane-navigation-history-r1/notes/success-criteria-verification.md
  projects/spaarke-side-pane-navigation-history-r1/notes/test-diet-report.md
  projects/spaarke-side-pane-navigation-history-r1/tasks/090-project-wrap-up.poml
  projects/spaarke-side-pane-navigation-history-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(smart-todo-r5): UAT #4 — suppress duplicate workspace 'Smart To Do' title
  src/solutions/LegalWorkspace/src/sections/todo.registration.ts
Owners: @spaarke-dev

test(customer-provisioning-r1): author Wave C2 Bicep integration test harness (task 034)
  projects/customer-provisioning-orchestration-r1/notes/bicep-e2e-dry-run-20260817.md
  projects/customer-provisioning-orchestration-r1/tasks/034-integration-test-bicep-dry-run.poml
  scripts/README.md
  scripts/tests/bicep-e2e-dry-run.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

feat(l2): H0 preflight handler + provisioning handler contract (task 041, wave C4)
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H0PreflightHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/HandlerResult.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/IProvisioningHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/Preflight/H0PreflightHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/Preflight/IPreflightQuotaProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/Preflight/PowerShellPreflightProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/Preflight/PreflightCheckNames.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/Preflight/PreflightCheckResult.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Modules/HandlersModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
Owners: @spaarke-dev

docs(compose-r7): lessons-learned + checkpoint — code merged to master, dev deploy pending
  projects/spaarkeai-compose-r7/current-task.md
  projects/spaarkeai-compose-r7/notes/lessons-learned.md
Owners: @spaarke-dev

checkpoint(smart-todo-r5): deploy pass complete (3/3 live); INBOUND fix in progress
  projects/smart-todo-r5/current-task.md
Owners: @spaarke-dev

feat(customer-provisioning-r1): H0.5 consent-capture handler + BFF consent-callback endpoint (task 042, wave C4)
  projects/customer-provisioning-orchestration-r1/notes/task-042-deviations.md
  src/server/api/Sprk.Bff.Api/Endpoints/Onboarding/ConsentCallbackEndpoint.cs
  src/server/api/Sprk.Bff.Api/Endpoints/Onboarding/ConsentCallbackRequest.cs
  src/server/api/Sprk.Bff.Api/Endpoints/Onboarding/HmacSignatureVerifier.cs
  src/server/api/Sprk.Bff.Api/Endpoints/Onboarding/IProvisioningEnqueuer.cs
  src/server/api/Sprk.Bff.Api/Endpoints/Onboarding/OnboardingModule.cs
  src/server/api/Sprk.Bff.Api/Endpoints/Onboarding/OnboardingOptions.cs
  src/server/api/Sprk.Bff.Api/Endpoints/Onboarding/ServiceBusProvisioningEnqueuer.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H05ConsentCaptureHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/ConsentCapture/ConsentCapturePayload.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/ConsentCapture/ConsentCaptureRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/ConsentCapture/H05ConsentCaptureHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Registry/IDataverseEnvironmentRegistryClient.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Registry/NullDataverseEnvironmentRegistryClient.cs
  tests/unit/Sprk.Bff.Api.Tests/Onboarding/ConsentCallbackEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Onboarding/HmacSignatureVerifierTests.cs
Owners: @spaarke-dev

feat(customer-provisioning-r1): H1 subscription-readiness handler + ARM probe seam (task 043, wave C4)
  projects/customer-provisioning-orchestration-r1/notes/task-043-deviations.md
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H1SubscriptionReadinessHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SubscriptionReadiness/H1SubscriptionReadinessHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SubscriptionReadiness/ISubscriptionReadinessProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SubscriptionReadiness/NullSubscriptionReadinessProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Handlers/SubscriptionReadiness/SubscriptionReadinessRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Program.cs
Owners: @spaarke-dev

fix(smart-todo-r5): INBOUND — event-sourced To Do generation (reroute + dry-run gate)
  src/server/api/Sprk.Bff.Api/Services/Workspace/TodoGenerationService.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  tests/unit/Sprk.Bff.Api.Tests/Services/Workspace/TodoGenerationServiceTests.cs
Owners: @spaarke-dev
