Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

fix(pcf): AnalysisWorkspace v1.2.24 - chat auto-save with isChatDirty flag
  src/client/pcf/AnalysisWorkspace/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisWorkspace/control/components/AnalysisWorkspaceApp.tsx
Owners: @spaarke-dev

docs(ai): mark R4 Phase 6 complete - all tasks done
  projects/ai-document-intelligence-r4/current-task.md
  projects/ai-document-intelligence-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

chore: remove blissful-driscoll directory
  blissful-driscoll/.claude/settings.local.json
Owners: @spaarke-dev

fix(docs): correct CLAUDE.md inconsistencies and broken paths
  CLAUDE.md
Owners: @spaarke-dev

refactor(skills): consolidate INDEX.md and SKILL-INTERACTION-GUIDE.md
  .claude/skills/INDEX.md
  .claude/skills/SKILL-INTERACTION-GUIDE.md
Owners: @spaarke-dev

feat(skills): add existing PR check to push-to-github workflow
  .claude/skills/push-to-github/SKILL.md
Owners: @spaarke-dev

feat(skills): add azure-deploy skill for Azure infrastructure deployment
  .claude/skills/INDEX.md
  .claude/skills/azure-deploy/SKILL.md
  CLAUDE.md
Owners: @spaarke-dev

feat(skills): add gap-targeted interview to design-to-spec
  .claude/skills/design-to-spec/SKILL.md
Owners: @spaarke-dev

docs(skills): add azure-deploy to SKILL-INTERACTION-GUIDE
  .claude/skills/SKILL-INTERACTION-GUIDE.md
Owners: @spaarke-dev

refactor(adr): revise ADR-002 - plugins are not an execution runtime
  .claude/adr/ADR-002-thin-plugins.md
  .claude/constraints/plugins.md
  docs/adr/ADR-002-no-heavy-plugins.md
Owners: @spaarke-dev, @docs-team

chore: remove blissful-driscoll directory (#98)
  .claude/adr/ADR-002-thin-plugins.md
  .claude/constraints/plugins.md
  .claude/skills/INDEX.md
  .claude/skills/SKILL-INTERACTION-GUIDE.md
  .claude/skills/azure-deploy/SKILL.md
  .claude/skills/design-to-spec/SKILL.md
  .claude/skills/push-to-github/SKILL.md
  CLAUDE.md
  blissful-driscoll/.claude/settings.local.json
  docs/adr/ADR-002-no-heavy-plugins.md
Owners: @spaarke-dev, @docs-team

fix(docs): correct CLAUDE.md inconsistencies and broken paths
  CLAUDE.md
Owners: @spaarke-dev

refactor(skills): consolidate INDEX.md and SKILL-INTERACTION-GUIDE.md
  .claude/skills/INDEX.md
Owners: @spaarke-dev

feat(skills): add parallel sessions workflow and quality gate integration
  .claude/skills/INDEX.md
  .claude/skills/SKILL-INTERACTION-GUIDE.md
  .claude/skills/code-review/SKILL.md
  .claude/skills/conflict-check/SKILL.md
  .claude/skills/project-pipeline/SKILL.md
  .claude/skills/repo-cleanup/SKILL.md
  .claude/skills/task-create/SKILL.md
  .claude/skills/task-execute/SKILL.md
  .claude/skills/worktree-setup/SKILL.md
  docs/procedures/parallel-claude-sessions.md
Owners: @spaarke-dev, @docs-team

feat(skills): add ui-test skill for browser-based PCF/frontend testing
  .claude/skills/INDEX.md
  .claude/skills/SKILL-INTERACTION-GUIDE.md
  .claude/skills/task-execute/SKILL.md
  .claude/skills/ui-test/SKILL.md
Owners: @spaarke-dev

docs(skills): add UI test task creation guidance and testing procedure guide
  .claude/skills/project-pipeline/SKILL.md
  .claude/skills/task-create/SKILL.md
  docs/procedures/testing-and-code-quality.md
Owners: @spaarke-dev, @docs-team

feat(config): add Claude Code settings for Opus 4.5 and auto-accept mode
  .claude/settings.json
  CLAUDE.md
Owners: @spaarke-dev

feat(skills): add permission mode guidance to planning and execution skills
  .claude/skills/design-to-spec/SKILL.md
  .claude/skills/project-pipeline/SKILL.md
  .claude/skills/task-execute/SKILL.md
Owners: @spaarke-dev

docs(procedures): add CI/CD workflow developer guide
  docs/procedures/ci-cd-workflow.md
  docs/procedures/testing-and-code-quality.md
Owners: @spaarke-dev, @docs-team

feat(skills): add ci-cd skill and integrate CI/CD across existing skills
  .claude/skills/INDEX.md
  .claude/skills/adr-check/SKILL.md
  .claude/skills/azure-deploy/SKILL.md
  .claude/skills/ci-cd/SKILL.md
  .claude/skills/dataverse-deploy/SKILL.md
  .claude/skills/push-to-github/SKILL.md
Owners: @spaarke-dev

feat(skills): parallel sessions workflow, quality gates, CI/CD integration
  .claude/settings.json
  .claude/skills/INDEX.md
  .claude/skills/SKILL-INTERACTION-GUIDE.md
  .claude/skills/adr-check/SKILL.md
  .claude/skills/azure-deploy/SKILL.md
  .claude/skills/ci-cd/SKILL.md
  .claude/skills/code-review/SKILL.md
  .claude/skills/conflict-check/SKILL.md
  .claude/skills/dataverse-deploy/SKILL.md
  .claude/skills/design-to-spec/SKILL.md
  .claude/skills/project-pipeline/SKILL.md
  .claude/skills/push-to-github/SKILL.md
  .claude/skills/repo-cleanup/SKILL.md
  .claude/skills/task-create/SKILL.md
  .claude/skills/task-execute/SKILL.md
  .claude/skills/ui-test/SKILL.md
  .claude/skills/worktree-setup/SKILL.md
  CLAUDE.md
  docs/procedures/ci-cd-workflow.md
  docs/procedures/parallel-claude-sessions.md
  docs/procedures/testing-and-code-quality.md
Owners: @spaarke-dev, @docs-team

fix(auth): align AI authorization filters with Phase 1 scaffolding
  .claude/constraints/auth.md
  .claude/patterns/auth/INDEX.md
  .claude/patterns/auth/uac-access-control.md
  docs/architecture/uac-access-control.md
  src/server/api/Sprk.Bff.Api/Api/Filters/AiAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/SpaarkeCore.cs
  src/server/shared/Spaarke.Core/Auth/Rules/ExplicitDenyRule.cs
  src/server/shared/Spaarke.Core/Auth/Rules/ExplicitGrantRule.cs
  src/server/shared/Spaarke.Core/Auth/Rules/TeamMembershipRule.cs
  src/server/shared/Spaarke.Core/docs/TECHNICAL-OVERVIEW.md
  src/server/shared/Spaarke.Dataverse/DataverseAccessDataSource.cs
  tests/unit/Sprk.Bff.Api.Tests/AuthorizationTests.cs
Owners: @spaarke-dev, @docs-team

feat(telemetry): add Application Insights SDK and UAC diagnostic docs
  docs/enhancements/ENH-013-ai-authorization-and-service-unification.md
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
Owners: @spaarke-dev, @docs-team

docs(project): add AI Summary and Analysis Enhancements project
  projects/ai-summary-and-analysis-enhancements/current-task.md
  projects/ai-summary-and-analysis-enhancements/spec.md
Owners: @spaarke-dev

deps: update NuGet packages to latest versions
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
  src/server/shared/Spaarke.Core/Spaarke.Core.csproj
  src/server/shared/Spaarke.Dataverse/Spaarke.Dataverse.csproj
Owners: @spaarke-dev

docs(skills): add worktree reuse workflows to worktree-setup
  .claude/skills/worktree-setup/SKILL.md
Owners: @spaarke-dev

feat(ai): initialize AI Summary and Analysis Enhancements project
  projects/ai-summary-and-analysis-enhancements/CLAUDE.md
  projects/ai-summary-and-analysis-enhancements/README.md
  projects/ai-summary-and-analysis-enhancements/current-task.md
  projects/ai-summary-and-analysis-enhancements/plan.md
  projects/ai-summary-and-analysis-enhancements/spec.md
  projects/ai-summary-and-analysis-enhancements/tasks/001-create-authorization-interface.poml
  projects/ai-summary-and-analysis-enhancements/tasks/002-implement-authorization-service.poml
  projects/ai-summary-and-analysis-enhancements/tasks/003-add-retry-policy.poml
  projects/ai-summary-and-analysis-enhancements/tasks/004-update-analysis-authorization-filter.poml
  projects/ai-summary-and-analysis-enhancements/tasks/005-update-ai-authorization-filter.poml
  projects/ai-summary-and-analysis-enhancements/tasks/006-unit-tests-authorization.poml
  projects/ai-summary-and-analysis-enhancements/tasks/007-integration-tests-retry.poml
  projects/ai-summary-and-analysis-enhancements/tasks/010-create-document-profile-playbook.poml
  projects/ai-summary-and-analysis-enhancements/tasks/011-create-output-type-seed-data.poml
  projects/ai-summary-and-analysis-enhancements/tasks/012-implement-playbook-lookup.poml
  projects/ai-summary-and-analysis-enhancements/tasks/013-implement-dual-storage.poml
  projects/ai-summary-and-analysis-enhancements/tasks/014-implement-field-mapping.poml
  projects/ai-summary-and-analysis-enhancements/tasks/015-create-document-profile-result.poml
  projects/ai-summary-and-analysis-enhancements/tasks/016-implement-soft-failure.poml
  projects/ai-summary-and-analysis-enhancements/tasks/017-integration-tests-document-profile.poml
  projects/ai-summary-and-analysis-enhancements/tasks/020-route-document-intelligence-endpoint.poml
  projects/ai-summary-and-analysis-enhancements/tasks/021-implement-request-mapping.poml
  projects/ai-summary-and-analysis-enhancements/tasks/022-add-obsolete-attributes.poml
  projects/ai-summary-and-analysis-enhancements/tasks/023-backward-compatibility-tests.poml
  projects/ai-summary-and-analysis-enhancements/tasks/024-deploy-and-verify.poml
  projects/ai-summary-and-analysis-enhancements/tasks/030-remove-document-intelligence-interface.poml
  projects/ai-summary-and-analysis-enhancements/tasks/031-remove-document-intelligence-service.poml
  projects/ai-summary-and-analysis-enhancements/tasks/032-remove-ai-authorization-filter.poml
  projects/ai-summary-and-analysis-enhancements/tasks/033-update-di-registrations.poml
  projects/ai-summary-and-analysis-enhancements/tasks/034-update-adr-documentation.poml
  projects/ai-summary-and-analysis-enhancements/tasks/090-project-wrap-up.poml
  projects/ai-summary-and-analysis-enhancements/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(ai): add PCF tasks for soft failure handling
  projects/ai-summary-and-analysis-enhancements/plan.md
  projects/ai-summary-and-analysis-enhancements/tasks/018-update-sse-response-format.poml
  projects/ai-summary-and-analysis-enhancements/tasks/019-update-pcf-soft-failure-handling.poml
  projects/ai-summary-and-analysis-enhancements/tasks/TASK-INDEX.md
Owners: @spaarke-dev

checkpoint: save state before compaction
  projects/ai-summary-and-analysis-enhancements/current-task.md
Owners: @spaarke-dev

feat(ai)!: migrate to unified analysis endpoint (Phase 2.3 complete)
  .claude/RIGOR-LEVEL-IMPLEMENTATION.md
  .claude/skills/task-create/SKILL.md
  .claude/skills/task-execute/SKILL.md
  CLAUDE.md
  projects/ai-summary-and-analysis-enhancements/ARCHITECTURE-CHANGES.md
  projects/ai-summary-and-analysis-enhancements/DECISION-BACKWARD-COMPATIBILITY.md
  projects/ai-summary-and-analysis-enhancements/DEPLOYMENT-INVENTORY.md
  projects/ai-summary-and-analysis-enhancements/DEPLOYMENT-VERIFICATION-024.md
  projects/ai-summary-and-analysis-enhancements/ROLLBACK-QUICKREF.md
  projects/ai-summary-and-analysis-enhancements/current-task.md
  projects/ai-summary-and-analysis-enhancements/tasks/020-remove-old-service.poml
  projects/ai-summary-and-analysis-enhancements/tasks/020-route-document-intelligence-endpoint.poml
  projects/ai-summary-and-analysis-enhancements/tasks/021-implement-request-mapping.poml
  projects/ai-summary-and-analysis-enhancements/tasks/021-update-pcf-to-new-endpoint.poml
  projects/ai-summary-and-analysis-enhancements/tasks/022-add-obsolete-attributes.poml
  projects/ai-summary-and-analysis-enhancements/tasks/022-update-forms-and-pages.poml
  projects/ai-summary-and-analysis-enhancements/tasks/023-backward-compatibility-tests.poml
  projects/ai-summary-and-analysis-enhancements/tasks/023-integration-tests-new-endpoint.poml
  projects/ai-summary-and-analysis-enhancements/tasks/024-deploy-api-and-pcf-together.poml
  projects/ai-summary-and-analysis-enhancements/tasks/TASK-INDEX.md
  src/client/pcf/UniversalQuickCreate/Solution/src/Other/Solution.xml
  src/client/pcf/UniversalQuickCreate/control/ControlManifest.Input.xml
  src/client/pcf/UniversalQuickCreate/control/components/DocumentUploadForm.tsx
  src/client/pcf/UniversalQuickCreate/control/services/useAiSummary.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/DocumentIntelligenceEndpoints.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/DocumentIntelligenceService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IDocumentIntelligenceService.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/DocumentAnalysisJobHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/EmailToDocumentJobHandler.cs
  tests/integration/Spe.Integration.Tests/AnalysisEndpointsIntegrationTests.cs
  tests/integration/Spe.Integration.Tests/Spe.Integration.Tests.csproj
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/DocumentIntelligenceServiceErrorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/DocumentIntelligenceServiceParsingTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/DocumentIntelligenceServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Jobs/DocumentAnalysisJobHandlerTests.cs
Owners: @spaarke-dev

feat(ai): add comprehensive seed data deployment scripts
  scripts/seed-data/Deploy-All-AI-SeedData.ps1
  scripts/seed-data/Deploy-OutputTypes.ps1
  scripts/seed-data/README.md
Owners: @spaarke-dev, @devops-team, @docs-team

fix(ai): simplify Deploy-OutputTypes to match entity schema
  scripts/seed-data/Deploy-OutputTypes.ps1
Owners: @spaarke-dev, @devops-team

feat(api): add GET /api/ai/playbooks/by-name/{name} endpoint
  src/server/api/Sprk.Bff.Api/Api/Ai/PlaybookEndpoints.cs
Owners: @spaarke-dev

fix(api): remove non-existent OutputTypeId lookup field from queries
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookService.cs
Owners: @spaarke-dev

feat(api): add enhanced error logging for playbook resolution debugging
  projects/ai-node-playbook-builder/ClaudeCode_Prompt_Node_Playbook_Builder_UI_Prototype.md
  projects/ai-node-playbook-builder/NODE-PLAYBOOK-BUILDER-DESIGN-V2.md
  projects/ai-node-playbook-builder/Unified_Node_Playbook_and_Workflow_Design.md
  projects/ai-node-playbook-builder/reference/code-examples.md
  src/server/api/Sprk.Bff.Api/Api/Ai/PlaybookEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookService.cs
  test-playbook-query.ps1
Owners: @spaarke-dev

fix(api): add trailing slash to Dataverse BaseAddress to fix URL construction
  check-app-user.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookService.cs
Owners: @spaarke-dev

fix(api): make ActionId nullable to support playbook-based analysis
  src/server/api/Sprk.Bff.Api/Models/Ai/AnalysisExecuteRequest.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisOrchestrationService.cs
Owners: @spaarke-dev

fix(auth): implement OBO authentication for Dataverse authorization checks
  docs/architecture/auth-azure-resources.md
  docs/architecture/sdap-auth-patterns.md
  docs/architecture/sdap-bff-api-patterns.md
  projects/ai-summary-and-analysis-enhancements/ARCHITECTURE-CHANGES.md
  src/server/api/Sprk.Bff.Api/Api/Filters/AnalysisAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AiAuthorizationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IAiAuthorizationService.cs
  src/server/shared/Spaarke.Dataverse/DataverseAccessDataSource.cs
  src/server/shared/Spaarke.Dataverse/IAccessDataSource.cs
Owners: @spaarke-dev, @docs-team

refactor(auth): update remaining callers to use OBO-compatible interface
  scripts/debug/check-app-user-roles.ps1
  scripts/debug/check-document-access.ps1
  scripts/debug/check-document-owner.ps1
  scripts/debug/check-oid-user.ps1
  scripts/debug/check-record-type.ps1
  scripts/debug/list-app-users.ps1
  src/server/api/Sprk.Bff.Api/Api/Filters/AiAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Api/PermissionsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookService.cs
  src/server/shared/Spaarke.Core/Auth/AuthorizationService.cs
Owners: @spaarke-dev, @devops-team

docs(auth): add comprehensive Dataverse OBO pattern documentation
  .claude/patterns/auth/obo-flow.md
  docs/architecture/sdap-component-interactions.md
Owners: @spaarke-dev, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
