Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

refactor: rename BracedGuidConverter to DataverseJsonConverters
  src/server/api/Sprk.Bff.Api/Api/EmailEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Json/DataverseJsonConverters.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/Json/DataverseJsonConvertersTests.cs
Owners: @spaarke-dev

fix(email): remove invalid ccrecipients field from Dataverse query
  src/server/api/Sprk.Bff.Api/Api/EmailEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailToEmlConverter.cs
Owners: @spaarke-dev

fix(email): correct config section name and improve Dataverse API logging
  src/server/api/Sprk.Bff.Api/Configuration/EmailProcessingOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailToEmlConverter.cs
Owners: @spaarke-dev

fix(email): add FilePath field and document app-only auth pattern
  docs/architecture/auth-azure-resources.md
  docs/architecture/sdap-auth-patterns.md
  docs/architecture/sdap-bff-api-patterns.md
  docs/guides/EMAIL-TO-DOCUMENT-ARCHITECTURE.md
  projects/email-to-document-automation/current-task.md
  scripts/Set-ContainerId.ps1
  src/server/api/Sprk.Bff.Api/Models/Email/DataverseWebhookPayload.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/EmailToDocumentJobHandler.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/Models.cs
Owners: @spaarke-dev, @docs-team, @devops-team

chore: add tmpclaude-* to gitignore
  .gitignore
Owners: @spaarke-dev

docs: add Option B (API-proxied download) as MVP requirement
  projects/email-to-document-automation/current-task.md
Owners: @spaarke-dev

chore(dataverse): add EmailWebhook solution export
  infrastructure/dataverse/solutions/EmailWebhook/Other/Solution.xml
Owners: @spaarke-dev

chore: add local debugging scripts to gitignore
  .gitignore
Owners: @spaarke-dev

docs(skills): add worktree sync support to push-to-github and ci-cd
  .claude/skills/ci-cd/SKILL.md
  .claude/skills/push-to-github/SKILL.md
Owners: @spaarke-dev

docs(skills): add worktree support to pull-from-github
  .claude/skills/pull-from-github/SKILL.md
Owners: @spaarke-dev

feat(ai-playbook): complete Phase 1 tasks 001-004
  projects/ai-node-playbook-builder/current-task.md
  projects/ai-node-playbook-builder/notes/schema-design.md
  projects/ai-node-playbook-builder/notes/schema-import-instructions.md
  projects/ai-node-playbook-builder/tasks/001-design-dataverse-schema.poml
  projects/ai-node-playbook-builder/tasks/002-implement-dataverse-schema.poml
  projects/ai-node-playbook-builder/tasks/003-create-node-service.poml
  projects/ai-node-playbook-builder/tasks/004-extend-scope-resolver.poml
  projects/ai-node-playbook-builder/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Models/Ai/PlaybookNodeDto.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/INodeService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IScopeResolverService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NodeService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ScopeResolverService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/NodeServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ScopeResolverServiceTests.cs
Owners: @spaarke-dev

feat(ai): complete Phase 1 Node Playbook Builder + Dataverse schema skill
  .claude/skills/INDEX.md
  .claude/skills/dataverse-create-schema/SKILL.md
  docs/guides/DATAVERSE-HOW-TO-CREATE-UPDATE-SCHEMA.md
  projects/ai-node-playbook-builder/current-task.md
  projects/ai-node-playbook-builder/notes/phase1-deployment-notes.md
  projects/ai-node-playbook-builder/scripts/Create-NNRelationships.ps1
  projects/ai-node-playbook-builder/scripts/Deploy-PlaybookNodeSchema.ps1
  projects/ai-node-playbook-builder/scripts/Fix-PlaybookNodeAttributes.ps1
  projects/ai-node-playbook-builder/tasks/005-create-execution-graph.poml
  projects/ai-node-playbook-builder/tasks/006-create-ai-analysis-executor.poml
  projects/ai-node-playbook-builder/tasks/007-create-orchestration-service.poml
  projects/ai-node-playbook-builder/tasks/008-create-node-endpoints.poml
  projects/ai-node-playbook-builder/tasks/009-phase1-tests-deploy.poml
  projects/ai-node-playbook-builder/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/NodeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/PlaybookRunEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/PlaybookDto.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ExecutionGraph.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IPlaybookOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NodeExecutionContext.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NodeOutput.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/AiAnalysisNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/INodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/INodeExecutorRegistry.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/NodeExecutorRegistry.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookRunContext.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/NodeEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/PlaybookRunEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/CustomWebAppFactory.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ExecutionGraphTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/AiAnalysisNodeExecutorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PlaybookOrchestrationServiceTests.cs
Owners: @spaarke-dev, @docs-team, @devops-team

fix(ai-playbook): CSP headers for iframe embedding + PCF v1.2.0
  src/client/pcf/PlaybookBuilderHost/control/ControlManifest.Input.xml
  src/client/pcf/PlaybookBuilderHost/control/PlaybookBuilderHost.tsx
  src/client/pcf/PlaybookBuilderHost/control/index.ts
  src/server/api/Sprk.Bff.Api/Api/SecurityHeadersMiddleware.cs
Owners: @spaarke-dev

fix(pcf): iframe embedding fixes for PlaybookBuilderHost v1.2.4
  src/client/pcf/PlaybookBuilderHost/control/ControlManifest.Input.xml
  src/client/pcf/PlaybookBuilderHost/control/PlaybookBuilderHost.tsx
  src/client/pcf/PlaybookBuilderHost/control/index.ts
  src/server/api/Sprk.Bff.Api/Program.cs
Owners: @spaarke-dev

feat(ai-playbook): Phase 3 delivery executors + parallel orchestration
  projects/ai-node-playbook-builder/current-task.md
  projects/ai-node-playbook-builder/tasks/020-implement-parallel-execution.poml
  projects/ai-node-playbook-builder/tasks/021-create-template-engine.poml
  projects/ai-node-playbook-builder/tasks/TASK-INDEX.md
  src/client/pcf/PlaybookBuilderHost/control/ControlManifest.Input.xml
  src/client/pcf/PlaybookBuilderHost/control/PlaybookBuilderHost.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/Properties/NodePropertiesForm.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/Properties/ScopeSelector.tsx
  src/client/pcf/PlaybookBuilderHost/control/index.ts
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ITemplateEngine.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/CreateTaskNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/DeliverOutputNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/SendEmailNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/UpdateRecordNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/TemplateEngine.cs
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/CreateTaskNodeExecutorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/DeliverOutputNodeExecutorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/SendEmailNodeExecutorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/UpdateRecordNodeExecutorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PlaybookOrchestrationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/TemplateEngineTests.cs
Owners: @spaarke-dev

feat(pcf): add execution visualization overlay for playbook builder
  projects/ai-node-playbook-builder/current-task.md
  projects/ai-node-playbook-builder/tasks/027-execution-visualization.poml
  projects/ai-node-playbook-builder/tasks/TASK-INDEX.md
  src/client/pcf/PlaybookBuilderHost/control/components/BuilderLayout.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/Execution/ExecutionOverlay.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/Execution/index.ts
  src/client/pcf/PlaybookBuilderHost/control/components/index.ts
  src/client/pcf/PlaybookBuilderHost/control/hooks/index.ts
  src/client/pcf/PlaybookBuilderHost/control/hooks/useExecutionStream.ts
  src/client/pcf/PlaybookBuilderHost/control/stores/executionStore.ts
  src/client/pcf/PlaybookBuilderHost/control/stores/index.ts
Owners: @spaarke-dev

feat(ai-playbook): add Power Apps template services + complete task 026
  projects/ai-node-playbook-builder/current-task.md
  projects/ai-node-playbook-builder/tasks/022-create-task-executor.poml
  projects/ai-node-playbook-builder/tasks/023-create-email-executor.poml
  projects/ai-node-playbook-builder/tasks/024-create-update-record-executor.poml
  projects/ai-node-playbook-builder/tasks/025-create-deliver-output-executor.poml
  projects/ai-node-playbook-builder/tasks/026-power-apps-integration.poml
  projects/ai-node-playbook-builder/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Delivery/EmailTemplateService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Delivery/WordTemplateService.cs
Owners: @spaarke-dev

test(bff-api): add Phase 3 integration tests for playbook execution
  projects/ai-node-playbook-builder/current-task.md
  projects/ai-node-playbook-builder/tasks/028-phase3-integration-tests.poml
  projects/ai-node-playbook-builder/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/Integration/PlaybookExecutionTests.cs
Owners: @spaarke-dev

fix(tests): correct Phase 3 integration test assertions
  tests/unit/Sprk.Bff.Api.Tests/Integration/PlaybookExecutionTests.cs
Owners: @spaarke-dev

chore(deploy): complete Phase 3 deployment to dev environment
  projects/ai-node-playbook-builder/current-task.md
  projects/ai-node-playbook-builder/notes/phase3-deployment-notes.md
  projects/ai-node-playbook-builder/tasks/029-phase3-deployment.poml
  projects/ai-node-playbook-builder/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(ai-playbook): implement Phase 4 Advanced Features (tasks 030-035)
  projects/ai-node-playbook-builder/current-task.md
  projects/ai-node-playbook-builder/tasks/030-condition-executor.poml
  projects/ai-node-playbook-builder/tasks/031-condition-ui.poml
  projects/ai-node-playbook-builder/tasks/032-model-selection-api.poml
  projects/ai-node-playbook-builder/tasks/033-model-selection-ui.poml
  projects/ai-node-playbook-builder/tasks/034-confidence-scores.poml
  projects/ai-node-playbook-builder/tasks/035-confidence-ui.poml
  projects/ai-node-playbook-builder/tasks/TASK-INDEX.md
  src/client/pcf/PlaybookBuilderHost/control/ControlManifest.Input.xml
  src/client/pcf/PlaybookBuilderHost/control/PlaybookBuilderHost.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/Canvas/Canvas.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/Edges/ConditionEdge.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/Edges/edgeTypes.ts
  src/client/pcf/PlaybookBuilderHost/control/components/Edges/index.ts
  src/client/pcf/PlaybookBuilderHost/control/components/Execution/ConfidenceBadge.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/Execution/ExecutionOverlay.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/Properties/ConditionEditor.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/Properties/ModelSelector.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/Properties/NodePropertiesForm.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/Properties/index.ts
  src/client/pcf/PlaybookBuilderHost/control/components/index.ts
  src/client/pcf/PlaybookBuilderHost/control/stores/canvasStore.ts
  src/client/pcf/PlaybookBuilderHost/control/stores/executionStore.ts
  src/client/pcf/PlaybookBuilderHost/control/stores/index.ts
  src/client/pcf/PlaybookBuilderHost/control/stores/modelStore.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/ModelEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/ModelDeploymentDto.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IScopeResolverService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/AiAnalysisNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/ConditionNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/DeliverOutputNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ToolExecutionContext.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/SummaryHandler.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/ModelEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/ConditionNodeExecutorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/SummaryHandlerTests.cs
Owners: @spaarke-dev

feat(ai-playbook): complete Phase 4 with deployment optimizations
  .claude/settings.json
  .claude/skills/dataverse-deploy/SKILL.md
  docs/guides/PCF-PRODUCTION-RELEASE.md
  docs/guides/PCF-QUICK-DEPLOY.md
  docs/guides/PCF-TROUBLESHOOTING.md
  docs/guides/PCF-V9-PACKAGING.md
  projects/ai-node-playbook-builder/current-task.md
  projects/ai-node-playbook-builder/notes/phase4-deployment-notes.md
  projects/ai-node-playbook-builder/tasks/036-playbook-templates.poml
  projects/ai-node-playbook-builder/tasks/037-template-library-ui.poml
  projects/ai-node-playbook-builder/tasks/038-execution-history.poml
  projects/ai-node-playbook-builder/tasks/039-phase4-tests-deploy.poml
  projects/ai-node-playbook-builder/tasks/TASK-INDEX.md
  src/client/pcf/PlaybookBuilderHost/Solution/Controls/sprk_Spaarke.Controls.PlaybookBuilderHost/ControlManifest.xml
  src/client/pcf/PlaybookBuilderHost/control/ControlManifest.Input.xml
  src/client/pcf/PlaybookBuilderHost/control/PlaybookBuilderHost.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/Canvas/Canvas.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/Templates/TemplateLibraryDialog.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/Templates/index.ts
  src/client/pcf/PlaybookBuilderHost/control/components/index.ts
  src/client/pcf/PlaybookBuilderHost/control/index.ts
  src/client/pcf/PlaybookBuilderHost/control/stores/index.ts
  src/client/pcf/PlaybookBuilderHost/control/stores/templateStore.ts
  src/client/pcf/PlaybookBuilderHost/featureconfig.json
  src/client/pcf/PlaybookBuilderHost/webpack.config.js
  src/server/api/Sprk.Bff.Api/Api/Ai/PlaybookEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/PlaybookRunEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/PlaybookDto.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/PlaybookRunHistoryDto.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IPlaybookOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IPlaybookService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookService.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/PlaybookRunEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PlaybookOrchestrationServiceTests.cs
Owners: @spaarke-dev, @docs-team

checkpoint: save state for Phase 5 start
  projects/ai-node-playbook-builder/current-task.md
Owners: @spaarke-dev

checkpoint: deployed PCF with UI fix
  projects/ai-node-playbook-builder/current-task.md
Owners: @spaarke-dev

docs(ai-rag): add RAG document ingestion pipeline design
  projects/ai-RAG-pipeline/design.md
  projects/ai-RAG-pipeline/rag-ingestion-assessment.md
  projects/ai-RAG-pipeline/rag-ingestion-design.md
Owners: @spaarke-dev

feat(email): implement Phase 1-3 email-to-document automation
  projects/email-to-document-automation-r2/current-task.md
  projects/email-to-document-automation-r2/notes/phase2-deployment-notes.md
  projects/email-to-document-automation-r2/tasks/019-deploy-phase2.poml
  projects/email-to-document-automation-r2/tasks/020-create-apponly-analysis-service.poml
  projects/email-to-document-automation-r2/tasks/021-create-apponly-analysis-job-handler.poml
  projects/email-to-document-automation-r2/tasks/022-integrate-analysis-enqueue.poml
  projects/email-to-document-automation-r2/tasks/023-unit-tests-apponly-analysis.poml
  projects/email-to-document-automation-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/DataverseDocumentsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/DocumentAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Configuration/EmailProcessingOptions.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AppOnlyAnalysisService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IAppOnlyAnalysisService.cs
  src/server/api/Sprk.Bff.Api/Services/Email/AttachmentFilterService.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailToEmlConverter.cs
  src/server/api/Sprk.Bff.Api/Services/Email/IEmailToEmlConverter.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/AppOnlyDocumentAnalysisJobHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/EmailToDocumentJobHandler.cs
  src/server/api/Sprk.Bff.Api/Telemetry/DocumentTelemetry.cs
  src/server/api/Sprk.Bff.Api/Telemetry/EmailTelemetry.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/DocumentDownloadEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Filters/DocumentAuthorizationFilterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AppOnlyAnalysisServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Email/AttachmentFilterServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Email/EmailAttachmentExtractionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Jobs/AppOnlyDocumentAnalysisJobHandlerTests.cs
Owners: @spaarke-dev

docs(email): complete Phase 3 deployment (task 029)
  projects/email-to-document-automation-r2/current-task.md
  projects/email-to-document-automation-r2/notes/phase3-deployment-notes.md
  projects/email-to-document-automation-r2/tasks/029-deploy-phase3.poml
  projects/email-to-document-automation-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(email): document Phase 3 E2E verification and analysis workflow alignment
  projects/email-to-document-automation-r2/notes/phase3-deployment-notes.md
Owners: @spaarke-dev

feat(pcf): implement auto-save with dual-path persistence (v2.13.1)
  docs/architecture/AI-PLAYBOOK-ARCHITECTURE.md
  src/client/pcf/PlaybookBuilderHost/Solution/Controls/sprk_Spaarke.Controls.PlaybookBuilderHost/ControlManifest.xml
  src/client/pcf/PlaybookBuilderHost/Solution/Controls/sprk_Spaarke.Controls.PlaybookBuilderHost/styles.css
  src/client/pcf/PlaybookBuilderHost/Solution/pack.ps1
  src/client/pcf/PlaybookBuilderHost/Solution/solution.xml
  src/client/pcf/PlaybookBuilderHost/control/ControlManifest.Input.xml
  src/client/pcf/PlaybookBuilderHost/control/PlaybookBuilderHost.tsx
  src/client/pcf/PlaybookBuilderHost/control/index.ts
Owners: @spaarke-dev, @docs-team

feat(email): complete email-to-document automation with architecture docs
  docs/architecture/email-to-document-automation.md
  docs/architecture/sdap-auth-patterns.md
  docs/architecture/sdap-component-interactions.md
  docs/architecture/sdap-troubleshooting.md
  projects/email-to-document-automation-r2/current-task.md
  projects/email-to-document-automation-r2/notes/ai-analysis-integration-issue.md
  projects/email-to-document-automation-r2/notes/email-analysis-playbook.md
  projects/email-to-document-automation-r2/notes/phase4-deployment-notes.md
  projects/email-to-document-automation-r2/notes/project-follow-up-items.md
  projects/email-to-document-automation-r2/tasks/030-create-email-analysis-playbook.poml
  projects/email-to-document-automation-r2/tasks/031-implement-email-analysis-service.poml
  projects/email-to-document-automation-r2/tasks/032-create-email-analysis-job-handler.poml
  projects/email-to-document-automation-r2/tasks/033-integration-tests-email-analysis.poml
  projects/email-to-document-automation-r2/tasks/039-deploy-phase4.poml
  projects/email-to-document-automation-r2/tasks/TASK-INDEX.md
  scripts/seed-data/playbooks.json
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AppOnlyAnalysisService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IAppOnlyAnalysisService.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailToEmlConverter.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/EmailAnalysisJobHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/EmailToDocumentJobHandler.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/IDataverseService.cs
  src/server/shared/Spaarke.Dataverse/Models.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/DataverseEntitySchemaTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/EmailAnalysisIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Email/EmailAttachmentExtractionTests.cs
Owners: @spaarke-dev, @docs-team, @devops-team

chore(project): complete ai-node-playbook-builder project wrap-up
  projects/ai-node-playbook-builder/README.md
  projects/ai-node-playbook-builder/current-task.md
  projects/ai-node-playbook-builder/notes/lessons-learned.md
  projects/ai-node-playbook-builder/notes/load-test-results.md
  projects/ai-node-playbook-builder/notes/performance-analysis.md
  projects/ai-node-playbook-builder/notes/phase5-deployment-notes.md
  projects/ai-node-playbook-builder/notes/security-review.md
  projects/ai-node-playbook-builder/tasks/040-error-handling.poml
  projects/ai-node-playbook-builder/tasks/041-retry-logic.poml
  projects/ai-node-playbook-builder/tasks/042-timeout-management.poml
  projects/ai-node-playbook-builder/tasks/043-cancellation-support.poml
  projects/ai-node-playbook-builder/tasks/044-cancel-ui.poml
  projects/ai-node-playbook-builder/tasks/045-audit-logging.poml
  projects/ai-node-playbook-builder/tasks/046-performance-optimization.poml
  projects/ai-node-playbook-builder/tasks/047-load-testing.poml
  projects/ai-node-playbook-builder/tasks/048-security-review.poml
  projects/ai-node-playbook-builder/tasks/049-phase5-final-deploy.poml
  projects/ai-node-playbook-builder/tasks/090-project-wrap-up.poml
  projects/ai-node-playbook-builder/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(pcf): consolidate PCF guides into unified deployment guide
  docs/guides/PCF-CUSTOM-PAGE-DEPLOY.md
  docs/guides/PCF-DEPLOYMENT-GUIDE.md
  docs/guides/PCF-PRODUCTION-RELEASE.md
  docs/guides/PCF-QUICK-DEPLOY.md
  docs/guides/PCF-TROUBLESHOOTING.md
  docs/guides/PCF-V9-PACKAGING.md
Owners: @spaarke-dev, @docs-team

fix(skills): add mandatory untracked source file checks
  .claude/skills/push-to-github/SKILL.md
  .claude/skills/repo-cleanup/SKILL.md
Owners: @spaarke-dev

feat(email): complete Phase 5 UI/Ribbon Enhancements
  infrastructure/dataverse/ribbon/EmailRibbons/Entities/email/RibbonDiff.xml
  infrastructure/dataverse/ribbon/EmailRibbons/Other/Solution.xml
  infrastructure/dataverse/ribbon/EmailRibbons/WebResources/sprk_emailactions.js
  projects/email-to-document-automation-r2/README.md
  projects/email-to-document-automation-r2/current-task.md
  projects/email-to-document-automation-r2/notes/phase5-deployment-notes.md
  projects/email-to-document-automation-r2/notes/ribbon-testing-checklist.md
  projects/email-to-document-automation-r2/tasks/040-create-ribbon-button-existing-emails.poml
  projects/email-to-document-automation-r2/tasks/041-create-ribbon-button-sent-emails.poml
  projects/email-to-document-automation-r2/tasks/042-create-ribbon-webresource.poml
  projects/email-to-document-automation-r2/tasks/043-manual-testing-ribbon.poml
  projects/email-to-document-automation-r2/tasks/049-deploy-phase5.poml
  projects/email-to-document-automation-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(pcf): reactivate x-document-checkout-viewer project for Phase 5
  projects/email-to-document-automation-r2/notes/document-viewer-remediation-plan.md
  projects/x-document-checkout-viewer/CLAUDE.md
  projects/x-document-checkout-viewer/tasks/045-add-getviewurl-to-bffclient.poml
  projects/x-document-checkout-viewer/tasks/046-switch-to-realtime-preview.poml
  projects/x-document-checkout-viewer/tasks/047-add-open-in-web-button.poml
  projects/x-document-checkout-viewer/tasks/050-migrate-spefileviewer.poml
  projects/x-document-checkout-viewer/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(pcf): SpeDocumentViewer v1.0.12 with design mode detection and download
  check-app-user.ps1
  src/client/pcf/SpeDocumentViewer/control/BffClient.ts
  src/client/pcf/SpeDocumentViewer/control/ControlManifest.Input.xml
  src/client/pcf/SpeDocumentViewer/control/SpeDocumentViewer.tsx
  src/client/pcf/SpeDocumentViewer/control/index.ts
  src/client/pcf/SpeDocumentViewer/solution/src/Controls/Spaarke.SpeDocumentViewer/ControlManifest.xml
  src/client/pcf/SpeDocumentViewer/solution/src/Other/Solution.xml
  src/client/pcf/tsconfig.json
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/EmailToDocumentJobHandler.cs
  test-playbook-query.ps1
Owners: @spaarke-dev

feat(email): implement Phase 1-3 email-to-document automation
  projects/email-to-document-automation-r2/current-task.md
  projects/email-to-document-automation-r2/notes/phase2-deployment-notes.md
  projects/email-to-document-automation-r2/tasks/019-deploy-phase2.poml
  projects/email-to-document-automation-r2/tasks/020-create-apponly-analysis-service.poml
  projects/email-to-document-automation-r2/tasks/021-create-apponly-analysis-job-handler.poml
  projects/email-to-document-automation-r2/tasks/022-integrate-analysis-enqueue.poml
  projects/email-to-document-automation-r2/tasks/023-unit-tests-apponly-analysis.poml
  projects/email-to-document-automation-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/DataverseDocumentsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/DocumentAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Configuration/EmailProcessingOptions.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AppOnlyAnalysisService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IAppOnlyAnalysisService.cs
  src/server/api/Sprk.Bff.Api/Services/Email/AttachmentFilterService.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailToEmlConverter.cs
  src/server/api/Sprk.Bff.Api/Services/Email/IEmailToEmlConverter.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/AppOnlyDocumentAnalysisJobHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/EmailToDocumentJobHandler.cs
  src/server/api/Sprk.Bff.Api/Telemetry/DocumentTelemetry.cs
  src/server/api/Sprk.Bff.Api/Telemetry/EmailTelemetry.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/DocumentDownloadEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Filters/DocumentAuthorizationFilterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AppOnlyAnalysisServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Email/AttachmentFilterServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Email/EmailAttachmentExtractionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Jobs/AppOnlyDocumentAnalysisJobHandlerTests.cs
Owners: @spaarke-dev

docs(email): complete Phase 3 deployment (task 029)
  projects/email-to-document-automation-r2/current-task.md
  projects/email-to-document-automation-r2/notes/phase3-deployment-notes.md
  projects/email-to-document-automation-r2/tasks/029-deploy-phase3.poml
  projects/email-to-document-automation-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(email): document Phase 3 E2E verification and analysis workflow alignment
  projects/email-to-document-automation-r2/notes/phase3-deployment-notes.md
Owners: @spaarke-dev

feat(email): complete Phase 5 UI/Ribbon Enhancements
  infrastructure/dataverse/ribbon/EmailRibbons/Entities/email/RibbonDiff.xml
  infrastructure/dataverse/ribbon/EmailRibbons/Other/Solution.xml
  infrastructure/dataverse/ribbon/EmailRibbons/WebResources/sprk_emailactions.js
  projects/email-to-document-automation-r2/README.md
  projects/email-to-document-automation-r2/current-task.md
  projects/email-to-document-automation-r2/notes/phase5-deployment-notes.md
  projects/email-to-document-automation-r2/notes/ribbon-testing-checklist.md
  projects/email-to-document-automation-r2/tasks/040-create-ribbon-button-existing-emails.poml
  projects/email-to-document-automation-r2/tasks/041-create-ribbon-button-sent-emails.poml
  projects/email-to-document-automation-r2/tasks/042-create-ribbon-webresource.poml
  projects/email-to-document-automation-r2/tasks/043-manual-testing-ribbon.poml
  projects/email-to-document-automation-r2/tasks/049-deploy-phase5.poml
  projects/email-to-document-automation-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team
