Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

ci: repair the Router gate — tier2 timeout, cancelled-is-not-failure, self-collision
  .github/workflows/ci-router.yml
  .github/workflows/ci-tier2-advisory.yml
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/ci-router-gate-repair-2026-08-24.md
Owners: @spaarke-dev, @devops-team

fix(bff): hoist IActionSeam out of DocIntel/Analysis compound gate (ADR-032 F.1)
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
Owners: @spaarke-dev

docs(uac-r2): record the verified Router result — 24 min is the real number
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/ci-router-gate-repair-2026-08-24.md
Owners: @spaarke-dev

feat(compose-r8): task 051 FR-C02 — a citation now resolves an edit's target; CitationResolver gets its first consumer
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.anchor.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.ts
  src/server/api/Sprk.Bff.Api/Api/ComposeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeAnchorResolver.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeEditAnchorPass.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeEditModels.cs
  tests/integration/seam/Compose/ComposeEditAnchorPassSeamTests.cs
Owners: @spaarke-dev

feat(compose-r8): task 051 — close the fifth dispatch site (caret path) on the FR-C01 anchor
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
Owners: @spaarke-dev

checkpoint: task 051 — FR-C02 complete; FR-C03 supply channel escalated
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

test(ci): register JobsEndpointsTests.Trigger_RunsJobOutOfBand_RecordsRun as timing-sensitive
  projects/unified-access-control-r2/notes/ci-router-gate-repair-2026-08-24.md
  tests/.reliability-registry.json
Owners: @spaarke-dev

feat(spe-admin): surface the real nine container-type settings
  projects/sdap-SPE-admin-app-r2/notes/task-025-schema-verification.md
  projects/sdap-SPE-admin-app-r2/tasks/025-full-settings-surface.poml
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerTypeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerTypeSettingsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/server/api/Sprk.Bff.Api/Models/SpeAdmin/ContainerTypeDtos.cs
  src/server/api/Sprk.Bff.Api/Models/SpeAdmin/UpdateContainerTypeSettingsRequest.cs
  src/solutions/SpeAdminApp/src/types/spe.ts
  tests/integration/contract/SpeAdmin/SpeAdminContainerTypeSettingsPatchTests.cs
Owners: @spaarke-dev

checkpoint: save state for sdap-SPE-admin-app-r2 (W1-W9 complete)
  projects/sdap-SPE-admin-app-r2/current-task.md
Owners: @spaarke-dev

fix(api): scope-check the external To Do PATCH (task 009, FR-08/A-7 + H-8a)
  projects/unified-access-control-r2/notes/task-009-external-todo-scope.md
  projects/unified-access-control-r2/tasks/009-scope-check-external-todo-patch.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ExternalProjectDataEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ExternalDataService.cs
  tests/integration/auth/UnifiedAccessControl/ExternalCollaborationTestFixture.cs
  tests/integration/auth/UnifiedAccessControl/ExternalTodoScopeTests.cs
Owners: @spaarke-dev

feat(auth-v4 033): step 2 — the secret is GONE from the running app
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/033-secret-removal.md
Owners: @spaarke-dev

feat(auth-v4 033): step 3 — the secret is out of Key Vault
  config/spaarke-resources.yaml
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/033-secret-removal.md
Owners: @spaarke-dev

feat(auth-v4 033): step 4 — script sweep, and -SkipClientSecret
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/033-secret-removal.md
  scripts/Configure-ProductionAppSettings.ps1
  scripts/Create-NewContainerType.ps1
  scripts/README.md
  scripts/Reconcile-DemoEnvironment.ps1
  scripts/Register-BffApiWithContainerType.ps1
  scripts/Register-EntraAppRegistrations.ps1
  scripts/Rotate-Secrets.ps1
  scripts/Seed-ProductionKeyVault.ps1
  scripts/Test-EntraAppRegistrations.ps1
  scripts/Test-SharePointToken.ps1
  scripts/naming-conformance-check.ps1
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
Owners: @spaarke-dev, @devops-team, @docs-team

chore(auth-v4 033): checkpoint after step 4 — doc sweep is 33 files, not 13
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/033-secret-removal.md
Owners: @spaarke-dev

feat(auth-v4 033): step 5 part 1 — add-in docs, appsettings template, local-dev setup
  docs/guides/office-addins-admin-guide.md
  docs/guides/office-addins-deployment-checklist.md
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  src/server/api/Sprk.Bff.Api/docs/SPE.BFF.API-SECRETS-SETUP.md
Owners: @spaarke-dev, @docs-team

feat(auth-v4 033): steps 5-6 — false-premise family killed, ADR-028 E-3 CLOSED
  .claude/adr/ADR-028-spaarke-auth-architecture.md
  .claude/constraints/auth.md
  .claude/skills/adr-check/SKILL.md
  docs/guides/auth-deployment-setup.md
  docs/standards/oauth-obo-patterns.md
  src/server/api/Sprk.Bff.Api/CLAUDE.md
Owners: @spaarke-dev, @docs-team

feat(auth-v4 033): step 7 + doc sweep; SECURITY: redact committed secret fragments
  .claude/skills/azure-deploy/SKILL.md
  docs/architecture/AZURE-RESOURCE-NAMING-CONVENTION.md
  docs/architecture/DATAVERSE-ACCESS-LAYER-ROUTING.md
  docs/architecture/auth-azure-resources.md
  docs/architecture/dataverse-infrastructure-architecture.md
  docs/architecture/multi-environment-portability-strategy.md
  docs/guides/AI-DEPLOYMENT-GUIDE.md
  docs/guides/BYOK-CONFIGURATION-GUIDE.md
  docs/guides/CONFIGURATION-MATRIX.md
  docs/guides/CUSTOMER-DEPLOYMENT-GUIDE.md
  docs/guides/DATAVERSE-AUTHENTICATION-GUIDE.md
  docs/guides/DECLARATIVE-AGENT-BUILD-AND-DEPLOY-GUIDE.md
  docs/guides/ENVIRONMENT-DEPLOYMENT-GUIDE.md
  docs/guides/INCIDENT-RESPONSE.md
  docs/guides/M365-COPILOT-DEPLOYMENT-GUIDE.md
  docs/guides/PRODUCTION-DEPLOYMENT-GUIDE.md
  docs/guides/SECRET-ROTATION-PROCEDURES.md
  docs/guides/SPAARKE-DEPLOYMENT-GUIDE.md
  docs/guides/auth-deployment-setup.md
  projects/x-ai-summary-and-analysis-enhancements/ARCHITECTURE-CHANGES.md
  src/server/api/Sprk.Bff.Api/appsettings.tokens.md
  src/server/api/Sprk.Bff.Api/docs/SPE.BFF.API-TECHNICAL-OVERVIEW.md
  src/server/shared/Spaarke.Dataverse/docs/TECHNICAL-OVERVIEW.md
Owners: @spaarke-dev, @docs-team

feat(api): widen the external To Do PATCH scope to matter + work assignment (owner decision)
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/task-009-external-todo-scope.md
  projects/unified-access-control-r2/tasks/009-scope-check-external-todo-patch.poml
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ExternalProjectDataEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ExternalDataService.cs
  tests/integration/auth/UnifiedAccessControl/ExternalTodoScopeTests.cs
Owners: @spaarke-dev

feat(auth-v4 033): COMPLETE — the BFF identity is secret-free; ADR-028 E-3 CLOSED
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/033-secret-removal.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/033-remove-secret-and-reconcile-estate.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AuthorizationModule.cs
  tests/Spaarke.ArchTests/CredentialCensusTests.cs
  tests/integration/seam/Auth/CredentialOrderingSeamTests.cs
Owners: @spaarke-dev

feat(compose-r8): task 051 FR-C03 — let the model ANSWER with an anchor (3 selection-scoped Actions)
  infra/dataverse/actions/compose-draft-alternative.action.json
  infra/dataverse/actions/compose-make-concise.action.json
  infra/dataverse/actions/compose-rewrite-instruction.action.json
  tests/integration/seam/Compose/ComposeEditActionAnchorContractSeamTests.cs
Owners: @spaarke-dev

fix(ai-spine): declared inputs reach the model — close the accepted-and-ignored gap (ADR-043 Amendment 1)
  .claude/adr/ADR-043-ai-capability-execution-spine.md
  docs/adr/ADR-043-ai-capability-execution-spine.md
  infra/dataverse/actions/compose-draft-alternative.action.json
  infra/dataverse/actions/compose-make-concise.action.json
  infra/dataverse/actions/compose-rewrite-instruction.action.json
  projects/spaarkeai-compose-r8/notes/adr-043-041-assessment.md
  scripts/Deploy-AnalysisAction.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/Context/ContextBinder.cs
  tests/integration/seam/Ai/ContextBinderActionRunnerSeamTests.cs
  tests/integration/seam/Compose/ComposeEditActionAnchorContractSeamTests.cs
Owners: @spaarke-dev, @docs-team, @devops-team

docs(customer-provisioning): SESSION 5 corrective pivot — author task 202 (pre-live-fire lessons audit + PROVISIONING-PREREQUISITES formalization + provisioning-run structure design)
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/202-pre-live-fire-lessons-audit-and-prereqs-formalization.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(compose-r8): define tasks 054/055 for the whole-document anchor; 051 complete; 052 reframed and re-gated
  projects/spaarkeai-compose-r8/tasks/052-retire-text-search-path.poml
  projects/spaarkeai-compose-r8/tasks/054-whole-document-closed-set-supply.poml
  projects/spaarkeai-compose-r8/tasks/055-whole-document-anchored-placement.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
Owners: @spaarke-dev

chore(auth-v4 033): relocate the DATAVERSE-ACCESS-LAYER-ROUTING banner out of PR #812's hunks
  docs/architecture/DATAVERSE-ACCESS-LAYER-ROUTING.md
Owners: @spaarke-dev, @docs-team

feat(api): surface container-type billingStatus end-to-end (task 029 / FR-C12)
  projects/sdap-SPE-admin-app-r2/notes/task-029-findings.md
  projects/sdap-SPE-admin-app-r2/tasks/029-billing-status-surface.poml
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerTypeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerTypeSettingsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/server/api/Sprk.Bff.Api/Models/SpeAdmin/ContainerTypeDtos.cs
  src/solutions/SpeAdminApp/src/components/container-types/ContainerTypeDetail.tsx
  src/solutions/SpeAdminApp/src/components/container-types/ContainerTypesPage.tsx
  src/solutions/SpeAdminApp/src/components/container-types/containerTypeLifecycle.ts
  src/solutions/SpeAdminApp/src/components/container-types/steps/ConfirmRegistrationStep.tsx
  src/solutions/SpeAdminApp/src/components/container-types/steps/SelectContainerTypeStep.tsx
  src/solutions/SpeAdminApp/src/types/spe.ts
  tests/integration/contract/SpeAdmin/SpeAdminContainerTypeMappingTests.cs
  tests/integration/contract/SpeAdmin/SpeAdminContainerTypeSettingsPatchTests.cs
Owners: @spaarke-dev

checkpoint(spe-admin-r2): task 029 complete; 026 pre-flight warnings recorded
  projects/sdap-SPE-admin-app-r2/current-task.md
Owners: @spaarke-dev

docs(auth-v4 033): #812 conflict RESOLVED — clean merge verified; content issue raised on the PR
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/033-secret-removal.md
Owners: @spaarke-dev

chore(uac-r2): file the 8 review-remediation tasks as Phase 0b (021-028)
  projects/unified-access-control-r2/tasks/021-provisioning-stamping-patch.poml
  projects/unified-access-control-r2/tasks/022-document-surface-authorization-sweep.poml
  projects/unified-access-control-r2/tasks/023-grant-upsert-expiry.poml
  projects/unified-access-control-r2/tasks/024-spe-paging-and-revoke-parity.poml
  projects/unified-access-control-r2/tasks/025-test-integrity-remediation.poml
  projects/unified-access-control-r2/tasks/026-schema-truth-doc-repair.poml
  projects/unified-access-control-r2/tasks/027-e2e-tier-reconciliation.poml
  projects/unified-access-control-r2/tasks/028-service-request-accessible-set.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(api): repair the accessible-projects orderby (task 022, H5) + document-surface inventory
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/task-022-document-surface-inventory.md
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ExternalDataService.cs
Owners: @spaarke-dev

feat(auth-v4 051+053): LIVE CUTOVERS — Service Bus and AI Search now run on managed identity
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/051-053-live-cutover.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/051-service-bus-to-mi.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/053-ai-search-to-entra.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
Owners: @spaarke-dev

checkpoint(uac-r2): context-handoff mid-task-022 — inventory + H5 landed, gates blocked on missing operation keys
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

docs(customer-provisioning): task 202 amend — add binding constraint routing BFF-owned lessons OUT of task 203 scope + audit e3a15db91 case study
  projects/customer-provisioning-orchestration-r1/tasks/202-pre-live-fire-lessons-audit-and-prereqs-formalization.poml
Owners: @spaarke-dev

feat(spe-admin): honest replication + override state on container types (026 / FR-C08)
  projects/sdap-SPE-admin-app-r2/notes/task-026-findings.md
  projects/sdap-SPE-admin-app-r2/tasks/026-replication-and-override-state.poml
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
  src/solutions/SpeAdminApp/src/components/container-types/ContainerTypeDetail.tsx
  src/solutions/SpeAdminApp/src/components/container-types/containerTypeLifecycle.ts
Owners: @spaarke-dev

feat(auth-v4 090): wrap-up PARTIAL — criterion 12 exercised; project deliberately left OPEN
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/lessons-learned.md
  projects/spaarke-auth-v4-dataverse-MI/notes/test-diet-report.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/090-project-wrap-up.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(uac-r2): file task 029 — external To Do read/create parity with PATCH
  projects/unified-access-control-r2/tasks/029-external-todo-read-create-parity.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(auth)!: gate the document destroy + mutate surface (C2, C3, H2, H3)
  projects/unified-access-control-r2/notes/task-022-document-surface-inventory.md
  src/server/api/Sprk.Bff.Api/Api/DataverseDocumentsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/DocumentOperationsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/DocumentCheckoutService.cs
  src/server/shared/Spaarke.Core/Auth/OperationAccessPolicy.cs
  tests/integration/auth/UnifiedAccessControl/DocumentDestroyAuthorizationTestFixture.cs
  tests/integration/auth/UnifiedAccessControl/DocumentDestroyAuthorizationTests.cs
Owners: @spaarke-dev

checkpoint(uac-r2): task 022 — keys + C2/C3/H2/H3 gated; task 029 filed
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

checkpoint(customer-provisioning): SESSION 5 END context-handoff — task 202 queued, ready for /compact + fresh session
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

fix(adr-038): Amendment A1 — tests/Spaarke.ArchTests/** is the EIGHTH KEEP path
  .claude/CHANGELOG.md
  .claude/constraints/testing.md
  .claude/skills/test-diet/SKILL.md
  docs/adr/ADR-038-testing-strategy.md
  projects/spaarke-auth-v4-dataverse-MI/notes/lessons-learned.md
  projects/spaarke-auth-v4-dataverse-MI/notes/test-diet-report.md
  tests/CLAUDE.md
Owners: @spaarke-dev, @docs-team

docs(incident): dev BFF cannot start — Service Bus config/code mismatch + stale net8 template
  projects/spaarkeai-compose-r8/notes/incident-2026-08-24-servicebus-config-mismatch.md
Owners: @spaarke-dev
