Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

Add comprehensive code review assessment and update Claude settings
  .claude/settings.local.json
  docs/_build/sdap_project/SDAP_Code_Review_Assessment.md
Owners: @spaarke-dev, @docs-team

feat: Add Sprint 2 architecture updates and ADR-011
  docs/adr/ADR-011-dataset-pcf-over-subgrids.md
  docs/architecture/SPRINT-2-ARCHITECTURE-UPDATES.md
  docs/specs/Documents_Module.docx
  docs/specs/SDAP_V2.docx
  docs/specs/SPRK_Document Access Platform (SDAP)_v3.docx
  docs/specs/SPRK_Technical Architecture_v2.docx
  docs/specs/Spaarke_Technical_Architecture.docx
  docs/specs/~$DAP_V2.docx
Owners: @spaarke-dev, @docs-team

chore: Add git filter-branch to auto-approved commands
  .claude/settings.local.json
Owners: @spaarke-dev

chore: Add git branch and rebase to auto-approved commands
  .claude/settings.local.json
Owners: @spaarke-dev

chore: Update auto-approved git commands
  .claude/settings.local.json
Owners: @spaarke-dev

feat: Task A.1 - Single React Root Architecture complete
  .claude/settings.local.json
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/ControlManifest.Input.xml
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/components/CommandBar.tsx
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/components/UniversalDatasetGridRoot.tsx
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/index.ts
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/providers/ThemeProvider.ts
Owners: @spaarke-dev

feat: Task A.2 - Implement Fluent UI DataGrid
  .claude/settings.local.json
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/ControlManifest.Input.xml
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/components/DatasetGrid.tsx
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/components/UniversalDatasetGridRoot.tsx
  src/controls/UniversalDatasetGrid/package.json
Owners: @spaarke-dev

feat: Task A.3 - Implement Fluent UI Toolbar
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/ControlManifest.Input.xml
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/components/CommandBar.tsx
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/components/UniversalDatasetGridRoot.tsx
Owners: @spaarke-dev

fix: Add build wrapper to force production builds for deployment
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid.pcfproj
  src/controls/UniversalDatasetGrid/build-wrapper.js
  src/controls/UniversalDatasetGrid/package.json
Owners: @spaarke-dev

feat: Task B.1 - Dynamic Theme Resolution
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/ControlManifest.Input.xml
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/providers/ThemeProvider.ts
Owners: @spaarke-dev

feat: Phase B Complete - Theming & Design Tokens
  .claude/settings.local.json
  dev/projects/dataset_pcf_component/Sprint 5/UniversalDatasetGrid_Compliance_Assessment.md
  dev/projects/dataset_pcf_component/Sprint 5B/IMPLEMENTATION-GUIDE.md
  dev/projects/dataset_pcf_component/Sprint 5B/PHASE-B-THEMING-OVERVIEW.md
  dev/projects/dataset_pcf_component/Sprint 5B/PHASE-C-PERFORMANCE-OVERVIEW.md
  dev/projects/dataset_pcf_component/Sprint 5B/PHASE-D-CODE-QUALITY-OVERVIEW.md
  dev/projects/dataset_pcf_component/Sprint 5B/README.md
  dev/projects/dataset_pcf_component/Sprint 5B/SPRINT-5B-OVERVIEW.md
  dev/projects/dataset_pcf_component/Sprint 5B/SPRINT-5B-SUMMARY.md
  dev/projects/dataset_pcf_component/Sprint 5B/TASK-A.1-SINGLE-REACT-ROOT.md
  dev/projects/dataset_pcf_component/Sprint 5B/TASK-A.2-FLUENT-DATAGRID.md
  dev/projects/dataset_pcf_component/Sprint 5B/TASK-A.3-FLUENT-TOOLBAR.md
  packages/sdap-client/.eslintrc.json
  packages/sdap-client/README.md
  packages/sdap-client/jest.config.js
  packages/sdap-client/package-lock.json
  packages/sdap-client/package.json
  packages/sdap-client/spaarke-sdap-client-1.0.0.tgz
  packages/sdap-client/src/SdapApiClient.ts
  packages/sdap-client/src/__tests__/SdapApiClient.test.ts
  packages/sdap-client/src/auth/TokenProvider.ts
  packages/sdap-client/src/index.ts
  packages/sdap-client/src/operations/DeleteOperation.ts
  packages/sdap-client/src/operations/DownloadOperation.ts
  packages/sdap-client/src/operations/UploadOperation.ts
  packages/sdap-client/src/types/index.ts
  packages/sdap-client/tsconfig.json
Owners: @spaarke-dev, @docs-team

fix: Prevent grid shift when selecting/deselecting rows
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/components/CommandBar.tsx
Owners: @spaarke-dev

feat: Complete Sprint 5B - Fluent UI v9 Compliance & Code Quality
  src/controls/UniversalDatasetGrid/CHANGELOG.md
  src/controls/UniversalDatasetGrid/COMPONENT_API.md
  src/controls/UniversalDatasetGrid/README.md
  src/controls/UniversalDatasetGrid/SPRINT_5B_SUMMARY.md
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/ControlManifest.Input.xml
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/components/DatasetGrid.tsx
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/components/ErrorBoundary.tsx
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/components/UniversalDatasetGridRoot.tsx
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/index.ts
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/providers/ThemeProvider.ts
  src/controls/UniversalDatasetGrid/UniversalDatasetGrid/utils/logger.ts
  src/controls/UniversalDatasetGrid/VIRTUALIZATION_INVESTIGATION.md
  src/controls/UniversalDatasetGrid/eslint.config.mjs
  src/controls/UniversalDatasetGrid/package-lock.json
  src/controls/UniversalDatasetGrid/package.json
Owners: @spaarke-dev, @docs-team

fix(config): update API_APP_ID to use BFF API app registration
  src/api/Spe.Bff.Api/appsettings.json
Owners: @spaarke-dev, @api-team

refactor(graph): remove UAMI authentication logic from GraphClientFactory
  src/api/Spe.Bff.Api/Infrastructure/Graph/GraphClientFactory.cs
Owners: @spaarke-dev, @api-team

refactor(dataverse): change ServiceClient lifetime from Scoped to Singleton
  src/api/Spe.Bff.Api/Program.cs
Owners: @spaarke-dev, @api-team

refactor(deps): Phase 2 Tasks 7-9 - Fix dependencies and document technical debt
  src/api/Spe.Bff.Api/Program.cs
  src/api/Spe.Bff.Api/Spe.Bff.Api.csproj
  src/shared/Spaarke.Dataverse/Spaarke.Dataverse.csproj
  tests/unit/Spe.Bff.Api.Tests/JobProcessorTests.cs
Owners: @spaarke-dev, @api-team

feat(cache): Phase 4 - Redis-based OBO token caching (97% latency reduction)
  src/api/Spe.Bff.Api/Infrastructure/DI/DocumentsModule.cs
  src/api/Spe.Bff.Api/Infrastructure/Graph/GraphClientFactory.cs
  src/api/Spe.Bff.Api/Services/GraphTokenCache.cs
Owners: @spaarke-dev, @api-team

feat(telemetry): add cache metrics for production observability (Phase 4 Task 4)
  src/api/Spe.Bff.Api/Infrastructure/DI/DocumentsModule.cs
  src/api/Spe.Bff.Api/Services/GraphTokenCache.cs
  src/api/Spe.Bff.Api/Telemetry/CacheMetrics.cs
Owners: @spaarke-dev, @api-team

docs: mark Phase 4 complete - 100% project completion
  dev/projects/sdap_V2/IMPLEMENTATION-CHECKLIST.md
Owners: @spaarke-dev

docs: add Phase 4 cache testing guide and performance test script
  PHASE-4-TESTING-GUIDE.md
  test-cache-performance.sh
Owners: @spaarke-dev

docs: add comprehensive end-to-end SPE testing guide and PCF client integration test
  END-TO-END-SPE-TESTING-GUIDE.md
  test-pcf-client-integration.js
Owners: @spaarke-dev

feat(testing): add Phase 5 - End-to-End Integration Testing framework
  dev/projects/sdap_V2/PHASE-5-OVERVIEW.md
  dev/projects/sdap_V2/tasks/phase-5/phase-5-task-0-preflight.md
  dev/projects/sdap_V2/tasks/phase-5/phase-5-task-1-authentication.md
Owners: @spaarke-dev

docs(sdap-v2): complete Phase 5 testing framework (Tasks 5.2-5.9)
  dev/projects/sdap_V2/tasks/phase-5/phase-5-task-2-bff-endpoints.md
  dev/projects/sdap_V2/tasks/phase-5/phase-5-task-3-spe-storage.md
  dev/projects/sdap_V2/tasks/phase-5/phase-5-task-4-pcf-integration.md
  dev/projects/sdap_V2/tasks/phase-5/phase-5-task-5-dataverse.md
  dev/projects/sdap_V2/tasks/phase-5/phase-5-task-6-cache-performance.md
  dev/projects/sdap_V2/tasks/phase-5/phase-5-task-7-load-testing.md
  dev/projects/sdap_V2/tasks/phase-5/phase-5-task-8-error-handling.md
  dev/projects/sdap_V2/tasks/phase-5/phase-5-task-9-production.md
Owners: @spaarke-dev

docs(sdap-v2): update implementation checklist with Phase 5 testing
  dev/projects/sdap_V2/IMPLEMENTATION-CHECKLIST.md
Owners: @spaarke-dev

docs(architecture): update Graph API endpoint pattern for SPE (ADR-011)
  SDAP-ARCHITECTURE-OVERVIEW-V2-2025-10-13-2213.md
Owners: @spaarke-dev

docs(phase-5): clarify Task 5.2 routing is correct (no discrepancy)
  dev/projects/sdap_V2/test-evidence/task-5.2/phase-5-task-2-endpoints-report.md
Owners: @spaarke-dev

docs(phase-5): complete Task 5.3 SPE Storage Verification
  dev/projects/sdap_V2/tasks/phase-5/phase-5-task-3-spe-storage.md
  dev/projects/sdap_V2/test-evidence/task-5.3/graph-token.txt
  dev/projects/sdap_V2/test-evidence/task-5.3/phase-5-task-3-spe-storage-report.md
  dev/projects/sdap_V2/test-evidence/task-5.3/test-1-container-root.json
  dev/projects/sdap_V2/test-evidence/task-5.3/test-2-list-files.json
Owners: @spaarke-dev

fix(phase-5): update PCF test script and Task 5.4 with correct routes (ADR-011)
  dev/projects/sdap_V2/tasks/phase-5/phase-5-task-4-pcf-integration.md
  dev/projects/sdap_V2/test-evidence/task-5.4/task-5.4-status.md
  test-pcf-client-integration.js
Owners: @spaarke-dev

test(dataverse): complete Phase 5 Task 5 - Dataverse integration validation
  dev/projects/sdap_V2/tasks/phase-5/phase-5-task-5-dataverse.md
  dev/projects/sdap_V2/test-evidence/task-5.5/matter-container-query.txt
  dev/projects/sdap_V2/test-evidence/task-5.5/phase-5-task-5-dataverse-report.md
  dev/projects/sdap_V2/test-evidence/task-5.5/query-matters.fx
Owners: @spaarke-dev

test(task-5.5): add end-to-end document upload test scripts
  dev/projects/sdap_V2/test-evidence/task-5.5/END-TO-END-TEST-SUMMARY.md
  dev/projects/sdap_V2/test-evidence/task-5.5/Test-DataverseDocumentUpload.ps1
  dev/projects/sdap_V2/test-evidence/task-5.5/end-to-end-test-output.txt
  dev/projects/sdap_V2/test-evidence/task-5.5/end-to-end-test-results.txt
  dev/projects/sdap_V2/test-evidence/task-5.5/test-end-to-end.sh
Owners: @spaarke-dev

test(task-5.5): validate actual Matter with Container ID - MAJOR MILESTONE
  dev/projects/sdap_V2/test-evidence/task-5.5/ACTUAL-E2E-TEST-RESULTS.md
  dev/projects/sdap_V2/test-evidence/task-5.5/partial-e2e-results.txt
Owners: @spaarke-dev

feat(task-5.5): add simplified PowerShell-only e2e test script
  dev/projects/sdap_V2/test-evidence/task-5.5/Run-E2E-Test.ps1
Owners: @spaarke-dev

docs(task-5.5): create comprehensive final summary
  dev/projects/sdap_V2/test-evidence/task-5.5/FINAL-TASK-5.5-SUMMARY.md
Owners: @spaarke-dev

test(task-5.6): complete cache performance validation - configuration verified
  dev/projects/sdap_V2/tasks/phase-5/phase-5-task-6-cache-performance.md
  dev/projects/sdap_V2/test-evidence/task-5.6/cache-config.txt
  dev/projects/sdap_V2/test-evidence/task-5.6/cache-performance-test.txt
  dev/projects/sdap_V2/test-evidence/task-5.6/phase-5-task-6-cache-performance-report.md
Owners: @spaarke-dev

test(phase-5): Complete Tasks 5.7-5.8 - Load Testing & Error Handling
  dev/projects/sdap_V2/PHASE-5-SUMMARY-AND-RECOMMENDATIONS.md
  dev/projects/sdap_V2/tasks/phase-5/phase-5-task-7-load-testing.md
  dev/projects/sdap_V2/tasks/phase-5/phase-5-task-8-error-handling.md
  dev/projects/sdap_V2/test-evidence/task-5.7/TASK-5.7-TEST-REPORT.md
  dev/projects/sdap_V2/test-evidence/task-5.8/TASK-5.8-TEST-REPORT.md
Owners: @spaarke-dev

docs(postman): Fix OAuth 2.0 scope to use user_impersonation
  dev/projects/sdap_V2/test-evidence/POSTMAN-FILE-UPLOAD-TEST-GUIDE.md
  dev/projects/sdap_V2/test-evidence/POSTMAN-QUICK-REFERENCE.md
  dev/projects/sdap_V2/test-evidence/task-5.0/phase-5-preflight-report.md
  dev/projects/sdap_V2/test-evidence/task-5.1/decode-jwt.py
  dev/projects/sdap_V2/test-evidence/task-5.1/graph-token.txt
  dev/projects/sdap_V2/test-evidence/task-5.1/pcf-token.txt
  dev/projects/sdap_V2/test-evidence/task-5.1/phase-5-task-1-authentication-report.md
  dev/projects/sdap_V2/test-evidence/task-5.1/test-1-msal-simulation.txt
  dev/projects/sdap_V2/test-evidence/task-5.1/test-2-jwt-validation.txt
Owners: @spaarke-dev

docs(deployment): Update deployment guide with Phase 5 validation results
  CLEAN-DEPLOYMENT-GUIDE.md
Owners: @spaarke-dev

feat(pcf): Add MetadataService for dynamic navigation property resolution
  src/controls/UniversalQuickCreate/UniversalQuickCreate/services/MetadataService.ts
Owners: @spaarke-dev

feat(pcf): Update manifest version to 2.2.0 and description
  src/controls/UniversalQuickCreate/UniversalQuickCreate/ControlManifest.Input.xml
Owners: @spaarke-dev
