Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

infra(bicep): wire Cosmos DB module into customer.bicep (task 014, Wave C2 prep)
  infrastructure/bicep/customer.bicep
Owners: @spaarke-dev

feat(compose-r7): client PDF intake-door parity — sourceFormat-aware editable gate (task 051, FR-06)
  projects/spaarkeai-compose-r7/current-task.md
  projects/spaarkeai-compose-r7/notes/task-051-notes.md
  projects/spaarkeai-compose-r7/tasks/051-pdf-client-gates-parity.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.referenceOnly.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.renderOnSave.reducer.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.types.ts
Owners: @spaarke-dev

feat(provisioning): harden Register-EntraAppRegistrations.ps1 for full idempotency
  scripts/Register-EntraAppRegistrations.ps1
Owners: @spaarke-dev, @devops-team

harden(deploy): Deploy-Release.ps1 Phase 4 -> customerId-driven, remove spaarkedev1 (r1 task 013)
  scripts/Deploy-Release.ps1
Owners: @spaarke-dev, @devops-team

refactor(scripts): SPE scripts to confidential-client cert-based auth (T6 fix)
  scripts/Create-NewContainerType.ps1
  scripts/New-BusinessUnitContainer.ps1
  scripts/Register-BffApiWithContainerType.ps1
  scripts/common/Get-SpeConfidentialClientToken.ps1
Owners: @spaarke-dev, @devops-team

scripts(H6): extend Deploy-DataverseSolutions.ps1 to Package Deployer semantics
  projects/customer-provisioning-orchestration-r1/notes/task-012-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/012-extend-deploy-dataverse-solutions-package-deployer.poml
  scripts/Deploy-DataverseSolutions.ps1
Owners: @spaarke-dev, @devops-team

checkpoint: Phase 5 complete (050 + FR-11 + 051); next task 060
  projects/spaarkeai-compose-r7/current-task.md
Owners: @spaarke-dev

docs(provisioning): codify spaarke-spekvcert DO-NOT-RENAME dev exception + publish naming-exception-registry (r1 task 020)
  infrastructure/bicep/customer.bicep
  infrastructure/bicep/modules/key-vault.bicep
  infrastructure/bicep/platform.bicep
  projects/customer-provisioning-orchestration-r1/notes/naming-exception-registry.md
  projects/customer-provisioning-orchestration-r1/tasks/018-parameterize-bicep-vault-name.poml
Owners: @spaarke-dev

scripts(preflight): add 4 H0 preflight quota-check PS modules (r1 task 016)
  scripts/preflight/README.md
  scripts/preflight/Test-AzureOpenAiTpmHeadroom.ps1
  scripts/preflight/Test-DataverseEnvCreationRate.ps1
  scripts/preflight/Test-SpeCertBootstrap.ps1
  scripts/preflight/Test-SubscriptionVCpuQuota.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

chore(customer-provisioning-r1): task 019 seeder canonical KV names (§7.9 R1/R2/R4)
  scripts/Create-NewContainerType.ps1
  scripts/Provision-Customer.ps1
Owners: @spaarke-dev, @devops-team

chore(customer-provisioning-r1): task 018 POML wrap-up — remove duplicate <status> tag
  projects/customer-provisioning-orchestration-r1/tasks/018-parameterize-bicep-vault-name.poml
Owners: @spaarke-dev

refactor(bff): migrate DemoExpirationService off [Obsolete] DemoProvisioningOptions.Environments/DefaultEnvironment to DataverseEnvironmentService (customer-provisioning-orchestration-r1 task 080)
  projects/customer-provisioning-orchestration-r1/tasks/080-refactor-demo-expiration-service.poml
  src/server/api/Sprk.Bff.Api/Services/Registration/DataverseEnvironmentRecord.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/DemoExpirationService.cs
  tests/unit/domain/Registration/DataverseEnvironmentRecordSelectDefaultTests.cs
Owners: @spaarke-dev

chore(smart-todo-r5): deploy — SmartTodo Code Page (sprk_smarttodo) live + verified
  projects/smart-todo-r5/current-task.md
Owners: @spaarke-dev

feat(auth): populate GraphAppRoles.IdFileStorageContainerSelected from live Graph SP (r1 task 005 1/11)
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/GraphAppRoles.cs
Owners: @spaarke-dev

feat(auth): populate GraphAppRoles.IdFilesReadAll from live Graph SP (r1 task 005 2/11)
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/GraphAppRoles.cs
Owners: @spaarke-dev

feat(auth): populate GraphAppRoles.IdFilesReadWriteAll from live Graph SP (r1 task 005 3/11)
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/GraphAppRoles.cs
Owners: @spaarke-dev

feat(auth): populate GraphAppRoles.IdSitesReadAll from live Graph SP (r1 task 005 4/11)
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/GraphAppRoles.cs
Owners: @spaarke-dev

feat(auth): populate GraphAppRoles.IdSitesReadWriteAll from live Graph SP (r1 task 005 5/11)
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/GraphAppRoles.cs
Owners: @spaarke-dev

feat(auth): populate GraphAppRoles.IdUserReadAll from live Graph SP (r1 task 005 6/11)
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/GraphAppRoles.cs
Owners: @spaarke-dev

feat(auth): populate GraphAppRoles.IdGroupReadAll from live Graph SP (r1 task 005 7/11)
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/GraphAppRoles.cs
Owners: @spaarke-dev

feat(auth): populate GraphAppRoles.IdMailRead from live Graph SP (r1 task 005 8/11)
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/GraphAppRoles.cs
Owners: @spaarke-dev

feat(auth): populate GraphAppRoles.IdMailReadWrite from live Graph SP (r1 task 005 9/11)
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/GraphAppRoles.cs
Owners: @spaarke-dev

feat(auth): populate GraphAppRoles.IdMailSend from live Graph SP (r1 task 005 10/11)
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/GraphAppRoles.cs
Owners: @spaarke-dev

feat(auth): populate GraphAppRoles.IdMailboxSettingsRead from live Graph SP (r1 task 005 11/11)
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/GraphAppRoles.cs
Owners: @spaarke-dev

docs(customer-provisioning): reconcile count "10 of 14 null" → "11 of 14 null" per discovery report §12 (task 005 count reconciliation)
  projects/customer-provisioning-orchestration-r1/CLAUDE.md
  projects/customer-provisioning-orchestration-r1/design.md
  projects/customer-provisioning-orchestration-r1/plan.md
  projects/customer-provisioning-orchestration-r1/spec.md
  projects/customer-provisioning-orchestration-r1/tasks/046-implement-h3-entra-app-reg-handler.poml
  projects/customer-provisioning-orchestration-r1/tasks/053-implement-h10-dataverse-app-user-graph-parity-handler.poml
Owners: @spaarke-dev

docs(bff/auth): update GraphAppRoles.cs class docstring — reflect fully-populated state post r1 task 005 commits 1-11
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/GraphAppRoles.cs
Owners: @spaarke-dev

chore(customer-provisioning-r1): Wave 0 dispatcher wrap-up — 18/18 tasks complete
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(compose-r7): Ctrl+Space "Describe a change" at the caret, IME-guarded (task 060, FR-04)
  projects/spaarkeai-compose-r7/current-task.md
  projects/spaarkeai-compose-r7/notes/task-060-notes.md
  projects/spaarkeai-compose-r7/tasks/060-ctrl-space-describe-change.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.describeChangeHotkey.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeHotkeys.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeHotkeys.ts
Owners: @spaarke-dev

docs(smart-todo-r5): track 3 UAT items (D-7 filter->search, D-8 +NewTask associate, D-9 ribbon)
  projects/smart-todo-r5/notes/defer-issues.md
Owners: @spaarke-dev

feat(customer-provisioning-r1): wire naming-conformance-check into H13 acceptance (task 021)
  projects/customer-provisioning-orchestration-r1/notes/task-021-deviations.md
  scripts/Validate-DeployedEnvironment.ps1
Owners: @spaarke-dev, @devops-team

feat(customer-provisioning-r1): extend customer.bicep — add optional SignalR + UAMI pass-through param (task 027)
  infrastructure/bicep/customer.bicep
  infrastructure/bicep/customer.json
  infrastructure/bicep/modules/signalr.bicep
Owners: @spaarke-dev

feat(customer-provisioning-r1): add scripts/Grant-GraphAppRoles.ps1 (task 015)
  scripts/Grant-GraphAppRoles.ps1
Owners: @spaarke-dev, @devops-team

feat(customer-provisioning): extend sprk_dataverseenvironment with 12 new columns (registry schema v3.3)
  projects/customer-provisioning-orchestration-r1/notes/registry-column-audit-2026-08.md
  scripts/Extend-DataverseEnvironmentSchema-v3.3.ps1
Owners: @spaarke-dev, @devops-team

feat(customer-provisioning-r1): author uami.bicep — per-customer UAMI module (task 028)
  infrastructure/bicep/modules/uami.bicep
  projects/customer-provisioning-orchestration-r1/notes/task-028-deviations.md
Owners: @spaarke-dev

docs(customer-provisioning): reconcile "11 new columns" -> "12 new columns" on sprk_dataverseenvironment (task 023)
  docs/guides/SPAARKE-CUSTOMER-DEPLOYMENT-GUIDE.md
  projects/customer-provisioning-orchestration-r1/README.md
  projects/customer-provisioning-orchestration-r1/notes/resource-discovery-2026-08-16.md
  projects/customer-provisioning-orchestration-r1/plan.md
  projects/customer-provisioning-orchestration-r1/spec.md
Owners: @spaarke-dev, @docs-team

feat(side-pane-nav-history): UAT — real bookmark names, email→code page, outline rail icon
  src/solutions/NavigatorPane/bootstrap/sprk_navigatorstar.svg
  src/solutions/NavigatorPane/src/components/QuickSwitcher.tsx
  src/solutions/NavigatorPane/src/services/__tests__/recordNavigation.test.ts
  src/solutions/NavigatorPane/src/services/bookmarkService.ts
  src/solutions/NavigatorPane/src/services/nameResolution.ts
  src/solutions/NavigatorPane/src/services/recordNavigation.ts
  src/solutions/NavigatorPane/src/tabs/BookmarksTab.tsx
  src/solutions/NavigatorPane/src/tabs/RecentTab.tsx
Owners: @spaarke-dev

feat(provisioning): author L2 Cosmos spaarke-provisioning schema + ProvisioningRun POCO layer (task 024)
  infrastructure/bicep/modules/cosmos-provisioning.bicep
  projects/customer-provisioning-orchestration-r1/notes/task-024-provisioning-schema-deviations.md
  src/server/services/Sprk.Provisioning.ControlPlane/Models/GateState.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Models/InterStepState.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Models/KeyVaultSecretRef.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Models/ProvisioningRun.cs
  src/server/services/Sprk.Provisioning.ControlPlane/Models/RunParameters.cs
Owners: @spaarke-dev

feat(smart-todo-r5): UAT D-7 — replace structured filter with expanding text search
  projects/smart-todo-r5/notes/uat-filter-text-search.md
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/__tests__/SmartTodoApp.test.tsx
  src/solutions/SmartTodo/src/components/FilterPane/FilterPane.styles.ts
  src/solutions/SmartTodo/src/components/FilterPane/FilterPane.tsx
  src/solutions/SmartTodo/src/components/FilterPane/__tests__/FilterPane.test.tsx
  src/solutions/SmartTodo/src/components/FilterPane/index.ts
  src/solutions/SmartTodo/src/components/Header/Header.tsx
  src/solutions/SmartTodo/src/components/SearchFilter/SearchFilter.styles.ts
  src/solutions/SmartTodo/src/components/SearchFilter/SearchFilter.tsx
  src/solutions/SmartTodo/src/components/SearchFilter/__tests__/SearchFilter.test.tsx
  src/solutions/SmartTodo/src/components/SearchFilter/index.ts
  src/solutions/SmartTodo/src/components/SmartToDo.tsx
  src/solutions/SmartTodo/src/hooks/useTodoItems.ts
  src/solutions/SmartTodo/src/services/DataverseService.ts
  src/solutions/SmartTodo/src/services/__tests__/openTodoLauncher.test.ts
  src/solutions/SmartTodo/src/services/__tests__/queryHelpers.test.ts
  src/solutions/SmartTodo/src/services/newTaskLauncher.ts
  src/solutions/SmartTodo/src/services/openTodoLauncher.ts
  src/solutions/SmartTodo/src/services/queryHelpers.ts
  src/solutions/SmartTodo/src/types/entities.ts
  src/solutions/SmartTodo/src/utils/__tests__/todoSearchUtils.test.ts
  src/solutions/SmartTodo/src/utils/todoSearchUtils.ts
Owners: @spaarke-dev

feat(compose-r7): Ctrl+Shift+Space focuses the Assistant chat input (task 061, FR-05)
  projects/spaarkeai-compose-r7/current-task.md
  projects/spaarkeai-compose-r7/notes/task-061-notes.md
  projects/spaarkeai-compose-r7/tasks/061-ctrl-shift-space-focus-chat.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/src/events/PaneEventTypes.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.focusChatHotkey.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeHotkeys.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeHotkeys.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChatInput.focusInput.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChatInput.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
Owners: @spaarke-dev

test(compose-r7): FR-08 blank-page-editable regression guard — D8 already satisfied (task 070)
  projects/spaarkeai-compose-r7/current-task.md
  projects/spaarkeai-compose-r7/notes/task-070-notes.md
  projects/spaarkeai-compose-r7/tasks/070-blank-page-editable.poml
  projects/spaarkeai-compose-r7/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.blankPageEditable.test.tsx
Owners: @spaarke-dev
