Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

fix(bff): runtimeconfig.template.json shipped nested net8 metadata AND silently dropped a setting
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
  src/server/api/Sprk.Bff.Api/runtimeconfig.template.json
Owners: @spaarke-dev

fix(ci): a cancelled advisory tier must not redden the required Router gate
  .github/workflows/ci-router.yml
  .github/workflows/ci-tier2-advisory.yml
Owners: @spaarke-dev, @devops-team

fix(auth)!: authorize every document in bulk download, and close the enumeration oracle it would otherwise open (C1)
  projects/unified-access-control-r2/notes/task-022-document-surface-inventory.md
  src/server/api/Sprk.Bff.Api/Api/DocumentsBulkEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/BulkDownloadAuthorizationFilter.cs
  tests/integration/auth/UnifiedAccessControl/BulkDownloadAuthorizationTests.cs
  tests/integration/auth/UnifiedAccessControl/DocumentDestroyAuthorizationTestFixture.cs
Owners: @spaarke-dev

chore(auth-v4): record merge to master; scope note on code-page deploy
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
Owners: @spaarke-dev

checkpoint: task 051 complete; next is 054 (whole-document closed-set supply)
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

fix(api): route ALL container-type ops through delegated auth (completes 011)
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerTypeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerTypeSettingsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/solutions/SpeAdminApp/dev-review/authInit.mock.ts
  src/solutions/SpeAdminApp/dev-review/fixtures.ts
  src/solutions/SpeAdminApp/vite.review.config.ts
Owners: @spaarke-dev

checkpoint(auth-v4): context-handoff — UAT runbook + rollback ladder
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
Owners: @spaarke-dev

checkpoint(spe-admin-r2): 011 complete + nine-screen UI review; 2 new defects found
  projects/sdap-SPE-admin-app-r2/current-task.md
Owners: @spaarke-dev

docs(customer-provisioning): task 202 — pre-live-fire lessons audit + PROVISIONING-PREREQUISITES formalization + provisioning-run structure design + task-203 punch list
  .claude/patterns/INDEX.md
  .claude/patterns/provisioning/INDEX.md
  .claude/patterns/provisioning/README.md
  .claude/patterns/provisioning/bff-vs-provisioning-boundary.md
  .claude/patterns/provisioning/handler-registration-completeness.md
  .claude/patterns/provisioning/keyvault-reference-identity-invariant.md
  .claude/patterns/provisioning/manifest-driven-secret-catalog.md
  .claude/patterns/provisioning/null-object-kill-switch-anti-pattern.md
  .claude/patterns/provisioning/openai-quota-region-composition.md
  .claude/patterns/provisioning/operator-rbac-bootstrap.md
  .claude/patterns/provisioning/progressive-fail-fast-recovery.md
  .claude/patterns/provisioning/resource-name-availability-precheck.md
  docs/guides/PROVISIONING-PREREQUISITES.md
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/notes/provisioning-run-agent-autonomy-design.md
  projects/customer-provisioning-orchestration-r1/notes/provisioning-run-structure-design.md
  projects/customer-provisioning-orchestration-r1/notes/task-202-punch-list.md
  projects/customer-provisioning-orchestration-r1/tasks/186-real-phase-f-e2e-acceptance-rerun-task-089-for-real-this-time.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  scripts/provisioning-prereqs/prereqs.yaml
Owners: @spaarke-dev, @docs-team, @devops-team

docs(auth-v4): UAT findings — CORS preflight blocker (FIXED) + catalog drift triage
  projects/spaarke-auth-v4-dataverse-MI/notes/uat-findings-2026-08-24.md
Owners: @spaarke-dev

fix(office): 3 pre-existing add-in save-flow defects found in auth-v4 UAT
  src/client/office-addins/shared/taskpane/hooks/__tests__/useSaveFlow.test.ts
  src/client/office-addins/shared/taskpane/services/SseClient.ts
  src/server/api/Sprk.Bff.Api/Api/Office/Errors/OfficeProblemException.cs
  src/server/api/Sprk.Bff.Api/Api/Office/OfficeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CorsModule.cs
  src/server/api/Sprk.Bff.Api/Services/Office/OfficeService.cs
  tests/e2e/pages/addins/WordTaskPanePage.ts
  tests/e2e/specs/outlook-addins/save-flow.spec.ts
  tests/e2e/specs/word-addins/save-flow.spec.ts
  tests/unit/Sprk.Bff.Api.Tests/Integration/DuplicateDetectionTests.cs
Owners: @spaarke-dev

docs(auth-v4): UAT round 2 — three add-in save-flow defects, fixed + deployed
  projects/spaarke-auth-v4-dataverse-MI/notes/uat-findings-2026-08-24.md
Owners: @spaarke-dev

fix(auth)!: gate analyze (write) + the five URL-minting reads; confirm the filter-catch zero was redundant code, not missing coverage
  projects/unified-access-control-r2/notes/task-022-document-surface-inventory.md
  src/server/api/Sprk.Bff.Api/Api/DocumentOperationsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/FileAccessEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/BulkDownloadAuthorizationFilter.cs
  tests/integration/auth/UnifiedAccessControl/DocumentDestroyAuthorizationTests.cs
Owners: @spaarke-dev

checkpoint(uac-r2): close task 022 — 19 of 22 document routes gated
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/tasks/022-document-surface-authorization-sweep.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(spe-admin 028): container URL + Purview routing — Graph's own 200 was the lie
  projects/sdap-SPE-admin-app-r2/current-task.md
  projects/sdap-SPE-admin-app-r2/notes/task-028-findings.md
  projects/sdap-SPE-admin-app-r2/tasks/028-container-url-and-purview.poml
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/solutions/SpeAdminApp/dev-review/authInit.mock.ts
  src/solutions/SpeAdminApp/dev-review/fixtures.ts
  src/solutions/SpeAdminApp/src/components/containers/ContainerDetail.tsx
  src/solutions/SpeAdminApp/src/components/containers/ContainersPage.tsx
  src/solutions/SpeAdminApp/src/components/containers/containerCompliance.ts
  src/solutions/SpeAdminApp/src/services/clipboard.ts
  src/solutions/SpeAdminApp/src/types/spe.ts
  tests/integration/contract/SpeAdmin/SpeAdminContainerUrlMappingTests.cs
Owners: @spaarke-dev

docs(uac-r2): escalate task 021 at step 0 — nav-property names unrecoverable; root cause is a stale schema doc
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/task-021-provisioning-stamping.md
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(compose): task 054 — the whole-document closed set (FR-C03 supply half)
  infra/dataverse/actions/compose-revise-document.action.json
  infra/dataverse/inputschemas/compose-revise-document.input.schema.json
  infra/dataverse/outputschemas/compose-revise-document.schema.json
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/054-closed-set-supply-decision.md
  projects/spaarkeai-compose-r8/tasks/054-whole-document-closed-set-supply.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/context/composeActionBridge.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.activeDocShare.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.chatBridge.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tabScopedActiveDoc.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tabScopedConduits.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeAnchoredDocumentText.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeAnchoredDocumentText.ts
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.revise-this-document.e2e.test.tsx
  tests/integration/contract/Eval/GoldenUtteranceEvalSuiteTests.cs
  tests/integration/seam/Ai/ContextBinderActionRunnerSeamTests.cs
  tests/integration/seam/Compose/ComposeEditActionAnchorContractSeamTests.cs
Owners: @spaarke-dev

fix(spe-admin): two UI-review defects — a deep link that went nowhere, an expired trial nobody could see
  projects/sdap-SPE-admin-app-r2/notes/ui-review-defects-2026-08-24.md
  src/solutions/SpeAdminApp/src/App.tsx
  src/solutions/SpeAdminApp/src/components/container-types/ContainerTypeDetail.tsx
  src/solutions/SpeAdminApp/src/components/container-types/ContainerTypesPage.tsx
  src/solutions/SpeAdminApp/src/components/container-types/containerTypeLifecycle.ts
  src/solutions/SpeAdminApp/src/components/containers/ContainersPage.tsx
Owners: @spaarke-dev

docs(auth-v4): UAT PASSED — task 031 complete
  projects/spaarke-auth-v4-dataverse-MI/notes/uat-findings-2026-08-24.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/031-slot-deploy-obo-verification.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(auth-v4): Dataverse-side + Entra-side proof that MI is in live use
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/mi-proof-dataverse-side.md
Owners: @spaarke-dev

docs(provisioning): amend task-202 punch list — verification pass + class-B re-scope
  projects/customer-provisioning-orchestration-r1/notes/task-202-punch-list.md
Owners: @spaarke-dev

feat(spe-admin 027a): delegated-beta Graph client — the only combination that can serve container-type owners
  projects/sdap-SPE-admin-app-r2/current-task.md
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/GraphClientFactory.cs
Owners: @spaarke-dev

docs(compose): task 055 step 2 — the review-flag placement decision
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/055-review-flag-placement-decision.md
Owners: @spaarke-dev

docs(uac-r2): re-scope task 021 — provisioning mechanism contradicts design 5.1
  projects/unified-access-control-r2/notes/task-021-provisioning-stamping.md
Owners: @spaarke-dev

docs(provisioning): author tasks 203a-d + 204a-g POMLs (Phase Pre-Live-Fire sub-phases)
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/203a-apply-classA-punchlist-foundation.poml
  projects/customer-provisioning-orchestration-r1/tasks/203b-apply-classA-punchlist-bicep-hardening.poml
  projects/customer-provisioning-orchestration-r1/tasks/203c-apply-classA-punchlist-skill-wiring.poml
  projects/customer-provisioning-orchestration-r1/tasks/203d-apply-classA-punchlist-nice-to-have.poml
  projects/customer-provisioning-orchestration-r1/tasks/204a-classB-verify-first-rows.poml
  projects/customer-provisioning-orchestration-r1/tasks/204b-classB-multitenant-dv-routing-adr-tension.poml
  projects/customer-provisioning-orchestration-r1/tasks/204c-classB-h13-real-probes-10-subtasks.poml
  projects/customer-provisioning-orchestration-r1/tasks/204d-classB-staging-slot-topology-split.poml
  projects/customer-provisioning-orchestration-r1/tasks/204e-classB-regression-prevention-archtests.poml
  projects/customer-provisioning-orchestration-r1/tasks/204f-classB-docs-drift-fixes.poml
  projects/customer-provisioning-orchestration-r1/tasks/204g-classB-spec-amendment-sc2-retired-onDisk-convention.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(spe-admin 027): container-type owner management — and the relationship supersedes nothing
  projects/sdap-SPE-admin-app-r2/current-task.md
  projects/sdap-SPE-admin-app-r2/notes/task-027-findings.md
  projects/sdap-SPE-admin-app-r2/tasks/027-container-type-owner-management.poml
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerTypePermissionEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/IGraphClientFactory.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/server/api/Sprk.Bff.Api/Models/SpeAdmin/ContainerTypePermissionDto.cs
  src/solutions/SpeAdminApp/src/components/container-types/ContainerTypeDetail.tsx
  src/solutions/SpeAdminApp/src/components/container-types/ContainerTypeOwnersPanel.tsx
  src/solutions/SpeAdminApp/src/components/container-types/containerTypeOwners.ts
  src/solutions/SpeAdminApp/src/services/speApiClient.ts
  src/solutions/SpeAdminApp/src/types/spe.ts
  tests/integration/contract/SpeAdmin/GraphWireMockFixture.cs
  tests/integration/contract/SpeAdmin/SpeAdminContainerTypeOwnerTests.cs
  tests/integration/regression/Compose/Def14_ComposeSaveLockedDocumentTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Mocks/FakeGraphClientFactory.cs
  tests/unit/Sprk.Bff.Api.Tests/SpeFileStoreTests.cs
Owners: @spaarke-dev

fix(scripts): register grid-overview + daily-briefing-overview in Seed-TypedHandlers
  scripts/Seed-TypedHandlers.ps1
Owners: @spaarke-dev, @devops-team

docs(uac-r2): secure-project workflow review — 3 of 3 design mechanisms absent
  projects/unified-access-control-r2/notes/secure-project-workflow-review-2026-08-24.md
Owners: @spaarke-dev

docs(bff-config): remove retired PLAYBOOK_EMBEDDINGS_INDEX_NAME from appsettings.tokens.md (B17)
  projects/customer-provisioning-orchestration-r1/notes/task-204f-execution-results.md
  src/server/api/Sprk.Bff.Api/appsettings.tokens.md
Owners: @spaarke-dev

feat(compose): tasks 049 + 056 — carry fields and objects instead of accepting them as losses
  docs/architecture/COMPOSE-WRITE-RESIDUAL-LOSS.md
  projects/spaarkeai-compose-r8/tasks/049-fields-carried.poml
  projects/spaarkeai-compose-r8/tasks/056-objects-carried.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(task-204f): record commit SHA in execution-results table
  projects/customer-provisioning-orchestration-r1/notes/task-204f-execution-results.md
Owners: @spaarke-dev

docs(spec): amend SC #2 to allow retired-on-disk-with-banner convention (B21)
  projects/customer-provisioning-orchestration-r1/notes/task-204g-execution-results.md
  projects/customer-provisioning-orchestration-r1/spec.md
Owners: @spaarke-dev

chore(auth-v4): task 090 wrap-up — project COMPLETE
  projects/INDEX.md
  projects/spaarke-auth-v4-dataverse-MI/README.md
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/spec.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/090-project-wrap-up.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
  tests/integration/seam/README.md
Owners: @spaarke-dev, @docs-team

fix(provisioning-h6-h7): wire H6 SolutionImportOptions__ClientSecret KV reference (task 204a B10)
  infrastructure/bicep/modules/controlplane-worker-app-service.bicep
Owners: @spaarke-dev

docs(provisioning): task 204a Class-B verify-first execution results
  projects/customer-provisioning-orchestration-r1/notes/task-204a-execution-results.md
Owners: @spaarke-dev

fix(provisioning-bicep): apply punch list rows A20 + A21 + A25 -- Model 1 shared-tier L2 UAMI RBAC + sharedBffUami KV grant
  infrastructure/bicep/modules/model1-shared-l2-rbac.bicep
  infrastructure/bicep/stacks/model1-shared.bicep
Owners: @spaarke-dev

fix(provisioning-bicep): apply punch list rows A21 (Model 2) + A27 -- per-customer BFF Website Contributor + CustomerRunGuard config
  infrastructure/bicep/customer.bicep
  infrastructure/bicep/modules/controlplane-worker-app-service.bicep
  infrastructure/bicep/modules/customer-l2-bff-rbac.bicep
  infrastructure/bicep/platform-controlplane.bicep
Owners: @spaarke-dev

docs(provisioning-r1): task 203b execution results (Class-A bicep hardening rows A13-A27)
  projects/customer-provisioning-orchestration-r1/notes/task-203b-execution-results.md
Owners: @spaarke-dev

docs(provisioning): integrate parallel-safe wave results (7 rows applied, 10 already-applied, 1 escalated)
  projects/customer-provisioning-orchestration-r1/notes/task-202-punch-list.md
Owners: @spaarke-dev

checkpoint(customer-provisioning): SESSION 7 END — parallel wave done, serial wave handoff
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev
