Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

chore(notification-spine): track 2 SignalR UAT-10 follow-ups (ISS-002 #802, ISS-003 #803)
  projects/spaarke-notification-spine-r1/notes/defer-issues.md
Owners: @spaarke-dev

checkpoint(auth-v4): context handoff before compaction
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
Owners: @spaarke-dev

feat(customer-provisioning): task 130 -- H3 Graph app-reg SDK port + Model 1/2 branch + real consent verifier
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/130-h3-graph-app-reg-port-applications-serviceprincipals-approleassignedto.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/EntraAppRegOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/EntraAppRegPermissionCatalog.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/EntraAppRegRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/GraphAdminConsentVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/GraphAppRegistrationProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/H3EntraAppRegHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/IAdminConsentVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/IEntraAppRegProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/NullAdminConsentVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/RegisterEntraAppRegScriptProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Sprk.Provisioning.ControlPlane.Core.csproj
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/GraphAdminConsentVerifierTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H3EntraAppRegHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev

feat(infra): create dev staging slot with UAMI (task 001) + defer Power BI workstream
  infrastructure/bicep/stacks/dev.bicepparam
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/001-slot-creation.md
  projects/spaarke-auth-v4-dataverse-MI/notes/defer-issues.md
  projects/spaarke-auth-v4-dataverse-MI/plan.md
  projects/spaarke-auth-v4-dataverse-MI/spec.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/001-create-dev-deployment-slot.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/022-migrate-confidential-clients.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/031-slot-deploy-obo-verification.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/032-slot-swap-and-soak.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/033-remove-secret-and-reconcile-estate.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/040-verify-powerbi-profiles-under-mi.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/041-powerbi-uami-principal.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/042-remove-powerbi-secret.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/060-archtest-credential-ban.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/061-credential-census-test.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/090-project-wrap-up.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(compose-r8): add design + spec — save reliability, faithful save, anchored AI edits
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/docx-editor-fidelity-third-answer-2026-08-19.md
  projects/spaarkeai-compose-r8/README.md
  projects/spaarkeai-compose-r8/design.md
  projects/spaarkeai-compose-r8/spec.md
Owners: @spaarke-dev, @docs-team

docs(compose-r8): close adr-check findings in spec (ADR-043, ADR-041, ADR-050, ADR-028)
  projects/spaarkeai-compose-r8/spec.md
Owners: @spaarke-dev

fix(email-intelligence-r2): item 1 — real infinite scroll + canonical thin scrollbar
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationWorkspace/ReconciliationWorkspace.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/__tests__/useLazyLoad.hasMore.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/useLazyLoad.ts
Owners: @spaarke-dev

checkpoint(email-intelligence-r2): item-1 infinite scroll done + deployed
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

feat(provisioning): task 132 - H9 artifact-based rebuild, handler side (DS-4 §5)
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/132-h9-artifact-based-rebuild-handler-side-manifest-verify-blob-download-kudu.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BffDeploy/ArmSlotSwapper.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BffDeploy/ArtifactManifestVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BffDeploy/AzCliAppServiceSlotSwapper.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BffDeploy/BffDeployOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BffDeploy/BffDeployRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BffDeploy/BlobArtifactDownloader.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BffDeploy/DeployBffApiScriptRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BffDeploy/DotnetR3GateVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BffDeploy/H9BffDeployHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BffDeploy/IArtifactManifestVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BffDeploy/IBffArtifactDownloader.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BffDeploy/IBffDeployRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BffDeploy/IKuduZipDeployer.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BffDeploy/IR3GateVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BffDeploy/KuduZipDeployer.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Dispatch/HandlerRegistrationCompletenessTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/ArmSlotSwapperTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/ArtifactManifestVerifierTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/BlobArtifactDownloaderTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H9BffDeployHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/KuduZipDeployerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev

feat(customer-provisioning): task 131 -- H8 Graph containerTypes SDK port (ClientCertificateCredential, T6 cert-from-KV)
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/131-h8-graph-containertypes-port-clientcertificatecredential-t6-cert-from-kv.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SpeContainerType/AzCliSpeContainerIdKvWriter.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SpeContainerType/CreateNewContainerTypeScriptProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SpeContainerType/GraphAppOnlyContainerVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SpeContainerType/GraphContainerTypeProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SpeContainerType/H8SpeContainerTypeHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SpeContainerType/ISpeContainerVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SpeContainerType/SecretClientSpeContainerIdKvWriter.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SpeContainerType/SpeConfidentialClientGraphFactory.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SpeContainerType/SpeContainerAppOnlyVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SpeContainerType/SpeContainerTypeOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H8SpeContainerTypeHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/SpeConfidentialClientGraphFactoryTests.cs
Owners: @spaarke-dev

chore(customer-provisioning-orchestration-r1): context-handoff — Wave G-3 100% COMPLETE
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

feat(provisioning): task 142 — H7 credential provisioning (EnvVarValues:ClientSecret KV ref) + NFR-05 boot-time validation
  infrastructure/bicep/modules/controlplane-worker-app-service.bicep
  infrastructure/bicep/platform-controlplane.bicep
  infrastructure/bicep/platform-controlplane.json
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/142-h7-credential-provisioning-envvarvalues-clientsecret-kv-ref-nfr-05-validation.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EnvVarValues/EnvVarValuesOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Dispatch/HandlerRegistrationCompletenessTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H7DataverseEnvVarValuesHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev

feat(customer-provisioning): task 140 -- H5 BAP-REST env-create + async-operation-polling port
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/140-h5-bap-rest-env-create-async-operation-polling-port.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/DataverseEnvCreation/BapRestEnvironmentCreator.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/DataverseEnvCreation/DataverseEnvCreationOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/DataverseEnvCreation/DataverseEnvCreationRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/DataverseEnvCreation/H5DataverseEnvCreationHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/DataverseEnvCreation/IDataverseEnvCreator.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/DataverseEnvCreation/PacAdminDataverseEnvCreator.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/BapRestEnvironmentCreatorTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H5DataverseEnvCreationHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev

feat(customer-provisioning): task 143 -- H10 live verification post C5.8 grants
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/notes/h10-live-verification-2026-08.md
  projects/customer-provisioning-orchestration-r1/tasks/143-h10-live-verification-post-c5-8-grants-5-rest-graph-seams-code-already.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/GraphAppRoles.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/DataverseAppUserGraphParity/L2GraphAppRolesRegistry.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/H10SeamsSmokeTests.cs
  tests/integration/Sprk.Provisioning.ControlPlane.NightlyTests/GraphAppRoleParityTest.cs
Owners: @spaarke-dev

feat(customer-provisioning): task 141 -- H6 Web-API import port (ImportSolution/StageAndUpgrade + ImportJob polling)
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/141-h6-web-api-import-port-importsolution-stageandupgrade-importjob-polling.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SolutionImport/DataverseWebApiSolutionImporter.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SolutionImport/DataverseWebApiSolutionVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SolutionImport/DeployDataverseSolutionsScriptImporter.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SolutionImport/H6SolutionImportHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SolutionImport/ISolutionVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SolutionImport/PacCliSolutionVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SolutionImport/SolutionImportOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Dispatch/HandlerRegistrationCompletenessTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/DataverseWebApiSolutionImporterTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/DataverseWebApiSolutionVerifierTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev

feat(customer-provisioning): task 144 -- H11 live verification post C5.8 grants
  docs/guides/SPAARKE-CUSTOMER-DEPLOYMENT-GUIDE.md
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/notes/h11-live-verification-2026-08.md
  projects/customer-provisioning-orchestration-r1/spec.md
  projects/customer-provisioning-orchestration-r1/tasks/144-h11-live-verification-post-c5-8-grants-graph-rest-b2b-invitation-consent.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/GraphAppRoles.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/DataverseAppUserGraphParity/H10DataverseAppUserGraphParityHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/DataverseAppUserGraphParity/IGraphAppRolesRegistry.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/DataverseAppUserGraphParity/L2GraphAppRolesRegistry.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/H11SeamsSmokeTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H10DataverseAppUserGraphParityHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
  tests/integration/Sprk.Provisioning.ControlPlane.NightlyTests/GraphAppRoleParityTest.cs
Owners: @spaarke-dev, @docs-team

chore(customer-provisioning-orchestration-r1): context-handoff — Wave G-4 100% COMPLETE
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

feat(provisioning): H12b DataGrid + workspace-layout DV-REST ports (task 151)
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/151-h12b-2-near-mechanical-dv-rest-ports-datagrid-workspace-layout-seeders.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AppConfigSeed/AppConfigSeedModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AppConfigSeed/AppConfigSeedOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AppConfigSeed/DataverseWebApiDataGridSeeder.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AppConfigSeed/DataverseWebApiWorkspaceLayoutSeeder.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AppConfigSeed/PowerShellAppConfigSeeder.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Sprk.Provisioning.ControlPlane.Core.csproj
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/DataverseWebApiDataGridSeederTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/DataverseWebApiWorkspaceLayoutSeederTests.cs
Owners: @spaarke-dev

feat(provisioning): H12a YamlDotNet manifest engine + DV-REST seed writes (task 150)
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/150-h12a-yamldotnet-manifest-engine-dv-rest-seed-writes.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSeedChain/AiSeedChainOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSeedChain/DataverseWebApiSeedWriter.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSeedChain/H12aAiSeedChainHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSeedChain/ISeedManifestRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSeedChain/InvokeSeedManifestScriptRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSeedChain/YamlSeedManifestEngine.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Sprk.Provisioning.ControlPlane.Core.csproj
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/DataverseWebApiSeedWriterTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/YamlSeedManifestEngineTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev

feat(provisioning): H12b field-mapping + chart-def GREENFIELD seeders (task 152)
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/152-h12b-2-greenfield-seeders-field-mapping-chart-def-completes-fr-16.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AppConfigSeed/AppConfigSeedModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AppConfigSeed/DataverseWebApiChartDefSeeder.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AppConfigSeed/DataverseWebApiFieldMappingSeeder.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AppConfigSeed/DeferredAppConfigSeeder.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AppConfigSeed/H12bAppConfigSeedHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AppConfigSeed/IAppConfigSeeder.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Sprk.Provisioning.ControlPlane.Core.csproj
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/DataverseWebApiChartDefSeederTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/DataverseWebApiFieldMappingSeederTests.cs
Owners: @spaarke-dev

feat(l2-controlplane): task 153 -- H12c credential-config confirmation (Wave G-5 close)
  infrastructure/bicep/modules/controlplane-worker-app-service.bicep
  infrastructure/bicep/parameters/platform-controlplane-dev.bicepparam
  infrastructure/bicep/platform-controlplane.bicep
  infrastructure/bicep/platform-controlplane.json
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/notes/task-153-h12c-credential-config-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/153-h12c-credential-config-only-no-code-delta.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/RuntimeReferences/RuntimeReferencesModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/RuntimeReferences/RuntimeReferencesOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H12cRuntimeReferencesHandlerTests.cs
Owners: @spaarke-dev

chore(customer-provisioning-orchestration-r1): context-handoff — Wave G-5 100% COMPLETE, FR-16 CLOSED
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

feat(l2-provisioning): H14 KV-reader swap — AzCliKvSecretReader -> SecretClientKvReader (task 160)
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/160-h14-kv-reader-swap-azclikvsecretreader-secretclient.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/IntegrationWiring/AzCliKvSecretReader.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/IntegrationWiring/IntegrationWiringModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/IntegrationWiring/IntegrationWiringOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/IntegrationWiring/SecretClientKvReader.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/SecretClientKvReaderTests.cs
Owners: @spaarke-dev

feat(l2-provisioning): H14a sidecar client wiring — ExchangePolicySidecarClient (task 161)
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/161-h14a-sidecar-client-wiring-exchangepolicysidecarclient-iexchangepolicyapplier.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/IntegrationWiring/ExchangePolicyScriptApplier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/IntegrationWiring/ExchangePolicySidecarClient.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/IntegrationWiring/H14aExchangePolicySubHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/IntegrationWiring/IExchangePolicyApplier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/IntegrationWiring/IntegrationWiringModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/IntegrationWiring/IntegrationWiringOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/ExchangePolicySidecarClientContractTests.cs
Owners: @spaarke-dev

feat(l2-provisioning): sidecar live verification infrastructure + W3 cleanup (task 162)
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/notes/sidecar-live-verification-2026-08.md
  projects/customer-provisioning-orchestration-r1/notes/sidecar-live-verification-runbook.md
  projects/customer-provisioning-orchestration-r1/tasks/162-sidecar-live-verification-against-dev-l2-worker-app-service-localhost-sitecontainer.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  scripts/provisioning/Verify-Sidecar-Live.ps1
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/IntegrationWiring/ExchangePolicyScriptApplier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/IntegrationWiring/IntegrationWiringModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/IntegrationWiring/IntegrationWiringOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/ExchangePolicySidecarLiveVerificationTests.cs
Owners: @spaarke-dev, @devops-team

feat(l2-provisioning): H13 I1 packaged-scripts tenant-literal invariant probe (task 170)
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/E2EAcceptanceModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/PackagedScriptTenantLiteralInvariantVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/PlaceholderInvariantVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/PackagedScriptTenantLiteralInvariantVerifierTests.cs
Owners: @spaarke-dev

chore(customer-provisioning-orchestration-r1): mark task 170 completed
  projects/customer-provisioning-orchestration-r1/tasks/170-i1-naming-tenant-literal-invariant-probe-pure-c-no-live-deps-easiest-first.poml
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/NamingConformanceChecker.cs
Owners: @spaarke-dev

feat(l2-provisioning): task 177 -- H13 T2 real probe (Dataverse App User pair)
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/DataverseAppUserPairT2Probe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/DataverseAppUserPairT2ProbeTests.cs
Owners: @spaarke-dev

feat(l2-provisioning): H13 I3 Cosmos partition-key invariant probe + composite verifier (task 174)
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/CompositeInvariantVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/CosmosPartitionKeyInvariantProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/E2EAcceptanceModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/IInvariantProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/InvariantProbeDeferralMessages.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Sprk.Provisioning.ControlPlane.Core.csproj
Owners: @spaarke-dev

chore(customer-provisioning-orchestration-r1): mark task 177 completed
  projects/customer-provisioning-orchestration-r1/tasks/177-t2-dataverse-app-user-pair-probe-pipelined-with-h10.poml
Owners: @spaarke-dev

chore(customer-provisioning-orchestration-r1): TASK-INDEX 177 -> ✅
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(provisioning): task 175 -- T6 SPE confidential-client trap probe (H13 gate)
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/GraphContainerTypesListAppOnlyProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/IT6GraphAppOnlyProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/T6SpeConfidentialClientTrapProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/T6SpeConfidentialClientTrapProbeTests.cs
Owners: @spaarke-dev

test(l2-provisioning): 12 tests for CosmosPartitionKeyInvariantProbe (task 174 followup)
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/CosmosPartitionKeyInvariantProbeTests.cs
Owners: @spaarke-dev

feat(l2-provisioning): H13 I5 Graph token tenant-scope invariant probe (task 179)
  projects/customer-provisioning-orchestration-r1/tasks/179-i5-graph-token-tenant-scope-probe-pipelined-with-c5-8-grants.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/I5GraphTokenTenantScopeProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/I5GraphTokenTenantScopeProbeTests.cs
Owners: @spaarke-dev

feat(l2-provisioning): H13 I2 AI Search tenant-filter invariant probe (task 173)
  projects/customer-provisioning-orchestration-r1/tasks/173-i2-ai-search-tenant-filter-probe-pipelined-with-h2b.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/AiSearchTenantFilterInvariantProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/E2EAcceptanceModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/PackagedScriptTenantLiteralInvariantProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/AiSearchTenantFilterInvariantProbeTests.cs
Owners: @spaarke-dev

chore(customer-provisioning-orchestration-r1): Batch G-7A1 cleanup — flip stale TASK-INDEX rows + land task 182 stragglers
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/NamingConformanceScriptRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/NamingConformanceCheckerTests.cs
Owners: @spaarke-dev

feat(l2-provisioning): H13 I4 SPE container resolver invariant probe (task 176)
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/E2EAcceptanceModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/SpeContainerResolverInvariantProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/SpeContainerResolverInvariantProbeTests.cs
Owners: @spaarke-dev

chore(tasks): mark task 176 (H13 I4 SPE container resolver probe) completed
  projects/customer-provisioning-orchestration-r1/tasks/176-i4-spe-container-resolver-probe-pipelined-with-h9.poml
Owners: @spaarke-dev

feat(l2/e2e-acceptance): T5 slot-MI KV RBAC role-assignment probe (task 172)
  projects/customer-provisioning-orchestration-r1/tasks/172-t5-slot-mi-kv-rbac-role-assignment-probe-pipelined-with-h4.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/T5SlotMiKvRbacTrapProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/T5SlotMiKvRbacTrapProbeTests.cs
Owners: @spaarke-dev

feat(l2/e2e-acceptance): task 171 -- T1 keyVaultReferenceIdentity trap probe (H13 gate)
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/KeyVaultReferenceIdentityT1Probe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/KeyVaultReferenceIdentityT1ProbeTests.cs
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
