Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

fix(ci): Wave B — Phase 1 broken-workflow fixes (tasks 010, 011, 012)
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy-promote.yml
  projects/github-actions-rationalization-r1/current-task.md
  projects/github-actions-rationalization-r1/decisions/D-02-deploy-promote-artifact-contract-verified.md
  projects/github-actions-rationalization-r1/decisions/D-03-nightly-and-weekly-quality-disposition.md
  projects/github-actions-rationalization-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @devops-team

docs(projects): task 020 — Phase 2 workflow dispositions (D-04 through D-10 + ledger)
  projects/github-actions-rationalization-r1/current-task.md
  projects/github-actions-rationalization-r1/decisions/D-04-disposition-deploy-bff-api.md
  projects/github-actions-rationalization-r1/decisions/D-05-disposition-deploy-platform.md
  projects/github-actions-rationalization-r1/decisions/D-06-disposition-deploy-slot-swap.md
  projects/github-actions-rationalization-r1/decisions/D-07-disposition-deploy-office-addins.md
  projects/github-actions-rationalization-r1/decisions/D-08-disposition-provision-customer.md
  projects/github-actions-rationalization-r1/decisions/D-09-disposition-insights-eval.md
  projects/github-actions-rationalization-r1/decisions/D-10-disposition-auto-add-to-project.md
  projects/github-actions-rationalization-r1/ledgers/workflow-disposition-ledger.md
  projects/github-actions-rationalization-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

chore(ci): Wave C — Phase 2 execution (7 workflow deletions per dispositions)
  .github/workflows/auto-add-to-project.yml
  .github/workflows/deploy-platform.yml
  .github/workflows/deploy-slot-swap.yml
  .github/workflows/insights-eval.yml
  .github/workflows/nightly-quality.yml
  .github/workflows/provision-customer.yml
  .github/workflows/weekly-quality.yml
  projects/github-actions-rationalization-r1/current-task.md
  projects/github-actions-rationalization-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @devops-team

feat(matter-ui-r1): VisualHost v1.4.6 — Donut + HSBar + Due Date Card polish
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/DonutChart.tsx
  src/client/pcf/VisualHost/control/components/DueDateCardList.tsx
  src/client/pcf/VisualHost/control/components/EventDueDateCard.tsx
  src/client/pcf/VisualHost/control/components/HorizontalStackedBar.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/control/types/index.ts
  src/client/pcf/VisualHost/control/utils/cardConfigResolver.ts
Owners: @spaarke-dev

feat(ci): add actionlint pre-merge validation (FR-07, task 030)
  .github/workflows/workflows-validate.yml
  projects/github-actions-rationalization-r1/current-task.md
  projects/github-actions-rationalization-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @devops-team

fix(ci): switch actionlint to canonical bash-install (rhysd/actionlint@v1 doesn't exist)
  .github/workflows/workflows-validate.yml
Owners: @spaarke-dev, @devops-team

fix(ci): disable actionlint shellcheck integration
  .github/workflows/workflows-validate.yml
Owners: @spaarke-dev, @devops-team

chore(sdap-bff-test-r2): update current-task.md to reflect post-Step-4 ready state
  projects/sdap.bff.api-test-suite-repair-r2/current-task.md
Owners: @spaarke-dev

fix(ci): remove invalid secrets references from deploy-promote environment.url
  .github/workflows/deploy-promote.yml
Owners: @spaarke-dev, @devops-team

chore(ci): task 031 — add actionlint to required-status-checks (FR-08)
  projects/github-actions-rationalization-r1/baseline/branch-protection-2026-06-01-post-actionlint.json
  projects/github-actions-rationalization-r1/baseline/branch-protection-2026-06-01-pre-actionlint.json
  projects/github-actions-rationalization-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

test: deliberate actionlint failure (smoke test for FR-07, will close unmerged)
  .github/workflows/adr-audit.yml
Owners: @spaarke-dev, @devops-team

docs(sdap-bff-test-r2): resolve all 5 spec.md unresolved questions (2026-06-01)
  projects/sdap.bff.api-test-suite-repair-r2/CLAUDE.md
  projects/sdap.bff.api-test-suite-repair-r2/README.md
  projects/sdap.bff.api-test-suite-repair-r2/current-task.md
  projects/sdap.bff.api-test-suite-repair-r2/design.md
  projects/sdap.bff.api-test-suite-repair-r2/plan.md
  projects/sdap.bff.api-test-suite-repair-r2/spec.md
Owners: @spaarke-dev, @docs-team

test(ci): task 032 — actionlint gate smoke-test (FR-07 verified end-to-end)
  projects/github-actions-rationalization-r1/baseline/actionlint-smoke-test-2026-06-01.md
  projects/github-actions-rationalization-r1/current-task.md
  projects/github-actions-rationalization-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(matter-ui-r1): VisualHost v1.4.7 — HSBar 2-segment + diamond marker + visible Due Date Card height reduction
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/EventDueDateCard.tsx
  src/client/pcf/VisualHost/control/components/HorizontalStackedBar.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
Owners: @spaarke-dev

feat(sdap-bff-test-r2): task 002 complete — sibling-coordination contact consolidated
  projects/sdap-bff.api-test-suite-repair/priority-order.md
  projects/sdap.bff.api-test-suite-repair-r2/current-task.md
  projects/sdap.bff.api-test-suite-repair-r2/decisions/D-07-insights-layer2-resolution.md
  projects/sdap.bff.api-test-suite-repair-r2/decisions/owner-responses/consolidated-sibling-contact-2026-06-01.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/002-sibling-owner-outreach.poml
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(sdap-bff-test-r2): task 001 complete — 20-entry reproducibility verified
  projects/sdap.bff.api-test-suite-repair-r2/baseline/20-entries-reproducibility-verification.md
  projects/sdap.bff.api-test-suite-repair-r2/current-task.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/001-verify-20-bugs-reproducible.poml
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(ci+docs): Wave D — Phase 4 observability + docs (tasks 040, 041, 042, 043)
  .github/WORKFLOWS.md
  .github/workflows/report-workflow-health.yml
  docs/procedures/workflow-incident-response.md
  projects/github-actions-rationalization-r1/current-task.md
  projects/github-actions-rationalization-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @devops-team, @docs-team

test: deliberate-fail PR for FR-13 branch-protection gate verification (DO NOT MERGE)
  .github/workflows/adr-audit.yml
Owners: @spaarke-dev, @devops-team

test(ci): task 050 — FR-13 branch-protection gate end-to-end verification PASS
  projects/github-actions-rationalization-r1/baseline/branch-protection-verification-2026-06-01.md
  projects/github-actions-rationalization-r1/current-task.md
  projects/github-actions-rationalization-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(projects): task 090 — github-actions-rationalization-r1 PROJECT COMPLETE
  projects/github-actions-rationalization-r1/README.md
  projects/github-actions-rationalization-r1/current-task.md
  projects/github-actions-rationalization-r1/notes/lessons-learned.md
  projects/github-actions-rationalization-r1/plan.md
  projects/github-actions-rationalization-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(sdap-bff-test-r2): task 000 complete — r1 close-out baseline captured (NFR-06)
  projects/sdap.bff.api-test-suite-repair-r2/baseline/r1-closeout-2026-06-01.md
  projects/sdap.bff.api-test-suite-repair-r2/current-task.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/000-capture-r1-baseline.poml
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(sdap-bff-test-r2): update task 011 POML with Phase 0 path corrections
  projects/sdap.bff.api-test-suite-repair-r2/tasks/011-fix-rb-t028-cluster.poml
Owners: @spaarke-dev

feat(sdap-bff-test-r2): task 010 complete — RB-T044-01 cross-matter privilege leak fixed
  projects/sdap.bff.api-test-suite-repair-r2/baseline/per-fix-triple-run-rb-t044-01-2026-06-01.md
  projects/sdap.bff.api-test-suite-repair-r2/current-task.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/010-fix-rb-t044-01.poml
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/CrossMatter/ConversationHistorySanitizer.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Safety/CrossMatter/IConversationHistorySanitizer.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Safety/PrivilegeLeakageTests.cs
Owners: @spaarke-dev

docs(sdap-bff-test-r2): RB-T044-01 ledger entry transitioned to `repaired`
  projects/sdap-bff.api-test-suite-repair/ledgers/real-bug-ledger.md
Owners: @spaarke-dev

fix(matter-ui-r1): VisualHost v1.4.8 — eliminate empty toolbar row + DD-MMM-YYYY date + horizontal Days Left
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/EventDueDateCard.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
Owners: @spaarke-dev

docs(sdap-bff-test-r2): D-08 — security review approval for RB-T044-01 (task 010)
  projects/sdap.bff.api-test-suite-repair-r2/decisions/D-08-security-review-rb-t044-01.md
Owners: @spaarke-dev

feat(sdap-bff-test-r2): task 012 complete — RB-T028-02 Insights Layer 2 fixed (path b)
  projects/sdap-bff.api-test-suite-repair/ledgers/real-bug-ledger.md
  projects/sdap.bff.api-test-suite-repair-r2/baseline/per-fix-triple-run-rb-t028-02-2026-06-01.md
  projects/sdap.bff.api-test-suite-repair-r2/current-task.md
  projects/sdap.bff.api-test-suite-repair-r2/decisions/D-07-insights-layer2-resolution.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/012-resolve-insights-hold.poml
  projects/sdap.bff.api-test-suite-repair-r2/tasks/026-fix-rb-t028-02-fallback.poml
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/CitationVerification/GroundingVerifier.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/Layer2/Layer2OutcomeExtractionTests.cs
Owners: @spaarke-dev

escalate(sdap-bff-test-r2): task 011 — RB-T028 HIGH cluster scope expansion (E-01)
  projects/sdap.bff.api-test-suite-repair-r2/current-task.md
  projects/sdap.bff.api-test-suite-repair-r2/escalations/E-01-rb-t028-cluster-scope-expansion.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/011-fix-rb-t028-cluster.poml
  projects/sdap.bff.api-test-suite-repair-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(matter-ui-r1): VisualHost v1.4.9 — stop duplicate expand icons + add space below form section heading
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
Owners: @spaarke-dev

fix(ci): move warning-as-error policy from CLI to centralized config
  .github/workflows/sdap-ci.yml
  docs/assessments/bff-warning-suppression-analysis-2026-06-01.md
Owners: @spaarke-dev, @devops-team, @docs-team

docs(sdap-bff-test-r2): resolve E-01 with Option B (NullObject pattern)
  projects/sdap.bff.api-test-suite-repair-r2/escalations/E-01-rb-t028-cluster-scope-expansion.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/011-fix-rb-t028-cluster.poml
Owners: @spaarke-dev

test(skip): SessionRestoreService_EntityETagChanged_ReportedAsStale (unblock PR #317)
  docs/assessments/bff-warning-suppression-analysis-2026-06-01.md
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Sessions/SessionRestoreServiceTests.cs
Owners: @spaarke-dev, @docs-team

feat(sdap-bff-test-r2): task 011 Phase 1a complete — NullObject inventory + design
  projects/sdap.bff.api-test-suite-repair-r2/baseline/asymmetric-registration-inventory-2026-06-01.md
  projects/sdap.bff.api-test-suite-repair-r2/current-task.md
  projects/sdap.bff.api-test-suite-repair-r2/decisions/ADR-030-DRAFT-bff-nullobject-kill-switch.md
  projects/sdap.bff.api-test-suite-repair-r2/decisions/D-09-nullobject-design.md
  projects/sdap.bff.api-test-suite-repair-r2/tasks/011-fix-rb-t028-cluster.poml
Owners: @spaarke-dev

fix(matter-ui-r1): VisualHost v1.4.10 — restore CardChrome title (v1.4.9 over-suppressed) + more header spacing
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/CardChrome.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
Owners: @spaarke-dev

checkpoint: milestone after task 011 Phase 1a (NullObject inventory + design)
  projects/sdap.bff.api-test-suite-repair-r2/current-task.md
Owners: @spaarke-dev

fix(ci): dependencies-audit accepts ADR-029 risk-list (Kiota NU1903)
  .github/workflows/sdap-ci.yml
  docs/assessments/bff-warning-suppression-analysis-2026-06-01.md
Owners: @spaarke-dev, @devops-team, @docs-team

fix(ci): extend deps-audit accepted-risk list (OpenMcdf, OpenTelemetry.Api)
  .github/workflows/sdap-ci.yml
  docs/assessments/bff-warning-suppression-analysis-2026-06-01.md
Owners: @spaarke-dev, @devops-team, @docs-team

feat(sdap-bff-test-r2): task 011 Phase 1b Tier 1 — promote-to-unconditional
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
Owners: @spaarke-dev

fix(matter-ui-r1): VisualHost v1.4.11 — align CardChrome title flush with OOTB section banner position
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
Owners: @spaarke-dev

test(skip): CompareDocumentsAsync_FetchesBothDocumentsInParallel (flaky timing assertion)
  docs/assessments/bff-warning-suppression-analysis-2026-06-01.md
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/Tools/CompareDocumentsToolTests.cs
Owners: @spaarke-dev, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
