Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

docs: mark ai-document-relationship-visuals project as complete
  projects/ai-document-relationship-visuals/README.md
  projects/ai-document-relationship-visuals/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(skills): add worktree-sync skill for guaranteed bidirectional sync
  .claude/skills/INDEX.md
  .claude/skills/merge-to-master/SKILL.md
  .claude/skills/project-continue/SKILL.md
  .claude/skills/push-to-github/SKILL.md
  .claude/skills/worktree-sync/SKILL.md
  CLAUDE.md
Owners: @spaarke-dev

chore: rename ai-document-relationship-visuals → x-ai-document-relationship-visuals
  projects/x-ai-document-relationship-visuals/CLAUDE.md
  projects/x-ai-document-relationship-visuals/README.md
  projects/x-ai-document-relationship-visuals/current-task.md
  projects/x-ai-document-relationship-visuals/design.md
  projects/x-ai-document-relationship-visuals/notes/.gitkeep
  projects/x-ai-document-relationship-visuals/plan.md
  projects/x-ai-document-relationship-visuals/spec.md
  projects/x-ai-document-relationship-visuals/tasks/.gitkeep
  projects/x-ai-document-relationship-visuals/tasks/001-create-relationship-count-card.poml
  projects/x-ai-document-relationship-visuals/tasks/002-create-use-force-simulation-hook.poml
  projects/x-ai-document-relationship-visuals/tasks/003-shared-lib-tests-and-exports.poml
  projects/x-ai-document-relationship-visuals/tasks/010-bff-api-count-only-parameter.poml
  projects/x-ai-document-relationship-visuals/tasks/011-bff-api-count-only-tests.poml
  projects/x-ai-document-relationship-visuals/tasks/020-migrate-graph-to-shared-hook.poml
  projects/x-ai-document-relationship-visuals/tasks/021-csv-export-service.poml
  projects/x-ai-document-relationship-visuals/tasks/022-grid-quick-search.poml
  projects/x-ai-document-relationship-visuals/tasks/024-build-deploy-code-page.poml
  projects/x-ai-document-relationship-visuals/tasks/030-scaffold-related-document-count-pcf.poml
  projects/x-ai-document-relationship-visuals/tasks/031-implement-pcf-component.poml
  projects/x-ai-document-relationship-visuals/tasks/033-pcf-tests.poml
  projects/x-ai-document-relationship-visuals/tasks/034-deploy-pcf-and-configure-form.poml
  projects/x-ai-document-relationship-visuals/tasks/040-integration-testing.poml
  projects/x-ai-document-relationship-visuals/tasks/090-project-wrap-up.poml
  projects/x-ai-document-relationship-visuals/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs: add Document Relationship Viewer developer guide
  docs/guides/DOCUMENT-RELATIONSHIP-VIEWER-GUIDE.md
Owners: @spaarke-dev, @docs-team

feat(ai): add DeliverToIndex playbook node for RAG semantic indexing
  docs/architecture/AI-ARCHITECTURE.md
  src/client/code-pages/PlaybookBuilder/src/components/BuilderLayout.tsx
  src/client/code-pages/PlaybookBuilder/src/components/ai-assistant/commands.ts
  src/client/code-pages/PlaybookBuilder/src/components/canvas/PlaybookCanvas.tsx
  src/client/code-pages/PlaybookBuilder/src/components/nodes/BaseNode.tsx
  src/client/code-pages/PlaybookBuilder/src/components/nodes/DeliverToIndexNode.tsx
  src/client/code-pages/PlaybookBuilder/src/components/nodes/index.ts
  src/client/code-pages/PlaybookBuilder/src/components/properties/DeliverToIndexForm.tsx
  src/client/code-pages/PlaybookBuilder/src/components/properties/NodePropertiesForm.tsx
  src/client/code-pages/PlaybookBuilder/src/services/playbookNodeSync.ts
  src/client/code-pages/PlaybookBuilder/src/types/canvas.ts
  src/client/code-pages/PlaybookBuilder/src/types/playbook.ts
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AppOnlyAnalysisService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/DeliverToIndexNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/INodeExecutor.cs
Owners: @spaarke-dev, @docs-team

docs(ai): restructure AI/playbook documentation + PlaybookBuilder UX improvements
  .claude/skills/jps-action-create/SKILL.md
  .claude/skills/jps-playbook-design/SKILL.md
  CLAUDE.md
  docs/_archive/PLAYBOOK-BUILDER-FULLSCREEN-SETUP.md
  docs/_archive/PLAYBOOK-REAL-ESTATE-LEASE-ANALYSIS.md
  docs/adr/ADR-013-ai-architecture.md
  docs/architecture/AI-ARCHITECTURE.md
  docs/architecture/INDEX.md
  docs/architecture/SPAARKE-AI-STRATEGY.md
  docs/architecture/ai-implementation-reference.md
  docs/architecture/auth-AI-azure-resources.md
  docs/architecture/auth-security-boundaries.md
  docs/architecture/playbook-architecture.md
  docs/architecture/sdap-overview.md
  docs/guides/AI-EMBEDDING-STRATEGY.md
  docs/guides/AI-MODEL-SELECTION-GUIDE.md
  docs/guides/AI-MONITORING-DASHBOARD.md
  docs/guides/INDEX.md
  docs/guides/JPS-AUTHORING-GUIDE.md
  docs/guides/PLAYBOOK-BUILDER-GUIDE.md
  docs/guides/PLAYBOOK-DESIGN-GUIDE.md
  docs/guides/PLAYBOOK-JPS-PROMPT-SCHEMA-GUIDE.md
  docs/guides/PLAYBOOK-PRE-FILL-INTEGRATION-GUIDE.md
  docs/guides/PLAYBOOK-SCOPE-CONFIGURATION-GUIDE.md
  docs/guides/ai-document-summary.md
  docs/product-documentation/AI-SCOPE-CONFIGURATION-GUIDE.md
  src/client/code-pages/PlaybookBuilder/package-lock.json
  src/client/code-pages/PlaybookBuilder/src/components/BuilderLayout.tsx
  src/client/code-pages/PlaybookBuilder/src/components/canvas/PlaybookCanvas.tsx
  src/client/code-pages/PlaybookBuilder/src/components/nodes/BaseNode.tsx
  src/client/code-pages/PlaybookBuilder/src/components/properties/NodePropertiesDialog.tsx
  src/client/code-pages/PlaybookBuilder/src/services/playbookNodeSync.ts
  src/client/code-pages/PlaybookBuilder/src/stores/canvasStore.ts
  src/server/api/Sprk.Bff.Api/Services/Ai/NodeService.cs
Owners: @spaarke-dev, @docs-team

feat(playbook-builder): redesign node properties dialog and fix theme
  src/client/code-pages/PlaybookBuilder/src/components/BuilderLayout.tsx
  src/client/code-pages/PlaybookBuilder/src/components/properties/NodePropertiesDialog.tsx
  src/client/code-pages/PlaybookBuilder/src/components/properties/NodePropertiesForm.tsx
  src/client/code-pages/PlaybookBuilder/src/components/properties/ScopeSelector.tsx
  src/client/webresources/js/sprk_playbook_commands.js
Owners: @spaarke-dev

fix(ci): resolve MimeKit vulnerability and Bicep validation permissions
  .github/workflows/deploy-infrastructure.yml
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
  tests/unit/Sprk.Bff.Api.Tests/Sprk.Bff.Api.Tests.csproj
Owners: @spaarke-dev, @devops-team

fix(ci): resolve test compilation errors and Bicep runner permissions
  .github/workflows/deploy-infrastructure.yml
  src/server/api/Sprk.Bff.Api/Services/Email/EmailToEmlConverter.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/CommunicationIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AiPlaybookBuilderServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AnalysisOrchestrationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/BuildPlanGenerationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ClarificationFlowTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/DocumentClassifierHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/IntentClassificationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ScopeResolverServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/SummaryHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/GraphMessageToEmlConverterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/InboundPipelineTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/IncomingAssociationResolverTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/MailboxVerificationTests.cs
Owners: @spaarke-dev, @devops-team

fix(ci): correct coverlet.runsettings path to config/
  .github/workflows/sdap-ci.yml
Owners: @spaarke-dev, @devops-team

fix(ci): add required startup config to Analysis and Authorization test fixtures
  tests/integration/Spe.Integration.Tests/AnalysisEndpointsIntegrationTests.cs
  tests/integration/Spe.Integration.Tests/AuthorizationIntegrationTests.cs
Owners: @spaarke-dev

fix(ci): gate AdminKnowledgeEndpoints behind Analysis:Enabled
  src/server/api/Sprk.Bff.Api/Program.cs
Owners: @spaarke-dev

fix(ci): gate AI endpoints behind feature flags and add missing test config
  src/server/api/Sprk.Bff.Api/Program.cs
  tests/integration/Spe.Integration.Tests/AnalysisEndpointsIntegrationTests.cs
  tests/integration/Spe.Integration.Tests/AuthorizationIntegrationTests.cs
  tests/integration/Spe.Integration.Tests/IntegrationTestFixture.cs
Owners: @spaarke-dev

fix(ci): use array format for CORS AllowedOrigins in test fixtures
  tests/integration/Spe.Integration.Tests/Api/Ai/ChatEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/KnowledgeBaseEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/ReAnalysisFlowTests.cs
  tests/integration/Spe.Integration.Tests/IntegrationTestFixture.cs
  tests/integration/Spe.Integration.Tests/SemanticSearch/TestHostConfiguration.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Office/OfficeEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/CustomWebAppFactory.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/Workspace/WorkspaceTestFixture.cs
Owners: @spaarke-dev

fix(test): resolve CustomWebAppFactory OBO auth and integration test failures
  tests/integration/Spe.Integration.Tests/AnalysisEndpointsIntegrationTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/ChatEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/KnowledgeBaseEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/ReAnalysisFlowTests.cs
  tests/integration/Spe.Integration.Tests/AuthorizationIntegrationTests.cs
  tests/integration/Spe.Integration.Tests/EventEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/FieldMappingEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/Phase2RecordMatchingTests.cs
  tests/integration/Spe.Integration.Tests/PlaybookExecutionIntegrationTests.cs
  tests/integration/Spe.Integration.Tests/RagDedicatedDeploymentTests.cs
  tests/integration/Spe.Integration.Tests/RagSharedDeploymentTests.cs
  tests/integration/Spe.Integration.Tests/SystemIntegrationTests.cs
  tests/integration/Spe.Integration.Tests/ToolFrameworkIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/CustomWebAppFactory.cs
  tests/unit/Sprk.Bff.Api.Tests/EndpointGroupingTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Filters/AiAuthorizationFilterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Mocks/FakeGraphClientFactory.cs
  tests/unit/Sprk.Bff.Api.Tests/ProblemDetailsHelperTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AiAuthorizationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/UserEndpointsTests.cs
Owners: @spaarke-dev

fix(test): resolve OfficeEndpointsTests Release-only SemaphoreSlim dispose race
  tests/unit/Sprk.Bff.Api.Tests/Api/Office/OfficeEndpointsTests.cs
Owners: @spaarke-dev

fix(test): resolve remaining test failures - auth, mocks, and assertions
  tests/integration/Spe.Integration.Tests/IntegrationTestFixture.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Office/OfficeProblemDetailsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/CustomWebAppFactory.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/GraphApiWireMockTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/PlaybookExecutionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/AiAnalysisNodeExecutorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PlaybookOrchestrationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ScopeResolverServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/InboundPipelineTests.cs
Owners: @spaarke-dev

fix(test): resolve final 93 unit test failures for CI green
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/AnalysisEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/ChatActionsEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/DocumentIntelligenceEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/DocumentIntelligenceEnqueueEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Office/OfficeEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/CorsAndAuthTests.cs
  tests/unit/Sprk.Bff.Api.Tests/EndpointGroupingTests.cs
  tests/unit/Sprk.Bff.Api.Tests/FileOperationsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/CommunicationIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/DataverseWebApiWireMockTests.cs
  tests/unit/Sprk.Bff.Api.Tests/ListingEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AiAuthorizationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AiOptionsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AnalysisOrchestrationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/Middleware/AgentMiddlewareTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/EmailAnalysisIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/JpsPipelineIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/DeliverOutputNodeExecutorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PromptSchemaRendererTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/SemanticDocumentChunkerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/SummaryHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Tools/DataverseUpdateToolHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Visualization/VisualizationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationAccountServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Finance/Tools/InvoiceExtractionToolHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Office/JobStatusServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/SpeFileStoreTests.cs
  tests/unit/Sprk.Bff.Api.Tests/UploadEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/UserEndpointsTests.cs
Owners: @spaarke-dev

fix(tests): update test fixtures and mocks for batch API changes
  tests/unit/Sprk.Bff.Api.Tests/Api/Office/OfficeEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/ScorecardCalculatorErrorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/ScorecardCalculatorIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/ScorecardCalculatorPerformanceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/ScorecardCalculatorServiceTests.cs
Owners: @spaarke-dev

fix(ci): resolve CustomWebAppFactory DI startup failures
  tests/unit/Sprk.Bff.Api.Tests/CustomWebAppFactory.cs
Owners: @spaarke-dev

fix(tests): update WorkspaceTestFixture config and version assertion
  tests/unit/Sprk.Bff.Api.Tests/Integration/Workspace/WorkspaceTestFixture.cs
  tests/unit/Sprk.Bff.Api.Tests/PipelineHealthTests.cs
Owners: @spaarke-dev

fix(tests): add RetrieveMultipleAsync to IDataverseService and fix workspace tests
  src/server/api/Sprk.Bff.Api/Services/Workspace/PortfolioService.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/IDataverseService.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/Workspace/WorkspaceEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/Workspace/WorkspaceTestFixture.cs
Owners: @spaarke-dev

style: apply dotnet format whitespace fixes
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/SpaarkeCore.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ReferenceRetrievalService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/SummaryHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingCommunicationProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/WorkspaceAiService.cs
  tests/integration/Spe.Integration.Tests/AnalysisEndpointsIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/InboundPipelineTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/IncomingAssociationResolverTests.cs
Owners: @spaarke-dev

fix(ci): revert broad endpoint gating, add AI service stubs to AuthorizationTestFixture
  src/server/api/Sprk.Bff.Api/Program.cs
  tests/integration/Spe.Integration.Tests/AuthorizationIntegrationTests.cs
Owners: @spaarke-dev

fix(test): resolve 365 pre-existing test failures across unit and integration suites
  tests/integration/Spe.Integration.Tests/IntegrationTestFixture.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Office/OfficeProblemDetailsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/CustomWebAppFactory.cs
  tests/unit/Sprk.Bff.Api.Tests/Filters/AiAuthorizationFilterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Filters/IdempotencyFilterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Filters/Office/IdempotencyFilterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Filters/Office/RateLimitFilterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/HealthAndHeadersTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/DataverseEntitySchemaTests.cs
  tests/unit/Sprk.Bff.Api.Tests/ProblemDetailsHelperTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AiAuthorizationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/DocumentProfileFieldMapperTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/DeliverOutputNodeExecutorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/UpdateRecordNodeExecutorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ScopeResolverServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/SummaryHandlerTests.cs
Owners: @spaarke-dev

fix(api): rename _debugRawAiResponse to DebugRawAiResponse for naming convention
  src/server/api/Sprk.Bff.Api/Api/Workspace/Models/PreFillResponse.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/MatterPreFillService.cs
Owners: @spaarke-dev

chore(ci): clean up CI workflows, fix ADR tests, update notification emails
  .github/workflows/adr-audit.yml
  .github/workflows/build-only.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy-to-azure.yml
  .github/workflows/dotnet.yml
  .github/workflows/sdap-ci.yml
  .github/workflows/test.yml
  docs/_archive/articles/AUTHENTICATION-ARCHITECTURE-GUIDE-FULL-VERSION.md
  docs/_archive/research/KM-DATAVERSE-SOLUTION-DEPLOYMENT-FULL-GUIDE.md
  infrastructure/bicep/modules/alerts.bicep
  scripts/Find-ContainerTypeOwner.ps1
Owners: @spaarke-dev, @devops-team, @docs-team

chore(ci): clean up CI workflows, fix ADR tests, update notification emails
  .github/workflows/adr-audit.yml
  .github/workflows/build-only.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy-to-azure.yml
  .github/workflows/dotnet.yml
  .github/workflows/sdap-ci.yml
  .github/workflows/test.yml
  docs/_archive/articles/AUTHENTICATION-ARCHITECTURE-GUIDE-FULL-VERSION.md
  docs/_archive/research/KM-DATAVERSE-SOLUTION-DEPLOYMENT-FULL-GUIDE.md
  infrastructure/bicep/modules/alerts.bicep
  scripts/Find-ContainerTypeOwner.ps1
Owners: @spaarke-dev, @devops-team, @docs-team

chore(infra): update current-task.md with PR reference
  projects/production-environment-setup-r1/current-task.md
Owners: @spaarke-dev

feat(infra): initialize production-environment-setup-r1 project
  projects/production-environment-setup-r1/CLAUDE.md
  projects/production-environment-setup-r1/README.md
  projects/production-environment-setup-r1/current-task.md
  projects/production-environment-setup-r1/design.md
  projects/production-environment-setup-r1/plan.md
  projects/production-environment-setup-r1/spec.md
  projects/production-environment-setup-r1/tasks/001-create-platform-bicep.poml
  projects/production-environment-setup-r1/tasks/002-create-customer-bicep.poml
  projects/production-environment-setup-r1/tasks/003-create-parameter-files.poml
  projects/production-environment-setup-r1/tasks/004-finalize-naming-convention.poml
  projects/production-environment-setup-r1/tasks/005-create-appsettings-production.poml
  projects/production-environment-setup-r1/tasks/006-validate-bicep-templates.poml
  projects/production-environment-setup-r1/tasks/010-create-deploy-platform-script.poml
  projects/production-environment-setup-r1/tasks/011-parameterize-deploy-bffapi.poml
  projects/production-environment-setup-r1/tasks/012-create-deploy-dataverse-solutions.poml
  projects/production-environment-setup-r1/tasks/013-create-test-deployment-script.poml
  projects/production-environment-setup-r1/tasks/014-create-provision-customer-script.poml
  projects/production-environment-setup-r1/tasks/015-create-decommission-customer-script.poml
  projects/production-environment-setup-r1/tasks/016-create-rotate-secrets-script.poml
  projects/production-environment-setup-r1/tasks/020-deploy-shared-platform.poml
  projects/production-environment-setup-r1/tasks/021-create-entra-app-registrations.poml
  projects/production-environment-setup-r1/tasks/022-configure-custom-domain.poml
  projects/production-environment-setup-r1/tasks/023-deploy-bff-api-production.poml
  projects/production-environment-setup-r1/tasks/024-provision-demo-customer.poml
  projects/production-environment-setup-r1/tasks/025-load-demo-sample-data.poml
  projects/production-environment-setup-r1/tasks/026-configure-demo-user-access.poml
  projects/production-environment-setup-r1/tasks/027-run-full-smoke-tests.poml
  projects/production-environment-setup-r1/tasks/030-create-deploy-platform-workflow.poml
  projects/production-environment-setup-r1/tasks/031-create-deploy-bff-api-workflow.poml
  projects/production-environment-setup-r1/tasks/032-create-provision-customer-workflow.poml
  projects/production-environment-setup-r1/tasks/033-configure-environment-protection.poml
  projects/production-environment-setup-r1/tasks/034-test-cicd-pipeline.poml
  projects/production-environment-setup-r1/tasks/040-write-deployment-guide.poml
  projects/production-environment-setup-r1/tasks/041-write-customer-onboarding-runbook.poml
  projects/production-environment-setup-r1/tasks/042-write-incident-response.poml
  projects/production-environment-setup-r1/tasks/043-write-secret-rotation-procedures.poml
  projects/production-environment-setup-r1/tasks/044-write-monitoring-alerting-guide.poml
  projects/production-environment-setup-r1/tasks/045-repeatability-validation.poml
  projects/production-environment-setup-r1/tasks/090-project-wrap-up.poml
  projects/production-environment-setup-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(infra): complete smoke test suite (task 027) — 12/17 pass, fix PAC CLI bug
  projects/production-environment-setup-r1/current-task.md
  projects/production-environment-setup-r1/notes/027-smoke-test-report.md
  projects/production-environment-setup-r1/tasks/027-run-full-smoke-tests.poml
  projects/production-environment-setup-r1/tasks/TASK-INDEX.md
  scripts/Test-Deployment.ps1
Owners: @spaarke-dev, @devops-team

docs(infra): rewrite production deployment guide for Claude Code + developer dual execution
  docs/guides/PRODUCTION-DEPLOYMENT-GUIDE.md
Owners: @spaarke-dev, @docs-team

feat(ci): add CI/CD workflow files for platform, BFF API, and customer provisioning
  .github/workflows/deploy-bff-api.yml
  .github/workflows/deploy-platform.yml
  .github/workflows/provision-customer.yml
Owners: @spaarke-dev, @devops-team

feat(infra): deploy BFF API to production (task 023)
  projects/production-environment-setup-r1/current-task.md
  projects/production-environment-setup-r1/tasks/023-deploy-bff-api-production.poml
  projects/production-environment-setup-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(infra): add SPE setup section and update deployment sequence
  docs/guides/PRODUCTION-DEPLOYMENT-GUIDE.md
Owners: @spaarke-dev, @docs-team

docs(infra): add ADR-027 subscription isolation and Dataverse solution management
  .claude/adr/ADR-027-subscription-isolation-and-dataverse-solution-management.md
  .claude/adr/INDEX.md
  docs/adr/ADR-027-subscription-isolation-and-dataverse-solution-management.md
  docs/adr/INDEX.md
  docs/guides/PRODUCTION-DEPLOYMENT-GUIDE.md
Owners: @spaarke-dev, @docs-team

feat(quality): add quality tooling infrastructure
  .claude/settings.json
  .claude/skills/code-review/SKILL.md
  .claude/skills/code-review/references/review-checklist.md
  .coderabbit.yaml
  .github/workflows/claude-code-review.yml
  .github/workflows/nightly-quality.yml
  .github/workflows/sdap-ci.yml
  .github/workflows/weekly-quality.yml
  .husky/pre-commit
  .lintstagedrc.mjs
  .prettierignore
  .prettierrc.json
  CLAUDE.md
  PSScriptAnalyzerSettings.psd1
  config/coverlet-nightly.runsettings
  package-lock.json
  package.json
  scripts/quality/Invoke-PSAnalysis.ps1
  scripts/quality/lint-staged-eslint.mjs
  scripts/quality/nightly-review-prompt.md
  scripts/quality/post-edit-lint.sh
  scripts/quality/task-quality-gate.sh
  sonar-project.properties
  src/client/pcf/EmailProcessingMonitor/eslint.config.mjs
  src/client/pcf/eslint.config.mjs
  src/client/pcf/package-lock.json
  src/client/pcf/package.json
  src/client/pcf/shared/types/xrm-extensions.d.ts
Owners: @spaarke-dev, @devops-team

fix(ci): resolve Prettier line-ending and integration test failures
  .github/workflows/sdap-ci.yml
  tests/integration/Spe.Integration.Tests/Api/Ai/ChatEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/KnowledgeBaseEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/ReAnalysisFlowTests.cs
Owners: @spaarke-dev, @devops-team

fix(ci): format remaining 3 Prettier files and add missing AnalysisActionService DI registration
  src/client/pcf/EventFormController/handlers/FieldVisibilityHandler.ts
  src/client/pcf/UniversalDatasetGrid/control/components/ColumnFilter.tsx
  src/client/pcf/VisualHost/control/utils/valueFormatters.ts
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
Owners: @spaarke-dev

chore(spe-admin): mark Dataverse table tasks as complete
  projects/sdap-SPE-admin-app/tasks/TASK-INDEX.md
Owners: @spaarke-dev
