Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

fix(office-addins): Disable TypeScript type checking during webpack build
  src/client/office-addins/package.json
  src/client/office-addins/webpack.config.js
Owners: @spaarke-dev

fix(office-addins): Add root index.html for Azure Static Web App deployment
  src/client/office-addins/public/index.html
  src/client/office-addins/webpack.config.js
Owners: @spaarke-dev

fix(office-addins): Use production manifests in production builds
  src/client/office-addins/webpack.config.js
Owners: @spaarke-dev

feat(office-addins): add placeholder icons and M365 manifests
  src/client/office-addins/outlook/manifest-m365-simple.xml
  src/client/office-addins/outlook/manifest-m365.xml
  src/client/office-addins/shared/assets/icon-128.png
  src/client/office-addins/shared/assets/icon-16.png
  src/client/office-addins/shared/assets/icon-32.png
  src/client/office-addins/shared/assets/icon-64.png
  src/client/office-addins/shared/assets/icon-80.png
  src/client/office-addins/word/manifest-m365.xml
Owners: @spaarke-dev

feat(office-addins): add V1.0-only Outlook manifest and update SSO configurations
  src/client/office-addins/outlook/manifest-UPLOAD-THIS-OUTLOOK.xml
  src/client/office-addins/outlook/manifest-m365-no-sso.xml
  src/client/office-addins/outlook/manifest-minimal.xml
  src/client/office-addins/outlook/manifest-v1.0-only.xml
  src/client/office-addins/word/manifest-m365.xml
Owners: @spaarke-dev

fix(office-addins): correct version format to 1.0.0.0 (four parts)
  src/client/office-addins/outlook/manifest-m365.xml
  src/client/office-addins/outlook/manifest-v1.0-only.xml
  src/client/office-addins/word/manifest-m365.xml
Owners: @spaarke-dev

fix: Complete version format fix for all Outlook manifests
  src/client/office-addins/outlook/manifest-m365-no-sso.xml
  src/client/office-addins/outlook/manifest-m365-simple.xml
Owners: @spaarke-dev

fix: Add CORS config and minimal manifest for Outlook debugging
  clear-office-cache.ps1
  docs/architecture/office-outlook-teams-integration-architecture.md
  docs/architecture/sdap-component-interactions.md
  docs/guides/office-addins-admin-guide.md
  docs/guides/office-addins-deployment-checklist.md
  projects/sdap-office-integration/scripts/Create-DataverseColumns.ps1
  src/client/office-addins/outlook-addin/manifest-step2-ribbon.xml
  src/client/office-addins/outlook/manifest-dev.xml
  src/client/office-addins/outlook/manifest-step2b-v1_0.xml
  src/client/office-addins/outlook/manifest-template.xml
  src/client/office-addins/outlook/manifest-with-placeholder-icons.xml
  src/client/office-addins/outlook/outlook-addin-manifest.xml
  src/client/office-addins/shared/assets/create-icons.html
  src/client/office-addins/staticwebapp.config.json
  src/client/office-addins/webpack.config.js
  src/client/office-addins/word/manifest-m365-no-sso.xml
  src/client/office-addins/word/manifest.prod.xml
  src/server/api/Sprk.Bff.Api/Models/AttachmentArtifact.cs
  src/server/api/Sprk.Bff.Api/Models/EmailArtifact.cs
  src/server/api/Sprk.Bff.Api/Models/ProcessingJob.cs
  src/server/api/Sprk.Bff.Api/Workers/Office/UploadFinalizationWorker.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/IDataverseService.cs
Owners: @spaarke-dev, @docs-team, @devops-team

fix: Add M365-compliant Outlook manifest and sideload enablement script
  deploy-direct.ps1
  deploy-swa.ps1
  enable-outlook-sideload.ps1
  src/client/office-addins/outlook/manifest-m365-deploy.xml
  src/client/office-addins/outlook/manifest-test.xml
  src/client/office-addins/package-lock.json
Owners: @spaarke-dev

fix: Add FunctionFile and compose mode to M365 manifest
  enable-outlook-sideload.ps1
  src/client/office-addins/outlook/manifest-m365-deploy.xml
Owners: @spaarke-dev

fix: Create manifest-final.xml matching working manifest-test structure
  src/client/office-addins/outlook/manifest-final.xml
  src/client/office-addins/outlook/manifest-simple-v1.xml
Owners: @spaarke-dev

fix: Standardize Office Add-in manifests with validated working format
  docs/architecture/office-outlook-teams-integration-architecture.md
  docs/guides/office-addins-admin-guide.md
  docs/guides/office-addins-deployment-checklist.md
  src/client/office-addins/outlook/manifest-UPLOAD-THIS-OUTLOOK.xml
  src/client/office-addins/outlook/manifest-final.xml
  src/client/office-addins/outlook/manifest-m365-deploy.xml
  src/client/office-addins/outlook/manifest-m365-no-sso.xml
  src/client/office-addins/outlook/manifest-m365-simple.xml
  src/client/office-addins/outlook/manifest-m365.xml
  src/client/office-addins/outlook/manifest-minimal.xml
  src/client/office-addins/outlook/manifest-simple-v1.xml
  src/client/office-addins/outlook/manifest-step2b-v1_0.xml
  src/client/office-addins/outlook/manifest-test.xml
  src/client/office-addins/outlook/manifest-v1.0-only.xml
  src/client/office-addins/outlook/manifest-with-placeholder-icons.xml
  src/client/office-addins/outlook/manifest-working.xml
  src/client/office-addins/outlook/outlook-addin-manifest.xml
  src/client/office-addins/word/manifest-m365-no-sso.xml
  src/client/office-addins/word/manifest-m365.xml
  src/client/office-addins/word/manifest-working.xml
  src/client/office-addins/word/manifest.prod.xml
Owners: @spaarke-dev, @docs-team

feat: Add version number and date to task pane footer
  src/client/office-addins/outlook/manifest-working.xml
  src/client/office-addins/outlook/taskpane/index.tsx
  src/client/office-addins/package-lock.json
  src/client/office-addins/package.json
  src/client/office-addins/shared/taskpane/App.tsx
  src/client/office-addins/shared/taskpane/components/TaskPaneFooter.tsx
  src/client/office-addins/shared/taskpane/components/TaskPaneShell.tsx
  src/client/office-addins/webpack.config.js
  src/client/office-addins/word/taskpane/index.tsx
Owners: @spaarke-dev

fix: Reorder staticwebapp.config.json routes to fix deployment
  src/client/office-addins/staticwebapp.config.json
Owners: @spaarke-dev

fix: Switch to Dialog API authentication, disable NAA
  docs/architecture/office-outlook-teams-integration-architecture.md
  docs/guides/office-addins-admin-guide.md
  docs/guides/office-addins-deployment-checklist.md
  projects/sdap-teams-app/spec.md
  src/client/office-addins/public/auth-dialog.html
  src/client/office-addins/shared/services/AuthService.ts
Owners: @spaarke-dev, @docs-team

feat: V1 Office Add-in with Dialog API authentication and UI improvements
  .claude/skills/azure-deploy/SKILL.md
  scripts/Deploy-OfficeAddins.ps1
  src/client/office-addins/outlook/manifest-dev.xml
  src/client/office-addins/outlook/manifest-working.xml
  src/client/office-addins/outlook/taskpane/index.tsx
  src/client/office-addins/outlook/taskpane/mock-office.js
  src/client/office-addins/outlook/taskpane/taskpane-test.html
  src/client/office-addins/shared/taskpane/App.tsx
  src/client/office-addins/shared/taskpane/components/ErrorBoundary.tsx
  src/client/office-addins/shared/taskpane/components/SaveFlow.tsx
  src/client/office-addins/shared/taskpane/components/TaskPaneHeader.tsx
  src/client/office-addins/shared/taskpane/components/TaskPaneNavigation.tsx
  src/client/office-addins/shared/taskpane/hooks/useSaveFlow.ts
  src/client/office-addins/webpack.config.js
  src/client/office-addins/word/manifest-working.xml
  src/client/office-addins/word/taskpane/index.tsx
Owners: @spaarke-dev, @devops-team

fix: Add login persistence and pinnable task pane to Outlook Add-in
  projects/sdap-teams-app/notes/OUTLOOK-ADDIN-CRITICAL-FIXES.md
  src/client/office-addins/outlook/manifest-dev.xml
  src/client/office-addins/outlook/manifest-working.xml
  src/client/office-addins/shared/services/AuthService.ts
Owners: @spaarke-dev

feat(office-addins): Connect entity search to real BFF API (Issue #5)
  projects/sdap-teams-app/notes/OUTLOOK-ADDIN-CRITICAL-FIXES.md
  src/client/office-addins/outlook/manifest-dev.xml
  src/client/office-addins/outlook/manifest-working.xml
  src/client/office-addins/shared/assets/icon-128.png
  src/client/office-addins/shared/assets/icon-16.png
  src/client/office-addins/shared/assets/icon-32.png
  src/client/office-addins/shared/assets/icon-64.png
  src/client/office-addins/shared/assets/icon-80.png
  src/client/office-addins/shared/taskpane/components/SaveFlow.tsx
  src/client/office-addins/shared/taskpane/hooks/useEntitySearch.ts
Owners: @spaarke-dev

fix(office-addins): Implement full IHostAdapter interface in adapters
  src/client/office-addins/outlook/OutlookHostAdapter.ts
  src/client/office-addins/word/WordHostAdapter.ts
Owners: @spaarke-dev

chore(office-addins): Bump Word manifest version to 1.0.3.0
  src/client/office-addins/word/manifest-working.xml
Owners: @spaarke-dev

feat(office-addins): Update Word manifest.xml for production deployment
  src/client/office-addins/word/manifest.xml
Owners: @spaarke-dev

fix: consolidate Word manifest.xml with production-ready config
  src/client/office-addins/word/manifest.xml
Owners: @spaarke-dev

feat(office-addin): enable Quick Create for new entity creation
  src/client/office-addins/outlook/taskpane/index.tsx
  src/client/office-addins/shared/taskpane/App.tsx
Owners: @spaarke-dev

fix(api): add CORS support for Azure Static Web Apps (Office Add-ins)
  src/client/office-addins/outlook/taskpane/index.tsx
  src/server/api/Sprk.Bff.Api/Program.cs
Owners: @spaarke-dev

fix(tests): add missing IDataverseService mock to UploadFinalizationWorkerTests
  tests/unit/Sprk.Bff.Api.Tests/Workers/Office/UploadFinalizationWorkerTests.cs
Owners: @spaarke-dev

refactor(office-addins): standardize manifests and consolidate to icy-desert SWA
  src/client/office-addins/outlook-addin/manifest-step2-ribbon.xml
  src/client/office-addins/outlook-addin/src/.gitkeep
  src/client/office-addins/outlook/manifest-dev.xml
  src/client/office-addins/outlook/manifest-template.xml
  src/client/office-addins/outlook/outlook-manifest.xml
  src/client/office-addins/webpack.config.js
  src/client/office-addins/word-addin/.gitkeep
  src/client/office-addins/word/manifest.xml
  src/client/office-addins/word/word-manifest.xml
Owners: @spaarke-dev

style(api): fix whitespace formatting in OfficeEndpoints
  src/server/api/Sprk.Bff.Api/Api/Office/OfficeEndpoints.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Office/OfficeEndpointsTests.cs
Owners: @spaarke-dev

fix(api): register IConnectionMultiplexer for Office endpoints DI
  docs/architecture/office-outlook-teams-integration-architecture.md
  docs/guides/office-addins-admin-guide.md
  docs/guides/office-addins-deployment-checklist.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/OfficeModule.cs
  src/server/api/Sprk.Bff.Api/Program.cs
Owners: @spaarke-dev, @docs-team

fix(office-addins): acquire separate API token after login
  src/client/office-addins/public/auth-dialog.html
Owners: @spaarke-dev

fix(office-addins): transform client request to match server API format
  src/client/office-addins/shared/taskpane/hooks/useSaveFlow.ts
Owners: @spaarke-dev

feat(skills): add parallel task execution and subagent delegation
  .claude/adr/ADR-021-fluent-design-system.md
  .claude/patterns/pcf/control-initialization.md
  .claude/skills/dataverse-deploy/SKILL.md
  .claude/skills/project-pipeline/SKILL.md
  .claude/skills/project-setup/SKILL.md
  .claude/skills/task-create/SKILL.md
  .claude/skills/task-execute/SKILL.md
  docs/adr/ADR-021-fluent-ui-design-system.md
  projects/ai-semantic-search-ui-r2/spec.md
Owners: @spaarke-dev, @docs-team

docs(rag): update RAG documentation with Semantic Search UI R2 architecture
  docs/guides/RAG-ARCHITECTURE.md
  docs/guides/RAG-CONFIGURATION.md
  docs/guides/RAG-TROUBLESHOOTING.md
Owners: @spaarke-dev, @docs-team

fix(api): align parentEntityname field casing with deployed index
  infrastructure/ai-search/spaarke-knowledge-index-v2.json
  src/server/api/Sprk.Bff.Api/Services/Ai/SemanticSearch/SemanticSearchService.cs
Owners: @spaarke-dev

fix(api): correct parentEntityname field casing for AI Search index
  docs/guides/RAG-ARCHITECTURE.md
  docs/guides/RAG-CONFIGURATION.md
  docs/guides/RAG-TROUBLESHOOTING.md
  infrastructure/dataverse/ribbon/DocumentRibbons/Other/Solution.xml
  infrastructure/dataverse/ribbon/DocumentRibbons/WebResources/sprk_DocumentOperations.js
  infrastructure/dataverse/ribbon/DocumentRibbons/solution.xml
  projects/ai-semantic-search-ui-r2/docs/automatic-reindexing-design.md
  src/client/pcf/UniversalQuickCreate/Solution/src/Other/Customizations.xml
  src/client/pcf/UniversalQuickCreate/Solution/src/Other/Solution.xml
  src/client/pcf/UniversalQuickCreate/Solution/src/WebResources/sprk_Spaarke.Controls.UniversalDocumentUpload/ControlManifest.xml
  src/client/pcf/UniversalQuickCreate/Solution/src/WebResources/sprk_Spaarke.Controls.UniversalDocumentUpload/bundle.js
  src/client/pcf/UniversalQuickCreate/control/ControlManifest.Input.xml
  src/client/pcf/UniversalQuickCreate/control/components/DocumentUploadForm.tsx
  src/client/webresources/js/sprk_DocumentOperations.js
  src/server/api/Sprk.Bff.Api/Api/Ai/RagEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/DocumentOperationsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Configuration/ReindexingOptions.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/KnowledgeDocument.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/DocumentCheckoutService.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
Owners: @spaarke-dev, @docs-team

fix(api): remove parentEntityName from SearchFields - field not in deployed index
  src/server/api/Sprk.Bff.Api/Services/Ai/SemanticSearch/SemanticSearchService.cs
Owners: @spaarke-dev

fix(pcf): auto-detect entity context from page instead of bound field
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/services/SemanticSearchApiService.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/types/search.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
  src/client/pcf/SemanticSearchControl/package-lock.json
Owners: @spaarke-dev

fix(search): deduplicate results, normalize scores, fix date display
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ResultCard.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/types/search.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/server/api/Sprk.Bff.Api/Services/Ai/SemanticSearch/SemanticSearchService.cs
Owners: @spaarke-dev

feat(ai-builder): implement Phase 3 Knowledge Scope Integration
  projects/ai-playbook-node-builder-r3/notes/IMPLEMENTATION-CHECKLIST.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderAgentService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderToolExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/FallbackScopeCatalog.cs
Owners: @spaarke-dev

docs(ai-playbook): update implementation checklist - Phase 2 complete
  .gitignore
  projects/ai-playbook-node-builder-r3/notes/IMPLEMENTATION-CHECKLIST.md
Owners: @spaarke-dev

fix(ai-playbook): handle JSON object content in Knowledge scope imports
  src/server/api/Sprk.Bff.Api/Api/Admin/BuilderScopeAdminEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderScopeImporter.cs
Owners: @spaarke-dev
