Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

checkpoint: context-handoff — carried-items table + drive-provenance brief
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/Word doucment paragraph number test.docx
Owners: @spaarke-dev

test(archtests): forcing function for the client-URL-with-no-server-route class + document AP-11
  .claude/CHANGELOG.md
  .claude/FAILURE-MODES.md
  tests/Spaarke.ArchTests/ClientUploadRouteAgreementTests.cs
Owners: @spaarke-dev

fix(compose): write to the drive the record records, not the one the caller names
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/drive-provenance-decisions.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeRecordResolution.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/IComposeService.cs
  tests/Spaarke.ArchTests/SpeWriteSinkContainerProvenanceGuardTests.cs
  tests/integration/data-mutation/Compose/ComposeDriveProvenanceTests.cs
Owners: @spaarke-dev

fix(docs): binding agent docs commanded dead paths and a banned build command
  .claude/constraints/pcf.md
  .claude/patterns/pcf/control-initialization.md
  .claude/patterns/pcf/error-handling.md
  .claude/patterns/pcf/fluent-v9-canvas-vs-mda-disabled.md
  .claude/patterns/pcf/fluent-v9-modern-theming.md
  .claude/patterns/pcf/theme-management.md
  .claude/patterns/ui/fluent-v9-theming.md
  src/client/pcf/CLAUDE.md
  src/client/pcf/tsconfig.json
Owners: @spaarke-dev

chore(uac-r2): checkpoint - ordered remaining-work list with the traps that caused rework
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

docs(compose-r8): mark rows 1/2/4/5 done in the work list — the markers had drifted behind the Quick Recovery header
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

checkpoint(uac-r2): context-handoff before /compact - refresh a STALE recovery header
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

test(compose 699): make citation-resolver parity a forcing function, not a convention
  projects/spaarkeai-compose-r8/notes/699-advisory-anchor-findings.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeCitationResolver.parity.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeCitationResolver.ts
  src/server/api/Sprk.Bff.Api/Services/Compose/CitationResolver.cs
  tests/Spaarke.ArchTests/ComposeCitationResolverParityGuardTests.cs
  tests/fixtures/compose-citation-parity/cases.json
  tests/integration/seam/Compose/ComposeCitationParityCorpusTests.cs
Owners: @spaarke-dev

fix(external-spa): external document download 404s on a route that never existed
  src/client/external-spa/src/auth/bff-client.ts
  src/client/external-spa/src/components/DocumentLibrary.tsx
Owners: @spaarke-dev

docs(uac-r2): item 2 done (47 not 48 - list was wrong); item 3 partial + escalation
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

fix(compose 858): stop sending a container on create-on-save, and delete the pre-save gate
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.renderOnSave.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
Owners: @spaarke-dev

docs(compose-r8): rows 6/7/8 done — #699 and #853 closed, #858 client cutover landed
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

docs(compose-r8): 090 wrap-up — test diet, residual-loss republish, and three holes in the guard that keeps it honest
  .claude/CHANGELOG.md
  CLAUDE.md
  docs/architecture/COMPOSE-WRITE-RESIDUAL-LOSS.md
  projects/INDEX.md
  projects/spaarkeai-compose-r8/notes/lessons-learned.md
  projects/spaarkeai-compose-r8/notes/test-diet-report.md
  tests/integration/seam/Compose/ComposeResidualLossParityTests.cs
Owners: @spaarke-dev, @docs-team

feat(email-intelligence-r2): add-in multi-tool nav + inline Create To Do (WIP)
  projects/email-communication-intelligence-r2/spaarke-color-logo-only.svg
  src/client/office-addins/outlook/taskpane/index.tsx
  src/client/office-addins/outlook/taskpane/taskpane-test.html
  src/client/office-addins/shared/taskpane/App.tsx
  src/client/office-addins/shared/taskpane/components/TaskPaneNavigation.tsx
  src/client/office-addins/shared/taskpane/components/__tests__/TaskPaneNavigation.test.tsx
  src/client/office-addins/shared/taskpane/components/views/CreateTodoView.tsx
  src/client/office-addins/shared/taskpane/components/views/index.ts
Owners: @spaarke-dev

docs(compose-r8): deploy record + UAT plan (BFF 45.43 MB, sprk_spaarkeai 5,752 KB, deployed together per NFR-05)
  projects/spaarkeai-compose-r8/notes/uat/identity-key-report-2026-09-02.json
  projects/spaarkeai-compose-r8/notes/uat/uat-plan-2026-09-02.md
Owners: @spaarke-dev

feat(external-access): restore GET/POST project events for calendar (R10/R11)
  src/client/external-spa/src/api/web-api-client.ts
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/Dtos/ExternalProjectDtos.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ExternalProjectDataEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ExternalDataService.cs
  tests/integration/contract/Api/ExternalAccess/ExternalAccessContractTests.cs
  tests/integration/contract/Api/ExternalAccess/ExternalProjectEventContractTests.cs
Owners: @spaarke-dev

feat(email-intelligence-r2): add-in Slice 1 — consolidated toolbar + brand logo + 'Related to'
  src/client/office-addins/shared/taskpane/components/SaveFlow.tsx
  src/client/office-addins/shared/taskpane/components/SpaarkeLogo.tsx
  src/client/office-addins/shared/taskpane/components/TaskPaneNavigation.tsx
  src/client/office-addins/shared/taskpane/components/TaskPaneShell.tsx
  src/client/office-addins/shared/taskpane/components/TaskPaneToolbar.tsx
Owners: @spaarke-dev

feat(external-access): document version history for external users (R13)
  src/client/external-spa/src/components/DocumentLibrary.tsx
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/Dtos/ExternalProjectDtos.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ExternalProjectDataEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/DriveItemOperations.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/ISpeFileOperations.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeFileStore.cs
  tests/integration/auth/UnifiedAccessControl/DocumentVersionAuthorizationTests.cs
Owners: @spaarke-dev

fix(ai-catalog): seed the 3 orphan email tool rows; correct the publish-size rule
  .claude/constraints/azure-deployment.md
  CLAUDE.md
  projects/spaarkeai-compose-r8/notes/uat/uat-plan-2026-09-02.md
  scripts/Seed-TypedHandlers.ps1
Owners: @spaarke-dev, @devops-team

docs(compose-r8): point the project's publish-size note at the corrected rule
  projects/spaarkeai-compose-r8/CLAUDE.md
Owners: @spaarke-dev

docs(compose-r8): fix an HTML entity that leaked into the markdown
  projects/spaarkeai-compose-r8/CLAUDE.md
Owners: @spaarke-dev

docs(compose-r8): UAT round 1 — findings, root causes, and a scope split
  projects/spaarkeai-compose-r8/notes/uat/uat-round-1-findings-and-plan.md
Owners: @spaarke-dev

checkpoint: context-handoff — deployed, UAT round 1 analysed, scope decision pending
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

feat(email-intelligence-r2): add-in Slice 2 — Related-to auto-match cards + type chips
  src/client/office-addins/shared/taskpane/components/RelatedToPicker.tsx
  src/client/office-addins/shared/taskpane/components/SaveFlow.tsx
  src/client/office-addins/shared/taskpane/components/TaskPaneToolbar.tsx
  src/client/office-addins/shared/taskpane/services/communicationSuggestionsService.ts
Owners: @spaarke-dev

docs(compose-r8): answer the numbering design question; take the scope call
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/uat/numbering-editing-design-options.md
Owners: @spaarke-dev

fix(reporting): privilege gating never worked - read it from /status, not a route that does not exist (R3)
  src/solutions/Reporting/src/hooks/useReportingPrivilege.ts
  src/solutions/Reporting/src/services/reportingApi.ts
Owners: @spaarke-dev

feat(email-intelligence-r2): add-in Slice 2 refinements — layout + confirmed state + mandatory AI
  src/client/office-addins/shared/taskpane/components/RelatedToPicker.tsx
  src/client/office-addins/shared/taskpane/components/SaveFlow.tsx
Owners: @spaarke-dev

fix(compose): refuse list toggles that silently destroy a numbered heading (U-0)
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/uat/u0-heading-style-loss.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.numberedBlockGuard.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.tsx
Owners: @spaarke-dev

docs(spe): correct the stale 4 MB upload limit in ISpeFileOperations
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/ISpeFileOperations.cs
Owners: @spaarke-dev

feat(email-intelligence-r2): add-in Slice 2 round-3 — chips right, icon buttons, wizard footer
  src/client/office-addins/shared/taskpane/components/RelatedToPicker.tsx
  src/client/office-addins/shared/taskpane/components/SaveFlow.tsx
Owners: @spaarke-dev

docs(compose-r8): record the U-0 code-page re-deploy; correct a false route-smoke record
  projects/spaarkeai-compose-r8/notes/uat/uat-plan-2026-09-02.md
Owners: @spaarke-dev

docs(compose-r8): retract the numbering note's "harder half" — the write path already exists
  projects/spaarkeai-compose-r8/notes/uat/numbering-editing-design-options.md
Owners: @spaarke-dev

fix(upload): remove the 4 MiB client ceiling - it enforced a server cap that does not exist
  src/client/shared/Spaarke.SdapClient/src/SdapApiClient.ts
  src/client/shared/Spaarke.SdapClient/src/operations/UploadOperation.ts
  src/server/api/Sprk.Bff.Api/Api/OBOEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Validation/PathValidator.cs
  tests/Spaarke.ArchTests/RouteAuthorizationGuardTests.cs
Owners: @spaarke-dev

feat(email-intelligence-r2): add-in Related-to round-4 — spacing, sizing, persistent search
  src/client/office-addins/shared/taskpane/components/RelatedToPicker.tsx
Owners: @spaarke-dev

docs(email-intelligence-r2): context-handoff — add-in redesign Slices 1-2 done, Slice 3 (BFF create) scoping
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

refactor(spe): state conflictBehavior explicitly on the content PUT (collision fix foundation)
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/UploadSessionManager.cs
Owners: @spaarke-dev

feat(email-intelligence-r2): add-in Slice 3 — BFF-backed inline 'New record' (Matter/Project)
  src/client/office-addins/shared/taskpane/components/RelatedToPicker.tsx
  src/client/office-addins/shared/taskpane/components/SaveFlow.tsx
  src/server/api/Sprk.Bff.Api/Api/Office/OfficeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Office/IOfficeService.cs
  src/server/api/Sprk.Bff.Api/Services/Office/OfficeService.cs
Owners: @spaarke-dev

fix(compose): stop the toolbar claiming a save it never performs; restore a real scrollbar
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.scroll.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.tsx
Owners: @spaarke-dev

fix(compose): expose Heading 4-6 in the Body menu (UAT round 2 #2)
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.numberedBlockGuard.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.tsx
Owners: @spaarke-dev

docs(compose-r8): UAT round 2 — Track A passes, numbering round-trip confirmed
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/uat/uat-round-2-findings.md
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
