Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

docs(task-4): Add Task 4 completion report
  dev/projects/quickcreate_pcf_component/TASK-4-COMPLETION-REPORT.md
Owners: @spaarke-dev

feat(deployment): Add web resource to solution for automatic deployment
  scripts/Deploy-WebResource-v3.ps1
  src/controls/UniversalQuickCreate/UniversalQuickCreateSolution/src/WebResources/sprk_subgrid_commands.js
Owners: @spaarke-dev, @devops-team

docs(testing): Add comprehensive verification and testing script
  dev/projects/quickcreate_pcf_component/VERIFICATION-TEST-SCRIPT.md
Owners: @spaarke-dev

docs: Create comprehensive deployment issue summary for expert consultation
  dev/projects/quickcreate_pcf_component/DEPLOYMENT-ISSUE-SUMMARY.md
Owners: @spaarke-dev

docs: Create comprehensive remedial plan checklist for Custom Page dialog fix
  dev/projects/quickcreate_pcf_component/REMEDIAL-PLAN-CHECKLIST.md
Owners: @spaarke-dev

Finalize Universal Quick Create dialog fixes
  .claude/settings.local.json
  Directory.Packages.props
  dev/projects/quickcreate_pcf_component/CUSTOM-PAGE-CONFIGURATION-FIX.md
  dev/projects/quickcreate_pcf_component/CUSTOM-PAGE-PARAMETER-DEBUG.md
  dev/projects/quickcreate_pcf_component/Custom-Page-Dialog-Diagnostic-and-Fix-10-22-2025.md
  dev/projects/quickcreate_pcf_component/EXPERT-CONSULT-PARAM-NOT-WORKING.md
  dev/projects/quickcreate_pcf_component/EXPERT-CONSULTATION-CUSTOM-PAGE-PARAMETERS.md
  dev/projects/quickcreate_pcf_component/EXPERT-REVIEW-FILES.md
  dev/projects/quickcreate_pcf_component/FINAL-DIAGNOSTIC-CHECKLIST.md
  dev/projects/quickcreate_pcf_component/FINAL-SOLUTION-CHECKLIST.md
  dev/projects/quickcreate_pcf_component/PCF-VERSION-VERIFICATION.js
  dev/projects/quickcreate_pcf_component/PHASE-2-CORRECTED-FORMULAS.md
  dev/projects/quickcreate_pcf_component/PHASE-3-4-DEPLOYMENT-INSTRUCTIONS.md
  dev/projects/quickcreate_pcf_component/REMEDIAL-PLAN-CHECKLIST.md
  dev/projects/quickcreate_pcf_component/REPOSITORY-INVENTORY.md
  dev/projects/quickcreate_pcf_component/V3.0.2-DEPLOYMENT-GUIDE.md
  dev/projects/quickcreate_pcf_component/V3.0.2-FINAL-DEPLOYMENT-GUIDE.md
  scripts/Update-WebResource-v3.0.2.ps1
  sprk_subgrid_commands.js
  src/controls/UniversalQuickCreate/UniversalQuickCreate/ControlManifest.Input.xml
  src/controls/UniversalQuickCreate/UniversalQuickCreate/UniversalDocumentUploadPCF.ts
  src/controls/UniversalQuickCreate/UniversalQuickCreate/index.ts
  src/controls/UniversalQuickCreate/UniversalQuickCreateSolution/WebResources/sprk_subgrid_commands.js
  src/controls/UniversalQuickCreate/UniversalQuickCreateSolution/src/WebResources/sprk_subgrid_commands.js
  src/controls/UniversalQuickCreate/package-lock.json
Owners: @spaarke-dev, @devops-team

Bump Universal Quick Create assets to v3.0.3
  scripts/Update-WebResource-v3.0.3.ps1
  sprk_subgrid_commands.js
  src/controls/UniversalQuickCreate/UniversalQuickCreate/ControlManifest.Input.xml
  src/controls/UniversalQuickCreate/UniversalQuickCreate/index.ts
  src/controls/UniversalQuickCreate/UniversalQuickCreateSolution/CustomPages/sprk_universaldocumentupload_page.json
  src/controls/UniversalQuickCreate/UniversalQuickCreateSolution/UniversalQuickCreateSolution.cdsproj
  src/controls/UniversalQuickCreate/UniversalQuickCreateSolution/WebResources/sprk_subgrid_commands.js
  src/controls/UniversalQuickCreate/UniversalQuickCreateSolution/src/WebResources/sprk_subgrid_commands.js
Owners: @spaarke-dev, @devops-team

Implement custom page hydration guard
  dev/projects/quickcreate_pcf_component/custom-page-code.yaml
  dev/projects/quickcreate_pcf_component/custom-page/App.fx.yaml
  src/controls/UniversalQuickCreate/UniversalQuickCreateSolution/src/WebResources/sprk_subgrid_commands.js
  src/controls/UniversalQuickCreate/UniversalQuickCreateSolution/src/canvaspages/sprk_universaldocumentupload_page.json
Owners: @spaarke-dev

Document custom page solution architecture
  docs/development/UniversalDocumentUpload_CustomPage_Solution.md
Owners: @spaarke-dev, @docs-team

feat(shared): add SDAP shared client library for multi-platform file operations
  src/client/shared/Spaarke.SdapClient/README.md
  src/client/shared/Spaarke.SdapClient/SDAP-CLIENT-V2-FUTURE-PROJECT-BRIEFING.md
  src/client/shared/Spaarke.SdapClient/SDAP-CLIENT-V2-INTEGRATION-GUIDE.md
  src/client/shared/Spaarke.SdapClient/SDAP-CLIENT-V2-MIGRATION-PLAN.md
  src/client/shared/Spaarke.SdapClient/SDAP-CLIENT-V2-PACKAGE-OVERVIEW.md
  src/client/shared/Spaarke.SdapClient/jest.config.js
  src/client/shared/Spaarke.SdapClient/package-lock.json
  src/client/shared/Spaarke.SdapClient/package.json
  src/client/shared/Spaarke.SdapClient/spaarke-sdap-client-1.0.0.tgz
  src/client/shared/Spaarke.SdapClient/src/SdapApiClient.ts
  src/client/shared/Spaarke.SdapClient/src/__tests__/SdapApiClient.test.ts
  src/client/shared/Spaarke.SdapClient/src/auth/TokenProvider.ts
  src/client/shared/Spaarke.SdapClient/src/index.ts
  src/client/shared/Spaarke.SdapClient/src/operations/DeleteOperation.ts
  src/client/shared/Spaarke.SdapClient/src/operations/DownloadOperation.ts
  src/client/shared/Spaarke.SdapClient/src/operations/UploadOperation.ts
  src/client/shared/Spaarke.SdapClient/src/types/index.ts
  src/client/shared/Spaarke.SdapClient/tsconfig.json
Owners: @spaarke-dev, @docs-team

refactor: reorganize web resources and PCF documentation
  src/client/pcf/UniversalDatasetGrid/docs/CHANGELOG.md
  src/client/pcf/UniversalDatasetGrid/docs/COMPONENT_API.md
  src/client/pcf/UniversalDatasetGrid/docs/README.md
  src/client/pcf/UniversalDatasetGrid/docs/SPRINT_5B_SUMMARY.md
  src/client/pcf/UniversalDatasetGrid/docs/VIRTUALIZATION_INVESTIGATION.md
  src/dataverse/webresources/spaarke_documents/DocumentOperations.js
  src/dataverse/webresources/spaarke_documents/README.md
Owners: @spaarke-dev, @docs-team

docs: update SDAP architecture guide for repository restructure
  docs/architecture/SDAP-ARCHITECTURE-GUIDE.md
  src/dataverse/plugins/Spaarke.CustomApiProxy/docs/CUSTOM-API-PROXY-TECHNICAL-OVERVIEW.md
Owners: @spaarke-dev, @docs-team

docs: update UniversalQuickCreate documentation for repository restructure
  src/client/pcf/UniversalQuickCreate/REPO-STRUCTURE.md
  src/client/pcf/UniversalQuickCreate/docs/DEPLOYMENT-GUIDE.md
Owners: @spaarke-dev, @docs-team

feat(claude): add skills infrastructure for dataverse, ribbon, and git workflows
  .claude/commands/adr-check.md
  .claude/commands/code-review.md
  .claude/commands/design-to-project.md
  .claude/commands/new-project.md
  .claude/commands/project-init.md
  .claude/commands/project-status.md
  .claude/commands/pull-from-github.md
  .claude/commands/push-to-github.md
  .claude/commands/task-create.md
  .claude/skills/INDEX.md
  .claude/skills/dataverse-deploy/SKILL.md
  .claude/skills/pull-from-github/SKILL.md
  .claude/skills/push-to-github/SKILL.md
  .claude/skills/ribbon-edit/SKILL.md
  .claude/skills/task-create/SKILL.md
  CLAUDE.md
  docs/ai-knowledge/templates/project-README.template.md
  docs/ai-knowledge/templates/project-plan.template.md
  docs/reference/articles/RIBBON-COMMAND-BAR-MODIFICATIONS.md
Owners: @spaarke-dev, @docs-team

feat(pcf): enhance SpeFileViewer with desktop app integration
  projects/sdap-fileviewer-enhancements-1/tasks/001-create-desktop-url-builder - Copy.poml
  projects/sdap-fileviewer-enhancements-1/tasks/TASK-INDEX - Copy.md
  src/client/pcf/SpeFileViewer/control/FilePreview.tsx
  src/client/pcf/SpeFileViewer/control/css/SpeFileViewer.css
  src/client/pcf/SpeFileViewer/control/index.ts
  src/client/pcf/SpeFileViewer/control/types.ts
  src/client/pcf/SpeFileViewer/package-lock.json
  src/client/pcf/SpeFileViewer/package.json
Owners: @spaarke-dev

feat(pcf): update UniversalQuickCreate and UniversalDatasetGrid
  src/client/pcf/UniversalDatasetGrid/control/index.ts
  src/client/pcf/UniversalQuickCreate/Solution/src/WebResources/sprk_subgrid_commands.js
  src/client/pcf/UniversalQuickCreate/control/ControlManifest.Input.xml
  src/client/pcf/UniversalQuickCreate/control/components/DocumentUploadForm.tsx
  src/client/pcf/UniversalQuickCreate/control/index.ts
Owners: @spaarke-dev

docs: update AI document summary project tasks and procedures
  .claude/skills/INDEX.md
  .claude/skills/design-to-project/SKILL.md
  .claude/skills/repo-cleanup/SKILL.md
  CLAUDE.md
  docs/ai-knowledge/architecture/sdap-component-interactions.md
  docs/ai-knowledge/templates/task-execution.template.md
  docs/reference/architecture/SPAARKE-REPOSITORY-ARCHITECTURE.md
  projects/ai-document-summary/plan.md
  projects/ai-document-summary/spec.md
  projects/ai-document-summary/tasks/001-azure-openai-client-setup.poml
  projects/ai-document-summary/tasks/002-configuration-keyvault.poml
  projects/ai-document-summary/tasks/010-text-extraction-service.poml
  projects/ai-document-summary/tasks/020-summarize-service-core.poml
  projects/ai-document-summary/tasks/030-streaming-endpoint.poml
  projects/ai-document-summary/tasks/031-enqueue-endpoints.poml
  projects/ai-document-summary/tasks/032-authorization-filter.poml
  projects/ai-document-summary/tasks/040-dataverse-fields.poml
  projects/ai-document-summary/tasks/041-solution-update.poml
  projects/ai-document-summary/tasks/049-ai-summary-panel.poml
  projects/ai-document-summary/tasks/050-ai-summary-carousel.poml
  projects/ai-document-summary/tasks/052-form-integration.poml
  projects/ai-document-summary/tasks/060-document-intelligence.poml
  projects/ai-document-summary/tasks/061-image-file-support.poml
  projects/ai-document-summary/tasks/070-error-handling.poml
  projects/ai-document-summary/tasks/071-monitoring-alerting.poml
  projects/ai-document-summary/tasks/072-rate-limiting.poml
  projects/ai-document-summary/tasks/073-documentation.poml
  projects/ai-document-summary/tasks/090-project-wrap-up.poml
  projects/ai-document-summary/tasks/TASK-INDEX.md
  projects/sdap-fileviewer-enhancements-1/tasks/042-production-deployment.poml
  src/client/pcf/ThemeEnforcer/package-lock.json
  tests/code review/BFF_API_Code_Review.md
  tests/code review/PCF_Code_Review.md
Owners: @spaarke-dev, @docs-team

docs(skills): add PR workflow guidance to project lifecycle skills
  .claude/skills/design-to-project/SKILL.md
  .claude/skills/project-init/SKILL.md
  .claude/skills/push-to-github/SKILL.md
Owners: @spaarke-dev

docs(procedures): add 00-project-quick-start cheat sheet
  docs/reference/procedures/00-project-quick-start.md
  docs/reference/procedures/INDEX.md
Owners: @spaarke-dev, @docs-team

chore(project): cleanup mda-darkmode-theme - update status, remove ephemeral images
  projects/mda-darkmode-theme/CLAUDE.md
  projects/mda-darkmode-theme/notes/image1.png
  projects/mda-darkmode-theme/notes/image2.png
  projects/mda-darkmode-theme/notes/image3.png
  projects/mda-darkmode-theme/notes/image4.png
  projects/mda-darkmode-theme/notes/main-menu-top-level.jpg
  projects/mda-darkmode-theme/notes/menu-sub-level.jpg
Owners: @spaarke-dev

fix(infra): update deploy workflow paths for Sprk.Bff.Api rename
  .github/workflows/deploy-to-azure.yml
Owners: @spaarke-dev, @devops-team

fix(api): resolve nullable reference warnings for CI build
  src/server/api/Sprk.Bff.Api/Api/NavMapEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Dataverse/DocumentStorageResolver.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/DriveItemOperations.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/GraphClientFactory.cs
  src/server/api/Sprk.Bff.Api/Program.cs
Owners: @spaarke-dev

fix(security): update Microsoft.Identity.Web to 3.8.2 (CVE-2025-32016)
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
Owners: @spaarke-dev

fix(deps): update JWT package to 8.7.0 for Identity.Web compatibility
  tests/integration/Spe.Integration.Tests/Spe.Integration.Tests.csproj
Owners: @spaarke-dev

fix(quality): resolve formatting and code analysis errors
  src/server/api/Sprk.Bff.Api/Api/FileAccessEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/DriveItemOperations.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/SummarizeResult.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
Owners: @spaarke-dev

fix(quality): suppress IDE0060 unused parameter warnings
  src/server/api/Sprk.Bff.Api/Api/Ai/SummarizeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Http/GraphHttpMessageHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/DocumentEventHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/SummarizeJobHandler.cs
Owners: @spaarke-dev

fix(security): override vulnerable transitive dependencies
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
  tests/integration/Spe.Integration.Tests/Spe.Integration.Tests.csproj
  tests/unit/Sprk.Bff.Api.Tests/Sprk.Bff.Api.Tests.csproj
Owners: @spaarke-dev

fix(ci): update project paths for renamed BFF API
  .github/workflows/sdap-ci.yml
Owners: @spaarke-dev, @devops-team

fix(deploy): use cross-workflow artifact download for staging
  .github/workflows/deploy-staging.yml
Owners: @spaarke-dev, @devops-team

feat(ai): complete Phase 1 - email metadata extraction and repo cleanup
  .claude/settings.local.json
  .gitignore
  docs/guides/AI-SUMMARY-QUICK-REF.md
  docs/guides/TROUBLESHOOTING-AI-SUMMARY.md
  docs/reference/research/KM-EMAIL-METADATA-PERSISTENCE-FIX.md
  projects/ai-document-intelligence-r1/DESIGN-SPEC.md
  projects/ai-document-intelligence-r1/Spaarke Document Intelligence AI overview.txt
  projects/ai-file-entity-metadata-extraction/tasks/TASK-INDEX.md
  scripts/Diagnose-AiSummaryService.ps1
  scripts/check-dataverse-columns.ps1
  src/server/api/Sprk.Bff.Api/Api/Ai/DocumentIntelligenceEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/DocumentAnalysisResult.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/EmailMetadata.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/TextExtractionResult.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/DocumentIntelligenceService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/TextExtractorService.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/DocumentAnalysisJobHandler.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/Models.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/DataverseEntitySchemaTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/TextExtractorServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Sprk.Bff.Api.Tests.csproj
Owners: @spaarke-dev, @docs-team, @devops-team

chore(ai-di-r1): add task audit script
  projects/ai-document-intelligence-r1/scripts/audit-tasks.ps1
Owners: @spaarke-dev, @devops-team

chore(ai-di-r1): update task triage statuses
  projects/ai-document-intelligence-r1/tasks/003-create-token-replacement-appsettings-json-template.poml
  projects/ai-document-intelligence-r1/tasks/021-export-dataverse-solution-package.poml
  projects/ai-document-intelligence-r1/tasks/035-verify-all-environment-variables-resolve-correctly.poml
  projects/ai-document-intelligence-r1/tasks/037-create-phase-1-deployment-guide.poml
  projects/ai-document-intelligence-r1/tasks/041-add-form-scripts-for-navigation-to-analysis-workspace.poml
  projects/ai-document-intelligence-r1/tasks/042-create-analysis-builder-pcf-component.poml
  projects/ai-document-intelligence-r1/tasks/043-add-action-selector-component.poml
  projects/ai-document-intelligence-r1/tasks/044-add-skills-multi-select-component.poml
  projects/ai-document-intelligence-r1/tasks/045-add-knowledge-multi-select-component.poml
  projects/ai-document-intelligence-r1/tasks/046-add-tools-multi-select-component.poml
  projects/ai-document-intelligence-r1/tasks/047-add-output-options-component.poml
  projects/ai-document-intelligence-r1/tasks/048-add-playbook-selector-component.poml
  projects/ai-document-intelligence-r1/tasks/049-implement-start-analysis-button-with-api-call.poml
  projects/ai-document-intelligence-r1/tasks/062-test-analysis-creation-from-document-form.poml
  projects/ai-document-intelligence-r1/tasks/063-test-analysis-workspace-navigation.poml
  projects/ai-document-intelligence-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(tests): add missing constructor parameters to AnalysisOrchestrationServiceTests
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AnalysisOrchestrationServiceTests.cs
Owners: @spaarke-dev

style: fix whitespace formatting in DocumentAnalysisResult.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/DocumentAnalysisResult.cs
Owners: @spaarke-dev

feat(pcf): AnalysisBuilder v1.5.0 - responsive dialog sizing & ribbon cleanup
  .gitignore
  infrastructure/dataverse/ribbon/AnalysisRibbons/Entities/sprk_analysis/Entity.xml
  infrastructure/dataverse/ribbon/AnalysisRibbons/Entities/sprk_analysis/RibbonDiff.xml
  infrastructure/dataverse/ribbon/AnalysisRibbons/Entities/sprk_document/RibbonDiff.xml
  infrastructure/dataverse/ribbon/AnalysisRibbons/WebResources/sprk_analysis_commands.js
  src/client/pcf/AnalysisBuilder/AnalysisBuilder.pcfproj
  src/client/pcf/AnalysisBuilder/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisBuilder/control/components/AnalysisBuilderApp.tsx
  src/client/pcf/AnalysisBuilder/control/components/FooterActions.tsx
  src/client/pcf/AnalysisBuilder/control/components/PlaybookSelector.tsx
  src/client/pcf/AnalysisBuilder/control/components/ScopeList.tsx
  src/client/pcf/AnalysisBuilder/control/css/AnalysisBuilder.css
  src/client/pcf/AnalysisBuilder/control/index.ts
  src/client/pcf/AnalysisBuilder/package-lock.json
  src/client/pcf/SpeFileViewer/Solution/src/Other/Customizations.xml.bak
  src/client/pcf/SpeFileViewer/control/strings/SpeFileViewer.1033.resx.bak
  src/client/pcf/UniversalDatasetGrid/control/index-full.ts.bak
  src/client/pcf/UniversalDatasetGrid/webpack.config.js.bak
Owners: @spaarke-dev

docs(procedures): align development procedures with repo structure
  docs/ai-knowledge/reference/power-apps-custom-pages.md
  docs/reference/procedures/00-project-quick-start.md
  docs/reference/procedures/01-overview.md
  docs/reference/procedures/03-stages-1-3-planning.md
  docs/reference/procedures/04-ai-execution-protocol.md
  docs/reference/procedures/05-poml-reference.md
  docs/reference/procedures/06-context-engineering.md
  docs/reference/procedures/07-quick-start.md
  docs/reference/procedures/08-stage-checklists.md
  docs/reference/procedures/09-repo-and-github-process.md
  docs/reference/procedures/INDEX.md
  docs/reference/procedures/SPAARKE-SOFTWARE-DEVELOPMENT-PROCEDURES-FULL.md
  docs/reference/procedures/SPAARKE-SOFTWARE-DEVELOPMENT-PROCEDURES-OVERVIEW.md
Owners: @spaarke-dev, @docs-team

feat(pcf): AnalysisBuilder v1.5.0 + docs alignment (#56)
  .gitignore
  docs/ai-knowledge/reference/power-apps-custom-pages.md
  docs/reference/procedures/00-project-quick-start.md
  docs/reference/procedures/01-overview.md
  docs/reference/procedures/03-stages-1-3-planning.md
  docs/reference/procedures/04-ai-execution-protocol.md
  docs/reference/procedures/05-poml-reference.md
  docs/reference/procedures/06-context-engineering.md
  docs/reference/procedures/07-quick-start.md
  docs/reference/procedures/08-stage-checklists.md
  docs/reference/procedures/09-repo-and-github-process.md
  docs/reference/procedures/INDEX.md
  docs/reference/procedures/SPAARKE-SOFTWARE-DEVELOPMENT-PROCEDURES-FULL.md
  docs/reference/procedures/SPAARKE-SOFTWARE-DEVELOPMENT-PROCEDURES-OVERVIEW.md
  infrastructure/dataverse/ribbon/AnalysisRibbons/Entities/sprk_analysis/Entity.xml
  infrastructure/dataverse/ribbon/AnalysisRibbons/Entities/sprk_analysis/RibbonDiff.xml
  infrastructure/dataverse/ribbon/AnalysisRibbons/Entities/sprk_document/RibbonDiff.xml
  infrastructure/dataverse/ribbon/AnalysisRibbons/WebResources/sprk_analysis_commands.js
  src/client/pcf/AnalysisBuilder/AnalysisBuilder.pcfproj
  src/client/pcf/AnalysisBuilder/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisBuilder/control/components/AnalysisBuilderApp.tsx
  src/client/pcf/AnalysisBuilder/control/components/FooterActions.tsx
  src/client/pcf/AnalysisBuilder/control/components/PlaybookSelector.tsx
  src/client/pcf/AnalysisBuilder/control/components/ScopeList.tsx
  src/client/pcf/AnalysisBuilder/control/css/AnalysisBuilder.css
  src/client/pcf/AnalysisBuilder/control/index.ts
  src/client/pcf/AnalysisBuilder/package-lock.json
  src/client/pcf/SpeFileViewer/Solution/src/Other/Customizations.xml.bak
  src/client/pcf/SpeFileViewer/control/strings/SpeFileViewer.1033.resx.bak
  src/client/pcf/UniversalDatasetGrid/control/index-full.ts.bak
  src/client/pcf/UniversalDatasetGrid/webpack.config.js.bak
Owners: @spaarke-dev, @docs-team

fix(ribbon): correct AnalysisRibbons solution structure
  infrastructure/dataverse/ribbon/AnalysisRibbons/Entities/sprk_analysis/Entity.xml
  infrastructure/dataverse/ribbon/AnalysisRibbons/Entities/sprk_document/RibbonDiff.xml
  infrastructure/dataverse/ribbon/AnalysisRibbons/Other/Customizations.xml
  infrastructure/dataverse/ribbon/AnalysisRibbons/Other/Solution.xml
  infrastructure/dataverse/ribbon/AnalysisRibbons/WebResources/sprk_analysis_commands.js
  projects/ai-document-intelligence-r1/Analysis_RibbonDiffXml.txt
  projects/ai-document-intelligence-r1/Document_RibbonDiffXml.txt
Owners: @spaarke-dev

feat(ai-di-r1): Phase 1 gaps - token template and security roles
  projects/ai-document-intelligence-r1/docs/security-roles.md
  projects/ai-document-intelligence-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  src/server/api/Sprk.Bff.Api/appsettings.tokens.md
Owners: @spaarke-dev, @docs-team

fix(pcf): correct SSE endpoint URL and parsing format for AnalysisWorkspace
  projects/ai-document-intelligence-r1/tasks/TASK-INDEX.md
  projects/email-to-document-automation/SPEC.md
  src/client/pcf/AnalysisWorkspace/control/hooks/useSseStream.ts
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
