Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

chore(uac-r2): mark 039 complete; record the round's findings
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(uac-r2): re-measure publish after the wave; correct a subagent's 50.42 MB
  projects/unified-access-control-r2/notes/publish-size-2026-09-05.md
Owners: @spaarke-dev

chore(uac-r2): handoff — 33 commits have NO PR and therefore NO CI
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

docs(compose-r8): session record — dead-wire audit closed, document link vocabulary unified
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

chore(uac-r2): full status audit — 17 POML/index disagreements found and resolved
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/tasks/011-reject-same-entity-self-join.poml
  projects/unified-access-control-r2/tasks/013-workforce-email-oid-nohijack.poml
  projects/unified-access-control-r2/tasks/015-membership-paging-deterministic.poml
  projects/unified-access-control-r2/tasks/018-remove-dead-filter-bound-in-clause.poml
  projects/unified-access-control-r2/tasks/020-org-grant-spe-member-cleanup.poml
  projects/unified-access-control-r2/tasks/038-fr23-deny-list-store.poml
  projects/unified-access-control-r2/tasks/039-fr23-deny-veto-wiring-pipeline-tests.poml
  projects/unified-access-control-r2/tasks/041-fr24-access-conferring-column-registry.poml
  projects/unified-access-control-r2/tasks/051-regarding-resolver-restamp-on-reparent.poml
  projects/unified-access-control-r2/tasks/053-ancestor-stamp-backfill-script.poml
  projects/unified-access-control-r2/tasks/070-gate-semantic-search.poml
  projects/unified-access-control-r2/tasks/074-archtest-route-authorization-gate.poml
  projects/unified-access-control-r2/tasks/080-authorize-cross-record-search.poml
  projects/unified-access-control-r2/tasks/081-scope-tenant-container-resolver-diagnostic.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(scripts): task-status drift check — the forcing function for CLAUDE.md §7
  .claude/CHANGELOG.md
  .claude/skills/push-to-github/SKILL.md
  .claude/skills/task-execute/SKILL.md
  scripts/check-task-status-drift.ps1
Owners: @spaarke-dev, @devops-team

docs(compose-r8): comprehensive GAPS-5 approach + 5-phase build plan + 4 decisions
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/gaps-5-review-summary-build-plan.md
Owners: @spaarke-dev

fix(tests): stop a shared ChatSession mock from contaminating the history assertion
  tests/integration/Spe.Integration.Tests/Api/Ai/ChatEndpointsTests.cs
Owners: @spaarke-dev

docs(compose-r8): make the retired-"memo" naming explicit in the GAPS-5 plan
  projects/spaarkeai-compose-r8/notes/gaps-5-review-summary-build-plan.md
Owners: @spaarke-dev

fix(tests): isolate the chat-history assertion from the shared session cache
  tests/integration/Spe.Integration.Tests/Api/Ai/ChatEndpointsTests.cs
Owners: @spaarke-dev

docs(uac-r2): handoff + project synopsis (objectives, deliverables, user/UX impact)
  projects/unified-access-control-r2/SYNOPSIS.md
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

checkpoint: context-handoff — next session builds GAPS-5 from the plan
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

feat(communication): R3-CARD-1 — reconciliation cards show type + reason, never a raw GUID
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailConnectionsReviewRows.tsx
  src/client/shared/Spaarke.Communication.Components/src/logic/connections/provenance.ts
Owners: @spaarke-dev

docs(email-r2): context-handoff — R3-CARD-1 done; next session builds R3-CARD-2 + creates email-r3 + worktree
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

docs(uac-r2): Trivy diagnosed — a real high CVE, and I dismissed it twice
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

docs(uac-r2): consolidate the recovery file — it had 3 stacked Quick Recovery blocks
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

docs(adr): 5 of 13 6.5 records complete; 8 escalated for owner sign-off
  projects/code-quality-and-assurance-r4/notes/decisions/012-ESCALATION-security-adrs.md
  projects/code-quality-and-assurance-r4/notes/decisions/012-adr-016-ai-cost-rate-limits.md
  projects/code-quality-and-assurance-r4/notes/decisions/012-adr-019-problemdetails.md
  projects/code-quality-and-assurance-r4/notes/decisions/012-adr-020-versioning.md
  projects/code-quality-and-assurance-r4/notes/decisions/012-adr-023-choice-dialog.md
  projects/code-quality-and-assurance-r4/notes/decisions/012-adr-033-streaming-side-channel.md
  projects/code-quality-and-assurance-r4/tasks/012-section-6-5-records-for-stale-adrs.poml
  projects/code-quality-and-assurance-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(failure-modes): grep silently cannot match characters above U+FFFF
  .claude/FAILURE-MODES.md
Owners: @spaarke-dev

docs(failure-modes): number the new gotcha G-16 and index it
  .claude/FAILURE-MODES.md
Owners: @spaarke-dev

feat(communication): R3-CARD-2 — "See all" candidates modal (the real top-3 truncation fix)
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailConnectionsReview.styles.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailConnectionsReview.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/__tests__/EmailAssociationsAndTracking.test.tsx
  src/client/shared/Spaarke.Communication.Components/src/logic/connections/__tests__/provenanceIdentity.test.ts
  src/client/shared/Spaarke.Communication.Components/src/logic/connections/provenance.ts
Owners: @spaarke-dev

fix(compose): the Review Summary showed the grounded fact where the judgment belongs
  src/client/shared/Spaarke.Compose.Components/src/widgets/AgreementReviewSummaryPanel.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/AgreementReviewSummaryPanel.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.redline-from-ledger.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
Owners: @spaarke-dev

feat(task-index): status gets a greppable ASCII token, not just an emoji
  .claude/CHANGELOG.md
  .claude/skills/task-create/SKILL.md
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  scripts/check-task-status-drift.ps1
Owners: @spaarke-dev, @devops-team

chore(uac-r2): refresh the handoff — it was 3 commits stale
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

docs(email-r3): initialize email-communication-intelligence-r3 project + design charter
  projects/email-communication-intelligence-r3/CLAUDE.md
  projects/email-communication-intelligence-r3/README.md
  projects/email-communication-intelligence-r3/design.md
  projects/email-communication-intelligence-r3/notes/.gitkeep
Owners: @spaarke-dev, @docs-team

refactor(compose): "Review Summary Memo" becomes "Review Summary" while the rename is still free
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeBannerStack.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/reviewMemoFormatting.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/ReviewMemoEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisResultPersistence.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ReviewMemo/ReviewMemoDocumentBuilder.cs
  tests/integration/contract/Api/Ai/ReviewMemoEndpointContractTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ReviewMemoOutputNameGuardTests.cs
  tests/unit/domain/ReviewMemo/ReviewMemoDocumentBuilderTests.cs
Owners: @spaarke-dev

feat(compose): the Review Summary can finally be created — wire the write call
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.redline-from-ledger.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/reviewMemoFormatting.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/reviewMemoFormatting.ts
  src/server/api/Sprk.Bff.Api/Services/Ai/ReviewMemo/ReviewMemoAssembler.cs
  tests/unit/domain/ReviewMemo/ReviewMemoAssemblerTests.cs
Owners: @spaarke-dev

docs: record what the §GAPS-5 build shipped, and the one item still open
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/gaps-5-review-summary-build-plan.md
Owners: @spaarke-dev

feat(uac-r2): task 083 -- the client-supplied container count reaches zero
  projects/unified-access-control-r2/SYNOPSIS.md
  projects/unified-access-control-r2/notes/task-083-sink-inventory.md
  projects/unified-access-control-r2/tasks/083-container-selection-authorization-sweep.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  src/dataverse/webresources/spaarke_documents/DocumentOperations.js
  src/server/api/Sprk.Bff.Api/Api/DocumentsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AuthorizationModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  tests/Spaarke.ArchTests/RouteAuthorizationGuardTests.cs
  tests/Spaarke.ArchTests/SpeWriteSinkContainerProvenanceGuardTests.cs
  tests/integration/regression/DriveKeyedWriteRouteRetirementTests.cs
Owners: @spaarke-dev

docs(uac-r2): handoff -- 083 closed, scope-cut proposal voided per owner
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

docs(email-r2): project wrap-up — conclude r2 (064 verified shipped, markers reconciled, test-diet clean)
  projects/email-communication-intelligence-r2/README.md
  projects/email-communication-intelligence-r2/current-task.md
  projects/email-communication-intelligence-r2/notes/test-diet-report.md
  projects/email-communication-intelligence-r2/tasks/064-createnew-quickstart-eml-preload.poml
  projects/email-communication-intelligence-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore(email-r2): write .archived close-out marker (local; board not registered)
  projects/email-communication-intelligence-r2/.archived
Owners: @spaarke-dev

chore(email-r2): portfolio registration — Issue #954 (Completed), README pointer + .archived
  projects/email-communication-intelligence-r2/.archived
  projects/email-communication-intelligence-r2/README.md
Owners: @spaarke-dev, @docs-team

fix(legalworkspace): close CVE-2026-41907 -- pin uuid past the fix
  src/solutions/LegalWorkspace/package-lock.json
  src/solutions/LegalWorkspace/package.json
Owners: @spaarke-dev

docs(uac-r2): 061 is blocked on 060 only -- and status has a THIRD home
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/tasks/060-poa-seam-consolidation.poml
  projects/unified-access-control-r2/tasks/061-secure-project-provisioning-rework.poml
Owners: @spaarke-dev

docs(spaarkeai): link D-UAT-01 to GitHub issue #957
  projects/spaarkeai-assistant-enhancements-r4/notes/defer-issues.md
Owners: @spaarke-dev

chore(quality): refresh handoff -- P1 complete, P2a at 012 escalation
  projects/code-quality-and-assurance-r4/current-task.md
Owners: @spaarke-dev

docs(handoff): SESSION 22 context-handoff — comprehensive state for fresh-session recovery
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

checkpoint(spe-admin-r2): handoff for a fresh/remote session
  projects/sdap-SPE-admin-app-r2/current-task.md
Owners: @spaarke-dev

chore(quality): sync with master (13 commits) + record post-merge verification
  projects/code-quality-and-assurance-r4/current-task.md
Owners: @spaarke-dev

docs(uac-r2): session-3 handoff -- cold-start block for task 060
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev
