Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

chore(spe-admin 060): delete the dead stub, move the misfiled endpoints file
  projects/sdap-SPE-admin-app-r2/tasks/060-hygiene-stub-and-misfiled.poml
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerItemEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Services/SpeAdmin/SpeAdminGraphService.cs
Owners: @spaarke-dev

checkpoint(spe-admin): 027 built + 060 done; PATCH-400 blocked on one operator sign-in
  projects/sdap-SPE-admin-app-r2/current-task.md
  projects/sdap-SPE-admin-app-r2/notes/delegated-diagnostics.py
Owners: @spaarke-dev

docs(uac-r2): secure-project investigations — container resolver is user-BU-based, not record-based
  projects/unified-access-control-r2/notes/secure-project-workflow-review-2026-08-24.md
Owners: @spaarke-dev

chore(compose): mark 049 + 055 in-flight (parallel wave 1)
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(uac-r2): amend design 5.1 + FR-28 + NFR-05 for the owner-team model and container special case
  projects/unified-access-control-r2/design.md
  projects/unified-access-control-r2/spec.md
Owners: @spaarke-dev

docs(uac-r2): re-scope task 021, file spaarke-secure-project-r1, checkpoint
  projects/spaarke-secure-project-r1/design.md
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/tasks/021-provisioning-stamping-patch.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(auth-v4): Group A — close 4 items that did not need deferring
  docs/guides/local-dev-obo-setup.md
  projects/spaarke-auth-v4-dataverse-MI/notes/PROVISIONING-CHANGE-REQUEST.md
  projects/spaarke-auth-v4-dataverse-MI/spec.md
  src/server/api/Sprk.Bff.Api/Api/Office/OfficeEndpoints.cs
Owners: @spaarke-dev, @docs-team

feat(compose): task 055 — anchored placement for whole-document edits AND review flags
  .claude/CHANGELOG.md
  projects/spaarkeai-compose-r8/notes/055-review-flag-placement-decision.md
  projects/spaarkeai-compose-r8/tasks/055-whole-document-anchored-placement.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.advisoryCommentParaId.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.redline-from-ledger.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeAnchorResolution.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeAnchorResolution.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/redlineTextSearch.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.wholeDocument.test.tsx
Owners: @spaarke-dev

feat(provisioning): apply task 203a Class-A punch list foundation (7 applied + 2 already-applied)
  .claude/constraints/provisioning.md
  .claude/patterns/provisioning/bff-vs-provisioning-boundary.md
  .claude/patterns/provisioning/handler-registration-completeness.md
  .claude/patterns/provisioning/keyvault-reference-identity-invariant.md
  .claude/patterns/provisioning/manifest-driven-secret-catalog.md
  .claude/patterns/provisioning/null-object-kill-switch-anti-pattern.md
  .claude/patterns/provisioning/openai-quota-region-composition.md
  .claude/patterns/provisioning/operator-rbac-bootstrap.md
  .claude/patterns/provisioning/progressive-fail-fast-recovery.md
  .claude/patterns/provisioning/resource-name-availability-precheck.md
  .claude/skills/provision-environment/SKILL.md
  .claude/skills/task-execute/SKILL.md
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/notes/task-202-punch-list.md
  projects/customer-provisioning-orchestration-r1/tasks/203a-apply-classA-punchlist-foundation.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  provisioning-runs/INDEX.md
  provisioning-runs/_archive/.gitkeep
  provisioning-runs/_templates/CLAUDE.md
  provisioning-runs/_templates/handler-log.md
  provisioning-runs/_templates/handoff-report.md
  provisioning-runs/_templates/intake.md
  provisioning-runs/_templates/lessons-learned.md
  provisioning-runs/_templates/manual-gates.md
  provisioning-runs/_templates/preflight-report.md
  provisioning-runs/_templates/prerequisites-check.md
Owners: @spaarke-dev

fix(spe-admin): the PATCH-400 was a missing etag, not an ownership rule — 023 AC-2 proven live
  projects/sdap-SPE-admin-app-r2/current-task.md
  projects/sdap-SPE-admin-app-r2/notes/delegated-diagnostics.py
  projects/sdap-SPE-admin-app-r2/notes/patch-400-resolution.md
  projects/sdap-SPE-admin-app-r2/notes/task-027-findings.md
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/solutions/SpeAdminApp/src/components/container-types/containerTypeOwners.ts
  tests/integration/contract/SpeAdmin/GraphWireMockFixture.cs
  tests/integration/contract/SpeAdmin/SpeAdminContainerTypeOwnerTests.cs
  tests/integration/contract/SpeAdmin/SpeAdminContainerTypeSettingsPatchTests.cs
Owners: @spaarke-dev

feat(spe-admin 027): AC-1 verified live — owners list/add/remove against Spaarke Dev
  projects/sdap-SPE-admin-app-r2/notes/task-027-findings.md
  projects/sdap-SPE-admin-app-r2/notes/verify-container-type-owners.py
  projects/sdap-SPE-admin-app-r2/tasks/027-container-type-owner-management.poml
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(auth-v4): close items 2 and 6 by decision + deletion
  projects/spaarke-auth-v4-dataverse-MI/notes/PROVISIONING-CHANGE-REQUEST.md
  projects/spaarke-auth-v4-dataverse-MI/spec.md
  src/server/api/Sprk.Bff.Api/Api/DocumentsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AuthorizationModule.cs
  tests/unit/Sprk.Bff.Api.Tests/EndpointGroupingTests.cs
Owners: @spaarke-dev

docs(auth): promote the MI environment contract into the operator runbook
  docs/guides/auth-deployment-setup.md
  projects/spaarke-auth-v4-dataverse-MI/notes/PROVISIONING-CHANGE-REQUEST.md
Owners: @spaarke-dev, @docs-team

docs(auth-v4): refresh carried-forward list — 6 of 10 closed
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
Owners: @spaarke-dev

feat(compose): task 049 — Word fields carried through an edited paragraph
  .claude/CHANGELOG.md
  docs/architecture/COMPOSE-WRITE-RESIDUAL-LOSS.md
  projects/spaarkeai-compose-r8/notes/049-field-carry-decisions.md
  projects/spaarkeai-compose-r8/tasks/049-fields-carried.poml
  projects/spaarkeai-compose-r8/tasks/057-field-carry-client-half.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeContentModel.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocumentRenderer.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjectionBuilder.cs
  tests/integration/seam/Compose/ComposeAuthoredWarningSuppressionTests.cs
  tests/integration/seam/Compose/ComposeFieldCarrySeamTests.cs
  tests/integration/seam/Compose/ComposePhase1IngestSeamTests.cs
  tests/integration/seam/Compose/ComposeResidualLossParityTests.cs
  tests/integration/seam/Compose/ComposeSaveWarningTaxonomyTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeDocxProjectionBuilderTests.cs
Owners: @spaarke-dev, @docs-team

fix(tests): repair 66 SpeAdmin contract tests broken by the auth-v4 merge
  tests/integration/contract/SpeAdmin/SpeAdminContainerTypeMappingTests.cs
  tests/integration/contract/SpeAdmin/SpeAdminContainerTypeOwnerTests.cs
  tests/integration/contract/SpeAdmin/SpeAdminContainerTypeSettingsPatchTests.cs
  tests/integration/contract/SpeAdmin/SpeAdminContainerUrlMappingTests.cs
  tests/integration/contract/SpeAdmin/SpeAdminGraphMappingContractTests.cs
  tests/integration/contract/SpeAdmin/SpeAdminGraphVersionContractTests.cs
  tests/integration/contract/SpeAdmin/SpeAdminSearchContractTests.cs
Owners: @spaarke-dev

fix(auth): task 021 — provisioning matches design §5.1; closes the live 409 regression
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/design.md
  projects/unified-access-control-r2/notes/task-021-provisioning-stamping.md
  projects/unified-access-control-r2/spec.md
  projects/unified-access-control-r2/tasks/021-provisioning-stamping-patch.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/CreateProjectWizard/CreateProjectWizard.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateProjectWizard/provisioningService.ts
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/Dtos/ProvisionProjectRequest.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/Dtos/ProvisionProjectResponse.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ProvisionProjectEndpoint.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeFileStore.cs
  src/solutions/LegalWorkspace/src/components/CreateProject/provisioningService.ts
  tests/e2e/specs/secure-project-creation/secure-project-creation.spec.ts
  tests/integration/data-mutation/ExternalAccess/ProvisionProjectIdempotencyTests.cs
  tests/integration/data-mutation/ExternalAccess/ProvisionProjectTestFixture.cs
Owners: @spaarke-dev

docs(uac-r2): CI has been dark for two pushes — root cause + the auth-v4 integration it exposed
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/ci-dark-and-authv4-integration-2026-08-25.md
Owners: @spaarke-dev

feat(compose): task 057 — the client half of the field carry
  .claude/CHANGELOG.md
  docs/architecture/COMPOSE-WRITE-RESIDUAL-LOSS.md
  projects/spaarkeai-compose-r8/notes/049-field-carry-decisions.md
  projects/spaarkeai-compose-r8/tasks/057-field-carry-client-half.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/types/compose-contracts.ts
  src/client/shared/Spaarke.Compose.Components/src/utils/docxBridge.field.test.ts
  src/client/shared/Spaarke.Compose.Components/src/utils/docxBridge.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/opaqueAtomNode.ts
Owners: @spaarke-dev, @docs-team

docs(provisioning): Fable-level review of auth-v4 change request — 4 deliverables
  projects/customer-provisioning-orchestration-r1/notes/PROVISIONING-CHANGE-REQUEST copy.md
  projects/customer-provisioning-orchestration-r1/notes/auth-v4-integration-draft-punch-rows.md
  projects/customer-provisioning-orchestration-r1/notes/auth-v4-integration-open-questions.md
  projects/customer-provisioning-orchestration-r1/notes/auth-v4-integration-remediation-plan.md
  projects/customer-provisioning-orchestration-r1/notes/decisions/adr-028-a4-integration-conflict-resolution.md
Owners: @spaarke-dev

docs(uac-r2): file tasks 045 (auth-v4 integration / CI unblock) + 046 (Secure Project Owner role)
  projects/unified-access-control-r2/tasks/045-authv4-integration-ci-unblock.poml
  projects/unified-access-control-r2/tasks/046-secure-project-owner-role.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(bff): durable tenant-partitioned byte store for chat session uploads (compose-r8 FR-B01, task 060)
  projects/spaarkeai-compose-r8/notes/track-b-placement-justification.md
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatDocumentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiPersistenceModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionFileBlobStore.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  tests/integration/contract/Api/Ai/ChatDocumentEndpointsContractTests.cs
  tests/integration/seam/Ai/SessionDurableFileStoreSeamTests.cs
  tests/integration/tenant/Ai/SessionFileBlobStoreTenantIsolationTests.cs
  tests/integration/tenant/README.md
  tests/unit/Sprk.Bff.Api.Tests/Mocks/InMemorySessionFileBlobGateway.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Sessions/SessionFileBlobStoreConfigurationTests.cs
Owners: @spaarke-dev, @docs-team

fix(bff): apply Step 9.5 quality-gate findings to the durable session-file store (task 060)
  projects/spaarkeai-compose-r8/notes/track-b-placement-justification.md
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatDocumentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiPersistenceModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionFileBlobStore.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  tests/integration/seam/Ai/SessionDurableFileStoreSeamTests.cs
  tests/integration/tenant/Ai/SessionFileBlobStoreTenantIsolationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Mocks/InMemorySessionFileBlobGateway.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Sessions/SessionFileBlobStoreConfigurationTests.cs
Owners: @spaarke-dev

chore(compose): cherry-pick task 060 from its worktree; record its five owner-decision items
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

checkpoint: wave-1 handoff — 055/049/057 verified; 060 cherry-picked pending verification; 056 in flight
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

docs(auth): CORRECT the Deploy-AllIndexes.ps1 claim — it does not re-mint a key
  docs/guides/auth-deployment-setup.md
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/PROVISIONING-CHANGE-REQUEST.md
Owners: @spaarke-dev, @docs-team

fix(ai-search): guard -CutoverBffSettings against MI-migrated environments
  scripts/ai-search/Deploy-AllIndexes.ps1
Owners: @spaarke-dev, @devops-team

docs(record-header): generate R2 spec; standardize summary field; add Agreement
  projects/record-header-and-notepad-r2/CLAUDE.md
  projects/record-header-and-notepad-r2/README.md
  projects/record-header-and-notepad-r2/current-task.md
  projects/record-header-and-notepad-r2/design.md
  projects/record-header-and-notepad-r2/spec.md
Owners: @spaarke-dev, @docs-team

fix(tests): remove 6 stale tests targeting endpoints auth-v4 deleted — master is green again
  tests/integration/Spe.Integration.Tests/AuthorizationIntegrationTests.cs
  tests/integration/Spe.Integration.Tests/SystemIntegrationTests.cs
Owners: @spaarke-dev

docs(provisioning): auth-v4 integration — 11 owner decisions resolved + A40 kv-ref-identity assertions
  docs/guides/SPAARKE-CUSTOMER-DEPLOYMENT-GUIDE.md
  projects/customer-provisioning-orchestration-r1/notes/auth-v4-integration-draft-punch-rows.md
  projects/customer-provisioning-orchestration-r1/notes/auth-v4-integration-open-questions.md
  projects/customer-provisioning-orchestration-r1/notes/auth-v4-integration-remediation-plan.md
  projects/customer-provisioning-orchestration-r1/notes/decisions/adr-028-a4-integration-conflict-resolution.md
  projects/customer-provisioning-orchestration-r1/tasks/186-real-phase-f-e2e-acceptance-rerun-task-089-for-real-this-time.poml
Owners: @spaarke-dev, @docs-team

feat(cors): forcing function for CORS origin drift — declaration + deploy gate + fitness tests
  config/environments.json
  scripts/Deploy-BffApi.ps1
  tests/Spaarke.ArchTests/CorsOriginRegistryTests.cs
Owners: @spaarke-dev, @devops-team

feat(provisioning-bicep): apply auth-v4 §10.1 Δ1+Δ2 — BFF UAMI SB + AI Search data-plane RBAC (rows A36 + A37)
  infrastructure/bicep/customer.bicep
  infrastructure/bicep/customer.json
  infrastructure/bicep/modules/bff-runtime-rbac.bicep
  infrastructure/bicep/modules/bff-runtime-rbac.json
  infrastructure/bicep/stacks/model1-shared.bicep
  infrastructure/bicep/stacks/model1-shared.json
Owners: @spaarke-dev

docs(uac-r2): task 045 COMPLETE — Router = SUCCESS, CI unblocked
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/ci-dark-and-authv4-integration-2026-08-25.md
  projects/unified-access-control-r2/tasks/045-authv4-integration-ci-unblock.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(compose): task 056 — embedded objects carried; task 060 verified on-branch
  .claude/CHANGELOG.md
  docs/architecture/COMPOSE-WRITE-RESIDUAL-LOSS.md
  projects/spaarkeai-compose-r8/notes/056-object-carry-decisions.md
  projects/spaarkeai-compose-r8/tasks/056-objects-carried.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/opaqueAtomNode.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/opaqueAtomNode.ts
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeBlockMerge.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeContentModel.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocumentRenderer.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjectionBuilder.cs
  tests/fixtures/compose-corpus/generators/make-inline-image.py
  tests/fixtures/compose-corpus/inline-image.docx
  tests/integration/seam/Compose/ComposeHardTierDegradationSeamTests.cs
  tests/integration/seam/Compose/ComposeObjectCarrySeamTests.cs
  tests/integration/seam/Compose/ComposeResidualLossParityTests.cs
  tests/integration/seam/Compose/ConstructFamilyCarryMeasurementTests.cs
Owners: @spaarke-dev, @docs-team

docs(compose): resolve the ADR-015 + container items; handoff for a fresh session
  .claude/adr/ADR-015-ai-data-governance.md
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/track-b-placement-justification.md
Owners: @spaarke-dev

checkpoint(uac-r2): context-handoff — 021 + 045 merged to master; next is 046
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

chore(auth-v4): archive project — Issue #800 closed, worktree preserved
  projects/INDEX.md
  projects/spaarke-auth-v4-dataverse-MI/.archived
Owners: @spaarke-dev

feat(compose): owner answers Q1-Q5 — 045 signed off; three tasks created
  docs/architecture/COMPOSE-WRITE-RESIDUAL-LOSS.md
  projects/spaarkeai-compose-r8/tasks/045-residual-loss-list-adr-amendment.poml
  projects/spaarkeai-compose-r8/tasks/047b-unpaired-block-silent-loss.poml
  projects/spaarkeai-compose-r8/tasks/058-nested-merge-fields.poml
  projects/spaarkeai-compose-r8/tasks/059-tenant-header-fallback.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

checkpoint: handoff after the 5-task wave; all owner questions answered
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

checkpoint(spe-admin): merged to master, CI green, BOTH surfaces deployed to dev
  projects/sdap-SPE-admin-app-r2/current-task.md
Owners: @spaarke-dev
