Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

test(arch): SharedPackageCensusTests -- a 16th shared package fails the build
  projects/code-quality-and-assurance-r4/notes/task-002-deviations.md
  projects/code-quality-and-assurance-r4/tasks/002-shared-package-census-test.poml
  projects/code-quality-and-assurance-r4/tasks/TASK-INDEX.md
  tests/Spaarke.ArchTests/SharedPackageCensusTests.cs
  tests/Spaarke.ArchTests/SourceScan.cs
Owners: @spaarke-dev

docs(quality): governance baseline -- 5 of 6 measures; (c) escalated
  projects/code-quality-and-assurance-r4/notes/baseline-2026-09.md
  projects/code-quality-and-assurance-r4/notes/task-003-escalation.md
  projects/code-quality-and-assurance-r4/tasks/003-publish-governance-baseline.poml
  projects/code-quality-and-assurance-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

chore(quality): checkpoint -- P1 complete except measure (c)
  projects/code-quality-and-assurance-r4/current-task.md
Owners: @spaarke-dev

docs: Document keeps Related convention - build checklist + SemanticSearch impact answer
  projects/spaarkeai-compose-r8/notes/agreement-document-relationship-design.md
Owners: @spaarke-dev

docs: resolve the contradictory field-naming guidance in the design note
  projects/spaarkeai-compose-r8/notes/agreement-document-relationship-design.md
Owners: @spaarke-dev

feat(uac-r2): task 037 — Restricted veto + Secure suppression; fix the dedupe that ate provenance
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/task-037-restricted-secure-vetoes.md
  projects/unified-access-control-r2/tasks/037-fr21-fr22-restricted-secure-vetoes.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/AccessibleRecordSetService.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ExternalCallerContext.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ExternalParticipationService.cs
  tests/integration/auth/UnifiedAccessControl/MembershipPagingCharacterizationTests.cs
  tests/integration/contract/Api/ExternalAccess/ExternalAccessContractTests.cs
  tests/integration/seam/ExternalAccess/StandingGrantRuntimeUnionSeamTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/ExternalAccess/AccessibleRecordSetServiceTests.cs
Owners: @spaarke-dev

docs: schema truth supersedes the inferred checklist - RelatedAgreement exists; code knows 7 of 16 links
  projects/spaarkeai-compose-r8/notes/agreement-document-relationship-design.md
Owners: @spaarke-dev

docs: MCP-confirmed schema becomes the authority; recommend fixing the organziation typo now
  projects/spaarkeai-compose-r8/notes/agreement-document-relationship-design.md
Owners: @spaarke-dev

docs(word-add-in-r1): design + spec for the Office add-in project, split from word-native
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/legal-word-ai-mcp-landscape-2026-09-01.md
  .claude/agent-memory/researcher/mcp-ecosystem-publishing-2026-09-01.md
  .claude/agent-memory/researcher/word-extensibility-platform-2026-09-01.md
  projects/spaarkeai-word-add-in-r1/ADDIN-CONTEXT-FROM-EMAIL-R2.md
  projects/spaarkeai-word-add-in-r1/DEDUP-AND-SAVE-BACK-IDENTITY.md
  projects/spaarkeai-word-add-in-r1/design.md
  projects/spaarkeai-word-add-in-r1/spec.md
  projects/spaarkeai-word-native-r1/design.md
Owners: @spaarke-dev

feat(uac-r2): 5-task parallel wave — 027 retire, 038 deny-list, 041 registry, 051 re-stamp, 053 backfill
  .claude/FAILURE-MODES.md
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/phase3-backfill-runbook.md
  projects/unified-access-control-r2/notes/task-027-e2e-decision.md
  projects/unified-access-control-r2/notes/task-038-fr23-deny-list-store.md
  projects/unified-access-control-r2/notes/task-041-access-conferring-registry-seed.md
  projects/unified-access-control-r2/notes/task-051-client-restamp.md
  projects/unified-access-control-r2/tasks/027-e2e-tier-reconciliation.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  scripts/Backfill-CoreAncestorStamps.ps1
  scripts/README.md
  src/client/pcf/RegardingResolver/RegardingResolver/ControlManifest.Input.xml
  src/client/pcf/RegardingResolver/RegardingResolver/RegardingResolverApp.tsx
  src/client/pcf/RegardingResolver/RegardingResolver/handlers/ResolverWriteHandler.ts
  src/client/pcf/RegardingResolver/RegardingResolver/index.ts
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/ControlManifest.xml
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/bundle.js
  src/client/pcf/RegardingResolver/Solution/solution.xml
  src/client/pcf/RegardingResolver/__tests__/RegardingResolverApp.test.tsx
  src/client/pcf/RegardingResolver/__tests__/ResolverWriteHandler.test.ts
  src/client/pcf/RegardingResolver/__tests__/__mocks__/manifestTypes.ts
  src/client/pcf/RegardingResolver/__tests__/regardingPresave.test.ts
  src/client/pcf/RegardingResolver/jest.config.js
  src/client/webresources/js/sprk_todo_regarding_presave.js
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ExternalAccessModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/NoAccessListReader.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Membership/IMembershipResolverService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Membership/MembershipOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Membership/MembershipResolverService.cs
  src/solutions/SpaarkeCore/entities/sprk_noaccessentry/entity-schema.md
  tests/e2e/specs/secure-project/project-closure-cascade.spec.ts
  tests/e2e/specs/secure-project/revocation.spec.ts
  tests/integration/auth/UnifiedAccessControl/MembershipPagingCharacterizationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/ExternalAccess/NoAccessListReaderTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Membership/MembershipResolverServiceTests.cs
Owners: @spaarke-dev, @devops-team, @docs-team

feat(quality): add FR-19b nightly boundary-crossing drift check; close P1
  projects/code-quality-and-assurance-r4/notes/baseline-2026-09.md
  projects/code-quality-and-assurance-r4/notes/task-003-escalation.md
  projects/code-quality-and-assurance-r4/spec.md
  projects/code-quality-and-assurance-r4/tasks/003-publish-governance-baseline.poml
  projects/code-quality-and-assurance-r4/tasks/046-boundary-crossing-drift-check.poml
  projects/code-quality-and-assurance-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(ci): Tier 1 compiles the whole solution — closes the shadow window's false green
  .github/workflows/ci-tier1-blocking.yml
  Spaarke.sln
Owners: @spaarke-dev, @devops-team

docs(adr): classify all 49 ADRs on three axes; INDEX 36 -> 50 rows
  .claude/adr/INDEX.md
  projects/code-quality-and-assurance-r4/notes/adr-classification-2026-09.md
  projects/code-quality-and-assurance-r4/tasks/010-classify-49-adrs-three-axes.poml
  projects/code-quality-and-assurance-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(ci): Tier 1 compiles the whole solution — closes the shadow window's false green (#944)
  .github/workflows/ci-tier1-blocking.yml
  Spaarke.sln
Owners: @spaarke-dev, @devops-team

fix(adr): correct ADR-047 -- the spine IS built; my grep guessed wrong identifiers
  .claude/adr/INDEX.md
  projects/code-quality-and-assurance-r4/notes/adr-classification-2026-09.md
Owners: @spaarke-dev

chore(word-add-in-r1): add portfolio pointer block
  projects/spaarkeai-word-add-in-r1/README.md
Owners: @spaarke-dev, @docs-team

docs(ci-r1): close out session — nothing blocked on the operator
  projects/ci-cd-unit-test-remediation-r1/notes/NEXT-SESSION-2026-08-31.md
Owners: @spaarke-dev

docs(ci-r1): close out session — nothing blocked on the operator (#946)
  projects/ci-cd-unit-test-remediation-r1/notes/NEXT-SESSION-2026-08-31.md
Owners: @spaarke-dev

docs(adr): revise the ratification finding + add the 49-ADR inventory chart
  projects/code-quality-and-assurance-r4/notes/adr-classification-2026-09.md
  projects/code-quality-and-assurance-r4/notes/adr-inventory-2026-09.md
Owners: @spaarke-dev

docs(uac-r2): record 4 owner decisions; correct the sprk_related* framing
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

docs(uac-r2): correct the sprk_related* provenance; record "confirming IS filing"
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

docs(uac-r2): mark email-r2 029 as the current sprk_related* guidance
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

docs(uac-r2): the sprk_related* read was already solved on master by email-r2
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

feat(uac-r2): task 039 step 1 -- org-typed lookup inventory from live metadata
  projects/unified-access-control-r2/notes/task-039-org-reference-inventory.md
Owners: @spaarke-dev

chore(uac-r2): checkpoint 039 entry state -- step 1 done, holding at step 2
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

fix(word-add-in-r1): correct the sprk_document association-slot premise (F-g)
  projects/spaarkeai-word-add-in-r1/CLAUDE.md
  projects/spaarkeai-word-add-in-r1/coordination-document-association-map-from-email-r2-2026-09-04.md
  projects/spaarkeai-word-add-in-r1/notes/defer-issues.md
  projects/spaarkeai-word-add-in-r1/plan.md
  projects/spaarkeai-word-add-in-r1/tasks/026-related-record-card.poml
  projects/spaarkeai-word-add-in-r1/tasks/035-add-todo-from-pane.poml
  projects/spaarkeai-word-add-in-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(documents): sprk_event does not exist -- write sprk_relatedevent
  projects/unified-access-control-r2/notes/coordination-document-association-map-from-email-r2-2026-09-04.md
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
Owners: @spaarke-dev

chore(word-add-in-r1): ISS-001 — no GitHub Issue per operator decision
  projects/spaarkeai-word-add-in-r1/notes/defer-issues.md
Owners: @spaarke-dev

docs(adr): re-verify accuracy with a sound method; 3 findings, 2 corrections
  .claude/adr/INDEX.md
  projects/code-quality-and-assurance-r4/notes/adr-accuracy-reverification-2026-09.md
  scripts/quality/Verify-AdrNamedArtifacts.py
Owners: @spaarke-dev, @devops-team

fix: point Event's Organization regarding lookup at the corrected schema name
  docs/data-model/entity-relationship-model.md
  docs/data-model/sprk_event-related-tables.md
  src/client/shared/Spaarke.UI.Components/src/components/AssociateToStep/types.ts
  src/client/shared/Spaarke.UI.Components/src/components/CreateEventWizard/__tests__/CreateEventWizard.associateToStep.test.ts
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/ActionCore/TaskActionCore.cs
Owners: @spaarke-dev, @docs-team

docs(adr): route all 50 ADRs to a mechanism; enrich the review inventory
  .claude/adr/INDEX.md
  projects/code-quality-and-assurance-r4/notes/adr-inventory-2026-09.md
  projects/code-quality-and-assurance-r4/notes/adr-routing-2026-09.md
  projects/code-quality-and-assurance-r4/tasks/011-route-every-adr-to-a-mechanism.poml
  projects/code-quality-and-assurance-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(bff): one sprk_document link vocabulary — Compose no longer silently drops a document's filing
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/Rungs/AttachmentDocumentAssociationRung.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeCreateOnSavePromoter.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  src/server/api/Sprk.Bff.Api/Services/Documents/DocumentLinkFieldMap.cs
  tests/Spaarke.ArchTests/DocumentLinkVocabularyGuardTests.cs
  tests/integration/contract/Api/Ai/ComposeCreateOnSaveEndpointContractTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Documents/DocumentLinkFieldMapTests.cs
Owners: @spaarke-dev

fix(documents): correct the sprk_document association set against live schema
  src/server/api/Sprk.Bff.Api/Api/Filters/EntityAccessFilter.cs
  src/server/api/Sprk.Bff.Api/Api/Office/OfficeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Office/RecentDocumentsResponse.cs
  src/server/api/Sprk.Bff.Api/Services/Office/OfficeService.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/Models.cs
  tests/integration/auth/UnifiedAccessControl/EntityAccessFilterCharacterizationTests.cs
  tests/integration/auth/UnifiedAccessControl/RecordKeyedUploadAuthorizationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/DataverseEntitySchemaTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Models/DocumentAssociationMapTests.cs
Owners: @spaarke-dev

docs(uac-r2): correct the inbound email-r2 coordination doc at the top
  projects/unified-access-control-r2/notes/coordination-document-association-map-from-email-r2-2026-09-04.md
Owners: @spaarke-dev

feat(word-add-in-r1 001): true typecheck baseline — 395, and the ~397 story is half right
  projects/spaarkeai-word-add-in-r1/current-task.md
  projects/spaarkeai-word-add-in-r1/notes/typecheck-baseline-raw.log
  projects/spaarkeai-word-add-in-r1/notes/typecheck-baseline.md
  projects/spaarkeai-word-add-in-r1/tasks/001-worktree-bootstrap-typecheck-baseline.poml
  projects/spaarkeai-word-add-in-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

chore(word-add-in-r1): current-task — 001 complete, P0-typecheck wave blocked
  projects/spaarkeai-word-add-in-r1/current-task.md
Owners: @spaarke-dev

chore(word-add-in-r1): reconcile current-task with 001 outcome and the block
  projects/spaarkeai-word-add-in-r1/current-task.md
Owners: @spaarke-dev

docs(uac-r2): publish-size verification -- master 45.46 vs branch 45.48 (+0.02 MB)
  projects/unified-access-control-r2/notes/publish-size-2026-09-05.md
Owners: @spaarke-dev

feat(uac-r2): task 039 -- wire the FR-23 deny veto into the first post-max slot
  projects/unified-access-control-r2/notes/task-039-deny-veto-wiring.md
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/AccessibleRecordSetService.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ExternalCallerContext.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ExternalParticipationService.cs
  tests/integration/auth/UnifiedAccessControl/MembershipPagingCharacterizationTests.cs
  tests/integration/seam/ExternalAccess/StandingGrantRuntimeUnionSeamTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/ExternalAccess/AccessibleRecordSetServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/ExternalAccess/AccessibleRecordSetTestFactory.cs
Owners: @spaarke-dev

refactor(documents): one sprk_document record-link vocabulary, completed to 16
  projects/unified-access-control-r2/notes/document-link-vocabulary-hoist.md
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/Rungs/AttachmentDocumentAssociationRung.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  src/server/shared/Spaarke.Dataverse/Models.cs
  tests/integration/contract/Api/Ai/ComposeCreateOnSaveEndpointContractTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/AttachmentDocumentAssociationRungTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceDocumentLinkVocabularyTests.cs
  tests/unit/domain/Dataverse/DocumentLinkFieldsTests.cs
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
