Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

test(uac-r2 074): apply the 12 deferred ArchTest edits for tranche 1 + close the dead-waiver gap
  projects/unified-access-control-r2/notes/wave2-parallel-merge-plan.md
  tests/Spaarke.ArchTests/RouteAuthorizationGuardTests.cs
Owners: @spaarke-dev

docs(uac-r2): tranche 1 CLOSED — 073 + 079 merged, census at 110, index + handoff
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

checkpoint(spe-admin): master CI green — Code Quality verdict obtained
  projects/sdap-SPE-admin-app-r2/current-task.md
Owners: @spaarke-dev

fix(controlplane): migrate the run guard off a client secret; adjudicate the E-1 sites
  infrastructure/bicep/modules/controlplane-worker-app-service.bicep
  infrastructure/bicep/platform-controlplane.bicep
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Concurrency/CustomerRunGuardOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Concurrency/DataverseRegistryConcurrencyStore.cs
  tests/Spaarke.ArchTests/CredentialCensusTests.cs
  tests/Spaarke.ArchTests/CredentialGuardTests.cs
Owners: @spaarke-dev

fix(uac-r2): fix the TenantCacheMetrics flake for real + delete the dead app-only chunked upload chain
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeFileStore.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/UploadSessionManager.cs
  src/server/api/Sprk.Bff.Api/Models/SpeFileStoreDtos.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/Cache/TenantCacheMetricsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/SpeFileStoreTests.cs
Owners: @spaarke-dev

docs(uac-r2): reply to task 088's file-overlap escalation + fix a stale 078 reference
  projects/unified-access-control-r2/notes/coordination-task-088-file-overlap-2026-08-27.md
  projects/unified-access-control-r2/tasks/078-authorize-container-document-list.poml
Owners: @spaarke-dev

docs(uac-r2): A18 — ADR-010, 075 adds +2 interfaces and its report says otherwise
  projects/unified-access-control-r2/notes/wave2-parallel-merge-plan.md
Owners: @spaarke-dev

docs(index): record the CI shadow-window freeze + reactivate CI ownership
  projects/INDEX.md
Owners: @spaarke-dev

refactor(uac-r2): ADR-010 — remove 075's 1:1 IRecordContainerResolver, keep the real seam
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Dataverse/IRecordContainerResolver.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Dataverse/RecordContainerResolver.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Dataverse/SecureContainerDecision.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/CommunicationContainerResolver.cs
  tests/integration/auth/UnifiedAccessControl/SecureContainerDecisionTableTests.cs
Owners: @spaarke-dev

checkpoint(uac-r2): tranche 1+2 + master merged — handoff
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

chore(compose-r8): sync master; fix duplicate usings from the merge
  projects/spaarkeai-compose-r8/notes/coordination-from-unified-access-control-r2-2026-08-27.md
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/AnalysisEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Insights/PrecedentAdminEndpoints.cs
Owners: @spaarke-dev

docs(notes): disclosure to ci-cd-unit-test-remediation-r1 on the frozen-file edits
  projects/spaarkeai-compose-r8/notes/ci-freeze-disclosure-to-ci-cd-remediation-2026-08-27.md
Owners: @spaarke-dev

docs(index): add gate-repair carve-out + disclosure record; withdraw rebase advice
  projects/INDEX.md
Owners: @spaarke-dev

docs(index): self-register spaarkeai-compose-r8 with hot-path declarations
  projects/INDEX.md
Owners: @spaarke-dev

docs(uac-r2 047): name the ONE residual the real-Dataverse gate could not close
  projects/unified-access-control-r2/tasks/047-validate-secure-project-provisioning-live.poml
Owners: @spaarke-dev

checkpoint: authorization work merged + deployed; active work is issue #839
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

checkpoint(uac-r2): MERGED TO MASTER at 1a2fc335d — PR #825 closed
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

feat(ci-r1): task 082 — broader-criteria test inventory (operator decision required)
  projects/ci-cd-unit-test-remediation-r1/notes/test-inventory-broader-summary.md
  projects/ci-cd-unit-test-remediation-r1/notes/test-inventory-broader.csv
  projects/ci-cd-unit-test-remediation-r1/scripts/Classify-BffUnitTests.ps1
Owners: @spaarke-dev, @devops-team

docs(uac-r2): A19 — retract A18, and record the commit-vs-branch rule that caused it
  projects/unified-access-control-r2/notes/wave2-parallel-merge-plan.md
Owners: @spaarke-dev

checkpoint(uac-r2): pre-compact handoff — master merged, 6 branches left, merge-by-branch rule recorded
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

fix(archtests): adjudicate the three remaining guard failures (#839)
  tests/Spaarke.ArchTests/ADR010_DITests.cs
  tests/Spaarke.ArchTests/CosmosProvisioningSecretGuardTests.cs
  tests/Spaarke.ArchTests/ServiceBusClientGuardTests.cs
Owners: @spaarke-dev

style(compose): apply Prettier to the two files with real formatting drift
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/redlineTextSearch.ts
Owners: @spaarke-dev

docs(ci): file the client-jest CI gap for ci-cd-unit-test-remediation-r1
  projects/record-header-and-notepad-r2/notes/ci-gap-client-jest-never-runs.md
Owners: @spaarke-dev

spec(ci-r1): record FR-B10 owner decisions + re-scope task 085
  projects/ci-cd-unit-test-remediation-r1/spec.md
  projects/ci-cd-unit-test-remediation-r1/tasks/085-deep-cleanup-pr-3.poml
Owners: @spaarke-dev

fix(provisioning): ISH-12 rename intake.environment -> controlPlaneEnv
  .claude/skills/provision-environment/SKILL.md
  runs/trial1-intake.json
  scripts/provisioning-prereqs/context-defaults.dev.json
  scripts/provisioning-prereqs/context-defaults.prod.json
  scripts/provisioning-prereqs/intake.schema.json
Owners: @spaarke-dev, @devops-team

fix(archtests): ceiling 155 -> 156 for ISecurableEntityRegistry (master merge)
  tests/Spaarke.ArchTests/ADR010_DITests.cs
Owners: @spaarke-dev

checkpoint: #839 closed out (PR #847); active work returns to Compose #806
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

fix(compose): escape the NUL sentinels so redlineTextSearch.ts is a text file again
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/redlineTextSearch.ts
Owners: @spaarke-dev

chore(uac-r2): ArchTest edit #13 + repair two stale claims the Wave A merges created
  src/server/api/Sprk.Bff.Api/Api/Filters/OfficeAuthFilter.cs
  tests/Spaarke.ArchTests/RouteAuthorizationGuardTests.cs
Owners: @spaarke-dev

fix(provisioning): pre-dispatch Bucket A — 5 HIGH/MED verify findings
  .claude/skills/provision-environment/SKILL.md
  runs/trial1-intake.json
  scripts/provisioning-prereqs/intake.schema.json
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Api/IntakeSchemaProfileParityTests.cs
Owners: @spaarke-dev, @devops-team

chore(uac-r2): TASK-INDEX — Wave A tasks 011/013/015/018/020/081 merged and verified
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

ci: stop sdap-ci from auto-committing to contributor PR branches
  .github/workflows/sdap-ci.yml
Owners: @spaarke-dev, @devops-team

feat(spe-admin): task 052 — per-container item recycle bin (FR-E03)
  knowledge/sharepoint-embedded/docs/learn-containers.md
  projects/sdap-SPE-admin-app-r2/current-task.md
  projects/sdap-SPE-admin-app-r2/notes/task-052-findings.md
  projects/sdap-SPE-admin-app-r2/tasks/052-item-recycle-bin.poml
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/RecycleBinEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/solutions/SpeAdminApp/src/components/containers/ContainerDetail.tsx
  src/solutions/SpeAdminApp/src/components/recycle-bin/ContainerItemRecycleBin.tsx
  src/solutions/SpeAdminApp/src/services/speApiClient.ts
  src/solutions/SpeAdminApp/src/types/spe.ts
  tests/integration/contract/SpeAdmin/GraphWireMockFixture.cs
  tests/integration/contract/SpeAdmin/SpeAdminRecycleBinItemContractTests.cs
Owners: @spaarke-dev, @docs-team

checkpoint(spe-admin): 052 complete — 090 wrap-up is the only task left
  projects/sdap-SPE-admin-app-r2/current-task.md
Owners: @spaarke-dev

fix(ci-r1): classifier spot-check rounds 3+4 — six over-call bugs, DELETE 358 -> 301
  projects/ci-cd-unit-test-remediation-r1/notes/test-inventory-broader-summary.md
  projects/ci-cd-unit-test-remediation-r1/notes/test-inventory-broader.csv
  projects/ci-cd-unit-test-remediation-r1/scripts/Classify-BffUnitTests.ps1
Owners: @spaarke-dev, @devops-team

feat(uac-r2 076): delete the dead chunked OBO upload pair (task 076 step 3)
  projects/unified-access-control-r2/notes/task-076-record-keyed-upload-contract.md
  src/client/shared/Spaarke.SdapClient/src/SdapApiClient.ts
  src/client/shared/Spaarke.SdapClient/src/operations/UploadOperation.ts
  src/server/api/Sprk.Bff.Api/Api/OBOEndpoints.cs
  tests/Spaarke.ArchTests/RouteAuthorizationGuardTests.cs
Owners: @spaarke-dev

fix(provisioning): Bucket B credential-lifecycle cluster - 5 HIGH auth-v4 protection findings
  docs/guides/SPAARKE-CUSTOMER-DEPLOYMENT-GUIDE.md
  scripts/Register-EntraAppRegistrations.ps1
  scripts/canonical-secret-catalog/Invoke-CatalogGenerator.ps1
  scripts/canonical-secret-catalog/generated/Configure-AppServiceSettings.generated.ps1
  scripts/canonical-secret-catalog/generated/Seed-CustomerKeyVault.generated.ps1
  scripts/canonical-secret-catalog/generated/appsettings.tokens.generated.md
  scripts/canonical-secret-catalog/manifest.yaml
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/GraphAppRegistrationProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/H3EntraAppRegHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/EntraAppReg/IEntraAppRegProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H3EntraAppRegHandlerTests.cs
Owners: @spaarke-dev, @docs-team, @devops-team

docs(handoff): SESSION 18 handoff for remaining 5 Bucket B HIGHs
  projects/customer-provisioning-orchestration-r1/notes/session-18-handoff-2026-08-27.md
Owners: @spaarke-dev

fix(compose): stop telling a user their live suggestion came from an earlier session (#853)
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeBannerStack.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.anchorlessFallback.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/redlineFailureCopy.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/redlineFailureCopy.ts
Owners: @spaarke-dev

checkpoint: #853 fixed; next is Track D task 070 (ComposeService decomposition)
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
