Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

feat(registration): add foundation models, config, and DI module (task 001)
  src/server/api/Sprk.Bff.Api/Configuration/DemoProvisioningOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/RegistrationModule.cs
  src/server/api/Sprk.Bff.Api/Models/Registration/ApproveResponseDto.cs
  src/server/api/Sprk.Bff.Api/Models/Registration/DemoRequestDto.cs
  src/server/api/Sprk.Bff.Api/Models/Registration/RegistrationStatus.cs
  src/server/api/Sprk.Bff.Api/Models/Registration/RejectRequestDto.cs
Owners: @spaarke-dev

chore: mark task 001 complete
  projects/spaarke-self-service-registration-app/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(workspace): thread scope through Smart To Do section
  src/solutions/LegalWorkspace/src/components/SmartToDo/SmartToDo.tsx
  src/solutions/LegalWorkspace/src/hooks/useTodoItems.ts
  src/solutions/LegalWorkspace/src/sections/todo.registration.ts
  src/solutions/LegalWorkspace/src/services/DataverseService.ts
Owners: @spaarke-dev

feat(registration): Phase 1 — all 5 parallel streams complete (tasks 010-014)
  scripts/Get-LicenseSkuIds.ps1
  scripts/Setup-EntraInfrastructure.ps1
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/RegistrationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/EmailTemplates/AdminNotificationTemplate.html
  src/server/api/Sprk.Bff.Api/Services/Registration/EmailTemplates/ExpirationWarningTemplate.html
  src/server/api/Sprk.Bff.Api/Services/Registration/EmailTemplates/ExpiredTemplate.html
  src/server/api/Sprk.Bff.Api/Services/Registration/EmailTemplates/WelcomeTemplate.html
  src/server/api/Sprk.Bff.Api/Services/Registration/GraphUserService.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/PasswordGenerator.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/RegistrationDataverseService.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/RegistrationEmailService.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/TrackingIdGenerator.cs
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
  src/solutions/DemoRegistration/schema-definition.md
  tests/unit/Sprk.Bff.Api.Tests/Services/Registration/PasswordGeneratorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Registration/TrackingIdGeneratorTests.cs
Owners: @spaarke-dev, @devops-team

chore: mark Phase 1 tasks 010-014 complete
  projects/spaarke-self-service-registration-app/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(registration): Phase 2 — orchestrator, endpoints, website form (tasks 020-022)
  src/server/api/Sprk.Bff.Api/Endpoints/Filters/RegistrationAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Endpoints/RegistrationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/RegistrationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/DemoProvisioningService.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/EmailDomainValidator.cs
Owners: @spaarke-dev

chore: mark Phase 2 tasks 020-022 complete
  projects/spaarke-self-service-registration-app/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(workspace): scope-aware getNotifications + import buildOwnerFilter
  src/solutions/LegalWorkspace/src/services/DataverseService.ts
Owners: @spaarke-dev

feat(registration): Phase 3 — expiration service + ribbon buttons (tasks 030-031)
  src/client/webresources/js/sprk_registrationribbon.js
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/RegistrationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/DemoExpirationService.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/RegistrationDataverseService.cs
  src/solutions/DemoRegistration/ribbon-definition.md
Owners: @spaarke-dev

chore: mark Phase 3 tasks 030-031 complete
  projects/spaarke-self-service-registration-app/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(registration): wire RegistrationModule in Program.cs + add appsettings config (task 040)
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
Owners: @spaarke-dev

chore: mark task 040 complete
  projects/spaarke-self-service-registration-app/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(workspace): add scope to effect deps + cache keys in all hooks
  src/solutions/LegalWorkspace/src/hooks/useDocumentsTabList.ts
  src/solutions/LegalWorkspace/src/hooks/useEvents.ts
  src/solutions/LegalWorkspace/src/hooks/useTodoItems.ts
Owners: @spaarke-dev

feat(daily-update): implement QueryDataverseNodeExecutor for real notification queries
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/CreateNotificationNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/INodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/QueryDataverseNodeExecutor.cs
Owners: @spaarke-dev

feat(registration): add Dataverse schema creation script + create table in dev (task 041 partial)
  scripts/Create-RegistrationRequestSchema.ps1
Owners: @spaarke-dev, @devops-team

fix(api): add [FromServices] to resolve IWorkingDocumentService in chat endpoint
  src/client/code-pages/AnalysisWorkspace/src/App.tsx
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
Owners: @spaarke-dev

fix(daily-update): pass UserId through execution context for notification queries
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
  src/server/api/Sprk.Bff.Api/Services/Ai/NodeExecutionContext.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/CreateNotificationNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/QueryDataverseNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookRunContext.cs
Owners: @spaarke-dev

fix(registration): merge master + remove ValidateOnStart to prevent app crash
  scripts/Get-LicenseSkuIds.ps1
  scripts/Setup-EntraInfrastructure.ps1
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/RegistrationModule.cs
Owners: @spaarke-dev, @devops-team

fix(registration): add missing GraphUserService + PasswordGenerator to DI
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/RegistrationModule.cs
Owners: @spaarke-dev

fix(registration): conditionally register DemoExpirationService only when config exists
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/RegistrationModule.cs
Owners: @spaarke-dev

fix(registration): temporarily disable DemoExpirationService to unblock deployment
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/RegistrationModule.cs
Owners: @spaarke-dev

chore: checkpoint — Phase 1-3 code complete, BFF deployed, ready for E2E testing
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
  projects/spaarke-self-service-registration-app/current-task.md
Owners: @spaarke-dev

fix(registration): use full URL in team membership odata.id reference
  src/server/api/Sprk.Bff.Api/Endpoints/RegistrationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/RegistrationDataverseService.cs
Owners: @spaarke-dev

fix(registration): add UPN to SPE container permission grant
  src/server/api/Sprk.Bff.Api/Services/Registration/DemoProvisioningService.cs
Owners: @spaarke-dev

fix(registration): make SPE container access non-fatal, fix UPN in AdditionalData
  src/server/api/Sprk.Bff.Api/Services/Registration/DemoProvisioningService.cs
Owners: @spaarke-dev

fix(registration): use UPN-only for SPE permission grant (remove Id field)
  src/server/api/Sprk.Bff.Api/Services/Registration/DemoProvisioningService.cs
Owners: @spaarke-dev

fix(registration): use approved sender mailbox-central@spaarke.com for emails
  src/server/api/Sprk.Bff.Api/Services/Registration/RegistrationEmailService.cs
Owners: @spaarke-dev

fix(registration): revert to mailbox-central sender (demo@ needs Exchange policy)
  src/server/api/Sprk.Bff.Api/Services/Registration/RegistrationEmailService.cs
Owners: @spaarke-dev

feat(auth): add loginHint to ssoSilent for zero-popup first login
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
  projects/find-similar-wizard/current-task.md
  src/client/code-pages/AnalysisWorkspace/src/services/authService.ts
  src/client/code-pages/DocumentRelationshipViewer/src/services/auth/MsalAuthProvider.ts
  src/client/code-pages/PlaybookBuilder/src/services/authService.ts
  src/client/code-pages/SemanticSearch/src/services/auth/MsalAuthProvider.ts
  src/client/pcf/EmailProcessingMonitor/control/AuthService.ts
  src/client/pcf/UniversalQuickCreate/control/services/auth/MsalAuthProvider.ts
  src/client/shared/Spaarke.Auth/src/strategies/MsalPopupStrategy.ts
  src/client/shared/Spaarke.Auth/src/strategies/MsalSilentStrategy.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/VisualizationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Visualization/IVisualizationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Visualization/VisualizationService.cs
  src/solutions/FindSimilarCodePage/package-lock.json
  src/solutions/FindSimilarCodePage/package.json
  src/solutions/FindSimilarCodePage/src/App.tsx
  src/solutions/FindSimilarCodePage/src/main.tsx
  src/solutions/FindSimilarCodePage/vite.config.ts
Owners: @spaarke-dev

feat(registration): update welcome email - logo header, confidentiality notice, terms link
  src/server/api/Sprk.Bff.Api/Services/Registration/EmailTemplates/WelcomeTemplate.html
Owners: @spaarke-dev

fix(registration): force white background on logo cell for dark mode email clients
  src/server/api/Sprk.Bff.Api/Services/Registration/EmailTemplates/WelcomeTemplate.html
Owners: @spaarke-dev

fix(registration): use correct logo URL for welcome email
  src/server/api/Sprk.Bff.Api/Services/Registration/EmailTemplates/WelcomeTemplate.html
Owners: @spaarke-dev

feat(registration): re-enable DemoExpirationService (Graph permissions confirmed)
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/RegistrationModule.cs
Owners: @spaarke-dev

feat(registration): deploy ribbon buttons to dev+demo, switch email to demo@demo.spaarke.com
  src/server/api/Sprk.Bff.Api/Services/Registration/RegistrationEmailService.cs
Owners: @spaarke-dev

feat(project): add spaarke-production-release-procedure project artifacts
  projects/spaarke-production-release-procedure/CLAUDE.md
  projects/spaarke-production-release-procedure/README.md
  projects/spaarke-production-release-procedure/plan.md
  projects/spaarke-production-release-procedure/spec.md
Owners: @spaarke-dev, @docs-team

docs(registration): add operations guide, Azure setup guide, and provisioning pattern
  .claude/patterns/api/provisioning-pipeline.md
  docs/guides/AZURE-SETUP-SELF-SERVICE-REGISTRATION.md
  docs/guides/SPAARKE-SELF-SERVICE-USER-REGISTRATION.md
Owners: @spaarke-dev, @docs-team

feat(release-procedure): generate task files and enhance project artifacts
  projects/spaarke-production-release-procedure/current-task.md
  projects/spaarke-production-release-procedure/plan.md
  projects/spaarke-production-release-procedure/tasks/001-project-setup.poml
  projects/spaarke-production-release-procedure/tasks/010-procedure-guide.poml
  projects/spaarke-production-release-procedure/tasks/020-environment-registry.poml
  projects/spaarke-production-release-procedure/tasks/021-build-all-client-components.poml
  projects/spaarke-production-release-procedure/tasks/022-deploy-all-web-resources.poml
  projects/spaarke-production-release-procedure/tasks/023-deploy-release.poml
  projects/spaarke-production-release-procedure/tasks/030-deploy-new-release-skill.poml
  projects/spaarke-production-release-procedure/tasks/031-register-skill.poml
  projects/spaarke-production-release-procedure/tasks/032-update-scripts-readme.poml
  projects/spaarke-production-release-procedure/tasks/040-dry-run-dev.poml
  projects/spaarke-production-release-procedure/tasks/041-live-test-demo.poml
  projects/spaarke-production-release-procedure/tasks/090-project-wrap-up.poml
  projects/spaarke-production-release-procedure/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(registration): add Sprk.RegistrationRibbon namespace export for ribbon button functions
  src/client/webresources/js/sprk_registrationribbon.js
Owners: @spaarke-dev

feat(release-procedure): create production release procedure guide
  docs/procedures/production-release.md
  projects/spaarke-production-release-procedure/current-task.md
  projects/spaarke-production-release-procedure/tasks/010-procedure-guide.poml
  projects/spaarke-production-release-procedure/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(release-procedure): add environment registry and build/deploy orchestrators
  config/environments.json
  projects/spaarke-production-release-procedure/tasks/020-environment-registry.poml
  projects/spaarke-production-release-procedure/tasks/021-build-all-client-components.poml
  projects/spaarke-production-release-procedure/tasks/022-deploy-all-web-resources.poml
  projects/spaarke-production-release-procedure/tasks/TASK-INDEX.md
  scripts/Build-AllClientComponents.ps1
  scripts/Deploy-AllWebResources.ps1
Owners: @spaarke-dev, @devops-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
