Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

feat(chat-routing-redesign-r1)(111R): hybrid LLM intent reranker (FR-46)
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/111R-hybrid-intent-extraction.poml
  src/server/api/Sprk.Bff.Api/Configuration/IntentRerankerOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiChatModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ConfigurationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/IIntentRerankerService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/IntentRerankerService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/IntentRerankerServiceTests.cs
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(117a): playbook_options SSE event contract (FR-49)
  notes/handoffs/117a-playbook-options-sse-contract.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/117a-playbook-options-sse-event.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiChatModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SseEventTypes/ChatSseEventFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SseEventTypes/PlaybookOptionsEventBuilder.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SseEventTypes/PlaybookOptionsSseEvent.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookOptionsEventBuilderTests.cs
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(116): remove SoftSlashIntentToCapabilityName dict (FE + BE) — FR-20
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/116-bff-publish-delta.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/116-remove-softslashintenttocapabilityname-dict.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityRouter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/ICapabilityRouter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/solutions/SpaarkeAi/src/components/conversation/SoftSlashRouter.ts
  tests/integration/Spe.Integration.Tests/PhaseD/Pillar8ToPlaybookEngineTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Capabilities/CapabilityRouterSoftSlashTests.cs
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(114R): NodeType.DeliverComposite extension (FR-52)
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/114R-bff-publish-delta.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/114R-deliver-composite-nodetype.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NodeService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/DeliverCompositeNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/INodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookOrchestrationService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/DeliverCompositeNodeExecutorTests.cs
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(117b): FE consumes playbook_options SSE event — inline link buttons + Open Library
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/117b-fe-link-buttons-and-library-link.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChatMessage.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChatMessageRenderer.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/SprkChatMessageRenderer.playbook-options.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/useSseStream.playbook-options.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useSseStream.ts
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.playbook-options.test.tsx
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(5-C/114a): per-section SSE streaming via DeliverComposite — FR-53
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/114a-bff-publish-delta.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/114a-per-section-sse-streaming.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SseEventTypes/ChatSseEventFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SseEventTypes/SectionStreamSseEvents.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IPlaybookOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookOrchestrationService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PlaybookOrchestrationServiceSectionStreamingTests.cs
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(5-C/114b): StructuredOutputStreamWidget rework to section-name-keyed — FR-54
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/114b-widget-rework.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/114b-structuredoutputstreamwidget-rework.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/package-lock.json
  src/client/shared/Spaarke.AI.Widgets/src/events/PaneEventTypes.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/StructuredOutputStreamWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/StructuredOutputStreamWidget.sections.test.tsx
Owners: @spaarke-dev

docs(chat-routing-redesign-r1)(5-C/114c): ADR-037 multi-node Output composition (FR-55)
  .claude/CHANGELOG.md
  .claude/adr/ADR-037-multinode-output-composition.md
  .claude/adr/INDEX.md
  docs/adr/ADR-037-multinode-output-composition.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore(smart-todo-r4): R4-112 — RegardingResolver Solution scaffold + manifest XSD fix (v1.2.0 deployed to spaarkedev1)
  src/client/pcf/RegardingResolver/RegardingResolver/ControlManifest.Input.xml
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/ControlManifest.xml
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/bundle.js
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/styles.css
  src/client/pcf/RegardingResolver/Solution/[Content_Types].xml
  src/client/pcf/RegardingResolver/Solution/customizations.xml
  src/client/pcf/RegardingResolver/Solution/pack.ps1
  src/client/pcf/RegardingResolver/Solution/solution.xml
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(5-E): wave 5-E partial — task 118R artifact authored; Dataverse application BLOCKED on schema gap
  infra/dataverse/playbooks/summarize-document-for-workspace-v1-multinode.json
  notes/handoffs/118R-migration-evidence.md
  notes/handoffs/118R-pre-migration-snapshot.json
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/SummarizeWorkspaceMultinodeMigrationTests.cs
Owners: @spaarke-dev

test(chat-routing-redesign-r1)(5-F/118a): session continuity verified — UploadedFiles[] retained across 5+ turns (FR-56)
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/118a-session-continuity-evidence.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/ChatSessionContinuityTests.cs
Owners: @spaarke-dev

feat(chat-routing-redesign-r1)(5-F): task 118b — workspace→memory T2 round-trip handler (FR-57)
  infra/dataverse/sprk_analysistool-get-workspace-tab-content-row.json
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/118b-bff-publish-delta.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/118b-workspace-output-to-memory-roundtrip.poml
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  scripts/Seed-TypedHandlers.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/GetWorkspaceTabContentHandler.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/GetWorkspaceTabContentHandlerTests.cs
Owners: @spaarke-dev, @devops-team

feat(chat-routing-redesign-r1)(5-F/119): Phase 5R exit gate — GO + Phase 7 unblocked
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/119-phase-5r-exit-gate.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

checkpoint(chat-routing-redesign-r1): context-handoff after Phase 5R close
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
Owners: @spaarke-dev

feat(spaarke-devops-project-tracking-r1): lifecycle enhancements — Start/Target/Closed dates + Quick Links + show-merges
  .claude/skills/devops-project-archive/SKILL.md
  .claude/skills/devops-project-register/SKILL.md
  .claude/skills/project-pipeline/SKILL.md
  projects/spaarke-devops-project-tracking-r1/notes/phase1-field-ids.md
  scripts/portfolio-status.py
Owners: @spaarke-dev, @devops-team

feat(devops): lifecycle dates — Start/Target/Closed + Quick Links template + show-merges flag
  .claude/skills/devops-project-archive/SKILL.md
  .claude/skills/devops-project-register/SKILL.md
  .claude/skills/project-pipeline/SKILL.md
  projects/spaarke-devops-project-tracking-r1/notes/phase1-field-ids.md
  scripts/portfolio-status.py
Owners: @spaarke-dev, @devops-team

checkpoint(chat-routing-redesign-r1): task 141 closed — Phase 7 Wave 7-B done
  projects/spaarke-ai-platform-chat-routing-redesign-r1/current-task.md
Owners: @spaarke-dev

docs(chat-routing-redesign-r1)(7-C/142): mark task 142 ✅ — subsumed by Phase 5R task 116
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

test(chat-routing-redesign-r1)(7-D/143): Q20 FR-24 dedup binding-invariant test — 10 tests, sanity-check confirmed
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/143-dedup-verification.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SprkChatAgentFactoryDedupTests.cs
Owners: @spaarke-dev

docs(chat-routing-redesign-r1)(7-E/144+145): Phase 7 Wave 7-E parallel verifications — publish-size + Insights regression
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/144-bff-publish-final-summary.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/145-insights-regression.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix+docs(chat-routing-redesign-r1)(7-F/147+148): Phase 7 Wave 7-F parallel quality gates — code-review + ADR-check
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/147-code-review.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/148-adr-check.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/r7-backlog.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/IntentRerankerService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/OrchestratorPromptBuilder.cs
Owners: @spaarke-dev

refactor(devops): merge Project Status into default Status field
  .claude/skills/devops-portfolio-setup/SKILL.md
  .claude/skills/devops-portfolio-status/SKILL.md
  .claude/skills/devops-project-archive/SKILL.md
  .claude/skills/devops-project-register/SKILL.md
  .claude/skills/devops-project-start/SKILL.md
  .claude/skills/devops-project-sync/SKILL.md
  projects/spaarke-devops-project-tracking-r1/notes/phase1-field-ids.md
  projects/spaarke-devops-project-tracking-r1/notes/spikes/status-merger-baseline-2026-06-25.json
  scripts/portfolio-status.py
Owners: @spaarke-dev, @devops-team

feat(chat-routing-redesign-r1)(Track-1): production-smoke unblockers — FR-49/50 orchestrator wiring + multinode schema runbook
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/handoffs/Track-1-UAT-runbook.md
  scripts/Deploy-Playbook.ps1
  scripts/dataverse/Add-NodeTypeChoiceOption.ps1
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PlaybookDispatcher.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/PlaybookDispatchExecuteRequestTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookDispatcherDirectExecuteTests.cs
Owners: @spaarke-dev, @devops-team

docs(daily-briefing-r4): initial design + spec — functional completeness
  projects/spaarke-daily-update-service-r4/design.md
  projects/spaarke-daily-update-service-r4/spec.md
Owners: @spaarke-dev

docs(daily-briefing-r4): initial design + spec — functional completeness
  projects/spaarke-daily-update-service-r4/design.md
  projects/spaarke-daily-update-service-r4/spec.md
Owners: @spaarke-dev

chore(smart-todo-r4): R4-118 partial-completion + R5 ribbon-expansion backlog (R-9)
  projects/smart-todo-r4/tasks/118-deploy-wizard-commands-js.poml
  projects/smart-todo-r5/design.md
Owners: @spaarke-dev

docs(daily-briefing-r3): task 090 wrap-up — lessons-learned + status complete
  projects/spaarke-daily-update-service-r3/README.md
  projects/spaarke-daily-update-service-r3/current-task.md
  projects/spaarke-daily-update-service-r3/notes/lessons-learned.md
  projects/spaarke-daily-update-service-r3/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(chat-routing-redesign-r1): Deploy-Playbook.ps1 — exempt DeliverComposite nodes from actionCode lint
  scripts/Deploy-Playbook.ps1
Owners: @spaarke-dev, @devops-team

docs(smart-todo-r4): capture R4-112 PCF XSD failure mode + R4-118 deploy inventory
  .claude/CHANGELOG.md
  .claude/skills/pcf-deploy/SKILL.md
  docs/architecture/client-resources-inventory.md
Owners: @spaarke-dev, @docs-team

fix(scripts): Index-ExistingPlaybooks — read AI Search admin key from Key Vault first
  scripts/Index-ExistingPlaybooks.ps1
Owners: @spaarke-dev, @devops-team

docs(smart-todo-r5): R-10 backlog entry — close R4-114 test-skip + R4-112 defensive items per code review
  projects/smart-todo-r5/design.md
Owners: @spaarke-dev

chore(daily-briefing-r4): add portfolio pointer block to README (Issue #454)
  projects/spaarke-daily-update-service-r4/README.md
Owners: @spaarke-dev, @docs-team

feat(daily-briefing-r4)(task-001): dispatch-path investigation — Path A.5 decision
  projects/spaarke-daily-update-service-r4/current-task.md
  projects/spaarke-daily-update-service-r4/notes/debug/001-mcp-smoke-deferred.md
  projects/spaarke-daily-update-service-r4/notes/decisions/030-dispatch-path.md
  projects/spaarke-daily-update-service-r4/tasks/001-project-setup-and-dispatch-investigation.poml
  projects/spaarke-daily-update-service-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(spaarke-ai-azure-setup-dev-r1): initial design.md and spec.md
  projects/spaarke-ai-azure-setup-dev-r1/design.md
  projects/spaarke-ai-azure-setup-dev-r1/spec.md
Owners: @spaarke-dev

docs(spaarke-ai-azure-setup-dev-r1): rescope to remove Redis work (delegated to spaarke-redis-cache-remediation-r1)
  projects/spaarke-ai-azure-setup-dev-r1/design.md
  projects/spaarke-ai-azure-setup-dev-r1/spec.md
Owners: @spaarke-dev

docs(spaarke-ai-azure-setup-dev-r1): make Deploy-AllIndexes.ps1 consolidation binding (one canonical script, no wrappers)
  projects/spaarke-ai-azure-setup-dev-r1/design.md
  projects/spaarke-ai-azure-setup-dev-r1/spec.md
Owners: @spaarke-dev

docs(spaarke-redis-cache-remediation-r1): initial design.md and spec.md
  projects/spaarke-redis-cache-remediation-r1/design.md
  projects/spaarke-redis-cache-remediation-r1/spec.md
Owners: @spaarke-dev

docs(daily-briefing-r4): mark R1 (R3 PR #451 overlap) resolved — R3 merged
  projects/spaarke-daily-update-service-r4/notes/risks.md
Owners: @spaarke-dev

feat(daily-briefing-r4)(W1.A+B): tasks 002+005+006 — enum 141 + 3 Action rows deployed
  projects/spaarke-daily-update-service-r4/notes/debug/002-publish-size.md
  projects/spaarke-daily-update-service-r4/notes/smoke/005-sys-lookup-membership-deploy.md
  projects/spaarke-daily-update-service-r4/notes/smoke/006-brief-narrate-actions-deploy.md
  projects/spaarke-daily-update-service-r4/tasks/002-add-actiontype-141-entityname-validator-enum.poml
  projects/spaarke-daily-update-service-r4/tasks/005-deploy-sys-lookup-membership-action-row.poml
  projects/spaarke-daily-update-service-r4/tasks/006-deploy-brief-narrate-tldr-and-channel-actions.poml
  projects/spaarke-daily-update-service-r4/tasks/TASK-INDEX.md
  projects/spaarke-daily-update-service/notes/playbooks/actions/brief-narrate-channel.action.json
  projects/spaarke-daily-update-service/notes/playbooks/actions/brief-narrate-tldr.action.json
  projects/spaarke-daily-update-service/notes/playbooks/actions/sys-lookup-membership.action.json
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/INodeExecutor.cs
Owners: @spaarke-dev

chore(daily-briefing-r3): add portfolio pointer to README
  projects/spaarke-daily-update-service-r3/README.md
Owners: @spaarke-dev, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
