Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

test(assistant-r3): reconcile merge — allow-list OpenTabContextTypes in org-context ctor-surface guard
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Context/ContextBinderOrgContextTests.cs
Owners: @spaarke-dev

docs(dotnet-10-upgrade-r1): generate plan + 23 task POMLs (pipeline init-only)
  projects/INDEX.md
  projects/dotnet-10-upgrade-r1/CLAUDE.md
  projects/dotnet-10-upgrade-r1/README.md
  projects/dotnet-10-upgrade-r1/current-task.md
  projects/dotnet-10-upgrade-r1/plan.md
  projects/dotnet-10-upgrade-r1/tasks/001-bump-globaljson-sdk.poml
  projects/dotnet-10-upgrade-r1/tasks/002-retarget-spaarke-scheduling.poml
  projects/dotnet-10-upgrade-r1/tasks/003-retarget-core-and-dataverse.poml
  projects/dotnet-10-upgrade-r1/tasks/004-retarget-bff-api.poml
  projects/dotnet-10-upgrade-r1/tasks/005-retarget-tests-and-build-green.poml
  projects/dotnet-10-upgrade-r1/tasks/010-h1-backgroundservice-audit.poml
  projects/dotnet-10-upgrade-r1/tasks/011-h1-adversarial-verification.poml
  projects/dotnet-10-upgrade-r1/tasks/012-h3-x509-certificateloader.poml
  projects/dotnet-10-upgrade-r1/tasks/013-h6-secondary-hitsite-sweep.poml
  projects/dotnet-10-upgrade-r1/tasks/014-fr06-telemetry-consolidation.poml
  projects/dotnet-10-upgrade-r1/tasks/020-h2-dev-boot-di-validation.poml
  projects/dotnet-10-upgrade-r1/tasks/021-h2-adversarial-verification.poml
  projects/dotnet-10-upgrade-r1/tasks/030-test-suite-green.poml
  projects/dotnet-10-upgrade-r1/tasks/031-publish-size-rebaseline.poml
  projects/dotnet-10-upgrade-r1/tasks/032-transitive-cve-audit.poml
  projects/dotnet-10-upgrade-r1/tasks/040-ci-setup-dotnet-bump.poml
  projects/dotnet-10-upgrade-r1/tasks/041-appservice-runtime-string.poml
  projects/dotnet-10-upgrade-r1/tasks/042-bff-deploy-skill-and-runbook.poml
  projects/dotnet-10-upgrade-r1/tasks/050-region-slot-evidence.poml
  projects/dotnet-10-upgrade-r1/tasks/051-nonprod-cutover-smoke.poml
  projects/dotnet-10-upgrade-r1/tasks/060-rollback-rehearsal.poml
  projects/dotnet-10-upgrade-r1/tasks/061-production-cutover.poml
  projects/dotnet-10-upgrade-r1/tasks/090-project-wrap-up.poml
  projects/dotnet-10-upgrade-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(email-intelligence-r2): UX requirements sec E — UAT round-2 (Related-to/Fields/Tasks feedback)
  projects/email-communication-intelligence-r2/notes/pillar-e-reconciliation-ux-requirements.md
Owners: @spaarke-dev

feat(external-access-r2): #070 wire grantee firm/org to sprk_organization (owner: not OOB account)
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/Dtos/GrantAccessRequest.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/Dtos/InviteExternalUserRequest.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/GrantExternalAccessEndpoint.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/InviteAndGrantExternalUserEndpoint.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/ExternalAccess/ExternalAccessEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/ExternalAccess/PolymorphicGrantWriteTests.cs
Owners: @spaarke-dev

docs(external-access-r2): #070 org-scoping done + live-verified (sprk_organization)
  projects/spaarke-SPA-external-access-platform-r2/current-task.md
  projects/spaarke-SPA-external-access-platform-r2/notes/task-070-deviations.md
Owners: @spaarke-dev

checkpoint(external-access-r2): 070 complete + org done; 071 set up (conflict-check clean), recovery doc ready
  projects/spaarke-SPA-external-access-platform-r2/current-task.md
Owners: @spaarke-dev

docs(email-intelligence-r2): BINDING §11 reuse directives for UAT round-2 behaviors
  projects/email-communication-intelligence-r2/notes/pillar-e-mount-build-plan.md
  projects/email-communication-intelligence-r2/notes/pillar-e-reconciliation-ux-requirements.md
Owners: @spaarke-dev

checkpoint: context-handoff — Pillar E mount in PR #755, UAT round-2 captured+prototyped; next=prototype sign-off / 063+ / 059(gated)
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

ci(deploy): remove push:master auto-deploy trigger from deploy-bff-api
  .github/workflows/deploy-bff-api.yml
  projects/dotnet-10-upgrade-r1/tasks/040-ci-setup-dotnet-bump.poml
Owners: @spaarke-dev, @devops-team

docs(dotnet-10-upgrade-r1): reframe deploy for dev-only environment reality
  projects/dotnet-10-upgrade-r1/current-task.md
  projects/dotnet-10-upgrade-r1/plan.md
  projects/dotnet-10-upgrade-r1/spec.md
  projects/dotnet-10-upgrade-r1/tasks/042-bff-deploy-skill-and-runbook.poml
  projects/dotnet-10-upgrade-r1/tasks/050-region-slot-evidence.poml
  projects/dotnet-10-upgrade-r1/tasks/051-nonprod-cutover-smoke.poml
  projects/dotnet-10-upgrade-r1/tasks/060-rollback-rehearsal.poml
  projects/dotnet-10-upgrade-r1/tasks/061-production-cutover.poml
  projects/dotnet-10-upgrade-r1/tasks/090-project-wrap-up.poml
  projects/dotnet-10-upgrade-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(email-intelligence-r2): task 063 UAT round-2 labels + E1c wizard .eml auto-load requirement
  projects/email-communication-intelligence-r2/current-task.md
  projects/email-communication-intelligence-r2/notes/063-reconciliation-labels-complete.md
  projects/email-communication-intelligence-r2/notes/pillar-e-mount-build-plan.md
  projects/email-communication-intelligence-r2/notes/pillar-e-reconciliation-ux-requirements.md
  projects/email-communication-intelligence-r2/tasks/063-reconciliation-uat-round2-labels.poml
  projects/email-communication-intelligence-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailConnectionsReview.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/ReconcileTabs/TaskReconcileTab.tsx
Owners: @spaarke-dev

feat(external-access-r2): #071 polymorphic grant UI + side-pane Advanced Lookup (PCF v1.0.12)
  projects/spaarke-SPA-external-access-platform-r2/current-task.md
  projects/spaarke-SPA-external-access-platform-r2/notes/task-071-deviations.md
  projects/spaarke-SPA-external-access-platform-r2/tasks/071-pcf-modal-polymorphic-grant.poml
  projects/spaarke-SPA-external-access-platform-r2/tasks/TASK-INDEX.md
  src/client/pcf/TrackingFieldTrio/ControlManifest.Input.xml
  src/client/pcf/TrackingFieldTrio/Solution/Controls/sprk_Spaarke.Controls.TrackingFieldTrio/ControlManifest.xml
  src/client/pcf/TrackingFieldTrio/Solution/Controls/sprk_Spaarke.Controls.TrackingFieldTrio/bundle.js
  src/client/pcf/TrackingFieldTrio/Solution/pack.ps1
  src/client/pcf/TrackingFieldTrio/Solution/solution.xml
  src/client/pcf/TrackingFieldTrio/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/AccessGrantModal/AccessGrantModal.tsx
  src/client/shared/Spaarke.UI.Components/src/components/AccessGrantModal/__tests__/AccessGrantModal.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/AccessGrantModal/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/AccessGrantModal/types.ts
Owners: @spaarke-dev

ci(deploy): remove workflow_run auto-promote from deploy-promote
  .github/workflows/deploy-promote.yml
  projects/dotnet-10-upgrade-r1/tasks/040-ci-setup-dotnet-bump.poml
Owners: @spaarke-dev, @devops-team

checkpoint(dotnet-10-upgrade-r1): context-handoff before compact
  projects/dotnet-10-upgrade-r1/current-task.md
Owners: @spaarke-dev

fix(build): enforce shared-lib build order for @spaarke/communication-components (stale ui-components dist)
  scripts/Build-AllClientComponents.ps1
  src/client/shared/Spaarke.Communication.Components/package.json
Owners: @spaarke-dev, @devops-team

docs(assistant-r3): task 080 deploy record — BFF + SpaarkeAi code page deployed to dev
  projects/spaarkeai-assistant-enhancements-r3/notes/deploy-verify.md
  projects/spaarkeai-assistant-enhancements-r3/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(external-access-r2): #072 Tier-1 module entitlement (Option B) — resolver + /me/entitlements + tab sets
  projects/spaarke-SPA-external-access-platform-r2/current-task.md
  projects/spaarke-SPA-external-access-platform-r2/notes/task-072-deviations.md
  projects/spaarke-SPA-external-access-platform-r2/tasks/072-entitlement-optionb-wiring.poml
  projects/spaarke-SPA-external-access-platform-r2/tasks/TASK-INDEX.md
  src/client/external-spa/src/api/me-client.ts
  src/client/external-spa/src/registry/widgetRegistry.ts
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/Dtos/MeEntitlementsResponse.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ExternalAccessEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/MeEntitlementsEndpoint.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ExternalAccessModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ModuleEntitlementResolver.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/ExternalAccess/ModuleEntitlementResolverTests.cs
Owners: @spaarke-dev

feat(external-access-r2): #073 deploy P2b wave + me-client mock→real entitlement flip
  projects/spaarke-SPA-external-access-platform-r2/current-task.md
  projects/spaarke-SPA-external-access-platform-r2/notes/task-073-deploy-and-uat.md
  projects/spaarke-SPA-external-access-platform-r2/tasks/TASK-INDEX.md
  src/client/external-spa/src/api/me-client.ts
  src/client/external-spa/src/pages/WorkspaceHomePage.tsx
Owners: @spaarke-dev

docs(email-intelligence-r2): explicit no-defer build plan for 064/065/066 (plan §9)
  projects/email-communication-intelligence-r2/notes/pillar-e-mount-build-plan.md
  projects/email-communication-intelligence-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(email-intelligence-r2): task 066 — New-task Assigned-to OOB advanced-lookup (E3b)
  projects/email-communication-intelligence-r2/notes/066-assignedto-lookup-complete.md
  projects/email-communication-intelligence-r2/tasks/066-newtask-assignedto-oob-lookup.poml
  projects/email-communication-intelligence-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Communication.Components/src/components/ReconcileTabs/TaskReconcileTab.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/ReconcileTabs/__tests__/TaskReconcileTab.test.tsx
Owners: @spaarke-dev

checkpoint(email-intelligence-r2): 066 shipped; 065/064 teed up with explicit next-steps
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

fix(external-access-r2): #073 UAT round-1 — grant modal WebAPI feature + side-pane layering (PCF v1.0.13)
  src/client/pcf/TrackingFieldTrio/ControlManifest.Input.xml
  src/client/pcf/TrackingFieldTrio/Solution/Controls/sprk_Spaarke.Controls.TrackingFieldTrio/ControlManifest.xml
  src/client/pcf/TrackingFieldTrio/Solution/Controls/sprk_Spaarke.Controls.TrackingFieldTrio/bundle.js
  src/client/pcf/TrackingFieldTrio/Solution/pack.ps1
  src/client/pcf/TrackingFieldTrio/Solution/solution.xml
  src/client/pcf/TrackingFieldTrio/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/AccessGrantModal/AccessGrantModal.tsx
Owners: @spaarke-dev

feat(email-intelligence-r2): task 065 — Fields typed controls + "Update other fields" (E2b/E2c)
  projects/email-communication-intelligence-r2/notes/065-fields-typed-controls-complete.md
  projects/email-communication-intelligence-r2/tasks/065-fields-typed-controls-update-other.poml
  projects/email-communication-intelligence-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Communication.Components/src/components/ReconcileTabs/FieldUpdateReconcileTab.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/ReconcileTabs/__tests__/FieldUpdateReconcileTab.test.tsx
Owners: @spaarke-dev

checkpoint(email-intelligence-r2): 065+066 shipped; 064 (BFF+hot-path) teed up
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

checkpoint(email-intelligence-r2): context-handoff — 063/065/066 shipped, 064 next
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

feat(dotnet-10-upgrade-r1): fold Graph v6/Kiota 2.0 in as task 033 + close Kiota HIGH CVE
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/kiota-cve-2026-44503-tfm-2026-08-11.md
  projects/dotnet-10-upgrade-r1/CLAUDE.md
  projects/dotnet-10-upgrade-r1/current-task.md
  projects/dotnet-10-upgrade-r1/design.md
  projects/dotnet-10-upgrade-r1/notes/graph6-kiota2-break-assessment.md
  projects/dotnet-10-upgrade-r1/notes/kiota-cve-finding.md
  projects/dotnet-10-upgrade-r1/plan.md
  projects/dotnet-10-upgrade-r1/spec.md
  projects/dotnet-10-upgrade-r1/tasks/004-retarget-bff-api.poml
  projects/dotnet-10-upgrade-r1/tasks/031-publish-size-rebaseline.poml
  projects/dotnet-10-upgrade-r1/tasks/032-transitive-cve-audit.poml
  projects/dotnet-10-upgrade-r1/tasks/033-graph6-kiota2-migration.poml
  projects/dotnet-10-upgrade-r1/tasks/090-project-wrap-up.poml
  projects/dotnet-10-upgrade-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(external-access-r2): #073 UAT round-2 — grant modal reads use FK-value pattern (PCF v1.0.14)
  src/client/pcf/TrackingFieldTrio/ControlManifest.Input.xml
  src/client/pcf/TrackingFieldTrio/Solution/Controls/sprk_Spaarke.Controls.TrackingFieldTrio/ControlManifest.xml
  src/client/pcf/TrackingFieldTrio/Solution/Controls/sprk_Spaarke.Controls.TrackingFieldTrio/bundle.js
  src/client/pcf/TrackingFieldTrio/Solution/pack.ps1
  src/client/pcf/TrackingFieldTrio/Solution/solution.xml
  src/client/pcf/TrackingFieldTrio/index.ts
Owners: @spaarke-dev

fix(external-access-r2): #073 UAT round-3 — env-var auth resolution + toolbar in header (PCF v1.0.15)
  src/client/pcf/TrackingFieldTrio/ControlManifest.Input.xml
  src/client/pcf/TrackingFieldTrio/Solution/Controls/sprk_Spaarke.Controls.TrackingFieldTrio/ControlManifest.xml
  src/client/pcf/TrackingFieldTrio/Solution/Controls/sprk_Spaarke.Controls.TrackingFieldTrio/bundle.js
  src/client/pcf/TrackingFieldTrio/Solution/pack.ps1
  src/client/pcf/TrackingFieldTrio/Solution/solution.xml
  src/client/pcf/TrackingFieldTrio/index.ts
  src/client/pcf/TrackingFieldTrio/tsconfig.json
  src/client/shared/Spaarke.UI.Components/src/components/TrackingFieldTrio/TrackingFieldTrio.tsx
Owners: @spaarke-dev

checkpoint(dotnet-10-upgrade-r1): sync state — merged origin/master, refresh recovery tip
  projects/dotnet-10-upgrade-r1/current-task.md
Owners: @spaarke-dev

feat(external-access-r2): #073 UAT round-4 — Manage Access modal redesign (PCF v1.0.16)
  src/client/pcf/TrackingFieldTrio/ControlManifest.Input.xml
  src/client/pcf/TrackingFieldTrio/Solution/Controls/sprk_Spaarke.Controls.TrackingFieldTrio/ControlManifest.xml
  src/client/pcf/TrackingFieldTrio/Solution/Controls/sprk_Spaarke.Controls.TrackingFieldTrio/bundle.js
  src/client/pcf/TrackingFieldTrio/Solution/pack.ps1
  src/client/pcf/TrackingFieldTrio/Solution/solution.xml
  src/client/pcf/TrackingFieldTrio/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/AccessGrantModal/AccessGrantModal.tsx
Owners: @spaarke-dev

docs(external-access-r2): #073 UAT punch list + current-task recovery record (pre-compaction)
  projects/spaarke-SPA-external-access-platform-r2/current-task.md
  projects/spaarke-SPA-external-access-platform-r2/notes/task-073-uat-punchlist.md
Owners: @spaarke-dev

build(dotnet-10-upgrade-r1): retarget global.json to .NET 10 SDK + re-scrape breaking changes (task 001)
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/net10-breaking-changes-rescrape-2026-08-11.md
  global.json
  projects/dotnet-10-upgrade-r1/current-task.md
  projects/dotnet-10-upgrade-r1/notes/breaking-changes-rescrape.md
  projects/dotnet-10-upgrade-r1/tasks/001-bump-globaljson-sdk.poml
  projects/dotnet-10-upgrade-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(external-access-r2): #073 punch #1 (email crash) investigation notes
  projects/spaarke-SPA-external-access-platform-r2/notes/task-073-uat-punchlist.md
Owners: @spaarke-dev

feat(email-intelligence-r2): task 064 E1b — "New record" → confirmable candidate
  projects/email-communication-intelligence-r2/tasks/064-createnew-quickstart-eml-preload.poml
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailAssociationsAndTracking.types.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailConnectionsReview.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/__tests__/EmailAssociationsAndTracking.test.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationWorkspace/ReconciliationWorkspace.tsx
  src/solutions/SpaarkeAi/src/components/conversation/QuickStartModal.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/QuickStartModal.test.tsx
Owners: @spaarke-dev

docs(email-intelligence-r2): checkpoint 064 — E1b shipped, E1c build plan
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

fix(external-access-r2): #073 UAT batch v1.0.17 — email-crash root cause + standing-grant + scrollbar standard
  docs/standards/MODAL-DESIGN-SYSTEM.md
  src/client/pcf/TrackingFieldTrio/ControlManifest.Input.xml
  src/client/pcf/TrackingFieldTrio/Solution/Controls/sprk_Spaarke.Controls.TrackingFieldTrio/ControlManifest.xml
  src/client/pcf/TrackingFieldTrio/Solution/Controls/sprk_Spaarke.Controls.TrackingFieldTrio/bundle.js
  src/client/pcf/TrackingFieldTrio/Solution/pack.ps1
  src/client/pcf/TrackingFieldTrio/Solution/solution.xml
  src/client/pcf/TrackingFieldTrio/index.ts
  src/client/pcf/webpack.config.js
  src/client/shared/Spaarke.UI.Components/src/components/AccessGrantModal/AccessGrantModal.tsx
  src/client/shared/Spaarke.UI.Components/src/components/AccessGrantModal/types.ts
  src/client/shared/Spaarke.UI.Components/src/theme/index.ts
Owners: @spaarke-dev, @docs-team

docs(external-access-r2): #073 punch-list — mark #1/#2/#5 resolved in v1.0.17
  projects/spaarke-SPA-external-access-platform-r2/current-task.md
  projects/spaarke-SPA-external-access-platform-r2/notes/task-073-uat-punchlist.md
Owners: @spaarke-dev

feat(email-intelligence-r2): task 064 E1c — .eml → session-document ingest endpoint
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/useHandoffFileLeg.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatDocumentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/MatterPreFillService.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/ProjectPreFillService.cs
Owners: @spaarke-dev

docs(email-intelligence-r2): checkpoint 064 — E1b + E1c core shipped; seam test + hosts remain
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

build(dotnet-10-upgrade-r1): retarget Spaarke.Scheduling to net10 (canary, task 002)
  projects/dotnet-10-upgrade-r1/current-task.md
  projects/dotnet-10-upgrade-r1/notes/pin-removals.md
  projects/dotnet-10-upgrade-r1/tasks/002-retarget-spaarke-scheduling.poml
  projects/dotnet-10-upgrade-r1/tasks/TASK-INDEX.md
  src/server/shared/Spaarke.Scheduling/Spaarke.Scheduling.csproj
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
