Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

docs(standards): infinite lazy-scroll is the standard for scrollable lists (ADR-051)
  .claude/CHANGELOG.md
  .claude/adr/ADR-051-infinite-scroll-lists.md
  .claude/adr/INDEX.md
  .claude/patterns/ui/INDEX.md
  .claude/patterns/ui/infinite-scroll-list.md
  .claude/patterns/ui/thin-scrollbar.md
  src/client/shared/CLAUDE.md
Owners: @spaarke-dev

checkpoint(email-intelligence-r2): context-handoff — infinite-scroll standard merged (PR #911); idle restore point
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

test: delete 39 tests in 6 fully-dark files — live-service and manual dependencies
  tests/integration/Spe.Integration.Tests/RagDedicatedDeploymentTests.cs
  tests/integration/Spe.Integration.Tests/RagSharedDeploymentTests.cs
  tests/integration/Sprk.Bff.Api.IntegrationTests/Playbooks/MigratedPlaybookTests.cs
  tests/integration/Sprk.Bff.Api.IntegrationTests/Services/Ai/Handlers/RecallSessionFileHandlerResolvableTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/DocumentIntelligenceEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/SpeFileStoreTests.cs
Owners: @spaarke-dev

docs(ci-r1): next-session handoff — Azure prod-stack deletion staged with evidence
  projects/ci-cd-unit-test-remediation-r1/notes/NEXT-SESSION-2026-08-31.md
Owners: @spaarke-dev

rescue(researcher): 5 Compose research memos that existed only on a doomed branch (#906)
  .claude/agent-memory/researcher/browser-docx-editing-market-patterns-2026-07-21.md
  .claude/agent-memory/researcher/editor-server-bridge-primitives-2026-07-22.md
  .claude/agent-memory/researcher/insights-engine-vs-narrate-2026-06-25.md
  .claude/agent-memory/researcher/legal-ai-docx-editing-comparison-2026-07-21.md
  .claude/agent-memory/researcher/ms-platform-multiformat-ai-editing-2026-07-22.md
  .claude/agent-memory/researcher/spaarke-pcf-client-quality-eslint-2026-06.md
  .claude/agent-memory/researcher/superdoc-license-v2-buildvsbuy-2026-07-22.md
  .claude/agent-memory/researcher/word-rendering-pagination-nfr03-2026-07-28.md
  projects/ai-spaarke-insights-engine-widgets-r1/notes/handoffs/HANDOFF-from-redesign-r1-r2-architecture-impacts.md
Owners: @spaarke-dev

chore(ci-r1): sequence PR #869 (alls-green bump) to cutover as 071 step 9b (#904)
  projects/ci-cd-unit-test-remediation-r1/tasks/071-cutover-window.poml
Owners: @spaarke-dev

refactor(compose): 071 — decompose ComposeDocxProjectionBuilder by reason-to-change
  projects/spaarkeai-compose-r8/notes/071-projection-builder-seam-map.md
  projects/spaarkeai-compose-r8/tasks/071-decompose-projection-builder.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeContentModelProjector.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjectionBuilder.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeNumbering.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeOoxmlPrimitives.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeParaOffsetMapBuilder.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeShadowPatchEngine.cs
  tests/integration/seam/Compose/ComposeProjectionEquivalenceOracle.cs
Owners: @spaarke-dev

chore(email-intelligence-r2): task 090 wrap-up artifacts + 044 runbook
  projects/INDEX.md
  projects/email-communication-intelligence-r2/current-task.md
  projects/email-communication-intelligence-r2/notes/044-addin-deploy-runbook.md
  projects/email-communication-intelligence-r2/notes/drift-audit-2026-08-31.md
  projects/email-communication-intelligence-r2/notes/lessons-learned.md
  projects/email-communication-intelligence-r2/notes/test-diet-report.md
  projects/email-communication-intelligence-r2/tasks/TASK-INDEX.md
  projects/email-communication-solution-r5/notes/email-intelligence-r1-coordination.md
Owners: @spaarke-dev

checkpoint(071): task complete — state updated, next action is 072
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

test: delete 39 tests in 6 fully-dark files — live-service and manual dependencies (#912)
  tests/integration/Spe.Integration.Tests/RagDedicatedDeploymentTests.cs
  tests/integration/Spe.Integration.Tests/RagSharedDeploymentTests.cs
  tests/integration/Sprk.Bff.Api.IntegrationTests/Playbooks/MigratedPlaybookTests.cs
  tests/integration/Sprk.Bff.Api.IntegrationTests/Services/Ai/Handlers/RecallSessionFileHandlerResolvableTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/DocumentIntelligenceEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/SpeFileStoreTests.cs
Owners: @spaarke-dev

docs(ci-r1): next-session handoff — Azure prod-stack deletion staged with evidence (#913)
  projects/ci-cd-unit-test-remediation-r1/notes/NEXT-SESSION-2026-08-31.md
Owners: @spaarke-dev

chore(email-intelligence-r2): record 044 add-in deploy (run 33401242927 success)
  projects/email-communication-intelligence-r2/notes/044-addin-deploy-runbook.md
Owners: @spaarke-dev

fix(provisioning): 213.4-correction — Model 2 BFF gate hardened per owner architectural framing (2026-08-31)
  scripts/Register-EntraAppRegistrations.ps1
Owners: @spaarke-dev, @devops-team

docs(external-access-r3): fold owner decisions + net10 build prereq into design.md
  projects/spaarke-SPA-external-access-platform-r3/design.md
  projects/spaarke-SPA-external-access-platform-r3/notes/legal-front-door-solution-overview.md
Owners: @spaarke-dev

docs(002): Matter parity baseline - code + form halves captured
  projects/record-header-and-notepad-r2/notes/matter-parity-baseline.md
Owners: @spaarke-dev

fix(api): tell the user WHY filing a document to a record was refused
  projects/unified-access-control-r2/notes/finding-secure-transition-container-migration.md
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Filters/EntityAccessFilter.cs
  tests/integration/auth/UnifiedAccessControl/EntityAccessFilterCharacterizationTests.cs
Owners: @spaarke-dev

docs(spe-admin-r3): seed the decomposition project r2 deferred but never created
  projects/INDEX.md
  projects/sdap-SPE-admin-app-r3/README.md
  projects/sdap-SPE-admin-app-r3/design.md
Owners: @spaarke-dev, @docs-team

fix(spaarkeai): remove daily-briefing-narrate from chat-loop projection (R4 UAT raw-JSON dump)
  infra/dataverse/sprk_playbookconsumer-rows.json
Owners: @spaarke-dev

docs(architecture): SPAARKE-ENVIRONMENT-RESOURCE-INVENTORY.md — owner-mandated infrastructure inventory before task 213.7 / 186
  CLAUDE.md
  docs/architecture/SPAARKE-ENVIRONMENT-RESOURCE-INVENTORY.md
  docs/guides/SPAARKE-CUSTOMER-DEPLOYMENT-GUIDE.md
Owners: @spaarke-dev, @docs-team

docs(spaarkeai): track D-UAT-01 (SelectTextProjectable ignores sprk_surfaces)
  projects/spaarkeai-assistant-enhancements-r4/notes/defer-issues.md
Owners: @spaarke-dev

checkpoint(072): render-equivalence oracle validated; strip BOMs 071 introduced
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeContentModelProjector.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjectionBuilder.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeNumbering.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeOoxmlPrimitives.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeParaOffsetMapBuilder.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeShadowPatchEngine.cs
  tests/integration/seam/Compose/ComposeHeadingListApplierSeamTests.cs
  tests/integration/seam/Compose/ComposeRenderEquivalenceOracle.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeDocxProjectionBuilderTests.cs
Owners: @spaarke-dev

feat(api): server-side container derivation for content with no owning record
  src/server/api/Sprk.Bff.Api/Infrastructure/Dataverse/RecordContainerResolver.cs
  tests/integration/auth/UnifiedAccessControl/ActingUserContainerResolutionTests.cs
Owners: @spaarke-dev

fix(email-intelligence-r2): add-in UAT — real entity search + attachment child docs
  src/client/office-addins/shared/taskpane/components/SaveFlow.tsx
  src/server/api/Sprk.Bff.Api/Services/Office/OfficeJobQueue.cs
Owners: @spaarke-dev

refactor(compose): 072 — decompose ComposeDocumentRenderer, one body author intact
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/072-document-renderer-seam-map.md
  projects/spaarkeai-compose-r8/tasks/071-decompose-projection-builder.poml
  projects/spaarkeai-compose-r8/tasks/072-decompose-document-renderer.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocumentRenderer.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeNumberingAuthor.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeRunAuthor.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeStyleCatalog.cs
  tests/integration/seam/Compose/ComposeRenderEquivalenceOracle.cs
Owners: @spaarke-dev

fix(compose-client): size RTL's async budget for CI, not for a fast laptop
  src/client/shared/Spaarke.Compose.Components/jest.setup.js
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.redline-from-ledger.test.tsx
Owners: @spaarke-dev

docs(072): record the compose-client-gate as OPEN — my #916 fix did not work
  projects/spaarkeai-compose-r8/notes/compose-client-gate-red-open.md
Owners: @spaarke-dev

test(compose-client): run the gate serially — the editor mount needs the runner
  src/client/shared/Spaarke.Compose.Components/package.json
Owners: @spaarke-dev

revert(compose-client): undo #916 + #917 — neither fixed the gate
  projects/spaarkeai-compose-r8/notes/compose-client-gate-red-open.md
  src/client/shared/Spaarke.Compose.Components/jest.setup.js
  src/client/shared/Spaarke.Compose.Components/package.json
Owners: @spaarke-dev

fix(office): correct email-artifact priority option values (was out-of-range)
  src/server/api/Sprk.Bff.Api/Workers/Office/UploadFinalizationWorker.cs
Owners: @spaarke-dev

docs(uac-r2): decompose the upload-path work into 076 + 093/094/095
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/plan-upload-path-decomposition-2026-08-31.md
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(jobs): RecordSyncJob contacts $select uses _parentcustomerid_value + Pillar B UAT findings
  projects/email-communication-intelligence-r2/notes/pillar-b-uat-findings-2026-08-31.md
  src/server/api/Sprk.Bff.Api/Services/Jobs/RecordSyncJob.cs
Owners: @spaarke-dev

checkpoint: worktree fully synced at f6887d46a; 090 open, deploy is next
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

feat(office): real Dataverse entity search for add-in "File to" (task 026 / #229)
  src/server/api/Sprk.Bff.Api/Services/Office/OfficeService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Office/OfficeEntitySearchMappingTests.cs
Owners: @spaarke-dev

checkpoint(email-intelligence-r2): Pillar B UAT deep-fix arc deployed to dev
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

test(ci-r1): delete 21 live-service tests + 2 ADR-038 B3 violations
  docs/assessments/azure-prod-stack-decommission-2026-08-31.md
  projects/ci-cd-unit-test-remediation-r1/notes/skip-classification-2026-08-31.md
  tests/integration/Spe.Integration.Tests/PlaybookExecutionIntegrationTests.cs
  tests/integration/Spe.Integration.Tests/Reporting/ReportingDeploymentModelTests.cs
  tests/integration/Spe.Integration.Tests/ToolFrameworkIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/AnalysisChatContextEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/DI/CacheModuleTests.cs
Owners: @spaarke-dev, @docs-team

docs(ci-r1): update handoff — items 1 and 3 done
  projects/ci-cd-unit-test-remediation-r1/notes/NEXT-SESSION-2026-08-31.md
Owners: @spaarke-dev

test(ci-r1): delete 21 live-service tests + 2 ADR-038 B3 violations (Skip 88->67) (#920)
  docs/assessments/azure-prod-stack-decommission-2026-08-31.md
  projects/ci-cd-unit-test-remediation-r1/notes/NEXT-SESSION-2026-08-31.md
  projects/ci-cd-unit-test-remediation-r1/notes/skip-classification-2026-08-31.md
  tests/integration/Spe.Integration.Tests/PlaybookExecutionIntegrationTests.cs
  tests/integration/Spe.Integration.Tests/Reporting/ReportingDeploymentModelTests.cs
  tests/integration/Spe.Integration.Tests/ToolFrameworkIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/AnalysisChatContextEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/DI/CacheModuleTests.cs
Owners: @spaarke-dev, @docs-team

fix(compose): renormalize 5 mixed-EOL blobs that arrived with the master merge
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeContentModelProjector.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeNumberingAuthor.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeParaOffsetMapBuilder.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeRunAuthor.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeStyleCatalog.cs
Owners: @spaarke-dev

fix(ci): smudge LFS in compose-client-gate — it has never been green
  .github/workflows/sdap-ci.yml
Owners: @spaarke-dev, @devops-team

fix(office): accept friendly association-type names in save validation (OFFICE_002)
  src/server/api/Sprk.Bff.Api/Api/Office/OfficeEndpoints.cs
Owners: @spaarke-dev
