Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

docs(insights-engine-r2): align with master post-sync — ADR-030, IRagService, bff-extensions F.1/F.2/F.3
  projects/ai-spaarke-insights-engine-r2/CLAUDE.md
  projects/ai-spaarke-insights-engine-r2/plan.md
  projects/ai-spaarke-insights-engine-r2/spec.md
  projects/ai-spaarke-insights-engine-r2/tasks/010-architecture-overview-refresh.poml
  projects/ai-spaarke-insights-engine-r2/tasks/020-universal-ingest-jps-playbook.poml
  projects/ai-spaarke-insights-engine-r2/tasks/023-iinsightsai-facade-rewire.poml
  projects/ai-spaarke-insights-engine-r2/tasks/034-multi-entity-resolvers.poml
  projects/ai-spaarke-insights-engine-r2/tasks/036-synthetic-test-fixtures.poml
  projects/ai-spaarke-insights-engine-r2/tasks/040-insights-search-rag-endpoint.poml
  projects/ai-spaarke-insights-engine-r2/tasks/041-intent-classifier.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(spaarke-datagrid-framework-r1): Wave A1 — tasks 002 + 003 (parallel)
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/003-deviations.md
  projects/spaarke-datagrid-framework-r1/tasks/002-xrm-dataverse-client.poml
  projects/spaarke-datagrid-framework-r1/tasks/003-datagrid-core.poml
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/configResolution.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/useLazyLoad.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/index.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useDataGridContext.ts
  src/client/shared/Spaarke.UI.Components/src/services/XrmDataverseClient.ts
  src/client/shared/Spaarke.UI.Components/src/services/__tests__/XrmDataverseClient.test.ts
  src/client/shared/Spaarke.UI.Components/src/services/index.ts
  src/client/shared/Spaarke.UI.Components/storybook/DataGrid.stories.tsx
Owners: @spaarke-dev

docs(insights-engine-r2): D-01 path-b re-scope of Wave B (JPS-skills constraint + configjson-wipe finding)
  projects/ai-spaarke-insights-engine-r2/current-task.md
  projects/ai-spaarke-insights-engine-r2/decisions/D-01-wave-b-root-cause-corrected.md
  projects/ai-spaarke-insights-engine-r2/tasks/001-create-insights-action-rows.poml
  projects/ai-spaarke-insights-engine-r2/tasks/002-update-playbook-json-action-refs.poml
  projects/ai-spaarke-insights-engine-r2/tasks/003-deploy-playbook-action-lint.poml
  projects/ai-spaarke-insights-engine-r2/tasks/004-redeploy-playbook-with-action-refs.poml
  projects/ai-spaarke-insights-engine-r2/tasks/006-update-phase1-verification-doc.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(insights-engine-r2): Wave B1 complete — D-01 Q1+Q2+Q3 resolved via authoritative docs
  projects/ai-spaarke-insights-engine-r2/current-task.md
  projects/ai-spaarke-insights-engine-r2/decisions/D-01-wave-b-root-cause-corrected.md
  projects/ai-spaarke-insights-engine-r2/notes/handoffs/wave-b1-investigation-notes.md
  projects/ai-spaarke-insights-engine-r2/tasks/001-create-insights-action-rows.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(spaarke-datagrid-framework-r1): Wave A2 — tasks 004-008 (5 parallel agents)
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/004-deviations.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/005-deviations.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/006-deviations.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/007-deviations.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/008-deviations.md
  projects/spaarke-datagrid-framework-r1/tasks/004-column-header-menu-lift.poml
  projects/spaarke-datagrid-framework-r1/tasks/005-lookup-multi-filter-chip.poml
  projects/spaarke-datagrid-framework-r1/tasks/006-option-set-filter-chip.poml
  projects/spaarke-datagrid-framework-r1/tasks/007-date-text-bool-chips.poml
  projects/spaarke-datagrid-framework-r1/tasks/008-command-bar.poml
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/chips/BoolFilterChip.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/chips/DateRangeFilterChip.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/chips/LookupMultiFilterChip.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/chips/OptionSetMultiFilterChip.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/chips/TextFilterChip.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/chips/__tests__/dateUtils.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/columnHeader/ColumnFilterHeader.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/columnHeader/ColumnHeaderMenu.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/commandBar/CommandBar.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/commandBar/__tests__/csvExport.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/commandBar/csvExport.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/commandBar/defaults.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/commandBar/registry.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/index.ts
  src/client/shared/Spaarke.UI.Components/storybook/ColumnHeaderMenu.stories.tsx
  src/client/shared/Spaarke.UI.Components/storybook/CommandBar.stories.tsx
  src/client/shared/Spaarke.UI.Components/storybook/LookupMultiFilterChip.stories.tsx
  src/client/shared/Spaarke.UI.Components/storybook/OptionSetMultiFilterChip.stories.tsx
  src/client/shared/Spaarke.UI.Components/storybook/SimpleFilterChips.stories.tsx
Owners: @spaarke-dev

chore(spaarke-datagrid-framework-r1): add task 080 (Storybook hosting + style guide)
  projects/spaarke-datagrid-framework-r1/tasks/080-storybook-hosting-and-living-style-guide.poml
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(insights-engine-r2): Wave B2 complete — 6 INS-* action rows live in Spaarke Dev
  projects/ai-spaarke-insights-engine-r2/current-task.md
  projects/ai-spaarke-insights-engine-r2/decisions/D-01-wave-b-root-cause-corrected.md
  projects/ai-spaarke-insights-engine-r2/notes/drafts/wave-b-action-codes.md
  projects/ai-spaarke-insights-engine-r2/tasks/002-update-playbook-json-action-refs.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(spaarke-datagrid-framework-r1): task 009 — Phase A acceptance gate
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/009-deviations.md
  projects/spaarke-datagrid-framework-r1/notes/phase-a-acceptance-gate.md
  projects/spaarke-datagrid-framework-r1/tasks/009-storybook-coverage-and-visual-diff-gate.poml
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/.storybook/main.ts
  src/client/shared/Spaarke.UI.Components/.storybook/preview.ts
  src/client/shared/Spaarke.UI.Components/storybook/EdgeStates.stories.tsx
  src/client/shared/Spaarke.UI.Components/storybook/FluentV9NativeFeatures.stories.tsx
  src/client/shared/Spaarke.UI.Components/storybook/__visual-diff-reference__/README.md
Owners: @spaarke-dev, @docs-team

docs(spaarke-datagrid-framework-r1): task 010 — BFF Placement Justification + filter shape
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/010-authorization-filter-shape.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/010-bff-placement-justification.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/010-open-questions.md
  projects/spaarke-datagrid-framework-r1/tasks/010-bff-placement-justification-and-filter-shape.poml
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(insights-engine-r2): Wave B2 addendum — sprk_actiontypeid lookup FK set on 6 INS-* rows (path-a per owner direction)
  projects/ai-spaarke-insights-engine-r2/decisions/D-01-wave-b-root-cause-corrected.md
  projects/ai-spaarke-insights-engine-r2/notes/drafts/wave-b-action-codes.md
Owners: @spaarke-dev

feat(spaarke-datagrid-framework-r1): Wave B1 — tasks 011-014 (4 parallel agents)
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/010-open-questions.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/011-deviations.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/012-deviations.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/013-deviations.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/014-deviations.md
  projects/spaarke-datagrid-framework-r1/tasks/011-savedquery-service-and-endpoints.poml
  projects/spaarke-datagrid-framework-r1/tasks/012-metadata-service-and-endpoint.poml
  projects/spaarke-datagrid-framework-r1/tasks/013-fetch-service-and-endpoint.poml
  projects/spaarke-datagrid-framework-r1/tasks/014-record-service-and-endpoint.poml
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Dataverse/FetchEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Dataverse/MetadataEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Dataverse/RecordEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Dataverse/SavedQueryEndpoints.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/DataverseAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/Extensions/DataverseServiceExtensions.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/Extensions/FetchServiceExtensions.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/Extensions/MetadataServiceExtensions.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/Extensions/RecordServiceExtensions.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/FetchService.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/FetchXml/FetchXmlEntityExtractor.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/FetchXml/IFetchXmlEntityExtractor.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/MetadataService.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/Models/EntityMetadataDto.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/Models/FetchRequestDto.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/Models/FetchResponseDto.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/Models/SavedQueryDto.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/Models/SavedQuerySummaryDto.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/Privileges/IDataversePrivilegeChecker.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/Privileges/UserPrivilegeChecker.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/RecordService.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/SavedQueryService.cs
Owners: @spaarke-dev

fix(insights-engine): make sprk_executoractiontype on lookup target the canonical dispatch source
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisActionService.cs
Owners: @spaarke-dev

feat(insights-engine): Wave B3 — Deploy-Playbook.ps1 lint + INS-AGNT row + playbook JSON action codes
  projects/ai-spaarke-insights-engine-r2/tasks/003-deploy-playbook-action-lint.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
  scripts/Deploy-Playbook.ps1
  scripts/README.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Playbooks/predict-matter-cost.playbook.json
Owners: @spaarke-dev, @devops-team, @docs-team

feat(spaarke-datagrid-framework-r1): Wave B2 — tasks 015 + 016 (parallel) + bug fix
  Spaarke.sln
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/015-deviations.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/016-deviations.md
  projects/spaarke-datagrid-framework-r1/tasks/015-bff-dataverse-client.poml
  projects/spaarke-datagrid-framework-r1/tasks/016-bff-integration-tests.poml
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/services/BffDataverseClient.ts
  src/client/shared/Spaarke.UI.Components/src/services/__tests__/BffDataverseClient.test.ts
  src/client/shared/Spaarke.UI.Components/src/services/index.ts
  src/server/api/Sprk.Bff.Api/Api/Dataverse/SavedQueryEndpoints.cs
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
  tests/integration/Sprk.Bff.Api.IntegrationTests/Api/Dataverse/FetchEndpointTests.cs
  tests/integration/Sprk.Bff.Api.IntegrationTests/Api/Dataverse/MetadataEndpointTests.cs
  tests/integration/Sprk.Bff.Api.IntegrationTests/Api/Dataverse/RecordEndpointTests.cs
  tests/integration/Sprk.Bff.Api.IntegrationTests/Api/Dataverse/SavedQueryEndpointsTests.cs
  tests/integration/Sprk.Bff.Api.IntegrationTests/DataverseIntegrationTestFixture.cs
  tests/integration/Sprk.Bff.Api.IntegrationTests/GlobalUsings.cs
  tests/integration/Sprk.Bff.Api.IntegrationTests/Helpers/MockServiceClientFactory.cs
  tests/integration/Sprk.Bff.Api.IntegrationTests/Sprk.Bff.Api.IntegrationTests.csproj
Owners: @spaarke-dev

feat(insights-engine): Wave B COMPLETE — D-01 closed, predict-matter-cost dispatch unblocked end-to-end
  projects/ai-spaarke-insights-engine-r2/current-task.md
  projects/ai-spaarke-insights-engine-r2/decisions/D-01-wave-b-root-cause-corrected.md
  projects/ai-spaarke-insights-engine-r2/notes/handoffs/wave-b5-smoke-results.md
  projects/ai-spaarke-insights-engine-r2/tasks/005-live-smoke-predict-matter-cost.poml
  projects/ai-spaarke-insights-engine-r2/tasks/006-update-phase1-verification-doc.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(spaarke-datagrid-framework-r1): defer task 017 BFF deploy
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/017-deferral.md
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(insights-engine): Wave B SC-01 MET — real DeclineResponse returned end-to-end
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/InsightsOrchestrator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookOrchestrationService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/InsightsOrchestratorTests.cs
Owners: @spaarke-dev

feat(spaarke-datagrid-framework-r1): task 020 — Matter-context savedqueries
  projects/spaarke-datagrid-framework-r1/notes/drafts/020-deviations.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/020-savedquery-column-layouts.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/020-savedquery-ids.md
  projects/spaarke-datagrid-framework-r1/tasks/020-author-matter-context-savedqueries.poml
Owners: @spaarke-dev

docs(insights-engine): update Wave B docs with SC-01 SUCCESS
  projects/ai-spaarke-insights-engine-r2/decisions/D-01-wave-b-root-cause-corrected.md
  projects/ai-spaarke-insights-engine-r2/notes/handoffs/wave-b5-smoke-results.md
  projects/ai-spaarke-insights-engine-r2/tasks/005-live-smoke-predict-matter-cost.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(datagrid): add parentContextFilter overlay (task 020 D-020-02 follow-up)
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/configResolution.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/fetchXmlOverlay.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/index.ts
  src/client/shared/Spaarke.UI.Components/src/types/DataGridConfiguration.ts
Owners: @spaarke-dev

feat(spaarke-datagrid-framework-r1): C-Wave-1 — tasks 021 + 022 (parallel)
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/021-config-record-id.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/021-deviations.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/021-kpi-configjson.json
  projects/spaarke-datagrid-framework-r1/notes/drafts/022-config-record-id.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/022-deviations.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/022-invoice-configjson.json
  projects/spaarke-datagrid-framework-r1/notes/drafts/022-mark-paid-decision.md
  projects/spaarke-datagrid-framework-r1/tasks/021-kpi-assessment-config-record.poml
  projects/spaarke-datagrid-framework-r1/tasks/022-invoice-config-record.poml
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(spaarke-datagrid-framework-r1): C-Wave-2 — task 023 drill-through Custom Pages
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/023-deviations.md
  projects/spaarke-datagrid-framework-r1/tasks/023-drill-through-custom-pages.poml
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
  src/solutions/sprk_invoicespage/index.html
  src/solutions/sprk_invoicespage/package-lock.json
  src/solutions/sprk_invoicespage/package.json
  src/solutions/sprk_invoicespage/src/main.tsx
  src/solutions/sprk_invoicespage/tsconfig.json
  src/solutions/sprk_invoicespage/tsconfig.node.json
  src/solutions/sprk_invoicespage/vite.config.ts
  src/solutions/sprk_kpiassessmentspage/index.html
  src/solutions/sprk_kpiassessmentspage/package-lock.json
  src/solutions/sprk_kpiassessmentspage/package.json
  src/solutions/sprk_kpiassessmentspage/src/main.tsx
  src/solutions/sprk_kpiassessmentspage/tsconfig.json
  src/solutions/sprk_kpiassessmentspage/tsconfig.node.json
  src/solutions/sprk_kpiassessmentspage/vite.config.ts
Owners: @spaarke-dev

docs(spaarke-datagrid-framework-r1): C-Wave-3 — task 024 chart-def updates
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/024-chart-def-update-log.md
  projects/spaarke-datagrid-framework-r1/tasks/024-visualhost-chart-def-updates.poml
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(spaarke-datagrid-framework-r1): C-Wave-4 task 025 — deploy Phase C Custom Pages to DEV
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/025-deviations.md
  projects/spaarke-datagrid-framework-r1/notes/phase-c-deploy-report.md
  projects/spaarke-datagrid-framework-r1/tasks/025-phase-c-deploy.poml
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(adr,scripts): ADR-027 amendment + Setup-InsightsEngineSchema.ps1 — unmanaged-everywhere is actual practice
  .claude/adr/ADR-027-subscription-isolation-and-dataverse-solution-management.md
  docs/adr/ADR-027-subscription-isolation-and-dataverse-solution-management.md
  scripts/README.md
  scripts/Setup-InsightsEngineSchema.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

docs(bff-extensions): F.4 Deploy Coordination Across Parallel Projects
  .claude/constraints/bff-extensions.md
Owners: @spaarke-dev

fix(datagrid-framework-r1): strip `top` attribute when injecting paging into FetchXML
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/useLazyLoad.ts
Owners: @spaarke-dev

docs(r4-post-close): PR #331 merge follow-up checkpoint for compact
  projects/spaarke-ai-platform-unification-r4/notes/pr-331-merge-followup.md
Owners: @spaarke-dev

fix(ci): build UI.Components before AI.Widgets tsc; suppress Azurite false positive
  .github/workflows/sdap-ci.yml
  .trivyignore
Owners: @spaarke-dev, @devops-team

fix(ci): full dependency chain build + dotnet whitespace cleanup
  .github/workflows/sdap-ci.yml
  src/server/api/Sprk.Bff.Api/Services/Workspace/WorkspaceLayoutService.cs
Owners: @spaarke-dev, @devops-team

chore(ci): make Trivy non-blocking temporarily (skip SARIF upload)
  .github/workflows/sdap-ci.yml
Owners: @spaarke-dev, @devops-team

project(trivy-cve-backlog-cleanup-r1): file as separate project per operator
  projects/trivy-cve-backlog-cleanup-r1/README.md
  projects/trivy-cve-backlog-cleanup-r1/design.md
Owners: @spaarke-dev, @docs-team

fix(ci): comment out SARIF upload step instead of `if: false`
  .github/workflows/sdap-ci.yml
Owners: @spaarke-dev, @devops-team

chore(skill): merge-to-master defaults to PR + auto-merge on protected master
  .claude/skills/merge-to-master/SKILL.md
Owners: @spaarke-dev

docs(insights-engine-r2): milestone context-point — Wave B complete + on master
  projects/ai-spaarke-insights-engine-r2/current-task.md
Owners: @spaarke-dev

docs(insights-engine-r2): Wave A complete — 6 foundation design docs landed
  docs/architecture/INSIGHTS-ENGINE-ARCHITECTURE.md
  docs/guides/INSIGHTS-ENGINE-GUIDE.md
  projects/ai-spaarke-insights-engine-r2/current-task.md
  projects/ai-spaarke-insights-engine-r2/design-a3-2d-taxonomy.md
  projects/ai-spaarke-insights-engine-r2/design-a4-prompt-variants.md
  projects/ai-spaarke-insights-engine-r2/design-a5-universal-ingest-jps.md
  projects/ai-spaarke-insights-engine-r2/design-a6-multi-entity.md
  projects/ai-spaarke-insights-engine-r2/notes/spikes/engine-gap-analysis.md
  projects/ai-spaarke-insights-engine-r2/spec.md
  projects/ai-spaarke-insights-engine-r2/tasks/010-architecture-overview-refresh.poml
  projects/ai-spaarke-insights-engine-r2/tasks/011-operator-guide-refresh.poml
  projects/ai-spaarke-insights-engine-r2/tasks/012-2d-taxonomy-design.poml
  projects/ai-spaarke-insights-engine-r2/tasks/013-prompt-variant-versioning-design.poml
  projects/ai-spaarke-insights-engine-r2/tasks/014-universal-ingest-jps-refactor-design.poml
  projects/ai-spaarke-insights-engine-r2/tasks/015-multi-entity-subject-design.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(insights-engine-r2): Wave C1 — universal-ingest@v1 JPS playbook + 2 engine patches
  projects/ai-spaarke-insights-engine-r2/current-task.md
  projects/ai-spaarke-insights-engine-r2/tasks/020-universal-ingest-jps-playbook.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/InsightsIngestModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Nodes/ObservationEmitterNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Nodes/SanitizerNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Playbooks/universal-ingest.playbook.json
  src/server/api/Sprk.Bff.Api/Services/Ai/NodeExecutionContext.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/EvidenceSufficiencyNode.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/INodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookRunContext.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/UniversalIngestPlaybookTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/InsightsNodeTestHelpers.cs
Owners: @spaarke-dev

feat(insights-engine-r2): Wave C-G1 — task 021 prompt migration + task 024 parameterization
  projects/ai-spaarke-insights-engine-r2/notes/handoffs/c2-prompt-migration-comparison.md
  projects/ai-spaarke-insights-engine-r2/tasks/021-prompts-to-jps-storage.poml
  projects/ai-spaarke-insights-engine-r2/tasks/024-universal-ingest-parameterization.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Models/Ai/PublicContracts/InsightsIngestRequest.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/InsightsOrchestrator.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/InsightsOrchestratorTests.cs
Owners: @spaarke-dev

chore(insights-engine-r2): bump sprk_actioncode MaxLength 10→64 + rename Insights rows to @v1
  projects/ai-spaarke-insights-engine-r2/notes/handoffs/c2-prompt-migration-comparison.md
  projects/ai-spaarke-insights-engine-r2/notes/handoffs/schema-bump-actioncode-64.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Playbooks/predict-matter-cost.playbook.json
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Playbooks/universal-ingest.playbook.json
Owners: @spaarke-dev

feat(insights-engine-r2): Wave C-G3 — task 023 IInsightsAi facade rewire
  projects/ai-spaarke-insights-engine-r2/tasks/023-iinsightsai-facade-rewire.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/InsightsFacadeModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/InsightsIngestOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/InsightsOrchestrator.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/InsightsOrchestratorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/Playbooks/PredictMatterCostPlaybookTests.cs
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
