Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

feat(insights-engine-r2): Wave C-G4 — task 022 retire IngestOrchestrator (Wave C complete)
  projects/ai-spaarke-insights-engine-r2/current-task.md
  projects/ai-spaarke-insights-engine-r2/tasks/022-retire-ingest-orchestrator.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/InsightsFacadeModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/InsightsIngestModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/InsightsModule.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/PublicContracts/InsightsIngestRequest.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Ingest/IIngestOrchestrator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Ingest/IngestOrchestrator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/InsightsIngestOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/InsightsOrchestrator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Nodes/ObservationEmitterNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Nodes/SanitizerNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Playbooks/universal-ingest.playbook.json
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Playbooks/universal-ingest.v1.json
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Prompts/IInsightsPromptLoader.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Prompts/InsightsPromptLoader.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Prompts/classification.v1.schema.json
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Prompts/classification.v1.txt
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Prompts/outcome-extraction.v1.schema.json
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Prompts/outcome-extraction.v1.txt
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Prompts/predict-matter-cost-synthesis.v1.txt
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Sanitization/IInsightsContentSanitizer.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/INodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/IObservationMirror.cs
  src/server/api/Sprk.Bff.Api/Services/Insights/Observations/DataverseObservationMirror.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Insights/InsightsIngestJobHandler.cs
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/Ingest/IngestOrchestratorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/InsightsOrchestratorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/Layer1ClassificationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/Layer2/Layer2OutcomeExtractionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/Playbooks/PredictMatterCostPlaybookTests.cs
Owners: @spaarke-dev

chore(client): Prettier --write on 11 files to clear CI Client Quality check
  src/client/pcf/VisualHost/control/components/ChartRenderer.tsx
  src/client/pcf/VisualHost/control/components/DonutChart.tsx
  src/client/pcf/VisualHost/control/components/HorizontalStackedBar.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/control/services/ViewDataService.ts
  src/client/pcf/VisualHost/control/utils/cardConfigResolver.ts
Owners: @spaarke-dev

feat(matter-ui-r1): VH v1.4.2..v1.4.16 + SSC v1.1.72 UAT polish wave (#335)
  docs/architecture/VISUALHOST-ARCHITECTURE.md
  docs/guides/VISUALHOST-SETUP-GUIDE.md
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/CardChrome.tsx
  src/client/pcf/VisualHost/control/components/ChartRenderer.tsx
  src/client/pcf/VisualHost/control/components/DonutChart.tsx
  src/client/pcf/VisualHost/control/components/DueDateCard.tsx
  src/client/pcf/VisualHost/control/components/DueDateCardList.tsx
  src/client/pcf/VisualHost/control/components/EventDueDateCard.tsx
  src/client/pcf/VisualHost/control/components/HorizontalStackedBar.tsx
  src/client/pcf/VisualHost/control/components/MetricCardMatrix.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/control/services/ViewDataService.ts
  src/client/pcf/VisualHost/control/types/index.ts
  src/client/pcf/VisualHost/control/utils/cardConfigResolver.ts
  src/client/pcf/VisualHost/control/utils/tokenSetColors.ts
Owners: @spaarke-dev, @docs-team

chore(insights-engine-r2): renumber ADR-030 → ADR-032 + cleanup stale playbook $ref
  .claude/constraints/bff-extensions.md
  docs/architecture/INSIGHTS-ENGINE-ARCHITECTURE.md
  docs/guides/INSIGHTS-ENGINE-GUIDE.md
  docs/procedures/test-fixture-contracts.md
  docs/procedures/testing-and-code-quality.md
  projects/ai-spaarke-insights-engine-r2/CLAUDE.md
  projects/ai-spaarke-insights-engine-r2/design-a6-multi-entity.md
  projects/ai-spaarke-insights-engine-r2/plan.md
  projects/ai-spaarke-insights-engine-r2/spec.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Playbooks/predict-matter-cost.playbook.json
Owners: @spaarke-dev, @docs-team

feat(insights-engine-r2): Wave D-G1 — task 030 sprk_documenttype_ref + N:N intersect schema
  projects/ai-spaarke-insights-engine-r2/tasks/030-document-type-and-matrix-schema.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
  scripts/Deploy-DocumentTypeAndMatrixSchema.ps1
Owners: @spaarke-dev, @devops-team

feat(insights-engine-r2): Wave D-G2 + early D-G4 (031 + 032 + 034 + 035)
  infra/insights/schemas/spaarke-insights-index.index.json
  projects/ai-spaarke-insights-engine-r2/current-task.md
  projects/ai-spaarke-insights-engine-r2/tasks/031-per-practice-area-layer1-prompts.poml
  projects/ai-spaarke-insights-engine-r2/tasks/032-per-area-doctype-layer2-schemas.poml
  projects/ai-spaarke-insights-engine-r2/tasks/034-multi-entity-resolvers.poml
  projects/ai-spaarke-insights-engine-r2/tasks/035-index-scope-shape-migration.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
  scripts/Migrate-InsightsIndexScopeShape.ps1
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/InsightsModule.cs
  src/server/api/Sprk.Bff.Api/Options/AiSearchOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Ingest/ObservationIndexDocument.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Ingest/ObservationIndexUpserter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/IndexRetrieveNode.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/LiveFactNode.cs
  src/server/api/Sprk.Bff.Api/Services/Insights/LiveFacts/InvoiceLiveFactResolver.cs
  src/server/api/Sprk.Bff.Api/Services/Insights/LiveFacts/MatterLiveFactResolver.cs
  src/server/api/Sprk.Bff.Api/Services/Insights/LiveFacts/ProjectLiveFactResolver.cs
  src/server/api/Sprk.Bff.Api/Services/Insights/LiveFacts/StubLiveFactResolver.cs
  src/server/api/Sprk.Bff.Api/Services/Insights/LiveFacts/SubjectParser.cs
  src/server/api/Sprk.Bff.Api/Services/Insights/LiveFacts/SubjectSchemeCatalogOptions.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/Ingest/ObservationIndexScopeShapeTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/IndexRetrieveNodeSubjectScopeTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/InsightsNodesIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/LiveFactNodeTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Insights/LiveFacts/InvoiceLiveFactResolverTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Insights/LiveFacts/MatterLiveFactResolverTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Insights/LiveFacts/ProjectLiveFactResolverTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Insights/LiveFacts/SubjectParserTests.cs
Owners: @spaarke-dev, @devops-team

feat(insights-engine-r2): Wave D-G3 + D7 (033 routing + 036 synthetic fixtures) — Wave D complete
  projects/ai-spaarke-insights-engine-r2/current-task.md
  projects/ai-spaarke-insights-engine-r2/tasks/033-universal-ingest-per-area-routing.poml
  projects/ai-spaarke-insights-engine-r2/tasks/036-synthetic-test-fixtures.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Routing/IInsightsActionRouter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Routing/InsightsActionRouter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookOrchestrationService.cs
  tests/Insights/fixtures/r2/BNKF/matter-loan-agreement-1.txt
  tests/Insights/fixtures/r2/BNKF/matter-payoff-letter-1.txt
  tests/Insights/fixtures/r2/BNKF/matter-security-agreement-1.txt
  tests/Insights/fixtures/r2/BNKF/project-closing-checklist-1.txt
  tests/Insights/fixtures/r2/BNKF/project-financing-engagement-letter-1.txt
  tests/Insights/fixtures/r2/BNKF/project-monthly-report-1.txt
  tests/Insights/fixtures/r2/CTRNS/matter-asset-purchase-agreement-1.txt
  tests/Insights/fixtures/r2/CTRNS/matter-closing-statement-1.txt
  tests/Insights/fixtures/r2/CTRNS/matter-nda-gate-fail-1.txt
  tests/Insights/fixtures/r2/CTRNS/project-closure-memo-1.txt
  tests/Insights/fixtures/r2/CTRNS/project-statement-of-work-1.txt
  tests/Insights/fixtures/r2/CTRNS/project-status-report-1.txt
  tests/Insights/fixtures/r2/IPPAT/matter-office-action-1.txt
  tests/Insights/fixtures/r2/IPPAT/matter-patent-application-1.txt
  tests/Insights/fixtures/r2/IPPAT/matter-response-to-office-action-1.txt
  tests/Insights/fixtures/r2/IPPAT/project-docket-summary-1.txt
  tests/Insights/fixtures/r2/IPPAT/project-prosecution-plan-1.txt
  tests/Insights/fixtures/r2/IPPAT/project-status-report-1.txt
  tests/Insights/fixtures/r2/_uncovered/ippat-trade-secrets-policy-1.txt
  tests/unit/Sprk.Bff.Api.Tests/Integration/PlaybookExecutionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/Fixtures/SyntheticDocuments.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/Routing/InsightsActionRouterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PlaybookOrchestrationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Sprk.Bff.Api.Tests.csproj
Owners: @spaarke-dev

style(insights-engine-r2): fix whitespace formatting (PR #336 Code Quality)
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/InsightsModule.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/Routing/InsightsActionRouterTests.cs
Owners: @spaarke-dev

docs(insights-engine-r2): milestone context-point — Wave D shipped + Wave E next
  projects/ai-spaarke-insights-engine-r2/current-task.md
Owners: @spaarke-dev

docs(spaarke-datagrid-framework-r1): parent-context filter pattern + Prettier normalize 4 UAT-iterated files
  projects/spaarke-datagrid-framework-r1/notes/parent-context-pattern.md
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/HeaderCellContent.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/ViewSelector.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/commandBar/CommandBar.tsx
Owners: @spaarke-dev

fix(spaarke-datagrid-framework-r1): keep column header + filter chevrons visible when 0 rows (empty-state UX)
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
Owners: @spaarke-dev

feat(projects): stage AF fit-assessment + parked knowledge projects; complete fit task 000
  projects/agent-framework-fit-assessment-r1/CLAUDE.md
  projects/agent-framework-fit-assessment-r1/README.md
  projects/agent-framework-fit-assessment-r1/SPEC.md
  projects/agent-framework-fit-assessment-r1/TASK-INDEX.md
  projects/agent-framework-fit-assessment-r1/current-task.md
  projects/agent-framework-fit-assessment-r1/notes/00-primary-source-baseline.md
  projects/agent-framework-fit-assessment-r1/tasks/000-refresh-primary-sources.poml
  projects/agent-framework-fit-assessment-r1/tasks/001-inventory-spaarke-ai-surfaces.poml
  projects/agent-framework-fit-assessment-r1/tasks/002-inventory-non-bff-ai-touchpoints.poml
  projects/agent-framework-fit-assessment-r1/tasks/003-map-agent-framework-features.poml
  projects/agent-framework-fit-assessment-r1/tasks/004-per-surface-decision-analysis.poml
  projects/agent-framework-fit-assessment-r1/tasks/005-deployment-and-migration-analysis.poml
  projects/agent-framework-fit-assessment-r1/tasks/006-write-assessment-document.poml
  projects/agent-framework-fit-assessment-r1/tasks/007-adversarial-review.poml
  projects/agent-framework-fit-assessment-r1/tasks/008-project-wrap-up.poml
  projects/agent-framework-knowledge-r1/CLAUDE.md
  projects/agent-framework-knowledge-r1/README.md
  projects/agent-framework-knowledge-r1/SPEC.md
  projects/agent-framework-knowledge-r1/TASK-INDEX.md
  projects/agent-framework-knowledge-r1/current-task.md
  projects/agent-framework-knowledge-r1/tasks/001-refresh-provenance.poml
  projects/agent-framework-knowledge-r1/tasks/002-curate-spaarke-aligned-samples.poml
  projects/agent-framework-knowledge-r1/tasks/003-snapshot-core-reference-docs.poml
  projects/agent-framework-knowledge-r1/tasks/004-snapshot-spaarke-critical-docs.poml
  projects/agent-framework-knowledge-r1/tasks/005-snapshot-migration-and-hosted-docs.poml
  projects/agent-framework-knowledge-r1/tasks/006-capture-community-mvp-content.poml
  projects/agent-framework-knowledge-r1/tasks/007-rewrite-notes-md.poml
  projects/agent-framework-knowledge-r1/tasks/008-write-docs-index.poml
  projects/agent-framework-knowledge-r1/tasks/009-create-pattern-files.poml
  projects/agent-framework-knowledge-r1/tasks/010-create-skill-file.poml
  projects/agent-framework-knowledge-r1/tasks/011-verify-skill-output.poml
  projects/agent-framework-knowledge-r1/tasks/012-wire-discoverability.poml
  projects/agent-framework-knowledge-r1/tasks/013-project-wrap-up.poml
Owners: @spaarke-dev, @docs-team

feat(spaarke-datagrid-framework-r1): Clear filter menu item + active-filter glyph in chevron group
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/HeaderCellContent.tsx
Owners: @spaarke-dev

docs(spaarke-datagrid-framework-r1): architecture doc + configuration guide; mark legacy UDG superseded
  CLAUDE.md
  docs/architecture/SPAARKE-DATAGRID-FRAMEWORK-ARCHITECTURE.md
  docs/architecture/universal-dataset-grid-architecture.md
  docs/guides/DATAGRID-FRAMEWORK-CONFIGURATION-GUIDE.md
Owners: @spaarke-dev, @docs-team

docs(assessment): inventory non-BFF AI touchpoints (R1 task 002)
  projects/agent-framework-fit-assessment-r1/notes/02-non-bff-ai-touchpoints-inventory.md
Owners: @spaarke-dev

chore(spaarke-datagrid-framework-r1): close task 026 (Phase C UAT) + advance current-task.md to task 030
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(assessment): inventory Spaarke AI code surfaces (R1 task 001)
  projects/agent-framework-fit-assessment-r1/current-task.md
  projects/agent-framework-fit-assessment-r1/notes/01-spaarke-ai-surfaces-inventory.md
Owners: @spaarke-dev

feat(spaarke-datagrid-framework-r1): close task 030 — sprk_event configuration record (Phase D anchor)
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/030-config-record-id.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/030-event-configjson.json
  projects/spaarke-datagrid-framework-r1/tasks/030-event-config-record.poml
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(assessment): close parallel-group A (R1 tasks 001+002) and correct S5 framing
  projects/agent-framework-fit-assessment-r1/CLAUDE.md
  projects/agent-framework-fit-assessment-r1/SPEC.md
  projects/agent-framework-fit-assessment-r1/TASK-INDEX.md
  projects/agent-framework-fit-assessment-r1/current-task.md
  projects/agent-framework-fit-assessment-r1/tasks/001-inventory-spaarke-ai-surfaces.poml
  projects/agent-framework-fit-assessment-r1/tasks/002-inventory-non-bff-ai-touchpoints.poml
Owners: @spaarke-dev

feat(insights-engine-r2): Wave E — RAG endpoint + intent classifier + Assistant integration
  docs/guides/INSIGHTS-ENGINE-GUIDE.md
  docs/guides/INSIGHTS-PLAYBOOK-VS-RAG-DECISION-TREE.md
  projects/ai-spaarke-insights-engine-r2/current-task.md
  projects/ai-spaarke-insights-engine-r2/design-e3-tool-call-contract.md
  projects/ai-spaarke-insights-engine-r2/notes/handoffs/e3-assistant-team-handoff.md
  projects/ai-spaarke-insights-engine-r2/tasks/040-insights-search-rag-endpoint.poml
  projects/ai-spaarke-insights-engine-r2/tasks/041-intent-classifier.poml
  projects/ai-spaarke-insights-engine-r2/tasks/042-spaarke-assistant-integration.poml
  projects/ai-spaarke-insights-engine-r2/tasks/043-playbook-vs-rag-decision-tree.poml
  projects/ai-spaarke-insights-engine-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Insights/InsightEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Insights/InsightsAssistantEndpoint.cs
  src/server/api/Sprk.Bff.Api/Api/Insights/InsightsSearchEndpoint.cs
  src/server/api/Sprk.Bff.Api/Configuration/InsightsIntentClassifierOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/PublicContracts/AssistantQueryFacadeRequest.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/PublicContracts/AssistantQueryFacadeResult.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/PublicContracts/InsightsSearchFacadeRequest.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/PublicContracts/InsightsSearchFacadeResult.cs
  src/server/api/Sprk.Bff.Api/Models/Insights/InsightAskRequest.cs
  src/server/api/Sprk.Bff.Api/Models/Insights/InsightsAssistantQueryRequest.cs
  src/server/api/Sprk.Bff.Api/Models/Insights/InsightsSearchRequest.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/AssistantToolCallHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/InsightsOrchestrator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Routing/IInsightsIntentClassifier.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Routing/InsightsIntentClassifier.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Routing/NullInsightsIntentClassifier.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/IInsightsAi.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Insights/InsightEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Insights/InsightsAssistantEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Insights/InsightsSearchEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/InsightsOrchestratorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/Playbooks/PredictMatterCostPlaybookTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/Routing/InsightsIntentClassifierTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/Routing/NullInsightsIntentClassifierTests.cs
Owners: @spaarke-dev, @docs-team

docs(assessment): feature map with live primary-source citations (R1 task 003)
  projects/agent-framework-fit-assessment-r1/notes/03-agent-framework-feature-map.md
Owners: @spaarke-dev

docs(assessment): close Phase 2 (R1 task 003) — feature map landed
  projects/agent-framework-fit-assessment-r1/TASK-INDEX.md
  projects/agent-framework-fit-assessment-r1/current-task.md
  projects/agent-framework-fit-assessment-r1/tasks/003-map-agent-framework-features.poml
Owners: @spaarke-dev

feat(spaarke-datagrid-framework-r1): close task 031 — EventsPage App.tsx 1868→161 lines on the new DataGrid framework
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/031-deviations.md
  projects/spaarke-datagrid-framework-r1/tasks/031-eventspage-app-tsx-rewrite.poml
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
  src/solutions/EventsPage/package-lock.json
  src/solutions/EventsPage/src/App.tsx
  src/solutions/EventsPage/src/calendarPaneOrchestrator.ts
  src/solutions/EventsPage/src/registerEventHandlers.ts
  src/solutions/EventsPage/src/xrmHelpers.ts
Owners: @spaarke-dev

fix(tests): widen StorageRetryPolicy exponential-backoff tolerance to ±1.5s
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/Resilience/StorageRetryPolicyTests.cs
Owners: @spaarke-dev

docs(assessment): per-surface decision matrix (R1 task 004)
  projects/agent-framework-fit-assessment-r1/notes/04-per-surface-decision-matrix.md
Owners: @spaarke-dev

docs(assessment): close Phase 3 (R1 task 004) — per-surface decision matrix landed
  projects/agent-framework-fit-assessment-r1/TASK-INDEX.md
  projects/agent-framework-fit-assessment-r1/current-task.md
  projects/agent-framework-fit-assessment-r1/tasks/004-per-surface-decision-analysis.poml
Owners: @spaarke-dev

chore(spaarke-datagrid-framework-r1): close task 032 — partial retirement of legacy events-components filter primitives
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/032-consumer-audit.md
  projects/spaarke-datagrid-framework-r1/tasks/032-retire-events-components.poml
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Events.Components/src/components/AssignedToFilter/AssignedToFilter.tsx
  src/client/shared/Spaarke.Events.Components/src/components/AssignedToFilter/index.ts
  src/client/shared/Spaarke.Events.Components/src/components/RecordTypeFilter/RecordTypeFilter.tsx
  src/client/shared/Spaarke.Events.Components/src/components/RecordTypeFilter/index.ts
  src/client/shared/Spaarke.Events.Components/src/components/StatusFilter/StatusFilter.tsx
  src/client/shared/Spaarke.Events.Components/src/components/StatusFilter/index.ts
  src/client/shared/Spaarke.Events.Components/src/components/index.ts
  src/client/shared/Spaarke.Events.Components/src/types/index.ts
Owners: @spaarke-dev

docs(assessment): deployment + migration analysis (R1 task 005)
  projects/agent-framework-fit-assessment-r1/notes/05-deployment-and-migration.md
Owners: @spaarke-dev

docs(assessment): close Phase 4 (R1 task 005) — deployment + migration analysis landed
  projects/agent-framework-fit-assessment-r1/TASK-INDEX.md
  projects/agent-framework-fit-assessment-r1/current-task.md
  projects/agent-framework-fit-assessment-r1/tasks/005-deployment-and-migration-analysis.poml
Owners: @spaarke-dev

docs(assessment): agent-framework fit assessment 2026-06-03 (R1 task 006)
  docs/assessments/agent-framework-fit-assessment-2026-06-03.md
Owners: @spaarke-dev, @docs-team

docs(assessment): close Phase 5 (R1 task 006) — canonical assessment landed
  projects/agent-framework-fit-assessment-r1/TASK-INDEX.md
  projects/agent-framework-fit-assessment-r1/current-task.md
  projects/agent-framework-fit-assessment-r1/tasks/006-write-assessment-document.poml
Owners: @spaarke-dev

chore(spaarke-datagrid-framework-r1): task 033 pre-compact checkpoint — sign-off received, scope EXPANDED with hostFilters framework extension
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/033-widget-owner-signoff.md
  projects/spaarke-datagrid-framework-r1/tasks/033-spaarkeai-calendar-widget-migrate.poml
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(ci): cache-step continue-on-error to prevent Debug/Release matrix race
  .github/workflows/sdap-ci.yml
Owners: @spaarke-dev, @devops-team

docs(assessment): adversarial review + revisions to agent-framework fit assessment (R1 task 007)
  docs/assessments/agent-framework-fit-assessment-2026-06-03.md
  projects/agent-framework-fit-assessment-r1/notes/07-review-log.md
Owners: @spaarke-dev, @docs-team

docs(assessment): close task 007 — adversarial review landed; revised doc at 959 lines
  projects/agent-framework-fit-assessment-r1/TASK-INDEX.md
  projects/agent-framework-fit-assessment-r1/current-task.md
  projects/agent-framework-fit-assessment-r1/tasks/007-adversarial-review.poml
Owners: @spaarke-dev

feat(spaarke-datagrid-framework-r1): task 033a — hostFilters framework extension (FR-MIG-05 scope expansion)
  docs/architecture/SPAARKE-DATAGRID-FRAMEWORK-ARCHITECTURE.md
  docs/guides/DATAGRID-FRAMEWORK-CONFIGURATION-GUIDE.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/033a-deviations.md
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/fetchXmlOverlay.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/index.ts
Owners: @spaarke-dev, @docs-team

feat(spaarke-datagrid-framework-r1): task 033b — Calendar widget migrate to DataGrid + GridSection deletion
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/notes/drafts/033b-deviations.md
  projects/spaarke-datagrid-framework-r1/tasks/033-spaarkeai-calendar-widget-migrate.poml
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Events.Components/src/components/GridSection/GridSection.tsx
  src/client/shared/Spaarke.Events.Components/src/components/GridSection/index.ts
  src/client/shared/Spaarke.Events.Components/src/components/index.ts
  src/client/shared/Spaarke.Events.Components/src/types/index.ts
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
Owners: @spaarke-dev

chore(assessment): agent-framework-fit-assessment-r1 sign-off
  projects/agent-framework-fit-assessment-r1/COMPLETION.md
  projects/agent-framework-fit-assessment-r1/README.md
  projects/agent-framework-fit-assessment-r1/TASK-INDEX.md
  projects/agent-framework-fit-assessment-r1/current-task.md
  projects/agent-framework-fit-assessment-r1/tasks/008-project-wrap-up.poml
  projects/agent-framework-knowledge-r1/README.md
  projects/agent-framework-knowledge-r1/UNBLOCK-RECOMMENDATION.md
Owners: @spaarke-dev, @docs-team

chore(spaarke-datagrid-framework-r1): close task 034 — Phase D deploy to DEV
  projects/spaarke-datagrid-framework-r1/notes/phase-d-deploy-report.md
  projects/spaarke-datagrid-framework-r1/tasks/034-phase-d-deploy.poml
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

chore(spaarke-datagrid-framework-r1): stage task 035 UAT scaffolding — handoff to operator
  projects/spaarke-datagrid-framework-r1/current-task.md
  projects/spaarke-datagrid-framework-r1/notes/phase-d-uat-report.md
  projects/spaarke-datagrid-framework-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
