Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

docs(customer-provisioning-orchestration-r1): Phase 0 discovery report + project scaffold
  projects/customer-provisioning-orchestration-r1/README.md
  projects/customer-provisioning-orchestration-r1/discovery/phase-0-discovery-report.md
  projects/spaarke-environment-factory-r1/design.md
Owners: @spaarke-dev, @docs-team

docs(customer-provisioning-orchestration-r1): design.md — compiled from discovery + resource review + ADR analysis
  projects/customer-provisioning-orchestration-r1/README.md
  projects/customer-provisioning-orchestration-r1/design.md
Owners: @spaarke-dev, @docs-team

chore(smart-todo-r4): task 092 in-progress — spaarkedev1 deploy session 2026-06-18
  projects/smart-todo-r4/current-task.md
  projects/smart-todo-r4/tasks/092-deploy-all-affected-solutions.poml
  projects/smart-todo-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(r6): Wave C-G3 partial closeout — tasks 057, 058, 062, 066
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-057-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-058-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-062-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-063-partial-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-066-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  scripts/Seed-AiPersonaDefault.ps1
  src/client/shared/Spaarke.AI.Widgets/src/registry/__tests__/register-execution-trace-widget.test.ts
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/UpdateWorkspaceTabHandler.cs
  src/solutions/SpaarkeAi/jest.config.ts
  src/solutions/SpaarkeAi/src/__mocks__/sdap-client.ts
  src/solutions/SpaarkeAi/src/components/workspace/AddToAssistantToggle.tsx
  src/solutions/SpaarkeAi/src/components/workspace/PinToMatterButton.tsx
  src/solutions/SpaarkeAi/src/components/workspace/SendToWorkspaceButton.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/AddToAssistantToggle.test.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/PinToMatterButton.test.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/SendToWorkspaceButton.test.tsx
  tests/integration/Spe.Integration.Tests/Workspace/ConflictResolutionTests.cs
Owners: @spaarke-dev, @devops-team

feat(r6): Wave C-G3 final closeout — task 063 (Pillar 6c context.* events)
  projects/spaarke-ai-platform-unification-r6/notes/task-063-adr015-emission-audit.md
  projects/spaarke-ai-platform-unification-r6/notes/task-063-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityRouter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionFilesCleanupJob.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ToolHandlerToAIFunctionAdapter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/RagService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Telemetry/ContextEventEmitter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Telemetry/IContextEventEmitter.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Telemetry/ContextEventEmissionTests.cs
Owners: @spaarke-dev

chore(smart-todo-r4): file Wave D widget-parity tasks (099/100/101) per 2026-06-18 UAT
  projects/smart-todo-r4/notes/d-widget-parity-audit-2026-06-18.md
  projects/smart-todo-r4/tasks/099-W1-widget-chrome-pattern-d.poml
  projects/smart-todo-r4/tasks/100-W2-open-to-form-refetch.poml
  projects/smart-todo-r4/tasks/101-W3-grouping-hoist.poml
  projects/smart-todo-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(r6): Wave C-G4 task 067 — Hierarchical memory composition (Pillar 7 / FR-44)
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-067-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Memory/IMemoryCompositionService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Memory/MemoryCompositionOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Memory/MemoryCompositionService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Memory/MemoryCompositionServiceTests.cs
Owners: @spaarke-dev

feat(smart-todo-r4): W-1 widget chrome consolidation + Pattern D alignment (task 099)
  projects/smart-todo-r4/tasks/099-W1-widget-chrome-pattern-d.poml
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.styles.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
  src/solutions/LegalWorkspace/src/sections/todo.registration.ts
Owners: @spaarke-dev

feat(smart-todo-r4): hoist useKanbanColumns + grouped widget rendering (R4-101 / W-3)
  projects/smart-todo-r4/tasks/101-W3-grouping-hoist.poml
  projects/smart-todo-r4/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.SmartTodo.Components/package.json
  src/client/shared/Spaarke.SmartTodo.Components/src/hooks/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/hooks/useKanbanColumns.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/types/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/types/kanban.ts
  src/solutions/SmartTodo/src/components/SmartToDo.tsx
  src/solutions/SmartTodo/src/hooks/useKanbanColumns.ts
Owners: @spaarke-dev

feat(r6): Wave C-G5 task 068 — MatterMemoryService activation + shared budget tracker
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-068-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PlaybookChatContextProvider.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Memory/IPromptBudgetTracker.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Memory/PromptBudgetTracker.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/MultiDocumentContextTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Memory/PromptBudgetTrackerTests.cs
Owners: @spaarke-dev

feat(smart-todo-r4): W-2 open-to-form launch + refetch wiring (task 100)
  projects/smart-todo-r4/tasks/100-W2-open-to-form-refetch.poml
  projects/smart-todo-r4/tasks/TASK-INDEX.md
  src/solutions/CreateTodoWizard/src/main.tsx
  src/solutions/CreateTodoWizard/vite.config.ts
  src/solutions/LegalWorkspace/src/sections/todo.registration.ts
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/hooks/__tests__/useLaunchContext.test.ts
  src/solutions/SmartTodo/src/hooks/useLaunchContext.ts
Owners: @spaarke-dev

docs(smart-todo-r4): update current-task.md post-Wave-D (31/34 ✅; widget parity complete)
  projects/smart-todo-r4/current-task.md
Owners: @spaarke-dev

chore(smart-todo-r4): prettier --write on 6 Wave D R4 files (pre-PR CI gate)
  src/client/shared/Spaarke.SmartTodo.Components/src/hooks/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/hooks/useKanbanColumns.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/types/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/types/kanban.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.styles.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
Owners: @spaarke-dev

docs(smart-todo-r4): pre-stage master-deploy runbook for Wave D (R4-092)
  projects/smart-todo-r4/notes/d-master-deploy-runbook-2026-06-18.md
Owners: @spaarke-dev

feat(r6): Wave C-G6 task 069 — Voice command memory primitives (Pillar 7 / FR-47)
  infra/dataverse/sprk_analysistool-manage-pinned-context-row.json
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-069-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  scripts/Seed-TypedHandlers.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityRouter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ChatInvocationContext.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/ManagePinnedContextHandler.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Capabilities/CapabilityRouterVoiceMemoryTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookChatContextProviderEnrichmentIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookChatContextProviderEnrichmentTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookChatContextProviderTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SprkChatAgentFactoryPersonaTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/ManagePinnedContextHandlerTests.cs
Owners: @spaarke-dev, @devops-team

ci+fix: harden Client Quality job against lockfile drift (PR #391 unblock + systemic)
  .github/workflows/sdap-ci.yml
  projects/smart-todo-r4/current-task.md
  src/client/pcf/package-lock.json
Owners: @spaarke-dev, @devops-team

feat(r6): Wave C-G6 task 070 PART A — Pinned Memory BFF endpoint pair
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-070-partA-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Memory/PinnedMemoryEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Memory/IPinnedContextRepository.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Memory/PinnedContextRepository.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Memory/PinnedMemoryEndpointsTests.cs
Owners: @spaarke-dev

chore(smart-todo-r4): R4-092 Wave D deploy session 2026-06-18 — 3 surfaces published, awaiting UAT
  projects/smart-todo-r4/current-task.md
  projects/smart-todo-r4/tasks/092-deploy-all-affected-solutions.poml
Owners: @spaarke-dev

ci+fix: declare eslint as direct devDep in src/client/pcf (root-cause fix; ends Client Quality whack-a-mole)
  .github/workflows/sdap-ci.yml
  src/client/pcf/package-lock.json
  src/client/pcf/package.json
Owners: @spaarke-dev, @devops-team

feat(r6): Wave C-G6 task 070 PART B — Pinned Memory frontend components (Q7)
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-070-partB-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/src/__tests__/widget-serialize-restore.test.ts
  src/client/shared/Spaarke.AI.Widgets/src/components/memory/PinnedMemoryDeleteConfirmation.tsx
  src/client/shared/Spaarke.AI.Widgets/src/components/memory/PinnedMemoryEditDialog.tsx
  src/client/shared/Spaarke.AI.Widgets/src/components/memory/PinnedMemoryProvenanceBadge.tsx
  src/client/shared/Spaarke.AI.Widgets/src/components/memory/__tests__/PinnedMemoryDeleteConfirmation.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/components/memory/__tests__/PinnedMemoryEditDialog.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/components/memory/__tests__/PinnedMemoryProvenanceBadge.test.tsx
  src/client/shared/Spaarke.AI.Widgets/src/components/memory/pinned-memory-contracts.ts
  src/client/shared/Spaarke.AI.Widgets/src/registry/register-context-widgets.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/PinnedMemoryListWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/__tests__/PinnedMemoryListWidget.test.tsx
Owners: @spaarke-dev

feat(r6): Pillar 9 tasks 072 + 073 — Widget visibility contract + per-widget impls
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-072-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-073-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/registry/WorkspaceWidgetRegistry.ts
  src/client/shared/Spaarke.AI.Widgets/src/registry/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/pillar9-visibility.test.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/pillar9-visibility.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/register-document-viewer-widget.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/register-structured-output-stream-widget.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/register-workspace-widgets.ts
Owners: @spaarke-dev

feat(r6): Pillar 9 task 074 — Per-turn agent prompt builder (FR-58/59)
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-074-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Models/Workspace/WorkspaceTabVisibleState.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  tests/integration/Spe.Integration.Tests/Workspace/Pillar9PrivacyFilterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SprkChatAgentFactoryWorkspaceStateTests.cs
Owners: @spaarke-dev

test(r6): Phase C cross-pillar integration (task 078)
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/phase-c-integration-results.md
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  tests/integration/Spe.Integration.Tests/PhaseC/CrossPillarIntegrationTests.cs
Owners: @spaarke-dev

docs(r6): task 079 — Phase C exit gate report + sign-off
  projects/spaarke-ai-platform-unification-r6/notes/phase-c-exit-report.md
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(r6): Phase D task 080 — CommandRouter parser foundation (Pillar 8)
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-080-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  src/solutions/SpaarkeAi/src/components/conversation/CommandRouter.ts
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/CommandRouter.test.ts
Owners: @spaarke-dev

feat(daily-update-r2): Wave 1 — task 001 (P1 seam: no-op, already done) + task 030 (P2b prompt FR-15/16) + task 052 (DD auth factory FR-20a)
  projects/spaarke-daily-update-service-r2/current-task.md
  projects/spaarke-daily-update-service-r2/notes/auth-init-divergence.md
  projects/spaarke-daily-update-service-r2/tasks/030-narrate-prompt-emit-regarding-id.poml
  projects/spaarke-daily-update-service-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Auth/src/createCodePageAuthInitializer.ts
  src/client/shared/Spaarke.Auth/src/index.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/DailyBriefingEndpoints.cs
Owners: @spaarke-dev

feat(daily-update-r2): Wave 1b — task 040 (P3 data.actions[] for visible toasts) + task 050 (DD MicrosoftToDoIcon hoist to @spaarke/ui-components)
  projects/spaarke-daily-update-service-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/icons/MicrosoftToDoIcon.tsx
  src/client/shared/Spaarke.UI.Components/src/icons/index.ts
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/CreateNotificationNodeExecutor.cs
Owners: @spaarke-dev

feat(daily-update-r2): Wave 2a — task 031 (FR-17 server-side primaryEntityId validation) + task 053 (DailyBriefing auth factory consumer); task 002 deferred (re-sequenced after 018)
  projects/spaarke-daily-update-service-r2/notes/task-002-blocker.md
  projects/spaarke-daily-update-service-r2/notes/task-053-factory-config-timing.md
  projects/spaarke-daily-update-service-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/DailyBriefingEndpoints.cs
  src/solutions/DailyBriefing/src/services/authInit.ts
Owners: @spaarke-dev

feat(daily-update-r2): Wave 2b — task 041 (P3 unit tests, 4 new pass) + task 051 (DD icon cleanup, 3 deletes) + task 010 (P2 scaffold @spaarke/daily-briefing-components)
  projects/spaarke-daily-update-service-r2/current-task.md
  projects/spaarke-daily-update-service-r2/tasks/010-scaffold-daily-briefing-components-package.poml
  projects/spaarke-daily-update-service-r2/tasks/051-delete-solution-local-microsoft-todo-icon-copies.poml
  projects/spaarke-daily-update-service-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.DailyBriefing.Components/package-lock.json
  src/client/shared/Spaarke.DailyBriefing.Components/package.json
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/types/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/widgets/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/tsconfig.json
  src/solutions/DailyBriefing/src/components/NarrativeBullet.tsx
  src/solutions/DailyBriefing/src/icons/MicrosoftToDoIcon.tsx
  src/solutions/LegalWorkspace/src/components/SmartToDo/KanbanHeader.tsx
  src/solutions/LegalWorkspace/src/icons/MicrosoftToDoIcon.tsx
  src/solutions/SmartTodo/src/components/KanbanHeader.tsx
  src/solutions/SmartTodo/src/icons/MicrosoftToDoIcon.tsx
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/CreateNotificationNodeExecutorTests.cs
Owners: @spaarke-dev

feat(daily-update-r2): Wave 3 (6 parallel agents) — P2 hoist Group A (011/012/013) + auth migration (054) + P2b tests (032) + BFF size (042, +0.00 MB)
  projects/spaarke-daily-update-service-r2/current-task.md
  projects/spaarke-daily-update-service-r2/notes/bff-size-p2b-p3.md
  projects/spaarke-daily-update-service-r2/notes/p3-e2e-test-plan.md
  projects/spaarke-daily-update-service-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/ActivityNotesSection.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/CaughtUpFooter.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/ChannelHeading.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/DailyBriefingApp.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/DigestHeader.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/EmptyState.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/NarrativeBullet.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/PreferencesDropdown.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/TldrSection.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/channelIcons.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/useBriefingNarration.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/useInlineTodoCreate.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/briefingService.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/index.ts
  src/solutions/DailyBriefing/src/App.tsx
  src/solutions/DailyBriefing/src/components/ActivityNotesSection.tsx
  src/solutions/DailyBriefing/src/components/CaughtUpFooter.tsx
  src/solutions/DailyBriefing/src/components/ChannelHeading.tsx
  src/solutions/DailyBriefing/src/components/DigestHeader.tsx
  src/solutions/DailyBriefing/src/components/EmptyState.tsx
  src/solutions/DailyBriefing/src/components/NarrativeBullet.tsx
  src/solutions/DailyBriefing/src/components/PreferencesDropdown.tsx
  src/solutions/DailyBriefing/src/components/TldrSection.tsx
  src/solutions/DailyBriefing/src/components/channelIcons.ts
  src/solutions/DailyBriefing/src/components/index.ts
  src/solutions/DailyBriefing/src/hooks/useBriefingNarration.ts
  src/solutions/DailyBriefing/src/hooks/useInlineTodoCreate.ts
  src/solutions/DailyBriefing/src/services/briefingService.ts
  src/solutions/LegalWorkspace/src/services/authInit.ts
  src/solutions/SpaarkeAi/src/services/authInit.ts
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/DailyBriefingEndpointsTests.cs
Owners: @spaarke-dev

chore(smart-todo-r4): file Wave E widget/app parity tasks (102/103/104) per 2026-06-18 UAT round 2
  projects/smart-todo-r4/current-task.md
  projects/smart-todo-r4/notes/e-widget-app-parity-audit-2026-06-18.md
  projects/smart-todo-r4/tasks/102-E1-widget-kanban-hoist.poml
  projects/smart-todo-r4/tasks/103-E2-widget-toolbar-polish.poml
  projects/smart-todo-r4/tasks/104-E3-app-chrome-consolidation.poml
  projects/smart-todo-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(r6): Wave D-G1 — Pillar 8 hard/soft slashes + references + unified integration
  projects/spaarke-ai-platform-unification-r6/notes/task-081-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-082-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-083-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/src/events/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityRouter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/ICapabilityRouter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/NullSprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/solutions/SpaarkeAi/src/components/conversation/CommandHelpPanel.tsx
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/HardSlashExecutor.ts
  src/solutions/SpaarkeAi/src/components/conversation/ReferenceResolver.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/ReferenceResolver.ts
  src/solutions/SpaarkeAi/src/components/conversation/SoftSlashRouter.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/CommandHelpPanel.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/HardSlashExecutor.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/SoftSlashRouter.test.ts
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Capabilities/CapabilityRouterSoftSlashTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SprkChatAgentFactoryTests.cs
Owners: @spaarke-dev

feat(daily-update-r2): Wave 4 — task 014 (decompose useNotificationData → 3 hooks) + task 055 (createRuntimeConfigStore factory + 3-solution migration)
  projects/spaarke-daily-update-service-r2/notes/runtime-config-divergence.md
  src/client/shared/Spaarke.Auth/src/createRuntimeConfigStore.ts
  src/client/shared/Spaarke.Auth/src/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/DailyBriefingApp.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/useBriefingActions.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/useBriefingNotifications.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/useBriefingPreferences.ts
  src/solutions/DailyBriefing/src/config/runtimeConfig.ts
  src/solutions/DailyBriefing/src/hooks/useNotificationData.ts
  src/solutions/LegalWorkspace/src/config/runtimeConfig.ts
  src/solutions/SpaarkeAi/src/config/runtimeConfig.ts
Owners: @spaarke-dev

chore(daily-update-r2): update TASK-INDEX status 014 + 055 → ✅ (follow-up to Wave 4 commit)
  projects/spaarke-daily-update-service-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(daily-update-r2): Wave 5 (solo) — task 015 (FR-07 abstract dependencies + types/services hoist, zero solution-local imports)
  projects/spaarke-daily-update-service-r2/current-task.md
  projects/spaarke-daily-update-service-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.DailyBriefing.Components/package.json
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/ActivityNotesSection.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/DailyBriefingApp.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/PreferencesDropdown.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/useBriefingActions.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/useBriefingNarration.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/useBriefingNotifications.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/useBriefingPreferences.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/hooks/useInlineTodoCreate.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/briefingService.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/notificationService.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/preferencesService.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/types/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/types/notifications.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/utils/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/utils/toastUtils.ts
  src/solutions/DailyBriefing/src/services/notificationService.ts
  src/solutions/DailyBriefing/src/services/preferencesService.ts
  src/solutions/DailyBriefing/src/types/notifications.ts
  src/solutions/DailyBriefing/src/utils/toastUtils.ts
Owners: @spaarke-dev

feat(smart-todo-r4): R4-102 (E-1) — widget Kanban hoist (drag-drop + orientation + multi-select + pin)
  projects/smart-todo-r4/tasks/102-E1-widget-kanban-hoist.poml
  projects/smart-todo-r4/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.SmartTodo.Components/package-lock.json
  src/client/shared/Spaarke.SmartTodo.Components/package.json
  src/client/shared/Spaarke.SmartTodo.Components/src/components/KanbanCard/KanbanCard.styles.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/components/KanbanCard/KanbanCard.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/KanbanCard/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartTodoKanban/SmartTodoKanban.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartTodoKanban/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/components/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/types/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/types/kanban.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/types/todo.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/utils/todoScoring.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.styles.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
  src/solutions/LegalWorkspace/package-lock.json
  src/solutions/SmartTodo/package-lock.json
  src/solutions/SmartTodo/src/components/KanbanCard.tsx
  src/solutions/SmartTodo/src/components/SmartToDo.tsx
  src/solutions/SmartTodo/src/components/index.ts
  src/solutions/SpaarkeAi/package-lock.json
  src/solutions/SpaarkeAi/vite.config.ts
Owners: @spaarke-dev

feat(smart-todo-r4): R4-104 (E-3) — app chrome consolidation (single toolbar + compact quick-add + 3-col default)
  projects/smart-todo-r4/tasks/104-E3-app-chrome-consolidation.poml
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/components/Header/Header.styles.ts
  src/solutions/SmartTodo/src/components/Header/Header.tsx
  src/solutions/SmartTodo/src/components/Header/index.ts
  src/solutions/SmartTodo/src/hooks/useUserPreferences.ts
Owners: @spaarke-dev

feat(daily-update-r2): Wave 6 — task 016 (verified no-op, exports map already finalized) + task 019 (Jest 30 + 19 tests pass, 78% coverage)
  projects/spaarke-daily-update-service-r2/notes/task-019-test-coverage.md
  projects/spaarke-daily-update-service-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.DailyBriefing.Components/jest.config.cjs
  src/client/shared/Spaarke.DailyBriefing.Components/package-lock.json
  src/client/shared/Spaarke.DailyBriefing.Components/package.json
  src/client/shared/Spaarke.DailyBriefing.Components/test/DailyBriefingApp.smoke.test.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/test/__mocks__/spaarke-auth.ts
  src/client/shared/Spaarke.DailyBriefing.Components/test/__mocks__/spaarke-ui-components-services.ts
  src/client/shared/Spaarke.DailyBriefing.Components/test/__mocks__/spaarke-ui-components.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/test/jest.setup.ts
  src/client/shared/Spaarke.DailyBriefing.Components/test/useBriefingActions.test.ts
  src/client/shared/Spaarke.DailyBriefing.Components/test/useBriefingNotifications.test.ts
  src/client/shared/Spaarke.DailyBriefing.Components/test/useBriefingPreferences.test.ts
  src/client/shared/Spaarke.DailyBriefing.Components/tsconfig.test.json
Owners: @spaarke-dev

feat(r6): Wave D-G2 — Pillar 8 composition + /help affordance + NL regression
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-084-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-085-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-086-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/HelpAffordance.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/HelpAffordance.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/composition.integration.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/natural-language-regression.test.ts
Owners: @spaarke-dev

docs(customer-provisioning-orchestration-r1): design.md v2 — feedback round 1 (Q1-Q6 resolved as D12-D17)
  projects/customer-provisioning-orchestration-r1/design.md
Owners: @spaarke-dev
