Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

fix(guides): resolve all 19 TODO markers — verify content against codebase
  docs/guides/AI-DEPLOYMENT-GUIDE.md
  docs/guides/AI-EMBEDDING-STRATEGY.md
  docs/guides/AI-MODEL-SELECTION-GUIDE.md
  docs/guides/DATAVERSE-AUTHENTICATION-GUIDE.md
  docs/guides/ENVIRONMENT-DEPLOYMENT-GUIDE.md
  docs/guides/HOW-TO-ADD-SDAP-TO-NEW-ENTITY.md
  docs/guides/PRODUCTION-DEPLOYMENT-GUIDE.md
  docs/guides/RAG-CONFIGURATION.md
  docs/guides/SHARED-UI-COMPONENTS-GUIDE.md
  docs/guides/WORKSPACE-ENTITY-CREATION-GUIDE.md
Owners: @spaarke-dev, @docs-team

fix(daily-update): fix auth bootstrap, channel grouping, Xrm timing, and navigation
  src/solutions/DailyBriefing/src/App.tsx
  src/solutions/DailyBriefing/src/components/NotificationItem.tsx
  src/solutions/DailyBriefing/src/config/runtimeConfig.ts
  src/solutions/DailyBriefing/src/main.tsx
  src/solutions/DailyBriefing/src/services/authInit.ts
  src/solutions/DailyBriefing/src/services/briefingService.ts
  src/solutions/DailyBriefing/src/services/notificationService.ts
Owners: @spaarke-dev

feat(deploy): add notification playbook deployment support
  scripts/Deploy-NotificationPlaybooks.ps1
  scripts/Deploy-Playbook.ps1
Owners: @spaarke-dev, @devops-team

test(daily-update): add 25 scheduler unit tests and fix broken test files
  projects/spaarke-daily-update-service/tasks/015-unit-tests-scheduler-inline.poml
  projects/spaarke-daily-update-service/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/Api/ExternalAccess/ExternalAccessEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/PlaybookSchedulerServiceTests.cs
Owners: @spaarke-dev

fix(playbooks): convert NP-004 and NP-005 to standard Deploy-Playbook format
  projects/spaarke-daily-update-service/notes/playbooks/notification-new-emails.json
  projects/spaarke-daily-update-service/notes/playbooks/notification-new-events.json
Owners: @spaarke-dev

fix(playbooks): convert NP-004 and NP-005 to standard Deploy-Playbook format
  src/client/code-pages/PlaybookBuilder/package-lock.json
  src/client/code-pages/PlaybookBuilder/package.json
Owners: @spaarke-dev

fix(daily-update): fix auth bootstrap, channel grouping, Xrm timing, and navigation
  src/solutions/DailyBriefing/src/App.tsx
  src/solutions/DailyBriefing/src/components/NotificationItem.tsx
  src/solutions/DailyBriefing/src/config/runtimeConfig.ts
  src/solutions/DailyBriefing/src/main.tsx
  src/solutions/DailyBriefing/src/services/authInit.ts
  src/solutions/DailyBriefing/src/services/briefingService.ts
  src/solutions/DailyBriefing/src/services/notificationService.ts
Owners: @spaarke-dev

feat(reporting): initialize Power BI Embedded Reporting R1 project
  projects/spaarke-powerbi-embedded-r1/CLAUDE.md
  projects/spaarke-powerbi-embedded-r1/README.md
  projects/spaarke-powerbi-embedded-r1/current-task.md
  projects/spaarke-powerbi-embedded-r1/plan.md
  projects/spaarke-powerbi-embedded-r1/tasks/001-add-pbi-nuget-and-config.poml
  projects/spaarke-powerbi-embedded-r1/tasks/002-create-reporting-embed-service.poml
  projects/spaarke-powerbi-embedded-r1/tasks/003-create-reporting-profile-manager.poml
  projects/spaarke-powerbi-embedded-r1/tasks/004-add-embed-token-redis-caching.poml
  projects/spaarke-powerbi-embedded-r1/tasks/005-create-reporting-endpoints.poml
  projects/spaarke-powerbi-embedded-r1/tasks/006-create-reporting-auth-filter.poml
  projects/spaarke-powerbi-embedded-r1/tasks/007-create-reporting-module-registration.poml
  projects/spaarke-powerbi-embedded-r1/tasks/008-unit-tests-reporting-bff.poml
  projects/spaarke-powerbi-embedded-r1/tasks/010-scaffold-reporting-code-page.poml
  projects/spaarke-powerbi-embedded-r1/tasks/011-power-bi-embed-component.poml
  projects/spaarke-powerbi-embedded-r1/tasks/012-report-catalog-dropdown.poml
  projects/spaarke-powerbi-embedded-r1/tasks/013-token-auto-refresh-hook.poml
  projects/spaarke-powerbi-embedded-r1/tasks/014-dark-mode-support.poml
  projects/spaarke-powerbi-embedded-r1/tasks/015-module-disabled-state-ui.poml
  projects/spaarke-powerbi-embedded-r1/tasks/016-deploy-code-page.poml
  projects/spaarke-powerbi-embedded-r1/tasks/020-edit-mode-toggle.poml
  projects/spaarke-powerbi-embedded-r1/tasks/021-create-new-report-flow.poml
  projects/spaarke-powerbi-embedded-r1/tasks/022-save-save-as.poml
  projects/spaarke-powerbi-embedded-r1/tasks/023-export-pdf-pptx.poml
  projects/spaarke-powerbi-embedded-r1/tasks/024-role-based-ui-controls.poml
  projects/spaarke-powerbi-embedded-r1/tasks/030-define-sprk-report-entity.poml
  projects/spaarke-powerbi-embedded-r1/tasks/031-create-reporting-security-role.poml
  projects/spaarke-powerbi-embedded-r1/tasks/032-create-module-env-var.poml
  projects/spaarke-powerbi-embedded-r1/tasks/033-deploy-dataverse-schema.poml
  projects/spaarke-powerbi-embedded-r1/tasks/034-standard-pbix-report-templates.poml
  projects/spaarke-powerbi-embedded-r1/tasks/035-create-deploy-reports-script.poml
  projects/spaarke-powerbi-embedded-r1/tasks/036-report-versioning-setup.poml
  projects/spaarke-powerbi-embedded-r1/tasks/040-customer-onboarding-script.poml
  projects/spaarke-powerbi-embedded-r1/tasks/041-bu-rls-verification-tests.poml
  projects/spaarke-powerbi-embedded-r1/tasks/042-multi-deployment-model-testing.poml
  projects/spaarke-powerbi-embedded-r1/tasks/043-integration-tests-endpoints.poml
  projects/spaarke-powerbi-embedded-r1/tasks/044-e2e-smoke-tests.poml
  projects/spaarke-powerbi-embedded-r1/tasks/045-user-documentation.poml
  projects/spaarke-powerbi-embedded-r1/tasks/090-project-wrap-up.poml
  projects/spaarke-powerbi-embedded-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(reporting): Wave 1 — foundation tasks (001, 010, 030-032, 035-036)
  .gitattributes
  projects/spaarke-powerbi-embedded-r1/tasks/001-add-pbi-nuget-and-config.poml
  projects/spaarke-powerbi-embedded-r1/tasks/010-scaffold-reporting-code-page.poml
  projects/spaarke-powerbi-embedded-r1/tasks/030-define-sprk-report-entity.poml
  projects/spaarke-powerbi-embedded-r1/tasks/031-create-reporting-security-role.poml
  projects/spaarke-powerbi-embedded-r1/tasks/032-create-module-env-var.poml
  projects/spaarke-powerbi-embedded-r1/tasks/035-create-deploy-reports-script.poml
  projects/spaarke-powerbi-embedded-r1/tasks/036-report-versioning-setup.poml
  projects/spaarke-powerbi-embedded-r1/tasks/TASK-INDEX.md
  reports/CHANGELOG.md
  reports/README.md
  reports/v1.0.0/.gitkeep
  scripts/Deploy-ReportingReports.ps1
  scripts/README.md
  src/server/api/Sprk.Bff.Api/Api/Reporting/PowerBiOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ConfigurationModule.cs
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
  src/solutions/Reporting/index.html
  src/solutions/Reporting/package-lock.json
  src/solutions/Reporting/package.json
  src/solutions/Reporting/src/App.tsx
  src/solutions/Reporting/src/config/reportingConfig.ts
  src/solutions/Reporting/src/config/runtimeConfig.ts
  src/solutions/Reporting/src/main.tsx
  src/solutions/Reporting/src/providers/ThemeProvider.ts
  src/solutions/Reporting/src/services/authInit.ts
  src/solutions/Reporting/tsconfig.json
  src/solutions/Reporting/tsconfig.node.json
  src/solutions/Reporting/vite.config.ts
  src/solutions/SpaarkeCore/entities/sprk_report/entity-schema.md
  src/solutions/SpaarkeCore/environment-variables/sprk_ReportingModuleEnabled.md
  src/solutions/SpaarkeCore/security-roles/sprk_ReportingAccess.md
Owners: @spaarke-dev, @docs-team, @devops-team

feat(reporting): Wave 2 — BFF services (002, 003, 006)
  projects/spaarke-powerbi-embedded-r1/tasks/002-create-reporting-embed-service.poml
  projects/spaarke-powerbi-embedded-r1/tasks/003-create-reporting-profile-manager.poml
  projects/spaarke-powerbi-embedded-r1/tasks/006-create-reporting-auth-filter.poml
  src/server/api/Sprk.Bff.Api/Api/Reporting/ReportingAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Api/Reporting/ReportingDtos.cs
  src/server/api/Sprk.Bff.Api/Api/Reporting/ReportingEmbedService.cs
  src/server/api/Sprk.Bff.Api/Api/Reporting/ReportingPrivilegeLevel.cs
  src/server/api/Sprk.Bff.Api/Api/Reporting/ReportingProfileManager.cs
Owners: @spaarke-dev

feat(reporting): Wave 3a — caching, DI, module gate UI (004, 007, 015)
  projects/spaarke-powerbi-embedded-r1/tasks/004-add-embed-token-redis-caching.poml
  projects/spaarke-powerbi-embedded-r1/tasks/007-create-reporting-module-registration.poml
  projects/spaarke-powerbi-embedded-r1/tasks/015-module-disabled-state-ui.poml
  src/server/api/Sprk.Bff.Api/Api/Reporting/ReportingDtos.cs
  src/server/api/Sprk.Bff.Api/Api/Reporting/ReportingEmbedService.cs
  src/server/api/Sprk.Bff.Api/Api/Reporting/ReportingModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/solutions/Reporting/src/App.tsx
  src/solutions/Reporting/src/components/ModuleGate.tsx
  src/solutions/Reporting/src/config/reportingConfig.ts
Owners: @spaarke-dev

feat(reporting): Wave 3b — endpoints + onboarding (005, 040)
  projects/spaarke-powerbi-embedded-r1/tasks/005-create-reporting-endpoints.poml
  projects/spaarke-powerbi-embedded-r1/tasks/040-customer-onboarding-script.poml
  scripts/Initialize-ReportingCustomer.ps1
  scripts/README.md
  src/server/api/Sprk.Bff.Api/Api/Reporting/ReportingDtos.cs
  src/server/api/Sprk.Bff.Api/Api/Reporting/ReportingEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Reporting/ReportingModule.cs
Owners: @spaarke-dev, @devops-team, @docs-team

feat(reporting): Wave 4 — embed, dropdown, edit, export, tests (008, 011, 012, 020, 023)
  projects/spaarke-powerbi-embedded-r1/current-task.md
  projects/spaarke-powerbi-embedded-r1/tasks/008-unit-tests-reporting-bff.poml
  projects/spaarke-powerbi-embedded-r1/tasks/011-power-bi-embed-component.poml
  projects/spaarke-powerbi-embedded-r1/tasks/012-report-catalog-dropdown.poml
  projects/spaarke-powerbi-embedded-r1/tasks/020-edit-mode-toggle.poml
  projects/spaarke-powerbi-embedded-r1/tasks/023-export-pdf-pptx.poml
  projects/spaarke-powerbi-embedded-r1/tasks/TASK-INDEX.md
  src/solutions/Reporting/src/App.tsx
  src/solutions/Reporting/src/components/ExportButton.tsx
  src/solutions/Reporting/src/components/ModeToggle.tsx
  src/solutions/Reporting/src/components/ReportDropdown.tsx
  src/solutions/Reporting/src/components/ReportViewer.tsx
  src/solutions/Reporting/src/hooks/useEmbedToken.ts
  src/solutions/Reporting/src/hooks/useReportCatalog.ts
  src/solutions/Reporting/src/hooks/useReportingPrivilege.ts
  src/solutions/Reporting/src/services/reportingApi.ts
  src/solutions/Reporting/src/types/index.ts
  src/solutions/Reporting/src/types/reporting.ts
  tests/unit/Sprk.Bff.Api.Tests/Api/Reporting/ReportingAuthorizationFilterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Reporting/ReportingEmbedServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Reporting/ReportingEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Reporting/ReportingProfileManagerTests.cs
Owners: @spaarke-dev

feat(reporting): Wave 5 — authoring, refresh, dark mode, roles (013, 014, 021, 022, 024)
  projects/spaarke-powerbi-embedded-r1/tasks/013-token-auto-refresh-hook.poml
  projects/spaarke-powerbi-embedded-r1/tasks/014-dark-mode-support.poml
  projects/spaarke-powerbi-embedded-r1/tasks/021-create-new-report-flow.poml
  projects/spaarke-powerbi-embedded-r1/tasks/022-save-save-as.poml
  projects/spaarke-powerbi-embedded-r1/tasks/024-role-based-ui-controls.poml
  projects/spaarke-powerbi-embedded-r1/tasks/TASK-INDEX.md
  src/solutions/Reporting/src/App.tsx
  src/solutions/Reporting/src/components/DeleteReportButton.tsx
  src/solutions/Reporting/src/components/NewReportButton.tsx
  src/solutions/Reporting/src/components/ReportDropdown.tsx
  src/solutions/Reporting/src/components/ReportViewer.tsx
  src/solutions/Reporting/src/components/ReportingToolbar.tsx
  src/solutions/Reporting/src/components/SaveControls.tsx
  src/solutions/Reporting/src/hooks/useEmbedToken.ts
  src/solutions/Reporting/src/hooks/useTokenRefresh.ts
  src/solutions/Reporting/src/main.tsx
  src/solutions/Reporting/src/services/reportingApi.ts
  src/solutions/Reporting/src/styles/globalStyles.ts
Owners: @spaarke-dev

feat(reporting): Wave 6 — deploy scripts, tests, report specs (016, 033, 034, 041-043)
  projects/spaarke-powerbi-embedded-r1/tasks/016-deploy-code-page.poml
  projects/spaarke-powerbi-embedded-r1/tasks/033-deploy-dataverse-schema.poml
  projects/spaarke-powerbi-embedded-r1/tasks/034-standard-pbix-report-templates.poml
  projects/spaarke-powerbi-embedded-r1/tasks/041-bu-rls-verification-tests.poml
  projects/spaarke-powerbi-embedded-r1/tasks/042-multi-deployment-model-testing.poml
  projects/spaarke-powerbi-embedded-r1/tasks/043-integration-tests-endpoints.poml
  projects/spaarke-powerbi-embedded-r1/tasks/TASK-INDEX.md
  reports/CHANGELOG.md
  reports/v1.0.0/ComplianceDashboard.pbix.md
  reports/v1.0.0/DocumentActivity.pbix.md
  reports/v1.0.0/FinancialSummary.pbix.md
  reports/v1.0.0/MatterPipeline.pbix.md
  reports/v1.0.0/README.md
  reports/v1.0.0/TaskOverview.pbix.md
  scripts/Deploy-ReportingCodePage.ps1
  scripts/Deploy-ReportingSchema.ps1
  scripts/README.md
  tests/integration/Spe.Integration.Tests/IntegrationTestFixture.cs
  tests/integration/Spe.Integration.Tests/Reporting/ReportingDeploymentModelTests.cs
  tests/integration/Spe.Integration.Tests/Reporting/ReportingEndpointTests.cs
  tests/integration/Spe.Integration.Tests/Reporting/ReportingRlsTests.cs
Owners: @spaarke-dev, @docs-team, @devops-team

feat(reporting): Wave 7 — E2E tests, docs, wrap-up (044, 045, 090)
  docs/guides/reporting-admin.md
  docs/guides/reporting-module.md
  projects/spaarke-powerbi-embedded-r1/README.md
  projects/spaarke-powerbi-embedded-r1/current-task.md
  projects/spaarke-powerbi-embedded-r1/notes/lessons-learned.md
  projects/spaarke-powerbi-embedded-r1/plan.md
  projects/spaarke-powerbi-embedded-r1/tasks/044-e2e-smoke-tests.poml
  projects/spaarke-powerbi-embedded-r1/tasks/045-user-documentation.poml
  projects/spaarke-powerbi-embedded-r1/tasks/090-project-wrap-up.poml
  projects/spaarke-powerbi-embedded-r1/tasks/TASK-INDEX.md
  tests/e2e/reporting/README.md
  tests/e2e/reporting/smoke-test-checklist.md
Owners: @spaarke-dev, @docs-team

fix(reporting): defer PowerBiOptions validation to first use
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ConfigurationModule.cs
Owners: @spaarke-dev

fix(reporting): conditionally register PBI services when config present
  deploy/api-publish/Microsoft.PowerBI.Api.dll
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.deps.json
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
  src/server/api/Sprk.Bff.Api/Api/Reporting/ReportingModule.cs
Owners: @spaarke-dev

fix(reporting): add [FromServices] to all endpoint handler service params
  src/server/api/Sprk.Bff.Api/Api/Reporting/ReportingEndpoints.cs
Owners: @spaarke-dev

fix(reporting): add [FromServices] to ReportingEmbedService and gate endpoint mapping
  src/server/api/Sprk.Bff.Api/Api/Reporting/ReportingModule.cs
Owners: @spaarke-dev

fix(daily-update): implement useDailyDigestAutoPopup hook and fix runtime config race condition
  src/solutions/DailyBriefing/src/config/runtimeConfig.ts
  src/solutions/DailyBriefing/src/services/authInit.ts
  src/solutions/LegalWorkspace/src/hooks/useDailyDigestAutoPopup.ts
Owners: @spaarke-dev

feat(daily-update): add Phase 8 narrative redesign spec and tasks
  projects/spaarke-daily-update-service/daily-briefing-redesign-spec.md
  projects/spaarke-daily-update-service/notes/daily-briefing-redesign.md
  projects/spaarke-daily-update-service/tasks/100-narrate-bff-endpoint.poml
  projects/spaarke-daily-update-service/tasks/101-todo-icon-and-hook.poml
  projects/spaarke-daily-update-service/tasks/102-preferences-dropdown.poml
  projects/spaarke-daily-update-service/tasks/103-narrative-components.poml
  projects/spaarke-daily-update-service/tasks/104-narration-service-hook.poml
  projects/spaarke-daily-update-service/tasks/105-wire-app-remove-old.poml
  projects/spaarke-daily-update-service/tasks/106-deploy-verify-redesign.poml
  projects/spaarke-daily-update-service/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(daily-update): implement Group J — /narrate endpoint, To Do hook, preferences dropdown
  src/server/api/Sprk.Bff.Api/Api/Ai/DailyBriefingEndpoints.cs
  src/solutions/DailyBriefing/src/components/PreferencesDropdown.tsx
  src/solutions/DailyBriefing/src/hooks/useInlineTodoCreate.ts
  src/solutions/DailyBriefing/src/icons/MicrosoftToDoIcon.tsx
Owners: @spaarke-dev

feat(daily-update): implement Group K — narrative components and narration service
  src/solutions/DailyBriefing/src/components/ActivityNotesSection.tsx
  src/solutions/DailyBriefing/src/components/CaughtUpFooter.tsx
  src/solutions/DailyBriefing/src/components/ChannelHeading.tsx
  src/solutions/DailyBriefing/src/components/NarrativeBullet.tsx
  src/solutions/DailyBriefing/src/components/TldrSection.tsx
  src/solutions/DailyBriefing/src/hooks/useBriefingNarration.ts
  src/solutions/DailyBriefing/src/services/briefingService.ts
  src/solutions/DailyBriefing/src/utils/toastUtils.ts
Owners: @spaarke-dev

feat(daily-update): wire narrative layout and remove old dashboard components
  src/solutions/DailyBriefing/src/App.tsx
  src/solutions/DailyBriefing/src/components/AiBriefing.tsx
  src/solutions/DailyBriefing/src/components/ChannelCard.tsx
  src/solutions/DailyBriefing/src/components/ChannelErrorState.tsx
  src/solutions/DailyBriefing/src/components/DigestHeader.tsx
  src/solutions/DailyBriefing/src/components/NarrativeSummary.tsx
  src/solutions/DailyBriefing/src/components/NotificationItem.tsx
  src/solutions/DailyBriefing/src/components/PreferencesPanel.tsx
  src/solutions/DailyBriefing/src/components/index.ts
  src/solutions/DailyBriefing/src/hooks/useAiBriefing.ts
Owners: @spaarke-dev

chore(daily-update): mark Phase 8 redesign tasks 100-106 complete
  projects/spaarke-daily-update-service/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(daily-update): address user testing feedback on narrative briefing
  src/server/api/Sprk.Bff.Api/Api/Ai/DailyBriefingEndpoints.cs
  src/solutions/DailyBriefing/src/components/ActivityNotesSection.tsx
  src/solutions/DailyBriefing/src/components/ChannelHeading.tsx
  src/solutions/DailyBriefing/src/components/NarrativeBullet.tsx
  src/solutions/DailyBriefing/src/components/TldrSection.tsx
Owners: @spaarke-dev

fix(daily-update): deploy playbooks and mark completed deployments
  projects/spaarke-daily-update-service/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(daily-update): fix sprk_event field names in useInlineTodoCreate
  src/solutions/DailyBriefing/src/hooks/useInlineTodoCreate.ts
Owners: @spaarke-dev

fix(daily-update): revert body text to 14px (size 300) to match system font
  src/solutions/DailyBriefing/src/components/NarrativeBullet.tsx
  src/solutions/DailyBriefing/src/components/TldrSection.tsx
Owners: @spaarke-dev

fix(reporting): update admin guide and fix onboarding script bugs
  docs/guides/reporting-admin.md
  scripts/Initialize-ReportingCustomer.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

fix(daily-update): fix sprk_priority option set values (100000000-series)
  src/solutions/DailyBriefing/src/hooks/useInlineTodoCreate.ts
Owners: @spaarke-dev

fix(daily-update): add post-build rename to sprk_dailyupdate.html
  src/solutions/DailyBriefing/package.json
Owners: @spaarke-dev

fix(daily-update): fix sprk_todostatus and sprk_todosource option set values
  src/solutions/DailyBriefing/src/hooks/useInlineTodoCreate.ts
Owners: @spaarke-dev

fix(copilot): configure Entra SSO auth for API Plugin
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AuthorizationModule.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  src/solutions/CopilotAgent/spaarke-api-plugin.json
Owners: @spaarke-dev

fix(copilot): resolve API Plugin auth — OAuth flow with Entra SSO
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AuthorizationModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/MiddlewarePipelineExtensions.cs
  src/solutions/CopilotAgent/appPackage/manifest.json
  src/solutions/CopilotAgent/declarativeAgent.json
  src/solutions/CopilotAgent/spaarke-api-plugin.json
  src/solutions/CopilotAgent/spaarke-bff-openapi.yaml
Owners: @spaarke-dev

fix(copilot): align OpenAPI spec with actual endpoints + remove confirmations
  src/solutions/CopilotAgent/spaarke-api-plugin.json
  src/solutions/CopilotAgent/spaarke-bff-openapi.yaml
Owners: @spaarke-dev

checkpoint: save Copilot auth resolution + remaining API integration issues
  projects/ai-m365-copilot-integration/current-task.md
  scripts/Deploy-CopilotAgent.ps1
  src/solutions/CopilotAgent/appPackage/manifest.json
  src/solutions/CopilotAgent/declarativeAgent.json
  src/solutions/CopilotAgent/spaarke-api-plugin.json
Owners: @spaarke-dev, @devops-team

checkpoint: OBO/MSAL is critical next step — OAuth alone is insufficient
  projects/ai-m365-copilot-integration/current-task.md
Owners: @spaarke-dev

fix(copilot): add user-scoped event queries + default search scope
  src/server/api/Sprk.Bff.Api/Api/Events/EventEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/SemanticSearch/SemanticSearchRequest.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/IEventDataverseService.cs
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
