Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

docs(adr-028): apply Amendment A1 — Entra External ID for external portal surface
  .claude/adr/ADR-028-spaarke-auth-architecture.md
  projects/spaarke-SPA-external-access-platform-r1/adr-028-amendment-draft.md
Owners: @spaarke-dev

feat(external-access): initialize project artifacts (README, plan, CLAUDE.md)
  projects/spaarke-SPA-external-access-platform-r1/CLAUDE.md
  projects/spaarke-SPA-external-access-platform-r1/README.md
  projects/spaarke-SPA-external-access-platform-r1/current-task.md
  projects/spaarke-SPA-external-access-platform-r1/notes/.gitkeep
  projects/spaarke-SPA-external-access-platform-r1/notes/debug/.gitkeep
  projects/spaarke-SPA-external-access-platform-r1/notes/drafts/.gitkeep
  projects/spaarke-SPA-external-access-platform-r1/notes/handoffs/.gitkeep
  projects/spaarke-SPA-external-access-platform-r1/notes/spikes/.gitkeep
  projects/spaarke-SPA-external-access-platform-r1/plan.md
  projects/spaarke-SPA-external-access-platform-r1/tasks/.gitkeep
Owners: @spaarke-dev, @docs-team

feat(assistant-r1): route Draft-a-response into a pre-filled Compose tab (owner: yes)
  src/solutions/SpaarkeAi/src/components/conversation/DocumentUploadedEventStream.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/DocumentUploadedEventStream.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/assistantDraftHtml.ts
  src/solutions/SpaarkeAi/src/components/conversation/useConsumerChips.tsx
Owners: @spaarke-dev

docs(assistant-r1): Draft→Compose shipped; only optional session-files-in-Context remains
  projects/spaarkeai-assistant-enhancements-r1/notes/uat-feedback-2026-07-19.md
Owners: @spaarke-dev

feat(external-access): decompose plan into 25 POML tasks + TASK-INDEX
  projects/spaarke-SPA-external-access-platform-r1/current-task.md
  projects/spaarke-SPA-external-access-platform-r1/tasks/001-provision-ciam-tenant.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/002-ciam-app-registration.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/003-provision-swa-resource.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/004-add-contact-externalobjectid-field.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/010-swa-static-config.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/011-browserrouter-migration.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/012-deeplink-through-login.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/013-bff-cors-and-redirect-uris.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/014-deploy-spa-to-swa-b2b.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/020-ciam-jwtbearer-scheme.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/021-pin-ciam-scheme-external-group.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/022-cross-tenant-ciam-graph-client.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/023-oid-contact-resolution.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/024-ciam-onboarding-email.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/025-ciam-provisioner.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/026-drop-synthetic-spe-grant.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/027-external-download-endpoint.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/028-spa-ciam-config.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/029-invite-trigger.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/030-bff-external-access-tests.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/031-deploy-bff.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/040-parity-verification.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/041-decommission-power-pages.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/042-rewrite-docs.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/090-project-wrap-up.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

chore(index): register spaarke-SPA-external-access-platform-r1 (hot-path coordination)
  projects/INDEX.md
Owners: @spaarke-dev

checkpoint(compose-r3): R3 deployed to spaarkedev1 — BFF (hash-verified) + SpaarkeAi (sprk_spaarkeai published); tasks 025/081 done
  projects/spaarkeai-compose-r3/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(compose-r3): UAT feedback 2026-07-19 — P1 insertBefore mount crash (live imports), P2 born-in-editor save, P3 Word-open, UX Word-dropdown save; handoff before compact
  projects/spaarkeai-compose-r3/current-task.md
  projects/spaarkeai-compose-r3/notes/uat-feedback-2026-07-19.md
Owners: @spaarke-dev

fix(email-r4): archive/Save-to-SharePoint FIXED — register BFF MI on SPE container type
  projects/email-communication-solution-r4/notes/UAT-CHECKLIST.md
  scripts/Register-BffMiWithContainerType.ps1
Owners: @spaarke-dev, @devops-team

checkpoint(email-r4): context-handoff — UAT run + archive/Save-to-SharePoint FIXED (MI SPE grant + owner cert renewal)
  projects/email-communication-solution-r4/current-task.md
Owners: @spaarke-dev

feat(assistant-r1): R4 load-screen — card whitespace, "More…" card, taller composer
  projects/spaarkeai-assistant-enhancements-r1/notes/uat-feedback-2026-07-19-R4.md
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/WelcomeStartCards.tsx
Owners: @spaarke-dev

checkpoint(external-access): self-contained resume state before compaction
  projects/spaarke-SPA-external-access-platform-r1/current-task.md
Owners: @spaarke-dev

feat(assistant-r1): R4-4 — stop auto-opening Compose on attach; add on-demand "Revise in Compose"
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPaneChrome.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.auto-load-upload-into-compose.test.tsx
Owners: @spaarke-dev

test(email-r4): 1E kill-switch mechanism verified (compound-off healthy, no-redeploy, DI intact) + restore to baseline
  projects/email-communication-solution-r4/notes/UAT-CHECKLIST.md
Owners: @spaarke-dev

docs(assistant-r1): R4 batch 1 shipped (R4-1..4); status table for the rest
  projects/spaarkeai-assistant-enhancements-r1/notes/uat-feedback-2026-07-19-R4.md
Owners: @spaarke-dev

fix(compose): UAT P1 insertBefore crash on Styles/Comments FAB + UX-1 Save in Word dropdown
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.paneToggleCrash.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.tsx
Owners: @spaarke-dev

fix(compose): UAT P2 born-in-editor second-save baseline (+ P3 Word-open unblocked)
  src/client/shared/Spaarke.Compose.Components/src/types/compose-contracts.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.saveBaseline.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.types.ts
Owners: @spaarke-dev

fix(assistant-r1): R4-8 — implement the recent-sessions list (History was empty)
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/ISessionPersistenceService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/SessionPersistenceService.cs
Owners: @spaarke-dev

docs(compose-r3): record UAT 2026-07-19 P1/P2/P3/UX-1 resolutions in feedback notes
  projects/spaarkeai-compose-r3/notes/uat-feedback-2026-07-19.md
Owners: @spaarke-dev

feat(assistant-r1): R4-10 — "Working…" spinner while a chip capability runs (e.g. Summarize)
  projects/spaarkeai-assistant-enhancements-r1/notes/uat-feedback-2026-07-19-R4.md
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPaneChrome.tsx
  src/solutions/SpaarkeAi/src/components/conversation/useConsumerChips.tsx
Owners: @spaarke-dev

docs(assistant-r1): R4 round-2 shipped (R4-8 BFF history + R4-10 spinner); R4-6/11/12 teed up
  projects/spaarkeai-assistant-enhancements-r1/notes/uat-feedback-2026-07-19-R4.md
Owners: @spaarke-dev

feat(external-access): Phase 0 CIAM/SWA/Dataverse foundation + tasks 024/026
  .github/workflows/deploy-external-spa.yml
  config/environments.json
  config/spaarke-resources.yaml
  projects/spaarke-SPA-external-access-platform-r1/current-task.md
  projects/spaarke-SPA-external-access-platform-r1/notes/data-model-sprk_externalobjectid.md
  projects/spaarke-SPA-external-access-platform-r1/tasks/001-provision-ciam-tenant.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/002-ciam-app-registration.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/003-provision-swa-resource.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/004-add-contact-externalobjectid-field.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/024-ciam-onboarding-email.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/026-drop-synthetic-spe-grant.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/GrantExternalAccessEndpoint.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/EmailTemplates/CiamOnboardingTemplate.html
  src/server/api/Sprk.Bff.Api/Services/Registration/RegistrationEmailService.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/ExternalAccess/ExternalAccessEndpointTests.cs
Owners: @spaarke-dev, @devops-team

feat(external-access): task 020 — add "Ciam" JwtBearer scheme to BFF
  projects/spaarke-SPA-external-access-platform-r1/current-task.md
  projects/spaarke-SPA-external-access-platform-r1/tasks/020-ciam-jwtbearer-scheme.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/Authentication/AuthSchemes.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AuthorizationModule.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
Owners: @spaarke-dev

checkpoint(external-access): context-handoff — 7 tasks complete, tree clean
  projects/spaarke-SPA-external-access-platform-r1/current-task.md
Owners: @spaarke-dev

checkpoint(messaging-r2): context-handoff — code-complete + BFF deployed; owner creating schema/PCFs
  projects/messaging-communication-app-r2/current-task.md
Owners: @spaarke-dev

feat(external-access): task 022 cross-tenant CIAM Graph client (app-only)
  projects/spaarke-SPA-external-access-platform-r1/current-task.md
  projects/spaarke-SPA-external-access-platform-r1/tasks/022-cross-tenant-ciam-graph-client.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ExternalAccessModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/CiamGraphClientFactory.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
Owners: @spaarke-dev

feat(external-access): task 021 pin CIAM scheme on /api/v1/external group
  projects/spaarke-SPA-external-access-platform-r1/tasks/021-pin-ciam-scheme-external-group.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ExternalAccessEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Authentication/AuthPolicies.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AuthorizationModule.cs
Owners: @spaarke-dev

feat(external-access): task 023 resolve external Contact by stable CIAM oid
  projects/spaarke-SPA-external-access-platform-r1/current-task.md
  projects/spaarke-SPA-external-access-platform-r1/tasks/023-oid-contact-resolution.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Filters/ExternalCallerAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ExternalCallerContext.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ExternalParticipationService.cs
Owners: @spaarke-dev

feat(external-access): task 028 point external-spa at the CIAM authority
  projects/spaarke-SPA-external-access-platform-r1/current-task.md
  projects/spaarke-SPA-external-access-platform-r1/notes/defer-issues.md
  projects/spaarke-SPA-external-access-platform-r1/tasks/028-spa-ciam-config.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/TASK-INDEX.md
  src/client/external-spa/.env.development
  src/client/external-spa/.env.example
  src/client/external-spa/.env.production
  src/client/external-spa/src/auth/msal-config.ts
  src/client/external-spa/src/config.ts
Owners: @spaarke-dev

feat(external-access): task 025 admin-initiated CIAM provisioner (replace B2B)
  projects/spaarke-SPA-external-access-platform-r1/current-task.md
  projects/spaarke-SPA-external-access-platform-r1/notes/defer-issues.md
  projects/spaarke-SPA-external-access-platform-r1/tasks/025-ciam-provisioner.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/Dtos/InviteExternalUserResponse.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/InviteExternalUserEndpoint.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ExternalAccessModule.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/CiamUserProvisioningService.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
Owners: @spaarke-dev

feat(external-access): task 027 external document download (authz-before-stream)
  projects/spaarke-SPA-external-access-platform-r1/current-task.md
  projects/spaarke-SPA-external-access-platform-r1/tasks/027-external-download-endpoint.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ExternalProjectDataEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ExternalDataService.cs
Owners: @spaarke-dev

docs(email-r4): log UAT defects #2/#4/#5/#7 — #7 (body-embedded ref numbers) root cause CONFIRMED via persisted provenance
  projects/email-communication-solution-r4/notes/UAT-DEFECTS.md
Owners: @spaarke-dev

feat(external-access): task 029 core-user invite-and-grant orchestration
  projects/spaarke-SPA-external-access-platform-r1/current-task.md
  projects/spaarke-SPA-external-access-platform-r1/notes/defer-issues.md
  projects/spaarke-SPA-external-access-platform-r1/tasks/029-invite-trigger.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/Dtos/InviteAndGrantResponse.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ExternalAccessEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/GrantExternalAccessEndpoint.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/InviteAndGrantExternalUserEndpoint.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/InviteExternalUserEndpoint.cs
Owners: @spaarke-dev

feat(external-access): task 010 staticwebapp.config.json + SWA config staging
  .github/workflows/deploy-external-spa.yml
  projects/spaarke-SPA-external-access-platform-r1/notes/task-010-swa-config.md
  projects/spaarke-SPA-external-access-platform-r1/tasks/010-swa-static-config.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/TASK-INDEX.md
  src/client/external-spa/staticwebapp.config.json
Owners: @spaarke-dev, @devops-team

docs(external-access): task 030 execution plan (CIAM contract-test suite)
  projects/spaarke-SPA-external-access-platform-r1/current-task.md
  projects/spaarke-SPA-external-access-platform-r1/notes/task-030-plan.md
Owners: @spaarke-dev

plan(email-r4): W9 UAT remediation tasks 091/092/093 (#7,#4,#5,#2) + decisions locked (Suggest-only, embed-attachments)
  projects/email-communication-solution-r4/notes/UAT-DEFECTS.md
  projects/email-communication-solution-r4/tasks/091-body-reference-extraction.poml
  projects/email-communication-solution-r4/tasks/092-eml-faithful-and-profile-enqueue.poml
  projects/email-communication-solution-r4/tasks/093-attachment-preview-pcf.poml
  projects/email-communication-solution-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

chore(external-access): wire CIAM app registration IDs (DI-028-01 resolved)
  config/environments.json
  config/spaarke-resources.yaml
  projects/spaarke-SPA-external-access-platform-r1/notes/defer-issues.md
  src/client/external-spa/.env.development
Owners: @spaarke-dev

fix(communication): task 091 (#7) — deterministic body/attachment reference-number extraction + exact referenceNumbers filter
  src/server/api/Sprk.Bff.Api/Configuration/RecordNameMatchOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/Rungs/RecordNameMatchRung.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/RecordNameMatchRungTests.cs
Owners: @spaarke-dev

feat(external-access): task 013 add SWA origin to BFF CORS allow-list
  projects/spaarke-SPA-external-access-platform-r1/current-task.md
  projects/spaarke-SPA-external-access-platform-r1/tasks/013-bff-cors-and-redirect-uris.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/appsettings.template.json
Owners: @spaarke-dev

checkpoint(email-r4): W9 mid-remediation — 091 (#7) done+committed, gate running; 092/093 next
  projects/email-communication-solution-r4/current-task.md
Owners: @spaarke-dev
