Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(office): add Spaarke logo icons for toolbar
  src/client/office-addins/generate-icons.mjs
  src/client/office-addins/public/assets/icon-128.png
  src/client/office-addins/public/assets/icon-16.png
  src/client/office-addins/public/assets/icon-32.png
  src/client/office-addins/public/assets/icon-64.png
  src/client/office-addins/public/assets/icon-80.png
  src/client/office-addins/public/assets/star-logo.svg
Owners: @spaarke-dev

feat(e2e-tests): document Update Related push flow test scenarios (Task 063)
  projects/events-and-workflow-automation-r1/notes/e2e-update-related-push-results.md
  projects/events-and-workflow-automation-r1/tasks/063-e2e-test-update-related-push.poml
  projects/events-and-workflow-automation-r1/tasks/TASK-INDEX.md
  tests/e2e/scenarios/update-related-push.md
Owners: @spaarke-dev

feat(task-065): Complete performance validation and bundle size check
  projects/events-and-workflow-automation-r1/notes/performance-validation-results.md
  projects/events-and-workflow-automation-r1/tasks/065-performance-validation.poml
  projects/events-and-workflow-automation-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(task-074): update README status to Complete and mark all graduation criteria as met
  projects/events-and-workflow-automation-r1/README.md
  projects/events-and-workflow-automation-r1/tasks/074-update-readme-status.poml
  projects/events-and-workflow-automation-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore: remove outdated stub comment from EventEndpoints
  src/server/api/Sprk.Bff.Api/Api/Events/EventEndpoints.cs
Owners: @spaarke-dev

fix(pcf): update build configs for Dataverse deployment
  src/client/pcf/AssociationResolver/handlers/FieldMappingHandler.ts
  src/client/pcf/AssociationResolver/package.json
  src/client/pcf/AssociationResolver/pcfconfig.json
  src/client/pcf/EventFormController/pcfconfig.json
  src/client/pcf/FieldMappingAdmin/components/RulesList.tsx
  src/client/pcf/FieldMappingAdmin/pcfconfig.json
  src/client/pcf/RegardingLink/pcfconfig.json
  src/client/pcf/UpdateRelatedButton/pcfconfig.json
Owners: @spaarke-dev

docs: document PCF deployment issues and workarounds
  projects/events-and-workflow-automation-r1/current-task.md
  projects/events-and-workflow-automation-r1/notes/DEPLOYMENT-ISSUES.md
Owners: @spaarke-dev

feat(events): implement working FieldMappingService for AssociationResolver
  projects/events-and-workflow-automation-r1/notes/DEPLOYMENT-ISSUES.md
  src/client/pcf/AssociationResolver/handlers/FieldMappingHandler.ts
  src/client/pcf/AssociationResolver/package-lock.json
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/IDataverseService.cs
  src/server/shared/Spaarke.Dataverse/Models.cs
Owners: @spaarke-dev

chore: update package-lock.json files after PCF deployment
  src/client/pcf/EventFormController/package-lock.json
  src/client/pcf/FieldMappingAdmin/package-lock.json
  src/client/pcf/RegardingLink/package-lock.json
  src/client/pcf/UpdateRelatedButton/package-lock.json
  src/client/shared/Spaarke.UI.Components/package-lock.json
Owners: @spaarke-dev

docs: update current-task.md with working FieldMappingService status
  projects/events-and-workflow-automation-r1/current-task.md
Owners: @spaarke-dev

feat(pcf): refactor RegardingLink to Power Apps Grid Customizer pattern
  src/client/pcf/RegardingLink/ControlManifest.Input.xml
  src/client/pcf/RegardingLink/Solution/Controls/sprk_Spaarke.Controls.RegardingLink/ControlManifest.xml
  src/client/pcf/RegardingLink/Solution/Controls/sprk_Spaarke.Controls.RegardingLink/bundle.js
  src/client/pcf/RegardingLink/Solution/[Content_Types].xml
  src/client/pcf/RegardingLink/Solution/pack.ps1
  src/client/pcf/RegardingLink/Solution/solution.xml
  src/client/pcf/RegardingLink/index.ts
Owners: @spaarke-dev

feat(events): add EventAutoAssociate PCF and fix Regarding Record URL
  projects/events-and-workflow-automation-r1/spec.md
  src/client/pcf/AssociationResolver/AssociationResolverApp.tsx
  src/client/pcf/AssociationResolver/ControlManifest.Input.xml
  src/client/pcf/AssociationResolver/Solution/Controls/sprk_Spaarke.Controls.AssociationResolver/ControlManifest.xml
  src/client/pcf/AssociationResolver/Solution/Controls/sprk_Spaarke.Controls.AssociationResolver/bundle.js
  src/client/pcf/AssociationResolver/Solution/pack.ps1
  src/client/pcf/AssociationResolver/handlers/FieldMappingHandler.ts
  src/client/pcf/AssociationResolver/handlers/RecordSelectionHandler.ts
  src/client/pcf/AssociationResolver/index.ts
  src/client/pcf/EventAutoAssociate/.gitignore
  src/client/pcf/EventAutoAssociate/ControlManifest.Input.xml
  src/client/pcf/EventAutoAssociate/EventAutoAssociate.pcfproj
  src/client/pcf/EventAutoAssociate/Solution/Controls/sprk_Spaarke.Controls.EventAutoAssociate/ControlManifest.xml
  src/client/pcf/EventAutoAssociate/Solution/Controls/sprk_Spaarke.Controls.EventAutoAssociate/bundle.js
  src/client/pcf/EventAutoAssociate/Solution/[Content_Types].xml
  src/client/pcf/EventAutoAssociate/Solution/customizations.xml
  src/client/pcf/EventAutoAssociate/Solution/pack.ps1
  src/client/pcf/EventAutoAssociate/Solution/solution.xml
  src/client/pcf/EventAutoAssociate/index.ts
  src/client/pcf/EventAutoAssociate/package-lock.json
  src/client/pcf/EventAutoAssociate/package.json
  src/client/pcf/EventAutoAssociate/tsconfig.json
  src/client/pcf/EventFormController/ControlManifest.Input.xml
  src/client/pcf/EventFormController/EventFormControllerApp.tsx
  src/client/pcf/EventFormController/Solution/Controls/sprk_Spaarke.Controls.EventFormController/ControlManifest.xml
  src/client/pcf/EventFormController/Solution/Controls/sprk_Spaarke.Controls.EventFormController/bundle.js
  src/client/pcf/EventFormController/Solution/pack.ps1
  src/client/pcf/EventFormController/Solution/solution.xml
  src/client/pcf/RegardingLink/ControlManifest.Input.xml
  src/client/pcf/RegardingLink/Solution/Controls/sprk_Spaarke.Controls.RegardingLink/ControlManifest.xml
  src/client/pcf/RegardingLink/Solution/Controls/sprk_Spaarke.Controls.RegardingLink/bundle.js
  src/client/pcf/RegardingLink/Solution/solution.xml
  src/client/pcf/RegardingLink/index.ts
Owners: @spaarke-dev

docs(events-ux): add Events Workspace Apps UX R1 design document
  projects/events-workspace-apps-UX-r1/design.md
Owners: @spaarke-dev

docs(events): add Quick Create and EventAutoAssociate admin notes
  docs/product-documentation/events-user-guide.md
Owners: @spaarke-dev, @docs-team

docs(events): add mockups and update tasks per visual design
  projects/events-workspace-apps-UX-r1/notes/mockups/events-entity-view-page-calendar-and-dataset.png
  projects/events-workspace-apps-UX-r1/notes/mockups/record-events-tab-calendar-and-dataset.png
  projects/events-workspace-apps-UX-r1/notes/mockups/record-overview-tab-upcoming-events-section.png
  projects/events-workspace-apps-UX-r1/tasks/002-implement-fluent-calendar-component.poml
  projects/events-workspace-apps-UX-r1/tasks/052-duedateswidget-card-layout.poml
  projects/events-workspace-apps-UX-r1/tasks/053-duedateswidget-urgency-badges.poml
  projects/events-workspace-apps-UX-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(events): button persistence and cleanup for side pane navigation
  src/client/webresources/js/sprk_event_sidepane_form.js
  src/solutions/EventsPage/package.json
  src/solutions/EventsPage/src/App.tsx
  src/solutions/EventsPage/src/config/eventConfig.ts
Owners: @spaarke-dev

feat(visualhost): initialize visualization-module-r2 project
  projects/visualization-module-r2/CLAUDE.md
  projects/visualization-module-r2/README.md
  projects/visualization-module-r2/current-task.md
  projects/visualization-module-r2/design.md
  projects/visualization-module-r2/plan.md
  projects/visualization-module-r2/spec.md
  projects/visualization-module-r2/tasks/001-create-click-action-fields.poml
  projects/visualization-module-r2/tasks/002-create-visual-config-fields.poml
  projects/visualization-module-r2/tasks/003-add-visual-type-options.poml
  projects/visualization-module-r2/tasks/004-export-schema-solution.poml
  projects/visualization-module-r2/tasks/010-extend-chart-definition-interface.poml
  projects/visualization-module-r2/tasks/011-update-configuration-loader.poml
  projects/visualization-module-r2/tasks/012-create-click-action-handler.poml
  projects/visualization-module-r2/tasks/020-create-event-due-date-card.poml
  projects/visualization-module-r2/tasks/030-due-date-card-visual.poml
  projects/visualization-module-r2/tasks/040-create-view-data-service.poml
  projects/visualization-module-r2/tasks/050-end-to-end-testing.poml
  projects/visualization-module-r2/tasks/090-project-wrap-up.poml
  projects/visualization-module-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(visualhost): implement visualization-module-r2 Phases 2-5 and deploy v1.2.0
  projects/visualization-module-r2/current-task.md
  projects/visualization-module-r2/tasks/001-create-click-action-fields.poml
  projects/visualization-module-r2/tasks/002-create-visual-config-fields.poml
  projects/visualization-module-r2/tasks/003-add-visual-type-options.poml
  projects/visualization-module-r2/tasks/010-extend-chart-definition-interface.poml
  projects/visualization-module-r2/tasks/011-update-configuration-loader.poml
  projects/visualization-module-r2/tasks/012-create-click-action-handler.poml
  projects/visualization-module-r2/tasks/020-create-event-due-date-card.poml
  projects/visualization-module-r2/tasks/030-due-date-card-visual.poml
  projects/visualization-module-r2/tasks/040-create-view-data-service.poml
  projects/visualization-module-r2/tasks/TASK-INDEX.md
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/styles.css
  src/client/pcf/VisualHost/Solution/[Content_Types].xml
  src/client/pcf/VisualHost/Solution/customizations.xml
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/ChartRenderer.tsx
  src/client/pcf/VisualHost/control/components/DueDateCard.tsx
  src/client/pcf/VisualHost/control/components/DueDateCardList.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/control/services/ClickActionHandler.ts
  src/client/pcf/VisualHost/control/services/ConfigurationLoader.ts
  src/client/pcf/VisualHost/control/services/ViewDataService.ts
  src/client/pcf/VisualHost/control/types/index.ts
  src/client/pcf/VisualHost/package-lock.json
  src/client/shared/Spaarke.UI.Components/src/components/EventDueDateCard/EventDueDateCard.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EventDueDateCard/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
Owners: @spaarke-dev

fix(visualhost): FetchXML-only data layer, context filter fixes, v1.2.12
  docs/guides/VISUALHOST-ARCHITECTURE.md
  docs/guides/VISUALHOST-SETUP-GUIDE.md
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/DueDateCard.tsx
  src/client/pcf/VisualHost/control/components/DueDateCardList.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/control/services/ConfigurationLoader.ts
  src/client/pcf/VisualHost/control/services/DataAggregationService.ts
  src/client/pcf/VisualHost/control/services/ViewDataService.ts
  src/client/pcf/VisualHost/control/services/__tests__/DataAggregationService.test.ts
Owners: @spaarke-dev, @docs-team

feat(visualhost): drill-through navigation to Events Page dataset grid
  docs/guides/VISUALHOST-ARCHITECTURE.md
  docs/guides/VISUALHOST-SETUP-GUIDE.md
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/ChartRenderer.tsx
  src/client/pcf/VisualHost/control/components/DueDateCardList.tsx
  src/client/pcf/VisualHost/control/components/MetricCard.tsx
  src/client/pcf/VisualHost/control/components/MetricCardMatrix.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/control/services/ConfigurationLoader.ts
  src/client/pcf/VisualHost/control/services/DataAggregationService.ts
  src/client/pcf/VisualHost/control/services/ViewDataService.ts
  src/client/pcf/VisualHost/control/types/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/EventDueDateCard/EventDueDateCard.tsx
  src/solutions/EventsPage/package-lock.json
  src/solutions/EventsPage/src/App.tsx
  src/solutions/EventsPage/src/components/GridSection.tsx
Owners: @spaarke-dev, @docs-team

deps: bump remaining Kiota packages to 1.21.2 and OpenTelemetry.Instrumentation.AspNetCore to 1.15.0
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
Owners: @spaarke-dev

fix(events): event type field corrections and phase 10 progress
  projects/events-workspace-apps-UX-r1/README.md
  projects/events-workspace-apps-UX-r1/current-task.md
  projects/events-workspace-apps-UX-r1/notes/deployment/final-deployment.md
  projects/events-workspace-apps-UX-r1/notes/design/universal-datagrid-enhancement.md
  projects/events-workspace-apps-UX-r1/notes/due-date-widget-event-card.png
  projects/events-workspace-apps-UX-r1/notes/event-type-color-codes.png
  projects/events-workspace-apps-UX-r1/notes/event-type-field-fix-deployment.md
  src/client/pcf/DueDatesWidget/Solution/Controls/sprk_Spaarke.Controls.DueDatesWidget/ControlManifest.xml
  src/client/pcf/DueDatesWidget/Solution/Controls/sprk_Spaarke.Controls.DueDatesWidget/bundle.js
  src/client/pcf/DueDatesWidget/Solution/Controls/sprk_Spaarke.Controls.DueDatesWidget/bundle.js.LICENSE.txt
  src/client/pcf/DueDatesWidget/Solution/pack.ps1
  src/client/pcf/DueDatesWidget/Solution/solution.xml
  src/client/pcf/DueDatesWidget/control/ControlManifest.Input.xml
  src/client/pcf/DueDatesWidget/control/__tests__/setupTests.ts
  src/client/pcf/DueDatesWidget/control/components/DueDatesWidgetRoot.tsx
  src/client/pcf/DueDatesWidget/control/index.ts
  src/client/pcf/DueDatesWidget/control/services/eventFilterService.ts
  src/client/webresources/js/sprk_event_sidepane_form.js
  src/solutions/EventDetailSidePane/src/App.tsx
  src/solutions/EventDetailSidePane/src/components/HeaderSection.tsx
  src/solutions/EventDetailSidePane/src/hooks/useEventTypeConfig.ts
  src/solutions/EventDetailSidePane/src/types/EventRecord.ts
  src/solutions/EventsPage/src/App.tsx
Owners: @spaarke-dev, @docs-team

docs(adr): add ADR-024 Polymorphic Resolver Pattern
  .claude/adr/ADR-024-polymorphic-resolver-pattern.md
  .claude/patterns/dataverse/polymorphic-resolver.md
Owners: @spaarke-dev

fix(api): remove [AsParameters] from IDataverseService causing startup crash
  src/server/api/Sprk.Bff.Api/Api/Events/EventEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Testing/TempBlobStorageService.cs
Owners: @spaarke-dev

chore: update CLAUDE.md for Opus 4.6 and simplify permission settings
  .claude/settings.json
  CLAUDE.md
Owners: @spaarke-dev

docs: finalize Finance Intelligence MVP design specification
  projects/financial-intelligence-module-r1/Spaarke_Finance_Intelligence_MVP_Design 2.md
Owners: @spaarke-dev

feat(finance): complete task 001-002 Dataverse schema field diffs
  projects/financial-intelligence-module-r1/CLAUDE.md
  projects/financial-intelligence-module-r1/current-task.md
  projects/financial-intelligence-module-r1/notes/scratch/001-entity-field-diff.yaml
  projects/financial-intelligence-module-r1/notes/scratch/002-document-field-diff.yaml
  projects/financial-intelligence-module-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(finance): complete implementation - ready for deployment
  projects/financial-intelligence-module-r1/CLAUDE.md
  projects/financial-intelligence-module-r1/README.md
  projects/financial-intelligence-module-r1/current-task.md
  projects/financial-intelligence-module-r1/notes/extraction-prompt-tuning-guide.md
  projects/financial-intelligence-module-r1/notes/integration-test-implementation-guide.md
  projects/financial-intelligence-module-r1/notes/lessons-learned.md
  projects/financial-intelligence-module-r1/notes/verification-results.md
  projects/financial-intelligence-module-r1/tasks/046-tune-extraction-prompts.poml
  projects/financial-intelligence-module-r1/tasks/048-integration-tests-full-pipeline.poml
  projects/financial-intelligence-module-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(finance): add comprehensive architecture and user guide documentation
  docs/architecture/finance-intelligence-architecture.md
  docs/guides/finance-intelligence-user-guide.md
Owners: @spaarke-dev, @docs-team

fix(finance): correct Dataverse schema field names and entity references
  docs/architecture/finance-intelligence-architecture.md
  docs/data-model/schema-corrections.md
  docs/data-model/sprk_financial-related-entities.md
  docs/guides/finance-intelligence-user-guide.md
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/InvoiceExtractionJobHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/InvoiceIndexingJobHandler.cs
Owners: @spaarke-dev, @docs-team

docs(finance): add corrected Dataverse deployment checklist
  projects/financial-intelligence-module-r1/notes/dataverse-deployment-checklist.md
Owners: @spaarke-dev

fix(tests): update mock signatures to match QueryKpiAssessmentsAsync parentLookupField parameter
  tests/unit/Sprk.Bff.Api.Tests/Services/ScorecardCalculatorErrorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/ScorecardCalculatorIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/ScorecardCalculatorPerformanceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/ScorecardCalculatorServiceTests.cs
Owners: @spaarke-dev

feat(finance): implement Priority 0 lookup services and TL-011 financial calculation
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/FinanceModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ActionLookupService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IActionLookupService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IPlaybookLookupService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ISkillLookupService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IToolLookupService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookLookupService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/SkillLookupService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ToolLookupService.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/Tools/FinancialCalculationToolHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/Tools/InvoiceExtractionToolHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/InvoiceExtractionJobHandler.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/IDataverseService.cs
Owners: @spaarke-dev

feat(finance): add documentation, scripts, and remaining implementation files
  docs/architecture/multi-environment-portability-strategy.md
  docs/data-model/schema-additions-alternate-keys.md
  docs/data-model/sprk_ERD-ai-analysis-entities.md
  docs/data-model/sprk_ERD-diagram-ai-analysis.jpg
  docs/data-model/sprk_ai-analysis-related-entities.md
  docs/data-model/sprk_invoice-matter-project.md
  docs/data-model/sprk_kpiassessment.md
  projects/financial-intelligence-module-r1/MVP-IMPLEMENTATION-GUIDE.md
  projects/financial-intelligence-module-r1/current-task.md
  projects/financial-intelligence-module-r1/notes/Output-Orchestrator-Design.md
  projects/financial-intelligence-module-r1/notes/Phase-3-Playbook-Configuration-Summary.md
  projects/financial-intelligence-module-r1/notes/Phase-4-7-Implementation-Plan.md
  projects/financial-intelligence-module-r1/scripts/Check-PlaybookEntity.ps1
  projects/financial-intelligence-module-r1/scripts/Create-FinancePlaybooks.ps1
  projects/financial-intelligence-module-r1/scripts/Get-PlaybookSchema.ps1
  scripts/seed-data/Verify-Finance-Playbook.ps1
  scripts/seed-data/playbooks.json
  scripts/seed-data/tools.json
  src/server/api/Sprk.Bff.Api/Models/Ai/PlaybookDto.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IAiToolHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IOutputOrchestratorService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/OutputOrchestratorService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/DataverseUpdateToolHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/DataverseUpdateHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Dataverse/IDataverseUpdateHandler.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Tools/DataverseUpdateToolHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Finance/Tools/FinancialCalculationToolHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Finance/Tools/InvoiceExtractionToolHandlerTests.cs
Owners: @spaarke-dev, @docs-team, @devops-team

refactor(finance): simplify TL-011 budget lookup - direct Matter→Budget relationship
  src/server/api/Sprk.Bff.Api/Services/Finance/Tools/FinancialCalculationToolHandler.cs
Owners: @spaarke-dev

fix(finance): apply same budget sum fix to SpendSnapshotService
  src/server/api/Sprk.Bff.Api/Services/Finance/SpendSnapshotService.cs
Owners: @spaarke-dev

feat(finance): add Project-level support to FinancialCalculationToolHandler
  src/server/api/Sprk.Bff.Api/Services/Finance/Tools/FinancialCalculationToolHandler.cs
Owners: @spaarke-dev

feat(finance): add Project-level interface and budget lookup to SpendSnapshotService
  src/server/api/Sprk.Bff.Api/Services/Finance/SpendSnapshotService.cs
Owners: @spaarke-dev

docs(pcf): update VisualHost architecture doc for v1.2.33
  docs/guides/VISUALHOST-ARCHITECTURE.md
Owners: @spaarke-dev, @docs-team

docs(finance): add comprehensive Spend Snapshot visualization guide
  docs/guides/finance-spend-snapshot-visualization-guide.md
Owners: @spaarke-dev, @docs-team
