Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

style(semantic-search-code-page): prettier --write on useDocumentActions.ts
  src/client/code-pages/SemanticSearch/src/hooks/useDocumentActions.ts
Owners: @spaarke-dev

fix(tests): de-flake TrackingIdGenerator + ScorecardCalculator batch tests
  tests/unit/Sprk.Bff.Api.Tests/Services/Registration/TrackingIdGeneratorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/ScorecardCalculatorPerformanceTests.cs
Owners: @spaarke-dev

feat(r5): Phase 2 closeout — Summarize vertical integration + tid-claim fix (#354)
  projects/spaarke-ai-platform-unification-r5/current-task.md
  projects/spaarke-ai-platform-unification-r5/notes/summarize-vertical-remediation-plan.md
  projects/spaarke-ai-platform-unification-r5/notes/task-030-summarize-walkthrough.md
  projects/spaarke-ai-platform-unification-r5/notes/task-032-evidence.md
  projects/spaarke-ai-platform-unification-r5/notes/task-033-evidence.md
  projects/spaarke-ai-platform-unification-r5/tasks/032-upload-endpoint-wire-session-files.poml
  projects/spaarke-ai-platform-unification-r5/tasks/033-chat-context-surfaces-uploaded-files.poml
  projects/spaarke-ai-platform-unification-r5/tasks/034-frontend-auto-trigger-summarize-on-upload.poml
  projects/spaarke-ai-platform-unification-r5/tasks/035-sc18-walkthrough-rerun.poml
  projects/spaarke-ai-platform-unification-r5/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatDocumentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/Chat/ChatContext.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/IChatContextProvider.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/NullSprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PlaybookChatContextProvider.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/ChatEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/ReAnalysisFlowTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/ChatDocumentEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookChatContextProviderTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SprkChatAgentFactoryTests.cs
Owners: @spaarke-dev

chore(format): Prettier + dotnet format pass to clear PR #329 CI gates
  src/client/code-pages/SemanticSearch/src/components/SearchCommandBar.tsx
  src/client/code-pages/SemanticSearch/src/components/SearchFilterPane.tsx
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGridPageShell.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/sidePane/SidePaneFilterChannel.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/sidePane/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/sidePane/useSidePaneFilter.ts
  src/server/api/Sprk.Bff.Api/Services/Dataverse/DataverseAuthorizationFilter.cs
Owners: @spaarke-dev

docs(bff-ai-audit): Phase 3 COMPLETE — Canonical Stack + Migration Plan + 8 DRs
  projects/bff-ai-architecture-audit-r1/current-task.md
  projects/bff-ai-architecture-audit-r1/decisions/DR-001-lookup-services.md
  projects/bff-ai-architecture-audit-r1/decisions/DR-002-cache-patterns.md
  projects/bff-ai-architecture-audit-r1/decisions/DR-003-public-contracts-facade.md
  projects/bff-ai-architecture-audit-r1/decisions/DR-004-node-executors.md
  projects/bff-ai-architecture-audit-r1/decisions/DR-005-intent-classifier.md
  projects/bff-ai-architecture-audit-r1/decisions/DR-006-search-substrates.md
  projects/bff-ai-architecture-audit-r1/decisions/DR-007-prompt-construction.md
  projects/bff-ai-architecture-audit-r1/decisions/DR-008-di-configuration.md
  projects/bff-ai-architecture-audit-r1/decisions/README.md
  projects/bff-ai-architecture-audit-r1/notes/canonical-architecture-decisions.md
  projects/bff-ai-architecture-audit-r1/notes/migration-plan.md
  projects/bff-ai-architecture-audit-r1/notes/r3-scope-recommendations.md
Owners: @spaarke-dev, @docs-team

docs(bff-ai-audit): Phase 2.5 Cat 10 mini-audit + LATENT BUG #2 REFUTED
  projects/bff-ai-architecture-audit-r1/notes/canonical-architecture-decisions.md
  projects/bff-ai-architecture-audit-r1/notes/phase2/analysis-tool-framework.md
  projects/bff-ai-architecture-audit-r1/notes/phase2/verification-latent-bug-2.md
Owners: @spaarke-dev

fix(datagrid): annotate useCallback generics to silence TS7006 in CI
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/chips/BoolFilterChip.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/chips/LookupMultiFilterChip.tsx
Owners: @spaarke-dev

docs(bff-ai-audit): Phase 3 COMPLETE — Canonical Stack + Migration Plan + 8 DRs (#348)
  projects/bff-ai-architecture-audit-r1/current-task.md
  projects/bff-ai-architecture-audit-r1/decisions/DR-001-lookup-services.md
  projects/bff-ai-architecture-audit-r1/decisions/DR-002-cache-patterns.md
  projects/bff-ai-architecture-audit-r1/decisions/DR-003-public-contracts-facade.md
  projects/bff-ai-architecture-audit-r1/decisions/DR-004-node-executors.md
  projects/bff-ai-architecture-audit-r1/decisions/DR-005-intent-classifier.md
  projects/bff-ai-architecture-audit-r1/decisions/DR-006-search-substrates.md
  projects/bff-ai-architecture-audit-r1/decisions/DR-007-prompt-construction.md
  projects/bff-ai-architecture-audit-r1/decisions/DR-008-di-configuration.md
  projects/bff-ai-architecture-audit-r1/decisions/README.md
  projects/bff-ai-architecture-audit-r1/notes/canonical-architecture-decisions.md
  projects/bff-ai-architecture-audit-r1/notes/migration-plan.md
  projects/bff-ai-architecture-audit-r1/notes/phase2/analysis-tool-framework.md
  projects/bff-ai-architecture-audit-r1/notes/phase2/verification-latent-bug-2.md
  projects/bff-ai-architecture-audit-r1/notes/r3-scope-recommendations.md
Owners: @spaarke-dev, @docs-team

docs(backlog): add referrals #9, #10, #11 from 2026-06-04/05 sessions
  projects/_backlog/needs-a-project.md
Owners: @spaarke-dev

ci: add nightly-health.yml — flake hunt + bundle drift + vuln scan
  .github/baseline-bundle-sizes.json
  .github/workflows/nightly-health.yml
Owners: @spaarke-dev, @devops-team

ci: lighten SDAP CI — paths-ignore for docs/backlog/markdown changes
  .github/workflows/sdap-ci.yml
Owners: @spaarke-dev, @devops-team

chore(spaarke-datagrid-framework-r1): pre-compact resume point — R1 complete on master (c1c428e9)
  projects/spaarke-datagrid-framework-r1/current-task.md
Owners: @spaarke-dev

chore(bff-ai): PR #2b — extract BuilderAgentSystemPrompt + delete dead prompt cruft
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderAgentService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderAgentSystemPrompt.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderToolExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/FallbackScopeCatalog.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Prompts/PlaybookBuilderSystemPrompt.cs
Owners: @spaarke-dev

fix(tests): de-flake StorageRetryPolicy exponential backoff test
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/Resilience/StorageRetryPolicyTests.cs
Owners: @spaarke-dev

docs(bff-ai): PR #3 — retroactive inventory corrections + Options dir consolidation + PD XML doc
  projects/bff-ai-architecture-audit-r1/notes/inventory.md
  src/server/api/Sprk.Bff.Api/Configuration/AiSearchOptions.cs
  src/server/api/Sprk.Bff.Api/Configuration/LlamaParseOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PlaybookDispatcher.cs
Owners: @spaarke-dev

fix(r5/task-032): initialize KnowledgeDocument.Tags to empty array (avoid Azure Search 400 on session-files index upload)
  src/server/api/Sprk.Bff.Api/Services/Ai/RagIndexingPipeline.cs
Owners: @spaarke-dev

chore(bff-ai): PR #2b — extract BuilderAgentSystemPrompt + delete dead prompt cruft (#357)
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderAgentService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderAgentSystemPrompt.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderToolExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/FallbackScopeCatalog.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Prompts/PlaybookBuilderSystemPrompt.cs
Owners: @spaarke-dev

fix(r5/task-032): initialize KnowledgeDocument.Tags to empty array (avoid Azure Search 400 on session-files index upload) (#359)
  src/server/api/Sprk.Bff.Api/Services/Ai/RagIndexingPipeline.cs
Owners: @spaarke-dev

checkpoint(r5): mid-deploy state — PR #359 merged; cycle-3 tags-fix deploying
  projects/spaarke-ai-platform-unification-r5/current-task.md
Owners: @spaarke-dev

fix(r5): suppress customer-corpus-only fields from session-files writes
  src/server/api/Sprk.Bff.Api/Models/Ai/KnowledgeDocument.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/RagIndexingPipeline.cs
  tests/unit/Sprk.Bff.Api.Tests/Models/Ai/KnowledgeDocumentSerializationTests.cs
Owners: @spaarke-dev

fix(r5): suppress customer-corpus-only fields from session-files writes (#361)
  src/server/api/Sprk.Bff.Api/Models/Ai/KnowledgeDocument.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/RagIndexingPipeline.cs
  tests/unit/Sprk.Bff.Api.Tests/Models/Ai/KnowledgeDocumentSerializationTests.cs
Owners: @spaarke-dev

feat(r5/task-036): inline file holding + extensible intent matcher + deterministic Summarize promotion
  .husky/pre-commit
  projects/spaarke-ai-platform-unification-r5/current-task.md
  projects/spaarke-ai-platform-unification-r5/notes/task-036-design-2026-06-05.md
  projects/spaarke-ai-platform-unification-r5/notes/task-036-implementation-notes.md
  projects/spaarke-ai-platform-unification-r5/tasks/036-inline-holding-intent-matcher-summarize-promote.poml
  projects/spaarke-ai-platform-unification-r5/tasks/037-context-pane-execution-trace-widget.poml
  projects/spaarke-ai-platform-unification-r5/tasks/038-workspace-pane-summary-tab-registration.poml
  projects/spaarke-ai-platform-unification-r5/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/useChatFileAttachment.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/hooks/useChatFileAttachment.ts
  src/solutions/SpaarkeAi/package-lock.json
  src/solutions/SpaarkeAi/package.json
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/executeSummarizeIntent.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/intentMatcher.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/sseToPaneEventBridge.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/executeSummarizeIntent.ts
  src/solutions/SpaarkeAi/src/components/conversation/intentMatcher.ts
  src/solutions/SpaarkeAi/src/components/conversation/sseToPaneEventBridge.ts
Owners: @spaarke-dev

feat(r5/task-036): inline file holding + extensible intent matcher + deterministic Summarize promotion
  .husky/pre-commit
  projects/spaarke-ai-platform-unification-r5/current-task.md
  projects/spaarke-ai-platform-unification-r5/notes/task-036-design-2026-06-05.md
  projects/spaarke-ai-platform-unification-r5/notes/task-036-implementation-notes.md
  projects/spaarke-ai-platform-unification-r5/tasks/036-inline-holding-intent-matcher-summarize-promote.poml
  projects/spaarke-ai-platform-unification-r5/tasks/037-context-pane-execution-trace-widget.poml
  projects/spaarke-ai-platform-unification-r5/tasks/038-workspace-pane-summary-tab-registration.poml
  projects/spaarke-ai-platform-unification-r5/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/useChatFileAttachment.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/hooks/useChatFileAttachment.ts
  src/solutions/SpaarkeAi/package-lock.json
  src/solutions/SpaarkeAi/package.json
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/executeSummarizeIntent.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/intentMatcher.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/sseToPaneEventBridge.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/executeSummarizeIntent.ts
  src/solutions/SpaarkeAi/src/components/conversation/intentMatcher.ts
  src/solutions/SpaarkeAi/src/components/conversation/sseToPaneEventBridge.ts
Owners: @spaarke-dev

docs(bff-ai): PR #3 — retroactive inventory corrections + Options dir consolidation + PD XML doc (#358)
  projects/bff-ai-architecture-audit-r1/notes/inventory.md
  src/server/api/Sprk.Bff.Api/Configuration/AiSearchOptions.cs
  src/server/api/Sprk.Bff.Api/Configuration/LlamaParseOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PlaybookDispatcher.cs
Owners: @spaarke-dev

feat(r5/task-036): inline file holding + extensible intent matcher + deterministic Summarize promotion (#362)
  .husky/pre-commit
  projects/spaarke-ai-platform-unification-r5/current-task.md
  projects/spaarke-ai-platform-unification-r5/notes/task-036-design-2026-06-05.md
  projects/spaarke-ai-platform-unification-r5/notes/task-036-implementation-notes.md
  projects/spaarke-ai-platform-unification-r5/tasks/036-inline-holding-intent-matcher-summarize-promote.poml
  projects/spaarke-ai-platform-unification-r5/tasks/037-context-pane-execution-trace-widget.poml
  projects/spaarke-ai-platform-unification-r5/tasks/038-workspace-pane-summary-tab-registration.poml
  projects/spaarke-ai-platform-unification-r5/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/useChatFileAttachment.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/hooks/useChatFileAttachment.ts
  src/solutions/SpaarkeAi/package-lock.json
  src/solutions/SpaarkeAi/package.json
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/executeSummarizeIntent.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/intentMatcher.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/sseToPaneEventBridge.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/executeSummarizeIntent.ts
  src/solutions/SpaarkeAi/src/components/conversation/intentMatcher.ts
  src/solutions/SpaarkeAi/src/components/conversation/sseToPaneEventBridge.ts
Owners: @spaarke-dev

feat(semantic-search-pcf): v1.1.73 — header restructure + Open routes to SemanticSearch code page
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/services/NavigationService.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
  src/client/pcf/SemanticSearchControl/package-lock.json
Owners: @spaarke-dev

docs(r3): initial project scaffolding — design.md + spec.md + README
  projects/email-communication-solution-r3/README.md
  projects/email-communication-solution-r3/design.md
  projects/email-communication-solution-r3/spec.md
Owners: @spaarke-dev, @docs-team

feat(r5/closeout): SC-18 cycle 6-9 architectural fixes
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/hooks/useChatFileAttachment.ts
  src/solutions/SpaarkeAi/jest.config.ts
  src/solutions/SpaarkeAi/src/__mocks__/d3-force.ts
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/sseToPaneEventBridge.ts
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspaceTabManager.ts
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspacePane.summary-tab.test.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspaceTabManager.test.ts
Owners: @spaarke-dev

feat(r5/closeout): SC-18 cycle 6-9 architectural fixes (#364)
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/hooks/useChatFileAttachment.ts
  src/solutions/SpaarkeAi/jest.config.ts
  src/solutions/SpaarkeAi/src/__mocks__/d3-force.ts
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/sseToPaneEventBridge.ts
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspaceTabManager.ts
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspacePane.summary-tab.test.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspaceTabManager.test.ts
Owners: @spaarke-dev

ci: add docs-only fallback workflow for required Build & Test check
  .github/workflows/sdap-ci-docs-only.yml
Owners: @spaarke-dev, @devops-team

ci: add docs-only fallback workflow for required Build & Test check (#366)
  .github/workflows/sdap-ci-docs-only.yml
Owners: @spaarke-dev, @devops-team

docs(r6): initial R6 design — convergence + filling gaps
  projects/spaarke-ai-platform-unification-r6/README.md
  projects/spaarke-ai-platform-unification-r6/design.md
Owners: @spaarke-dev, @docs-team

docs(r6): initial R6 design — convergence + filling gaps (#367)
  projects/spaarke-ai-platform-unification-r6/README.md
  projects/spaarke-ai-platform-unification-r6/design.md
Owners: @spaarke-dev, @docs-team

docs(r5/closeout): R5 closed with known limitations; lessons-learned + status docs
  projects/spaarke-ai-platform-unification-r5/README.md
  projects/spaarke-ai-platform-unification-r5/current-task.md
  projects/spaarke-ai-platform-unification-r5/notes/lessons-learned.md
  projects/spaarke-ai-platform-unification-r5/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(r5/closeout): R5 closed with known limitations; lessons-learned + status docs (#365)
  projects/spaarke-ai-platform-unification-r5/README.md
  projects/spaarke-ai-platform-unification-r5/current-task.md
  projects/spaarke-ai-platform-unification-r5/notes/lessons-learned.md
  projects/spaarke-ai-platform-unification-r5/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(r6): spec.md — formal FR/NFR enumeration + technical constraints
  projects/spaarke-ai-platform-unification-r6/spec.md
Owners: @spaarke-dev

docs(r6): spec.md — formal FR/NFR enumeration + technical constraints (#368)
  projects/spaarke-ai-platform-unification-r6/spec.md
Owners: @spaarke-dev

chore(semantic-search-pcf): v1.1.73 build artifacts + clean-rebuild lock files
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/shared/Spaarke.Auth/package-lock.json
  src/client/shared/Spaarke.UI.Components/package-lock.json
Owners: @spaarke-dev

docs(multi-container-multi-index-r1): initial design document
  projects/spaarke-multi-container-multi-index-r1/design.md
Owners: @spaarke-dev

docs(multi-container-multi-index-r1): AI-implementation spec.md
  projects/spaarke-multi-container-multi-index-r1/spec.md
Owners: @spaarke-dev
