Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

chore(spaarke-ai-platform-unification-r7): autonomous run checkpoint before /compact
  projects/spaarke-ai-platform-unification-r7/notes/handoffs/autonomous-run-checkpoint-2026-06-29.md
Owners: @spaarke-dev

fix(api): DEF-002 wire playbook-attached persona via sprk_playbookpersona FK; close DEF-004
  projects/spaarke-ai-platform-unification-r6/notes/defer-issues.md
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisPersonaService.cs
Owners: @spaarke-dev

feat(dataverse/r7): drop sprk_analysisaction.{sprk_actiontypeid, sprk_executoractiontype} (Wave 4 tasks 043+044, FR-03+FR-04)
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  scripts/dataverse/Drop-Sprk-Analysisaction-Actiontypeid.ps1
  scripts/dataverse/Drop-Sprk-Analysisaction-Executoractiontype.ps1
Owners: @spaarke-dev, @devops-team

feat(r7): set sprk_playbooknode.sprk_executortype DefaultFormValue = 1 (Wave 8 task 081, FR-21)
  projects/spaarke-ai-platform-unification-r7/notes/spikes/081-form-update-actuals.md
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

chore(bff/r7): remove AnalysisActionService refs to dropped sprk_actiontypeid + sprk_executoractiontype columns (Wave 4 task 046)
  projects/spaarke-ai-platform-unification-r7/tasks/046-update-analysisactionservice-no-dropped-refs.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisActionService.cs
Owners: @spaarke-dev

feat(bff/r7): config schemas for remaining 28 executors (Wave 8 task 085, FR-23)
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/tasks/085-implement-remaining-28-executor-schemas.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/AgentServiceNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/CreateTaskNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/DeclineToFindNode.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/DeliverCompositeNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/DeliverOutputNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/DeliverToIndexNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/EvidenceSufficiencyNode.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/GroundingVerifyNode.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/IndexRetrieveNode.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/LiveFactNode.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/LoadKnowledgeNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/LookupUserMembershipNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/QueryDataverseNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/ReturnInsightArtifactNode.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/ReturnResponseNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/SendEmailNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/StartNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/UpdateRecordNodeExecutor.cs
Owners: @spaarke-dev

chore(bff/r7): Wave 4 publish-hygiene gate PASS — 46.72 MB compressed (+0.005 MB FLAT vs Wave 3); 0 new HIGH CVE (Wave 4 task 047)
  projects/spaarke-ai-platform-unification-r7/notes/handoffs/wave-4-publish-report.md
  projects/spaarke-ai-platform-unification-r7/tasks/047-wave4-bff-publish-size-cve-check.poml
Owners: @spaarke-dev

docs(skills/r7): rewrite jps-* skills for node-first dispatch model (Wave 7 FR-32/33, tasks 070-075)
  .claude/skills/jps-action-create/SKILL.md
  .claude/skills/jps-playbook-audit/SKILL.md
  .claude/skills/jps-playbook-design/SKILL.md
  .claude/skills/jps-scope-refresh/SKILL.md
  .claude/skills/jps-validate/SKILL.md
  projects/spaarke-ai-platform-unification-r7/notes/wave-7-smoke-test.md
Owners: @spaarke-dev

feat(playbookbuilder/r7): canvas Prompt tab writes promptSchemaOverride (Wave 8 task 087, FR-25)
  src/client/code-pages/PlaybookBuilder/src/services/playbookNodeSync.ts
Owners: @spaarke-dev

docs(constraints+claudemd/r7): rewrite §G config boundary for single-hop dispatch + add §17 consumer-wiring pointer (Wave 6 tasks 064+068, FR-29+FR-28)
  .claude/CHANGELOG.md
  .claude/constraints/bff-extensions.md
  CLAUDE.md
Owners: @spaarke-dev

feat(playbookbuilder/r7): handle unknown executor type with warning state (Wave 8 task 089, FR-27)
  src/client/code-pages/PlaybookBuilder/src/components/nodes/UnknownNode.tsx
  src/client/code-pages/PlaybookBuilder/src/components/nodes/__tests__/UnknownNode.test.tsx
  src/client/code-pages/PlaybookBuilder/src/components/nodes/index.ts
  src/client/code-pages/PlaybookBuilder/src/components/properties/NodePropertiesDialog.tsx
  src/client/code-pages/PlaybookBuilder/src/services/canvasValidation.ts
  src/client/code-pages/PlaybookBuilder/src/stores/canvasStore.ts
Owners: @spaarke-dev

test(playbookbuilder/r7): UI tests for Executor Type dropdown + tier grouping (Wave 8 task 089a, FR-22)
  projects/spaarke-ai-platform-unification-r7/tasks/089a-ui-test-executor-type-dropdown-tier.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/client/code-pages/PlaybookBuilder/src/components/properties/__tests__/ExecutorTypeSelector.test.tsx
Owners: @spaarke-dev

test(playbookbuilder/r7): UI tests for typed config forms — 5 priority executors (Wave 8 task 089b, FR-23)
  projects/spaarke-ai-platform-unification-r7/tasks/089b-ui-test-typed-config-forms-5-executors.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  src/client/code-pages/PlaybookBuilder/src/components/properties/__tests__/TypedConfigForm.priority-executors.test.tsx
Owners: @spaarke-dev

chore(r7): end-to-end verification of 15 success criteria (Wave 10 task 100)
  projects/spaarke-ai-platform-unification-r7/notes/handoffs/wave10-success-criteria-verification.md
  projects/spaarke-ai-platform-unification-r7/tasks/100-end-to-end-verify-15-success-criteria.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

test(playbookbuilder/r7): ADR-021 dark-mode compliance scan over Wave 8 UI (Wave 8 task 089c)
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/tasks/089c-ui-test-adr021-dark-mode-compliance.poml
  src/client/code-pages/PlaybookBuilder/src/__tests__/adr021-dark-mode-compliance.test.ts
Owners: @spaarke-dev

feat(scripts/r7): add Migrate-PlaybookNodes-to-ExecutorType.ps1 (Wave 5 task 053, FR-19)
  projects/spaarke-ai-platform-unification-r7/tasks/053-author-migrate-playbooknodes-script.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  scripts/dataverse/Migrate-PlaybookNodes-to-ExecutorType.ps1
Owners: @spaarke-dev, @devops-team

feat(scripts/r7): Deploy-Playbook.ps1 writes sprk_executortype explicitly + lint reject unknown values (Wave 5 task 055, FR-20)
  projects/spaarke-ai-platform-unification-r7/notes/spikes/deploy-playbook-r7-changes.md
  projects/spaarke-ai-platform-unification-r7/tasks/055-update-deploy-playbook-write-executortype.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
  scripts/Deploy-Playbook.ps1
Owners: @spaarke-dev, @devops-team

docs(guides/r7): update ai-guide-playbook-deploy-recipe.md for R7 explicit-executortype + Lint A (Wave 6 task 063, FR-28 + FR-20)
  docs/guides/ai-guide-playbook-deploy-recipe.md
Owners: @spaarke-dev, @docs-team

docs(task-index/r7): mark 063 ✅ + reconcile 064 ✅ (Wave 6 cleanup)
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

chore(spaarke-redis-cache-remediation-r2): mark SHIPPED — PR #489 merged 2026-06-27
  projects/spaarke-redis-cache-remediation-r1/notes/defer-issues.md
  projects/spaarke-redis-cache-remediation-r2/README.md
  projects/spaarke-redis-cache-remediation-r2/current-task.md
Owners: @spaarke-dev, @docs-team

docs(spikes/r7): add Wave 6 NFR-08 post-audit report (task 069 deliverable)
  projects/spaarke-ai-platform-unification-r7/notes/spikes/wave6-nfr08-post-audit.md
Owners: @spaarke-dev

docs(spaarkeai-compose-r1): initial design + solution concept
  projects/spaarkeai-compose-r1/Spaarke-AI-Document-Workspace-Solution-Concept.md
  projects/spaarkeai-compose-r1/design.md
Owners: @spaarke-dev

feat(scripts+legalworkspace/r7): Deploy-PlaybookBuilder.ps1 + missing daily-briefing-components dep
  scripts/Deploy-PlaybookBuilder.ps1
  src/solutions/LegalWorkspace/package-lock.json
  src/solutions/LegalWorkspace/package.json
Owners: @spaarke-dev, @devops-team

feat(redis-r2): task 030 live deploy + KQL acceptance verified — PROJECT GRADUATED
  infrastructure/bicep/alerts.bicep
  projects/spaarke-redis-cache-remediation-r2/README.md
  projects/spaarke-redis-cache-remediation-r2/current-task.md
  projects/spaarke-redis-cache-remediation-r2/notes/post-deploy-verification.md
  projects/spaarke-redis-cache-remediation-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(scripts+csv/r7): pre-fill playbook-node-review CSV + assist helper (Wave 5 task 052 assist)
  projects/spaarke-ai-platform-unification-r7/notes/drafts/playbook-node-review-output.csv
  scripts/dataverse/Prefill-PlaybookNodeReview.ps1
Owners: @spaarke-dev, @devops-team

chore(task-index/r7): mark Wave 5 tasks 052 + 054 ✅ post-migration
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

chore(spaarke-redis-cache-remediation-r2): archive — Project Issue #481 closed, .archived marker written
  projects/spaarke-redis-cache-remediation-r2/.archived
Owners: @spaarke-dev

fix(ci): satisfy actionlint type-check for ci-tier2-advisory run-* string inputs
  .github/workflows/ci-router.yml
Owners: @spaarke-dev, @devops-team

fix(legalworkspace/r7): TDZ in WorkspaceGrid — declare handleOpenWizardGeneric BEFORE handleOpenPlaybookLibraryBrowse
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
Owners: @spaarke-dev

feat(governance): ADR Conflict Resolution Protocol (CLAUDE.md §6.5) + 5 skill updates + Compose r1 application
  .claude/CHANGELOG.md
  .claude/skills/adr-check/SKILL.md
  .claude/skills/code-review/SKILL.md
  .claude/skills/design-to-spec/SKILL.md
  .claude/skills/project-pipeline/SKILL.md
  .claude/skills/task-execute/SKILL.md
  CLAUDE.md
  projects/spaarkeai-compose-r1/design.md
  projects/spaarkeai-compose-r1/spec.md
Owners: @spaarke-dev

chore(scripts/r7): add scan-tdz-deps.mjs — TDZ trap scanner (post-incident process hardening)
  src/client/shared/Spaarke.UI.Components/scripts/lint/scan-tdz-deps.mjs
Owners: @spaarke-dev, @devops-team

fix(playbookbuilder+scripts/r7): coerceUnknownNodeTypes data-corruption fix + Lint B R7-awareness + canvas-JSON migration helper
  scripts/Deploy-Playbook.ps1
  scripts/dataverse/Migrate-PlaybookCanvasJson-To-ExecutorType.ps1
  src/client/code-pages/PlaybookBuilder/src/stores/canvasStore.ts
Owners: @spaarke-dev, @devops-team

fix(daily-briefing/r7): normalize category + fall back to sprk_category column when JSON-side category is missing
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/notificationService.ts
Owners: @spaarke-dev

feat(spaarkeai-compose-r1): autonomous parallel execution mode
  projects/spaarkeai-compose-r1/CLAUDE.md
  projects/spaarkeai-compose-r1/current-task.md
Owners: @spaarke-dev

fix(daily-briefing/r7): producer-side category fix + revert consumer defensive workaround
  projects/spaarke-daily-update-service/notes/playbooks/notification-tasks-due-soon.json
  src/client/shared/Spaarke.DailyBriefing.Components/src/services/notificationService.ts
Owners: @spaarke-dev

fix(bff/r7): remove dropped sprk_nodetype from NodeService SELECT + writes
  src/server/api/Sprk.Bff.Api/Services/Ai/NodeService.cs
Owners: @spaarke-dev

chore(scripts/r7): add Sync-BriefNarrateOutputSchemas — idempotent schema PATCH
  scripts/dataverse/Sync-BriefNarrateOutputSchemas.ps1
Owners: @spaarke-dev, @devops-team

docs(r7): add Wave 11 — Playbook Orchestrator Runtime Variable Resolution + R7 UAT Drive
  projects/spaarke-ai-platform-unification-r7/plan.md
  projects/spaarke-ai-platform-unification-r7/tasks/110-audit-orchestrator-template-resolution.poml
  projects/spaarke-ai-platform-unification-r7/tasks/111-wire-template-engine-and-node-outputs.poml
  projects/spaarke-ai-platform-unification-r7/tasks/112-register-custom-handlebars-helpers.poml
  projects/spaarke-ai-platform-unification-r7/tasks/113-eliminate-lambda-via-flatmap-helper.poml
  projects/spaarke-ai-platform-unification-r7/tasks/114-implement-fanout-iteration.poml
  projects/spaarke-ai-platform-unification-r7/tasks/115-restore-validate-entity-names-config.poml
  projects/spaarke-ai-platform-unification-r7/tasks/116-deploy-and-smoke-narrate.poml
  projects/spaarke-ai-platform-unification-r7/tasks/117-uat-daily-briefing-widget-r4-graduation.poml
  projects/spaarke-ai-platform-unification-r7/tasks/118-address-operator-uat-issues.poml
  projects/spaarke-ai-platform-unification-r7/tasks/119-wave11-publish-size-cve-check.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(r7): Wave 11 task 110 — orchestrator template-resolution audit + design
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/notes/spikes/wave11-orchestrator-resolution-design.md
  projects/spaarke-ai-platform-unification-r7/tasks/110-audit-orchestrator-template-resolution.poml
  projects/spaarke-ai-platform-unification-r7/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(r7): revise Wave 11 T110 design + T111 POML for two-layer architecture
  projects/spaarke-ai-platform-unification-r7/notes/spikes/wave11-orchestrator-resolution-design.md
  projects/spaarke-ai-platform-unification-r7/tasks/111-wire-template-engine-and-node-outputs.poml
Owners: @spaarke-dev
