Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

checkpoint: dev redeployed from 91123fa23; record the stale INDEX.md coordination gap
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

fix(email-intelligence-r2): resolve+enforce JPS \$choices on the Linear AI path so triage category populates
  src/server/api/Sprk.Bff.Api/Services/Ai/LinearConsumers/ActionRunner.cs
  tests/integration/seam/Ai/ActionRunnerChoicesResolutionSeamTests.cs
Owners: @spaarke-dev

checkpoint: context-handoff — item 8 deployed and ready for parallel UAT
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

docs(email-intelligence-r2): correct P1 root cause — Linear-path $choices gap; real fix deployed
  projects/email-communication-intelligence-r2/current-task.md
  projects/email-communication-intelligence-r2/notes/email-matching-and-triage-go-forward-plan.md
Owners: @spaarke-dev

docs(quality): r4 design revision + spec — 27 FRs across 5 phases
  projects/code-quality-and-assurance-r4/design.md
  projects/code-quality-and-assurance-r4/spec.md
Owners: @spaarke-dev

docs(email-intelligence-r2): capture email-r3 backlog — card preview, see-all modal, related-to signal
  projects/email-communication-intelligence-r2/notes/email-r3-candidate-backlog.md
Owners: @spaarke-dev

chore(uac-r2): context handoff — PR #939 open, five ordered items for the clean session
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

docs(quality): r4 README with portfolio pointer
  projects/code-quality-and-assurance-r4/README.md
Owners: @spaarke-dev, @docs-team

harden(email-intelligence-r2): guard $choices enum injection to string-typed schema properties
  src/server/api/Sprk.Bff.Api/Services/Ai/LinearConsumers/ActionRunner.cs
Owners: @spaarke-dev

fix(bff): resolve a 4th dead-wire — delete SummarizeSessionRequest.Style; widen the guard repo-wide
  projects/spaarkeai-compose-r8/current-task.md
  src/server/api/Sprk.Bff.Api/Api/Ai/SummarizeSessionEndpoint.cs
  tests/Spaarke.ArchTests/InboundBodyDtoMappingGuardTests.cs
Owners: @spaarke-dev

docs(email-intelligence-r2): triage category fix merged (PR #941) + email-r3 card backlog recorded
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

docs(compose-r8): settle the summaryPage decision with evidence — recommend retire
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

fix(docs): WITHDRAW the summaryPage recommendation — the memo it relied on is itself dead
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

docs(uac-r2 030): ADR-003 Amendment A1 — two surfaces, one evaluator (path B)
  .claude/CHANGELOG.md
  .claude/adr/ADR-003-authorization-seams.md
  docs/adr/ADR-003-lean-authorization-seams.md
  projects/unified-access-control-r2/notes/task-030-adr-003-amendment.md
  projects/unified-access-control-r2/tasks/030-adr-003-amendment-two-surface-authorization.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(uac-r2 031): ADR-028 Amendment A5 — impersonated derivation (path B, narrow)
  .claude/CHANGELOG.md
  .claude/adr/ADR-028-spaarke-auth-architecture.md
  projects/unified-access-control-r2/notes/task-031-adr-028-a5-amendment.md
  projects/unified-access-control-r2/tasks/031-adr-028-a2-amendment-impersonated-derivation.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(uac-r2 040): ADR-034 Amendment A1 — the allow-list becomes first-class and per-surface (path B)
  .claude/CHANGELOG.md
  .claude/adr/ADR-034-user-record-membership.md
  docs/adr/ADR-034-user-record-membership.md
  projects/unified-access-control-r2/notes/task-040-adr-034-a1-amendment.md
  projects/unified-access-control-r2/tasks/040-adr-034-amendment-allow-list-first-class.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(compose-r8): record owner decisions D1/D2 + answer the storage/association questions
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

chore(uac-r2): checkpoint — #939 merged; all three ADR amendments landed; 032 is next
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

docs(uac-r2 032): pre-implementation verification — four findings that change the plan
  projects/unified-access-control-r2/notes/task-032-evaluator-spine.md
  projects/unified-access-control-r2/tasks/032-fr19-evaluator-rights-map.poml
Owners: @spaarke-dev

chore(uac-r2): checkpoint — 032 investigation landed, implementation is next
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

docs(compose-r8): correct the Agreement/Document conflation; sharpen the evergreen framing
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

docs(compose-r8): advise on the Agreement↔Document relationship structure
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/agreement-document-relationship-design.md
Owners: @spaarke-dev

docs(office-addins): refresh architecture doc to as-built r2 + add module CLAUDE.md
  docs/architecture/office-outlook-teams-integration-architecture.md
  src/client/office-addins/CLAUDE.md
Owners: @spaarke-dev, @docs-team

feat(quality): r4 pipeline — artifacts + 33 tasks (initialize-only)
  projects/INDEX.md
  projects/code-quality-and-assurance-r4/CLAUDE.md
  projects/code-quality-and-assurance-r4/README.md
  projects/code-quality-and-assurance-r4/current-task.md
  projects/code-quality-and-assurance-r4/plan.md
  projects/code-quality-and-assurance-r4/tasks/001-adr-012-amendment-enumerate-shared-set.poml
  projects/code-quality-and-assurance-r4/tasks/002-shared-package-census-test.poml
  projects/code-quality-and-assurance-r4/tasks/003-publish-governance-baseline.poml
  projects/code-quality-and-assurance-r4/tasks/010-classify-49-adrs-three-axes.poml
  projects/code-quality-and-assurance-r4/tasks/011-route-every-adr-to-a-mechanism.poml
  projects/code-quality-and-assurance-r4/tasks/012-section-6-5-records-for-stale-adrs.poml
  projects/code-quality-and-assurance-r4/tasks/013-classification-guard-and-audit-issue-body.poml
  projects/code-quality-and-assurance-r4/tasks/020-size-the-fr07-criterion-set.poml
  projects/code-quality-and-assurance-r4/tasks/030-file-revision-header-standard.poml
  projects/code-quality-and-assurance-r4/tasks/031-update-doc-header-script.poml
  projects/code-quality-and-assurance-r4/tasks/032-run-header-backfill.poml
  projects/code-quality-and-assurance-r4/tasks/033-revision-header-census-test.poml
  projects/code-quality-and-assurance-r4/tasks/034-usage-measurement-hook.poml
  projects/code-quality-and-assurance-r4/tasks/035-the-one-nightly-workflow.poml
  projects/code-quality-and-assurance-r4/tasks/036-drift-usage-ranking-script.poml
  projects/code-quality-and-assurance-r4/tasks/037-three-tier-auto-bump.poml
  projects/code-quality-and-assurance-r4/tasks/038-point-of-use-signal-and-phantom-script.poml
  projects/code-quality-and-assurance-r4/tasks/040-generate-shared-export-index.poml
  projects/code-quality-and-assurance-r4/tasks/041-wire-index-regeneration-nightly.poml
  projects/code-quality-and-assurance-r4/tasks/042-escalation-ladder-for-absence-claims.poml
  projects/code-quality-and-assurance-r4/tasks/043-functional-equivalence-check.poml
  projects/code-quality-and-assurance-r4/tasks/044-known-divergence-register.poml
  projects/code-quality-and-assurance-r4/tasks/045-constraints-reuse-md.poml
  projects/code-quality-and-assurance-r4/tasks/050-generate-review-checklist.poml
  projects/code-quality-and-assurance-r4/tasks/051-wire-checklist-three-consumers.poml
  projects/code-quality-and-assurance-r4/tasks/052-prove-headless-runner.poml
  projects/code-quality-and-assurance-r4/tasks/053-refresh-nightly-review-prompt.poml
  projects/code-quality-and-assurance-r4/tasks/054-wire-the-nightly-reviewer.poml
  projects/code-quality-and-assurance-r4/tasks/055-correct-four-misleading-docs.poml
  projects/code-quality-and-assurance-r4/tasks/056-test-health-section.poml
  projects/code-quality-and-assurance-r4/tasks/057-keep-category-directive.poml
  projects/code-quality-and-assurance-r4/tasks/058-knip-dead-export-observation.poml
  projects/code-quality-and-assurance-r4/tasks/090-project-wrap-up.poml
  projects/code-quality-and-assurance-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(quality): r4 execution posture -> autonomous; refresh context handoff
  projects/INDEX.md
  projects/code-quality-and-assurance-r4/CLAUDE.md
  projects/code-quality-and-assurance-r4/README.md
  projects/code-quality-and-assurance-r4/current-task.md
  projects/code-quality-and-assurance-r4/plan.md
  projects/code-quality-and-assurance-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(quality): handoff - flag 36-commit master drift before execution
  projects/code-quality-and-assurance-r4/current-task.md
Owners: @spaarke-dev

feat(uac-r2 032): the evaluator answers (recordId -> rights), not a set of ids
  projects/unified-access-control-r2/notes/task-032-evaluator-spine.md
  projects/unified-access-control-r2/tasks/032-fr19-evaluator-rights-map.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/AccessibleRecordSetService.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ExternalCallerContext.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ExternalParticipationService.cs
  tests/integration/auth/UnifiedAccessControl/MembershipPagingCharacterizationTests.cs
  tests/integration/contract/Api/ExternalAccess/ExternalAccessContractTests.cs
  tests/integration/seam/ExternalAccess/StandingGrantRuntimeUnionSeamTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/ExternalAccess/AccessibleRecordSetServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/ExternalAccess/AccessibleRecordSetTestFactory.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/ExternalAccess/CallerPrincipalResolverTests.cs
Owners: @spaarke-dev

docs: answer Regarding-vs-Related; correct the Document lookup naming in the design note
  projects/spaarkeai-compose-r8/notes/agreement-document-relationship-design.md
Owners: @spaarke-dev

chore(uac-r2): checkpoint — 032 complete; next is 033 + the veto-seam tasks
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

refactor(legalworkspace): consume the SHARED CloseProjectDialog; delete the twin
  projects/unified-access-control-r2/notes/create-wizard-duplication-analysis.md
  projects/unified-access-control-r2/notes/finding-legalworkspace-build-broken-since-2026-07-02.md
  src/client/shared/Spaarke.UI.Components/src/components/CreateProjectWizard/CloseProjectDialog.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateProjectWizard/ProvisioningProgressStep.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateProjectWizard/closureService.ts
  src/client/shared/Spaarke.UI.Components/src/components/CreateProjectWizard/index.ts
  src/solutions/LegalWorkspace/src/components/CreateProject/CloseProjectDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateProject/closureService.ts
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
Owners: @spaarke-dev

chore(uac-r2): checkpoint — dead-code sweep closed; 033 is next and wants a fresh session
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

chore(uac-r2): context-handoff — 032 + three ADR amendments + dead-code sweep landed
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

docs(architecture): add canonical content-identity & deduplication architecture doc
  docs/architecture/content-identity-and-deduplication-architecture.md
  docs/architecture/office-outlook-teams-integration-architecture.md
Owners: @spaarke-dev, @docs-team

docs: recommend how to address the Document lookup inconsistency
  projects/spaarkeai-compose-r8/notes/agreement-document-relationship-design.md
Owners: @spaarke-dev

docs(quality): amend r4 spec FR-10 to the revision-header standard
  projects/code-quality-and-assurance-r4/plan.md
  projects/code-quality-and-assurance-r4/spec.md
Owners: @spaarke-dev

docs: repoint two guides at the shared wizards; refresh a 3-ways-stale example
  docs/guides/WORKSPACE-ENTITY-CREATION-GUIDE.md
  docs/standards/DATA-ACCESS-DECISION-CRITERIA.md
Owners: @spaarke-dev, @docs-team

fix(legalworkspace): repair a build that had been RED for two months, and watch it
  .github/baseline-bundle-sizes.json
  .github/workflows/nightly-health.yml
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/finding-legalworkspace-build-broken-since-2026-07-02.md
  src/solutions/LegalWorkspace/package-lock.json
  src/solutions/LegalWorkspace/package.json
  src/solutions/LegalWorkspace/vite.config.ts
Owners: @spaarke-dev, @devops-team

feat(uac-r2): task 033 — make the write gates true; delete the Collaborate stamp
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/task-033-consumer-propagation.md
  projects/unified-access-control-r2/tasks/033-fr19-consumer-propagation-write-enforcement.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ExternalProjectDataEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ExternalUserContextEndpoint.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/AccessibleRecordSetService.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/CallerPrincipalResolver.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ExternalCallerContext.cs
  tests/integration/auth/UnifiedAccessControl/ExternalTodoScopeTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/ExternalAccess/ExternalAccessEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/ExternalAccess/AccessibleRecordSetServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/ExternalAccess/CallerPrincipalTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/ExternalAccess/ExternalModuleRegistryTests.cs
Owners: @spaarke-dev

chore(uac-r2): checkpoint — 033 complete, next is the 037/038/039 veto seam
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

docs(adr): ADR-012 amendment -- close the sanctioned set, record promotion questions
  .claude/adr/ADR-012-shared-components.md
  docs/adr/ADR-012-shared-component-library.md
  projects/code-quality-and-assurance-r4/notes/task-001-deviations.md
  projects/code-quality-and-assurance-r4/tasks/001-adr-012-amendment-enumerate-shared-set.poml
  projects/code-quality-and-assurance-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team
