Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

docs(email-intelligence-r2): checkpoint — DEFER-030-01 closed, 032 unblocked
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

docs(external-access-r2): reframe as single Teams-capable module-host SPA + reuse map
  projects/spaarke-SPA-external-access-platform-r2/design.md
Owners: @spaarke-dev

chore(assistant-r2): deploy E+A to spaarkedev1 (tasks 002 + 013)
  projects/spaarkeai-assistant-enhancements-r2/current-task.md
  projects/spaarkeai-assistant-enhancements-r2/notes/a-deploy-verify.md
  projects/spaarkeai-assistant-enhancements-r2/tasks/002-deploy-verify-e.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/013-deploy-verify-a.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

test(communication): FR-D3 golden misfile regression suite (task 032)
  projects/email-communication-intelligence-r2/current-task.md
  projects/email-communication-intelligence-r2/tasks/032-golden-regression-suite.poml
  projects/email-communication-intelligence-r2/tasks/TASK-INDEX.md
  tests/integration/seam/Communication/GoldenMisfileRegressionTests.cs
Owners: @spaarke-dev

spec(external-access-r2): generate spec.md from design + owner clarifications
  projects/spaarke-SPA-external-access-platform-r2/spec.md
Owners: @spaarke-dev

feat(communication): operator-managed tracking-footer config (task 011, FR-A1)
  projects/email-communication-intelligence-r2/current-task.md
  projects/email-communication-intelligence-r2/tasks/011-footer-config-app-setting.poml
  projects/email-communication-intelligence-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Configuration/TrackingFooterOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/TrackingFooterGate.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/TrackingFooterGateTests.cs
Owners: @spaarke-dev

spec(external-access-r2): resolve 4 open Qs + absorb teams-app-r1 Teams/workforce findings
  projects/spaarke-SPA-external-access-platform-r2/spec.md
Owners: @spaarke-dev

feat(compose-r6): task 020 Step 3 — docx→ComposeContentModel projector (canonical hub source)
  projects/spaarkeai-compose-r6/current-task.md
  projects/spaarkeai-compose-r6/notes/020-canonical-hub-design.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjection.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjectionBuilder.cs
  tests/integration/seam/Compose/ComposeCanonicalModelRoundTripSeamTests.cs
Owners: @spaarke-dev

docs(external-access-r2): teams-app-r1 coordination — proceed with Option A (foundational)
  projects/spaarke-SPA-external-access-platform-r2/notes/teams-app-r1-coordination.md
  projects/spaarke-SPA-external-access-platform-r2/spec.md
Owners: @spaarke-dev

feat(assistant-r2): task 020 (FR-B1/C3) closed WidgetContextType set
  projects/spaarkeai-assistant-enhancements-r2/tasks/020-context-type-set.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/src/events/PaneEventTypes.ts
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/registry/WorkspaceWidgetRegistry.ts
  src/client/shared/Spaarke.AI.Widgets/src/types/shared.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/register-workspace-widgets.test.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/register-document-viewer-widget.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/register-workspace-widgets.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/activeTabFocusStamp.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/activeTabFocusStamp.ts
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/registerComposeWidget.ts
Owners: @spaarke-dev

docs(teams-app-r1): stage Option A plan (task 025) + R2 coordination + live-integration state
  projects/teams-app-r1/current-task.md
  projects/teams-app-r1/notes/spa-v2-handoff-workforce-endpoint-gap.md
  projects/teams-app-r1/notes/teams-app-r1-coordination.md
  projects/teams-app-r1/tasks/025-principal-agnostic-collab-endpoints.poml
  projects/teams-app-r1/tasks/TASK-INDEX.md
  src/client/external-spa/appPackage/manifest.json
Owners: @spaarke-dev

checkpoint(teams-app-r1): pre-compaction handoff — next = execute task 025
  projects/teams-app-r1/current-task.md
Owners: @spaarke-dev

docs(assistant-r2): context-handoff — 7 tasks done; 021 re-scoped to Option C
  projects/spaarkeai-assistant-enhancements-r2/current-task.md
  projects/spaarkeai-assistant-enhancements-r2/notes/deviations.md
Owners: @spaarke-dev

docs(external-access): track teams-app-r1 workforce-endpoint-gap handoff note
  projects/spaarke-SPA-external-access-platform-r1/notes/spa-v2-handoff-workforce-endpoint-gap.md
Owners: @spaarke-dev

chore(external-access-r2): initialize R2 worktree off master with scoping primitives
  projects/spaarke-SPA-external-access-platform-r1/notes/spa-v2-handoff-workforce-endpoint-gap.md
  projects/spaarke-SPA-external-access-platform-r2/design.md
  projects/spaarke-SPA-external-access-platform-r2/notes/external-access-capability-synopsis.md
  projects/spaarke-SPA-external-access-platform-r2/notes/teams-app-r1-coordination.md
  projects/spaarke-SPA-external-access-platform-r2/spec.md
Owners: @spaarke-dev

checkpoint: final context-handoff — project CLOSED, all follow-ons resolved, sole open item #730
  projects/spaarke-modal-system/current-task.md
Owners: @spaarke-dev

fix(compose-r6): task 020 Step 9.5 — apply code-review findings to the canonical-model projector
  projects/spaarkeai-compose-r6/current-task.md
  projects/spaarkeai-compose-r6/notes/020-canonical-hub-design.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjection.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjectionBuilder.cs
  tests/integration/seam/Compose/ComposeCanonicalModelRoundTripSeamTests.cs
Owners: @spaarke-dev

chore(modal-system): archive project — portfolio Issue #738 registered+closed, .archived marker + README pointer block
  projects/spaarke-modal-system/.archived
  projects/spaarke-modal-system/README.md
Owners: @spaarke-dev, @docs-team

feat(email-intelligence-r2): task 014 — RecipientAliasRung + Bcc plumbing (FR-A2)
  projects/email-communication-intelligence-r2/current-task.md
  projects/email-communication-intelligence-r2/notes/014-recipient-alias-rung.md
  projects/email-communication-intelligence-r2/tasks/014-recipient-alias-rung-bcc.poml
  projects/email-communication-intelligence-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/AssociationStatusMapper.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/GraphMessageNormalizer.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/RungKind.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/Rungs/RecipientAliasRung.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingAssociationResolver.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingCommunicationProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Models/NormalizedMessage.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/GraphMessageNormalizerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/RecipientAliasRungTests.cs
Owners: @spaarke-dev

feat(teams-app-r1): task 025 — principal-agnostic /external collaboration endpoints (R2 FR-22, Option A)
  projects/teams-app-r1/current-task.md
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ExternalAccessEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ExternalProjectDataEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ExternalUserContextEndpoint.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/CallerPrincipalAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Authentication/AuthPolicies.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AuthorizationModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ExternalAccessModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/CallerPrincipalResolver.cs
  tests/integration/contract/Api/ExternalAccess/ExternalAccessContractTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/ExternalAccess/ExternalAccessEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/ExternalAccess/CallerPrincipalResolverTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/ExternalAccess/CallerPrincipalTests.cs
Owners: @spaarke-dev

docs(email-intelligence-r2): task 058 — record R2 ownership of Pillar E states D/E/F + Exceptions Queue (FR-E6)
  projects/email-communication-intelligence-r2/tasks/058-r5-coordination-contract.poml
  projects/email-communication-intelligence-r2/tasks/TASK-INDEX.md
  projects/email-communication-solution-r5/notes/email-intelligence-r1-coordination.md
Owners: @spaarke-dev

feat(assistant-r2): task 021 context-type tag column + BFF contract + seed (FR-B2/D11, Option C)
  projects/spaarkeai-assistant-enhancements-r2/current-task.md
  projects/spaarkeai-assistant-enhancements-r2/notes/catalog-context-tags.md
  projects/spaarkeai-assistant-enhancements-r2/notes/deviations.md
  projects/spaarkeai-assistant-enhancements-r2/tasks/021-catalog-context-tags.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/TASK-INDEX.md
  scripts/Add-BindingContextTypeTagsColumn.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/Binding.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/ConsumerRoutingService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PublicContracts/ConsumerRoutingServiceBindingContractTests.cs
Owners: @spaarke-dev, @devops-team

feat(compose-r6): task 011 — RenderIntoCarrier (imported-doc render-on-save author) + close task 020
  projects/spaarkeai-compose-r6/tasks/020-canonical-model.poml
  projects/spaarkeai-compose-r6/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocumentRenderer.cs
  tests/integration/seam/Compose/ComposeCarrierRenderSeamTests.cs
Owners: @spaarke-dev

docs(email-intelligence-r2): task 041 §11 reuse finding — stop before building duplicate intake infra
  projects/email-communication-intelligence-r2/current-task.md
  projects/email-communication-intelligence-r2/notes/041-intake-folder-scope-finding.md
Owners: @spaarke-dev

fix(compose-r6): task 011 Step 9.5 — apply review findings to RenderIntoCarrier; close task 011
  projects/spaarkeai-compose-r6/current-task.md
  projects/spaarkeai-compose-r6/notes/020-canonical-hub-design.md
  projects/spaarkeai-compose-r6/tasks/011-generalize-renderer.poml
  projects/spaarkeai-compose-r6/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocumentRenderer.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjectionBuilder.cs
  tests/integration/seam/Compose/ComposeCarrierRenderSeamTests.cs
  tests/integration/seam/Compose/ComposeOoxmlPackagePartComparer.cs
Owners: @spaarke-dev

docs(email-intelligence-r2): 041 Option A re-scope + operator unblock guide (KV + schema 016/020/023/034)
  docs/guides/COMMUNICATION-ADMIN-GUIDE.md
  projects/email-communication-intelligence-r2/current-task.md
  projects/email-communication-intelligence-r2/notes/operator-unblock-guide.md
  projects/email-communication-intelligence-r2/tasks/041-spaarke-intake-folder.poml
  projects/email-communication-intelligence-r2/tasks/043-unify-user-upload-with-capture.poml
  projects/email-communication-intelligence-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore(teams-app-r1): task 025 gates + R2 coordination note + helper rename
  projects/teams-app-r1/current-task.md
  projects/teams-app-r1/notes/r2-coordination-response.md
  projects/teams-app-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ExternalProjectDataEndpoints.cs
Owners: @spaarke-dev

docs(email-intelligence-r2): KV done — footer-hmac-key created in spaarke-spekvcert; correct stale vault wiring
  projects/email-communication-intelligence-r2/notes/operator-unblock-guide.md
Owners: @spaarke-dev

docs(email-intelligence-r2): schema status — KV/023/016 done, 034 = sprk_event (no schema), 020 blocked on 13 dup pairs
  projects/email-communication-intelligence-r2/notes/operator-unblock-guide.md
  projects/email-communication-intelligence-r2/tasks/034-job-c-apply-endpoint.poml
Owners: @spaarke-dev

chore(teams-app-r1): task 025 — BFF deployed to spaarke-bff-dev (hash-verified, /healthz 200)
  projects/teams-app-r1/current-task.md
Owners: @spaarke-dev

feat(teams-app-r1): task 025 COMPLETE — live Teams E2E passed (workforce data-plane)
  projects/teams-app-r1/current-task.md
  projects/teams-app-r1/tasks/025-principal-agnostic-collab-endpoints.poml
  projects/teams-app-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(assistant-r2): re-scope task 022 to Option B (grounded suggest turn, BFF+client)
  projects/spaarkeai-assistant-enhancements-r2/current-task.md
  projects/spaarkeai-assistant-enhancements-r2/notes/deviations.md
  projects/spaarkeai-assistant-enhancements-r2/tasks/022-proactive-suggestion-turn.poml
  projects/spaarkeai-assistant-enhancements-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(email-intelligence-r2): 020 complete — unique message-id key ACTIVE (dup cleanup + reactivate)
  projects/email-communication-intelligence-r2/current-task.md
  projects/email-communication-intelligence-r2/notes/020-message-id-key-complete.md
  projects/email-communication-intelligence-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

spec(external-access-r2): incorporate teams-app-r1 Option-A delivery (FR-22 shipped)
  projects/spaarke-SPA-external-access-platform-r2/design.md
  projects/spaarke-SPA-external-access-platform-r2/notes/r2-coordination-response.md
  projects/spaarke-SPA-external-access-platform-r2/spec.md
Owners: @spaarke-dev

spec(external-access-r2): incorporate teams-app-r1 Option-A delivery (FR-22 shipped)
  projects/spaarke-SPA-external-access-platform-r2/design.md
  projects/spaarke-SPA-external-access-platform-r2/notes/r2-coordination-response.md
  projects/spaarke-SPA-external-access-platform-r2/spec.md
Owners: @spaarke-dev

test(teams-app-r1): task 080 — integration verification (6/7 verified, criterion 6 Path A go-live)
  projects/teams-app-r1/notes/integration-verification-report.md
  projects/teams-app-r1/tasks/080-integration-verification.poml
  projects/teams-app-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(email-intelligence-r2): task 021 investigation + turnkey implementation plan
  projects/email-communication-intelligence-r2/current-task.md
  projects/email-communication-intelligence-r2/notes/021-implementation-plan.md
Owners: @spaarke-dev

docs(teams-app-r1): task 090 — project wrap-up, PROJECT COMPLETE
  projects/teams-app-r1/README.md
  projects/teams-app-r1/current-task.md
  projects/teams-app-r1/notes/lessons-learned.md
  projects/teams-app-r1/notes/test-diet-report.md
  projects/teams-app-r1/plan.md
  projects/teams-app-r1/tasks/090-project-wrap-up.poml
  projects/teams-app-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(compose): numbering/lists through the canonical model — golden-label parity via source numId identity (task 021)
  projects/spaarkeai-compose-r6/notes/020-canonical-hub-design.md
  src/client/shared/Spaarke.Compose.Components/src/types/compose-contracts.ts
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeContentModel.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocumentRenderer.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjectionBuilder.cs
  tests/integration/seam/Compose/ComposeNumberingCanonicalModelSeamTests.cs
  tests/integration/seam/Compose/ComposeNumberingRoundTripSeamTests.cs
Owners: @spaarke-dev

spec(external-access-r2): resolve D1 — grade workforce rights by ADR-034 role
  projects/spaarke-SPA-external-access-platform-r2/design.md
  projects/spaarke-SPA-external-access-platform-r2/spec.md
Owners: @spaarke-dev
