Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(ai-playbook): complete Phase 6 polish and project wrap-up
  docs/guides/ai-assistant-theming.md
  docs/product-documentation/ai-playbook-builder-guide.md
  projects/ai-playbook-node-builder-r2/README.md
  projects/ai-playbook-node-builder-r2/lessons-learned.md
  projects/ai-playbook-node-builder-r2/notes/testing/integration-test-results.md
  projects/ai-playbook-node-builder-r2/tasks/050-implement-comprehensive-error-handling.poml
  projects/ai-playbook-node-builder-r2/tasks/051-add-retry-logic-with-backoff.poml
  projects/ai-playbook-node-builder-r2/tasks/052-add-loading-states-animations.poml
  projects/ai-playbook-node-builder-r2/tasks/053-implement-keyboard-shortcuts.poml
  projects/ai-playbook-node-builder-r2/tasks/054-responsive-modal-sizing.poml
  projects/ai-playbook-node-builder-r2/tasks/055-dark-mode-verification.poml
  projects/ai-playbook-node-builder-r2/tasks/056-write-user-documentation.poml
  projects/ai-playbook-node-builder-r2/tasks/057-code-review-cleanup.poml
  projects/ai-playbook-node-builder-r2/tasks/058-final-integration-testing.poml
  projects/ai-playbook-node-builder-r2/tasks/090-project-wrap-up.poml
  projects/ai-playbook-node-builder-r2/tasks/TASK-INDEX.md
  src/client/pcf/PlaybookBuilderHost/control/components/AiAssistant/ErrorDisplay.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/AiAssistant/TypingIndicator.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/AiAssistant/index.ts
  src/client/pcf/PlaybookBuilderHost/control/hooks/index.ts
  src/client/pcf/PlaybookBuilderHost/control/hooks/useKeyboardShortcuts.ts
  src/client/pcf/PlaybookBuilderHost/control/hooks/useResponsive.ts
  src/server/api/Sprk.Bff.Api/Infrastructure/Resilience/RetryPolicies.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/BuildPlanModels.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/BuilderSseEvents.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/AiBuilderErrors.cs
Owners: @spaarke-dev, @docs-team

feat(ai-playbook): create Builder scope records in Dataverse
  projects/ai-playbook-node-builder-r2/tasks/025-create-builder-action-scopes.poml
  projects/ai-playbook-node-builder-r2/tasks/026-create-builder-skill-scopes.poml
  projects/ai-playbook-node-builder-r2/tasks/027-create-builder-tool-scopes.poml
  projects/ai-playbook-node-builder-r2/tasks/028-create-builder-knowledge-scopes.poml
  projects/ai-playbook-node-builder-r2/tasks/TASK-INDEX.md
  scripts/Create-BuilderScopes.ps1
Owners: @spaarke-dev, @devops-team

feat(ai-playbook): implement Phase 3 conversational AI pipeline services
  projects/ai-playbook-node-builder-r2/current-task.md
  projects/ai-playbook-node-builder-r2/tasks/021-implement-intent-classification.poml
  projects/ai-playbook-node-builder-r2/tasks/022-implement-entity-resolution.poml
  projects/ai-playbook-node-builder-r2/tasks/023-implement-clarification-loop.poml
  projects/ai-playbook-node-builder-r2/tasks/024-implement-build-plan-generation.poml
  projects/ai-playbook-node-builder-r2/tasks/029-implement-model-selector.poml
  projects/ai-playbook-node-builder-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/Streaming/ServerSentEventWriter.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/BuildPlanModels.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/EntityResolutionModels.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/IntentClassificationModels.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AiPlaybookBuilderService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/BuildPlanGenerationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ClarificationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/EntityResolutionService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IAiPlaybookBuilderService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IPlaybookExecutionEngine.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IntentClassificationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ModelSelector.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/Streaming/ServerSentEventWriterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Models/Ai/BuilderSseEventsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/BuildPlanGenerationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ClarificationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/EntityResolutionServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/IntentClassificationServiceTests.cs
Owners: @spaarke-dev

fix(deploy): resolve DI scope mismatches and PCF build issues
  .claude/skills/azure-deploy/SKILL.md
  src/client/pcf/PlaybookBuilderHost/Solution/Controls/sprk_Spaarke.Controls.PlaybookBuilderHost/ControlManifest.xml
  src/client/pcf/PlaybookBuilderHost/Solution/Controls/sprk_Spaarke.Controls.PlaybookBuilderHost/bundle.js
  src/client/pcf/PlaybookBuilderHost/Solution/Controls/sprk_Spaarke.Controls.PlaybookBuilderHost/styles.css
  src/client/pcf/PlaybookBuilderHost/Solution/customizations.xml
  src/client/pcf/PlaybookBuilderHost/Solution/pack.ps1
  src/client/pcf/PlaybookBuilderHost/Solution/solution.xml
  src/client/pcf/PlaybookBuilderHost/control/ControlManifest.Input.xml
  src/client/pcf/PlaybookBuilderHost/control/components/ScopeBrowser/ScopeList.tsx
  src/client/pcf/PlaybookBuilderHost/control/services/AiPlaybookService.ts
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ToolFrameworkExtensions.cs
Owners: @spaarke-dev

fix(pcf): fix SSE done event handling and add debug logging
  src/client/pcf/PlaybookBuilderHost/Solution/Controls/sprk_Spaarke.Controls.PlaybookBuilderHost/ControlManifest.xml
  src/client/pcf/PlaybookBuilderHost/Solution/Controls/sprk_Spaarke.Controls.PlaybookBuilderHost/bundle.js
  src/client/pcf/PlaybookBuilderHost/Solution/pack.ps1
  src/client/pcf/PlaybookBuilderHost/Solution/solution.xml
  src/client/pcf/PlaybookBuilderHost/control/ControlManifest.Input.xml
  src/client/pcf/PlaybookBuilderHost/control/PlaybookBuilderHost.tsx
  src/client/pcf/PlaybookBuilderHost/control/index.ts
  src/client/pcf/PlaybookBuilderHost/control/services/AiPlaybookService.ts
  src/client/pcf/PlaybookBuilderHost/control/stores/aiAssistantStore.ts
  src/server/api/Sprk.Bff.Api/Services/Ai/AiPlaybookBuilderService.cs
Owners: @spaarke-dev

fix(pcf): resolve duplicate chat messages and update to v2.20.1
  .claude/skills/dataverse-deploy/SKILL.md
  src/client/pcf/PlaybookBuilderHost/Solution/Controls/sprk_Spaarke.Controls.PlaybookBuilderHost/ControlManifest.xml
  src/client/pcf/PlaybookBuilderHost/Solution/Controls/sprk_Spaarke.Controls.PlaybookBuilderHost/bundle.js
  src/client/pcf/PlaybookBuilderHost/Solution/pack.ps1
  src/client/pcf/PlaybookBuilderHost/Solution/solution.xml
  src/client/pcf/PlaybookBuilderHost/control/ControlManifest.Input.xml
  src/client/pcf/PlaybookBuilderHost/control/PlaybookBuilderHost.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/AiAssistant/ChatHistory.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/AiAssistant/ChatInput.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/BuilderLayout.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/Canvas/Canvas.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/Properties/NodePropertiesForm.tsx
  src/client/pcf/PlaybookBuilderHost/control/services/AiPlaybookService.ts
  src/client/pcf/PlaybookBuilderHost/control/stores/aiAssistantStore.ts
  src/client/pcf/PlaybookBuilderHost/control/stores/canvasStore.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/AiPlaybookBuilderEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/NodeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/PlaybookEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/PlaybookRunEndpoints.cs
Owners: @spaarke-dev

fix(pcf): extract patch property from canvas_patch event data
  src/client/pcf/PlaybookBuilderHost/Solution/Controls/sprk_Spaarke.Controls.PlaybookBuilderHost/ControlManifest.xml
  src/client/pcf/PlaybookBuilderHost/Solution/Controls/sprk_Spaarke.Controls.PlaybookBuilderHost/bundle.js
  src/client/pcf/PlaybookBuilderHost/Solution/pack.ps1
  src/client/pcf/PlaybookBuilderHost/Solution/solution.xml
  src/client/pcf/PlaybookBuilderHost/control/ControlManifest.Input.xml
  src/client/pcf/PlaybookBuilderHost/control/PlaybookBuilderHost.tsx
  src/client/pcf/PlaybookBuilderHost/control/services/AiPlaybookService.ts
  src/client/pcf/PlaybookBuilderHost/control/stores/aiAssistantStore.ts
Owners: @spaarke-dev

fix(ai-playbook): implement CreatePlaybook intent canvas patch generation
  src/server/api/Sprk.Bff.Api/Services/Ai/AiPlaybookBuilderService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IAiPlaybookBuilderService.cs
Owners: @spaarke-dev

fix(pcf): add fallback WebAPI load when canvasJson bound property is null
  src/client/pcf/PlaybookBuilderHost/Solution/Controls/sprk_Spaarke.Controls.PlaybookBuilderHost/ControlManifest.xml
  src/client/pcf/PlaybookBuilderHost/Solution/Controls/sprk_Spaarke.Controls.PlaybookBuilderHost/bundle.js
  src/client/pcf/PlaybookBuilderHost/Solution/pack.ps1
  src/client/pcf/PlaybookBuilderHost/Solution/solution.xml
  src/client/pcf/PlaybookBuilderHost/control/ControlManifest.Input.xml
  src/client/pcf/PlaybookBuilderHost/control/PlaybookBuilderHost.tsx
  src/client/pcf/PlaybookBuilderHost/control/index.ts
Owners: @spaarke-dev

feat(ai-playbook): initialize ai-playbook-node-builder-r3 project
  projects/ai-playbook-node-builder-r3/CLAUDE.md
  projects/ai-playbook-node-builder-r3/README.md
  projects/ai-playbook-node-builder-r3/current-task.md
  projects/ai-playbook-node-builder-r3/design.md
  projects/ai-playbook-node-builder-r3/plan.md
  projects/ai-playbook-node-builder-r3/spec.md
  projects/ai-playbook-node-builder-r3/tasks/001-extend-scope-resolver-interface.poml
  projects/ai-playbook-node-builder-r3/tasks/002-implement-action-crud.poml
  projects/ai-playbook-node-builder-r3/tasks/003-implement-skill-knowledge-tool-crud.poml
  projects/ai-playbook-node-builder-r3/tasks/004-implement-scope-search.poml
  projects/ai-playbook-node-builder-r3/tasks/005-add-dataverse-ownership-fields.poml
  projects/ai-playbook-node-builder-r3/tasks/006-implement-save-as-extend.poml
  projects/ai-playbook-node-builder-r3/tasks/007-phase1-deploy-test.poml
  projects/ai-playbook-node-builder-r3/tasks/010-design-intent-schema.poml
  projects/ai-playbook-node-builder-r3/tasks/011-implement-ai-intent-classification.poml
  projects/ai-playbook-node-builder-r3/tasks/012-implement-clarification-flow.poml
  projects/ai-playbook-node-builder-r3/tasks/013-phase2-integration-test.poml
  projects/ai-playbook-node-builder-r3/tasks/020-create-builder-scope-records.poml
  projects/ai-playbook-node-builder-r3/tasks/021-package-deploy-builder-solution.poml
  projects/ai-playbook-node-builder-r3/tasks/022-wire-builder-to-scopes.poml
  projects/ai-playbook-node-builder-r3/tasks/030-create-test-blob-container.poml
  projects/ai-playbook-node-builder-r3/tasks/031-implement-test-modes.poml
  projects/ai-playbook-node-builder-r3/tasks/032-add-test-execution-endpoint.poml
  projects/ai-playbook-node-builder-r3/tasks/040-implement-scope-browser.poml
  projects/ai-playbook-node-builder-r3/tasks/041-implement-save-as-dialog.poml
  projects/ai-playbook-node-builder-r3/tasks/042-implement-test-mode-selector.poml
  projects/ai-playbook-node-builder-r3/tasks/043-enhance-clarification-ui.poml
  projects/ai-playbook-node-builder-r3/tasks/044-add-model-selection-ui.poml
  projects/ai-playbook-node-builder-r3/tasks/045-phase5-pcf-deploy.poml
  projects/ai-playbook-node-builder-r3/tasks/050-error-handling-polish.poml
  projects/ai-playbook-node-builder-r3/tasks/051-performance-optimization.poml
  projects/ai-playbook-node-builder-r3/tasks/052-documentation-update.poml
  projects/ai-playbook-node-builder-r3/tasks/053-end-to-end-testing.poml
  projects/ai-playbook-node-builder-r3/tasks/090-project-wrap-up.poml
  projects/ai-playbook-node-builder-r3/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(rag): consolidate RAG architecture and add bulk indexing
  docs/guides/RAG-ARCHITECTURE.md
  docs/guides/RAG-CONFIGURATION.md
  projects/ai-RAG-pipeline/rag-ingestion-assessment.md
  src/server/api/Sprk.Bff.Api/Api/Ai/RagEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/WorkersModule.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Visualization/IVisualizationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Visualization/VisualizationService.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/DocumentEvent.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/DocumentEventProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/DocumentEventProcessorOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/DocumentEventTelemetry.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/BulkRagIndexingJobHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/DocumentEventHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/IDocumentEventHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/ScheduledRagIndexingService.cs
  src/server/api/Sprk.Bff.Api/Telemetry/RagTelemetry.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  tests/unit/Sprk.Bff.Api.Tests/Services/Jobs/DocumentEventHandlerRagTests.cs
Owners: @spaarke-dev, @docs-team

fix(telemetry): Add RAG meter and tracing to OpenTelemetry config
  src/server/api/Sprk.Bff.Api/Program.cs
Owners: @spaarke-dev

fix(pcf): Correct RAG index-file URL path in DocumentUploadForm
  src/client/pcf/UniversalQuickCreate/Solution/src/Other/Solution.xml
  src/client/pcf/UniversalQuickCreate/control/ControlManifest.Input.xml
  src/client/pcf/UniversalQuickCreate/control/components/DocumentUploadForm.tsx
Owners: @spaarke-dev

feat(pcf): DocumentRelationshipViewer v1.0.29 - UI polish
  .claude/skills/dataverse-deploy/SKILL.md
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/ControlManifest.Input.xml
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/DocumentRelationshipViewer.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/components/DocumentNode.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/services/VisualizationApiService.ts
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/types/graph.ts
  src/client/pcf/DocumentRelationshipViewer/Solution/Controls/sprk_Spaarke.Controls.DocumentRelationshipViewer/ControlManifest.xml
  src/client/pcf/DocumentRelationshipViewer/Solution/Controls/sprk_Spaarke.Controls.DocumentRelationshipViewer/bundle.js
  src/client/pcf/DocumentRelationshipViewer/Solution/pack.ps1
  src/client/pcf/DocumentRelationshipViewer/Solution/solution.xml
  src/client/pcf/DocumentRelationshipViewer/run-build.bat
  src/client/pcf/UniversalQuickCreate/Solution/src/Other/Solution.xml
  src/client/pcf/UniversalQuickCreate/Solution/src/WebResources/sprk_Spaarke.Controls.UniversalDocumentUpload/ControlManifest.xml
  src/client/pcf/UniversalQuickCreate/Solution/src/WebResources/sprk_Spaarke.Controls.UniversalDocumentUpload/bundle.js
  src/client/pcf/UniversalQuickCreate/Solution/src/WebResources/sprk_Spaarke.Controls.UniversalDocumentUpload/styles.css
  src/client/pcf/UniversalQuickCreate/control/ControlManifest.Input.xml
  src/client/pcf/UniversalQuickCreate/control/components/DocumentUploadForm.tsx
Owners: @spaarke-dev

docs(ai-playbook): add implementation checklist for backend improvements
  projects/ai-playbook-node-builder-r3/notes/IMPLEMENTATION-CHECKLIST.md
Owners: @spaarke-dev

docs: mark API deployment complete in checklist
  projects/ai-playbook-node-builder-r3/notes/IMPLEMENTATION-CHECKLIST.md
Owners: @spaarke-dev

docs: add design specs for semantic search and document visualization
  projects/ai-document-relationship-visuals/design.md
  projects/ai-semantic-search-foundation-r1/design.md
  projects/ai-semantic-search-ui-r2/design.md
Owners: @spaarke-dev

feat(ai-playbook): implement agentic builder with OpenAI function calling
  projects/ai-playbook-node-builder-r3/notes/IMPLEMENTATION-CHECKLIST.md
  src/server/api/Sprk.Bff.Api/Api/Ai/AiPlaybookBuilderEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/AiIntentClassificationSchema.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AiPlaybookBuilderService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderAgentService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderToolCall.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderToolDefinitions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderToolExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IAiPlaybookBuilderService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IOpenAiClient.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/OpenAiClient.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Prompts/PlaybookBuilderSystemPrompt.cs
Owners: @spaarke-dev

fix(api): resolve CS1998 warnings in async methods
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderToolExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Scopes/ScopeCopyService.cs
  src/server/api/Sprk.Bff.Api/Services/Scopes/ScopeInheritanceService.cs
Owners: @spaarke-dev

style: fix formatting in AI service files
  src/server/api/Sprk.Bff.Api/Services/Ai/AiPlaybookBuilderService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ClarificationFlowTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ClarificationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PlaybookExecutionEngineTests.cs
Owners: @spaarke-dev

feat(ai-search): initialize ai-semantic-search-foundation-r1 project
  projects/ai-semantic-search-foundation-r1/CLAUDE.md
  projects/ai-semantic-search-foundation-r1/README.md
  projects/ai-semantic-search-foundation-r1/current-task.md
  projects/ai-semantic-search-foundation-r1/notes/.gitkeep
  projects/ai-semantic-search-foundation-r1/notes/debug/.gitkeep
  projects/ai-semantic-search-foundation-r1/notes/drafts/.gitkeep
  projects/ai-semantic-search-foundation-r1/notes/handoffs/.gitkeep
  projects/ai-semantic-search-foundation-r1/notes/spikes/.gitkeep
  projects/ai-semantic-search-foundation-r1/plan.md
  projects/ai-semantic-search-foundation-r1/spec.md
  projects/ai-semantic-search-foundation-r1/tasks/001-extend-index-schema.poml
  projects/ai-semantic-search-foundation-r1/tasks/002-update-knowledgedocument-model.poml
  projects/ai-semantic-search-foundation-r1/tasks/003-update-indexing-service.poml
  projects/ai-semantic-search-foundation-r1/tasks/004-verify-index-configuration.poml
  projects/ai-semantic-search-foundation-r1/tasks/010-create-semantic-search-dtos.poml
  projects/ai-semantic-search-foundation-r1/tasks/011-create-searchfilterbuilder.poml
  projects/ai-semantic-search-foundation-r1/tasks/012-create-semantic-search-interface.poml
  projects/ai-semantic-search-foundation-r1/tasks/013-implement-semantic-search-service.poml
  projects/ai-semantic-search-foundation-r1/tasks/014-implement-nooppreprocessors.poml
  projects/ai-semantic-search-foundation-r1/tasks/015-register-search-services.poml
  projects/ai-semantic-search-foundation-r1/tasks/020-create-semantic-search-endpoints.poml
  projects/ai-semantic-search-foundation-r1/tasks/021-create-authorization-filter.poml
  projects/ai-semantic-search-foundation-r1/tasks/022-implement-request-validation.poml
  projects/ai-semantic-search-foundation-r1/tasks/030-create-semantic-search-tool-handler.poml
  projects/ai-semantic-search-foundation-r1/tasks/031-test-copilot-integration.poml
  projects/ai-semantic-search-foundation-r1/tasks/040-unit-tests-searchfilterbuilder.poml
  projects/ai-semantic-search-foundation-r1/tasks/041-unit-tests-semantic-search-service.poml
  projects/ai-semantic-search-foundation-r1/tasks/042-unit-tests-validation-filter.poml
  projects/ai-semantic-search-foundation-r1/tasks/043-integration-tests-search-flow.poml
  projects/ai-semantic-search-foundation-r1/tasks/044-integration-tests-authorization.poml
  projects/ai-semantic-search-foundation-r1/tasks/045-performance-validation.poml
  projects/ai-semantic-search-foundation-r1/tasks/090-project-wrap-up.poml
  projects/ai-semantic-search-foundation-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore: update current-task.md with pipeline completion status
  projects/ai-semantic-search-foundation-r1/current-task.md
Owners: @spaarke-dev

feat(ai-search): extend index schema with parent entity fields
  infrastructure/ai-search/spaarke-knowledge-index-v2.json
  projects/ai-semantic-search-foundation-r1/current-task.md
  projects/ai-semantic-search-foundation-r1/tasks/001-extend-index-schema.poml
  projects/ai-semantic-search-foundation-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(ai): complete tasks 002 and 004 (parallel execution)
  projects/ai-semantic-search-foundation-r1/current-task.md
  projects/ai-semantic-search-foundation-r1/notes/index-verification.md
  projects/ai-semantic-search-foundation-r1/tasks/002-update-knowledgedocument-model.poml
  projects/ai-semantic-search-foundation-r1/tasks/004-verify-index-configuration.poml
  projects/ai-semantic-search-foundation-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Models/Ai/KnowledgeDocument.cs
Owners: @spaarke-dev

feat(ai): complete task 003 - Phase 1 done
  projects/ai-semantic-search-foundation-r1/current-task.md
  projects/ai-semantic-search-foundation-r1/tasks/003-update-indexing-service.poml
  projects/ai-semantic-search-foundation-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Models/Ai/ParentEntityContext.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/FileIndexingService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IFileIndexingService.cs
Owners: @spaarke-dev

feat(ai): implement semantic search DTOs (task 010)
  projects/ai-semantic-search-foundation-r1/current-task.md
  projects/ai-semantic-search-foundation-r1/tasks/010-create-semantic-search-dtos.poml
  projects/ai-semantic-search-foundation-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Models/Ai/SemanticSearch/SearchErrorCodes.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/SemanticSearch/SearchFilters.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/SemanticSearch/SearchMetadata.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/SemanticSearch/SearchOptions.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/SemanticSearch/SearchResult.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/SemanticSearch/SemanticSearchRequest.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/SemanticSearch/SemanticSearchResponse.cs
Owners: @spaarke-dev

feat(ai): implement filter builder and service interface (tasks 011, 012)
  projects/ai-semantic-search-foundation-r1/current-task.md
  projects/ai-semantic-search-foundation-r1/tasks/011-create-searchfilterbuilder.poml
  projects/ai-semantic-search-foundation-r1/tasks/012-create-semantic-search-interface.poml
  projects/ai-semantic-search-foundation-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/SemanticSearch/IQueryPreprocessor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/SemanticSearch/IResultPostprocessor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/SemanticSearch/ISemanticSearchService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/SemanticSearch/SearchFilterBuilder.cs
Owners: @spaarke-dev

feat(ai): implement semantic search service and extensibility hooks (tasks 013, 014)
  projects/ai-semantic-search-foundation-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Models/Ai/SemanticSearch/SearchMetadata.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/SemanticSearch/NoOpQueryPreprocessor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/SemanticSearch/NoOpResultPostprocessor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/SemanticSearch/SemanticSearchService.cs
Owners: @spaarke-dev

feat(ai): register semantic search services in DI container (task 015)
  projects/ai-semantic-search-foundation-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/SemanticSearch/SemanticSearchExtensions.cs
Owners: @spaarke-dev

feat(ai): implement semantic search endpoints and authorization (tasks 020-022)
  projects/ai-semantic-search-foundation-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/SemanticSearchEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/SemanticSearchAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Program.cs
Owners: @spaarke-dev

feat(ai): complete semantic search foundation project (tasks 030-090)
  projects/ai-semantic-search-foundation-r1/README.md
  projects/ai-semantic-search-foundation-r1/current-task.md
  projects/ai-semantic-search-foundation-r1/lessons-learned.md
  projects/ai-semantic-search-foundation-r1/notes/copilot-integration-deferred.md
  projects/ai-semantic-search-foundation-r1/notes/performance-results.md
  projects/ai-semantic-search-foundation-r1/tasks/030-create-semantic-search-tool-handler.poml
  projects/ai-semantic-search-foundation-r1/tasks/031-test-copilot-integration.poml
  projects/ai-semantic-search-foundation-r1/tasks/040-unit-tests-searchfilterbuilder.poml
  projects/ai-semantic-search-foundation-r1/tasks/041-unit-tests-semantic-search-service.poml
  projects/ai-semantic-search-foundation-r1/tasks/043-integration-tests-search-flow.poml
  projects/ai-semantic-search-foundation-r1/tasks/044-integration-tests-authorization.poml
  projects/ai-semantic-search-foundation-r1/tasks/045-performance-validation.poml
  projects/ai-semantic-search-foundation-r1/tasks/090-project-wrap-up.poml
  projects/ai-semantic-search-foundation-r1/tasks/TASK-INDEX.md
  scripts/quick-perf-test.js
  scripts/test-semantic-search-performance.js
  src/server/api/Sprk.Bff.Api/Api/Ai/AiPlaybookBuilderEndpoints.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IAiPlaybookBuilderService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/SemanticSearchToolHandler.cs
  tests/integration/Spe.Integration.Tests/SemanticSearch/SemanticSearchAuthorizationTests.cs
  tests/integration/Spe.Integration.Tests/SemanticSearch/SemanticSearchIntegrationTests.cs
  tests/load/semantic-search.k6.js
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/SemanticSearch/SearchFilterBuilderTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/SemanticSearch/SemanticSearchServiceTests.cs
Owners: @spaarke-dev, @docs-team, @devops-team

docs: update RAG and AI documentation for Semantic Search Foundation R1
  docs/architecture/auth-AI-azure-resources.md
  docs/guides/RAG-ARCHITECTURE.md
  docs/guides/RAG-CONFIGURATION.md
  docs/guides/RAG-TROUBLESHOOTING.md
  docs/guides/SPAARKE-AI-ARCHITECTURE.md
Owners: @spaarke-dev, @docs-team

docs: update RAG and AI documentation for Semantic Search Foundation R1 (#145)
  docs/architecture/auth-AI-azure-resources.md
  docs/guides/RAG-ARCHITECTURE.md
  docs/guides/RAG-CONFIGURATION.md
  docs/guides/RAG-TROUBLESHOOTING.md
  docs/guides/SPAARKE-AI-ARCHITECTURE.md
Owners: @spaarke-dev, @docs-team

docs(office-integration): add project completion checklist
  projects/sdap-office-integration/notes/COMPLETE-PROJECT-CHECKLIST.md
Owners: @spaarke-dev

docs(office-integration): add comprehensive deployment plan
  projects/sdap-office-integration/DEPLOYMENT-PLAN.md
Owners: @spaarke-dev

feat(office-integration): update manifests with BFF API resource URI
  src/client/office-addins/outlook/manifest.json
  src/client/office-addins/word/manifest.prod.xml
  src/client/office-addins/word/manifest.xml
Owners: @spaarke-dev

docs(office-integration): add Dataverse table schemas for manual creation
  projects/sdap-office-integration/notes/DATAVERSE-TABLE-SCHEMAS.md
Owners: @spaarke-dev

feat(office-addins): Configure custom domain addins.spaarke.com for production deployment
  .github/workflows/deploy-office-addins.yml
  src/client/office-addins/outlook/manifest.prod.json
  src/client/office-addins/word/manifest.prod.xml
Owners: @spaarke-dev, @devops-team

fix(office-addins): Use npm install instead of npm ci to handle out-of-sync lock file
  .github/workflows/deploy-office-addins.yml
Owners: @spaarke-dev, @devops-team

fix(office-addins): Add --no-bail flag to webpack build to allow warnings
  src/client/office-addins/package.json
Owners: @spaarke-dev
