Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(daily-briefing-r4)(task-048): TL;DR ↔ Activities count reconciliation smoke (FR-20)
  projects/spaarke-daily-update-service-r4/tasks/048-tldr-activities-count-reconciliation-smoke.poml
  projects/spaarke-daily-update-service-r4/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.DailyBriefing.Components/test/CountReconciliation.smoke.test.tsx
Owners: @spaarke-dev

chore(daily-briefing-r4)(task-049): PR 5 wrap — quality gates + PR description update
  projects/spaarke-daily-update-service-r4/tasks/049-pr5-wrap-and-merge-prep.poml
  projects/spaarke-daily-update-service-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

chore(daily-briefing-r4)(task-090): project wrap-up — lessons-learned + status=Complete + graduation criteria verified
  projects/spaarke-daily-update-service-r4/README.md
  projects/spaarke-daily-update-service-r4/notes/lessons-learned.md
  projects/spaarke-daily-update-service-r4/notes/repo-cleanup-audit-090.md
  projects/spaarke-daily-update-service-r4/plan.md
  projects/spaarke-daily-update-service-r4/tasks/090-project-wrap-up.poml
  projects/spaarke-daily-update-service-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(daily-briefing-r4-uat): BFF deploy to spaarkedev1 — UAT readiness report
  projects/spaarke-daily-update-service-r4/notes/uat/bff-deploy-spaarkedev1.md
Owners: @spaarke-dev

docs(daily-briefing-r4-uat): code-page deploys to spaarkedev1 — UAT readiness report
  projects/spaarke-daily-update-service-r4/notes/uat/code-page-deploy-spaarkedev1.md
Owners: @spaarke-dev

feat(spaarke-redis-cache-remediation-r1): Phase 3 dev cutover complete (infrastructure-level); sister-project gate cleared
  projects/spaarke-ai-azure-setup-dev-r1/notes/handoffs/redis-cache-remediation-r1-phase3-cleared.md
  projects/spaarke-redis-cache-remediation-r1/README.md
  projects/spaarke-redis-cache-remediation-r1/notes/cutover-deploy-log.md
  projects/spaarke-redis-cache-remediation-r1/notes/dev-cutover-baseline.md
  projects/spaarke-redis-cache-remediation-r1/notes/r7-backlog.md
  projects/spaarke-redis-cache-remediation-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(spaarke-redis-cache-remediation-r1): add AI-Search project handoff doc
  projects/spaarke-redis-cache-remediation-r1/notes/handoff-to-ai-search-project.md
Owners: @spaarke-dev

fix(daily-briefing-r4): close task 004 gaps — NODE_PALETTE + Dataverse OptionSet for EntityNameValidator + redeploy
  projects/spaarke-daily-update-service-r4/notes/lessons-learned.md
  projects/spaarke-daily-update-service-r4/notes/uat/code-page-deploy-spaarkedev1.md
  scripts/dataverse/Add-EntityNameValidatorNodeTypeOption.ps1
  src/client/code-pages/PlaybookBuilder/src/components/BuilderLayout.tsx
  src/client/code-pages/PlaybookBuilder/src/types/playbook.ts
Owners: @spaarke-dev, @devops-team

docs(spaarke-ai-azure-setup-dev-r1): absorb pre-pipeline audit findings (FR-17 confirmed, FR-13/14 scope expanded, FR-20 added)
  projects/spaarke-ai-azure-setup-dev-r1/design.md
  projects/spaarke-ai-azure-setup-dev-r1/spec.md
Owners: @spaarke-dev

fix(ci-router): map classify outputs to ci-tier2-advisory's run-* input contract
  .github/workflows/ci-router.yml
Owners: @spaarke-dev, @devops-team

feat(spaarke-redis-cache-remediation-r1): align Cache Meter name + add Redis OTel instrumentation (Phase 4 closure prep)
  projects/spaarke-redis-cache-remediation-r1/notes/cutover-deploy-log.md
  projects/spaarke-redis-cache-remediation-r1/notes/r7-backlog.md
  src/server/api/Sprk.Bff.Api/Infrastructure/Cache/TenantCache.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/TelemetryModule.cs
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/Cache/TenantCacheMetricsTests.cs
Owners: @spaarke-dev

checkpoint: save R7-S7 inline state before /compact
  projects/spaarke-redis-cache-remediation-r1/current-task.md
Owners: @spaarke-dev

fix(daily-briefing-r4): EntityNameValidator node visual parity + required-field validation
  projects/spaarke-daily-update-service-r4/notes/lessons-learned.md
  projects/spaarke-daily-update-service-r4/notes/uat/code-page-deploy-spaarkedev1.md
  src/client/code-pages/PlaybookBuilder/src/components/canvas/PlaybookCanvas.tsx
  src/client/code-pages/PlaybookBuilder/src/components/nodes/EntityNameValidatorNode.tsx
  src/client/code-pages/PlaybookBuilder/src/components/nodes/index.ts
  src/client/code-pages/PlaybookBuilder/src/services/canvasValidation.ts
Owners: @spaarke-dev

docs(spaarke-ai-azure-setup-dev-r1): absorb Redis handoff + comprehensive coverage audit findings
  projects/spaarke-ai-azure-setup-dev-r1/design.md
  projects/spaarke-ai-azure-setup-dev-r1/spec.md
Owners: @spaarke-dev

feat(spaarke-redis-cache-remediation-r1): R7-S7 partial — wire OTel → Azure Monitor exporter
  projects/spaarke-redis-cache-remediation-r1/notes/cutover-deploy-log.md
  projects/spaarke-redis-cache-remediation-r1/notes/r7-backlog.md
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
Owners: @spaarke-dev

fix(r6): task 095 — mount ExecutionTraceWidget + frontend SSE bridge
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useSseStream.ts
  src/solutions/SpaarkeAi/src/components/context/ContextPaneController.tsx
  src/solutions/SpaarkeAi/src/components/context/ContextPaneMenu.tsx
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/hooks/useContextTool.ts
Owners: @spaarke-dev

chore(spaarke-redis-cache-remediation-r1): project close-out — flip README/TASK-INDEX/current-task
  projects/spaarke-redis-cache-remediation-r1/README.md
  projects/spaarke-redis-cache-remediation-r1/current-task.md
  projects/spaarke-redis-cache-remediation-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore(config): consolidate Azure/Dataverse/SPE resources into spaarke-resources.yaml
  .gitignore
  config/spaarke-resources.yaml
  docs/architecture/auth-azure-resources.md
  scripts/Sync-LocalConfig.ps1
  scripts/Validate-Manifest.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

docs(ci-cd-unit-test-remediation-r1): Phase 3 task 070 + scope expansion (Phase 2.5)
  projects/ci-cd-unit-test-remediation-r1/CLAUDE.md
  projects/ci-cd-unit-test-remediation-r1/README.md
  projects/ci-cd-unit-test-remediation-r1/current-task.md
  projects/ci-cd-unit-test-remediation-r1/notes/branch-protection-pre-cutover.json
  projects/ci-cd-unit-test-remediation-r1/notes/branch-protection-snapshot-meta.md
  projects/ci-cd-unit-test-remediation-r1/plan.md
  projects/ci-cd-unit-test-remediation-r1/spec.md
  projects/ci-cd-unit-test-remediation-r1/tasks/070-pre-cutover-branch-protection-snapshot.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/080-codify-build-vs-maintain-criteria.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/081-build-test-diet-skill.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/082-rerun-inventory-broader-criteria.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/083-deep-cleanup-pr-1.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/084-deep-cleanup-pr-2.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/085-deep-cleanup-pr-3.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(r6): task 095 — extend IUseSseStreamResult with setOnContextEvent
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
Owners: @spaarke-dev

fix(ci-router): remove invalid branches: filter under merge_group: trigger
  .github/workflows/ci-router.yml
Owners: @spaarke-dev, @devops-team

fix(ci-router): replace expression in cancel-in-progress with literal true
  .github/workflows/ci-router.yml
Owners: @spaarke-dev, @devops-team

feat(spaarke-redis-cache-remediation-r1): R7-S7 full closure + defer/issue tracking skill
  .claude/skills/project-defer-issue-tracking/SKILL.md
  .claude/skills/project-defer-issue-tracking/references/defer-issues-template.md
  .claude/skills/project-setup/references/claudemd-template.md
  .claude/skills/push-to-github/SKILL.md
  projects/spaarke-redis-cache-remediation-r1/README.md
  projects/spaarke-redis-cache-remediation-r1/notes/defer-issues.md
  projects/spaarke-redis-cache-remediation-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/Cache/MetricsDistributedCache.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Cache/TenantCache.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CacheModule.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/Cache/TenantCacheMetricsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/DI/CacheModuleTests.cs
Owners: @spaarke-dev, @docs-team

docs(chat-routing-redesign-r1): r7-backlog entry + R6 write-side unification handoff
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/chat-workspace-write-side-unification-r6-handoff.md
  projects/spaarke-ai-platform-chat-routing-redesign-r1/notes/r7-backlog.md
Owners: @spaarke-dev

docs(ai-search): Phase 1 docs + pre-phase-3 verification evidence
  docs/architecture/AI-ARCHITECTURE.md
  docs/architecture/AI-SEARCH-INDEX-CATALOG.md
  docs/architecture/rag-architecture.md
  docs/guides/AI-EMBEDDING-STRATEGY.md
  docs/guides/MULTI-CONTAINER-MULTI-INDEX-OPERATOR-RUNBOOK.md
  docs/guides/SPAARKE-DEPLOYMENT-GUIDE.md
  docs/guides/ai-search-azure-setup.md
  projects/spaarke-ai-azure-setup-dev-r1/current-task.md
  projects/spaarke-ai-azure-setup-dev-r1/notes/pre-phase-3-verification.md
  projects/spaarke-ai-azure-setup-dev-r1/tasks/001-pre-phase-3-verification.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/002-ai-search-index-catalog.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/003-ai-search-azure-setup-guide.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/004-ai-architecture-consumer-map.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/005-stale-doc-cleanup.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/006-deployment-guide-phase-1-5.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/007-adr-pointer-drift-fix.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

refactor(ai-search): apply schema property policy to 7 active schemas (FR-09)
  infra/ai-search/spaarke-file-index.json
  infra/insights/schemas/spaarke-insights-index.index.json
  infrastructure/ai-search/invoice-index-schema.json
  infrastructure/ai-search/playbook-embeddings.json
  infrastructure/ai-search/spaarke-rag-references.json
  infrastructure/ai-search/spaarke-records-index.json
  infrastructure/ai-search/spaarke-session-files.json
  projects/spaarke-ai-azure-setup-dev-r1/tasks/010-schema-property-policy-patches.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

refactor(ai-search): atomic rename spaarke-file-index → spaarke-files-index (FR-10, NFR-07)
  docs/guides/MULTI-CONTAINER-MULTI-INDEX-OPERATOR-RUNBOOK.md
  infra/ai-search/spaarke-files-index.json
  projects/spaarke-ai-azure-setup-dev-r1/tasks/011-rename-files-index.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(ci-router): change ci-tier2-advisory inputs from boolean to string
  .github/workflows/ci-tier2-advisory.yml
Owners: @spaarke-dev, @devops-team

docs(ci-cd-unit-test-remediation-r1): Phase 2.5 codification + 086 integration
  .claude/constraints/testing.md
  .claude/skills/INDEX.md
  .claude/skills/repo-cleanup/SKILL.md
  .claude/skills/task-execute/SKILL.md
  .claude/skills/test-diet/SKILL.md
  CLAUDE.md
  docs/adr/ADR-038-testing-strategy.md
  projects/ci-cd-unit-test-remediation-r1/CLAUDE.md
  projects/ci-cd-unit-test-remediation-r1/current-task.md
  projects/ci-cd-unit-test-remediation-r1/notes/test-inventory-broader-summary.md
  projects/ci-cd-unit-test-remediation-r1/notes/test-inventory-broader.csv
  projects/ci-cd-unit-test-remediation-r1/plan.md
  projects/ci-cd-unit-test-remediation-r1/spec.md
  projects/ci-cd-unit-test-remediation-r1/tasks/080-codify-build-vs-maintain-criteria.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/081-build-test-diet-skill.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/086-fix-ci-router-startup-failure.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/TASK-INDEX.md
  tests/CLAUDE.md
Owners: @spaarke-dev, @docs-team

refactor(ai-search): consolidate schema files to infrastructure/ai-search/ (FR-11)
  infra/insights/main.bicep
  infrastructure/ai-search/spaarke-files-index.json
  infrastructure/ai-search/spaarke-insights-index.json
  projects/spaarke-ai-azure-setup-dev-r1/tasks/012-schema-consolidation.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Insights/Ingest/ObservationIndexDocument.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/IndexRetrieveNode.cs
  src/server/api/Sprk.Bff.Api/Services/Insights/Precedents/PrecedentProjectionMapper.cs
Owners: @spaarke-dev

ci(bisect-086): step 1 — minimal router (push to isolate startup_failure)
  .github/workflows/ci-router.yml
Owners: @spaarke-dev, @devops-team

ci(bisect-086): step 2 — add merge_group + permissions + concurrency
  .github/workflows/ci-router.yml
Owners: @spaarke-dev, @devops-team

fix(ai-search): rename rag-references field domain → documentType (FR-17)
  infrastructure/ai-search/spaarke-invoices-index.json
  infrastructure/ai-search/spaarke-playbook-embeddings.json
  infrastructure/ai-search/spaarke-rag-references.json
  projects/spaarke-ai-azure-setup-dev-r1/tasks/016-rag-references-field-name-fix.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
  scripts/ai-search/Add-ReferenceToIndex.ps1
Owners: @spaarke-dev, @devops-team

ci(bisect-086): step 3 — add classify job (paths-filter + docs-only)
  .github/workflows/ci-router.yml
Owners: @spaarke-dev, @devops-team

refactor(ai-search): atomic rename invoice-index-schema → spaarke-invoices-index (FR-10, NFR-07)
  infrastructure/ai-search/spaarke-invoices-index.json
  projects/spaarke-ai-azure-setup-dev-r1/tasks/014-rename-invoices-index.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/FinanceModule.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/InvoiceSearchService.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/InvoiceIndexingJobHandler.cs
Owners: @spaarke-dev

ci(bisect-086): step 4 — add tier1 reusable workflow call
  .github/workflows/ci-router.yml
Owners: @spaarke-dev, @devops-team

refactor(ai-search): atomic rename playbook-embeddings → spaarke-playbook-embeddings (FR-10, NFR-07)
  docs/architecture/AI-SEARCH-INDEX-CATALOG.md
  docs/architecture/chat-architecture.md
  docs/architecture/rag-architecture.md
  infrastructure/ai-search/spaarke-playbook-embeddings.json
  projects/spaarke-ai-azure-setup-dev-r1/tasks/013-rename-playbook-embeddings.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
  scripts/Create-PlaybookEmbeddingsIndex.ps1
  scripts/Index-ExistingPlaybooks.ps1
  src/server/api/Sprk.Bff.Api/Api/Ai/PlaybookEmbeddingEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/PlaybookEmbeddingDocument.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PlaybookDispatcher.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookEmbedding/PlaybookEmbeddingService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookEmbedding/PlaybookIndexDriftDetectionJob.cs
Owners: @spaarke-dev, @docs-team, @devops-team

feat(ai-search): add tenantId field to spaarke-records-index (FR-12)
  infrastructure/ai-search/spaarke-records-index.json
  projects/spaarke-ai-azure-setup-dev-r1/tasks/015-records-index-tenantid-field.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Filters/RecordSearchAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/RecordSearch/RecordSearchService.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/RecordSyncJob.cs
  src/server/api/Sprk.Bff.Api/Services/RecordMatching/DataverseIndexSyncService.cs
  src/server/api/Sprk.Bff.Api/Services/RecordMatching/SearchIndexDocument.cs
Owners: @spaarke-dev

docs(r6): file 7 defer/issue entries via /project-defer-issue-tracking
  projects/spaarke-ai-platform-unification-r6/notes/defer-issues.md
Owners: @spaarke-dev

ci(bisect-086): step 5 — add tier2 reusable workflow call (with string-typed inputs)
  .github/workflows/ci-router.yml
Owners: @spaarke-dev, @devops-team
