Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

ci(bisect-086): step 6 — grant pull-requests: write (matches tier2's declared permission)
  .github/workflows/ci-router.yml
Owners: @spaarke-dev, @devops-team

fix(ci-router): grant pull-requests:write — caller-permission floor for tier2
  .github/workflows/ci-router.yml
Owners: @spaarke-dev, @devops-team

docs(spaarke-redis-cache-remediation): R1 doc lockstep update + R2 design draft
  .claude/adr/ADR-009-redis-caching.md
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/azure-managed-redis-2026-06-26.md
  docs/adr/ADR-009-caching-redis-first.md
  docs/architecture/caching-architecture.md
  docs/guides/SPAARKE-DEPLOYMENT-GUIDE.md
  docs/guides/redis-cache-azure-setup.md
  projects/spaarke-redis-cache-remediation-r2/design.md
  projects/spaarke-redis-cache-remediation-r2/notes/managed-redis-ai-research.md
Owners: @spaarke-dev, @docs-team

feat(scripts): unified Deploy-AllIndexes.ps1 + retire 6 legacy deployers (FR-07)
  docs/guides/ai-search-azure-setup.md
  infrastructure/ai-search/Deploy-InvoiceSearchIndex.ps1
  infrastructure/ai-search/deploy-invoice-index.bicep
  infrastructure/ai-search/deploy-invoice-index.ps1
  infrastructure/ai-search/deploy-session-files-index.ps1
  projects/spaarke-ai-azure-setup-dev-r1/tasks/020-deploy-allindexes-script.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
  scripts/Create-PlaybookEmbeddingsIndex.ps1
  scripts/ai-search/Deploy-AllIndexes.ps1
  scripts/ai-search/Deploy-IndexSchemas.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

test(scripts): validate Deploy-AllIndexes.ps1 against dev (task 021)
  projects/spaarke-ai-azure-setup-dev-r1/notes/deploy-allindexes-validation.md
  projects/spaarke-ai-azure-setup-dev-r1/tasks/021-deploy-allindexes-dry-run-validation.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

refactor(bff-api): canonical index names in Configuration options (FR-13 + FR-14 partial — task 030)
  projects/spaarke-ai-azure-setup-dev-r1/tasks/030-bff-refactor-config-options.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/046-phase-4-grep-verification.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Configuration/AiSearchOptions.cs
  src/server/api/Sprk.Bff.Api/Configuration/AnalysisOptions.cs
Owners: @spaarke-dev

refactor(bff-api): Group C partial (tasks 032-037 ✅; 031 🟡 blocked)
  projects/spaarke-ai-azure-setup-dev-r1/notes/group-c-disposition.md
  projects/spaarke-ai-azure-setup-dev-r1/tasks/031-bff-refactor-rag-pipeline.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/032-bff-refactor-file-indexing-services.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/033-bff-refactor-playbook-services.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/034-bff-refactor-knowledge-base-services.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/035-bff-refactor-job-handlers.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/036-bff-refactor-records-index-tenant-id.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/037-bff-doc-comments-cleanup.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
  scripts/ai-search/Sync-RecordsToIndex.ps1
  src/server/api/Sprk.Bff.Api/Api/Ai/KnowledgeBaseEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/KnowledgeDocument.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/AiAnalysisNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/appsettings.tokens.md
Owners: @spaarke-dev, @devops-team

docs(spaarke-redis-cache-remediation-r2): re-scope per project owner decisions
  projects/spaarke-redis-cache-remediation-r1/notes/defer-issues.md
  projects/spaarke-redis-cache-remediation-r2/design.md
  projects/spaarke-redis-cache-remediation-r2/notes/managed-redis-ai-research.md
  projects/spaarke-redis-cache-remediation-r2/notes/managed-redis-decision.md
Owners: @spaarke-dev

feat(ai-search): reactivate spaarke-discovery-index as 8th catalog index (FR-14 reframed — task 031)
  docs/architecture/AI-SEARCH-INDEX-CATALOG.md
  docs/guides/ai-search-azure-setup.md
  infrastructure/ai-search/spaarke-discovery-index.json
  projects/spaarke-ai-azure-setup-dev-r1/spec.md
  projects/spaarke-ai-azure-setup-dev-r1/tasks/031-bff-refactor-rag-pipeline.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/046-phase-4-grep-verification.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
  scripts/ai-search/Deploy-AllIndexes.ps1
  src/server/api/Sprk.Bff.Api/Configuration/AiSearchOptions.cs
Owners: @spaarke-dev, @docs-team, @devops-team

chore(config): Group D appsettings + frontend doc-comment cleanup (tasks 038 + 039)
  projects/spaarke-ai-azure-setup-dev-r1/tasks/038-appsettings-templates-cleanup.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/039-frontend-doc-comments-cleanup.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/services/SearchIndexResolver.ts
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  src/solutions/DocumentUploadWizard/src/components/searchIndexResolver.test.ts
Owners: @spaarke-dev

docs(.claude): update indexing-pipeline pattern for canonical index names (task 040)
  .claude/patterns/ai/indexing-pipeline.md
  projects/spaarke-ai-azure-setup-dev-r1/tasks/040-claude-doc-updates.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(spaarke-redis-cache-remediation-r2): lock spec — all 4 design decisions resolved
  projects/spaarke-redis-cache-remediation-r2/design.md
Owners: @spaarke-dev

chore(infra): FR-15 dev BFF KV-reference migration (task 041 — security-sensitive)
  projects/spaarke-ai-azure-setup-dev-r1/notes/kv-migration-verification.md
  projects/spaarke-ai-azure-setup-dev-r1/tasks/041-dev-bff-kv-reference-migration.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(spaarke-redis-cache-remediation-r2): generate AI-optimized spec.md from design.md
  projects/spaarke-redis-cache-remediation-r2/spec.md
Owners: @spaarke-dev

test(bff-api): NFR-14 test-fixture sweep (task 042)
  projects/spaarke-ai-azure-setup-dev-r1/notes/test-fixture-sweep.md
  projects/spaarke-ai-azure-setup-dev-r1/tasks/042-test-fixture-sweep.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/Services/Jobs/RecordSyncJobTests.cs
Owners: @spaarke-dev

chore(verify): Phase 4 final verification + late grep fix (tasks 045 + 046)
  projects/spaarke-ai-azure-setup-dev-r1/notes/phase-4-final-verification.md
  projects/spaarke-ai-azure-setup-dev-r1/tasks/045-bff-publish-size-verification.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/046-phase-4-grep-verification.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/IKnowledgeDeploymentService.cs
Owners: @spaarke-dev

feat(ai-search): deploy 8 schemas to dev + 3 script bugfixes (task 050)
  infrastructure/ai-search/spaarke-insights-index.json
  projects/spaarke-ai-azure-setup-dev-r1/notes/phase-5-deploy-evidence.md
  projects/spaarke-ai-azure-setup-dev-r1/tasks/050-deploy-7-schemas-to-dev.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
  scripts/ai-search/Deploy-AllIndexes.ps1
Owners: @spaarke-dev, @devops-team

chore(spaarke-redis-cache-remediation-r1): final project close-out
  projects/spaarke-redis-cache-remediation-r1/README.md
  projects/spaarke-redis-cache-remediation-r1/current-task.md
Owners: @spaarke-dev, @docs-team

docs(ci-cd-unit-test-remediation-r1): add 082b judgment-pass artifacts (basis for 083 deletion)
  projects/ci-cd-unit-test-remediation-r1/notes/test-inventory-judgment-summary.md
  projects/ci-cd-unit-test-remediation-r1/notes/test-inventory-judgment.csv
Owners: @spaarke-dev

fix(ci-router): quote string-typed input literals to satisfy actionlint
  .github/workflows/ci-router.yml
Owners: @spaarke-dev, @devops-team

feat(ai-search): Phase 5 complete — BFF deploy + 194 docs ingested + 5-endpoint verification (tasks 051+052+054)
  projects/spaarke-ai-azure-setup-dev-r1/notes/phase-5-functional-verification.md
  projects/spaarke-ai-azure-setup-dev-r1/notes/phase-5-ingestion-evidence.md
  projects/spaarke-ai-azure-setup-dev-r1/tasks/051-rag-references-roundtrip-verification.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/052-data-ingestion.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/054-dev-bff-functional-verification.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(ci-cd-unit-test-remediation-r1): add tasks 087+088 (ADR-009+ADR-007 BFF remediation per FR-A06)
  projects/ci-cd-unit-test-remediation-r1/CLAUDE.md
  projects/ci-cd-unit-test-remediation-r1/current-task.md
  projects/ci-cd-unit-test-remediation-r1/spec.md
  projects/ci-cd-unit-test-remediation-r1/tasks/087-fix-adr-009-imemorycache-endpoints.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/088-fix-adr-007-graph-isolation-endpoints.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(spaarke-ai-azure-setup-dev-r1): PROJECT COMPLETE — task 090 wrap-up
  projects/spaarke-ai-azure-setup-dev-r1/README.md
  projects/spaarke-ai-azure-setup-dev-r1/current-task.md
  projects/spaarke-ai-azure-setup-dev-r1/notes/lessons-learned.md
  projects/spaarke-ai-azure-setup-dev-r1/tasks/090-project-wrap-up.poml
  projects/spaarke-ai-azure-setup-dev-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore(dataverse): close Dataverse alignment gap (post-wrap-up backfill)
  projects/spaarke-ai-azure-setup-dev-r1/README.md
  projects/spaarke-ai-azure-setup-dev-r1/notes/dataverse-alignment-evidence.md
  projects/spaarke-ai-azure-setup-dev-r1/scripts/Audit-DataverseAiSearchSurfaces.ps1
  projects/spaarke-ai-azure-setup-dev-r1/scripts/Update-StaleDataverseIndexNames.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

chore(spaarke-redis-cache-remediation-r2): add README with portfolio pointer
  projects/spaarke-redis-cache-remediation-r2/README.md
Owners: @spaarke-dev, @docs-team

chore(config): align resource tracking with canonical 8-index catalog
  config/spaarke-resources.yaml
  src/server/api/Sprk.Bff.Api/appsettings.tokens.md
Owners: @spaarke-dev

fix(bff)(087): ADR-009 — wrap IMemoryCache out of 3 endpoint classes
  src/server/api/Sprk.Bff.Api/Api/Ai/HandlerEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/PlaybookEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/NavMapEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Caching/EndpointResponseCache.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Caching/IEndpointResponseCache.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CacheModule.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/HandlerEndpointsTests.cs
Owners: @spaarke-dev

feat(spaarke-redis-cache-remediation-r2): generate planning artifacts + 17-task WBS
  projects/INDEX.md
  projects/spaarke-redis-cache-remediation-r2/CLAUDE.md
  projects/spaarke-redis-cache-remediation-r2/current-task.md
  projects/spaarke-redis-cache-remediation-r2/design.md
  projects/spaarke-redis-cache-remediation-r2/plan.md
  projects/spaarke-redis-cache-remediation-r2/tasks/001-cache-failures-counter.poml
  projects/spaarke-redis-cache-remediation-r2/tasks/002-meter-consolidation.poml
  projects/spaarke-redis-cache-remediation-r2/tasks/003-resource-by-resource-counters.poml
  projects/spaarke-redis-cache-remediation-r2/tasks/004-bicep-alerts-cache-metrics.poml
  projects/spaarke-redis-cache-remediation-r2/tasks/005-decorator-regression-integration-test.poml
  projects/spaarke-redis-cache-remediation-r2/tasks/006-useazuremonitor-fails-open-guard.poml
  projects/spaarke-redis-cache-remediation-r2/tasks/010-rotate-rediskey-script.poml
  projects/spaarke-redis-cache-remediation-r2/tasks/011-redis-key-rotation-workflow.poml
  projects/spaarke-redis-cache-remediation-r2/tasks/012-per-env-sp-isolation-docs.poml
  projects/spaarke-redis-cache-remediation-r2/tasks/013-runbook-update-redis-rotation.poml
  projects/spaarke-redis-cache-remediation-r2/tasks/014-missed-rotation-alert.poml
  projects/spaarke-redis-cache-remediation-r2/tasks/020-customer-bicep-redis-removal.poml
  projects/spaarke-redis-cache-remediation-r2/tasks/021-customer-bicepparam-cleanup.poml
  projects/spaarke-redis-cache-remediation-r2/tasks/022-deployment-guide-strikethrough-cleanup.poml
  projects/spaarke-redis-cache-remediation-r2/tasks/030-deploy-and-verify-themea-themeb.poml
  projects/spaarke-redis-cache-remediation-r2/tasks/031-close-github-issues.poml
  projects/spaarke-redis-cache-remediation-r2/tasks/032-project-wrap-up.poml
  projects/spaarke-redis-cache-remediation-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(bff-api): add cache.failures Counter + try/catch + ClassifyException (R2 task 001 / FR-01)
  projects/spaarke-redis-cache-remediation-r2/current-task.md
  projects/spaarke-redis-cache-remediation-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/Cache/MetricsDistributedCache.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Cache/TenantCache.cs
Owners: @spaarke-dev

fix(ai-search): comprehensive stale-reference cleanup — P0+P1+P2 (post-audit)
  docs/guides/RAG-CONFIGURATION.md
  infrastructure/ai-search/_archive/discovery-index.json
  infrastructure/ai-search/_archive/spaarke-knowledge-index-v2.json
  projects/spaarke-ai-azure-setup-dev-r1/scripts/Sync-DataverseAiSearchIndexCatalog.ps1
  scripts/backfill-multi-container-multi-index/Audit-MultiContainerMultiIndex-Drift.ps1
  scripts/backfill-multi-container-multi-index/Backfill-MultiContainerMultiIndex-Documents.ps1
  scripts/backfill-multi-container-multi-index/Backfill-MultiContainerMultiIndex-ParentRecords.ps1
  scripts/debug/Check-DocumentInIndex.ps1
  scripts/debug/Query-ByTenant.ps1
  scripts/debug/Query-IndexDocuments.ps1
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/hooks/useSemanticSearch.ts
  src/client/shared/Spaarke.SdapClient/src/SdapApiClient.ts
  src/client/shared/Spaarke.SdapClient/src/types/index.ts
  src/server/api/Sprk.Bff.Api/appsettings.template.json
Owners: @spaarke-dev, @docs-team, @devops-team

fix(daily-briefing-r4): hotfix /narrate IndexOutOfRangeException on empty DocumentIds dispatch
  projects/spaarke-daily-update-service-r4/notes/lessons-learned.md
  projects/spaarke-daily-update-service-r4/notes/uat/narrate-503-hotfix.md
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisOrchestrationService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AnalysisOrchestrationServiceTests.cs
Owners: @spaarke-dev

fix(bff)(088-prep): ADR-007 mechanical refactor — 17 endpoints + foundation
  projects/ci-cd-unit-test-remediation-r1/current-task.md
  projects/ci-cd-unit-test-remediation-r1/notes/088-fileaccess-gap.md
  projects/ci-cd-unit-test-remediation-r1/tasks/087-fix-adr-009-imemorycache-endpoints.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/088b-graph-client-resolution-pushdown.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/ContainerItemEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/DataverseDocumentsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/DocumentsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/OBOEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ConsumingTenantEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerColumnEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerCustomPropertyEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerTypePermissionEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/RecycleBinEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/SearchContainersEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/SearchItemsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/SecurityEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/UploadEndpoints.cs
  src/server/api/Sprk.Bff.Api/Endpoints/SpeAdmin/ContainerPermissionEndpoints.cs
  src/server/api/Sprk.Bff.Api/Endpoints/SpeAdmin/ContainerTypeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Endpoints/SpeAdmin/ContainerTypeSettingsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/GraphCallScope.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/GraphErrorTranslator.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpaarkeStorageException.cs
Owners: @spaarke-dev

feat: complete Group A (tasks 002 + 004 + 006) — Meter consolidation + Bicep alerts + UseAzureMonitor guard
  infrastructure/bicep/alerts.bicep
  projects/spaarke-redis-cache-remediation-r2/current-task.md
  projects/spaarke-redis-cache-remediation-r2/tasks/TASK-INDEX.md
  scripts/Deploy-RedisCache.ps1
  src/server/api/Sprk.Bff.Api/Infrastructure/Cache/MetricsDistributedCache.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Cache/TenantCache.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Caching/CachedAccessDataSource.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/DocumentsModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/SpaarkeCore.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/GraphMetadataCache.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Startup/AzureMonitorGuard.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisRagProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/EmbeddingCache.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/TextExtractorService.cs
  src/server/api/Sprk.Bff.Api/Services/GraphTokenCache.cs
  src/server/api/Sprk.Bff.Api/Telemetry/CacheMetrics.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/Cache/TenantCacheMetricsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/EmbeddingCacheTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Startup/AzureMonitorGuardTests.cs
Owners: @spaarke-dev, @devops-team

feat: complete Group B (tasks 003 + 005) — by_resource Counters + decorator regression test
  projects/spaarke-redis-cache-remediation-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/Cache/TenantCache.cs
  src/server/api/Sprk.Bff.Api/Telemetry/CacheMetrics.cs
  tests/integration/Sprk.Bff.Api.IntegrationTests/Cache/MetricsDistributedCacheRegistrationTests.cs
  tests/integration/Sprk.Bff.Api.IntegrationTests/Services/Ai/Handlers/RecallSessionFileHandlerResolvableTests.cs
Owners: @spaarke-dev

feat: tasks 010 + 012 + 020 — Rotate-RedisKey.ps1 + SP isolation docs + customer.bicep Redis removal
  docs/guides/redis-cache-azure-setup.md
  infrastructure/bicep/customer.bicep
  infrastructure/bicep/customer.json
  projects/spaarke-redis-cache-remediation-r2/notes/customer-bicep-what-if.md
  projects/spaarke-redis-cache-remediation-r2/tasks/TASK-INDEX.md
  scripts/Rotate-RedisKey.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

fix(bff)(088b): push GraphServiceClient resolution into Infrastructure.Graph
  src/server/api/Sprk.Bff.Api/Api/ContainerItemEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/FileAccessEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ConsumingTenantEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerColumnEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerCustomPropertyEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerTypePermissionEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/RecycleBinEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/SearchContainersEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/SearchItemsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/SecurityEndpoints.cs
  src/server/api/Sprk.Bff.Api/Endpoints/SpeAdmin/ContainerPermissionEndpoints.cs
  src/server/api/Sprk.Bff.Api/Endpoints/SpeAdmin/ContainerTypeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Endpoints/SpeAdmin/ContainerTypeSettingsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/DriveItemOperations.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/GraphCallScope.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeFileStore.cs
  src/server/api/Sprk.Bff.Api/Models/SpeFileStoreDtos.cs
Owners: @spaarke-dev

docs(canonical-truth): write playbook runtime + consumer routing + config boundary + deploy recipe canonical docs; resolve duplicates
  .claude/constraints/bff-extensions.md
  docs/architecture/AI-ARCHITECTURE.md
  docs/architecture/ai-architecture-actions-nodes-scopes.md
  docs/architecture/ai-architecture-consumer-routing.md
  docs/architecture/ai-architecture-playbook-runtime.md
  docs/architecture/playbook-architecture.md
  docs/guides/JPS-AUTHORING-GUIDE.md
  docs/guides/PLAYBOOK-AUTHOR-GUIDE.md
  docs/guides/ai-guide-playbook-deploy-recipe.md
  projects/spaarke-daily-update-service-r4/CLAUDE.md
  projects/spaarke-daily-update-service-r4/notes/canonical-truth/01-code-archaeology.md
  projects/spaarke-daily-update-service-r4/notes/canonical-truth/02-docs-survey.md
Owners: @spaarke-dev, @docs-team

feat: tasks 011 + 013 + 014 + 021 + 022 — workflow + runbook + missed-rotation alert + bicepparam + deployment guide cleanup
  .github/workflows/redis-key-rotation.yml
  docs/guides/SPAARKE-DEPLOYMENT-GUIDE.md
  docs/guides/redis-cache-azure-setup.md
  infrastructure/bicep/alerts.bicep
  infrastructure/bicep/parameters/customer-template.bicepparam
  infrastructure/bicep/parameters/customer-template.json
  infrastructure/bicep/parameters/demo-customer.bicepparam
  projects/spaarke-redis-cache-remediation-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @devops-team, @docs-team

docs(canonical-truth): align JPS skills to canonical truth; resolve code-archaeology open questions
  .claude/skills/jps-action-create/SKILL.md
  .claude/skills/jps-playbook-audit/SKILL.md
  .claude/skills/jps-playbook-design/SKILL.md
  .claude/skills/jps-scope-refresh/SKILL.md
  .claude/skills/jps-validate/SKILL.md
  projects/spaarke-daily-update-service-r4/CLAUDE.md
Owners: @spaarke-dev

fix(daily-briefing-r4): canonical playbook deploy to spaarkedev1 (5 playbooks via Deploy-Playbook.ps1; nodes verified)
  projects/spaarke-daily-update-service-r4/notes/uat/r4-canonical-deploy.md
  scripts/Deploy-R4-Playbook-Nodes.ps1
Owners: @spaarke-dev, @devops-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
