Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

checkpoint(uac-r2): Wave A complete 6/6 — handoff before the five work items
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

fix(l2): HANDLER-10 — kvRefIdentityInvalidDetector in FileBicepTemplateInspector (F16 + F16.5)
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/BicepDeployRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/FileBicepTemplateInspector.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/H2aBicepInfraDeployHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/IBicepTemplateInspector.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H2aBicepInfraDeployHandlerTests.cs
Owners: @spaarke-dev

fix(l2): ISH-01 — validate nonSecretParameters['tenantId'] in CreateRun
  src/server/services/Sprk.Provisioning.ControlPlane.Api/Api/RunsEndpoints.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Api/RunsEndpointsTests.cs
Owners: @spaarke-dev

feat(spe-admin 050): container archival (FR-E01) + fix a fabricated container status
  knowledge/sharepoint-embedded/docs/learn-containers.md
  projects/sdap-SPE-admin-app-r2/current-task.md
  projects/sdap-SPE-admin-app-r2/design.md
  projects/sdap-SPE-admin-app-r2/notes/spe-platform-research-2026-08-20.md
  projects/sdap-SPE-admin-app-r2/notes/task-050-findings.md
  projects/sdap-SPE-admin-app-r2/spec.md
  projects/sdap-SPE-admin-app-r2/tasks/050-container-archival.poml
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/solutions/SpeAdminApp/src/components/containers/ContainerDetail.tsx
  src/solutions/SpeAdminApp/src/components/containers/ContainersPage.tsx
  src/solutions/SpeAdminApp/src/services/speApiClient.ts
  src/solutions/SpeAdminApp/src/types/spe.ts
  tests/integration/contract/SpeAdmin/SpeAdminContainerArchivalContractTests.cs
  tests/integration/contract/SpeAdmin/SpeAdminGraphMappingContractTests.cs
Owners: @spaarke-dev, @docs-team

fix(l2): HANDLER-09 — Operator KV RBAC bootstrapper wired into H4 + H4Shared (F15 + F18)
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/ArmOperatorKvRbacBootstrapper.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/H4KvSecretsPopulationHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/H4SharedKvSecretsPopulationHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/IOperatorKvRbacBootstrapper.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/KvSecretsPopulationRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/SharedKvSecretsPopulationRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H4KvSecretsPopulationHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H4SharedKvSecretsPopulationHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev

fix(l2): HANDLER-13 — openaiDeploymentSetPolicy + auto-recompose seam (F5)
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/ArmOpenAiDeploymentSetRecomposer.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/BicepInfraDeployOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/H2aBicepInfraDeployHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/IOpenAiDeploymentSetRecomposer.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H2aBicepInfraDeployHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev

docs(patterns): add inline-lookup-field pattern; use the shared thin scrollbar
  .claude/patterns/ui/INDEX.md
  .claude/patterns/ui/inline-lookup-field.md
  .claude/patterns/ui/record-header-composition.md
  src/client/pcf/RecordHeader/Solution/Controls/sprk_Spaarke.Records.RecordHeader/bundle.js
  src/client/shared/Spaarke.UI.Components/src/components/LookupField/LookupField.tsx
Owners: @spaarke-dev

fix(l2): REG-07 — CreateRun sanity-checks environmentId against registry
  src/server/services/Sprk.Provisioning.ControlPlane.Api/Api/RunsEndpoints.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Api/Program.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Registry/DataverseEnvironmentRegistryClient.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Registry/IDataverseEnvironmentRegistryClient.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Registry/NullDataverseEnvironmentRegistryClient.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Api/RunsEndpointsTests.cs
Owners: @spaarke-dev

docs(uac-r2): task 081 — record the hardening round, P9-P13 matrix, and the retro-check result
  projects/unified-access-control-r2/notes/task-081-caller-classification.md
Owners: @spaarke-dev

docs(pcf): record v1.1.11 UAT pass; correct stale lookup acceptance criteria
  projects/record-header-and-notepad-r2/current-task.md
  projects/record-header-and-notepad-r2/notes/issues/ISSUE-lookup-picker-ux-side-pane.md
  projects/record-header-and-notepad-r2/tasks/002-capture-matter-parity-baseline.poml
  projects/record-header-and-notepad-r2/tasks/023-oob-lookup-cell.poml
  projects/record-header-and-notepad-r2/tasks/050-bind-project-header.poml
  projects/record-header-and-notepad-r2/tasks/051-bind-workassignment-header.poml
  projects/record-header-and-notepad-r2/tasks/061-bind-event-header.poml
  projects/record-header-and-notepad-r2/tasks/070-bind-agreement-header.poml
  projects/record-header-and-notepad-r2/tasks/080-migrate-matter-header.poml
Owners: @spaarke-dev

fix(l2): REG-03 — ClearQuarantine cascade releases CustomerRunGuard
  src/server/services/Sprk.Provisioning.ControlPlane.Api/Api/RunsEndpoints.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Api/RunsEndpointsTests.cs
Owners: @spaarke-dev

docs(ci): correct the shadow window to 14 days per spec.md:156
  projects/ci-cd-unit-test-remediation-r1/notes/HANDOFF-2026-08-27-ci-remediation.md
Owners: @spaarke-dev

docs(uac-r2): 081 hardened — ordering now provably redundant; my risk model was wrong
  projects/unified-access-control-r2/notes/wave2-parallel-merge-plan.md
Owners: @spaarke-dev

docs(spe-admin): file ISS-002 (ArchTest findings) + DEF-001 (dead owning-app code)
  projects/customer-provisioning-orchestration-r1/notes/archtest-findings-from-spe-admin-r2.md
  projects/sdap-SPE-admin-app-r2/notes/cross-project-handoffs.md
Owners: @spaarke-dev

docs(pcf): close task 001 — layoutJson of-type verified against the live form
  projects/record-header-and-notepad-r2/current-task.md
  projects/record-header-and-notepad-r2/notes/spike-layoutjson-ergonomics.md
  projects/record-header-and-notepad-r2/tasks/001-layoutjson-ergonomics-spike.poml
  projects/record-header-and-notepad-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(api)!: make workspace-layout user isolation real (3 independent breaks)
  src/server/api/Sprk.Bff.Api/Api/Filters/WorkspaceLayoutAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/WorkspaceLayoutService.cs
  tests/integration/auth/UnifiedAccessControl/WorkspaceLayoutOwnershipIsolationTests.cs
  tests/integration/contract/Api/Ai/ComposeDispatchEndpointContractTests.cs
  tests/integration/seam/Ai/ActiveDocumentBridgeSeamTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/Workspace/FixtureSystemUserIdentityResolver.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/Workspace/WorkspaceLayoutTestFixture.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/Workspace/WorkspaceTestFixture.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/SendWorkspaceArtifactHandlerTests.cs
Owners: @spaarke-dev

docs(plan): record unified-access-control-r2 coordination + close Q4/Q6
  projects/spaarkeai-compose-r8/notes/caller-identity-and-document-access-plan.md
  projects/spaarkeai-compose-r8/notes/coordination-from-unified-access-control-r2-2026-08-27.md
  projects/spaarkeai-compose-r8/notes/response-to-unified-access-control-r2-2026-08-27.md
Owners: @spaarke-dev

fix(l2): EXEC-07 — release CustomerRunGuard on Resumable/Failed terminal transition
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Rollback/RollbackTransitions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Reconciler/HandlerOutcomeApplierTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Rollback/RollbackTransitionsTests.cs
Owners: @spaarke-dev

spec(ci): shadow-window exit = 20 agreeing code PRs, not 14 calendar days
  docs/guides/GITHUB-ACTIONS-AZURE-OIDC-SETUP.md
  projects/ci-cd-unit-test-remediation-r1/notes/HANDOFF-2026-08-27-ci-remediation.md
  projects/ci-cd-unit-test-remediation-r1/spec.md
Owners: @spaarke-dev, @docs-team

test(l2): REG-01 + REG-02 + REG-07 — extend test-host wiring for Wave 2 changes
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Dispatch/ApiHostShadowWorkerGuardTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H13E2EAcceptanceGateHandlerTests.cs
Owners: @spaarke-dev

docs(notes): receive spaarkeai-compose-r8 response to the coordination doc
  projects/unified-access-control-r2/notes/response-from-spaarkeai-compose-r8-2026-08-27.md
Owners: @spaarke-dev

docs(ci): correct stale storage comment + record the RBAC data-plane blocker
  .github/workflows/publish-provisioning-arm-artifacts.yml
Owners: @spaarke-dev, @devops-team

docs(ci): record the applied storage RBAC grant (RG scope) + MSYS gotcha
  .github/workflows/publish-provisioning-arm-artifacts.yml
Owners: @spaarke-dev, @devops-team

fix(docs): retract false "form not in a shippable solution" finding — all 3 checks pass
  projects/record-header-and-notepad-r2/current-task.md
  projects/record-header-and-notepad-r2/notes/spike-layoutjson-ergonomics.md
  projects/record-header-and-notepad-r2/tasks/001-layoutjson-ergonomics-spike.poml
  projects/record-header-and-notepad-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(l2 tests): SESSION 15 Wave 2 followup — update StateReconcilerServiceTests for 4-way fan-out (HANDLER-01)
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Reconciler/StateReconcilerServiceTests.cs
Owners: @spaarke-dev

feat(spe-admin 051): storage quota (FR-E02, amended) — there is no per-container ceiling
  projects/sdap-SPE-admin-app-r2/current-task.md
  projects/sdap-SPE-admin-app-r2/notes/task-051-findings.md
  projects/sdap-SPE-admin-app-r2/spec.md
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerTypeSettingsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/solutions/SpeAdminApp/src/components/container-types/ContainerTypeSettingsForm.tsx
  src/solutions/SpeAdminApp/src/components/containers/ContainerDetail.tsx
  src/solutions/SpeAdminApp/src/types/spe.ts
  tests/integration/contract/SpeAdmin/SpeAdminContainerQuotaContractTests.cs
Owners: @spaarke-dev

docs(pcf): rewrite the record-header guide from shipped code (task 085)
  .claude/patterns/ui/record-header-composition.md
  docs/guides/RECORD-HEADER-PCF-AUTHORING-GUIDE.md
  projects/record-header-and-notepad-r2/CLAUDE.md
  projects/record-header-and-notepad-r2/tasks/085-rewrite-authoring-guide.poml
  projects/record-header-and-notepad-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(provisioning): SESSION 15 checkpoint — Wave 2 landed, Wave 2.5+3 running
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

PRQ-01 + PRQ-02: fix T-01/T-02 undefined-bash-var trap + mark C-05 server-side-only
  scripts/provisioning-prereqs/prereqs.yaml
Owners: @spaarke-dev, @devops-team

PRQ-04: rewrite PRQ-S-03 loop with failed=0 flag pattern
  scripts/provisioning-prereqs/prereqs.yaml
Owners: @spaarke-dev, @devops-team

docs(notes): receive UAC-r2 coordination Amendments 1 and 2
  projects/spaarkeai-compose-r8/notes/coordination-from-unified-access-control-r2-2026-08-27.md
Owners: @spaarke-dev

PRQ-03: recompute assertion semantics for E-06, E-11, C-01, C-02, C-04, C-06
  scripts/provisioning-prereqs/prereqs.yaml
Owners: @spaarke-dev, @devops-team

PRQ-05: delete PRQ-E-13 from prereqs.yaml (scope mismatch, unfixable at Step 0.5)
  scripts/provisioning-prereqs/prereqs.yaml
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/ArmOpenAiDeploymentSetRecomposer.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/IOpenAiDeploymentSetRecomposer.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/ArmOpenAiDeploymentSetRecomposerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H2aBicepInfraDeployHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev, @devops-team

PRQ-08: T-01/T-02 add jq -e assertion on response body
  scripts/provisioning-prereqs/prereqs.yaml
Owners: @spaarke-dev, @devops-team

fix(l2): HANDLER-08 live impl replaces Wave-2 scaffold — F14 (Org Settings Contract applier)
  scripts/provisioning-prereqs/prereqs.yaml
Owners: @spaarke-dev, @devops-team

docs(notes): compose-r8 status update — #832 merged, tail sweep complete
  projects/unified-access-control-r2/notes/coordination-compose-r8-2026-08-27.md
  projects/unified-access-control-r2/notes/response-from-spaarkeai-compose-r8-2026-08-27.md
Owners: @spaarke-dev

fix(l2): HANDLER-03 live impl replaces Wave-2 scaffold — F1 OpenAI pin freshness
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H0PreflightHandlerTests.cs
Owners: @spaarke-dev

PRQ-09: PRQ-S-02 distinguish 200 / 403 / other (proper HTTP status parsing)
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SolutionImport/PacOrgSettingsContractApplier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H6SolutionImportHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/PacOrgSettingsContractApplierTests.cs
Owners: @spaarke-dev

docs(notes): correct the sequential-form clearance — 2 of 3 were broken
  projects/unified-access-control-r2/notes/response-from-spaarkeai-compose-r8-2026-08-27.md
Owners: @spaarke-dev

docs(notes): sweep is ours and done — supersede the deferral position
  projects/spaarkeai-compose-r8/notes/response-to-unified-access-control-r2-2026-08-27.md
Owners: @spaarke-dev
