Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

chore(customer-provisioning-orchestration-r1): TASK-INDEX 171 -> ✅
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(l2/e2e-acceptance): task 180 -- T4 Exchange policy count probe (sidecar read-route)
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/ExchangePolicyCountT4Probe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/IntegrationWiring/ExchangePolicySidecarReadClient.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/IntegrationWiring/IExchangePolicyReadClient.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/IntegrationWiring/IntegrationWiringModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Sidecar/Listener.ps1
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/ExchangePolicyCountT4ProbeTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/ExchangePolicySidecarReadClientContractTests.cs
Owners: @spaarke-dev

feat(l2/e2e-acceptance): T3 Graph app-role parity trap probe (task 178)
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/GraphAppRoleParityT3Probe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/GraphAppRoleParityT3ProbeTests.cs
Owners: @spaarke-dev

chore(customer-provisioning-orchestration-r1): TASK-INDEX 180 -> ✅
  projects/customer-provisioning-orchestration-r1/tasks/180-t4-exchange-policy-count-probe-sidecar-read-route-pipelined-with-h14a.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

chore(customer-provisioning-orchestration-r1): TASK-INDEX 178 -> ✅
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(compose-r8): initialize project — artifacts, 58-task index, first Track S tasks
  projects/INDEX.md
  projects/spaarkeai-compose-r8/CLAUDE.md
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/plan.md
  projects/spaarkeai-compose-r8/tasks/001-corpus-fixtures-ci-dependency.poml
  projects/spaarkeai-compose-r8/tasks/010-client-save-error-routing.poml
  projects/spaarkeai-compose-r8/tasks/011-last-writer-wins-concurrency.poml
  projects/spaarkeai-compose-r8/tasks/016-save-outcome-contract.poml
  projects/spaarkeai-compose-r8/tasks/018-document-size-ceilings.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(l2/e2e-acceptance): task 183 -- ICostEnvelopeChecker ARM.CostManagement port
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/ArmCostEnvelopeChecker.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/AzCliCostEnvelopeChecker.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/E2EAcceptanceModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Sprk.Provisioning.ControlPlane.Core.csproj
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/ArmCostEnvelopeCheckerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev

chore(customer-provisioning-orchestration-r1): TASK-INDEX 183 -> ✅
  projects/customer-provisioning-orchestration-r1/tasks/183-icostenvelopechecker-arm-costmanagement-port.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

refactor(compose-r8): re-cut task index by file-pass (58→36, zero scope removed)
  projects/spaarkeai-compose-r8/tasks/010-client-save-error-routing.poml
  projects/spaarkeai-compose-r8/tasks/011-last-writer-wins-concurrency.poml
  projects/spaarkeai-compose-r8/tasks/016-save-outcome-contract.poml
  projects/spaarkeai-compose-r8/tasks/018-document-size-ceilings.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
Owners: @spaarke-dev

chore(customer-provisioning-orchestration-r1): context-handoff — Wave G-7 11/17 landed + task 181 IN-FLIGHT (pre-/compact checkpoint)
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

feat(l2/e2e-acceptance): task 181 -- IE2EValidationRunner C# port (replaces Validate-DeployedEnvironment.ps1)
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/E2EAcceptanceModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/E2EValidationRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/ValidateDeployedEnvironmentScriptRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/E2EValidationRunnerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev

chore(customer-provisioning-orchestration-r1): TASK-INDEX 181 -> ✅
  projects/customer-provisioning-orchestration-r1/tasks/181-ie2evalidationrunner-c-port-replaces-validate-deployedenvironment-ps1.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(dataverse): B3 — one live UpdateRecordFieldsAsync + fix 5-month FinanceRollup write failure
  docs/architecture/DATAVERSE-ACCESS-LAYER-ROUTING.md
  projects/INDEX.md
  projects/dataverse-access-unification-r1/README.md
  projects/dataverse-access-unification-r1/design.md
  projects/dataverse-access-unification-r1/notes/auth-v4-coordination-memo.md
  projects/dataverse-access-unification-r1/notes/validation-2026-08-19.md
  src/server/api/Sprk.Bff.Api/Services/Finance/FinanceRollupService.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  tests/integration/contract/Api/Finance/FinanceRollupEndpointsContractTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Finance/FinanceRollupPayloadTests.cs
Owners: @spaarke-dev, @docs-team

docs(finance): correct the FinanceModule job-chain comment + record rollup blast radius
  projects/dataverse-access-unification-r1/notes/validation-2026-08-19.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/FinanceModule.cs
Owners: @spaarke-dev

docs(compose-r8): author the remaining 34 task POMLs (36/36 complete)
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/tasks/002-baseline-and-pr-sequencing.poml
  projects/spaarkeai-compose-r8/tasks/011-concurrency-last-writer-wins.poml
  projects/spaarkeai-compose-r8/tasks/012-save-lifecycle-hardening.poml
  projects/spaarkeai-compose-r8/tasks/013-save-outcome-contract-telemetry.poml
  projects/spaarkeai-compose-r8/tasks/014-reanchor-baseline-integrity.poml
  projects/spaarkeai-compose-r8/tasks/015-document-size-ceilings.poml
  projects/spaarkeai-compose-r8/tasks/016-honest-failure-set.poml
  projects/spaarkeai-compose-r8/tasks/017-track-s-deploy-uat.poml
  projects/spaarkeai-compose-r8/tasks/020-gate-contract.poml
  projects/spaarkeai-compose-r8/tasks/021-corpus-synthetic-r4-breakers.poml
  projects/spaarkeai-compose-r8/tasks/022-corpus-near-tier-documents.poml
  projects/spaarkeai-compose-r8/tasks/023-control-measurement.poml
  projects/spaarkeai-compose-r8/tasks/030-merge-prototype-measurement.poml
  projects/spaarkeai-compose-r8/tasks/031-gate-decision-adr-amendment.poml
  projects/spaarkeai-compose-r8/tasks/040-merge-mechanism.poml
  projects/spaarkeai-compose-r8/tasks/041-opaque-atom-payload-carry.poml
  projects/spaarkeai-compose-r8/tasks/042-comment-anchors-revision-ids.poml
  projects/spaarkeai-compose-r8/tasks/043-capability-gate-edit-a-copy.poml
  projects/spaarkeai-compose-r8/tasks/044-two-document-classes.poml
  projects/spaarkeai-compose-r8/tasks/045-residual-loss-list-adr-amendment.poml
  projects/spaarkeai-compose-r8/tasks/050-adr-043-041-assessment.poml
  projects/spaarkeai-compose-r8/tasks/051-anchor-supply.poml
  projects/spaarkeai-compose-r8/tasks/052-retire-text-search-path.poml
  projects/spaarkeai-compose-r8/tasks/053-bounded-confirmable-fallback.poml
  projects/spaarkeai-compose-r8/tasks/060-durable-byte-store.poml
  projects/spaarkeai-compose-r8/tasks/061-lazy-reindex-cleanup.poml
  projects/spaarkeai-compose-r8/tasks/062-retention-availability.poml
  projects/spaarkeai-compose-r8/tasks/063-erasure-tenant-isolation.poml
  projects/spaarkeai-compose-r8/tasks/070-decompose-compose-service.poml
  projects/spaarkeai-compose-r8/tasks/071-decompose-projection-builder.poml
  projects/spaarkeai-compose-r8/tasks/072-decompose-document-renderer.poml
  projects/spaarkeai-compose-r8/tasks/073-decompose-compose-endpoints.poml
  projects/spaarkeai-compose-r8/tasks/074-retire-shadow-patch-engine.poml
  projects/spaarkeai-compose-r8/tasks/090-wrapup.poml
Owners: @spaarke-dev

feat(l2/e2e-acceptance): task 184 -- H13 real Ready writer (THE acceptance-target transition)
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/DataverseRegistrySetupStatusUpdater.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/E2EAcceptanceModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Registry/DataverseEnvironmentRegistryClient.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/E2EAcceptance/DataverseRegistrySetupStatusUpdaterTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Registry/DataverseEnvironmentRegistryClientTests.cs
Owners: @spaarke-dev

chore(customer-provisioning-orchestration-r1): TASK-INDEX 184 -> ✅
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

refactor(quality): retire God-class LOC ratchet → complexity guidance (evaluate complexity, not line count)
  .claude/CHANGELOG.md
  .claude/patterns/INDEX.md
  .claude/patterns/testing/INDEX.md
  .claude/patterns/testing/god-class-ratchet.md
  .claude/skills/code-review/SKILL.md
  .claude/skills/task-create/SKILL.md
  CLAUDE.md
  docs/standards/COMPONENT-COMPLEXITY.md
  docs/standards/INDEX.md
  scripts/report-large-server-files.ps1
  tests/Spaarke.ArchTests/GodClassGuardTests.cs
Owners: @spaarke-dev, @docs-team, @devops-team

feat(customer-provisioning-orchestration-r1): task 185 -- H13 CompositeTrapVerifier + wire 6 real trap probes
  projects/customer-provisioning-orchestration-r1/tasks/185-h13-gate-aggregation-wiring-assemble-all-11-probes-3-runners-ready-writer.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/CompositeTrapVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/DataverseAppUserPairT2Probe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/E2EAcceptanceModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/ExchangePolicyCountT4Probe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/GraphAppRoleParityT3Probe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/ITrapProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/KeyVaultReferenceIdentityT1Probe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/T5SlotMiKvRbacTrapProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/T6SpeConfidentialClientTrapProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/E2EAcceptance/TrapProbeDeferralMessages.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/CompositeTrapVerifierTests.cs
Owners: @spaarke-dev

checkpoint(quality): context-handoff 2026-08-20 — god-class retired, #3b live, auth-v4 researched, SPE-admin r1/r2
  projects/code-quality-and-assurance-r3/current-task.md
Owners: @spaarke-dev

fix(docs): correct Finding A severity -- Bicep IaC does not describe the live dev env
  infrastructure/bicep/stacks/dev.bicepparam
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/001-slot-creation.md
  projects/spaarke-auth-v4-dataverse-MI/notes/defer-issues.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
Owners: @spaarke-dev

checkpoint(notification-spine): context-handoff — doc-reconciliation + OOB-notifications spec in flight
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/appnotification-modal-click-schema-2026-08-20.md
  projects/spaarke-notification-spine-r1/current-task.md
Owners: @spaarke-dev

docs(quality): re-base project docs on the retired LOC ratchet + SPE Admin lineage
  projects/dataverse-access-unification-r1/README.md
  projects/dataverse-access-unification-r1/design.md
  projects/dataverse-access-unification-r1/notes/validation-2026-08-19.md
Owners: @spaarke-dev, @docs-team

feat(l2/e2e-acceptance): task 186 -- Phase F E2E acceptance real-run + composition-root gate (WAVE G-7 COMPLETE)
  projects/customer-provisioning-orchestration-r1/notes/phase-c-double-prime-e2e-acceptance-real-run.md
  projects/customer-provisioning-orchestration-r1/notes/phase-f-e2e-acceptance-2026-08-18.md
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/E2EAcceptance/E2EAcceptanceCompositionRootTests.cs
Owners: @spaarke-dev

chore(customer-provisioning-orchestration-r1): TASK-INDEX + POML 186 -> authoring/framework-proof complete, live-ceremony pending (WAVE G-7 CLOSE)
  projects/customer-provisioning-orchestration-r1/tasks/186-real-phase-f-e2e-acceptance-rerun-task-089-for-real-this-time.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(compose): route client save errors on ApiError.status (r8 task 010, FR-S01)
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/tasks/010-client-save-error-routing.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.renderOnSave.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.saveErrorRouting.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.saveOpLogPreservation.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
Owners: @spaarke-dev

chore(customer-provisioning-orchestration-r1): context-handoff — PHASE C'' 100% COMPLETE (pre-/compact final checkpoint)
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

spike(002): MI-FIC OBO proof harness — THROWAWAY, DO NOT MERGE
  src/server/api/Sprk.Bff.Api/Api/SpikeOboEndpoints.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
Owners: @spaarke-dev

feat(auth-v4): task 002 PASSED — OBO proven under a MI-issued client assertion
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/002-spike-results.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/002-spike-obo-under-mi-fic.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/CLAUDE.md
Owners: @spaarke-dev

docs(compose-r8): add task 018 — Compose client CI gate (Track S enforcement)
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/tasks/017-track-s-deploy-uat.poml
  projects/spaarkeai-compose-r8/tasks/018-compose-client-ci-gate.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(auth-v4): task 003 — record the credential decision; MI-FIC ADOPTED
  .claude/CHANGELOG.md
  .claude/adr/ADR-028-spaarke-auth-architecture.md
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/design.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/003-credential-decision.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/003-record-credential-decision.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(notifications): reconcile spine docs to reality + hydrate spaarke-notification-spine-r2
  docs/architecture/ASSISTANT-SURFACE-LAUNCH-MECHANISM.md
  docs/architecture/SPAARKE-NOTIFICATION-SPINE-ARCHITECTURE.md
  docs/data-model/sprk_notificationoutbox.md
  docs/guides/NOTIFICATIONS-AND-SUGGESTIONS-USER-GUIDE.md
  docs/standards/ASSISTANT-UI-ELEMENT-CRITERIA.md
  projects/spaarke-notification-spine-r1/current-task.md
  projects/spaarke-notification-spine-r1/notes/handoffs/CROSS-PROJECT-CONSUMPTION-REPORT.md
  projects/spaarke-notification-spine-r2/CLAUDE.md
  projects/spaarke-notification-spine-r2/README.md
  projects/spaarke-notification-spine-r2/current-task.md
  projects/spaarke-notification-spine-r2/notes/INVESTIGATION-AND-ASSESSMENT.md
Owners: @spaarke-dev, @docs-team

docs(unified-access-control-r2): initialize project README
  projects/unified-access-control-r2/README.md
Owners: @spaarke-dev, @docs-team

feat(compose): last-writer-wins concurrency with If-Match (r8 task 011, FR-S02/A12)
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/adr-043-041-assessment.md
  projects/spaarkeai-compose-r8/notes/baseline-and-sequencing.md
  projects/spaarkeai-compose-r8/notes/ci-corpus-dependency.md
  projects/spaarkeai-compose-r8/tasks/011-concurrency-last-writer-wins.poml
  projects/spaarkeai-compose-r8/tasks/050-adr-043-041-assessment.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeBannerStack.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.saveErrorRouting.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/server/api/Sprk.Bff.Api/Api/ComposeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  tests/integration/regression/Compose/Def14_ComposeSaveLockedDocumentTests.cs
  tests/integration/seam/Compose/ComposeCleanApplySeamTests.cs
  tests/integration/seam/Compose/ComposeFidelityGateHarnessTests.cs
  tests/integration/seam/Compose/ComposeFidelityRoundTripSeamTests.cs
  tests/integration/seam/Compose/ComposePartialApplyRecoverySeamTests.cs
  tests/integration/seam/Compose/ComposePhase1IngestSeamTests.cs
  tests/integration/seam/Compose/ConcurrencySaveSeamTests.cs
  tests/integration/seam/Compose/RenderOnSaveSeamTests.cs
Owners: @spaarke-dev

docs(r1): 5-Fable-reviewer post-authoring audit -- 30 gaps identified before E2E
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/notes/post-authoring-audit-2026-08-20.md
Owners: @spaarke-dev

fix(scripts): G-8 Batch 5 -- Grant-ControlPlaneIdentity.ps1 $LASTEXITCODE-after-pipe fix (task 113 pattern back-port)
  scripts/provisioning/Grant-ControlPlaneIdentity.ps1
Owners: @spaarke-dev, @devops-team

fix(bicep-worker): G-8 Batch 3 -- Worker boot-blocker fixes (Redis app-setting + 3 artifacts URI settings)
  infrastructure/bicep/modules/controlplane-worker-app-service.bicep
Owners: @spaarke-dev

feat(scripts): G-8 Batch 4 -- L2 kvRefIdentity PATCH + NEW Seed-PlatformKeyVault.ps1
  scripts/provisioning/Deploy-ControlPlane.ps1
  scripts/provisioning/Seed-PlatformKeyVault.ps1
Owners: @spaarke-dev, @devops-team

fix(bicep-customer): G-8 Batch 1 -- 5 silent-fail defects (Cosmos RBAC + Storage RBAC + bffApi appSettings + kv-secrets skip-if-exists + healthCheckPath default)
  infrastructure/bicep/customer.bicep
  infrastructure/bicep/customer.json
  infrastructure/bicep/modules/app-service.bicep
  infrastructure/bicep/stacks/model1-shared.json
  infrastructure/bicep/stacks/model2-full.json
  scripts/canonical-secret-catalog/Invoke-CatalogGenerator.ps1
  scripts/canonical-secret-catalog/generated/kv-secrets.generated.bicep
Owners: @spaarke-dev, @devops-team

feat(bicep-platform): G-8 Batch 2 -- artifacts-storage + ACR modules + UAMI subscription Contributor + Path-Y deletion + top-level ACR params
  infrastructure/bicep/modules/controlplane-acr.bicep
  infrastructure/bicep/modules/controlplane-app-service.bicep
  infrastructure/bicep/modules/controlplane-app-service.json
  infrastructure/bicep/modules/controlplane-artifacts-storage.bicep
  infrastructure/bicep/modules/controlplane-subscription-rbac.bicep
  infrastructure/bicep/modules/controlplane-worker-app-service.bicep
  infrastructure/bicep/platform-controlplane.bicep
  infrastructure/bicep/platform-controlplane.json
Owners: @spaarke-dev
