Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(api): implement structured output extraction for Document Profile playbook
  docs/architecture/AI-PLAYBOOK-ARCHITECTURE.md
  projects/ai-summary-and-analysis-enhancements/architecture-investigation.md
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisOrchestrationService.cs
Owners: @spaarke-dev, @docs-team

test(auth): update test mocks for OBO authentication signatures
  tests/integration/Spe.Integration.Tests/AuthorizationIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/AuthorizationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Filters/AiAuthorizationFilterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Filters/AnalysisAuthorizationFilterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AiAuthorizationServiceTests.cs
Owners: @spaarke-dev

chore: relocate RIGOR-LEVEL-IMPLEMENTATION.md to skills directory
  .claude/skills/RIGOR-LEVEL-IMPLEMENTATION.md
Owners: @spaarke-dev

feat(ai): initialize Azure AI Search Module project
  projects/ai-azure-search-module/DESIGN.md
Owners: @spaarke-dev

feat(ai-playbook): complete Phase 1 tasks 001-004
  projects/ai-node-playbook-builder/current-task.md
  projects/ai-node-playbook-builder/notes/schema-design.md
  projects/ai-node-playbook-builder/notes/schema-import-instructions.md
  projects/ai-node-playbook-builder/tasks/001-design-dataverse-schema.poml
  projects/ai-node-playbook-builder/tasks/002-implement-dataverse-schema.poml
  projects/ai-node-playbook-builder/tasks/003-create-node-service.poml
  projects/ai-node-playbook-builder/tasks/004-extend-scope-resolver.poml
  projects/ai-node-playbook-builder/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Models/Ai/PlaybookNodeDto.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/INodeService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IScopeResolverService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NodeService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ScopeResolverService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/NodeServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ScopeResolverServiceTests.cs
Owners: @spaarke-dev

feat(email): complete Phase 2 deploy verification (task 019)
  projects/email-to-document-automation/README.md
  projects/email-to-document-automation/current-task.md
  projects/email-to-document-automation/tasks/019-phase-2-deploy.poml
  projects/email-to-document-automation/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/appsettings.template.json
Owners: @spaarke-dev, @docs-team

feat(ai): implement Phase 1 visualization API infrastructure (tasks 001-006)
  infrastructure/ai-search/spaarke-knowledge-index.json
  projects/ai-azure-search-module/current-task.md
  projects/ai-azure-search-module/notes/001-schema-update.md
  projects/ai-azure-search-module/tasks/001-update-index-schema.poml
  projects/ai-azure-search-module/tasks/002-create-visualization-interface.poml
  projects/ai-azure-search-module/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/VisualizationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/VisualizationAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Visualization/IVisualizationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Visualization/VisualizationService.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/DocumentVectorBackfillService.cs
Owners: @spaarke-dev

chore(tasks): add missing POML task files for phases 1-5
  projects/email-to-document-automation/tasks/003-add-alternate-key-idempotency.poml
  projects/email-to-document-automation/tasks/009-phase-1-deploy.poml
  projects/email-to-document-automation/tasks/013-create-email-filter-service.poml
  projects/email-to-document-automation/tasks/014-seed-default-exclusion-rules.poml
  projects/email-to-document-automation/tasks/015-add-application-insights-events.poml
  projects/email-to-document-automation/tasks/016-register-dataverse-webhook.poml
  projects/email-to-document-automation/tasks/021-add-tracking-token-matching.poml
  projects/email-to-document-automation/tasks/022-implement-attachment-processor.poml
  projects/email-to-document-automation/tasks/023-create-association-preview-endpoint.poml
  projects/email-to-document-automation/tasks/024-unit-tests-association-methods.poml
  projects/email-to-document-automation/tasks/029-phase-3-deploy.poml
  projects/email-to-document-automation/tasks/031-create-email-ribbon-button.poml
  projects/email-to-document-automation/tasks/032-implement-email-actions-webresource.poml
  projects/email-to-document-automation/tasks/033-integrate-ai-processing-enqueue.poml
  projects/email-to-document-automation/tasks/034-create-admin-monitoring-pcf.poml
  projects/email-to-document-automation/tasks/039-phase-4-deploy.poml
  projects/email-to-document-automation/tasks/040-implement-batch-process-endpoint.poml
  projects/email-to-document-automation/tasks/041-create-batch-status-endpoint.poml
  projects/email-to-document-automation/tasks/042-implement-batch-job-handler.poml
  projects/email-to-document-automation/tasks/043-add-dlq-handling.poml
  projects/email-to-document-automation/tasks/044-performance-tuning-load-testing.poml
  projects/email-to-document-automation/tasks/049-phase-5-deploy.poml
  projects/email-to-document-automation/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(api): resolve Kiota package version mismatch for deployment
  projects/ai-azure-search-module/current-task.md
  projects/ai-azure-search-module/notes/008-deployment-log.md
  projects/ai-azure-search-module/tasks/008-deploy-phase1-api.poml
  projects/ai-azure-search-module/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
Owners: @spaarke-dev

docs: add Kiota package management guidance
  docs/architecture/sdap-troubleshooting.md
  src/server/api/Sprk.Bff.Api/CLAUDE.md
Owners: @spaarke-dev, @docs-team

feat(email): implement Phase 3 association and attachment services
  projects/email-to-document-automation/tasks/020-implement-association-service.poml
  projects/email-to-document-automation/tasks/021-add-tracking-token-matching.poml
  src/server/api/Sprk.Bff.Api/Api/EmailEndpoints.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailAssociationService.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailAttachmentProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Email/IEmailAssociationService.cs
  src/server/api/Sprk.Bff.Api/Services/Email/IEmailAttachmentProcessor.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Email/EmailAssociationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Email/EmailAttachmentProcessorTests.cs
Owners: @spaarke-dev

chore(tasks): mark Phase 3 deploy complete, advance to Phase 4
  projects/email-to-document-automation/current-task.md
  projects/email-to-document-automation/tasks/029-phase-3-deploy.poml
  projects/email-to-document-automation/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(ai): complete Phase 1 Node Playbook Builder + Dataverse schema skill
  .claude/skills/INDEX.md
  .claude/skills/dataverse-create-schema/SKILL.md
  docs/guides/DATAVERSE-HOW-TO-CREATE-UPDATE-SCHEMA.md
  projects/ai-node-playbook-builder/current-task.md
  projects/ai-node-playbook-builder/notes/phase1-deployment-notes.md
  projects/ai-node-playbook-builder/scripts/Create-NNRelationships.ps1
  projects/ai-node-playbook-builder/scripts/Deploy-PlaybookNodeSchema.ps1
  projects/ai-node-playbook-builder/scripts/Fix-PlaybookNodeAttributes.ps1
  projects/ai-node-playbook-builder/tasks/005-create-execution-graph.poml
  projects/ai-node-playbook-builder/tasks/006-create-ai-analysis-executor.poml
  projects/ai-node-playbook-builder/tasks/007-create-orchestration-service.poml
  projects/ai-node-playbook-builder/tasks/008-create-node-endpoints.poml
  projects/ai-node-playbook-builder/tasks/009-phase1-tests-deploy.poml
  projects/ai-node-playbook-builder/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/NodeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/PlaybookRunEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/PlaybookDto.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ExecutionGraph.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IPlaybookOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NodeExecutionContext.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NodeOutput.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/AiAnalysisNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/INodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/INodeExecutorRegistry.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/NodeExecutorRegistry.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookRunContext.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/NodeEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/PlaybookRunEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/CustomWebAppFactory.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ExecutionGraphTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/AiAnalysisNodeExecutorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PlaybookOrchestrationServiceTests.cs
Owners: @spaarke-dev, @docs-team, @devops-team

feat(pcf): implement Phase 2 PCF control with component tests (tasks 010-017)
  projects/ai-azure-search-module/current-task.md
  projects/ai-azure-search-module/tasks/007-unit-tests-visualization.poml
  projects/ai-azure-search-module/tasks/010-scaffold-pcf-control.poml
  projects/ai-azure-search-module/tasks/011-integrate-react-flow.poml
  projects/ai-azure-search-module/tasks/012-implement-document-node.poml
  projects/ai-azure-search-module/tasks/013-implement-document-edge.poml
  projects/ai-azure-search-module/tasks/014-implement-control-panel.poml
  projects/ai-azure-search-module/tasks/015-implement-action-bar.poml
  projects/ai-azure-search-module/tasks/016-implement-fullscreen-modal.poml
  projects/ai-azure-search-module/tasks/017-component-tests-pcf.poml
  projects/ai-azure-search-module/tasks/TASK-INDEX.md
  src/client/pcf/DocumentRelationshipViewer/.gitignore
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer.pcfproj
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/ControlManifest.Input.xml
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/DocumentRelationshipViewer.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/__tests__/ControlPanel.test.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/__tests__/DocumentGraph.test.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/__tests__/DocumentNode.test.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/__tests__/NodeActionBar.test.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/components/ControlPanel.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/components/DocumentEdge.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/components/DocumentGraph.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/components/DocumentNode.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/components/NodeActionBar.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/components/RelationshipViewerModal.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/hooks/useForceLayout.ts
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/index.ts
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/types/graph.ts
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/types/index.ts
  src/client/pcf/DocumentRelationshipViewer/__mocks__/fileMock.js
  src/client/pcf/DocumentRelationshipViewer/eslint.config.mjs
  src/client/pcf/DocumentRelationshipViewer/featureconfig.json
  src/client/pcf/DocumentRelationshipViewer/jest.config.js
  src/client/pcf/DocumentRelationshipViewer/jest.setup.ts
  src/client/pcf/DocumentRelationshipViewer/package-lock.json
  src/client/pcf/DocumentRelationshipViewer/package.json
  src/client/pcf/DocumentRelationshipViewer/pcfconfig.json
  src/client/pcf/DocumentRelationshipViewer/tsconfig.json
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Visualization/VisualizationServiceTests.cs
Owners: @spaarke-dev

feat(email): complete Phase 4 UI Integration deployment
  infrastructure/dataverse/ribbon/EmailRibbons/Entities/email/Entity.xml
  infrastructure/dataverse/ribbon/EmailRibbons/Entities/email/RibbonDiff.xml
  infrastructure/dataverse/ribbon/EmailRibbons/Other/Customizations.xml
  infrastructure/dataverse/ribbon/EmailRibbons/Other/Solution.xml
  infrastructure/dataverse/ribbon/EmailRibbons/WebResources/sprk_emailactions.js
  projects/email-to-document-automation/tasks/031-create-email-ribbon-button.poml
  projects/email-to-document-automation/tasks/034-create-admin-monitoring-pcf.poml
  projects/email-to-document-automation/tasks/039-phase-4-deploy.poml
  projects/email-to-document-automation/tasks/TASK-INDEX.md
  src/client/pcf/EmailProcessingMonitor/.gitignore
  src/client/pcf/EmailProcessingMonitor/EmailProcessingMonitor.pcfproj
  src/client/pcf/EmailProcessingMonitor/Solution/.gitignore
  src/client/pcf/EmailProcessingMonitor/Solution/EmailProcessingMonitorSolution.cdsproj
  src/client/pcf/EmailProcessingMonitor/Solution/src/Other/Customizations.xml
  src/client/pcf/EmailProcessingMonitor/Solution/src/Other/Relationships.xml
  src/client/pcf/EmailProcessingMonitor/Solution/src/Other/Solution.xml
  src/client/pcf/EmailProcessingMonitor/control/AuthService.ts
  src/client/pcf/EmailProcessingMonitor/control/ControlManifest.Input.xml
  src/client/pcf/EmailProcessingMonitor/control/EmailProcessingDashboard.tsx
  src/client/pcf/EmailProcessingMonitor/control/css/EmailProcessingMonitor.css
  src/client/pcf/EmailProcessingMonitor/control/icons.tsx
  src/client/pcf/EmailProcessingMonitor/control/index.ts
  src/client/pcf/EmailProcessingMonitor/control/strings/EmailProcessingMonitor.1033.resx
  src/client/pcf/EmailProcessingMonitor/control/types.ts
  src/client/pcf/EmailProcessingMonitor/eslint.config.mjs
  src/client/pcf/EmailProcessingMonitor/package.json
  src/client/pcf/EmailProcessingMonitor/pcfconfig.json
  src/client/pcf/EmailProcessingMonitor/tsconfig.json
  src/client/webresources/js/sprk_emailactions.js
  src/server/api/Sprk.Bff.Api/Api/EmailEndpoints.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailAttachmentProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailProcessingStatsService.cs
  src/server/api/Sprk.Bff.Api/Services/Email/IEmailAttachmentProcessor.cs
  src/server/api/Sprk.Bff.Api/Telemetry/EmailTelemetry.cs
Owners: @spaarke-dev

feat(email): complete Phase 5 batch processing and project wrap-up
  projects/email-to-document-automation/PLAN.md
  projects/email-to-document-automation/README.md
  projects/email-to-document-automation/current-task.md
  projects/email-to-document-automation/docs/ADMIN-GUIDE.md
  projects/email-to-document-automation/docs/DEPLOYMENT-CHECKLIST.md
  projects/email-to-document-automation/docs/RUNBOOK.md
  projects/email-to-document-automation/docs/WEBHOOK-REGISTRATION.md
  projects/email-to-document-automation/lessons-learned.md
  projects/email-to-document-automation/tasks/040-implement-batch-process-endpoint.poml
  projects/email-to-document-automation/tasks/041-create-batch-status-endpoint.poml
  projects/email-to-document-automation/tasks/042-implement-batch-job-handler.poml
  projects/email-to-document-automation/tasks/043-add-dlq-handling.poml
  projects/email-to-document-automation/tasks/044-performance-tuning-load-testing.poml
  projects/email-to-document-automation/tasks/049-phase-5-deploy.poml
  projects/email-to-document-automation/tasks/090-project-wrap-up.poml
  projects/email-to-document-automation/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/EmailEndpoints.cs
  src/server/api/Sprk.Bff.Api/Configuration/EmailProcessingOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/WorkersModule.cs
  src/server/api/Sprk.Bff.Api/Models/Email/BatchProcessModels.cs
  src/server/api/Sprk.Bff.Api/Models/Jobs/DlqModels.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/BatchJobStatusStore.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/DeadLetterQueueService.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/BatchProcessEmailsJobHandler.cs
  src/server/api/Sprk.Bff.Api/Telemetry/EmailTelemetry.cs
  tests/load/README.md
  tests/load/batch-processing.k6.js
  tests/load/webhook-processing.k6.js
Owners: @spaarke-dev, @docs-team

fix(ai-playbook): CSP headers for iframe embedding + PCF v1.2.0
  src/client/pcf/PlaybookBuilderHost/control/ControlManifest.Input.xml
  src/client/pcf/PlaybookBuilderHost/control/PlaybookBuilderHost.tsx
  src/client/pcf/PlaybookBuilderHost/control/index.ts
  src/server/api/Sprk.Bff.Api/Api/SecurityHeadersMiddleware.cs
Owners: @spaarke-dev

feat(pcf): deploy and refine DocumentRelationshipViewer v1.0.16 (tasks 018-020)
  projects/ai-azure-search-module/current-task.md
  projects/ai-azure-search-module/notes/009-pcf-deployment-guide.md
  projects/ai-azure-search-module/tasks/018-integration-tests-search.poml
  projects/ai-azure-search-module/tasks/019-deploy-phase2-pcf.poml
  projects/ai-azure-search-module/tasks/020-register-pcf-on-form.poml
  projects/ai-azure-search-module/tasks/TASK-INDEX.md
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/ControlManifest.Input.xml
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/DocumentRelationshipViewer.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/__tests__/ControlPanel.test.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/__tests__/DocumentGraph.test.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/components/DocumentGraph.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/components/DocumentNode.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/components/RelationshipViewerModal.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/hooks/useForceLayout.ts
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/types/graph.ts
  src/client/pcf/DocumentRelationshipViewer/package-lock.json
  src/client/pcf/DocumentRelationshipViewer/package.json
  tests/integration/Spe.Integration.Tests/VisualizationIntegrationTests.cs
Owners: @spaarke-dev

feat(ai): wire up visualization API and fix documentVector gap
  projects/ai-azure-search-module/current-task.md
  projects/ai-azure-search-module/tasks/TASK-INDEX.md
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/ControlManifest.Input.xml
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/DocumentRelationshipViewer.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/hooks/useVisualizationApi.ts
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/services/VisualizationApiService.ts
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/types/api.ts
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/types/index.ts
  src/client/pcf/DocumentRelationshipViewer/package-lock.json
  src/client/pcf/DocumentRelationshipViewer/package.json
  src/server/api/Sprk.Bff.Api/Models/Ai/KnowledgeDocument.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/RagService.cs
Owners: @spaarke-dev

fix(pcf): iframe embedding fixes for PlaybookBuilderHost v1.2.4
  src/client/pcf/PlaybookBuilderHost/control/ControlManifest.Input.xml
  src/client/pcf/PlaybookBuilderHost/control/PlaybookBuilderHost.tsx
  src/client/pcf/PlaybookBuilderHost/control/index.ts
  src/server/api/Sprk.Bff.Api/Program.cs
Owners: @spaarke-dev

feat(ai): complete Phase 5a schema extension for visualization (tasks 025, 040-043)
  infrastructure/ai-search/spaarke-knowledge-index-migration.json
  infrastructure/ai-search/spaarke-knowledge-index-v2.json
  projects/ai-azure-search-module/current-task.md
  projects/ai-azure-search-module/notes/024-index-schema-unification.md
  projects/ai-azure-search-module/tasks/025-fix-azure-index-config.poml
  projects/ai-azure-search-module/tasks/040-create-rag-index-v2-schema.poml
  projects/ai-azure-search-module/tasks/041-add-migration-fields-to-index.poml
  projects/ai-azure-search-module/tasks/042-update-knowledge-document-model.poml
  projects/ai-azure-search-module/tasks/043-update-rag-service-indexing.poml
  projects/ai-azure-search-module/tasks/050-update-embedding-configuration.poml
  projects/ai-azure-search-module/tasks/051-add-3072-vector-fields.poml
  projects/ai-azure-search-module/tasks/052-create-embedding-migration-service.poml
  projects/ai-azure-search-module/tasks/053-run-embedding-migration.poml
  projects/ai-azure-search-module/tasks/060-update-visualization-service.poml
  projects/ai-azure-search-module/tasks/061-update-visualization-dtos.poml
  projects/ai-azure-search-module/tasks/062-update-pcf-types.poml
  projects/ai-azure-search-module/tasks/063-update-document-node-icons.poml
  projects/ai-azure-search-module/tasks/064-unit-tests-new-scenarios.poml
  projects/ai-azure-search-module/tasks/070-remove-deprecated-fields.poml
  projects/ai-azure-search-module/tasks/071-update-azure-configuration.poml
  projects/ai-azure-search-module/tasks/072-e2e-regression-testing.poml
  projects/ai-azure-search-module/tasks/TASK-INDEX.md
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/ControlManifest.Input.xml
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/DocumentRelationshipViewer.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/index.ts
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/services/auth/MsalAuthProvider.ts
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/services/auth/msalConfig.ts
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/types/auth.ts
  src/client/pcf/DocumentRelationshipViewer/package-lock.json
  src/client/pcf/DocumentRelationshipViewer/package.json
  src/server/api/Sprk.Bff.Api/Models/Ai/KnowledgeDocument.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IRagService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/KnowledgeDeploymentService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/RagService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/RagServiceTests.cs
Owners: @spaarke-dev

feat(ai): complete Phase 5b-5c schema migration and PCF updates (tasks 050-063)
  docs/architecture/auth-AI-azure-resources.md
  infrastructure/ai-search/Test-KnowledgeIndex-3072Vectors.ps1
  infrastructure/ai-search/Update-KnowledgeIndex-3072Vectors.ps1
  projects/ai-azure-search-module/current-task.md
  projects/ai-azure-search-module/tasks/050-update-embedding-configuration.poml
  projects/ai-azure-search-module/tasks/051-add-3072-vector-fields.poml
  projects/ai-azure-search-module/tasks/052-create-embedding-migration-service.poml
  projects/ai-azure-search-module/tasks/053-run-embedding-migration.poml
  projects/ai-azure-search-module/tasks/060-update-visualization-service.poml
  projects/ai-azure-search-module/tasks/061-update-visualization-dtos.poml
  projects/ai-azure-search-module/tasks/062-update-pcf-types.poml
  projects/ai-azure-search-module/tasks/063-update-document-node-icons.poml
  projects/ai-azure-search-module/tasks/TASK-INDEX.md
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/DocumentRelationshipViewer.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/components/DocumentNode.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/components/NodeActionBar.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/services/VisualizationApiService.ts
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/types/api.ts
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/types/graph.ts
  src/server/api/Sprk.Bff.Api/Configuration/DocumentIntelligenceOptions.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IOpenAiClient.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/OpenAiClient.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Visualization/IVisualizationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Visualization/VisualizationService.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/EmbeddingMigrationService.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/RagServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Visualization/VisualizationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Jobs/EmbeddingMigrationServiceTests.cs
Owners: @spaarke-dev, @docs-team

feat(ai): complete Phase 5d cutover - remove deprecated fields and verify (tasks 070-072)
  infrastructure/ai-search/Index-TestDocuments.ps1
  infrastructure/ai-search/Test-E2E-Visualization.ps1
  projects/ai-azure-search-module/current-task.md
  projects/ai-azure-search-module/notes/071-final-configuration-state.md
  projects/ai-azure-search-module/notes/072-e2e-test-report.md
  projects/ai-azure-search-module/tasks/064-unit-tests-new-scenarios.poml
  projects/ai-azure-search-module/tasks/070-remove-deprecated-fields.poml
  projects/ai-azure-search-module/tasks/071-update-azure-configuration.poml
  projects/ai-azure-search-module/tasks/072-e2e-regression-testing.poml
  projects/ai-azure-search-module/tasks/TASK-INDEX.md
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/__tests__/DocumentNode.test.tsx
  src/server/api/Sprk.Bff.Api/Configuration/DocumentIntelligenceOptions.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/KnowledgeDocument.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/RagService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Visualization/VisualizationService.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/RagServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Visualization/VisualizationServiceTests.cs
Owners: @spaarke-dev

feat(ai): complete AI Search & Visualization Module (task 090)
  projects/ai-azure-search-module/CLAUDE.md
  projects/ai-azure-search-module/README.md
  projects/ai-azure-search-module/current-task.md
  projects/ai-azure-search-module/lessons-learned.md
  projects/ai-azure-search-module/tasks/090-project-wrap-up.poml
  projects/ai-azure-search-module/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs: update architecture docs with AI Search & Visualization Module
  docs/architecture/auth-AI-azure-resources.md
  docs/architecture/sdap-component-interactions.md
  docs/guides/SPAARKE-AI-ARCHITECTURE.md
Owners: @spaarke-dev, @docs-team

fix(tests): update integration tests for schema migration
  tests/integration/Spe.Integration.Tests/RagSharedDeploymentTests.cs
Owners: @spaarke-dev

fix(tests): add null-forgiving operator for OpenXml 3.4.x compatibility
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/DocxExportServiceTests.cs
Owners: @spaarke-dev

deps: Bump MsgReader from 5.2.0 to 6.0.6
  src/server/api/Sprk.Bff.Api/Services/Ai/TextExtractorService.cs
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
Owners: @spaarke-dev

deps: Bump MsgReader from 5.2.0 to 6.0.6 (#122)
  src/server/api/Sprk.Bff.Api/Services/Ai/TextExtractorService.cs
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
Owners: @spaarke-dev

chore(tasks): add missing POML task files for phases 1-5
  projects/email-to-document-automation/tasks/003-add-alternate-key-idempotency.poml
  projects/email-to-document-automation/tasks/009-phase-1-deploy.poml
  projects/email-to-document-automation/tasks/013-create-email-filter-service.poml
  projects/email-to-document-automation/tasks/014-seed-default-exclusion-rules.poml
  projects/email-to-document-automation/tasks/015-add-application-insights-events.poml
  projects/email-to-document-automation/tasks/016-register-dataverse-webhook.poml
  projects/email-to-document-automation/tasks/021-add-tracking-token-matching.poml
  projects/email-to-document-automation/tasks/022-implement-attachment-processor.poml
  projects/email-to-document-automation/tasks/023-create-association-preview-endpoint.poml
  projects/email-to-document-automation/tasks/024-unit-tests-association-methods.poml
  projects/email-to-document-automation/tasks/029-phase-3-deploy.poml
  projects/email-to-document-automation/tasks/031-create-email-ribbon-button.poml
  projects/email-to-document-automation/tasks/032-implement-email-actions-webresource.poml
  projects/email-to-document-automation/tasks/033-integrate-ai-processing-enqueue.poml
  projects/email-to-document-automation/tasks/034-create-admin-monitoring-pcf.poml
  projects/email-to-document-automation/tasks/039-phase-4-deploy.poml
  projects/email-to-document-automation/tasks/040-implement-batch-process-endpoint.poml
  projects/email-to-document-automation/tasks/041-create-batch-status-endpoint.poml
  projects/email-to-document-automation/tasks/042-implement-batch-job-handler.poml
  projects/email-to-document-automation/tasks/043-add-dlq-handling.poml
  projects/email-to-document-automation/tasks/044-performance-tuning-load-testing.poml
  projects/email-to-document-automation/tasks/049-phase-5-deploy.poml
  projects/email-to-document-automation/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(email): complete Phase 2 deploy verification (task 019)
  projects/email-to-document-automation/README.md
  projects/email-to-document-automation/current-task.md
  projects/email-to-document-automation/tasks/019-phase-2-deploy.poml
  projects/email-to-document-automation/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/appsettings.template.json
Owners: @spaarke-dev, @docs-team

feat(email): implement Phase 3 association and attachment services
  projects/email-to-document-automation/tasks/020-implement-association-service.poml
  projects/email-to-document-automation/tasks/021-add-tracking-token-matching.poml
  src/server/api/Sprk.Bff.Api/Api/EmailEndpoints.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailAssociationService.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailAttachmentProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Email/IEmailAssociationService.cs
  src/server/api/Sprk.Bff.Api/Services/Email/IEmailAttachmentProcessor.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Email/EmailAssociationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Email/EmailAttachmentProcessorTests.cs
Owners: @spaarke-dev

chore(tasks): mark Phase 3 deploy complete, advance to Phase 4
  projects/email-to-document-automation/current-task.md
  projects/email-to-document-automation/tasks/029-phase-3-deploy.poml
  projects/email-to-document-automation/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(email): complete Phase 5 batch processing and project wrap-up
  projects/email-to-document-automation/PLAN.md
  projects/email-to-document-automation/README.md
  projects/email-to-document-automation/current-task.md
  projects/email-to-document-automation/docs/ADMIN-GUIDE.md
  projects/email-to-document-automation/docs/DEPLOYMENT-CHECKLIST.md
  projects/email-to-document-automation/docs/RUNBOOK.md
  projects/email-to-document-automation/docs/WEBHOOK-REGISTRATION.md
  projects/email-to-document-automation/lessons-learned.md
  projects/email-to-document-automation/tasks/040-implement-batch-process-endpoint.poml
  projects/email-to-document-automation/tasks/041-create-batch-status-endpoint.poml
  projects/email-to-document-automation/tasks/042-implement-batch-job-handler.poml
  projects/email-to-document-automation/tasks/043-add-dlq-handling.poml
  projects/email-to-document-automation/tasks/044-performance-tuning-load-testing.poml
  projects/email-to-document-automation/tasks/049-phase-5-deploy.poml
  projects/email-to-document-automation/tasks/090-project-wrap-up.poml
  projects/email-to-document-automation/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/EmailEndpoints.cs
  src/server/api/Sprk.Bff.Api/Configuration/EmailProcessingOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/WorkersModule.cs
  src/server/api/Sprk.Bff.Api/Models/Email/BatchProcessModels.cs
  src/server/api/Sprk.Bff.Api/Models/Jobs/DlqModels.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/BatchJobStatusStore.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/DeadLetterQueueService.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/BatchProcessEmailsJobHandler.cs
  src/server/api/Sprk.Bff.Api/Telemetry/EmailTelemetry.cs
  tests/load/README.md
  tests/load/batch-processing.k6.js
  tests/load/webhook-processing.k6.js
Owners: @spaarke-dev, @docs-team

feat(email): complete Phase 4 UI Integration deployment
  infrastructure/dataverse/ribbon/EmailRibbons/Entities/email/Entity.xml
  infrastructure/dataverse/ribbon/EmailRibbons/Entities/email/RibbonDiff.xml
  infrastructure/dataverse/ribbon/EmailRibbons/Other/Customizations.xml
  infrastructure/dataverse/ribbon/EmailRibbons/Other/Solution.xml
  infrastructure/dataverse/ribbon/EmailRibbons/WebResources/sprk_emailactions.js
  projects/email-to-document-automation/tasks/031-create-email-ribbon-button.poml
  projects/email-to-document-automation/tasks/034-create-admin-monitoring-pcf.poml
  projects/email-to-document-automation/tasks/039-phase-4-deploy.poml
  projects/email-to-document-automation/tasks/TASK-INDEX.md
  src/client/pcf/EmailProcessingMonitor/.gitignore
  src/client/pcf/EmailProcessingMonitor/EmailProcessingMonitor.pcfproj
  src/client/pcf/EmailProcessingMonitor/Solution/.gitignore
  src/client/pcf/EmailProcessingMonitor/Solution/EmailProcessingMonitorSolution.cdsproj
  src/client/pcf/EmailProcessingMonitor/Solution/src/Other/Customizations.xml
  src/client/pcf/EmailProcessingMonitor/Solution/src/Other/Relationships.xml
  src/client/pcf/EmailProcessingMonitor/Solution/src/Other/Solution.xml
  src/client/pcf/EmailProcessingMonitor/control/AuthService.ts
  src/client/pcf/EmailProcessingMonitor/control/ControlManifest.Input.xml
  src/client/pcf/EmailProcessingMonitor/control/EmailProcessingDashboard.tsx
  src/client/pcf/EmailProcessingMonitor/control/css/EmailProcessingMonitor.css
  src/client/pcf/EmailProcessingMonitor/control/icons.tsx
  src/client/pcf/EmailProcessingMonitor/control/index.ts
  src/client/pcf/EmailProcessingMonitor/control/strings/EmailProcessingMonitor.1033.resx
  src/client/pcf/EmailProcessingMonitor/control/types.ts
  src/client/pcf/EmailProcessingMonitor/eslint.config.mjs
  src/client/pcf/EmailProcessingMonitor/package.json
  src/client/pcf/EmailProcessingMonitor/pcfconfig.json
  src/client/pcf/EmailProcessingMonitor/tsconfig.json
  src/client/webresources/js/sprk_emailactions.js
  src/server/api/Sprk.Bff.Api/Api/EmailEndpoints.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailAttachmentProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailProcessingStatsService.cs
  src/server/api/Sprk.Bff.Api/Services/Email/IEmailAttachmentProcessor.cs
  src/server/api/Sprk.Bff.Api/Telemetry/EmailTelemetry.cs
Owners: @spaarke-dev

style: fix whitespace formatting in IEmailAttachmentProcessor
  src/server/api/Sprk.Bff.Api/Services/Email/IEmailAttachmentProcessor.cs
Owners: @spaarke-dev

fix(email): add BracedGuidConverter for Dataverse webhook payloads
  src/server/api/Sprk.Bff.Api/Api/EmailEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Json/BracedGuidConverter.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/Json/BracedGuidConverterTests.cs
Owners: @spaarke-dev

docs: update current-task.md with hotfix status
  projects/email-to-document-automation/current-task.md
Owners: @spaarke-dev

fix(email): check x-ms-dynamics-msg-keyvalue header for WebKey auth
  src/server/api/Sprk.Bff.Api/Api/EmailEndpoints.cs
Owners: @spaarke-dev

fix(email): add WcfDateTimeConverter for Dataverse webhook dates
  src/server/api/Sprk.Bff.Api/Infrastructure/Json/BracedGuidConverter.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/Json/BracedGuidConverterTests.cs
Owners: @spaarke-dev
