Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

docs(021): design decided before implementation — cert loader is private (needs extraction), negative-cache TTL constrained by task 030's measured ~2min Entra flap
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/021-credential-config-keys.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/021-ordered-credential-selection.poml
Owners: @spaarke-dev

checkpoint: task 030 closed, task 021 designed — ready for /compact
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
Owners: @spaarke-dev

fix(compose): sweep the dead-!response.ok defect out of Compose entirely (9 sites)
  projects/spaarkeai-compose-r8/notes/honest-failure-set.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.upload.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/useComposeHeartbeatGate.ts
Owners: @spaarke-dev

docs(compose-r8): add the concurrency observation row to task 017's UAT
  projects/spaarkeai-compose-r8/tasks/017-track-s-deploy-uat.poml
Owners: @spaarke-dev

deploy(compose-r8): Track S shipped to dev as a matched pair + UAT checklist (task 017 steps 1-5)
  projects/spaarkeai-compose-r8/notes/track-s-uat.md
  src/solutions/SpaarkeAi/package-lock.json
Owners: @spaarke-dev

checkpoint(compose-r8): task 017 steps 1-5 done; blocked on owner UAT
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

feat(auth): ordered credential selection — MI-FIC → KV cert → secret (task 021, FR-B2)
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/021-credential-config-keys.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/021-ordered-credential-selection.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/022-migrate-confidential-clients.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/060-archtest-credential-ban.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Configuration/CredentialSelectionOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/KeyVaultCertificateLoader.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/OrderedCredentialClientProvider.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AuthorizationModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/CiamGraphClientFactory.cs
  src/server/shared/Spaarke.Dataverse/IConfidentialClientProvider.cs
  tests/integration/seam/Auth/CredentialOrderingSeamTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Sprk.Bff.Api.Tests.csproj
Owners: @spaarke-dev

feat(spe-admin): surface the real Graph/Dataverse error via ProblemDetails (task 001)
  projects/sdap-SPE-admin-app-r2/current-task.md
  projects/sdap-SPE-admin-app-r2/notes/error-surface-inventory.md
  projects/sdap-SPE-admin-app-r2/notes/task-001-completion.md
  projects/sdap-SPE-admin-app-r2/tasks/001-real-error-surface.poml
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/AuditLogEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/BusinessUnitEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ConfigEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ConsumingTenantEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerColumnEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerCustomPropertyEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerPermissionEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerTypeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerTypePermissionEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerTypeSettingsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/DashboardEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/EnvironmentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/RecycleBinEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/SearchContainersEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/SearchItemsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/SecurityEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Errors/ProblemDetailsHelper.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/GraphErrorTranslator.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpaarkeStorageException.cs
  src/solutions/SpeAdminApp/src/components/container-types/ConsumingTenantsPanel.tsx
  src/solutions/SpeAdminApp/src/components/container-types/ContainerTypeDetail.tsx
  src/solutions/SpeAdminApp/src/components/container-types/ContainerTypesPage.tsx
  src/solutions/SpeAdminApp/src/components/container-types/RegisterWizard.tsx
  src/solutions/SpeAdminApp/src/components/container-types/steps/SelectContainerTypeStep.tsx
  src/solutions/SpeAdminApp/src/components/containers/ColumnEditor.tsx
  src/solutions/SpeAdminApp/src/components/containers/ContainerDetail.tsx
  src/solutions/SpeAdminApp/src/components/containers/ContainersPage.tsx
  src/solutions/SpeAdminApp/src/components/containers/CustomPropertyEditor.tsx
  src/solutions/SpeAdminApp/src/components/containers/PermissionPanel.tsx
  src/solutions/SpeAdminApp/src/components/settings/ContainerTypeConfig.tsx
  src/solutions/SpeAdminApp/src/components/settings/EnvironmentConfig.tsx
  src/solutions/SpeAdminApp/src/services/speApiClient.ts
  tests/unit/domain/Errors/ErrorSurfaceTests.cs
Owners: @spaarke-dev

checkpoint(compose-r8): context handoff — Track S deployed, 017 blocked on owner UAT
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

test(auth): characterization + negative suite for the access path (task 001)
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/task-001-untestable-findings.md
  projects/unified-access-control-r2/tasks/001-access-path-characterization-suite.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  tests/integration/auth/UnifiedAccessControl/AccessCacheCharacterizationTests.cs
  tests/integration/auth/UnifiedAccessControl/AuthorizationServiceCharacterizationTests.cs
  tests/integration/auth/UnifiedAccessControl/EndpointAuthorizationCharacterizationTests.cs
  tests/integration/auth/UnifiedAccessControl/ExternalCollaborationTestFixture.cs
  tests/integration/auth/UnifiedAccessControl/ExternalScopeCharacterizationTests.cs
  tests/integration/auth/UnifiedAccessControl/GrantLifecycleCharacterizationTests.cs
  tests/integration/auth/UnifiedAccessControl/ImpersonationFailClosedTests.cs
  tests/integration/auth/UnifiedAccessControl/OperationPolicyCharacterizationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Sprk.Bff.Api.Tests.csproj
Owners: @spaarke-dev

docs(unified-access-control-r2): record accepted escalation — own-coverage obligation
  projects/unified-access-control-r2/notes/task-001-untestable-findings.md
  projects/unified-access-control-r2/tasks/007-enforce-grant-expiry.poml
  projects/unified-access-control-r2/tasks/012-track-or-disable-anonymous-share-links.poml
  projects/unified-access-control-r2/tasks/013-workforce-email-oid-nohijack.poml
  projects/unified-access-control-r2/tasks/015-membership-paging-deterministic.poml
  projects/unified-access-control-r2/tasks/016-close-project-cascade-fix.poml
  projects/unified-access-control-r2/tasks/017-spe-revoke-matcher-and-relic.poml
  projects/unified-access-control-r2/tasks/018-remove-dead-filter-bound-in-clause.poml
Owners: @spaarke-dev

fix(spe-admin): restore the SpeAdminApp code-page build
  src/solutions/SpeAdminApp/package-lock.json
  src/solutions/SpeAdminApp/package.json
  src/solutions/SpeAdminApp/vite.config.ts
Owners: @spaarke-dev

fix(compose-r8): close task 017 — owner UAT GO + fix the banner that lied about the saved file
  projects/spaarkeai-compose-r8/notes/track-s-uat.md
  projects/spaarkeai-compose-r8/tasks/017-track-s-deploy-uat.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeBannerStack.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeBannerStack.tsx
Owners: @spaarke-dev

feat(spe-admin): audit all 70 catch (ODataError) sites (task 002)
  projects/sdap-SPE-admin-app-r2/notes/odata-catch-inventory.md
  projects/sdap-SPE-admin-app-r2/notes/task-001-completion.md
  projects/sdap-SPE-admin-app-r2/tasks/002-odata-error-audit.poml
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/SpeAdmin/BulkOperationService.cs
Owners: @spaarke-dev

fix(auth): register missing OperationAccessPolicy keys + completeness gate (task 003)
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/design-register.md
  projects/unified-access-control-r2/notes/task-003-operation-rights-decisions.md
  projects/unified-access-control-r2/tasks/003-operation-policy-keys-and-completeness-test.poml
  projects/unified-access-control-r2/tasks/005-lift-read-ceiling.poml
  projects/unified-access-control-r2/tasks/018-remove-dead-filter-bound-in-clause.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  src/server/shared/Spaarke.Core/Auth/OperationAccessPolicy.cs
  tests/integration/auth/UnifiedAccessControl/EndpointAuthorizationCharacterizationTests.cs
  tests/integration/auth/UnifiedAccessControl/OperationAccessPolicyCompletenessTests.cs
  tests/integration/auth/UnifiedAccessControl/OperationPolicyCharacterizationTests.cs
Owners: @spaarke-dev

feat(compose-r8): task 020 — the preservation oracle; master measures 6.53%
  projects/spaarkeai-compose-r8/current-task.md
  projects/spaarkeai-compose-r8/notes/gate-contract.md
  projects/spaarkeai-compose-r8/tasks/020-gate-contract.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  tests/integration/seam/Compose/ComposeBlockPreservationOracle.cs
  tests/integration/seam/Compose/ComposeFidelityGateHarnessTests.cs
Owners: @spaarke-dev

feat(auth): identity conflation guard + relax the secret mandates (tasks 023, 024)
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/021-credential-config-keys.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/023-identity-conflation.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/024-relax-config-validators.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/023-identity-conflation-guard.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/024-relax-config-validators.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/031-slot-deploy-obo-verification.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/060-archtest-credential-ban.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Configuration/AgentTokenOptions.cs
  src/server/api/Sprk.Bff.Api/Configuration/DataverseOptions.cs
  src/server/api/Sprk.Bff.Api/Configuration/GraphOptionsValidator.cs
  src/server/api/Sprk.Bff.Api/Configuration/IdentityConfigurationValidator.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/ManagedIdentityAssertionProvider.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/OrderedCredentialClientProvider.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AuthorizationModule.cs
  src/server/shared/Spaarke.Dataverse/IConfidentialClientProvider.cs
  tests/integration/seam/Auth/ClientAssertionProviderSeamTests.cs
  tests/integration/seam/Auth/CredentialOrderingSeamTests.cs
  tests/integration/seam/Auth/IdentityConflationSeamTests.cs
Owners: @spaarke-dev

feat(spe-admin): make Dashboard Sync Status reflect real per-concern outcomes (task 003)
  projects/sdap-SPE-admin-app-r2/current-task.md
  projects/sdap-SPE-admin-app-r2/notes/task-003-completion.md
  projects/sdap-SPE-admin-app-r2/tasks/003-sync-status-truth.poml
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/SpeAdmin/SpeDashboardSyncService.cs
  src/solutions/SpeAdminApp/src/components/dashboard/DashboardPage.tsx
  src/solutions/SpeAdminApp/src/types/spe.ts
  tests/unit/domain/SpeAdmin/DashboardSyncHealthTests.cs
Owners: @spaarke-dev

docs(spe-admin): refresh current-task.md for task 005
  projects/sdap-SPE-admin-app-r2/current-task.md
Owners: @spaarke-dev

feat(compose-r8): tasks 021+022 — corpus extended; 3 latent defects surfaced
  projects/spaarkeai-compose-r8/notes/gate-contract.md
  projects/spaarkeai-compose-r8/tasks/021-corpus-synthetic-r4-breakers.poml
  projects/spaarkeai-compose-r8/tasks/022-corpus-near-tier-documents.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  tests/fixtures/compose-corpus/alternate-content-duplicate-paraid.docx
  tests/fixtures/compose-corpus/char-formatting-mixed-runs.docx
  tests/fixtures/compose-corpus/content-controls-sdt.docx
  tests/fixtures/compose-corpus/corpus-manifest.md
  tests/fixtures/compose-corpus/court-filing-spacing.docx
  tests/fixtures/compose-corpus/footnote-references.docx
  tests/fixtures/compose-corpus/interior-text-boxes.docx
  tests/fixtures/compose-corpus/multipart-paraid-collision.docx
  tests/fixtures/compose-corpus/ref-cross-references.docx
  tests/integration/regression/NdaSaveNo422RegressionTests.cs
  tests/integration/seam/Compose/ComposeReadFidelityHarnessSeamTests.cs
Owners: @spaarke-dev

checkpoint(compose-r8): Phase 2 at 3/4 — 017/020/021/022 closed, 023 next
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

fix(auth): wave P0-B — auth-mode cache key (014) + membership node wildcard (019)
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/design-register.md
  projects/unified-access-control-r2/notes/task-004-callsite-classification.md
  projects/unified-access-control-r2/notes/task-014-cache-key-auth-mode.md
  projects/unified-access-control-r2/notes/task-019-fix-lookup-membership-node-executor.md
  projects/unified-access-control-r2/tasks/014-cache-key-auth-mode.poml
  projects/unified-access-control-r2/tasks/019-fix-lookup-membership-node-executor.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/Caching/CachedAccessDataSource.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/LookupUserMembershipNodeExecutor.cs
  tests/integration/auth/UnifiedAccessControl/AccessCacheCharacterizationTests.cs
  tests/integration/auth/UnifiedAccessControl/LookupUserMembershipIncludeRelatedCharacterizationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/LookupUserMembershipNodeExecutorTests.cs
Owners: @spaarke-dev

fix(auth): make AuthorizationService evaluate as the caller, not the app (task 004)
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/task-004-caller-scoped-design.md
  projects/unified-access-control-r2/tasks/004-authorizationservice-caller-scoped.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatDocumentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/DocumentAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/EntityAccessFilter.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/FinanceAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/OfficeDocumentAccessFilter.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Auth/TokenHelper.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Authorization/ResourceAccessHandler.cs
  src/server/shared/Spaarke.Core/Auth/AuthorizationService.cs
  tests/integration/auth/UnifiedAccessControl/AuthorizationServiceCharacterizationTests.cs
  tests/integration/auth/UnifiedAccessControl/OperationPolicyCharacterizationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/AuthorizationTests.cs
Owners: @spaarke-dev

fix(h-3): 4 fix-at-discovery patches from first-live L2 deploy
  infrastructure/bicep/modules/controlplane-worker-app-service.bicep
  infrastructure/bicep/parameters/platform-controlplane-dev.bicepparam
  infrastructure/bicep/platform-controlplane.bicep
  scripts/Grant-GraphAppRoles.ps1
  scripts/provisioning/Grant-ControlPlaneIdentity.ps1
Owners: @spaarke-dev, @devops-team

checkpoint(unified-access-control-r2): context handoff after task 004
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

chore(r1): context-handoff after Wave H-3 partial pause -- 4 fix patches committed, sidecar Layer 2 open
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

docs(record-header): re-scope R2 to one configurable RecordHeader control
  .claude/patterns/ui/record-header-composition.md
  projects/record-header-and-notepad-r2/CLAUDE.md
  projects/record-header-and-notepad-r2/README.md
  projects/record-header-and-notepad-r2/current-task.md
  projects/record-header-and-notepad-r2/design.md
  projects/record-header-and-notepad-r2/notes/discovery-checklist.md
Owners: @spaarke-dev, @docs-team

fix(spe-admin): repair the Audit Log read AND write paths (task 005)
  projects/sdap-SPE-admin-app-r2/current-task.md
  projects/sdap-SPE-admin-app-r2/notes/audit-log-root-cause.md
  projects/sdap-SPE-admin-app-r2/tasks/005-fix-audit-log.poml
  projects/sdap-SPE-admin-app-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/AuditLogEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/SpeAdmin/SpeAuditService.cs
  tests/unit/domain/SpeAdmin/AuditCategoryMappingTests.cs
Owners: @spaarke-dev

feat(compose-r8): task 023 — the control. Master preserves 18.08% / 6.67% near-tier
  projects/spaarkeai-compose-r8/notes/control-measurement.md
  projects/spaarkeai-compose-r8/notes/gate-contract.md
  projects/spaarkeai-compose-r8/tasks/023-control-measurement.poml
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
  tests/integration/seam/Compose/ComposeBlockPreservationOracle.cs
  tests/integration/seam/Compose/ComposeFidelityGateHarnessTests.cs
Owners: @spaarke-dev

checkpoint(compose-r8): Phase 2 COMPLETE — control published, 030 is next
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

feat(h-3): Wave H-3 essential deliverables COMPLETE (task 108/110/113 ✅)
  infrastructure/bicep/parameters/platform-controlplane-dev.bicepparam
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(auth): migrate every BFF-identity confidential client onto ordered credential selection (task 022, FR-B3)
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/022-migrate-confidential-clients.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/022-migrate-confidential-clients.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentTokenService.cs
  src/server/api/Sprk.Bff.Api/Configuration/IdentityConfigurationValidator.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/GraphModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/GraphClientFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/Dataverse/DataverseUserClient.cs
  src/server/shared/Spaarke.Dataverse/ConfidentialClientTokenCredential.cs
  src/server/shared/Spaarke.Dataverse/DataverseAccessDataSource.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiClient.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  tests/integration/seam/Auth/ClientAssertionProviderSeamTests.cs
  tests/integration/seam/Auth/ConfidentialClientMigrationSeamTests.cs
  tests/integration/seam/Auth/ConfidentialClientSharingSeamTests.cs
  tests/integration/seam/Auth/CredentialSelectionSeamTests.cs
  tests/integration/seam/Auth/IdentityConflationSeamTests.cs
Owners: @spaarke-dev

feat(auth): ArchTest credential ban + the three guards booked onto it (task 060, FR-F1)
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/060-credential-guard.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/060-archtest-credential-ban.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
  tests/Spaarke.ArchTests/CredentialGuardTests.cs
Owners: @spaarke-dev

chore(auth-v4): checkpoint — 022 + 060 closed, precise handoff for 061/062/063
  projects/spaarke-auth-v4-dataverse-MI/current-task.md
Owners: @spaarke-dev

docs(record-header): correct two more stale per-entity-PCF pointers
  .claude/patterns/pcf/xrm-webapi-related-count.md
  .claude/patterns/ui/INDEX.md
  projects/record-header-and-notepad-r2/CLAUDE.md
Owners: @spaarke-dev

fix(api): make PermissionsEndpoints caller-scoped (task 006, FR-05/A-4)
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/task-006-capability-rights-mapping.md
  projects/unified-access-control-r2/tasks/005-lift-read-ceiling.poml
  projects/unified-access-control-r2/tasks/006-caller-scoped-permissions-endpoint.poml
  projects/unified-access-control-r2/tasks/032-fr19-evaluator-rights-map.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/PermissionsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Caching/CachedAccessDataSource.cs
  src/server/api/Sprk.Bff.Api/Models/PermissionsModels.cs
  src/server/shared/Spaarke.Core/Auth/AuthorizationService.cs
  tests/integration/auth/UnifiedAccessControl/AuthorizationServiceCharacterizationTests.cs
  tests/integration/auth/UnifiedAccessControl/EndpointAuthorizationCharacterizationTests.cs
  tests/integration/auth/UnifiedAccessControl/PermissionsEndpointCallerScopedTests.cs
Owners: @spaarke-dev

docs(unified-access-control-r2): record task 006 commit sha in checkpoint
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

checkpoint: context-handoff after Wave W1 (001/002/003/005 complete)
  projects/sdap-SPE-admin-app-r2/current-task.md
Owners: @spaarke-dev

feat(auth): credential census — source analysis, all server assemblies (task 061, FR-F2)
  projects/spaarke-auth-v4-dataverse-MI/notes/decisions/061-credential-census.md
  projects/spaarke-auth-v4-dataverse-MI/tasks/061-credential-census-test.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
  tests/Spaarke.ArchTests/CredentialCensusTests.cs
  tests/Spaarke.ArchTests/CredentialGuardTests.cs
  tests/Spaarke.ArchTests/SourceScan.cs
Owners: @spaarke-dev

chore(r1): context-handoff after Wave H-3 CLOSED + strategic pivot to Model 1 Prod stand-up
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev
