Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

fix(go-live): commit workspace UX fixes and operational scripts
  scripts/Fix-DocumentFormParams2.ps1
  scripts/Migrate-DataverseData.ps1
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/types.ts
  src/client/webresources/js/sprk_wizard_commands.js
  src/solutions/LegalWorkspace/src/components/GetStarted/GetStartedExpandDialog.tsx
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
  src/solutions/LegalWorkspace/src/sections/documents.registration.ts
  src/solutions/LegalWorkspace/src/sections/getStarted.registration.ts
Owners: @spaarke-dev, @devops-team

fix(copilot): fix event owner filtering and DI registration for Copilot queries
  src/server/api/Sprk.Bff.Api/Api/Events/EventEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/GraphModule.cs
  src/solutions/CopilotAgent/spaarke-bff-openapi.yaml
Owners: @spaarke-dev

fix(copilot): add string status alias and update Copilot plugin auth/spec
  src/server/api/Sprk.Bff.Api/Api/Events/EventEndpoints.cs
  src/solutions/CopilotAgent/spaarke-api-plugin.json
  src/solutions/CopilotAgent/spaarke-bff-openapi.yaml
Owners: @spaarke-dev

feat(workspace): add AllDocuments code page (sprk_alldocuments)
  src/solutions/AllDocuments/index.html
  src/solutions/AllDocuments/package-lock.json
  src/solutions/AllDocuments/package.json
  src/solutions/AllDocuments/src/App.tsx
  src/solutions/AllDocuments/src/main.tsx
  src/solutions/AllDocuments/tsconfig.json
  src/solutions/AllDocuments/tsconfig.node.json
  src/solutions/AllDocuments/vite.config.ts
Owners: @spaarke-dev

chore(deploy): add sprk_alldocuments to wizard deploy script
  scripts/Deploy-WizardCodePages.ps1
Owners: @spaarke-dev, @devops-team

feat(workspace): add document view picker + fix BFF URL normalization at source
  .claude/constraints/auth.md
  .claude/patterns/auth/INDEX.md
  .claude/patterns/auth/bff-url-normalization.md
  docs/architecture/AUTH-AND-BFF-URL-PATTERN.md
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/hooks/useSemanticSearch.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/services/NavigationService.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/services/SemanticSearchApiService.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
  src/client/pcf/shared/utils/environmentVariables.ts
  src/client/shared/Spaarke.Auth/src/SpaarkeAuthProvider.ts
  src/client/shared/Spaarke.Auth/src/strategies/MsalSilentStrategy.ts
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/SectionPanel.tsx
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/WorkspaceShell.tsx
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/types.ts
  src/solutions/LegalWorkspace/src/components/RecordCards/DocumentsTab.tsx
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
  src/solutions/LegalWorkspace/src/config/runtimeConfig.ts
  src/solutions/LegalWorkspace/src/hooks/useDocumentsTabList.ts
  src/solutions/LegalWorkspace/src/sections/documents.registration.ts
  src/solutions/LegalWorkspace/src/services/DataverseService.ts
Owners: @spaarke-dev, @docs-team

fix(auth): resolve tenant ID from JWT tid claim instead of MSAL accounts
  .claude/patterns/auth/bff-url-normalization.md
  docs/architecture/AUTH-AND-BFF-URL-PATTERN.md
  src/client/shared/Spaarke.Auth/src/SpaarkeAuthProvider.ts
  src/client/shared/Spaarke.Auth/src/strategies/CacheStrategy.ts
Owners: @spaarke-dev, @docs-team

refactor(upload-wizard): replace "Upload without association" checkbox with Skip button
  src/solutions/DocumentUploadWizard/src/DocumentUploadWizardDialog.tsx
  src/solutions/DocumentUploadWizard/src/components/AssociateToStep.tsx
Owners: @spaarke-dev

fix(wizards): double frame on Create To Do, Next without files, Cancel close
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/CreateRecordWizard.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateTodoWizard/TodoWizardDialog.tsx
  src/client/shared/Spaarke.UI.Components/src/utils/adapters/xrmNavigationServiceAdapter.ts
Owners: @spaarke-dev

fix(wizards): null-safe canAdvance + closeDialog uses proven DOM selector
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/CreateRecordWizard.tsx
  src/client/shared/Spaarke.UI.Components/src/utils/adapters/xrmNavigationServiceAdapter.ts
Owners: @spaarke-dev

fix(workspace): view selector fetches via FetchXML + Documents 560px height
  src/solutions/LegalWorkspace/src/components/RecordCards/DocumentsTab.tsx
  src/solutions/LegalWorkspace/src/hooks/useDocumentsTabList.ts
  src/solutions/LegalWorkspace/src/sections/documents.registration.ts
  src/solutions/LegalWorkspace/src/services/DataverseService.ts
Owners: @spaarke-dev

feat(wizards): move Done button to footer + document links on success
  src/client/shared/Spaarke.UI.Components/src/components/Wizard/WizardShell.tsx
  src/client/shared/Spaarke.UI.Components/src/components/Wizard/WizardSuccessScreen.tsx
  src/client/shared/Spaarke.UI.Components/src/components/Wizard/wizardShellTypes.ts
  src/solutions/DocumentUploadWizard/src/components/SuccessScreen.tsx
Owners: @spaarke-dev

fix: Add Files canAdvance, SPE container for all wizards, view selector
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/CreateRecordWizard.tsx
  src/solutions/CreateEventWizard/src/main.tsx
  src/solutions/CreateMatterWizard/src/main.tsx
  src/solutions/CreateProjectWizard/src/main.tsx
  src/solutions/CreateTodoWizard/src/main.tsx
  src/solutions/CreateWorkAssignmentWizard/src/main.tsx
  src/solutions/LegalWorkspace/src/sections/documents.registration.ts
Owners: @spaarke-dev

feat(ui): add RecordCardShell shared card component
  src/client/shared/Spaarke.UI.Components/src/components/RecordCardShell/CardIcon.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordCardShell/RecordCardShell.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordCardShell/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
Owners: @spaarke-dev

fix(ai): use correct sprk_playbook field name on sprk_analysis entity
  deploy/api-publish/AdaptiveCards.dll
  deploy/api-publish/Microsoft.Agents.Authentication.dll
  deploy/api-publish/Microsoft.Agents.Builder.dll
  deploy/api-publish/Microsoft.Agents.Connector.dll
  deploy/api-publish/Microsoft.Agents.Core.dll
  deploy/api-publish/Microsoft.Agents.Hosting.AspNetCore.dll
  deploy/api-publish/Microsoft.Agents.Storage.Transcript.dll
  deploy/api-publish/Microsoft.Agents.Storage.dll
  deploy/api-publish/Microsoft.AspNetCore.Authentication.JwtBearer.dll
  deploy/api-publish/Microsoft.AspNetCore.Authorization.dll
  deploy/api-publish/Microsoft.AspNetCore.Metadata.dll
  deploy/api-publish/Microsoft.Extensions.Configuration.Abstractions.dll
  deploy/api-publish/Microsoft.Extensions.Configuration.Binder.dll
  deploy/api-publish/Microsoft.Extensions.Configuration.dll
  deploy/api-publish/Microsoft.Extensions.DependencyInjection.dll
  deploy/api-publish/Microsoft.Extensions.Diagnostics.Abstractions.dll
  deploy/api-publish/Microsoft.Extensions.Diagnostics.dll
  deploy/api-publish/Microsoft.Extensions.Http.dll
  deploy/api-publish/Microsoft.Extensions.Logging.dll
  deploy/api-publish/Microsoft.Extensions.Options.ConfigurationExtensions.dll
  deploy/api-publish/Newtonsoft.Json.dll
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.deps.json
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
  deploy/api-publish/System.Configuration.ConfigurationManager.dll
  deploy/api-publish/System.Security.Cryptography.ProtectedData.dll
  deploy/api-publish/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
  src/client/code-pages/AnalysisWorkspace/src/services/analysisApi.ts
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
Owners: @spaarke-dev

fix(analysis): correct Dataverse field names and end-to-end analysis flow
  src/client/code-pages/AnalysisWorkspace/src/services/analysisApi.ts
  src/client/shared/Spaarke.UI.Components/src/components/Playbook/analysisService.ts
  src/client/shared/Spaarke.UI.Components/src/components/PlaybookLibraryShell/PlaybookLibraryShell.tsx
  src/server/api/Sprk.Bff.Api/Api/Ai/AnalysisEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/CreateAnalysisRequest.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/AnalysisAuthorizationFilter.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/solutions/PlaybookLibrary/src/main.tsx
Owners: @spaarke-dev

fix(ai): prevent UpdateRecord node from overwriting DeliverOutput content
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NodeOutput.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/DeliverOutputNodeExecutor.cs
Owners: @spaarke-dev

fix(api): improve auto-assembly for structured AI analysis output
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/DeliverOutputNodeExecutor.cs
Owners: @spaarke-dev

docs(constraints): add shared library build chain rules for PCF
  .claude/constraints/pcf.md
Owners: @spaarke-dev

refactor(cards): migrate RecordCard + DocumentCard to RecordCardShell
  src/solutions/LegalWorkspace/src/components/RecordCards/DocumentCard.tsx
  src/solutions/LegalWorkspace/src/components/RecordCards/RecordCard.tsx
Owners: @spaarke-dev

refactor(pcf): migrate SemanticSearch ResultCard to RecordCardShell
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ResultCard.tsx
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

refactor(cards): migrate FeedItemCard to RecordCardShell
  src/solutions/LegalWorkspace/src/components/ActivityFeed/FeedItemCard.tsx
Owners: @spaarke-dev

refactor(cards): migrate KanbanCard to RecordCardShell + delete dead TodoItem
  src/solutions/LegalWorkspace/src/components/SmartToDo/KanbanCard.tsx
  src/solutions/LegalWorkspace/src/components/SmartToDo/TodoItem.tsx
Owners: @spaarke-dev

refactor(analysis-workspace): redesign panel layout for improved UX
  src/client/code-pages/AnalysisWorkspace/src/App.tsx
  src/client/code-pages/AnalysisWorkspace/src/components/EditorPanel.tsx
  src/client/code-pages/AnalysisWorkspace/src/components/SourceViewerPanel.tsx
  src/client/code-pages/AnalysisWorkspace/src/hooks/usePanelLayout.ts
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
Owners: @spaarke-dev

feat(workspace): add Set as Default + fix delete in workspace selector
  src/solutions/LegalWorkspace/src/App.tsx
  src/solutions/LegalWorkspace/src/components/Shell/PageHeader.tsx
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
  src/solutions/LegalWorkspace/src/components/WorkspaceHeader/WorkspaceHeader.tsx
Owners: @spaarke-dev

fix(workspace): delete layout fails with 500 — statecode needs OptionSetValue
  src/server/api/Sprk.Bff.Api/Services/Workspace/WorkspaceLayoutService.cs
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
Owners: @spaarke-dev

fix(workspace): switch layout delete from soft-delete to hard delete
  src/server/api/Sprk.Bff.Api/Services/Workspace/WorkspaceLayoutService.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/IGenericEntityService.cs
Owners: @spaarke-dev

feat(workspace): wizard size, cancel, 3 new templates, Done button
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/layoutTemplates.ts
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
  src/solutions/WorkspaceLayoutWizard/src/App.tsx
Owners: @spaarke-dev

fix(analysis-workspace): add collapsed strip to re-expand source panel
  src/client/code-pages/AnalysisWorkspace/src/App.tsx
Owners: @spaarke-dev

fix(workspace-wizard): step names, compact layout, inline default checkbox
  src/solutions/WorkspaceLayoutWizard/src/App.tsx
  src/solutions/WorkspaceLayoutWizard/src/steps/ArrangeStep.tsx
  src/solutions/WorkspaceLayoutWizard/src/steps/TemplateStep.tsx
Owners: @spaarke-dev

fix(workspace-wizard): force 3-column template grid
  src/solutions/WorkspaceLayoutWizard/src/steps/TemplateStep.tsx
Owners: @spaarke-dev

feat(workspace): add scope setting infrastructure (my vs all records)
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/types.ts
  src/solutions/LegalWorkspace/src/components/QuickSummary/quickSummaryConfig.ts
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
  src/solutions/LegalWorkspace/src/hooks/useQuickSummaryCounts.ts
  src/solutions/LegalWorkspace/src/workspace/buildDynamicWorkspaceConfig.ts
  src/solutions/WorkspaceLayoutWizard/src/steps/TemplateStep.tsx
Owners: @spaarke-dev

feat(workspace): per-workspace scope setting (my records vs all records)
  src/solutions/LegalWorkspace/src/components/QuickSummary/quickSummaryConfig.ts
  src/solutions/LegalWorkspace/src/services/queryHelpers.ts
  src/solutions/WorkspaceLayoutWizard/src/App.tsx
  src/solutions/WorkspaceLayoutWizard/src/steps/SectionStep.tsx
Owners: @spaarke-dev

feat(api,chat): fix analysis export and persist chat history
  src/client/code-pages/AnalysisWorkspace/src/components/ChatPanel.tsx
  src/client/code-pages/AnalysisWorkspace/src/context/AnalysisAiContext.tsx
  src/client/code-pages/AnalysisWorkspace/src/services/analysisApi.ts
  src/client/code-pages/AnalysisWorkspace/src/types/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/hooks/useChatSession.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/AnalysisEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/AnalysisExportRequest.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisResultPersistence.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Export/DocxExportService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IWorkingDocumentService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/WorkingDocumentService.cs
Owners: @spaarke-dev

fix(workspace-wizard): move scope to top of Step 2 + remove duplicate
  src/solutions/WorkspaceLayoutWizard/src/steps/SectionStep.tsx
Owners: @spaarke-dev

fix(workspace-wizard): scope below instructions, remove counter, fix onChange type
  src/solutions/WorkspaceLayoutWizard/src/steps/SectionStep.tsx
Owners: @spaarke-dev

fix(workspace-wizard): scope radio clickable + wider name field
  src/solutions/WorkspaceLayoutWizard/src/App.tsx
  src/solutions/WorkspaceLayoutWizard/src/steps/ArrangeStep.tsx
Owners: @spaarke-dev

fix(chat): persist sprk_chathistory on analysis-scoped chat sessions
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
Owners: @spaarke-dev

feat(workspace): thread scope through Quick Summary, Documents, Latest Updates
  src/solutions/LegalWorkspace/src/components/ActivityFeed/ActivityFeed.tsx
  src/solutions/LegalWorkspace/src/components/QuickSummary/QuickSummaryRow.tsx
  src/solutions/LegalWorkspace/src/components/RecordCards/DocumentsTab.tsx
  src/solutions/LegalWorkspace/src/hooks/useDocumentsTabList.ts
  src/solutions/LegalWorkspace/src/hooks/useEvents.ts
  src/solutions/LegalWorkspace/src/sections/documents.registration.ts
  src/solutions/LegalWorkspace/src/sections/latestUpdates.registration.ts
  src/solutions/LegalWorkspace/src/sections/quickSummary.registration.ts
  src/solutions/LegalWorkspace/src/services/DataverseService.ts
Owners: @spaarke-dev

feat(registration): initialize self-service registration project
  projects/spaarke-self-service-registration-app/CLAUDE.md
  projects/spaarke-self-service-registration-app/README.md
  projects/spaarke-self-service-registration-app/current-task.md
  projects/spaarke-self-service-registration-app/design.md
  projects/spaarke-self-service-registration-app/plan.md
  projects/spaarke-self-service-registration-app/spec.md
  projects/spaarke-self-service-registration-app/tasks/001-foundation-models-config-di.poml
  projects/spaarke-self-service-registration-app/tasks/010-graph-user-service.poml
  projects/spaarke-self-service-registration-app/tasks/011-dataverse-registration-service.poml
  projects/spaarke-self-service-registration-app/tasks/012-dataverse-schema-solution.poml
  projects/spaarke-self-service-registration-app/tasks/013-entra-setup-scripts.poml
  projects/spaarke-self-service-registration-app/tasks/014-email-templates.poml
  projects/spaarke-self-service-registration-app/tasks/020-provisioning-orchestrator.poml
  projects/spaarke-self-service-registration-app/tasks/021-registration-endpoints.poml
  projects/spaarke-self-service-registration-app/tasks/022-website-request-form.poml
  projects/spaarke-self-service-registration-app/tasks/030-expiration-background-service.poml
  projects/spaarke-self-service-registration-app/tasks/031-ribbon-buttons-webresource.poml
  projects/spaarke-self-service-registration-app/tasks/040-di-wiring-configuration.poml
  projects/spaarke-self-service-registration-app/tasks/041-deploy-and-configure.poml
  projects/spaarke-self-service-registration-app/tasks/042-e2e-testing.poml
  projects/spaarke-self-service-registration-app/tasks/050-project-wrap-up.poml
  projects/spaarke-self-service-registration-app/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team
