Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

feat(pcf): add TwoPanelLayout component for drill-through workspace
  projects/visualization-module/tasks/TASK-INDEX.md
  src/client/pcf/DrillThroughWorkspace/control/components/DrillThroughWorkspaceApp.tsx
  src/client/pcf/DrillThroughWorkspace/control/components/TwoPanelLayout.tsx
Owners: @spaarke-dev

feat(visualization): deploy sprk_chartdefinition entity to Dataverse
  projects/visualization-module/notes/sample-chartdefinition-id.txt
  projects/visualization-module/tasks/TASK-INDEX.md
  scripts/Add-ChartDefinitionAttributes.ps1
  scripts/Check-ChartDefinitionEntity.ps1
  scripts/Deploy-ChartDefinitionEntity.ps1
  scripts/Test-ChartDefinitionWebApi.ps1
Owners: @spaarke-dev, @devops-team

feat(visualization): implement ConfigurationLoader service for Task 021
  projects/visualization-module/tasks/TASK-INDEX.md
  src/client/pcf/VisualHost/control/services/ConfigurationLoader.ts
  src/client/pcf/VisualHost/control/services/__tests__/ConfigurationLoader.test.ts
Owners: @spaarke-dev

feat(email-to-doc): complete Phase 1 - API endpoints and unit tests (Tasks 005, 006)
  projects/email-to-document-automation/tasks/002-create-emailprocessingrule-entity.poml
  projects/email-to-document-automation/tasks/005-create-convert-to-document-endpoint.poml
  projects/email-to-document-automation/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/EmailEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Email/EmailConversionModels.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailToEmlConverter.cs
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/Models.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Email/EmailToEmlConverterTests.cs
Owners: @spaarke-dev

docs(email-to-doc): mark Phase 1 Deploy (Task 009) complete
  projects/email-to-document-automation/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(visualization): implement DataAggregationService for Task 022
  projects/visualization-module/tasks/TASK-INDEX.md
  src/client/pcf/VisualHost/control/services/DataAggregationService.ts
  src/client/pcf/VisualHost/control/services/__tests__/DataAggregationService.test.ts
Owners: @spaarke-dev

docs(architecture): update docs for email-to-document conversion (Phase 1)
  docs/architecture/SPAARKE-REPOSITORY-ARCHITECTURE.md
  docs/architecture/sdap-component-interactions.md
  docs/architecture/sdap-overview.md
Owners: @spaarke-dev, @docs-team

style: fix import ordering in export services
  blissful-driscoll/.claude/settings.local.json
  src/server/api/Sprk.Bff.Api/Services/Ai/Export/DocxExportService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Export/EmailExportService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Export/PdfExportService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/EmailExportServiceTests.cs
Owners: @spaarke-dev

build: pin SDK version to .NET 8.x via global.json
  global.json
Owners: @spaarke-dev

build: fix IDE0060 format check failures
  .editorconfig
Owners: @spaarke-dev

feat(visualization): implement Phase 6 v1.1.0 enhancements
  projects/visualization-module/current-task.md
  projects/visualization-module/notes/entity-schema.md
  projects/visualization-module/notes/power-app-setup-guide.md
  projects/visualization-module/notes/sample-chartdefinition-id.txt
  projects/visualization-module/plan.md
  projects/visualization-module/tasks/032-filter-state-context.poml
  projects/visualization-module/tasks/033-dataset-grid-filtering.poml
  projects/visualization-module/tasks/050-visualhost-v110-pcf.poml
  projects/visualization-module/tasks/051-chartdefinition-form-js.poml
  projects/visualization-module/tasks/052-deploy-v110-test.poml
  projects/visualization-module/tasks/TASK-INDEX.md
  scripts/create-test-chartdefinitions.ps1
  scripts/query-chartdefinitions.ps1
  scripts/query-pcf-controls.ps1
  src/client/pcf/DrillThroughWorkspace/control/ControlManifest.Input.xml
  src/client/pcf/DrillThroughWorkspace/control/components/DrillThroughGrid.tsx
  src/client/pcf/DrillThroughWorkspace/control/components/DrillThroughWorkspaceApp.tsx
  src/client/pcf/DrillThroughWorkspace/control/components/__tests__/DrillThroughGrid.test.tsx
  src/client/pcf/DrillThroughWorkspace/control/context/FilterStateContext.tsx
  src/client/pcf/DrillThroughWorkspace/control/context/__tests__/FilterStateContext.test.tsx
  src/client/pcf/DrillThroughWorkspace/control/hooks/useFilterState.ts
  src/client/pcf/DrillThroughWorkspace/control/index.ts
  src/client/pcf/DrillThroughWorkspace/jest.config.js
  src/client/pcf/DrillThroughWorkspace/jest.setup.ts
  src/client/pcf/DrillThroughWorkspace/package-lock.json
  src/client/pcf/DrillThroughWorkspace/package.json
  src/client/pcf/DrillThroughWorkspace/pcfconfig.json
  src/client/pcf/DrillThroughWorkspace/tsconfig.test.json
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/control/index.ts
  src/client/pcf/VisualHost/control/services/DataAggregationService.ts
  src/client/pcf/VisualHost/package-lock.json
  src/client/pcf/VisualHost/package.json
  src/client/pcf/VisualHost/pcfconfig.json
  src/solutions/webresources/sprk_chartdefinition_form.js
Owners: @spaarke-dev, @devops-team

feat(email-to-doc): complete Phase 2 implementation with documentation
  docs/architecture/SPAARKE-REPOSITORY-ARCHITECTURE.md
  docs/architecture/sdap-component-interactions.md
  docs/architecture/sdap-overview.md
  docs/guides/EMAIL-TO-DOCUMENT-ARCHITECTURE.md
  docs/guides/INDEX.md
  projects/email-to-document-automation/notes/WEBHOOK-REGISTRATION.md
  projects/email-to-document-automation/tasks/TASK-INDEX.md
  scripts/Register-EmailWebhook.ps1
  src/server/api/Sprk.Bff.Api/Api/EmailEndpoints.cs
  src/server/api/Sprk.Bff.Api/Configuration/EmailProcessingOptions.cs
  src/server/api/Sprk.Bff.Api/Models/Email/DataverseWebhookPayload.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailFilterService.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailRuleSeedService.cs
  src/server/api/Sprk.Bff.Api/Services/Email/IEmailFilterService.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/EmailPollingBackupService.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/EmailToDocumentJobHandler.cs
  src/server/api/Sprk.Bff.Api/Telemetry/EmailTelemetry.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/EmailWebhookEndpointTests.cs
Owners: @spaarke-dev, @docs-team, @devops-team

fix(ci): remove deployment slot (B1 tier doesn't support slots)
  .github/workflows/deploy-staging.yml
Owners: @spaarke-dev, @devops-team

fix(ci): remove deployment slot (B1 tier doesn't support slots)
  .github/workflows/deploy-staging.yml
Owners: @spaarke-dev, @devops-team

fix(ci): correct artifact path in deployment workflow
  .github/workflows/deploy-staging.yml
Owners: @spaarke-dev, @devops-team

fix(ai): resolve circular dependency in EmailExportService DI
  src/server/api/Sprk.Bff.Api/Services/Ai/Export/EmailExportService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/EmailExportServiceTests.cs
Owners: @spaarke-dev

docs(r3): update Task 045 status - staging deployed
  projects/ai-document-intelligence-r3/current-task.md
  projects/ai-document-intelligence-r3/tasks/045-deploy-to-production.poml
  projects/ai-document-intelligence-r3/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(ai): add resume session endpoint for reopening analyses
  src/client/pcf/AnalysisWorkspace/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisWorkspace/control/components/AnalysisWorkspaceApp.tsx
  src/client/pcf/AnalysisWorkspace/control/components/ResumeSessionDialog.tsx
  src/client/pcf/AnalysisWorkspace/control/components/SourceDocumentViewer.tsx
  src/client/pcf/AnalysisWorkspace/control/hooks/useSseStream.ts
  src/client/pcf/AnalysisWorkspace/control/index.ts
  src/client/pcf/AnalysisWorkspace/control/services/AuthService.ts
  src/client/pcf/AnalysisWorkspace/control/types/index.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/AnalysisEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/AnalysisResumeRequest.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IAnalysisOrchestrationService.cs
Owners: @spaarke-dev

feat(ai): add ADR-023 ChoiceDialog pattern and fix chat context
  .claude/adr/ADR-023-choice-dialog-pattern.md
  .claude/adr/INDEX.md
  docs/adr/ADR-023-choice-dialog-pattern.md
  docs/architecture/sdap-component-interactions.md
  docs/guides/ai-document-summary.md
  projects/ai-document-intelligence-r3/current-task.md
  src/client/shared/Spaarke.UI.Components/src/components/ChoiceDialog/ChoiceDialog.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ChoiceDialog/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
  src/server/api/Sprk.Bff.Api/Configuration/AnalysisOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisContextBuilder.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IAnalysisContextBuilder.cs
Owners: @spaarke-dev, @docs-team

chore(pcf): bump AnalysisWorkspace to v1.1.0
  src/client/pcf/AnalysisWorkspace/control/ControlManifest.Input.xml
Owners: @spaarke-dev

fix(pcf): use correct sprk_document field names in AnalysisWorkspace
  src/client/pcf/AnalysisWorkspace/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisWorkspace/control/components/AnalysisWorkspaceApp.tsx
Owners: @spaarke-dev

feat(pcf): add MSAL authentication to AnalysisWorkspace
  src/client/pcf/AnalysisWorkspace/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisWorkspace/control/components/AnalysisWorkspaceApp.tsx
  src/client/pcf/AnalysisWorkspace/control/components/SourceDocumentViewer.tsx
  src/client/pcf/AnalysisWorkspace/control/hooks/useSseStream.ts
  src/client/pcf/AnalysisWorkspace/control/services/auth/MsalAuthProvider.ts
  src/client/pcf/AnalysisWorkspace/control/services/auth/index.ts
  src/client/pcf/AnalysisWorkspace/control/services/auth/msalConfig.ts
  src/client/pcf/AnalysisWorkspace/control/types/auth.ts
Owners: @spaarke-dev

fix(pcf): pass resolved document ID to SourceDocumentViewer
  src/client/pcf/AnalysisWorkspace/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisWorkspace/control/components/AnalysisWorkspaceApp.tsx
Owners: @spaarke-dev

fix(ai): restore Analysis Workspace functionality with resume dialog
  src/client/pcf/AnalysisWorkspace/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisWorkspace/control/components/AnalysisWorkspaceApp.tsx
  src/client/pcf/AnalysisWorkspace/control/components/SourceDocumentViewer.tsx
  src/server/api/Sprk.Bff.Api/Models/Ai/AnalysisResumeRequest.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/AnalysisResumeResult.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Export/EmailExportService.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/IDataverseService.cs
  src/server/shared/Spaarke.Dataverse/Models.cs
Owners: @spaarke-dev

fix(pcf): save AI responses in chat history using ref pattern
  src/client/pcf/AnalysisWorkspace/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisWorkspace/control/components/AnalysisWorkspaceApp.tsx
Owners: @spaarke-dev

fix(pcf): normalize apiBaseUrl to prevent double /api/api/ path
  src/client/pcf/AnalysisWorkspace/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisWorkspace/control/components/SourceDocumentViewer.tsx
  src/client/pcf/AnalysisWorkspace/control/hooks/useSseStream.ts
Owners: @spaarke-dev

fix(pcf): preserve chat history on dialog dismiss (v1.2.7)
  src/client/pcf/AnalysisWorkspace/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisWorkspace/control/components/AnalysisWorkspaceApp.tsx
Owners: @spaarke-dev

docs: update AI documentation for R3 Phases 1-5 completion
  docs/adr/ADR-013-ai-architecture.md
  docs/architecture/sdap-component-interactions.md
  docs/guides/RAG-ARCHITECTURE.md
  docs/guides/SPAARKE-AI-ARCHITECTURE.md
  docs/guides/ai-document-summary.md
Owners: @spaarke-dev, @docs-team

docs(visualization): complete project with configuration guide
  .claude/adr/ADR-022-pcf-platform-libraries.md
  .claude/adr/INDEX.md
  .claude/skills/dataverse-deploy/SKILL.md
  CLAUDE.md
  docs/adr/ADR-022-pcf-platform-libraries.md
  docs/adr/INDEX.md
  projects/pcf-react-16-remediation/CLAUDE.md
  projects/pcf-react-16-remediation/README.md
  projects/pcf-react-16-remediation/notes/migration-guide.md
  projects/pcf-react-16-remediation/spec.md
  projects/visualization-module-r2/README.md
  projects/visualization-module/README.md
  projects/visualization-module/current-task.md
  projects/visualization-module/notes/power-app-setup-guide.md
  projects/visualization-module/notes/visualization-configuration-guide.md
  projects/visualization-module/plan.md
  projects/visualization-module/tasks/TASK-INDEX.md
  src/client/pcf/DrillThroughWorkspace/control/ControlManifest.Input.xml
  src/client/pcf/DrillThroughWorkspace/control/components/DrillThroughWorkspaceApp.tsx
  src/client/pcf/DrillThroughWorkspace/control/components/charts/BarChart.tsx
  src/client/pcf/DrillThroughWorkspace/control/components/charts/CalendarVisual.tsx
  src/client/pcf/DrillThroughWorkspace/control/components/charts/ChartRenderer.tsx
  src/client/pcf/DrillThroughWorkspace/control/components/charts/DonutChart.tsx
  src/client/pcf/DrillThroughWorkspace/control/components/charts/LineChart.tsx
  src/client/pcf/DrillThroughWorkspace/control/components/charts/MetricCard.tsx
  src/client/pcf/DrillThroughWorkspace/control/components/charts/MiniTable.tsx
  src/client/pcf/DrillThroughWorkspace/control/components/charts/StatusDistributionBar.tsx
  src/client/pcf/DrillThroughWorkspace/control/components/charts/index.ts
  src/client/pcf/DrillThroughWorkspace/control/context/FilterStateContext.tsx
  src/client/pcf/DrillThroughWorkspace/control/index.ts
  src/client/pcf/DrillThroughWorkspace/control/services/ConfigurationLoader.ts
  src/client/pcf/DrillThroughWorkspace/control/services/DataAggregationService.ts
  src/client/pcf/DrillThroughWorkspace/control/types/index.ts
  src/client/pcf/DrillThroughWorkspace/featureconfig.json
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/control/index.ts
  src/client/pcf/VisualHost/control/providers/ThemeProvider.ts
  src/client/pcf/VisualHost/featureconfig.json
  src/client/pcf/VisualHost/pcfconfig.json
Owners: @spaarke-dev, @docs-team

fix(ai): use OBO authentication for SPE file download in analysis
  docs/repo-cleanup-guide.md
  src/client/pcf/AnalysisBuilder/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisBuilder/control/components/AnalysisBuilderApp.tsx
  src/client/pcf/AnalysisBuilder/control/index.ts
  src/client/pcf/AnalysisWorkspace/control/components/AnalysisWorkspaceApp.tsx
  src/client/pcf/AnalysisWorkspace/control/types/index.ts
  src/client/pcf/AnalysisWorkspace/control/types/marked.d.ts
  src/client/pcf/AnalysisWorkspace/control/utils/markdownToHtml.ts
  src/client/pcf/AnalysisWorkspace/package-lock.json
  src/client/pcf/AnalysisWorkspace/package.json
  src/client/pcf/AnalysisWorkspace/tsconfig.json
  src/client/webresources/js/sprk_analysis_commands.js
  src/server/api/Sprk.Bff.Api/Api/Ai/AnalysisEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/AnalysisAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisContextBuilder.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IAnalysisOrchestrationService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AnalysisOrchestrationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/EmailExportServiceTests.cs
Owners: @spaarke-dev, @docs-team

docs(ai): document OBO authentication for SPE file access in analysis
  .claude/patterns/ai/streaming-endpoints.md
  .claude/patterns/ai/text-extraction.md
  docs/architecture/sdap-auth-patterns.md
  docs/guides/AI-DEPLOYMENT-GUIDE.md
  docs/guides/SPAARKE-AI-ARCHITECTURE.md
  docs/guides/ai-document-summary.md
Owners: @spaarke-dev, @docs-team

feat(pcf): improve analysis UX with navigation, streaming, and re-execute
  src/client/pcf/AnalysisBuilder/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisBuilder/control/components/AnalysisBuilderApp.tsx
  src/client/pcf/AnalysisBuilder/control/index.ts
  src/client/pcf/AnalysisWorkspace/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisWorkspace/control/components/AnalysisWorkspaceApp.tsx
Owners: @spaarke-dev

fix(pcf): replace Tooltip with native title to fix blank-on-hover issue
  docs/guides/PCF-CUSTOM-PAGE-DEPLOY.md
  docs/guides/PCF-TROUBLESHOOTING.md
  src/client/pcf/AnalysisBuilder/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisBuilder/control/components/AnalysisBuilderApp.tsx
  src/client/pcf/AnalysisBuilder/control/index.ts
  src/client/pcf/AnalysisWorkspace/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisWorkspace/control/components/AnalysisWorkspaceApp.tsx
  src/client/pcf/AnalysisWorkspace/control/components/RichTextEditor/RichTextEditor.tsx
  src/client/pcf/AnalysisWorkspace/control/components/RichTextEditor/ToolbarPlugin.tsx
  src/client/pcf/AnalysisWorkspace/control/components/SourceDocumentViewer.tsx
  src/client/pcf/SpeFileViewer/control/ControlManifest.Input.xml
  src/client/pcf/SpeFileViewer/control/FilePreview.tsx
Owners: @spaarke-dev, @docs-team

style(email): fix whitespace formatting in email models
  src/server/api/Sprk.Bff.Api/Models/Email/EmailConversionModels.cs
  src/server/api/Sprk.Bff.Api/Services/Email/IEmailToEmlConverter.cs
Owners: @spaarke-dev

docs(skills): add context-handoff and project-continue skills for session recovery
  .claude/protocols/AIP-001-task-execution.md
  .claude/skills/INDEX.md
  .claude/skills/context-handoff/SKILL.md
  .claude/skills/project-continue/SKILL.md
  .claude/skills/task-execute/SKILL.md
  .claude/templates/current-task.template.md
  CLAUDE.md
  docs/procedures/context-recovery.md
  projects/ai-document-intelligence-r3/CLAUDE.md
  projects/ai-document-intelligence-r3/current-task.md
Owners: @spaarke-dev, @docs-team

feat(ai): complete AI Document Intelligence R3 project
  docs/guides/CUSTOMER-DEPLOYMENT-GUIDE.md
  docs/guides/CUSTOMER-QUICK-START-CHECKLIST.md
  projects/ai-document-analysis-enhancements/enhancements.md
  projects/ai-document-intelligence-r3/CLAUDE.md
  projects/ai-document-intelligence-r3/README.md
  projects/ai-document-intelligence-r3/current-task.md
  projects/ai-document-intelligence-r3/lessons-learned.md
  projects/ai-document-intelligence-r3/notes/task-046-health-verification.md
  projects/ai-document-intelligence-r3/tasks/046-verify-production-health.poml
  projects/ai-document-intelligence-r3/tasks/047-create-customer-deployment-guide.poml
  projects/ai-document-intelligence-r3/tasks/090-project-wrap-up.poml
  projects/ai-document-intelligence-r3/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(email): remove Graph SDK dependency from EmailEndpoints (ADR-007)
  src/server/api/Sprk.Bff.Api/Api/EmailEndpoints.cs
Owners: @spaarke-dev

docs(enhancements): add ENH-009-012 for R3 seed data gap
  projects/ai-document-analysis-enhancements/enhancements.md
Owners: @spaarke-dev

feat(ai): initialize AI Document Intelligence R4 project
  projects/ai-document-intelligence-r4/AI-ANALYSIS-IMPLEMENTATION-DESIGN.md
  projects/ai-document-intelligence-r4/CLAUDE.md
  projects/ai-document-intelligence-r4/CODE-INVENTORY.md
  projects/ai-document-intelligence-r4/README.md
  projects/ai-document-intelligence-r4/ai-dataverse-entity-model.md
  projects/ai-document-intelligence-r4/current-task.md
  projects/ai-document-intelligence-r4/plan.md
  projects/ai-document-intelligence-r4/spec.md
  projects/ai-document-intelligence-r4/tasks/001-validate-dataverse-entities.poml
  projects/ai-document-intelligence-r4/tasks/010-populate-type-lookups.poml
  projects/ai-document-intelligence-r4/tasks/011-create-action-seed-data.poml
  projects/ai-document-intelligence-r4/tasks/012-create-tool-seed-data.poml
  projects/ai-document-intelligence-r4/tasks/013-create-knowledge-seed-data.poml
  projects/ai-document-intelligence-r4/tasks/014-create-skill-seed-data.poml
  projects/ai-document-intelligence-r4/tasks/015-deploy-seed-data.poml
  projects/ai-document-intelligence-r4/tasks/020-implement-summary-handler.poml
  projects/ai-document-intelligence-r4/tasks/021-test-summary-handler.poml
  projects/ai-document-intelligence-r4/tasks/022-implement-riskdetector-handler.poml
  projects/ai-document-intelligence-r4/tasks/023-test-riskdetector-handler.poml
  projects/ai-document-intelligence-r4/tasks/024-implement-clausecomparison-handler.poml
  projects/ai-document-intelligence-r4/tasks/025-test-clausecomparison-handler.poml
  projects/ai-document-intelligence-r4/tasks/026-implement-dateextractor-handler.poml
  projects/ai-document-intelligence-r4/tasks/027-test-dateextractor-handler.poml
  projects/ai-document-intelligence-r4/tasks/028-implement-financialcalculator-handler.poml
  projects/ai-document-intelligence-r4/tasks/029-test-financialcalculator-handler.poml
  projects/ai-document-intelligence-r4/tasks/030-create-scope-endpoints.poml
  projects/ai-document-intelligence-r4/tasks/031-implement-execute-playbook.poml
  projects/ai-document-intelligence-r4/tasks/032-add-authorization-filters.poml
  projects/ai-document-intelligence-r4/tasks/040-create-mvp-playbooks.poml
  projects/ai-document-intelligence-r4/tasks/041-link-scopes-to-playbooks.poml
  projects/ai-document-intelligence-r4/tasks/042-validate-playbook-configs.poml
  projects/ai-document-intelligence-r4/tasks/050-enhance-playbook-selector.poml
  projects/ai-document-intelligence-r4/tasks/051-integrate-playbook-workspace.poml
  projects/ai-document-intelligence-r4/tasks/052-display-playbook-info.poml
  projects/ai-document-intelligence-r4/tasks/053-test-dark-mode.poml
  projects/ai-document-intelligence-r4/tasks/090-project-wrap-up.poml
  projects/ai-document-intelligence-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(ai): R4 bug fixes for playbook scopes, actions, and chat history
  projects/ai-document-intelligence-r4/current-task.md
  projects/ai-document-intelligence-r4/notes/dark-mode-test-results.md
  src/client/pcf/AnalysisBuilder/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisBuilder/control/components/AnalysisBuilderApp.tsx
  src/client/pcf/AnalysisWorkspace/control/ControlManifest.Input.xml
  src/client/pcf/AnalysisWorkspace/control/components/AnalysisWorkspaceApp.tsx
  src/server/api/Sprk.Bff.Api/Services/Ai/ScopeResolverService.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/IDataverseService.cs
  src/server/shared/Spaarke.Dataverse/Models.cs
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
