Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

feat(l2-controlplane): task 105 - Redis-backed DispatchIdempotencyService + dispatcher decision test suite
  projects/customer-provisioning-orchestration-r1/tasks/105-dispatcher-decision-idempotency-test-suite-dispatchcoreasync-table-driven.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Dispatch/DispatchIdempotencyService.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Dispatch/DispatchModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Dispatch/IDispatchIdempotencyService.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Dispatch/NoOpDispatchIdempotencyService.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Dispatch/DispatchCoreDecisionTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Dispatch/DispatchIdempotencyServiceTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Dispatch/DispatchModuleTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Dispatch/HandlerEnvelopeRoundTripTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev

chore(customer-provisioning-orchestration-r1): context-handoff — Wave G-1 100% COMPLETE
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

feat(spaarkeai): re-attach uploaded files on History reopen (best-effort 24h)
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPaneChrome.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPaneChrome.files-availability.test.tsx
Owners: @spaarke-dev

feat(provisioning): task 122 — H0.5 DI-swap onto real DataverseEnvironmentRegistryClient (Path X)
  infrastructure/bicep/modules/controlplane-worker-app-service.bicep
  infrastructure/bicep/platform-controlplane.bicep
  infrastructure/bicep/platform-controlplane.json
  projects/customer-provisioning-orchestration-r1/tasks/122-h0-5-di-swap-onto-c1-4-registry-client-remove-nulldataverseenvironmentregistryclient.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Dispatch/HandlerRegistrationCompletenessTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Seam/ProvisioningDispatchSpineSeamTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev

feat(provisioning): task 121 -- H1 real ARM subscription-reachability + Lighthouse probe (Phase C'' Wave G-2)
  projects/customer-provisioning-orchestration-r1/tasks/121-h1-real-arm-subscription-reachability-lighthouse-probe-replace-nullsubscriptionreadinessprobe.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SubscriptionReadiness/ArmSubscriptionReadinessProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SubscriptionReadiness/H1SubscriptionReadinessHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SubscriptionReadiness/ISubscriptionReadinessProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SubscriptionReadiness/NullSubscriptionReadinessProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SubscriptionReadiness/SubscriptionReadinessRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Sprk.Provisioning.ControlPlane.Core.csproj
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/ArmSubscriptionReadinessProbeTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H1SubscriptionReadinessHandlerTests.cs
Owners: @spaarke-dev

feat(provisioning): task 120 -- H0 SDK-port 4 preflight probes (Phase C'' Wave G-2)
  projects/customer-provisioning-orchestration-r1/tasks/120-h0-sdk-port-4-preflight-probes-arm-cognitiveservices-tpm-bap-rest-env-rate.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/Preflight/ArmCognitiveServicesTpmProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/Preflight/ArmComputeVCpuProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/Preflight/BapRestEnvironmentRateProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/Preflight/IPreflightQuotaProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/Preflight/KeyVaultCertBootstrapProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/Preflight/PowerShellPreflightProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Modules/HandlersModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/ArmCognitiveServicesTpmProbeTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/ArmComputeVCpuProbeTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/BapRestEnvironmentRateProbeTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/KeyVaultCertBootstrapProbeTests.cs
Owners: @spaarke-dev

fix(infra): platform-controlplane-dev.bicepparam + runbook cmd fix (Wave G-2 fix-at-discovery)
  infrastructure/bicep/parameters/platform-controlplane-dev.bicepparam
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

feat(provisioning): task 124 — H2b SearchIndexClient port + real AI Search tenant-filter template provisioner
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSearchIndex/AiSearchIndexOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSearchIndex/AiSearchTenantFilterTemplateProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSearchIndex/DeployAllIndexesScriptProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSearchIndex/H2bAiSearchIndexHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSearchIndex/IAiSearchIndexProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSearchIndex/IAiSearchTenantFilterTemplateProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSearchIndex/IndexSchemas/spaarke-discovery-index.json
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSearchIndex/IndexSchemas/spaarke-files-index.json
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSearchIndex/IndexSchemas/spaarke-insights-index.json
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSearchIndex/IndexSchemas/spaarke-invoices-index.json
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSearchIndex/IndexSchemas/spaarke-rag-references.json
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSearchIndex/IndexSchemas/spaarke-records-index.json
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSearchIndex/IndexSchemas/spaarke-session-files.json
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSearchIndex/SearchIndexClientProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/AiSearchIndex/StubAiSearchTenantFilterTemplateProvisioner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Sprk.Provisioning.ControlPlane.Core.csproj
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/AiSearchTenantFilterTemplateProvisionerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/SearchIndexClientProvisionerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev

docs(provisioning): task 124 -- mark H2b SearchIndexClient port complete
  projects/customer-provisioning-orchestration-r1/tasks/124-h2b-searchindexclient-port-real-ai-search-tenant-filter-template-provisioner.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(provisioning): task 123 -- H2a ARM.Resources deployment SDK port (Phase C'' Wave G-2)
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/ArmDeploymentRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/ArmKeyVaultRefProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/ArmWhatIfDriftDetector.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/AzCliArmKeyVaultRefProbe.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/AzCliUpgradeDriftDetector.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/BicepInfraDeployOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/ProvisionCustomerScriptBicepDeployRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Sprk.Provisioning.ControlPlane.Core.csproj
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Dispatch/HandlerRegistrationCompletenessTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/ArmDeploymentRunnerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/ArmKeyVaultRefProbeTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/ArmSubscriptionReadinessProbeTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/ArmWhatIfDriftDetectorTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev

docs(provisioning): task 123 -- mark H2a ARM deployment SDK port complete
  projects/customer-provisioning-orchestration-r1/tasks/123-h2a-arm-resources-deployment-port-armdeployment-createorupdateasync-whatifatsubscriptionscopeasync.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(assessments): quality follow-up checkpoint + skipped-test assessment
  docs/assessments/quality-followups-execution-checkpoint-2026-08-19.md
  docs/assessments/test-suite-skipped-tests-assessment-2026-08-19.md
Owners: @spaarke-dev, @docs-team

docs(compose-r8): add durable-session-files scope track (90-day file availability)
  projects/spaarkeai-compose-r8/README.md
  projects/spaarkeai-compose-r8/notes/durable-session-files.md
Owners: @spaarke-dev, @docs-team

feat(l2-controlplane): task 125 - H4 SecretClient/ARM.AppService/ARM.Authorization SDK port
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/125-h4-secretclient-family-port-arm-appservice-keyvaultreferenceidentity-patch.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/ArmAppServiceIdentityPatcher.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/ArmSlotIdentityRoleGranter.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/AzCliAppServiceIdentityPatcher.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/AzCliKvSecretsWriter.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/AzCliSlotIdentityRoleGranter.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/SecretClientKvWriter.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Sprk.Provisioning.ControlPlane.Core.csproj
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/ArmAppServiceIdentityPatcherTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/ArmSlotIdentityRoleGranterTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/SecretClientKvWriterTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev

checkpoint(email-intelligence-r2): UAT round 4 restore point — 8 reconcile-UI fixes captured
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

feat(l2-controlplane): task 126 - H4 real value-sourcing + task-084 manifest DI-swap
  projects/customer-provisioning-orchestration-r1/notes/task-126-deviations.md
  projects/customer-provisioning-orchestration-r1/tasks/126-h4-real-value-sourcing-per-kvsecretvaluesource-generate-copy-reference.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/FileKvSecretManifest.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/H4KvSecretsPopulationHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/IKvSecretsWriter.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/KvSecretValueResolver.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/SecretClientKvWriter.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Sprk.Provisioning.ControlPlane.Core.csproj
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/FileKvSecretManifestTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/KvSecretValueResolverTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/SecretClientKvWriterTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Worker/Program.cs
Owners: @spaarke-dev

chore(customer-provisioning-orchestration-r1): context-handoff — Wave G-2 100% COMPLETE
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

fix(email-intelligence-r2): UAT round 4 reconcile-UI fixes (items 1, 2a-c, 2f, 2g)
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailConnectionsReview.styles.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailConnectionsReview.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailConnectionsReviewRows.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/ReconcileTabs/FieldUpdateReconcileTab.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationGrid/ReconciliationGrid.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationWorkspace/ReconciliationWorkspace.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
Owners: @spaarke-dev

docs(projects): seed sdap.bff.api-test-suite-repair-r3 (skipped-test debt)
  projects/sdap.bff.api-test-suite-repair-r3/README.md
  projects/sdap.bff.api-test-suite-repair-r3/notes/skipped-tests-assessment-2026-08-19.md
Owners: @spaarke-dev, @docs-team

docs(compose-r7): session-4 close-out — banner unify, 1b re-attach, R-5 confirmed, UAT-10 assigned
  projects/spaarkeai-compose-r7/notes/uat-issues.md
Owners: @spaarke-dev

test(email-intelligence-r2): lock UAT round 4 items 2f + 2g behaviors
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/__tests__/EmailAssociationsAndTracking.test.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/ReconcileTabs/__tests__/FieldUpdateReconcileTab.test.tsx
Owners: @spaarke-dev

checkpoint(email-intelligence-r2): UAT round 4 done + deployed — restore point
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

chore(auth): add portfolio pointer block for Project #800
  projects/spaarke-auth-v4-dataverse-MI/README.md
Owners: @spaarke-dev, @docs-team

chore(customer-provisioning-orchestration-r1): tasks 127/128/129 -- customer.bicep completion POMLs (Path 1 owner decision)
  projects/customer-provisioning-orchestration-r1/tasks/127-customer-bicep-uami-and-appservice-modules-and-wiring.poml
  projects/customer-provisioning-orchestration-r1/tasks/128-customer-bicep-openai-and-aisearch-modules-and-wiring.poml
  projects/customer-provisioning-orchestration-r1/tasks/129-customer-bicep-kv-secrets-generated-invocation-and-output-threading.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(assessment): SignalR UAT-10 real-time delivery issue assessment (shareable handoff)
  docs/assessments/signalr-uat10-realtime-delivery-assessment-2026-08-19.md
  projects/spaarkeai-compose-r7/notes/uat-issues.md
Owners: @spaarke-dev, @docs-team

feat(customer-provisioning-orchestration-r1): task 127 -- wire UAMI + BFF App Service into customer.bicep
  infrastructure/bicep/customer.bicep
  infrastructure/bicep/customer.json
  projects/customer-provisioning-orchestration-r1/tasks/127-customer-bicep-uami-and-appservice-modules-and-wiring.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

chore(compose-r7): close project — 090 wrap-up delta (test-diet, README Complete, lessons)
  projects/spaarkeai-compose-r7/README.md
  projects/spaarkeai-compose-r7/notes/lessons-learned.md
  projects/spaarkeai-compose-r7/notes/test-diet-report.md
Owners: @spaarke-dev, @docs-team

chore(customer-provisioning-orchestration-r1): current-task.md -- task 127 complete
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

chore(compose-r7): archive project (close-out marker; worktree preserved)
  projects/spaarkeai-compose-r7/.archived
Owners: @spaarke-dev

fix(email-intelligence-r2): UAT round 5 reconcile-UI fixes (items 1-6)
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailConnectionsReview.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationGrid/ReconciliationGrid.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationWorkspace/ReconciliationWorkspace.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationWorkspace/__tests__/ReconciliationWorkspace.test.tsx
  src/client/shared/Spaarke.Communication.Components/src/logic/connections/__tests__/clearPrimaryAndTypeLabel.test.ts
  src/client/shared/Spaarke.Communication.Components/src/logic/connections/provenance.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
Owners: @spaarke-dev

checkpoint(email-intelligence-r2): UAT round 5 done + deployed — restore point
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

feat(bicep): wire Azure OpenAI + AI Search modules into customer.bicep (task 128)
  infrastructure/bicep/customer.bicep
  infrastructure/bicep/customer.json
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/128-customer-bicep-openai-and-aisearch-modules-and-wiring.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(notification-spine): SignalR UAT-10 RESOLVED — rotated-key drift on spaarke-bff-dev, re-copied current key
  projects/spaarke-notification-spine-r1/notes/handoffs/signalr-uat10-realtime-delivery-assessment-2026-08-19.md
Owners: @spaarke-dev

chore(customer-provisioning-orchestration-r1): task 128b -- customer.bicep DocIntel + AppInsights + LogAnalytics + Redis wiring POML (E1/E2 owner decisions)
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/128b-customer-bicep-docintel-appinsights-loganalytics-redis-wiring.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(auth): add POML tasks 002-033 (phases 0-3)
  projects/spaarke-auth-v4-dataverse-MI/tasks/002-spike-obo-under-mi-fic.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/003-record-credential-decision.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/010-fix-mi-flag-gating-defect.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/011-fix-di-lifetimes.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/020-client-assertion-provider-seam.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/021-ordered-credential-selection.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/022-migrate-confidential-clients.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/023-identity-conflation-guard.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/024-relax-config-validators.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/030-fic-provisioning-automation.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/031-slot-deploy-obo-verification.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/032-slot-swap-and-soak.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/033-remove-secret-and-reconcile-estate.poml
Owners: @spaarke-dev

docs(auth-v4): correct the unification sequencing claim — not a dependency
  projects/spaarke-auth-v4-dataverse-MI/design.md
  projects/spaarke-auth-v4-dataverse-MI/notes/RESEARCH-FINDINGS.md
Owners: @spaarke-dev

chore(customer-provisioning-orchestration-r1): amend tasks 128b + 129 POMLs -- Path B fold-in per owner 2026-08-19
  projects/customer-provisioning-orchestration-r1/tasks/128b-customer-bicep-docintel-appinsights-loganalytics-redis-wiring.poml
  projects/customer-provisioning-orchestration-r1/tasks/129-customer-bicep-kv-secrets-generated-invocation-and-output-threading.poml
Owners: @spaarke-dev

feat(auth): complete the auth-v4 task set — all 29 POMLs
  projects/spaarke-auth-v4-dataverse-MI/tasks/040-verify-powerbi-profiles-under-mi.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/041-powerbi-uami-principal.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/042-remove-powerbi-secret.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/050-content-safety-to-mi.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/051-service-bus-to-mi.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/052-azure-openai-e2-retest.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/053-ai-search-to-entra.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/054-doc-intelligence-to-entra.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/055-promptflow-key-disposition.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/056-bing-key-kv-by-name.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/060-archtest-credential-ban.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/061-credential-census-test.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/062-startup-credential-assertion.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/063-declare-archtests-maintain-class.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/090-project-wrap-up.poml
  projects/spaarke-auth-v4-dataverse-MI/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(customer-provisioning): task 128b — wire DocIntel + Monitoring + Redis into customer.bicep, v3.6 Redis Model 1/2 reconciliation
  infrastructure/bicep/customer.bicep
  infrastructure/bicep/customer.json
  projects/customer-provisioning-orchestration-r1/CLAUDE.md
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/design.md
  projects/customer-provisioning-orchestration-r1/spec.md
  projects/customer-provisioning-orchestration-r1/tasks/128b-customer-bicep-docintel-appinsights-loganalytics-redis-wiring.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(customer-provisioning): task 129 -- invoke kv-secrets.generated.bicep in customer.bicep + manifest.yaml E3 fix
  infrastructure/bicep/customer.bicep
  infrastructure/bicep/customer.json
  projects/customer-provisioning-orchestration-r1/current-task.md
  projects/customer-provisioning-orchestration-r1/tasks/129-customer-bicep-kv-secrets-generated-invocation-and-output-threading.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  scripts/canonical-secret-catalog/generated/Seed-CustomerKeyVault.generated.ps1
  scripts/canonical-secret-catalog/generated/appsettings.tokens.generated.md
  scripts/canonical-secret-catalog/generated/kv-secrets.generated.bicep
  scripts/canonical-secret-catalog/manifest.yaml
Owners: @spaarke-dev, @devops-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
