Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

feat(matter-ui-r1): Wave 1B complete (task 012) — Phase 1 done
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
  projects/spaarke-matter-ui-enhancement-r1/tasks/012-shared-components-barrel.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/TASK-INDEX.md
  src/client/pcf/VisualHost/package-lock.json
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
Owners: @spaarke-dev

feat(matter-ui-r1): Wave 2A complete (tasks 020, 023, 024) — VisualHost renderer extensions
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
  projects/spaarke-matter-ui-enhancement-r1/tasks/020-donut-fieldpivot-matrixright.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/023-hsbar-headlineabovebar.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/024-cardchrome-wrapper.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/TASK-INDEX.md
  src/client/pcf/VisualHost/control/components/CardChrome.tsx
  src/client/pcf/VisualHost/control/components/ChartRenderer.tsx
  src/client/pcf/VisualHost/control/components/DonutChart.tsx
  src/client/pcf/VisualHost/control/components/HorizontalStackedBar.tsx
  src/client/pcf/VisualHost/control/components/MetricCardMatrix.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/control/types/index.ts
  src/client/pcf/VisualHost/control/utils/cardConfigResolver.ts
  src/client/pcf/VisualHost/control/utils/tokenSetColors.ts
Owners: @spaarke-dev

feat(matter-ui-r1): Wave 2BC complete (tasks 021, 022) + ChartRenderer wire-up
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
  projects/spaarke-matter-ui-enhancement-r1/tasks/021-metriccard-badge-slot.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/022-metriccard-descriptioncolor.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/TASK-INDEX.md
  src/client/pcf/VisualHost/control/components/ChartRenderer.tsx
  src/client/pcf/VisualHost/control/components/MetricCard.tsx
  src/client/pcf/VisualHost/control/types/index.ts
  src/client/pcf/VisualHost/control/utils/cardConfigResolver.ts
Owners: @spaarke-dev

feat(matter-ui-r1): Wave 2D + Wave 4 complete (tasks 025, 050, 051)
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
  projects/spaarke-matter-ui-enhancement-r1/notes/spikes/visualhost-nfr05-code-analysis.md
  projects/spaarke-matter-ui-enhancement-r1/tasks/025-visualhost-backward-compat-regression.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/050-bff-search-modified-projection.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/051-bff-bulk-download-endpoint.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/DocumentsBulkEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/BulkDownloadAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/SemanticSearch/SearchResult.cs
  src/server/api/Sprk.Bff.Api/Models/Documents/BulkDownloadRequest.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/SemanticSearch/SemanticSearchService.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/Models.cs
Owners: @spaarke-dev

feat(matter-ui-r1): Phase 3 complete — 5 chart definitions in Dataverse
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
  projects/spaarke-matter-ui-enhancement-r1/tasks/030-matter-health-chart-def.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/031-matter-budget-chart-def.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/032-matter-tasks-chart-def.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/033-matter-next-date-chart-def.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/034-matter-activity-chart-def.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(r4): scope expansion — 8 add-on tasks (072–079) + iframe-wizard project
  projects/spaarke-ai-platform-unification-r4/notes/r5-backlog-candidates.md
  projects/spaarke-ai-platform-unification-r4/tasks/072-a2-workspace-renderer-tighten-interface.poml
  projects/spaarke-ai-platform-unification-r4/tasks/073-b1-datasetgrid-rules-of-hooks.poml
  projects/spaarke-ai-platform-unification-r4/tasks/074-b2-ui-components-tsc-errors.poml
  projects/spaarke-ai-platform-unification-r4/tasks/075-b4-spaarkeai-tsc-errors.poml
  projects/spaarke-ai-platform-unification-r4/tasks/076-b5-calendarsidepane-filter-shape.poml
  projects/spaarke-ai-platform-unification-r4/tasks/077-b7-ui-components-jsdom-timing-fixes.poml
  projects/spaarke-ai-platform-unification-r4/tasks/078-b3-eslint-warning-sweep.poml
  projects/spaarke-ai-platform-unification-r4/tasks/079-deploys-bff-and-code-pages.poml
  projects/spaarke-ai-platform-unification-r4/tasks/TASK-INDEX.md
  projects/spaarke-iframe-wizard-pattern-enhancement/README.md
  projects/spaarke-iframe-wizard-pattern-enhancement/design.md
Owners: @spaarke-dev, @docs-team

feat(matter-ui-r1): tasks 040 + 047 complete (3-dot menu + VH docs)
  docs/architecture/VISUALHOST-ARCHITECTURE.md
  docs/guides/VISUALHOST-SETUP-GUIDE.md
  projects/spaarke-matter-ui-enhancement-r1/tasks/040-documents-three-dot-menu.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/047-visualhost-docs-update.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/TASK-INDEX.md
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/FilePreviewDialog.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ResultCard.tsx
Owners: @spaarke-dev, @docs-team

feat(matter-ui-r1): Phase 4 tasks 041, 042, 043, 044 complete
  projects/spaarke-matter-ui-enhancement-r1/tasks/041-documents-list-card-toggle.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/042-documents-tags-filter.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/043-documents-filter-relocation.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/044-documents-dialog-restructure.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/TASK-INDEX.md
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/__tests__/hooks/useSemanticSearch.test.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/CommandBar.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/FilePreviewDialog.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ListView.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/index.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/hooks/index.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/hooks/useDocumentListPrefs.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/services/SemanticSearchApiService.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/types/search.ts
Owners: @spaarke-dev

chore(r4): Wave A — 072, 073, 074, 075, 076, 077 (41/45 ✅)
  projects/spaarke-ai-platform-unification-r4/notes/072-workspace-renderer-fix.md
  projects/spaarke-ai-platform-unification-r4/notes/073-datasetgrid-hooks-fix.md
  projects/spaarke-ai-platform-unification-r4/notes/074-ui-components-tsc-fix.md
  projects/spaarke-ai-platform-unification-r4/notes/075-spaarkeai-tsc-fix.md
  projects/spaarke-ai-platform-unification-r4/notes/076-calendarsidepane-shape-fix.md
  projects/spaarke-ai-platform-unification-r4/notes/077-jsdom-timing-fix.md
  projects/spaarke-ai-platform-unification-r4/tasks/076-b5-calendarsidepane-filter-shape.poml
  projects/spaarke-ai-platform-unification-r4/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/eslint.config.js
  src/client/shared/Spaarke.UI.Components/src/components/AiProgressStepper/AiProgressStepper.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DatasetGrid/GridView.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DatasetGrid/ListView.tsx
  src/client/shared/Spaarke.UI.Components/src/components/DatasetGrid/ViewSelector.tsx
  src/client/shared/Spaarke.UI.Components/src/components/PanelSplitter/PanelSplitter.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SlashCommandMenu/slashCommandMenu.types.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/SprkChat.attachments.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/useChatFileAttachment.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/client/shared/Spaarke.UI.Components/src/components/ThreePaneLayout/ThreePaneLayout.tsx
  src/client/shared/Spaarke.UI.Components/src/components/TodoDetail/TodoDetail.tsx
  src/client/shared/Spaarke.UI.Components/src/hooks/useSlashCommands.ts
  src/client/shared/Spaarke.UI.Components/src/workspace/WorkspaceRenderer.ts
  src/solutions/CalendarSidePane/src/utils/parseParams.ts
  src/solutions/CalendarSidePane/src/utils/postMessage.ts
  src/solutions/LegalWorkspace/src/index.ts
  src/solutions/SpaarkeAi/src/components/context/ContextPaneMenu.tsx
  src/solutions/SpaarkeAi/src/components/shell/ThreePaneShell.tsx
  src/solutions/SpaarkeAi/tsconfig.json
Owners: @spaarke-dev

feat(matter-ui-r1): Phase 4 complete — tasks 045 + 046 (bulk bar + telemetry)
  projects/spaarke-matter-ui-enhancement-r1/tasks/045-documents-bulk-action-bar.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/046-documents-telemetry.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/TASK-INDEX.md
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/BulkActionBar.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/index.ts
Owners: @spaarke-dev

chore(matter-ui-r1): bump PCF versions + pack solution ZIPs for deploy
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/bundle.js
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
Owners: @spaarke-dev

fix(bff-deploy): update env names + add 2 Failure Modes entries
  .claude/skills/bff-deploy/SKILL.md
  scripts/Deploy-BffApi.ps1
Owners: @spaarke-dev, @devops-team

chore(matter-ui-r1): mark task 072 BFF deploy ✅; 070/071 PCFs ZIP-ready
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
  projects/spaarke-matter-ui-enhancement-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

chore(r4): 080 CVE patches — OpenMcdf 3.1.0→3.1.4 + OpenTelemetry.Api 1.15.0→1.15.3 (Kiota HIGH deferred)
  projects/spaarke-ai-platform-unification-r4/notes/080-cve-patches.md
  projects/spaarke-ai-platform-unification-r4/tasks/080-cve-patches-openmcdf-opentelemetry.poml
  projects/spaarke-ai-platform-unification-r4/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
Owners: @spaarke-dev

chore(r4): 079 deploys complete — BFF + 3 Code Pages live on dev
  projects/spaarke-ai-platform-unification-r4/notes/079-deploy-verification.md
  projects/spaarke-ai-platform-unification-r4/tasks/TASK-INDEX.md
  scripts/Deploy-CalendarSidePane.ps1
Owners: @spaarke-dev, @devops-team

feat(matter-ui-r1): SemanticSearchControl v1.1.45 — UX polish round 1 (9 items)
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/BulkActionBar.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/FilePreviewDialog.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ListView.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/hooks/useDocumentListPrefs.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

feat(matter-ui-r1): SemanticSearchControl v1.1.46 — UX polish round 2 (5 items)
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/FilePreviewDialog.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ListView.tsx
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

feat(matter-ui-r1): SemanticSearchControl v1.1.47 — polish round 3 (4 items)
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/CommandBar.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ListView.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ResultCard.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ResultsList.tsx
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

fix(matter-ui-r1): SemanticSearchControl v1.1.48 — clean rebuild for cache override
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

feat(matter-ui-r1): SemanticSearchControl v1.1.49 — polish round 4 (9 items + nav relocation)
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/BulkActionBar.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/CommandBar.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/FilePreviewDialog.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ResultCard.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ResultsList.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/hooks/useSemanticSearch.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/services/SemanticSearchApiService.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/types/props.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

feat(matter-ui-r1): SemanticSearchControl v1.1.50 — polish round 5 (8 items)
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/FilePreviewDialog.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ListView.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/services/SemanticSearchApiService.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/types/search.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

docs(matter-ui-r1): pre-compaction handoff capturing UAT polish state + v1.1.51 queue
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
  projects/spaarke-matter-ui-enhancement-r1/notes/handoffs/handoff-2026-05-28-pre-compact.md
Owners: @spaarke-dev

docs(knowledge): add Power Apps host visual standards + cross-surface fit pattern
  .claude/patterns/INDEX.md
  .claude/patterns/ui/INDEX.md
  .claude/patterns/ui/fluent-v9-host-visual-fit.md
  .claude/skills/fluent-v9-component/SKILL.md
  knowledge/fluent-ui-v9/docs/INDEX.md
  knowledge/fluent-ui-v9/docs/host-canvas-modern-controls.md
  knowledge/fluent-ui-v9/docs/host-canvas-modern-theming.md
  knowledge/fluent-ui-v9/docs/host-code-pages-styling.md
  knowledge/fluent-ui-v9/docs/host-mda-modern-look.md
Owners: @spaarke-dev, @docs-team

spec(insights-engine): narrow Phase 1 to D-P1..D-P17 (universal layered ingest)
  docs/architecture/INSIGHTS-ENGINE-ARCHITECTURE.md
  projects/ai-spaarke-insights-engine-r1/README.md
  projects/ai-spaarke-insights-engine-r1/SPEC-phase-1-minimum.md
  projects/ai-spaarke-insights-engine-r1/SPEC.md
  projects/ai-spaarke-insights-engine-r1/decisions.md
  projects/ai-spaarke-insights-engine-r1/design.md
Owners: @spaarke-dev, @docs-team

feat(matter-ui-r1): SemanticSearchControl v1.1.51 — polish round 6 (8 items)
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/CommandBar.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/FilePreviewDialog.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ListView.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ResultCard.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/SearchInput.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/services/SemanticSearchApiService.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/types/search.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

docs(matter-ui-r1): update current-task.md for v1.1.51 polish round
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
Owners: @spaarke-dev

chore(r4): 090 R4 PROJECT WRAP-UP — R4 SHIPPED ✅
  projects/spaarke-ai-platform-unification-r4/README.md
  projects/spaarke-ai-platform-unification-r4/current-task.md
  projects/spaarke-ai-platform-unification-r4/notes/lessons-learned.md
  projects/spaarke-ai-platform-unification-r4/plan.md
  projects/spaarke-ai-platform-unification-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(knowledge): tighten fluent-v9 host-standards — single source of truth for mechanism distinction
  .claude/patterns/ui/fluent-v9-host-visual-fit.md
  .claude/patterns/ui/fluent-v9-theming.md
  .claude/skills/fluent-v9-component/SKILL.md
  knowledge/fluent-ui-v9/docs/INDEX.md
  knowledge/fluent-ui-v9/docs/host-canvas-modern-controls.md
  knowledge/fluent-ui-v9/docs/host-canvas-modern-theming.md
  knowledge/fluent-ui-v9/docs/host-code-pages-styling.md
  knowledge/fluent-ui-v9/docs/host-mda-modern-look.md
Owners: @spaarke-dev, @docs-team

chore(insights-engine): /project-pipeline Step 2-3 — 24 POML tasks + planning artifacts
  projects/ai-spaarke-insights-engine-r1/CLAUDE.md
  projects/ai-spaarke-insights-engine-r1/current-task.md
  projects/ai-spaarke-insights-engine-r1/plan.md
  projects/ai-spaarke-insights-engine-r1/tasks/001-insight-artifact-envelope.poml
  projects/ai-spaarke-insights-engine-r1/tasks/002-iinsightgraph-interface.poml
  projects/ai-spaarke-insights-engine-r1/tasks/010-bicep-insights-index-and-shell.poml
  projects/ai-spaarke-insights-engine-r1/tasks/011-sprk-precedent-entity.poml
  projects/ai-spaarke-insights-engine-r1/tasks/012-precedent-admin-endpoint.poml
  projects/ai-spaarke-insights-engine-r1/tasks/020-grounding-verifier.poml
  projects/ai-spaarke-insights-engine-r1/tasks/021-confidence-gating-emission.poml
  projects/ai-spaarke-insights-engine-r1/tasks/022-insights-mode-node-executors.poml
  projects/ai-spaarke-insights-engine-r1/tasks/023-insights-playbook-cache.poml
  projects/ai-spaarke-insights-engine-r1/tasks/024-generic-cache-helper.poml
  projects/ai-spaarke-insights-engine-r1/tasks/025-reference-indexing-parameterization.poml
  projects/ai-spaarke-insights-engine-r1/tasks/030-layer1-classification-prompt.poml
  projects/ai-spaarke-insights-engine-r1/tasks/031-layer2-outcome-extraction-prompt.poml
  projects/ai-spaarke-insights-engine-r1/tasks/040-universal-ingest-playbook.poml
  projects/ai-spaarke-insights-engine-r1/tasks/041-precedent-projection-sync.poml
  projects/ai-spaarke-insights-engine-r1/tasks/042-iinsights-ai-facade.poml
  projects/ai-spaarke-insights-engine-r1/tasks/050-spe-upload-consumer.poml
  projects/ai-spaarke-insights-engine-r1/tasks/051-observation-mirror-sync.poml
  projects/ai-spaarke-insights-engine-r1/tasks/052-observation-review-surface.poml
  projects/ai-spaarke-insights-engine-r1/tasks/060-predict-matter-cost-playbook.poml
  projects/ai-spaarke-insights-engine-r1/tasks/061-insights-ask-endpoint.poml
  projects/ai-spaarke-insights-engine-r1/tasks/070-smoke-test-golden-dataset-eval.poml
  projects/ai-spaarke-insights-engine-r1/tasks/080-deploy-to-spaarke-dev.poml
  projects/ai-spaarke-insights-engine-r1/tasks/090-project-wrap-up.poml
  projects/ai-spaarke-insights-engine-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(insights-engine): D-P1 — InsightArtifact envelope POCOs (four-tier taxonomy)
  projects/ai-spaarke-insights-engine-r1/current-task.md
  projects/ai-spaarke-insights-engine-r1/tasks/001-insight-artifact-envelope.poml
  projects/ai-spaarke-insights-engine-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Models/Insights/DeclineResponse.cs
  src/server/api/Sprk.Bff.Api/Models/Insights/EvidenceRef.cs
  src/server/api/Sprk.Bff.Api/Models/Insights/InsightArtifact.cs
  tests/unit/Sprk.Bff.Api.Tests/Models/Insights/InsightArtifactTests.cs
Owners: @spaarke-dev

feat(insights-engine): D-P17 IInsightGraph interface + DTOs + stub impl
  projects/ai-spaarke-insights-engine-r1/current-task.md
  projects/ai-spaarke-insights-engine-r1/tasks/002-iinsightgraph-interface.poml
  projects/ai-spaarke-insights-engine-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/InsightsModule.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Insights/Graph/GraphTraversalSpec.cs
  src/server/api/Sprk.Bff.Api/Services/Insights/Graph/IInsightGraph.cs
  src/server/api/Sprk.Bff.Api/Services/Insights/Graph/InsightEdge.cs
  src/server/api/Sprk.Bff.Api/Services/Insights/Graph/InsightVertex.cs
  src/server/api/Sprk.Bff.Api/Services/Insights/Graph/StubInsightGraph.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Insights/Graph/StubInsightGraphTests.cs
Owners: @spaarke-dev

chore(insights-engine): rename derived index insights-index → spaarke-insights-index
  projects/ai-spaarke-insights-engine-r1/CLAUDE.md
  projects/ai-spaarke-insights-engine-r1/README.md
  projects/ai-spaarke-insights-engine-r1/SPEC-phase-1-minimum.md
  projects/ai-spaarke-insights-engine-r1/SPEC.md
  projects/ai-spaarke-insights-engine-r1/current-task.md
  projects/ai-spaarke-insights-engine-r1/decisions.md
  projects/ai-spaarke-insights-engine-r1/design.md
  projects/ai-spaarke-insights-engine-r1/plan.md
  projects/ai-spaarke-insights-engine-r1/tasks/010-bicep-insights-index-and-shell.poml
  projects/ai-spaarke-insights-engine-r1/tasks/021-confidence-gating-emission.poml
  projects/ai-spaarke-insights-engine-r1/tasks/022-insights-mode-node-executors.poml
  projects/ai-spaarke-insights-engine-r1/tasks/025-reference-indexing-parameterization.poml
  projects/ai-spaarke-insights-engine-r1/tasks/040-universal-ingest-playbook.poml
  projects/ai-spaarke-insights-engine-r1/tasks/041-precedent-projection-sync.poml
  projects/ai-spaarke-insights-engine-r1/tasks/070-smoke-test-golden-dataset-eval.poml
  projects/ai-spaarke-insights-engine-r1/tasks/080-deploy-to-spaarke-dev.poml
  projects/ai-spaarke-insights-engine-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Insights/Graph/GraphTraversalSpec.cs
Owners: @spaarke-dev, @docs-team

feat(matter-ui-r1): SemanticSearchControl v1.1.52 — polish round 7 (3 items)
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/CommandBar.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ResultCard.tsx
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
  src/client/shared/Spaarke.UI.Components/src/components/SendEmailDialog/SendEmailDialog.tsx
Owners: @spaarke-dev

docs(matter-ui-r1): update current-task.md for v1.1.52 polish round
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
Owners: @spaarke-dev

feat(insights-engine): D-P3 sprk_precedent Dataverse entity + relationships (task 011)
  projects/ai-spaarke-insights-engine-r1/current-task.md
  projects/ai-spaarke-insights-engine-r1/tasks/011-sprk-precedent-entity.poml
  projects/ai-spaarke-insights-engine-r1/tasks/TASK-INDEX.md
  scripts/Deploy-PrecedentEntity.ps1
  scripts/Deploy-PrecedentViewsAndForm.ps1
  src/solutions/spaarke_insights/Entities/SystemUser/Entity.xml
  src/solutions/spaarke_insights/Entities/SystemUser/RibbonDiff.xml
  src/solutions/spaarke_insights/Entities/sprk_Matter/Entity.xml
  src/solutions/spaarke_insights/Entities/sprk_Matter/RibbonDiff.xml
  src/solutions/spaarke_insights/Entities/sprk_Precedent/Entity.xml
  src/solutions/spaarke_insights/Entities/sprk_Precedent/FormXml/card/{65a738ef-b1be-4ed7-91cd-b2c7b11655b5}.xml
  src/solutions/spaarke_insights/Entities/sprk_Precedent/FormXml/main/{eefb6fe2-29fe-4b4c-bf31-81ec100252f3}.xml
  src/solutions/spaarke_insights/Entities/sprk_Precedent/FormXml/quick/{a51573ef-5ed0-44f2-b189-bbeae8525c5f}.xml
  src/solutions/spaarke_insights/Entities/sprk_Precedent/RibbonDiff.xml
  src/solutions/spaarke_insights/Entities/sprk_Precedent/SavedQueries/{1ddab0aa-1a95-4663-ab01-547c3b890260}.xml
  src/solutions/spaarke_insights/Entities/sprk_Precedent/SavedQueries/{3d4a27ca-ae5a-f111-a825-7c1e52169e61}.xml
  src/solutions/spaarke_insights/Entities/sprk_Precedent/SavedQueries/{3d6a8ed2-a04d-40cd-a8c3-01633b25c180}.xml
  src/solutions/spaarke_insights/Entities/sprk_Precedent/SavedQueries/{478d9dd2-0d3e-475c-8a6b-bb9e6caeddd6}.xml
  src/solutions/spaarke_insights/Entities/sprk_Precedent/SavedQueries/{724d7ec6-ae5a-f111-a825-3833c5d9bcab}.xml
  src/solutions/spaarke_insights/Entities/sprk_Precedent/SavedQueries/{8759beb5-de1b-4bee-8501-88c9ea2b1145}.xml
  src/solutions/spaarke_insights/Entities/sprk_Precedent/SavedQueries/{8f8712d7-a26c-4a4e-ac3c-687abe927389}.xml
  src/solutions/spaarke_insights/Entities/sprk_Precedent/SavedQueries/{a04118b1-cf35-452f-bc6c-6ade95466656}.xml
  src/solutions/spaarke_insights/Entities/sprk_Precedent/SavedQueries/{b237f6c8-ae5a-f111-a825-3833c5d9bcb1}.xml
  src/solutions/spaarke_insights/Entities/sprk_Precedent/SavedQueries/{b53e45aa-ebcb-4ec7-b15e-87d844e1fe7e}.xml
  src/solutions/spaarke_insights/Entities/sprk_Precedent/SavedQueries/{b637f6c8-ae5a-f111-a825-3833c5d9bcb1}.xml
  src/solutions/spaarke_insights/OptionSets/sprk_precedentstatus.xml
  src/solutions/spaarke_insights/Other/Customizations.xml
  src/solutions/spaarke_insights/Other/Relationships.xml
  src/solutions/spaarke_insights/Other/Relationships/Organization.xml
  src/solutions/spaarke_insights/Other/Relationships/SystemUser.xml
  src/solutions/spaarke_insights/Other/Relationships/sprk_Precedent.xml
  src/solutions/spaarke_insights/Other/Solution.xml
Owners: @spaarke-dev, @devops-team

feat(matter-ui-r1): SemanticSearchControl v1.1.53 — polish round 8 (5 items)
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ListView.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ResultCard.tsx
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

docs(matter-ui-r1): update current-task.md for v1.1.53 polish round
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
Owners: @spaarke-dev

feat(insights-engine): D-P2 Bicep modules + spaarke-insights-index + Function App shell (task 010)
  .gitignore
  infra/insights/README.md
  infra/insights/main.bicep
  infra/insights/modules/function-app.bicep
  infra/insights/modules/keyvault-secrets.bicep
  infra/insights/modules/managed-identity.bicep
  infra/insights/modules/monitoring.bicep
  infra/insights/modules/search-index.bicep
  infra/insights/parameters/dev.json
  infra/insights/schemas/spaarke-insights-index.index.json
  projects/ai-spaarke-insights-engine-r1/current-task.md
  projects/ai-spaarke-insights-engine-r1/tasks/010-bicep-insights-index-and-shell.poml
  projects/ai-spaarke-insights-engine-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(bff): allow X-Tenant-Id in CORS preflight for SprkChat
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CorsModule.cs
Owners: @spaarke-dev

docs(project): add spaarke-iframe-wizard-pattern-enhancement design
  projects/spaarke-iframe-wizard-pattern-enhancement/README.md
  projects/spaarke-iframe-wizard-pattern-enhancement/design.md
Owners: @spaarke-dev, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
