Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

feat(r6): Wave 8 — 4 citation/SSE-state chat tools migrated to typed handlers
  infra/dataverse/sprk_analysistool-code-analyze-row.json
  infra/dataverse/sprk_analysistool-code-chart-row.json
  infra/dataverse/sprk_analysistool-document-discovery-row.json
  infra/dataverse/sprk_analysistool-document-search-row.json
  infra/dataverse/sprk_analysistool-legal-case-lookup-row.json
  infra/dataverse/sprk_analysistool-legal-research-row.json
  infra/dataverse/sprk_analysistool-web-search-row.json
  projects/spaarke-ai-platform-unification-r6/notes/wave-08-code-interpreter-migration.md
  projects/spaarke-ai-platform-unification-r6/notes/wave-08-document-search-migration.md
  projects/spaarke-ai-platform-unification-r6/notes/wave-08-legal-research-migration.md
  projects/spaarke-ai-platform-unification-r6/notes/wave-08-web-search-migration.md
  scripts/Seed-TypedHandlers.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/CodeInterpreterHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/DocumentSearchHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/LegalResearchHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/WebSearchHandler.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/CodeInterpreterHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/DocumentSearchHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/LegalResearchHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/WebSearchHandlerTests.cs
Owners: @spaarke-dev, @devops-team

docs(r6): Wave 8 status update + ready for Wave 9 confirmation gate
  projects/spaarke-ai-platform-unification-r6/current-task.md
Owners: @spaarke-dev

feat(r6): Wave 9 — WorkingDocument migrated + ADR-033 streaming side channel; Q9 closes at 10/10
  .claude/adr/ADR-033-streaming-chat-tool-side-channel.md
  .claude/adr/INDEX.md
  docs/adr/ADR-033-streaming-chat-tool-side-channel.md
  infra/dataverse/sprk_analysistool-working-doc-append-section-row.json
  infra/dataverse/sprk_analysistool-working-doc-edit-row.json
  infra/dataverse/sprk_analysistool-working-doc-write-back-row.json
  projects/spaarke-ai-platform-unification-r6/CLAUDE.md
  projects/spaarke-ai-platform-unification-r6/notes/wave-09-stage-2-context-wiring.md
  projects/spaarke-ai-platform-unification-r6/notes/wave-09-working-document-migration.md
  scripts/Seed-TypedHandlers.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ToolHandlerToAIFunctionAdapter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ChatInvocationContext.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/WorkingDocumentHandler.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/ToolHandlerToAIFunctionAdapterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/WorkingDocumentHandlerTests.cs
Owners: @spaarke-dev, @docs-team, @devops-team

docs(r6): Wave 9 status update — Q9 chat-tool migration closes at 10/10
  projects/spaarke-ai-platform-unification-r6/current-task.md
Owners: @spaarke-dev

feat(r6): Phase A — task 020 (IInvokePlaybookAi facade) + task 024 (playbook FK data fix)
  projects/spaarke-ai-platform-unification-r6/notes/task-020-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-024-fk-fix-evidence.md
  scripts/Fix-SummarizeForChatPlaybookFK.ps1
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/IInvokePlaybookAi.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/InvokePlaybookAi.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/NullInvokePlaybookAi.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PublicContracts/InvokePlaybookAiTests.cs
Owners: @spaarke-dev, @devops-team

feat(r6): Phase A — task 021 (InvokePlaybookHandler generic chat tool)
  infra/dataverse/sprk_analysistool-invoke-playbook-row.json
  projects/spaarke-ai-platform-unification-r6/notes/task-021-evidence.md
  scripts/Seed-TypedHandlers.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/InvokePlaybookHandler.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/InvokePlaybookHandlerTests.cs
Owners: @spaarke-dev, @devops-team

feat(r6): Phase A — task 022 (dynamic invoke_playbook description) + task 025 (Pillar 4 orchestrator refactor)
  projects/spaarke-ai-platform-unification-r6/notes/task-022-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-025-evidence.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionSummarizeOrchestrator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IPlaybookExecutionEngine.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookExecutionEngine.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/SummarizeSessionEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/InvokePlaybookDescriptionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SessionSummarizeOrchestratorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SprkChatAgentFactoryTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/Tools/InvokeSummarizePlaybookToolTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PlaybookExecutionEngineTests.cs
Owners: @spaarke-dev

feat(r6): Phase A — task 023 (Pillar 3 cleanup: delete specialized bridges)
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-023-evidence.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/Tools/InvokeInsightsQueryTool.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/Tools/InvokeSummarizePlaybookTool.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SprkChatAgentFactoryTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/Tools/InvokeInsightsQueryToolTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/Tools/InvokeSummarizePlaybookToolTests.cs
Owners: @spaarke-dev

fix(r6): break DI cycle on IToolHandlerRegistry — resolves 7 pre-existing WorkspaceEndpointsTests failures
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/InvokePlaybookHandler.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AnalysisOrchestrationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/InvokePlaybookHandlerTests.cs
Owners: @spaarke-dev

test(r6): task 028 — Phase A vertical-slice integration test (Pillars 1-4 + NFR-01/08/13 + ADR-013)
  projects/spaarke-ai-platform-unification-r6/notes/task-028-vertical-slice-evidence.md
  tests/unit/Sprk.Bff.Api.Tests/Integration/PhaseAVerticalSliceTests.cs
Owners: @spaarke-dev

docs(r6): task 029 — Phase A exit-gate document (4/4 criteria GREEN; pending user sign-off)
  projects/spaarke-ai-platform-unification-r6/notes/phase-a-exit-gate.md
Owners: @spaarke-dev

docs(r6): close Phase A — TASK-INDEX 028+029 ✅; current-task.md → Phase B kickoff (task 030)
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(r6): pre-compaction checkpoint — TASK-INDEX status cleanup + post-compaction recovery protocol
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(r6): close R2 audit FR-21 acceptance criteria + Phase B prompt alignment docs
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/spec.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/InvokePlaybookHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/NullInvokePlaybookAi.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/InvokePlaybookHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PublicContracts/InvokePlaybookAiTests.cs
Owners: @spaarke-dev

feat(r6): Wave B-G1 — schema-aware output groundwork (tasks 030 + 031)
  infra/dataverse/sprk_analysisaction-outputschemajson.json
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-030-schema-deployment-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-031-node-config-extension-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/030-add-outputschema-field-to-sprk-analysisaction.poml
  projects/spaarke-ai-platform-unification-r6/tasks/031-extend-node-config-with-destination-and-widgettype.poml
  projects/spaarke-ai-platform-unification-r6/tasks/032-migrate-summarize-document-for-chat-action-outputschema.poml
  projects/spaarke-ai-platform-unification-r6/tasks/033-migrate-summarize-document-for-workspace-action-outputschema.poml
  projects/spaarke-ai-platform-unification-r6/tasks/034-migrate-matter-prefill-action-outputschema.poml
  projects/spaarke-ai-platform-unification-r6/tasks/035-migrate-project-prefill-action-outputschema.poml
  projects/spaarke-ai-platform-unification-r6/tasks/040-structuredoutputstreamwidget-schema-aware-array-rendering.poml
  projects/spaarke-ai-platform-unification-r6/tasks/048-phase-b-integration-test.poml
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  scripts/Verify-OutputSchemaField.ps1
  src/server/api/Sprk.Bff.Api/Models/Ai/NodeRoutingConfig.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/node-routing-config.schema.json
  tests/unit/Sprk.Bff.Api.Tests/Models/Ai/NodeRoutingConfigTests.cs
Owners: @spaarke-dev, @devops-team

feat(r6): Wave B-G2 — 4 action migrations + 1 new playbook (tasks 032-035)
  infra/dataverse/outputschemas/matter-prefill.schema.json
  infra/dataverse/outputschemas/project-prefill.schema.json
  infra/dataverse/outputschemas/sum-chat-v1.schema.json
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-032-migration-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-033-migration-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-034-migration-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-035-migration-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/032-migrate-summarize-document-for-chat-action-outputschema.poml
  projects/spaarke-ai-platform-unification-r6/tasks/033-migrate-summarize-document-for-workspace-action-outputschema.poml
  projects/spaarke-ai-platform-unification-r6/tasks/034-migrate-matter-prefill-action-outputschema.poml
  projects/spaarke-ai-platform-unification-r6/tasks/035-migrate-project-prefill-action-outputschema.poml
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  scripts/Migrate-MatterPrefillActionOutputSchema.ps1
  scripts/Migrate-ProjectPrefillActionOutputSchema.ps1
  scripts/Migrate-SumChatActionOutputSchema.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/Playbooks/summarize-document-for-workspace.playbook.json
Owners: @spaarke-dev, @devops-team

feat(r6): Wave B-G3 — widget schema-aware dispatch (tasks 040+041, fixes R5 SC-18 Gap C)
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-040-widget-array-rendering-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-041-widget-object-rendering-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/040-structuredoutputstreamwidget-schema-aware-array-rendering.poml
  projects/spaarke-ai-platform-unification-r6/tasks/041-structuredoutputstreamwidget-schema-aware-object-rendering.poml
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/StructuredOutputStreamWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/StructuredOutputStreamWidget.test.tsx
Owners: @spaarke-dev

feat(r6): Wave B-G4 task 042 — CapabilityRouter dedup (one intent → one route → one render)
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-042-capabilityrouter-dedup-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/042-capabilityrouter-dedup-one-intent-one-route.poml
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityRouter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityRoutingResult.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Capabilities/CapabilityRouterDedupTests.cs
Owners: @spaarke-dev

docs(r6): Wave B-G6 task 049 — Phase B exit-gate document (5 GREEN; 4 YELLOW; pending user sign-off)
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/phase-b-exit-gate.md
  projects/spaarke-ai-platform-unification-r6/tasks/049-phase-b-exit-gate-validation.poml
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(r6): Wave B-G5 task 048 — Phase B integration test (6 scenarios programmatically verified)
  projects/spaarke-ai-platform-unification-r6/notes/task-048-phase-b-integration-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/048-phase-b-integration-test.poml
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(r6): Wave B-G7 — Phase B exit-gate flag remediation (flags #2 + #3)
  src/server/api/Sprk.Bff.Api/Services/Workspace/ProjectPreFillService.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/Workspace/WorkspaceEndpointsTests.cs
Owners: @spaarke-dev

feat(r6): Wave C-G1 partial — Pillar 6a workspace state foundation (tasks 050+051+052)
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-050-workspacetab-interface-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-051-placement-justification.md
  projects/spaarke-ai-platform-unification-r6/notes/task-051-workspace-state-service-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-052-workspace-state-endpoint-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/050-workspace-tab-canonical-interface.poml
  projects/spaarke-ai-platform-unification-r6/tasks/051-workspace-state-service.poml
  projects/spaarke-ai-platform-unification-r6/tasks/052-workspace-state-endpoint.poml
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/types/WorkspaceTab.ts
  src/server/api/Sprk.Bff.Api/Api/Workspace/WorkspaceStateEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Models/Workspace/WorkspaceStateResponse.cs
  src/server/api/Sprk.Bff.Api/Models/Workspace/WorkspaceTab.cs
  src/server/api/Sprk.Bff.Api/Models/Workspace/WorkspaceTabWidgetData.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/IWorkspaceStateService.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/WorkspaceStateService.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Workspace/WorkspaceStateEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Workspace/WorkspaceStateServiceTests.cs
Owners: @spaarke-dev

fix(r6): Wave B-G8 — BingGrounding startup hardening + Spaarke Dev config drift unblock
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ConfigurationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Foundry/BingGroundingOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/LegalResearchHandler.cs
Owners: @spaarke-dev

docs(r6): pre-compact checkpoint — Phase B walkthrough findings + Wave B-G9 hotfix plan
  projects/spaarke-ai-platform-unification-r6/current-task.md
Owners: @spaarke-dev

feat(r6): Wave C-G2 — Pillar 6c PaneEventBus events + Pillar 9 visibility contract
  projects/spaarke-ai-platform-unification-r6/notes/task-059-context-pane-events-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-060-workspace-pane-events-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/task-071-visibility-contract-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/059-additive-context-pane-event-types.poml
  projects/spaarke-ai-platform-unification-r6/tasks/060-additive-workspace-pane-event-types.poml
  projects/spaarke-ai-platform-unification-r6/tasks/071-getagentvisiblestate-interface.poml
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/src/events/PaneEventTypes.ts
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/types/SerializedWidgetState.ts
Owners: @spaarke-dev

fix(r6, B-G9): widget schema-aware dispatch + chat-destination dedup hotfix
  projects/spaarke-ai-platform-unification-r6/notes/wave-b-g9a-widget-dispatch-fix.md
  projects/spaarke-ai-platform-unification-r6/notes/wave-b-g9b-chat-destination-dedup.md
  projects/spaarke-ai-platform-unification-r6/notes/wave-b-g9c-medium-bugs.md
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/context/FilePreviewContextWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/StructuredOutputStreamWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/StructuredOutputStreamWidget.integration.dispatchSummarizeOnly.test.tsx
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Capabilities/CapabilityRouterDedupTests.cs
Owners: @spaarke-dev

fix(r6, B-G9c): 4 medium walkthrough fixes — temperature override, tab timing, slash routing
  projects/spaarke-ai-platform-unification-r6/notes/wave-b-g9c1-temperature-per-action-override.md
  projects/spaarke-ai-platform-unification-r6/notes/wave-b-g9c2-tab-timing-and-per-run.md
  projects/spaarke-ai-platform-unification-r6/notes/wave-b-g9c3-slash-to-nl-rewire.md
  scripts/Add-AnalysisActionTemperature.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisActionService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/ClauseAnalyzerHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/EntityExtractorHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/GenericAnalysisHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/InvoiceExtractionToolHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/RiskDetectorHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IOpenAiClient.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IScopeResolverService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/AiAnalysisNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/OpenAiClient.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ToolInvocationContextBase.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/DocumentClassifierHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/SemanticSearchToolHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/SummaryHandler.cs
  src/solutions/SpaarkeAi/jest.config.ts
  src/solutions/SpaarkeAi/src/__mocks__/marked.ts
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.slash-nl-rewire.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/executeSummarizeIntent.test.ts
  src/solutions/SpaarkeAi/src/components/conversation/executeSummarizeIntent.ts
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/__tests__/WorkspacePane.summary-tab.test.tsx
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/SummarizeSessionEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/GetStructuredCompletionRawAsyncTemperatureTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/ClauseAnalyzerHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/EntityExtractorHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/HandlerDispatchTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/HandlerTemperaturePassThroughTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/InvoiceExtractionToolHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/RiskDetectorHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Handlers/TypedToolHandlerTestFixture.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Insights/Routing/InsightsIntentClassifierTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/InvocationContextTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PlaybookExecutionEngineTests.cs
Owners: @spaarke-dev, @devops-team

fix(r6, B-G10): second-walkthrough fixes — PDF hallucination + chat formatting + B11 RC'd
  projects/spaarke-ai-platform-unification-r6/notes/wave-b-g10-b11-investigation.md
  projects/spaarke-ai-platform-unification-r6/notes/wave-b-g10-second-walkthrough-fixes.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
Owners: @spaarke-dev

fix(r6, B-G10c/d): widget malformed-JSON fallback + skip empty followup-LLM
  projects/spaarke-ai-platform-unification-r6/notes/wave-b-g10-second-walkthrough-fixes.md
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/StructuredOutputStreamWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/__tests__/StructuredOutputStreamWidget.test.tsx
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
Owners: @spaarke-dev

fix(calendar-sidepane): import CalendarSection from @spaarke/events-components
  src/solutions/CalendarSidePane/src/App.tsx
Owners: @spaarke-dev

feat(legal-workspace): add Create New To Do card to Get Started Quick Start row
  src/solutions/LegalWorkspace/src/components/GetStarted/getStartedConfig.ts
  src/solutions/LegalWorkspace/src/sections/getStarted.registration.ts
Owners: @spaarke-dev

fix(multi-container-multi-index-r1): Phase G UAT hot-fixes (3) — code page host context + BFF nullable ChunkIndex + PCF v1.1.76 nav property casing
  projects/spaarke-multi-container-multi-index-r1/tasks/TASK-INDEX.md
  src/client/code-pages/SemanticSearch/src/App.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/services/SearchIndexResolver.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/bundle.js
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
  src/server/api/Sprk.Bff.Api/Models/Ai/KnowledgeDocument.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/RagService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ReferenceRetrievalService.cs
Owners: @spaarke-dev

ci(css-reset-gate): top-level CI workflow + repo-wide --all mode
  .github/workflows/css-reset-gate.yml
  projects/ai-spaarke-ai-workspace-UI-r1/notes/followup-backlog.md
  scripts/check-html-css-reset.mjs
Owners: @spaarke-dev, @devops-team

style: prettier --write on 12 files inherited from #372
  src/client/shared/Spaarke.AI.Widgets/src/registry/register-context-widgets.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/DocumentUploadWizardWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/register-workspace-widgets.ts
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
  src/client/shared/Spaarke.UI.Components/src/components/AppErrorBoundary/AppErrorBoundary.tsx
  src/client/shared/Spaarke.UI.Components/src/components/AppErrorBoundary/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
  src/client/shared/Spaarke.UI.Components/src/components/WidgetErrorBoundary/WidgetErrorBoundary.tsx
  src/client/shared/Spaarke.UI.Components/src/components/WidgetErrorBoundary/index.ts
  src/client/shared/Spaarke.UI.Components/src/services/AppInsightsService.ts
  src/client/shared/Spaarke.UI.Components/src/services/reportClientError.ts
  src/client/shared/Spaarke.UI.Components/src/utils/safeRegister.ts
Owners: @spaarke-dev

style: ignore PCF generated/ dirs in prettier + format RecordCardShell/index.ts
  .prettierignore
Owners: @spaarke-dev

ai-workspace-ui-r1: follow-ups — CalendarSidePane fix + CreateTodo card + CSS reset CI gate (#376)
  .github/workflows/css-reset-gate.yml
  .prettierignore
  projects/ai-spaarke-ai-workspace-UI-r1/notes/followup-backlog.md
  scripts/check-html-css-reset.mjs
  src/client/shared/Spaarke.AI.Widgets/src/registry/register-context-widgets.ts
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/DocumentUploadWizardWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/register-workspace-widgets.ts
  src/client/shared/Spaarke.Events.Components/src/widgets/CalendarWorkspaceWidget/CalendarWorkspaceWidget.tsx
  src/client/shared/Spaarke.UI.Components/src/components/AppErrorBoundary/AppErrorBoundary.tsx
  src/client/shared/Spaarke.UI.Components/src/components/AppErrorBoundary/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/DataGrid.tsx
  src/client/shared/Spaarke.UI.Components/src/components/WidgetErrorBoundary/WidgetErrorBoundary.tsx
  src/client/shared/Spaarke.UI.Components/src/components/WidgetErrorBoundary/index.ts
  src/client/shared/Spaarke.UI.Components/src/services/AppInsightsService.ts
  src/client/shared/Spaarke.UI.Components/src/services/reportClientError.ts
  src/client/shared/Spaarke.UI.Components/src/utils/safeRegister.ts
  src/solutions/CalendarSidePane/src/App.tsx
  src/solutions/LegalWorkspace/src/components/GetStarted/getStartedConfig.ts
  src/solutions/LegalWorkspace/src/sections/getStarted.registration.ts
Owners: @spaarke-dev, @devops-team

chore(smart-todo-r4): Wave G0 Phase 0 audits complete + aggregation (4 audits + task 034)
  projects/smart-todo-r4/CLAUDE.md
  projects/smart-todo-r4/current-task.md
  projects/smart-todo-r4/notes/drill-through-spike.md
  projects/smart-todo-r4/notes/launch-context-decision.md
  projects/smart-todo-r4/notes/regarding-resolver-audit.md
  projects/smart-todo-r4/notes/widget-surface-audit.md
  projects/smart-todo-r4/plan.md
  projects/smart-todo-r4/tasks/034-B-extend-useLaunchContext.poml
  projects/smart-todo-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(smart-todo-r4): Wave G1+2a-followups complete (011, 020, 030, 051) — 13 of 31 tasks ✅
  projects/smart-todo-r4/current-task.md
  projects/smart-todo-r4/notes/d-form-bind-instructions.md
  projects/smart-todo-r4/tasks/011-refactor-RichFilePreviewDialog.poml
  projects/smart-todo-r4/tasks/020-A-rebuild-workspace-widget.poml
  projects/smart-todo-r4/tasks/030-B-smarttodo-4row-layout.poml
  projects/smart-todo-r4/tasks/051-D-add-to-todo-main-form.poml
  projects/smart-todo-r4/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.SmartTodo.Components/README.md
  src/client/shared/Spaarke.SmartTodo.Components/__tests__/SmartTodoWidget.test.tsx
  src/client/shared/Spaarke.SmartTodo.Components/package-lock.json
  src/client/shared/Spaarke.SmartTodo.Components/package.json
  src/client/shared/Spaarke.SmartTodo.Components/src/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/types/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/types/todo.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.styles.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/tsconfig.json
  src/client/shared/Spaarke.UI.Components/src/components/FilePreview/RichFilePreviewDialog.tsx
  src/client/shared/Spaarke.UI.Components/src/components/FilePreview/__tests__/RichFilePreviewDialog.test.tsx
  src/client/webresources/js/sprk_todo_regarding_presave.js
  src/solutions/LegalWorkspace/package-lock.json
  src/solutions/LegalWorkspace/package.json
  src/solutions/LegalWorkspace/src/sections/todo.registration.ts
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/components/Header/Header.styles.ts
  src/solutions/SmartTodo/src/components/Header/Header.tsx
  src/solutions/SmartTodo/src/components/Header/index.ts
Owners: @spaarke-dev, @docs-team

fix(smart-todo-r4): RegardingResolver PCF CREATE-mode bridge (R4-051 follow-up)
  src/client/pcf/RegardingResolver/RegardingResolver/RegardingResolverApp.tsx
Owners: @spaarke-dev

style(smart-todo-r4): prettier --write on 13 R4-added/modified files
  src/client/pcf/RegardingResolver/RegardingResolver/RegardingResolverApp.tsx
  src/client/pcf/RegardingResolver/RegardingResolver/handlers/ResolverWriteHandler.ts
  src/client/pcf/RegardingResolver/__tests__/RegardingResolverApp.test.tsx
  src/client/pcf/RegardingResolver/__tests__/ResolverWriteHandler.test.ts
  src/client/shared/Spaarke.SmartTodo.Components/__tests__/SmartTodoWidget.test.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/types/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
  src/client/shared/Spaarke.UI.Components/src/components/OrientationToggle/OrientationToggle.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordNavigationModalShell/RecordNavigationModalShell.tsx
  src/client/shared/Spaarke.UI.Components/src/components/RecordNavigationModalShell/__tests__/RecordNavigationModalShell.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SelectionAwareToolbar/SelectionAwareToolbar.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SelectionAwareToolbar/__tests__/SelectionAwareToolbar.test.tsx
  src/client/shared/Spaarke.UI.Components/src/utils/parseDataParams.ts
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
