Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(pcf): Connections review UX — type-first Link-another + expandable other-candidates (v1.0.4) — email-r4
  projects/email-communication-solution-r4/notes/uat-mock-provenance.md
  src/client/pcf/CommunicationConnections/CommunicationConnections/CommunicationConnectionsApp.tsx
  src/client/pcf/CommunicationConnections/CommunicationConnections/ConnectionsEditor.tsx
  src/client/pcf/CommunicationConnections/CommunicationConnections/ControlManifest.Input.xml
  src/client/pcf/CommunicationConnections/CommunicationConnections/index.ts
  src/client/pcf/CommunicationConnections/CommunicationConnections/provenance.ts
  src/client/pcf/CommunicationConnections/Solution/Controls/sprk_Spaarke.Controls.CommunicationConnections/ControlManifest.xml
  src/client/pcf/CommunicationConnections/Solution/Controls/sprk_Spaarke.Controls.CommunicationConnections/bundle.js
  src/client/pcf/CommunicationConnections/Solution/pack.ps1
  src/client/pcf/CommunicationConnections/Solution/solution.xml
Owners: @spaarke-dev

docs(messaging): record live ACS round-trip results (spaarke-acs-dev)
  projects/messaging-communication-app-r1/notes/spikes/003-acs-spike.md
Owners: @spaarke-dev

feat(messaging): W3a — Event Grid webhook ingress -> job (030)
  projects/messaging-communication-app-r1/notes/012-acs-provisioning-runbook.md
  projects/messaging-communication-app-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/AcsEventGridEndpoints.cs
  src/server/api/Sprk.Bff.Api/Configuration/AcsEventGridIngressOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Acs/AcsEventGridIngressService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Models/IncomingMessagingJobPayload.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/AcsEventGridIngressServiceTests.cs
Owners: @spaarke-dev

chore: untrack agent worktree gitlink + gitignore .claude/worktrees/
  .gitignore
Owners: @spaarke-dev

fix(assistant-r1): D-013-02/04 — create-todo OOB key-normalizer + wizard completeHandoff honest-ack
  projects/spaarkeai-assistant-enhancements-r1/notes/defer-issues.md
  src/client/shared/Spaarke.UI.Components/src/components/CreateEventWizard/CreateEventWizard.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateMatterWizard/CreateMatterWizard.tsx
  src/client/shared/Spaarke.UI.Components/src/services/__tests__/launchSurface.test.ts
  src/client/shared/Spaarke.UI.Components/src/services/__tests__/readHandoff.test.ts
  src/client/shared/Spaarke.UI.Components/src/services/surfaceHandoff/index.ts
  src/client/shared/Spaarke.UI.Components/src/services/surfaceHandoff/launchSurface.ts
  src/client/shared/Spaarke.UI.Components/src/services/surfaceHandoff/readHandoff.ts
  src/solutions/CreateEventWizard/src/main.tsx
  src/solutions/CreateMatterWizard/src/main.tsx
Owners: @spaarke-dev

feat(assistant-r1): 022 (FR-D2) — dispatchUncertain routing-confidence tier
  projects/spaarkeai-assistant-enhancements-r1/current-task.md
  projects/spaarkeai-assistant-enhancements-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/DispatchSessionEndpoint.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/BindingCapabilityTool.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionDispatchOrchestrator.cs
  tests/integration/seam/Ai/DispositionRoutabilitySeamTests.cs
Owners: @spaarke-dev

feat(messaging): W3 complete — ACS normalizer + idempotent capture + DLQ (031)
  projects/messaging-communication-app-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationJobProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/AcsEventNormalizer.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/IncomingMessagingJobHandler.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/AcsEventNormalizerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/IncomingMessagingJobHandlerTests.cs
Owners: @spaarke-dev

feat(messaging): W7 — message attachment materialization (070 / FR-14)
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/ISpeFileOperations.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/MessageAttachmentMaterializer.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/MessageAttachmentMaterializerTests.cs
Owners: @spaarke-dev

docs(compose-r3): add design, spec, research + spike notes
  projects/spaarkeai-compose-r3/README.md
  projects/spaarkeai-compose-r3/design.md
  projects/spaarkeai-compose-r3/notes/spikes/S1-docxodus-wmlcomparer-2026-07-16.md
  projects/spaarkeai-compose-r3/notes/spikes/S1b-S2-S4-S5-2026-07-16.md
  projects/spaarkeai-compose-r3/notes/tiptap-docx-fidelity-research-2026-07-16.md
  projects/spaarkeai-compose-r3/spec.md
Owners: @spaarke-dev, @docs-team

chore(messaging): mark 070 complete in TASK-INDEX (cherry-picked from worktree)
  projects/messaging-communication-app-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(assistant-r1): 003+044 (FR-H1) — requires-no-attached-record grounding guard
  projects/spaarkeai-assistant-enhancements-r1/current-task.md
  projects/spaarkeai-assistant-enhancements-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/AgentToolProjection.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/Binding.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/ConsumerRoutingService.cs
  tests/integration/seam/Ai/AgentToolProjectionGroundingSeamTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/AgentTurnLoopContractTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PreferenceNotPermissionInvariantTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Context/ContextBinderOrgContextTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Context/StatedProfileSecurityTests.cs
Owners: @spaarke-dev

docs(assistant-r1): 050 authoring proposal (draft for owner FR-J1 review)
  projects/spaarkeai-assistant-enhancements-r1/notes/050-authoring-proposal.md
Owners: @spaarke-dev

docs(assistant-r1): 053 publish-size + CVE report — size PASS, pre-existing HIGH CVE flagged
  projects/spaarkeai-assistant-enhancements-r1/notes/publish-size-cve-report.md
  projects/spaarkeai-assistant-enhancements-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(messaging): W4a — IThreadResolver direction-symmetric thread assignment (040)
  projects/messaging-communication-app-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Channels/MessagingIngestor.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IThreadResolver.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingCommunicationProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/ThreadResolver.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Threads/EmailThreadKeyStrategy.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Threads/IThreadKeyStrategy.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Threads/MessagingThreadKeyStrategy.cs
  tests/integration/seam/Communication/ThreadResolverSeamTests.cs
Owners: @spaarke-dev

feat(messaging): W4 — privacy/internal-only/privilege enforcement (042, security-sensitive)
  projects/messaging-communication-app-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Access/CommunicationAccessFilter.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Access/CommunicationAccessModels.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Access/ICommunicationAccessFilter.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Access/IThreadPrivateGrantProvider.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationAccessFilterTests.cs
Owners: @spaarke-dev

feat(messaging): W4 — membership derivation + ACS reconcile job (041 / FR-07)
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Acs/AcsThreadService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Acs/IAcsThreadService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Membership/IThreadExplicitParticipantReader.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Membership/IThreadMembershipDerivationService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Membership/MembershipDerivationModels.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Membership/MembershipReconcileAudit.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Membership/MembershipReconcileEnqueuer.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Membership/MembershipReconcileJob.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Membership/MembershipReconcileJobPayload.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Membership/MembershipReconcileOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Membership/MembershipReconcileSweepService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Membership/MembershipReconciler.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Membership/ThreadMembershipDerivationService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/Membership/MembershipReconcileJobTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/Membership/MembershipReconcilerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/Membership/ThreadMembershipDerivationServiceTests.cs
Owners: @spaarke-dev

chore(messaging): mark 041 complete in TASK-INDEX (cherry-picked from worktree)
  projects/messaging-communication-app-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(messaging): access-model DECISION — impersonation for read enforcement
  projects/messaging-communication-app-r1/notes/access-model-decision.md
  projects/messaging-communication-app-r1/notes/spikes/002-private-grant-decision.md
Owners: @spaarke-dev

feat(messaging): W5 — outbound send + echo-dedup (051)
  projects/messaging-communication-app-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationServiceMessageSendTests.cs
Owners: @spaarke-dev

docs(knowledge): researcher findings on Dataverse record-access security model
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/dataverse-record-access-security-2026-07-16.md
Owners: @spaarke-dev

chore(compose-r3): initialize project via pipeline — 27 tasks + planning artifacts
  projects/INDEX.md
  projects/spaarkeai-compose-r3/CLAUDE.md
  projects/spaarkeai-compose-r3/README.md
  projects/spaarkeai-compose-r3/current-task.md
  projects/spaarkeai-compose-r3/design.md
  projects/spaarkeai-compose-r3/notes/FINDING-poml-template-drift.md
  projects/spaarkeai-compose-r3/notes/seed-README.md
  projects/spaarkeai-compose-r3/ooxml-fidelity-findings.md
  projects/spaarkeai-compose-r3/plan.md
  projects/spaarkeai-compose-r3/spec.md
  projects/spaarkeai-compose-r3/tasks/001-docxodus-packaging-baseline.poml
  projects/spaarkeai-compose-r3/tasks/002-spefilestore-version-content-fetch.poml
  projects/spaarkeai-compose-r3/tasks/003-nfr09-real-template-hardening-gate.poml
  projects/spaarkeai-compose-r3/tasks/010-server-preparse-paraid-minting.poml
  projects/spaarkeai-compose-r3/tasks/011-client-paraid-carry-and-minting.poml
  projects/spaarkeai-compose-r3/tasks/012-paraid-primary-anchoring-and-splice-key.poml
  projects/spaarkeai-compose-r3/tasks/020-edited-paragraph-rebuild-splice.poml
  projects/spaarkeai-compose-r3/tasks/021-docxodus-wmlcomparer-redline-adapter.poml
  projects/spaarkeai-compose-r3/tasks/022-e1-cutover-baseline-inversion.poml
  projects/spaarkeai-compose-r3/tasks/023-ai-redlines-reuse-on-baseline.poml
  projects/spaarkeai-compose-r3/tasks/024-fidelity-seam-slice-test.poml
  projects/spaarkeai-compose-r3/tasks/025-deploy-e1-fidelity-core.poml
  projects/spaarkeai-compose-r3/tasks/030-server-confidence-band-and-offsets.poml
  projects/spaarkeai-compose-r3/tasks/031-rationale-first-accept-reject-ui.poml
  projects/spaarkeai-compose-r3/tasks/032-formatted-ai-insertions.poml
  projects/spaarkeai-compose-r3/tasks/040-find-replace.poml
  projects/spaarkeai-compose-r3/tasks/041-basic-tables.poml
  projects/spaarkeai-compose-r3/tasks/042-toolbar-bubblemenu-warning-polish.poml
  projects/spaarkeai-compose-r3/tasks/043-styles-pane-apply-existing.poml
  projects/spaarkeai-compose-r3/tasks/044-comment-thread-ui.poml
  projects/spaarkeai-compose-r3/tasks/050-import-existing-revisions.poml
  projects/spaarkeai-compose-r3/tasks/051-import-existing-comments.poml
  projects/spaarkeai-compose-r3/tasks/052-imported-anchors-survive-save.poml
  projects/spaarkeai-compose-r3/tasks/080-publish-size-cve-netarch.poml
  projects/spaarkeai-compose-r3/tasks/081-deploy-full-r3.poml
  projects/spaarkeai-compose-r3/tasks/082-flagship-gate-g-r3.poml
  projects/spaarkeai-compose-r3/tasks/090-project-wrap-up.poml
  projects/spaarkeai-compose-r3/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore(compose-r3): clear E1-cutover coordination gate — compose-r2 closed + on master
  projects/spaarkeai-compose-r3/CLAUDE.md
  projects/spaarkeai-compose-r3/current-task.md
  projects/spaarkeai-compose-r3/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(pcf): Connections v1.1.0 Drop 1 — collapsed primary card + expand-to-modal + authoritative filed list — email-r4
  src/client/pcf/CommunicationConnections/CommunicationConnections/CommunicationConnectionsApp.tsx
  src/client/pcf/CommunicationConnections/CommunicationConnections/ConnectionsEditor.tsx
  src/client/pcf/CommunicationConnections/CommunicationConnections/ControlManifest.Input.xml
  src/client/pcf/CommunicationConnections/CommunicationConnections/index.ts
  src/client/pcf/CommunicationConnections/CommunicationConnections/provenance.ts
  src/client/pcf/CommunicationConnections/Solution/Controls/sprk_Spaarke.Controls.CommunicationConnections/ControlManifest.xml
  src/client/pcf/CommunicationConnections/Solution/Controls/sprk_Spaarke.Controls.CommunicationConnections/bundle.js
  src/client/pcf/CommunicationConnections/Solution/pack.ps1
  src/client/pcf/CommunicationConnections/Solution/solution.xml
Owners: @spaarke-dev

feat(messaging): rework read-access to Dataverse impersonation (042 pivot)
  projects/messaging-communication-app-r1/notes/access-model-decision.md
  projects/messaging-communication-app-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Access/CommunicationAccessFilter.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Access/CommunicationAccessModels.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Access/ICommunicationAccessFilter.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Access/IThreadPrivateGrantProvider.cs
  src/server/shared/Spaarke.Dataverse/DataverseImpersonation.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationAccessFilterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/DataverseImpersonationTests.cs
Owners: @spaarke-dev

docs(assistant-r1): record master merge (PR #657); remaining = 050 review → 051 → 054 UAT deploy → 090
  projects/spaarkeai-assistant-enhancements-r1/current-task.md
Owners: @spaarke-dev

fix(api): bump Kiota 1.21.2 -> 1.22.0 — remediate CVE-2026-44503 (High)
  projects/spaarkeai-assistant-enhancements-r1/notes/publish-size-cve-report.md
  src/server/api/Sprk.Bff.Api/CLAUDE.md
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
Owners: @spaarke-dev

docs(assistant-r1): record owner 050 decisions — list-tasks = SurfaceLaunch grid, Event-Task only
  projects/spaarkeai-assistant-enhancements-r1/notes/050-authoring-proposal.md
Owners: @spaarke-dev

checkpoint: context-handoff — server-side complete (19/28), remaining plan + config gates
  projects/messaging-communication-app-r1/current-task.md
Owners: @spaarke-dev

feat(compose-r3): tasks 001-002 — Docxodus 6.4.0 packaging + SPE version-content fetch
  projects/spaarkeai-compose-r3/current-task.md
  projects/spaarkeai-compose-r3/tasks/001-docxodus-packaging-baseline.poml
  projects/spaarkeai-compose-r3/tasks/002-spefilestore-version-content-fetch.poml
  projects/spaarkeai-compose-r3/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/DriveItemOperations.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/ISpeFileOperations.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeFileStore.cs
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
Owners: @spaarke-dev

feat(pcf): Drop 2 — Actions toolbar redesign + Reply All + Create moved off Connections — email-r4
  src/client/pcf/CommunicationActions/CommunicationActions/CommunicationActionsApp.tsx
  src/client/pcf/CommunicationActions/CommunicationActions/ControlManifest.Input.xml
  src/client/pcf/CommunicationActions/CommunicationActions/composerPrefill.ts
  src/client/pcf/CommunicationActions/CommunicationActions/index.ts
  src/client/pcf/CommunicationActions/Solution/Controls/sprk_Spaarke.Controls.CommunicationActions/ControlManifest.xml
  src/client/pcf/CommunicationActions/Solution/Controls/sprk_Spaarke.Controls.CommunicationActions/bundle.js
  src/client/pcf/CommunicationActions/Solution/pack.ps1
  src/client/pcf/CommunicationActions/Solution/solution.xml
  src/client/pcf/CommunicationConnections/CommunicationConnections/CommunicationConnectionsApp.tsx
  src/client/pcf/CommunicationConnections/CommunicationConnections/ConnectionsEditor.tsx
  src/client/pcf/CommunicationConnections/CommunicationConnections/ControlManifest.Input.xml
  src/client/pcf/CommunicationConnections/CommunicationConnections/index.ts
  src/client/pcf/CommunicationConnections/Solution/Controls/sprk_Spaarke.Controls.CommunicationConnections/ControlManifest.xml
  src/client/pcf/CommunicationConnections/Solution/Controls/sprk_Spaarke.Controls.CommunicationConnections/bundle.js
  src/client/pcf/CommunicationConnections/Solution/pack.ps1
  src/client/pcf/CommunicationConnections/Solution/solution.xml
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/wrappers/SendEmailPage.tsx
Owners: @spaarke-dev

feat(messaging): BFF thread-read + unread-count endpoints (050 / FR-11)
  projects/messaging-communication-app-r1/current-task.md
  projects/messaging-communication-app-r1/tasks/050-bff-thread-read-unread-endpoints.poml
  projects/messaging-communication-app-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/CommunicationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationThreadReadModels.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationThreadReadService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IImpersonatedCommunicationQuery.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationThreadReadServiceTests.cs
Owners: @spaarke-dev

feat(messaging): 1:1 direct threads — explicit two-party membership (043 / FR-09)
  projects/messaging-communication-app-r1/current-task.md
  projects/messaging-communication-app-r1/notes/access-model-decision.md
  projects/messaging-communication-app-r1/tasks/043-direct-1-to-1-threads.poml
  projects/messaging-communication-app-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/CommunicationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Access/DirectThreadAccessService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Access/IDataverseAccessGrantService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Access/IDirectThreadAccessService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Channels/MessagingIngestor.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Membership/DirectThreadExplicitParticipantReader.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Models/StartDirectThreadRequest.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Models/StartDirectThreadResponse.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/DirectThreadAccessServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/Membership/DirectThreadExplicitParticipantReaderTests.cs
Owners: @spaarke-dev

docs(skills): modernize project-setup pipeline; fix POML template drift
  .claude/AUDIT-FINDINGS-PIPELINE-MODERNIZATION-2026-07-16.md
  .claude/CHANGELOG.md
  .claude/skills/code-review/SKILL.md
  .claude/skills/design-to-spec/SKILL.md
  .claude/skills/project-pipeline/SKILL.md
  .claude/skills/task-create/SKILL.md
  .claude/skills/task-execute/SKILL.md
  .claude/templates/task-execution.template.md
  CROSS-REFERENCE-MAP.md
  scripts/Validate-TaskPoml.ps1
Owners: @spaarke-dev, @devops-team

feat(compose-r3): task 010 — server w14:paraId pre-parse + LoadAsync map projection (E2 substrate)
  projects/spaarkeai-compose-r3/current-task.md
  projects/spaarkeai-compose-r3/tasks/010-server-preparse-paraid-minting.poml
  projects/spaarkeai-compose-r3/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ComposeModule.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/IComposeService.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ParaIdPreParser.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceLoadParaIdTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ParaIdPreParserTests.cs
Owners: @spaarke-dev

feat(messaging): grant Open-thread messages to derived membership (052 / FR-11)
  projects/messaging-communication-app-r1/current-task.md
  projects/messaging-communication-app-r1/tasks/052-open-thread-message-access-grant.poml
  projects/messaging-communication-app-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Access/DirectThreadAccessService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Access/IDirectThreadAccessService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/DirectThreadAccessServiceTests.cs
Owners: @spaarke-dev

feat(messaging): polling conversation/timeline component (060 / FR-10)
  projects/messaging-communication-app-r1/current-task.md
  projects/messaging-communication-app-r1/tasks/060-polling-timeline-component.poml
  projects/messaging-communication-app-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/CommunicationTimeline.buildTimeline.ts
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/CommunicationTimeline.reducer.ts
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/CommunicationTimeline.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/CommunicationTimeline.types.ts
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/__tests__/buildTimeline.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/hooks/useThreadPoll.ts
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/subcomponents/ChannelBadge.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/subcomponents/MessageRow.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/subcomponents/TimelineComposeBox.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/subcomponents/UnreadIndicator.tsx
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
  src/client/shared/Spaarke.UI.Components/src/services/communicationTimelineApi.ts
  src/client/shared/Spaarke.UI.Components/src/services/index.ts
Owners: @spaarke-dev

feat(messaging): send/respond accessory PCF + send-contract closure (062 / FR-12)
  projects/messaging-communication-app-r1/current-task.md
  projects/messaging-communication-app-r1/tasks/062-pcf-send-respond-accessories.poml
  projects/messaging-communication-app-r1/tasks/TASK-INDEX.md
  src/client/pcf/CommunicationMessageActions/.gitignore
  src/client/pcf/CommunicationMessageActions/CommunicationMessageActions.pcfproj
  src/client/pcf/CommunicationMessageActions/CommunicationMessageActions/CommunicationMessageActionsApp.tsx
  src/client/pcf/CommunicationMessageActions/CommunicationMessageActions/CommunicationMessageActionsHost.tsx
  src/client/pcf/CommunicationMessageActions/CommunicationMessageActions/ControlManifest.Input.xml
  src/client/pcf/CommunicationMessageActions/CommunicationMessageActions/__tests__/hostContext.test.ts
  src/client/pcf/CommunicationMessageActions/CommunicationMessageActions/authInit.ts
  src/client/pcf/CommunicationMessageActions/CommunicationMessageActions/hostContext.ts
  src/client/pcf/CommunicationMessageActions/CommunicationMessageActions/index.ts
  src/client/pcf/CommunicationMessageActions/CommunicationMessageActions/styles.css
  src/client/pcf/CommunicationMessageActions/Solution/Controls/sprk_Spaarke.Controls.CommunicationMessageActions/ControlManifest.xml
  src/client/pcf/CommunicationMessageActions/Solution/Controls/sprk_Spaarke.Controls.CommunicationMessageActions/bundle.js
  src/client/pcf/CommunicationMessageActions/Solution/Controls/sprk_Spaarke.Controls.CommunicationMessageActions/styles.css
  src/client/pcf/CommunicationMessageActions/Solution/[Content_Types].xml
  src/client/pcf/CommunicationMessageActions/Solution/customizations.xml
  src/client/pcf/CommunicationMessageActions/Solution/pack.ps1
  src/client/pcf/CommunicationMessageActions/Solution/solution.xml
  src/client/pcf/CommunicationMessageActions/eslint.config.mjs
  src/client/pcf/CommunicationMessageActions/featureconfig.json
  src/client/pcf/CommunicationMessageActions/jest.config.js
  src/client/pcf/CommunicationMessageActions/jest.setup.ts
  src/client/pcf/CommunicationMessageActions/package-lock.json
  src/client/pcf/CommunicationMessageActions/package.json
  src/client/pcf/CommunicationMessageActions/pcfconfig.json
  src/client/pcf/CommunicationMessageActions/tsconfig.json
  src/client/pcf/CommunicationMessageActions/webpack.config.js
  src/client/shared/Spaarke.UI.Components/src/services/__tests__/communicationApi.test.ts
  src/client/shared/Spaarke.UI.Components/src/services/communicationApi.ts
  src/client/shared/Spaarke.UI.Components/src/services/communicationTimelineApi.ts
  src/client/shared/Spaarke.UI.Components/src/services/index.ts
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Models/SendCommunicationRequest.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationServiceMessageSendTests.cs
Owners: @spaarke-dev

docs(email-r4): UAT checklist + robust mock-provenance console script
  projects/email-communication-solution-r4/notes/UAT-CHECKLIST.md
  projects/email-communication-solution-r4/notes/uat-mock-provenance.md
Owners: @spaarke-dev

docs(assistant-r1): capture 2026-07-17 UAT feedback (R1.1 backlog)
  projects/spaarkeai-assistant-enhancements-r1/notes/uat-feedback-2026-07-17.md
Owners: @spaarke-dev

fix(assistant-r1): P0(a) — gate dataverse Write tools Chat->Playbook (force SurfaceLaunch)
  projects/spaarkeai-assistant-enhancements-r1/notes/uat-feedback-2026-07-17.md
Owners: @spaarke-dev
