Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

chore(scripts): add Deploy-DailyBriefing.ps1 for sprk_dailyupdate web resource
  scripts/Deploy-DailyBriefing.ps1
Owners: @spaarke-dev, @devops-team

docs(handoff): full context document for auth SSO propagation + email wizard work
  projects/auth-sso-and-email-wizard-2026-05/CONTEXT.md
  projects/auth-sso-and-email-wizard-2026-05/current-task.md
Owners: @spaarke-dev

fix(pcf): bump SpeDocumentViewer v1.0.17 + RelatedDocumentCount v1.21.1 with auth tenant fix + queue virtual-refactor
  projects/auth-sso-and-email-wizard-2026-05/CONTEXT.md
  projects/auth-sso-and-email-wizard-2026-05/current-task.md
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/ControlManifest.Input.xml
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/RelatedDocumentCount.tsx
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/ControlManifest.xml
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
  src/client/pcf/RelatedDocumentCount/Solution/pack.ps1
  src/client/pcf/RelatedDocumentCount/Solution/solution.xml
  src/client/pcf/SpeDocumentViewer/control/ControlManifest.Input.xml
  src/client/pcf/SpeDocumentViewer/solution/Controls/sprk_Spaarke.SpeDocumentViewer/ControlManifest.xml
  src/client/pcf/SpeDocumentViewer/solution/pack.ps1
  src/client/pcf/SpeDocumentViewer/solution/solution.xml
  src/client/pcf/SpeDocumentViewer/solution/src/Controls/Spaarke.SpeDocumentViewer/ControlManifest.xml
  src/client/pcf/SpeDocumentViewer/solution/src/Other/Solution.xml
Owners: @spaarke-dev

refactor(SpeDocumentViewer): convert to virtual PCF pattern (control-type=virtual) v1.0.18
  projects/auth-sso-and-email-wizard-2026-05/CONTEXT.md
  src/client/pcf/SpeDocumentViewer/control/ControlManifest.Input.xml
  src/client/pcf/SpeDocumentViewer/control/SpeDocumentViewerHost.tsx
  src/client/pcf/SpeDocumentViewer/control/index.ts
  src/client/pcf/SpeDocumentViewer/featureconfig.json
  src/client/pcf/SpeDocumentViewer/solution/Controls/sprk_Spaarke.SpeDocumentViewer/ControlManifest.xml
  src/client/pcf/SpeDocumentViewer/solution/pack.ps1
  src/client/pcf/SpeDocumentViewer/solution/solution.xml
  src/client/pcf/SpeDocumentViewer/solution/src/Controls/Spaarke.SpeDocumentViewer/ControlManifest.xml
  src/client/pcf/SpeDocumentViewer/solution/src/Other/Solution.xml
Owners: @spaarke-dev

fix(SpeDocumentViewer): v1.0.19 — apply controlHeight to virtual wrapper + sync UI version footer
  src/client/pcf/SpeDocumentViewer/control/ControlManifest.Input.xml
  src/client/pcf/SpeDocumentViewer/control/SpeDocumentViewer.tsx
  src/client/pcf/SpeDocumentViewer/control/SpeDocumentViewerHost.tsx
  src/client/pcf/SpeDocumentViewer/solution/Controls/sprk_Spaarke.SpeDocumentViewer/ControlManifest.xml
  src/client/pcf/SpeDocumentViewer/solution/pack.ps1
  src/client/pcf/SpeDocumentViewer/solution/solution.xml
  src/client/pcf/SpeDocumentViewer/solution/src/Controls/Spaarke.SpeDocumentViewer/ControlManifest.xml
  src/client/pcf/SpeDocumentViewer/solution/src/Other/Solution.xml
Owners: @spaarke-dev

style(SpeDocumentViewer): v1.0.20 — hide visual scrollbars on viewer containers
  src/client/pcf/SpeDocumentViewer/control/ControlManifest.Input.xml
  src/client/pcf/SpeDocumentViewer/control/SpeDocumentViewer.tsx
  src/client/pcf/SpeDocumentViewer/control/css/SpeDocumentViewer.css
  src/client/pcf/SpeDocumentViewer/solution/Controls/sprk_Spaarke.SpeDocumentViewer/ControlManifest.xml
  src/client/pcf/SpeDocumentViewer/solution/Controls/sprk_Spaarke.SpeDocumentViewer/css/SpeDocumentViewer.css
  src/client/pcf/SpeDocumentViewer/solution/pack.ps1
  src/client/pcf/SpeDocumentViewer/solution/solution.xml
  src/client/pcf/SpeDocumentViewer/solution/src/Controls/Spaarke.SpeDocumentViewer/ControlManifest.xml
  src/client/pcf/SpeDocumentViewer/solution/src/Other/Solution.xml
Owners: @spaarke-dev

style(SpeDocumentViewer): v1.0.21 — clip the iframe's internal scrollbar via width-overflow trick
  src/client/pcf/SpeDocumentViewer/control/ControlManifest.Input.xml
  src/client/pcf/SpeDocumentViewer/control/SpeDocumentViewer.tsx
  src/client/pcf/SpeDocumentViewer/control/css/SpeDocumentViewer.css
  src/client/pcf/SpeDocumentViewer/solution/Controls/sprk_Spaarke.SpeDocumentViewer/ControlManifest.xml
  src/client/pcf/SpeDocumentViewer/solution/Controls/sprk_Spaarke.SpeDocumentViewer/css/SpeDocumentViewer.css
  src/client/pcf/SpeDocumentViewer/solution/pack.ps1
  src/client/pcf/SpeDocumentViewer/solution/solution.xml
  src/client/pcf/SpeDocumentViewer/solution/src/Controls/Spaarke.SpeDocumentViewer/ControlManifest.xml
  src/client/pcf/SpeDocumentViewer/solution/src/Other/Solution.xml
Owners: @spaarke-dev

chore(auth-prop): DRV PCF v1.0.35 + cleanup from auth propagation session
  scripts/Build-ViteSolutionsDirect.ps1
  scripts/Deploy-WebResourceInline.ps1
  src/client/code-pages/SemanticSearch/webpack.config.js
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/ControlManifest.Input.xml
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/DocumentRelationshipViewer.tsx
  src/client/pcf/DocumentRelationshipViewer/Solution/Controls/sprk_Spaarke.Controls.DocumentRelationshipViewer/ControlManifest.xml
  src/client/pcf/DocumentRelationshipViewer/Solution/Controls/sprk_Spaarke.Controls.DocumentRelationshipViewer/bundle.js
  src/client/pcf/DocumentRelationshipViewer/Solution/pack.ps1
  src/client/pcf/DocumentRelationshipViewer/Solution/solution.xml
  src/client/pcf/DocumentRelationshipViewer/package-lock.json
  src/client/pcf/DocumentRelationshipViewer/package.json
  src/solutions/DailyBriefing/package-lock.json
  src/solutions/DailyBriefing/package.json
Owners: @spaarke-dev, @devops-team

refactor(UniversalDatasetGrid): v2.3.0 — virtual PCF pattern (ADR-022)
  src/client/pcf/UniversalDatasetGrid/Solution/Controls/sprk_Spaarke.UI.Components.UniversalDatasetGrid/ControlManifest.xml
  src/client/pcf/UniversalDatasetGrid/Solution/pack.ps1
  src/client/pcf/UniversalDatasetGrid/Solution/solution.xml
  src/client/pcf/UniversalDatasetGrid/control/ControlManifest.Input.xml
  src/client/pcf/UniversalDatasetGrid/control/UniversalDatasetGridHost.tsx
  src/client/pcf/UniversalDatasetGrid/control/authInit.ts
  src/client/pcf/UniversalDatasetGrid/control/components/UniversalDatasetGridRoot.tsx
  src/client/pcf/UniversalDatasetGrid/control/index.ts
  src/client/pcf/UniversalDatasetGrid/featureconfig.json
  src/client/pcf/UniversalDatasetGrid/package-lock.json
  src/client/pcf/UniversalDatasetGrid/package.json
Owners: @spaarke-dev

refactor(EmailProcessingMonitor): v1.1.0 — virtual PCF + deployable solution
  src/client/pcf/EmailProcessingMonitor/Solution/Controls/sprk_Spaarke.EmailProcessingMonitor/ControlManifest.xml
  src/client/pcf/EmailProcessingMonitor/Solution/Controls/sprk_Spaarke.EmailProcessingMonitor/bundle.js
  src/client/pcf/EmailProcessingMonitor/Solution/Controls/sprk_Spaarke.EmailProcessingMonitor/css/EmailProcessingMonitor.css
  src/client/pcf/EmailProcessingMonitor/Solution/Controls/sprk_Spaarke.EmailProcessingMonitor/strings/EmailProcessingMonitor.1033.resx
  src/client/pcf/EmailProcessingMonitor/Solution/[Content_Types].xml
  src/client/pcf/EmailProcessingMonitor/Solution/pack.ps1
  src/client/pcf/EmailProcessingMonitor/Solution/src/Other/Customizations.xml
  src/client/pcf/EmailProcessingMonitor/Solution/src/Other/Solution.xml
  src/client/pcf/EmailProcessingMonitor/control/ControlManifest.Input.xml
  src/client/pcf/EmailProcessingMonitor/control/EmailProcessingMonitorHost.tsx
  src/client/pcf/EmailProcessingMonitor/control/authInit.ts
  src/client/pcf/EmailProcessingMonitor/control/index.ts
  src/client/pcf/EmailProcessingMonitor/featureconfig.json
  src/client/pcf/EmailProcessingMonitor/package.json
Owners: @spaarke-dev

refactor(VisualHost): v1.4.0 — virtual PCF pattern (ADR-022)
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/VisualHostHost.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/control/index.ts
Owners: @spaarke-dev

refactor(AssociationResolver): v1.1.0 — virtual PCF pattern (ADR-022)
  src/client/pcf/AssociationResolver/AssociationResolverHost.tsx
  src/client/pcf/AssociationResolver/ControlManifest.Input.xml
  src/client/pcf/AssociationResolver/Solution/Controls/sprk_Spaarke.Controls.AssociationResolver/ControlManifest.xml
  src/client/pcf/AssociationResolver/Solution/pack.ps1
  src/client/pcf/AssociationResolver/Solution/solution.xml
  src/client/pcf/AssociationResolver/index.ts
Owners: @spaarke-dev

perf(SpeDocumentViewer): v1.0.22 — deep imports drop bundle 26.8 MB → 440 KB
  src/client/pcf/SpeDocumentViewer/control/ControlManifest.Input.xml
  src/client/pcf/SpeDocumentViewer/control/SpeDocumentViewer.tsx
  src/client/pcf/SpeDocumentViewer/control/SpeDocumentViewerHost.tsx
  src/client/pcf/SpeDocumentViewer/control/index.ts
  src/client/pcf/SpeDocumentViewer/solution/Controls/sprk_Spaarke.SpeDocumentViewer/ControlManifest.xml
  src/client/pcf/SpeDocumentViewer/solution/pack.ps1
  src/client/pcf/SpeDocumentViewer/solution/solution.xml
Owners: @spaarke-dev

docs(auth): align all auth docs with 2026-05-12 SSO binding + ADR-022 PCF library facts
  .claude/adr/ADR-022-pcf-platform-libraries.md
  .claude/constraints/auth.md
  .claude/patterns/auth/INDEX.md
  .claude/patterns/auth/spaarke-sso-binding.md
  .claude/patterns/auth/token-caching.md
  docs/architecture/AUTH-AND-BFF-URL-PATTERN.md
  docs/architecture/sdap-auth-patterns.md
  src/client/pcf/CLAUDE.md
Owners: @spaarke-dev, @docs-team

docs(auth): sweep remaining 9 auth docs for SSO-binding alignment
  .claude/patterns/auth/bff-url-normalization.md
  .claude/patterns/auth/msal-client.md
  .claude/patterns/auth/spaarke-auth-initialization.md
  docs/architecture/auth-performance-monitoring.md
  docs/architecture/auth-security-boundaries.md
  docs/architecture/code-pages-architecture.md
  docs/architecture/external-access-spa-architecture.md
  docs/architecture/sdap-pcf-patterns.md
  docs/guides/EXTERNAL-ACCESS-SPA-GUIDE.md
Owners: @spaarke-dev, @docs-team

fix(scripts): avoid npm ci on drifted Vite locks; document workaround
  CLAUDE.md
  scripts/Build-AllClientComponents.ps1
Owners: @spaarke-dev, @devops-team

feat(DRV): wire DocumentEmailWizard into FilePreviewDialog (Phase C)
  src/client/code-pages/DocumentRelationshipViewer/src/App.tsx
Owners: @spaarke-dev

fix(pcf-auth): drop hardcoded /\${tenantId} authority in 3 PCFs — restore SSO
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/ControlManifest.Input.xml
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/authInit.ts
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/ControlManifest.xml
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
  src/client/pcf/RelatedDocumentCount/Solution/pack.ps1
  src/client/pcf/RelatedDocumentCount/Solution/solution.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/authInit.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
  src/client/pcf/SpeDocumentViewer/control/ControlManifest.Input.xml
  src/client/pcf/SpeDocumentViewer/control/SpeDocumentViewer.tsx
  src/client/pcf/SpeDocumentViewer/control/authInit.ts
  src/client/pcf/SpeDocumentViewer/solution/Controls/sprk_Spaarke.SpeDocumentViewer/ControlManifest.xml
  src/client/pcf/SpeDocumentViewer/solution/Controls/sprk_Spaarke.SpeDocumentViewer/bundle.js
  src/client/pcf/SpeDocumentViewer/solution/pack.ps1
  src/client/pcf/SpeDocumentViewer/solution/solution.xml
Owners: @spaarke-dev

fix(bff): allow telemetry headers in CORS + split 409 file-state errors
  docs/architecture/sdap-auth-patterns.md
  projects/auth-sso-and-email-wizard-2026-05/CONSUMER-REBUILD-STATUS.md
  src/client/pcf/SpeDocumentViewer/control/BffClient.ts
  src/server/api/Sprk.Bff.Api/Api/FileAccessEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CorsModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Dataverse/DocumentStorageResolver.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Exceptions/SdapProblemException.cs
Owners: @spaarke-dev, @docs-team

chore(SpeDocumentViewer): v1.0.24 — ship new BFF 409 error mapping
  projects/auth-sso-and-email-wizard-2026-05/CONSUMER-REBUILD-STATUS.md
  src/client/pcf/SpeDocumentViewer/control/ControlManifest.Input.xml
  src/client/pcf/SpeDocumentViewer/control/SpeDocumentViewer.tsx
  src/client/pcf/SpeDocumentViewer/solution/Controls/sprk_Spaarke.SpeDocumentViewer/ControlManifest.xml
  src/client/pcf/SpeDocumentViewer/solution/pack.ps1
  src/client/pcf/SpeDocumentViewer/solution/solution.xml
Owners: @spaarke-dev

fix(documents): root-cause 409 + set sprk_hasfile=true on upload + backfill
  scripts/Backfill-DocumentHasFile.ps1
  src/client/pcf/UniversalQuickCreate/Solution/pack.ps1
  src/client/pcf/UniversalQuickCreate/Solution/src/Other/Solution.xml
  src/client/pcf/UniversalQuickCreate/Solution/src/WebResources/sprk_Spaarke.Controls.UniversalDocumentUpload/ControlManifest.xml
  src/client/pcf/UniversalQuickCreate/control/ControlManifest.Input.xml
  src/client/pcf/UniversalQuickCreate/control/components/DocumentUploadForm.tsx
  src/client/shared/Spaarke.UI.Components/src/services/EntityCreationService.ts
  src/client/shared/Spaarke.UI.Components/src/services/document-upload/DocumentRecordService.ts
  src/server/api/Sprk.Bff.Api/Api/FileAccessEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Dataverse/DocumentStorageResolver.cs
Owners: @spaarke-dev, @devops-team

docs(coding-kb-setup): add initial project directive for MS knowledge base setup
  projects/coding-knowledge-base-setup-r1/SPAARKE-KNOWLEDGE-BASE-SETUP.md
Owners: @spaarke-dev

chore: bump bff-deploy health window to 120s + tracker updates
  .claude/skills/bff-deploy/SKILL.md
  projects/auth-sso-and-email-wizard-2026-05/CONSUMER-REBUILD-STATUS.md
  scripts/Deploy-BffApi.ps1
Owners: @spaarke-dev, @devops-team

fix(pcf): SDV v1.0.25 — bundle 6.7MB → 440KB via build:prod (root cause)
  .claude/skills/pcf-deploy/SKILL.md
  projects/auth-sso-and-email-wizard-2026-05/CONSUMER-REBUILD-STATUS.md
  src/client/pcf/AssociationResolver/package.json
  src/client/pcf/SpaarkeGridCustomizer/package.json
  src/client/pcf/SpeDocumentViewer/control/ControlManifest.Input.xml
  src/client/pcf/SpeDocumentViewer/control/SpeDocumentViewer.tsx
  src/client/pcf/SpeDocumentViewer/package.json
  src/client/pcf/SpeDocumentViewer/solution/Controls/sprk_Spaarke.SpeDocumentViewer/ControlManifest.xml
  src/client/pcf/SpeDocumentViewer/solution/pack.ps1
  src/client/pcf/SpeDocumentViewer/solution/solution.xml
  src/client/pcf/UpdateRelatedButton/package.json
Owners: @spaarke-dev

fix(settings): correct .claude/settings.json hook schema
  .claude/settings.json
Owners: @spaarke-dev

feat(knowledge): scaffold knowledge/ skeleton + project artifacts (Phases 0-1)
  knowledge/README.md
  knowledge/REFRESH-LOG.md
  knowledge/agent-framework/.gitkeep
  knowledge/azure-ai-search/.gitkeep
  knowledge/dataverse-mcp/.gitkeep
  knowledge/declarative-agents/.gitkeep
  knowledge/foundry-agent-service/.gitkeep
  knowledge/foundry-iq/.gitkeep
  knowledge/github-mcp/.gitkeep
  knowledge/m365-copilot/.gitkeep
  knowledge/mcp-apps/.gitkeep
  knowledge/sharepoint-embedded/.gitkeep
  knowledge/work-iq/.gitkeep
  projects/coding-knowledge-base-setup-r1/README.md
  projects/coding-knowledge-base-setup-r1/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(project): new project ai-procedure-quality-r1 (spec + design)
  projects/ai-procedure-quality-r1/design.md
  projects/ai-procedure-quality-r1/notes/additional-best-practices.md
  projects/ai-procedure-quality-r1/spec.md
Owners: @spaarke-dev

docs(ai-procedure-quality-r1): resolve open decisions + add GitHub Actions hardening
  projects/ai-procedure-quality-r1/spec.md
Owners: @spaarke-dev

feat(ai-procedure-quality-r1): add tiered line targets + cross-ref + 3-depth reference review
  projects/ai-procedure-quality-r1/plan.md
  projects/ai-procedure-quality-r1/spec.md
  projects/ai-procedure-quality-r1/tasks/006-build-skill-crossref-map.poml
  projects/ai-procedure-quality-r1/tasks/020-audit-skills-batch-1.poml
  projects/ai-procedure-quality-r1/tasks/030-apply-skill-refinements.poml
  projects/ai-procedure-quality-r1/tasks/065-validator-skill-references.poml
  projects/ai-procedure-quality-r1/tasks/066-validator-crossref-drift.poml
  projects/ai-procedure-quality-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(knowledge): curate batch 4 — work-iq, azure-ai-search (Phase 2 complete)
  knowledge/REFRESH-LOG.md
  knowledge/azure-ai-search/.gitkeep
  knowledge/azure-ai-search/NOTES.md
  knowledge/azure-ai-search/SOURCE.md
  knowledge/azure-ai-search/docs/search-howto-index-sharepoint-online.md
  knowledge/azure-ai-search/docs/semantic-search-overview.md
  knowledge/azure-ai-search/docs/vector-search-integrated-vectorization.md
  knowledge/azure-ai-search/docs/vector-search-overview.md
  knowledge/azure-ai-search/samples/document-intelligence-skillset/function_app.py
  knowledge/azure-ai-search/samples/document-intelligence-skillset/function_requirements.txt
  knowledge/azure-ai-search/samples/document-intelligence-skillset/readme.md
  knowledge/azure-ai-search/samples/document-intelligence-skillset/setup_search_service.py
  knowledge/azure-ai-search/samples/hybrid-search-dotnet/Configuration.cs
  knowledge/azure-ai-search/samples/hybrid-search-dotnet/DotNetVector.csproj
  knowledge/azure-ai-search/samples/hybrid-search-dotnet/Program.cs
  knowledge/azure-ai-search/samples/hybrid-search-dotnet/local.settings-sample.json
  knowledge/azure-ai-search/samples/hybrid-search-dotnet/readme.md
  knowledge/azure-ai-search/samples/integrated-vectorization-dotnet/Configuration.cs
  knowledge/azure-ai-search/samples/integrated-vectorization-dotnet/DotNetIntegratedVectorizationDemo.csproj
  knowledge/azure-ai-search/samples/integrated-vectorization-dotnet/Program.cs
  knowledge/azure-ai-search/samples/integrated-vectorization-dotnet/local.settings-sample.json
  knowledge/azure-ai-search/samples/integrated-vectorization-dotnet/readme.md
  knowledge/azure-ai-search/samples/rag-csharp/Program.cs
  knowledge/azure-ai-search/samples/rag-csharp/ReadRetrieveReadChatService.cs
  knowledge/azure-ai-search/samples/rag-csharp/RequestOverrides.cs
  knowledge/azure-ai-search/samples/rag-csharp/SearchClientExtensions.cs
  knowledge/azure-ai-search/samples/rag-csharp/ServiceCollectionExtensions.cs
  knowledge/work-iq/.gitkeep
  knowledge/work-iq/NOTES.md
  knowledge/work-iq/SOURCE.md
  knowledge/work-iq/copilot-camp-baf6/README.md
  knowledge/work-iq/docs/copilot-apis-overview.md
  knowledge/work-iq/docs/copilot-chat-api-overview.md
  knowledge/work-iq/docs/work-iq-cli.md
  knowledge/work-iq/docs/work-iq-mcp-overview.md
  knowledge/work-iq/docs/work-iq-overview.md
  knowledge/work-iq/docs/workiq-mcp-server-reference-copilot.md
  knowledge/work-iq/tool-catalog.md
  projects/coding-knowledge-base-setup-r1/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

checkpoint(ai-procedure-quality-r1): pre-compaction state snapshot
  projects/ai-procedure-quality-r1/current-task.md
Owners: @spaarke-dev

feat(skills): wire 6 knowledge-base skills + register knowledge/ tree (Phase 3)
  .claude/skills/INDEX.md
  .claude/skills/dataverse-mcp-usage/SKILL.md
  .claude/skills/declarative-agent/SKILL.md
  .claude/skills/foundry-agent/SKILL.md
  .claude/skills/mcp-tool-handler/SKILL.md
  .claude/skills/spe-integration/SKILL.md
  .claude/skills/widget-design/SKILL.md
  CLAUDE.md
  projects/coding-knowledge-base-setup-r1/TASK-INDEX.md
Owners: @spaarke-dev

fix(skills): Phase 5 verification findings — sample dir + ADR-005 + doc paths
  .claude/skills/declarative-agent/SKILL.md
  .claude/skills/spe-integration/SKILL.md
Owners: @spaarke-dev

feat(knowledge): Phase 6 refresh ritual + Phase 4 handoff doc
  knowledge/REFRESH-LOG.md
  knowledge/REFRESH-PROCEDURE.md
  projects/coding-knowledge-base-setup-r1/PHASE-4-ANNOTATION-HANDOFF.md
  projects/coding-knowledge-base-setup-r1/README.md
  projects/coding-knowledge-base-setup-r1/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

refactor(knowledge): restructure 11 NOTES.md into §1/§2 split
  knowledge/agent-framework/NOTES.md
  knowledge/azure-ai-search/NOTES.md
  knowledge/dataverse-mcp/NOTES.md
  knowledge/declarative-agents/NOTES.md
  knowledge/foundry-agent-service/NOTES.md
  knowledge/foundry-iq/NOTES.md
  knowledge/github-mcp/NOTES.md
  knowledge/m365-copilot/NOTES.md
  knowledge/mcp-apps/NOTES.md
  knowledge/sharepoint-embedded/NOTES.md
  knowledge/work-iq/NOTES.md
  projects/coding-knowledge-base-setup-r1/PHASE-4-ANNOTATION-HANDOFF.md
Owners: @spaarke-dev

feat(ai-procedure-quality-r1): Phase 0 inventory + Phase 1 additive infrastructure
  .claude/CHANGELOG.md
  .claude/FAILURE-MODES.md
  .claude/agents/researcher.md
  .claude/archive/2026-05-14/.gitkeep
  .claude/archive/README.md
  .claude/skills/_template/SKILL.md
  .claude/skills/_template/examples/.gitkeep
  .claude/skills/_template/references/.gitkeep
  projects/ai-procedure-quality-r1/notes/inventory/claudemd.md
  projects/ai-procedure-quality-r1/notes/inventory/pcf-bundle-baseline.json
  projects/ai-procedure-quality-r1/notes/inventory/pcf-bundle-sizes.md
  projects/ai-procedure-quality-r1/notes/inventory/settings.md
  projects/ai-procedure-quality-r1/notes/inventory/skill-cross-refs.json
  projects/ai-procedure-quality-r1/notes/inventory/skill-cross-refs.md
  projects/ai-procedure-quality-r1/notes/inventory/skills.md
  projects/ai-procedure-quality-r1/notes/inventory/workflows.md
  projects/ai-procedure-quality-r1/notes/researcher-verification.md
  projects/ai-procedure-quality-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(ai-procedure-quality-r1): Phase 2a skills audit complete — Human Gate 1 ready
  .claude/AUDIT-FINDINGS-SKILLS.md
  projects/ai-procedure-quality-r1/notes/audit/batch-1.md
  projects/ai-procedure-quality-r1/notes/audit/batch-2.md
  projects/ai-procedure-quality-r1/notes/audit/batch-3.md
  projects/ai-procedure-quality-r1/notes/audit/batch-4.md
  projects/ai-procedure-quality-r1/notes/audit/batch-5.md
  projects/ai-procedure-quality-r1/notes/audit/batch-6.md
  projects/ai-procedure-quality-r1/notes/audit/batch-7.md
  projects/ai-procedure-quality-r1/notes/audit/batch-8.md
  projects/ai-procedure-quality-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(design): add AI platform unification R1 — research analysis & design
  projects/spaarke-ai-platform-unification-r1/design.md
Owners: @spaarke-dev

feat(design): expand AI platform unification with leverage matrix, UX vision, and scenarios
  projects/spaarke-ai-platform-unification-r1/design.md
Owners: @spaarke-dev

feat(design): three-pane layout, separated AI libraries, SPE/search integration
  projects/spaarke-ai-platform-unification-r1/design.md
Owners: @spaarke-dev
