Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

docs(email-r4): W0 complete — reset current-task tracker
  projects/email-communication-solution-r4/current-task.md
Owners: @spaarke-dev

docs(email-r4): refresh knowledge/work-iq snapshot — task 076 (W7)
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/work-iq-ga-refresh-2026-07-14.md
  knowledge/REFRESH-LOG.md
  knowledge/work-iq/NOTES.md
  knowledge/work-iq/SOURCE.md
  knowledge/work-iq/tool-catalog.md
  projects/email-communication-solution-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(api): ICommunicationEnrichmentService — direction-agnostic enrichment + outbound RAG (010, W1) — email-r4
  projects/email-communication-solution-r4/current-task.md
  projects/email-communication-solution-r4/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationEnrichmentService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/ICommunicationEnrichmentService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingCommunicationProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Models/NormalizedMessage.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/CommunicationIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/ArchivalFlowTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/AssociationMappingTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/AttachmentValidationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/DataverseRecordCreationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/InboundPipelineTests.cs
Owners: @spaarke-dev

feat(ui): EmailComposer engine + sub-components (020, W2) — email-r4
  projects/email-communication-solution-r4/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/EmailComposer.reducer.ts
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/EmailComposer.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/EmailComposer.types.ts
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/__tests__/EmailComposer.smoketest.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/subcomponents/AssociationChips.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/subcomponents/AttachmentList.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/subcomponents/BodyEditor.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/subcomponents/ComposerActionBar.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/subcomponents/RecipientField.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/subcomponents/SendModeRadio.tsx
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
  src/client/shared/Spaarke.UI.Components/src/services/communicationApi.ts
Owners: @spaarke-dev

refactor(office): migrate Outlook add-in to @spaarke/auth OfficeNaaStrategy + unified manifest (072, W7) — email-r4
  projects/email-communication-solution-r4/current-task.md
  projects/email-communication-solution-r4/tasks/TASK-INDEX.md
  src/client/office-addins/.env.example
  src/client/office-addins/jest.config.js
  src/client/office-addins/outlook/manifest.json
  src/client/office-addins/outlook/manifest.prod.json
  src/client/office-addins/outlook/outlook-manifest.xml
  src/client/office-addins/outlook/taskpane/index.tsx
  src/client/office-addins/package-lock.json
  src/client/office-addins/package.json
  src/client/office-addins/public/auth-callback.html
  src/client/office-addins/public/auth-dialog.html
  src/client/office-addins/public/index.html
  src/client/office-addins/shared/api/OfficeApiClient.ts
  src/client/office-addins/shared/api/__tests__/OfficeApiClient.test.ts
  src/client/office-addins/shared/api/errors.ts
  src/client/office-addins/shared/api/index.ts
  src/client/office-addins/shared/api/types.ts
  src/client/office-addins/shared/auth/DialogAuthService.ts
  src/client/office-addins/shared/auth/NaaAuthService.ts
  src/client/office-addins/shared/auth/__tests__/DialogAuthService.test.ts
  src/client/office-addins/shared/auth/__tests__/NaaAuthService.test.ts
  src/client/office-addins/shared/auth/authConfig.ts
  src/client/office-addins/shared/auth/index.ts
  src/client/office-addins/shared/services/ApiClient.ts
  src/client/office-addins/shared/services/AuthService.ts
  src/client/office-addins/shared/taskpane/App.tsx
  src/client/office-addins/shared/taskpane/hooks/useSaveFlow.ts
  src/client/office-addins/webpack.config.js
  src/client/office-addins/word/taskpane/index.tsx
Owners: @spaarke-dev

refactor(api): IncomingAssociationResolver → Association Engine over normalized envelope (011, W1) — email-r4
  projects/email-communication-solution-r4/current-task.md
  projects/email-communication-solution-r4/notes/011-resolver-behavior-contract.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationEnrichmentService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/AssociationContext.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/GraphMessageNormalizer.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/IAssociationRung.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/ParticipantCorrelationRung.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/RungKind.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/RungMatch.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/SubjectReferenceRung.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/ThreadContinuityRung.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingAssociationResolver.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingCommunicationProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Models/NormalizedMessage.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/CommunicationIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/GraphMessageNormalizerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/InboundPipelineTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/IncomingAssociationResolverTests.cs
Owners: @spaarke-dev

feat(auth): apply BFF Office endpoint authorization filters (073, W7) — email-r4
  src/server/api/Sprk.Bff.Api/Api/Office/OfficeEndpoints.cs
  tests/integration/contract/Api/Office/OfficeEndpointAuthorizationContractTests.cs
  tests/integration/contract/Api/Office/OfficeEndpointsContractTests.cs
Owners: @spaarke-dev

docs(email-r4): mark 011 + 073 ✅; W1 rungs 012-014 unblocked — task tracking
  projects/email-communication-solution-r4/current-task.md
  projects/email-communication-solution-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(email-r4): record master merge (origin/master=fb4012cb3); next wave plan
  projects/email-communication-solution-r4/current-task.md
Owners: @spaarke-dev

refactor(compose-r2): code-review remediation (W1-W5 + owner decisions)
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeAiToolbar.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeAiToolbar.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeBannerStack.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.aiToolbarTriggers.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeFormatToolbar.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tabScopedConduits.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/useDocQaHighlight.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.ts
  src/server/api/Sprk.Bff.Api/Api/ComposeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/BindingCapabilityTool.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PostUploadIndexingEnqueuer.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.compose-concurrent-ingest-dedup.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/useEventBatch.ts
  src/solutions/SpaarkeAi/src/components/workspace/ComposeDirectWidget.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/registerComposeWidget.ts
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PostUploadIndexingEnqueuerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceCreateOnSaveTests.cs
Owners: @spaarke-dev

feat(api): Association Engine rungs 0–1 — explicit-ref + thread continuity (012, W1) — email-r4
  projects/email-communication-solution-r4/current-task.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/AssociationContext.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/RegardingFieldMap.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/Rungs/ExplicitReferenceRung.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/Rungs/ThreadContinuityRung.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/SubjectReferenceRung.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/ThreadContinuityRung.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingAssociationResolver.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/CommunicationIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/ExplicitReferenceRungTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/InboundPipelineTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/IncomingAssociationResolverTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/ThreadContinuityRungTests.cs
Owners: @spaarke-dev

docs(api): Graph compliance audit findings — no Mail-Advanced/EWS exposure (070, W7) — email-r4
  projects/email-communication-solution-r4/notes/070-graph-compliance-findings.md
Owners: @spaarke-dev

feat(ui): sendCommunication SendCommunicationError.fromResponse + barrel export (022, W2) — email-r4
  src/client/shared/Spaarke.UI.Components/src/services/communicationApi.ts
  src/client/shared/Spaarke.UI.Components/src/services/index.ts
Owners: @spaarke-dev

feat(ui): SendEmailStep/Dialog/Page wrappers over EmailComposer (021, W2) — email-r4
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/wrappers/SendEmailDialog.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/wrappers/SendEmailPage.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/wrappers/SendEmailStep.tsx
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
Owners: @spaarke-dev

test(compose-r2): test-diet report per ADR-038 §7 — clean pass (0 scaffolding)
  projects/spaarkeai-compose-r2/notes/test-diet-report.md
Owners: @spaarke-dev

feat(api): Graph subscription lifecycle + delta reconciliation backstop (071, W7) — email-r4
  projects/email-communication-solution-r4/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/CommunicationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Configuration/CommunicationOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/GraphMailFolderDeltaReader.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/GraphSubscriptionManager.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/MailboxDeltaReconciliationService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Models/GraphNotification.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/JobSubmissionService.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/CommunicationIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/SubscriptionReconciliationTests.cs
Owners: @spaarke-dev

docs(email-r4): parallel wave complete (012/021/022/070/071 ✅); 18/45; next=013
  projects/email-communication-solution-r4/current-task.md
Owners: @spaarke-dev

feat(api): Association Engine rung 2 — participant correlation (013, W1) — email-r4
  projects/email-communication-solution-r4/current-task.md
  projects/email-communication-solution-r4/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/ParticipantCorrelationRung.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/Rungs/ParticipantCorrelationRung.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/ICommunicationDataverseService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/ParticipantCorrelationRungTests.cs
Owners: @spaarke-dev

feat(api): Association Engine rung 3 — structural detectors (014, W1) — email-r4
  projects/email-communication-solution-r4/current-task.md
  projects/email-communication-solution-r4/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/Detectors/CalendarInviteDetector.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/Detectors/CourtEFilingDetector.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/Detectors/DetectorText.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/Detectors/ESignCompletionDetector.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/Detectors/IStructuralDetector.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/Detectors/InvoiceNumberDetector.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/Detectors/StructuralMatch.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/RungMatch.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/Rungs/ParticipantCorrelationRung.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/Rungs/StructuralDetectorRung.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/ExplicitReferenceRungTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/ParticipantCorrelationRungTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/StructuralDetectorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/ThreadContinuityRungTests.cs
Owners: @spaarke-dev

docs(email-r4): 015 owner priority — maximize confident auto-routing (threshold config + signal reinforcement)
  projects/email-communication-solution-r4/current-task.md
Owners: @spaarke-dev

checkpoint(compose-r2): context-handoff — project MERGED to master; main-repo sync pending
  projects/spaarkeai-compose-r2/current-task.md
Owners: @spaarke-dev

docs(redesign-r2): checkpoint UAT-stage state + file compose FR-30 anchor handoff
  projects/spaarke-ai-architecture-redesign-r2/current-task.md
  projects/spaarke-ai-architecture-redesign-r2/notes/HANDOFF-to-core-fr30-anchor-2026-07-12.md
Owners: @spaarke-dev

docs(assistant-enhancements-r1): as-built alignment pass on design.md
  projects/spaarkeai-assistant-enhancements-r1/design.md
Owners: @spaarke-dev

feat(comm): confidence→status ladder + auto-file ≥0.85 behind ADR-018 kill-switch (015, W1) — email-r4
  projects/email-communication-solution-r4/current-task.md
  projects/email-communication-solution-r4/notes/015-status-ladder-behavior-contract.md
  projects/email-communication-solution-r4/tasks/015-confidence-status-autofile.poml
  projects/email-communication-solution-r4/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Configuration/AutoFileOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/AssociationContext.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/AssociationDecision.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/AssociationProvenance.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/AssociationStatusCodes.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/AssociationStatusMapper.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Engine/AutoFileGate.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingAssociationResolver.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  tests/unit/Sprk.Bff.Api.Tests/Integration/CommunicationIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/AssociationStatusMapperTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/AssociationTestSupport.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/AutoFileGateTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/InboundPipelineTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/IncomingAssociationResolverTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/StructuralDetectorTests.cs
Owners: @spaarke-dev

fix(comm): engine cache thread-safety — _recordTypeRefCache → ConcurrentDictionary (018, W1) — email-r4
  projects/email-communication-solution-r4/tasks/018-engine-cache-threadsafety.poml
  projects/email-communication-solution-r4/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingAssociationResolver.cs
Owners: @spaarke-dev

docs(assistant-enhancements-r1): post-pull reconciliation corrections
  projects/spaarkeai-assistant-enhancements-r1/design.md
Owners: @spaarke-dev

test(comm): direction-symmetry suite + association spine seam tests + central-auth audit (017, W1) — email-r4
  projects/email-communication-solution-r4/current-task.md
  projects/email-communication-solution-r4/tasks/017-central-auth-symmetry-tests.poml
  projects/email-communication-solution-r4/tasks/TASK-INDEX.md
  tests/integration/seam/Communication/AssociationSpineSeamTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/AssociationDirectionSymmetryTests.cs
Owners: @spaarke-dev

test(ui): EmailComposer + wrapper + communicationApi unit tests (023, W2) — email-r4
  projects/email-communication-solution-r4/notes/023-composer-unit-tests.md
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/__tests__/AttachmentList.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/__tests__/EmailComposer.reducer.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/__tests__/RecipientField.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/__tests__/imperative-handle.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/__tests__/modes.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/__tests__/validation.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/__tests__/wrappers.test.tsx
  src/client/shared/Spaarke.UI.Components/src/services/__tests__/communicationApi.test.ts
Owners: @spaarke-dev

feat(comm): channel seams — ICommunicationChannelSender + ICommunicationArchiver (email impl) (016, W1) — email-r4
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Channels/CommunicationChannelDispatcher.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Channels/EmailArchiver.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Channels/EmailChannelSender.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Channels/ICommunicationArchiver.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Channels/ICommunicationChannelSender.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/CommunicationIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/ArchivalFlowTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/AssociationMappingTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/AttachmentValidationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationChannelDispatcherTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationChannelTestFactory.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationServiceChannelRoutingTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/DataverseRecordCreationTests.cs
Owners: @spaarke-dev

chore(email-r4): mark 016 + 023 complete; W1 + W2 done (27/45)
  projects/email-communication-solution-r4/current-task.md
  projects/email-communication-solution-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(ui): channel-aware Communication Code Page shell (040, W4) — email-r4
  src/client/code-pages/CommunicationPage/.gitignore
  src/client/code-pages/CommunicationPage/index.html
  src/client/code-pages/CommunicationPage/package-lock.json
  src/client/code-pages/CommunicationPage/package.json
  src/client/code-pages/CommunicationPage/scripts/name-artifact.mjs
  src/client/code-pages/CommunicationPage/src/App.tsx
  src/client/code-pages/CommunicationPage/src/components/CommunicationLayout.tsx
  src/client/code-pages/CommunicationPage/src/components/EmailComposerSlot.tsx
  src/client/code-pages/CommunicationPage/src/components/ReadOnlyCommunicationView.tsx
  src/client/code-pages/CommunicationPage/src/hooks/useCommunicationRecord.ts
  src/client/code-pages/CommunicationPage/src/index.tsx
  src/client/code-pages/CommunicationPage/src/services/authInit.ts
  src/client/code-pages/CommunicationPage/src/services/communicationRecord.ts
  src/client/code-pages/CommunicationPage/src/services/navigation.ts
  src/client/code-pages/CommunicationPage/src/services/parseParams.ts
  src/client/code-pages/CommunicationPage/src/services/xrm.ts
  src/client/code-pages/CommunicationPage/src/types/communication.ts
  src/client/code-pages/CommunicationPage/tsconfig.json
  src/client/code-pages/CommunicationPage/vite.config.ts
Owners: @spaarke-dev, @devops-team

docs(compose-r2): #615 — promote IDocumentProfileAi to canonical permanent facade
  projects/spaarkeai-compose-r2/design.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/IDocumentProfileAi.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/IComposeService.cs
Owners: @spaarke-dev

feat(ui): mount SendEmailPage in Communication Code Page email branch + FCC plan (041, W4) — email-r4
  projects/email-communication-solution-r4/notes/041-fcc-registration.md
  src/client/code-pages/CommunicationPage/src/components/EmailComposerSlot.tsx
Owners: @spaarke-dev

chore(email-r4): 041 complete; W4 prototype-first plan + brief
  projects/email-communication-solution-r4/current-task.md
  projects/email-communication-solution-r4/notes/W4-prototype-brief.md
  projects/email-communication-solution-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(compose-r2): FR-30 durable memory capture via IComposeMemoryCapture facade (#629 capability)
  projects/spaarkeai-compose-r2/current-task.md
  projects/spaarkeai-compose-r2/tasks/063-memory-items-write.poml
  projects/spaarkeai-compose-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiPersistenceModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/ComposeMemoryCapture.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/IComposeMemoryCapture.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  tests/integration/seam/Ai/Memory/ComposeMemoryCaptureRecallTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PublicContracts/ComposeMemoryCaptureTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceCreateOnSaveTests.cs
Owners: @spaarke-dev

checkpoint(compose-r2): all 6 deferral issues addressed — task 063 done (PR #645)
  projects/spaarkeai-compose-r2/current-task.md
Owners: @spaarke-dev

chore(compose-r2): register + archive portfolio record (#647, Completed)
  projects/spaarkeai-compose-r2/.archived
  projects/spaarkeai-compose-r2/README.md
Owners: @spaarke-dev, @docs-team

docs(assistant-enhancements-r1): spec.md + design reconciliation (Fable review, UAT, SignalR)
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/assistant-push-channel-2026-07-15.md
  projects/spaarkeai-assistant-enhancements-r1/design.md
  projects/spaarkeai-assistant-enhancements-r1/spec.md
Owners: @spaarke-dev

docs(assistant-enhancements-r1): reconcile r2-independence, resolver spec, sprk_userprofile schema
  projects/spaarkeai-assistant-enhancements-r1/design.md
  projects/spaarkeai-assistant-enhancements-r1/spec.md
Owners: @spaarke-dev

feat(assistant-enhancements-r1): initialize project artifacts (README, plan, CLAUDE)
  projects/INDEX.md
  projects/spaarkeai-assistant-enhancements-r1/CLAUDE.md
  projects/spaarkeai-assistant-enhancements-r1/README.md
  projects/spaarkeai-assistant-enhancements-r1/current-task.md
  projects/spaarkeai-assistant-enhancements-r1/plan.md
Owners: @spaarke-dev, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
