Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

test(compose-fidelity-r4.5): WS-1 transient-mount FR-02 regression guards (task 012)
  projects/spaarkeai-compose-fidelity-r4.5/notes/task-012-transient-projected-server-side-notes.md
  projects/spaarkeai-compose-fidelity-r4.5/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.browse.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.upload.test.tsx
Owners: @spaarke-dev

feat(compose-fidelity-r4.5): WS-1 delete mammoth fallback — one reader (task 013)
  projects/spaarkeai-compose-fidelity-r4.5/notes/task-013-delete-mammoth-fallback-notes.md
  projects/spaarkeai-compose-fidelity-r4.5/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/index.ts
  src/client/shared/Spaarke.Compose.Components/src/utils/docxBridge.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.advisoryComments.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.dirtyOnMount.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.paneToggleCrash.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.projection.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.referenceOnly.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.browse.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.redline-from-ledger.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.types.ts
Owners: @spaarke-dev

chore(compose-fidelity-r4.5): WS-1 gate PASS + tracking
  projects/spaarkeai-compose-fidelity-r4.5/current-task.md
  projects/spaarkeai-compose-fidelity-r4.5/notes/defer-issues.md
  projects/spaarkeai-compose-fidelity-r4.5/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(analysis-hub-r1): ground-truth reconciliation — code-verified schema/session reality
  projects/ai-advanced-capabilities-analysis-hub-r1/design-discussion.md
Owners: @spaarke-dev

docs(agreements-r1): capture + structure owner enhancement list (6 enhancements)
  projects/ai-advanced-capabilities-agreements-r1/design-discussion.md
Owners: @spaarke-dev

docs(analysis-hub-r1): lock all 5 design decisions (owner 2026-07-28) — spec-ready
  projects/ai-advanced-capabilities-analysis-hub-r1/design-discussion.md
Owners: @spaarke-dev

docs(agreements-r1): resolve all 5 design decisions (owner 2026-07-28) — spec-ready
  projects/ai-advanced-capabilities-agreements-r1/design-discussion.md
Owners: @spaarke-dev

docs(analysis-hub-r1): lock surface + entry model (owner 2026-07-28) + queue retirement investigation
  projects/ai-advanced-capabilities-analysis-hub-r1/design-discussion.md
Owners: @spaarke-dev

docs(analysis-hub-r1): consolidated Analysis retirement/reuse map (§13, 2 Explore agents)
  projects/ai-advanced-capabilities-analysis-hub-r1/design-discussion.md
Owners: @spaarke-dev

docs(agreements-r1): add enhancement #7 — Word-comment export fidelity (compose-r4 handoff)
  projects/ai-advanced-capabilities-agreements-r1/design-discussion.md
  projects/ai-advanced-capabilities-agreements-r1/notes/word-comment-export-gap.md
Owners: @spaarke-dev

docs(analysis-hub-r1): side-by-side source preview NOT needed (owner) — clean retirement, no migration
  projects/ai-advanced-capabilities-analysis-hub-r1/design-discussion.md
Owners: @spaarke-dev

feat(compose-fidelity-r4.5): WS-2 stop silent glyph drops (task 020)
  projects/spaarkeai-compose-fidelity-r4.5/notes/task-020-stop-silent-drops-notes.md
  projects/spaarkeai-compose-fidelity-r4.5/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjectionBuilder.cs
  tests/integration/seam/Compose/ComposeReadFidelityHarnessSeamTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeDocxProjectionBuilderTests.cs
Owners: @spaarke-dev

feat(compose-fidelity-r4.5): WS-2 emit indentation + preserve whitespace (task 021)
  projects/spaarkeai-compose-fidelity-r4.5/notes/task-021-emit-indentation-whitespace-notes.md
  projects/spaarkeai-compose-fidelity-r4.5/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.indentAndWhitespace.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeIndentExtension.ts
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjectionBuilder.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeDocxProjectionBuilderTests.cs
Owners: @spaarke-dev

feat(email-r5): Wave 1 — sanitizer, archiving contract, Connections Layer-1 (001, 002, 020)
  projects/email-communication-solution-r5/notes/task-001-sanitize-email-html.md
  projects/email-communication-solution-r5/notes/task-002-archiving-default-on.md
  projects/email-communication-solution-r5/notes/task-020-connections-layer1-extraction.md
  projects/email-communication-solution-r5/tasks/TASK-INDEX.md
  src/client/pcf/CommunicationConnections/CommunicationConnections/CommunicationConnectionsApp.tsx
  src/client/pcf/CommunicationConnections/CommunicationConnections/ConnectionsEditor.tsx
  src/client/pcf/CommunicationConnections/__tests__/ConnectionsWriteHandler.test.ts
  src/client/pcf/CommunicationConnections/__tests__/grouping.test.ts
  src/client/pcf/CommunicationConnections/__tests__/provenance.test.ts
  src/client/pcf/CommunicationConnections/jest.config.js
  src/client/pcf/CommunicationConnections/package-lock.json
  src/client/pcf/CommunicationConnections/package.json
  src/client/pcf/CommunicationConnections/tsconfig.json
  src/client/shared/Spaarke.Communication.Components/package-lock.json
  src/client/shared/Spaarke.Communication.Components/package.json
  src/client/shared/Spaarke.Communication.Components/src/index.ts
  src/client/shared/Spaarke.Communication.Components/src/logic/connections/ConnectionsWriteHandler.ts
  src/client/shared/Spaarke.Communication.Components/src/logic/connections/index.ts
  src/client/shared/Spaarke.Communication.Components/src/logic/connections/provenance.ts
  src/client/shared/Spaarke.Communication.Components/src/logic/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/subcomponents/MessageRow.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/subcomponents/MessageBubble.tsx
  src/client/shared/Spaarke.UI.Components/src/utils/__tests__/sanitizeEmailHtml.test.ts
  src/client/shared/Spaarke.UI.Components/src/utils/index.ts
  src/client/shared/Spaarke.UI.Components/src/utils/sanitizeEmailHtml.ts
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingCommunicationProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Models/CommunicationAccount.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationAccountModelTests.cs
Owners: @spaarke-dev

chore(nda-r1): close out project — reconcile index + wrap-up gates (022/22 ✅)
  projects/ai-advanced-capabilities-nda-r1/PLAN.md
  projects/ai-advanced-capabilities-nda-r1/README.md
  projects/ai-advanced-capabilities-nda-r1/current-task.md
  projects/ai-advanced-capabilities-nda-r1/notes/lessons-learned.md
  projects/ai-advanced-capabilities-nda-r1/notes/test-diet-report.md
  projects/ai-advanced-capabilities-nda-r1/tasks/011-runtime-model-picker.poml
  projects/ai-advanced-capabilities-nda-r1/tasks/012-seed-nda-standard-grounding-pin.poml
  projects/ai-advanced-capabilities-nda-r1/tasks/013-reasoning-deployment-provisioning.poml
  projects/ai-advanced-capabilities-nda-r1/tasks/020-nda-review-action.poml
  projects/ai-advanced-capabilities-nda-r1/tasks/060-deploy.poml
  projects/ai-advanced-capabilities-nda-r1/tasks/061-ui-tests-end-to-end.poml
  projects/ai-advanced-capabilities-nda-r1/tasks/090-project-wrap-up.poml
  projects/ai-advanced-capabilities-nda-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore(nda-r1): archive marker — project Completed (close-out gates run)
  projects/ai-advanced-capabilities-nda-r1/.archived
Owners: @spaarke-dev

chore(nda-r1): project close-out — 22/22 ✅ (verified + wrapped up) (#692)
  projects/ai-advanced-capabilities-nda-r1/.archived
  projects/ai-advanced-capabilities-nda-r1/PLAN.md
  projects/ai-advanced-capabilities-nda-r1/README.md
  projects/ai-advanced-capabilities-nda-r1/current-task.md
  projects/ai-advanced-capabilities-nda-r1/notes/lessons-learned.md
  projects/ai-advanced-capabilities-nda-r1/notes/test-diet-report.md
  projects/ai-advanced-capabilities-nda-r1/tasks/011-runtime-model-picker.poml
  projects/ai-advanced-capabilities-nda-r1/tasks/012-seed-nda-standard-grounding-pin.poml
  projects/ai-advanced-capabilities-nda-r1/tasks/013-reasoning-deployment-provisioning.poml
  projects/ai-advanced-capabilities-nda-r1/tasks/020-nda-review-action.poml
  projects/ai-advanced-capabilities-nda-r1/tasks/060-deploy.poml
  projects/ai-advanced-capabilities-nda-r1/tasks/061-ui-tests-end-to-end.poml
  projects/ai-advanced-capabilities-nda-r1/tasks/090-project-wrap-up.poml
  projects/ai-advanced-capabilities-nda-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(compose-fidelity-r4.5): WS-2 construct audit — fix 5 silent drops (task 022)
  projects/spaarkeai-compose-fidelity-r4.5/notes/ws2-construct-audit.md
  projects/spaarkeai-compose-fidelity-r4.5/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjectionBuilder.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeDocxProjectionBuilderTests.cs
Owners: @spaarke-dev

chore(nda-r1): portfolio registered + closed — Issue #693 on Project #2 (Completed)
  projects/ai-advanced-capabilities-nda-r1/.archived
  projects/ai-advanced-capabilities-nda-r1/README.md
Owners: @spaarke-dev, @docs-team

chore(compose-r4): PROJECT CLOSE-OUT — archived (Complete)
  projects/INDEX.md
  projects/spaarkeai-compose-r4/.archived
  projects/spaarkeai-compose-r4/current-task.md
  projects/spaarkeai-compose-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(compose-fidelity-r4.5): WS-3 numbering-model reader (task 030)
  projects/spaarkeai-compose-fidelity-r4.5/notes/task-030-numbering-model-reader-notes.md
  projects/spaarkeai-compose-fidelity-r4.5/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjectionBuilder.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeDocxProjectionBuilderTests.cs
Owners: @spaarke-dev

feat(email-r5): Wave 3 — Actions Layer-1 + EmailCardList (022, 030)
  projects/email-communication-solution-r5/notes/task-022-actions-layer1-extraction.md
  projects/email-communication-solution-r5/notes/task-030-email-card-list.md
  projects/email-communication-solution-r5/tasks/030-email-card-list.poml
  projects/email-communication-solution-r5/tasks/TASK-INDEX.md
  src/client/pcf/CommunicationActions/CommunicationActions/CommunicationActionsApp.tsx
  src/client/pcf/CommunicationActions/__tests__/attachmentsSource.test.ts
  src/client/pcf/CommunicationActions/__tests__/composerPrefill.test.ts
  src/client/pcf/CommunicationActions/__tests__/launchCreate.test.ts
  src/client/pcf/CommunicationActions/jest.config.js
  src/client/pcf/CommunicationActions/package-lock.json
  src/client/pcf/CommunicationActions/package.json
  src/client/pcf/CommunicationActions/tsconfig.json
  src/client/shared/Spaarke.Communication.Components/package.json
  src/client/shared/Spaarke.Communication.Components/src/components/EmailCardList/EmailCardList.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailCardList/EmailCardList.types.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailCardList/__tests__/EmailCardList.test.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailCardList/index.ts
  src/client/shared/Spaarke.Communication.Components/src/components/index.ts
  src/client/shared/Spaarke.Communication.Components/src/logic/actions/attachmentsSource.ts
  src/client/shared/Spaarke.Communication.Components/src/logic/actions/composerPrefill.ts
  src/client/shared/Spaarke.Communication.Components/src/logic/actions/index.ts
  src/client/shared/Spaarke.Communication.Components/src/logic/actions/launchCreate.ts
  src/client/shared/Spaarke.Communication.Components/src/logic/index.ts
Owners: @spaarke-dev

feat(compose-fidelity-r4.5): WS-3 FLAGSHIP numbering computation engine (task 031)
  projects/spaarkeai-compose-fidelity-r4.5/notes/task-031-numbering-computation-engine-notes.md
  projects/spaarkeai-compose-fidelity-r4.5/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjectionBuilder.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ParaIdPreParser.cs
  tests/integration/seam/Compose/ComposeReadFidelityHarnessSeamTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeDocxProjectionBuilderTests.cs
Owners: @spaarke-dev

feat(email-r5): Wave 4 — EmailViewSelector + reading-pane shell (031, 032)
  projects/email-communication-solution-r5/notes/task-031-view-selector.md
  projects/email-communication-solution-r5/notes/task-032-reading-pane-shell.md
  projects/email-communication-solution-r5/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Communication.Components/src/components/EmailReadingPaneShell/EmailReadingPaneShell.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailReadingPaneShell/EmailReadingPaneShell.types.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailReadingPaneShell/EmailToolbar.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailReadingPaneShell/__tests__/EmailReadingPaneShell.test.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailReadingPaneShell/index.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailViewSelector/EmailViewSelector.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailViewSelector/__tests__/EmailViewSelector.test.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailViewSelector/__tests__/useEmailViews.test.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailViewSelector/index.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailViewSelector/useEmailViews.ts
  src/client/shared/Spaarke.Communication.Components/src/components/index.ts
Owners: @spaarke-dev

build(messaging-r3): PCF CommunicationConversationPanel v1.8.0 — bundle the thread-switch union fix
  src/client/pcf/CommunicationConversationPanel/CommunicationConversationPanel/ControlManifest.Input.xml
  src/client/pcf/CommunicationConversationPanel/CommunicationConversationPanel/index.ts
  src/client/pcf/CommunicationConversationPanel/Solution/Controls/sprk_Spaarke.Controls.CommunicationConversationPanel/ControlManifest.xml
  src/client/pcf/CommunicationConversationPanel/Solution/Controls/sprk_Spaarke.Controls.CommunicationConversationPanel/bundle.js
  src/client/pcf/CommunicationConversationPanel/Solution/pack.ps1
  src/client/pcf/CommunicationConversationPanel/Solution/solution.xml
Owners: @spaarke-dev

feat(compose-fidelity-r4.5): WS-3 render computed number-atom (task 032)
  projects/spaarkeai-compose-fidelity-r4.5/notes/task-032-render-number-atom-notes.md
  projects/spaarkeai-compose-fidelity-r4.5/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.numberAtom.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeNumberAtomExtension.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/composeNumberAtomExtension.ts
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjectionBuilder.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeDocxProjectionBuilderTests.cs
Owners: @spaarke-dev

test(compose-fidelity-r4.5): WS-3 round-trip catches numId counter bug (task 033)
  projects/spaarkeai-compose-fidelity-r4.5/notes/defer-issues.md
  projects/spaarkeai-compose-fidelity-r4.5/notes/task-033-numbering-roundtrip-notes.md
  projects/spaarkeai-compose-fidelity-r4.5/tasks/TASK-INDEX.md
  tests/integration/seam/Compose/ComposeNumberingRoundTripSeamTests.cs
Owners: @spaarke-dev

fix(compose-fidelity-r4.5): DEF-03 numId-scoped numbering counter (task 035)
  projects/spaarkeai-compose-fidelity-r4.5/notes/defer-issues.md
  projects/spaarkeai-compose-fidelity-r4.5/notes/task-035-numbering-numid-scoping-fix-notes.md
  projects/spaarkeai-compose-fidelity-r4.5/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjectionBuilder.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeDocxProjectionBuilderTests.cs
Owners: @spaarke-dev

feat(compose-fidelity-r4.5): WS-4 projection reference fields (task 040)
  projects/spaarkeai-compose-fidelity-r4.5/current-task.md
  projects/spaarkeai-compose-fidelity-r4.5/notes/task-040-extend-projection-reference-fields-notes.md
  projects/spaarkeai-compose-fidelity-r4.5/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDocxProjectionBuilder.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ParaIdPreParser.cs
  tests/integration/seam/Compose/ComposeReadFidelityHarnessSeamTests.cs
Owners: @spaarke-dev

feat(compose-fidelity-r4.5): WS-4 persist reference map in session ledger (task 041)
  projects/spaarkeai-compose-fidelity-r4.5/notes/task-041-persist-reference-map-notes.md
  projects/spaarkeai-compose-fidelity-r4.5/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Models/Ai/Chat/ChatSession.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ChatSessionManager.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Sessions/StoredSession.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  tests/integration/seam/Compose/ComposeReferenceMapSessionLedgerSeamTests.cs
Owners: @spaarke-dev

feat(email-r5): Wave 5 — reading-pane sub-views (033, 034, 035, 036)
  projects/email-communication-solution-r5/current-task.md
  projects/email-communication-solution-r5/notes/task-033-eml-render-branch.md
  projects/email-communication-solution-r5/notes/task-034-header-and-attachments-view.md
  projects/email-communication-solution-r5/notes/task-035-associations-and-tracking-view.md
  projects/email-communication-solution-r5/tasks/034-header-and-attachments-view.poml
  projects/email-communication-solution-r5/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailAssociationsAndTracking.types.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailConnectionsReview.helpers.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailConnectionsReview.styles.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailConnectionsReview.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailConnectionsReviewRows.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/EmailTrackingPanel.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/__tests__/EmailAssociationsAndTracking.test.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailAssociationsAndTracking/index.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailBody/EmailBodyView.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailBody/EmailBodyView.types.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailBody/__tests__/EmailBodyView.test.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailBody/index.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailComposeActions/EmailComposeActions.types.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailComposeActions/OpenFullFormButton.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailComposeActions/__tests__/OpenFullFormButton.test.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailComposeActions/__tests__/fetchCommunicationPrefill.test.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailComposeActions/__tests__/useEmailComposeActions.test.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailComposeActions/fetchCommunicationPrefill.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailComposeActions/index.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailComposeActions/useEmailComposeActions.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailReadingHeader/EmailReadingAttachments.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailReadingHeader/EmailReadingHeader.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailReadingHeader/EmailReadingHeader.types.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailReadingHeader/__tests__/EmailReadingAttachments.test.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailReadingHeader/__tests__/EmailReadingHeader.test.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailReadingHeader/index.ts
  src/client/shared/Spaarke.Communication.Components/src/components/index.ts
Owners: @spaarke-dev

docs(email-intelligence): rev-3 — code-directed substrate + grounded G-1
  projects/email-communication-intelligence-r1/design.md
Owners: @spaarke-dev

feat(compose-fidelity-r4.5): WS-4 citation resolver (task 042)
  projects/spaarkeai-compose-fidelity-r4.5/notes/task-042-citation-resolver-notes.md
  projects/spaarkeai-compose-fidelity-r4.5/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Compose/CitationResolver.cs
  tests/integration/seam/Compose/ComposeCitationResolverSeamTests.cs
Owners: @spaarke-dev

fix(messaging-r3): stop 'New communication' toast flood — toast live arrivals only
  src/client/shared/Spaarke.Communication.Components/src/widgets/CommunicationsWorkspaceWidget/CommunicationsWorkspaceWidget.tsx
Owners: @spaarke-dev

feat(analysis-hub-r1): initialize project via /project-pipeline
  projects/INDEX.md
  projects/ai-advanced-capabilities-analysis-hub-r1/CLAUDE.md
  projects/ai-advanced-capabilities-analysis-hub-r1/PLAN.md
  projects/ai-advanced-capabilities-analysis-hub-r1/README.md
  projects/ai-advanced-capabilities-analysis-hub-r1/current-task.md
  projects/ai-advanced-capabilities-analysis-hub-r1/spec.md
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/001-fix-pre-existing-e2e-failures.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/010-schema-preflight.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/011-client-sprk-analysis-type.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/012-consume-worktype-regarding-fieldset.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/013-file-resolution-document-spe-hop.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/020-session-analysis-binding-fk.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/021-fork-on-analysis-endpoint.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/022-archive-durability-decision.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/023-two-tier-session-model.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/024-add-file-to-running-chat-prompt.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/025-persistence-hardening.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/030-analysis-hub-widget.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/031-reopen-from-grid-rehydrate.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/040-per-type-creation-wizard.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/041-wire-activeworktype-tool-scoping.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/050-entry-matrix-host-routing.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/051-record-analysis-subgrid-forms.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/052-extend-openspaarkeai-ribbon-launcher.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/053-enforce-openspaarkeai-not-surfacelaunchregistry.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/060-repoint-server-deep-links.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/061-repoint-client-launch-points.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/062-retire-legacy-session-path.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/063-delete-webresources-and-tree.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/064-migrate-save-get-and-fold-3pane.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/070-deploy-bff-publish-size-cve.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/071-deploy-client-code-page-ribbon-forms.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/072-end-to-end-ui-tests.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/090-wrap-up-test-diet-lessons.poml
  projects/ai-advanced-capabilities-analysis-hub-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore(compose-fidelity-r4.5): checkpoint — code-complete, wrap-up pending
  projects/spaarkeai-compose-fidelity-r4.5/current-task.md
Owners: @spaarke-dev

feat(email-r5): Wave 6 — EmailWorkspace assembly (040)
  projects/email-communication-solution-r5/notes/task-040-email-workspace-assembly.md
  projects/email-communication-solution-r5/tasks/040-shared-email-workspace-component.poml
  projects/email-communication-solution-r5/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Communication.Components/jest.config.cjs
  src/client/shared/Spaarke.Communication.Components/src/components/EmailWorkspace/EmailWorkspace.mapping.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailWorkspace/EmailWorkspace.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailWorkspace/EmailWorkspace.types.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailWorkspace/__tests__/EmailWorkspace.test.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/EmailWorkspace/index.ts
  src/client/shared/Spaarke.Communication.Components/src/components/EmailWorkspace/useEmailWorkspaceRecord.ts
  src/client/shared/Spaarke.Communication.Components/src/components/index.ts
Owners: @spaarke-dev

feat(email-r5): Wave 7 — dual mounts: email widget + standalone code page (041, 042)
  projects/email-communication-solution-r5/notes/task-041-widget-registration-and-seed.md
  projects/email-communication-solution-r5/notes/task-042-standalone-code-page.md
  projects/email-communication-solution-r5/tasks/TASK-INDEX.md
  scripts/system-layouts.json
  src/client/shared/Spaarke.AI.Widgets/package-lock.json
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/EmailWorkspaceWidget.tsx
  src/client/shared/Spaarke.AI.Widgets/src/widgets/workspace/register-workspace-widgets.ts
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/sectionMetadataCatalog.ts
  src/solutions/EmailPage/index.html
  src/solutions/EmailPage/package-lock.json
  src/solutions/EmailPage/package.json
  src/solutions/EmailPage/src/config/runtimeConfig.ts
  src/solutions/EmailPage/src/main.tsx
  src/solutions/EmailPage/src/services/authInit.ts
  src/solutions/EmailPage/src/vite-env.d.ts
  src/solutions/EmailPage/tsconfig.json
  src/solutions/EmailPage/tsconfig.node.json
  src/solutions/EmailPage/vite.config.ts
  src/solutions/LegalWorkspace/package-lock.json
  src/solutions/LegalWorkspace/src/sectionRegistry.ts
  src/solutions/LegalWorkspace/src/sections/email.registration.ts
  src/solutions/LegalWorkspace/src/sections/index.ts
Owners: @spaarke-dev, @devops-team

test(email-r5): Wave 8 — verification sweep (050)
  projects/email-communication-solution-r5/notes/task-050-uat-checklist.md
  projects/email-communication-solution-r5/notes/verification-report.md
  projects/email-communication-solution-r5/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(compose-fidelity-r4.5): review-note label cites computed legal number (task 043)
  projects/spaarkeai-compose-fidelity-r4.5/notes/defer-issues.md
  projects/spaarkeai-compose-fidelity-r4.5/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ndaClauseLocation.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ndaClauseLocation.ts
Owners: @spaarke-dev
