Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

docs(notification-spine): path-iii combined scope + spec.md + assistant R1.5 scope-move note
  projects/spaarke-notification-spine-r1/design.md
  projects/spaarke-notification-spine-r1/spec.md
  projects/spaarkeai-assistant-enhancements-r1/notes/r1.5-scope-moved-to-notification-spine.md
Owners: @spaarke-dev

fix(email-r4): clear two pre-existing reds (stale provenance test + code-page build)
  src/client/code-pages/CommunicationPage/src/components/ConnectionsEditor.tsx
  src/client/pcf/CommunicationConnections/__tests__/provenance.test.ts
Owners: @spaarke-dev

chore(email-r4): note pre-existing reds fixed (55dd98f85) in current-task
  projects/email-communication-solution-r4/current-task.md
Owners: @spaarke-dev

feat(messaging-r3): task 003 — FR-16 GET /communications/threads (list-all)
  projects/messaging-communication-app-r3/current-task.md
  projects/messaging-communication-app-r3/notes/defer-issues.md
  projects/messaging-communication-app-r3/notes/task-003-notes.md
  projects/messaging-communication-app-r3/tasks/003-list-all-threads-endpoint.poml
  projects/messaging-communication-app-r3/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/CommunicationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationThreadReadModels.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationThreadReadService.cs
  tests/integration/seam/Communication/CommunicationListThreadsSeamTests.cs
Owners: @spaarke-dev

fix(compose): UAT round-2 C1/C2/C3 save+redline round-trip + U1/U2 UX
  projects/spaarkeai-compose-r3/notes/uat-feedback-2026-07-20.md
  src/client/shared/Spaarke.Compose.Components/src/types/compose-contracts.ts
  src/client/shared/Spaarke.Compose.Components/src/utils/docxBridge.contentModel.test.ts
  src/client/shared/Spaarke.Compose.Components/src/utils/docxBridge.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeCommentThread.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeStylesPane.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/server/api/Sprk.Bff.Api/Api/ComposeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeBaselineParaIdStamper.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeTextFold.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/DocxAnnotationWriter.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/IComposeService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeBaselineParaIdStamperTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/DocxAnnotationWriterTests.cs
Owners: @spaarke-dev

fix(assistant-r1): R5 client batch — revise-as-card, history restore, email modal, spacing, remove ? icon
  src/solutions/SpaarkeAi/src/components/conversation/ConsumerChips.tsx
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/DocumentUploadedEventStream.ts
  src/solutions/SpaarkeAi/src/components/conversation/HistoryOverlay.tsx
  src/solutions/SpaarkeAi/src/components/conversation/QuickStartModal.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.auto-load-upload-into-compose.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/localActionChips.ts
  src/solutions/SpaarkeAi/src/components/conversation/useConsumerChips.tsx
Owners: @spaarke-dev

docs(assistant-r1): R5 backlog + checkpoint
  projects/spaarkeai-assistant-enhancements-r1/current-task.md
  projects/spaarkeai-assistant-enhancements-r1/notes/uat-feedback-2026-07-20-R5.md
Owners: @spaarke-dev

feat(messaging-r3): task 004 — FR-17 participant naming + BFF rename (edit-preserve)
  projects/messaging-communication-app-r3/current-task.md
  projects/messaging-communication-app-r3/notes/defer-issues.md
  projects/messaging-communication-app-r3/notes/task-004-notes.md
  projects/messaging-communication-app-r3/tasks/004-participant-naming-and-rename-endpoint.poml
  projects/messaging-communication-app-r3/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/CommunicationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationThreadReadService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IThreadResolver.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Models/RenameThreadRequest.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/Models/RenameThreadResponse.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/ThreadResolver.cs
  tests/integration/contract/Api/Communication/CommunicationRenameThreadContractTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/ThreadResolverTests.cs
Owners: @spaarke-dev

chore(external-access): task 040 parity GREEN + 041 repo-half retire Power Pages
  projects/spaarke-SPA-external-access-platform-r1/tasks/040-parity-verification.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/041-decommission-power-pages.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/TASK-INDEX.md
  scripts/Deploy-AllWebResources.ps1
  scripts/Deploy-ExternalWorkspaceSpa.ps1
  scripts/README.md
Owners: @spaarke-dev, @devops-team, @docs-team

chore(external-access): checkpoint — 040 GREEN, 041 repo-half, 042 dispatched
  projects/spaarke-SPA-external-access-platform-r1/current-task.md
Owners: @spaarke-dev

docs(external-access): task 042 rewrite architecture + guides for SWA + CIAM
  docs/architecture/external-access-spa-architecture.md
  docs/guides/EXTERNAL-ACCESS-ADMIN-SETUP.md
  docs/guides/EXTERNAL-ACCESS-SPA-GUIDE.md
  projects/spaarke-SPA-external-access-platform-r1/tasks/042-rewrite-docs.poml
  projects/spaarke-SPA-external-access-platform-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(messaging-r3): task 005 — FR-19 honor ThreadId on email send branch
  projects/messaging-communication-app-r3/current-task.md
  projects/messaging-communication-app-r3/notes/task-005-notes.md
  projects/messaging-communication-app-r3/tasks/005-honor-threadid-email-send.poml
  projects/messaging-communication-app-r3/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationServiceEmailSendThreadTests.cs
Owners: @spaarke-dev

chore(messaging-r3): file ISS-001/ISS-002 to GitHub (#666, #667)
  projects/messaging-communication-app-r3/notes/defer-issues.md
Owners: @spaarke-dev

feat(assistant-r1): R5-7 — Create Event wizard carries the session file(s)
  src/client/shared/Spaarke.UI.Components/src/components/CreateEventWizard/CreateEventWizard.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateMatterWizard/CreateMatterWizard.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/useHandoffFileLeg.ts
  src/solutions/CreateEventWizard/src/main.tsx
Owners: @spaarke-dev

feat(notification-spine): initialize project via /project-pipeline — artifacts + 22 tasks
  projects/INDEX.md
  projects/spaarke-notification-spine-r1/CLAUDE.md
  projects/spaarke-notification-spine-r1/README.md
  projects/spaarke-notification-spine-r1/current-task.md
  projects/spaarke-notification-spine-r1/notes/.gitkeep
  projects/spaarke-notification-spine-r1/notes/debug/.gitkeep
  projects/spaarke-notification-spine-r1/notes/drafts/.gitkeep
  projects/spaarke-notification-spine-r1/notes/handoffs/.gitkeep
  projects/spaarke-notification-spine-r1/notes/spikes/.gitkeep
  projects/spaarke-notification-spine-r1/plan.md
  projects/spaarke-notification-spine-r1/tasks/.gitkeep
  projects/spaarke-notification-spine-r1/tasks/001-signalr-footprint-spike.poml
  projects/spaarke-notification-spine-r1/tasks/010-author-adr-047.poml
  projects/spaarke-notification-spine-r1/tasks/011-outbox-table-schema.poml
  projects/spaarke-notification-spine-r1/tasks/012-outbox-service.poml
  projects/spaarke-notification-spine-r1/tasks/013-envelope-contract-taxonomy.poml
  projects/spaarke-notification-spine-r1/tasks/020-signalr-delivery-service.poml
  projects/spaarke-notification-spine-r1/tasks/021-shared-client-subscriber-lib.poml
  projects/spaarke-notification-spine-r1/tasks/022-pending-poll-fallback-endpoint.poml
  projects/spaarke-notification-spine-r1/tasks/023-fanout-targeting-security.poml
  projects/spaarke-notification-spine-r1/tasks/024-communication-arrived-producer.poml
  projects/spaarke-notification-spine-r1/tasks/025-r3-contract-lock-note.poml
  projects/spaarke-notification-spine-r1/tasks/030-characterization-tests-dispatch.poml
  projects/spaarke-notification-spine-r1/tasks/031-layer-a-action-seam.poml
  projects/spaarke-notification-spine-r1/tasks/032-what-lights-up-audit.poml
  projects/spaarke-notification-spine-r1/tasks/033-notification-leg-flip.poml
  projects/spaarke-notification-spine-r1/tasks/040-comms-assessed-producer.poml
  projects/spaarke-notification-spine-r1/tasks/041-comms-policy-layer.poml
  projects/spaarke-notification-spine-r1/tasks/042-ri-actions-via-seam.poml
  projects/spaarke-notification-spine-r1/tasks/050-suggestion-producer.poml
  projects/spaarke-notification-spine-r1/tasks/051-suggestion-renderer-branch.poml
  projects/spaarke-notification-spine-r1/tasks/052-suggestion-dispatch-parity.poml
  projects/spaarke-notification-spine-r1/tasks/090-project-wrap-up.poml
  projects/spaarke-notification-spine-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(assistant-r1): R5-8 (part 1) — Assign Work wizard carries the session file(s)
  src/client/shared/Spaarke.UI.Components/src/components/CreateWorkAssignmentWizard/WorkAssignmentWizardDialog.tsx
  src/client/shared/Spaarke.UI.Components/src/services/__tests__/surfaceLaunchRegistry.test.ts
  src/client/shared/Spaarke.UI.Components/src/services/surfaceHandoff/surfaceLaunchRegistry.ts
  src/solutions/CreateWorkAssignmentWizard/src/main.tsx
  src/solutions/SpaarkeAi/src/components/conversation/QuickStartModal.tsx
Owners: @spaarke-dev

test(messaging-r3): task 010 — characterize conversation core + SendEmailDialog
  projects/messaging-communication-app-r3/current-task.md
  projects/messaging-communication-app-r3/notes/task-010-notes.md
  projects/messaging-communication-app-r3/tasks/010-characterize-conversation-core.poml
  projects/messaging-communication-app-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/__tests__/CommunicationTimeline.characterize.buildTimeline.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/__tests__/CommunicationTimeline.characterize.poll.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/__tests__/CommunicationTimeline.characterize.reducer.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/__tests__/SendEmailDialog.characterize.test.tsx
Owners: @spaarke-dev

build(pcf): rebundle CommunicationActions v1.1.3 + CommunicationConnections v1.3.0 from post-master-merge state
  src/client/pcf/CommunicationActions/Solution/Controls/sprk_Spaarke.Controls.CommunicationActions/bundle.js
  src/client/pcf/CommunicationConnections/Solution/Controls/sprk_Spaarke.Controls.CommunicationConnections/bundle.js
  src/client/pcf/CommunicationConnections/Solution/bin/CommunicationConnectionsSolution_v1.3.0.zip
Owners: @spaarke-dev

checkpoint(external-access): context-handoff — 24/25 done + post-compact plan (admin-guide clarity + R2 scoping)
  projects/spaarke-SPA-external-access-platform-r1/current-task.md
Owners: @spaarke-dev

chore(email-r4): W10 deployed — BFF live on dev; PCF import paths recorded
  projects/email-communication-solution-r4/current-task.md
Owners: @spaarke-dev

feat(assistant-r1): R5-8 (part 2) — Summarize Files + Find Similar carry the session file(s)
  src/client/shared/Spaarke.UI.Components/src/components/SummarizeFilesWizard/SummarizeFilesDialog.tsx
  src/client/shared/Spaarke.UI.Components/src/services/__tests__/surfaceLaunchRegistry.test.ts
  src/client/shared/Spaarke.UI.Components/src/services/surfaceHandoff/surfaceLaunchRegistry.ts
  src/solutions/FindSimilarCodePage/package-lock.json
  src/solutions/FindSimilarCodePage/src/App.tsx
  src/solutions/FindSimilarCodePage/src/main.tsx
  src/solutions/SpaarkeAi/src/components/conversation/QuickStartModal.tsx
  src/solutions/SummarizeFilesWizard/src/main.tsx
Owners: @spaarke-dev

fix(assistant-r1): R5-4 — composer pills share the paperclip row; smaller dismiss
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
Owners: @spaarke-dev

feat(messaging-r3): Wave 7 — ConversationView bubbles + two-pane shell (FR-01/02/03/10)
  projects/messaging-communication-app-r3/current-task.md
  projects/messaging-communication-app-r3/notes/task-011-notes.md
  projects/messaging-communication-app-r3/notes/task-012-notes.md
  projects/messaging-communication-app-r3/tasks/011-conversation-view-bubbles.poml
  projects/messaging-communication-app-r3/tasks/012-two-pane-shell-and-thread-list.poml
  projects/messaging-communication-app-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/CommunicationTimeline.buildTimeline.ts
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/CommunicationTimeline.types.ts
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/__tests__/buildTimeline.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/ConversationView.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/ConversationView.types.ts
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/__tests__/ConversationView.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/subcomponents/MessageBubble.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ConversationWorkspace/ConversationWorkspace.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ConversationWorkspace/__tests__/ConversationWorkspace.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ConversationWorkspace/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/ConversationWorkspace/subcomponents/ThreadList.tsx
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
  src/client/shared/Spaarke.UI.Components/src/services/communicationThreadListApi.ts
  src/client/shared/Spaarke.UI.Components/src/services/communicationTimelineApi.ts
Owners: @spaarke-dev

docs(assistant-r1): R5 round-2 complete — status + checkpoint
  projects/spaarkeai-assistant-enhancements-r1/current-task.md
  projects/spaarkeai-assistant-enhancements-r1/notes/uat-feedback-2026-07-20-R5.md
Owners: @spaarke-dev

docs(external-access): add copy-paste new-user onboarding walkthrough (Section 5.0)
  docs/guides/EXTERNAL-ACCESS-ADMIN-SETUP.md
Owners: @spaarke-dev, @docs-team

checkpoint(messaging-r3): context handoff after Phase 1 + Phase 2 core (9 tasks)
  projects/messaging-communication-app-r3/current-task.md
Owners: @spaarke-dev

feat(spaarkeai): UAT UI polish — 3-dot menus, tab restyle, manage-pane rework
  src/solutions/SpaarkeAi/src/components/context/ContextPaneMenu.tsx
  src/solutions/SpaarkeAi/src/components/workspace/ManageWorkspacesPane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspacePaneMenu.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspaceTabManagerComponent.tsx
  src/solutions/SpaarkeAi/src/hooks/usePaneCollapse.ts
Owners: @spaarke-dev

fix(compose): UAT round-3 — cross-paragraph save 422 + cross-extractor apply miss + redline UX
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/useComposeWordShuttle.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/useComposeWordShuttle.ts
Owners: @spaarke-dev

feat(pcf): messaging-r3 Phase 2 — in-conversation compose + additive filters (013,014)
  projects/messaging-communication-app-r3/current-task.md
  projects/messaging-communication-app-r3/notes/defer-issues.md
  projects/messaging-communication-app-r3/notes/task-013-notes.md
  projects/messaging-communication-app-r3/notes/task-014-notes.md
  projects/messaging-communication-app-r3/tasks/013-in-conversation-compose.poml
  projects/messaging-communication-app-r3/tasks/014-in-conversation-filters.poml
  projects/messaging-communication-app-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/ConversationView.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/ConversationView.types.ts
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/__tests__/ConversationView.compose.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/__tests__/ConversationView.filters.test.tsx
Owners: @spaarke-dev

feat(pcf): messaging-r3 task 020 — SendEmailDialog/EmailComposer thread pin + auto-associate (FR-07/FR-19)
  projects/messaging-communication-app-r3/current-task.md
  projects/messaging-communication-app-r3/notes/task-020-notes.md
  projects/messaging-communication-app-r3/tasks/020-extend-sendemaildialog-thread-record.poml
  projects/messaging-communication-app-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/EmailComposer.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/EmailComposer.types.ts
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/__tests__/SendEmailDialog.threadRecord.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EmailComposer/wrappers/SendEmailDialog.tsx
  src/client/shared/Spaarke.UI.Components/src/services/communicationApi.ts
  src/server/api/Sprk.Bff.Api/Services/Communication/Models/SendCommunicationRequest.cs
Owners: @spaarke-dev

feat(notification-spine): Phase 0 gate + Wave 1 (outbox table + envelope contract)
  docs/data-model/INDEX.md
  docs/data-model/sprk_notificationoutbox.md
  projects/spaarke-notification-spine-r1/current-task.md
  projects/spaarke-notification-spine-r1/notes/011-outbox-table-schema-proposal.md
  projects/spaarke-notification-spine-r1/notes/013-envelope-contract-taxonomy-deviations.md
  projects/spaarke-notification-spine-r1/notes/spikes/fr-01-signalr-footprint.md
  projects/spaarke-notification-spine-r1/tasks/001-signalr-footprint-spike.poml
  projects/spaarke-notification-spine-r1/tasks/011-outbox-table-schema.poml
  projects/spaarke-notification-spine-r1/tasks/013-envelope-contract-taxonomy.poml
  projects/spaarke-notification-spine-r1/tasks/TASK-INDEX.md
  scripts/Deploy-NotificationOutboxEntity.ps1
  src/server/api/Sprk.Bff.Api/Services/Notifications/Envelopes/CommunicationEnvelope.cs
  src/server/api/Sprk.Bff.Api/Services/Notifications/Envelopes/NotificationKind.cs
  src/server/api/Sprk.Bff.Api/Services/Notifications/Envelopes/SuggestionEnvelope.cs
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
  tests/unit/Sprk.Bff.Api.Tests/Services/Notifications/EnvelopeSerializationTests.cs
Owners: @spaarke-dev, @docs-team, @devops-team

feat(spaarkeai): UAT round 2 — manage-pane 400px, active-only tab close, Documents rename
  src/solutions/LegalWorkspace/src/sections/documents.registration.ts
  src/solutions/SpaarkeAi/src/components/workspace/ManageWorkspacesPane.tsx
  src/solutions/SpaarkeAi/src/components/workspace/WorkspaceTabManagerComponent.tsx
Owners: @spaarke-dev

feat(pcf): messaging-r3 Wave 11 — MessageQuickView + NewThreadModal (FR-05, FR-11)
  projects/messaging-communication-app-r3/current-task.md
  projects/messaging-communication-app-r3/notes/defer-issues.md
  projects/messaging-communication-app-r3/notes/task-023-notes.md
  projects/messaging-communication-app-r3/notes/task-024-notes.md
  projects/messaging-communication-app-r3/tasks/023-message-quick-view-popover.poml
  projects/messaging-communication-app-r3/tasks/024-new-thread-modal.poml
  projects/messaging-communication-app-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/ConversationView.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/ConversationView.types.ts
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/__tests__/ConversationView.scrollToMessage.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/MessageQuickView/MessageQuickView.tsx
  src/client/shared/Spaarke.UI.Components/src/components/MessageQuickView/__tests__/MessageQuickView.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/MessageQuickView/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/NewThreadModal/NewThreadModal.tsx
  src/client/shared/Spaarke.UI.Components/src/components/NewThreadModal/__tests__/NewThreadModal.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/NewThreadModal/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
  src/client/shared/Spaarke.UI.Components/src/services/communicationThreadListApi.ts
Owners: @spaarke-dev

feat(notification-spine): Phase 1 complete — outbox service + ADR-047
  .claude/CHANGELOG.md
  .claude/adr/ADR-047-notification-action-spine.md
  .claude/adr/INDEX.md
  docs/adr/ADR-047-notification-action-spine.md
  projects/spaarke-notification-spine-r1/current-task.md
  projects/spaarke-notification-spine-r1/notes/010-adr-047-deviations.md
  projects/spaarke-notification-spine-r1/notes/012-outbox-service-deviations.md
  projects/spaarke-notification-spine-r1/tasks/010-author-adr-047.poml
  projects/spaarke-notification-spine-r1/tasks/012-outbox-service.poml
  projects/spaarke-notification-spine-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Notifications/OutboxService.cs
  tests/integration/seam/Notifications/OutboxServiceSeamTests.cs
Owners: @spaarke-dev, @docs-team

chore(messaging-r3): checkpoint — Wave 11 pushed + synced
  projects/messaging-communication-app-r3/current-task.md
Owners: @spaarke-dev

fix(legalworkspace): drop 'My' from the static Corporate Workspace Documents title too
  src/solutions/LegalWorkspace/src/workspaceConfig.tsx
Owners: @spaarke-dev

docs(compose-r3): context handoff 2026-07-21 — 3 UAT rounds fixed+merged; re-UAT + intra-paragraph server-whitespace caveat noted
  projects/spaarkeai-compose-r3/current-task.md
  projects/spaarkeai-compose-r3/notes/uat-handoff-2026-07-21.md
Owners: @spaarke-dev

feat(notification-spine): Layer-C SignalR delivery + negotiate (020, FR-04)
  projects/spaarke-notification-spine-r1/current-task.md
  projects/spaarke-notification-spine-r1/notes/task-020-signalr-delivery.md
  projects/spaarke-notification-spine-r1/tasks/020-signalr-delivery-service.poml
  projects/spaarke-notification-spine-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Notifications/NotificationsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/NotificationsModule.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Notifications/SignalRDeliveryOptions.cs
  src/server/api/Sprk.Bff.Api/Services/Notifications/SignalRDeliveryService.cs
  tests/integration/seam/Notifications/SignalRDeliverySeamTests.cs
Owners: @spaarke-dev

feat(api,pcf): messaging-r3 task 021 — email-in-flow block + read-DTO Subject/To enrichment (FR-04)
  projects/messaging-communication-app-r3/current-task.md
  projects/messaging-communication-app-r3/notes/task-021-notes.md
  projects/messaging-communication-app-r3/tasks/021-email-in-flow-block.poml
  projects/messaging-communication-app-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/CommunicationTimeline.buildTimeline.ts
  src/client/shared/Spaarke.UI.Components/src/components/CommunicationTimeline/CommunicationTimeline.types.ts
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/ConversationView.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/ConversationView.types.ts
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/__tests__/ConversationView.emailInFlow.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/__tests__/ConversationView.filters.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/__tests__/ConversationView.scrollToMessage.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/__tests__/ConversationView.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/ConversationView/subcomponents/EmailInFlowBlock.tsx
  src/client/shared/Spaarke.UI.Components/src/services/communicationTimelineApi.ts
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationThreadReadModels.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationThreadReadService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationByRegardingReadTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationThreadReadServiceTests.cs
Owners: @spaarke-dev

plan(email-r4): W11 UAT round 3 tasks 111-113 (Attachments/Connections/Actions polish)
  projects/email-communication-solution-r4/notes/UAT-ROUND3-FEEDBACK.md
  projects/email-communication-solution-r4/tasks/111-attachments-polish.poml
  projects/email-communication-solution-r4/tasks/112-connections-polish.poml
  projects/email-communication-solution-r4/tasks/113-actions-polish.poml
  projects/email-communication-solution-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
