Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(sdap): external workspace UX redesign + documentation refresh
  docs/architecture/email-to-document-architecture.md
  docs/architecture/event-to-do-architecture.md
  docs/architecture/external-access-spa-architecture.md
  docs/architecture/power-pages-access-control.md
  docs/architecture/power-pages-spa-guide.md
  docs/guides/EXTERNAL-ACCESS-ADMIN-SETUP.md
  docs/guides/EXTERNAL-ACCESS-SPA-GUIDE.md
  projects/sdap-secure-project-module/my-workspace-mock-up.jpg
  projects/sdap-secure-project-module/project-record-details-mock-up.jpg
  src/client/assets/icons/Spaarke Black Full Logo SVG.svg
  src/client/assets/icons/Spaarke Color Full Logo.svg
  src/client/assets/icons/Spaarke White Full Logo SVG.svg
  src/client/external-spa/src/App.tsx
  src/client/external-spa/src/components/AppHeader.tsx
  src/client/external-spa/src/components/SpaarkeLogoSvg.tsx
  src/client/external-spa/src/pages/ProjectPage.tsx
  src/client/external-spa/src/pages/SettingsPage.tsx
  src/client/external-spa/src/pages/WorkspaceHomePage.tsx
Owners: @spaarke-dev, @docs-team

fix(sdap): inline app.js into HTML for Dataverse web resource deploy
  scripts/Deploy-ExternalWorkspaceSpa.ps1
  src/client/external-spa/index.html
Owners: @spaarke-dev, @devops-team

docs(adr): revise UI-related ADRs for dialog standardization
  .claude/adr/ADR-006-pcf-over-webresources.md
  .claude/adr/ADR-012-shared-components.md
  .claude/adr/ADR-023-choice-dialog-pattern.md
  .claude/adr/ADR-026-full-page-custom-page-standard.md
  .claude/adr/INDEX.md
  .claude/patterns/ui/choice-dialog-pattern.md
  docs/adr/ADR-006-prefer-pcf-over-webresources.md
  docs/adr/ADR-012-shared-component-library.md
  docs/adr/ADR-023-choice-dialog-pattern.md
  docs/adr/ADR-026-full-page-custom-page-standard.md
Owners: @spaarke-dev, @docs-team

chore(deploy): update api-publish binaries after BFF deployment
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
Owners: @spaarke-dev

feat(external-spa): MSAL B2B auth, Power Pages deploy, shared component integration
  .claude/skills/power-page-deploy/SKILL.md
  .gitignore
  .husky/_/post-checkout
  .husky/_/post-commit
  .husky/_/post-merge
  .husky/_/pre-push
  scripts/Deploy-PowerPages.ps1
  src/client/external-spa/index.html
  src/client/external-spa/src/App.tsx
  src/client/external-spa/src/auth/bff-client.ts
  src/client/external-spa/src/components/AuthGuard.tsx
  src/client/external-spa/src/components/DocumentLibrary.tsx
  src/client/external-spa/src/config.ts
  src/client/external-spa/src/main.tsx
  src/client/external-spa/src/mocks/mock-data.ts
  src/client/external-spa/src/mocks/mock-service.ts
  src/client/external-spa/src/pages/ProjectPage.tsx
  src/client/external-spa/src/pages/WorkspaceHomePage.tsx
  src/client/external-spa/src/vite-env.d.ts
  src/client/external-spa/vite.config.ts
Owners: @spaarke-dev, @devops-team

fix(build): add @spaarke/ui-components resolve aliases and fix barrel export conflicts
  src/client/shared/Spaarke.UI.Components/src/components/CreateMatterWizard/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/CreateProjectWizard/CreateProjectStep.tsx
  src/client/shared/Spaarke.UI.Components/src/components/PlaybookLibraryShell/IntentWizardFlow.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SummarizeFilesWizard/index.ts
  src/solutions/CreateEventWizard/vite.config.ts
  src/solutions/CreateMatterWizard/vite.config.ts
  src/solutions/CreateProjectWizard/vite.config.ts
  src/solutions/CreateTodoWizard/vite.config.ts
  src/solutions/CreateWorkAssignmentWizard/vite.config.ts
  src/solutions/DocumentUploadWizard/package-lock.json
  src/solutions/DocumentUploadWizard/package.json
  src/solutions/DocumentUploadWizard/vite.config.ts
  src/solutions/FindSimilarCodePage/vite.config.ts
  src/solutions/PlaybookLibrary/vite.config.ts
  src/solutions/SummarizeFilesWizard/vite.config.ts
Owners: @spaarke-dev

feat(deploy): add Deploy-WizardCodePages.ps1 for batch web resource deployment
  scripts/Deploy-WizardCodePages.ps1
Owners: @spaarke-dev, @devops-team

fix(ui): add missing open prop, fix double-dialog, hide scrollbars
  src/solutions/CreateEventWizard/index.html
  src/solutions/CreateEventWizard/src/main.tsx
  src/solutions/CreateMatterWizard/index.html
  src/solutions/CreateMatterWizard/src/main.tsx
  src/solutions/CreateProjectWizard/index.html
  src/solutions/CreateProjectWizard/src/main.tsx
  src/solutions/CreateTodoWizard/index.html
  src/solutions/CreateWorkAssignmentWizard/index.html
  src/solutions/FindSimilarCodePage/index.html
  src/solutions/FindSimilarCodePage/src/main.tsx
  src/solutions/PlaybookLibrary/index.html
  src/solutions/SummarizeFilesWizard/index.html
Owners: @spaarke-dev

fix(ui): pass embedded prop through CreateRecordWizard to WizardShell
  src/client/shared/Spaarke.UI.Components/src/components/CreateEventWizard/CreateEventWizard.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateMatterWizard/CreateMatterWizard.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateProjectWizard/CreateProjectWizard.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/CreateRecordWizard.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/types.ts
Owners: @spaarke-dev

fix(ui): hide scrollbars on Corporate Workspace
  src/solutions/LegalWorkspace/index.html
Owners: @spaarke-dev

chore: add package-lock.json for new Code Page solutions
  src/solutions/CreateEventWizard/package-lock.json
  src/solutions/CreateMatterWizard/package-lock.json
  src/solutions/CreateProjectWizard/package-lock.json
  src/solutions/CreateTodoWizard/package-lock.json
  src/solutions/CreateWorkAssignmentWizard/package-lock.json
  src/solutions/FindSimilarCodePage/package-lock.json
  src/solutions/PlaybookLibrary/package-lock.json
  src/solutions/SummarizeFilesWizard/package-lock.json
Owners: @spaarke-dev

docs(ui): comprehensive documentation update for dialog standardization
  .claude/adr/ADR-012-shared-components.md
  .claude/patterns/pcf/dialog-patterns.md
  .claude/patterns/webresource/code-page-wizard-wrapper.md
  CROSS-REFERENCE-MAP.md
  docs/PHASE-3-PLAN.md
  docs/architecture/INDEX.md
  docs/architecture/SPAARKE-UX-MANAGEMENT.md
  docs/architecture/ui-dialog-shell-architecture.md
  docs/guides/SHARED-UI-COMPONENTS-GUIDE.md
Owners: @spaarke-dev, @docs-team

chore(tasks): augment task files with prior CORS hotfix assessment findings
  projects/production-environment-setup-r2/tasks/010-resolve-runtime-config.poml
  projects/production-environment-setup-r2/tasks/012-standardize-globals-scopes.poml
  projects/production-environment-setup-r2/tasks/020-migrate-analysis-workspace.poml
  projects/production-environment-setup-r2/tasks/023-migrate-legal-workspace.poml
  projects/production-environment-setup-r2/tasks/024-migrate-document-upload-wizard.poml
  projects/production-environment-setup-r2/tasks/025-migrate-spe-admin-app.poml
  projects/production-environment-setup-r2/tasks/040-fix-subgrid-parent-rollup.poml
  projects/production-environment-setup-r2/tasks/047-fix-kpi-js-webresources.poml
  projects/production-environment-setup-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(webresource): replace hardcoded BFF URL map with env var query in subgrid_parent_rollup.js
  projects/production-environment-setup-r2/tasks/040-fix-subgrid-parent-rollup.poml
  projects/production-environment-setup-r2/tasks/TASK-INDEX.md
  src/solutions/webresources/sprk_subgrid_parent_rollup.js
Owners: @spaarke-dev

docs(deployment): update guides for environment-agnostic architecture
  docs/architecture/INFRASTRUCTURE-PACKAGING-STRATEGY.md
  docs/architecture/multi-environment-portability-strategy.md
  docs/guides/CUSTOMER-ONBOARDING-RUNBOOK.md
  docs/guides/CUSTOMER-QUICK-START-CHECKLIST.md
Owners: @spaarke-dev, @docs-team

docs(deployment): update guides for environment-agnostic architecture
  docs/architecture/INFRASTRUCTURE-PACKAGING-STRATEGY.md
  docs/architecture/multi-environment-portability-strategy.md
  docs/guides/CUSTOMER-ONBOARDING-RUNBOOK.md
  docs/guides/CUSTOMER-QUICK-START-CHECKLIST.md
Owners: @spaarke-dev, @docs-team

fix(runtime): resolve post-deployment runtime issues in dev environment
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/index.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
  src/client/pcf/SemanticSearchControl/eslint.config.mjs
  src/client/pcf/SemanticSearchControl/package-lock.json
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
  src/solutions/webresources/sprk_kpi_subgrid_refresh.js
  src/solutions/webresources/sprk_kpiassessment_quickcreate.js
  src/solutions/webresources/sprk_matter_kpi_refresh.js
Owners: @spaarke-dev

chore: remove leftover Directory.Packages.props.disabled
  Directory.Packages.props.disabled
Owners: @spaarke-dev

chore(dataverse): add SpaarkeCore solution Other/ export artifacts
  src/solutions/SpaarkeCore/Other/Customizations.xml
  src/solutions/SpaarkeCore/Other/solution.xml
Owners: @spaarke-dev

docs(ui): draft design for Create Wizard Enhancements project
  projects/ui-create-wizard-enhancements-r1/design.md
Owners: @spaarke-dev

fix(legal-workspace): lazy-resolve tenantId when bootstrap captured empty value
  src/solutions/LegalWorkspace/src/config/runtimeConfig.ts
Owners: @spaarke-dev

refactor(auth): consolidate synchronous tenantId resolution into @spaarke/auth
  src/client/shared/Spaarke.Auth/src/index.ts
  src/client/shared/Spaarke.Auth/src/resolveTenantIdSync.ts
  src/solutions/LegalWorkspace/src/config/runtimeConfig.ts
Owners: @spaarke-dev

refactor(tenant-id): migrate remaining callers to resolveTenantIdSync
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/services/NavigationService.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
  src/solutions/DocumentUploadWizard/src/services/nextStepLauncher.ts
Owners: @spaarke-dev

docs(sdap): add R2 design for external access extension to matter, invoice, work assignment
  projects/sdap-secure-project-module-r2/design.md
Owners: @spaarke-dev

fix(scripts): replace non-ASCII chars in deploy scripts; add external-spa deps
  scripts/Deploy-ExternalWorkspaceSpa.ps1
  scripts/Deploy-SpeAdminApp.ps1
  src/client/external-spa/package-lock.json
  src/client/external-spa/package.json
Owners: @spaarke-dev, @devops-team

fix(speadmin): remove duplicate /api prefix in speApiClient paths
  src/solutions/SpeAdminApp/src/services/speApiClient.ts
Owners: @spaarke-dev

docs(ui): expand Create Wizard Enhancements design with UAT feedback and consolidation
  projects/ui-create-wizard-enhancements-r1/design.md
Owners: @spaarke-dev

docs(ui): add spec.md for Create Wizard Enhancements R1; update pipeline for autonomous execution
  .claude/skills/project-pipeline/SKILL.md
  .claude/skills/task-create/SKILL.md
  CLAUDE.md
  projects/ui-create-wizard-enhancements-r1/design.md
  projects/ui-create-wizard-enhancements-r1/spec.md
Owners: @spaarke-dev

chore(tasks): optimize task dependencies for quality over speed
  projects/ui-create-wizard-enhancements-r1/tasks/002-replace-hardcoded-colors.poml
  projects/ui-create-wizard-enhancements-r1/tasks/008-react19-upgrade.poml
  projects/ui-create-wizard-enhancements-r1/tasks/032-assign-work-followon.poml
  projects/ui-create-wizard-enhancements-r1/tasks/033-create-event-followon.poml
  projects/ui-create-wizard-enhancements-r1/tasks/034-lookup-sidepane-integration.poml
  projects/ui-create-wizard-enhancements-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(ui): standardize all wizard dialog dimensions to 60% x 70% (WCWE-006)
  src/client/shared/Spaarke.UI.Components/src/components/CreateMatterWizard/NextStepsStep.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateMatterWizard/SendEmailStep.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/FollowOnSteps.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateRecordWizard/steps/SendEmailStep.tsx
  src/client/webresources/js/sprk_wizard_commands.js
  src/solutions/LegalWorkspace/src/components/CreateMatter/NextStepsStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateMatter/SendEmailStep.tsx
  src/solutions/LegalWorkspace/src/components/GetStarted/ActionCardHandlers.ts
Owners: @spaarke-dev

fix(ui): correct sprk_workassignment overdue badge field name (WCWE-004)
  src/solutions/LegalWorkspace/src/components/QuickSummary/quickSummaryConfig.ts
Owners: @spaarke-dev

fix(sprkchat): normalize apiBaseUrl in resolveContextMapping to prevent double /api/api/ prefix
  src/client/code-pages/SprkChatPane/src/__tests__/services/contextService.test.ts
  src/client/code-pages/SprkChatPane/src/services/contextService.ts
Owners: @spaarke-dev

fix(theme): remove OS prefers-color-scheme as fallback in shared theme utilities (WCWE-001)
  src/client/shared/Spaarke.UI.Components/src/utils/__tests__/xrmContext.test.ts
  src/client/shared/Spaarke.UI.Components/src/utils/codePageTheme.ts
  src/client/shared/Spaarke.UI.Components/src/utils/themeStorage.ts
  src/client/shared/Spaarke.UI.Components/src/utils/xrmContext.ts
Owners: @spaarke-dev

refactor(ui): replace hard-coded hex/rgb colors with Fluent v9 semantic tokens (WCWE-002)
  src/client/code-pages/AnalysisWorkspace/src/utils/markdownToHtml.ts
  src/client/code-pages/SemanticSearch/src/components/DocumentPreviewDialog.tsx
  src/client/code-pages/SemanticSearch/src/index.tsx
  src/client/code-pages/SprkChatPane/src/index.tsx
  src/client/office-addins/outlook/taskpane/index.tsx
  src/client/office-addins/word/taskpane/index.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/components/DocumentGraph.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/components/RelationshipViewerModal.tsx
  src/client/pcf/DrillThroughWorkspace/control/components/charts/StatusDistributionBar.tsx
  src/client/pcf/EmailProcessingMonitor/control/index.ts
  src/client/pcf/UniversalDatasetGrid/control/components/UniversalDatasetGridRoot.tsx
  src/client/pcf/UniversalDatasetGrid/control/index-minimal.ts
  src/client/pcf/UniversalDatasetGrid/control/index.ts
  src/client/pcf/UniversalQuickCreate/control/components/FilePickerField.tsx
  src/client/pcf/UniversalQuickCreate/control/index.ts
  src/client/pcf/VisualHost/control/components/EventDueDateCard.tsx
  src/client/pcf/VisualHost/control/components/StatusDistributionBar.tsx
  src/client/shared/Spaarke.UI.Components/src/components/EventDueDateCard/EventDueDateCard.tsx
  src/solutions/LegalWorkspace/src/components/ActivityFeed/ActivityFeed.tsx
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
  src/solutions/LegalWorkspace/src/components/SmartToDo/SmartToDo.tsx
  src/solutions/LegalWorkspace/src/icons/MicrosoftToDoIcon.tsx
  src/solutions/LegalWorkspace/src/main.tsx
  src/solutions/SpeAdminApp/src/components/files/FileDetailPanel.tsx
Owners: @spaarke-dev

refactor(solutions): consolidate duplicate ThemeProvider.ts files to shared utilities
  src/solutions/CalendarSidePane/package.json
  src/solutions/CalendarSidePane/src/providers/ThemeProvider.ts
  src/solutions/EventDetailSidePane/package.json
  src/solutions/EventDetailSidePane/src/providers/ThemeProvider.ts
  src/solutions/EventsPage/package.json
  src/solutions/EventsPage/src/providers/ThemeProvider.ts
  src/solutions/LegalWorkspace/src/providers/ThemeProvider.ts
  src/solutions/SpeAdminApp/src/providers/ThemeProvider.ts
  src/solutions/TodoDetailSidePane/package.json
  src/solutions/TodoDetailSidePane/src/App.tsx
Owners: @spaarke-dev

chore(deps): upgrade Code Page solutions and office-addins from React 18 to React 19
  src/client/office-addins/package.json
  src/solutions/AnalysisBuilder/package.json
  src/solutions/CalendarSidePane/package.json
  src/solutions/CreateEventWizard/package.json
  src/solutions/CreateMatterWizard/package.json
  src/solutions/CreateProjectWizard/package.json
  src/solutions/CreateTodoWizard/package.json
  src/solutions/CreateWorkAssignmentWizard/package.json
  src/solutions/DocumentUploadWizard/package.json
  src/solutions/EventDetailSidePane/package.json
  src/solutions/EventsPage/package.json
  src/solutions/FindSimilarCodePage/package.json
  src/solutions/LegalWorkspace/package.json
  src/solutions/PlaybookLibrary/package.json
  src/solutions/SpeAdminApp/package.json
  src/solutions/SummarizeFilesWizard/package.json
  src/solutions/TodoDetailSidePane/package.json
Owners: @spaarke-dev

fix(ui): hide duplicate title bars in wizard dialogs + move Secure Project to top (WCWE-013, WCWE-014)
  src/client/shared/Spaarke.UI.Components/src/components/CreateProjectWizard/CreateProjectStep.tsx
  src/client/shared/Spaarke.UI.Components/src/components/CreateWorkAssignmentWizard/WorkAssignmentWizardDialog.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SummarizeFilesWizard/SummarizeFilesDialog.tsx
Owners: @spaarke-dev

feat(shared): add openLookup() to INavigationService and implement in all adapters (WCWE-010)
  src/client/shared/Spaarke.UI.Components/src/__mocks__/mockNavigationService.ts
  src/client/shared/Spaarke.UI.Components/src/types/serviceInterfaces.ts
  src/client/shared/Spaarke.UI.Components/src/utils/adapters/bffNavigationServiceAdapter.ts
  src/client/shared/Spaarke.UI.Components/src/utils/adapters/xrmNavigationServiceAdapter.ts
Owners: @spaarke-dev

feat(dataverse): add AssociateScopesAsync to IAnalysisDataverseService (WCWE-021)
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/IAnalysisDataverseService.cs
Owners: @spaarke-dev

feat(bff): add POST /api/ai/analysis/create endpoint (WCWE-020)
  src/client/webresources/js/sprk_wizard_commands.js
  src/server/api/Sprk.Bff.Api/Api/Ai/AnalysisEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/CreateAnalysisRequest.cs
  src/solutions/LegalWorkspace/src/components/GetStarted/ActionCardHandlers.ts
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
Owners: @spaarke-dev
