Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

fix(SRFR-044): RegardingResolver v1.3.7 — preserve `this` binding on Xrm.Navigation.navigateTo
  src/client/pcf/RegardingResolver/RegardingResolver/ControlManifest.Input.xml
  src/client/pcf/RegardingResolver/RegardingResolver/RegardingResolverApp.tsx
  src/client/pcf/RegardingResolver/RegardingResolver/index.ts
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/ControlManifest.xml
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/bundle.js
  src/client/pcf/RegardingResolver/Solution/pack.ps1
  src/client/pcf/RegardingResolver/Solution/solution.xml
  src/client/pcf/RegardingResolver/package.json
Owners: @spaarke-dev

docs(architecture): canonical Spaarke AI Architecture and Component Design v0.1
  docs/architecture/SPAARKE-AI-ARCHITECTURE-AND-COMPONENT-DESIGN.md
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
Owners: @spaarke-dev, @docs-team

checkpoint(r7): context-handoff pre-compact — strategic pivot to canonical AI architecture design
  projects/spaarke-ai-platform-unification-r7/current-task.md
Owners: @spaarke-dev

chore(r2): archive project — .archived marker + current-task.md close-out
  projects/spaarke-dataset-grid-framework-r2/.archived
  projects/spaarke-dataset-grid-framework-r2/current-task.md
Owners: @spaarke-dev

feat(record-header-and-notepad-r1): Phase 6 DEF absorption — MatterHeader v1.0.12
  .claude/patterns/pcf/INDEX.md
  .claude/patterns/pcf/pcf-build-scaffold.md
  projects/record-header-and-notepad-r1/current-task.md
  projects/record-header-and-notepad-r1/notes/matter-form-binding-instructions.md
  projects/record-header-and-notepad-r1/plan-extension.md
  projects/record-header-and-notepad-r1/tasks/TASK-INDEX.md
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/ControlManifest.xml
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/bundle.js
  src/client/pcf/MatterHeader/Solution/pack.ps1
  src/client/pcf/MatterHeader/Solution/solution.xml
  src/client/pcf/MatterHeader/control/ControlManifest.Input.xml
  src/client/pcf/MatterHeader/control/MatterHeaderHost.tsx
  src/client/pcf/MatterHeader/control/MatterHeaderView.tsx
  src/client/pcf/MatterHeader/control/index.ts
  src/client/pcf/MatterHeader/control/version.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/__tests__/useRecordHeaderToolbarActions.test.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useRecordHeaderToolbarActions.ts
  src/solutions/Notepad/src/App.tsx
  src/solutions/Notepad/src/__tests__/notepad.integration.test.tsx
  src/solutions/Notepad/src/hooks/__tests__/useSprkMemoRepository.test.ts
  src/solutions/Notepad/src/hooks/discoverMemoNavProps.ts
  src/solutions/Notepad/src/hooks/useLaunchContext.ts
  src/solutions/Notepad/src/hooks/useSprkMemoRepository.ts
  src/solutions/Notepad/tsconfig.json
  src/solutions/Notepad/vite.config.ts
Owners: @spaarke-dev

feat(record-header-and-notepad-r1): DEF-11 Part 2 — wire openTodos consumer in SmartTodo (finish R4 FR-34)
  src/solutions/SmartTodo/src/components/SmartToDo.tsx
  src/solutions/SmartTodo/src/hooks/useTodoItems.ts
  src/solutions/SmartTodo/src/services/DataverseService.ts
  src/solutions/SmartTodo/src/services/queryHelpers.ts
Owners: @spaarke-dev

feat(record-header-and-notepad-r1): DEF-11 Part 3 — extend Kanban Filter to match regarding-record fields
  src/solutions/SmartTodo/src/components/Header/Header.tsx
  src/solutions/SmartTodo/src/components/SmartToDo.tsx
  src/solutions/SmartTodo/src/services/queryHelpers.ts
  src/solutions/SmartTodo/src/types/entities.ts
Owners: @spaarke-dev

feat(record-header-and-notepad-r1): UAT round 11 + project docs — MatterHeader v1.0.13 + Notepad shell cleanup
  projects/record-header-and-notepad-r1/README.md
  projects/record-header-and-notepad-r1/notes/lessons-learned.md
  projects/record-header-and-notepad-r1/plan-extension.md
  projects/record-header-and-notepad-r1/plan.md
  projects/record-header-and-notepad-r1/tasks/TASK-INDEX.md
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/ControlManifest.xml
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/bundle.js
  src/client/pcf/MatterHeader/Solution/pack.ps1
  src/client/pcf/MatterHeader/Solution/solution.xml
  src/client/pcf/MatterHeader/control/ControlManifest.Input.xml
  src/client/pcf/MatterHeader/control/version.ts
  src/client/shared/Spaarke.UI.Components/src/components/HeaderToolbar/HeaderToolbar.tsx
  src/solutions/Notepad/src/__tests__/notepad.integration.test.tsx
  src/solutions/Notepad/src/components/NotepadShell.tsx
  src/solutions/Notepad/src/components/__tests__/NotepadShell.test.tsx
Owners: @spaarke-dev, @docs-team

fix(record-header-and-notepad-r1): v1.0.14 — CounterBadge no longer clipped outside PCF container
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/ControlManifest.xml
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/bundle.js
  src/client/pcf/MatterHeader/Solution/pack.ps1
  src/client/pcf/MatterHeader/Solution/solution.xml
  src/client/pcf/MatterHeader/control/ControlManifest.Input.xml
  src/client/pcf/MatterHeader/control/version.ts
  src/client/shared/Spaarke.UI.Components/src/components/HeaderToolbar/HeaderToolbar.tsx
Owners: @spaarke-dev

diag(record-header-and-notepad-r1): v1.0.15 diagnostic — log badge count states
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/ControlManifest.xml
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/bundle.js
  src/client/pcf/MatterHeader/Solution/pack.ps1
  src/client/pcf/MatterHeader/Solution/solution.xml
  src/client/pcf/MatterHeader/control/ControlManifest.Input.xml
  src/client/pcf/MatterHeader/control/version.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useRecordHeaderToolbarActions.ts
Owners: @spaarke-dev

fix(record-header-and-notepad-r1): v1.0.16 ROOT CAUSE — useRelatedCount reads entities.length, not @odata.count
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/ControlManifest.xml
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/bundle.js
  src/client/pcf/MatterHeader/Solution/pack.ps1
  src/client/pcf/MatterHeader/Solution/solution.xml
  src/client/pcf/MatterHeader/control/ControlManifest.Input.xml
  src/client/pcf/MatterHeader/control/version.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/__tests__/useRelatedCount.test.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useRecordHeaderToolbarActions.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useRelatedCount.ts
Owners: @spaarke-dev

fix(record-header-and-notepad-r1): v1.0.17 — badge back to size=small at corner; add pattern doc for future PCFs
  .claude/patterns/pcf/INDEX.md
  .claude/patterns/pcf/dataverse-queries.md
  .claude/patterns/pcf/xrm-webapi-related-count.md
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/ControlManifest.xml
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/bundle.js
  src/client/pcf/MatterHeader/Solution/pack.ps1
  src/client/pcf/MatterHeader/Solution/solution.xml
  src/client/pcf/MatterHeader/control/ControlManifest.Input.xml
  src/client/pcf/MatterHeader/control/version.ts
  src/client/shared/Spaarke.UI.Components/src/components/HeaderToolbar/HeaderToolbar.tsx
  src/client/shared/Spaarke.UI.Components/src/components/HeaderToolbar/README.md
Owners: @spaarke-dev, @docs-team

style(record-header-and-notepad-r1): v1.0.18 — bump toolbar icon gap + inset from trailing edge
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/ControlManifest.xml
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/bundle.js
  src/client/pcf/MatterHeader/Solution/pack.ps1
  src/client/pcf/MatterHeader/Solution/solution.xml
  src/client/pcf/MatterHeader/control/ControlManifest.Input.xml
  src/client/pcf/MatterHeader/control/version.ts
  src/client/shared/Spaarke.UI.Components/src/components/HeaderToolbar/HeaderToolbar.tsx
Owners: @spaarke-dev

chore(record-header-and-notepad-r1): v1.0.19 R1 wrap-up — strip diagnostics + /test-diet pass
  projects/record-header-and-notepad-r1/current-task.md
  projects/record-header-and-notepad-r1/notes/test-diet-report.md
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/ControlManifest.xml
  src/client/pcf/MatterHeader/Solution/Controls/sprk_Spaarke.Records.MatterHeader/bundle.js
  src/client/pcf/MatterHeader/Solution/pack.ps1
  src/client/pcf/MatterHeader/Solution/solution.xml
  src/client/pcf/MatterHeader/control/ControlManifest.Input.xml
  src/client/pcf/MatterHeader/control/version.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/__tests__/useRecordHeaderToolbarActions.test.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useRecordHeaderToolbarActions.ts
  src/solutions/Notepad/src/__tests__/notepad.integration.test.tsx
  src/solutions/Notepad/src/components/__tests__/NotepadShell.test.tsx
Owners: @spaarke-dev

docs(record-header-and-notepad-r1): deferral tracking policy + seed R2 project
  .claude/patterns/ui/record-header-composition.md
  projects/record-header-and-notepad-r1/notes/lessons-learned.md
  projects/record-header-and-notepad-r1/plan-extension.md
  projects/record-header-and-notepad-r2/design.md
  src/solutions/Notepad/src/hooks/useSprkMemoRepository.ts
Owners: @spaarke-dev

docs(architecture): SPAARKE-AI-ARCHITECTURE doc v0.2.5+v0.2.6 + Fable 5 handoff
  docs/architecture/SPAARKE-AI-ARCHITECTURE-AND-COMPONENT-DESIGN.md
  projects/spaarke-ai-platform-unification-r7/current-task.md
Owners: @spaarke-dev, @docs-team

docs(ai-code-audit-r1): Step 1 complete — SPAARKE-AI-CODE-INVENTORY v1.0
  projects/spaarke-ai-code-audit-r1/README.md
  projects/spaarke-ai-code-audit-r1/SPAARKE-AI-CODE-INVENTORY.md
  projects/spaarke-ai-code-audit-r1/notes/agent-findings-bff-chat.md
  projects/spaarke-ai-code-audit-r1/notes/agent-findings-bff-orchestration.md
  projects/spaarke-ai-code-audit-r1/notes/agent-findings-client-shared.md
  projects/spaarke-ai-code-audit-r1/notes/agent-findings-manifest-schema.md
  projects/spaarke-ai-code-audit-r1/notes/agent-findings-peripheral.md
  projects/spaarke-ai-code-audit-r1/notes/agent-findings-r7-delta.md
  projects/spaarke-ai-code-audit-r1/notes/agent-findings-spaarkeai-codepage.md
  projects/spaarke-ai-code-audit-r1/notes/worktree-delta-scan.md
  projects/spaarke-ai-code-audit-r1/spec.md
  projects/spaarke-ai-platform-unification-r7/current-task.md
Owners: @spaarke-dev, @docs-team

docs(architecture): SPAARKE-AI doc v0.3 — §4-7 drafted against audit (Step 2)
  docs/architecture/SPAARKE-AI-ARCHITECTURE-AND-COMPONENT-DESIGN.md
  projects/spaarke-ai-code-audit-r1/README.md
  projects/spaarke-ai-platform-unification-r7/current-task.md
Owners: @spaarke-dev, @docs-team

docs(ai-audit+architecture): feedback round — v0.3.1 + greenfield design
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/dataverse-mcp-refresh-2026-07-05.md
  docs/architecture/SPAARKE-AI-ARCHITECTURE-AND-COMPONENT-DESIGN.md
  projects/spaarke-ai-code-audit-r1/GREENFIELD-CONCEPTUAL-DESIGN.md
  projects/spaarke-ai-code-audit-r1/SPAARKE-AI-CODE-INVENTORY.md
  projects/spaarke-ai-code-audit-r1/notes/agent-findings-engine-projects.md
  projects/spaarke-ai-code-audit-r1/notes/research-dataverse-mcp-2026-07.md
  projects/spaarke-ai-code-audit-r1/spec.md
  projects/spaarke-ai-platform-unification-r7/current-task.md
  projects/spaarke-ai-platform-unification-r7/notes/spikes/wave11-orchestrator-resolution-design.md
Owners: @spaarke-dev, @docs-team

docs(ai-audit): greenfield v0.2 — OQ-2 resolved, Action+Binding model, review Q&A
  docs/architecture/SPAARKE-AI-ARCHITECTURE-AND-COMPONENT-DESIGN.md
  projects/spaarke-ai-code-audit-r1/GREENFIELD-CONCEPTUAL-DESIGN.md
Owners: @spaarke-dev, @docs-team

docs(ai-audit): OVERLAY-MATRIX v1.0 — existing components mapped to greenfield slots
  projects/spaarke-ai-code-audit-r1/OVERLAY-MATRIX.md
  projects/spaarke-ai-code-audit-r1/README.md
Owners: @spaarke-dev, @docs-team

docs(ai-audit): ADR review vs greenfield — 2 misdirectors, 3 vacuums, 2 new ADRs proposed
  projects/spaarke-ai-code-audit-r1/ADR-REVIEW-VS-GREENFIELD.md
Owners: @spaarke-dev

docs(adr+audit): ADR-037 amendment applied (A-2 rescind) + TL clarification
  .claude/adr/ADR-037-multinode-output-composition.md
  .claude/adr/INDEX.md
  docs/adr/ADR-037-multinode-output-composition.md
  projects/spaarke-ai-code-audit-r1/ADR-REVIEW-VS-GREENFIELD.md
  projects/spaarke-ai-code-audit-r1/OVERLAY-MATRIX.md
Owners: @spaarke-dev, @docs-team

docs(architecture+adr): convergence bundle — canonical v0.4 + ADR-013 amendment + ADR-039/040
  .claude/CHANGELOG.md
  .claude/adr/ADR-013-ai-architecture.md
  .claude/adr/ADR-039-grounded-execution-closed-catalogs.md
  .claude/adr/ADR-040-session-ledger.md
  .claude/adr/INDEX.md
  docs/adr/ADR-013-ai-architecture.md
  docs/adr/ADR-039-grounded-execution-closed-catalogs.md
  docs/adr/ADR-040-session-ledger.md
  docs/architecture/SPAARKE-AI-ARCHITECTURE-AND-COMPONENT-DESIGN.md
Owners: @spaarke-dev, @docs-team

docs(ai-audit): Step 3 complete — SPAARKE-AI-MIGRATION-MAP v1.0
  projects/spaarke-ai-code-audit-r1/README.md
  projects/spaarke-ai-code-audit-r1/SPAARKE-AI-MIGRATION-MAP.md
  projects/spaarke-ai-platform-unification-r7/current-task.md
Owners: @spaarke-dev, @docs-team

docs(ai-redesign-r1): project init — design.md v1.0 + frozen audit inputs
  projects/spaarke-ai-architecture-redesign-r1/README.md
  projects/spaarke-ai-architecture-redesign-r1/design.md
  projects/spaarke-ai-architecture-redesign-r1/notes/audit-inputs/ADR-REVIEW-VS-GREENFIELD.md
  projects/spaarke-ai-architecture-redesign-r1/notes/audit-inputs/GREENFIELD-CONCEPTUAL-DESIGN.md
  projects/spaarke-ai-architecture-redesign-r1/notes/audit-inputs/OVERLAY-MATRIX.md
  projects/spaarke-ai-architecture-redesign-r1/notes/audit-inputs/README.md
  projects/spaarke-ai-architecture-redesign-r1/notes/audit-inputs/SPAARKE-AI-CODE-INVENTORY.md
  projects/spaarke-ai-architecture-redesign-r1/notes/audit-inputs/SPAARKE-AI-MIGRATION-MAP.md
  projects/spaarke-ai-architecture-redesign-r1/notes/audit-inputs/agent-findings/agent-findings-bff-chat.md
  projects/spaarke-ai-architecture-redesign-r1/notes/audit-inputs/agent-findings/agent-findings-bff-orchestration.md
  projects/spaarke-ai-architecture-redesign-r1/notes/audit-inputs/agent-findings/agent-findings-client-shared.md
  projects/spaarke-ai-architecture-redesign-r1/notes/audit-inputs/agent-findings/agent-findings-engine-projects.md
  projects/spaarke-ai-architecture-redesign-r1/notes/audit-inputs/agent-findings/agent-findings-manifest-schema.md
  projects/spaarke-ai-architecture-redesign-r1/notes/audit-inputs/agent-findings/agent-findings-peripheral.md
  projects/spaarke-ai-architecture-redesign-r1/notes/audit-inputs/agent-findings/agent-findings-r7-delta.md
  projects/spaarke-ai-architecture-redesign-r1/notes/audit-inputs/agent-findings/agent-findings-spaarkeai-codepage.md
  projects/spaarke-ai-architecture-redesign-r1/notes/audit-inputs/agent-findings/worktree-delta-scan.md
  projects/spaarke-ai-architecture-redesign-r1/notes/audit-inputs/research-dataverse-mcp-2026-07.md
Owners: @spaarke-dev, @docs-team

docs(ai-redesign-r1): /goal feature evaluation — adopt at wave level
  projects/spaarke-ai-architecture-redesign-r1/design.md
  projects/spaarke-ai-architecture-redesign-r1/notes/goal-feature-evaluation.md
Owners: @spaarke-dev

docs(ai-redesign-r1): design.md v1.1 — operator review round (3 questions)
  projects/spaarke-ai-architecture-redesign-r1/design.md
Owners: @spaarke-dev

docs(ai-redesign-r1): design.md — wave definitions carry pre-authored /goal conditions
  projects/spaarke-ai-architecture-redesign-r1/design.md
Owners: @spaarke-dev

docs(ai-redesign-r1): spec.md generated via /design-to-spec
  projects/spaarke-ai-architecture-redesign-r1/spec.md
Owners: @spaarke-dev

docs(ai-redesign-r1): set ConversationPane host size budget to 300 lines with escalation valve
  projects/spaarke-ai-architecture-redesign-r1/plan.md
  projects/spaarke-ai-architecture-redesign-r1/tasks/045-client-consolidation-conversationpane.poml
  projects/spaarke-ai-architecture-redesign-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(ai-redesign-r1): gate 014 — G-P0 PASSED; ADR-040 Accepted; P0 complete
  .claude/adr/ADR-040-session-ledger.md
  docs/adr/ADR-040-session-ledger.md
  projects/spaarke-ai-architecture-redesign-r1/current-task.md
  projects/spaarke-ai-architecture-redesign-r1/notes/g-p0-evidence.md
  projects/spaarke-ai-architecture-redesign-r1/notes/user-obo-audit.md
  projects/spaarke-ai-architecture-redesign-r1/tasks/030-agent-turn-loop-contract.poml
  projects/spaarke-ai-architecture-redesign-r1/tasks/044-engine-shell-deletions.poml
  projects/spaarke-ai-architecture-redesign-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/ConsumerTypes.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/RoutingConsumerTypeHealthCheck.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PublicContracts/RoutingConsumerTypeHealthCheckTests.cs
Owners: @spaarke-dev, @docs-team

feat(ai-redesign-r1): wave W-P1-A — chat-summarize catalog capability; r7 branch closed; Track-B batch 4
  docs/data-model/INDEX.md
  docs/data-model/entity-relationship-model.md
  docs/data-model/sprk_ERD-ai-analysis-entities.md
  docs/data-model/sprk_ai-analysis-related-entities.md
  projects/spaarke-ai-architecture-redesign-r1/notes/jps/SUM-CHAT-v1.jps.json
  projects/spaarke-ai-architecture-redesign-r1/notes/task-020-dataverse-changes.md
  projects/spaarke-ai-architecture-redesign-r1/notes/task-025-r7-branch-disposition.md
  projects/spaarke-ai-architecture-redesign-r1/notes/track-b/batch-4-evidence.md
  projects/spaarke-ai-architecture-redesign-r1/tasks/TASK-INDEX.md
  projects/spaarke-ai-platform-unification-r7/notes/branch-closure-2026-07-05.md
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/client/shared/Spaarke.UI.Components/src/hooks/useSseStream.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/AnalysisEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/SummarizeSessionEndpoint.cs
  src/server/api/Sprk.Bff.Api/Configuration/WorkspaceOptions.cs
  src/server/api/Sprk.Bff.Api/Configuration/WorkspaceOptionsValidator.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/NullSessionSummarizeOrchestrator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionSummarizeOrchestrator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SseEventTypes/ChatSseEventFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SseEventTypes/LinearDispatchSseEvent.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/executeLinearDispatch.ts
  tests/integration/contract/Api/Ai/SummarizeSessionEndpointContractTests.cs
  tests/integration/contract/Eval/golden-utterances.json
  tests/unit/Sprk.Bff.Api.Tests/Configuration/WorkspaceOptionsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Configuration/WorkspaceOptionsValidatorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookDispatcherDestinationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SessionSummarizeOrchestrator.PathA5.IntegrationTest.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SessionSummarizeOrchestratorTests.cs
Owners: @spaarke-dev, @docs-team

feat(ai-redesign-r1): task 021 — universal ledger write + OutputRouter (ADR-040 live)
  projects/spaarke-ai-architecture-redesign-r1/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionSummarizeOrchestrator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/OutputRouter.cs
  tests/integration/contract/Api/Ai/SummarizeSessionEndpointContractTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SessionSummarizeOrchestrator.PathA5.IntegrationTest.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/SessionSummarizeOrchestratorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/OutputRouterTests.cs
Owners: @spaarke-dev

docs(visual-host-create-button-r1): design + AI spec for "+" create button
  projects/visual-host-create-button-r1/design.md
  projects/visual-host-create-button-r1/spec.md
Owners: @spaarke-dev

docs(visual-host-create-button-r1): pause pipeline — blocked on PR #549/#525
  projects/visual-host-create-button-r1/design.md
  projects/visual-host-create-button-r1/notes/pipeline-paused.md
  projects/visual-host-create-button-r1/spec.md
Owners: @spaarke-dev

feat(events): match Calendar widget day cells to VisualHost look
  src/client/shared/Spaarke.Events.Components/src/components/CalendarSection/CalendarSection.tsx
Owners: @spaarke-dev

feat(ai-redesign-r1): 023b — generic Click-dispatch endpoint + unified chip vocabulary
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/client/shared/Spaarke.UI.Components/src/services/__tests__/dispatchConsumer.test.ts
  src/client/shared/Spaarke.UI.Components/src/services/dispatchConsumer.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/DispatchSessionEndpoint.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/SummarizeSessionEndpoint.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/NullSessionDispatchOrchestrator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SessionDispatchOrchestrator.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/ConsumerRoutingService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/IConsumerRoutingService.cs
  tests/integration/contract/Api/Ai/DispatchSessionEndpointContractTests.cs
Owners: @spaarke-dev

feat(SRFR-045): RegardingResolver v1.4.0 — consolidation with AssociationResolver + subgrid auto-detect
  .claude/adr/ADR-024-polymorphic-resolver-pattern.md
  projects/set-regarding-and-field-mapping-resolver-r1/tasks/045-regarding-resolver-v1.4.0-consolidation.poml
  projects/set-regarding-and-field-mapping-resolver-r1/tasks/TASK-INDEX.md
  src/client/pcf/AssociationResolver/.gitignore
  src/client/pcf/AssociationResolver/AssociationResolver.pcfproj
  src/client/pcf/AssociationResolver/AssociationResolverApp.tsx
  src/client/pcf/AssociationResolver/AssociationResolverHost.tsx
  src/client/pcf/AssociationResolver/ControlManifest.Input.xml
  src/client/pcf/AssociationResolver/Solution/Content_Types.xml
  src/client/pcf/AssociationResolver/Solution/Controls/sprk_Spaarke.Controls.AssociationResolver/ControlManifest.xml
  src/client/pcf/AssociationResolver/Solution/Controls/sprk_Spaarke.Controls.AssociationResolver/bundle.js
  src/client/pcf/AssociationResolver/Solution/Controls/sprk_Spaarke.Controls.AssociationResolver/styles.css
  src/client/pcf/AssociationResolver/Solution/[Content_Types].xml
  src/client/pcf/AssociationResolver/Solution/customizations.xml
  src/client/pcf/AssociationResolver/Solution/pack-final.ps1
  src/client/pcf/AssociationResolver/Solution/pack.ps1
  src/client/pcf/AssociationResolver/Solution/pack2.ps1
  src/client/pcf/AssociationResolver/Solution/solution.xml
  src/client/pcf/AssociationResolver/featureconfig.json
  src/client/pcf/AssociationResolver/handlers/RecordSelectionHandler.ts
  src/client/pcf/AssociationResolver/handlers/__tests__/RecordSelectionHandler.test.ts
  src/client/pcf/AssociationResolver/hooks/useMappingToast.tsx
  src/client/pcf/AssociationResolver/index.ts
  src/client/pcf/AssociationResolver/jest.config.js
  src/client/pcf/AssociationResolver/jest.setup.ts
  src/client/pcf/AssociationResolver/package-lock.json
  src/client/pcf/AssociationResolver/package.json
  src/client/pcf/AssociationResolver/pcfconfig.json
  src/client/pcf/AssociationResolver/styles.css
  src/client/pcf/AssociationResolver/tsconfig.json
  src/client/pcf/RegardingResolver/RegardingResolver/ControlManifest.Input.xml
  src/client/pcf/RegardingResolver/RegardingResolver/RegardingResolverApp.tsx
  src/client/pcf/RegardingResolver/RegardingResolver/index.ts
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/ControlManifest.xml
  src/client/pcf/RegardingResolver/Solution/Controls/sprk_Spaarke.Controls.RegardingResolver/bundle.js
  src/client/pcf/RegardingResolver/Solution/pack.ps1
  src/client/pcf/RegardingResolver/Solution/solution.xml
  src/client/pcf/RegardingResolver/__tests__/RegardingResolverApp.test.tsx
  src/client/pcf/RegardingResolver/package.json
Owners: @spaarke-dev

feat(ai-redesign-r1): P1 code complete — Event-path client leg + eval gate + ADR-039 ACCEPTED
  .claude/adr/ADR-039-grounded-execution-closed-catalogs.md
  .github/workflows/sdap-ci.yml
  docs/adr/ADR-039-grounded-execution-closed-catalogs.md
  projects/INDEX.md
  projects/spaarke-ai-architecture-redesign-r1/tasks/TASK-INDEX.md
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/DocumentUploadedEventStream.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.event-path.test.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/DocumentUploadedEventStream.test.ts
  tests/integration/contract/Eval/GoldenUtteranceEvalSuiteTests.cs
  tests/integration/contract/Eval/README.md
Owners: @spaarke-dev, @devops-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
