Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

docs(sdap-bff-api-remediation): tasks 040+041+042 closed; 046 logged in EXECUTION-LOG
  projects/sdap-bff-api-remediation-fix/EXECUTION-LOG.md
  projects/sdap-bff-api-remediation-fix/baseline/task-041-post-deploy.json
  projects/sdap-bff-api-remediation-fix/tasks/040-publish-linux-x64.poml
  projects/sdap-bff-api-remediation-fix/tasks/041-exclude-wwwroot-sourcemaps.poml
  projects/sdap-bff-api-remediation-fix/tasks/042-remove-duplicate-cosmos-serviceinterop.poml
  projects/sdap-bff-api-remediation-fix/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(sdap-bff-api-remediation): patch System.Security.Cryptography.Xml HIGH ×2 (task 044, FR-B1)
  projects/sdap-bff-api-remediation-fix/EXECUTION-LOG.md
  projects/sdap-bff-api-remediation-fix/tasks/043-vuln-patch-kiota-abstractions.poml
  projects/sdap-bff-api-remediation-fix/tasks/044-vuln-patch-2.poml
  projects/sdap-bff-api-remediation-fix/tasks/045-vuln-patch-3.poml
  projects/sdap-bff-api-remediation-fix/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
Owners: @spaarke-dev

feat(sdap-bff-api-remediation): migrate Dataverse/Filters/Endpoints to facade (task 050, FR-E2 part 4)
  projects/sdap-bff-api-remediation-fix/tasks/050-migrate-dataverse-filters-endpoints.poml
  projects/sdap-bff-api-remediation-fix/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/DailyBriefingEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Workspace/WorkspaceMatterEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/BriefingAi.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/IBriefingAi.cs
Owners: @spaarke-dev

feat(sdap-bff-api-remediation): migrate Finance consumers to IInvoiceAi facade (task 047, FR-E2 part 1)
  projects/sdap-bff-api-remediation-fix/tasks/047-migrate-finance-consumers.poml
  src/server/api/Sprk.Bff.Api/Services/Finance/IInvoiceAnalysisService.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/InvoiceAnalysisService.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/InvoiceSearchService.cs
Owners: @spaarke-dev

feat(sdap-bff-api-remediation): migrate Workspace consumers to facade (task 048, FR-E2 part 2)
  projects/sdap-bff-api-remediation-fix/tasks/048-migrate-workspace-consumers.poml
  src/server/api/Sprk.Bff.Api/Services/Workspace/BriefingService.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/MatterPreFillService.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/ProjectPreFillService.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/WorkspaceAiService.cs
Owners: @spaarke-dev

feat(sdap-bff-api-remediation): migrate Jobs CRUD-side consumers to facade (task 049, FR-E2 part 3)
  projects/sdap-bff-api-remediation-fix/tasks/049-migrate-jobs-consumers.poml
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/InvoiceIndexingJobHandler.cs
Owners: @spaarke-dev

refactor(sdap-bff-api-remediation): relocate AI-coupled handlers to Services/Ai/Jobs/ (task 051, FR-E3)
  projects/sdap-bff-api-remediation-fix/baseline/outcome-bce-post-deploy.json
  projects/sdap-bff-api-remediation-fix/tasks/051-relocate-ai-job-handlers.poml
  projects/sdap-bff-api-remediation-fix/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Ai/RagEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/DocumentOperationsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/JobProcessingModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/StartupDiagnostics.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Jobs/AppOnlyDocumentAnalysisJobHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Jobs/BulkRagIndexingJobHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Jobs/EmailAnalysisJobHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Jobs/EmbeddingMigrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Jobs/ProfileSummaryJobHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingCommunicationProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/ScheduledRagIndexingService.cs
  src/server/api/Sprk.Bff.Api/Workers/Office/UploadFinalizationWorker.cs
Owners: @spaarke-dev

docs(sdap-bff-api-remediation): Phase 4 COMPLETE — gate review (task 054)
  projects/sdap-bff-api-remediation-fix/EXECUTION-LOG.md
  projects/sdap-bff-api-remediation-fix/baseline/phase-4-final.json
  projects/sdap-bff-api-remediation-fix/current-task.md
  projects/sdap-bff-api-remediation-fix/tasks/052-outcome-e-test-verification.poml
  projects/sdap-bff-api-remediation-fix/tasks/053-outcome-e-grep-acceptance.poml
  projects/sdap-bff-api-remediation-fix/tasks/054-phase-4-execution-log-gate.poml
  projects/sdap-bff-api-remediation-fix/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(r4): formalize R4 project plan + scoping decisions + workspace/dashboard architecture group
  projects/spaarke-ai-platform-unification-r4/README.md
  projects/spaarke-ai-platform-unification-r4/backlog.md
  projects/spaarke-ai-platform-unification-r4/plan.md
Owners: @spaarke-dev, @docs-team

docs(r4): formalize R4 project plan + scoping decisions + workspace/dashboard architecture group
  projects/spaarke-ai-platform-unification-r4/README.md
  projects/spaarke-ai-platform-unification-r4/backlog.md
  projects/spaarke-ai-platform-unification-r4/plan.md
Owners: @spaarke-dev, @docs-team

feat(sdap-bff-api-remediation): Phase 5 demo deploy COMPLETE (task 060/061; 062/063 OUT OF SCOPE)
  projects/sdap-bff-api-remediation-fix/EXECUTION-LOG.md
  projects/sdap-bff-api-remediation-fix/baseline/demo-phase-5-deploy.json
  projects/sdap-bff-api-remediation-fix/current-task.md
  projects/sdap-bff-api-remediation-fix/tasks/060-deploy-cumulative-to-demo.poml
  projects/sdap-bff-api-remediation-fix/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(sdap-bff-api-remediation): Phase 5 demo email setup + operator runbook (testuser1@spaarke.com + ralph.schroeder@spaarke.com)
  projects/sdap-bff-api-remediation-fix/EXECUTION-LOG.md
Owners: @spaarke-dev

docs(auth): expand §3 with Phase 5 demo-prep discoveries (25+ required App Settings beyond the 8 listed)
  docs/guides/auth-deployment-setup.md
Owners: @spaarke-dev, @docs-team

docs(auth): drop -UserPrincipalName from Connect-ExchangeOnline (causes mismatch failure)
  docs/guides/auth-deployment-setup.md
  projects/sdap-bff-api-remediation-fix/EXECUTION-LOG.md
Owners: @spaarke-dev, @docs-team

docs(sdap-bff-api-remediation): record Part A complete — ApplicationAccessPolicies verified Granted
  projects/sdap-bff-api-remediation-fix/EXECUTION-LOG.md
Owners: @spaarke-dev

fix(workspace): add missing /api prefix to 3 LegalWorkspace BFF callers
  src/solutions/LegalWorkspace/src/components/CreateProject/closureService.ts
  src/solutions/LegalWorkspace/src/components/CreateProject/provisioningService.ts
  src/solutions/LegalWorkspace/src/components/FilePreview/FilePreviewDialog.tsx
Owners: @spaarke-dev

docs(r3): Phase 0 wrap-up — R3 marked Complete + lessons-learned + F-1 retroactive memo
  projects/spaarke-ai-platform-unification-r3/README.md
  projects/spaarke-ai-platform-unification-r3/notes/bff-placement-justification-retroactive.md
  projects/spaarke-ai-platform-unification-r3/notes/lessons-learned.md
  projects/spaarke-ai-platform-unification-r3/plan.md
Owners: @spaarke-dev, @docs-team

docs(r3): Phase 0 wrap-up — R3 marked Complete + lessons-learned + F-1 retroactive memo
  projects/spaarke-ai-platform-unification-r3/README.md
  projects/spaarke-ai-platform-unification-r3/notes/bff-placement-justification-retroactive.md
  projects/spaarke-ai-platform-unification-r3/notes/lessons-learned.md
  projects/spaarke-ai-platform-unification-r3/plan.md
Owners: @spaarke-dev, @docs-team

docs: Phase 5 wrap-up doc-drift fixes across .claude/ + docs/architecture/ + docs/guides/
  .claude/CHANGELOG.md
  .claude/FAILURE-MODES.md
  .claude/adr/ADR-007-spefilestore.md
  .claude/adr/ADR-010-di-minimalism.md
  .claude/constraints/azure-deployment.md
  docs/architecture/AI-ARCHITECTURE.md
  docs/architecture/AUTH-AND-BFF-URL-PATTERN.md
  docs/architecture/AZURE-RESOURCE-NAMING-CONVENTION.md
  docs/architecture/INFRASTRUCTURE-PACKAGING-STRATEGY.md
  docs/guides/AI-DEPLOYMENT-GUIDE.md
  docs/guides/COMMUNICATION-DEPLOYMENT-GUIDE.md
  docs/guides/CUSTOMER-DEPLOYMENT-GUIDE.md
  docs/guides/DATAVERSE-AUTHENTICATION-GUIDE.md
  docs/guides/PCF-DEPLOYMENT-GUIDE.md
  docs/guides/auth-deployment-setup.md
Owners: @spaarke-dev, @docs-team

docs: add ADR-029 BFF Publish Hygiene + MI-CONFIGURATION-PATTERNS.md (deferred items now applied)
  .claude/adr/ADR-013-ai-architecture.md
  .claude/adr/ADR-029-bff-publish-hygiene.md
  .claude/adr/INDEX.md
  docs/adr/ADR-029-bff-publish-hygiene.md
  docs/adr/INDEX.md
  docs/architecture/INFRASTRUCTURE-PACKAGING-STRATEGY.md
  docs/guides/INDEX.md
  docs/guides/MI-CONFIGURATION-PATTERNS.md
Owners: @spaarke-dev, @docs-team

docs(sdap-bff-api-remediation): record final code-review findings + project closure
  projects/sdap-bff-api-remediation-fix/EXECUTION-LOG.md
Owners: @spaarke-dev

docs(sdap-bff-api-remediation): record final code-review findings + project closure (#297)
  projects/sdap-bff-api-remediation-fix/EXECUTION-LOG.md
Owners: @spaarke-dev

refactor(bff-api): address 3 code-review findings from sdap-bff-api-remediation-fix project
  src/server/api/Sprk.Bff.Api/Api/Ai/DailyBriefingEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Workspace/WorkspaceMatterEndpoints.cs
  src/server/api/Sprk.Bff.Api/Configuration/SharePointEmbeddedOptions.cs
  src/server/api/Sprk.Bff.Api/Configuration/WorkspaceOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ConfigurationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/IWorkspacePrefillAi.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/WorkspacePrefillAi.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/InvoiceAnalysisService.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/InvoiceSearchService.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/InvoiceIndexingJobHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/MatterPreFillService.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/ProjectPreFillService.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/WorkspaceAiService.cs
Owners: @spaarke-dev

refactor(bff-api): address 3 code-review findings from sdap-bff-api-remediation-fix project (#298)
  src/server/api/Sprk.Bff.Api/Api/Ai/DailyBriefingEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Workspace/WorkspaceMatterEndpoints.cs
  src/server/api/Sprk.Bff.Api/Configuration/SharePointEmbeddedOptions.cs
  src/server/api/Sprk.Bff.Api/Configuration/WorkspaceOptions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ConfigurationModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/IWorkspacePrefillAi.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PublicContracts/WorkspacePrefillAi.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/InvoiceAnalysisService.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/InvoiceSearchService.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/InvoiceIndexingJobHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/MatterPreFillService.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/ProjectPreFillService.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/WorkspaceAiService.cs
Owners: @spaarke-dev

spec(insights-engine): formalize Spaarke BFF AI Facade boundary compliance (§3.5, DEP-7)
  projects/ai-spaarke-insights-engine-r1/SPEC.md
Owners: @spaarke-dev

docs(knowledge): annotate sharepoint-embedded NOTES.md §1
  knowledge/sharepoint-embedded/NOTES.md
Owners: @spaarke-dev

docs(r4): Wave 1.1 — W-1 dashboard widget model + C-1 data access criteria
  CLAUDE.md
  docs/architecture/SPAARKEAI-DASHBOARD-AND-WIDGET-MODEL.md
  docs/architecture/SPAARKEAI-WORKSPACE-ARCHITECTURE.md
  docs/standards/DATA-ACCESS-DECISION-CRITERIA.md
  projects/spaarke-ai-platform-unification-r4/current-task.md
  projects/spaarke-ai-platform-unification-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(r4): Wave 1.5 — 5 parallel tasks (W-2, C-2, F-2, A-5a, W-6)
  CLAUDE.md
  docs/architecture/LEGALWORKSPACE-EMBEDDED-MODE-CONTRACT.md
  docs/architecture/LEGALWORKSPACE-RETIREMENT.md
  docs/architecture/SPAARKEAI-DASHBOARD-AND-WIDGET-MODEL.md
  docs/architecture/SPAARKEAI-WORKSPACE-ARCHITECTURE.md
  docs/guides/BUILD-A-NEW-WORKSPACE-WIDGET.md
  projects/spaarke-ai-platform-unification-r4/current-task.md
  projects/spaarke-ai-platform-unification-r4/notes/bff-ai-facade-audit-2026-05.md
  projects/spaarke-ai-platform-unification-r4/notes/lw-consumer-audit-2026-05.md
  projects/spaarke-ai-platform-unification-r4/notes/tab-persistence-verification-2026-05.md
  projects/spaarke-ai-platform-unification-r4/tasks/TASK-INDEX.md
  scripts/Deploy-AllWebResources.ps1
  scripts/Deploy-CorporateWorkspace.ps1
  scripts/Deploy-WizardCodePages.ps1
  scripts/README.md
Owners: @spaarke-dev, @docs-team, @devops-team

docs(r4): Wave 1.2 — ADRs 030 (PaneEventBus) + 031 (stage lifecycle) + F-3 publish-size rule
  .claude/CHANGELOG.md
  .claude/adr/ADR-030-pane-event-bus.md
  .claude/adr/ADR-031-stage-lifecycle.md
  .claude/adr/INDEX.md
  .claude/constraints/azure-deployment.md
  CLAUDE.md
  docs/adr/ADR-030-pane-event-bus.md
  docs/adr/ADR-031-stage-lifecycle.md
  projects/spaarke-ai-platform-unification-r4/CLAUDE.md
  projects/spaarke-ai-platform-unification-r4/README.md
  projects/spaarke-ai-platform-unification-r4/backlog.md
  projects/spaarke-ai-platform-unification-r4/current-task.md
  projects/spaarke-ai-platform-unification-r4/notes/adr-025-numbering-collision-2026-05-26.md
  projects/spaarke-ai-platform-unification-r4/plan.md
  projects/spaarke-ai-platform-unification-r4/plan.original.md
  projects/spaarke-ai-platform-unification-r4/spec.md
  projects/spaarke-ai-platform-unification-r4/tasks/012-a2a-author-adr-025-paneeventbus.poml
  projects/spaarke-ai-platform-unification-r4/tasks/013-a2b-author-adr-026-stage-lifecycle.poml
  projects/spaarke-ai-platform-unification-r4/tasks/016-d2-amend-adr-026-heavy-library-handling.poml
  projects/spaarke-ai-platform-unification-r4/tasks/042-w4-wire-assistant-workspace-mount.poml
  projects/spaarke-ai-platform-unification-r4/tasks/043-w5-wire-context-workspace-mount.poml
  projects/spaarke-ai-platform-unification-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(ci): add id-token write permission to claude-code-review workflow
  .github/workflows/claude-code-review.yml
Owners: @spaarke-dev, @devops-team

docs(r4): Wave 5.1 (Phase 5 code) + 016 (ADR-031 D-2 amendment) + 040 (W-3 wizard fix)
  .claude/adr/ADR-031-stage-lifecycle.md
  CLAUDE.md
  docs/adr/ADR-031-stage-lifecycle.md
  docs/standards/CHAT-ATTACHMENT-POLICY.md
  projects/spaarke-ai-platform-unification-r4/current-task.md
  projects/spaarke-ai-platform-unification-r4/notes/c3-consolidated-hook-design.md
  projects/spaarke-ai-platform-unification-r4/notes/c3-divergence-resolutions.md
  projects/spaarke-ai-platform-unification-r4/notes/c3-pre-change-diff.md
  projects/spaarke-ai-platform-unification-r4/tasks/053-b4-workspacelayout-dto-modifiedon.poml
  projects/spaarke-ai-platform-unification-r4/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.AI.Widgets/src/hooks/__tests__/useWorkspaceLayouts.test.ts
  src/client/shared/Spaarke.AI.Widgets/src/hooks/useWorkspaceLayouts.ts
  src/client/shared/Spaarke.AI.Widgets/src/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/useChatFileAttachment.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/hooks/useChatFileAttachment.ts
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/__tests__/sectionMetadataCatalog.test.ts
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/sectionMetadataCatalog.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Workspace/WorkspaceLayoutDtos.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/SystemWorkspaceLayouts.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/WorkspaceLayoutService.cs
  src/solutions/LegalWorkspace/package-lock.json
  src/solutions/LegalWorkspace/package.json
  src/solutions/LegalWorkspace/src/hooks/useWorkspaceLayouts.ts
  src/solutions/LegalWorkspace/src/sectionRegistry.ts
  src/solutions/LegalWorkspace/src/workspace/layoutCache.ts
  src/solutions/LegalWorkspace/vite.config.ts
  src/solutions/SpaarkeAi/src/components/workspace/ManageWorkspacesPane.tsx
  src/solutions/SpaarkeAi/src/hooks/useWorkspaceLayouts.ts
  src/solutions/WorkspaceLayoutWizard/src/App.tsx
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/ChatEndpointsAttachmentsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/Workspace/WorkspaceLayoutEndpointTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/Workspace/WorkspaceLayoutTestFixture.cs
Owners: @spaarke-dev, @docs-team

chore(ci): remove claude-code-review workflow
  .github/workflows/claude-code-review.yml
Owners: @spaarke-dev, @devops-team

docs(r4): resolve 4 operator gates — 031 Path A, W-6 task 044, DV audit, deploy timing
  docs/architecture/LEGALWORKSPACE-RETIREMENT.md
  projects/spaarke-ai-platform-unification-r4/current-task.md
  projects/spaarke-ai-platform-unification-r4/tasks/044-w6-followup-inline-todo-modal.poml
  projects/spaarke-ai-platform-unification-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(r4): comprehensive checkpoint — 071 filed, R5 backlog noted, handoff ready for /compact
  projects/spaarke-ai-platform-unification-r4/current-task.md
  projects/spaarke-ai-platform-unification-r4/notes/r5-backlog-candidates.md
  projects/spaarke-ai-platform-unification-r4/tasks/071-test-content-failures-ui-components.poml
  projects/spaarke-ai-platform-unification-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(sdap-bff-api-remediation): update README + CLAUDE.md to reflect closed status
  projects/sdap-bff-api-remediation-fix/CLAUDE.md
  projects/sdap-bff-api-remediation-fix/README.md
Owners: @spaarke-dev, @docs-team

docs(sdap-bff-api-remediation): update README + CLAUDE.md to reflect closed status (#302)
  projects/sdap-bff-api-remediation-fix/CLAUDE.md
  projects/sdap-bff-api-remediation-fix/README.md
Owners: @spaarke-dev, @docs-team

design(matter-ui-r1): planning artifacts for spaarke-matter-ui-enhancement-r1
  projects/spaarke-matter-ui-enhancement-r1/design.md
  projects/spaarke-matter-ui-enhancement-r1/screenshots/document-details-modal-1.png
  projects/spaarke-matter-ui-enhancement-r1/screenshots/documents-section-1.png
  projects/spaarke-matter-ui-enhancement-r1/screenshots/documents-section-2.png
  projects/spaarke-matter-ui-enhancement-r1/screenshots/matter-overview-1.png
  projects/spaarke-matter-ui-enhancement-r1/screenshots/performance-section-1.png
  projects/spaarke-matter-ui-enhancement-r1/spec.md
Owners: @spaarke-dev

feat(matter-ui-r1): task 001 — NFR-05 regression baseline (15 chart defs)
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
  projects/spaarke-matter-ui-enhancement-r1/notes/spikes/visualhost-chart-def-inventory.md
  projects/spaarke-matter-ui-enhancement-r1/tasks/001-chart-def-regression-inventory.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(matter-ui-r1): Wave 0 complete (tasks 002, 003)
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
  projects/spaarke-matter-ui-enhancement-r1/notes/spikes/sprk_event-field-verification.md
  projects/spaarke-matter-ui-enhancement-r1/tasks/002-app-insights-shared-wiring.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/003-sprk-event-field-verification.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/TASK-INDEX.md
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/package-lock.json
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/package-lock.json
  src/client/pcf/VisualHost/package.json
  src/client/shared/Spaarke.UI.Components/package-lock.json
  src/client/shared/Spaarke.UI.Components/package.json
  src/client/shared/Spaarke.UI.Components/spaarke-ui-components-2.0.0.tgz
  src/client/shared/Spaarke.UI.Components/src/services/AppInsightsService.ts
  src/client/shared/Spaarke.UI.Components/src/services/index.ts
Owners: @spaarke-dev

feat(matter-ui-r1): Wave 1A complete (tasks 010, 011) — shared components
  projects/spaarke-matter-ui-enhancement-r1/current-task.md
  projects/spaarke-matter-ui-enhancement-r1/tasks/010-tagfilter-component.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/011-documentrowmenu-component.poml
  projects/spaarke-matter-ui-enhancement-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/components/DocumentRowMenu.tsx
  src/client/shared/Spaarke.UI.Components/src/components/TagFilter.tsx
  src/client/shared/Spaarke.UI.Components/src/types/DocumentRowMenu.ts
  src/client/shared/Spaarke.UI.Components/src/types/TagFilter.ts
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
