Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(ai-sprk-chat-workspace-companion): initialize project with parallel-optimized task plan
  projects/ai-sprk-chat-workspace-companion/CLAUDE.md
  projects/ai-sprk-chat-workspace-companion/README.md
  projects/ai-sprk-chat-workspace-companion/current-task.md
  projects/ai-sprk-chat-workspace-companion/notes/.gitkeep
  projects/ai-sprk-chat-workspace-companion/notes/debug/.gitkeep
  projects/ai-sprk-chat-workspace-companion/notes/drafts/.gitkeep
  projects/ai-sprk-chat-workspace-companion/notes/handoffs/.gitkeep
  projects/ai-sprk-chat-workspace-companion/notes/spikes/.gitkeep
  projects/ai-sprk-chat-workspace-companion/plan.md
  projects/ai-sprk-chat-workspace-companion/tasks/.gitkeep
  projects/ai-sprk-chat-workspace-companion/tasks/001-extend-sprkchat-launch-context.poml
  projects/ai-sprk-chat-workspace-companion/tasks/002-update-analysis-workspace-context-launch.poml
  projects/ai-sprk-chat-workspace-companion/tasks/003-remove-global-sprkchat-injection.poml
  projects/ai-sprk-chat-workspace-companion/tasks/010-create-inline-ai-toolbar-types.poml
  projects/ai-sprk-chat-workspace-companion/tasks/011-create-inline-ai-toolbar-components.poml
  projects/ai-sprk-chat-workspace-companion/tasks/012-create-inline-ai-toolbar-hooks.poml
  projects/ai-sprk-chat-workspace-companion/tasks/013-inline-ai-toolbar-exports-and-tests.poml
  projects/ai-sprk-chat-workspace-companion/tasks/020-create-analysis-chat-context-resolver.poml
  projects/ai-sprk-chat-workspace-companion/tasks/021-register-analysis-context-endpoint.poml
  projects/ai-sprk-chat-workspace-companion/tasks/022-seed-analysis-playbook-data-and-tests.poml
  projects/ai-sprk-chat-workspace-companion/tasks/030-create-use-inline-ai-toolbar-hook.poml
  projects/ai-sprk-chat-workspace-companion/tasks/031-wire-inline-toolbar-editor-and-sprkchat.poml
  projects/ai-sprk-chat-workspace-companion/tasks/040-create-slash-command-menu.poml
  projects/ai-sprk-chat-workspace-companion/tasks/041-create-quick-action-chips.poml
  projects/ai-sprk-chat-workspace-companion/tasks/042-create-sprkchat-message-renderer.poml
  projects/ai-sprk-chat-workspace-companion/tasks/043-create-plan-preview-card.poml
  projects/ai-sprk-chat-workspace-companion/tasks/050-insert-button-and-broadcast-event.poml
  projects/ai-sprk-chat-workspace-companion/tasks/051-editor-insert-handler.poml
  projects/ai-sprk-chat-workspace-companion/tasks/060-wire-sprkchat-pane-components.poml
  projects/ai-sprk-chat-workspace-companion/tasks/061-wire-sprkchat-input-slash-menu.poml
  projects/ai-sprk-chat-workspace-companion/tasks/062-wire-message-renderer-pipeline.poml
  projects/ai-sprk-chat-workspace-companion/tasks/070-investigate-plan-preview-session-state.poml
  projects/ai-sprk-chat-workspace-companion/tasks/071-implement-plan-preview-sse.poml
  projects/ai-sprk-chat-workspace-companion/tasks/072-implement-plan-approval-endpoint.poml
  projects/ai-sprk-chat-workspace-companion/tasks/073-implement-write-back.poml
  projects/ai-sprk-chat-workspace-companion/tasks/080-integration-tests.poml
  projects/ai-sprk-chat-workspace-companion/tasks/081-deploy-code-pages.poml
  projects/ai-sprk-chat-workspace-companion/tasks/082-deploy-bff-api.poml
  projects/ai-sprk-chat-workspace-companion/tasks/090-project-wrap-up.poml
  projects/ai-sprk-chat-workspace-companion/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(spe-admin): wire ContainersPage to FileBrowserPage via Browse Files button
  src/solutions/SpeAdminApp/src/App.tsx
  src/solutions/SpeAdminApp/src/components/containers/ContainerDetail.tsx
  src/solutions/SpeAdminApp/src/components/containers/ContainersPage.tsx
Owners: @spaarke-dev

feat(sdap): add Deploy-ExternalWorkspaceSpa.ps1 deploy script
  scripts/Deploy-ExternalWorkspaceSpa.ps1
Owners: @spaarke-dev, @devops-team

feat(skills): add power-page-deploy skill for external SPA deployment
  .claude/skills/INDEX.md
  .claude/skills/power-page-deploy/SKILL.md
  CLAUDE.md
Owners: @spaarke-dev

chore(spa): switch to pac pages code site deploy approach
  src/client/external-spa/.gitignore
  src/client/external-spa/powerpages.config.json
  src/client/external-spa/vite.config.ts
Owners: @spaarke-dev

fix(config): replace hardcoded dev BFF URL with Vite env vars across all code pages
  src/client/code-pages/AnalysisWorkspace/.env.development
  src/client/code-pages/AnalysisWorkspace/.env.production
  src/client/code-pages/AnalysisWorkspace/src/config/bffConfig.ts
  src/client/code-pages/AnalysisWorkspace/src/config/msalConfig.ts
  src/client/code-pages/PlaybookBuilder/.env.development
  src/client/code-pages/PlaybookBuilder/.env.production
  src/client/code-pages/PlaybookBuilder/src/config/msalConfig.ts
  src/client/code-pages/SprkChatPane/.env.development
  src/client/code-pages/SprkChatPane/.env.production
  src/client/code-pages/SprkChatPane/src/config/msalConfig.ts
  src/solutions/DocumentUploadWizard/.env.development
  src/solutions/DocumentUploadWizard/.env.production
  src/solutions/DocumentUploadWizard/src/config/bffConfig.ts
  src/solutions/LegalWorkspace/.env.development
  src/solutions/LegalWorkspace/.env.production
  src/solutions/LegalWorkspace/src/components/RecordCards/DocumentCard.tsx
  src/solutions/LegalWorkspace/src/config/bffConfig.ts
  src/solutions/LegalWorkspace/src/config/msalConfig.ts
  src/solutions/SpeAdminApp/.env.development
  src/solutions/SpeAdminApp/.env.production
  src/solutions/SpeAdminApp/src/config/bffConfig.ts
Owners: @spaarke-dev

chore(deploy): update BFF API publish artifacts from task 082 build
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
Owners: @spaarke-dev

chore(deploy): update BFF API publish artifacts after merge
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
Owners: @spaarke-dev

fix(code-pages): add DefinePlugin to inject VITE env vars in webpack builds
  src/client/code-pages/AnalysisWorkspace/webpack.config.js
  src/client/code-pages/SprkChatPane/webpack.config.js
Owners: @spaarke-dev

feat(sdap): switch external auth from Power Pages JWT to Azure AD B2B (MSAL)
  src/client/external-spa/.env.development
  src/client/external-spa/.env.example
  src/client/external-spa/.env.production
  src/client/external-spa/package-lock.json
  src/client/external-spa/package.json
  src/client/external-spa/src/api/web-api-client.ts
  src/client/external-spa/src/auth/bff-client.ts
  src/client/external-spa/src/auth/msal-auth.ts
  src/client/external-spa/src/auth/portal-auth.ts
  src/client/external-spa/src/config.ts
  src/client/external-spa/src/main.tsx
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/Dtos/InviteExternalUserRequest.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/Dtos/InviteExternalUserResponse.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ExternalAccessEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/InviteExternalUserEndpoint.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/RevokeExternalAccessEndpoint.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/ExternalCallerAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ExternalAccessModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ExternalParticipationService.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/PortalTokenValidator.cs
Owners: @spaarke-dev

fix(code-pages): fix DefinePlugin \r\n parsing + correct dev BFF URL
  docs/architecture/code-page-runtime-config-proposal.md
  src/client/code-pages/AnalysisWorkspace/.env.production
  src/client/code-pages/AnalysisWorkspace/webpack.config.js
  src/client/code-pages/SprkChatPane/.env.production
  src/client/code-pages/SprkChatPane/webpack.config.js
Owners: @spaarke-dev, @docs-team

chore: merge master (accept origin deploy artifacts)
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
Owners: @spaarke-dev

fix(code-pages): deduplicate React — shared lib has React 18, pages use React 19
  src/client/code-pages/AnalysisWorkspace/webpack.config.js
  src/client/code-pages/SprkChatPane/webpack.config.js
Owners: @spaarke-dev

feat(shared-lib): add pcf-safe barrel export and React versioning constraint
  .claude/constraints/react-versioning.md
  src/client/shared/Spaarke.UI.Components/src/pcf-safe.ts
Owners: @spaarke-dev

docs(ai-sprk-chat-r2): add design document for SprkChat Platform Enhancement R2
  projects/ai-sprk-chat-platform-enhancement-r2/design.md
Owners: @spaarke-dev

docs(ai-sprk-chat-r2): incorporate design clarifications from review
  projects/ai-sprk-chat-platform-enhancement-r2/design.md
Owners: @spaarke-dev

docs(ai-sprk-chat-r2): add AI-optimized spec.md from design-to-spec
  projects/ai-sprk-chat-platform-enhancement-r2/spec.md
Owners: @spaarke-dev

feat(ai-sprk-chat-r2): complete Phase 1 foundation — schema, JPS, AI Search, markdown, seed
  infrastructure/ai-search/playbook-embeddings.json
  projects/ai-sprk-chat-platform-enhancement-r2/CLAUDE.md
  projects/ai-sprk-chat-platform-enhancement-r2/current-task.md
  projects/ai-sprk-chat-platform-enhancement-r2/notes/001-dataverse-schema-field-names.md
  projects/ai-sprk-chat-platform-enhancement-r2/notes/005-playbook-seed-data.md
  projects/ai-sprk-chat-platform-enhancement-r2/notes/006-phase1-verification.md
  projects/ai-sprk-chat-platform-enhancement-r2/tasks/002-jps-schema-extensions.poml
  projects/ai-sprk-chat-platform-enhancement-r2/tasks/003-playbook-embeddings-index.poml
  projects/ai-sprk-chat-platform-enhancement-r2/tasks/004-shared-markdown-utility.poml
  projects/ai-sprk-chat-platform-enhancement-r2/tasks/006-deploy-phase-1.poml
  projects/ai-sprk-chat-platform-enhancement-r2/tasks/TASK-INDEX.md
  scripts/Create-PlaybookEmbeddingsIndex.ps1
  scripts/Create-PlaybookTriggerFields.ps1
  scripts/Create-ScopeCapabilityFields.ps1
  scripts/Seed-PlaybookTriggerMetadata.ps1
  src/client/code-pages/AnalysisWorkspace/src/utils/markdownToHtml.ts
  src/client/code-pages/PlaybookBuilder/src/types/playbook.ts
  src/client/shared/Spaarke.UI.Components/package-lock.json
  src/client/shared/Spaarke.UI.Components/package.json
  src/client/shared/Spaarke.UI.Components/src/services/index.ts
  src/client/shared/Spaarke.UI.Components/src/services/renderMarkdown.ts
  src/server/api/Sprk.Bff.Api/Models/Ai/PlaybookDto.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/PlaybookEmbeddingDocument.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/PlaybookNodeDto.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/PlaybookSearchResult.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/DeliverOutputNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookEmbedding/PlaybookEmbeddingService.cs
Owners: @spaarke-dev, @devops-team

fix(ui-components): fix pcf-safe.ts exports after master merge
  src/client/shared/Spaarke.UI.Components/src/pcf-safe.ts
Owners: @spaarke-dev

feat(sdap): implement Entra B2B + MSAL auth for external SPA
  projects/sdap-secure-project-module/notes/auth-migration-b2b-msal.md
  projects/sdap-secure-project-module/notes/auth-migration-tasks.md
  scripts/Deploy-ExternalWorkspaceSpa.ps1
  src/client/external-spa/.env.development
  src/client/external-spa/.env.example
  src/client/external-spa/.env.production
  src/client/external-spa/package-lock.json
  src/client/external-spa/package.json
  src/client/external-spa/src/App.tsx
  src/client/external-spa/src/auth/bff-client.ts
  src/client/external-spa/src/auth/msal-auth.ts
  src/client/external-spa/src/auth/msal-config.ts
  src/client/external-spa/src/components/AuthGuard.tsx
  src/client/external-spa/src/config.ts
  src/client/external-spa/src/hooks/useExternalContext.ts
  src/client/external-spa/src/main.tsx
  src/client/external-spa/src/pages/WorkspaceHomePage.tsx
  src/client/external-spa/vite.config.ts
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/Dtos/ExternalProjectDtos.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ExternalAccessEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/ExternalAccess/ExternalProjectDataEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/ExternalCallerAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CorsModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/ExternalAccessModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ExternalDataService.cs
  src/server/api/Sprk.Bff.Api/appsettings.template.json
Owners: @spaarke-dev, @devops-team

fix(bff-api): register DocxExportService concrete type in DI and add defensive endpoint mapping
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
Owners: @spaarke-dev

fix(bff-api): resolve ConfirmAction endpoint parameter inference collision
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
Owners: @spaarke-dev

fix(bff-api): add long-form tenantid claim fallback to ExtractTenantId methods
  src/server/api/Sprk.Bff.Api/Api/Ai/AnalysisChatContextEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatWordExportEndpoints.cs
Owners: @spaarke-dev

chore(deploy): update BFF API publish artifacts
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
Owners: @spaarke-dev

chore(deploy): update BFF API publish artifacts with tenantid and endpoint fixes
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
Owners: @spaarke-dev

fix(spe-admin): correct OData filters and DataGrid row ID for SPE Admin app
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/AuditLogEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ConfigEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/EnvironmentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/server/api/Sprk.Bff.Api/Models/SpeAdmin/ConfigDtos.cs
  src/server/api/Sprk.Bff.Api/Models/SpeAdmin/EnvironmentDtos.cs
  src/server/api/Sprk.Bff.Api/Services/SpeAdmin/SpeDashboardSyncService.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiClient.cs
  src/solutions/SpeAdminApp/src/components/dashboard/DashboardPage.tsx
  src/solutions/SpeAdminApp/src/components/settings/ContainerTypeConfig.tsx
  src/solutions/SpeAdminApp/src/services/speApiClient.ts
  src/solutions/SpeAdminApp/src/types/spe.ts
Owners: @spaarke-dev

fix(bff+ui): diagnostic logging and tenantId header fallback for SprkChat debugging
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
  src/client/code-pages/SprkChatPane/src/services/contextService.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChatMessage.tsx
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/CompoundIntentDetector.cs
Owners: @spaarke-dev

fix(ui): move useEffect and useMemo hooks before early returns in SprkChatMessage
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChatMessage.tsx
Owners: @spaarke-dev

fix(api): correct Dataverse lookup field names in participation query
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ExternalParticipationService.cs
Owners: @spaarke-dev

fix(sprkchat): pass documentId to SprkChat and add diagnostic error details
  src/client/code-pages/SprkChatPane/src/App.tsx
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
Owners: @spaarke-dev

fix(api): correct Dataverse field names across all external data queries
  src/server/api/Sprk.Bff.Api/Infrastructure/ExternalAccess/ExternalDataService.cs
Owners: @spaarke-dev

fix(ui): update renderMarkdown to marked v17 token-based renderer API
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
  src/client/shared/Spaarke.UI.Components/src/services/renderMarkdown.ts
Owners: @spaarke-dev

fix(spe-admin): fix container page crashes and deploy script environment handling
  scripts/Deploy-SpeAdminApp.ps1
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/solutions/SpeAdminApp/src/components/containers/ContainersPage.tsx
  src/solutions/SpeAdminApp/src/services/speApiClient.ts
Owners: @spaarke-dev, @devops-team

chore(deploy): accept master deploy binaries after merge
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
Owners: @spaarke-dev

chore(spe-admin): add marked + dompurify deps for shared lib renderMarkdown
  src/solutions/SpeAdminApp/package-lock.json
  src/solutions/SpeAdminApp/package.json
Owners: @spaarke-dev

fix(spe-admin): add Browse button to container grid, fix status null guard in ContainerDetail
  src/solutions/SpeAdminApp/src/components/containers/ContainerDetail.tsx
  src/solutions/SpeAdminApp/src/components/containers/ContainersPage.tsx
Owners: @spaarke-dev

fix(playbook-builder): initialize API stores and add @spaarke/auth webpack alias
  src/client/code-pages/PlaybookBuilder/package-lock.json
  src/client/code-pages/PlaybookBuilder/src/App.tsx
  src/client/code-pages/PlaybookBuilder/src/components/BuilderLayout.tsx
  src/client/code-pages/PlaybookBuilder/src/index.tsx
  src/client/code-pages/PlaybookBuilder/webpack.config.js
Owners: @spaarke-dev

fix(config): add runtime Dataverse environment detection for BFF API URLs
  src/dataverse/webresources/spaarke_documents/DocumentOperations.js
  src/solutions/DocumentUploadWizard/src/config/bffConfig.ts
  src/solutions/LegalWorkspace/src/config/bffConfig.ts
  src/solutions/SpeAdminApp/src/config/bffConfig.ts
  src/solutions/webresources/sprk_kpi_subgrid_refresh.js
  src/solutions/webresources/sprk_kpiassessment_quickcreate.js
  src/solutions/webresources/sprk_matter_kpi_refresh.js
  src/solutions/webresources/sprk_subgrid_parent_rollup.js
Owners: @spaarke-dev

chore(deps): add marked and dompurify to LegalWorkspace and SpeAdminApp
  src/solutions/DocumentUploadWizard/package-lock.json
  src/solutions/LegalWorkspace/package-lock.json
  src/solutions/LegalWorkspace/package.json
  src/solutions/SpeAdminApp/package-lock.json
  src/solutions/SpeAdminApp/package.json
Owners: @spaarke-dev

fix(deploy): simplify SpeAdminApp deploy script — universal build via runtime env detection
  scripts/Deploy-SpeAdminApp.ps1
Owners: @spaarke-dev, @devops-team
