Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(smart-todo-r4): R4-103 (E-2) — widget toolbar polish (search-icon + always-Open + column tints + Capital Case + quick-add)
  projects/smart-todo-r4/tasks/103-E2-widget-toolbar-polish.poml
  projects/smart-todo-r4/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.SmartTodo.Components/src/hooks/useKanbanColumns.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/types/todo.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.styles.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
  src/client/shared/Spaarke.UI.Components/src/components/Kanban/KanbanBoard.tsx
  src/client/shared/Spaarke.UI.Components/src/components/Kanban/types.ts
  src/solutions/LegalWorkspace/src/sections/todo.registration.ts
Owners: @spaarke-dev

feat(daily-update-r2): Wave 7 — 017 (standalone shrink, 18 shims deleted) + 018 (LegalWorkspace 79-LOC shim, P1 seam threaded) + 063 (3 architecture docs + cross-ref fix)
  docs/architecture/SPAARKEAI-COMPONENT-MODEL.md
  docs/architecture/SPAARKEAI-DASHBOARD-AND-WIDGET-MODEL.md
  docs/architecture/SPAARKEAI-WORKSPACE-ARCHITECTURE.md
  docs/guides/BUILD-A-NEW-WORKSPACE-WIDGET.md
  projects/spaarke-daily-update-service-r2/tasks/017-shrink-standalone-code-page-to-thin-shell.poml
  projects/spaarke-daily-update-service-r2/tasks/018-replace-legalworkspace-dailybriefing-registration-with-shim.poml
  projects/spaarke-daily-update-service-r2/tasks/TASK-INDEX.md
  src/solutions/DailyBriefing/package.json
  src/solutions/DailyBriefing/src/App.tsx
  src/solutions/DailyBriefing/src/components/ActivityNotesSection.tsx
  src/solutions/DailyBriefing/src/components/CaughtUpFooter.tsx
  src/solutions/DailyBriefing/src/components/ChannelHeading.tsx
  src/solutions/DailyBriefing/src/components/DigestHeader.tsx
  src/solutions/DailyBriefing/src/components/EmptyState.tsx
  src/solutions/DailyBriefing/src/components/NarrativeBullet.tsx
  src/solutions/DailyBriefing/src/components/PreferencesDropdown.tsx
  src/solutions/DailyBriefing/src/components/TldrSection.tsx
  src/solutions/DailyBriefing/src/components/channelIcons.ts
  src/solutions/DailyBriefing/src/components/index.ts
  src/solutions/DailyBriefing/src/hooks/useBriefingNarration.ts
  src/solutions/DailyBriefing/src/hooks/useInlineTodoCreate.ts
  src/solutions/DailyBriefing/src/main.tsx
  src/solutions/DailyBriefing/src/services/briefingService.ts
  src/solutions/DailyBriefing/src/services/notificationService.ts
  src/solutions/DailyBriefing/src/services/preferencesService.ts
  src/solutions/DailyBriefing/src/types/notifications.ts
  src/solutions/DailyBriefing/src/utils/toastUtils.ts
  src/solutions/DailyBriefing/tsconfig.json
  src/solutions/DailyBriefing/vite.config.ts
  src/solutions/LegalWorkspace/src/sections/dailyBriefing/DailyBriefingSection.tsx
  src/solutions/LegalWorkspace/src/sections/dailyBriefing/dailyBriefing.registration.ts
  src/solutions/LegalWorkspace/src/sections/dailyBriefing/useDailyBriefing.ts
Owners: @spaarke-dev, @docs-team

chore(smart-todo-r4): prettier --write on 8 Wave E peer-package files (pre-PR CI gate)
  src/client/shared/Spaarke.SmartTodo.Components/src/components/KanbanCard/KanbanCard.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartTodoKanban/SmartTodoKanban.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
Owners: @spaarke-dev

test(r6): task 087 vertical-slice — Pillar 8 → 3 → 4 → 5 → 6c BFF chain + 9-pillar evidence synthesis
  projects/spaarke-ai-platform-unification-r6/current-task.md
  projects/spaarke-ai-platform-unification-r6/notes/task-087-evidence.md
  projects/spaarke-ai-platform-unification-r6/notes/vertical-slice-evidence.md
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
  tests/integration/Spe.Integration.Tests/PhaseD/Pillar8ToPlaybookEngineTests.cs
Owners: @spaarke-dev

docs(r6): task 088 — Q10 lightweight eval baseline (4 markdown transcripts)
  projects/spaarke-ai-platform-unification-r6/notes/eval-baseline/sys-default-matter-prefill.md
  projects/spaarke-ai-platform-unification-r6/notes/eval-baseline/sys-default-project-prefill.md
  projects/spaarke-ai-platform-unification-r6/notes/eval-baseline/sys-default-summarize-chat.md
  projects/spaarke-ai-platform-unification-r6/notes/eval-baseline/sys-default-summarize-workspace.md
  projects/spaarke-ai-platform-unification-r6/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(daily-update-r2): Wave 8 — task 002 (P1 SpaarkeAi seam wired via module-mutation Option B) + task 020 (P2a NarrativeBullet sub-list skeleton with slot pattern enabling parallel Wave 9)
  projects/spaarke-daily-update-service-r2/current-task.md
  projects/spaarke-daily-update-service-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/NarrativeBullet.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/SubRow.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/SubRowDismiss.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/SubRowLink.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/SubRowTodo.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/index.ts
  src/solutions/LegalWorkspace/src/index.ts
  src/solutions/LegalWorkspace/src/sections/dailyBriefing/dailyBriefing.registration.ts
  src/solutions/SpaarkeAi/src/main.tsx
Owners: @spaarke-dev

feat(daily-update-r2): Wave 9 (3 parallel agents) — P2a SubRow slots filled (021 Link + 022 To-Do + 023 Dismiss)
  projects/spaarke-daily-update-service-r2/tasks/021-sub-row-entity-link.poml
  projects/spaarke-daily-update-service-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/SubRowDismiss.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/SubRowLink.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/SubRowTodo.tsx
Owners: @spaarke-dev

feat(daily-update-r2): task 024 — P2a unit + visual + dark-mode tests (+7 tests / +1 suite)
  projects/spaarke-daily-update-service-r2/current-task.md
  projects/spaarke-daily-update-service-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.DailyBriefing.Components/test/NarrativeBullet.test.tsx
Owners: @spaarke-dev

chore(smart-todo-r4): R4-092 Wave E deploy session 2026-06-18 — 2 surfaces published, awaiting UAT round 3
  projects/smart-todo-r4/current-task.md
  projects/smart-todo-r4/tasks/092-deploy-all-affected-solutions.poml
Owners: @spaarke-dev

fix(r6): hotfix PR #395 CI — move IPinnedContextRepository registration out of compound gate
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
Owners: @spaarke-dev

fix(r6): PR #395 CI hotfix #2 — add 4 R6 chat-only handlers to AllHandlers_RejectEmptyDocument skip list
  tests/integration/Spe.Integration.Tests/ToolFrameworkIntegrationTests.cs
Owners: @spaarke-dev

refactor(daily-update-r2): Option D — replace R2 task 002 module-mutation slot with registry-as-composition factory
  projects/spaarke-daily-update-service-r2/current-task.md
  projects/spaarke-daily-update-service-r2/notes/option-d-registry-as-composition.md
  projects/spaarke-daily-update-service-r2/tasks/070-pattern-doc-workspace-section-registry-composition.poml
  projects/spaarke-daily-update-service-r2/tasks/071-update-architecture-docs-for-registry-composition.poml
  projects/spaarke-daily-update-service-r2/tasks/072-adr-workspace-section-registry-composition.poml
  projects/spaarke-daily-update-service-r2/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.DailyBriefing.Components/test/__mocks__/spaarke-ui-components.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/test/legalWorkspaceSectionRegistry.test.ts
  src/solutions/LegalWorkspace/src/LegalWorkspaceApp.tsx
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
  src/solutions/LegalWorkspace/src/index.ts
  src/solutions/LegalWorkspace/src/sectionRegistry.ts
  src/solutions/LegalWorkspace/src/sections/dailyBriefing/dailyBriefing.registration.ts
  src/solutions/SpaarkeAi/src/main.tsx
Owners: @spaarke-dev

fix(r6): PR #395 CI hotfix #3 — harden 2 flaky CI-VM-timing-sensitive tests
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/Resilience/StorageRetryPolicyTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Audit/AuditLogServiceTests.cs
Owners: @spaarke-dev

feat(smart-todo-r4): R4-105 UAT-harness framework (cross-repo; sub-second iteration enabler)
  projects/smart-todo-r4/current-task.md
  projects/smart-todo-r4/tasks/105-UAT-harness-consumer.poml
  projects/smart-todo-r4/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(smart-todo-r4): add comprehensive RESTART POINT in current-task.md before /compact
  projects/smart-todo-r4/current-task.md
Owners: @spaarke-dev

fix(daily-update-r2): task 051 follow-up — missed SmartTodo Header.tsx consumer
  src/solutions/SmartTodo/src/components/Header/Header.tsx
Owners: @spaarke-dev

feat(skills): add 3 prototype framework skills + register in INDEX
  .claude/skills/INDEX.md
  .claude/skills/prototype-experiment-init/SKILL.md
  .claude/skills/prototype-harness-extend/SKILL.md
  .claude/skills/prototype-harness-setup/SKILL.md
Owners: @spaarke-dev

test(scorecard-perf): bump batch-perf time budget 2000ms → 10000ms (flake repair 2)
  tests/unit/Sprk.Bff.Api.Tests/Services/ScorecardCalculatorPerformanceTests.cs
Owners: @spaarke-dev

ci(nightly-health): fix bundle-size build + report-job set-e brittleness
  .github/workflows/nightly-health.yml
Owners: @spaarke-dev, @devops-team

fix(daily-update-r2): R2.1 hotfix — embedded widget now mounts full DailyBriefingApp (Fix A) + sub-list wiring (Fix B) + smoke test (Fix C)
  src/client/shared/Spaarke.DailyBriefing.Components/src/components/ActivityNotesSection.tsx
  src/client/shared/Spaarke.DailyBriefing.Components/src/widgets/dailyBriefing.registration.ts
  src/client/shared/Spaarke.DailyBriefing.Components/src/widgets/index.ts
  src/client/shared/Spaarke.DailyBriefing.Components/test/ActivityNotesSection.subList.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/sections/dailyBriefing/DailyBriefingSection.tsx
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/sections/dailyBriefing/dailyBriefing.registration.ts
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/sections/dailyBriefing/useDailyBriefing.ts
  src/solutions/LegalWorkspace/src/sections/dailyBriefing/dailyBriefing.registration.ts
  src/solutions/SpaarkeAi/package-lock.json
  src/solutions/SpaarkeAi/package.json
  src/solutions/SpaarkeAi/src/services/notificationContextLoader.ts
  src/solutions/SpaarkeAi/vite.config.ts
Owners: @spaarke-dev

test(integration): bump ApiPerformance health-check budget 2000ms → 10000ms
  tests/integration/Spe.Integration.Tests/SystemIntegrationTests.cs
Owners: @spaarke-dev

fix(r6): PR #395 UAT hotfix #1 — OpenAI tool name sanitization + /clear UI remount
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ToolHandlerToAIFunctionAdapter.cs
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
Owners: @spaarke-dev

ci(test-runner): classify failures + selectively retry timing/concurrency tests
  .github/workflows/sdap-ci.yml
  scripts/ci/classify-and-retry.ps1
  tests/.reliability-registry.json
Owners: @spaarke-dev, @devops-team

fix(r6): PR #395 UAT hotfix #2 — sanitise allowedToolNames to match sanitised AIFunction.Name
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ToolHandlerToAIFunctionAdapter.cs
Owners: @spaarke-dev

fix(r6): PR #395 UAT hotfix #3 — empty CapabilityRouter Layer 3 fallback tool list
  src/server/api/Sprk.Bff.Api/Services/Ai/Capabilities/CapabilityRouterOptions.cs
Owners: @spaarke-dev

checkpoint: pre-compact handoff — UAT in progress with 3 hotfixes deployed + 1 new bug open
  projects/spaarke-ai-platform-unification-r6/current-task.md
Owners: @spaarke-dev

ci(test-runner): disable matrix fail-fast to stop sibling-cancellation cascade
  .github/workflows/sdap-ci.yml
Owners: @spaarke-dev, @devops-team

fix(smart-todo-r4): align widget ownership filter to sprk_assignedto + Header import + quick-create defaults
  projects/smart-todo-r4/notes/ownership-filter-alignment-2026-06-19.md
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
  src/solutions/SmartTodo/src/components/Header/Header.tsx
Owners: @spaarke-dev

fix(smart-todo-r4): widget kanbanContainer flex 1 1 0 + flexible min-height floor
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.styles.ts
Owners: @spaarke-dev

fix(ui-components): KanbanBoard horizontal mode — board fills container, columns shrink to fit
  src/client/shared/Spaarke.UI.Components/src/components/Kanban/KanbanBoard.tsx
Owners: @spaarke-dev

feat(smart-todo-r4): UAT 2026-06-19 quick fixes — yellow Tomorrow, list view out, defaults
  src/client/shared/Spaarke.SmartTodo.Components/src/hooks/useKanbanColumns.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/components/SmartToDo.tsx
Owners: @spaarke-dev

feat(smart-todo-r4): UAT 2026-06-19 — title row above toolbar (uniform widget + Code Page chrome)
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.styles.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
  src/solutions/SmartTodo/src/components/Header/Header.styles.ts
  src/solutions/SmartTodo/src/components/Header/Header.tsx
Owners: @spaarke-dev

feat(smart-todo-r4): UAT 2026-06-19 — three-field quick-add + Filter slide UX
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.styles.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
  src/solutions/SmartTodo/src/components/Header/Header.styles.ts
  src/solutions/SmartTodo/src/components/Header/Header.tsx
  src/solutions/SmartTodo/src/components/SmartToDo.tsx
Owners: @spaarke-dev

feat(smart-todo-r4): widget — wire collapsible Kanban columns (horizontal + vertical)
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
Owners: @spaarke-dev

fix(smart-todo-r4): orientation toggle now drives Code Page kanban (single-source-of-truth)
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/components/SmartToDo.tsx
Owners: @spaarke-dev

feat(ui-components): UAT 2026-06-19 — color-coordinated count pill in column headers
  src/client/shared/Spaarke.UI.Components/src/components/Kanban/KanbanBoard.tsx
Owners: @spaarke-dev

feat(smart-todo-r4): UAT 2026-06-19 — migrate sprk_assignedto to sprk_contact lookup
  src/client/shared/Spaarke.SmartTodo.Components/src/hooks/index.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/hooks/useCurrentContactId.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
  src/solutions/SmartTodo/src/components/SmartToDo.tsx
  src/solutions/SmartTodo/src/hooks/useTodoItems.ts
  src/solutions/SmartTodo/src/services/DataverseService.ts
  src/solutions/SmartTodo/src/services/queryHelpers.ts
Owners: @spaarke-dev

feat(smart-todo-r4): UAT 2026-06-19 — columnOrders pref + useKanbanColumns plumbing for cross-device persistence
  src/client/shared/Spaarke.SmartTodo.Components/src/components/SmartTodoKanban/SmartTodoKanban.tsx
  src/client/shared/Spaarke.SmartTodo.Components/src/hooks/useKanbanColumns.ts
  src/solutions/SmartTodo/src/hooks/useUserPreferences.ts
Owners: @spaarke-dev

fix(smart-todo-r4): UAT 2026-06-20 — pill text + collapsed header + assigned-to name display
  src/client/shared/Spaarke.SmartTodo.Components/src/hooks/useCurrentContactId.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/hooks/useKanbanColumns.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.styles.ts
  src/client/shared/Spaarke.SmartTodo.Components/src/widgets/SmartTodoWidget/SmartTodoWidget.tsx
  src/client/shared/Spaarke.UI.Components/src/components/Kanban/KanbanBoard.tsx
  src/client/shared/Spaarke.UI.Components/src/components/Kanban/types.ts
  src/solutions/SmartTodo/src/SmartTodoApp.tsx
  src/solutions/SmartTodo/src/components/Header/Header.styles.ts
  src/solutions/SmartTodo/src/components/Header/Header.tsx
Owners: @spaarke-dev

feat(smart-todo-r4): Code Page columnOrders persistence — cross-device manual order
  src/solutions/SmartTodo/src/components/SmartToDo.tsx
Owners: @spaarke-dev
