Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

docs(record-header): document the day-2 "change which fields show" workflow
  docs/guides/RECORD-HEADER-PCF-AUTHORING-GUIDE.md
  projects/record-header-and-notepad-r2/notes/rollout-form-binding-cheatsheet.md
  projects/record-header-and-notepad-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(archtests): adjudicate the three remaining guard failures (#839) (#847)
  infrastructure/bicep/modules/controlplane-worker-app-service.bicep
  infrastructure/bicep/platform-controlplane.bicep
  projects/INDEX.md
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Concurrency/CustomerRunGuardOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Concurrency/DataverseRegistryConcurrencyStore.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Concurrency/CustomerRunGuardTests.cs
  tests/Spaarke.ArchTests/ADR010_DITests.cs
  tests/Spaarke.ArchTests/CosmosProvisioningSecretGuardTests.cs
  tests/Spaarke.ArchTests/CredentialCensusTests.cs
  tests/Spaarke.ArchTests/CredentialGuardTests.cs
  tests/Spaarke.ArchTests/ServiceBusClientGuardTests.cs
  tests/Spaarke.ArchTests/Spaarke.ArchTests.csproj
Owners: @spaarke-dev

feat(archtests): arm ADR-038 §7 bans B4 + B1 as blocking guards (#864) (#865)
  .github/workflows/ci-tier1-blocking.yml
  projects/INDEX.md
  projects/ci-cd-unit-test-remediation-r1/tasks/085-deep-cleanup-pr-3.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/TASK-INDEX.md
  tests/Spaarke.ArchTests/Adr038TestBanGuardTests.cs
  tests/Spaarke.ArchTests/SourceScan.cs
Owners: @spaarke-dev, @devops-team

chore(deps): ignore FluentAssertions major; reconcile the stale dependabot backlog (#866)
  .github/dependabot.yml
Owners: @spaarke-dev, @devops-team

test(uac-r2 083): invert the SPE write-sink census into a build failure
  tests/Spaarke.ArchTests/SpeWriteSinkContainerProvenanceGuardTests.cs
Owners: @spaarke-dev

feat(uac-r2 076): record-keyed upload routes, gated + resolver-backed (server half)
  projects/unified-access-control-r2/notes/task-076-record-keyed-upload-contract.md
  src/client/shared/Spaarke.SdapClient/src/operations/UploadOperation.ts
  src/server/api/Sprk.Bff.Api/Api/Filters/EntityAccessFilter.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/RecordRouteAccessAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Api/OBOEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/MessageAttachmentMaterializer.cs
  tests/Spaarke.ArchTests/RouteAuthorizationGuardTests.cs
  tests/integration/auth/UnifiedAccessControl/RecordKeyedUploadAuthorizationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/MessageAttachmentMaterializerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/SpeScopeFactoryStub.cs
Owners: @spaarke-dev

fix(provisioning): MDA-GAP - add SpaarkeCorporateCounselApp to H6 catalog (Matter Management MDA)
  projects/customer-provisioning-orchestration-r1/design.md
  projects/customer-provisioning-orchestration-r1/spec.md
  projects/customer-provisioning-orchestration-r1/tasks/203d-apply-classA-punchlist-nice-to-have.poml
  projects/customer-provisioning-orchestration-r1/tasks/TASK-INDEX.md
  scripts/Deploy-DataverseSolutions.ps1
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/HandlerIds.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SolutionImport/CanonicalSolutionCatalog.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SolutionImport/DataverseWebApiSolutionImporter.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SolutionImport/DeployDataverseSolutionsScriptImporter.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SolutionImport/H6SolutionImportHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SolutionImport/ISolutionCatalog.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SolutionImport/ISolutionImporter.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SolutionImport/ISolutionVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SolutionImport/PacCliSolutionVerifier.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SolutionImport/SolutionImportOptions.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SolutionImport/SolutionImportRejectionCodes.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H6SolutionImportHandlerTests.cs
Owners: @spaarke-dev, @devops-team

docs(uac-r2): consolidated session status — 5 open questions with recommendations
  projects/unified-access-control-r2/notes/SESSION-STATUS-2026-08-28.md
Owners: @spaarke-dev

spec(ci-r1): adopt the five known issues as tasks 091–095 instead of deferring them (#867)
  projects/ci-cd-unit-test-remediation-r1/current-task.md
  projects/ci-cd-unit-test-remediation-r1/spec.md
  projects/ci-cd-unit-test-remediation-r1/tasks/091-fix-tier2-realclock-test-failures.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/092-make-prettier-check-reproducible.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/093-fix-markdown-link-validator-scope.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/094-extend-adr038-ban-enforcement.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/095-client-test-ci-workflow-phase1.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(uac-r2 078): authorize the container document list against its owning record
  projects/unified-access-control-r2/notes/task-078-container-document-list-gate.md
  projects/unified-access-control-r2/tasks/078-authorize-container-document-list.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/DataverseDocumentsEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/ContainerDocumentAuthorizationFilter.cs
  tests/Spaarke.ArchTests/RouteAuthorizationGuardTests.cs
  tests/integration/auth/UnifiedAccessControl/ContainerDocumentListAuthorizationTests.cs
Owners: @spaarke-dev

fix(spe-admin): UAT — Security screen blamed the wrong cause; dedupe header, donut
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/SecurityEndpoints.cs
  src/solutions/SpeAdminApp/src/components/security/SecureScoreCard.tsx
  src/solutions/SpeAdminApp/src/components/security/SecurityPage.tsx
  tests/integration/contract/SpeAdmin/SpeAdminSecurityContractTests.cs
Owners: @spaarke-dev

fix(test)(ci-r1 091): make StorageRetryPolicy cancellation test deterministic (#848)
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/Resilience/StorageRetryPolicyTests.cs
Owners: @spaarke-dev

fix(test)(ci-r1 091): drive ScheduledJobHost tests on a virtual clock (#848)
  tests/unit/Spaarke.Scheduling.Tests/RetryAndIdempotencyTests.cs
  tests/unit/Spaarke.Scheduling.Tests/ScheduledJobHostTests.cs
  tests/unit/Spaarke.Scheduling.Tests/Spaarke.Scheduling.Tests.csproj
Owners: @spaarke-dev

docs(ci-r1 091): record findings; mark 091 partial (#848)
  projects/ci-cd-unit-test-remediation-r1/notes/091-realclock-findings.md
  projects/ci-cd-unit-test-remediation-r1/tasks/091-fix-tier2-realclock-test-failures.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

checkpoint(ci-r1): 5-PR queue merged; task 091 partial, PR #884 open
  projects/ci-cd-unit-test-remediation-r1/current-task.md
Owners: @spaarke-dev

checkpoint(uac-r2): owner answers to Q1-Q5 recorded as the implementation contract
  projects/unified-access-control-r2/current-task.md
  projects/unified-access-control-r2/notes/SESSION-STATUS-2026-08-28.md
Owners: @spaarke-dev

fix(spe-admin): Add Property was aimed at the wrong URL and had never worked
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  tests/integration/contract/SpeAdmin/SpeAdminCustomPropertyContractTests.cs
Owners: @spaarke-dev

docs(spe-admin): record UAT round 1 findings + the + Add evidence status
  projects/sdap-SPE-admin-app-r2/current-task.md
  projects/sdap-SPE-admin-app-r2/notes/UAT-CHECKLIST.md
  projects/sdap-SPE-admin-app-r2/notes/probe_add_paths.py
  projects/sdap-SPE-admin-app-r2/notes/probe_customprops_shape.py
Owners: @spaarke-dev

fix(ci-r1 093): scope the markdown link validator to current docs (#849)
  projects/ci-cd-unit-test-remediation-r1/notes/093-link-validator-scope.md
  projects/ci-cd-unit-test-remediation-r1/tasks/093-fix-markdown-link-validator-scope.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/TASK-INDEX.md
  scripts/validate-markdown-links.ps1
Owners: @spaarke-dev, @devops-team

fix(test)(ci-r1 091): make the Tier 2 timing tests deterministic (#848) (#884)
  projects/ci-cd-unit-test-remediation-r1/current-task.md
  projects/ci-cd-unit-test-remediation-r1/notes/091-realclock-findings.md
  projects/ci-cd-unit-test-remediation-r1/tasks/091-fix-tier2-realclock-test-failures.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/TASK-INDEX.md
  tests/unit/Spaarke.Scheduling.Tests/RetryAndIdempotencyTests.cs
  tests/unit/Spaarke.Scheduling.Tests/ScheduledJobHostTests.cs
  tests/unit/Spaarke.Scheduling.Tests/Spaarke.Scheduling.Tests.csproj
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/Resilience/StorageRetryPolicyTests.cs
Owners: @spaarke-dev

feat(ci-r1 095): add client-tests.yml so the client jest suite actually runs (#851)
  .github/workflows/client-tests.yml
  projects/ci-cd-unit-test-remediation-r1/notes/095-client-test-baseline.md
  projects/ci-cd-unit-test-remediation-r1/tasks/095-client-test-ci-workflow-phase1.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @devops-team

fix(spe-admin): container-type create omitted the required owningAppId
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/ContainerTypeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/server/api/Sprk.Bff.Api/Models/SpeAdmin/ContainerTypeDtos.cs
  tests/integration/contract/SpeAdmin/SpeAdminContainerTypeCreateContractTests.cs
Owners: @spaarke-dev

docs(spe-admin): record UAT round 2 (container-type create) findings
  projects/sdap-SPE-admin-app-r2/current-task.md
  projects/sdap-SPE-admin-app-r2/notes/UAT-CHECKLIST.md
  projects/sdap-SPE-admin-app-r2/notes/probe_containertype_create.py
Owners: @spaarke-dev

fix(ci-r1 093): scope the markdown link validator to current docs (#849) (#885)
  projects/ci-cd-unit-test-remediation-r1/notes/093-link-validator-scope.md
  projects/ci-cd-unit-test-remediation-r1/tasks/093-fix-markdown-link-validator-scope.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/TASK-INDEX.md
  scripts/validate-markdown-links.ps1
Owners: @spaarke-dev, @devops-team

fix(ci-r1 092): make the Prettier check developer-reproducible (#850)
  .prettierrc.json
  docs/procedures/testing-and-code-quality.md
  projects/ci-cd-unit-test-remediation-r1/notes/092-prettier-reproducibility.md
  projects/ci-cd-unit-test-remediation-r1/notes/how-to-improve-the-Spaarke-test-suite.md
  projects/ci-cd-unit-test-remediation-r1/notes/test-suite-improvement-assessment.md
  projects/ci-cd-unit-test-remediation-r1/tasks/092-make-prettier-check-reproducible.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(ci-r1 095): add client-tests.yml so the client jest suite actually runs (#851) (#886)
  .github/workflows/client-tests.yml
  projects/ci-cd-unit-test-remediation-r1/notes/095-client-test-baseline.md
  projects/ci-cd-unit-test-remediation-r1/tasks/095-client-test-ci-workflow-phase1.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @devops-team

fix(security): stable errorCode from the ownership filter + denial tests (#863)
  src/server/api/Sprk.Bff.Api/Api/Ai/DispatchSessionEndpoint.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/SessionOwnershipFilter.cs
  tests/integration/Shared/TestSessionOwner.cs
  tests/integration/auth/Ai/SessionOwnershipTests.cs
  tests/integration/contract/Api/Ai/AnalysisForkEndpointContractTests.cs
  tests/integration/contract/Api/Ai/ChatAckEndpointsContractTests.cs
  tests/integration/contract/Api/Ai/ChatDocumentEndpointsContractTests.cs
  tests/integration/contract/Api/Ai/DispatchSessionEndpointContractTests.cs
  tests/integration/contract/Api/Ai/SummarizeSessionEndpointContractTests.cs
  tests/integration/contract/Eval/ResourcefulnessEvalSuiteTests.cs
  tests/integration/seam/Ai/AdvisoryCapabilityRunnerBehaviorTests.cs
  tests/integration/seam/Ai/AgreementReviewKnowledgeScopeSeamTests.cs
  tests/integration/seam/Ai/ComposeDocSessionDispatchSeamTests.cs
  tests/integration/seam/Ai/DispositionRoutabilitySeamTests.cs
  tests/integration/seam/Ai/JobAwareCompletionRouterSeamTests.cs
  tests/integration/seam/Ai/NdaReviewFanOutSeamTests.cs
  tests/integration/seam/Ai/SessionDurableFileStoreSeamTests.cs
  tests/integration/seam/Ai/SessionFileErasureSeamTests.cs
  tests/integration/seam/Ai/SessionFileLazyReindexSeamTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/ChatDataverseRepositoryTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/EngineOutputLedgerAdapterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/OutputRouterTests.cs
Owners: @spaarke-dev

docs(863): record the resolved errorCode decision, the denial suite, and the exact remainder
  projects/spaarkeai-compose-r8/notes/863-session-ownership.md
  projects/spaarkeai-compose-r8/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(863): correct the notes header to the current state
  projects/spaarkeai-compose-r8/notes/863-session-ownership.md
Owners: @spaarke-dev

fix(uac-r2): stop minting SPE folders on upload paths
  projects/unified-access-control-r2/notes/task-083-sink-inventory.md
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatDocumentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatWordExportEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/CommunicationModule.cs
  src/server/api/Sprk.Bff.Api/Models/Office/SaveRequest.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/WorkingDocumentService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingCommunicationProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/MessageAttachmentMaterializer.cs
  src/server/api/Sprk.Bff.Api/Services/Office/OfficeEmailEnricher.cs
  src/server/api/Sprk.Bff.Api/Services/Office/OfficeJobQueue.cs
  src/server/api/Sprk.Bff.Api/Services/Office/OfficeService.cs
  src/server/api/Sprk.Bff.Api/Services/Office/OfficeStorageUploader.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/MatterPreFillService.cs
  src/server/api/Sprk.Bff.Api/Services/Workspace/ProjectPreFillService.cs
  src/server/api/Sprk.Bff.Api/Workers/Office/Messages/OfficeJobMessage.cs
  src/server/api/Sprk.Bff.Api/Workers/Office/UploadFinalizationWorker.cs
  tests/Spaarke.ArchTests/SpeUploadPathIsFlatGuardTests.cs
  tests/Spaarke.ArchTests/SpeWriteSinkContainerProvenanceGuardTests.cs
  tests/integration/data-mutation/SpeUploadPaths/SpeFlatUploadPathTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationAttachmentTextServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/MessageAttachmentMaterializerTests.cs
Owners: @spaarke-dev

fix(tests): reliability-registry exit rule; un-skip 4 tests #884 unblocked
  .claude/constraints/testing.md
  .claude/skills/task-create/SKILL.md
  .claude/skills/test-diet/SKILL.md
  tests/.reliability-registry.json
  tests/unit/Spaarke.Scheduling.Tests/ScheduledJobHostTests.cs
Owners: @spaarke-dev

fix(ci-r1 092): make the Prettier check developer-reproducible (#850) (#888)
  .prettierrc.json
  docs/procedures/testing-and-code-quality.md
  projects/ci-cd-unit-test-remediation-r1/notes/092-prettier-reproducibility.md
  projects/ci-cd-unit-test-remediation-r1/notes/how-to-improve-the-Spaarke-test-suite.md
  projects/ci-cd-unit-test-remediation-r1/notes/test-suite-improvement-assessment.md
  projects/ci-cd-unit-test-remediation-r1/tasks/092-make-prettier-check-reproducible.poml
  projects/ci-cd-unit-test-remediation-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

checkpoint(ci-r1): pre-compact handoff — 094 is the last open task; window now gated on calendar days
  projects/ci-cd-unit-test-remediation-r1/current-task.md
Owners: @spaarke-dev

fix(tests): reliability-registry exit rule; un-skip 4 tests #884 unblocked (#889)
  .claude/constraints/testing.md
  .claude/skills/task-create/SKILL.md
  .claude/skills/test-diet/SKILL.md
  projects/ci-cd-unit-test-remediation-r1/current-task.md
  tests/.reliability-registry.json
  tests/unit/Spaarke.Scheduling.Tests/ScheduledJobHostTests.cs
Owners: @spaarke-dev

fix(security): document sessions inherit their owner; parent ownership checked (#863)
  src/server/api/Sprk.Bff.Api/Api/ComposeActiveDocumentEndpoints.cs
  tests/Spaarke.ArchTests/SessionOwnershipGuardTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/ChatEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/ReAnalysisFlowTests.cs
  tests/integration/contract/Api/Ai/AnalysisPromoteEndpointContractTests.cs
  tests/integration/contract/Api/Ai/ReviewMemoEndpointContractTests.cs
  tests/integration/contract/Api/Compose/ComposeActiveDocumentContractTests.cs
  tests/integration/contract/Api/Compose/ComposeEndpointsContractTests.cs
  tests/integration/regression/Compose/Def14_ComposeSaveLockedDocumentTests.cs
  tests/integration/seam/Ai/AgreementReviewKnowledgeScopeSeamTests.cs
  tests/integration/seam/Ai/ComposeDocSessionDispatchSeamTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/ChatSessionLedgerRoundTripTests.cs
Owners: @spaarke-dev

test(863): finish the dispatch/chat-document repairs; 11,465 passing / 5 failing
  tests/integration/contract/Api/Ai/ChatDocumentEndpointsContractTests.cs
  tests/integration/contract/Api/Ai/ComposeMemoryResumeEndpointContractTests.cs
  tests/integration/contract/Api/Ai/ComposeSupersedeEndpointContractTests.cs
  tests/integration/contract/Api/Ai/DispatchSessionEndpointContractTests.cs
Owners: @spaarke-dev

docs(spe): container-type topology — the rules, the decision, and a broken script
  CLAUDE.md
  docs/architecture/SPAARKE-SPE-CONTAINER-TYPE-TOPOLOGY.md
  docs/guides/SPAARKE-CUSTOMER-DEPLOYMENT-GUIDE.md
Owners: @spaarke-dev, @docs-team

test(863): resolve two suites asserting opposite things about ADR-019
  tests/unit/Sprk.Bff.Api.Tests/Api/Ai/ChatRefineEndpointTests.cs
Owners: @spaarke-dev

checkpoint: #863 code-complete; fix plan for all 10 remaining failures
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

checkpoint: master synced, 10 failures fixed; Spe.Integration.Tests triage open
  projects/spaarkeai-compose-r8/current-task.md
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
