Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

docs: update deployment guide and assessment — BFF API healthy, all issues resolved
  docs/guides/ENVIRONMENT-DEPLOYMENT-GUIDE.md
  projects/demo-environment-deployment/DEPLOYMENT-ASSESSMENT.md
  projects/demo-environment-deployment/current-task.md
Owners: @spaarke-dev, @docs-team

feat(design): add AI platform design documents for three strategic projects
  projects/ai-analysis-workspace-sprkchat-integration/design.md
  projects/ai-m365-copilot-integration/design.md
Owners: @spaarke-dev

feat(design): add AI spec and refine M365 Copilot integration design
  projects/ai-m365-copilot-integration/design.md
  projects/ai-m365-copilot-integration/spec.md
Owners: @spaarke-dev

feat(design): add AI spec for Analysis Workspace + SprkChat integration
  projects/ai-analysis-workspace-sprkchat-integration/spec.md
Owners: @spaarke-dev

feat(copilot): initialize M365 Copilot integration project — spec, plan, 31 tasks
  projects/ai-m365-copilot-integration/CLAUDE.md
  projects/ai-m365-copilot-integration/README.md
  projects/ai-m365-copilot-integration/current-task.md
  projects/ai-m365-copilot-integration/plan.md
  projects/ai-m365-copilot-integration/spec.md
  projects/ai-m365-copilot-integration/tasks/001-project-scaffolding.poml
  projects/ai-m365-copilot-integration/tasks/002-m365-agents-toolkit-setup.poml
  projects/ai-m365-copilot-integration/tasks/003-spike-conversation-file-reference.poml
  projects/ai-m365-copilot-integration/tasks/004-spike-action-submit-validation.poml
  projects/ai-m365-copilot-integration/tasks/005-spike-e2e-file-pipeline.poml
  projects/ai-m365-copilot-integration/tasks/006-bff-openapi-spec.poml
  projects/ai-m365-copilot-integration/tasks/007-declarative-agent-manifest.poml
  projects/ai-m365-copilot-integration/tasks/008-api-plugin-definitions.poml
  projects/ai-m365-copilot-integration/tasks/009-sideload-validate-agent.poml
  projects/ai-m365-copilot-integration/tasks/010-agent-gateway-endpoints.poml
  projects/ai-m365-copilot-integration/tasks/011-sso-token-flow.poml
  projects/ai-m365-copilot-integration/tasks/012-bot-service-registration.poml
  projects/ai-m365-copilot-integration/tasks/013-spaarke-agent-handler.poml
  projects/ai-m365-copilot-integration/tasks/014-multi-turn-conversation.poml
  projects/ai-m365-copilot-integration/tasks/015-agent-gateway-integration-tests.poml
  projects/ai-m365-copilot-integration/tasks/016-card-templates-documents-matters.poml
  projects/ai-m365-copilot-integration/tasks/017-card-templates-playbooks-analysis.poml
  projects/ai-m365-copilot-integration/tasks/018-card-templates-communication-handoff.poml
  projects/ai-m365-copilot-integration/tasks/019-adaptive-card-formatter-service.poml
  projects/ai-m365-copilot-integration/tasks/020-handoff-url-builder.poml
  projects/ai-m365-copilot-integration/tasks/021-playbook-invocation-flow.poml
  projects/ai-m365-copilot-integration/tasks/022-email-drafting-agent.poml
  projects/ai-m365-copilot-integration/tasks/023-async-playbook-pattern.poml
  projects/ai-m365-copilot-integration/tasks/024-error-handling-degradation.poml
  projects/ai-m365-copilot-integration/tasks/025-telemetry-logging.poml
  projects/ai-m365-copilot-integration/tasks/026-admin-controls-configuration.poml
  projects/ai-m365-copilot-integration/tasks/027-byok-deployment-templates.poml
  projects/ai-m365-copilot-integration/tasks/028-user-documentation.poml
  projects/ai-m365-copilot-integration/tasks/029-agent-gateway-unit-tests.poml
  projects/ai-m365-copilot-integration/tasks/030-e2e-integration-validation.poml
  projects/ai-m365-copilot-integration/tasks/031-project-wrap-up.poml
  projects/ai-m365-copilot-integration/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(copilot): task 001 — project scaffolding and folder structure
  projects/ai-m365-copilot-integration/tasks/001-project-scaffolding.poml
  projects/ai-m365-copilot-integration/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Sprk.Bff.Api.csproj
Owners: @spaarke-dev

feat(workspace): create AnalysisAiContext for unified editor+chat workspace
  projects/ai-analysis-workspace-sprkchat-integration/current-task.md
  projects/ai-analysis-workspace-sprkchat-integration/tasks/TASK-INDEX.md
  src/client/code-pages/AnalysisWorkspace/src/context/AnalysisAiContext.tsx
Owners: @spaarke-dev

feat(copilot): task 002 — Teams app manifest and dev environment config
  projects/ai-m365-copilot-integration/tasks/TASK-INDEX.md
  src/solutions/CopilotAgent/appPackage/env.dev.json
  src/solutions/CopilotAgent/appPackage/manifest.json
Owners: @spaarke-dev

feat(workspace): add usePanelLayout hook and ChatPanel wrapper
  src/client/code-pages/AnalysisWorkspace/src/components/ChatPanel.tsx
  src/client/code-pages/AnalysisWorkspace/src/hooks/usePanelLayout.ts
Owners: @spaarke-dev

feat(workspace): restructure App.tsx to three-panel layout
  src/client/code-pages/AnalysisWorkspace/src/App.tsx
Owners: @spaarke-dev

feat(copilot): task 006 — BFF API OpenAPI specification for Copilot API Plugin
  projects/ai-m365-copilot-integration/tasks/TASK-INDEX.md
  src/solutions/CopilotAgent/spaarke-bff-openapi.yaml
Owners: @spaarke-dev

feat(copilot): tasks 007, 010 — Declarative Agent manifest + gateway endpoints
  projects/ai-m365-copilot-integration/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentModels.cs
  src/solutions/CopilotAgent/declarativeAgent.json
Owners: @spaarke-dev

feat(workspace): wire editor ref and selection through context
  projects/ai-analysis-workspace-sprkchat-integration/current-task.md
  projects/ai-analysis-workspace-sprkchat-integration/tasks/TASK-INDEX.md
  src/client/code-pages/AnalysisWorkspace/src/components/EditorPanel.tsx
Owners: @spaarke-dev

feat(copilot): tasks 016-018 — Adaptive Card templates for all card types
  projects/ai-m365-copilot-integration/tasks/TASK-INDEX.md
  src/solutions/CopilotAgent/cards/document-list.json
  src/solutions/CopilotAgent/cards/email-preview.json
  src/solutions/CopilotAgent/cards/error-card.json
  src/solutions/CopilotAgent/cards/handoff-card.json
  src/solutions/CopilotAgent/cards/matter-summary.json
  src/solutions/CopilotAgent/cards/playbook-library.json
  src/solutions/CopilotAgent/cards/playbook-menu.json
  src/solutions/CopilotAgent/cards/progress-indicator.json
  src/solutions/CopilotAgent/cards/risk-findings.json
  src/solutions/CopilotAgent/cards/task-list.json
Owners: @spaarke-dev

feat(copilot): tasks 008, 012 — API Plugin definitions + Bot Service Bicep
  infrastructure/bot-service/main.bicep
  infrastructure/bot-service/parameters.dev.json
  projects/ai-m365-copilot-integration/tasks/TASK-INDEX.md
  src/solutions/CopilotAgent/spaarke-api-plugin.json
Owners: @spaarke-dev

feat(copilot): task 020 — HandoffUrlBuilder for deep-link generation
  projects/ai-m365-copilot-integration/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Agent/HandoffUrlBuilder.cs
Owners: @spaarke-dev

feat(workspace): wire SSE streaming to editor via context callbacks
  projects/ai-analysis-workspace-sprkchat-integration/tasks/TASK-INDEX.md
  src/client/code-pages/AnalysisWorkspace/src/components/ChatPanel.tsx
  src/client/code-pages/AnalysisWorkspace/src/components/DocumentStreamBridge.tsx
  src/client/code-pages/AnalysisWorkspace/src/context/AnalysisAiContext.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
Owners: @spaarke-dev

chore: update TASK-INDEX — Phase 1+2 complete (18/30 tasks)
  projects/ai-analysis-workspace-sprkchat-integration/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(copilot): task 014 — multi-turn conversation support
  projects/ai-m365-copilot-integration/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentConversationService.cs
Owners: @spaarke-dev

feat(copilot): tasks 011, 019 — SSO token flow + Adaptive Card formatter
  projects/ai-m365-copilot-integration/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Agent/AdaptiveCardFormatterService.cs
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentTokenService.cs
Owners: @spaarke-dev

feat(workspace): add layout polish — shortcuts, handoff, animations (Phase 4)
  projects/ai-analysis-workspace-sprkchat-integration/tasks/TASK-INDEX.md
  src/client/code-pages/AnalysisWorkspace/src/App.tsx
Owners: @spaarke-dev

feat(copilot): tasks 013, 021-023 — agent handler, playbook flow, email, async
  projects/ai-m365-copilot-integration/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Agent/EmailDraftService.cs
  src/server/api/Sprk.Bff.Api/Api/Agent/PlaybookInvocationService.cs
  src/server/api/Sprk.Bff.Api/Api/Agent/PlaybookStatusEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Agent/SpaarkeAgentHandler.cs
Owners: @spaarke-dev

feat(workspace): complete project — deployment prep and wrap-up (Phase 5)
  projects/ai-analysis-workspace-sprkchat-integration/CLAUDE.md
  projects/ai-analysis-workspace-sprkchat-integration/README.md
  projects/ai-analysis-workspace-sprkchat-integration/tasks/TASK-INDEX.md
  src/client/code-pages/AnalysisWorkspace/index.html
  src/client/code-pages/AnalysisWorkspace/jest.config.js
  src/client/code-pages/AnalysisWorkspace/src/__tests__/App.test.tsx
  src/client/code-pages/AnalysisWorkspace/src/__tests__/mocks/MockSprkChatBridge.ts
  src/client/code-pages/AnalysisWorkspace/src/__tests__/streaming-e2e.test.ts
  src/client/code-pages/AnalysisWorkspace/src/__tests__/useDiffReview.test.ts
Owners: @spaarke-dev, @docs-team

feat(copilot): tasks 024-026 — error handling, telemetry, admin controls
  projects/ai-m365-copilot-integration/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentConfigurationService.cs
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentErrorHandler.cs
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentTelemetry.cs
Owners: @spaarke-dev

docs(copilot): task 028 — user and admin documentation
  docs/guides/M365-COPILOT-USER-GUIDE.md
  projects/ai-m365-copilot-integration/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(copilot): add AgentTokenOptions + admin deployment guide
  docs/guides/M365-COPILOT-ADMIN-GUIDE.md
  src/server/api/Sprk.Bff.Api/Configuration/AgentTokenOptions.cs
Owners: @spaarke-dev, @docs-team

feat(copilot): task 027 — BYOK deployment Bicep templates
  infrastructure/byok/README.md
  infrastructure/byok/main.bicep
  infrastructure/byok/parameters.template.json
  projects/ai-m365-copilot-integration/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

test(copilot): task 029 — agent gateway unit tests (68 tests)
  projects/ai-m365-copilot-integration/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/Api/Agent/AgentConfigurationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Agent/AgentConversationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Agent/HandoffUrlBuilderTests.cs
Owners: @spaarke-dev

feat(copilot): wire up agent module — DI registration + endpoint mapping
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AgentModule.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Program.cs
Owners: @spaarke-dev

fix(copilot): defer AgentToken ValidateOnStart — allow startup without config
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AgentModule.cs
Owners: @spaarke-dev

fix(client): add missing /api prefix to 6 BFF API URLs
  src/client/code-pages/AnalysisWorkspace/src/services/analysisApi.ts
  src/client/code-pages/SemanticSearch/src/services/RecordSearchApiService.ts
  src/client/code-pages/SemanticSearch/src/services/SemanticSearchApiService.ts
  src/client/shared/Spaarke.Auth/src/resolveRuntimeConfig.ts
Owners: @spaarke-dev

feat(copilot): deploy Bot Service — Entra app + Bicep deployed to Azure
  infrastructure/bot-service/main.bicep
  infrastructure/bot-service/parameters.dev.json
  src/solutions/CopilotAgent/appPackage/env.dev.json
Owners: @spaarke-dev

chore: add deployment and indexing scripts
  scripts/Deploy-AnalysisWorkspace.ps1
  scripts/Index-ExistingPlaybooks.ps1
  scripts/Remove-ObsoleteWebResources.ps1
  src/solutions/LegalWorkspace/package-lock.json
Owners: @spaarke-dev, @devops-team

docs(copilot): deployment guide + architecture overview
  docs/architecture/M365-COPILOT-INTEGRATION-ARCHITECTURE.md
  docs/guides/M365-COPILOT-DEPLOYMENT-GUIDE.md
Owners: @spaarke-dev, @docs-team

fix(copilot): fix API plugin and manifest schema for Teams upload
  src/solutions/CopilotAgent/appPackage/manifest.json
  src/solutions/CopilotAgent/declarativeAgent.json
  src/solutions/CopilotAgent/spaarke-api-plugin.json
Owners: @spaarke-dev

fix(copilot): trim instructions to under 8000 char limit
  src/solutions/CopilotAgent/declarativeAgent.json
Owners: @spaarke-dev

feat(copilot): P0 — OAuth config, app settings, CORS origins
  src/server/api/Sprk.Bff.Api/appsettings.template.json
  src/solutions/CopilotAgent/spaarke-api-plugin.json
Owners: @spaarke-dev

feat(copilot): P1 — wire agent endpoints to real BFF services
  src/server/api/Sprk.Bff.Api/Api/Agent/AgentEndpoints.cs
Owners: @spaarke-dev

docs(copilot): Declarative Agent build and deploy guide with lessons learned
  docs/guides/DECLARATIVE-AGENT-BUILD-AND-DEPLOY-GUIDE.md
  src/solutions/CopilotAgent/spaarke-api-plugin.json
Owners: @spaarke-dev, @docs-team

fix(copilot): add webApplicationInfo for SSO token flow to API Plugin
  src/solutions/CopilotAgent/appPackage/manifest.json
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
