Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(email): complete email-to-document automation with architecture docs
  docs/architecture/email-to-document-automation.md
  docs/architecture/sdap-auth-patterns.md
  docs/architecture/sdap-component-interactions.md
  docs/architecture/sdap-troubleshooting.md
  projects/email-to-document-automation-r2/current-task.md
  projects/email-to-document-automation-r2/notes/ai-analysis-integration-issue.md
  projects/email-to-document-automation-r2/notes/email-analysis-playbook.md
  projects/email-to-document-automation-r2/notes/phase4-deployment-notes.md
  projects/email-to-document-automation-r2/notes/project-follow-up-items.md
  projects/email-to-document-automation-r2/tasks/030-create-email-analysis-playbook.poml
  projects/email-to-document-automation-r2/tasks/031-implement-email-analysis-service.poml
  projects/email-to-document-automation-r2/tasks/032-create-email-analysis-job-handler.poml
  projects/email-to-document-automation-r2/tasks/033-integration-tests-email-analysis.poml
  projects/email-to-document-automation-r2/tasks/039-deploy-phase4.poml
  projects/email-to-document-automation-r2/tasks/TASK-INDEX.md
  scripts/seed-data/playbooks.json
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AppOnlyAnalysisService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IAppOnlyAnalysisService.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailToEmlConverter.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/EmailAnalysisJobHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/EmailToDocumentJobHandler.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/IDataverseService.cs
  src/server/shared/Spaarke.Dataverse/Models.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/DataverseEntitySchemaTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/EmailAnalysisIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Email/EmailAttachmentExtractionTests.cs
Owners: @spaarke-dev, @docs-team, @devops-team

feat(pcf): SpeDocumentViewer v1.0.12 with design mode detection and download
  check-app-user.ps1
  src/client/pcf/SpeDocumentViewer/control/BffClient.ts
  src/client/pcf/SpeDocumentViewer/control/ControlManifest.Input.xml
  src/client/pcf/SpeDocumentViewer/control/SpeDocumentViewer.tsx
  src/client/pcf/SpeDocumentViewer/control/index.ts
  src/client/pcf/SpeDocumentViewer/solution/src/Controls/Spaarke.SpeDocumentViewer/ControlManifest.xml
  src/client/pcf/SpeDocumentViewer/solution/src/Other/Solution.xml
  src/client/pcf/tsconfig.json
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/EmailToDocumentJobHandler.cs
  test-playbook-query.ps1
Owners: @spaarke-dev

feat(pcf): reactivate x-document-checkout-viewer project for Phase 5
  projects/email-to-document-automation-r2/notes/document-viewer-remediation-plan.md
  projects/x-document-checkout-viewer/CLAUDE.md
  projects/x-document-checkout-viewer/tasks/045-add-getviewurl-to-bffclient.poml
  projects/x-document-checkout-viewer/tasks/046-switch-to-realtime-preview.poml
  projects/x-document-checkout-viewer/tasks/047-add-open-in-web-button.poml
  projects/x-document-checkout-viewer/tasks/050-migrate-spefileviewer.poml
  projects/x-document-checkout-viewer/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(skills): update dataverse-deploy with correct date and guide references
  .claude/skills/dataverse-deploy/SKILL.md
Owners: @spaarke-dev

fix(api): resolve nullable reference warnings in EmailToEmlConverter
  src/server/api/Sprk.Bff.Api/Services/Email/EmailToEmlConverter.cs
Owners: @spaarke-dev

style(tests): fix formatting in AI service tests
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/AiAnalysisNodeExecutorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PlaybookOrchestrationServiceTests.cs
Owners: @spaarke-dev

docs(ai-rag): add Phase 0 analysis workflow alignment
  projects/ai-RAG-pipeline/design.md
Owners: @spaarke-dev

feat(ai-rag): initialize ai-RAG-pipeline project
  projects/ai-RAG-pipeline/CLAUDE.md
  projects/ai-RAG-pipeline/README.md
  projects/ai-RAG-pipeline/current-task.md
  projects/ai-RAG-pipeline/notes/.gitkeep
  projects/ai-RAG-pipeline/notes/debug/.gitkeep
  projects/ai-RAG-pipeline/notes/drafts/.gitkeep
  projects/ai-RAG-pipeline/notes/handoffs/.gitkeep
  projects/ai-RAG-pipeline/notes/spikes/.gitkeep
  projects/ai-RAG-pipeline/plan.md
  projects/ai-RAG-pipeline/spec.md
  projects/ai-RAG-pipeline/tasks/001-add-dataverse-service-dependency.poml
  projects/ai-RAG-pipeline/tasks/002-create-analysis-record.poml
  projects/ai-RAG-pipeline/tasks/003-create-analysis-output-records.poml
  projects/ai-RAG-pipeline/tasks/004-update-job-handler-telemetry.poml
  projects/ai-RAG-pipeline/tasks/005-phase0-unit-tests.poml
  projects/ai-RAG-pipeline/tasks/010-create-itextchunkingservice.poml
  projects/ai-RAG-pipeline/tasks/011-implement-textchunkingservice.poml
  projects/ai-RAG-pipeline/tasks/012-create-ifileindexingservice.poml
  projects/ai-RAG-pipeline/tasks/013-implement-fileindexingservice.poml
  projects/ai-RAG-pipeline/tasks/014-create-ragindexingjobhandler.poml
  projects/ai-RAG-pipeline/tasks/015-create-ragtelemetry.poml
  projects/ai-RAG-pipeline/tasks/016-add-index-file-endpoint.poml
  projects/ai-RAG-pipeline/tasks/017-register-services-di.poml
  projects/ai-RAG-pipeline/tasks/018-textchunkingservice-tests.poml
  projects/ai-RAG-pipeline/tasks/019-fileindexingservice-jobhandler-tests.poml
  projects/ai-RAG-pipeline/tasks/020-add-autoindextorag-option.poml
  projects/ai-RAG-pipeline/tasks/021-add-enqueue-rag-indexing.poml
  projects/ai-RAG-pipeline/tasks/022-add-rag-telemetry-to-email.poml
  projects/ai-RAG-pipeline/tasks/023-email-to-rag-integration-tests.poml
  projects/ai-RAG-pipeline/tasks/030-refactor-summaryhandler-chunking.poml
  projects/ai-RAG-pipeline/tasks/031-refactor-remaining-handlers.poml
  projects/ai-RAG-pipeline/tasks/032-verify-no-duplicate-chunking.poml
  projects/ai-RAG-pipeline/tasks/040-implement-documenteventhandler.poml
  projects/ai-RAG-pipeline/tasks/041-document-event-e2e-tests.poml
  projects/ai-RAG-pipeline/tasks/050-pcf-rag-integration.poml
  projects/ai-RAG-pipeline/tasks/051-pcf-manual-testing.poml
  projects/ai-RAG-pipeline/tasks/090-project-wrap-up.poml
  projects/ai-RAG-pipeline/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(ai-rag): complete Phase 0 - Analysis Workflow Alignment
  projects/ai-RAG-pipeline/current-task.md
  projects/ai-RAG-pipeline/tasks/001-add-dataverse-service-dependency.poml
  projects/ai-RAG-pipeline/tasks/002-create-analysis-record.poml
  projects/ai-RAG-pipeline/tasks/003-create-analysis-output-records.poml
  projects/ai-RAG-pipeline/tasks/004-update-job-handler-telemetry.poml
  projects/ai-RAG-pipeline/tasks/005-phase0-unit-tests.poml
  projects/ai-RAG-pipeline/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/AppOnlyAnalysisService.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/AppOnlyDocumentAnalysisJobHandler.cs
  src/server/api/Sprk.Bff.Api/Telemetry/DocumentTelemetry.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AppOnlyAnalysisServiceTests.cs
Owners: @spaarke-dev

fix(di): move ITextChunkingService registration outside AI Search block
  src/server/api/Sprk.Bff.Api/Program.cs
Owners: @spaarke-dev

fix(playbook): remove sprk_istemplate from queries
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookService.cs
Owners: @spaarke-dev

fix(playbook): add detailed error logging for Dataverse responses
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookService.cs
Owners: @spaarke-dev

chore(pcf): bump UniversalDocumentUpload version to 3.10.1
  src/client/pcf/UniversalQuickCreate/Solution/src/Other/Solution.xml
  src/client/pcf/UniversalQuickCreate/Solution/src/WebResources/sprk_Spaarke.Controls.UniversalDocumentUpload/bundle.js
  src/client/pcf/UniversalQuickCreate/control/ControlManifest.Input.xml
  src/client/pcf/UniversalQuickCreate/control/components/DocumentUploadForm.tsx
Owners: @spaarke-dev

docs(pcf): add critical deployment rules for unmanaged solutions and publisher
  .claude/skills/dataverse-deploy/SKILL.md
  docs/guides/PCF-DEPLOYMENT-GUIDE.md
Owners: @spaarke-dev, @docs-team

fix(dataverse): update Analysis Workspace custom page name in ribbon commands
  src/client/webresources/js/sprk_analysis_commands.js
Owners: @spaarke-dev

docs(email-r2): add test remediation plan from UAT feedback
  projects/email-to-document-automation-r2/notes/test-remediation-plan.md
Owners: @spaarke-dev

docs(ai-playbook): add conversational UX and test execution architecture
  projects/ai-playbook-node-builder-r2/design.md
Owners: @spaarke-dev

docs(ai-playbook): add node builder R2 design and align scope design
  docs/architecture/AI-ANALYSIS-PLAYBOOK-SCOPE-DESIGN.md
  docs/guides/PLAYBOOK-REAL-ESTATE-LEASE-ANALYSIS.md
  projects/ai-playbook-node-builder-r2/design.md
Owners: @spaarke-dev, @docs-team

fix(email-r2): resolve three critical UAT issues
  src/client/webresources/js/sprk_emailactions.js
  src/server/api/Sprk.Bff.Api/Services/Ai/DocumentProfileFieldMapper.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailToEmlConverter.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/DocumentProfileFieldMapperTests.cs
Owners: @spaarke-dev

fix(rag): resolve DI scope mismatch and update deployment guide
  docs/guides/AI-DEPLOYMENT-GUIDE.md
  src/server/api/Sprk.Bff.Api/Api/EmailEndpoints.cs
  src/server/api/Sprk.Bff.Api/Program.cs
Owners: @spaarke-dev, @docs-team

feat(rag): refactor to job queue pattern for background indexing
  docs/architecture/sdap-component-interactions.md
  index-docs.ps1
  src/server/api/Sprk.Bff.Api/Api/Ai/RagEndpoints.cs
Owners: @spaarke-dev, @docs-team

feat(ai-playbook): implement Phase 3 conversational AI pipeline services
  projects/ai-playbook-node-builder-r2/current-task.md
  projects/ai-playbook-node-builder-r2/tasks/021-implement-intent-classification.poml
  projects/ai-playbook-node-builder-r2/tasks/022-implement-entity-resolution.poml
  projects/ai-playbook-node-builder-r2/tasks/023-implement-clarification-loop.poml
  projects/ai-playbook-node-builder-r2/tasks/024-implement-build-plan-generation.poml
  projects/ai-playbook-node-builder-r2/tasks/029-implement-model-selector.poml
  projects/ai-playbook-node-builder-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Infrastructure/Streaming/ServerSentEventWriter.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/BuildPlanModels.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/EntityResolutionModels.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/IntentClassificationModels.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AiPlaybookBuilderService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/BuildPlanGenerationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ClarificationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/EntityResolutionService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IAiPlaybookBuilderService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IPlaybookExecutionEngine.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IntentClassificationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ModelSelector.cs
  tests/unit/Sprk.Bff.Api.Tests/Infrastructure/Streaming/ServerSentEventWriterTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Models/Ai/BuilderSseEventsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/BuildPlanGenerationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ClarificationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/EntityResolutionServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/IntentClassificationServiceTests.cs
Owners: @spaarke-dev

docs(rag): update architecture for job queue auth pattern
  docs/architecture/sdap-component-interactions.md
  docs/guides/RAG-CONFIGURATION.md
  src/server/api/Sprk.Bff.Api/Api/Ai/RagEndpoints.cs
Owners: @spaarke-dev, @docs-team

feat(ai-playbook): create Builder scope records in Dataverse
  projects/ai-playbook-node-builder-r2/tasks/025-create-builder-action-scopes.poml
  projects/ai-playbook-node-builder-r2/tasks/026-create-builder-skill-scopes.poml
  projects/ai-playbook-node-builder-r2/tasks/027-create-builder-tool-scopes.poml
  projects/ai-playbook-node-builder-r2/tasks/028-create-builder-knowledge-scopes.poml
  projects/ai-playbook-node-builder-r2/tasks/TASK-INDEX.md
  scripts/Create-BuilderScopes.ps1
Owners: @spaarke-dev, @devops-team

feat(ai-playbook): complete Phase 6 polish and project wrap-up
  docs/guides/ai-assistant-theming.md
  docs/product-documentation/ai-playbook-builder-guide.md
  projects/ai-playbook-node-builder-r2/README.md
  projects/ai-playbook-node-builder-r2/lessons-learned.md
  projects/ai-playbook-node-builder-r2/notes/testing/integration-test-results.md
  projects/ai-playbook-node-builder-r2/tasks/050-implement-comprehensive-error-handling.poml
  projects/ai-playbook-node-builder-r2/tasks/051-add-retry-logic-with-backoff.poml
  projects/ai-playbook-node-builder-r2/tasks/052-add-loading-states-animations.poml
  projects/ai-playbook-node-builder-r2/tasks/053-implement-keyboard-shortcuts.poml
  projects/ai-playbook-node-builder-r2/tasks/054-responsive-modal-sizing.poml
  projects/ai-playbook-node-builder-r2/tasks/055-dark-mode-verification.poml
  projects/ai-playbook-node-builder-r2/tasks/056-write-user-documentation.poml
  projects/ai-playbook-node-builder-r2/tasks/057-code-review-cleanup.poml
  projects/ai-playbook-node-builder-r2/tasks/058-final-integration-testing.poml
  projects/ai-playbook-node-builder-r2/tasks/090-project-wrap-up.poml
  projects/ai-playbook-node-builder-r2/tasks/TASK-INDEX.md
  src/client/pcf/PlaybookBuilderHost/control/components/AiAssistant/ErrorDisplay.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/AiAssistant/TypingIndicator.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/AiAssistant/index.ts
  src/client/pcf/PlaybookBuilderHost/control/hooks/index.ts
  src/client/pcf/PlaybookBuilderHost/control/hooks/useKeyboardShortcuts.ts
  src/client/pcf/PlaybookBuilderHost/control/hooks/useResponsive.ts
  src/server/api/Sprk.Bff.Api/Infrastructure/Resilience/RetryPolicies.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/BuildPlanModels.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/BuilderSseEvents.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/AiBuilderErrors.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IFileIndexingService.cs
Owners: @spaarke-dev, @docs-team

fix(rag): add Tags initialization to prevent null error in AI Search indexing
  index-docs.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/FileIndexingService.cs
Owners: @spaarke-dev

docs(rag): update documentation for v2 index and 3072-dim embeddings
  .claude/settings.json
  docs/architecture/auth-AI-azure-resources.md
  docs/guides/EMAIL-TO-DOCUMENT-ARCHITECTURE.md
  docs/guides/RAG-ARCHITECTURE.md
  docs/guides/RAG-CONFIGURATION.md
  docs/guides/RAG-TROUBLESHOOTING.md
  scripts/Deploy-AnalysisCommands.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

fix(deploy): resolve DI scope mismatches and PCF build issues
  .claude/skills/azure-deploy/SKILL.md
  src/client/pcf/PlaybookBuilderHost/Solution/Controls/sprk_Spaarke.Controls.PlaybookBuilderHost/ControlManifest.xml
  src/client/pcf/PlaybookBuilderHost/Solution/Controls/sprk_Spaarke.Controls.PlaybookBuilderHost/bundle.js
  src/client/pcf/PlaybookBuilderHost/Solution/Controls/sprk_Spaarke.Controls.PlaybookBuilderHost/styles.css
  src/client/pcf/PlaybookBuilderHost/Solution/customizations.xml
  src/client/pcf/PlaybookBuilderHost/Solution/pack.ps1
  src/client/pcf/PlaybookBuilderHost/Solution/solution.xml
  src/client/pcf/PlaybookBuilderHost/control/ControlManifest.Input.xml
  src/client/pcf/PlaybookBuilderHost/control/components/ScopeBrowser/ScopeList.tsx
  src/client/pcf/PlaybookBuilderHost/control/services/AiPlaybookService.ts
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ToolFrameworkExtensions.cs
Owners: @spaarke-dev

fix(rag): resolve DI scope mismatch and update deployment guide
  docs/guides/AI-DEPLOYMENT-GUIDE.md
  src/server/api/Sprk.Bff.Api/Api/EmailEndpoints.cs
  src/server/api/Sprk.Bff.Api/Program.cs
Owners: @spaarke-dev, @docs-team

fix(email-r2): resolve three critical UAT issues
  src/client/webresources/js/sprk_emailactions.js
  src/server/api/Sprk.Bff.Api/Services/Ai/DocumentProfileFieldMapper.cs
  src/server/api/Sprk.Bff.Api/Services/Email/EmailToEmlConverter.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/DocumentProfileFieldMapperTests.cs
Owners: @spaarke-dev

feat(rag): refactor to job queue pattern for background indexing
  docs/architecture/sdap-component-interactions.md
  index-docs.ps1
  src/server/api/Sprk.Bff.Api/Api/Ai/RagEndpoints.cs
Owners: @spaarke-dev, @docs-team

fix(rag): add Tags initialization to prevent null error in AI Search indexing
  index-docs.ps1
  src/server/api/Sprk.Bff.Api/Services/Ai/FileIndexingService.cs
Owners: @spaarke-dev

docs(rag): update architecture for job queue auth pattern
  docs/architecture/sdap-component-interactions.md
  docs/guides/RAG-CONFIGURATION.md
  src/server/api/Sprk.Bff.Api/Api/Ai/RagEndpoints.cs
Owners: @spaarke-dev, @docs-team

docs(rag): update documentation for v2 index and 3072-dim embeddings
  .claude/settings.json
  docs/architecture/auth-AI-azure-resources.md
  docs/guides/EMAIL-TO-DOCUMENT-ARCHITECTURE.md
  docs/guides/RAG-ARCHITECTURE.md
  docs/guides/RAG-CONFIGURATION.md
  docs/guides/RAG-TROUBLESHOOTING.md
  scripts/Deploy-AnalysisCommands.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

feat(pcf): add relationship types to DocumentRelationshipViewer v1.0.24
  .claude/patterns/dataverse/entity-operations.md
  .claude/patterns/dataverse/relationship-navigation.md
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/ControlManifest.Input.xml
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/DocumentRelationshipViewer.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/components/DocumentNode.tsx
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/hooks/useVisualizationApi.ts
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/services/VisualizationApiService.ts
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/types/api.ts
  src/client/pcf/DocumentRelationshipViewer/DocumentRelationshipViewer/types/graph.ts
  src/client/pcf/DocumentRelationshipViewer/Solution/Controls/sprk_Spaarke.Controls.DocumentRelationshipViewer/ControlManifest.xml
  src/client/pcf/DocumentRelationshipViewer/Solution/Controls/sprk_Spaarke.Controls.DocumentRelationshipViewer/bundle.js
  src/client/pcf/DocumentRelationshipViewer/Solution/Controls/sprk_Spaarke.Controls.DocumentRelationshipViewer/styles.css
  src/client/pcf/DocumentRelationshipViewer/Solution/[Content_Types].xml
  src/client/pcf/DocumentRelationshipViewer/Solution/customizations.xml
  src/client/pcf/DocumentRelationshipViewer/Solution/pack.ps1
  src/client/pcf/DocumentRelationshipViewer/Solution/solution.xml
  src/client/pcf/DocumentRelationshipViewer/copy-build.ps1
  src/client/pcf/DocumentRelationshipViewer/featureconfig.json
  src/client/pcf/DocumentRelationshipViewer/webpack.config.js
  src/server/api/Sprk.Bff.Api/Api/Ai/VisualizationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Visualization/IVisualizationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Visualization/VisualizationService.cs
  src/server/api/Sprk.Bff.Api/Services/Jobs/Handlers/EmailToDocumentJobHandler.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  src/server/shared/Spaarke.Dataverse/IDataverseService.cs
  src/server/shared/Spaarke.Dataverse/Models.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/DataverseEntitySchemaTests.cs
Owners: @spaarke-dev

style(api): fix whitespace indentation in IFileIndexingService
  src/server/api/Sprk.Bff.Api/Services/Ai/IFileIndexingService.cs
Owners: @spaarke-dev

fix(rag): resolve Dataverse document lookup and add debug utilities
  docs/notes/rag-indexing-configuration.md
  scripts/debug/Check-DocumentInIndex.ps1
  scripts/debug/List-Indexes.ps1
  scripts/debug/Query-ByTenant.ps1
  scripts/debug/Query-IndexDocuments.ps1
  scripts/debug/Test-DebugEndpoint.ps1
  scripts/debug/Test-VisualizationApi.ps1
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
Owners: @spaarke-dev, @docs-team, @devops-team

refactor(api): change VIZ-DEBUG logs from Warning to Debug level
  src/server/api/Sprk.Bff.Api/Services/Ai/Visualization/VisualizationService.cs
Owners: @spaarke-dev

docs(ai-playbook): add conversational UX and test execution architecture
  projects/ai-playbook-node-builder-r2/design.md
Owners: @spaarke-dev

docs(ai-playbook): add node builder R2 design and align scope design
  docs/architecture/AI-ANALYSIS-PLAYBOOK-SCOPE-DESIGN.md
  docs/guides/PLAYBOOK-REAL-ESTATE-LEASE-ANALYSIS.md
  projects/ai-playbook-node-builder-r2/design.md
Owners: @spaarke-dev, @docs-team
