Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

fix(assistant-r1): My Assistant load+save broken by lookup-alternate-key 400
  src/solutions/SpaarkeAi/src/components/assistant/__tests__/userProfileService.test.ts
  src/solutions/SpaarkeAi/src/components/assistant/useMyAssistant.ts
  src/solutions/SpaarkeAi/src/components/assistant/userProfileService.ts
Owners: @spaarke-dev

feat(assistant-r1): P1-5 compact collapsible file-status entries + P1-8 More→Quick Start
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChatMessage.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/summarizeRouting.ts
  src/solutions/SpaarkeAi/src/components/conversation/useAttachments.ts
  src/solutions/SpaarkeAi/src/components/conversation/useEventBatch.ts
Owners: @spaarke-dev

fix(compose-tests): remove stale `{ virtual: true }` on ai-widgets/events mocks — kills --runInBand flake
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.activeDocShare.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.browse.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.chatBridge.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.compose-outputs-404.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.draftSeed.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.search.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tabScopedActiveDoc.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tabScopedConduits.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.upload.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/useDocQaHighlight.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.test.tsx
Owners: @spaarke-dev

docs(compose-tests): scrub 2 remaining stale 'virtual because' comments (prevent re-adding the flag)
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.browse.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.upload.test.tsx
Owners: @spaarke-dev

checkpoint(compose-r3): record --runInBand flake FIXED (stale virtual mocks); worktree synced to master
  projects/spaarkeai-compose-r3/current-task.md
Owners: @spaarke-dev

docs(assistant-r1): P1-7 post-upload chips catalog change + eval cases
  projects/spaarkeai-assistant-enhancements-r1/notes/owed-eval-cases.md
Owners: @spaarke-dev

feat(messaging-r2): Wave 0 foundation + standalone page (tasks 001-004, 040)
  .claude/CHANGELOG.md
  .claude/adr/ADR-048-communication-participant-index.md
  .claude/adr/INDEX.md
  docs/adr/ADR-048-communication-participant-index.md
  docs/adr/INDEX.md
  projects/messaging-communication-app-r2/current-task.md
  projects/messaging-communication-app-r2/notes/001-phase0-schema-audit.md
  projects/messaging-communication-app-r2/notes/002-thread-regarding-schema.md
  projects/messaging-communication-app-r2/notes/003-communicationparticipant-schema.md
  projects/messaging-communication-app-r2/scripts/Deploy-CommunicationParticipantSchema.ps1
  projects/messaging-communication-app-r2/scripts/Deploy-ThreadRegardingSchema.ps1
  projects/messaging-communication-app-r2/tasks/001-phase0-schema-participant-audit.poml
  projects/messaging-communication-app-r2/tasks/002-schema-thread-regarding-lookups.poml
  projects/messaging-communication-app-r2/tasks/003-schema-communicationparticipant-junction.poml
  projects/messaging-communication-app-r2/tasks/040-standalone-communications-page.poml
  projects/messaging-communication-app-r2/tasks/TASK-INDEX.md
  scripts/Deploy-AllDataGridConsumers.ps1
  src/solutions/sprk_communicationspage/index.html
  src/solutions/sprk_communicationspage/package-lock.json
  src/solutions/sprk_communicationspage/package.json
  src/solutions/sprk_communicationspage/src/main.tsx
  src/solutions/sprk_communicationspage/tsconfig.json
  src/solutions/sprk_communicationspage/tsconfig.node.json
  src/solutions/sprk_communicationspage/vite.config.ts
Owners: @spaarke-dev, @docs-team, @devops-team

docs(external-access): initialize External Access Platform R1 project
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/acs-chat-integration-2026-07-16.md
  .claude/agent-memory/researcher/docx-delta-fidelity-roundtrip-2026-07-16.md
  .claude/agent-memory/researcher/power-pages-vs-entra-external-id-portal-2026-07-17.md
  .claude/agent-memory/researcher/prosemirror-ai-authoring-trackchanges-2026-07-16.md
  .claude/agent-memory/researcher/signalr-vs-sse-notification-fabric-2026-07-16.md
  .claude/agent-memory/researcher/spe-ciam-crosstenant-apponly-brokering-2026-07-18.md
  .claude/agent-memory/researcher/tiptap-licensing-editor-arch-2026-07-16.md
  projects/spaarke-SPA-external-access-platform-r1/adr-028-amendment-draft.md
  projects/spaarke-SPA-external-access-platform-r1/design.md
  projects/spaarke-SPA-external-access-platform-r1/notes/research-power-pages-vs-external-id-2026-07-17.md
  projects/spaarke-SPA-external-access-platform-r1/notes/spike-spe-external-id-bridge-2026-07-18.md
Owners: @spaarke-dev

feat(assistant-r1): P2-4 My Assistant → 3-step wizard with (i) info popovers
  src/solutions/SpaarkeAi/src/components/assistant/MyAssistantDialog.tsx
  src/solutions/SpaarkeAi/src/components/assistant/__tests__/MyAssistantDialog.test.tsx
Owners: @spaarke-dev

docs(email-r4): UAT results — Tier 1A 7/7 + Tier 1C verified on live provenance
  projects/email-communication-solution-r4/notes/UAT-CHECKLIST.md
Owners: @spaarke-dev

feat(messaging-r2): W1 BFF read endpoints (010, 011) + grid curation (041)
  projects/messaging-communication-app-r2/current-task.md
  projects/messaging-communication-app-r2/notes/041-grid-curation.md
  projects/messaging-communication-app-r2/tasks/010-bff-by-regarding-endpoint.poml
  projects/messaging-communication-app-r2/tasks/011-bff-filtered-query-endpoint.poml
  projects/messaging-communication-app-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/CommunicationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationThreadReadModels.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationThreadReadService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationByRegardingReadTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationFilteredQueryTests.cs
Owners: @spaarke-dev

refactor(compose): confidence band + offsets are CLIENT-derived (§6.5 Path B) — remove unwired server derivation + document the decision
  .claude/adr/ADR-013-ai-architecture.md
  .claude/adr/ADR-039-grounded-execution-closed-catalogs.md
  .claude/adr/ADR-040-session-ledger.md
  docs/architecture/COMPOSE-REDLINE-DERIVED-VIEWS.md
  docs/architecture/INDEX.md
  projects/spaarkeai-compose-r3/CLAUDE.md
  projects/spaarkeai-compose-r3/spec.md
  projects/spaarkeai-compose-r3/tasks/031-rationale-first-accept-reject-ui.poml
  projects/spaarkeai-compose-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/types/compose-contracts.ts
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeDraftDisposition.cs
  tests/integration/seam/Compose/ComposeDraftConfidenceBandSeamTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeConfidenceBandTests.cs
Owners: @spaarke-dev, @docs-team

docs(email-r4): UAT 1B/1F/1D results — archive-container 403 root-caused; outbound send/non-fatal pass
  projects/email-communication-solution-r4/notes/UAT-CHECKLIST.md
Owners: @spaarke-dev

fix(assistant-r1): UAT R3 — card-path create-matter file leg + suppress raw JSON; remove per-message Insert-into-document
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/useConsumerChips.tsx
Owners: @spaarke-dev

docs(assistant-r1): UAT R3 backlog + owner decisions (files/Context + curated profile chips)
  projects/spaarkeai-assistant-enhancements-r1/notes/uat-feedback-2026-07-19.md
Owners: @spaarke-dev

checkpoint(assistant-r1): context-handoff — full session fix log + UAT R3 remaining backlog
  projects/spaarkeai-assistant-enhancements-r1/current-task.md
Owners: @spaarke-dev

docs(email-r4): correct F-1 archive finding — container theory disproven, likely test-token OBO artifact
  projects/email-communication-solution-r4/notes/UAT-CHECKLIST.md
Owners: @spaarke-dev

feat(compose): task 031 — rationale-first accept/reject + client-derived confidence band (FR-13/FR-14)
  projects/spaarkeai-compose-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.ts
Owners: @spaarke-dev

feat(messaging-r2): W8 seam tests (080) + architecture doc (081)
  docs/architecture/communication-intelligence-architecture.md
  projects/messaging-communication-app-r2/current-task.md
  projects/messaging-communication-app-r2/notes/080-seam-coverage-map.md
  projects/messaging-communication-app-r2/tasks/080-vertical-slice-seam-tests.poml
  projects/messaging-communication-app-r2/tasks/TASK-INDEX.md
  tests/integration/seam/Communication/CommunicationWorkspaceReadSeamTests.cs
Owners: @spaarke-dev, @docs-team

chore(messaging-r2): 090 wrap-up — code-complete
  projects/messaging-communication-app-r2/README.md
  projects/messaging-communication-app-r2/notes/lessons-learned.md
  projects/messaging-communication-app-r2/notes/test-diet-report.md
  projects/messaging-communication-app-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(assistant-r1): My Assistant cluster (MA-1..MA-4) — no auto-open, work-location dropdown, curated chips
  src/solutions/SpaarkeAi/src/components/assistant/MyAssistantDialog.tsx
  src/solutions/SpaarkeAi/src/components/assistant/__tests__/MyAssistantDialog.test.tsx
  src/solutions/SpaarkeAi/src/components/assistant/__tests__/useMyAssistant.test.ts
  src/solutions/SpaarkeAi/src/components/assistant/__tests__/userProfileService.test.ts
  src/solutions/SpaarkeAi/src/components/assistant/useMyAssistant.ts
  src/solutions/SpaarkeAi/src/components/assistant/userProfileService.ts
  src/solutions/SpaarkeAi/src/components/conversation/AssistantToolMenu.tsx
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/AssistantToolMenu.test.tsx
Owners: @spaarke-dev

docs(assistant-r1): mark My Assistant cluster (MA-1..MA-4) shipped in UAT R3 note
  projects/spaarkeai-assistant-enhancements-r1/notes/uat-feedback-2026-07-19.md
Owners: @spaarke-dev

docs(email-r4): F-1 archive CONFIRMED real defect — MI not authorized on SPE container type
  projects/email-communication-solution-r4/notes/UAT-CHECKLIST.md
Owners: @spaarke-dev

feat(compose): task 032 — formatted AI insertions via sanitized inline markup (FR-15) + XSS hardening
  projects/spaarkeai-compose-r3/tasks/032-formatted-ai-insertions.poml
  projects/spaarkeai-compose-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/types/compose-contracts.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/hooks/usePendingRedline.ts
Owners: @spaarke-dev

feat(assistant-r1): Chat-UX cluster (CHAT-4/5/6) — welcome cards on empty transcript, taller composer, hide slash menu
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChatInput.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/SprkChat.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/__tests__/SprkChatInput.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
Owners: @spaarke-dev

docs(assistant-r1): mark Chat-UX cluster (CHAT-4/5/6) shipped in UAT R3 note
  projects/spaarkeai-assistant-enhancements-r1/notes/uat-feedback-2026-07-19.md
Owners: @spaarke-dev

feat(compose): task 050 — import existing Word revisions on Load (FR-24)
  projects/spaarkeai-compose-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/index.ts
  src/client/shared/Spaarke.Compose.Components/src/types/compose-contracts.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/importedRevisions.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/importedRevisions.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/marks/DeletionMark.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/marks/InsertionMark.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/useComposeWordShuttle.ts
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/IComposeService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceLoadImportedRevisionsTests.cs
Owners: @spaarke-dev

feat(compose): task 051 — import existing Word comments as threads on Load (FR-25)
  projects/spaarkeai-compose-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/index.ts
  src/client/shared/Spaarke.Compose.Components/src/types/compose-contracts.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeEditor.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/importedComments.test.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/importedComments.ts
  src/client/shared/Spaarke.Compose.Components/src/widgets/importedRevisions.ts
  src/server/api/Sprk.Bff.Api/Services/Compose/ComposeService.cs
  src/server/api/Sprk.Bff.Api/Services/Compose/IComposeService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Compose/ComposeServiceLoadImportedCommentsTests.cs
Owners: @spaarke-dev

feat(assistant-r1): UP-10 upload progress indicator + Draft-a-response readable render
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPaneChrome.tsx
  src/solutions/SpaarkeAi/src/components/conversation/DocumentUploadedEventStream.ts
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/DocumentUploadedEventStream.test.ts
Owners: @spaarke-dev

docs(assistant-r1): mark UP-10 + Draft-a-response render shipped; flag Compose-routing decision
  projects/spaarkeai-assistant-enhancements-r1/notes/uat-feedback-2026-07-19.md
Owners: @spaarke-dev

feat(assistant-r1): uploaded files get their own collapsible section (decision-1 part A)
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPane.tsx
  src/solutions/SpaarkeAi/src/components/conversation/ConversationPaneChrome.tsx
  src/solutions/SpaarkeAi/src/components/conversation/__tests__/ConversationPane.r5.test.tsx
Owners: @spaarke-dev

docs(assistant-r1): mark files-section (part A) shipped; part B scoping
  projects/spaarkeai-assistant-enhancements-r1/notes/uat-feedback-2026-07-19.md
Owners: @spaarke-dev

docs(external-access): fold 2026-07-19 owner review + CIAM provisioning spike into design
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/ciam-user-provisioning-graph-2026-07-19.md
  projects/spaarke-SPA-external-access-platform-r1/design.md
Owners: @spaarke-dev

test(compose): task 052 — imported anchors survive-save seam (FR-26) + wire-response bug fix
  projects/spaarkeai-compose-r3/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/ComposeEndpoints.cs
  tests/integration/seam/Ai/ComposeImportedAnchorsSurviveSaveSeamTests.cs
Owners: @spaarke-dev

scripts(email-r4): add Register-BffMiWithContainerType.ps1 — registers BFF MI as SPE guest app
  scripts/Register-BffMiWithContainerType.ps1
Owners: @spaarke-dev, @devops-team

docs(external-access): add spec.md + reconcile with BFF reuse audit
  projects/spaarke-SPA-external-access-platform-r1/spec.md
Owners: @spaarke-dev

fix(compose): wire Load-response paraIdMap/importedRevisions/importedComments through ComposeWorkspace
  projects/spaarkeai-compose-r3/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.imports.test.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.tsx
  src/client/shared/Spaarke.Compose.Components/src/widgets/ComposeWorkspace.types.ts
Owners: @spaarke-dev

feat(assistant-r1): Context pane opens on Execution Trace; quick-start removed (decision-1 part B)
  src/solutions/SpaarkeAi/src/components/context/ContextPaneController.tsx
  src/solutions/SpaarkeAi/src/components/context/ContextPaneMenu.tsx
  src/solutions/SpaarkeAi/src/components/context/__tests__/ContextPaneController.compose-trace-autoopen.test.tsx
  src/solutions/SpaarkeAi/src/components/context/__tests__/ContextPaneController.test.tsx
  src/solutions/SpaarkeAi/src/hooks/useContextTool.ts
  src/solutions/SpaarkeAi/src/services/contextToolPin.ts
Owners: @spaarke-dev

checkpoint(compose-r3): all implementation FR tasks complete — remaining = wrap (080/090) + deploy (025/081/082 user-gated)
  projects/spaarkeai-compose-r3/current-task.md
Owners: @spaarke-dev

docs(assistant-r1): Context-pane part B shipped; Draft→Compose in progress
  projects/spaarkeai-assistant-enhancements-r1/notes/uat-feedback-2026-07-19.md
Owners: @spaarke-dev
