Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

feat(playbook-builder-r5): implement NodeType/ActionType enums and update documentation
  docs/architecture/AI-ARCHITECTURE.md
  docs/guides/HOW-TO-CREATE-AI-PLAYBOOK-SCOPES.md
  src/client/code-pages/AnalysisWorkspace/src/hooks/useAnalysisExecution.ts
  src/client/code-pages/PlaybookBuilder/src/components/BuilderLayout.tsx
  src/client/code-pages/PlaybookBuilder/src/components/properties/NodePropertiesForm.tsx
  src/client/code-pages/PlaybookBuilder/src/components/properties/ScopeSelector.tsx
  src/client/code-pages/PlaybookBuilder/src/hooks/usePlaybookLoader.ts
  src/client/code-pages/PlaybookBuilder/src/index.tsx
  src/client/code-pages/PlaybookBuilder/src/services/aiPlaybookService.ts
  src/client/code-pages/PlaybookBuilder/src/services/authService.ts
  src/client/code-pages/PlaybookBuilder/src/services/dataverseClient.ts
  src/client/code-pages/PlaybookBuilder/src/services/playbookNodeSync.ts
  src/client/code-pages/PlaybookBuilder/src/stores/aiAssistantStore.ts
  src/client/code-pages/PlaybookBuilder/src/stores/canvasStore.ts
  src/client/code-pages/PlaybookBuilder/src/stores/modelStore.ts
  src/client/code-pages/PlaybookBuilder/src/stores/scopeStore.ts
  src/client/code-pages/PlaybookBuilder/src/types/canvas.ts
  src/client/code-pages/PlaybookBuilder/src/types/playbook.ts
  src/client/code-pages/PlaybookBuilder/src/types/scopeTypes.ts
  src/client/pcf/PlaybookBuilderHost/control/stores/canvasStore.ts
  src/server/api/Sprk.Bff.Api/Models/Ai/PlaybookNodeDto.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NodeService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/DeliverOutputNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/INodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ScopeResolverService.cs
Owners: @spaarke-dev, @docs-team

docs(ai): add JSON Prompt Schema (JPS) design document
  projects/ai-json-prompt-schema-system/design.md
Owners: @spaarke-dev

feat(workspace): add Documents tab and enhance To Do Detail side pane
  src/solutions/LegalWorkspace/src/components/MyPortfolio/DocumentItem.tsx
  src/solutions/LegalWorkspace/src/components/RecordCards/DocumentCard.tsx
  src/solutions/LegalWorkspace/src/components/RecordCards/DocumentsTab.tsx
  src/solutions/LegalWorkspace/src/components/RecordCards/index.ts
  src/solutions/LegalWorkspace/src/components/SmartToDo/TodoItem.tsx
  src/solutions/LegalWorkspace/src/components/UpdatesTodo/UpdatesTodoSection.tsx
  src/solutions/LegalWorkspace/src/hooks/useDocumentsTabList.ts
  src/solutions/LegalWorkspace/src/services/DataverseService.ts
  src/solutions/LegalWorkspace/src/services/DocumentApiService.ts
  src/solutions/LegalWorkspace/src/services/bffAuthProvider.ts
  src/solutions/LegalWorkspace/src/services/queryHelpers.ts
  src/solutions/LegalWorkspace/src/types/entities.ts
  src/solutions/LegalWorkspace/src/utils/fileIconMap.ts
  src/solutions/TodoDetailSidePane/src/App.tsx
  src/solutions/TodoDetailSidePane/src/components/TodoDetail.tsx
  src/solutions/TodoDetailSidePane/src/services/todoService.ts
  src/solutions/TodoDetailSidePane/src/types/TodoRecord.ts
  src/solutions/TodoDetailSidePane/src/utils/xrmAccess.ts
Owners: @spaarke-dev

feat(workspace): restructure layout to 3-row grid with Quick Summary, inline Kanban dialog, and collapsible columns
  docs/guides/EVENT-TODO-ARCHITECTURE.md
  docs/guides/INDEX.md
  projects/home-corporate-workspace-r1/screenshots/updated-corporate-workspace-mockup.jpg
  src/solutions/LegalWorkspace/src/App.tsx
  src/solutions/LegalWorkspace/src/components/ActivityFeed/ActivityFeed.tsx
  src/solutions/LegalWorkspace/src/components/ActivityFeed/ActivityFeedList.tsx
  src/solutions/LegalWorkspace/src/components/ActivityFeed/FeedItemCard.tsx
  src/solutions/LegalWorkspace/src/components/ActivityFeed/FilterBar.tsx
  src/solutions/LegalWorkspace/src/components/GetStarted/ActionCard.tsx
  src/solutions/LegalWorkspace/src/components/GetStarted/GetStartedExpandDialog.tsx
  src/solutions/LegalWorkspace/src/components/GetStarted/GetStartedRow.tsx
  src/solutions/LegalWorkspace/src/components/GetStarted/index.ts
  src/solutions/LegalWorkspace/src/components/QuickSummary/QuickSummaryMetricCard.tsx
  src/solutions/LegalWorkspace/src/components/QuickSummary/QuickSummaryRow.tsx
  src/solutions/LegalWorkspace/src/components/QuickSummary/index.ts
  src/solutions/LegalWorkspace/src/components/QuickSummary/quickSummaryConfig.ts
  src/solutions/LegalWorkspace/src/components/RecordCards/DocumentsTab.tsx
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
  src/solutions/LegalWorkspace/src/components/SmartToDo/SmartToDo.tsx
  src/solutions/LegalWorkspace/src/components/SummaryPanel/SummaryPanel.tsx
  src/solutions/LegalWorkspace/src/components/SummaryPanel/index.ts
  src/solutions/LegalWorkspace/src/components/UpdatesTodo/UpdatesTodoSection.tsx
  src/solutions/LegalWorkspace/src/components/UpdatesTodo/index.ts
  src/solutions/LegalWorkspace/src/components/shared/KanbanBoard.tsx
  src/solutions/LegalWorkspace/src/hooks/useKanbanColumns.ts
  src/solutions/LegalWorkspace/src/hooks/useQuickSummaryCounts.ts
  src/solutions/LegalWorkspace/src/services/DataverseService.ts
  src/solutions/LegalWorkspace/src/services/xrmProvider.ts
  src/solutions/LegalWorkspace/src/types/entities.ts
  src/solutions/LegalWorkspace/src/utils/navigation.ts
  src/solutions/TodoDetailSidePane/src/App.tsx
  src/solutions/TodoDetailSidePane/src/components/TodoDetail.tsx
  src/solutions/TodoDetailSidePane/src/services/todoService.ts
  src/solutions/TodoDetailSidePane/src/types/TodoRecord.ts
  src/solutions/TodoDetailSidePane/src/utils/xrmAccess.ts
Owners: @spaarke-dev, @docs-team

feat(workspace): add toolbars, Playbook Library, score colors, badges, and remove scrollbars
  src/solutions/LegalWorkspace/src/components/ActivityFeed/ActivityFeedList.tsx
  src/solutions/LegalWorkspace/src/components/ActivityFeed/FeedItemCard.tsx
  src/solutions/LegalWorkspace/src/components/GetStarted/GetStartedExpandDialog.tsx
  src/solutions/LegalWorkspace/src/components/GetStarted/GetStartedRow.tsx
  src/solutions/LegalWorkspace/src/components/QuickSummary/QuickSummaryDashboardDialog.tsx
  src/solutions/LegalWorkspace/src/components/QuickSummary/QuickSummaryMetricCard.tsx
  src/solutions/LegalWorkspace/src/components/QuickSummary/QuickSummaryRow.tsx
  src/solutions/LegalWorkspace/src/components/QuickSummary/quickSummaryConfig.ts
  src/solutions/LegalWorkspace/src/components/RecordCards/RecordCardList.tsx
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
  src/solutions/LegalWorkspace/src/components/SmartToDo/KanbanCard.tsx
  src/solutions/LegalWorkspace/src/components/shared/KanbanBoard.tsx
  src/solutions/LegalWorkspace/src/hooks/useQuickSummaryCounts.ts
Owners: @spaarke-dev

feat(ai): initialize JPS project — spec, plan, 22 task files
  projects/ai-json-prompt-schema-system/CLAUDE.md
  projects/ai-json-prompt-schema-system/README.md
  projects/ai-json-prompt-schema-system/current-task.md
  projects/ai-json-prompt-schema-system/plan.md
  projects/ai-json-prompt-schema-system/spec.md
  projects/ai-json-prompt-schema-system/tasks/001-create-prompt-schema-models.poml
  projects/ai-json-prompt-schema-system/tasks/002-create-prompt-schema-renderer.poml
  projects/ai-json-prompt-schema-system/tasks/003-integrate-renderer-into-handler.poml
  projects/ai-json-prompt-schema-system/tasks/004-di-registration-and-wiring.poml
  projects/ai-json-prompt-schema-system/tasks/005-unit-tests-models-and-format-detection.poml
  projects/ai-json-prompt-schema-system/tasks/006-unit-tests-rendering-pipeline.poml
  projects/ai-json-prompt-schema-system/tasks/010-typescript-prompt-schema-types.poml
  projects/ai-json-prompt-schema-system/tasks/011-prompt-schema-form-component.poml
  projects/ai-json-prompt-schema-system/tasks/012-prompt-schema-editor-component.poml
  projects/ai-json-prompt-schema-system/tasks/013-integrate-into-properties-panel.poml
  projects/ai-json-prompt-schema-system/tasks/014-schema-serialization-sync.poml
  projects/ai-json-prompt-schema-system/tasks/020-choices-reference-resolution.poml
  projects/ai-json-prompt-schema-system/tasks/021-json-schema-generation.poml
  projects/ai-json-prompt-schema-system/tasks/022-structured-output-integration.poml
  projects/ai-json-prompt-schema-system/tasks/023-choices-ui-client.poml
  projects/ai-json-prompt-schema-system/tasks/024-canvas-validation.poml
  projects/ai-json-prompt-schema-system/tasks/025-pre-execution-validation.poml
  projects/ai-json-prompt-schema-system/tasks/026-unit-tests-choices-and-json-schema.poml
  projects/ai-json-prompt-schema-system/tasks/030-builder-tool-definition.poml
  projects/ai-json-prompt-schema-system/tasks/031-builder-tool-executor.poml
  projects/ai-json-prompt-schema-system/tasks/032-builder-system-prompt-update.poml
  projects/ai-json-prompt-schema-system/tasks/033-unit-tests-builder-agent.poml
  projects/ai-json-prompt-schema-system/tasks/040-knowledge-reference-resolution.poml
  projects/ai-json-prompt-schema-system/tasks/041-skill-reference-resolution.poml
  projects/ai-json-prompt-schema-system/tasks/042-prompt-schema-override-merge.poml
  projects/ai-json-prompt-schema-system/tasks/043-schema-template-library.poml
  projects/ai-json-prompt-schema-system/tasks/044-unit-tests-scope-refs-and-override.poml
  projects/ai-json-prompt-schema-system/tasks/090-project-wrap-up.poml
  projects/ai-json-prompt-schema-system/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(workspace): use navigateTo for record dialogs instead of openForm
  src/solutions/LegalWorkspace/src/utils/navigation.ts
Owners: @spaarke-dev

feat(ai): implement JSON Prompt Schema (JPS) system — all 5 phases
  projects/ai-json-prompt-schema-system/README.md
  projects/ai-json-prompt-schema-system/tasks/TASK-INDEX.md
  src/client/code-pages/PlaybookBuilder/src/components/properties/NodePropertiesForm.tsx
  src/client/code-pages/PlaybookBuilder/src/components/properties/PromptSchemaEditor.tsx
  src/client/code-pages/PlaybookBuilder/src/components/properties/PromptSchemaForm.tsx
  src/client/code-pages/PlaybookBuilder/src/components/properties/index.ts
  src/client/code-pages/PlaybookBuilder/src/config/promptSchemaTemplates.ts
  src/client/code-pages/PlaybookBuilder/src/services/canvasValidation.ts
  src/client/code-pages/PlaybookBuilder/src/services/playbookNodeSync.ts
  src/client/code-pages/PlaybookBuilder/src/types/canvas.ts
  src/client/code-pages/PlaybookBuilder/src/types/promptSchema.ts
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderToolCall.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderToolDefinitions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderToolExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/GenericAnalysisHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IOpenAiClient.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Models/PromptSchema.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NodeExecutionContext.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/AiAnalysisNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/OpenAiClient.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PromptSchemaOverrideMerger.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PromptSchemaRenderer.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Prompts/PlaybookBuilderSystemPrompt.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ToolExecutionContext.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ToolFrameworkExtensions.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/PlaybookExecutionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AnalysisOrchestrationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Builder/ConfigurePromptSchemaTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/EmailAnalysisIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/NodeServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/AiAnalysisNodeExecutorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/UpdateRecordNodeExecutorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PromptSchemaOverrideMergerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PromptSchemaRendererTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PromptSchemaTests.cs
Owners: @spaarke-dev, @docs-team

fix(workspace): prevent card click from hijacking interactive children
  src/solutions/LegalWorkspace/src/components/ActivityFeed/FeedItemCard.tsx
Owners: @spaarke-dev

fix(ai): suppress CS0618 obsolete warnings for Release build
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/GenericAnalysisHandler.cs
Owners: @spaarke-dev

style(api): apply dotnet format whitespace fixes for CI
  src/server/api/Sprk.Bff.Api/Api/Events/EventEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Workspace/WorkspaceEndpoints.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/DocumentParserRouter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/GenericAnalysisHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/LlamaParseClient.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PromptSchemaRenderer.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/RagIndexingPipeline.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/FinanceRollupService.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/FinanceSummaryService.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/Tools/FinancialCalculationToolHandler.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/CommunicationIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/RagIndexingPipelineTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/SemanticSearch/SemanticSearchServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Tools/SendCommunicationToolHandlerScenarioTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/ApprovedSenderMergeTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/ApprovedSenderValidatorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/ArchivalFlowTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/AssociationMappingTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/AttachmentValidationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationAccountServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/DataverseRecordCreationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/EmlGenerationServiceTests.cs
Owners: @spaarke-dev

feat(ai): initialize JPS project — spec, plan, 22 task files
  projects/ai-json-prompt-schema-system/CLAUDE.md
  projects/ai-json-prompt-schema-system/README.md
  projects/ai-json-prompt-schema-system/current-task.md
  projects/ai-json-prompt-schema-system/plan.md
  projects/ai-json-prompt-schema-system/spec.md
  projects/ai-json-prompt-schema-system/tasks/001-create-prompt-schema-models.poml
  projects/ai-json-prompt-schema-system/tasks/002-create-prompt-schema-renderer.poml
  projects/ai-json-prompt-schema-system/tasks/003-integrate-renderer-into-handler.poml
  projects/ai-json-prompt-schema-system/tasks/004-di-registration-and-wiring.poml
  projects/ai-json-prompt-schema-system/tasks/005-unit-tests-models-and-format-detection.poml
  projects/ai-json-prompt-schema-system/tasks/006-unit-tests-rendering-pipeline.poml
  projects/ai-json-prompt-schema-system/tasks/010-typescript-prompt-schema-types.poml
  projects/ai-json-prompt-schema-system/tasks/011-prompt-schema-form-component.poml
  projects/ai-json-prompt-schema-system/tasks/012-prompt-schema-editor-component.poml
  projects/ai-json-prompt-schema-system/tasks/013-integrate-into-properties-panel.poml
  projects/ai-json-prompt-schema-system/tasks/014-schema-serialization-sync.poml
  projects/ai-json-prompt-schema-system/tasks/020-choices-reference-resolution.poml
  projects/ai-json-prompt-schema-system/tasks/021-json-schema-generation.poml
  projects/ai-json-prompt-schema-system/tasks/022-structured-output-integration.poml
  projects/ai-json-prompt-schema-system/tasks/023-choices-ui-client.poml
  projects/ai-json-prompt-schema-system/tasks/024-canvas-validation.poml
  projects/ai-json-prompt-schema-system/tasks/025-pre-execution-validation.poml
  projects/ai-json-prompt-schema-system/tasks/026-unit-tests-choices-and-json-schema.poml
  projects/ai-json-prompt-schema-system/tasks/030-builder-tool-definition.poml
  projects/ai-json-prompt-schema-system/tasks/031-builder-tool-executor.poml
  projects/ai-json-prompt-schema-system/tasks/032-builder-system-prompt-update.poml
  projects/ai-json-prompt-schema-system/tasks/033-unit-tests-builder-agent.poml
  projects/ai-json-prompt-schema-system/tasks/040-knowledge-reference-resolution.poml
  projects/ai-json-prompt-schema-system/tasks/041-skill-reference-resolution.poml
  projects/ai-json-prompt-schema-system/tasks/042-prompt-schema-override-merge.poml
  projects/ai-json-prompt-schema-system/tasks/043-schema-template-library.poml
  projects/ai-json-prompt-schema-system/tasks/044-unit-tests-scope-refs-and-override.poml
  projects/ai-json-prompt-schema-system/tasks/090-project-wrap-up.poml
  projects/ai-json-prompt-schema-system/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(ai): implement JSON Prompt Schema (JPS) system — all 5 phases
  projects/ai-json-prompt-schema-system/README.md
  projects/ai-json-prompt-schema-system/tasks/TASK-INDEX.md
  src/client/code-pages/PlaybookBuilder/src/components/properties/NodePropertiesForm.tsx
  src/client/code-pages/PlaybookBuilder/src/components/properties/PromptSchemaEditor.tsx
  src/client/code-pages/PlaybookBuilder/src/components/properties/PromptSchemaForm.tsx
  src/client/code-pages/PlaybookBuilder/src/components/properties/index.ts
  src/client/code-pages/PlaybookBuilder/src/config/promptSchemaTemplates.ts
  src/client/code-pages/PlaybookBuilder/src/services/canvasValidation.ts
  src/client/code-pages/PlaybookBuilder/src/services/playbookNodeSync.ts
  src/client/code-pages/PlaybookBuilder/src/types/canvas.ts
  src/client/code-pages/PlaybookBuilder/src/types/promptSchema.ts
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderToolCall.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderToolDefinitions.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Builder/BuilderToolExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/GenericAnalysisHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IOpenAiClient.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Models/PromptSchema.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/NodeExecutionContext.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/AiAnalysisNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/OpenAiClient.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PlaybookOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PromptSchemaOverrideMerger.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PromptSchemaRenderer.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Prompts/PlaybookBuilderSystemPrompt.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ToolExecutionContext.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ToolFrameworkExtensions.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/PlaybookExecutionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/AnalysisOrchestrationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Builder/ConfigurePromptSchemaTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/EmailAnalysisIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/NodeServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/AiAnalysisNodeExecutorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Nodes/UpdateRecordNodeExecutorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PromptSchemaOverrideMergerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PromptSchemaRendererTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PromptSchemaTests.cs
Owners: @spaarke-dev, @docs-team

fix(ai): suppress CS0618 obsolete warnings for Release build
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/GenericAnalysisHandler.cs
Owners: @spaarke-dev

style(api): apply dotnet format whitespace fixes for CI
  src/server/api/Sprk.Bff.Api/Api/Events/EventEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Workspace/WorkspaceEndpoints.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/DocumentParserRouter.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/GenericAnalysisHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/LlamaParseClient.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PromptSchemaRenderer.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/RagIndexingPipeline.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/FinanceRollupService.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/FinanceSummaryService.cs
  src/server/api/Sprk.Bff.Api/Services/Finance/Tools/FinancialCalculationToolHandler.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/CommunicationIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/RagIndexingPipelineTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/SemanticSearch/SemanticSearchServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Tools/SendCommunicationToolHandlerScenarioTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/ApprovedSenderMergeTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/ApprovedSenderValidatorTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/ArchivalFlowTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/AssociationMappingTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/AttachmentValidationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationAccountServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationServiceTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/DataverseRecordCreationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/EmlGenerationServiceTests.cs
Owners: @spaarke-dev

docs(api): SDAP BFF architecture assessment, design, and platform overview update
  docs/architecture/sdap-overview.md
  projects/ai-spaarke-platform-enhancements-r1/notes/bff-api-architecture-assessment.md
  projects/sdap-bff-api-and-performance-enhancement-r1/design.md
  src/server/api/Sprk.Bff.Api/CLAUDE.md
Owners: @spaarke-dev, @docs-team

feat(workspace): add Documents tab and enhance To Do Detail side pane
  src/solutions/LegalWorkspace/src/components/MyPortfolio/DocumentItem.tsx
  src/solutions/LegalWorkspace/src/components/RecordCards/DocumentCard.tsx
  src/solutions/LegalWorkspace/src/components/RecordCards/DocumentsTab.tsx
  src/solutions/LegalWorkspace/src/components/RecordCards/index.ts
  src/solutions/LegalWorkspace/src/components/SmartToDo/TodoItem.tsx
  src/solutions/LegalWorkspace/src/components/UpdatesTodo/UpdatesTodoSection.tsx
  src/solutions/LegalWorkspace/src/hooks/useDocumentsTabList.ts
  src/solutions/LegalWorkspace/src/services/DataverseService.ts
  src/solutions/LegalWorkspace/src/services/DocumentApiService.ts
  src/solutions/LegalWorkspace/src/services/bffAuthProvider.ts
  src/solutions/LegalWorkspace/src/services/queryHelpers.ts
  src/solutions/LegalWorkspace/src/types/entities.ts
  src/solutions/LegalWorkspace/src/utils/fileIconMap.ts
  src/solutions/TodoDetailSidePane/src/App.tsx
  src/solutions/TodoDetailSidePane/src/components/TodoDetail.tsx
  src/solutions/TodoDetailSidePane/src/services/todoService.ts
  src/solutions/TodoDetailSidePane/src/types/TodoRecord.ts
  src/solutions/TodoDetailSidePane/src/utils/xrmAccess.ts
Owners: @spaarke-dev

feat(workspace): restructure layout to 3-row grid with Quick Summary, inline Kanban dialog, and collapsible columns
  docs/guides/EVENT-TODO-ARCHITECTURE.md
  docs/guides/INDEX.md
  projects/home-corporate-workspace-r1/screenshots/updated-corporate-workspace-mockup.jpg
  src/solutions/LegalWorkspace/src/App.tsx
  src/solutions/LegalWorkspace/src/components/ActivityFeed/ActivityFeed.tsx
  src/solutions/LegalWorkspace/src/components/ActivityFeed/ActivityFeedList.tsx
  src/solutions/LegalWorkspace/src/components/ActivityFeed/FeedItemCard.tsx
  src/solutions/LegalWorkspace/src/components/ActivityFeed/FilterBar.tsx
  src/solutions/LegalWorkspace/src/components/GetStarted/ActionCard.tsx
  src/solutions/LegalWorkspace/src/components/GetStarted/GetStartedExpandDialog.tsx
  src/solutions/LegalWorkspace/src/components/GetStarted/GetStartedRow.tsx
  src/solutions/LegalWorkspace/src/components/GetStarted/index.ts
  src/solutions/LegalWorkspace/src/components/QuickSummary/QuickSummaryMetricCard.tsx
  src/solutions/LegalWorkspace/src/components/QuickSummary/QuickSummaryRow.tsx
  src/solutions/LegalWorkspace/src/components/QuickSummary/index.ts
  src/solutions/LegalWorkspace/src/components/QuickSummary/quickSummaryConfig.ts
  src/solutions/LegalWorkspace/src/components/RecordCards/DocumentsTab.tsx
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
  src/solutions/LegalWorkspace/src/components/SmartToDo/SmartToDo.tsx
  src/solutions/LegalWorkspace/src/components/SummaryPanel/SummaryPanel.tsx
  src/solutions/LegalWorkspace/src/components/SummaryPanel/index.ts
  src/solutions/LegalWorkspace/src/components/UpdatesTodo/UpdatesTodoSection.tsx
  src/solutions/LegalWorkspace/src/components/UpdatesTodo/index.ts
  src/solutions/LegalWorkspace/src/components/shared/KanbanBoard.tsx
  src/solutions/LegalWorkspace/src/hooks/useKanbanColumns.ts
  src/solutions/LegalWorkspace/src/hooks/useQuickSummaryCounts.ts
  src/solutions/LegalWorkspace/src/services/DataverseService.ts
  src/solutions/LegalWorkspace/src/services/xrmProvider.ts
  src/solutions/LegalWorkspace/src/types/entities.ts
  src/solutions/LegalWorkspace/src/utils/navigation.ts
  src/solutions/TodoDetailSidePane/src/App.tsx
  src/solutions/TodoDetailSidePane/src/components/TodoDetail.tsx
  src/solutions/TodoDetailSidePane/src/services/todoService.ts
  src/solutions/TodoDetailSidePane/src/types/TodoRecord.ts
  src/solutions/TodoDetailSidePane/src/utils/xrmAccess.ts
Owners: @spaarke-dev, @docs-team

feat(workspace): add toolbars, Playbook Library, score colors, badges, and remove scrollbars
  src/solutions/LegalWorkspace/src/components/ActivityFeed/ActivityFeedList.tsx
  src/solutions/LegalWorkspace/src/components/ActivityFeed/FeedItemCard.tsx
  src/solutions/LegalWorkspace/src/components/GetStarted/GetStartedExpandDialog.tsx
  src/solutions/LegalWorkspace/src/components/GetStarted/GetStartedRow.tsx
  src/solutions/LegalWorkspace/src/components/QuickSummary/QuickSummaryDashboardDialog.tsx
  src/solutions/LegalWorkspace/src/components/QuickSummary/QuickSummaryMetricCard.tsx
  src/solutions/LegalWorkspace/src/components/QuickSummary/QuickSummaryRow.tsx
  src/solutions/LegalWorkspace/src/components/QuickSummary/quickSummaryConfig.ts
  src/solutions/LegalWorkspace/src/components/RecordCards/RecordCardList.tsx
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
  src/solutions/LegalWorkspace/src/components/SmartToDo/KanbanCard.tsx
  src/solutions/LegalWorkspace/src/components/shared/KanbanBoard.tsx
  src/solutions/LegalWorkspace/src/hooks/useQuickSummaryCounts.ts
Owners: @spaarke-dev

fix(workspace): use navigateTo for record dialogs instead of openForm
  src/solutions/LegalWorkspace/src/utils/navigation.ts
Owners: @spaarke-dev

fix(workspace): prevent card click from hijacking interactive children
  src/solutions/LegalWorkspace/src/components/ActivityFeed/FeedItemCard.tsx
Owners: @spaarke-dev

feat(ai): convert 8 action prompts to JPS format
  projects/ai-json-prompt-schema-system/notes/jps-conversions/ACT-001.json
  projects/ai-json-prompt-schema-system/notes/jps-conversions/ACT-002.json
  projects/ai-json-prompt-schema-system/notes/jps-conversions/ACT-003.json
  projects/ai-json-prompt-schema-system/notes/jps-conversions/ACT-004.json
  projects/ai-json-prompt-schema-system/notes/jps-conversions/ACT-005.json
  projects/ai-json-prompt-schema-system/notes/jps-conversions/ACT-006.json
  projects/ai-json-prompt-schema-system/notes/jps-conversions/ACT-007.json
  projects/ai-json-prompt-schema-system/notes/jps-conversions/ACT-008.json
Owners: @spaarke-dev

feat(workspace): initialize wizard-shell-extraction project
  projects/home-corporate-workspace-r1/wizard-shell-extraction/CLAUDE.md
  projects/home-corporate-workspace-r1/wizard-shell-extraction/README.md
  projects/home-corporate-workspace-r1/wizard-shell-extraction/current-task.md
  projects/home-corporate-workspace-r1/wizard-shell-extraction/plan.md
  projects/home-corporate-workspace-r1/wizard-shell-extraction/spec.md
  projects/home-corporate-workspace-r1/wizard-shell-extraction/tasks/001-create-wizard-shell-types.poml
  projects/home-corporate-workspace-r1/wizard-shell-extraction/tasks/002-create-wizard-shell-reducer.poml
  projects/home-corporate-workspace-r1/wizard-shell-extraction/tasks/003-create-wizard-success-screen.poml
  projects/home-corporate-workspace-r1/wizard-shell-extraction/tasks/004-create-wizard-shell-component.poml
  projects/home-corporate-workspace-r1/wizard-shell-extraction/tasks/005-create-barrel-exports.poml
  projects/home-corporate-workspace-r1/wizard-shell-extraction/tasks/010-refactor-create-matter-wizard.poml
  projects/home-corporate-workspace-r1/wizard-shell-extraction/tasks/011-cleanup-wizard-types.poml
  projects/home-corporate-workspace-r1/wizard-shell-extraction/tasks/012-delete-success-confirmation.poml
  projects/home-corporate-workspace-r1/wizard-shell-extraction/tasks/020-update-pattern-docs.poml
  projects/home-corporate-workspace-r1/wizard-shell-extraction/tasks/021-update-architecture-docs.poml
  projects/home-corporate-workspace-r1/wizard-shell-extraction/tasks/030-build-and-verify.poml
  projects/home-corporate-workspace-r1/wizard-shell-extraction/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(ai): map JPS structured output fields to Document Profile storage
  projects/ai-json-prompt-schema-system/notes/jps-conversions/document-profiler.json
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/DocumentProfileFieldMapper.cs
Owners: @spaarke-dev

feat(workspace): extract reusable WizardShell from CreateMatter dialog
  .claude/patterns/webresource/custom-dialogs-in-dataverse.md
  docs/architecture/SPAARKE-UX-MANAGEMENT.md
  src/solutions/LegalWorkspace/src/components/CreateMatter/SuccessConfirmation.tsx
  src/solutions/LegalWorkspace/src/components/CreateMatter/WizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateMatter/index.ts
  src/solutions/LegalWorkspace/src/components/CreateMatter/wizardTypes.ts
  src/solutions/LegalWorkspace/src/components/Wizard/WizardShell.tsx
  src/solutions/LegalWorkspace/src/components/Wizard/WizardSuccessScreen.tsx
  src/solutions/LegalWorkspace/src/components/Wizard/index.ts
  src/solutions/LegalWorkspace/src/components/Wizard/wizardShellReducer.ts
  src/solutions/LegalWorkspace/src/components/Wizard/wizardShellTypes.ts
Owners: @spaarke-dev, @docs-team

fix(dataverse): log PATCH error body for UpdateRecordFieldsAsync
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
Owners: @spaarke-dev

feat(workspace): add Create New Project wizard using WizardShell
  src/solutions/LegalWorkspace/src/components/CreateProject/CreateProjectStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateProject/ProjectWizardDialog.tsx
  src/solutions/LegalWorkspace/src/components/CreateProject/projectFormTypes.ts
  src/solutions/LegalWorkspace/src/components/CreateProject/projectService.ts
  src/solutions/LegalWorkspace/src/components/Shell/WorkspaceGrid.tsx
Owners: @spaarke-dev

feat(ai): SprkChat side pane activation, MSAL auth, and AI project designs
  docs/architecture/INDEX.md
  docs/architecture/SIDE-PANE-PLATFORM-ARCHITECTURE.md
  projects/ai-analysis-workspace-tool-embedding-r1/design.md
  projects/ai-sprk-chat-context-awareness-r1/design.md
  projects/ai-sprk-chat-extensibility-r1/design.md
  projects/ai-trigger-configuration-method/design.md
  projects/sprkchat-llm-agent-activation/WORKSTREAM.md
  src/client/code-pages/SprkChatPane/launcher/openSprkChatPane.ts
  src/client/code-pages/SprkChatPane/package-lock.json
  src/client/code-pages/SprkChatPane/package.json
  src/client/code-pages/SprkChatPane/src/config/msalConfig.ts
  src/client/code-pages/SprkChatPane/src/services/authService.ts
  src/client/code-pages/SprkChatPane/src/services/contextService.ts
  src/client/shared/Spaarke.UI.Components/src/services/index.ts
  src/client/side-pane-manager/SidePaneManager.ts
  src/client/side-pane-manager/tsconfig.json
  src/client/side-pane-manager/types.ts
Owners: @spaarke-dev, @docs-team

Align document-profiler JPS with actual Dataverse column names
  projects/ai-json-prompt-schema-system/notes/jps-conversions/document-profiler.json
Owners: @spaarke-dev

feat(jps): initialize jps-server-rollout project
  projects/jps-server-rollout/CLAUDE.md
  projects/jps-server-rollout/README.md
  projects/jps-server-rollout/current-task.md
  projects/jps-server-rollout/plan.md
  projects/jps-server-rollout/spec.md
  projects/jps-server-rollout/tasks/001-implement-resolve-scopes-async.poml
  projects/jps-server-rollout/tasks/002-unit-tests-resolve-scopes.poml
  projects/jps-server-rollout/tasks/003-verify-orchestration-scope-flow.poml
  projects/jps-server-rollout/tasks/010-create-jps-ref-resolver.poml
  projects/jps-server-rollout/tasks/011-add-name-based-scope-lookups.poml
  projects/jps-server-rollout/tasks/012-extend-tool-execution-context.poml
  projects/jps-server-rollout/tasks/013-wire-ref-resolution-in-executor.poml
  projects/jps-server-rollout/tasks/014-wire-handler-resolved-refs.poml
  projects/jps-server-rollout/tasks/015-unit-tests-jps-ref-resolver.poml
  projects/jps-server-rollout/tasks/016-integration-test-ref-resolution.poml
  projects/jps-server-rollout/tasks/020-extract-template-parameters.poml
  projects/jps-server-rollout/tasks/021-add-template-params-to-context.poml
  projects/jps-server-rollout/tasks/022-wire-handler-template-params.poml
  projects/jps-server-rollout/tasks/023-verify-template-substitution.poml
  projects/jps-server-rollout/tasks/030-migrate-clause-analyzer.poml
  projects/jps-server-rollout/tasks/031-migrate-date-extractor.poml
  projects/jps-server-rollout/tasks/032-migrate-entity-extractor.poml
  projects/jps-server-rollout/tasks/033-migrate-risk-detector.poml
  projects/jps-server-rollout/tasks/034-migrate-financial-calculator.poml
  projects/jps-server-rollout/tasks/035-convert-document-classifier.poml
  projects/jps-server-rollout/tasks/036-convert-summary-handler.poml
  projects/jps-server-rollout/tasks/037-convert-semantic-search.poml
  projects/jps-server-rollout/tasks/038-convert-clause-comparison.poml
  projects/jps-server-rollout/tasks/050-create-jps-seeding-script.poml
  projects/jps-server-rollout/tasks/051-integration-test-full-pipeline.poml
  projects/jps-server-rollout/tasks/052-test-choices-resolution.poml
  projects/jps-server-rollout/tasks/053-test-override-merge.poml
  projects/jps-server-rollout/tasks/054-backward-compatibility.poml
  projects/jps-server-rollout/tasks/055-documentation-update.poml
  projects/jps-server-rollout/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(jps): complete Phases 1-3 — scope resolution, $ref resolution, template params
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/GenericAnalysisHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/IScopeResolverService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/JpsRefResolver.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Nodes/AiAnalysisNodeExecutor.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/PromptSchemaRenderer.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ScopeResolverService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ToolExecutionContext.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/JpsRefResolutionIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/JpsRefResolverTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/PromptSchemaRendererTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ScopeResolverServiceTests.cs
Owners: @spaarke-dev

feat(jps): Phase 4 — migrate 9 handlers to JPS dual-path
  projects/ai-json-prompt-schema-system/notes/jps-conversions/clause-analyzer.json
  projects/ai-json-prompt-schema-system/notes/jps-conversions/date-extractor.json
  projects/ai-json-prompt-schema-system/notes/jps-conversions/document-classifier.json
  projects/ai-json-prompt-schema-system/notes/jps-conversions/entity-extractor.json
  projects/ai-json-prompt-schema-system/notes/jps-conversions/financial-calculator.json
  projects/ai-json-prompt-schema-system/notes/jps-conversions/risk-detector.json
  projects/jps-server-rollout/notes/jps-conversions/clause-comparison.json
  projects/jps-server-rollout/notes/jps-conversions/semantic-search.json
  projects/jps-server-rollout/notes/jps-conversions/summary-handler.json
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/ClauseAnalyzerHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/ClauseComparisonHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/DateExtractorHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/DocumentClassifierHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/EntityExtractorHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/FinancialCalculatorHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/RiskDetectorHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/SemanticSearchToolHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Tools/SummaryHandler.cs
Owners: @spaarke-dev

feat(jps): Phase 5 — E2E validation, seeding script, 217 tests passing
  scripts/Seed-JpsActions.ps1
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/BackwardCompatibilityTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ChoicesResolutionTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ClauseAnalyzerHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/ClauseComparisonHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/DateExtractorHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/DocumentClassifierHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/EntityExtractorHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/FinancialCalculatorHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/JpsPipelineIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/OverrideMergeTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/RiskDetectorHandlerTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/SummaryHandlerTests.cs
Owners: @spaarke-dev, @devops-team

docs(jps): complete project — AI architecture guide, JPS authoring guide, project wrap-up
  docs/guides/JPS-AUTHORING-GUIDE.md
  docs/guides/SPAARKE-AI-ARCHITECTURE.md
  projects/jps-server-rollout/README.md
  projects/jps-server-rollout/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(jps): JPS comprehensive guide + 3 Claude Code skills for JPS authoring
  .claude/skills/INDEX.md
  .claude/skills/jps-action-create/SKILL.md
  .claude/skills/jps-playbook-design/SKILL.md
  .claude/skills/jps-validate/SKILL.md
  docs/guides/JPS-COMPREHENSIVE-GUIDE.md
Owners: @spaarke-dev, @docs-team

docs: add JPS skill triggers and slash commands to CLAUDE.md
  CLAUDE.md
Owners: @spaarke-dev

feat(ai-r3): initialize AI Resource Activation & Integration project
  projects/ai-spaarke-platform-enhancments-r3/CLAUDE.md
  projects/ai-spaarke-platform-enhancments-r3/README.md
  projects/ai-spaarke-platform-enhancments-r3/current-task.md
  projects/ai-spaarke-platform-enhancments-r3/design.md
  projects/ai-spaarke-platform-enhancments-r3/plan.md
  projects/ai-spaarke-platform-enhancments-r3/post-deployment-work.md
  projects/ai-spaarke-platform-enhancments-r3/spec.md
  projects/ai-spaarke-platform-enhancments-r3/tasks/001-create-golden-reference-index.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/002-remove-deprecated-indexes.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/003-populate-records-index.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/004-validate-discovery-index-dual-write.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/005-validate-invoice-index.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/010-deploy-knowledge-source-records.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/011-build-reference-indexing-service.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/012-index-knowledge-sources.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/013-wire-reference-retrieval-into-rag-service.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/020-wire-l1-knowledge-retrieval-into-execution.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/021-configurable-knowledge-retrieval.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/022-wire-l2-customer-document-context.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/023-wire-l3-entity-context.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/024-knowledge-retrieval-caching.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/030-verify-deploy-azure-openai-models.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/031-fix-hardcoded-model-selection.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/032-document-model-selection-guidelines.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/033-add-model-selection-to-playbook-builder.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/040-document-embedding-strategy.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/041-cleanup-legacy-vector-fields.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/042-document-embedding-change-protocol.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/050-deploy-bff-api-with-knowledge-augmentation.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/090-project-wrap-up.poml
  projects/ai-spaarke-platform-enhancments-r3/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(jps): correct Document Profiler name in seeding script
  scripts/Seed-JpsActions.ps1
Owners: @spaarke-dev, @devops-team

feat(playbook-launcher): initialize project and fix Create New Project handler
  projects/playbook-analysis-launcher-page-r1/CLAUDE.md
  projects/playbook-analysis-launcher-page-r1/README.md
  projects/playbook-analysis-launcher-page-r1/current-task.md
  projects/playbook-analysis-launcher-page-r1/plan.md
  projects/playbook-analysis-launcher-page-r1/spec.md
  projects/playbook-analysis-launcher-page-r1/tasks/001-playbook-types-and-interfaces.poml
  projects/playbook-analysis-launcher-page-r1/tasks/002-playbook-service.poml
  projects/playbook-analysis-launcher-page-r1/tasks/003-analysis-service.poml
  projects/playbook-analysis-launcher-page-r1/tasks/004-playbook-card-grid.poml
  projects/playbook-analysis-launcher-page-r1/tasks/005-scope-list-component.poml
  projects/playbook-analysis-launcher-page-r1/tasks/006-scope-configurator.poml
  projects/playbook-analysis-launcher-page-r1/tasks/007-document-upload-step.poml
  projects/playbook-analysis-launcher-page-r1/tasks/008-followup-actions-step.poml
  projects/playbook-analysis-launcher-page-r1/tasks/009-library-barrel-export.poml
  projects/playbook-analysis-launcher-page-r1/tasks/020-analysis-builder-code-page-scaffold.poml
  projects/playbook-analysis-launcher-page-r1/tasks/021-analysis-builder-app.poml
  projects/playbook-analysis-launcher-page-r1/tasks/022-analysis-builder-build-verify.poml
  projects/playbook-analysis-launcher-page-r1/tasks/024-update-command-bar-script.poml
  projects/playbook-analysis-launcher-page-r1/tasks/030-quickstart-wizard-dialog.poml
  projects/playbook-analysis-launcher-page-r1/tasks/031-quickstart-config.poml
  projects/playbook-analysis-launcher-page-r1/tasks/032-update-action-card-handlers.poml
  projects/playbook-analysis-launcher-page-r1/tasks/033-wire-workspace-grid.poml
  projects/playbook-analysis-launcher-page-r1/tasks/034-workspace-rebuild-verify.poml
  projects/playbook-analysis-launcher-page-r1/tasks/040-e2e-analysis-builder.poml
  projects/playbook-analysis-launcher-page-r1/tasks/041-e2e-quickstart-wizards.poml
  projects/playbook-analysis-launcher-page-r1/tasks/042-dark-mode-verification.poml
  projects/playbook-analysis-launcher-page-r1/tasks/043-portability-check.poml
  projects/playbook-analysis-launcher-page-r1/tasks/044-edge-case-testing.poml
  projects/playbook-analysis-launcher-page-r1/tasks/050-deploy-analysis-builder.poml
  projects/playbook-analysis-launcher-page-r1/tasks/051-deploy-workspace.poml
  projects/playbook-analysis-launcher-page-r1/tasks/054-retire-analysis-builder-pcf.poml
  projects/playbook-analysis-launcher-page-r1/tasks/090-project-wrap-up.poml
  projects/playbook-analysis-launcher-page-r1/tasks/TASK-INDEX.md
  src/solutions/LegalWorkspace/src/components/GetStarted/ActionCardHandlers.ts
Owners: @spaarke-dev, @docs-team

feat(ai-r3): Wave 2 complete — reference retrieval, model selection docs + UI
  docs/guides/AI-MODEL-SELECTION-GUIDE.md
  projects/ai-spaarke-platform-enhancments-r3/tasks/TASK-INDEX.md
  src/client/code-pages/PlaybookBuilder/src/components/properties/ModelSelector.tsx
  src/client/pcf/PlaybookBuilderHost/control/components/Properties/ModelSelector.tsx
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiModule.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/ReferenceSearchResult.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ReferenceRetrievalService.cs
Owners: @spaarke-dev, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
