Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

PRQ-09: PRQ-S-02 distinguish 200 / 403 / other (proper HTTP status parsing) — re-land after index race
  scripts/provisioning-prereqs/prereqs.yaml
Owners: @spaarke-dev, @devops-team

PRQ-10: amend task 206 POML — assertion-recompute scope + effort bump
  projects/customer-provisioning-orchestration-r1/tasks/206-prereqs-yaml-recipe-contract-remediation.poml
Owners: @spaarke-dev

fix(l2): HANDLER-09 live impl replaces Wave-2 scaffold — F15 + F18
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/ArmOperatorKvRbacBootstrapper.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/KvSecretsPopulation/IOperatorKvRbacBootstrapper.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/ArmOperatorKvRbacBootstrapperTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H4KvSecretsPopulationHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H4SharedKvSecretsPopulationHandlerTests.cs
Owners: @spaarke-dev

PRQ-11: amend task 207 POML — enumerate 4 $var bash-expansion sites + add criterion 6
  projects/customer-provisioning-orchestration-r1/tasks/207-prereqs-yaml-placeholder-substitution-remediation.poml
Owners: @spaarke-dev

fix(l2): HANDLER-07 live impl replaces Wave-2 scaffold — F13 verbatim
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/SolutionImport/PacRequiredApplicationsInstaller.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H6SolutionImportHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/PacRequiredApplicationsInstallerTests.cs
Owners: @spaarke-dev

fix(skill): SESSION 15 Wave 4 batch A — SKILL-01 tenant-ID + SKILL-09 identifier URI
  .claude/skills/provision-environment/SKILL.md
Owners: @spaarke-dev

fix(skill): SESSION 15 Wave 4 batch B — Steps 2/4/5/6 state machine + gate/poll contracts
  .claude/skills/provision-environment/SKILL.md
Owners: @spaarke-dev

fix(skill): SESSION 15 Wave 4 batch C — Steps 2/3/4 architectural rewrite + SKILL-13 handler count
  .claude/skills/provision-environment/SKILL.md
Owners: @spaarke-dev

fix(skill): SESSION 15 Wave 4 batch D — Step 6a REG-04/SKILL-14/EXEC-08/COMP-08 (registry update hardening)
  .claude/skills/provision-environment/SKILL.md
Owners: @spaarke-dev

fix(skill): SESSION 15 Wave 4 batch E — SKILL-02 (Step 1a alt-key probe) + PRQ-05 SKILL side (Step 1f verification)
  .claude/skills/provision-environment/SKILL.md
Owners: @spaarke-dev

fix(skill): SESSION 15 Wave 4 batch F — SKILL-08 + PLX-01..14 + PRQ-06 Step 0.5b substitution chain
  .claude/skills/provision-environment/SKILL.md
  scripts/provisioning-prereqs/spaarke-constants.yaml
Owners: @spaarke-dev, @devops-team

fix(skill): SESSION 15 Wave 4 batch G — COMP-04 + COMP-15 + PLX-12 (Step 0f L2 probe, 0a batch contract, 6b handoff substitution)
  .claude/skills/provision-environment/SKILL.md
Owners: @spaarke-dev

docs(provisioning): SESSION 15 checkpoint — Wave 4 complete, Wave 5-8 subagent workflow running
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

fix(provisioning): BAT-10 — add 8 batch-policy fields to intake.schema.json
  scripts/provisioning-prereqs/intake.schema.json
Owners: @spaarke-dev, @devops-team

fix(provisioning): ISH-07 — remove vestigial operatorUpn from trial1 fixture
  runs/trial1-intake.json
Owners: @spaarke-dev

test(provisioning): EXEC-09 — Model1Shared vs Model2Dedicated DAG parity net
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Reconciler/Model1SharedDagParityTests.cs
Owners: @spaarke-dev

fix(provisioning): ISH-02 — require subscriptionId for Model 2 CreateRun + intake schema
  scripts/provisioning-prereqs/intake.schema.json
  src/server/services/Sprk.Provisioning.ControlPlane.Api/Api/RunsEndpoints.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Api/RunsEndpointsTests.cs
Owners: @spaarke-dev, @devops-team

fix(provisioning): ISH-11 — enforce tenancyModel × profile invariant in CreateRun
  src/server/services/Sprk.Provisioning.ControlPlane.Api/Api/RunsEndpoints.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Api/RunsEndpointsTests.cs
Owners: @spaarke-dev

fix(provisioning): ISH-08 — H2a OpenAiLocation override + wire to ARM deploy params
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/ArmDeploymentRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/H2aBicepInfraDeployHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/BicepInfraDeploy/IBicepDeployRunner.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H2aBicepInfraDeployHandlerTests.cs
Owners: @spaarke-dev

fix(l2-enqueue): COMP-09 — envelope body size guard before SB SendMessageAsync
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Enqueue/ServiceBusHandlerEnqueuer.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Modules/ServiceBusModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Enqueue/ServiceBusEnvelopeSizeGuardTests.cs
Owners: @spaarke-dev

docs(provisioning): ISH-09 — companion context-defaults.{dev,prod}.json + validate.ps1 cross-check
  scripts/provisioning-prereqs/context-defaults.dev.json
  scripts/provisioning-prereqs/context-defaults.prod.json
  scripts/provisioning-prereqs/validate.ps1
Owners: @spaarke-dev, @devops-team

chore(prereqs): COMP-02 + COMP-09 — PRQ-S-15 egress probe + PRQ-S-16 SB tier/DLQ probe
  scripts/provisioning-prereqs/prereqs.yaml
Owners: @spaarke-dev, @devops-team

docs(procedures): COMP-01/03/05/06/07/10/11/13 — completeness-sweep runbook
  docs/procedures/provisioning-completeness-sweeps-2026-08-27.md
Owners: @spaarke-dev, @docs-team

docs(provisioning): SESSION 15 END — handoff for next-session main-session pass
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

fix(ci): key router concurrency on sha for master, stopping spurious red Routers
  .github/workflows/ci-router.yml
Owners: @spaarke-dev, @devops-team

fix(uac-r2): repair a SEMANTIC merge conflict master brought in — build, not text
  tests/integration/auth/UnifiedAccessControl/CallerObjectIdResolutionTests.cs
Owners: @spaarke-dev

docs(pcf): retract the MatterHeaderPcf rebuild recommendation; close OOB-delta decisions
  projects/record-header-and-notepad-r2/current-task.md
  projects/record-header-and-notepad-r2/notes/issues/ISSUE-lookup-picker-ux-side-pane.md
  projects/record-header-and-notepad-r2/tasks/002-capture-matter-parity-baseline.poml
  projects/record-header-and-notepad-r2/tasks/080-migrate-matter-header.poml
Owners: @spaarke-dev

feat(skill): SESSION 16 — SKILL.md batch-mode + Step-0/2/4 wiring (12 items)
  .claude/skills/provision-environment/SKILL.md
  projects/customer-provisioning-orchestration-r1/current-task.md
Owners: @spaarke-dev

docs(spe-admin 052): measured recycle-bin semantics — restore and delete fail in opposite ways
  projects/sdap-SPE-admin-app-r2/current-task.md
  projects/sdap-SPE-admin-app-r2/notes/task-052-findings.md
Owners: @spaarke-dev

docs(pcf): verified Phase 5 form-binding cheat sheet
  projects/record-header-and-notepad-r2/current-task.md
  projects/record-header-and-notepad-r2/notes/rollout-form-binding-cheatsheet.md
Owners: @spaarke-dev

fix(uac-r2)!: our OWN search filters resolved `sub`, not `oid` — deny-everyone
  src/server/api/Sprk.Bff.Api/Api/Filters/RecordSearchAuthorizationFilter.cs
  src/server/api/Sprk.Bff.Api/Api/Filters/SemanticSearchAuthorizationFilter.cs
Owners: @spaarke-dev

ci: make Tier 2 able to report failure, and arm the new guard in Tier 1
  .github/workflows/ci-tier1-blocking.yml
  .github/workflows/ci-tier2-advisory.yml
Owners: @spaarke-dev, @devops-team

test(uac-r2): make the auth fixture discriminating — and PROVE it still is not enough
  tests/integration/auth/UnifiedAccessControl/DocumentDestroyAuthorizationTestFixture.cs
Owners: @spaarke-dev

checkpoint(uac-r2): master merged, two live defects fixed — handoff before tranche 1
  projects/unified-access-control-r2/current-task.md
Owners: @spaarke-dev

ci: add read-only shadow-window progress script
  projects/ci-cd-unit-test-remediation-r1/notes/HANDOFF-2026-08-27-ci-remediation.md
  scripts/ci/shadow-window-status.ps1
Owners: @spaarke-dev, @devops-team

checkpoint: handoff while the owner binds the Phase 5 forms
  projects/record-header-and-notepad-r2/current-task.md
Owners: @spaarke-dev

docs(uac-r2 076): rewrite to option (C) — the record-keyed upload contract
  projects/unified-access-control-r2/tasks/076-route-callsites-through-resolver.poml
  projects/unified-access-control-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev

fix(archtests): make the Cosmos secret guard actually run in CI
  tests/Spaarke.ArchTests/Spaarke.ArchTests.csproj
Owners: @spaarke-dev

checkpoint(spe-admin): context handoff — 050/051 shipped, 052 discovery done, next action recorded
  projects/sdap-SPE-admin-app-r2/current-task.md
Owners: @spaarke-dev

feat(l2): SESSION 17 — 3 pre-dispatch code closeouts (COMP-03/06/10)
  scripts/provisioning-prereqs/intake.schema.json
  src/server/services/Sprk.Provisioning.ControlPlane.Api/Api/RunsEndpoints.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/Preflight/H0Options.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Handlers/Preflight/H0PreflightHandler.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Modules/HandlersModule.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Core/Rollback/QuarantineClearService.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Api/IntakeSchemaProfileParityTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Api/RunsEndpointsTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Handlers/H0PreflightHandlerTests.cs
  src/server/services/Sprk.Provisioning.ControlPlane.Tests/Rollback/QuarantineClearServiceTests.cs
Owners: @spaarke-dev, @devops-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
