Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

task(quality): resolve auth-map confirmation items A (BFF secret owner) + #3 (CI) from repo
  projects/code-quality-and-assurance-r3/tasks/060-drop-vestigial-dataverse-s2s-appreg.poml
Owners: @spaarke-dev

task(quality): resolve auth-map item B + record dev-vault KV hygiene drift
  projects/code-quality-and-assurance-r3/notes/bff-auth-surface-map.md
Owners: @spaarke-dev

docs(dotnet-10-upgrade-r1): net10 bff-deploy skill + slot-swap runbook (task 042)
  .claude/skills/bff-deploy/SKILL.md
  projects/dotnet-10-upgrade-r1/notes/slot-swap-runbook.md
  projects/dotnet-10-upgrade-r1/tasks/042-bff-deploy-skill-and-runbook.poml
  projects/dotnet-10-upgrade-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

task(quality): add resource/secret naming standardization for productization (r3 standard+gate; r1 applies)
  projects/code-quality-and-assurance-r3/README.md
  projects/code-quality-and-assurance-r3/notes/deployment-refactors-assessment-2026-08-12.md
  projects/code-quality-and-assurance-r3/plan.md
  projects/code-quality-and-assurance-r3/spec.md
  projects/code-quality-and-assurance-r3/tasks/017-assess-config-deployment.poml
  projects/code-quality-and-assurance-r3/tasks/042-ci-gates.poml
  projects/code-quality-and-assurance-r3/tasks/063-resource-naming-standard-and-gate.poml
  projects/code-quality-and-assurance-r3/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

checkpoint(dotnet-10-upgrade-r1): P3+P4 complete (031/032/040/041/042); P5 operator-gated
  projects/dotnet-10-upgrade-r1/current-task.md
Owners: @spaarke-dev

docs(dotnet-10-upgrade-r1): 050 env evidence + 051 cutover coordination plan
  projects/dotnet-10-upgrade-r1/notes/050-env-evidence.md
  projects/dotnet-10-upgrade-r1/notes/051-coordination.md
Owners: @spaarke-dev

fix(communication): .eml archive + attachment docs use sprk_relatedcommunication (was sprk_communication)
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/EmailDraftToolHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/CommunicationService.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/IncomingCommunicationProcessor.cs
  src/server/api/Sprk.Bff.Api/Services/Communication/MessageAttachmentMaterializer.cs
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiService.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/CommunicationServiceArchiveEmbedTests.cs
Owners: @spaarke-dev

docs(email-intelligence-r2): mark .eml archive defect RESOLVED + verified live
  projects/email-communication-intelligence-r2/notes/DEFECT-eml-archive-communication-lookup.md
Owners: @spaarke-dev

docs(dotnet-10-upgrade-r1): 051 operator runbook + turnkey Phase-1 slot deploy helper
  projects/dotnet-10-upgrade-r1/notes/051-operator-runbook.md
  projects/dotnet-10-upgrade-r1/notes/deploy-net10-slot-phase1.ps1
Owners: @spaarke-dev

fix(dotnet-10-upgrade-r1): escaped-quote for DOTNETCORE|10.0 in pwsh (az.cmd pipe re-parse)
  projects/dotnet-10-upgrade-r1/notes/051-operator-runbook.md
  projects/dotnet-10-upgrade-r1/notes/deploy-net10-slot-phase1.ps1
Owners: @spaarke-dev

test(dotnet-10-upgrade-r1): 051 Phase-1 slot smoke GO — net10 runs on Azure; KV-identity was the blocker
  projects/dotnet-10-upgrade-r1/notes/051-operator-runbook.md
  projects/dotnet-10-upgrade-r1/notes/051-smoke-result.md
  projects/dotnet-10-upgrade-r1/notes/deploy-net10-slot-phase1.ps1
Owners: @spaarke-dev

docs(dotnet-10-upgrade-r1): cutover process + worktree reactivation guide (4-5 worktrees)
  projects/dotnet-10-upgrade-r1/notes/cutover-and-worktree-migration.md
Owners: @spaarke-dev

feat(side-pane-nav-history): Path B spike GO + framework foundation (001,010,011,020)
  projects/spaarke-side-pane-navigation-history-r1/current-task.md
  projects/spaarke-side-pane-navigation-history-r1/notes/task-001-spike-report.md
  projects/spaarke-side-pane-navigation-history-r1/notes/task-010-deviations.md
  projects/spaarke-side-pane-navigation-history-r1/notes/task-011-sprksidepanehost-decisions.md
  projects/spaarke-side-pane-navigation-history-r1/notes/task-020-sprk-navitem-schema-decisions.md
  projects/spaarke-side-pane-navigation-history-r1/spike/Deploy-SidePaneSpike.ps1
  projects/spaarke-side-pane-navigation-history-r1/spike/sprk_application_ribbon_sidepanespike.xml
  projects/spaarke-side-pane-navigation-history-r1/spike/sprk_sidepanespike.html
  projects/spaarke-side-pane-navigation-history-r1/spike/sprk_sidepanespikebootstrap.js
  projects/spaarke-side-pane-navigation-history-r1/tasks/001-spike-path-b-bootstrap.poml
  projects/spaarke-side-pane-navigation-history-r1/tasks/010-widen-xrmcontext-typings.poml
  projects/spaarke-side-pane-navigation-history-r1/tasks/011-sprksidepanehost-registry.poml
  projects/spaarke-side-pane-navigation-history-r1/tasks/020-sprk-navitem-schema.poml
  projects/spaarke-side-pane-navigation-history-r1/tasks/TASK-INDEX.md
  scripts/Deploy-SprkNavItemEntity.ps1
  src/client/shared/Spaarke.UI.Components/src/components/DataGrid/sidePane/DataGridSidePaneOrchestrator.ts
  src/client/shared/Spaarke.UI.Components/src/components/SidePane/SprkSidePaneHost.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SidePane/__tests__/SprkSidePaneHost.test.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SidePane/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/SidePane/sidePaneRegistry.ts
  src/client/shared/Spaarke.UI.Components/src/utils/__tests__/xrmContext.test.ts
  src/client/shared/Spaarke.UI.Components/src/utils/xrmContext.ts
  src/solutions/SpaarkeCore/entities/sprk_navitem/entity-schema.md
Owners: @spaarke-dev, @devops-team

chore(dotnet-10-upgrade-r1): researcher memory — Flex Consumption net10 finding (task 041)
  .claude/agent-memory/researcher/MEMORY.md
  .claude/agent-memory/researcher/functions-flex-consumption-net10-2026-08-13.md
Owners: @spaarke-dev

checkpoint(dotnet-10-upgrade-r1): branch updated w/ master (behind 0), full net10 suite GREEN — cutover-ready
  projects/dotnet-10-upgrade-r1/current-task.md
  projects/dotnet-10-upgrade-r1/notes/post-merge-test-run.txt
Owners: @spaarke-dev

checkpoint(email-intelligence-r2): UAT fix plan + current state (context-handoff)
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

fix(email-intelligence-r2): UAT Fix #1 — grid config selects provenance + regarding denorm
  scripts/seed-reconciliation-gridconfig.ps1
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationGrid/needs-review.gridconfiguration.json
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationGrid/per-team.gridconfiguration.json
Owners: @spaarke-dev, @devops-team

fix(email-intelligence-r2): UAT Fix #4 — seed missing email-intelligence AI catalog (triage/propose/create-task)
  projects/email-communication-intelligence-r2/notes/DEFECT-triage-not-populating-root-cause.md
  scripts/seed-email-intelligence-actions.ps1
Owners: @spaarke-dev, @devops-team

docs(email-intelligence-r2): checkpoint — UAT Fix #1 + #4 complete; next is Fix #2
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

fix(email-intelligence-r2): UAT Fix #2 — render EmailConnectionsReview INLINE in reconciliation browse tab
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationWorkspace/ReconciliationWorkspace.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationWorkspace/__tests__/ReconciliationWorkspace.test.tsx
Owners: @spaarke-dev

feat(side-pane-nav-history): Wave C — capture engine + NavigatorPane shell + entity deploy (021,030,040)
  projects/spaarke-side-pane-navigation-history-r1/current-task.md
  projects/spaarke-side-pane-navigation-history-r1/notes/task-021-deploy-result.md
  projects/spaarke-side-pane-navigation-history-r1/notes/task-030-capture-decisions.md
  projects/spaarke-side-pane-navigation-history-r1/notes/task-040-navigatorpane-deviations.md
  projects/spaarke-side-pane-navigation-history-r1/tasks/021-deploy-sprk-navitem.poml
  projects/spaarke-side-pane-navigation-history-r1/tasks/030-capture-viewed.poml
  projects/spaarke-side-pane-navigation-history-r1/tasks/040-navigatorpane-codepage.poml
  projects/spaarke-side-pane-navigation-history-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/services/navigator/__tests__/navigatorCaptureService.test.ts
  src/client/shared/Spaarke.UI.Components/src/services/navigator/navItemRepository.ts
  src/client/shared/Spaarke.UI.Components/src/services/navigator/navigatorCaptureService.ts
  src/solutions/NavigatorPane/__tests__/NavigatorBody.test.tsx
  src/solutions/NavigatorPane/index.html
  src/solutions/NavigatorPane/jest.config.cjs
  src/solutions/NavigatorPane/jest.setup.cjs
  src/solutions/NavigatorPane/package-lock.json
  src/solutions/NavigatorPane/package.json
  src/solutions/NavigatorPane/src/NavigatorBody.tsx
  src/solutions/NavigatorPane/src/main.tsx
  src/solutions/NavigatorPane/tsconfig.json
  src/solutions/NavigatorPane/tsconfig.node.json
  src/solutions/NavigatorPane/vite.config.ts
Owners: @spaarke-dev

docs(spaarkeai-compose-r6): D8 UAT defect — Blank page non-editable (triaged: pre-R6, defer to R7 batch)
  projects/spaarkeai-compose-r6/notes/phase1-deploy-uat.md
Owners: @spaarke-dev

fix(email-intelligence-r2): UAT Fix #3 — confirm refreshes the row in-place, no workspace remount
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationWorkspace/ReconciliationWorkspace.tsx
  src/solutions/CommunicationReconciliation/src/main.tsx
Owners: @spaarke-dev

docs(email-intelligence-r2): checkpoint — UAT Fixes #1-#4 complete; next #5-#9
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

feat(email-intelligence-r2): UAT Fix #5 — two new reconciliation views + working view-switcher
  scripts/seed-reconciliation-gridconfig.ps1
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationGrid/ReconciliationGrid.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationGrid/email-review-all.gridconfiguration.json
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationGrid/email-review-completed.gridconfiguration.json
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationWorkspace/ReconciliationWorkspace.tsx
  src/client/shared/Spaarke.Communication.Components/src/components/ReconciliationWorkspace/__tests__/ReconciliationWorkspace.test.tsx
  src/solutions/CommunicationReconciliation/src/main.tsx
Owners: @spaarke-dev, @devops-team

docs(spaarkeai-compose-r6): D9 UAT defect — Assistant viewport clipped in open-in-compose modal (triaged: assistant-surface, not R6)
  projects/spaarkeai-compose-r6/notes/phase1-deploy-uat.md
Owners: @spaarke-dev

docs(email-intelligence-r2): Fix #5 done; Fix #6 finding (widget registered, library ambiguous)
  projects/email-communication-intelligence-r2/current-task.md
  projects/email-communication-intelligence-r2/notes/FINDING-reconciliation-widget-library.md
Owners: @spaarke-dev

feat(email-intelligence-r2): UAT Fix #6 — Reconciliation as a system widget (workspace-dropdown library)
  projects/email-communication-intelligence-r2/notes/FINDING-reconciliation-widget-library.md
  scripts/seed-reconciliation-workspace-layout.ps1
  src/client/shared/Spaarke.Communication.Components/src/logic/connections/index.ts
  src/client/shared/Spaarke.Communication.Components/src/logic/connections/reconciliationResolvers.ts
  src/client/shared/Spaarke.UI.Components/src/components/WorkspaceShell/sectionMetadataCatalog.ts
  src/solutions/CommunicationReconciliation/src/main.tsx
  src/solutions/LegalWorkspace/src/sectionRegistry.ts
  src/solutions/LegalWorkspace/src/sections/reconciliation.registration.ts
Owners: @spaarke-dev, @devops-team

docs(email-intelligence-r2): checkpoint — UAT Fixes #1-#6 complete; next #7-#9 (deploy/merge/cleanup)
  projects/email-communication-intelligence-r2/current-task.md
Owners: @spaarke-dev

docs(assistant-r4): seed design.md — grounded proactive assistant + feedback loop
  projects/spaarkeai-assistant-enhancements-r4/design.md
  projects/spaarkeai-assistant-enhancements-r4/notes/assistant-viewport-clipping-open-in-compose-handoff.md
Owners: @spaarke-dev

feat(side-pane-nav-history): Wave D — Navigator tab content (041,042,050,052,060)
  projects/spaarke-side-pane-navigation-history-r1/current-task.md
  projects/spaarke-side-pane-navigation-history-r1/notes/task-041-oq6-deviation.md
  projects/spaarke-side-pane-navigation-history-r1/notes/task-042-edited-by-me-deviations.md
  projects/spaarke-side-pane-navigation-history-r1/notes/task-050-dedupe-approach.md
  projects/spaarke-side-pane-navigation-history-r1/notes/task-052-monitored-scope-escalation.md
  projects/spaarke-side-pane-navigation-history-r1/notes/task-060-viewservice-extension.md
  projects/spaarke-side-pane-navigation-history-r1/tasks/041-recent-viewed-tab.poml
  projects/spaarke-side-pane-navigation-history-r1/tasks/042-recent-edited-toggle.poml
  projects/spaarke-side-pane-navigation-history-r1/tasks/050-pin-gesture.poml
  projects/spaarke-side-pane-navigation-history-r1/tasks/052-monitored-lens.poml
  projects/spaarke-side-pane-navigation-history-r1/tasks/060-views-tab.poml
  projects/spaarke-side-pane-navigation-history-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/services/ViewService.ts
  src/client/shared/Spaarke.UI.Components/src/services/__tests__/ViewService.test.ts
  src/client/shared/Spaarke.UI.Components/src/services/navigator/navItemRepository.ts
  src/client/shared/Spaarke.UI.Components/src/utils/xrmContext.ts
  src/solutions/NavigatorPane/__tests__/NavigatorBody.test.tsx
  src/solutions/NavigatorPane/src/NavigatorBody.tsx
  src/solutions/NavigatorPane/src/services/__tests__/editedByMeService.test.ts
  src/solutions/NavigatorPane/src/services/__tests__/monitoredService.test.ts
  src/solutions/NavigatorPane/src/services/__tests__/pinService.test.ts
  src/solutions/NavigatorPane/src/services/editedByMeService.ts
  src/solutions/NavigatorPane/src/services/monitoredService.ts
  src/solutions/NavigatorPane/src/services/pinService.ts
  src/solutions/NavigatorPane/src/tabs/PinnedTab.tsx
  src/solutions/NavigatorPane/src/tabs/RecentTab.tsx
  src/solutions/NavigatorPane/src/tabs/ViewsTab.tsx
  src/solutions/NavigatorPane/src/tabs/__tests__/PinnedTab.test.tsx
  src/solutions/NavigatorPane/src/tabs/__tests__/RecentTab.test.tsx
  src/solutions/NavigatorPane/src/tabs/__tests__/ViewsTab.test.tsx
  src/solutions/NavigatorPane/tsconfig.json
  src/solutions/NavigatorPane/vite.config.ts
Owners: @spaarke-dev

fix(assistant): QW1 OBO-identity tool wording + QW2 D9 viewport clip (r3 UAT fixes)
  infra/dataverse/sprk_analysistool-daily-briefing-overview-row.json
  infra/dataverse/sprk_analysistool-grid-overview-row.json
  projects/spaarkeai-assistant-enhancements-r4/design.md
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/DailyBriefingOverviewHandler.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Handlers/GridOverviewHandler.cs
Owners: @spaarke-dev

docs(assistant-r4): seed design.md + D9 handoff (independent r4 worktree from master)
  projects/spaarkeai-assistant-enhancements-r4/design.md
  projects/spaarkeai-assistant-enhancements-r4/notes/assistant-viewport-clipping-open-in-compose-handoff.md
Owners: @spaarke-dev

chore(assistant-r3): move r4 design seed to its own worktree
  projects/spaarkeai-assistant-enhancements-r4/design.md
  projects/spaarkeai-assistant-enhancements-r4/notes/assistant-viewport-clipping-open-in-compose-handoff.md
Owners: @spaarke-dev

docs(assistant-r3): record D9 open-in-compose viewport handoff (fixed by QW2)
  projects/spaarkeai-assistant-enhancements-r3/notes/assistant-viewport-clipping-open-in-compose-handoff.md
Owners: @spaarke-dev

fix(bff): compound-OFF host-boot crash — asymmetric registration of IEmailTemplateService + IEmailDraftAi (ADR-032 F.1)
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Delivery/NullEmailTemplateService.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/ChatEndpointsTests.cs
  tests/integration/Spe.Integration.Tests/Api/Ai/ReAnalysisFlowTests.cs
Owners: @spaarke-dev

feat(side-pane-nav-history): Wave E — retention prune-on-write (031) + bookmarks (051)
  projects/spaarke-side-pane-navigation-history-r1/current-task.md
  projects/spaarke-side-pane-navigation-history-r1/notes/task-031-retention.md
  projects/spaarke-side-pane-navigation-history-r1/notes/task-051-bookmarks.md
  projects/spaarke-side-pane-navigation-history-r1/tasks/TASK-INDEX.md
  src/client/shared/Spaarke.UI.Components/src/services/navigator/__tests__/navigatorCaptureService.test.ts
  src/client/shared/Spaarke.UI.Components/src/services/navigator/navItemRepository.ts
  src/client/shared/Spaarke.UI.Components/src/services/navigator/navigatorCaptureService.ts
  src/solutions/NavigatorPane/src/services/__tests__/bookmarkService.test.ts
  src/solutions/NavigatorPane/src/services/__tests__/urlParse.test.ts
  src/solutions/NavigatorPane/src/services/bookmarkService.ts
  src/solutions/NavigatorPane/src/services/urlParse.ts
  src/solutions/NavigatorPane/src/tabs/PinnedTab.tsx
Owners: @spaarke-dev

ci: enable git-LFS smudge on Tier-2 full-unit-tests checkout (Compose .docx corpus)
  .github/workflows/ci-tier2-advisory.yml
Owners: @spaarke-dev, @devops-team

chore(assistant-r3): project wrap-up (090) — test-diet + code-review + archive
  projects/spaarkeai-assistant-enhancements-r3/current-task.md
  projects/spaarkeai-assistant-enhancements-r3/notes/test-diet-report.md
  projects/spaarkeai-assistant-enhancements-r3/tasks/TASK-INDEX.md
Owners: @spaarke-dev

docs(compose-r7): initial project design.md + R6 defer register
  projects/spaarkeai-compose-r7/design.md
  projects/spaarkeai-compose-r7/notes/r6-defer-register-consolidated.md
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
