Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team

feat(release-procedure): add Deploy-Release.ps1 master orchestrator
  projects/spaarke-production-release-procedure/tasks/023-deploy-release.poml
  projects/spaarke-production-release-procedure/tasks/TASK-INDEX.md
  scripts/Deploy-Release.ps1
Owners: @spaarke-dev, @devops-team

feat(release-procedure): add /deploy-new-release skill and register in repo
  .claude/skills/INDEX.md
  .claude/skills/deploy-new-release/SKILL.md
  CLAUDE.md
  projects/spaarke-production-release-procedure/tasks/030-deploy-new-release-skill.poml
  projects/spaarke-production-release-procedure/tasks/031-register-skill.poml
  projects/spaarke-production-release-procedure/tasks/032-update-scripts-readme.poml
  projects/spaarke-production-release-procedure/tasks/TASK-INDEX.md
  scripts/README.md
Owners: @spaarke-dev, @docs-team

feat(skills): add 5 documentation skills and R2 requirements table
  .claude/skills/docs-architecture/SKILL.md
  .claude/skills/docs-data-model/SKILL.md
  .claude/skills/docs-guide/SKILL.md
  .claude/skills/docs-procedures/SKILL.md
  .claude/skills/docs-standards/SKILL.md
  projects/ai-procedure-refactoring-r1/notes/documentation-requirements.md
Owners: @spaarke-dev

docs(r2): move AI-CHAT-STRATEGY to enhancements — misfiled as architecture
  docs/architecture/INDEX.md
  docs/enhancements/AI-CHAT-STRATEGY-M365-COPILOT-VS-SPRKCHAT.md
  projects/ai-m365-copilot-integration/CLAUDE.md
  projects/ai-m365-copilot-integration/design.md
  projects/ai-m365-copilot-integration/plan.md
  projects/ai-m365-copilot-integration/tasks/007-declarative-agent-manifest.poml
  projects/ai-sprk-chat-workspace-analysis-r1/design-analysis-workspace-companion.md
  projects/ai-sprk-chat-workspace-companion/design-analysis-workspace-companion.md
Owners: @spaarke-dev, @docs-team

docs(r2): move repository architecture doc to guides, trim stale content
  .claude/skills/repo-cleanup/SKILL.md
  CROSS-REFERENCE-MAP.md
  docs/PHASE-3-PLAN.md
  docs/architecture/INDEX.md
  docs/architecture/SPAARKE-REPOSITORY-ARCHITECTURE.md
  docs/guides/INDEX.md
  docs/guides/REPOSITORY-NAVIGATION-GUIDE.md
Owners: @spaarke-dev, @docs-team

fix(docs): sdap-overview.md — remove duplicate section, fix broken ref
  docs/architecture/sdap-overview.md
Owners: @spaarke-dev, @docs-team

fix(docs): QA sweep — fix 32 broken paths in R2-touched files
  docs/guides/INDEX.md
  docs/standards/ANTI-PATTERNS.md
Owners: @spaarke-dev, @docs-team

fix(docs): replace vague month-year dates with specific ISO dates
  docs/DOCUMENTATION-GAP-ANALYSIS.md
  docs/architecture/auth-performance-monitoring.md
  docs/architecture/auth-security-boundaries.md
  docs/architecture/caching-architecture.md
  docs/architecture/chat-architecture.md
  docs/architecture/rag-architecture.md
  docs/architecture/scope-architecture.md
  docs/architecture/sdap-auth-patterns.md
  docs/architecture/sdap-component-interactions.md
  docs/architecture/wizard-framework-architecture.md
  docs/architecture/workspace-architecture.md
  docs/guides/AI-MONITORING-DASHBOARD.md
  docs/guides/CUSTOMER-DEPLOYMENT-GUIDE.md
  docs/guides/DATAVERSE-HOW-TO-CREATE-UPDATE-SCHEMA.md
  docs/guides/DOCUMENT-RELATIONSHIP-VIEWER-GUIDE.md
  docs/guides/DOCUMENT-UPLOAD-WIZARD-INTEGRATION-GUIDE.md
  docs/guides/EVENT-TYPE-CONFIGURATION.md
  docs/guides/INTERFACE-SEGREGATION-GUIDE.md
  docs/guides/JPS-AUTHORING-GUIDE.md
  docs/guides/MONITORING-AND-ALERTING-GUIDE.md
  docs/guides/PCF-DEPLOYMENT-GUIDE.md
  docs/guides/PRODUCTION-DEPLOYMENT-GUIDE.md
  docs/guides/SCOPE-CONFIGURATION-GUIDE.md
  docs/guides/SECRET-ROTATION-PROCEDURES.md
  docs/guides/SERVICE-DECOMPOSITION-GUIDE.md
  docs/guides/ai-assistant-theming.md
  docs/guides/ai-document-summary.md
  docs/guides/ai-troubleshooting.md
  docs/product-documentation/AI-SCOPE-CONFIGURATION-GUIDE.md
  docs/product-documentation/event-type-configuration-guide.md
  docs/product-documentation/office-addins-quickstart.md
  docs/product-documentation/office-addins-user-guide.md
Owners: @spaarke-dev, @docs-team

docs(r2): add Last Reviewed stamp to multi-environment-portability-strategy
  docs/architecture/multi-environment-portability-strategy.md
Owners: @spaarke-dev, @docs-team

docs(r2): add Last Reviewed stamps after code verification (4 docs)
  docs/architecture/AZURE-RESOURCE-NAMING-CONVENTION.md
  docs/architecture/M365-COPILOT-INTEGRATION-ARCHITECTURE.md
  docs/architecture/ai-semantic-relationship-graph.md
  docs/architecture/uac-access-control.md
Owners: @spaarke-dev, @docs-team

docs(r2): verify and stamp remaining 10 unstamped architecture docs
  docs/architecture/AUTH-AND-BFF-URL-PATTERN.md
  docs/architecture/SIDE-PANE-PLATFORM-ARCHITECTURE.md
  docs/architecture/VISUALHOST-ARCHITECTURE.md
  docs/architecture/auth-AI-azure-resources.md
  docs/architecture/auth-azure-resources.md
  docs/architecture/auth-performance-monitoring.md
  docs/architecture/auth-security-boundaries.md
  docs/architecture/event-to-do-architecture.md
  docs/architecture/ui-dialog-shell-architecture.md
  docs/architecture/universal-dataset-grid-architecture.md
Owners: @spaarke-dev, @docs-team

docs(r2): fix architecture INDEX.md — add 2 missing entries, remove duplicate, fix stale description
  docs/architecture/INDEX.md
Owners: @spaarke-dev, @docs-team

docs(r2): fix 3 INDEX files — massive guides gap, stale standards, wrong enhancements title
  docs/enhancements/INDEX.md
  docs/guides/INDEX.md
  docs/standards/INDEX.md
Owners: @spaarke-dev, @docs-team

docs(r2): move SPAARKE-AI-STRATEGY-AND-ROADMAP to enhancements, stamp verified
  docs/enhancements/INDEX.md
  docs/enhancements/SPAARKE-AI-STRATEGY-AND-ROADMAP.md
  docs/guides/INDEX.md
  projects/ai-m365-copilot-integration/design.md
Owners: @spaarke-dev, @docs-team

docs(r2): delete obsolete notes, verify and stamp 2 procedures
  docs/notes/rag-indexing-configuration.md
  docs/procedures/context-recovery.md
  docs/procedures/parallel-claude-sessions.md
Owners: @spaarke-dev, @docs-team

refactor: move scope-model-index.json from docs/ai-knowledge to .claude/catalogs
  .claude/catalogs/scope-model-index.json
  .claude/skills/jps-action-create/SKILL.md
  .claude/skills/jps-playbook-audit/SKILL.md
  .claude/skills/jps-playbook-design/SKILL.md
  .claude/skills/jps-scope-refresh/SKILL.md
  scripts/README.md
  scripts/Refresh-ScopeModelIndex.ps1
  scripts/seed-data/README.md
  src/client/pcf/CLAUDE.md
  src/server/api/Sprk.Bff.Api/Services/Ai/DocumentTypeMapper.cs
Owners: @spaarke-dev, @docs-team, @devops-team

fix(pcf): remove empty blue Badge from RelationshipCountCard (v1.20.6)
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/ControlManifest.Input.xml
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/RelatedDocumentCount.tsx
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/ControlManifest.xml
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
  src/client/pcf/RelatedDocumentCount/Solution/pack.ps1
  src/client/pcf/RelatedDocumentCount/Solution/solution.xml
  src/client/shared/Spaarke.UI.Components/src/components/RelationshipCountCard/RelationshipCountCard.tsx
Owners: @spaarke-dev

docs(r2): update root CLAUDE.md with R2 review stamp and expanded directory hierarchy
  CLAUDE.md
Owners: @spaarke-dev

fix(auth): centralize BFF API URL construction with buildBffApiUrl helper
  .claude/constraints/auth.md
  .claude/patterns/auth/bff-url-normalization.md
  docs/architecture/AUTH-AND-BFF-URL-PATTERN.md
  src/client/pcf/shared/utils/environmentVariables.ts
  src/client/shared/Spaarke.Auth/src/authenticatedFetch.ts
  src/client/shared/Spaarke.Auth/src/buildBffApiUrl.ts
  src/client/shared/Spaarke.Auth/src/index.ts
  src/solutions/DocumentUploadWizard/src/components/NextStepsStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateMatter/matterService.ts
Owners: @spaarke-dev, @docs-team

chore(pcf): bump RelatedDocumentCount to v1.20.8 with buildBffApiUrl migration
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/ControlManifest.Input.xml
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/RelatedDocumentCount.tsx
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/hooks/useRelatedDocumentCount.ts
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/hooks/useRelatedDocumentGraphData.ts
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/ControlManifest.xml
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
  src/client/pcf/RelatedDocumentCount/Solution/pack.ps1
  src/client/pcf/RelatedDocumentCount/Solution/solution.xml
Owners: @spaarke-dev

feat(r2): post-wrap-up improvements — skills, new projects, CI/CD + MCP designs
  .claude/skills/INDEX.md
  .claude/skills/design-to-spec/SKILL.md
  .claude/skills/doc-drift-audit/SKILL.md
  .claude/skills/project-pipeline/SKILL.md
  .claude/skills/task-create/SKILL.md
  .claude/skills/task-execute/SKILL.md
  CLAUDE.md
  docs/architecture/INDEX.md
  docs/data-model/INDEX.md
  docs/enhancements/INDEX.md
  docs/guides/INDEX.md
  docs/procedures/INDEX.md
  docs/standards/INDEX.md
  projects/ai-procedure-refactoring-r2/current-task.md
  projects/ci-cd-github-enhancement/design.md
  projects/ci-cd-github-enhancement/spec.md
  projects/mcp-dataverse-implementation/design.md
  projects/mcp-dataverse-implementation/spec.md
Owners: @spaarke-dev, @docs-team

docs(r2): add Last Updated/Reviewed/Status columns to .claude/ INDEX files
  .claude/constraints/INDEX.md
  .claude/patterns/INDEX.md
  .claude/patterns/ai/INDEX.md
  .claude/patterns/api/INDEX.md
  .claude/patterns/auth/INDEX.md
  .claude/patterns/caching/INDEX.md
  .claude/patterns/dataverse/INDEX.md
  .claude/patterns/pcf/INDEX.md
  .claude/patterns/testing/INDEX.md
  .claude/patterns/webresource/INDEX.md
Owners: @spaarke-dev

feat(auth): add sessionStorage token cache + full frame walk for zero-popup auth
  src/client/shared/Spaarke.Auth/src/SpaarkeAuthProvider.ts
  src/client/shared/Spaarke.Auth/src/strategies/SessionStorageStrategy.ts
  src/client/shared/Spaarke.Auth/src/tokenBridge.ts
  src/client/shared/Spaarke.Auth/src/types.ts
Owners: @spaarke-dev

fix(pcf): show 'No data available' instead of misleading F grades / $0 (VisualHost v1.3.6)
  src/client/pcf/VisualHost/Solution/Controls/sprk_Spaarke.Visuals.VisualHost/ControlManifest.xml
  src/client/pcf/VisualHost/Solution/pack.ps1
  src/client/pcf/VisualHost/Solution/solution.xml
  src/client/pcf/VisualHost/control/ControlManifest.Input.xml
  src/client/pcf/VisualHost/control/components/GaugeVisual.tsx
  src/client/pcf/VisualHost/control/components/HorizontalStackedBar.tsx
  src/client/pcf/VisualHost/control/components/VisualHostRoot.tsx
  src/client/pcf/VisualHost/control/services/FieldPivotService.ts
  src/client/pcf/VisualHost/control/types/index.ts
Owners: @spaarke-dev

docs(r2): create AI Coding Procedures Guide — scenario-based quick reference
  docs/procedures/AI-CODING-PROCEDURES-GUIDE.md
  docs/procedures/INDEX.md
Owners: @spaarke-dev, @docs-team

chore(pcf): rebuild RelatedDocumentCount + SemanticSearch with sessionStorage auth
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
Owners: @spaarke-dev

fix(viewer): add title, fix grid overlap, pin source/hub positions (RDC v1.20.9)
  projects/find-similar-wizard/current-task.md
  src/client/code-pages/DocumentRelationshipViewer/src/components/DocumentGraph.tsx
  src/client/code-pages/DocumentRelationshipViewer/src/components/RelationshipGrid.tsx
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/ControlManifest.Input.xml
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/RelatedDocumentCount.tsx
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/ControlManifest.xml
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
  src/client/pcf/RelatedDocumentCount/Solution/pack.ps1
  src/client/pcf/RelatedDocumentCount/Solution/solution.xml
  src/client/shared/Spaarke.UI.Components/src/components/FindSimilarDialog/FindSimilarDialog.tsx
Owners: @spaarke-dev

fix(pcf): add document count + sessionStorage auth to SemanticSearch (v1.1.28)
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

fix(registration): use valid MSAL CDN version 2.35.0 (was 2.38.3 which returned 404)
  src/client/webresources/js/sprk_registrationribbon.js
Owners: @spaarke-dev

fix(upload): add tenantId to RAG indexing + remove dead document-profile endpoint
  src/solutions/DocumentUploadWizard/src/DocumentUploadWizardDialog.tsx
  src/solutions/DocumentUploadWizard/src/services/uploadOrchestrator.ts
Owners: @spaarke-dev

fix(ribbon): normalize bffApiUrl in DocumentOperations.js to strip /api suffix
  src/client/webresources/js/sprk_DocumentOperations.js
Owners: @spaarke-dev

fix(webresources): normalize BFF URL in ALL legacy JS web resources
  src/client/webresources/js/sprk_analysis_commands.js
  src/client/webresources/js/sprk_communication_send.js
  src/client/webresources/js/sprk_emailactions.js
Owners: @spaarke-dev

fix(registration): use grid context (SelectedControl) to extract selected items for grid buttons
  src/client/webresources/js/sprk_registrationribbon.js
Owners: @spaarke-dev

feat(pcf): add Associated Only toggle + viewer button + icon toolbar (SemanticSearch v1.1.29)
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/FilterPanel.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/SearchInput.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/types/props.ts
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/types/search.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

chore: checkpoint — ribbon working, remaining items documented
  projects/spaarke-self-service-registration-app/current-task.md
Owners: @spaarke-dev

chore(pcf): bump RelatedDocumentCount to v1.3.0
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/ControlManifest.Input.xml
  src/client/pcf/RelatedDocumentCount/RelatedDocumentCount/RelatedDocumentCount.tsx
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/ControlManifest.xml
  src/client/pcf/RelatedDocumentCount/Solution/Controls/sprk_Spaarke.Pcf.RelatedDocumentCount.RelatedDocumentCount/bundle.js
  src/client/pcf/RelatedDocumentCount/Solution/pack.ps1
  src/client/pcf/RelatedDocumentCount/Solution/solution.xml
Owners: @spaarke-dev

feat(registration): add acknowledgement email, welcome CC, and environment selection
  src/client/webresources/js/sprk_registrationribbon.js
  src/server/api/Sprk.Bff.Api/Endpoints/RegistrationEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/Registration/ApproveRequestDto.cs
  src/server/api/Sprk.Bff.Api/Services/Registration/EmailTemplates/AcknowledgementTemplate.html
  src/server/api/Sprk.Bff.Api/Services/Registration/RegistrationEmailService.cs
Owners: @spaarke-dev

fix(pcf): move toolbar icons to ResultsList header + info to search bar (SemanticSearch v1.1.30)
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/ControlManifest.Input.xml
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/SemanticSearchControl.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/ResultsList.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/components/SearchInput.tsx
  src/client/pcf/SemanticSearchControl/SemanticSearchControl/types/props.ts
  src/client/pcf/SemanticSearchControl/Solution/Controls/sprk_Sprk.SemanticSearchControl/ControlManifest.xml
  src/client/pcf/SemanticSearchControl/Solution/pack.ps1
  src/client/pcf/SemanticSearchControl/Solution/solution.xml
Owners: @spaarke-dev

feat(release-procedure): generate task files and enhance project artifacts
  projects/spaarke-production-release-procedure/current-task.md
  projects/spaarke-production-release-procedure/plan.md
  projects/spaarke-production-release-procedure/tasks/001-project-setup.poml
  projects/spaarke-production-release-procedure/tasks/010-procedure-guide.poml
  projects/spaarke-production-release-procedure/tasks/020-environment-registry.poml
  projects/spaarke-production-release-procedure/tasks/021-build-all-client-components.poml
  projects/spaarke-production-release-procedure/tasks/022-deploy-all-web-resources.poml
  projects/spaarke-production-release-procedure/tasks/023-deploy-release.poml
  projects/spaarke-production-release-procedure/tasks/030-deploy-new-release-skill.poml
  projects/spaarke-production-release-procedure/tasks/031-register-skill.poml
  projects/spaarke-production-release-procedure/tasks/032-update-scripts-readme.poml
  projects/spaarke-production-release-procedure/tasks/040-dry-run-dev.poml
  projects/spaarke-production-release-procedure/tasks/041-live-test-demo.poml
  projects/spaarke-production-release-procedure/tasks/090-project-wrap-up.poml
  projects/spaarke-production-release-procedure/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(release-procedure): create production release procedure guide
  docs/procedures/production-release.md
  projects/spaarke-production-release-procedure/current-task.md
  projects/spaarke-production-release-procedure/tasks/010-procedure-guide.poml
  projects/spaarke-production-release-procedure/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team
