Repository spaarke-dev/spaarke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spaarke-dev, @power-platform-team, @api-team, @devops-team, @architecture-team, @docs-team

fix: add missing decomposed ScopeResolver service registrations and suppress ESLint regex warning
  src/client/pcf/AnalysisWorkspace/control/components/MonacoEditor.tsx
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AnalysisServicesModule.cs
Owners: @spaarke-dev

fix: gate admin knowledge and builder scope endpoints behind Analysis:Enabled
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
Owners: @spaarke-dev

style(api): fix whitespace formatting in DI extension files
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/DebugEndpointExtensions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
Owners: @spaarke-dev

feat(spe-admin): implement ContainerTypeConfig component (SPE-040)
  projects/sdap-SPE-admin-app/current-task.md
  projects/sdap-SPE-admin-app/tasks/040-create-container-type-config.poml
  projects/sdap-SPE-admin-app/tasks/TASK-INDEX.md
  src/solutions/SpeAdminApp/src/components/settings/ContainerTypeConfig.tsx
Owners: @spaarke-dev

feat(spe-admin): implement PermissionPanel with full CRUD dialogs
  projects/sdap-SPE-admin-app/tasks/035-create-permission-panel.poml
  projects/sdap-SPE-admin-app/tasks/TASK-INDEX.md
  src/solutions/SpeAdminApp/src/components/containers/ContainerDetail.tsx
  src/solutions/SpeAdminApp/src/components/containers/PermissionPanel.tsx
Owners: @spaarke-dev

feat(spe-admin): deploy sprk_speadmin code page web resource to Dataverse
  projects/sdap-SPE-admin-app/current-task.md
  projects/sdap-SPE-admin-app/tasks/044-deploy-code-page.poml
  projects/sdap-SPE-admin-app/tasks/TASK-INDEX.md
  scripts/Deploy-SpeAdminApp.ps1
  scripts/README.md
Owners: @spaarke-dev, @devops-team, @docs-team

feat(spe-admin): implement container type list/get endpoints (SPE-050)
  projects/sdap-SPE-admin-app/tasks/050-container-type-list-endpoints.poml
  projects/sdap-SPE-admin-app/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Api/SpeAdminEndpoints.cs
  src/server/api/Sprk.Bff.Api/Endpoints/SpeAdmin/ContainerTypeEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/server/api/Sprk.Bff.Api/Models/SpeAdmin/ContainerTypeDtos.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/SpeAdmin/ContainerTypeEndpointsTests.cs
Owners: @spaarke-dev

feat(spe-admin): implement ContainerTypesPage UI (task 061)
  projects/sdap-SPE-admin-app/tasks/061-container-types-page.poml
  projects/sdap-SPE-admin-app/tasks/TASK-INDEX.md
  src/solutions/SpeAdminApp/src/App.tsx
  src/solutions/SpeAdminApp/src/components/container-types/ContainerTypesPage.tsx
  src/solutions/SpeAdminApp/src/components/container-types/CreateContainerTypeDialog.tsx
  src/solutions/SpeAdminApp/src/components/layout/AppShell.tsx
  src/solutions/SpeAdminApp/src/components/layout/NavigationPanel.tsx
Owners: @spaarke-dev

feat(spe-admin): Phase 3 integration testing and deployment (SPE-085)
  projects/sdap-SPE-admin-app/current-task.md
  projects/sdap-SPE-admin-app/tasks/085-phase3-deploy.poml
  projects/sdap-SPE-admin-app/tasks/TASK-INDEX.md
  tests/unit/Sprk.Bff.Api.Tests/Integration/SpeAdmin/Phase3IntegrationTests.cs
Owners: @spaarke-dev

chore(spe-admin): stage modified source files from SPE Admin implementation
  src/server/api/Sprk.Bff.Api/Api/SpeAdminEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/EndpointMappingExtensions.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/Graph/SpeAdminGraphService.cs
  src/server/api/Sprk.Bff.Api/Program.cs
  src/server/shared/Spaarke.Dataverse/DataverseWebApiClient.cs
  tests/unit/Sprk.Bff.Api.Tests/Api/Office/OfficeEndpointsTests.cs
  tests/unit/Sprk.Bff.Api.Tests/CustomWebAppFactory.cs
  tests/unit/Sprk.Bff.Api.Tests/Integration/Workspace/WorkspaceTestFixture.cs
Owners: @spaarke-dev

chore(spe-admin): mark task 090 complete, update current-task.md
  projects/sdap-SPE-admin-app/current-task.md
  projects/sdap-SPE-admin-app/tasks/090-project-wrap-up.poml
Owners: @spaarke-dev

perf(api): parallelize BFF pipeline + add AiProgressStepper + SSE progress events
  src/client/code-pages/AnalysisWorkspace/src/App.tsx
  src/client/code-pages/AnalysisWorkspace/src/hooks/useAnalysisExecution.ts
  src/client/code-pages/AnalysisWorkspace/src/services/analysisApi.ts
  src/client/code-pages/PlaybookBuilder/src/components/execution/ExecutionOverlay.tsx
  src/client/code-pages/PlaybookBuilder/src/stores/executionStore.ts
  src/client/shared/Spaarke.UI.Components/src/components/AiProgressStepper/AiProgressStepper.tsx
  src/client/shared/Spaarke.UI.Components/src/components/AiProgressStepper/AiProgressStepper.types.ts
  src/client/shared/Spaarke.UI.Components/src/components/AiProgressStepper/index.ts
  src/client/shared/Spaarke.UI.Components/src/components/index.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/AnalysisEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Workspace/WorkspaceFileEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/Workspace/WorkspaceMatterEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisOrchestrationService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/ScopeResolverService.cs
  src/solutions/LegalWorkspace/src/components/CreateMatter/DraftSummaryStep.tsx
  src/solutions/LegalWorkspace/src/components/CreateMatter/matterService.ts
  src/solutions/LegalWorkspace/src/components/SummarizeFiles/SummarizeFilesDialog.tsx
  src/solutions/LegalWorkspace/src/components/SummarizeFiles/SummaryResultsStep.tsx
  src/solutions/LegalWorkspace/src/components/SummarizeFiles/summarizeService.ts
Owners: @spaarke-dev

feat(infra): modernize SPE scripts — security, parameterization, BU provisioning
  docs/guides/HOW-TO-SETUP-CONTAINERTYPES-AND-CONTAINERS.md
  docs/guides/PRODUCTION-DEPLOYMENT-GUIDE.md
  scripts/Check-ContainerType-Registration.ps1
  scripts/Create-ContainerType-PowerShell.ps1
  scripts/Create-NewContainerType.ps1
  scripts/Find-ContainerTypeOwner-AzCli.ps1
  scripts/Find-ContainerTypeOwner.ps1
  scripts/Get-ContainerMetadata.ps1
  scripts/New-BusinessUnitContainer.ps1
  scripts/Provision-Customer.ps1
  scripts/Register-BffApiWithContainerType.ps1
  scripts/Set-ContainerId.ps1
  scripts/Test-SharePointToken.ps1
  scripts/_archive/Debug-RegistrationFailure.ps1
  scripts/_archive/Get-ContainerMetadata-PCFApp.ps1
  scripts/_archive/Register-BffApi-PnP.ps1
  scripts/_archive/Register-BffApi-WithCertificate-Direct.ps1
  scripts/_archive/Register-BffApi-WithCertificate.ps1
  scripts/_archive/temp-spe-permission.ps1
Owners: @spaarke-dev, @docs-team, @devops-team

feat(quality): initialize code-quality-and-assurance-r2 project
  projects/code-quality-and-assurance-r2/design.md
  projects/code-quality-and-assurance-r2/spec.md
Owners: @spaarke-dev

feat(quality): add project artifacts and 18 task files for R2
  projects/code-quality-and-assurance-r2/CLAUDE.md
  projects/code-quality-and-assurance-r2/README.md
  projects/code-quality-and-assurance-r2/current-task.md
  projects/code-quality-and-assurance-r2/plan.md
  projects/code-quality-and-assurance-r2/tasks/001-fix-unbounded-static-dictionaries.poml
  projects/code-quality-and-assurance-r2/tasks/002-fix-httpclient-socket-exhaustion.poml
  projects/code-quality-and-assurance-r2/tasks/003-fix-noop-arch-tests.poml
  projects/code-quality-and-assurance-r2/tasks/004-delete-dead-code-create-logger.poml
  projects/code-quality-and-assurance-r2/tasks/010-decompose-office-service.poml
  projects/code-quality-and-assurance-r2/tasks/011-decompose-analysis-orchestration.poml
  projects/code-quality-and-assurance-r2/tasks/012-segregate-idataverse-service.poml
  projects/code-quality-and-assurance-r2/tasks/013-migrate-dataverse-consumers.poml
  projects/code-quality-and-assurance-r2/tasks/014-backend-build-verification.poml
  projects/code-quality-and-assurance-r2/tasks/020-extract-auth-document-hooks.poml
  projects/code-quality-and-assurance-r2/tasks/021-extract-analysis-hooks.poml
  projects/code-quality-and-assurance-r2/tasks/022-extract-save-chat-hooks.poml
  projects/code-quality-and-assurance-r2/tasks/023-extract-panel-resize-finalize.poml
  projects/code-quality-and-assurance-r2/tasks/024-pcf-build-verification.poml
  projects/code-quality-and-assurance-r2/tasks/030-fix-adr022-react18-violations.poml
  projects/code-quality-and-assurance-r2/tasks/031-document-baseplugin-violations.poml
  projects/code-quality-and-assurance-r2/tasks/032-final-quality-scorecard.poml
  projects/code-quality-and-assurance-r2/tasks/090-project-wrap-up.poml
  projects/code-quality-and-assurance-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

docs(projects): add design docs for 3 new projects
  projects/ai-sprk-chat-context-awareness-r1/design.md
  projects/ai-sprk-chat-context-awareness-r1/spec.md
  projects/spaarke-self-service-registration-app/design.md
  projects/spe-multi-tenant-architecture-r1/design.md
Owners: @spaarke-dev

fix(spe-admin): top-nav tabs, BuContextPicker in header, DTO field alignment
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/BusinessUnitEndpoints.cs
  src/server/api/Sprk.Bff.Api/Api/SpeAdmin/EnvironmentEndpoints.cs
  src/server/api/Sprk.Bff.Api/Models/SpeAdmin/BusinessUnitDto.cs
  src/server/api/Sprk.Bff.Api/Models/SpeAdmin/EnvironmentDtos.cs
  src/solutions/SpeAdminApp/src/components/layout/AppShell.tsx
  src/solutions/SpeAdminApp/src/components/layout/BuContextPicker.tsx
  src/solutions/SpeAdminApp/src/components/layout/NavigationPanel.tsx
Owners: @spaarke-dev

fix(api): fix summarize SSE error chunk handler not propagating backend errors
  src/solutions/LegalWorkspace/src/components/SummarizeFiles/summarizeService.ts
Owners: @spaarke-dev

fix(spe-admin): wire auth initialization and Containers page routing
  src/solutions/SpeAdminApp/src/App.tsx
  src/solutions/SpeAdminApp/src/config/bffConfig.ts
  src/solutions/SpeAdminApp/src/services/authInit.ts
  src/solutions/SpeAdminApp/src/services/speApiClient.ts
Owners: @spaarke-dev

fix(dataverse): add TenantId to ServiceClient connection string
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
Owners: @spaarke-dev

fix(spe-admin): show BU load error state in compact picker placeholder
  deploy/api-publish/Spaarke.Core.dll
  deploy/api-publish/Spaarke.Core.pdb
  deploy/api-publish/Spaarke.Dataverse.dll
  deploy/api-publish/Spaarke.Dataverse.pdb
  deploy/api-publish/Sprk.Bff.Api.exe
  deploy/api-publish/Sprk.Bff.Api.pdb
  src/solutions/SpeAdminApp/src/components/layout/BuContextPicker.tsx
Owners: @spaarke-dev

chore(infra): add environment variable fallbacks to SPE scripts
  scripts/Check-ContainerType-Registration.ps1
  scripts/Create-ContainerType-PowerShell.ps1
  scripts/Create-NewContainerType.ps1
  scripts/Find-ContainerTypeOwner-AzCli.ps1
  scripts/Find-ContainerTypeOwner.ps1
  scripts/Get-ContainerMetadata.ps1
  scripts/New-BusinessUnitContainer.ps1
  scripts/Register-BffApiWithContainerType.ps1
  scripts/Test-SharePointToken.ps1
Owners: @spaarke-dev, @devops-team

fix(quality): tasks 014,024 — build verification fixes
  projects/code-quality-and-assurance-r2/current-task.md
  projects/code-quality-and-assurance-r2/tasks/014-backend-build-verification.poml
  projects/code-quality-and-assurance-r2/tasks/024-pcf-build-verification.poml
  projects/code-quality-and-assurance-r2/tasks/TASK-INDEX.md
  src/server/api/Sprk.Bff.Api/Services/Ai/AnalysisDocumentLoader.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/AssociationMappingTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Communication/DataverseRecordCreationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/SpeFileStoreTests.cs
Owners: @spaarke-dev

docs(quality): task 032 — final quality scorecard A- (97/100)
  projects/code-quality-and-assurance-r2/README.md
  projects/code-quality-and-assurance-r2/current-task.md
  projects/code-quality-and-assurance-r2/notes/lessons-learned.md
  projects/code-quality-and-assurance-r2/notes/quality-scorecard-r2.md
  projects/code-quality-and-assurance-r2/tasks/032-final-quality-scorecard.poml
  projects/code-quality-and-assurance-r2/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

fix(dataverse): add TenantId to ServiceClient connection string
  src/server/shared/Spaarke.Dataverse/DataverseServiceClientImpl.cs
Owners: @spaarke-dev

docs(quality): R2 wrap-up documentation + R3 design document
  docs/architecture/sdap-bff-api-patterns.md
  docs/guides/INDEX.md
  docs/guides/INTERFACE-SEGREGATION-GUIDE.md
  docs/guides/PCF-DEPLOYMENT-GUIDE.md
  docs/guides/SERVICE-DECOMPOSITION-GUIDE.md
  projects/code-quality-and-assurance-r2/README.md
  projects/code-quality-and-assurance-r2/notes/lessons-learned.md
  projects/code-quality-and-assurance-r2/notes/quality-scorecard-r2.md
  projects/code-quality-and-assurance-r3/design.md
Owners: @spaarke-dev, @docs-team

fix(api): fix summarize SSE error chunk handler not propagating backend errors
  src/solutions/LegalWorkspace/src/components/SummarizeFiles/summarizeService.ts
Owners: @spaarke-dev

docs(design): expand SprkChat extensibility design with market research and use cases
  projects/ai-sprk-chat-extensibility-r1/design.md
Owners: @spaarke-dev

feat(ai-chat): implement Phase 1 data-driven context mapping
  scripts/Create-AiChatContextMapEntity.ps1
  src/client/code-pages/SprkChatPane/package-lock.json
  src/client/code-pages/SprkChatPane/src/App.tsx
  src/client/code-pages/SprkChatPane/src/services/contextService.ts
  src/client/code-pages/SprkChatPane/src/types/xrm.d.ts
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Infrastructure/DI/AiModule.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/Chat/ChatContext.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/Chat/ChatContextMapping.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/Chat/ChatHostContext.cs
  src/server/api/Sprk.Bff.Api/Models/Ai/Chat/ChatSession.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ChatContextMappingService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ChatDataverseRepository.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ChatSessionManager.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/IChatContextProvider.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PlaybookChatContextProvider.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/SprkChatAgentFactory.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/ChatContextMappingServiceTests.cs
Owners: @spaarke-dev, @devops-team

chore: update TASK-INDEX — 18/26 tasks complete
  projects/ai-sprk-chat-context-awareness-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev

feat(dataverse): add SprkChat side pane persistence + global command bar button
  docs/architecture/AI-CHAT-STRATEGY-M365-COPILOT-VS-SPRKCHAT.md
  src/client/code-pages/AnalysisWorkspace/index.html
  src/client/code-pages/AnalysisWorkspace/package-lock.json
  src/client/code-pages/AnalysisWorkspace/package.json
  src/client/code-pages/AnalysisWorkspace/webpack.config.js
  src/client/code-pages/SprkChatPane/index.html
  src/client/code-pages/SprkChatPane/launcher/openSprkChatPane.ts
  src/client/webresources/js/sprk_openSprkChatPane.js
  src/client/webresources/ribbon/sprk_application_ribbon_sprkchat.xml
  src/solutions/EventsPage/index.html
  src/solutions/SpeAdminApp/index.html
Owners: @spaarke-dev, @docs-team

feat(ai-chat): initialize sprk-chat-context-awareness-r1 project
  projects/ai-sprk-chat-context-awareness-r1/CLAUDE.md
  projects/ai-sprk-chat-context-awareness-r1/README.md
  projects/ai-sprk-chat-context-awareness-r1/current-task.md
  projects/ai-sprk-chat-context-awareness-r1/plan.md
  projects/ai-sprk-chat-context-awareness-r1/tasks/001-add-pagetype-to-chathost-context.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/002-make-playbookid-nullable.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/003-create-dataverse-entity.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/004-create-seed-data.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/010-create-context-mapping-service.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/011-create-context-mappings-endpoint.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/012-add-detect-page-type.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/013-handle-null-playbookid-agent.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/014-unit-tests-mapping-service.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/015-replace-hardcoded-playbook-map.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/016-no-mapping-fallback-ui.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/017-phase1-integration-test.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/018-deploy-phase1.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/020-wire-playbook-selector.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/021-playbook-switching.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/022-client-session-storage-cache.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/023-phase2-tests.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/030-enrichment-unit-tests.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/031-implement-enrichment.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/032-audit-telemetry-entityname.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/033-enrichment-integration-test.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/040-admin-form.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/041-cache-eviction-endpoint.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/042-wire-refresh-button.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/043-admin-workflow-tests.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/050-full-integration-test.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/051-performance-validation.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/052-deploy-all-phases.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/090-project-wrap-up.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

feat(ai-chat): implement Phases 2-4 — multi-playbook UX, enrichment, admin
  src/client/code-pages/SprkChatPane/src/App.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/SprkChat.tsx
  src/client/shared/Spaarke.UI.Components/src/components/SprkChat/types.ts
  src/server/api/Sprk.Bff.Api/Api/Ai/ChatEndpoints.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/ChatContextMappingService.cs
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PlaybookChatContextProvider.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookChatContextProviderEnrichmentTests.cs
Owners: @spaarke-dev

feat(ai-chat): complete context awareness — deployment fixes, ribbon button, pageType alignment
  data/chat-context-mappings.json
  projects/ai-sprk-chat-context-awareness-r1/README.md
  projects/ai-sprk-chat-context-awareness-r1/design.md
  projects/ai-sprk-chat-context-awareness-r1/notes/lessons-learned.md
  projects/ai-sprk-chat-context-awareness-r1/plan.md
  projects/ai-sprk-chat-context-awareness-r1/spec.md
  projects/ai-sprk-chat-context-awareness-r1/tasks/003-create-dataverse-entity.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/004-create-seed-data.poml
  projects/ai-sprk-chat-context-awareness-r1/tasks/TASK-INDEX.md
  scripts/Create-AiChatContextMapEntity.ps1
  scripts/Create-AiChatContextMapForm.ps1
  scripts/Deploy-ChatContextMappings.ps1
  scripts/Deploy-RefreshMappingsButton.ps1
  scripts/Test-AdminWorkflow.ps1
  src/client/code-pages/SprkChatPane/jest-environment-jsdom-configurable-location.js
  src/client/code-pages/SprkChatPane/jest.config.js
  src/client/code-pages/SprkChatPane/jest.setup.js
  src/client/code-pages/SprkChatPane/package-lock.json
  src/client/code-pages/SprkChatPane/package.json
  src/client/code-pages/SprkChatPane/src/__tests__/mocks/MockUiComponents.ts
  src/client/code-pages/SprkChatPane/src/__tests__/services/contextService.test.ts
  src/client/code-pages/SprkChatPane/src/services/contextService.ts
  src/client/code-pages/SprkChatPane/webpack.config.js
  src/client/webresources/js/sprk_aichatcontextmap_ribbon.js
  src/client/webresources/ribbon/sprk_aichatcontextmap_ribbon.xml
  src/server/api/Sprk.Bff.Api/Services/Ai/Chat/PlaybookChatContextProvider.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookChatContextProviderEnrichmentIntegrationTests.cs
  tests/unit/Sprk.Bff.Api.Tests/Services/Ai/Chat/PlaybookChatContextProviderEnrichmentTests.cs
Owners: @spaarke-dev, @docs-team, @devops-team

docs(design): comprehensive Secure Project & External Access design
  projects/sdap-secure-project-module/design.md
Owners: @spaarke-dev

docs(architecture): add external access architecture docs (UAC, Power Pages SPA, access control)
  docs/architecture/power-pages-access-control.md
  docs/architecture/power-pages-spa-guide.md
  docs/architecture/uac-access-control.md
Owners: @spaarke-dev, @docs-team

docs(ai-chat): reposition SprkChat as contextual AI component + Analysis Workspace companion design
  docs/architecture/AI-CHAT-STRATEGY-M365-COPILOT-VS-SPRKCHAT.md
  projects/ai-sprk-chat-context-awareness-r1/design-analysis-workspace-companion.md
Owners: @spaarke-dev, @docs-team

docs(ai-chat): integrate extensibility features into companion design
  projects/ai-sprk-chat-context-awareness-r1/design-analysis-workspace-companion.md
Owners: @spaarke-dev

chore: rename project folder to ai-sprk-chat-workspace-analysis-r1
  projects/ai-sprk-chat-workspace-analysis-r1/CLAUDE.md
  projects/ai-sprk-chat-workspace-analysis-r1/README.md
  projects/ai-sprk-chat-workspace-analysis-r1/current-task.md
  projects/ai-sprk-chat-workspace-analysis-r1/design-analysis-workspace-companion.md
  projects/ai-sprk-chat-workspace-analysis-r1/design.md
  projects/ai-sprk-chat-workspace-analysis-r1/notes/lessons-learned.md
  projects/ai-sprk-chat-workspace-analysis-r1/plan.md
  projects/ai-sprk-chat-workspace-analysis-r1/spec.md
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/001-add-pagetype-to-chathost-context.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/002-make-playbookid-nullable.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/003-create-dataverse-entity.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/004-create-seed-data.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/010-create-context-mapping-service.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/011-create-context-mappings-endpoint.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/012-add-detect-page-type.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/013-handle-null-playbookid-agent.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/014-unit-tests-mapping-service.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/015-replace-hardcoded-playbook-map.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/016-no-mapping-fallback-ui.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/017-phase1-integration-test.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/018-deploy-phase1.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/020-wire-playbook-selector.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/021-playbook-switching.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/022-client-session-storage-cache.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/023-phase2-tests.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/030-enrichment-unit-tests.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/031-implement-enrichment.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/032-audit-telemetry-entityname.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/033-enrichment-integration-test.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/040-admin-form.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/041-cache-eviction-endpoint.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/042-wire-refresh-button.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/043-admin-workflow-tests.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/050-full-integration-test.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/051-performance-validation.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/052-deploy-all-phases.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/090-project-wrap-up.poml
  projects/ai-sprk-chat-workspace-analysis-r1/tasks/TASK-INDEX.md
Owners: @spaarke-dev, @docs-team

chore: initialize ai-sprk-chat-workspace-companion project with spec
  projects/ai-sprk-chat-workspace-companion/design-analysis-workspace-companion.md
  projects/ai-sprk-chat-workspace-companion/spec.md
Owners: @spaarke-dev

.github/CODEOWNERS:

# Global ownership
* @spaarke-dev

# Power Platform specific files
power-platform/ @spaarke-dev @power-platform-team
docs/adr/ADR-002-no-heavy-plugins.md @spaarke-dev @power-platform-team

# API and core services
src/api/ @spaarke-dev @api-team
src/shared/ @spaarke-dev @api-team

# CI/CD and infrastructure
.github/ @spaarke-dev @devops-team
scripts/ @spaarke-dev @devops-team
Directory.Packages.props @spaarke-dev @devops-team

# Security and architecture decisions
docs/adr/ @spaarke-dev @architecture-team
.github/workflows/ @spaarke-dev @devops-team

# Documentation
docs/ @spaarke-dev @docs-team
README.md @spaarke-dev @docs-team
